{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Meetings",
    "description" : "Meetings Service For HubSpot Sales",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "You need to get a list of meeting links or book meetings, or you need to create an interface so customers can book meetings with your team.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Meetings Guide",
      "url" : "https://developers.hubspot.com/docs/reference/api/crm/engagements/meetings"
    } ],
    "x-hubspot-introduction" : "Use the Meetings API to retrieve information about meetings created through a scheduling page. You can also book a meeting with a scheduling page through the API."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "External_Meetings_Link"
  } ],
  "paths" : {
    "/scheduler/v3/meetings/meeting-links/book/{slug}" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "operationId" : "get-/scheduler/v3/meetings/meeting-links/book/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBookingInfo"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "operationId" : "get-/scheduler/v3/meetings/meeting-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalLinkMetadataForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links/book" : {
      "post" : {
        "tags" : [ "External_Meetings_Link" ],
        "operationId" : "post-/scheduler/v3/meetings/meeting-links/book",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalMeetingBooking"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalMeetingBookingResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.deals.write" ]
        }, {
          "private_apps" : [ "crm.objects.listings.write", "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.services.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write", "crm.schemas.contacts.write" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.services.write" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.companies.write" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.courses.write" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write", "crm.objects.line_items.write" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write", "crm.objects.line_items.write" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links/book/availability-page/{slug}" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "operationId" : "get-/scheduler/v3/meetings/meeting-links/book/availability-page/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "monthOffset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalLinkAvailabilityAndBusyTimes"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ExternalMeetingBooking" : {
        "required" : [ "duration", "email", "firstName", "formFields", "lastName", "legalConsentResponses", "likelyAvailableUserIds", "slug", "startTime" ],
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "integer",
            "format" : "int64"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "likelyAvailableUserIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "timezone" : {
            "type" : "string"
          },
          "legalConsentResponses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "startTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalBookingFormField"
            }
          },
          "locale" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingAvailability" : {
        "required" : [ "endMillisUtc", "startMillisUtc" ],
        "type" : "object",
        "properties" : {
          "startMillisUtc" : {
            "type" : "integer",
            "format" : "int32"
          },
          "endMillisUtc" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalMeetingsLinkSettings" : {
        "required" : [ "availability", "durations", "formFields", "legalConsentEnabled", "meetingBufferTime", "ownerPrioritized", "startTimeIncrementMinutes", "weeksToAdvertise" ],
        "type" : "object",
        "properties" : {
          "redirectUrl" : {
            "type" : "string"
          },
          "startTimeIncrementMinutes" : {
            "type" : "string"
          },
          "guestSettings" : {
            "$ref" : "#/components/schemas/ExternalGuestSettings"
          },
          "language" : {
            "type" : "string"
          },
          "availability" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalClosedRange"
            }
          },
          "locale" : {
            "type" : "string"
          },
          "ownerPrioritized" : {
            "type" : "boolean"
          },
          "legalConsentOptions" : {
            "$ref" : "#/components/schemas/ExternalLegalConsentOptions"
          },
          "welcomeScreenInfo" : {
            "$ref" : "#/components/schemas/ExternalMeetingsWelcomeScreenInfo"
          },
          "meetingBufferTime" : {
            "type" : "integer",
            "format" : "int32"
          },
          "weeksToAdvertise" : {
            "type" : "integer",
            "format" : "int32"
          },
          "displayInfo" : {
            "$ref" : "#/components/schemas/ExternalLinkDisplayInfo"
          },
          "durations" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "location" : {
            "type" : "string"
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkFormField"
            }
          },
          "legalConsentEnabled" : {
            "type" : "boolean"
          },
          "customAvailabilityEndDate" : {
            "type" : "integer",
            "format" : "int64"
          },
          "customAvailabilityStartDate" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ExternalClosedRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "start" : {
            "type" : "integer",
            "format" : "int32"
          },
          "end" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalBookingInfo" : {
        "required" : [ "allUsersBusyTimes", "customParams", "isOffline", "linkId", "linkType" ],
        "type" : "object",
        "properties" : {
          "linkId" : {
            "type" : "string"
          },
          "customParams" : {
            "$ref" : "#/components/schemas/ExternalMeetingsLinkSettings"
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          },
          "brandingMetadata" : {
            "$ref" : "#/components/schemas/ExternalBrandingMetadata"
          },
          "isOffline" : {
            "type" : "boolean"
          },
          "linkType" : {
            "type" : "string",
            "enum" : [ "PERSONAL_LINK", "GROUP_CALENDAR", "ROUND_ROBIN_CALENDAR" ]
          },
          "allUsersBusyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          }
        }
      },
      "ExternalLinkAvailability" : {
        "required" : [ "hasMore", "linkAvailabilityByDuration" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean"
          },
          "linkAvailabilityByDuration" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalLinkAvailabilityForDuration"
            }
          }
        }
      },
      "ExternalTimeRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "start" : {
            "type" : "integer",
            "format" : "int32"
          },
          "end" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalGuestSettings" : {
        "required" : [ "canAddGuests", "maxGuestCount" ],
        "type" : "object",
        "properties" : {
          "maxGuestCount" : {
            "type" : "integer",
            "format" : "int32"
          },
          "canAddGuests" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalValidatedFormField" : {
        "required" : [ "isCustom", "label", "name", "value" ],
        "type" : "object",
        "properties" : {
          "translatedLabel" : {
            "type" : "string"
          },
          "valueLabel" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "isCustom" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "fieldType" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ExternalBookingFormField" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingsWelcomeScreenInfo" : {
        "type" : "object",
        "properties" : {
          "useCompanyLogo" : {
            "type" : "boolean"
          },
          "description" : {
            "type" : "string"
          },
          "showWelcomeScreen" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "logoUrl" : {
            "type" : "string"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "ExternalLinkFormField" : {
        "required" : [ "fieldType", "isCustom", "isRequired", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "isRequired" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalOption"
            }
          },
          "isCustom" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "fieldType" : {
            "type" : "string"
          }
        }
      },
      "ExternalUserProfile" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "fullName" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingsUser" : {
        "required" : [ "calendarProvider", "id", "isSalesStarter", "userId", "userProfile" ],
        "type" : "object",
        "properties" : {
          "isSalesStarter" : {
            "type" : "boolean"
          },
          "calendarProvider" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "string"
          },
          "userProfile" : {
            "$ref" : "#/components/schemas/ExternalUserProfile"
          }
        }
      },
      "ExternalBrandingMetadata" : {
        "required" : [ "logoAltText", "showMarketingAd", "showSalesAd" ],
        "type" : "object",
        "properties" : {
          "logoHeight" : {
            "type" : "integer",
            "format" : "int32"
          },
          "logoAltText" : {
            "type" : "string"
          },
          "companyCity" : {
            "type" : "string"
          },
          "companyAddressLine1" : {
            "type" : "string"
          },
          "showSalesAd" : {
            "type" : "boolean"
          },
          "companyAddressLine2" : {
            "type" : "string"
          },
          "accentColor" : {
            "type" : "string"
          },
          "companyName" : {
            "type" : "string"
          },
          "companyState" : {
            "type" : "string"
          },
          "primaryColor" : {
            "type" : "string"
          },
          "showMarketingAd" : {
            "type" : "boolean"
          },
          "accent2Color" : {
            "type" : "string"
          },
          "companyDomain" : {
            "type" : "string"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "logoWidth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "companyCountry" : {
            "type" : "string"
          },
          "companyAvatar" : {
            "type" : "string"
          },
          "companyZip" : {
            "type" : "string"
          },
          "secondaryColor" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponseWithTotalExternalLinkMetadataForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkMetadata"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ExternalOption" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "hidden" : {
            "type" : "boolean"
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "doubleData" : {
            "type" : "number"
          },
          "description" : {
            "type" : "string"
          },
          "readOnly" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingBookingResponse" : {
        "required" : [ "bookingTimezone", "calendarEventId", "contactId", "duration", "end", "formFields", "guestEmails", "isOffline", "legalConsentResponses", "start", "subject" ],
        "type" : "object",
        "properties" : {
          "calendarEventId" : {
            "type" : "string"
          },
          "contactId" : {
            "type" : "string"
          },
          "bookingTimezone" : {
            "type" : "string"
          },
          "legalConsentResponses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "subject" : {
            "type" : "string"
          },
          "start" : {
            "type" : "string",
            "format" : "date-time"
          },
          "locale" : {
            "type" : "string"
          },
          "webConferenceUrl" : {
            "type" : "string"
          },
          "duration" : {
            "type" : "integer",
            "format" : "int64"
          },
          "guestEmails" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "webConferenceMeetingId" : {
            "type" : "string"
          },
          "location" : {
            "type" : "string"
          },
          "isOffline" : {
            "type" : "boolean"
          },
          "end" : {
            "type" : "string",
            "format" : "date-time"
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalValidatedFormField"
            }
          }
        }
      },
      "ExternalLinkAvailabilityAndBusyTimes" : {
        "required" : [ "allUsersBusyTimes" ],
        "type" : "object",
        "properties" : {
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          },
          "allUsersBusyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          }
        }
      },
      "ExternalLinkAvailabilityForDuration" : {
        "required" : [ "availabilities", "meetingDurationMillis" ],
        "type" : "object",
        "properties" : {
          "meetingDurationMillis" : {
            "type" : "integer",
            "format" : "int32"
          },
          "availabilities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalMeetingAvailability"
            }
          }
        }
      },
      "ExternalLinkDisplayInfo" : {
        "type" : "object",
        "properties" : {
          "publicDisplayAvatarOption" : {
            "type" : "string"
          },
          "companyAvatar" : {
            "type" : "string"
          },
          "avatar" : {
            "type" : "string"
          },
          "headline" : {
            "type" : "string"
          }
        }
      },
      "ExternalLegalConsentResponse" : {
        "required" : [ "communicationTypeId", "consented" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string"
          },
          "consented" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalUserBusyTimes" : {
        "required" : [ "busyTimes", "isOffline", "meetingsUser" ],
        "type" : "object",
        "properties" : {
          "meetingsUser" : {
            "$ref" : "#/components/schemas/ExternalMeetingsUser"
          },
          "busyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalTimeRange"
            }
          },
          "isOffline" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalLegalConsentOptions" : {
        "required" : [ "communicationConsentCheckboxes", "communicationConsentText", "isLegitimateInterest", "legitimateInterestSubscriptionTypes", "privacyPolicyText", "processingConsentCheckboxLabel", "processingConsentFooterText", "processingConsentText", "processingConsentType" ],
        "type" : "object",
        "properties" : {
          "legitimateInterestSubscriptionTypes" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "processingConsentCheckboxLabel" : {
            "type" : "string"
          },
          "communicationConsentText" : {
            "type" : "string"
          },
          "legitimateInterestLegalBasis" : {
            "type" : "string",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "processingConsentType" : {
            "type" : "string"
          },
          "privacyPolicyText" : {
            "type" : "string"
          },
          "processingConsentText" : {
            "type" : "string"
          },
          "communicationConsentCheckboxes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalCommunicationConsentCheckbox"
            }
          },
          "processingConsentFooterText" : {
            "type" : "string"
          },
          "isLegitimateInterest" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalLinkMetadata" : {
        "required" : [ "createdAt", "defaultLink", "id", "link", "organizerUserId", "slug", "type", "userIdsOfLinkMembers" ],
        "type" : "object",
        "properties" : {
          "userIdsOfLinkMembers" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "link" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "organizerUserId" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "defaultLink" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ExternalCommunicationConsentCheckbox" : {
        "required" : [ "communicationTypeId", "label", "required" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "required" : {
            "type" : "boolean"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "scheduler.meetings.meeting-link.read" : "Read from meeting links",
              "crm.schemas.contacts.write" : " ",
              "crm.objects.deals.write" : " ",
              "crm.objects.companies.write" : " ",
              "crm.objects.services.write" : "Write services",
              "crm.objects.listings.write" : "Write listings",
              "crm.objects.contacts.write" : " ",
              "crm.objects.courses.write" : "Write courses",
              "crm.objects.line_items.write" : "Line Items",
              "crm.objects.appointments.write" : "Write appointments"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  }
}