{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Scheduler Meetings",
    "description" : "Meetings Service For HubSpot Sales",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You need to get a list of meeting links or book meetings, or you need to create an interface so customers can book meetings with your team.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Meetings guide",
      "url" : "https://developers.hubspot.com/docs/reference/api/crm/engagements/meetings"
    } ],
    "x-hubspot-introduction" : "Use the Meetings links API to retrieve information about meetings created through a scheduling page. You can also book a meeting with a scheduling page through the API."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "External_Calender_Integration"
  }, {
    "name" : "External_Meetings_Link"
  } ],
  "paths" : {
    "/scheduler/v3/meetings/calendar" : {
      "post" : {
        "tags" : [ "External_Calender_Integration" ],
        "operationId" : "post-/scheduler/v3/meetings/calendar",
        "parameters" : [ {
          "name" : "organizerUserId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalCalenderMeetingEventResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "private_apps" : [ "crm.objects.listings.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.commercepayments.write" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.sensitive.write" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.services.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.write" ]
        }, {
          "private_apps" : [ "crm.objects.products.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.projects.write" ]
        }, {
          "private_apps" : [ "crm.objects.courses.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.line_items.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "summary" : "Get meeting scheduling pages",
        "description" : "Get a paged list meeting scheduling pages",
        "operationId" : "get-/scheduler/v3/meetings/meeting-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Retrieve scheduling pages with a specified name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "Filter the response to scheduling pages created by the specified user.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter the response to the specific type of meeting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalLinkMetadataForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links/book" : {
      "post" : {
        "tags" : [ "External_Meetings_Link" ],
        "summary" : "Book a meeting\n",
        "description" : "Book a meeting for a specified meeting page.",
        "operationId" : "post-/scheduler/v3/meetings/meeting-links/book",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalMeetingBooking"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalMeetingBookingResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "private_apps" : [ "crm.objects.listings.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.commercepayments.write" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.sensitive.write" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.services.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.write" ]
        }, {
          "private_apps" : [ "crm.objects.products.write" ]
        }, {
          "private_apps" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.projects.write" ]
        }, {
          "private_apps" : [ "crm.objects.courses.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.line_items.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links/book/availability-page/{slug}" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "summary" : "Get the availability for a meeting",
        "description" : "Get the next availability times for a meeting page.",
        "operationId" : "get-/scheduler/v3/meetings/meeting-links/book/availability-page/{slug}",
        "parameters" : [ {
          "name" : "monthOffset",
          "in" : "query",
          "description" : "Get times for a different month.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "slug",
          "in" : "path",
          "description" : "The path for the meeting page that you want the available times for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "Return times in response based on specified time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalLinkAvailabilityAndBusyTimes"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    },
    "/scheduler/v3/meetings/meeting-links/book/{slug}" : {
      "get" : {
        "tags" : [ "External_Meetings_Link" ],
        "summary" : "List booking information",
        "description" : "Get details about the initial information necessary for a meeting scheduler.",
        "operationId" : "get-/scheduler/v3/meetings/meeting-links/book/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The path to the scheduling page that you want the information for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "Return times in response based on specified time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBookingInfo"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        }, {
          "private_apps" : [ "scheduler.meetings.meeting-link.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "The category of the association, such as \"HUBSPOT_DEFINED\".",
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the specific type of association.",
            "format" : "int32"
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects."
      },
      "CollectionResponseWithTotalExternalLinkMetadataForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkMetadata"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ExternalAssociationCreateRequest" : {
        "required" : [ "to", "types" ],
        "type" : "object",
        "properties" : {
          "to" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          },
          "types" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssociationSpec"
            }
          }
        }
      },
      "ExternalBookingFormField" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "ExternalBookingInfo" : {
        "required" : [ "allUsersBusyTimes", "customParams", "isOffline", "linkId", "linkType" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "brandingMetadata" : {
            "$ref" : "#/components/schemas/ExternalBrandingMetadata"
          },
          "customParams" : {
            "$ref" : "#/components/schemas/ExternalMeetingsLinkSettings"
          },
          "isOffline" : {
            "type" : "boolean"
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          },
          "linkId" : {
            "type" : "string"
          },
          "linkType" : {
            "type" : "string",
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          }
        }
      },
      "ExternalBrandingMetadata" : {
        "required" : [ "logoAltText", "showMarketingAd", "showSalesAd" ],
        "type" : "object",
        "properties" : {
          "accent2Color" : {
            "type" : "string"
          },
          "accentColor" : {
            "type" : "string"
          },
          "companyAddressLine1" : {
            "type" : "string"
          },
          "companyAddressLine2" : {
            "type" : "string"
          },
          "companyAvatar" : {
            "type" : "string"
          },
          "companyCity" : {
            "type" : "string"
          },
          "companyCountry" : {
            "type" : "string"
          },
          "companyDomain" : {
            "type" : "string"
          },
          "companyName" : {
            "type" : "string"
          },
          "companyState" : {
            "type" : "string"
          },
          "companyZip" : {
            "type" : "string"
          },
          "logoAltText" : {
            "type" : "string"
          },
          "logoHeight" : {
            "type" : "integer",
            "format" : "int32"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "logoWidth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "primaryColor" : {
            "type" : "string"
          },
          "secondaryColor" : {
            "type" : "string"
          },
          "showMarketingAd" : {
            "type" : "boolean"
          },
          "showSalesAd" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalCalendarMeetingEventCreateProperties" : {
        "required" : [ "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp", "hubspot_owner_id" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string"
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "hs_internal_meeting_notes" : {
            "type" : "string"
          },
          "hs_meeting_body" : {
            "type" : "string"
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hs_meeting_location" : {
            "type" : "string"
          },
          "hs_meeting_location_type" : {
            "type" : "string"
          },
          "hs_meeting_outcome" : {
            "type" : "string"
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hs_meeting_title" : {
            "type" : "string"
          },
          "hs_timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hubspot_owner_id" : {
            "type" : "string"
          }
        }
      },
      "ExternalCalendarMeetingEventCreateRequest" : {
        "required" : [ "associations", "emailReminderSchedule", "properties", "timezone" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalAssociationCreateRequest"
            }
          },
          "emailReminderSchedule" : {
            "$ref" : "#/components/schemas/ExternalEmailReminderSchedule"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateProperties"
          },
          "timezone" : {
            "type" : "string"
          }
        }
      },
      "ExternalCalendarMeetingEventResponseProperties" : {
        "required" : [ "hs_engagement_source", "hs_engagement_source_id", "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string"
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "hs_engagement_source" : {
            "type" : "string",
            "enum" : [ "ACADEMY", "ACCEPTANCE_TEST", "ACTIVITY_AUTO_ASSOCIATE", "ADS", "AI_GROUP", "ANALYTICS", "API", "APPROVALS", "ASSISTS", "ASSOCIATIONS", "AUTO_ASSOCIATE_BY_DOMAIN", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM", "AVATARS_SERVICE", "BATCH_UPDATE", "BCC_TO_CRM", "BEHAVIORAL_EVENTS", "BET_ASSIGNMENT", "BET_CRM_CONNECTOR", "BIDEN", "BILLING", "BOT", "CALCULATED", "CENTRAL_EXCHANGE_RATES", "CHATSPOT", "CLONE_OBJECTS", "COMMUNICATOR", "COMPANIES", "COMPANY_FAMILIES", "COMPANY_INSIGHTS", "CONTACTS", "CONTACTS_WEB", "CONTENT_MEMBERSHIP", "CONVERSATIONAL_ENRICHMENT", "CONVERSATIONS", "CRM_PROCESSES_PLATFORM", "CRM_UI", "CRM_UI_BULK_ACTION", "CUSTOMER_AGENT", "DATA_ENRICHMENT", "DATASET", "DEALS", "DEFAULT", "DELETE_OBJECTS", "EMAIL", "EMAIL_INBOX_IMPORT", "EMAIL_INTEGRATION", "ENGAGEMENTS", "EXTENSION", "FILE_MANAGER", "FLYWHEEL_PRODUCT_DATA_SYNC", "FORECASTING", "FORM", "FORWARD_TO_CRM", "GMAIL_INTEGRATION", "GOALS", "HEISENBERG", "HELP_DESK", "HELP_DESK_AI", "IMPORT", "INTEGRATION", "INTEGRATIONS_PLATFORM", "INTEGRATIONS_SYNC", "INTENT", "INTERNAL_PROCESSING", "LEADIN", "LEGAL_BASIS_REMEDIATION", "MARKET_SOURCING", "MARKETPLACE", "MEETINGS", "MERGE_COMPANIES", "MERGE_CONTACTS", "MERGE_OBJECTS", "MICROAPPS", "MIGRATION", "MOBILE_ANDROID", "MOBILE_IOS", "PAYMENTS", "PIPELINE_SETTINGS", "PLAYBOOKS", "PORTAL_OBJECT_SYNC", "PORTAL_USER_ASSOCIATOR", "PRESENTATIONS", "PRIMARY_AUTOMATION", "PROPERTY_RESTORE", "PROPERTY_SETTINGS", "PROSPECTING_AGENT", "QUOTAS", "QUOTES", "RECYCLING_BIN", "RESTORE_OBJECTS", "SALES", "SALES_MESSAGES", "SALESFORCE", "SEQUENCES", "SETTINGS", "SIDEKICK", "SIGNALS", "SLACK_INTEGRATION", "SOCIAL", "SUCCESS", "TALLY", "TASK", "UNKNOWN", "WAL_INCREMENTAL", "WORKFLOW_CONTACT_DELETE_ACTION", "WORKFLOWS" ]
          },
          "hs_engagement_source_id" : {
            "type" : "string"
          },
          "hs_include_description_in_reminder" : {
            "type" : "string"
          },
          "hs_internal_meeting_notes" : {
            "type" : "string"
          },
          "hs_meeting_body" : {
            "type" : "string"
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hs_meeting_external_url" : {
            "type" : "string"
          },
          "hs_meeting_location" : {
            "type" : "string"
          },
          "hs_meeting_location_type" : {
            "type" : "string",
            "enum" : [ "ADDRESS", "CUSTOM", "PHONE" ]
          },
          "hs_meeting_outcome" : {
            "type" : "string"
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hs_meeting_title" : {
            "type" : "string"
          },
          "hs_timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "hs_unique_id" : {
            "type" : "string"
          },
          "hubspot_owner_id" : {
            "type" : "string"
          }
        }
      },
      "ExternalCalenderMeetingEventResponse" : {
        "required" : [ "createdAt", "id", "lastUpdatedAt", "properties" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "lastUpdatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventResponseProperties"
          }
        }
      },
      "ExternalClosedRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "format" : "int32"
          },
          "start" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalCommunicationConsentCheckbox" : {
        "required" : [ "communicationTypeId", "label", "required" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "required" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalEmailReminderSchedule" : {
        "required" : [ "reminders", "shouldIncludeInviteDescription" ],
        "type" : "object",
        "properties" : {
          "reminders" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalReminder"
            }
          },
          "shouldIncludeInviteDescription" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalGuestSettings" : {
        "required" : [ "canAddGuests", "maxGuestCount" ],
        "type" : "object",
        "properties" : {
          "canAddGuests" : {
            "type" : "boolean"
          },
          "maxGuestCount" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalLegalConsentOptions" : {
        "required" : [ "communicationConsentCheckboxes", "communicationConsentText", "isLegitimateInterest", "legitimateInterestSubscriptionTypes", "privacyPolicyText", "processingConsentCheckboxLabel", "processingConsentFooterText", "processingConsentText", "processingConsentType" ],
        "type" : "object",
        "properties" : {
          "communicationConsentCheckboxes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalCommunicationConsentCheckbox"
            }
          },
          "communicationConsentText" : {
            "type" : "string"
          },
          "isLegitimateInterest" : {
            "type" : "boolean"
          },
          "legitimateInterestLegalBasis" : {
            "type" : "string",
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legitimateInterestSubscriptionTypes" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "privacyPolicyText" : {
            "type" : "string"
          },
          "processingConsentCheckboxLabel" : {
            "type" : "string"
          },
          "processingConsentFooterText" : {
            "type" : "string"
          },
          "processingConsentText" : {
            "type" : "string"
          },
          "processingConsentType" : {
            "type" : "string"
          }
        }
      },
      "ExternalLegalConsentResponse" : {
        "required" : [ "communicationTypeId", "consented" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string"
          },
          "consented" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalLinkAvailability" : {
        "required" : [ "hasMore", "linkAvailabilityByDuration" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean"
          },
          "linkAvailabilityByDuration" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalLinkAvailabilityForDuration"
            }
          }
        }
      },
      "ExternalLinkAvailabilityAndBusyTimes" : {
        "required" : [ "allUsersBusyTimes" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          }
        }
      },
      "ExternalLinkAvailabilityForDuration" : {
        "required" : [ "availabilities", "meetingDurationMillis" ],
        "type" : "object",
        "properties" : {
          "availabilities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalMeetingAvailability"
            }
          },
          "meetingDurationMillis" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalLinkDisplayInfo" : {
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string"
          },
          "companyAvatar" : {
            "type" : "string"
          },
          "headline" : {
            "type" : "string"
          },
          "publicDisplayAvatarOption" : {
            "type" : "string"
          }
        }
      },
      "ExternalLinkFormField" : {
        "required" : [ "fieldType", "isCustom", "isRequired", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string"
          },
          "isCustom" : {
            "type" : "boolean"
          },
          "isRequired" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalOption"
            }
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "ExternalLinkMetadata" : {
        "required" : [ "createdAt", "defaultLink", "id", "link", "organizerUserId", "slug", "type", "userIdsOfLinkMembers" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "defaultLink" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "organizerUserId" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "userIdsOfLinkMembers" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ExternalMeetingAvailability" : {
        "required" : [ "endMillisUtc", "startMillisUtc" ],
        "type" : "object",
        "properties" : {
          "endMillisUtc" : {
            "type" : "integer",
            "format" : "int32"
          },
          "startMillisUtc" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalMeetingBooking" : {
        "required" : [ "duration", "email", "firstName", "formFields", "lastName", "legalConsentResponses", "likelyAvailableUserIds", "slug", "startTime" ],
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "integer",
            "format" : "int64"
          },
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalBookingFormField"
            }
          },
          "lastName" : {
            "type" : "string"
          },
          "legalConsentResponses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "likelyAvailableUserIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "locale" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "startTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "timezone" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingBookingResponse" : {
        "required" : [ "bookingTimezone", "calendarEventId", "contactId", "duration", "end", "formFields", "guestEmails", "isOffline", "legalConsentResponses", "start", "subject" ],
        "type" : "object",
        "properties" : {
          "bookingTimezone" : {
            "type" : "string"
          },
          "calendarEventId" : {
            "type" : "string"
          },
          "contactId" : {
            "type" : "string"
          },
          "duration" : {
            "type" : "integer",
            "format" : "int64"
          },
          "end" : {
            "type" : "string",
            "format" : "date-time"
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalValidatedFormField"
            }
          },
          "guestEmails" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "isOffline" : {
            "type" : "boolean"
          },
          "legalConsentResponses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "locale" : {
            "type" : "string"
          },
          "location" : {
            "type" : "string"
          },
          "start" : {
            "type" : "string",
            "format" : "date-time"
          },
          "subject" : {
            "type" : "string"
          },
          "webConferenceMeetingId" : {
            "type" : "string"
          },
          "webConferenceUrl" : {
            "type" : "string"
          }
        }
      },
      "ExternalMeetingsLinkSettings" : {
        "required" : [ "availability", "durations", "formFields", "legalConsentEnabled", "meetingBufferTime", "ownerPrioritized", "startTimeIncrementMinutes", "weeksToAdvertise" ],
        "type" : "object",
        "properties" : {
          "availability" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalClosedRange"
            }
          },
          "customAvailabilityEndDate" : {
            "type" : "integer",
            "format" : "int64"
          },
          "customAvailabilityStartDate" : {
            "type" : "integer",
            "format" : "int64"
          },
          "displayInfo" : {
            "$ref" : "#/components/schemas/ExternalLinkDisplayInfo"
          },
          "durations" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "formFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkFormField"
            }
          },
          "guestSettings" : {
            "$ref" : "#/components/schemas/ExternalGuestSettings"
          },
          "language" : {
            "type" : "string"
          },
          "legalConsentEnabled" : {
            "type" : "boolean"
          },
          "legalConsentOptions" : {
            "$ref" : "#/components/schemas/ExternalLegalConsentOptions"
          },
          "locale" : {
            "type" : "string"
          },
          "location" : {
            "type" : "string"
          },
          "meetingBufferTime" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ownerPrioritized" : {
            "type" : "boolean"
          },
          "redirectUrl" : {
            "type" : "string"
          },
          "startTimeIncrementMinutes" : {
            "type" : "string"
          },
          "weeksToAdvertise" : {
            "type" : "integer",
            "format" : "int32"
          },
          "welcomeScreenInfo" : {
            "$ref" : "#/components/schemas/ExternalMeetingsWelcomeScreenInfo"
          }
        }
      },
      "ExternalMeetingsUser" : {
        "required" : [ "calendarProvider", "id", "isSalesStarter", "userId", "userProfile" ],
        "type" : "object",
        "properties" : {
          "calendarProvider" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "isSalesStarter" : {
            "type" : "boolean"
          },
          "userId" : {
            "type" : "string"
          },
          "userProfile" : {
            "$ref" : "#/components/schemas/ExternalUserProfile"
          }
        }
      },
      "ExternalMeetingsWelcomeScreenInfo" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "showWelcomeScreen" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "useCompanyLogo" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalOption" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "doubleData" : {
            "type" : "number"
          },
          "hidden" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "readOnly" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "ExternalReminder" : {
        "required" : [ "numberOfTimeUnits", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "numberOfTimeUnits" : {
            "type" : "integer",
            "format" : "int32"
          },
          "timeUnit" : {
            "type" : "string"
          }
        }
      },
      "ExternalTimeRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "format" : "int32"
          },
          "start" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ExternalUserBusyTimes" : {
        "required" : [ "busyTimes", "isOffline", "meetingsUser" ],
        "type" : "object",
        "properties" : {
          "busyTimes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ExternalTimeRange"
            }
          },
          "isOffline" : {
            "type" : "boolean"
          },
          "meetingsUser" : {
            "$ref" : "#/components/schemas/ExternalMeetingsUser"
          }
        }
      },
      "ExternalUserProfile" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "fullName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          }
        }
      },
      "ExternalValidatedFormField" : {
        "required" : [ "isCustom", "label", "name", "value" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string"
          },
          "isCustom" : {
            "type" : "boolean"
          },
          "label" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "translatedLabel" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "valueLabel" : {
            "type" : "string"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "PublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.appointments.sensitive.write.v2" : "Write appointments (sensitive)",
              "crm.objects.appointments.write" : "Write appointments",
              "crm.objects.commercepayments.write" : "Write commerce payments",
              "crm.objects.companies.highly_sensitive.write.v2" : "Change company records (highly-sensitive)",
              "crm.objects.companies.sensitive.write.v2" : "Create or update sensitive properties on company records",
              "crm.objects.companies.write" : "View company records",
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.objects.courses.write" : "Write courses",
              "crm.objects.deals.highly_sensitive.write.v2" : "Change deal records (highly-sensitive)",
              "crm.objects.deals.sensitive.write.v2" : "Create or update sensitive properties on deal records",
              "crm.objects.deals.write" : "Create or update deal records",
              "crm.objects.goals.write" : "Write goals",
              "crm.objects.line_items.write" : "Line Items",
              "crm.objects.listings.write" : "Write listings",
              "crm.objects.products.write" : "Write to my Product Library",
              "crm.objects.projects.highly_sensitive.write" : "Write projects (highly-sensitive)",
              "crm.objects.projects.sensitive.write" : "Write projects (sensitive)",
              "crm.objects.projects.write" : "Write projects",
              "crm.objects.services.write" : "Write services",
              "scheduler.meetings.meeting-link.read" : "Read from meeting links",
              "tickets" : "Read and write tickets",
              "tickets.highly_sensitive.v2" : "Tickets (highly-sensitive)",
              "tickets.sensitive.v2" : "Tickets (sensitive)"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "PROFESSIONAL",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}