{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Imports",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After a successful in-person webinar, use this API to import a set of contacts based on who signed up during the event.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Import CRM Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/imports"
    } ],
    "x-hubspot-introduction" : "Use the imports API to import CRM records and activities, such as contacts, companies, and notes, into your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Core"
  }, {
    "name" : "Public_Imports"
  } ],
  "paths" : {
    "/crm/v3/imports/{importId}/cancel" : {
      "post" : {
        "tags" : [ "Core" ],
        "summary" : "Cancelar una importación activa",
        "description" : "Esto permite a un desarrollador cancelar una importación activa.",
        "operationId" : "post-/crm/v3/imports/{importId}/cancel_cancel",
        "parameters" : [ {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.import" ]
        }, {
          "private_apps_legacy" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/{importId}" : {
      "get" : {
        "tags" : [ "Core" ],
        "summary" : "Obtener información sobre cualquier importación",
        "description" : "Un resumen completo de un registro de importación, incluyendo cualquier actualización.",
        "operationId" : "get-/crm/v3/imports/{importId}_getById",
        "parameters" : [ {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.import" ]
        }, {
          "private_apps_legacy" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/{importId}/errors" : {
      "get" : {
        "tags" : [ "Public_Imports" ],
        "operationId" : "get-/crm/v3/imports/{importId}/errors_getErrors",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "El token del cursor de paginación del último recurso leído con éxito se devolverá como la propiedad JSON \"paging.next.after\" de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se mostrarán por página.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicImportErrorForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.import" ]
        }, {
          "private_apps_legacy" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/" : {
      "get" : {
        "tags" : [ "Core" ],
        "summary" : "Obtener importaciones activas",
        "description" : "Devuelve una lista paginada de las importaciones activas para esta cuenta.",
        "operationId" : "get-/crm/v3/imports/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "El token del cursor de paginación del último recurso leído con éxito se devolverá como la propiedad JSON \"paging.next.after\" de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se mostrarán por página.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.import" ]
        }, {
          "private_apps_legacy" : [ "crm.import" ]
        } ]
      },
      "post" : {
        "tags" : [ "Core" ],
        "summary" : "Iniciar una nueva importación",
        "description" : "Comienza a importar datos desde los recursos de archivo especificados. Esto carga el archivo correspondiente y utiliza el objeto de solicitud de importación para convertir las filas de los archivos en objetos.",
        "operationId" : "post-/crm/v3/imports/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "files" : {
                    "type" : "string",
                    "description" : "A list of files containing the data to import",
                    "format" : "binary"
                  },
                  "importRequest" : {
                    "type" : "string",
                    "description" : "JSON formatted metadata about the import. This includes a name for the import and the column mappings for each file. See the overview tab for more on the required format."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.import" ]
        }, {
          "private_apps_legacy" : [ "crm.import" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicImportResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicImportResponse"
            }
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "PublicObjectListRecord" : {
        "required" : [ "listId", "objectType" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string",
            "description" : "El ID de la lista que contiene los objetos importados.",
            "example" : "3"
          },
          "objectType" : {
            "type" : "string",
            "description" : "El tipo de objeto contenido en la lista.",
            "example" : "contacts"
          }
        },
        "description" : "A summary detailing which list contains the imported objects.",
        "example" : {
          "objectType" : "contacts",
          "listId" : "3"
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ImportRowCore" : {
        "required" : [ "fileId", "lineNumber", "rowData" ],
        "type" : "object",
        "properties" : {
          "rowData" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "lineNumber" : {
            "type" : "integer",
            "format" : "int32"
          },
          "pageName" : {
            "type" : "string"
          },
          "fileId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ImportTemplate" : {
        "required" : [ "templateId", "templateType" ],
        "type" : "object",
        "properties" : {
          "templateType" : {
            "type" : "string",
            "enum" : [ "admin_defined", "previous_import", "user_file" ]
          },
          "templateId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicImportError" : {
        "required" : [ "createdAt", "errorType", "id", "sourceData" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "extraContext" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "errorType" : {
            "type" : "string",
            "enum" : [ "INCORRECT_NUMBER_OF_COLUMNS", "INVALID_OBJECT_ID", "INVALID_ASSOCIATION_IDENTIFIER", "NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER", "MULTIPLE_COMPANIES_WITH_THIS_DOMAIN", "PROPERTY_DEFINITION_NOT_FOUND", "PROPERTY_VALUE_NOT_FOUND", "COULD_NOT_FIND_OWNER", "MULTIPLE_OWNERS_FOUND", "COULD_NOT_FIND_BUSINESS_UNIT", "COULD_NOT_PARSE_NUMBER", "COULD_NOT_PARSE_DATE", "COULD_NOT_PARSE_TERM", "OUTSIDE_VALID_TIME_RANGE", "OUTSIDE_VALID_TERM_RANGE", "COULD_NOT_PARSE_ROW", "INVALID_ENUMERATION_OPTION", "AMBIGUOUS_ENUMERATION_OPTION", "FAILED_VALIDATION", "FAILED_TO_CREATE_ASSOCIATION", "FILE_NOT_FOUND", "INVALID_COLUMN_CONFIGURATION", "INVALID_FILE_TYPE", "INVALID_SPREADSHEET", "INVALID_SHEET_COUNT", "FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES", "UNKNOWN_BAD_REQUEST", "GDPR_BLACKLISTED_EMAIL", "DUPLICATE_ASSOCIATION_ID", "LIMIT_EXCEEDED", "PORTAL_WIDE_CUSTOM_OBJECT_LIMIT_EXCEEDED", "INVALID_ALTERNATE_ID", "INVALID_EMAIL", "INVALID_DOMAIN", "DUPLICATE_ROW_CONTENT", "INVALID_NUMBER_SIZE", "UNKNOWN_ERROR", "FAILED_TO_OPT_OUT_CONTACT", "INVALID_REQUIRED_PROPERTY", "MISSING_REQUIRED_PROPERTY", "DUPLICATE_ALTERNATE_ID", "DUPLICATE_OBJECT_ID", "DUPLICATE_UNIQUE_PROPERTY_VALUE", "BLANK_VALUE_PROVIDED", "UNKNOWN_ASSOCIATION_RECORD_ID", "INVALID_RECORD_ID", "DUPLICATE_RECORD_ID", "INVALID_CUSTOM_PROPERTY_VALIDATION", "CREATE_ONLY_IMPORT", "UPDATE_ONLY_IMPORT", "COLUMN_TOO_LARGE", "ROW_DATA_TOO_LARGE", "INVALID_EVENT_TIMESTAMP", "INVALID_EVENT", "DUPLICATE_EVENT", "MISSING_EVENT_DEFINITION" ]
          },
          "knownColumnNumber" : {
            "type" : "integer",
            "format" : "int32"
          },
          "id" : {
            "type" : "string"
          },
          "sourceData" : {
            "$ref" : "#/components/schemas/ImportRowCore"
          },
          "objectType" : {
            "type" : "string",
            "enum" : [ "CONTACT", "COMPANY", "DEAL", "ENGAGEMENT", "TICKET", "OWNER", "PRODUCT", "LINE_ITEM", "BET_DELIVERABLE_SERVICE", "CONTENT", "CONVERSATION", "BET_ALERT", "PORTAL", "QUOTE", "FORM_SUBMISSION_INBOUNDDB", "QUOTA", "UNSUBSCRIBE", "COMMUNICATION", "FEEDBACK_SUBMISSION", "ATTRIBUTION", "SALESFORCE_SYNC_ERROR", "RESTORABLE_CRM_OBJECT", "HUB", "LANDING_PAGE", "PRODUCT_OR_FOLDER", "TASK", "FORM", "MARKETING_EMAIL", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AD", "KEYWORD", "CAMPAIGN", "SOCIAL_CHANNEL", "SOCIAL_POST", "SITE_PAGE", "BLOG_POST", "IMPORT", "EXPORT", "CTA", "TASK_TEMPLATE", "AUTOMATION_PLATFORM_FLOW", "OBJECT_LIST", "NOTE", "MEETING_EVENT", "CALL", "EMAIL", "PUBLISHING_TASK", "CONVERSATION_SESSION", "CONTACT_CREATE_ATTRIBUTION", "INVOICE", "MARKETING_EVENT", "CONVERSATION_INBOX", "CHATFLOW", "MEDIA_BRIDGE", "SEQUENCE", "SEQUENCE_STEP", "FORECAST", "SNIPPET", "TEMPLATE", "DEAL_CREATE_ATTRIBUTION", "QUOTE_TEMPLATE", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_FIELD", "SEQUENCE_ENROLLMENT", "SUBSCRIPTION", "ACCEPTANCE_TEST", "SOCIAL_BROADCAST", "DEAL_SPLIT", "DEAL_REGISTRATION", "GOAL_TARGET", "GOAL_TARGET_GROUP", "PORTAL_OBJECT_SYNC_MESSAGE", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "SEQUENCE_STEP_ENROLLMENT", "APPROVAL", "APPROVAL_STEP", "CTA_VARIANT", "SALES_DOCUMENT", "DISCOUNT", "FEE", "TAX", "MARKETING_CALENDAR", "PERMISSIONS_TESTING", "PRIVACY_SCANNER_COOKIE", "DATA_SYNC_STATE", "WEB_INTERACTIVE", "PLAYBOOK", "FOLDER", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "COMMERCE_PAYMENT", "GSC_PROPERTY", "SOX_PROTECTED_DUMMY_TYPE", "BLOG_LISTING_PAGE", "QUARANTINED_SUBMISSION", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "MARKETING_CAMPAIGN_UTM", "DISCOUNT_TEMPLATE", "DISCOUNT_CODE", "FEEDBACK_SURVEY", "CMS_URL", "SALES_TASK", "SALES_WORKLOAD", "USER", "POSTAL_MAIL", "SCHEMAS_BACKEND_TEST", "PAYMENT_LINK", "SUBMISSION_TAG", "CAMPAIGN_STEP", "SCHEDULING_PAGE", "SOX_PROTECTED_TEST_TYPE", "ORDER", "MARKETING_SMS", "PARTNER_ACCOUNT", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "PLAYLIST", "CLIP", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "MIC", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "PLAYLIST_FOLDER", "LEAD", "ABANDONED_CART", "EXTERNAL_WEB_URL", "VIEW", "VIEW_BLOCK", "ROSTER", "CART", "AUTOMATION_PLATFORM_FLOW_ACTION", "SOCIAL_PROFILE", "PARTNER_CLIENT", "ROSTER_MEMBER", "MARKETING_EVENT_ATTENDANCE", "ALL_PAGES", "AI_FORECAST", "CRM_PIPELINES_DUMMY_TYPE", "UNKNOWN" ]
          },
          "invalidValue" : {
            "type" : "string"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "PublicImportMetadata" : {
        "required" : [ "counters", "fileIds", "objectLists" ],
        "type" : "object",
        "properties" : {
          "counters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Resultados resumidos de cada fila que un desarrollador intentó importar a HubSpot.",
            "example" : {
              "TOTAL_ROWS" : 2,
              "CREATED_OBJECTS" : 1,
              "UPDATED_OBJECTS" : 1,
              "UNIQUE_OBJECTS_WRITTEN" : 2,
              "PROPERTY_VALUES_EMITTED" : 2
            }
          },
          "fileIds" : {
            "type" : "array",
            "description" : "Los ID de los archivos cargados en la API del Administrador de archivos.",
            "example" : [ "3579849" ],
            "items" : {
              "type" : "string"
            }
          },
          "objectLists" : {
            "type" : "array",
            "description" : "Las listas que contienen los objetos importados.",
            "example" : [ {
              "listId" : "3",
              "objectType" : "contacts"
            } ],
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListRecord"
            }
          }
        },
        "description" : "An object detailing a summary of the import record outputs",
        "example" : {
          "objectLists" : [ {
            "objectType" : "contacts",
            "listId" : "3"
          } ],
          "counters" : {
            "TOTAL_ROWS" : 2,
            "PROPERTY_VALUES_EMITTED" : 2,
            "CREATED_OBJECTS" : 1,
            "UPDATED_OBJECTS" : 1,
            "UNIQUE_OBJECTS_WRITTEN" : 2
          },
          "fileIds" : [ "3579849" ]
        }
      },
      "CollectionResponsePublicImportErrorForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicImportError"
            }
          }
        }
      },
      "PublicImportResponse" : {
        "required" : [ "createdAt", "id", "metadata", "optOutImport", "state", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "importTemplate" : {
            "$ref" : "#/components/schemas/ImportTemplate"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-01-14T22:45:00.153+00:00"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicImportMetadata"
          },
          "importRequestJson" : {
            "type" : "object",
            "properties" : { }
          },
          "importSource" : {
            "type" : "string",
            "enum" : [ "API", "CRM_UI", "IMPORT", "MOBILE_ANDROID", "MOBILE_IOS", "SALESFORCE" ]
          },
          "importName" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string",
            "description" : "El estado de la importación",
            "example" : "DONE",
            "enum" : [ "STARTED", "PROCESSING", "DONE", "FAILED", "CANCELED", "DEFERRED", "REVERTED" ]
          },
          "id" : {
            "type" : "string",
            "example" : "1471"
          },
          "optOutImport" : {
            "type" : "boolean",
            "description" : "Si la importación es o no es una lista de personas que no califican para recibir correos.",
            "example" : false
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-01-14T22:45:00.153+00:00"
          }
        },
        "description" : "A current summary of the import, whether complete or not.",
        "example" : {
          "id" : "1471",
          "createdAt" : "2020-01-14T22:45:00.153Z",
          "updatedAt" : "2020-01-14T22:45:00.153Z",
          "state" : "DONE",
          "optOutImport" : false,
          "metadata" : {
            "objectLists" : [ {
              "objectType" : "contacts",
              "listId" : "3"
            } ],
            "counters" : {
              "TOTAL_ROWS" : 1000,
              "PROPERTY_VALUES_EMITTED" : 1000,
              "CREATED_OBJECTS" : 1000,
              "UNIQUE_OBJECTS_WRITTEN" : 1000
            },
            "fileIds" : [ "32938649" ]
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.import" : "Create or modify all your CRM data through bulk imports"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}