{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Imports",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "After a successful in-person webinar, use this API to import a set of contacts based on who signed up during the event.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Import CRM Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/crm/imports"
    } ],
    "x-hubspot-introduction" : "Use the imports API to import CRM records and activities, such as contacts, companies, and notes, into your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Public_Imports"
  } ],
  "paths" : {
    "/crm/v3/imports/" : {
      "get" : {
        "tags" : [ "Public_Imports" ],
        "summary" : "Get active imports",
        "description" : "Returns a paged list of active imports for this account.",
        "operationId" : "get-/crm/v3/imports/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.import" ]
        }, {
          "private_apps" : [ "crm.import" ]
        } ]
      },
      "post" : {
        "tags" : [ "Public_Imports" ],
        "summary" : "Start a new import",
        "description" : "Begins importing data from the specified file resources. This uploads the corresponding file and uses the import request object to convert rows in the files to objects.",
        "operationId" : "post-/crm/v3/imports/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "files" : {
                    "type" : "string",
                    "format" : "binary"
                  },
                  "importRequest" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.import" ]
        }, {
          "private_apps" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/{importId}" : {
      "get" : {
        "tags" : [ "Public_Imports" ],
        "summary" : "Get the information on any import",
        "description" : "A complete summary of an import record, including any updates.",
        "operationId" : "get-/crm/v3/imports/{importId}_getById",
        "parameters" : [ {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicImportResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.import" ]
        }, {
          "private_apps" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/{importId}/cancel" : {
      "post" : {
        "tags" : [ "Public_Imports" ],
        "summary" : "Cancel an active import",
        "description" : "This allows a developer to cancel an active import.",
        "operationId" : "post-/crm/v3/imports/{importId}/cancel_cancel",
        "parameters" : [ {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.import" ]
        }, {
          "private_apps" : [ "crm.import" ]
        } ]
      }
    },
    "/crm/v3/imports/{importId}/errors" : {
      "get" : {
        "tags" : [ "Public_Imports" ],
        "operationId" : "get-/crm/v3/imports/{importId}/errors_getErrors",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "includeErrorMessage",
          "in" : "query",
          "description" : "Set to True to receive a message explaining the error.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeRowData",
          "in" : "query",
          "description" : "Set to True to receive the data values for the errored row.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicImportErrorForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.import" ]
        }, {
          "private_apps" : [ "crm.import" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "CollectionResponsePublicImportErrorForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicImportError"
            }
          }
        }
      },
      "CollectionResponsePublicImportResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicImportResponse"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "ImportRowCore" : {
        "required" : [ "containsEncryptedProperties", "fileId", "lineNumber", "rowData" ],
        "type" : "object",
        "properties" : {
          "containsEncryptedProperties" : {
            "type" : "boolean"
          },
          "fileId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lineNumber" : {
            "type" : "integer",
            "format" : "int32"
          },
          "pageName" : {
            "type" : "string"
          },
          "rowData" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ImportTemplate" : {
        "required" : [ "templateId", "templateType" ],
        "type" : "object",
        "properties" : {
          "templateId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "templateType" : {
            "type" : "string",
            "enum" : [ "admin_defined", "previous_import", "user_file" ]
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results."
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "isLargeValue", "name", "persistenceTimestamp", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceVid", "timestamp", "unit", "updatedByUserId", "useTimestampAsPersistenceTimestamp", "value" ],
        "type" : "object",
        "properties" : {
          "dataSensitivity" : {
            "type" : "string",
            "description" : "The sensitivity level of the property, such as \"non_sensitive\", \"sensitive\", and \"highly_sensitive\".",
            "enum" : [ "high", "none", "standard" ]
          },
          "isEncrypted" : {
            "type" : "boolean",
            "description" : "Whether the property value is encrypted."
          },
          "isLargeValue" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string",
            "description" : "The unique property name."
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "requestId" : {
            "type" : "string",
            "description" : "A unique ID associated with this request."
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : "Whether the value was selected by a user."
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "The timestamp when the value was selected by a user, if applicable.",
            "format" : "int64"
          },
          "source" : {
            "type" : "string",
            "description" : "The origin of the property value, such as \"IMPORT\" or \"API\".",
            "enum" : [ "ACADEMY", "ACCEPTANCE_TEST", "ADS", "AI_GROUP", "ANALYTICS", "API", "APPROVALS", "ASSISTS", "ASSOCIATIONS", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM", "AVATARS_SERVICE", "BATCH_UPDATE", "BCC_TO_CRM", "BEHAVIORAL_EVENTS", "BET_ASSIGNMENT", "BET_CRM_CONNECTOR", "BIDEN", "BILLING", "BOT", "CALCULATED", "CHATSPOT", "COMMUNICATOR", "COMPANIES", "COMPANY_FAMILIES", "COMPANY_INSIGHTS", "CONTACTS", "CONTACTS_WEB", "CONTENT_MEMBERSHIP", "CONVERSATIONS", "CRM_UI", "CRM_UI_BULK_ACTION", "DATA_ENRICHMENT", "DEALS", "DEFAULT", "EMAIL", "EMAIL_INTEGRATION", "ENGAGEMENTS", "EXTENSION", "FILE_MANAGER", "FLYWHEEL_PRODUCT_DATA_SYNC", "FORECASTING", "FORM", "FORWARD_TO_CRM", "GMAIL_INTEGRATION", "GOALS", "HEISENBERG", "HELP_DESK", "IMPORT", "INTEGRATION", "INTEGRATIONS_PLATFORM", "INTEGRATIONS_SYNC", "INTENT", "INTERNAL_PROCESSING", "LEADIN", "MARKETPLACE", "MEETINGS", "MERGE_COMPANIES", "MERGE_CONTACTS", "MERGE_OBJECTS", "MICROAPPS", "MIGRATION", "MOBILE_ANDROID", "MOBILE_IOS", "PAYMENTS", "PIPELINE_SETTINGS", "PLAYBOOKS", "PORTAL_OBJECT_SYNC", "PORTAL_USER_ASSOCIATOR", "PRESENTATIONS", "PROPERTY_SETTINGS", "PROSPECTING_AGENT", "QUOTAS", "QUOTES", "RECYCLING_BIN", "SALES", "SALES_MESSAGES", "SALESFORCE", "SEQUENCES", "SETTINGS", "SIDEKICK", "SIGNALS", "SLACK_INTEGRATION", "SOCIAL", "SUCCESS", "TALLY", "TASK", "UNKNOWN", "WAL_INCREMENTAL", "WORKFLOW_CONTACT_DELETE_ACTION", "WORKFLOWS" ]
          },
          "sourceId" : {
            "type" : "string",
            "description" : "The ID of the property source indicating where it was created."
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : "A human-readable label."
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "Metadata providing additional context about the source."
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "The unique identifier associated with the source.",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "When the value was set, as a 64-bit integer.",
            "format" : "int64"
          },
          "unit" : {
            "type" : "string",
            "description" : "The unit of measurement or context for the value."
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who updated the property.",
            "format" : "int32"
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string",
            "description" : "The property value."
          }
        },
        "description" : "Represents a single custom property of a marketing event, storing its name, value, metadata (like source, timestamp, and sensitivity), and related audit information for tracking changes."
      },
      "PublicImportError" : {
        "required" : [ "createdAt", "errorType", "id", "sourceData" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "errorMessage" : {
            "type" : "string"
          },
          "errorType" : {
            "type" : "string",
            "enum" : [ "AMBIGUOUS_ENUMERATION_OPTION", "ASSOCIATION_LABEL_NOT_FOUND", "ASSOCIATION_LIMIT_EXCEEDED", "ASSOCIATION_RECORD_NOT_FOUND", "COLUMN_TOO_LARGE", "COULD_NOT_FIND_BUSINESS_UNIT", "COULD_NOT_FIND_OWNER", "COULD_NOT_PARSE_DATE", "COULD_NOT_PARSE_NUMBER", "COULD_NOT_PARSE_ROW", "COULD_NOT_PARSE_TERM", "CREATE_ONLY_IMPORT", "DUPLICATE_ALTERNATE_ID", "DUPLICATE_ASSOCIATION_ID", "DUPLICATE_EVENT", "DUPLICATE_OBJECT_ID", "DUPLICATE_RECORD_ID", "DUPLICATE_ROW_CONTENT", "DUPLICATE_UNIQUE_PROPERTY_VALUE", "FAILED_TO_CREATE_ASSOCIATION", "FAILED_TO_OPT_OUT_CONTACT", "FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES", "FAILED_VALIDATION", "FILE_NOT_FOUND", "GDPR_BLACKLISTED_EMAIL", "INCORRECT_NUMBER_OF_COLUMNS", "INVALID_ALTERNATE_ID", "INVALID_ASSOCIATION_IDENTIFIER", "INVALID_ASSOCIATION_KEY", "INVALID_COLUMN_CONFIGURATION", "INVALID_CUSTOM_PROPERTY_VALIDATION", "INVALID_DOMAIN", "INVALID_EMAIL", "INVALID_ENUMERATION_OPTION", "INVALID_EVENT", "INVALID_EVENT_TIMESTAMP", "INVALID_FILE_TYPE", "INVALID_NUMBER_SIZE", "INVALID_OBJECT_ID", "INVALID_RECORD_ID", "INVALID_REQUIRED_PROPERTY", "INVALID_SHEET_COUNT", "INVALID_SPREADSHEET", "LIMIT_EXCEEDED", "MANY_ERRORS_IN_ROW", "MISSING_EVENT_DEFINITION", "MISSING_EVENT_TIMESTAMP", "MISSING_OBJECT_DEFINITION", "MISSING_REQUIRED_PROPERTY", "MULTIPLE_COMPANIES_WITH_THIS_DOMAIN", "MULTIPLE_OWNERS_FOUND", "NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER", "OUTSIDE_VALID_TERM_RANGE", "OUTSIDE_VALID_TIME_RANGE", "PORTAL_WIDE_CUSTOM_OBJECT_LIMIT_EXCEEDED", "PROPERTY_DEFINITION_NOT_FOUND", "PROPERTY_VALUE_NOT_FOUND", "ROW_DATA_TOO_LARGE", "SECONDARY_EMAIL_WRITE_FAILURE", "UNKNOWN_ASSOCIATION_RECORD_ID", "UNKNOWN_BAD_REQUEST", "UNKNOWN_ERROR", "UPDATE_ONLY_IMPORT" ]
          },
          "extraContext" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "invalidPropertyValue" : {
            "$ref" : "#/components/schemas/PropertyValue"
          },
          "invalidValue" : {
            "type" : "string"
          },
          "invalidValueToDisplay" : {
            "type" : "string"
          },
          "knownColumnNumber" : {
            "type" : "integer",
            "format" : "int32"
          },
          "objectType" : {
            "type" : "string",
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "sourceData" : {
            "$ref" : "#/components/schemas/ImportRowCore"
          }
        }
      },
      "PublicImportMetadata" : {
        "required" : [ "counters", "fileIds", "objectLists" ],
        "type" : "object",
        "properties" : {
          "counters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Summarized outcomes of each row a developer attempted to import into HubSpot."
          },
          "fileIds" : {
            "type" : "array",
            "description" : "The IDs of files uploaded in the File Manager API.",
            "items" : {
              "type" : "string"
            }
          },
          "objectLists" : {
            "type" : "array",
            "description" : "The lists containing the imported objects.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListRecord"
            }
          }
        }
      },
      "PublicImportResponse" : {
        "required" : [ "createdAt", "id", "mappedObjectTypeIds", "metadata", "optOutImport", "state", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "importName" : {
            "type" : "string"
          },
          "importRequestJson" : {
            "type" : "object",
            "properties" : { }
          },
          "importSource" : {
            "type" : "string",
            "enum" : [ "API", "CRM_UI", "IMPORT", "MOBILE_ANDROID", "MOBILE_IOS", "SALESFORCE" ]
          },
          "importTemplate" : {
            "$ref" : "#/components/schemas/ImportTemplate"
          },
          "mappedObjectTypeIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicImportMetadata"
          },
          "optOutImport" : {
            "type" : "boolean",
            "description" : "Whether or not the import is a list of people disqualified from receiving emails."
          },
          "state" : {
            "type" : "string",
            "description" : "The status of the import.",
            "enum" : [ "CANCELED", "DEFERRED", "DONE", "FAILED", "PROCESSING", "REVERTED", "STARTED" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicObjectListRecord" : {
        "required" : [ "listId", "objectType" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string",
            "description" : "The ID of the list containing the imported objects."
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of object contained in the list."
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.import" : "Create or modify all your CRM data through bulk imports"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}