{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Forecast Types",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Forecast Types"
  } ],
  "paths" : {
    "/forecasting-settings/v3/forecast-types" : {
      "get" : {
        "tags" : [ "Forecast Types" ],
        "operationId" : "get-/forecasting-settings/v3/forecast-types_/forecasting-settings/v3/forecast-types",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForecastTypeSettingPublicResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - missing or invalid authentication",
            "content" : { }
          },
          "403" : {
            "description" : "Forbidden - insufficient permissions",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/forecasting-settings/v3/forecast-types/{forecastTypeId}" : {
      "get" : {
        "tags" : [ "Forecast Types" ],
        "operationId" : "get-/forecasting-settings/v3/forecast-types/{forecastTypeId}_/forecasting-settings/v3/forecast-types/{forecastTypeId}",
        "parameters" : [ {
          "name" : "forecastTypeId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForecastTypeSettingPublicResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - missing or invalid authentication",
            "content" : { }
          },
          "403" : {
            "description" : "Forbidden - insufficient permissions",
            "content" : { }
          },
          "404" : {
            "description" : "Forecast type not found",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ForecastTypeSettingPublicResponse" : {
        "required" : [ "amountOrDatePropertyRestrictedForUser", "amountProperty", "createdAt", "createdAtTimestamp", "createdBy", "dateProperty", "defaultType", "forecastName", "forecastTypeId", "id", "objectTypeId", "updatedAt", "updatedBy", "updatedTimestamp" ],
        "type" : "object",
        "properties" : {
          "amountInHomeCurrencyProperty" : {
            "type" : "string"
          },
          "amountOrDatePropertyRestrictedForUser" : {
            "type" : "boolean"
          },
          "amountProperty" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "createdAtTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "createdBy" : {
            "type" : "integer",
            "format" : "int32"
          },
          "dateProperty" : {
            "type" : "string"
          },
          "dealSplitProperties" : {
            "$ref" : "#/components/schemas/ForecastTypeDealSplitProperties"
          },
          "defaultType" : {
            "type" : "boolean"
          },
          "forecastName" : {
            "type" : "string"
          },
          "forecastTypeId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "id" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedBy" : {
            "type" : "integer",
            "format" : "int32"
          },
          "updatedTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "weightedAmountInHomeCurrencyProperty" : {
            "type" : "string"
          },
          "weightedAmountProperty" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ForecastTypeDealSplitProperties" : {
        "required" : [ "dealCustomAmountProperty", "dealCustomAmountPropertyInHomeCurrency", "dealCustomDateProperty", "dealSplitCustomAmountProperty", "dealSplitCustomAmountPropertyInHomeCurrency", "dealSplitWeightedCustomAmountProperty", "dealSplitWeightedCustomAmountPropertyInHomeCurrency" ],
        "type" : "object",
        "properties" : {
          "dealCustomAmountProperty" : {
            "type" : "string"
          },
          "dealCustomAmountPropertyInHomeCurrency" : {
            "type" : "string"
          },
          "dealCustomDateProperty" : {
            "type" : "string"
          },
          "dealSplitCustomAmountProperty" : {
            "type" : "string"
          },
          "dealSplitCustomAmountPropertyInHomeCurrency" : {
            "type" : "string"
          },
          "dealSplitWeightedCustomAmountProperty" : {
            "type" : "string"
          },
          "dealSplitWeightedCustomAmountPropertyInHomeCurrency" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : { }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}