{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Pipeline Governance",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve rules",
        "description" : "Retrieve the rules associated with a specific pipeline in your HubSpot account. This endpoint allows you to access governance validation rules and approval stages for the specified pipeline. It is useful for understanding the constraints and approval processes applied to the pipeline.",
        "operationId" : "get-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the pipeline rules are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline whose rules are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPipelineRules"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-governance-read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update rules (Replace)",
        "description" : "Update the rules for a specific pipeline in your HubSpot account. This endpoint allows you to modify governance validation rules and approval stages associated with a pipeline. It requires specifying the object type and pipeline identifiers.",
        "operationId" : "put-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the pipeline rules are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline whose rules are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPipelineRulesUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPipelineRules"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-governance-write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific set of pipeline rules associated with a given object type and pipeline ID in your HubSpot account. This operation is useful for removing obsolete or incorrect rules from a pipeline. Ensure that the objectTypeId and pipelineId are correctly specified to avoid unintended deletions.",
        "operationId" : "delete-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type associated with the pipeline rules to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline whose rules are to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-governance-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update rules (Partial)",
        "description" : "Update the rules for a specific pipeline within a given object type in HubSpot. This operation allows you to modify governance validation rules and approval stages for the specified pipeline. It is useful for maintaining or altering the workflow rules associated with your pipelines.",
        "operationId" : "patch-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the pipeline rules are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline whose rules are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPipelineRulesPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPipelineRules"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-governance-write" ]
        } ]
      }
    },
    "/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/start" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Start Approval",
        "description" : "Initiate the approval process for a specific pipeline within a given object type. This endpoint is useful for triggering approval workflows that are associated with pipeline stages, ensuring that the necessary approvals are obtained before proceeding with further actions in the pipeline.",
        "operationId" : "post-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/start_/crm/pipelines-rules/2026-09-beta/{objectTypeId}/{pipelineId}/approvals/start",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the approval process is being started.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline for which the approval process is being initiated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicCreateApprovalRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicObjectApprovalStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-governance-write" ]
        } ]
      }
    },
    "/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/{objectId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve Approval",
        "description" : "Retrieve the approval status of a specific object within a pipeline. This endpoint is useful for checking the current approval state of an object, which can be critical in workflows that require validation or authorization steps.",
        "operationId" : "get-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/{objectId}",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The unique identifier of the object for which the approval status is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier for the type of object being referenced.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline containing the object.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicObjectApprovalStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "deal-approval-read" ]
        } ]
      }
    },
    "/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/stage-edit-permissions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve permissions",
        "description" : "Retrieve the stage edit permissions for a specific pipeline in your HubSpot account. This endpoint allows you to view the permissions set for editing stages within a given pipeline, identified by its object type and pipeline ID. This can be useful for managing access and ensuring that only authorized users can modify pipeline stages.",
        "operationId" : "get-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/stage-edit-permissions",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the pipeline stage edit permissions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline whose stage edit permissions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPipelineStagePermissions"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-locked-stages-access", "pipeline-level-permissions-access" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update permissions",
        "description" : "Update the stage edit permissions for a specific pipeline in your HubSpot account. This endpoint allows you to modify which users or teams have access to edit stages within a specified pipeline. It is useful for managing access control and ensuring that only authorized personnel can make changes to the pipeline stages.",
        "operationId" : "put-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/stage-edit-permissions",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type associated with the pipeline.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pipelineId",
          "in" : "path",
          "description" : "The unique identifier of the pipeline for which stage edit permissions are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPipelineStagePermissionsUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPipelineStagePermissions"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-access", "crm-pipelines-locked-stages-write", "pipeline-level-permissions-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string representing the general category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition, with properties as arrays of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the request for tracking and debugging purposes.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects that provide detailed information about each error encountered.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing related links, where each key is a string and the value is a string representing a URL.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable message describing the error.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A string providing more specific details about the error category.",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. This is a string property.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties. Each property is an array of strings providing further details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This is a string property.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a required string property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. This is a string property.",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "PublicAbsoluteComparativeTimestampRefineBy" : {
        "title" : "ABSOLUTE_COMPARATIVE",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string representing the type of comparison to be made with the timestamp.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the specific point in time to be used for the comparison, formatted as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refinement, which is 'ABSOLUTE_COMPARATIVE'.",
            "example" : null,
            "default" : "ABSOLUTE_COMPARATIVE",
            "enum" : [ "ABSOLUTE_COMPARATIVE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAbsoluteRangedTimestampRefineBy" : {
        "title" : "ABSOLUTE_RANGED",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the timestamp range, specified as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string representing the type of range being defined.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refine by operation. The default value is 'ABSOLUTE_RANGED'.",
            "example" : null,
            "default" : "ABSOLUTE_RANGED",
            "enum" : [ "ABSOLUTE_RANGED" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the timestamp range, specified as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsSearchFilter" : {
        "title" : "ADS_SEARCH",
        "required" : [ "adNetwork", "entityType", "filterType", "operator", "searchTermType", "searchTerms" ],
        "type" : "object",
        "properties" : {
          "adNetwork" : {
            "type" : "string",
            "description" : "A string identifying the ad network where the search is performed.",
            "example" : null
          },
          "entityType" : {
            "type" : "string",
            "description" : "A string representing the type of entity being filtered.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter being applied. Default value is 'ADS_SEARCH'.",
            "example" : null,
            "default" : "ADS_SEARCH",
            "enum" : [ "ADS_SEARCH" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that specifies the operation or condition applied to the filter.",
            "example" : null
          },
          "searchTermType" : {
            "type" : "string",
            "description" : "A string specifying the type of search term used in the filter.",
            "example" : null
          },
          "searchTerms" : {
            "type" : "array",
            "description" : "An array of strings containing the terms used to search within the ad network.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsTimeFilter" : {
        "title" : "ADS_TIME",
        "required" : [ "filterType", "pruningRefineBy" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string that indicates the type of filter being applied. The default value is 'ADS_TIME'.",
            "example" : null,
            "default" : "ADS_TIME",
            "enum" : [ "ADS_TIME" ]
          },
          "pruningRefineBy" : {
            "description" : "An object that defines the criteria for refining the filter based on time attributes. It can be one of several types, such as PublicNumOccurrencesRefineBy, PublicSetOccurrencesRefineBy, or various timestamp refine types.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of refinement. The default and only valid value is 'ALL_HISTORY'.",
            "example" : null,
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation. The default and only valid value is 'ALL_PROPERTY_TYPES'.",
            "example" : null,
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator to be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the logical operator used in the filter branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. Defaults to 'AND'.",
            "example" : null,
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of nested filter branches, which can include 'OR', 'AND', 'NOT_ALL', 'NOT_ANY', 'RESTRICTED', 'UNIFIED_EVENTS', and 'ASSOCIATION' filter branches.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters that are applied within this branch. These can include various types of filters such as property filters, event filters, and subscription filters.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicApprovalStageRule" : {
        "required" : [ "approvalMode", "approverUserIds", "pipelineStageId" ],
        "type" : "object",
        "properties" : {
          "approvalComment" : {
            "type" : "string",
            "description" : "A string that allows for an optional comment or note regarding the approval process.",
            "example" : null
          },
          "approvalMode" : {
            "type" : "string",
            "description" : "Specifies the mode of approval required. It can be either 'ALL', meaning all approvers must approve, or 'ANY', meaning any one approver can approve. It is a string.",
            "example" : null,
            "enum" : [ "ALL", "ANY" ]
          },
          "approverUserIds" : {
            "type" : "array",
            "description" : "An array of user IDs representing the users who are designated as approvers for this stage. Each user ID is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "conditionalApprovalFilterBranch" : {
            "description" : "Defines the conditions under which the approval is required. It can be one of several filter branch types, such as PublicOrFilterBranch or PublicAndFilterBranch, which determine the logical conditions for approval.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "pipelineStageId" : {
            "type" : "string",
            "description" : "The unique identifier for the pipeline stage that this approval rule applies to. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicApprovalStageRuleRequest" : {
        "required" : [ "approvalMode", "approverUserIds", "pipelineStageId" ],
        "type" : "object",
        "properties" : {
          "approvalComment" : {
            "type" : "string",
            "description" : "A string that allows an optional comment to be added to the approval rule.",
            "example" : null
          },
          "approvalMode" : {
            "type" : "string",
            "description" : "Specifies the mode of approval required. It can be either 'ALL', meaning all specified users must approve, or 'ANY', meaning any one of the specified users can approve.",
            "example" : null,
            "enum" : [ "ALL", "ANY" ]
          },
          "approverUserIds" : {
            "type" : "array",
            "description" : "An array of user IDs representing the users who are authorized to approve the stage transition. Each ID is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "conditionalApprovalFilterBranch" : {
            "description" : "Defines conditional logic for the approval process using a filter branch. It can be one of several types, such as PublicOrFilterBranch or PublicAndFilterBranch, to specify complex approval conditions.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "pipelineStageId" : {
            "type" : "string",
            "description" : "The unique identifier for the pipeline stage that the approval rule applies to. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string indicating the category of the association.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the association type.",
            "format" : "int32",
            "example" : null
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used to combine the filter branches.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch, which is 'ASSOCIATION' by default.",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of filter branches that can include various types of branches such as OR, AND, NOT_ALL, NOT_ANY, RESTRICTED, UNIFIED_EVENTS, and ASSOCIATION.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters that can include different types of filters such as property filters, association filters, and various analytics filters.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the ID of the object type involved in the association.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter branch.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationInListFilter" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "coalescingRefineBy", "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string that specifies the category of the association.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer that identifies the type of association.",
            "format" : "int32",
            "example" : null
          },
          "coalescingRefineBy" : {
            "description" : "An object that defines the criteria for refining the filter. It can be one of several types, such as PublicNumOccurrencesRefineBy or PublicTimePointOperation.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'ASSOCIATION'.",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "A string that identifies the list to which the filter is applied.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that represents the operator used in the filter.",
            "example" : null
          },
          "toObjectType" : {
            "type" : "string",
            "description" : "A string that specifies the type of the object to which the association is made.",
            "example" : null
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "A string that specifies the type ID of the object to which the association is made.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicBoolPropertyOperation" : {
        "title" : "BOOL",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation. The default value is 'BOOLEAN'.",
            "example" : null,
            "default" : "BOOL",
            "enum" : [ "BOOL" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operator used in the boolean operation.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean representing the value to be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCalendarDatePropertyOperation" : {
        "title" : "CALENDAR_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string indicating the start month of the fiscal year. Valid values include 'JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST', 'SEPTEMBER', 'OCTOBER', 'NOVEMBER', and 'DECEMBER'.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'CALENDAR_DATE'.",
            "example" : null,
            "default" : "CALENDAR_DATE",
            "enum" : [ "CALENDAR_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string specifying the unit of time for the operation.",
            "example" : null
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer specifying the count of the time units for the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the fiscal year should be used.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "acceptedOptStates" : {
            "type" : "array",
            "description" : "An array of strings representing the accepted opt-in states for the subscription.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the ID of the business unit associated with the subscription.",
            "example" : null
          },
          "channel" : {
            "type" : "string",
            "description" : "A string indicating the communication channel associated with the subscription.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that indicates the type of filter. The default value is 'COMMUNICATION_SUBSCRIPTION'.",
            "example" : null,
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the subscriptions to be filtered.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "A string indicating the type of subscription.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be used for comparison.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used for comparison if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation. The default value is 'COMPARATIVE_DATE'.",
            "example" : null,
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used for comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "An optional value used as a default for comparison if the comparison property is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation. The default value is 'COMPARATIVE_PROPERTY_UPDATED'.",
            "example" : null,
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the operator used in the comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeStringPropertyOperation" : {
        "title" : "COMPARATIVE_STRING",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be compared.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "The default value to be used for comparison if the property value is not set, represented as a string.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'COMPARATIVE_STRING' by default.",
            "example" : null,
            "default" : "COMPARATIVE_STRING",
            "enum" : [ "COMPARATIVE_STRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "The operator used for the comparison operation. It is a string value.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter. It defaults to 'CONSTANT' and must be one of the predefined filter types.",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "shouldAccept" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the filter should accept the criteria it evaluates.",
            "example" : null
          },
          "source" : {
            "type" : "string",
            "description" : "A string representing the origin or context from which the filter is applied.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCreateApprovalRequest" : {
        "required" : [ "objectId" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "description" : "The unique identifier of the object for which the approval request is being created. It is an integer formatted as int64.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An optional refinement criterion that can be one of several types, including occurrences and timestamp comparisons.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "ctaName" : {
            "type" : "string",
            "description" : "A string representing the name of the Call-To-Action being filtered.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter, defaulting to 'CTA'.",
            "example" : null,
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the operation to be applied in the filter.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "An optional refinement criterion used to narrow down data, similar to coalescingRefineBy, with options like occurrences and timestamp comparisons.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time representation.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone information.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePropertyOperation" : {
        "title" : "DATE",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day involved in the date operation.",
            "format" : "int32",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a set value should be included in the operation.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "A string representing the month involved in the date operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the date operation.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year involved in the date operation.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDateTimePropertyOperation" : {
        "title" : "DATETIME",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a set value should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'DATETIME' for this component.",
            "example" : null,
            "default" : "DATETIME",
            "enum" : [ "DATETIME" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the datetime operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean specifying whether the datetime operation requires conversion based on time zones.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp involved in the operation, formatted as an int64.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEmailEventFilter" : {
        "title" : "EMAIL_EVENT",
        "required" : [ "appId", "emailId", "filterType", "level", "operator" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "string",
            "description" : "A string that identifies the application associated with the email event.",
            "example" : null
          },
          "clickUrl" : {
            "type" : "string",
            "description" : "A string representing the URL that was clicked in the email event.",
            "example" : null
          },
          "emailId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the email associated with the event.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'EMAIL_EVENT'.",
            "example" : null,
            "default" : "EMAIL_EVENT",
            "enum" : [ "EMAIL_EVENT" ]
          },
          "level" : {
            "type" : "string",
            "description" : "A string representing the level of the email event.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the operation or event type for filtering. Valid values include 'LINK_CLICKED', 'MARKED_SPAM', 'OPENED', 'OPENED_BUT_LINK_NOT_CLICKED', 'OPENED_BUT_NOT_REPLIED', 'REPLIED', 'UNSUBSCRIBED', 'BOUNCED', 'RECEIVED', 'RECEIVED_BUT_NOT_OPENED', 'SENT', 'SENT_BUT_LINK_NOT_CLICKED', and 'SENT_BUT_NOT_RECEIVED'.",
            "example" : null,
            "enum" : [ "BOUNCED", "LINK_CLICKED", "MARKED_SPAM", "OPENED", "OPENED_BUT_LINK_NOT_CLICKED", "OPENED_BUT_NOT_REPLIED", "RECEIVED", "RECEIVED_BUT_NOT_OPENED", "REPLIED", "SENT", "SENT_BUT_LINK_NOT_CLICKED", "SENT_BUT_NOT_RECEIVED", "UNSUBSCRIBED" ]
          },
          "pruningRefineBy" : {
            "description" : "An object that specifies additional criteria for refining the filter, which can be one of several types such as 'PublicNumOccurrencesRefineBy', 'PublicSetOccurrencesRefineBy', 'PublicRelativeComparativeTimestampRefineBy', 'PublicRelativeRangedTimestampRefineBy', 'PublicAbsoluteComparativeTimestampRefineBy', 'PublicAbsoluteRangedTimestampRefineBy', 'PublicAllHistoryRefineBy', 'PublicTimePointOperation', or 'PublicRangedTimeOperation'.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "acceptedStatuses" : {
            "type" : "array",
            "description" : "An array of strings indicating the statuses that are accepted for the filter.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter, which is 'EMAIL_SUBSCRIPTION' for this component.",
            "example" : null,
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the subscriptions to be filtered.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "A string representing the type of subscription.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation, defaulting to 'ENUMERATION'.",
            "example" : null,
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operator used in the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values involved in the enumeration operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventAnalyticsFilter" : {
        "title" : "EVENT",
        "required" : [ "eventId", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An optional refinement criterion that can be one of several types, such as occurrences or timestamp comparisons, to further refine the filter results.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "eventId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the event to be filtered.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter, which is always 'EVENT' for this component.",
            "example" : null,
            "default" : "EVENT",
            "enum" : [ "EVENT" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation or condition applied in the filter.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "An optional refinement criterion similar to coalescingRefineBy, used to prune the filter results based on specific conditions.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventFilterMetadata" : {
        "required" : [ "operation", "property" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "description" : "An object that defines the operation to be performed on the specified property. This operation can be one of several types, such as boolean, number, string, or date operations, among others.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "description" : "A string representing the specific property of the event that the filter is targeting.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFiscalQuarterReference" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month within the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month of the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_QUARTER' by default.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFiscalYearReference" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string that specifies the type of reference, defaulting to 'FISCAL_YEAR'.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object used to refine the filter by coalescing criteria. It can be one of several types, such as occurrences or timestamp-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'FORM_SUBMISSION'.",
            "example" : null,
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the form.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that specifies the operation to apply, with valid values being 'FILLED_OUT' or 'NOT_FILLED_OUT'.",
            "example" : null,
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pruningRefineBy" : {
            "description" : "An object used to refine the filter by pruning criteria. It can be one of several types, such as occurrences or timestamp-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFormSubmissionOnPageFilter" : {
        "title" : "FORM_SUBMISSION_ON_PAGE",
        "required" : [ "filterType", "operator", "pageId" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "Criteria used to refine the filter by coalescing, which can include various timestamp operations.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "The type of filter being applied. Defaults to 'FORM_SUBMISSION_ON_PAGE'.",
            "example" : null,
            "default" : "FORM_SUBMISSION_ON_PAGE",
            "enum" : [ "FORM_SUBMISSION_ON_PAGE" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "The unique identifier of the form being filtered.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "The operation to apply, which can be either 'FILLED_OUT' or 'NOT_FILLED_OUT'.",
            "example" : null,
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pageId" : {
            "type" : "string",
            "description" : "The unique identifier of the page where the form submission is being filtered.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "Criteria used to refine the filter by pruning, which can include various timestamp operations.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicGovernanceValidationRules" : {
        "required" : [ "noBackwardsMovementRule", "noSkippingStagesRule", "objectCreationRule" ],
        "type" : "object",
        "properties" : {
          "noBackwardsMovementRule" : {
            "$ref" : "#/components/schemas/PublicSequenceValidationRule"
          },
          "noSkippingStagesRule" : {
            "$ref" : "#/components/schemas/PublicSequenceValidationRule"
          },
          "objectCreationRule" : {
            "$ref" : "#/components/schemas/PublicObjectCreationRule"
          }
        },
        "example" : null
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter being applied. The default value is 'IN_LIST'.",
            "example" : null,
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the list to be used in the filter.",
            "example" : null
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the operator used in the filter.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the list. It is a string that specifies which list the filter is associated with.",
            "example" : null
          },
          "inListType" : {
            "type" : "string",
            "description" : "A string representing the type of list used in the filter. This property defines the context or category of the list being referenced.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days for the offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours for the offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds for the offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes for the offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months for the offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters for the offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds for the offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks for the offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years for the offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "A reference point for indexing the time, which can be one of several predefined time references such as 'NOW', 'TODAY', 'WEEK', etc.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string representing the type of time point, which is always 'INDEXED'.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string indicating the source of the timezone information.",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicIntegrationEventFilter" : {
        "title" : "INTEGRATION_EVENT",
        "required" : [ "eventTypeId", "filterLines", "filterType" ],
        "type" : "object",
        "properties" : {
          "eventTypeId" : {
            "type" : "integer",
            "description" : "A string that uniquely identifies the type of event to be filtered. This property is used to specify which event type the filter applies to.",
            "format" : "int32",
            "example" : null
          },
          "filterLines" : {
            "type" : "array",
            "description" : "An array of filter lines that contain the metadata for the event filter. Each item in the array is a detailed specification of the criteria used to filter events.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicEventFilterMetadata"
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string representing the type of filter. It is a required field and typically has a default value specific to the filter type.",
            "example" : null,
            "default" : "INTEGRATION_EVENT",
            "enum" : [ "INTEGRATION_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'MONTH' by default.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiStringPropertyOperation" : {
        "title" : "MULTISTRING",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'MULTISTRING' by default.",
            "example" : null,
            "default" : "MULTISTRING",
            "enum" : [ "MULTISTRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used for the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values to be used in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used to combine the filter branches.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
[...]
