{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Sequences",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Enrollment"
  } ],
  "paths" : {
    "/automation/sequences/2026-09" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List sequences",
        "description" : "Retrieve a list of sequences for a specified user in your HubSpot account. This endpoint allows you to filter sequences by user ID and optionally paginate through results using a cursor. It is useful for managing and reviewing sequences associated with a particular user. ",
        "operationId" : "get-/automation/sequences/2026-09",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "description" : "The unique identifier of the user whose sequences are to be retrieved. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token for pagination. Use the value from the previous response's paging.next.after field to get the next set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter sequences by their name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicSequenceLiteResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    },
    "/automation/sequences/2026-09/enrollments" : {
      "post" : {
        "tags" : [ "Enrollment" ],
        "summary" : "Enroll a contact",
        "description" : "Enroll a contact into a sequence using the specified sequence ID. This operation requires the user ID to be provided as a query parameter. The request body must include the contact ID, sender email, and sequence ID. This endpoint is useful for automating the enrollment of contacts into predefined sequences for streamlined communication and follow-up processes.",
        "operationId" : "post-/automation/sequences/2026-09/enrollments",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "description" : "The unique identifier of the user performing the enrollment. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSequenceEnrollmentRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceEnrollmentLiteResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.enrollments.write" ]
        } ]
      }
    },
    "/automation/sequences/2026-09/enrollments/contact/{contactId}" : {
      "get" : {
        "tags" : [ "Enrollment" ],
        "summary" : "Retrieve enrollment details",
        "description" : "Retrieve the sequence enrollment details for a specific contact in your HubSpot account. This endpoint provides information about the sequence a contact is enrolled in, including enrollment dates and the sequence's name and ID.",
        "operationId" : "get-/automation/sequences/2026-09/enrollments/contact/{contactId}",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "The unique identifier of the contact whose sequence enrollment details are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceEnrollmentResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    },
    "/automation/sequences/2026-09/serviceaccounts/enrollments" : {
      "post" : {
        "tags" : [ "Enrollment" ],
        "summary" : "Enroll Service Account",
        "description" : "Enroll a service account into a sequence using the specified enrollment details. This endpoint is useful for automating the process of adding service accounts to sequences, which can help streamline workflows and ensure consistent engagement strategies. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "post-/automation/sequences/2026-09/serviceaccounts/enrollments",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSequenceEnrollmentRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceEnrollmentLiteResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.enrollments.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/automation/sequences/2026-09/serviceaccounts/sequences" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List sequences",
        "description" : "Retrieve a list of sequences available in the service account. This endpoint supports pagination and allows filtering by sequence name. It is useful for obtaining an overview of sequences for management or reporting purposes. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "get-/automation/sequences/2026-09/serviceaccounts/sequences",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter sequences by their name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicSequenceLiteResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create sequence",
        "description" : "Create a new sequence in your HubSpot account using the specified settings and steps. This endpoint allows you to define the sequence's properties, such as its name, settings, steps, and dependencies, to automate processes effectively. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "post-/automation/sequences/2026-09/serviceaccounts/sequences",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSequenceRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCreateSequenceResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve sequence",
        "description" : "Retrieve details of a specific sequence in your HubSpot account using the sequence ID. This endpoint provides comprehensive information about the sequence, including its settings, steps, and dependencies. It is useful for obtaining sequence configurations and understanding the sequence's structure and components. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "get-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "description" : "The unique identifier of the sequence to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceResponseV2"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update sequence",
        "description" : "Update an existing sequence in your HubSpot account using its unique identifier. This endpoint allows you to modify the sequence settings, steps, and dependencies. Ensure that the sequenceId provided in the path is valid and corresponds to the sequence you wish to update. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "put-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "description" : "The unique identifier of the sequence to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSequenceRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceResponseV2"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete sequence",
        "description" : "Delete a specific sequence in your HubSpot account using its unique identifier. This operation will remove the sequence and can optionally override active enrollments if specified. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "delete-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "description" : "The unique identifier of the sequence to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "overrideActiveEnrollment",
          "in" : "query",
          "description" : "A boolean indicating whether to override active enrollments when deleting the sequence.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}/performance" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve performance",
        "description" : "Retrieve the performance metrics of a specific sequence in your HubSpot account. This endpoint provides detailed insights into the sequence's effectiveness, including metrics such as opened, clicked, and replied rates. It is useful for analyzing the success of your sequences over time. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "get-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}/performance",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "description" : "The unique identifier of the sequence to retrieve performance metrics for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "timelineInterval",
          "in" : "query",
          "description" : "The interval for the timeline data. Defaults to 'WEEK'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "default" : "WEEK"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequencePerformanceResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/automation/sequences/2026-09/{sequenceId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve sequence",
        "description" : "Retrieve details of a specific sequence in your HubSpot account using its unique identifier. This endpoint requires specifying the sequence ID and the user ID associated with the sequence. It is useful for accessing detailed information about a sequence's configuration and status. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
        "operationId" : "get-/automation/sequences/2026-09/{sequenceId}",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "description" : "The unique identifier of the sequence to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The unique identifier of the user associated with the sequence. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseWithTotalPublicSequenceLiteResponse" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of sequence objects, each represented by a PublicSequenceLiteResponse.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceLiteResponse"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of sequences available. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "EmailSettingsResponse" : {
        "required" : [ "criteria", "sellingStrategy" ],
        "type" : "object",
        "properties" : {
          "criteria" : {
            "type" : "string",
            "description" : "A string representing the criteria for email settings. Valid values include 'ALL' and 'NONE'.",
            "example" : null,
            "enum" : [ "ALL", "NONE" ]
          },
          "sellingStrategy" : {
            "type" : "string",
            "description" : "A string indicating the selling strategy for email settings. Valid values are 'LEAD_BASED' and 'ACCOUNT_BASED'.",
            "example" : null,
            "enum" : [ "ACCOUNT_BASED", "LEAD_BASED" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category, indicating the general type of error that occurred.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties that are arrays of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets. It is formatted as a UUID.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail, indicating the type of error encountered.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, provided as an object with additional properties. This can include specific details such as missing scopes.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This provides context about where the error occurred.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. This is a required field.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, helping to further classify the error.",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "MeetingSettingsResponse" : {
        "required" : [ "criteria", "sellingStrategy" ],
        "type" : "object",
        "properties" : {
          "criteria" : {
            "type" : "string",
            "description" : "Specifies the criteria for meetings, with valid values being 'ALL' or 'NONE'.",
            "example" : null,
            "enum" : [ "ALL", "NONE" ]
          },
          "sellingStrategy" : {
            "type" : "string",
            "description" : "Indicates the selling strategy employed, which can be either 'LEAD_BASED' or 'ACCOUNT_BASED'.",
            "example" : null,
            "enum" : [ "ACCOUNT_BASED", "LEAD_BASED" ]
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to fetch the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token used to retrieve the previous page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that points to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "PublicCreateSequenceResponse" : {
        "required" : [ "sequence" ],
        "type" : "object",
        "properties" : {
          "sequence" : {
            "$ref" : "#/components/schemas/PublicSequenceResponseV2"
          },
          "userView" : {
            "$ref" : "#/components/schemas/PublicCreateSequenceUserViewResponse"
          }
        },
        "example" : null
      },
      "PublicCreateSequenceUserViewResponse" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the user. It is a string.",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user. It is a string.",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicEmailPatternResponse" : {
        "required" : [ "createdAt", "id", "templateId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this email pattern was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this email pattern. It is a string.",
            "example" : null
          },
          "templateId" : {
            "type" : "string",
            "description" : "The identifier of the email template associated with this pattern. It is a string.",
            "example" : null
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step to which this email pattern is threaded.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this email pattern was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceCompanyMetricsResponse" : {
        "required" : [ "companiesEngaged", "companiesEnrolled", "companiesScheduledMeeting", "contactsEnrolledWithCompanyId" ],
        "type" : "object",
        "properties" : {
          "companiesEngaged" : {
            "type" : "integer",
            "description" : "The number of companies that have engaged with the sequence. An integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "companiesEnrolled" : {
            "type" : "integer",
            "description" : "The number of companies that have been enrolled in the sequence. An integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "companiesScheduledMeeting" : {
            "type" : "integer",
            "description" : "The number of companies that have scheduled a meeting as a result of the sequence. An integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "contactsEnrolledWithCompanyId" : {
            "type" : "integer",
            "description" : "The number of contacts enrolled in the sequence that are associated with a company ID. An integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEmailPatternRequest" : {
        "required" : [ "templateId" ],
        "type" : "object",
        "properties" : {
          "templateId" : {
            "type" : "string",
            "description" : "The unique identifier for the email template to be used. It is a string and is required.",
            "example" : null
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the step order to which the email should be threaded. This property is optional.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEngagementTriggersRequest" : {
        "type" : "object",
        "properties" : {
          "numberOfClicks" : {
            "type" : "integer",
            "description" : "An integer representing the number of times links within an email must be clicked to trigger an engagement action.",
            "format" : "int32",
            "example" : null
          },
          "numberOfOpens" : {
            "type" : "integer",
            "description" : "An integer representing the number of times an email must be opened to trigger an engagement action.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEnrollmentLiteResponse" : {
        "required" : [ "enrolledAt", "id", "toEmail", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "enrolledAt" : {
            "type" : "string",
            "description" : "The date and time when the contact was enrolled in the sequence, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence enrollment.",
            "example" : null
          },
          "toEmail" : {
            "type" : "string",
            "description" : "The email address of the contact who is enrolled in the sequence.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence enrollment was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEnrollmentRequest" : {
        "required" : [ "contactId", "senderEmail", "sequenceId" ],
        "type" : "object",
        "properties" : {
          "contactId" : {
            "type" : "string",
            "description" : "The unique identifier of the contact to be enrolled in the sequence. It is a string.",
            "example" : null
          },
          "senderAliasAddress" : {
            "type" : "string",
            "description" : "An optional alias email address that can be used as the sender's address. It is a string.",
            "example" : null
          },
          "senderEmail" : {
            "type" : "string",
            "description" : "The email address of the sender responsible for the sequence enrollment. It is a string.",
            "example" : null
          },
          "sequenceId" : {
            "type" : "string",
            "description" : "The unique identifier of the sequence in which the contact is to be enrolled. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEnrollmentResponse" : {
        "required" : [ "enrolledAt", "enrolledBy", "enrolledByEmail", "id", "sequenceId", "sequenceName", "toEmail", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "enrolledAt" : {
            "type" : "string",
            "description" : "The date and time when the contact was enrolled in the sequence, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "enrolledBy" : {
            "type" : "string",
            "description" : "The unique identifier of the user who enrolled the contact in the sequence.",
            "example" : null
          },
          "enrolledByEmail" : {
            "type" : "string",
            "description" : "The email address of the user who enrolled the contact in the sequence.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence enrollment.",
            "example" : null
          },
          "sequenceId" : {
            "type" : "string",
            "description" : "The unique identifier of the sequence in which the contact is enrolled.",
            "example" : null
          },
          "sequenceName" : {
            "type" : "string",
            "description" : "The name of the sequence in which the contact is enrolled.",
            "example" : null
          },
          "toEmail" : {
            "type" : "string",
            "description" : "The email address of the contact enrolled in the sequence.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence enrollment was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceEnrollmentStatusByStepResponse" : {
        "required" : [ "count", "currentStepOrder", "enrollmentStatus" ],
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "description" : "An integer in int64 format representing the number of enrollments at the current step.",
            "format" : "int64",
            "example" : null
          },
          "currentStepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order of the current step in the sequence.",
            "format" : "int32",
            "example" : null
          },
          "enrollmentStatus" : {
            "type" : "string",
            "description" : "A string representing the status of the enrollment at the current step.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceLiteResponse" : {
        "required" : [ "createdAt", "id", "name", "updatedAt", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "folderId" : {
            "type" : "string",
            "description" : "The identifier of the folder containing the sequence, represented as a string.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the sequence, represented as a string.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "userId" : {
            "type" : "string",
            "description" : "The unique identifier of the user associated with the sequence, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequencePerformanceResponse" : {
        "required" : [ "sequenceId", "statusByStep", "steps", "summary", "timeline" ],
        "type" : "object",
        "properties" : {
          "companyMetrics" : {
            "$ref" : "#/components/schemas/PublicSequenceCompanyMetricsResponse"
          },
          "sequenceId" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence, represented as a string.",
            "example" : null
          },
          "statusByStep" : {
            "type" : "array",
            "description" : "An array of objects detailing the enrollment status for each step in the sequence, including the count and current step order.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceEnrollmentStatusByStepResponse"
            }
          },
          "steps" : {
            "type" : "array",
            "description" : "An array of objects, each representing the performance metrics for individual steps within the sequence.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepPerformanceResponse"
            }
          },
          "summary" : {
            "$ref" : "#/components/schemas/PublicSequencePerformanceSummaryResponse"
          },
          "timeline" : {
            "type" : "array",
            "description" : "An array of objects representing points in time with specific performance metrics, such as enrollments and meetings booked.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceTimelinePointResponse"
            }
          }
        },
        "example" : null
      },
      "PublicSequencePerformanceSummaryResponse" : {
        "required" : [ "bounced", "clicked", "contacts", "engaged", "enrolled", "meetingsBooked", "noResponse", "opened", "replied", "unsubscribed" ],
        "type" : "object",
        "properties" : {
          "associatedDeals" : {
            "type" : "integer",
            "description" : "The number of deals associated with the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "bounced" : {
            "type" : "integer",
            "description" : "The number of emails in the sequence that bounced. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "clicked" : {
            "type" : "integer",
            "description" : "The number of times links in the sequence emails have been clicked. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "contacts" : {
            "type" : "integer",
            "description" : "The total number of contacts associated with the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "dealsClosed" : {
            "type" : "integer",
            "description" : "The number of deals closed as a result of the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "engaged" : {
            "type" : "integer",
            "description" : "The number of contacts who engaged with the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "enrolled" : {
            "type" : "integer",
            "description" : "The number of contacts enrolled in the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "meetingsBooked" : {
            "type" : "integer",
            "description" : "The number of meetings booked as a result of the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "noResponse" : {
            "type" : "integer",
            "description" : "The number of contacts who did not respond to the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "opened" : {
            "type" : "integer",
            "description" : "The number of times emails in the sequence have been opened. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "replied" : {
            "type" : "integer",
            "description" : "The number of replies received from emails in the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "totalRevenue" : {
            "type" : "number",
            "description" : "The total revenue generated from the sequence. Represented as a number.",
            "example" : null
          },
          "unsubscribed" : {
            "type" : "integer",
            "description" : "The number of contacts who unsubscribed from the sequence. Represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceRequest" : {
        "required" : [ "dependencies", "dynamic", "name", "settings", "steps" ],
        "type" : "object",
        "properties" : {
          "dependencies" : {
            "type" : "array",
            "description" : "An array of dependencies between sequence steps, each defined by the PublicSequenceStepDependencyRequest schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepDependencyRequest"
            }
          },
          "dynamic" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the sequence is dynamic.",
            "example" : null
          },
          "engagementTriggers" : {
            "$ref" : "#/components/schemas/PublicSequenceEngagementTriggersRequest"
          },
          "folderId" : {
            "type" : "string",
            "description" : "The identifier of the folder where the sequence is stored. It is a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the sequence. It is a string.",
            "example" : null
          },
          "settings" : {
            "$ref" : "#/components/schemas/PublicSequenceSettingsRequest"
          },
          "steps" : {
            "type" : "array",
            "description" : "An array of steps in the sequence, each defined by the PublicSequenceStepRequest schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepRequest"
            }
          }
        },
        "example" : null
      },
      "PublicSequenceResponse" : {
        "required" : [ "createdAt", "dependencies", "id", "name", "steps", "updatedAt", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "dependencies" : {
            "type" : "array",
            "description" : "An array of dependencies between sequence steps, each represented by a PublicSequenceStepDependencyResponse object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepDependencyResponse"
            }
          },
          "folderId" : {
            "type" : "string",
            "description" : "The unique identifier for the folder containing the sequence.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the sequence.",
            "example" : null
          },
          "settings" : {
            "$ref" : "#/components/schemas/PublicSequenceSettingsResponse"
          },
          "steps" : {
            "type" : "array",
            "description" : "An array of steps included in the sequence, each represented by a PublicSequenceStepResponse object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "userId" : {
            "type" : "string",
            "description" : "The unique identifier of the user who owns the sequence.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceResponseV2" : {
        "required" : [ "createdAt", "dependencies", "id", "name", "steps", "updatedAt", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "dependencies" : {
            "type" : "array",
            "description" : "An array of dependencies between steps in the sequence, each represented by a PublicSequenceStepDependencyResponse object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepDependencyResponse"
            }
          },
          "folderId" : {
            "type" : "string",
            "description" : "The identifier for the folder containing the sequence.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the sequence.",
            "example" : null
          },
          "settings" : {
            "$ref" : "#/components/schemas/PublicSequenceSettingsResponse"
          },
          "steps" : {
            "type" : "array",
            "description" : "An array of steps included in the sequence, each represented by a PublicSequenceStepResponseV2 object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepResponseV2"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "userId" : {
            "type" : "string",
            "description" : "The unique identifier of the user who owns the sequence.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceSettingsRequest" : {
        "required" : [ "eligibleFollowUpDays", "individualTaskRemindersEnabled", "sellingStrategy", "sendWindowEndMinute", "sendWindowStartMinute", "taskCreationMinute", "taskReminderMinute", "unenrollmentSettings", "useThreadedFollowUps" ],
        "type" : "object",
        "properties" : {
          "eligibleFollowUpDays" : {
            "type" : "string",
            "description" : "Specifies the days on which follow-ups are eligible to be sent. Valid values include 'EVERYDAY', 'BUSINESS_DAYS', and 'WEEKDAYS_ONLY'.",
            "example" : null,
            "enum" : [ "BUSINESS_DAYS", "EVERYDAY", "WEEKDAYS_ONLY" ]
          },
          "individualTaskRemindersEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether individual task reminders are enabled.",
            "example" : null
          },
          "sellingStrategy" : {
            "type" : "string",
            "description" : "Defines the selling strategy to be used. Valid values include 'LEAD_BASED' and 'ACCOUNT_BASED'.",
            "example" : null,
            "enum" : [ "ACCOUNT_BASED", "LEAD_BASED" ]
          },
          "sendWindowEndMinute" : {
            "type" : "integer",
            "description" : "An integer representing the end minute of the window during which emails can be sent.",
            "format" : "int32",
            "example" : null
          },
          "sendWindowStartMinute" : {
            "type" : "integer",
            "description" : "An integer representing the start minute of the window during which emails can be sent.",
            "format" : "int32",
            "example" : null
          },
          "taskCreationMinute" : {
            "type" : "integer",
            "description" : "An integer indicating the minute at which tasks should be created.",
            "format" : "int32",
            "example" : null
          },
          "taskReminderMinute" : {
            "type" : "integer",
            "description" : "An integer indicating the minute at which task reminders should be sent.",
            "format" : "int32",
            "example" : null
          },
          "unenrollmentSettings" : {
            "$ref" : "#/components/schemas/UnenrollmentSettingsResponse"
          },
          "useThreadedFollowUps" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether follow-ups should be threaded.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceSettingsResponse" : {
        "required" : [ "createdAt", "eligibleFollowUpDays", "id", "individualTaskRemindersEnabled", "sellingStrategy", "sendWindowEndMinute", "sendWindowStartMinute", "taskReminderMinute", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence settings were created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "eligibleFollowUpDays" : {
            "type" : "string",
            "description" : "Specifies the days eligible for follow-ups. Valid values include 'EVERYDAY', 'BUSINESS_DAYS', and 'WEEKDAYS_ONLY'.",
            "example" : null,
            "enum" : [ "BUSINESS_DAYS", "EVERYDAY", "WEEKDAYS_ONLY" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the sequence settings.",
            "example" : null
          },
          "individualTaskRemindersEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether individual task reminders are enabled.",
            "example" : null
          },
          "sellingStrategy" : {
            "type" : "string",
            "description" : "The strategy used for selling, which can be either 'LEAD_BASED' or 'ACCOUNT_BASED'.",
            "example" : null,
            "enum" : [ "ACCOUNT_BASED", "LEAD_BASED" ]
          },
          "sendWindowEndMinute" : {
            "type" : "integer",
            "description" : "The ending minute of the window during which emails can be sent, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "sendWindowStartMinute" : {
            "type" : "integer",
            "description" : "The starting minute of the window during which emails can be sent, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "taskReminderMinute" : {
            "type" : "integer",
            "description" : "The minute at which task reminders are sent, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the sequence settings were last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepDependencyRequest" : {
        "required" : [ "branchNumber", "dependencyType", "reliesOnStepOrder", "requiredByStepOrder" ],
        "type" : "object",
        "properties" : {
          "branchNumber" : {
            "type" : "integer",
            "description" : "An integer indicating the branch number associated with the dependency.",
            "format" : "int32",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "description" : "A string indicating the type of dependency. Valid values include 'TASK_COMPLETION' and 'MANUAL_PAUSE'.",
            "example" : null,
            "enum" : [ "ADAPTIVE_COMPLETION", "MANUAL_PAUSE", "TASK_COMPLETION" ]
          },
          "reliesOnStepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step that is relied upon by another step.",
            "format" : "int32",
            "example" : null
          },
          "requiredByStepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step that requires the dependency.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepDependencyResponse" : {
        "required" : [ "createdAt", "dependencyType", "id", "reliesOnSequenceStepId", "reliesOnStepOrder", "requiredBySequenceStepId", "requiredByStepOrder", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this dependency was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "description" : "The type of dependency, which can be either 'TASK_COMPLETION' or 'MANUAL_PAUSE'.",
            "example" : null,
            "enum" : [ "ADAPTIVE_COMPLETION", "MANUAL_PAUSE", "TASK_COMPLETION" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this dependency.",
            "example" : null
          },
          "reliesOnSequenceStepId" : {
            "type" : "string",
            "description" : "The unique identifier of the sequence step that this dependency relies on.",
            "example" : null
          },
          "reliesOnStepOrder" : {
            "type" : "integer",
            "description" : "The order number of the step that this dependency relies on.",
            "format" : "int32",
            "example" : null
          },
          "requiredBySequenceStepId" : {
            "type" : "string",
            "description" : "The unique identifier of the sequence step that requires this dependency.",
            "example" : null
          },
          "requiredByStepOrder" : {
            "type" : "integer",
            "description" : "The order number of the step that requires this dependency.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this dependency was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepPerformanceResponse" : {
        "required" : [ "calls", "callsConnected", "clicked", "executionCount", "meetingsBooked", "onTimeTaskCompletionCount", "onTimeTaskCompletionSum", "opened", "personalizationRateCount", "replied", "stepKey", "stepOrder", "tasksCompleted" ],
        "type" : "object",
        "properties" : {
          "calls" : {
            "type" : "integer",
            "description" : "An integer (int64) representing the number of calls made in this step.",
            "format" : "int64",
            "example" : null
          },
          "callsConnected" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating the number of calls that were successfully connected in this step.",
            "format" : "int64",
            "example" : null
          },
          "clicked" : {
            "type" : "integer",
            "description" : "An integer (int64) showing the number of times links in emails from this step have been clicked.",
            "format" : "int64",
            "example" : null
          },
          "executionCount" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating the number of times this step has been executed.",
            "format" : "int64",
            "example" : null
          },
          "meetingsBooked" : {
            "type" : "integer",
            "description" : "An integer (int64) representing the number of meetings booked as a result of this step.",
            "format" : "int64",
            "example" : null
          },
          "onTimeTaskCompletionCount" : {
            "type" : "integer",
            "description" : "An integer (int64) representing the number of tasks completed on time in this step.",
            "format" : "int64",
            "example" : null
          },
          "onTimeTaskCompletionSum" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating the sum of on-time task completions for this step.",
            "format" : "int64",
            "example" : null
          },
          "opened" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating how many times emails from this step have been opened.",
            "format" : "int64",
            "example" : null
          },
          "personalizationRateAvg" : {
            "type" : "number",
            "description" : "A number representing the average personalization rate for this step.",
            "example" : null
          },
          "personalizationRateCount" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating the count of personalized actions in this step.",
            "format" : "int64",
            "example" : null
          },
          "replied" : {
            "type" : "integer",
            "description" : "An integer (int64) representing the number of replies received from emails sent in this step.",
            "format" : "int64",
            "example" : null
          },
          "stepKey" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the step.",
            "example" : null
          },
          "stepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step within the sequence.",
            "format" : "int32",
            "example" : null
          },
          "tasksCompleted" : {
            "type" : "integer",
            "description" : "An integer (int64) indicating the number of tasks completed in this step.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepRequest" : {
        "required" : [ "actionType", "branchNumber", "delayMillis", "dynamic", "stepOrder", "variants" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "description" : "A string indicating the type of action to be performed in this step. Valid values include 'EMAIL', 'TASK', and 'FINISH_ENROLLMENT'.",
            "example" : null,
            "enum" : [ "ADAPTIVE_CONTAINER", "EMAIL", "FINISH_ENROLLMENT", "TASK" ]
          },
          "branchNumber" : {
            "type" : "integer",
            "description" : "An integer representing the branch number of this step, used for branching logic in sequences.",
            "format" : "int32",
            "example" : null
          },
          "delayMillis" : {
            "type" : "integer",
            "description" : "An integer representing the delay in milliseconds before this step is executed.",
            "format" : "int64",
            "example" : null
          },
          "delayMillisMax" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum delay in milliseconds for this step.",
            "format" : "int64",
            "example" : null
          },
          "delayMillisMin" : {
            "type" : "integer",
            "description" : "An integer specifying the minimum delay in milliseconds for this step.",
            "format" : "int64",
            "example" : null
          },
          "dynamic" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the step is dynamic, allowing for conditional execution based on certain criteria.",
            "example" : null
          },
          "emailPattern" : {
            "$ref" : "#/components/schemas/PublicSequenceEmailPatternRequest"
          },
          "stepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order of the step within the sequence.",
            "format" : "int32",
            "example" : null
          },
          "taskPattern" : {
            "$ref" : "#/components/schemas/PublicSequenceTaskPatternRequest"
          },
          "variants" : {
            "type" : "array",
            "description" : "An array of PublicSequenceStepVariantRequest objects, each representing a variant of this step.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepVariantRequest"
            }
          }
        },
        "example" : null
      },
      "PublicSequenceStepResponse" : {
        "required" : [ "actionType", "createdAt", "delayMillis", "id", "stepOrder", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "description" : "The type of action to be performed in this step. Valid values include 'EMAIL', 'TASK', and 'FINISH_ENROLLMENT'.",
            "example" : null,
            "enum" : [ "ADAPTIVE_CONTAINER", "EMAIL", "FINISH_ENROLLMENT", "TASK" ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this step was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "delayMillis" : {
            "type" : "integer",
            "description" : "The delay before executing this step, specified in milliseconds as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "emailPattern" : {
            "$ref" : "#/components/schemas/PublicEmailPatternResponse"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this sequence step, represented as a string.",
            "example" : null
          },
          "stepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order of this step within the sequence.",
            "format" : "int32",
            "example" : null
          },
          "taskPattern" : {
            "$ref" : "#/components/schemas/PublicTaskPatternResponse"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this step was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepResponseV2" : {
        "required" : [ "actionType", "createdAt", "delayMillis", "id", "stepOrder", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "description" : "The type of action to be performed in this step. Valid values include 'EMAIL', 'TASK', and 'FINISH_ENROLLMENT'.",
            "example" : null,
            "enum" : [ "ADAPTIVE_CONTAINER", "EMAIL", "FINISH_ENROLLMENT", "TASK" ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this step was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "delayMillis" : {
            "type" : "integer",
            "description" : "The delay before this step is executed, specified in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "emailPattern" : {
            "$ref" : "#/components/schemas/PublicEmailPatternResponse"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this sequence step.",
            "example" : null
          },
          "stepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order of this step within the sequence.",
            "format" : "int32",
            "example" : null
          },
          "taskPattern" : {
            "$ref" : "#/components/schemas/PublicTaskPatternResponseV2"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this step was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceStepVariantRequest" : {
        "required" : [ "activated", "variantOrdinal" ],
        "type" : "object",
        "properties" : {
          "activated" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this variant is active.",
            "example" : null
          },
          "emailPattern" : {
            "$ref" : "#/components/schemas/PublicSequenceEmailPatternRequest"
          },
          "taskPattern" : {
            "$ref" : "#/components/schemas/PublicSequenceTaskPatternRequest"
          },
          "variantOrdinal" : {
            "type" : "integer",
            "description" : "An integer indicating the order of this variant among other variants of the same step.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceTaskPatternRequest" : {
        "required" : [ "taskPriority", "taskType" ],
        "type" : "object",
        "properties" : {
          "notes" : {
            "type" : "string",
            "description" : "A string containing additional notes or details about the task.",
            "example" : null
          },
          "queueId" : {
            "type" : "string",
            "description" : "A string identifier for the queue to which the task belongs.",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "A string representing the subject of the task.",
            "example" : null
          },
          "taskPriority" : {
            "type" : "string",
            "description" : "The priority level of the task. Valid values include 'NONE', 'HIGH', 'MEDIUM', and 'LOW'.",
            "example" : null,
            "enum" : [ "HIGH", "LOW", "MEDIUM", "NONE" ]
          },
          "taskType" : {
            "type" : "string",
            "description" : "The type of task to be performed. Valid values include 'CALL', 'MEETING', 'EMAIL', 'TODO', 'LINKED_IN_CONNECT', and 'LINKED_IN_MESSAGE'.",
            "example" : null,
            "enum" : [ "CALL", "EMAIL", "LINKED_IN_CONNECT", "LINKED_IN_MESSAGE", "MEETING", "TODO" ]
          },
          "templateId" : {
            "type" : "string",
            "description" : "A string identifier for the template associated with the task.",
            "example" : null
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step to which the email should be threaded.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSequenceTimelinePointResponse" : {
        "required" : [ "enrolledAt", "enrollments", "meetingsBooked" ],
        "type" : "object",
        "properties" : {
          "enrolledAt" : {
            "type" : "integer",
            "description" : "The time at which the enrollment occurred, represented as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "enrollments" : {
            "type" : "integer",
            "description" : "The total number of enrollments recorded at this point in the sequence timeline. Represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "meetingsBooked" : {
            "type" : "integer",
            "description" : "The number of meetings booked at this point in the sequence timeline. Represented as an integer.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicTaskPatternResponse" : {
        "required" : [ "createdAt", "id", "taskPriority", "taskType", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this task pattern was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this task pattern.",
            "example" : null
          },
          "notes" : {
            "type" : "string",
            "description" : "Additional notes related to the task, represented as a string.",
            "example" : null
          },
          "queueId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the queue to which this task belongs.",
            "format" : "int32",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject of the task, represented as a string.",
            "example" : null
          },
          "taskPriority" : {
            "type" : "string",
            "description" : "The priority level of the task, with valid values including 'NONE', 'HIGH', 'MEDIUM', and 'LOW'.",
            "example" : null,
            "enum" : [ "HIGH", "LOW", "MEDIUM", "NONE" ]
          },
          "taskType" : {
            "type" : "string",
            "description" : "The type of task, with valid values including 'CALL', 'MEETING', 'EMAIL', 'TODO', 'LINKED_IN_CONNECT', and 'LINKED_IN_MESSAGE'.",
            "example" : null,
            "enum" : [ "CALL", "EMAIL", "LINKED_IN_CONNECT", "LINKED_IN_MESSAGE", "MEETING", "TODO" ]
          },
          "templateId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the template associated with this task.",
            "format" : "int64",
            "example" : null
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the step order to which this email task is threaded.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this task pattern was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicTaskPatternResponseV2" : {
        "required" : [ "createdAt", "id", "taskPriority", "taskType", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this task pattern was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this task pattern.",
            "example" : null
          },
          "notes" : {
            "type" : "string",
            "description" : "Additional notes or description associated with the task.",
            "example" : null
          },
          "queueId" : {
            "type" : "string",
            "description" : "The identifier for the queue to which this task belongs.",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject or title of the task.",
            "example" : null
          },
          "taskPriority" : {
            "type" : "string",
            "description" : "The priority level of the task, with valid values being 'NONE', 'HIGH', 'MEDIUM', or 'LOW'.",
            "example" : null,
            "enum" : [ "HIGH", "LOW", "MEDIUM", "NONE" ]
          },
          "taskType" : {
            "type" : "string",
            "description" : "The type of task, which can be one of the following: 'CALL', 'MEETING', 'EMAIL', 'TODO', 'LINKED_IN_CONNECT', or 'LINKED_IN_MESSAGE'.",
            "example" : null,
            "enum" : [ "CALL", "EMAIL", "LINKED_IN_CONNECT", "LINKED_IN_MESSAGE", "MEETING", "TODO" ]
          },
          "templateId" : {
            "type" : "string",
            "description" : "The identifier for the template used in this task.",
            "example" : null
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order of the step to which this email thread relates.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this task pattern was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "UnenrollmentSettingsResponse" : {
        "required" : [ "emailSettings", "meetingSettings" ],
        "type" : "object",
        "properties" : {
          "emailSettings" : {
            "$ref" : "#/components/schemas/EmailSettingsResponse"
          },
          "meetingSettings" : {
            "$ref" : "#/components/schemas/MeetingSettingsResponse"
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "automation.sequences.enrollments.write" : "",
              "automation.sequences.read" : "",
              "automation.sequences.write" : "",
              "sequences-public-delete" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}