{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Unternehmensbereiche",
    "description" : "Retrieve Business Unit information.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Sie haben einen Drittanbieterdienst zur Verwaltung von Organisationsdaten für Ihr Unternehmen und müssen den Unternehmensbereich eines bestimmten HubSpot-Benutzers bestätigen.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Business Units Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api"
    } ],
    "x-hubspot-introduction" : "Mithilfe der Unternehmensbereiche-API können Sie Informationen über den Unternehmensbereich abrufen, der einem Benutzer in Ihrem HubSpot-Account zugeordnet ist."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Business Unit"
  }, {
    "name" : "Unternehmensbereich"
  } ],
  "paths" : {
    "/business-units/v3/business-units/user/{userId}" : {
      "get" : {
        "tags" : [ "Business Unit", "Unternehmensbereich" ],
        "summary" : "Unternehmensbereiche für einen Benutzer abrufen",
        "description" : "Abruf von Unternehmensbereichen nach „userId“. „userId“ bezieht sich auf die ID des Benutzers.",
        "operationId" : "get-/business-units/v3/business-units/user/{userId}_getByUserID",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "ID des Benutzers, für den Daten abgerufen werden sollen.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Die Namen der Eigenschaften, die optional in den Antworttext aufgenommen werden sollen. Der einzige gültige Wert ist „logoMetadata“.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Die Namen der abzurufenden Unternehmensbereiche. Falls leer oder nicht angegeben, werden alle zugeordneten Unternehmensbereiche zurückgegeben.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "business_units_view.read" ]
        }, {
          "oauth2_legacy" : [ "business_units_view.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Eine spezifische Kategorie, die genauere Details zum Fehler enthält"
          },
          "code" : {
            "type" : "string",
            "description" : "Der Statuscode, der mit dem Fehlerdetail verknüpft ist"
          },
          "in" : {
            "type" : "string",
            "description" : "Der Name des Felds oder Parameters, in dem der Fehler gefunden wurde"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Kontext zur Fehlerbedingung",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Eine für Menschen lesbare Nachricht mit einer Beschreibung des Fehlers und ggf. Abhilfemaßnahmen"
          }
        }
      },
      "PublicBusinessUnitLogoMetadata" : {
        "type" : "object",
        "properties" : {
          "logoAltText" : {
            "type" : "string",
            "description" : "Der ALT-Text des Logos",
            "example" : "logo sample text"
          },
          "resizedUrl" : {
            "type" : "string",
            "description" : "Die URL des Logos mit geänderter Größe",
            "example" : "sillystring"
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "Die URL des Logos",
            "example" : "examplelogourl.com"
          }
        },
        "description" : "A Business Unit's logo metadata",
        "example" : {
          "logoAltText" : "logo sample text",
          "resizedUrl" : "sillystring",
          "logoUrl" : "examplelogourl.com"
        }
      },
      "CollectionResponsePublicBusinessUnitNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "Die Filtergruppe mit Unternehmensbereichen",
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          }
        },
        "description" : "A response object containing a collection of Business Units"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Eine spezifische Kategorie, die genauere Details zum Fehler enthält"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Kontext zur Fehlerbedingung",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Eine eindeutige ID für die Anfrage. Beziehen Sie diesen Wert in Fehlerberichte oder Support-Tickets ein.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Eine Karte der Namen von Links zu zugeordneten URIs mit einer Dokumentation zum Fehler oder empfohlenen Abhilfemaßnahmen",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Eine für Menschen lesbare Nachricht mit einer Beschreibung des Fehlers und ggf. Abhilfemaßnahmen",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "Die Fehlerkategorie",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "Weitere Informationen zum Fehler",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicBusinessUnit" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "logoMetadata" : {
            "$ref" : "#/components/schemas/PublicBusinessUnitLogoMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "Der Name des Unternehmensbereichs",
            "example" : "sample business unit name"
          },
          "id" : {
            "type" : "string",
            "description" : "Die eindeutige ID des Unternehmensbereichs",
            "example" : "101"
          }
        },
        "description" : "A Business Unit",
        "example" : {
          "logoMetadata" : {
            "logoAltText" : "logo sample text",
            "resizedUrl" : "sillystring",
            "logoUrl" : "examplelogourl.com"
          },
          "name" : "sample business unit name",
          "id" : "101"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "business_units_view.read" : "Read business unit resources"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "ENTERPRISE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}