{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Unidades de negocio",
    "description" : "Retrieve Business Unit information.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Tienes un servicio de terceros que gestiona los datos organizativos de tu negocio, y necesitas confirmar la unidad de negocio en la que se encuentra un usuario específico de HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Business Units Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api"
    } ],
    "x-hubspot-introduction" : "Utiliza la API de unidades de negocio para recuperar información sobre la unidad de negocio asociada con un usuario en tu cuenta de HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Business Unit"
  }, {
    "name" : "Unidad de negocio"
  } ],
  "paths" : {
    "/business-units/v3/business-units/user/{userId}" : {
      "get" : {
        "tags" : [ "Business Unit", "Unidad de negocio" ],
        "summary" : "Obtener unidades de negocio para un usuario",
        "description" : "Obtén las unidades de negocio identificadas por \"userId\". El \"userId\" se refiere al ID del usuario.",
        "operationId" : "get-/business-units/v3/business-units/user/{userId}_getByUserID",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificador del usuario que se recuperará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Los nombres de las propiedades que se podrán incluir opcionalmente en el cuerpo de la respuesta. El único valor válido es \"logoMetadata\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Los nombres de las unidades de negocio que se recuperarán. Si está vacío o no se proporciona, se devolverán todas las unidades de negocio asociadas.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "business_units_view.read" ]
        }, {
          "oauth2_legacy" : [ "business_units_view.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "PublicBusinessUnitLogoMetadata" : {
        "type" : "object",
        "properties" : {
          "logoAltText" : {
            "type" : "string",
            "description" : "El texto alternativo del logotipo",
            "example" : "logo sample text"
          },
          "resizedUrl" : {
            "type" : "string",
            "description" : "La url de tamaño modificado del logotipo",
            "example" : "sillystring"
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "La url del logotipo",
            "example" : "examplelogourl.com"
          }
        },
        "description" : "A Business Unit's logo metadata",
        "example" : {
          "logoAltText" : "logo sample text",
          "resizedUrl" : "sillystring",
          "logoUrl" : "examplelogourl.com"
        }
      },
      "CollectionResponsePublicBusinessUnitNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "La colección de unidades de negocio.",
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          }
        },
        "description" : "A response object containing a collection of Business Units"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia técnica.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicBusinessUnit" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "logoMetadata" : {
            "$ref" : "#/components/schemas/PublicBusinessUnitLogoMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la unidad de negocio",
            "example" : "sample business unit name"
          },
          "id" : {
            "type" : "string",
            "description" : "El ID único de la unidad de negocio",
            "example" : "101"
          }
        },
        "description" : "A Business Unit",
        "example" : {
          "logoMetadata" : {
            "logoAltText" : "logo sample text",
            "resizedUrl" : "sillystring",
            "logoUrl" : "examplelogourl.com"
          },
          "name" : "sample business unit name",
          "id" : "101"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "business_units_view.read" : "Read business unit resources"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "ENTERPRISE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}