{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Unidades de negócios",
    "description" : "Retrieve Business Unit information.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Você tem um serviço de terceiros para gerenciar dados organizacionais para sua empresa e precisa confirmar em qual unidade de negócios um usuário específico do HubSpot está.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Business Units Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api"
    } ],
    "x-hubspot-introduction" : "Use a API de unidades de negócios para recuperar informações sobre a unidade de negócios associada a um usuário em sua conta da HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Business Unit"
  }, {
    "name" : "Unidade de negócio"
  } ],
  "paths" : {
    "/business-units/v3/business-units/user/{userId}" : {
      "get" : {
        "tags" : [ "Business Unit", "Unidade de negócio" ],
        "summary" : "Obter Unidades de negócio para um usuário",
        "description" : "Obtenha Unidades de negócios identificadas pelo \"userId\". O \"userId\" refere-se ao ID do usuário.",
        "operationId" : "get-/business-units/v3/business-units/user/{userId}_getByUserID",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificador do usuário a ser recuperado.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Os nomes das propriedades a serem incluídas opcionalmente no corpo da resposta. O único valor válido é \"logoMetadata\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Os nomes das Unidades de negócio a serem recuperadas. Se estiver em branco ou não for fornecido, todas as Unidades de negócio associadas serão retornadas.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "business_units_view.read" ]
        }, {
          "oauth2_legacy" : [ "business_units_view.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Uma categoria específica que contém mais detalhes específicos sobre o erro"
          },
          "code" : {
            "type" : "string",
            "description" : "O código de status associado ao detalhe do erro"
          },
          "in" : {
            "type" : "string",
            "description" : "O nome do campo ou parâmetro no qual o erro foi encontrado."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto sobre a condição de erro",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Uma mensagem legível por humanos que descreve o erro, juntamente com as etapas de correção, quando apropriado"
          }
        }
      },
      "PublicBusinessUnitLogoMetadata" : {
        "type" : "object",
        "properties" : {
          "logoAltText" : {
            "type" : "string",
            "description" : "O texto alternativo do logotipo",
            "example" : "logo sample text"
          },
          "resizedUrl" : {
            "type" : "string",
            "description" : "O URL redimensionado do logotipo",
            "example" : "sillystring"
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "O URL do logotipo",
            "example" : "examplelogourl.com"
          }
        },
        "description" : "A Business Unit's logo metadata",
        "example" : {
          "logoAltText" : "logo sample text",
          "resizedUrl" : "sillystring",
          "logoUrl" : "examplelogourl.com"
        }
      },
      "CollectionResponsePublicBusinessUnitNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "A coleção de Unidades de negócios",
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          }
        },
        "description" : "A response object containing a collection of Business Units"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Uma categoria específica que contém mais detalhes específicos sobre o erro"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto sobre a condição do erro",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Um identificador exclusivo para a solicitação. Inclua este valor em relatórios de erro ou tickets de suporte",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Um mapa de nomes de links para URIs associados que contêm documentação sobre o erro ou etapas de correção recomendadas",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Uma mensagem legível por humanos que descreve o erro, juntamente com as etapas de correção, quando apropriado",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "A categoria de erro",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "mais informações sobre o erro",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicBusinessUnit" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "logoMetadata" : {
            "$ref" : "#/components/schemas/PublicBusinessUnitLogoMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "O nome da Unidade de negócios",
            "example" : "sample business unit name"
          },
          "id" : {
            "type" : "string",
            "description" : "O ID exclusivo da Unidade de negócios",
            "example" : "101"
          }
        },
        "description" : "A Business Unit",
        "example" : {
          "logoMetadata" : {
            "logoAltText" : "logo sample text",
            "resizedUrl" : "sillystring",
            "logoUrl" : "examplelogourl.com"
          },
          "name" : "sample business unit name",
          "id" : "101"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "business_units_view.read" : "Read business unit resources"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "ENTERPRISE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}