{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Unités commerciales",
    "description" : "Retrieve Business Unit information.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Vous avez un service tiers pour gérer les données organisationnelles de votre entreprise, et vous devez confirmer à quelle unité commerciale un utilisateur spécifique de HubSpot appartient.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Business Units Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api"
    } ],
    "x-hubspot-introduction" : "Utilisez l'API des unités commerciales pour récupérer des informations sur l'unité commerciale associée à un utilisateur dans votre compte HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Business Unit"
  }, {
    "name" : "Unité commerciale"
  } ],
  "paths" : {
    "/business-units/v3/business-units/user/{userId}" : {
      "get" : {
        "tags" : [ "Business Unit", "Unité commerciale" ],
        "summary" : "Obtenez des unités commerciales pour un utilisateur",
        "description" : "Identifiez les unités commerciales par « userId ». Le « userId » se réfère à l'identifiant de l'utilisateur.",
        "operationId" : "get-/business-units/v3/business-units/user/{userId}_getByUserID",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificateur de l'utilisateur à récupérer.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Les noms des propriétés à inclure en option dans le corps de la réponse. La seule valeur valide est « logoMetadata ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Les noms des unités commerciales à récupérer. Si vide ou non fourni, toutes les unités commerciales associées seront alors renvoyées.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "business_units_view.read" ]
        }, {
          "oauth2_legacy" : [ "business_units_view.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "PublicBusinessUnitLogoMetadata" : {
        "type" : "object",
        "properties" : {
          "logoAltText" : {
            "type" : "string",
            "description" : "Le texte alternatif du logo",
            "example" : "logo sample text"
          },
          "resizedUrl" : {
            "type" : "string",
            "description" : "L'URL redimensionnée du logo",
            "example" : "sillystring"
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "L'URL du logo",
            "example" : "examplelogourl.com"
          }
        },
        "description" : "A Business Unit's logo metadata",
        "example" : {
          "logoAltText" : "logo sample text",
          "resizedUrl" : "sillystring",
          "logoUrl" : "examplelogourl.com"
        }
      },
      "CollectionResponsePublicBusinessUnitNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "La collection des unités commerciales",
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          }
        },
        "description" : "A response object containing a collection of Business Units"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets d'assistance",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicBusinessUnit" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "logoMetadata" : {
            "$ref" : "#/components/schemas/PublicBusinessUnitLogoMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de l'unité commerciale",
            "example" : "sample business unit name"
          },
          "id" : {
            "type" : "string",
            "description" : "L'ID unique de l'unité commerciale",
            "example" : "101"
          }
        },
        "description" : "A Business Unit",
        "example" : {
          "logoMetadata" : {
            "logoAltText" : "logo sample text",
            "resizedUrl" : "sillystring",
            "logoUrl" : "examplelogourl.com"
          },
          "name" : "sample business unit name",
          "id" : "101"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "business_units_view.read" : "Read business unit resources"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "ENTERPRISE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}