{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Extensions d'appel",
    "description" : "Provides a way for apps to add custom calling options to a contact record. This works in conjunction with the [Calling SDK](#), which is used to build your phone/calling UI. The endpoints here allow your service to appear as an option to HubSpot users when they access the *Call* action on a contact record. Once accessed, your custom phone/calling UI will be displayed in an iframe at the specified URL with the specified dimensions on that record.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "sales" : "STARTER",
      "service" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Créez une intégration pour un service d'appel tiers que votre entreprise utilise plutôt que d'utiliser l'outil d'appel natif de HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Call SDK Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/calling-sdk"
    } ],
    "x-hubspot-introduction" : "Utilisez le kit de développement logiciel des extensions d'appel pour fournir aux utilisateurs HubSpot des options d'appel personnalisées dans les fiches d'informations CRM."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "Paramètres"
  }, {
    "name" : "Recording_Settings"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Obtenez les paramètres d'appels",
        "description" : "Renvoie les paramètres de l'extension d'appel configurés pour votre application.",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Configurer une extension d'appel",
        "description" : "Utilisé pour définir le libellé du menu, l'URL de l'iframe cible et les dimensions de votre extension d'appel.",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Settings state to create with.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Supprimer les paramètres d'appel",
        "description" : "Supprime cette extension d'appel. Cela supprimera votre service en tant qu'option pour tous les comptes connectés.",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Mettre à jour les paramètres",
        "description" : "Met à jour les paramètres de l'extension d'appel existante.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Updated details for the settings.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "updatedAt", "url", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Lorsque cette extension d'appel a été créée.",
            "format" : "date-time"
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, vous indiquez que votre service est compatible avec le service d'engagement v2 et peut être utilisé avec des objets personnalisés."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, votre service apparaîtra comme une option sous l'action *Appel* dans les fiches d'informations de contact des comptes connectés."
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de votre service d'appel à afficher aux utilisateurs."
          },
          "width" : {
            "type" : "integer",
            "description" : "La largeur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "L'URL vers votre interface utilisateur de téléphone/appel, construite avec le [Kit de développement d'appel](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "La hauteur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La dernière fois que les paramètres de cette extension d'appel ont été modifiés.",
            "format" : "date-time"
          }
        },
        "description" : "Current settings state"
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets d'assistance",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, vous indiquez que votre service est compatible avec le service d'engagement v2 et peut être utilisé avec des objets personnalisés."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, votre service apparaîtra comme une option sous l'action *Appel* dans les fiches d'informations de contact des comptes connectés."
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de votre service d'appel à afficher aux utilisateurs."
          },
          "width" : {
            "type" : "integer",
            "description" : "La largeur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "L'URL vers votre interface utilisateur de téléphone/appel, construite avec le [Kit de développement d'appel](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "La hauteur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32"
          }
        },
        "description" : "Settings update request"
      },
      "SettingsRequest" : {
        "required" : [ "name", "url" ],
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, vous indiquez que votre service est compatible avec le service d'engagement v2 et peut être utilisé avec des objets personnalisés.",
            "example" : true
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Lorsque c'est le cas, votre service apparaîtra comme une option sous l'action *Appel* dans les fiches d'informations de contact des comptes connectés.",
            "example" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de votre service d'appel à afficher aux utilisateurs.",
            "example" : "HubPhone"
          },
          "width" : {
            "type" : "integer",
            "description" : "La largeur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32",
            "example" : 200
          },
          "url" : {
            "type" : "string",
            "description" : "L'URL vers votre interface utilisateur de téléphone/appel, construite avec le [Kit de développement d'appel](#).",
            "example" : "https://www.example.com/hubspot/iframe"
          },
          "height" : {
            "type" : "integer",
            "description" : "La hauteur cible de l'iframe qui contiendra votre interface utilisateur de téléphone/appel.",
            "format" : "int32",
            "example" : 350
          }
        },
        "description" : "Settings create request",
        "example" : {
          "name" : "HubPhone",
          "url" : "https://www.example.com/hubspot/iframe",
          "width" : 200,
          "height" : 350,
          "isReady" : true,
          "supportsCustomObjects" : true
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "sales" : "STARTER",
    "service" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}