{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Extensiones de llamadas",
    "description" : "Provides a way for apps to add custom calling options to a contact record. This works in conjunction with the [Calling SDK](#), which is used to build your phone/calling UI. The endpoints here allow your service to appear as an option to HubSpot users when they access the *Call* action on a contact record. Once accessed, your custom phone/calling UI will be displayed in an iframe at the specified URL with the specified dimensions on that record.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "sales" : "STARTER",
      "service" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Crea una integración para un servicio de llamadas de terceros que tu empresa utiliza, en lugar de usar la herramienta de llamadas nativa de HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Call SDK Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/calling-sdk"
    } ],
    "x-hubspot-introduction" : "Utiliza el SDK de extensiones de llamadas para ofrecer a los usuarios de HubSpot opciones de llamadas personalizadas en los registros del CRM."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "Configuración"
  }, {
    "name" : "Recording_Settings"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Obtener la configuración de llamadas",
        "description" : "Devuelve la configuración de la extensión de llamadas establecida para tu aplicación.",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Configurar una extensión de llamadas",
        "description" : "Se utiliza para establecer la etiqueta del menú, la URL del iframe de destino y las dimensiones para tu extensión de llamadas.",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Settings state to create with.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Eliminar la configuración de llamadas",
        "description" : "Elimina esta extensión de llamadas. Esto eliminará tu servicio como una opción para todas las cuentas conectadas.",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Actualizar la configuración",
        "description" : "Actualiza la configuración existente de la extensión de llamadas.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Updated details for the settings.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "updatedAt", "url", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Cuando se creó esta extensión de llamadas.",
            "format" : "date-time"
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Cuando es verdadero, indicas que tu servicio es compatible con el servicio de interacción v2 y se puede utilizar con objetos personalizados."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Cuando sea verdadero, tu servicio aparecerá como una opción bajo la acción *Llamar* en los registros de contacto de las cuentas conectadas."
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de tu servicio de llamadas que se mostrará a los usuarios."
          },
          "width" : {
            "type" : "integer",
            "description" : "La anchura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "La URL a tu UI de teléfono/llamadas, creada con el [SDK de llamadas](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "La altura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La última vez que se modificó la configuración de esta extensión de llamadas.",
            "format" : "date-time"
          }
        },
        "description" : "Current settings state"
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Cuando es verdadero, indicas que tu servicio es compatible con el servicio de interacción v2 y se puede utilizar con objetos personalizados."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Cuando sea verdadero, tu servicio aparecerá como una opción bajo la acción *Llamar* en los registros de contacto de las cuentas conectadas."
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de tu servicio de llamadas que se mostrará a los usuarios."
          },
          "width" : {
            "type" : "integer",
            "description" : "La anchura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "La URL a tu UI de teléfono/llamadas, creada con el [SDK de llamadas](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "La altura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32"
          }
        },
        "description" : "Settings update request"
      },
      "SettingsRequest" : {
        "required" : [ "name", "url" ],
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Cuando es verdadero, indicas que tu servicio es compatible con el servicio de interacción v2 y se puede utilizar con objetos personalizados.",
            "example" : true
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Cuando sea verdadero, tu servicio aparecerá como una opción bajo la acción *Llamar* en los registros de contacto de las cuentas conectadas.",
            "example" : true
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de tu servicio de llamadas que se mostrará a los usuarios.",
            "example" : "HubPhone"
          },
          "width" : {
            "type" : "integer",
            "description" : "La anchura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32",
            "example" : 200
          },
          "url" : {
            "type" : "string",
            "description" : "La URL a tu UI de teléfono/llamadas, creada con el [SDK de llamadas](#).",
            "example" : "https://www.example.com/hubspot/iframe"
          },
          "height" : {
            "type" : "integer",
            "description" : "La altura objetivo del iframe que contendrá tu UI de teléfono/llamadas.",
            "format" : "int32",
            "example" : 350
          }
        },
        "description" : "Settings create request",
        "example" : {
          "name" : "HubPhone",
          "url" : "https://www.example.com/hubspot/iframe",
          "width" : 200,
          "height" : 350,
          "isReady" : true,
          "supportsCustomObjects" : true
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "sales" : "STARTER",
    "service" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}