{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "コール拡張機能",
    "description" : "Provides a way for apps to add custom calling options to a contact record. This works in conjunction with the [Calling SDK](#), which is used to build your phone/calling UI. The endpoints here allow your service to appear as an option to HubSpot users when they access the *Call* action on a contact record. Once accessed, your custom phone/calling UI will be displayed in an iframe at the specified URL with the specified dimensions on that record.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "sales" : "STARTER",
      "service" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "HubSpotのネイティブ コール ツールを使用せずに、貴社で使用するサードパーティー コール サービスの連携を作成します。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Call SDK Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/calling-sdk"
    } ],
    "x-hubspot-introduction" : "電話拡張SDKを使用して、CRMレコードのカスタム コール オプションをHubSpotユーザーに提供します。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "設定"
  }, {
    "name" : "Recording_Settings"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "コール設定を取得",
        "description" : "あなたのアプリに設定されたコール拡張機能設定を返します。",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "コール拡張機能を設定",
        "description" : "コール拡張機能のメニューラベル、対象のiframe URL、サイズを設定するために使用されます。",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Settings state to create with.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "コール設定を削除",
        "description" : "このコール拡張機能を削除します。この操作により、全ての接続済みのアカウントのオプションとしてあなたのサービスが削除されます。",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "設定を更新",
        "description" : "既存のコール拡張機能設定を更新します。",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Updated details for the settings.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : {
                  "name" : "HubPhone",
                  "url" : "https://www.example.com/hubspot/iframe",
                  "width" : 200,
                  "height" : 350,
                  "isReady" : true,
                  "supportsCustomObjects" : true,
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Recording_Settings" ],
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "updatedAt", "url", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "このコール拡張機能が作成されたタイミング。",
            "format" : "date-time"
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "trueの場合、あなたのサービスがエンゲージメントv2サービスと互換性があり、カスタムオブジェクトで使用できることを示します。"
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "trueの場合、接続済みのアカウントのコンタクトレコードの*［コール］*アクションの下にオプションとしてあなたのサービスが表示されます。"
          },
          "name" : {
            "type" : "string",
            "description" : "ユーザーに表示されるあなたのコールサービスの名前。"
          },
          "width" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の幅。",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "[電話拡張SDK](#)を使用して作成されたあなたの電話／コールUIのURL。"
          },
          "height" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の高さ。",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "このコール拡張機能の設定が最後に変更された時刻。",
            "format" : "date-time"
          }
        },
        "description" : "Current settings state"
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "trueの場合、あなたのサービスがエンゲージメントv2サービスと互換性があり、カスタムオブジェクトで使用できることを示します。"
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "trueの場合、接続済みのアカウントのコンタクトレコードの*［コール］*アクションの下にオプションとしてあなたのサービスが表示されます。"
          },
          "name" : {
            "type" : "string",
            "description" : "ユーザーに表示されるあなたのコールサービスの名前。"
          },
          "width" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の幅。",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "[電話拡張SDK](#)を使用して作成されたあなたの電話／コールUIのURL。"
          },
          "height" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の高さ。",
            "format" : "int32"
          }
        },
        "description" : "Settings update request"
      },
      "SettingsRequest" : {
        "required" : [ "name", "url" ],
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "trueの場合、あなたのサービスがエンゲージメントv2サービスと互換性があり、カスタムオブジェクトで使用できることを示します。",
            "example" : true
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "trueの場合、接続済みのアカウントのコンタクトレコードの*［コール］*アクションの下にオプションとしてあなたのサービスが表示されます。",
            "example" : true
          },
          "name" : {
            "type" : "string",
            "description" : "ユーザーに表示されるあなたのコールサービスの名前。",
            "example" : "HubPhone"
          },
          "width" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の幅。",
            "format" : "int32",
            "example" : 200
          },
          "url" : {
            "type" : "string",
            "description" : "[電話拡張SDK](#)を使用して作成されたあなたの電話／コールUIのURL。",
            "example" : "https://www.example.com/hubspot/iframe"
          },
          "height" : {
            "type" : "integer",
            "description" : "電話／コールUIが含まれるiframeの対象の高さ。",
            "format" : "int32",
            "example" : 350
          }
        },
        "description" : "Settings create request",
        "example" : {
          "name" : "HubPhone",
          "url" : "https://www.example.com/hubspot/iframe",
          "width" : 200,
          "height" : 350,
          "isReady" : true,
          "supportsCustomObjects" : true
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "sales" : "STARTER",
    "service" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}