{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Calling Extensions",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "STARTER",
      "service" : "STARTER",
      "cms" : "FREE"
    },
    "x-hubspot-api-use-case" : "Create an integration for a third-party calling service that your company uses, rather than using HubSpot's native calling tool.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Call SDK Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/crm/extensions/calling-sdk"
    } ],
    "x-hubspot-introduction" : "Use the calling extensions SDK to provide HubSpot users with custom calling options on CRM records."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Channel Connection Settings"
  }, {
    "name" : "Settings"
  }, {
    "name" : "Recording settings"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Retrieve recording settings",
        "description" : "Retrieve the URL that is registered for [call recording](https://developers.hubspot.com/docs/guides/apps/extensions/calling-extensions/recordings-and-transcriptions#register-your-app-s-endpoint-with-hubspot-using-the-calling-settings-api).",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Enable the app for call recording",
        "description" : "Register an external URL that HubSpot will use to retrieve [call recordings](https://developers.hubspot.com/docs/guides/apps/extensions/calling-extensions/recordings-and-transcriptions#register-your-app-s-endpoint-with-hubspot-using-the-calling-settings-api).",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Update recording settings",
        "description" : "Update the URL that HubSpot will use to retrieve [call recordings](https://developers.hubspot.com/docs/guides/apps/extensions/calling-extensions/recordings-and-transcriptions#register-your-app-s-endpoint-with-hubspot-using-the-calling-settings-api).",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Retrieve settings",
        "description" : "Retrieve the settings configured for the app.",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings" ],
        "summary" : "Configure a calling extension",
        "description" : "Set the menu label, target iframe URL, and dimensions for your calling extension.",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings" ],
        "summary" : "Delete calling settings",
        "description" : "Delete a calling extension. This will remove your service as an option for all connected accounts.",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Settings" ],
        "summary" : "Update settings",
        "description" : "Update existing calling extension settings.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/recordings/ready" : {
      "post" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Mark recording as ready for transcription",
        "description" : "Mark a call recording as ready for transcription, specifying the call by its ID (`engagementid`).",
        "operationId" : "post-/crm/v3/extensions/calling/recordings/ready_markAsReady",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarkRecordingAsReadyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/channel-connection" : {
      "get" : {
        "tags" : [ "Channel Connection Settings" ],
        "summary" : "Retrieve channel connection settings",
        "description" : "Retrieve the settings related to the app's [channel connection](https://developers.hubspot.com/docs/guides/api/crm/extensions/third-party-calling#fetch-existing-channel-connection-settings).",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/channel-connection_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Channel Connection Settings" ],
        "summary" : "Configure channel connection settings",
        "description" : "Configure [channel connection settings](https://developers.hubspot.com/docs/guides/api/crm/extensions/third-party-calling#create-channel-connection-settings) for the app. ",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/channel-connection_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Channel Connection Settings" ],
        "summary" : "Delete channel connection settings",
        "description" : "Delete the [channel connection settings](https://developers.hubspot.com/docs/guides/api/crm/extensions/third-party-calling#delete-existing-channel-connection-settings) for the app.",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings/channel-connection_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Channel Connection Settings" ],
        "summary" : "Update channel connection settings",
        "description" : "Update existing [channel connection settings](https://developers.hubspot.com/docs/guides/api/crm/extensions/third-party-calling#manage-the-webhook-settings-for-channel-connection) for your app.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/channel-connection_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{\"missingScopes\":[\"scope1\",\"scope2\"]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ChannelConnectionSettingsRequest" : {
        "required" : [ "isReady", "url" ],
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean",
            "description" : "If true, this app will be considered to support channel connection"
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to fetch phone numbers available for channel connection"
          }
        }
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "supportsInboundCalling", "updatedAt", "url", "usesCallingWindow", "usesRemote", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "When this calling extension was created.",
            "format" : "date-time"
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects."
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not use the anchored calling remote within the HubSpot app. "
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users."
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not require the use of the separate calling window to hold the call connection. "
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot. "
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The last time the settings for this calling extension were modified.",
            "format" : "date-time"
          }
        }
      },
      "ChannelConnectionSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean",
            "description" : "If true, this app will be considered to support channel connection"
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to fetch phone numbers available for channel connection"
          }
        }
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{\"missingScopes\":[\"scope1\",\"scope2\"],\"invalidPropertyName\":[\"propertyValue\"]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : "{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "MarkRecordingAsReadyRequest" : {
        "required" : [ "engagementId" ],
        "type" : "object",
        "properties" : {
          "engagementId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects."
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not use the anchored calling remote within the HubSpot app. "
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users."
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not require the use of the separate calling window to hold the call connection. "
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot."
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          }
        }
      },
      "SettingsRequest" : {
        "required" : [ "name", "url" ],
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects.",
            "example" : true
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not use the anchored calling remote within the HubSpot app. ",
            "example" : true
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot.",
            "example" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users.",
            "example" : "HubPhone"
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32",
            "example" : 200
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "When false, this indicates that your calling app does not require the use of the separate calling window to hold the call connection. ",
            "example" : true
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot.",
            "example" : true
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#).",
            "example" : "https://www.example.com/hubspot/iframe"
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32",
            "example" : 350
          }
        }
      },
      "ChannelConnectionSettingsResponse" : {
        "required" : [ "createdAt", "isReady", "updatedAt", "url" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp this setting was created",
            "format" : "date-time"
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "If true, this app will be considered to support channel connection"
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to fetch phone numbers available for channel connection"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp this setting was last updated",
            "format" : "date-time"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.schemas.contacts.write" : "Create new contact properties or change contact property settings",
              "crm.objects.contacts.highly_sensitive.read.v2" : "View contact records (highly-sensitive)",
              "crm.schemas.contacts.read" : "View contacts property settings",
              "crm.objects.contacts.sensitive.read.v2" : "View sensitive properties on contact records",
              "crm.objects.contacts.read" : "View contact records",
              "crm.extensions_calling_transcripts.write" : "Provides possibility to save and delete transcriptions",
              "crm.extensions_calling_transcripts.read" : "Provides possibility to read transcriptions"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "STARTER",
    "service" : "STARTER",
    "cms" : "FREE"
  }
}