{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Calling Extensions",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "sales" : "STARTER",
      "service" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Create an integration for a third-party calling service that your company uses, rather than using HubSpot's native calling tool.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Call SDK Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/calling-sdk"
    } ],
    "x-hubspot-introduction" : "Use the calling extensions SDK to provide HubSpot users with custom calling options on CRM records."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Call_Record"
  }, {
    "name" : "Settings"
  }, {
    "name" : "Recording settings"
  }, {
    "name" : "Calling_Event_Webhook_Subscriptions"
  }, {
    "name" : "Third_Party_Call_Crm_Object_Mapping"
  }, {
    "name" : "Calling_Event_Webhook_Target_Url"
  }, {
    "name" : "Channel_Connection_Settings"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/inbound-call-record" : {
      "post" : {
        "tags" : [ "Call_Record" ],
        "operationId" : "post-/crm/v3/extensions/calling/inbound-call-record",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompletedThirdPartyCallRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletedThirdPartyCallResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Get calling settings",
        "description" : "Returns the calling extension settings configured for your app.",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings" ],
        "summary" : "Configure a calling extension",
        "description" : "Used to set the menu label, target iframe URL, and dimensions for your calling extension.",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings" ],
        "summary" : "Delete calling settings",
        "description" : "Deletes this calling extension. This will remove your service as an option for all connected accounts.",
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Settings" ],
        "summary" : "Update settings",
        "description" : "Updates existing calling extension settings.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Read calling app recording settings",
        "description" : "Retrieve the recording endpoint configured for a calling extension app.",
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Register calling app for recording",
        "description" : "Configure a calling extension app with an external URL that HubSpot will use to retrieve call recordings.",
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Update calling app's recording settings",
        "description" : "Update the URL that HubSpot will use to retrieve call recordings for a calling extension app.",
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/event-webhooks/subscriptions" : {
      "get" : {
        "tags" : [ "Calling_Event_Webhook_Subscriptions" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/event-webhooks/subscriptions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallingEventWebhookAppSubscriptionsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/call-object-mapping" : {
      "post" : {
        "tags" : [ "Third_Party_Call_Crm_Object_Mapping" ],
        "operationId" : "post-/crm/v3/extensions/calling/call-object-mapping",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CallCrmObjectMappingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/event-webhooks" : {
      "get" : {
        "tags" : [ "Calling_Event_Webhook_Target_Url" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/event-webhooks",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallingEventWebhookTargetUrlResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Calling_Event_Webhook_Target_Url" ],
        "operationId" : "put-/crm/v3/extensions/calling/{appId}/settings/event-webhooks",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CallingEventWebhookTargetUrlRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallingEventWebhookTargetUrlResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Calling_Event_Webhook_Target_Url" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/event-webhooks",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CallingEventWebhookTargetUrlRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallingEventWebhookTargetUrlResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Calling_Event_Webhook_Target_Url" ],
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings/event-webhooks",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/recordings/ready" : {
      "post" : {
        "tags" : [ "Recording settings" ],
        "summary" : "Mark recording as ready for transcription",
        "description" : "Mark a call recording as ready for transcription, specifying the call by its ID (`engagementid`).",
        "operationId" : "post-/crm/v3/extensions/calling/recordings/ready_markAsReady",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarkRecordingAsReadyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/event-webhooks/subscriptions/{eventType}" : {
      "post" : {
        "tags" : [ "Calling_Event_Webhook_Subscriptions" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/event-webhooks/subscriptions/{eventType}",
        "parameters" : [ {
          "name" : "eventType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "TICKET_CREATED", "CALL_CREATED", "CALL_UPDATED" ]
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallingEventWebhookSubscriptionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Calling_Event_Webhook_Subscriptions" ],
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings/event-webhooks/subscriptions/{eventType}",
        "parameters" : [ {
          "name" : "eventType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "TICKET_CREATED", "CALL_CREATED", "CALL_UPDATED" ]
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/{appId}/settings/channel-connection" : {
      "get" : {
        "tags" : [ "Channel_Connection_Settings" ],
        "operationId" : "get-/crm/v3/extensions/calling/{appId}/settings/channel-connection",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Channel_Connection_Settings" ],
        "operationId" : "post-/crm/v3/extensions/calling/{appId}/settings/channel-connection",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Channel_Connection_Settings" ],
        "operationId" : "delete-/crm/v3/extensions/calling/{appId}/settings/channel-connection",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Channel_Connection_Settings" ],
        "operationId" : "patch-/crm/v3/extensions/calling/{appId}/settings/channel-connection",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ChannelConnectionSettingsRequest" : {
        "required" : [ "isReady", "url" ],
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "CompanyCallerId" : {
        "title" : "COMPANY",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          },
          "callerIdType" : {
            "type" : "string",
            "enum" : [ "COMPANY" ],
            "default" : "COMPANY"
          }
        }
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "MarkRecordingAsReadyRequest" : {
        "required" : [ "engagementId" ],
        "type" : "object",
        "properties" : {
          "engagementId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users."
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "usesCallingWindow" : {
            "type" : "boolean"
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot."
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          }
        }
      },
      "CallingEventWebhookSubscriptionResponse" : {
        "required" : [ "createdAt", "eventType" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "eventType" : {
            "type" : "string",
            "enum" : [ "TICKET_CREATED", "CALL_CREATED", "CALL_UPDATED" ]
          }
        }
      },
      "CompletedThirdPartyCallResponse" : {
        "required" : [ "callerIdMatches" ],
        "type" : "object",
        "properties" : {
          "callerIdMatches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ContactCallerId"
              }, {
                "$ref" : "#/components/schemas/CompanyCallerId"
              } ]
            }
          }
        }
      },
      "ContactCallerId" : {
        "title" : "CONTACT",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          },
          "callerIdType" : {
            "type" : "string",
            "enum" : [ "CONTACT" ],
            "default" : "CONTACT"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "CallingEventWebhookTargetUrlRequest" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "CompletedThirdPartyCallRequest" : {
        "required" : [ "createEngagement", "engagementProperties", "externalCallId", "finalCallStatus", "fromNumber", "potentialRecipientUserIds", "toNumber" ],
        "type" : "object",
        "properties" : {
          "fromNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "createEngagement" : {
            "type" : "boolean"
          },
          "finalCallStatus" : {
            "type" : "string",
            "enum" : [ "QUEUED", "RINGING", "IN_PROGRESS", "CANCELED", "COMPLETED", "BUSY", "FAILED", "NO_ANSWER", "CONNECTING", "CALLING_CRM_USER", "MISSED", "HOLD" ]
          },
          "durationSeconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "externalCallId" : {
            "type" : "string"
          },
          "engagementProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "potentialRecipientUserIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "callStartedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "toNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "CallingEventWebhookTargetUrlResponse" : {
        "required" : [ "createdAt", "updatedAt", "url" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "url" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "supportsInboundCalling", "updatedAt", "url", "usesCallingWindow", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "When this calling extension was created.",
            "format" : "date-time"
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects."
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users."
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "usesCallingWindow" : {
            "type" : "boolean"
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot. "
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#)."
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The last time the settings for this calling extension were modified.",
            "format" : "date-time"
          }
        }
      },
      "ChannelConnectionSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "CallCrmObjectMappingRequest" : {
        "required" : [ "engagementId", "externalCallId" ],
        "type" : "object",
        "properties" : {
          "externalCallId" : {
            "type" : "string"
          },
          "engagementId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ObjectCoordinates" : {
        "required" : [ "objectId", "objectTypeId", "portalId" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string"
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "objectId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SettingsRequest" : {
        "required" : [ "name", "url", "usesCallingWindow" ],
        "type" : "object",
        "properties" : {
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "When true, users will be able to click to dial from custom objects.",
            "example" : true
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app is ready for production. Users will be able to select your calling app as their provider and can then click to dial within HubSpot.",
            "example" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of your calling service to display to users.",
            "example" : "HubPhone"
          },
          "width" : {
            "type" : "integer",
            "description" : "The target width of the iframe that will contain your phone/calling UI.",
            "format" : "int32",
            "example" : 200
          },
          "usesCallingWindow" : {
            "type" : "boolean"
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "When true, this indicates that your calling app supports inbound calling within HubSpot.",
            "example" : true
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to your phone/calling UI, built with the [Calling SDK](#).",
            "example" : "https://www.example.com/hubspot/iframe"
          },
          "height" : {
            "type" : "integer",
            "description" : "The target height of the iframe that will contain your phone/calling UI.",
            "format" : "int32",
            "example" : 350
          }
        }
      },
      "FormattedPhoneNumber" : {
        "required" : [ "e164Number", "phoneNumberType" ],
        "type" : "object",
        "properties" : {
          "extension" : {
            "type" : "string"
          },
          "e164Number" : {
            "type" : "string"
          },
          "phoneNumberType" : {
            "type" : "string",
            "enum" : [ "FIXED_LINE", "MOBILE", "FIXED_LINE_OR_MOBILE", "TOLL_FREE", "PREMIUM_RATE", "SHARED_COST", "VOIP", "PERSONAL_NUMBER", "PAGER", "UAN", "VOICEMAIL", "UNKNOWN" ]
          }
        }
      },
      "ChannelConnectionSettingsResponse" : {
        "required" : [ "createdAt", "isReady", "updatedAt", "url" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "isReady" : {
            "type" : "boolean"
          },
          "url" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "CallingEventWebhookAppSubscriptionsResponse" : {
        "required" : [ "subscriptions" ],
        "type" : "object",
        "properties" : {
          "subscriptions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CallingEventWebhookSubscriptionResponse"
            }
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.schemas.contacts.write" : " ",
              "crm.objects.contacts.write" : " ",
              "crm.objects.contacts.read" : " ",
              "crm.schemas.contacts.read" : " "
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "sales" : "STARTER",
    "service" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}