{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auth Oauth",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Public_Token"
  }, {
    "name" : "Well_Known_Open_Ai_Apps_Challenge"
  }, {
    "name" : "Well_Known_Protected"
  } ],
  "paths" : {
    "/oauth/.well-known/oauth-protected-resource" : {
      "get" : {
        "tags" : [ "Well_Known_Protected" ],
        "operationId" : "get-/oauth/.well-known/oauth-protected-resource_/oauth/.well-known/oauth-protected-resource",
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/oauth/.well-known/openai-apps-challenge" : {
      "get" : {
        "tags" : [ "Well_Known_Open_Ai_Apps_Challenge" ],
        "operationId" : "get-/oauth/.well-known/openai-apps-challenge_/oauth/.well-known/openai-apps-challenge",
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/oauth/v3/token" : {
      "post" : {
        "tags" : [ "Public_Token" ],
        "summary" : "OAuth token endpoint",
        "description" : "Authenticates a client and returns access and refresh tokens.",
        "operationId" : "post-/oauth/v3/token_/oauth/v3/token",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "client_secret" : {
                    "type" : "string",
                    "example" : null
                  },
                  "code" : {
                    "type" : "string",
                    "example" : null
                  },
                  "code_verifier" : {
                    "type" : "string",
                    "example" : null
                  },
                  "grant_type" : {
                    "type" : "string",
                    "example" : null,
                    "enum" : [ "authorization_code", "refresh_token" ]
                  },
                  "redirect_uri" : {
                    "type" : "string",
                    "example" : null
                  },
                  "refresh_token" : {
                    "type" : "string",
                    "example" : null
                  },
                  "scope" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/oauth/v3/token/introspect" : {
      "post" : {
        "tags" : [ "Public_Token" ],
        "summary" : "Token introspection endpoint",
        "description" : "Returns validity and metadata for access and refresh tokens.",
        "operationId" : "post-/oauth/v3/token/introspect_/oauth/v3/token/introspect",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "client_secret" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token_type_hint" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenInfoResponseBaseIF"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "TokenInfoResponseBaseIF" : {
        "required" : [ "active" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : { }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}