{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ビデオ会議拡張機能",
    "description" : "These APIs allow you to specify URLs that can be used to interact with a video conferencing application, to allow HubSpot to add video conference links to meeting requests with contacts.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "あなたの会社がZoomでのミーティングを頻繁に実施している場合、このAPIを使用して、ユーザーがHubSpotでミーティングをスケジュールするときにZoom情報をミーティングへの招待に追加できるようにします。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Video Conference Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/video-conferencing"
    } ],
    "x-hubspot-introduction" : "ビデオ会議APIを使用して、HubSpotでミーティングをスケジュールするときのビデオ会議オプションを追加します。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "設定"
  } ],
  "paths" : {
    "/crm/v3/extensions/videoconferencing/settings/{appId}" : {
      "get" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "設定を取得",
        "description" : "指定されたIDのビデオ会議アプリケーションの設定を返します。",
        "operationId" : "get-/crm/v3/extensions/videoconferencing/settings/{appId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ビデオ会議アプリケーションのID。これは、HubSpot開発者ポータルで作成されたアプリケーションのIDです。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "設定を更新",
        "description" : "指定されたIDのビデオ会議アプリケーションの設定を更新します。",
        "operationId" : "put-/crm/v3/extensions/videoconferencing/settings/{appId}_replace",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ビデオ会議アプリケーションのID。これは、HubSpot開発者ポータルで作成されたアプリケーションのIDです。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "設定" ],
        "summary" : "設定を削除",
        "description" : "指定されたIDのビデオ会議アプリケーションの設定を削除します。",
        "operationId" : "delete-/crm/v3/extensions/videoconferencing/settings/{appId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ビデオ会議アプリケーションのID。これは、HubSpot開発者ポータルで作成されたアプリケーションのIDです。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "ExternalSettings" : {
        "required" : [ "createMeetingUrl" ],
        "type" : "object",
        "properties" : {
          "userVerifyUrl" : {
            "type" : "string",
            "description" : "HubSpotがビデオ会議アプリケーションにユーザーが存在していることを確認するために使用するURL。",
            "example" : "https://example.com/user-verify"
          },
          "fetchAccountsUri" : {
            "type" : "string"
          },
          "createMeetingUrl" : {
            "type" : "string",
            "description" : "HubSpotが新しいビデオ会議の作成リクエストを送信するURL。",
            "example" : "https://example.com/create-meeting"
          },
          "updateMeetingUrl" : {
            "type" : "string",
            "description" : "HubSpotが既存のミーティングの更新を送信するURL。通常は、ユーザーがミーティングのトピックまたは時間を変更したときに呼び出されます。",
            "example" : "https://example.com/update-meeting"
          },
          "deleteMeetingUrl" : {
            "type" : "string",
            "description" : "HubSpotがHubSpotで削除されたミーティングの通知を送信するURL。",
            "example" : "https://example.com/delete-meeting"
          }
        },
        "description" : "The URLs of the various actions provided by the video conferencing application. All URLs must use the `https` protocol.",
        "example" : {
          "createMeetingUrl" : "https://example.com/create-meeting",
          "updateMeetingUrl" : "https://example.com/update-meeting",
          "deleteMeetingUrl" : "https://example.com/delete-meeting",
          "userVerifyUrl" : "https://example.com/user-verify"
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}