{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Extension de visioconférence",
    "description" : "These APIs allow you to specify URLs that can be used to interact with a video conferencing application, to allow HubSpot to add video conference links to meeting requests with contacts.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Si votre entreprise organise fréquemment des réunions via Zoom, utilisez cette API pour permettre l'ajout d'informations Zoom aux invitations lors de la programmation de réunions dans HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Video Conference Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/video-conferencing"
    } ],
    "x-hubspot-introduction" : "Utilisez l'API de vidéoconférence pour ajouter des options de vidéoconférence lors de la planification d'une réunion dans HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "Paramètres"
  } ],
  "paths" : {
    "/crm/v3/extensions/videoconferencing/settings/{appId}" : {
      "get" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Obtenir les paramètres",
        "description" : "Renvoyer les paramètres d'une application de visioconférence avec l'ID spécifié.",
        "operationId" : "get-/crm/v3/extensions/videoconferencing/settings/{appId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application de visioconférence. Il s'agit de l'identifiant de l'application créée dans votre portail développeur HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Mettre à jour les paramètres",
        "description" : "Met à jour les paramètres d'une application de visioconférence avec l'ID spécifié.",
        "operationId" : "put-/crm/v3/extensions/videoconferencing/settings/{appId}_replace",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application de visioconférence. Il s'agit de l'identifiant de l'application créée dans votre portail développeur HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "Paramètres" ],
        "summary" : "Supprimer les paramètres",
        "description" : "Supprime les paramètres d'une application de visioconférence avec l'ID spécifié.",
        "operationId" : "delete-/crm/v3/extensions/videoconferencing/settings/{appId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application de visioconférence. Il s'agit de l'identifiant de l'application créée dans votre portail développeur HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "ExternalSettings" : {
        "required" : [ "createMeetingUrl" ],
        "type" : "object",
        "properties" : {
          "userVerifyUrl" : {
            "type" : "string",
            "description" : "L'URL que HubSpot utilisera pour vérifier qu'un utilisateur existe dans l'application de vidéoconférence.",
            "example" : "https://example.com/user-verify"
          },
          "fetchAccountsUri" : {
            "type" : "string"
          },
          "createMeetingUrl" : {
            "type" : "string",
            "description" : "L'URL que HubSpot enverra pour créer une nouvelle vidéoconférence.",
            "example" : "https://example.com/create-meeting"
          },
          "updateMeetingUrl" : {
            "type" : "string",
            "description" : "L'URL vers laquelle HubSpot enverra les mises à jour des réunions existantes. Généralement appelé lorsque l'utilisateur modifie le sujet ou les horaires d'une réunion.",
            "example" : "https://example.com/update-meeting"
          },
          "deleteMeetingUrl" : {
            "type" : "string",
            "description" : "L'URL vers laquelle HubSpot enverra les notifications des réunions supprimées dans HubSpot.",
            "example" : "https://example.com/delete-meeting"
          }
        },
        "description" : "The URLs of the various actions provided by the video conferencing application. All URLs must use the `https` protocol.",
        "example" : {
          "createMeetingUrl" : "https://example.com/create-meeting",
          "updateMeetingUrl" : "https://example.com/update-meeting",
          "deleteMeetingUrl" : "https://example.com/delete-meeting",
          "userVerifyUrl" : "https://example.com/user-verify"
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets d'assistance",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}