{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Extensión de videoconferencias",
    "description" : "These APIs allow you to specify URLs that can be used to interact with a video conferencing application, to allow HubSpot to add video conference links to meeting requests with contacts.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Si tu empresa suele realizar reuniones a través de Zoom, utiliza esta API para que los usuarios puedan agregar información de Zoom a las invitaciones de reunión al programar reuniones en HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Video Conference Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/video-conferencing"
    } ],
    "x-hubspot-introduction" : "Utiliza la API de videoconferencia para agregar opciones de videoconferencia al programar una reunión en HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Settings"
  }, {
    "name" : "Configuración"
  } ],
  "paths" : {
    "/crm/v3/extensions/videoconferencing/settings/{appId}" : {
      "get" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Obtener configuración",
        "description" : "Devuelve la configuración de una aplicación de videoconferencia con el ID especificado.",
        "operationId" : "get-/crm/v3/extensions/videoconferencing/settings/{appId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de videoconferencia. Este es el identificador de la aplicación creada en tu portal de desarrollador de HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Actualizar la configuración",
        "description" : "Actualiza la configuración de una aplicación de videoconferencia con el ID especificado.",
        "operationId" : "put-/crm/v3/extensions/videoconferencing/settings/{appId}_replace",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de videoconferencia. Este es el identificador de la aplicación creada en tu portal de desarrollador de HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Eliminar configuración",
        "description" : "Elimina la configuración de una aplicación de videoconferencia con el ID especificado.",
        "operationId" : "delete-/crm/v3/extensions/videoconferencing/settings/{appId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de videoconferencia. Este es el identificador de la aplicación creada en tu portal de desarrollador de HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "ExternalSettings" : {
        "required" : [ "createMeetingUrl" ],
        "type" : "object",
        "properties" : {
          "userVerifyUrl" : {
            "type" : "string",
            "description" : "La URL que HubSpot utilizará para verificar que un usuario existe en la aplicación de videoconferencia.",
            "example" : "https://example.com/user-verify"
          },
          "fetchAccountsUri" : {
            "type" : "string"
          },
          "createMeetingUrl" : {
            "type" : "string",
            "description" : "La URL a la que HubSpot enviará solicitudes para crear una nueva videoconferencia.",
            "example" : "https://example.com/create-meeting"
          },
          "updateMeetingUrl" : {
            "type" : "string",
            "description" : "La URL a la que HubSpot enviará las actualizaciones de las reuniones existentes. Normalmente se solicita cuando el usuario cambia el tema o la hora de una reunión.",
            "example" : "https://example.com/update-meeting"
          },
          "deleteMeetingUrl" : {
            "type" : "string",
            "description" : "La URL a la que HubSpot enviará notificaciones de reuniones que han sido eliminadas en HubSpot.",
            "example" : "https://example.com/delete-meeting"
          }
        },
        "description" : "The URLs of the various actions provided by the video conferencing application. All URLs must use the `https` protocol.",
        "example" : {
          "createMeetingUrl" : "https://example.com/create-meeting",
          "updateMeetingUrl" : "https://example.com/update-meeting",
          "deleteMeetingUrl" : "https://example.com/delete-meeting",
          "userVerifyUrl" : "https://example.com/user-verify"
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}