{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations Inbox & Messages",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Inbox & Messages Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/conversations/inbox-and-messages"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Public_Actor"
  }, {
    "name" : "Public_Channel"
  }, {
    "name" : "Public_Channel_Account"
  }, {
    "name" : "Public_Inbox"
  }, {
    "name" : "Public_Message"
  }, {
    "name" : "Public_Thread"
  } ],
  "paths" : {
    "/conversations/v3/conversations/actors/batch/read" : {
      "post" : {
        "tags" : [ "Public_Actor" ],
        "summary" : "Get a group of actors",
        "description" : "Resolve a set of `ActorId`s to the underlying actors/participants.",
        "operationId" : "post-/conversations/v3/conversations/actors/batch/read",
        "parameters" : [ {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActor"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/actors/{actorId}" : {
      "get" : {
        "tags" : [ "Public_Actor" ],
        "summary" : "Get a single actor",
        "description" : "Retrieve details of a single actor using the actor ID.",
        "operationId" : "get-/conversations/v3/conversations/actors/{actorId}",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActor"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channel-accounts" : {
      "get" : {
        "tags" : [ "Public_Channel_Account" ],
        "summary" : "Get channel accounts",
        "description" : "Retrieve a list of channel accounts, with optional filters and sorting.",
        "operationId" : "get-/conversations/v3/conversations/channel-accounts",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccountForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channel-accounts/{channelAccountId}" : {
      "get" : {
        "tags" : [ "Public_Channel_Account" ],
        "summary" : "Get a single channel account",
        "description" : "Retrieve details of a single channel account using the channel account ID.",
        "operationId" : "get-/conversations/v3/conversations/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channels" : {
      "get" : {
        "tags" : [ "Public_Channel" ],
        "summary" : "Get channels",
        "description" : "Retrieve a list of channels, with optional filters and sorting.",
        "operationId" : "get-/conversations/v3/conversations/channels",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channels/{channelId}" : {
      "get" : {
        "tags" : [ "Public_Channel" ],
        "summary" : "Get a single channel",
        "description" : "Retrieve details of a single channel using the channel ID.",
        "operationId" : "get-/conversations/v3/conversations/channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/inboxes" : {
      "get" : {
        "tags" : [ "Public_Inbox" ],
        "summary" : "Get conversations inboxes",
        "description" : "Retrieve a list of conversations inboxes, with optional filters and sorting.",
        "operationId" : "get-/conversations/v3/conversations/inboxes",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicInboxForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/inboxes/{inboxId}" : {
      "get" : {
        "tags" : [ "Public_Inbox" ],
        "summary" : "Get a single conversations inbox",
        "description" : "Retrieve details of a single conversations inbox using the inbox ID.",
        "operationId" : "get-/conversations/v3/conversations/inboxes/{inboxId}",
        "parameters" : [ {
          "name" : "inboxId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicInbox"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads" : {
      "get" : {
        "tags" : [ "Public_Thread" ],
        "summary" : "Get threads",
        "description" : "Retrieve a list of threads, with optional filters and sorting.",
        "operationId" : "get-/conversations/v3/conversations/threads",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "associatedContactId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "associatedTicketId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "latestMessageTimestampAfter",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "threadStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicThreadForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}" : {
      "get" : {
        "tags" : [ "Public_Thread" ],
        "summary" : "Get a single thread",
        "description" : "Retrieve a single thread by its ID",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Public_Thread" ],
        "summary" : "Archives a thread",
        "description" : "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
        "operationId" : "delete-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        }, {
          "private_apps" : [ "conversations.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Public_Thread" ],
        "summary" : "Update a thread",
        "description" : "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
        "operationId" : "patch-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        }, {
          "private_apps" : [ "conversations.write" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages" : {
      "get" : {
        "tags" : [ "Public_Message" ],
        "summary" : "Get message history for a thread",
        "description" : "Retrieve the message history for a specific thread.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicMessageForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Public_Message" ],
        "summary" : "Send a message to a thread",
        "description" : "Send a new message on a thread at the current timestamp.",
        "operationId" : "post-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicMessageEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        }, {
          "private_apps" : [ "conversations.write" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Public_Message" ],
        "summary" : "Get a single message",
        "description" : "Retrieve a single message from a thread using the message ID.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content" : {
      "get" : {
        "tags" : [ "Public_Message" ],
        "summary" : "Get the original content of a single message",
        "description" : "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's `truncationStatus` is anything other than `NOT_TRUNCATED`.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessageContent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        }, {
          "private_apps" : [ "conversations.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicRecipient" : {
        "required" : [ "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "recipientField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageEgg" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessageEgg"
        }, {
          "$ref" : "#/components/schemas/PublicCommentEgg"
        } ]
      },
      "PublicChannelAccount" : {
        "required" : [ "active", "archived", "authorized", "channelId", "createdAt", "id", "inboxId", "name" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "Whether the channel account is turned on.",
            "example" : null
          },
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "authorized" : {
            "type" : "boolean",
            "example" : null
          },
          "channelId" : {
            "type" : "string",
            "description" : "The ID of the channel that the channel account is an instance of.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel account.",
            "example" : null
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox that contains the channel account.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel account.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageHeader" : {
        "title" : "MESSAGE_HEADER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MESSAGE_HEADER",
            "enum" : [ "MESSAGE_HEADER" ]
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicChannelForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicChannel"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicThreadForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicThread"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "LlmActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "LLM",
              "enum" : [ "LLM" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicContact" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          }
        },
        "example" : null
      },
      "BotActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "BOT",
              "enum" : [ "BOT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicAssignmentMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "ASSIGNMENT",
              "enum" : [ "ASSIGNMENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "assignedTo" : {
              "type" : "string",
              "example" : null
            },
            "assignedFrom" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactAddress" : {
        "type" : "object",
        "properties" : {
          "city" : {
            "type" : "string",
            "example" : null
          },
          "country" : {
            "type" : "string",
            "example" : null
          },
          "countryCode" : {
            "type" : "string",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "example" : null
          },
          "street" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          },
          "zip" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicThreadInboxChange" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "fromInboxId", "id", "recipients", "senders", "toInboxId", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "THREAD_INBOX_CHANGE",
              "enum" : [ "THREAD_INBOX_CHANGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "fromInboxId" : {
              "type" : "string",
              "example" : null
            },
            "toInboxId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicWelcomeMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "WELCOME_MESSAGE",
              "enum" : [ "WELCOME_MESSAGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "CollectionResponseWithTotalPublicInboxForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInbox"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicUnsupportedContent" : {
        "title" : "UNSUPPORTED_CONTENT",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "UNSUPPORTED_CONTENT",
            "enum" : [ "UNSUPPORTED_CONTENT" ]
          }
        },
        "example" : null
      },
      "PublicQuickReplies" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "allowMultiSelect", "allowUserInput", "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "allowMultiSelect" : {
            "type" : "boolean",
            "example" : null
          },
          "allowUserInput" : {
            "type" : "boolean",
            "example" : null
          },
          "quickReplies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          }
        },
        "example" : null
      },
      "QuickReply" : {
        "required" : [ "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "TEXT", "URL" ]
          }
        },
        "example" : null
      },
      "PublicInbox" : {
        "required" : [ "archived", "createdAt", "id", "name", "type", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the inbox was created.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the inbox.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the inbox.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies whether this refers to a Conversations Inbox or to the Help Desk. Valid values are INBOX or HELP_DESK",
            "example" : null,
            "enum" : [ "HELP_DESK", "INBOX" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSocialMetadataAttachment" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        },
        "example" : null
      },
      "PublicChannel" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel.",
            "example" : null
          }
        },
        "example" : null
      },
      "SocialMetadata" : {
        "required" : [ "mediaType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "mediaTitle" : {
            "type" : "string",
            "example" : null
          },
          "mediaType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ARTICLE", "AUDIO", "CAROUSEL", "DOCUMENT", "GIF", "LINK", "NONE", "PHOTO", "POLL", "STORY", "VIDEO" ]
          },
          "mediaUrl" : {
            "type" : "string",
            "example" : null
          },
          "mediaUrlString" : {
            "type" : "string",
            "example" : null
          },
          "thumbnailUrl" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLocation" : {
        "title" : "LOCATION",
        "required" : [ "latitude", "longitude", "type" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "example" : null
          },
          "latitude" : {
            "type" : "number",
            "example" : null
          },
          "longitude" : {
            "type" : "number",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "LOCATION",
            "enum" : [ "LOCATION" ]
          },
          "url" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicThreadStatusChange" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "newStatus", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "THREAD_STATUS_CHANGE",
              "enum" : [ "THREAD_STATUS_CHANGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "newStatus" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "OPEN", "CLOSED" ]
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "CollectionResponseWithTotalPublicChannelAccountForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicChannelAccount"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFileEgg" : {
        "title" : "FILE",
        "required" : [ "fileId", "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "FILE",
            "enum" : [ "FILE" ]
          }
        },
        "example" : null
      },
      "PublicActor" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/AgentActor"
        }, {
          "$ref" : "#/components/schemas/BotActor"
        }, {
          "$ref" : "#/components/schemas/IntegratorActor"
        }, {
          "$ref" : "#/components/schemas/SystemActor"
        }, {
          "$ref" : "#/components/schemas/VisitorActor"
        }, {
          "$ref" : "#/components/schemas/EmailActor"
        }, {
          "$ref" : "#/components/schemas/LlmActor"
        } ]
      },
      "AgentActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "AGENT",
              "enum" : [ "AGENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "email" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicRecipientEgg" : {
        "required" : [ "deliveryIdentifiers" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "deliveryIdentifiers" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
            }
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "recipientField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicComment" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "richText", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFile"
                }, {
                  "$ref" : "#/components/schemas/PublicLocation"
                }, {
                  "$ref" : "#/components/schemas/PublicContact"
                }, {
                  "$ref" : "#/components/schemas/PublicUnsupportedContent"
                }, {
                  "$ref" : "#/components/schemas/PublicMessageHeader"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickReplies"
                }, {
                  "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
                } ]
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicThreadUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived. Set to false to restore the thread.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          }
        },
        "example" : null
      },
      "BatchResponsePublicActor" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/AgentActor"
              }, {
                "$ref" : "#/components/schemas/BotActor"
              }, {
                "$ref" : "#/components/schemas/IntegratorActor"
              }, {
                "$ref" : "#/components/schemas/SystemActor"
              }, {
                "$ref" : "#/components/schemas/VisitorActor"
              }, {
                "$ref" : "#/components/schemas/EmailActor"
              }, {
                "$ref" : "#/components/schemas/LlmActor"
              } ]
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicSocialMediaEgg" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "PublicThreadAssociations" : {
        "type" : "object",
        "properties" : {
          "associatedTicketId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicMessageForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConversationsMessage"
              }, {
                "$ref" : "#/components/schemas/PublicComment"
              }, {
                "$ref" : "#/components/schemas/PublicWelcomeMessage"
              }, {
                "$ref" : "#/components/schemas/PublicAssignmentMessage"
              }, {
                "$ref" : "#/components/schemas/PublicThreadStatusChange"
              }, {
                "$ref" : "#/components/schemas/PublicThreadInboxChange"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicMessageFailureDetails" : {
        "required" : [ "errorMessageTokens" ],
        "type" : "object",
        "properties" : {
          "errorMessage" : {
            "type" : "string",
            "example" : null
          },
          "errorMessageTokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessage" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessage"
        }, {
          "$ref" : "#/components/schemas/PublicComment"
        }, {
          "$ref" : "#/components/schemas/PublicWelcomeMessage"
        }, {
          "$ref" : "#/components/schemas/PublicAssignmentMessage"
        }, {
          "$ref" : "#/components/schemas/PublicThreadStatusChange"
        }, {
          "$ref" : "#/components/schemas/PublicThreadInboxChange"
        } ]
      },
      "PublicDeliveryIdentifier" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat.",
            "example" : null,
            "enum" : [ "CHANNEL_SPECIFIC_OPAQUE_ID", "HS_EMAIL_ADDRESS", "HS_PHONE_NUMBER", "HS_SHORT_CODE" ]
          },
          "value" : {
            "type" : "string",
            "description" : "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicCommentEgg" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFileEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMediaEgg"
                } ]
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactPhone" : {
        "required" : [ "phone" ],
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CELL", "HOME", "MAIN", "WORK" ]
          }
        },
        "example" : null
      },
      "PublicSender" : {
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "senderField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicClient" : {
        "required" : [ "clientType" ],
        "type" : "object",
        "properties" : {
          "clientType" : {
            "type" : "string",
            "description" : "The type of the client.",
            "example" : null,
            "enum" : [ "HUBSPOT", "INTEGRATION", "SYSTEM", "UNKNOWN" ]
          },
          "integrationAppId" : {
            "type" : "integer",
            "description" : "The ID of the client if the client is an integration.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageStatus" : {
        "required" : [ "statusType" ],
        "type" : "object",
        "properties" : {
          "failureDetails" : {
            "$ref" : "#/components/schemas/PublicMessageFailureDetails"
          },
          "statusType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FAILED", "READ", "RECEIVED", "SENT" ]
          }
        },
        "example" : null
      },
      "PublicConversationsMessageEgg" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "channelAccountId", "channelId", "recipients", "senderActorId", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFileEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMediaEgg"
                } ]
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipientEgg"
              }
            },
            "senderActorId" : {
              "type" : "string",
              "example" : null
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            },
            "subject" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicWhatsAppTemplateMetadata" : {
        "title" : "WHATSAPP_TEMPLATE_METADATA",
        "required" : [ "crmObjectIds", "parameters", "type" ],
        "type" : "object",
        "properties" : {
          "contentId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "crmObjectIds" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            },
            "example" : null
          },
          "mappedTemplateId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "rootMicId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "WHATSAPP_TEMPLATE_METADATA",
            "enum" : [ "WHATSAPP_TEMPLATE_METADATA" ]
          }
        },
        "example" : null
      },
      "PublicConversationsMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "direction", "id", "recipients", "senders", "text", "truncationStatus", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFile"
                }, {
                  "$ref" : "#/components/schemas/PublicLocation"
                }, {
                  "$ref" : "#/components/schemas/PublicContact"
                }, {
                  "$ref" : "#/components/schemas/PublicUnsupportedContent"
                }, {
                  "$ref" : "#/components/schemas/PublicMessageHeader"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickReplies"
                }, {
                  "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
                } ]
              }
            },
            "subject" : {
              "type" : "string",
              "example" : null
            },
            "truncationStatus" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "NOT_TRUNCATED", "TRUNCATED_TO_MOST_RECENT_REPLY", "TRUNCATED" ]
            },
            "inReplyToId" : {
              "type" : "string",
              "example" : null
            },
            "status" : {
              "$ref" : "#/components/schemas/PublicMessageStatus"
            },
            "direction" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "INCOMING", "OUTGOING" ]
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicThread" : {
        "required" : [ "archived", "associatedContactId", "createdAt", "id", "inboxId", "originalChannelAccountId", "originalChannelId", "spam", "status" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived.",
            "example" : null
          },
          "assignedTo" : {
            "type" : "string",
            "example" : null
          },
          "associatedContactId" : {
            "type" : "string",
            "description" : "The ID of the associated Contact in the CRM. If the Contact for the thread has not yet been added or created, the `associatedContactId` returned will be a visitorID and cannot be used to search for the Contact in the CRM.",
            "example" : null
          },
          "closedAt" : {
            "type" : "string",
            "description" : "When the thread was closed. Only set if the thread is closed.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the thread was created.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the thread.",
            "example" : null
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox containing the thread.",
            "example" : null
          },
          "latestMessageReceivedTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "latestMessageSentTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "latestMessageTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent or received on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "originalChannelAccountId" : {
            "type" : "string",
            "example" : null
          },
          "originalChannelId" : {
            "type" : "string",
            "example" : null
          },
          "spam" : {
            "type" : "boolean",
            "description" : "Whether the thread is marked as spam.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          },
          "threadAssociations" : {
            "$ref" : "#/components/schemas/PublicThreadAssociations"
          }
        },
        "example" : null
      },
      "SystemActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "SYSTEM",
              "enum" : [ "SYSTEM" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "IntegratorActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "name", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "INTEGRATOR",
              "enum" : [ "INTEGRATOR" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactProfile" : {
        "required" : [ "addresses", "emails", "phones", "urls" ],
        "type" : "object",
        "properties" : {
          "addresses" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactAddress"
            }
          },
          "emails" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactEmail"
            }
          },
          "name" : {
            "$ref" : "#/components/schemas/ContactName"
          },
          "org" : {
            "$ref" : "#/components/schemas/ContactOrg"
          },
          "phones" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactPhone"
            }
          },
          "urls" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactUrl"
            }
          }
        },
        "example" : null
      },
      "ContactOrg" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "example" : null
          },
          "department" : {
            "type" : "string",
            "example" : null
          },
          "title" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "EmailActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "email", "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "EMAIL",
              "enum" : [ "EMAIL" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "email" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactUrl" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          },
          "url" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicFile" : {
        "title" : "FILE",
        "required" : [ "fileId", "fileUsageType", "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "string",
            "example" : null
          },
          "fileUsageType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AUDIO", "IMAGE", "OTHER", "STICKER", "VOICE_RECORDING" ]
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "url" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicQuickRepliesEgg" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "quickReplies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          }
        },
        "example" : null
      },
      "PublicMessageContent" : {
        "type" : "object",
        "properties" : {
          "richText" : {
            "type" : "string",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "VisitorActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "VISITOR",
              "enum" : [ "VISITOR" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "email" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactEmail" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          }
        },
        "example" : null
      },
[...]
