{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Events Manage Event Definitions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE",
      "sales" : "ENTERPRISE",
      "service" : "ENTERPRISE",
      "cms" : "ENTERPRISE",
      "commerce" : "ENTERPRISE",
      "crmHub" : "ENTERPRISE",
      "dataHub" : "ENTERPRISE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Events Definitions Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/analytics-and-events/custom-events/custom-event-definitions"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Behavioral_Events_Tracking"
  }, {
    "name" : "External_Events_Definition"
  } ],
  "paths" : {
    "/events/v3/event-definitions" : {
      "get" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Retrieve event definitions",
        "description" : "Retrieve existing custom event definitions.",
        "operationId" : "get-/events/v3/event-definitions",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeProperties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "searchString",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalBehavioralEventTypeDefinitionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "post" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Create custom event definition",
        "description" : "Create a custom event definition.",
        "operationId" : "post-/events/v3/event-definitions",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/v3/event-definitions/{eventName}" : {
      "get" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Retrieve a custom event definition",
        "description" : "Fetch a single custom event definition by name.",
        "operationId" : "get-/events/v3/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Delete an event definition",
        "description" : "Delete a custom event definition by name.",
        "operationId" : "delete-/events/v3/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Update a custom event definition",
        "description" : "Update a specific custom event definition by name.",
        "operationId" : "patch-/events/v3/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/v3/event-definitions/{eventName}/property" : {
      "post" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Create a property for an event definition",
        "description" : "Create a new property for an existing event definition.",
        "operationId" : "post-/events/v3/event-definitions/{eventName}/property",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/v3/event-definitions/{eventName}/property/{propertyName}" : {
      "delete" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Delete a property from a custom event definition",
        "description" : "Delete an existing property from a custom event definition.",
        "operationId" : "delete-/events/v3/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "External_Events_Definition" ],
        "summary" : "Update an existing custom event property",
        "description" : "Update an existing property in a custom event definition.",
        "operationId" : "patch-/events/v3/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        }, {
          "private_apps" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/v3/send/batch" : {
      "post" : {
        "tags" : [ "Behavioral_Events_Tracking" ],
        "operationId" : "post-/events/v3/send/batch_/events/v3/send/batch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchedBehavioralEventHttpCompletionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "analytics.behavioral_events.send" ]
        }, {
          "private_apps" : [ "analytics.behavioral_events.send" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "RollingPropertyUpdatedOperation" : {
        "title" : "rolling-property-updated",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "NOT_UPDATED_IN_LAST_X_DAYS", "UPDATED_IN_LAST_X_DAYS" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "rolling-property-updated",
            "enum" : [ "rolling-property-updated" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalPrimaryObjectResolutionRule" : {
        "required" : [ "eventPropertyName", "targetObjectPropertyName" ],
        "type" : "object",
        "properties" : {
          "eventPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "targetObjectPropertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "TodayReference" : {
        "title" : "TODAY",
        "required" : [ "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "TODAY",
            "enum" : [ "TODAY" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "NowReference" : {
        "title" : "NOW",
        "required" : [ "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "NOW",
            "enum" : [ "NOW" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "RangedTimeOperation" : {
        "title" : "rangedtime",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundEndpointBehavior", "lowerBoundTimePoint", "operationType", "operator", "operatorName", "propertyParser", "propertyType", "type", "upperBoundEndpointBehavior", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUSIVE", "INCLUSIVE" ]
          },
          "lowerBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/DatePoint"
            }, {
              "$ref" : "#/components/schemas/IndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PropertyReferencedTime"
            } ]
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ANNIVERSARY", "ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION", "UPDATED_AT", "VALUE", "VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION" ]
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "rangedtime",
            "enum" : [ "rangedtime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null
          },
          "upperBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUSIVE", "INCLUSIVE" ]
          },
          "upperBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/DatePoint"
            }, {
              "$ref" : "#/components/schemas/IndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PropertyReferencedTime"
            } ]
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "BehavioralEventHttpCompletionRequest" : {
        "required" : [ "eventName", "properties" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "Email of visitor",
            "example" : null
          },
          "eventName" : {
            "type" : "string",
            "description" : "Internal name of the event-type to trigger",
            "example" : null
          },
          "objectId" : {
            "type" : "string",
            "description" : "The object id that this event occurred on. Could be a contact id or a visitor id.",
            "example" : null
          },
          "occurredAt" : {
            "type" : "string",
            "description" : "The time when this event occurred (if any). If this isn't set, the current time will be used",
            "format" : "date-time",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Map of properties for the event in the format property internal name - property value",
            "example" : null
          },
          "utk" : {
            "type" : "string",
            "description" : "User token",
            "example" : null
          },
          "uuid" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "QuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "RelativeComparativeTimestampRefineBy" : {
        "title" : "RelativeComparativeTimestampRefineBy",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/TimeOffset"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "RelativeComparativeTimestampRefineBy",
            "enum" : [ "RelativeComparativeTimestampRefineBy" ]
          }
        },
        "example" : null
      },
      "CalendarDatePropertyOperation" : {
        "title" : "calendar-date",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "timeUnit", "timeUnitCount", "useFiscalYear" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "fiscalYearStart" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IN_LAST_TIME_UNIT", "IN_NEXT_TIME_UNIT", "IN_THIS_TIME_UNIT", "IN_THIS_TIME_UNIT_SO_FAR" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "calendar-date",
            "enum" : [ "calendar-date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "QUARTER", "WEEK", "YEAR" ]
          },
          "timeUnitCount" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the event that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the event. Used in HubSpot UI",
            "example" : null
          }
        },
        "example" : null
      },
      "StringPropertyOperation" : {
        "title" : "string",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "HAS_EVER_BEEN_EQUAL_TO", "HAS_EVER_CONTAINED", "HAS_NEVER_BEEN_EQUAL_TO", "HAS_NEVER_CONTAINED", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "string",
            "enum" : [ "string" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "TimeOffset" : {
        "required" : [ "amount", "offsetDirection", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "offsetDirection" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FUTURE", "PAST" ]
          },
          "timeUnit" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DAYS", "HOURS", "MINUTES", "WEEKS" ]
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventPropertyCreate" : {
        "required" : [ "label", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the property that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the property. Used in HubSpot UI",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Internal property name, which must be used when referencing the property from the API",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "A list of available options for the property if it is an enumeration. NOTE: This field is only applicable for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the property. Can be one of the following: [string, number, enumeration, datetime]",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionEgg" : {
        "required" : [ "includeDefaultProperties", "label", "propertyDefinitions" ],
        "type" : "object",
        "properties" : {
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingRequest"
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the event that will be shown as help text in HubSpot.",
            "example" : null
          },
          "includeDefaultProperties" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the event. Used in HubSpot UI",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Internal event name, which must be used when referencing the event from this event definitions API. If a name is not supplied, one will be generated based on the label. The `name` value will also be used to automatically generate a `fullyQualifiedName` for the event definition, which you'll use when sending event completions to this event. ",
            "example" : null
          },
          "primaryObject" : {
            "type" : "string",
            "description" : "The object type to associate this event to. Can be one of CONTACT, COMPANY, DEAL, TICKET. If no primaryObject is supplied, we will default to associating the event to CONTACT objects.",
            "example" : null
          },
          "propertyDefinitions" : {
            "type" : "array",
            "description" : "List of custom properties on event",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
            }
          }
        },
        "example" : null
      },
      "FiscalQuarter" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "YearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingRequest" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "DatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "timezoneSource", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "year" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "AbsoluteRangedTimestampRefineBy" : {
        "title" : "AbsoluteRangedTimestampRefineBy",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "AbsoluteRangedTimestampRefineBy",
            "enum" : [ "AbsoluteRangedTimestampRefineBy" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "AllPropertyTypesOperation" : {
        "title" : "alltypes",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BLANK", "IS_KNOWN", "IS_NOT_BLANK", "IS_UNKNOWN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "alltypes",
            "enum" : [ "alltypes" ]
          },
          "pruningRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "DateTimePropertyOperation" : {
        "title" : "datetime",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_AFTER_DATE", "IS_BEFORE", "IS_BEFORE_DATE", "IS_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime",
            "enum" : [ "datetime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeDatePropertyOperation" : {
        "title" : "datetime-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime-comparative",
            "enum" : [ "datetime-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeStringPropertyOperation" : {
        "title" : "string-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "string-comparative",
            "enum" : [ "string-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventPropertyDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the property that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the property. Used in HubSpot UI",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "A list of available options for the property if it is an enumeration. NOTE: This field is only applicable for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          }
        },
        "example" : null
      },
      "PropertyModificationMetadata" : {
        "required" : [ "archivable", "readOnlyDefinition", "readOnlyValue" ],
        "type" : "object",
        "properties" : {
          "archivable" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyDefinition" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyOptions" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyValue" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinition" : {
        "required" : [ "archived", "associations", "fullyQualifiedName", "id", "labels", "name", "objectTypeId", "properties" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "associations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationDefinition"
            }
          },
          "comboEventRules" : {
            "$ref" : "#/components/schemas/ComboEventRuleBranch"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingResponse"
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "fullyQualifiedName" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "labels" : {
            "$ref" : "#/components/schemas/BehavioralEventTypeDefinitionLabels"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "primaryObject" : {
            "type" : "string",
            "example" : null
          },
          "primaryObjectId" : {
            "type" : "string",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          },
          "trackingType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APP_EVENT", "AUTOCAPTURE_EVENT", "CLICKED_ELEMENT", "COMBO_EVENT", "CUSTOM_SCRIPT", "IMPORT", "MANUAL", "PROPERTY_CHANGE", "VISITED_URL", "WEBHOOK" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingResponse" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "MultiStringPropertyOperation" : {
        "title" : "multistring",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "CONTAINS_EXACTLY", "DOES_NOT_CONTAIN", "DOES_NOT_CONTAIN_EXACTLY", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "multistring",
            "enum" : [ "multistring" ]
          },
          "pruningRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "IndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "Option" : {
        "required" : [ "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the option is displayed in HubSpot's UI.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly label that identifies the option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The actual value of the option.",
            "example" : null
          }
        },
        "description" : "A HubSpot property option",
        "example" : null
      },
      "PropertyFilter" : {
        "title" : "PROPERTY",
        "required" : [ "filterType", "operation", "property" ],
        "type" : "object",
        "properties" : {
          "context" : {
            "$ref" : "#/components/schemas/PropertyFilterContext"
          },
          "filterInsightsId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY",
            "enum" : [ "PROPERTY" ]
          },
          "frameworkFilterId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "EnumerationPropertyOperation" : {
        "title" : "enumeration",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS_ALL", "DOES_NOT_CONTAIN_ALL", "HAS_EVER_BEEN_ANY_OF", "HAS_EVER_BEEN_EXACTLY", "HAS_EVER_CONTAINED_ALL", "HAS_NEVER_BEEN_ANY_OF", "HAS_NEVER_BEEN_EXACTLY", "HAS_NEVER_CONTAINED_ALL", "IS_ANY_OF", "IS_EXACTLY", "IS_NONE_OF", "IS_NOT_EXACTLY" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "enumeration",
            "enum" : [ "enumeration" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "WeekReference" : {
        "title" : "WEEK",
        "required" : [ "dayOfWeek", "referenceType" ],
        "type" : "object",
        "properties" : {
          "dayOfWeek" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FRIDAY", "MONDAY", "SATURDAY", "SUNDAY", "THURSDAY", "TUESDAY", "WEDNESDAY" ]
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "WEEK",
            "enum" : [ "WEEK" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "RangedDatePropertyOperation" : {
        "title" : "datetime-ranged",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimestamp", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "upperBoundTimestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBoundTimestamp" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime-ranged",
            "enum" : [ "datetime-ranged" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "upperBoundTimestamp" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NowReference"
            }, {
              "$ref" : "#/components/schemas/TodayReference"
            }, {
              "$ref" : "#/components/schemas/WeekReference"
            }, {
              "$ref" : "#/components/schemas/MonthReference"
            }, {
              "$ref" : "#/components/schemas/QuarterReference"
            }, {
              "$ref" : "#/components/schemas/FiscalQuarter"
            }, {
              "$ref" : "#/components/schemas/YearReference"
            }, {
              "$ref" : "#/components/schemas/FiscalYear"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/IndexOffset"
          },
          "shouldGenerateRefreshTime" : {
            "type" : "boolean",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "RangedNumberPropertyOperation" : {
        "title" : "number-ranged",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "operatorName", "propertyType", "upperBound" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBound" : {
            "type" : "number",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number-ranged",
            "enum" : [ "number-ranged" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "upperBound" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "FiscalYear" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "RollingDateRangePropertyOperation" : {
        "title" : "datetime-rolling",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_LESS_THAN_X_DAYS_AGO", "IS_LESS_THAN_X_DAYS_FROM_NOW", "IS_MORE_THAN_X_DAYS_AGO", "IS_MORE_THAN_X_DAYS_FROM_NOW" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime-rolling",
            "enum" : [ "datetime-rolling" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "BoolPropertyOperation" : {
        "title" : "bool",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "bool",
            "enum" : [ "bool" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "NumberPropertyOperation" : {
        "title" : "number",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number",
            "enum" : [ "number" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchedBehavioralEventHttpCompletionRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/BehavioralEventHttpCompletionRequest"
            }
          }
        },
        "example" : null
      },
      "TimePointOperation" : {
        "title" : "timepoint",
        "required" : [ "endpointBehavior", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyParser", "propertyType", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "endpointBehavior" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUSIVE", "INCLUSIVE" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ANNIVERSARY", "ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION", "UPDATED_AT", "VALUE", "VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION" ]
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "timepoint",
            "enum" : [ "timepoint" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "timePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/DatePoint"
            }, {
              "$ref" : "#/components/schemas/IndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "NumOccurrencesRefineBy" : {
        "title" : "NumOccurrencesRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "NumOccurrencesRefineBy",
            "enum" : [ "NumOccurrencesRefineBy" ]
          }
        },
        "example" : null
      },
      "MonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyFilterContext" : {
        "required" : [ "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ComboEventRule" : {
        "required" : [ "count", "eventTypeId", "propertyFilters" ],
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "eventTypeId" : {
            "type" : "string",
            "example" : null
          },
          "lookbackWindowDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "propertyFilters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          }
        },
        "example" : null
      },
      "Property" : {
        "required" : [ "description", "fieldType", "groupName", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the property is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "calculated" : {
            "type" : "boolean",
            "description" : "Whether the property is a calculated field.",
            "example" : null
          },
          "calculationFormula" : {
            "type" : "string",
            "description" : "The formula used for calculated properties.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "string",
            "description" : "The ID of the user who created the property.",
            "example" : null
          },
          "dataSensitivity" : {
            "type" : "string",
            "description" : "Indicates the sensitivity level of the property, such as \"non_sensitive\", \"sensitive\", or \"highly_sensitive\".",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ]
          },
          "dateDisplayHint" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "absolute", "absolute_with_relative", "time_since", "time_until" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A summary of the property's purpose.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "description" : "Applicable only for enumeration type properties. Should be set to true with a 'referencedObjectType' of 'OWNER'. Otherwise false.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the property will appear in HubSpot's UI or on a form. Learn more in the properties API guide.",
            "example" : null
          },
          "formField" : {
            "type" : "boolean",
            "description" : "Whether the property can appear on forms.",
            "example" : null
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name of the group to which the property is assigned.",
            "example" : null
          },
          "hasUniqueValue" : {
            "type" : "boolean",
            "description" : "Whether the property is a unique identifier property.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether or not the property will be hidden from the HubSpot UI. It's recommended that this be set to false for custom properties.",
            "example" : false
          },
          "hubspotDefined" : {
            "type" : "boolean",
            "description" : "A boolean value set to true for HubSpot default properties.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label for the property.",
            "example" : null
          },
          "modificationMetadata" : {
            "$ref" : "#/components/schemas/PropertyModificationMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name for the property.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "A list of valid options for the property. This field is required for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "referencedObjectType" : {
            "type" : "string",
            "description" : "Deprecated. Use externalOptionsReferenceType instead.",
            "example" : null
          },
          "sensitiveDataCategories" : {
            "type" : "array",
            "description" : "When sensitiveData is true, lists the type of sensitive data contained in the property (e.g., \"HIPAA\").",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "showCurrencySymbol" : {
            "type" : "boolean",
            "description" : "Whether to show the currency symbol in HubSpot's UI.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the property, such as string or number.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "string",
            "example" : null
          }
        },
        "description" : "A HubSpot property",
        "example" : null
      },
      "RelativeRangedTimestampRefineBy" : {
        "title" : "RelativeRangedTimestampRefineBy",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/TimeOffset"
          },
          "rangeType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "RelativeRangedTimestampRefineBy",
            "enum" : [ "RelativeRangedTimestampRefineBy" ]
          },
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/TimeOffset"
          }
        },
        "example" : null
      },
      "ComparativeBoolPropertyOperation" : {
        "title" : "bool-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "bool-comparative",
            "enum" : [ "bool-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyReferencedTime" : {
        "title" : "PROPERTY_REFERENCED",
        "required" : [ "property", "referenceType", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "property" : {
            "type" : "string",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ANNIVERSARY", "ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION", "UPDATED_AT", "VALUE", "VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION" ]
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY_REFERENCED",
            "enum" : [ "PROPERTY_REFERENCED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "OptionInput" : {
        "required" : [ "displayOrder", "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "null",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "null",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "null",
            "example" : null
          }
        },
        "example" : null
      },
      "RegexPropertyOperation" : {
        "title" : "regex",
        "required" : [ "caseSensitive", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "pattern", "propertyType" ],
        "type" : "object",
        "properties" : {
          "caseSensitive" : {
            "type" : "boolean",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DOES_NOT_MATCH_REGEX", "MATCHES_REGEX" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "pattern" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "regex",
            "enum" : [ "regex" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "BehavioralEventTypeDefinitionLabels" : {
        "required" : [ "singular" ],
        "type" : "object",
        "properties" : {
          "plural" : {
            "type" : "string",
            "example" : null
          },
          "singular" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "AllHistoryRefineBy" : {
        "title" : "AllHistoryRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "AllHistoryRefineBy",
            "enum" : [ "AllHistoryRefineBy" ]
          }
        },
        "example" : null
      },
      "ComparativePropertyUpdatedOperation" : {
        "title" : "property-updated-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "property-updated-comparative",
            "enum" : [ "property-updated-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "SetOccurrencesRefineBy" : {
        "title" : "SetOccurrencesRefineBy",
        "required" : [ "setType", "type" ],
        "type" : "object",
        "properties" : {
          "setType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ALL", "ALL_INCLUDE_EMPTY", "ANY", "ANY_INCLUDE_EMPTY", "NONE", "NONE_EXCLUDE_EMPTY" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SetOccurrencesRefineBy",
            "enum" : [ "SetOccurrencesRefineBy" ]
          }
        },
        "example" : null
      },
      "ComboEventRuleBranch" : {
        "required" : [ "composingRules", "operationType", "ruleBranches" ],
        "type" : "object",
        "properties" : {
          "composingRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRule"
            }
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "ruleBranches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRuleBranch"
            }
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalExternalBehavioralEventTypeDefinitionForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeNumberPropertyOperation" : {
        "title" : "number-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number-comparative",
            "enum" : [ "number-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "AssociationDefinition" : {
        "required" : [ "allowsCustomLabels", "cardinality", "category", "fromObjectTypeId", "hasAllAssociatedObjects", "hasCascadingDeletes", "hasUserEnforcedMaxFromObjectIds", "hasUserEnforcedMaxToObjectIds", "hidden", "id", "inverseAllowsCustomLabels", "inverseCardinality", "inverseHasAllAssociatedObjects", "inverseId", "inverseName", "isDefault", "isInversePrimary", "isPrimary", "maxFromObjectIds", "maxToObjectIds", "name", "portalUniqueIdentifier", "readOnly", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowsCustomLabels" : {
            "type" : "boolean",
            "description" : "Whether custom labels can be used in the association.",
            "example" : null
          },
          "cardinality" : {
            "type" : "string",
            "description" : "The cardinality from the source object's perspective, either \"ONE_TO_ONE\" or \"ONE_TO_MANY\".",
            "example" : null,
            "enum" : [ "ONE_TO_MANY", "ONE_TO_ONE" ]
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "fromObjectType" : {
            "type" : "string",
            "description" : "The name of the source object type (e.g,. \"DEAL\" or \"QUOTE\").",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "fromObjectTypeId" : {
            "type" : "string",
            "description" : "The ID of the source object type (e.g., 0-1 for contacts).",
            "example" : null
          },
          "hasAllAssociatedObjects" : {
            "type" : "boolean",
            "description" : "Whether all potential linked objects are included in the association",
            "example" : null
          },
          "hasCascadingDeletes" : {
            "type" : "boolean",
[...]
