{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Commerce Payment Links",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/commerce/payment-links/2026-09-beta/payment-links" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve payment links",
        "description" : "Retrieve a list of payment links from your HubSpot account. This endpoint supports pagination and allows you to filter results by archived status. It is useful for managing and reviewing your existing payment links.",
        "operationId" : "get-/commerce/payment-links/2026-09-beta/payment-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 20
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPaymentLinkResponseForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a payment link",
        "description" : "Create a new payment link in your HubSpot account. This endpoint allows you to specify various attributes for the payment link, such as accepted payment methods, currency, and additional form fields. The payment link can be configured for one-time use and can also collect shipping and billing addresses. This operation requires a valid JSON request body. Some defaults will be applied if no value provided.",
        "operationId" : "post-/commerce/payment-links/2026-09-beta/payment-links",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPaymentLinkCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-write" ]
        } ]
      }
    },
    "/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve payment link",
        "description" : "Retrieve details of a specific payment link using its unique identifier. This endpoint allows you to access information about the payment link, including its status and configuration. It is useful for checking the current settings or status of a payment link in your HubSpot account.",
        "operationId" : "get-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The unique identifier of the payment link to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a payment link",
        "description" : "Delete a specific payment link in your HubSpot account. This operation is irreversible and will remove the payment link identified by the provided ID. Use this endpoint to manage and clean up payment links that are no longer needed.",
        "operationId" : "delete-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The unique identifier of the payment link to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-delete" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a payment link",
        "description" : "Update a payment link by ID.",
        "operationId" : "patch-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}_/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The ID of the payment link to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPaymentLinkUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicPaymentLinkResponseForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicPaymentLinkResponse objects, each representing a payment link with its associated details.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
            }
          }
        },
        "example" : null
      },
      "DiscountResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties that provide more details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "FeeResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token that indicates the position after the last item in the current page, used to fetch the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PublicDealConfigurations" : {
        "required" : [ "createNewDealOnPurchase" ],
        "type" : "object",
        "properties" : {
          "createNewDealOnPurchase" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether a new deal should be created when a purchase is made.",
            "example" : null
          },
          "pipelineStageId" : {
            "type" : "string",
            "description" : "A string representing the identifier of the pipeline stage where the deal will be placed.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicEditableQuantityConfiguration" : {
        "required" : [ "max", "min" ],
        "type" : "object",
        "properties" : {
          "max" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum quantity allowed for the item.",
            "format" : "int32",
            "example" : null
          },
          "min" : {
            "type" : "integer",
            "description" : "An integer specifying the minimum quantity allowed for the item.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFormFieldOption" : {
        "required" : [ "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional information about the form field option. This is optional and can be used to give more context about the option.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display text for the form field option. It is a string that users will see when selecting an option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The internal value associated with the form field option. It is a string used to identify the option programmatically.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLineItemCustomConfiguration" : {
        "required" : [ "isEditablePrice", "isOptional" ],
        "type" : "object",
        "properties" : {
          "editableQuantityConfiguration" : {
            "$ref" : "#/components/schemas/PublicEditableQuantityConfiguration"
          },
          "isEditablePrice" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the price of the line item can be edited.",
            "example" : null
          },
          "isOptional" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the line item is optional.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLineItemDiscount" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of discount applied. Valid values are 'PER_UNIT_FIXED' for a fixed amount per unit and 'PERCENT' for a percentage-based discount.",
            "example" : null,
            "enum" : [ "PER_UNIT_FIXED", "PERCENT" ]
          },
          "value" : {
            "type" : "number",
            "description" : "The numerical value of the discount. This can be a fixed amount or a percentage, depending on the 'type' property.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLineItemPricing" : {
        "required" : [ "pricingModel", "tierPrices", "tierRanges" ],
        "type" : "object",
        "properties" : {
          "flatPrice" : {
            "type" : "number",
            "description" : "A flat price applied to the line item when the 'FLAT' pricing model is used. Represented as a number.",
            "example" : null
          },
          "pricingModel" : {
            "type" : "string",
            "description" : "The pricing model applied to the line item. Valid values include 'FLAT', 'GRADUATED', 'STAIRSTEP', and 'VOLUME'.",
            "example" : null,
            "enum" : [ "FLAT", "GRADUATED", "STAIRSTEP", "VOLUME" ]
          },
          "tierPrices" : {
            "type" : "array",
            "description" : "An array of tier prices that correspond to the tier ranges, each specifying a price and its index within the tier structure.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicTierPrice"
            }
          },
          "tierRanges" : {
            "type" : "array",
            "description" : "An array of tier ranges that define the quantity thresholds for tiered pricing. Each range specifies a start and optionally an end quantity.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicTierRange"
            }
          }
        },
        "example" : null
      },
      "PublicLineItemTax" : {
        "required" : [ "taxLabel", "taxRate" ],
        "type" : "object",
        "properties" : {
          "taxLabel" : {
            "type" : "string",
            "description" : "A string representing the label or name of the tax applied to the line item.",
            "example" : null
          },
          "taxRate" : {
            "type" : "number",
            "description" : "A number indicating the rate of tax applied to the line item.",
            "example" : null
          },
          "taxRateGroupId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the group of tax rates associated with the line item.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkCreateRequest" : {
        "required" : [ "acceptedPaymentMethods", "additionalFormFields", "automatedSalesTaxEnabled", "collectFullBillingAddress", "collectShippingAddress", "currencyCode", "discountCodeEnabled", "discountObjectIds", "enableDefaultCheckoutFees", "feeObjectIds", "includeEmailInSuccessRedirect", "isOneTimeUseEnabled", "lineItemObjectIds", "paymentLinkName", "state", "storePaymentMethodAtCheckout", "taxObjectIds" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of strings representing the payment methods accepted for this link. Valid values include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of PublicPaymentLinkFormField objects representing additional form fields to be included in the payment link. Email is included by default and should not be specified here.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the full billing address should be collected during checkout.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the shipping address should be collected during checkout.",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the payment, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "$ref" : "#/components/schemas/PublicDealConfigurations"
          },
          "descriptionHtml" : {
            "type" : "string",
            "description" : "A string containing the HTML description of the payment link.",
            "example" : null
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether discount codes are enabled for this payment link.",
            "example" : null
          },
          "discountObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of discounts associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "domainId" : {
            "type" : "string",
            "description" : "A string representing the domain ID associated with the payment link.",
            "example" : null
          },
          "enableDefaultCheckoutFees" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether default checkout fees are enabled.",
            "example" : null
          },
          "feeObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of fees associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include the email in the success redirect URL.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment link is for one-time use only.",
            "example" : null
          },
          "lineItemObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The state of the payment link, represented as a string. Valid values are 'ON' and 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to redirect to upon successful payment.",
            "example" : null
          },
          "taxObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of taxes associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicPaymentLinkFormField" : {
        "required" : [ "isRequired", "label", "objectType", "options", "propertyName" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the form field, providing additional context or instructions, represented as a string.",
            "example" : null
          },
          "isRequired" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this form field is required to be filled out by the user.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The label for the form field, displayed to users, represented as a string.",
            "example" : null
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of object this form field is associated with, represented as a string. Valid values include 'CONTACT' and 'COMPANY'.",
            "example" : null,
            "enum" : [ "COMPANY", "CONTACT" ]
          },
          "options" : {
            "type" : "array",
            "description" : "An array of options available for this form field, applicable if the field type supports multiple choices. Each option is defined by the PublicFormFieldOption schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicFormFieldOption"
            }
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The name of the property associated with this form field, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkLineItem" : {
        "required" : [ "lineItemCurrencyCode", "name", "pricing", "quantity" ],
        "type" : "object",
        "properties" : {
          "customConfiguration" : {
            "$ref" : "#/components/schemas/PublicLineItemCustomConfiguration"
          },
          "description" : {
            "type" : "string",
            "description" : "A textual description of the line item, provided as a string.",
            "example" : null
          },
          "discount" : {
            "$ref" : "#/components/schemas/PublicLineItemDiscount"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this line item, represented as a string.",
            "example" : null
          },
          "lineItemCurrencyCode" : {
            "type" : "string",
            "description" : "The currency code for the line item, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the line item, represented as a string.",
            "example" : null
          },
          "pricing" : {
            "$ref" : "#/components/schemas/PublicLineItemPricing"
          },
          "productId" : {
            "type" : "string",
            "description" : "The unique identifier for the product associated with this line item, represented as a string.",
            "example" : null
          },
          "quantity" : {
            "type" : "number",
            "description" : "The number of units for the line item, represented as a number.",
            "example" : null
          },
          "recurringBillingTerms" : {
            "$ref" : "#/components/schemas/PublicRecurringBillingTerms"
          },
          "richTextDescription" : {
            "type" : "string",
            "description" : "A rich text formatted description of the line item, provided as a string.",
            "example" : null
          },
          "tax" : {
            "$ref" : "#/components/schemas/PublicLineItemTax"
          }
        },
        "example" : null
      },
      "PublicPaymentLinkResponse" : {
        "required" : [ "acceptedPaymentMethods", "additionalFormFields", "archived", "automatedSalesTaxEnabled", "checkoutFeeIds", "collectFullBillingAddress", "collectShippingAddress", "createdAt", "currencyCode", "discountCodeEnabled", "discounts", "fees", "formGuid", "id", "includeEmailInSuccessRedirect", "isOneTimeUseEnabled", "lineItems", "paymentLinkName", "paymentLinkUrl", "state", "storePaymentMethodAtCheckout", "taxes", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of accepted payment methods for the link, which can include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of additional form fields included in the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment link is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "checkoutFeeIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of checkout fees associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the full billing address should be collected during checkout.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the shipping address should be collected during checkout.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the payment link, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "$ref" : "#/components/schemas/PublicDealConfigurations"
          },
          "descriptionHtml" : {
            "type" : "string",
            "description" : "A string containing the HTML description of the payment link.",
            "example" : null
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if discount codes are enabled for the payment link.",
            "example" : null
          },
          "discounts" : {
            "type" : "array",
            "description" : "An array of discount objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DiscountResponse"
            }
          },
          "domainId" : {
            "type" : "string",
            "description" : "A string representing the domain ID associated with the payment link.",
            "example" : null
          },
          "fees" : {
            "type" : "array",
            "description" : "An array of fee objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FeeResponse"
            }
          },
          "formGuid" : {
            "type" : "string",
            "description" : "A string representing the form GUID associated with the payment link.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the payment link.",
            "example" : null
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the email should be included in the success redirect.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment link is enabled for one-time use only.",
            "example" : null
          },
          "lineItems" : {
            "type" : "array",
            "description" : "An array of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkLineItem"
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "paymentLinkUrl" : {
            "type" : "string",
            "description" : "A string representing the URL of the payment link.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The current state of the payment link, which can be either 'ON' or 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to redirect to upon successful payment.",
            "example" : null
          },
          "taxes" : {
            "type" : "array",
            "description" : "An array of tax objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TaxResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkUpdateRequest" : {
        "required" : [ "businessUnitId", "dealConfigurations", "descriptionHtml", "domainId", "successUrl" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of strings specifying the payment methods accepted by the link. Valid values include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of objects representing additional form fields to be included in the payment link. Each object is defined by the PublicPaymentLinkFormField schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the full billing address should be collected during the checkout process.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the shipping address should be collected during the checkout process.",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the transaction, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing configurations related to deals, defined by the PublicDealConfigurations schema.",
            "example" : null
          },
          "descriptionHtml" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the HTML description of the payment link.",
            "example" : null
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether discount codes are enabled for this payment link.",
            "example" : null
          },
          "discountObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of discount objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "domainId" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the domain ID associated with the payment link.",
            "example" : null
          },
          "enableDefaultCheckoutFees" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether default checkout fees are enabled.",
            "example" : null
          },
          "feeObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of fee objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the email should be included in the success redirect URL.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment link is for one-time use only.",
            "example" : null
          },
          "lineItemObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The state of the payment link, represented as a string. Valid values are 'ON' and 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the URL to which users are redirected upon successful payment.",
            "example" : null
          },
          "taxObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of tax objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicRecurringBillingTerms" : {
        "required" : [ "recurringBillingFrequency" ],
        "type" : "object",
        "properties" : {
          "billingStartDelayDays" : {
            "type" : "integer",
            "description" : "The number of days to delay the start of the billing cycle. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "billingStartDelayMonths" : {
            "type" : "integer",
            "description" : "The number of months to delay the start of the billing cycle. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingFrequency" : {
            "type" : "string",
            "description" : "The frequency at which recurring billing occurs. Valid values include 'weekly', 'biweekly', 'monthly', 'quarterly', 'per_six_months', and 'annually'.",
            "example" : null,
            "enum" : [ "annually", "biweekly", "monthly", "per_six_months", "quarterly", "weekly" ]
          },
          "recurringBillingNumberOfPayments" : {
            "type" : "integer",
            "description" : "The total number of payments to be made under the recurring billing terms. It is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingStartDate" : {
            "type" : "integer",
            "description" : "The start date for the recurring billing, represented as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicTierPrice" : {
        "required" : [ "index", "price" ],
        "type" : "object",
        "properties" : {
          "currency" : {
            "type" : "string",
            "description" : "A string representing the currency in which the price is denominated.",
            "example" : null
          },
          "index" : {
            "type" : "integer",
            "description" : "An integer representing the position or level of the tier in the pricing structure.",
            "format" : "int32",
            "example" : null
          },
          "price" : {
            "type" : "number",
            "description" : "A number indicating the price associated with this tier.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicTierRange" : {
        "required" : [ "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "description" : "The ending point of the tier range, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "start" : {
            "type" : "integer",
            "description" : "The starting point of the tier range, represented as an integer. This value is required.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "TaxResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "payment-links-delete" : "",
              "payment-links-read" : "",
              "payment-links-write" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}