{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Commerce Payment Links",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/commerce/payment-links/2026-09-beta/payment-links" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List payment links",
        "description" : "Retrieve a list of payment links from your HubSpot account. This endpoint allows you to filter and sort payment links based on various criteria such as creation and update timestamps. It supports pagination and can include archived payment links if specified.",
        "operationId" : "get-/commerce/payment-links/2026-09-beta/payment-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Filter results to include only those created after the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Filter results by the exact creation timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Filter results to include only those created before the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 20
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The field by which to sort the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Filter results to include only those updated after the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Filter results by the exact update timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Filter results to include only those updated before the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPaymentLinkResponseForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a payment link",
        "description" : "Create a new payment link in your HubSpot account. This endpoint allows you to specify various attributes for the payment link, such as accepted payment methods, currency, and additional form fields. The payment link can be configured for one-time use and can also collect shipping and billing addresses. This operation requires a valid JSON request body. Some defaults will be applied if no value provided.",
        "operationId" : "post-/commerce/payment-links/2026-09-beta/payment-links",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPaymentLinkCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-write" ]
        } ]
      }
    },
    "/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve payment link",
        "description" : "Retrieve details of a specific payment link using its unique identifier. This endpoint allows you to access information about the payment link, including its status and configuration. It is useful for checking the current settings or status of a payment link in your HubSpot account.",
        "operationId" : "get-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The unique identifier of the payment link to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a payment link",
        "description" : "Delete a specific payment link in your HubSpot account. This operation is irreversible and will remove the payment link identified by the provided ID. Use this endpoint to manage and clean up payment links that are no longer needed.",
        "operationId" : "delete-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The unique identifier of the payment link to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-delete" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a payment link",
        "description" : "Update a payment link by ID.",
        "operationId" : "patch-/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}_/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
        "parameters" : [ {
          "name" : "paymentLinkId",
          "in" : "path",
          "description" : "The ID of the payment link to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicPaymentLinkUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payment-links-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicPaymentLinkResponseForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicPaymentLinkResponse objects, each representing a payment link with its associated details.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkResponse"
            }
          }
        },
        "example" : null
      },
      "DiscountRequest" : {
        "required" : [ "label", "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "DiscountResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties that provide more details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "FeeRequest" : {
        "required" : [ "label", "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "FeeResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "LineItem" : {
        "required" : [ "id", "name", "pricing", "quantity" ],
        "type" : "object",
        "properties" : {
          "acv" : {
            "type" : "number",
            "example" : null
          },
          "allowBuyerSelectedQuantity" : {
            "type" : "boolean",
            "example" : null
          },
          "amount" : {
            "type" : "number",
            "example" : null
          },
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "arr" : {
            "type" : "number",
            "example" : null
          },
          "billingCycleAnchorDate" : {
            "type" : "string",
            "example" : null
          },
          "billingPeriodEndDate" : {
            "type" : "string",
            "example" : null
          },
          "billingPeriodStartDate" : {
            "type" : "string",
            "example" : null
          },
          "billingStartDelayDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "billingStartDelayMonths" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "billingStartDelayType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "hs_billing_start_delay_days", "hs_billing_start_delay_months", "hs_recurring_billing_start_date" ]
          },
          "buyerSelectedQuantityMax" : {
            "type" : "number",
            "example" : null
          },
          "buyerSelectedQuantityMin" : {
            "type" : "number",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "discount" : {
            "type" : "number",
            "example" : null
          },
          "discountPercentage" : {
            "type" : "number",
            "example" : null
          },
          "effectiveUnitPrice" : {
            "type" : "number",
            "example" : null
          },
          "externalId" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "images" : {
            "type" : "string",
            "example" : null
          },
          "isEditablePrice" : {
            "type" : "boolean",
            "example" : null
          },
          "isOptional" : {
            "type" : "boolean",
            "example" : null
          },
          "lineItemCurrencyCode" : {
            "type" : "string",
            "example" : null
          },
          "mrr" : {
            "type" : "number",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "positionOnQuote" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "postTaxAmount" : {
            "type" : "number",
            "example" : null
          },
          "preDiscountAmount" : {
            "type" : "number",
            "example" : null
          },
          "price" : {
            "type" : "number",
            "example" : null
          },
          "priceBookId" : {
            "type" : "string",
            "example" : null
          },
          "pricing" : {
            "$ref" : "#/components/schemas/Pricing"
          },
          "pricingModel" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "flat", "graduated", "stairstep", "volume" ]
          },
          "productId" : {
            "type" : "string",
            "example" : null
          },
          "productType" : {
            "type" : "string",
            "example" : null
          },
          "quantity" : {
            "type" : "number",
            "example" : null
          },
          "rampKey" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingDayOfMonth" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingEndDate" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingFrequency" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "annually", "biweekly", "monthly", "per_five_years", "per_four_years", "per_six_months", "per_three_years", "per_two_years", "quarterly", "weekly" ]
          },
          "recurringBillingNumberOfPayments" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingPeriod" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingStartDate" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingTerms" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AUTOMATICALLY_RENEW", "FIXED" ]
          },
          "richTextDescription" : {
            "type" : "string",
            "example" : null
          },
          "sku" : {
            "type" : "string",
            "example" : null
          },
          "tax" : {
            "type" : "number",
            "example" : null
          },
          "tcv" : {
            "type" : "number",
            "example" : null
          },
          "termInMonths" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "tierAmount" : {
            "type" : "number",
            "example" : null
          },
          "totalDiscount" : {
            "type" : "number",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "variantId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "LineItemCloneCreateRequest" : {
        "title" : "clone",
        "required" : [ "allowBuyerSelectedQuantity", "billingCycleAnchorDate", "billingPeriodEndDate", "billingPeriodStartDate", "billingStartDelayDays", "billingStartDelayMonths", "billingStartDelayType", "buyerSelectedQuantityMax", "buyerSelectedQuantityMin", "description", "discount", "discountPercentage", "externalId", "images", "isEditablePrice", "isOptional", "lineItemCurrencyCode", "mode", "name", "positionOnQuote", "priceBookId", "pricing", "productType", "quantity", "rampKey", "recurringBillingDayOfMonth", "recurringBillingEndDate", "recurringBillingFrequency", "recurringBillingNumberOfPayments", "recurringBillingPeriod", "recurringBillingStartDate", "recurringBillingTerms", "richTextDescription", "sku", "sourceLineItemId", "variantId" ],
        "type" : "object",
        "properties" : {
          "allowBuyerSelectedQuantity" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingCycleAnchorDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingPeriodEndDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingPeriodStartDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayDays" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayMonths" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayType" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "buyerSelectedQuantityMax" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "buyerSelectedQuantityMin" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "description" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "discount" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "discountPercentage" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "externalId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "images" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "isEditablePrice" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "isOptional" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "lineItemCurrencyCode" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "mode" : {
            "type" : "string",
            "example" : null,
            "default" : "clone",
            "enum" : [ "clone" ]
          },
          "name" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "positionOnQuote" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "priceBookId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "pricing" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "productType" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "quantity" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "rampKey" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingDayOfMonth" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingEndDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingFrequency" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingNumberOfPayments" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingPeriod" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingStartDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingTerms" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "richTextDescription" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "sku" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "sourceLineItemId" : {
            "type" : "string",
            "example" : null
          },
          "variantId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "LineItemCustomCreateRequest" : {
        "title" : "custom",
        "required" : [ "mode", "name", "pricing", "quantity" ],
        "type" : "object",
        "properties" : {
          "allowBuyerSelectedQuantity" : {
            "type" : "boolean",
            "example" : null
          },
          "billingCycleAnchorDate" : {
            "type" : "string",
            "example" : null
          },
          "billingPeriodEndDate" : {
            "type" : "string",
            "example" : null
          },
          "billingPeriodStartDate" : {
            "type" : "string",
            "example" : null
          },
          "billingStartDelayDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "billingStartDelayMonths" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "billingStartDelayType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "hs_billing_start_delay_days", "hs_billing_start_delay_months", "hs_recurring_billing_start_date" ]
          },
          "buyerSelectedQuantityMax" : {
            "type" : "number",
            "example" : null
          },
          "buyerSelectedQuantityMin" : {
            "type" : "number",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "discount" : {
            "type" : "number",
            "example" : null
          },
          "discountPercentage" : {
            "type" : "number",
            "example" : null
          },
          "externalId" : {
            "type" : "string",
            "example" : null
          },
          "images" : {
            "type" : "string",
            "example" : null
          },
          "isEditablePrice" : {
            "type" : "boolean",
            "example" : null
          },
          "isOptional" : {
            "type" : "boolean",
            "example" : null
          },
          "lineItemCurrencyCode" : {
            "type" : "string",
            "example" : null
          },
          "mode" : {
            "type" : "string",
            "example" : null,
            "default" : "custom",
            "enum" : [ "custom" ]
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "positionOnQuote" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "priceBookId" : {
            "type" : "string",
            "example" : null
          },
          "pricing" : {
            "$ref" : "#/components/schemas/PricingFullUpdateRequest"
          },
          "productId" : {
            "type" : "string",
            "example" : null
          },
          "productType" : {
            "type" : "string",
            "example" : null
          },
          "quantity" : {
            "type" : "number",
            "example" : null
          },
          "rampKey" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingDayOfMonth" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingEndDate" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingFrequency" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "annually", "biweekly", "monthly", "per_five_years", "per_four_years", "per_six_months", "per_three_years", "per_two_years", "quarterly", "weekly" ]
          },
          "recurringBillingNumberOfPayments" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recurringBillingPeriod" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingStartDate" : {
            "type" : "string",
            "example" : null
          },
          "recurringBillingTerms" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AUTOMATICALLY_RENEW", "FIXED" ]
          },
          "richTextDescription" : {
            "type" : "string",
            "example" : null
          },
          "sku" : {
            "type" : "string",
            "example" : null
          },
          "variantId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "LineItemFromProductCreateRequest" : {
        "title" : "from_product",
        "required" : [ "allowBuyerSelectedQuantity", "billingCycleAnchorDate", "billingPeriodEndDate", "billingPeriodStartDate", "billingStartDelayDays", "billingStartDelayMonths", "billingStartDelayType", "buyerSelectedQuantityMax", "buyerSelectedQuantityMin", "description", "discount", "discountPercentage", "externalId", "images", "isEditablePrice", "isOptional", "lineItemCurrencyCode", "mode", "name", "positionOnQuote", "priceBookId", "pricing", "productId", "productType", "quantity", "rampKey", "recurringBillingDayOfMonth", "recurringBillingEndDate", "recurringBillingFrequency", "recurringBillingNumberOfPayments", "recurringBillingPeriod", "recurringBillingStartDate", "recurringBillingTerms", "richTextDescription", "sku", "variantId" ],
        "type" : "object",
        "properties" : {
          "allowBuyerSelectedQuantity" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingCycleAnchorDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingPeriodEndDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingPeriodStartDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayDays" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayMonths" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "billingStartDelayType" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "buyerSelectedQuantityMax" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "buyerSelectedQuantityMin" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "description" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "discount" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "discountPercentage" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "externalId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "images" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "isEditablePrice" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "isOptional" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "lineItemCurrencyCode" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "mode" : {
            "type" : "string",
            "example" : null,
            "default" : "from_product",
            "enum" : [ "from_product" ]
          },
          "name" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "positionOnQuote" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "priceBookId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "pricing" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "productId" : {
            "type" : "string",
            "example" : null
          },
          "productType" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "quantity" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "rampKey" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingDayOfMonth" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingEndDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingFrequency" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingNumberOfPayments" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingPeriod" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingStartDate" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "recurringBillingTerms" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "richTextDescription" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "sku" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "variantId" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token that indicates the position after the last item in the current page, used to fetch the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PriceEntry" : {
        "required" : [ "amount", "currencyCode", "price" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "example" : null
          },
          "maxQuantity" : {
            "type" : "string",
            "example" : null
          },
          "price" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PriceUpdateEntry" : {
        "required" : [ "amount", "currencyCode" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "example" : null
          },
          "maxQuantity" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Pricing" : {
        "required" : [ "prices", "pricingModel" ],
        "type" : "object",
        "properties" : {
          "prices" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PriceEntry"
            }
          },
          "pricingModel" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FLAT", "GRADUATED", "STAIRSTEP", "VOLUME" ]
          }
        },
        "example" : null
      },
      "PricingFullUpdateRequest" : {
        "required" : [ "prices", "pricingModel" ],
        "type" : "object",
        "properties" : {
          "prices" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PriceUpdateEntry"
            }
          },
          "pricingModel" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FLAT", "GRADUATED", "STAIRSTEP", "VOLUME" ]
          }
        },
        "example" : null
      },
      "PublicDealConfigurations" : {
        "required" : [ "createNewDealOnPurchase" ],
        "type" : "object",
        "properties" : {
          "createNewDealOnPurchase" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether a new deal should be created when a purchase is made.",
            "example" : null
          },
          "pipelineStageId" : {
            "type" : "string",
            "description" : "A string representing the identifier of the pipeline stage where the deal will be placed.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFormFieldOption" : {
        "required" : [ "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional information about the form field option. This is optional and can be used to give more context about the option.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display text for the form field option. It is a string that users will see when selecting an option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The internal value associated with the form field option. It is a string used to identify the option programmatically.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkCreateRequest" : {
        "required" : [ "acceptedPaymentMethods", "additionalFormFields", "automatedSalesTaxEnabled", "collectFullBillingAddress", "collectShippingAddress", "currencyCode", "discountCodeEnabled", "discountObjectIds", "enableDefaultCheckoutFees", "feeObjectIds", "fees", "includeEmailInSuccessRedirect", "isOneTimeUseEnabled", "lineItemObjectIds", "lineItems", "paymentLinkName", "state", "storePaymentMethodAtCheckout", "taxObjectIds", "taxes" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of strings representing the payment methods accepted for this link. Valid values include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of PublicPaymentLinkFormField objects representing additional form fields to be included in the payment link. Email is included by default and should not be specified here.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the full billing address should be collected during checkout.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the shipping address should be collected during checkout.",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the payment, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "$ref" : "#/components/schemas/PublicDealConfigurations"
          },
          "descriptionHtml" : {
            "type" : "string",
            "description" : "A string containing the HTML description of the payment link.",
            "example" : null
          },
          "discount" : {
            "$ref" : "#/components/schemas/DiscountRequest"
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether discount codes are enabled for this payment link.",
            "example" : null
          },
          "discountObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of discounts associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "domainId" : {
            "type" : "string",
            "description" : "A string representing the domain ID associated with the payment link.",
            "example" : null
          },
          "enableDefaultCheckoutFees" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether default checkout fees are enabled.",
            "example" : null
          },
          "feeObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of fees associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "fees" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FeeRequest"
            }
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include the email in the success redirect URL.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment link is for one-time use only.",
            "example" : null
          },
          "lineItemObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "lineItems" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LineItemCustomCreateRequest"
              }, {
                "$ref" : "#/components/schemas/LineItemFromProductCreateRequest"
              }, {
                "$ref" : "#/components/schemas/LineItemCloneCreateRequest"
              } ]
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The state of the payment link, represented as a string. Valid values are 'ON' and 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to redirect to upon successful payment.",
            "example" : null
          },
          "taxObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the object IDs of taxes associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "taxes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TaxRequest"
            }
          }
        },
        "example" : null
      },
      "PublicPaymentLinkFormField" : {
        "required" : [ "isRequired", "label", "objectType", "options", "propertyName" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the form field, providing additional context or instructions, represented as a string.",
            "example" : null
          },
          "isRequired" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this form field is required to be filled out by the user.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The label for the form field, displayed to users, represented as a string.",
            "example" : null
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of object this form field is associated with, represented as a string. Valid values include 'CONTACT' and 'COMPANY'.",
            "example" : null,
            "enum" : [ "COMPANY", "CONTACT" ]
          },
          "options" : {
            "type" : "array",
            "description" : "An array of options available for this form field, applicable if the field type supports multiple choices. Each option is defined by the PublicFormFieldOption schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicFormFieldOption"
            }
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The name of the property associated with this form field, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkResponse" : {
        "required" : [ "acceptedPaymentMethods", "additionalFormFields", "archived", "automatedSalesTaxEnabled", "checkoutFeeIds", "collectFullBillingAddress", "collectShippingAddress", "createdAt", "currencyCode", "discountCodeEnabled", "discounts", "fees", "formGuid", "id", "includeEmailInSuccessRedirect", "isOneTimeUseEnabled", "lineItems", "paymentLinkName", "paymentLinkUrl", "state", "storePaymentMethodAtCheckout", "taxes", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of accepted payment methods for the link, which can include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of additional form fields included in the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment link is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "checkoutFeeIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of checkout fees associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the full billing address should be collected during checkout.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the shipping address should be collected during checkout.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the payment link, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "$ref" : "#/components/schemas/PublicDealConfigurations"
          },
          "descriptionHtml" : {
            "type" : "string",
            "description" : "A string containing the HTML description of the payment link.",
            "example" : null
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if discount codes are enabled for the payment link.",
            "example" : null
          },
          "discounts" : {
            "type" : "array",
            "description" : "An array of discount objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DiscountResponse"
            }
          },
          "domainId" : {
            "type" : "string",
            "description" : "A string representing the domain ID associated with the payment link.",
            "example" : null
          },
          "fees" : {
            "type" : "array",
            "description" : "An array of fee objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FeeResponse"
            }
          },
          "formGuid" : {
            "type" : "string",
            "description" : "A string representing the form GUID associated with the payment link.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the payment link.",
            "example" : null
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the email should be included in the success redirect.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment link is enabled for one-time use only.",
            "example" : null
          },
          "lineItems" : {
            "type" : "array",
            "description" : "An array of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/LineItem"
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "paymentLinkUrl" : {
            "type" : "string",
            "description" : "A string representing the URL of the payment link.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The current state of the payment link, which can be either 'ON' or 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to redirect to upon successful payment.",
            "example" : null
          },
          "taxes" : {
            "type" : "array",
            "description" : "An array of tax objects associated with the payment link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TaxResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the payment link was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicPaymentLinkUpdateRequest" : {
        "required" : [ "businessUnitId", "dealConfigurations", "descriptionHtml", "domainId", "successUrl" ],
        "type" : "object",
        "properties" : {
          "acceptedPaymentMethods" : {
            "type" : "array",
            "description" : "An array of strings specifying the payment methods accepted by the link. Valid values include 'CARD', 'ACH', 'SEPA', 'BACS', and 'PADS'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CARD", "ACH", "SEPA", "BACS", "PADS" ]
            }
          },
          "additionalFormFields" : {
            "type" : "array",
            "description" : "An array of objects representing additional form fields to be included in the payment link. Each object is defined by the PublicPaymentLinkFormField schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPaymentLinkFormField"
            }
          },
          "automatedSalesTaxEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether automated sales tax calculation is enabled.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the business unit ID associated with the payment link.",
            "example" : null
          },
          "collectFullBillingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the full billing address should be collected during the checkout process.",
            "example" : null
          },
          "collectShippingAddress" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the shipping address should be collected during the checkout process.",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code for the transaction, represented as a string.",
            "example" : null
          },
          "dealConfigurations" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing configurations related to deals, defined by the PublicDealConfigurations schema.",
            "example" : null
          },
          "descriptionHtml" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the HTML description of the payment link.",
            "example" : null
          },
          "discount" : {
            "$ref" : "#/components/schemas/DiscountRequest"
          },
          "discountCodeEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether discount codes are enabled for this payment link.",
            "example" : null
          },
          "discountObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of discount objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "domainId" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the domain ID associated with the payment link.",
            "example" : null
          },
          "enableDefaultCheckoutFees" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether default checkout fees are enabled.",
            "example" : null
          },
          "feeObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of fee objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "fees" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FeeRequest"
            }
          },
          "includeEmailInSuccessRedirect" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the email should be included in the success redirect URL.",
            "example" : null
          },
          "isOneTimeUseEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment link is for one-time use only.",
            "example" : null
          },
          "lineItemObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of line items associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "lineItems" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LineItemCustomCreateRequest"
              }, {
                "$ref" : "#/components/schemas/LineItemFromProductCreateRequest"
              }, {
                "$ref" : "#/components/schemas/LineItemCloneCreateRequest"
              } ]
            }
          },
          "paymentLinkName" : {
            "type" : "string",
            "description" : "The name of the payment link, represented as a string.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The state of the payment link, represented as a string. Valid values are 'ON' and 'OFF'.",
            "example" : null,
            "enum" : [ "OFF", "ON" ]
          },
          "storePaymentMethodAtCheckout" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the payment method should be stored at checkout.",
            "example" : null
          },
          "successUrl" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the URL to which users are redirected upon successful payment.",
            "example" : null
          },
          "taxObjectIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of tax objects associated with the payment link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "taxes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TaxRequest"
            }
          }
        },
        "example" : null
      },
      "TaxRequest" : {
        "required" : [ "label", "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      },
      "TaxResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED", "PERCENT" ]
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "payment-links-delete" : "",
              "payment-links-read" : "",
              "payment-links-write" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}