{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Emails",
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Statistics"
  }, {
    "name" : "Marketing Emails"
  } ],
  "paths" : {
    "/marketing/v3/emails/statistics/list" : {
      "get" : {
        "tags" : [ "Statistics" ],
        "summary" : "Get aggregated statistics",
        "description" : "Use this endpoint to get aggregated statistics of emails sent in a specified time span. It also returns the list of emails that were sent during the time span.",
        "operationId" : "get-/marketing/v3/emails/statistics/list",
        "parameters" : [ {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "emailIds",
          "in" : "query",
          "description" : "Filter by email IDs. Only include statistics of emails with these IDs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "Specifies which email properties should be returned. All properties will be returned by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AggregateEmailStatistics"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/statistics/histogram" : {
      "get" : {
        "tags" : [ "Statistics" ],
        "summary" : "Get aggregated statistic intervals",
        "description" : "Get aggregated statistics in intervals for a specified time span. Each interval contains aggregated statistics of the emails that were sent in that time.",
        "operationId" : "get-/marketing/v3/emails/statistics/histogram",
        "parameters" : [ {
          "name" : "interval",
          "in" : "query",
          "description" : "The interval to aggregate statistics for.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "YEAR", "QUARTER", "MONTH", "WEEK", "DAY", "HOUR", "QUARTER_HOUR", "MINUTE", "SECOND" ]
          }
        }, {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "emailIds",
          "in" : "query",
          "description" : "Filter by email IDs. Only include statistics of emails with these IDs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalEmailStatisticIntervalNoPaging"
                },
                "example" : {
                  "total" : 3,
                  "results" : [ {
                    "aggregateStatistic" : {
                      "counters" : {
                        "sent" : 704,
                        "open" : 443,
                        "delivered" : 704,
                        "bounce" : 0,
                        "unsubscribed" : 0,
                        "click" : 8,
                        "dropped" : 1,
                        "selected" : 705,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "hardbounced" : 0,
                        "softbounced" : 0,
                        "pending" : 0,
                        "contactslost" : 0,
                        "notsent" : 1
                      },
                      "deviceBreakdown" : {
                        "open_device_type" : {
                          "computer" : 44,
                          "mobile" : 8,
                          "unknown" : 391
                        },
                        "click_device_type" : {
                          "computer" : 6,
                          "mobile" : 2,
                          "unknown" : 0
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "clickratio" : 1.136,
                        "clickthroughratio" : 1.806,
                        "deliveredratio" : 100,
                        "openratio" : 62.926,
                        "unsubscribedratio" : 0,
                        "spamreportratio" : 0,
                        "bounceratio" : 0,
                        "hardbounceratio" : 0,
                        "softbounceratio" : 0,
                        "contactslostratio" : 0,
                        "pendingratio" : 0,
                        "notsentratio" : 0.142
                      }
                    },
                    "interval" : {
                      "end" : "2020-06-01T04:00:00Z",
                      "start" : "2020-05-01T04:00:00Z"
                    }
                  }, {
                    "aggregations" : {
                      "counters" : {
                        "sent" : 5,
                        "open" : 4,
                        "delivered" : 4,
                        "bounce" : 1,
                        "unsubscribed" : 0,
                        "click" : 0,
                        "dropped" : 1,
                        "selected" : 6,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "hardbounced" : 1,
                        "softbounced" : 0,
                        "pending" : 0,
                        "contactslost" : 1,
                        "notsent" : 1
                      },
                      "deviceBreakdown" : {
                        "open_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 4
                        },
                        "click_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "clickratio" : 0,
                        "clickthroughratio" : 0,
                        "deliveredratio" : 80,
                        "openratio" : 100,
                        "unsubscribedratio" : 0,
                        "spamreportratio" : 0,
                        "bounceratio" : 20,
                        "hardbounceratio" : 20,
                        "softbounceratio" : 0,
                        "contactslostratio" : 20,
                        "pendingratio" : 0,
                        "notsentratio" : 16.667
                      }
                    },
                    "interval" : {
                      "end" : "2020-07-01T04:00:00Z",
                      "start" : "2020-06-01T04:00:00Z"
                    }
                  }, {
                    "aggregations" : {
                      "counters" : { },
                      "deviceBreakdown" : { },
                      "qualifierStats" : { },
                      "ratios" : { }
                    },
                    "interval" : {
                      "end" : "2020-07-02T00:00:00Z",
                      "start" : "2020-07-01T04:00:00Z"
                    }
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/ab-test/get-variation" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get the variation of a an A/B marketing email",
        "description" : "This endpoint lets you obtain the variation of an A/B marketing email. If the email is variation A (master) it will return variation B (variant) and vice versa.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/ab-test/get-variation",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of an A/B marketing email.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/draft/reset" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Reset Draft",
        "description" : "Resets the draft back to a copy of the live object.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/draft/reset",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Restore a revision of a marketing email to DRAFT state",
        "description" : "Restores a previous revision of a marketing email to DRAFT state. If there is currently something in the draft for that object, it is overwritten. ",
        "operationId" : "post-/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore-to-draft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/draft" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get draft version of a marketing email",
        "description" : "Get the draft version of an email (if it exists). If no draft version exists, the published email is returned.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/draft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Create or update draft version",
        "description" : "Create or update the draft version of a marketing email. If no draft exists, the system creates a draft from the current “live” email then applies the request body to that draft. The draft version only lives on the buffer—the email is not cloned.",
        "operationId" : "patch-/marketing/v3/emails/{emailId}/draft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A marketing email object with properties that should overwrite the corresponding properties in the email's current draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get revisions of a marketing email",
        "description" : "Get a list of all versions of a marketing email, with each entry including the full state of that particular version. The current revision has the ID -1.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/revisions",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "The cursor token value to get the previous set of results. You can get this from the `paging.prev.before` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get a revision of a marketing email.",
        "description" : "Get a specific revision of a marketing email.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/revisions/{revisionId}",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Create an A/B test variation of a marketing email",
        "description" : "Create a variation of a marketing email for an A/B test. The new variation will be created as a draft. If an active variation already exists, a new one won't be created.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/ab-test/create-variation",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get all marketing emails for a HubSpot account.",
        "description" : "The results can be filtered, allowing you to find a specific set of emails. See the table below for a full list of filtering options.",
        "operationId" : "get-/marketing/v3/emails/",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return emails created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return emails created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return emails created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return emails last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return emails last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return emails last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeStats",
          "in" : "query",
          "description" : "Include statistics with emails.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Email types to be filtered by. Multiple types can be included. All emails will be returned if not present.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "AB_EMAIL", "BATCH_EMAIL", "LOCALTIME_EMAIL", "AUTOMATED_AB_EMAIL", "BLOG_EMAIL", "BLOG_EMAIL_CHILD", "RSS_EMAIL", "RSS_EMAIL_CHILD", "RESUBSCRIBE_EMAIL", "OPTIN_EMAIL", "OPTIN_FOLLOWUP_EMAIL", "AUTOMATED_EMAIL", "FEEDBACK_CES_EMAIL", "FEEDBACK_CUSTOM_EMAIL", "FEEDBACK_CUSTOM_SURVEY_EMAIL", "FEEDBACK_NPS_EMAIL", "FOLLOWUP_EMAIL", "LEADFLOW_EMAIL", "SINGLE_SEND_API", "SMTP_TOKEN", "TICKET_EMAIL", "MEMBERSHIP_REGISTRATION_EMAIL", "MEMBERSHIP_PASSWORD_SAVED_EMAIL", "MEMBERSHIP_PASSWORD_RESET_EMAIL", "MEMBERSHIP_EMAIL_VERIFICATION_EMAIL" ]
          }
        }, {
          "name" : "isPublished",
          "in" : "query",
          "description" : "Filter by published/draft emails. All emails will be returned if not present.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includedProperties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived emails. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicEmailForwardPaging"
                },
                "example" : {
                  "total" : 1,
                  "results" : [ {
                    "activeDomain" : "",
                    "archived" : false,
                    "content" : {
                      "templatePath" : "generated_layouts/4701002617.html",
                      "widgets" : {
                        "Social_Sharing" : {
                          "body" : { },
                          "child_css" : { },
                          "css" : { },
                          "id" : "Social_Sharing",
                          "label" : "Social Sharing",
                          "name" : "Social_Sharing",
                          "type" : "social_sharing"
                        },
                        "column1" : {
                          "body" : {
                            "html" : ""
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "column1",
                          "label" : "Column Above Body",
                          "name" : "column1",
                          "type" : "rich_text"
                        },
                        "hs_email_body" : {
                          "body" : {
                            "html" : "<p>Hi {{contact.firstname}},</p>\n<p>This is an example of an email in HubSpot. You can add and format text, include your own images, and even personalize the message with details about the recipient, like their {{contact.company}} or {{contact.city}}.</p>\n<p>In HubSpot, the Email tool is closely linked with the <em>Lists</em> and <em>Workflows</em> tools. You can create a list of recipients on the \"Sending\" tab up above. If you want this email to be part of a nurturing series, you can make it part of a workflow.</p>\n<p>Need help? Check out the documentation on <a href=\"http://help.hubspot.com/articles/Tutorial/how-to-use-email-tool\">creating an email</a>, <a href=\"http://help.hubspot.com/articles/How_To_Doc/how-to-create-a-smart-list-in-hubspot\">creating a list</a>, or <a href=\"http://help.hubspot.com/articles/Tutorial/set-up-workflows\">creating a workflow</a>.</p>"
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "hs_email_body",
                          "label" : "Main Email Body",
                          "name" : "hs_email_body",
                          "type" : "rich_text"
                        },
                        "logo_image" : {
                          "body" : {
                            "alt" : "vast.png",
                            "height" : 135,
                            "link" : "",
                            "override_inherited_src" : false,
                            "src" : "",
                            "suppress_company_name" : false,
                            "width" : 413
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "logo_image",
                          "label" : "Logo",
                          "name" : "logo_image",
                          "type" : "logo"
                        },
                        "module_148465958537693" : {
                          "body" : {
                            "html" : "<h2>Something Powerful</h2>\n<h3>Tell The Reader More</h3>\n<p>The headline and subheader tells us what you're <a href=\"#\">offering</a>, and the form header closes the deal. Over here you can explain why your offer is so great it's worth filling out a form for.</p>\n<p>Remember:</p>\n<ul>\n<li>Bullets are great</li>\n<li>For spelling out <a href=\"#\">benefits</a> and</li>\n<li>Turning visitors into leads.</li>\n</ul>"
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "module_148465958537693",
                          "label" : "Rich Text",
                          "name" : "module_148465958537693",
                          "type" : "rich_text"
                        },
                        "preview_text" : {
                          "body" : {
                            "value" : ""
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "preview_text",
                          "label" : "Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>",
                          "name" : "preview_text",
                          "type" : "text"
                        },
                        "social_sharing_label" : {
                          "body" : { },
                          "child_css" : { },
                          "css" : { },
                          "id" : "social_sharing_label",
                          "label" : "Social Sharing Label",
                          "name" : "social_sharing_label",
                          "type" : "text"
                        }
                      }
                    },
                    "createdAt" : "2017-02-16T13:05:18.390Z",
                    "createdById" : 2983922,
                    "from" : {
                      "fromName" : "Bruce Wayne",
                      "replyTo" : "test@yahoo.com"
                    },
                    "id" : "4613448134",
                    "isPublished" : true,
                    "isTransactional" : false,
                    "name" : "Fail dmarc",
                    "sendOnPublish" : true,
                    "state" : "PUBLISHED",
                    "stats" : {
                      "counters" : {
                        "sent" : 1,
                        "open" : 0,
                        "delivered" : 0,
                        "bounce" : 1,
                        "unsubscribed" : 0,
                        "click" : 0,
                        "reply" : 0,
                        "dropped" : 0,
                        "selected" : 1,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "hardbounced" : 0,
                        "softbounced" : 1,
                        "pending" : 0,
                        "contactslost" : 0,
                        "notsent" : 0
                      },
                      "deviceBreakdown" : {
                        "open_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        },
                        "click_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "clickratio" : 0,
                        "clickthroughratio" : 0,
                        "deliveredratio" : 0,
                        "openratio" : 0,
                        "replyratio" : 0,
                        "unsubscribedratio" : 0,
                        "spamreportratio" : 0,
                        "bounceratio" : 100,
                        "hardbounceratio" : 0,
                        "softbounceratio" : 100,
                        "contactslostratio" : 0,
                        "pendingratio" : 0,
                        "notsentratio" : 0
                      }
                    },
                    "subcategory" : "batch",
                    "subject" : "Subject",
                    "subscriptionDetails" : {
                      "officeLocationId" : "4701002382",
                      "subscriptionId" : 1264909
                    },
                    "to" : {
                      "contactIds" : {
                        "exclude" : [ ],
                        "include" : [ 51 ]
                      },
                      "contactLists" : {
                        "exclude" : [ ],
                        "include" : [ ]
                      },
                      "suppressGraymail" : true
                    },
                    "type" : "BATCH_EMAIL",
                    "updatedAt" : "2017-02-16T13:08:24.853Z",
                    "updatedById" : 2983922
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "MjA%3D",
                      "link" : "https://api.hubapi.com/marketing/v3/emails/emails?after=MjA%3D"
                    },
                    "prev" : {
                      "before" : "MTA%3D",
                      "link" : "https://api.hubapi.com/marketing/v3/emails/emails?after=MTA%3D"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Create a new marketing email.",
        "description" : "Use this endpoint to create a new marketing email.",
        "operationId" : "post-/marketing/v3/emails/",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Restore a revision of a marketing email",
        "description" : "Restores a previous revision of a marketing email. The current revision becomes old, and the restored revision is given a new version number.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/clone" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Clone a marketing email",
        "description" : "This will create a duplicate email with the same properties as the original, with the exception of a unique ID.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/clone",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of a marketing email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Contains the name of the clone.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get the details of a specified marketing email.",
        "description" : "Get the details for a marketing email.",
        "operationId" : "get-/marketing/v3/emails/{emailId}",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeStats",
          "in" : "query",
          "description" : "Include statistics with email",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includedProperties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Delete a marketing email.",
        "operationId" : "delete-/marketing/v3/emails/{emailId}",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of the marketing email to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Update a marketing email.",
        "description" : "Change properties of a marketing email.",
        "operationId" : "patch-/marketing/v3/emails/{emailId}",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of the marketing email that should get updated",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "A marketing email object with properties that should overwrite the corresponding properties of the marketing email.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicEmailToDetails" : {
        "type" : "object",
        "properties" : {
          "contactLists" : {
            "$ref" : "#/components/schemas/PublicEmailRecipients"
          },
          "contactIds" : {
            "$ref" : "#/components/schemas/PublicEmailRecipients"
          },
          "limitSendFrequency" : {
            "type" : "boolean"
          },
          "suppressGraymail" : {
            "type" : "boolean"
          }
        }
      },
      "Email" : {
        "required" : [ "abHoursToWait", "abStatus", "abTestId", "archivedAt", "archivedInDashboard", "attachedStylesheets", "authorName", "blogEmailType", "campaign", "categoryId", "contentGroupId", "contentTypeCategory", "createPage", "created", "createdById", "currentState", "currentlyPublished", "customReplyTo", "customReplyToEnabled", "domain", "dynamicPageDataSourceId", "dynamicPageDataSourceType", "dynamicPageHubDbTableId", "emailType", "enableDomainStylesheets", "enableLayoutStylesheets", "featuredImage", "featuredImageAltText", "folderId", "footerHtml", "fromName", "headHtml", "htmlTitle", "id", "includeDefaultCustomCss", "isGraymailSuppressionEnabled", "language", "layoutSections", "linkRelCanonicalUrl", "mabExperimentId", "mailingListsExcluded", "mailingListsIncluded", "maxRssEntries", "metaDescription", "name", "pageExpiryDate", "pageExpiryEnabled", "pageExpiryRedirectId", "pageExpiryRedirectUrl", "pageRedirected", "password", "publicAccessRules", "publicAccessRulesEnabled", "publishDate", "publishImmediately", "replyTo", "rssEmailAuthorLineTemplate", "rssEmailBlogImageMaxWidth", "rssEmailByText", "rssEmailClickThroughText", "rssEmailCommentText", "rssEmailEntryTemplate", "rssEmailEntryTemplateEnabled", "rssEmailId", "rssEmailUrl", "rssToEmailTiming", "slug", "state", "stats", "subcategory", "subject", "subscription", "subscriptionBlogId", "subscriptionName", "templatePath", "themeSettingsValues", "transactional", "translatedFromId", "translations", "updated", "updatedById", "url", "useFeaturedImage", "useRssHeadlineAsSubject", "vidsExcluded", "vidsIncluded", "widgetContainers", "widgets", "workflowNames" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "contentGroupId" : {
            "type" : "string"
          },
          "campaign" : {
            "type" : "string"
          },
          "categoryId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "state" : {
            "maxLength" : 25,
            "type" : "string"
          },
          "templatePath" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "mabExperimentId" : {
            "type" : "string"
          },
          "authorName" : {
            "type" : "string"
          },
          "abTestId" : {
            "type" : "string"
          },
          "createdById" : {
            "type" : "string"
          },
          "updatedById" : {
            "type" : "string"
          },
          "domain" : {
            "type" : "string"
          },
          "subcategory" : {
            "type" : "string"
          },
          "abStatus" : {
            "type" : "string",
            "enum" : [ "master", "variant", "loser_variant", "mab_master", "mab_variant", "automated_master", "automated_variant", "automated_loser_variant" ]
          },
          "folderId" : {
            "type" : "string"
          },
          "widgetContainers" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "widgets" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "language" : {
            "type" : "string",
            "enum" : [ "af", "af-na", "af-za", "agq", "agq-cm", "ak", "ak-gh", "am", "am-et", "ar", "ar-001", "ar-ae", "ar-bh", "ar-dj", "ar-dz", "ar-eg", "ar-eh", "ar-er", "ar-il", "ar-iq", "ar-jo", "ar-km", "ar-kw", "ar-lb", "ar-ly", "ar-ma", "ar-mr", "ar-om", "ar-ps", "ar-qa", "ar-sa", "ar-sd", "ar-so", "ar-ss", "ar-sy", "ar-td", "ar-tn", "ar-ye", "as", "as-in", "asa", "asa-tz", "ast", "ast-es", "az", "az-az", "bas", "bas-cm", "be", "be-by", "bem", "bem-zm", "bez", "bez-tz", "bg", "bg-bg", "bm", "bm-ml", "bn", "bn-bd", "bn-in", "bo", "bo-cn", "bo-in", "br", "br-fr", "brx", "brx-in", "bs", "bs-ba", "ca", "ca-ad", "ca-es", "ca-fr", "ca-it", "ccp", "ccp-bd", "ccp-in", "ce", "ce-ru", "ceb", "ceb-ph", "cgg", "cgg-ug", "chr", "chr-us", "ckb", "ckb-iq", "ckb-ir", "cs", "cs-cz", "cu", "cu-ru", "cy", "cy-gb", "da", "da-dk", "da-gl", "dav", "dav-ke", "de", "de-at", "de-be", "de-ch", "de-de", "de-gr", "de-it", "de-li", "de-lu", "dje", "dje-ne", "doi", "doi-in", "dsb", "dsb-de", "dua", "dua-cm", "dyo", "dyo-sn", "dz", "dz-bt", "ebu", "ebu-ke", "ee", "ee-gh", "ee-tg", "el", "el-cy", "el-gr", "en", "en-001", "en-150", "en-ae", "en-ag", "en-ai", "en-as", "en-at", "en-au", "en-bb", "en-be", "en-bi", "en-bm", "en-bs", "en-bw", "en-bz", "en-ca", "en-cc", "en-ch", "en-ck", "en-cm", "en-cn", "en-cx", "en-cy", "en-de", "en-dg", "en-dk", "en-dm", "en-er", "en-fi", "en-fj", "en-fk", "en-fm", "en-gb", "en-gd", "en-gg", "en-gh", "en-gi", "en-gm", "en-gu", "en-gy", "en-hk", "en-ie", "en-il", "en-im", "en-in", "en-io", "en-je", "en-jm", "en-ke", "en-ki", "en-kn", "en-ky", "en-lc", "en-lr", "en-ls", "en-lu", "en-mg", "en-mh", "en-mo", "en-mp", "en-ms", "en-mt", "en-mu", "en-mw", "en-mx", "en-my", "en-na", "en-nf", "en-ng", "en-nl", "en-nr", "en-nu", "en-nz", "en-pg", "en-ph", "en-pk", "en-pn", "en-pr", "en-pw", "en-rw", "en-sb", "en-sc", "en-sd", "en-se", "en-sg", "en-sh", "en-si", "en-sl", "en-ss", "en-sx", "en-sz", "en-tc", "en-tk", "en-to", "en-tt", "en-tv", "en-tz", "en-ug", "en-um", "en-us", "en-vc", "en-vg", "en-vi", "en-vu", "en-ws", "en-za", "en-zm", "en-zw", "eo", "eo-001", "es", "es-419", "es-ar", "es-bo", "es-br", "es-bz", "es-cl", "es-co", "es-cr", "es-cu", "es-do", "es-ea", "es-ec", "es-es", "es-gq", "es-gt", "es-hn", "es-ic", "es-mx", "es-ni", "es-pa", "es-pe", "es-ph", "es-pr", "es-py", "es-sv", "es-us", "es-uy", "es-ve", "et", "et-ee", "eu", "eu-es", "ewo", "ewo-cm", "fa", "fa-af", "fa-ir", "ff", "ff-bf", "ff-cm", "ff-gh", "ff-gm", "ff-gn", "ff-gw", "ff-lr", "ff-mr", "ff-ne", "ff-ng", "ff-sl", "ff-sn", "fi", "fi-fi", "fil", "fil-ph", "fo", "fo-dk", "fo-fo", "fr", "fr-be", "fr-bf", "fr-bi", "fr-bj", "fr-bl", "fr-ca", "fr-cd", "fr-cf", "fr-cg", "fr-ch", "fr-ci", "fr-cm", "fr-dj", "fr-dz", "fr-fr", "fr-ga", "fr-gf", "fr-gn", "fr-gp", "fr-gq", "fr-ht", "fr-km", "fr-lu", "fr-ma", "fr-mc", "fr-mf", "fr-mg", "fr-ml", "fr-mq", "fr-mr", "fr-mu", "fr-nc", "fr-ne", "fr-pf", "fr-pm", "fr-re", "fr-rw", "fr-sc", "fr-sn", "fr-sy", "fr-td", "fr-tg", "fr-tn", "fr-vu", "fr-wf", "fr-yt", "fur", "fur-it", "fy", "fy-nl", "ga", "ga-gb", "ga-ie", "gd", "gd-gb", "gl", "gl-es", "gsw", "gsw-ch", "gsw-fr", "gsw-li", "gu", "gu-in", "guz", "guz-ke", "gv", "gv-im", "ha", "ha-gh", "ha-ne", "ha-ng", "haw", "haw-us", "he", "hi", "hi-in", "hr", "hr-ba", "hr-hr", "hsb", "hsb-de", "hu", "hu-hu", "hy", "hy-am", "ia", "ia-001", "id", "ig", "ig-ng", "ii", "ii-cn", "id-id", "is", "is-is", "it", "it-ch", "it-it", "it-sm", "it-va", "he-il", "ja", "ja-jp", "jgo", "jgo-cm", "yi", "yi-001", "jmc", "jmc-tz", "jv", "jv-id", "ka", "ka-ge", "kab", "kab-dz", "kam", "kam-ke", "kde", "kde-tz", "kea", "kea-cv", "khq", "khq-ml", "ki", "ki-ke", "kk", "kk-kz", "kkj", "kkj-cm", "kl", "kl-gl", "kln", "kln-ke", "km", "km-kh", "kn", "kn-in", "ko", "ko-kp", "ko-kr", "kok", "kok-in", "ks", "ks-in", "ksb", "ksb-tz", "ksf", "ksf-cm", "ksh", "ksh-de", "kw", "kw-gb", "ku", "ku-tr", "ky", "ky-kg", "lag", "lag-tz", "lb", "lb-lu", "lg", "lg-ug", "lkt", "lkt-us", "ln", "ln-ao", "ln-cd", "ln-cf", "ln-cg", "lo", "lo-la", "lrc", "lrc-iq", "lrc-ir", "lt", "lt-lt", "lu", "lu-cd", "luo", "luo-ke", "luy", "luy-ke", "lv", "lv-lv", "mai", "mai-in", "mas", "mas-ke", "mas-tz", "mer", "mer-ke", "mfe", "mfe-mu", "mg", "mg-mg", "mgh", "mgh-mz", "mgo", "mgo-cm", "mi", "mi-nz", "mk", "mk-mk", "ml", "ml-in", "mn", "mn-mn", "mni", "mni-in", "mr", "mr-in", "ms", "ms-bn", "ms-id", "ms-my", "ms-sg", "mt", "mt-mt", "mua", "mua-cm", "my", "my-mm", "mzn", "mzn-ir", "naq", "naq-na", "nb", "nb-no", "nb-sj", "nd", "nd-zw", "nds", "nds-de", "nds-nl", "ne", "ne-in", "ne-np", "nl", "nl-aw", "nl-be", "nl-ch", "nl-bq", "nl-cw", "nl-lu", "nl-nl", "nl-sr", "nl-sx", "nmg", "nmg-cm", "nn", "nn-no", "nnh", "nnh-cm", "no", "no-no", "nus", "nus-ss", "nyn", "nyn-ug", "om", "om-et", "om-ke", "or", "or-in", "os", "os-ge", "os-ru", "pa", "pa-in", "pa-pk", "pcm", "pcm-ng", "pl", "pl-pl", "prg", "prg-001", "ps", "ps-af", "ps-pk", "pt", "pt-ao", "pt-br", "pt-ch", "pt-cv", "pt-gq", "pt-gw", "pt-lu", "pt-mo", "pt-mz", "pt-pt", "pt-st", "pt-tl", "qu", "qu-bo", "qu-ec", "qu-pe", "rm", "rm-ch", "rn", "rn-bi", "ro", "ro-md", "ro-ro", "rof", "rof-tz", "ru", "ru-by", "ru-kg", "ru-kz", "ru-md", "ru-ru", "ru-ua", "rw", "rw-rw", "rwk", "rwk-tz", "sa", "sa-in", "sah", "sah-ru", "saq", "saq-ke", "sat", "sat-in", "sbp", "sbp-tz", "sd", "sd-in", "sd-pk", "se", "se-fi", "se-no", "se-se", "seh", "seh-mz", "ses", "ses-ml", "sg", "sg-cf", "shi", "shi-ma", "si", "si-lk", "sk", "sk-sk", "sl", "sl-si", "smn", "smn-fi", "sn", "sn-zw", "so", "so-dj", "so-et", "so-ke", "so-so", "sq", "sq-al", "sq-mk", "sq-xk", "sr", "sr-ba", "sr-cs", "sr-me", "sr-rs", "sr-xk", "su", "su-id", "sv", "sv-ax", "sv-fi", "sv-se", "sw", "sw-cd", "sw-ke", "sw-tz", "sw-ug", "sy", "ta", "ta-in", "ta-lk", "ta-my", "ta-sg", "te", "te-in", "teo", "teo-ke", "teo-ug", "tg", "tg-tj", "th", "th-th", "ti", "ti-er", "ti-et", "tk", "tk-tm", "tl", "to", "to-to", "tr", "tr-cy", "tr-tr", "tt", "tt-ru", "twq", "twq-ne", "tzm", "tzm-ma", "ug", "ug-cn", "uk", "uk-ua", "ur", "ur-in", "ur-pk", "uz", "uz-af", "uz-uz", "vai", "vai-lr", "vi", "vi-vn", "vo", "vo-001", "vun", "vun-tz", "wae", "wae-ch", "wo", "wo-sn", "xh", "xh-za", "xog", "xog-ug", "yav", "yav-cm", "yo", "yo-bj", "yo-ng", "yue", "yue-cn", "yue-hk", "zgh", "zgh-ma", "zh", "zh-cn", "zh-hk", "zh-mo", "zh-sg", "zh-tw", "zh-hans", "zh-hant", "zu", "zu-za" ]
          },
          "translatedFromId" : {
            "type" : "string"
          },
          "translations" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ContentLanguageVariation"
            }
          },
          "dynamicPageHubDbTableId" : {
            "type" : "string"
          },
          "dynamicPageDataSourceType" : {
            "type" : "integer",
            "format" : "int32"
          },
          "dynamicPageDataSourceId" : {
            "type" : "string"
          },
          "stats" : {
            "$ref" : "#/components/schemas/EmailStatisticsData"
          },
          "workflowNames" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "rssEmailId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "currentState" : {
            "type" : "string",
            "enum" : [ "AUTOMATED", "AUTOMATED_DRAFT", "AUTOMATED_SENDING", "AUTOMATED_FOR_FORM", "AUTOMATED_FOR_FORM_BUFFER", "AUTOMATED_FOR_FORM_DRAFT", "AUTOMATED_FOR_FORM_LEGACY", "BLOG_EMAIL_DRAFT", "BLOG_EMAIL_PUBLISHED", "DRAFT", "DRAFT_AB", "DRAFT_AB_VARIANT", "ERROR", "LOSER_AB_VARIANT", "PAGE_STUB", "PRE_PROCESSING", "PROCESSING", "PUBLISHED", "PUBLISHED_AB", "PUBLISHED_AB_VARIANT", "PUBLISHED_OR_SCHEDULED", "RSS_TO_EMAIL_DRAFT", "RSS_TO_EMAIL_PUBLISHED", "SCHEDULED", "SCHEDULED_AB", "SCHEDULED_OR_PUBLISHED", "AUTOMATED_AB", "AUTOMATED_AB_VARIANT", "AUTOMATED_DRAFT_AB", "AUTOMATED_DRAFT_ABVARIANT", "AUTOMATED_LOSER_ABVARIANT" ]
          },
          "currentlyPublished" : {
            "type" : "boolean"
          },
          "mailingListsIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "mailingListsExcluded" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "vidsIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "vidsExcluded" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "subscription" : {
            "type" : "integer",
            "format" : "int64"
          },
          "subscriptionName" : {
            "type" : "string"
          },
          "rssEmailEntryTemplate" : {
            "type" : "string"
          },
          "rssEmailEntryTemplateEnabled" : {
            "type" : "boolean"
          },
          "rssEmailAuthorLineTemplate" : {
            "type" : "string"
          },
          "useRssHeadlineAsSubject" : {
            "type" : "boolean"
          },
          "rssToEmailTiming" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "maxRssEntries" : {
            "type" : "integer",
            "format" : "int32"
          },
          "rssEmailByText" : {
            "type" : "string"
          },
          "rssEmailClickThroughText" : {
            "type" : "string"
          },
          "rssEmailCommentText" : {
            "type" : "string"
          },
          "rssEmailUrl" : {
            "type" : "string"
          },
          "rssEmailBlogImageMaxWidth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "subscriptionBlogId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "isGraymailSuppressionEnabled" : {
            "type" : "boolean"
          },
          "isRecipientFatigueSuppressionEnabled" : {
            "type" : "boolean"
          },
          "abHoursToWait" : {
            "type" : "integer",
            "format" : "int32"
          },
          "smartEmailFields" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/SmartEmailField"
            }
          },
          "feedbackSurveyId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "featuredImageAltText" : {
            "type" : "string"
          },
          "publicAccessRulesEnabled" : {
            "type" : "boolean"
          },
          "publicAccessRules" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicAccessRule"
            }
          },
          "attachedStylesheets" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object",
                "properties" : { }
              }
            }
          },
          "includeDefaultCustomCss" : {
            "type" : "boolean"
          },
          "enableDomainStylesheets" : {
            "type" : "boolean"
          },
          "enableLayoutStylesheets" : {
            "type" : "boolean"
          },
          "headHtml" : {
            "type" : "string"
          },
          "footerHtml" : {
            "type" : "string"
          },
          "pageRedirected" : {
            "type" : "boolean"
          },
          "pageExpiryEnabled" : {
            "type" : "boolean"
          },
          "pageExpiryDate" : {
            "type" : "integer",
            "format" : "int64"
          },
          "pageExpiryRedirectId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "pageExpiryRedirectUrl" : {
            "type" : "string"
          },
          "featuredImage" : {
            "type" : "string"
          },
          "useFeaturedImage" : {
            "type" : "boolean"
          },
          "transactional" : {
            "type" : "boolean"
          },
          "emailType" : {
            "type" : "string",
            "enum" : [ "AB_EMAIL", "BATCH_EMAIL", "LOCALTIME_EMAIL", "AUTOMATED_AB_EMAIL", "BLOG_EMAIL", "BLOG_EMAIL_CHILD", "RSS_EMAIL", "RSS_EMAIL_CHILD", "RESUBSCRIBE_EMAIL", "OPTIN_EMAIL", "OPTIN_FOLLOWUP_EMAIL", "AUTOMATED_EMAIL", "FEEDBACK_CES_EMAIL", "FEEDBACK_CUSTOM_EMAIL", "FEEDBACK_CUSTOM_SURVEY_EMAIL", "FEEDBACK_NPS_EMAIL", "FOLLOWUP_EMAIL", "LEADFLOW_EMAIL", "SINGLE_SEND_API", "SMTP_TOKEN", "TICKET_EMAIL", "MEMBERSHIP_REGISTRATION_EMAIL", "MEMBERSHIP_PASSWORD_SAVED_EMAIL", "MEMBERSHIP_PASSWORD_RESET_EMAIL", "MEMBERSHIP_EMAIL_VERIFICATION_EMAIL" ]
          },
          "blogEmailType" : {
            "type" : "string"
          },
          "createPage" : {
            "type" : "boolean"
          },
          "fromName" : {
            "type" : "string"
          },
          "customReplyToEnabled" : {
            "type" : "boolean"
          },
          "customReplyTo" : {
            "type" : "string"
          },
          "replyTo" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          },
          "layoutSections" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/LayoutSection"
            }
          },
          "contentTypeCategory" : {
            "type" : "string",
            "enum" : [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ]
          },
          "htmlTitle" : {
            "type" : "string"
          },
          "metaDescription" : {
            "type" : "string"
          },
          "publishImmediately" : {
            "type" : "boolean"
          },
          "archivedInDashboard" : {
            "type" : "boolean"
          },
          "linkRelCanonicalUrl" : {
            "type" : "string"
          },
          "themeSettingsValues" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "url" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "publishDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "created" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated" : {
            "type" : "string",
            "format" : "date-time"
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicEmail" : {
        "required" : [ "content", "from", "id", "name", "sendOnPublish", "state", "subcategory", "subject", "to" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The email ID."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the email, as displayed on the email dashboard."
          },
          "subcategory" : {
            "type" : "string",
            "description" : "The email subcategory."
          },
          "state" : {
            "type" : "string",
            "description" : "The email state.",
            "enum" : [ "AUTOMATED", "AUTOMATED_DRAFT", "AUTOMATED_SENDING", "AUTOMATED_FOR_FORM", "AUTOMATED_FOR_FORM_BUFFER", "AUTOMATED_FOR_FORM_DRAFT", "AUTOMATED_FOR_FORM_LEGACY", "BLOG_EMAIL_DRAFT", "BLOG_EMAIL_PUBLISHED", "DRAFT", "DRAFT_AB", "DRAFT_AB_VARIANT", "ERROR", "LOSER_AB_VARIANT", "PAGE_STUB", "PRE_PROCESSING", "PROCESSING", "PUBLISHED", "PUBLISHED_AB", "PUBLISHED_AB_VARIANT", "PUBLISHED_OR_SCHEDULED", "RSS_TO_EMAIL_DRAFT", "RSS_TO_EMAIL_PUBLISHED", "SCHEDULED", "SCHEDULED_AB", "SCHEDULED_OR_PUBLISHED", "AUTOMATED_AB", "AUTOMATED_AB_VARIANT", "AUTOMATED_DRAFT_AB", "AUTOMATED_DRAFT_ABVARIANT", "AUTOMATED_LOSER_ABVARIANT" ]
          },
          "createdById" : {
            "type" : "integer",
            "description" : "The id of the user who created the email.",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "The email type, this is derived from other properties on the email such as subcategory.",
            "enum" : [ "AB_EMAIL", "BATCH_EMAIL", "LOCALTIME_EMAIL", "AUTOMATED_AB_EMAIL", "BLOG_EMAIL", "BLOG_EMAIL_CHILD", "RSS_EMAIL", "RSS_EMAIL_CHILD", "RESUBSCRIBE_EMAIL", "OPTIN_EMAIL", "OPTIN_FOLLOWUP_EMAIL", "AUTOMATED_EMAIL", "FEEDBACK_CES_EMAIL", "FEEDBACK_CUSTOM_EMAIL", "FEEDBACK_CUSTOM_SURVEY_EMAIL", "FEEDBACK_NPS_EMAIL", "FOLLOWUP_EMAIL", "LEADFLOW_EMAIL", "SINGLE_SEND_API", "SMTP_TOKEN", "TICKET_EMAIL", "MEMBERSHIP_REGISTRATION_EMAIL", "MEMBERSHIP_PASSWORD_SAVED_EMAIL", "MEMBERSHIP_PASSWORD_RESET_EMAIL", "MEMBERSHIP_EMAIL_VERIFICATION_EMAIL" ]
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject of the email."
          },
          "activeDomain" : {
            "type" : "string",
            "description" : "The active domain of the email."
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Determines if the email is archived or not."
          },
          "folderId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "feedbackSurveyId" : {
            "type" : "integer",
            "description" : "The ID of the feedback survey linked to the email.",
            "format" : "int32"
          },
          "sendOnPublish" : {
            "type" : "boolean",
            "description" : "Determines whether the email will be sent immediately on publish."
          },
          "stats" : {
            "$ref" : "#/components/schemas/EmailStatisticsData"
          },
          "to" : {
            "$ref" : "#/components/schemas/PublicEmailToDetails"
          },
          "from" : {
            "$ref" : "#/components/schemas/PublicEmailFromDetails"
          },
          "content" : {
            "$ref" : "#/components/schemas/PublicEmailContent"
          },
          "testing" : {
            "$ref" : "#/components/schemas/PublicEmailTestingDetails"
          },
          "subscriptionDetails" : {
            "$ref" : "#/components/schemas/PublicEmailSubscriptionDetails"
          },
          "updatedById" : {
            "type" : "integer",
            "description" : "The id of the user who last updated the email.",
            "format" : "int32"
          },
          "publishedById" : {
            "type" : "integer",
            "format" : "int32"
          },
          "language" : {
            "type" : "string",
            "enum" : [ "af", "af-na", "af-za", "agq", "agq-cm", "ak", "ak-gh", "am", "am-et", "ar", "ar-001", "ar-ae", "ar-bh", "ar-dj", "ar-dz", "ar-eg", "ar-eh", "ar-er", "ar-il", "ar-iq", "ar-jo", "ar-km", "ar-kw", "ar-lb", "ar-ly", "ar-ma", "ar-mr", "ar-om", "ar-ps", "ar-qa", "ar-sa", "ar-sd", "ar-so", "ar-ss", "ar-sy", "ar-td", "ar-tn", "ar-ye", "as", "as-in", "asa", "asa-tz", "ast", "ast-es", "az", "az-az", "bas", "bas-cm", "be", "be-by", "bem", "bem-zm", "bez", "bez-tz", "bg", "bg-bg", "bm", "bm-ml", "bn", "bn-bd", "bn-in", "bo", "bo-cn", "bo-in", "br", "br-fr", "brx", "brx-in", "bs", "bs-ba", "ca", "ca-ad", "ca-es", "ca-fr", "ca-it", "ccp", "ccp-bd", "ccp-in", "ce", "ce-ru", "ceb", "ceb-ph", "cgg", "cgg-ug", "chr", "chr-us", "ckb", "ckb-iq", "ckb-ir", "cs", "cs-cz", "cu", "cu-ru", "cy", "cy-gb", "da", "da-dk", "da-gl", "dav", "dav-ke", "de", "de-at", "de-be", "de-ch", "de-de", "de-gr", "de-it", "de-li", "de-lu", "dje", "dje-ne", "doi", "doi-in", "dsb", "dsb-de", "dua", "dua-cm", "dyo", "dyo-sn", "dz", "dz-bt", "ebu", "ebu-ke", "ee", "ee-gh", "ee-tg", "el", "el-cy", "el-gr", "en", "en-001", "en-150", "en-ae", "en-ag", "en-ai", "en-as", "en-at", "en-au", "en-bb", "en-be", "en-bi", "en-bm", "en-bs", "en-bw", "en-bz", "en-ca", "en-cc", "en-ch", "en-ck", "en-cm", "en-cn", "en-cx", "en-cy", "en-de", "en-dg", "en-dk", "en-dm", "en-er", "en-fi", "en-fj", "en-fk", "en-fm", "en-gb", "en-gd", "en-gg", "en-gh", "en-gi", "en-gm", "en-gu", "en-gy", "en-hk", "en-ie", "en-il", "en-im", "en-in", "en-io", "en-je", "en-jm", "en-ke", "en-ki", "en-kn", "en-ky", "en-lc", "en-lr", "en-ls", "en-lu", "en-mg", "en-mh", "en-mo", "en-mp", "en-ms", "en-mt", "en-mu", "en-mw", "en-mx", "en-my", "en-na", "en-nf", "en-ng", "en-nl", "en-nr", "en-nu", "en-nz", "en-pg", "en-ph", "en-pk", "en-pn", "en-pr", "en-pw", "en-rw", "en-sb", "en-sc", "en-sd", "en-se", "en-sg", "en-sh", "en-si", "en-sl", "en-ss", "en-sx", "en-sz", "en-tc", "en-tk", "en-to", "en-tt", "en-tv", "en-tz", "en-ug", "en-um", "en-us", "en-vc", "en-vg", "en-vi", "en-vu", "en-ws", "en-za", "en-zm", "en-zw", "eo", "eo-001", "es", "es-419", "es-ar", "es-bo", "es-br", "es-bz", "es-cl", "es-co", "es-cr", "es-cu", "es-do", "es-ea", "es-ec", "es-es", "es-gq", "es-gt", "es-hn", "es-ic", "es-mx", "es-ni", "es-pa", "es-pe", "es-ph", "es-pr", "es-py", "es-sv", "es-us", "es-uy", "es-ve", "et", "et-ee", "eu", "eu-es", "ewo", "ewo-cm", "fa", "fa-af", "fa-ir", "ff", "ff-bf", "ff-cm", "ff-gh", "ff-gm", "ff-gn", "ff-gw", "ff-lr", "ff-mr", "ff-ne", "ff-ng", "ff-sl", "ff-sn", "fi", "fi-fi", "fil", "fil-ph", "fo", "fo-dk", "fo-fo", "fr", "fr-be", "fr-bf", "fr-bi", "fr-bj", "fr-bl", "fr-ca", "fr-cd", "fr-cf", "fr-cg", "fr-ch", "fr-ci", "fr-cm", "fr-dj", "fr-dz", "fr-fr", "fr-ga", "fr-gf", "fr-gn", "fr-gp", "fr-gq", "fr-ht", "fr-km", "fr-lu", "fr-ma", "fr-mc", "fr-mf", "fr-mg", "fr-ml", "fr-mq", "fr-mr", "fr-mu", "fr-nc", "fr-ne", "fr-pf", "fr-pm", "fr-re", "fr-rw", "fr-sc", "fr-sn", "fr-sy", "fr-td", "fr-tg", "fr-tn", "fr-vu", "fr-wf", "fr-yt", "fur", "fur-it", "fy", "fy-nl", "ga", "ga-gb", "ga-ie", "gd", "gd-gb", "gl", "gl-es", "gsw", "gsw-ch", "gsw-fr", "gsw-li", "gu", "gu-in", "guz", "guz-ke", "gv", "gv-im", "ha", "ha-gh", "ha-ne", "ha-ng", "haw", "haw-us", "he", "hi", "hi-in", "hr", "hr-ba", "hr-hr", "hsb", "hsb-de", "hu", "hu-hu", "hy", "hy-am", "ia", "ia-001", "id", "ig", "ig-ng", "ii", "ii-cn", "id-id", "is", "is-is", "it", "it-ch", "it-it", "it-sm", "it-va", "he-il", "ja", "ja-jp", "jgo", "jgo-cm", "yi", "yi-001", "jmc", "jmc-tz", "jv", "jv-id", "ka", "ka-ge", "kab", "kab-dz", "kam", "kam-ke", "kde", "kde-tz", "kea", "kea-cv", "khq", "khq-ml", "ki", "ki-ke", "kk", "kk-kz", "kkj", "kkj-cm", "kl", "kl-gl", "kln", "kln-ke", "km", "km-kh", "kn", "kn-in", "ko", "ko-kp", "ko-kr", "kok", "kok-in", "ks", "ks-in", "ksb", "ksb-tz", "ksf", "ksf-cm", "ksh", "ksh-de", "kw", "kw-gb", "ku", "ku-tr", "ky", "ky-kg", "lag", "lag-tz", "lb", "lb-lu", "lg", "lg-ug", "lkt", "lkt-us", "ln", "ln-ao", "ln-cd", "ln-cf", "ln-cg", "lo", "lo-la", "lrc", "lrc-iq", "lrc-ir", "lt", "lt-lt", "lu", "lu-cd", "luo", "luo-ke", "luy", "luy-ke", "lv", "lv-lv", "mai", "mai-in", "mas", "mas-ke", "mas-tz", "mer", "mer-ke", "mfe", "mfe-mu", "mg", "mg-mg", "mgh", "mgh-mz", "mgo", "mgo-cm", "mi", "mi-nz", "mk", "mk-mk", "ml", "ml-in", "mn", "mn-mn", "mni", "mni-in", "mr", "mr-in", "ms", "ms-bn", "ms-id", "ms-my", "ms-sg", "mt", "mt-mt", "mua", "mua-cm", "my", "my-mm", "mzn", "mzn-ir", "naq", "naq-na", "nb", "nb-no", "nb-sj", "nd", "nd-zw", "nds", "nds-de", "nds-nl", "ne", "ne-in", "ne-np", "nl", "nl-aw", "nl-be", "nl-ch", "nl-bq", "nl-cw", "nl-lu", "nl-nl", "nl-sr", "nl-sx", "nmg", "nmg-cm", "nn", "nn-no", "nnh", "nnh-cm", "no", "no-no", "nus", "nus-ss", "nyn", "nyn-ug", "om", "om-et", "om-ke", "or", "or-in", "os", "os-ge", "os-ru", "pa", "pa-in", "pa-pk", "pcm", "pcm-ng", "pl", "pl-pl", "prg", "prg-001", "ps", "ps-af", "ps-pk", "pt", "pt-ao", "pt-br", "pt-ch", "pt-cv", "pt-gq", "pt-gw", "pt-lu", "pt-mo", "pt-mz", "pt-pt", "pt-st", "pt-tl", "qu", "qu-bo", "qu-ec", "qu-pe", "rm", "rm-ch", "rn", "rn-bi", "ro", "ro-md", "ro-ro", "rof", "rof-tz", "ru", "ru-by", "ru-kg", "ru-kz", "ru-md", "ru-ru", "ru-ua", "rw", "rw-rw", "rwk", "rwk-tz", "sa", "sa-in", "sah", "sah-ru", "saq", "saq-ke", "sat", "sat-in", "sbp", "sbp-tz", "sd", "sd-in", "sd-pk", "se", "se-fi", "se-no", "se-se", "seh", "seh-mz", "ses", "ses-ml", "sg", "sg-cf", "shi", "shi-ma", "si", "si-lk", "sk", "sk-sk", "sl", "sl-si", "smn", "smn-fi", "sn", "sn-zw", "so", "so-dj", "so-et", "so-ke", "so-so", "sq", "sq-al", "sq-mk", "sq-xk", "sr", "sr-ba", "sr-cs", "sr-me", "sr-rs", "sr-xk", "su", "su-id", "sv", "sv-ax", "sv-fi", "sv-se", "sw", "sw-cd", "sw-ke", "sw-tz", "sw-ug", "sy", "ta", "ta-in", "ta-lk", "ta-my", "ta-sg", "te", "te-in", "teo", "teo-ke", "teo-ug", "tg", "tg-tj", "th", "th-th", "ti", "ti-er", "ti-et", "tk", "tk-tm", "tl", "to", "to-to", "tr", "tr-cy", "tr-tr", "tt", "tt-ru", "twq", "twq-ne", "tzm", "tzm-ma", "ug", "ug-cn", "uk", "uk-ua", "ur", "ur-in", "ur-pk", "uz", "uz-af", "uz-uz", "vai", "vai-lr", "vi", "vi-vn", "vo", "vo-001", "vun", "vun-tz", "wae", "wae-ch", "wo", "wo-sn", "xh", "xh-za", "xog", "xog-ug", "yav", "yav-cm", "yo", "yo-bj", "yo-ng", "yue", "yue-cn", "yue-hk", "zgh", "zgh-ma", "zh", "zh-cn", "zh-hk", "zh-mo", "zh-sg", "zh-tw", "zh-hans", "zh-hant", "zu", "zu-za" ]
          },
          "campaign" : {
            "type" : "string",
            "description" : "The campaign id on the email."
          },
          "webversion" : {
            "$ref" : "#/components/schemas/PublicWebversionDetails"
          },
          "rssData" : {
            "$ref" : "#/components/schemas/PublicRssEmailDetails"
          },
          "isTransactional" : {
            "type" : "boolean",
            "description" : "Returns whether the email is a transactional email or not. This is read only."
          },
          "isPublished" : {
            "type" : "boolean",
            "description" : "Returns the published status of the email. This is read only."
          },
          "publishDate" : {
            "type" : "string",
            "description" : "The date and time the email is scheduled for, in ISO8601 representation. This is only used in local time or scheduled emails.",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time of the last update to the email, in ISO8601 representation.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time of the email's creation, in ISO8601 representation.",
            "format" : "date-time"
          },
          "deletedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "The date and time the email was published at, in ISO8601 representation.",
            "format" : "date-time"
          }
        },
        "description" : "A marketing email",
        "example" : {
          "activeDomain" : "test.hs-sites.com",
          "archived" : false,
          "campaign" : "1b7f51a6-33c1-44d6-ba28-fe81f655dced",
          "content" : {
            "flexAreas" : {
              "main" : {
                "boxed" : false,
                "isSingleColumnFullWidth" : false,
                "sections" : [ {
                  "columns" : [ {
                    "id" : "column_1606761806181_0",
                    "widgets" : [ "module_160676180617911" ],
                    "width" : 12
                  } ],
                  "id" : "section_1606761806181",
                  "style" : {
                    "backgroundColor" : "",
                    "backgroundType" : "CONTENT"
                  }
                }, {
                  "columns" : [ {
                    "id" : "column-0-1",
                    "widgets" : [ "module-0-1-1" ],
                    "width" : 12
                  } ],
                  "id" : "section-0",
                  "style" : {
                    "backgroundType" : "CONTENT",
                    "paddingBottom" : "40px",
                    "paddingTop" : "40px"
                  }
                }, {
                  "columns" : [ {
                    "id" : "column-1-1",
                    "widgets" : [ "module-1-1-1" ],
                    "width" : 12
                  } ],
                  "id" : "section-1",
                  "style" : {
                    "backgroundColor" : "",
                    "backgroundType" : "CONTENT",
                    "paddingBottom" : "0px",
                    "paddingTop" : "0px"
                  }
                } ]
              }
            },
            "plainTextVersion" : "This is custom! View in browser ({{view_as_page_url}})\n\nHello {{ contact.firstname }},\n\nPlain text emails have minimal formatting so your reader can really focus on what you have to say. Introduce yourself and explain why you’re reaching out.\n\nEvery email should try to lead the reader to some kind of action. Use this space to describe why the reader should want to click on the link below. Put the link on its own line to really draw their eye to it.\n\nLink text\n\nNow it’s time to wrap up your email. Before your signature, thank the recipient for reading. You can also invite them to send this email to any of their colleagues who might be interested.\n\nAll the best,\n\nYour full name\n\nYour job title\n\nOther contact information\n\n{{site_settings.company_name}}, {{site_settings.company_street_address_1}}, {{site_settings.company_street_address_2}}, {{site_settings.company_city}}, {{site_settings.company_state}} {{site_settings.company_zip}}, {{site_settings.company_country}}, {{site_settings.company_phone}}\n\nUnsubscribe ({{unsubscribe_link_all}})\n\nManage preferences ({{unsubscribe_link}})",
            "styleSettings" : { },
            "templatePath" : "@hubspot/email/dnd/plain_text.html",
            "widgets" : {
              "module-0-1-1" : {
                "body" : {
                  "css_class" : "dnd-module",
                  "html" : "<p style=\"margin-bottom:10px;\">Hello {{ contact.firstname }},<br><br>Plain text emails have minimal formatting so your reader can really focus on what you have to say. Introduce yourself and explain why you’re reaching out.</p><p style=\"margin-bottom:10px;\">Every email should try to lead the reader to some kind of action. Use this space to describe why the reader should want to click on the link below. Put the link on its own line to really draw their eye to it.</p><p style=\"margin-bottom:10px;\"><a target=\"_blank\" rel=\"noopener\">Link text</a></p><p style=\"margin-bottom:10px;\">Now it’s time to wrap up your email. Before your signature, thank the recipient for reading. You can also invite them to send this email to any of their colleagues who might be interested.</p><p style=\"margin-bottom:10px;\">All the best,<br>Your full name<br>Your job title<br>Other contact information</p>",
                  "i18nKey" : "richText.plainText",
                  "path" : "@hubspot/rich_text",
                  "schema_version" : 2
                },
                "child_css" : { },
                "css" : { },
                "id" : "module-0-1-1",
                "module_id" : 1155639,
                "name" : "module-0-1-1",
                "order" : 2,
                "styles" : { },
                "type" : "module"
              },
              "module-1-1-1" : {
                "body" : {
                  "align" : "center",
                  "css_class" : "dnd-module",
                  "font" : {
                    "color" : "#23496d",
                    "font" : "Arial, sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    }
                  },
                  "link_font" : {
                    "color" : "#00a4bd",
                    "font" : "Helvetica,Arial,sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    },
                    "styles" : {
                      "bold" : false,
                      "italic" : false,
                      "underline" : true
                    }
                  },
                  "path" : "@hubspot/email_footer",
                  "schema_version" : 2,
                  "unsubscribe_link_type" : "both"
                },
                "child_css" : { },
                "css" : { },
                "id" : "module-1-1-1",
                "module_id" : 2869621,
                "name" : "module-1-1-1",
                "order" : 3,
                "styles" : { },
                "type" : "module"
              },
              "module_160676180617911" : {
                "body" : {
                  "font" : {
                    "color" : "#00a4bd",
                    "font" : "Arial, sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    },
                    "styles" : {
                      "bold" : false,
                      "italic" : false,
                      "underline" : true
                    }
                  },
                  "hs_enable_module_padding" : false,
                  "hs_wrapper_css" : { }
                },
                "child_css" : { },
                "css" : { },
                "id" : "module_160676180617911",
                "module_id" : 2794854,
                "name" : "module_160676180617911",
                "styles" : { },
                "type" : "module"
              },
              "preview_text" : {
                "body" : {
                  "value" : ""
                },
                "child_css" : { },
                "css" : { },
                "id" : "preview_text",
                "label" : "Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>",
                "name" : "preview_text",
                "order" : 0,
                "styles" : { },
                "type" : "text"
              }
            }
          },
          "createdAt" : "2020-11-30T18:43:17.136Z",
          "createdById" : 3739732,
          "from" : {
            "fromName" : "Bruce Wayne",
            "replyTo" : "test@hubspot.com"
          },
          "id" : "38175169118",
          "isPublished" : false,
          "isTransactional" : false,
          "language" : "en",
          "name" : "My subject",
          "publishDate" : "2020-11-30T18:44:20.387Z",
          "sendOnPublish" : true,
          "state" : "DRAFT",
          "subcategory" : "batch",
          "subject" : "My subject",
          "subscriptionDetails" : {
            "officeLocationId" : "5449392956"
          },
          "to" : {
            "contactIds" : { },
            "contactLists" : {
              "exclude" : [ 1 ],
              "include" : [ 5 ]
            },
            "suppressGraymail" : true
          },
          "type" : "BATCH_EMAIL",
          "updatedAt" : "2020-11-30T18:44:20.384Z",
          "updatedById" : 3739732,
          "webversion" : {
            "expiresAt" : "2020-11-30T18:44:20.387Z",
            "metaDescription" : "",
            "redirectToPageId" : 0,
            "redirectToUrl" : "http://www.test.com"
          }
        }
      },
      "RGBAColor" : {
        "required" : [ "a", "b", "g", "r" ],
        "type" : "object",
        "properties" : {
          "r" : {
            "type" : "integer",
            "format" : "int32"
          },
          "g" : {
            "type" : "integer",
            "format" : "int32"
          },
          "b" : {
            "type" : "integer",
            "format" : "int32"
          },
          "a" : {
            "type" : "number"
          }
        }
      },
      "CollectionResponseWithTotalVersionEmail" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "The total number of results.",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "description" : "Current page of email versions.",
            "items" : {
              "$ref" : "#/components/schemas/VersionEmail"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          }
        }
      },
      "AbTestCreateRequestVNext" : {
        "required" : [ "contentId", "variationName" ],
        "type" : "object",
        "properties" : {
          "variationName" : {
            "type" : "string"
          },
          "contentId" : {
            "type" : "string"
          }
        }
      },
      "RowMetaData" : {
        "required" : [ "cssClass", "styles" ],
        "type" : "object",
        "properties" : {
          "styles" : {
            "$ref" : "#/components/schemas/Styles"
          },
          "cssClass" : {
            "type" : "string"
          }
        }
      },
      "ContentLanguageVariation" : {
        "required" : [ "archivedInDashboard", "authorName", "campaign", "created", "id", "name", "password", "publicAccessRules", "publicAccessRulesEnabled", "publishDate", "slug", "state", "updated" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "authorName" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "publicAccessRulesEnabled" : {
            "type" : "boolean"
          },
          "publicAccessRules" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicAccessRule"
            }
          },
          "campaign" : {
            "type" : "string"
          },
          "tagIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "archivedInDashboard" : {
            "type" : "boolean"
          },
          "created" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated" : {
            "type" : "string",
            "format" : "date-time"
          },
          "publishDate" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "EmailStatisticInterval" : {
        "type" : "object",
        "properties" : {
          "aggregations" : {
            "$ref" : "#/components/schemas/EmailStatisticsData"
          },
          "interval" : {
            "$ref" : "#/components/schemas/Interval"
          }
        }
      },
      "SideOrCorner" : {
        "required" : [ "horizontalSide", "verticalSide" ],
        "type" : "object",
        "properties" : {
          "verticalSide" : {
            "type" : "string"
          },
          "horizontalSide" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          }
        }
      },
      "EmailCustomSettings" : {
        "type" : "object"
      },
      "CollectionResponseWithTotalPublicEmailForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicEmail"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "EmailCloneRequest" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the clone."
          }
        },
        "description" : "Email clone request.",
        "example" : {
          "cloneName" : "Deal information email, December 2020"
        }
      },
      "PublicEmailSubscriptionDetails" : {
        "type" : "object",
        "properties" : {
          "subscriptionId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "preferencesGroupId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "officeLocationId" : {
            "type" : "string"
          }
        }
      },
      "VersionPublicEmail" : {
        "required" : [ "id", "object", "updatedAt", "user" ],
        "type" : "object",
        "properties" : {
          "object" : {
            "$ref" : "#/components/schemas/PublicEmail"
          },
          "user" : {
            "$ref" : "#/components/schemas/VersionUser"
          },
          "id" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "VersionUser" : {
        "required" : [ "email", "fullName", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The user ID."
          },
          "email" : {
            "type" : "string",
            "description" : "The user email."
          },
          "fullName" : {
            "type" : "string",
            "description" : "The user's full name."
          }
        }
      },
      "PublicEmailRecipients" : {
        "type" : "object",
        "properties" : {
          "include" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "exclude" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }
      },
      "ColorStop" : {
        "required" : [ "color" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "$ref" : "#/components/schemas/RGBAColor"
          }
        }
      },
      "CollectionResponseWithTotalEmailStatisticIntervalNoPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EmailStatisticInterval"
            }
          }
        }
      },
      "Gradient" : {
        "required" : [ "angle", "colors", "sideOrCorner" ],
        "type" : "object",
        "properties" : {
          "sideOrCorner" : {
            "$ref" : "#/components/schemas/SideOrCorner"
          },
          "angle" : {
            "$ref" : "#/components/schemas/Angle"
          },
          "colors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ColorStop"
            }
          }
        }
      },
      "LayoutSection" : {
        "required" : [ "cells", "cssClass", "cssId", "cssStyle", "label", "name", "params", "rowMetaData", "rows", "styles", "type", "w", "x" ],
        "type" : "object",
        "properties" : {
          "x" : {
            "type" : "integer",
            "format" : "int32"
          },
          "w" : {
            "type" : "integer",
            "format" : "int32"
          },
          "name" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "params" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "rows" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "additionalProperties" : {
                "$ref" : "#/components/schemas/LayoutSection"
              }
            }
          },
          "rowMetaData" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RowMetaData"
            }
          },
          "cells" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LayoutSection"
            }
          },
          "cssClass" : {
            "type" : "string"
          },
          "cssStyle" : {
            "type" : "string"
          },
          "cssId" : {
            "type" : "string"
          },
          "styles" : {
            "$ref" : "#/components/schemas/Styles"
          }
        }
      },
      "Paging" : {
        "required" : [ "next" ],
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "description" : "Contains information pagination of results."
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          }
        },
[...]
