{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Emails",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You want to programmatically create marketing emails, then retrieve their send statistics at a later time.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Emails Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/marketing/emails/marketing-emails"
    } ],
    "x-hubspot-introduction" : "Use the marketing email API to create, manage, and retrieve details about marketing emails. You can also this use API to retrieve statistics related to email sends, similar to what you can see in HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Emails"
  }, {
    "name" : "Marketing Emails"
  }, {
    "name" : "Statistics"
  } ],
  "paths" : {
    "/marketing/v3/emails/" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get all marketing emails",
        "description" : "The results can be filtered, allowing you to find a specific set of emails. See the table below for a full list of filtering options.",
        "operationId" : "get-/marketing/v3/emails/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived emails. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "campaign",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return emails created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return emails created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return emails created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "includedProperties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "includeStats",
          "in" : "query",
          "description" : "Include statistics with emails.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "isPublished",
          "in" : "query",
          "description" : "Filter by published/draft emails. All emails will be returned if not present.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "marketingCampaignNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "publishedAfter",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "publishedAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "publishedBefore",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Email types to be filtered by. Multiple types can be included. All emails will be returned if not present.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AB_EMAIL", "AUTOMATED_AB_EMAIL", "AUTOMATED_EMAIL", "BATCH_EMAIL", "BLOG_EMAIL", "BLOG_EMAIL_CHILD", "FEEDBACK_CES_EMAIL", "FEEDBACK_CUSTOM_EMAIL", "FEEDBACK_CUSTOM_SURVEY_EMAIL", "FEEDBACK_NPS_EMAIL", "FOLLOWUP_EMAIL", "LEADFLOW_EMAIL", "LOCALTIME_EMAIL", "MANAGE_PREFERENCES_EMAIL", "MARKETING_SINGLE_SEND_API", "MEMBERSHIP_EMAIL_VERIFICATION_EMAIL", "MEMBERSHIP_FOLLOW_UP_EMAIL", "MEMBERSHIP_OTP_LOGIN_EMAIL", "MEMBERSHIP_PASSWORD_RESET_EMAIL", "MEMBERSHIP_PASSWORD_SAVED_EMAIL", "MEMBERSHIP_PASSWORDLESS_AUTH_EMAIL", "MEMBERSHIP_REGISTRATION_EMAIL", "MEMBERSHIP_REGISTRATION_FOLLOW_UP_EMAIL", "MEMBERSHIP_VERIFICATION_EMAIL", "OPTIN_EMAIL", "OPTIN_FOLLOWUP_EMAIL", "RESUBSCRIBE_EMAIL", "RSS_EMAIL", "RSS_EMAIL_CHILD", "SINGLE_SEND_API", "SMTP_TOKEN", "TICKET_EMAIL" ]
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return emails last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return emails last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return emails last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "variantStats",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "workflowNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicEmailForwardPaging"
                },
                "example" : {
                  "paging" : {
                    "next" : {
                      "after" : "MjA%3D",
                      "link" : "https://api.hubapi.com/marketing/v3/emails/emails?after=MjA%3D"
                    },
                    "prev" : {
                      "before" : "MTA%3D",
                      "link" : "https://api.hubapi.com/marketing/v3/emails/emails?after=MTA%3D"
                    }
                  },
                  "results" : [ {
                    "activeDomain" : "",
                    "archived" : false,
                    "content" : {
                      "templatePath" : "generated_layouts/4701002617.html",
                      "widgets" : {
                        "Social_Sharing" : {
                          "body" : { },
                          "child_css" : { },
                          "css" : { },
                          "id" : "Social_Sharing",
                          "label" : "Social Sharing",
                          "name" : "Social_Sharing",
                          "type" : "social_sharing"
                        },
                        "column1" : {
                          "body" : {
                            "html" : ""
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "column1",
                          "label" : "Column Above Body",
                          "name" : "column1",
                          "type" : "rich_text"
                        },
                        "hs_email_body" : {
                          "body" : {
                            "html" : "<p>Hi {{contact.firstname}},</p>\n<p>This is an example of an email in HubSpot. You can add and format text, include your own images, and even personalize the message with details about the recipient, like their {{contact.company}} or {{contact.city}}.</p>\n<p>In HubSpot, the Email tool is closely linked with the <em>Lists</em> and <em>Workflows</em> tools. You can create a list of recipients on the \"Sending\" tab up above. If you want this email to be part of a nurturing series, you can make it part of a workflow.</p>\n<p>Need help? Check out the documentation on <a href=\"http://help.hubspot.com/articles/Tutorial/how-to-use-email-tool\">creating an email</a>, <a href=\"http://help.hubspot.com/articles/How_To_Doc/how-to-create-a-smart-list-in-hubspot\">creating a list</a>, or <a href=\"http://help.hubspot.com/articles/Tutorial/set-up-workflows\">creating a workflow</a>.</p>"
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "hs_email_body",
                          "label" : "Main Email Body",
                          "name" : "hs_email_body",
                          "type" : "rich_text"
                        },
                        "logo_image" : {
                          "body" : {
                            "alt" : "vast.png",
                            "height" : 135,
                            "link" : "",
                            "override_inherited_src" : false,
                            "src" : "",
                            "suppress_company_name" : false,
                            "width" : 413
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "logo_image",
                          "label" : "Logo",
                          "name" : "logo_image",
                          "type" : "logo"
                        },
                        "module_148465958537693" : {
                          "body" : {
                            "html" : "<h2>Something Powerful</h2>\n<h3>Tell The Reader More</h3>\n<p>The headline and subheader tells us what you're <a href=\"#\">offering</a>, and the form header closes the deal. Over here you can explain why your offer is so great it's worth filling out a form for.</p>\n<p>Remember:</p>\n<ul>\n<li>Bullets are great</li>\n<li>For spelling out <a href=\"#\">benefits</a> and</li>\n<li>Turning visitors into leads.</li>\n</ul>"
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "module_148465958537693",
                          "label" : "Rich Text",
                          "name" : "module_148465958537693",
                          "type" : "rich_text"
                        },
                        "preview_text" : {
                          "body" : {
                            "value" : ""
                          },
                          "child_css" : { },
                          "css" : { },
                          "id" : "preview_text",
                          "label" : "Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>",
                          "name" : "preview_text",
                          "type" : "text"
                        },
                        "social_sharing_label" : {
                          "body" : { },
                          "child_css" : { },
                          "css" : { },
                          "id" : "social_sharing_label",
                          "label" : "Social Sharing Label",
                          "name" : "social_sharing_label",
                          "type" : "text"
                        }
                      }
                    },
                    "createdAt" : "2017-02-16T13:05:18.390Z",
                    "createdById" : 2983922,
                    "from" : {
                      "fromName" : "Bruce Wayne",
                      "replyTo" : "test@yahoo.com"
                    },
                    "id" : "4613448134",
                    "isPublished" : true,
                    "isTransactional" : false,
                    "name" : "Fail dmarc",
                    "sendOnPublish" : true,
                    "state" : "PUBLISHED",
                    "stats" : {
                      "counters" : {
                        "bounce" : 1,
                        "click" : 0,
                        "contactslost" : 0,
                        "delivered" : 0,
                        "dropped" : 0,
                        "hardbounced" : 0,
                        "notsent" : 0,
                        "open" : 0,
                        "pending" : 0,
                        "reply" : 0,
                        "selected" : 1,
                        "sent" : 1,
                        "softbounced" : 1,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "unsubscribed" : 0
                      },
                      "deviceBreakdown" : {
                        "click_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        },
                        "open_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "bounceratio" : 100,
                        "clickratio" : 0,
                        "clickthroughratio" : 0,
                        "contactslostratio" : 0,
                        "deliveredratio" : 0,
                        "hardbounceratio" : 0,
                        "notsentratio" : 0,
                        "openratio" : 0,
                        "pendingratio" : 0,
                        "replyratio" : 0,
                        "softbounceratio" : 100,
                        "spamreportratio" : 0,
                        "unsubscribedratio" : 0
                      }
                    },
                    "subcategory" : "batch",
                    "subject" : "Subject",
                    "subscriptionDetails" : {
                      "officeLocationId" : "4701002382",
                      "subscriptionId" : 1264909
                    },
                    "to" : {
                      "contactIds" : {
                        "include" : [ 51 ]
                      },
                      "contactIlsLists" : { },
                      "suppressGraymail" : true
                    },
                    "type" : "BATCH_EMAIL",
                    "updatedAt" : "2017-02-16T13:08:24.853Z",
                    "updatedById" : 2983922
                  } ],
                  "total" : 1
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Emails" ],
        "summary" : "Create a new marketing email",
        "description" : "Use this endpoint to create a new marketing email.",
        "operationId" : "post-/marketing/v3/emails/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Emails" ],
        "summary" : "Create an A/B test variation of a marketing email",
        "description" : "Create a variation of a marketing email for an A/B test. The new variation will be created as a draft. If an active variation already exists, a new one won't be created.",
        "operationId" : "post-/marketing/v3/emails/ab-test/create-variation_createAbTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/clone" : {
      "post" : {
        "tags" : [ "Emails" ],
        "summary" : "Clone a marketing email",
        "description" : "This will create a duplicate email with the same properties as the original, with the exception of a unique ID.",
        "operationId" : "post-/marketing/v3/emails/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailCloneRequestVNext"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/statistics/histogram" : {
      "get" : {
        "tags" : [ "Statistics" ],
        "summary" : "Get aggregated statistic intervals",
        "description" : "Get aggregated statistics in intervals for a specified time span. Each interval contains aggregated statistics of the emails that were sent in that time.",
        "operationId" : "get-/marketing/v3/emails/statistics/histogram_getHistogram",
        "parameters" : [ {
          "name" : "emailIds",
          "in" : "query",
          "description" : "Filter by email IDs. Only include statistics of emails with these IDs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "interval",
          "in" : "query",
          "description" : "The interval to aggregate statistics for.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DAY", "HOUR", "MINUTE", "MONTH", "QUARTER", "QUARTER_HOUR", "SECOND", "WEEK", "YEAR" ]
          }
        }, {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalEmailStatisticIntervalNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "aggregateStatistic" : {
                      "counters" : {
                        "bounce" : 0,
                        "click" : 8,
                        "contactslost" : 0,
                        "delivered" : 704,
                        "dropped" : 1,
                        "hardbounced" : 0,
                        "notsent" : 1,
                        "open" : 443,
                        "pending" : 0,
                        "selected" : 705,
                        "sent" : 704,
                        "softbounced" : 0,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "unsubscribed" : 0
                      },
                      "deviceBreakdown" : {
                        "click_device_type" : {
                          "computer" : 6,
                          "mobile" : 2,
                          "unknown" : 0
                        },
                        "open_device_type" : {
                          "computer" : 44,
                          "mobile" : 8,
                          "unknown" : 391
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "bounceratio" : 0,
                        "clickratio" : 1.136,
                        "clickthroughratio" : 1.806,
                        "contactslostratio" : 0,
                        "deliveredratio" : 100,
                        "hardbounceratio" : 0,
                        "notsentratio" : 0.142,
                        "openratio" : 62.926,
                        "pendingratio" : 0,
                        "softbounceratio" : 0,
                        "spamreportratio" : 0,
                        "unsubscribedratio" : 0
                      }
                    },
                    "interval" : {
                      "end" : "2020-06-01T04:00:00Z",
                      "start" : "2020-05-01T04:00:00Z"
                    }
                  }, {
                    "aggregations" : {
                      "counters" : {
                        "bounce" : 1,
                        "click" : 0,
                        "contactslost" : 1,
                        "delivered" : 4,
                        "dropped" : 1,
                        "hardbounced" : 1,
                        "notsent" : 1,
                        "open" : 4,
                        "pending" : 0,
                        "selected" : 6,
                        "sent" : 5,
                        "softbounced" : 0,
                        "spamreport" : 0,
                        "suppressed" : 0,
                        "unsubscribed" : 0
                      },
                      "deviceBreakdown" : {
                        "click_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 0
                        },
                        "open_device_type" : {
                          "computer" : 0,
                          "mobile" : 0,
                          "unknown" : 4
                        }
                      },
                      "qualifierStats" : { },
                      "ratios" : {
                        "bounceratio" : 20,
                        "clickratio" : 0,
                        "clickthroughratio" : 0,
                        "contactslostratio" : 20,
                        "deliveredratio" : 80,
                        "hardbounceratio" : 20,
                        "notsentratio" : 16.667,
                        "openratio" : 100,
                        "pendingratio" : 0,
                        "softbounceratio" : 0,
                        "spamreportratio" : 0,
                        "unsubscribedratio" : 0
                      }
                    },
                    "interval" : {
                      "end" : "2020-07-01T04:00:00Z",
                      "start" : "2020-06-01T04:00:00Z"
                    }
                  }, {
                    "aggregations" : {
                      "counters" : { },
                      "deviceBreakdown" : { },
                      "qualifierStats" : { },
                      "ratios" : { }
                    },
                    "interval" : {
                      "end" : "2020-07-02T00:00:00Z",
                      "start" : "2020-07-01T04:00:00Z"
                    }
                  } ],
                  "total" : 3
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/statistics/list" : {
      "get" : {
        "tags" : [ "Statistics" ],
        "summary" : "Get aggregated statistics",
        "description" : "Use this endpoint to get aggregated statistics of emails sent in a specified time span. It also returns the list of emails that were sent during the time span.",
        "operationId" : "get-/marketing/v3/emails/statistics/list_getEmailsList",
        "parameters" : [ {
          "name" : "emailIds",
          "in" : "query",
          "description" : "Filter by email IDs. Only include statistics of emails with these IDs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "Specifies which email properties should be returned. All properties will be returned by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the time span, in ISO8601 representation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AggregateEmailStatistics"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}" : {
      "get" : {
        "tags" : [ "Emails" ],
        "summary" : "Get the details of a specified marketing email",
        "description" : "Get the details for a marketing email.",
        "operationId" : "get-/marketing/v3/emails/{emailId}_getById",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "includedProperties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "includeStats",
          "in" : "query",
          "description" : "Include statistics with email",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "marketingCampaignNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "variantStats",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "workflowNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Emails" ],
        "summary" : "Delete a marketing email",
        "description" : "Delete a marketing email by its ID",
        "operationId" : "delete-/marketing/v3/emails/{emailId}_archive",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of the marketing email to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Emails" ],
        "summary" : "Update a marketing email",
        "description" : "Change properties of a marketing email.",
        "operationId" : "patch-/marketing/v3/emails/{emailId}_update",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of the marketing email that should get updated",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "A marketing email object with properties that should overwrite the corresponding properties of the marketing email.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/ab-test/get-variation" : {
      "get" : {
        "tags" : [ "Emails" ],
        "summary" : "Get the variation of a an A/B marketing email",
        "description" : "This endpoint lets you obtain the variation of an A/B marketing email. If the email is variation A (master) it will return variation B (variant) and vice versa.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/ab-test/get-variation_getAbTestVariation",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The ID of an A/B marketing email.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "includedProperties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "includeStats",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "marketingCampaignNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "variantStats",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "workflowNames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/draft" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get draft version of a marketing email",
        "description" : "Get the draft version of an email (if it exists). If no draft version exists, the published email is returned.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/draft_getDraft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Create or update draft version",
        "description" : "Create or update the draft version of a marketing email. If no draft exists, the system creates a draft from the current “live” email then applies the request body to that draft. The draft version only lives on the buffer—the email is not cloned.",
        "operationId" : "patch-/marketing/v3/emails/{emailId}/draft_upsertDraft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "A marketing email object with properties that should overwrite the corresponding properties in the email's current draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/draft/reset" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Reset the draft version",
        "description" : "Resets the draft back to a copy of the live object.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/draft/reset_resetDraft",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/publish" : {
      "post" : {
        "tags" : [ "Emails" ],
        "summary" : "Publish or send a marketing email",
        "description" : "If you have a Marketing Hub Enterprise account or the transactional email add-on, you can use this endpoint to publish an automated email or send/schedule a regular email.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/publish_publishOrSend",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing-email" ]
        }, {
          "oauth2" : [ "transactional-email" ]
        }, {
          "private_apps" : [ "marketing-email" ]
        }, {
          "private_apps" : [ "transactional-email" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get revisions of a marketing email",
        "description" : "Get a list of all versions of a marketing email, with each entry including the full state of that particular version. To view the most recent version, sort by the updatedAt parameter. ",
        "operationId" : "get-/marketing/v3/emails/{emailId}/revisions_getRevisions",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "The cursor token value to get the previous set of results. You can get this from the `paging.prev.before` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Get a revision of a marketing email",
        "description" : "Get a specific revision of a marketing email.",
        "operationId" : "get-/marketing/v3/emails/{emailId}/revisions/{revisionId}_getRevisionById",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Restore a revision of a marketing email",
        "description" : "Restores a previous revision of a marketing email. The current revision becomes old, and the restored revision is given a new version number.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore_restoreRevision",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Marketing Emails" ],
        "summary" : "Restore a revision of a marketing email to DRAFT state",
        "description" : "Restores a previous revision of a marketing email to DRAFT state. If there is currently something in the draft for that object, it is overwritten. ",
        "operationId" : "post-/marketing/v3/emails/{emailId}/revisions/{revisionId}/restore-to-draft_restoreDraftRevision",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "The marketing email ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The ID of a revision.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicEmail"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/marketing/v3/emails/{emailId}/unpublish" : {
      "post" : {
        "tags" : [ "Emails" ],
        "summary" : "Unpublish or cancel a marketing email",
        "description" : "If you have a Marketing Hub Enterprise account or the transactional email add-on, you can use this endpoint to unpublish an automated email or cancel a regular email. If the email is already in the process of being sent, canceling might not be possible.",
        "operationId" : "post-/marketing/v3/emails/{emailId}/unpublish_unpublishOrCancel",
        "parameters" : [ {
          "name" : "emailId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing-email" ]
        }, {
          "oauth2" : [ "transactional-email" ]
        }, {
          "private_apps" : [ "marketing-email" ]
        }, {
          "private_apps" : [ "transactional-email" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicEmailToDetails" : {
        "type" : "object",
        "properties" : {
          "contactIds" : {
            "$ref" : "#/components/schemas/PublicEmailRecipients"
          },
          "contactIlsLists" : {
            "$ref" : "#/components/schemas/PublicEmailRecipients"
          },
          "contactLists" : {
            "$ref" : "#/components/schemas/PublicEmailRecipients"
          },
          "limitSendFrequency" : {
            "type" : "boolean",
            "example" : null
          },
          "suppressGraymail" : {
            "type" : "boolean",
            "description" : "Whether to send to unengaged contacts (false) or not (true).",
            "example" : null
          }
        },
        "description" : "Data structure representing the to fields of the email.",
        "example" : null
      },
      "PublicDividerStyleSettings" : {
        "type" : "object",
        "properties" : {
          "color" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "height" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "lineType" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalVersionPublicEmail" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "Collection of emails.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/VersionPublicEmail"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "Total number of content emails.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Response object for collections of marketing emails with pagination information.",
        "example" : null
      },
      "PublicEmail" : {
        "required" : [ "isAb" ],
        "type" : "object",
        "properties" : {
          "activeDomain" : {
            "type" : "string",
            "description" : "The active domain of the email.",
            "example" : null
          },
          "allEmailCampaignIds" : {
            "type" : "array",
            "description" : "List of emailCampaignIds.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Determines if the email is archived or not.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "string",
            "example" : null
          },
          "campaign" : {
            "type" : "string",
            "description" : "The ID of the campaign this email is associated to.",
            "example" : null
          },
          "campaignName" : {
            "type" : "string",
            "description" : "The name of the campaign.",
            "example" : null
          },
          "campaignUtm" : {
            "type" : "string",
            "example" : null
          },
          "clonedFrom" : {
            "type" : "string",
            "description" : "The ID of the email this email was cloned from.",
            "example" : null
          },
          "content" : {
            "$ref" : "#/components/schemas/PublicEmailContent"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time of the email's creation, in ISO8601 representation.",
            "format" : "date-time",
            "example" : null
          },
          "createdById" : {
            "type" : "string",
            "description" : "The id of the user who created the email.",
            "example" : null
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "The date and time the email was deleted at, in ISO8601 representation.",
            "format" : "date-time",
            "example" : null
          },
          "emailCampaignGroupId" : {
            "type" : "string",
            "example" : null
          },
          "emailTemplateMode" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DESIGN_MANAGER", "DRAG_AND_DROP" ]
          },
          "feedbackSurveyId" : {
            "type" : "string",
            "description" : "The ID of the feedback survey linked to the email.",
            "example" : null
          },
          "folderId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "folderIdV2" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "from" : {
            "$ref" : "#/components/schemas/PublicEmailFromDetails"
          },
          "id" : {
            "type" : "string",
            "description" : "The email ID.",
            "example" : null
          },
          "isAb" : {
            "type" : "boolean",
            "example" : null
          },
          "isPublished" : {
            "type" : "boolean",
            "description" : "Returns the published status of the email. This is read only.",
            "example" : null
          },
          "isTransactional" : {
            "type" : "boolean",
            "description" : "Returns whether the email is a transactional email or not. This is read only.",
            "example" : null
          },
          "jitterSendTime" : {
            "type" : "boolean",
            "example" : null
          },
          "language" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "aa", "ab", "ae", "af", "af-na", "af-za", "agq", "agq-cm", "ak", "ak-gh", "am", "am-et", "an", "ann", "ann-ng", "ar", "ar-001", "ar-ae", "ar-bh", "ar-dj", "ar-dz", "ar-eg", "ar-eh", "ar-er", "ar-il", "ar-iq", "ar-jo", "ar-km", "ar-kw", "ar-lb", "ar-ly", "ar-ma", "ar-mr", "ar-om", "ar-ps", "ar-qa", "ar-sa", "ar-sd", "ar-so", "ar-ss", "ar-sy", "ar-td", "ar-tn", "ar-ye", "as", "as-in", "asa", "asa-tz", "ast", "ast-es", "av", "ay", "az", "az-az", "ba", "bas", "bas-cm", "be", "be-by", "bem", "bem-zm", "bez", "bez-tz", "bg", "bg-bg", "bgc", "bgc-in", "bho", "bho-in", "bi", "bm", "bm-ml", "bn", "bn-bd", "bn-in", "bo", "bo-cn", "bo-in", "br", "br-fr", "brx", "brx-in", "bs", "bs-ba", "ca", "ca-ad", "ca-es", "ca-fr", "ca-it", "ccp", "ccp-bd", "ccp-in", "ce", "ce-ru", "ceb", "ceb-ph", "cgg", "cgg-ug", "ch", "chr", "chr-us", "ckb", "ckb-iq", "ckb-ir", "co", "cr", "cs", "cs-cz", "cu", "cu-ru", "cv", "cv-ru", "cy", "cy-gb", "da", "da-dk", "da-gl", "dav", "dav-ke", "de", "de-at", "de-be", "de-ch", "de-de", "de-gr", "de-it", "de-li", "de-lu", "dje", "dje-ne", "doi", "doi-in", "dsb", "dsb-de", "dua", "dua-cm", "dv", "dyo", "dyo-sn", "dz", "dz-bt", "ebu", "ebu-ke", "ee", "ee-gh", "ee-tg", "el", "el-cy", "el-gr", "en", "en-001", "en-150", "en-ae", "en-ag", "en-ai", "en-as", "en-at", "en-au", "en-bb", "en-be", "en-bi", "en-bm", "en-bs", "en-bw", "en-bz", "en-ca", "en-cc", "en-ch", "en-ck", "en-cm", "en-cn", "en-cx", "en-cy", "en-de", "en-dg", "en-dk", "en-dm", "en-ee", "en-eg", "en-er", "en-es", "en-fi", "en-fj", "en-fk", "en-fm", "en-fr", "en-gb", "en-gd", "en-gg", "en-gh", "en-gi", "en-gm", "en-gu", "en-gy", "en-hk", "en-ie", "en-il", "en-im", "en-in", "en-io", "en-je", "en-jm", "en-ke", "en-ki", "en-kn", "en-ky", "en-lc", "en-lr", "en-ls", "en-lu", "en-mg", "en-mh", "en-mo", "en-mp", "en-ms", "en-mt", "en-mu", "en-mv", "en-mw", "en-mx", "en-my", "en-na", "en-nf", "en-ng", "en-nl", "en-nr", "en-nu", "en-nz", "en-pg", "en-ph", "en-pk", "en-pn", "en-pr", "en-pt", "en-pw", "en-rw", "en-sb", "en-sc", "en-sd", "en-se", "en-sg", "en-sh", "en-si", "en-sl", "en-ss", "en-sx", "en-sz", "en-tc", "en-tk", "en-tn", "en-to", "en-tt", "en-tv", "en-tz", "en-ug", "en-um", "en-us", "en-vc", "en-vg", "en-vi", "en-vu", "en-ws", "en-za", "en-zm", "en-zw", "eo", "eo-001", "es", "es-419", "es-ar", "es-bo", "es-br", "es-bz", "es-cl", "es-co", "es-cr", "es-cu", "es-do", "es-ea", "es-ec", "es-es", "es-gq", "es-gt", "es-hn", "es-ic", "es-mx", "es-ni", "es-pa", "es-pe", "es-ph", "es-pr", "es-py", "es-sv", "es-us", "es-uy", "es-ve", "et", "et-ee", "eu", "eu-es", "ewo", "ewo-cm", "fa", "fa-af", "fa-ir", "ff", "ff-bf", "ff-cm", "ff-gh", "ff-gm", "ff-gn", "ff-gw", "ff-lr", "ff-mr", "ff-ne", "ff-ng", "ff-sl", "ff-sn", "fi", "fi-fi", "fil", "fil-ph", "fj", "fo", "fo-dk", "fo-fo", "fr", "fr-be", "fr-bf", "fr-bi", "fr-bj", "fr-bl", "fr-ca", "fr-cd", "fr-cf", "fr-cg", "fr-ch", "fr-ci", "fr-cm", "fr-dj", "fr-dz", "fr-fr", "fr-ga", "fr-gf", "fr-gn", "fr-gp", "fr-gq", "fr-ht", "fr-km", "fr-lu", "fr-ma", "fr-mc", "fr-mf", "fr-mg", "fr-ml", "fr-mq", "fr-mr", "fr-mu", "fr-nc", "fr-ne", "fr-pf", "fr-pm", "fr-re", "fr-rw", "fr-sc", "fr-sn", "fr-sy", "fr-td", "fr-tg", "fr-tn", "fr-vu", "fr-wf", "fr-yt", "frr", "frr-de", "fur", "fur-it", "fy", "fy-nl", "ga", "ga-gb", "ga-ie", "gd", "gd-gb", "gl", "gl-es", "gn", "gsw", "gsw-ch", "gsw-fr", "gsw-li", "gu", "gu-in", "guz", "guz-ke", "gv", "gv-im", "ha", "ha-gh", "ha-ne", "ha-ng", "haw", "haw-us", "he", "he-il", "hi", "hi-in", "hmn", "ho", "hr", "hr-ba", "hr-hr", "hsb", "hsb-de", "ht", "hu", "hu-hu", "hy", "hy-am", "hz", "ia", "ia-001", "id", "id-id", "ie", "ig", "ig-ng", "ii", "ii-cn", "ik", "io", "is", "is-is", "it", "it-ch", "it-it", "it-sm", "it-va", "iu", "ja", "ja-jp", "jgo", "jgo-cm", "jmc", "jmc-tz", "jv", "jv-id", "ka", "ka-ge", "kab", "kab-dz", "kam", "kam-ke", "kar", "kde", "kde-tz", "kea", "kea-cv", "kg", "kgp", "kgp-br", "kh", "khq", "khq-ml", "ki", "ki-ke", "kj", "kk", "kk-kz", "kkj", "kkj-cm", "kl", "kl-gl", "kln", "kln-ke", "km", "km-kh", "kn", "kn-in", "ko", "ko-kp", "ko-kr", "kok", "kok-in", "kr", "ks", "ks-in", "ksb", "ksb-tz", "ksf", "ksf-cm", "ksh", "ksh-de", "ku", "ku-tr", "kv", "kw", "kw-gb", "ky", "ky-kg", "la", "lag", "lag-tz", "lb", "lb-lu", "lg", "lg-ug", "li", "lkt", "lkt-us", "ln", "ln-ao", "ln-cd", "ln-cf", "ln-cg", "lo", "lo-la", "lrc", "lrc-iq", "lrc-ir", "lt", "lt-lt", "lu", "lu-cd", "luo", "luo-ke", "luy", "luy-ke", "lv", "lv-lv", "mai", "mai-in", "mas", "mas-ke", "mas-tz", "mdf", "mdf-ru", "mer", "mer-ke", "mfe", "mfe-mu", "mg", "mg-mg", "mgh", "mgh-mz", "mgo", "mgo-cm", "mh", "mi", "mi-nz", "mk", "mk-mk", "ml", "ml-in", "mn", "mn-mn", "mni", "mni-in", "mr", "mr-in", "ms", "ms-bn", "ms-id", "ms-my", "ms-sg", "mt", "mt-mt", "mua", "mua-cm", "my", "my-mm", "mzn", "mzn-ir", "na", "naq", "naq-na", "nb", "nb-no", "nb-sj", "nd", "nd-zw", "nds", "nds-de", "nds-nl", "ne", "ne-in", "ne-np", "ng", "nl", "nl-aw", "nl-be", "nl-bq", "nl-ch", "nl-cw", "nl-lu", "nl-nl", "nl-sr", "nl-sx", "nmg", "nmg-cm", "nn", "nn-no", "nnh", "nnh-cm", "no", "no-no", "nr", "nus", "nus-ss", "nv", "ny", "nyn", "nyn-ug", "oc", "oc-es", "oc-fr", "oj", "om", "om-et", "om-ke", "or", "or-in", "os", "os-ge", "os-ru", "pa", "pa-in", "pa-pk", "pcm", "pcm-ng", "pi", "pis", "pis-sb", "pl", "pl-pl", "prg", "prg-001", "ps", "ps-af", "ps-pk", "pt", "pt-ao", "pt-br", "pt-ch", "pt-cv", "pt-gq", "pt-gw", "pt-lu", "pt-mo", "pt-mz", "pt-pt", "pt-st", "pt-tl", "qu", "qu-bo", "qu-ec", "qu-pe", "raj", "raj-in", "rm", "rm-ch", "rn", "rn-bi", "ro", "ro-md", "ro-ro", "rof", "rof-tz", "ru", "ru-by", "ru-kg", "ru-kz", "ru-md", "ru-ru", "ru-ua", "rw", "rw-rw", "rwk", "rwk-tz", "sa", "sa-in", "sah", "sah-ru", "saq", "saq-ke", "sat", "sat-in", "sbp", "sbp-tz", "sc", "sc-it", "sd", "sd-in", "sd-pk", "se", "se-fi", "se-no", "se-se", "seh", "seh-mz", "ses", "ses-ml", "sg", "sg-cf", "shi", "shi-ma", "si", "si-lk", "sk", "sk-sk", "sl", "sl-si", "sm", "smn", "smn-fi", "sms", "sms-fi", "sn", "sn-zw", "so", "so-dj", "so-et", "so-ke", "so-so", "sq", "sq-al", "sq-mk", "sq-xk", "sr", "sr-ba", "sr-cs", "sr-me", "sr-rs", "sr-xk", "ss", "st", "su", "su-id", "sv", "sv-ax", "sv-fi", "sv-se", "sw", "sw-cd", "sw-ke", "sw-tz", "sw-ug", "sy", "ta", "ta-in", "ta-lk", "ta-my", "ta-sg", "te", "te-in", "teo", "teo-ke", "teo-ug", "tg", "tg-tj", "th", "th-th", "ti", "ti-er", "ti-et", "tk", "tk-tm", "tl", "tn", "to", "to-to", "tok", "tok-001", "tr", "tr-cy", "tr-tr", "ts", "tt", "tt-ru", "tw", "twq", "twq-ne", "ty", "tzm", "tzm-ma", "ug", "ug-cn", "uk", "uk-ua", "ur", "ur-in", "ur-pk", "uz", "uz-af", "uz-uz", "vai", "vai-lr", "ve", "vi", "vi-vn", "vo", "vo-001", "vun", "vun-tz", "wa", "wae", "wae-ch", "wo", "wo-sn", "xh", "xh-za", "xog", "xog-ug", "yav", "yav-cm", "yi", "yi-001", "yo", "yo-bj", "yo-ng", "yrl", "yrl-br", "yrl-co", "yrl-ve", "yue", "yue-cn", "yue-hk", "za", "zgh", "zgh-ma", "zh", "zh-cn", "zh-hans", "zh-hant", "zh-hk", "zh-mo", "zh-sg", "zh-tw", "zu", "zu-za" ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the email, as displayed on the email dashboard.",
            "example" : null
          },
          "previewKey" : {
            "type" : "string",
            "example" : null
          },
          "primaryEmailCampaignId" : {
            "type" : "string",
            "example" : null
          },
          "publishDate" : {
            "type" : "string",
            "description" : "The date and time the email is scheduled for, in ISO8601 representation. This is only used in local time or scheduled emails.",
            "format" : "date-time",
            "example" : null
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "The date and time the email was published at, in ISO8601 representation.",
            "format" : "date-time",
            "example" : null
          },
          "publishedByEmail" : {
            "type" : "string",
            "description" : "Email of the user who published/sent the email.",
            "example" : null
          },
          "publishedById" : {
            "type" : "string",
            "description" : "The ID of the user who published the email.",
            "example" : null
          },
          "publishedByName" : {
            "type" : "string",
            "description" : "Name of the user who published the email.",
            "example" : null
          },
          "rssData" : {
            "$ref" : "#/components/schemas/PublicRssEmailDetails"
          },
          "sendOnPublish" : {
            "type" : "boolean",
            "description" : "Determines whether the email will be sent immediately on publish.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The email state.",
            "example" : null,
            "enum" : [ "AGENT_GENERATED", "AUTOMATED", "AUTOMATED_AB", "AUTOMATED_AB_VARIANT", "AUTOMATED_DRAFT", "AUTOMATED_DRAFT_AB", "AUTOMATED_DRAFT_ABVARIANT", "AUTOMATED_FOR_FORM", "AUTOMATED_FOR_FORM_BUFFER", "AUTOMATED_FOR_FORM_DRAFT", "AUTOMATED_FOR_FORM_LEGACY", "AUTOMATED_LOSER_ABVARIANT", "AUTOMATED_SENDING", "BLOG_EMAIL_DRAFT", "BLOG_EMAIL_PUBLISHED", "DRAFT", "DRAFT_AB", "DRAFT_AB_VARIANT", "ERROR", "LOSER_AB_VARIANT", "PAGE_STUB", "PRE_PROCESSING", "PROCESSING", "PUBLISHED", "PUBLISHED_AB", "PUBLISHED_AB_VARIANT", "PUBLISHED_OR_SCHEDULED", "RSS_TO_EMAIL_DRAFT", "RSS_TO_EMAIL_PUBLISHED", "SCHEDULED", "SCHEDULED_AB", "SCHEDULED_OR_PUBLISHED" ]
          },
          "stats" : {
            "$ref" : "#/components/schemas/EmailStatisticsData"
          },
          "subcategory" : {
            "type" : "string",
            "description" : "The email subcategory.",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject of the email.",
            "example" : null
          },
          "subscriptionDetails" : {
            "$ref" : "#/components/schemas/PublicEmailSubscriptionDetails"
          },
          "teamsWithAccess" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "testing" : {
            "$ref" : "#/components/schemas/PublicEmailTestingDetails"
          },
          "to" : {
            "$ref" : "#/components/schemas/PublicEmailToDetails"
          },
          "type" : {
            "type" : "string",
            "description" : "The email type, this is derived from other properties on the email such as subcategory.",
            "example" : null,
            "enum" : [ "AB_EMAIL", "AUTOMATED_AB_EMAIL", "AUTOMATED_EMAIL", "BATCH_EMAIL", "BLOG_EMAIL", "BLOG_EMAIL_CHILD", "FEEDBACK_CES_EMAIL", "FEEDBACK_CUSTOM_EMAIL", "FEEDBACK_CUSTOM_SURVEY_EMAIL", "FEEDBACK_NPS_EMAIL", "FOLLOWUP_EMAIL", "LEADFLOW_EMAIL", "LOCALTIME_EMAIL", "MANAGE_PREFERENCES_EMAIL", "MARKETING_SINGLE_SEND_API", "MEMBERSHIP_EMAIL_VERIFICATION_EMAIL", "MEMBERSHIP_FOLLOW_UP_EMAIL", "MEMBERSHIP_OTP_LOGIN_EMAIL", "MEMBERSHIP_PASSWORD_RESET_EMAIL", "MEMBERSHIP_PASSWORD_SAVED_EMAIL", "MEMBERSHIP_PASSWORDLESS_AUTH_EMAIL", "MEMBERSHIP_REGISTRATION_EMAIL", "MEMBERSHIP_REGISTRATION_FOLLOW_UP_EMAIL", "MEMBERSHIP_VERIFICATION_EMAIL", "OPTIN_EMAIL", "OPTIN_FOLLOWUP_EMAIL", "RESUBSCRIBE_EMAIL", "RSS_EMAIL", "RSS_EMAIL_CHILD", "SINGLE_SEND_API", "SMTP_TOKEN", "TICKET_EMAIL" ]
          },
          "unpublishedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time of the last update to the email, in ISO8601 representation.",
            "format" : "date-time",
            "example" : null
          },
          "updatedById" : {
            "type" : "string",
            "description" : "The id of the user who last updated the email.",
            "example" : null
          },
          "usersWithAccess" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "webversion" : {
            "$ref" : "#/components/schemas/PublicWebversionDetails"
          },
          "workflowNames" : {
            "type" : "array",
            "description" : "Names of workflows in which the email is used within a \"send email\" action.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "description" : "A marketing email",
        "example" : {
          "activeDomain" : "test.hs-sites.com",
          "archived" : false,
          "campaign" : "1b7f51a6-33c1-44d6-ba28-fe81f655dced",
          "content" : {
            "flexAreas" : {
              "main" : {
                "boxed" : false,
                "isSingleColumnFullWidth" : false,
                "sections" : [ {
                  "columns" : [ {
                    "id" : "column_1606761806181_0",
                    "widgets" : [ "module_160676180617911" ],
                    "width" : 12
                  } ],
                  "id" : "section_1606761806181",
                  "style" : {
                    "backgroundColor" : "",
                    "backgroundType" : "CONTENT"
                  }
                }, {
                  "columns" : [ {
                    "id" : "column-0-1",
                    "widgets" : [ "module-0-1-1" ],
                    "width" : 12
                  } ],
                  "id" : "section-0",
                  "style" : {
                    "backgroundType" : "CONTENT",
                    "paddingBottom" : "40px",
                    "paddingTop" : "40px"
                  }
                }, {
                  "columns" : [ {
                    "id" : "column-1-1",
                    "widgets" : [ "module-1-1-1" ],
                    "width" : 12
                  } ],
                  "id" : "section-1",
                  "style" : {
                    "backgroundColor" : "",
                    "backgroundType" : "CONTENT",
                    "paddingBottom" : "0px",
                    "paddingTop" : "0px"
                  }
                } ]
              }
            },
            "plainTextVersion" : "This is custom! View in browser ({{view_as_page_url}})\n\nHello {{ contact.firstname }},\n\nPlain text emails have minimal formatting so your reader can really focus on what you have to say. Introduce yourself and explain why you’re reaching out.\n\nEvery email should try to lead the reader to some kind of action. Use this space to describe why the reader should want to click on the link below. Put the link on its own line to really draw their eye to it.\n\nLink text\n\nNow it’s time to wrap up your email. Before your signature, thank the recipient for reading. You can also invite them to send this email to any of their colleagues who might be interested.\n\nAll the best,\n\nYour full name\n\nYour job title\n\nOther contact information\n\n{{site_settings.company_name}}, {{site_settings.company_street_address_1}}, {{site_settings.company_street_address_2}}, {{site_settings.company_city}}, {{site_settings.company_state}} {{site_settings.company_zip}}, {{site_settings.company_country}}, {{site_settings.company_phone}}\n\nUnsubscribe ({{unsubscribe_link_all}})\n\nManage preferences ({{unsubscribe_link}})",
            "styleSettings" : { },
            "templatePath" : "@hubspot/email/dnd/plain_text.html",
            "widgets" : {
              "module-0-1-1" : {
                "body" : {
                  "css_class" : "dnd-module",
                  "html" : "<p style=\"margin-bottom:10px;\">Hello {{ contact.firstname }},<br><br>Plain text emails have minimal formatting so your reader can really focus on what you have to say. Introduce yourself and explain why you’re reaching out.</p><p style=\"margin-bottom:10px;\">Every email should try to lead the reader to some kind of action. Use this space to describe why the reader should want to click on the link below. Put the link on its own line to really draw their eye to it.</p><p style=\"margin-bottom:10px;\"><a target=\"_blank\" rel=\"noopener\">Link text</a></p><p style=\"margin-bottom:10px;\">Now it’s time to wrap up your email. Before your signature, thank the recipient for reading. You can also invite them to send this email to any of their colleagues who might be interested.</p><p style=\"margin-bottom:10px;\">All the best,<br>Your full name<br>Your job title<br>Other contact information</p>",
                  "i18nKey" : "richText.plainText",
                  "path" : "@hubspot/rich_text",
                  "schema_version" : 2
                },
                "child_css" : { },
                "css" : { },
                "id" : "module-0-1-1",
                "module_id" : 1155639,
                "name" : "module-0-1-1",
                "order" : 2,
                "styles" : { },
                "type" : "module"
              },
              "module-1-1-1" : {
                "body" : {
                  "align" : "center",
                  "css_class" : "dnd-module",
                  "font" : {
                    "color" : "#23496d",
                    "font" : "Arial, sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    }
                  },
                  "link_font" : {
                    "color" : "#00a4bd",
                    "font" : "Helvetica,Arial,sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    },
                    "styles" : {
                      "bold" : false,
                      "italic" : false,
                      "underline" : true
                    }
                  },
                  "path" : "@hubspot/email_footer",
                  "schema_version" : 2,
                  "unsubscribe_link_type" : "both"
                },
                "child_css" : { },
                "css" : { },
                "id" : "module-1-1-1",
                "module_id" : 2869621,
                "name" : "module-1-1-1",
                "order" : 3,
                "styles" : { },
                "type" : "module"
              },
              "module_160676180617911" : {
                "body" : {
                  "font" : {
                    "color" : "#00a4bd",
                    "font" : "Arial, sans-serif",
                    "size" : {
                      "units" : "px",
                      "value" : 12
                    },
                    "styles" : {
                      "bold" : false,
                      "italic" : false,
                      "underline" : true
                    }
                  },
                  "hs_enable_module_padding" : false,
                  "hs_wrapper_css" : { }
                },
                "child_css" : { },
                "css" : { },
                "id" : "module_160676180617911",
                "module_id" : 2794854,
                "name" : "module_160676180617911",
                "styles" : { },
                "type" : "module"
              },
              "preview_text" : {
                "body" : {
                  "value" : ""
                },
                "child_css" : { },
                "css" : { },
                "id" : "preview_text",
                "label" : "Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>",
                "name" : "preview_text",
                "order" : 0,
                "styles" : { },
                "type" : "text"
              }
            }
          },
          "createdAt" : "2020-11-30T18:43:17.136Z",
          "createdById" : 3739732,
          "from" : {
            "fromName" : "Bruce Wayne",
            "replyTo" : "test@hubspot.com"
          },
          "id" : "38175169118",
          "isPublished" : false,
          "isTransactional" : false,
          "language" : "en",
          "name" : "My subject",
          "publishDate" : "2020-11-30T18:44:20.387Z",
          "sendOnPublish" : true,
          "state" : "DRAFT",
          "subcategory" : "batch",
          "subject" : "My subject",
          "subscriptionDetails" : {
            "officeLocationId" : "5449392956"
          },
          "to" : {
            "contactIds" : { },
            "contactIlsLists" : {
              "exclude" : [ 1 ],
              "include" : [ 5 ]
            },
            "suppressGraymail" : true
          },
          "type" : "BATCH_EMAIL",
          "updatedAt" : "2020-11-30T18:44:20.384Z",
          "updatedById" : 3739732,
          "webversion" : {
            "expiresAt" : "2020-11-30T18:44:20.387Z",
            "metaDescription" : "",
            "redirectToPageId" : 0,
            "redirectToUrl" : "http://www.example.org"
          }
        }
      },
      "AbTestCreateRequestVNext" : {
        "required" : [ "contentId", "variationName" ],
        "type" : "object",
        "properties" : {
          "contentId" : {
            "type" : "string",
            "description" : "ID of the object to test.",
            "example" : null
          },
          "variationName" : {
            "type" : "string",
            "description" : "Name of the variation to be created.",
            "example" : null
          }
        },
        "description" : "Request body object for creating A/B tests.",
        "example" : {
          "contentId" : "7",
          "variantName" : "AB Test - Number 7"
        }
      },
      "EmailStatisticInterval" : {
        "required" : [ "aggregations", "interval" ],
        "type" : "object",
        "properties" : {
          "aggregations" : {
            "$ref" : "#/components/schemas/EmailStatisticsData"
          },
          "interval" : {
            "$ref" : "#/components/schemas/Interval"
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicEmailForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "Collection of emails.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicEmail"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "Total number of content emails.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Response object for collections of marketing emails with pagination information.",
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "PublicButtonStyleSettings" : {
        "type" : "object",
        "properties" : {
          "backgroundColor" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "cornerRadius" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "fontStyle" : {
            "$ref" : "#/components/schemas/PublicFontStyle"
          }
        },
        "example" : null
      },
      "EmailUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "activeDomain" : {
            "type" : "string",
            "description" : "The active domain of the email.",
            "example" : null
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Determines if the email is archived or not.",
            "example" : null
          },
          "businessUnitId" : {
            "type" : "integer",
            "description" : "The ID of the business unit associated with the email.",
            "format" : "int64",
            "example" : null
          },
          "campaign" : {
            "type" : "string",
            "description" : "The ID of the campaign this email is associated to.",
            "example" : null
          },
          "content" : {
            "$ref" : "#/components/schemas/PublicEmailContent"
          },
          "folderIdV2" : {
            "type" : "integer",
            "description" : "The ID of the folder where the email will be stored.",
            "format" : "int64",
            "example" : null
          },
          "from" : {
            "$ref" : "#/components/schemas/PublicEmailFromDetails"
          },
          "jitterSendTime" : {
            "type" : "boolean",
            "description" : "Determines whether the email send time should be randomized to avoid sending all emails at the exact same time.",
            "example" : null
          },
          "language" : {
            "type" : "string",
            "description" : "The language code for the email, such as 'en' for English.",
            "example" : null,
            "enum" : [ "aa", "ab", "ae", "af", "af-na", "af-za", "agq", "agq-cm", "ak", "ak-gh", "am", "am-et", "an", "ann", "ann-ng", "ar", "ar-001", "ar-ae", "ar-bh", "ar-dj", "ar-dz", "ar-eg", "ar-eh", "ar-er", "ar-il", "ar-iq", "ar-jo", "ar-km", "ar-kw", "ar-lb", "ar-ly", "ar-ma", "ar-mr", "ar-om", "ar-ps", "ar-qa", "ar-sa", "ar-sd", "ar-so", "ar-ss", "ar-sy", "ar-td", "ar-tn", "ar-ye", "as", "as-in", "asa", "asa-tz", "ast", "ast-es", "av", "ay", "az", "az-az", "ba", "bas", "bas-cm", "be", "be-by", "bem", "bem-zm", "bez", "bez-tz", "bg", "bg-bg", "bgc", "bgc-in", "bho", "bho-in", "bi", "bm", "bm-ml", "bn", "bn-bd", "bn-in", "bo", "bo-cn", "bo-in", "br", "br-fr", "brx", "brx-in", "bs", "bs-ba", "ca", "ca-ad", "ca-es", "ca-fr", "ca-it", "ccp", "ccp-bd", "ccp-in", "ce", "ce-ru", "ceb", "ceb-ph", "cgg", "cgg-ug", "ch", "chr", "chr-us", "ckb", "ckb-iq", "ckb-ir", "co", "cr", "cs", "cs-cz", "cu", "cu-ru", "cv", "cv-ru", "cy", "cy-gb", "da", "da-dk", "da-gl", "dav", "dav-ke", "de", "de-at", "de-be", "de-ch", "de-de", "de-gr", "de-it", "de-li", "de-lu", "dje", "dje-ne", "doi", "doi-in", "dsb", "dsb-de", "dua", "dua-cm", "dv", "dyo", "dyo-sn", "dz", "dz-bt", "ebu", "ebu-ke", "ee", "ee-gh", "ee-tg", "el", "el-cy", "el-gr", "en", "en-001", "en-150", "en-ae", "en-ag", "en-ai", "en-as", "en-at", "en-au", "en-bb", "en-be", "en-bi", "en-bm", "en-bs", "en-bw", "en-bz", "en-ca", "en-cc", "en-ch", "en-ck", "en-cm", "en-cn", "en-cx", "en-cy", "en-de", "en-dg", "en-dk", "en-dm", "en-ee", "en-eg", "en-er", "en-es", "en-fi", "en-fj", "en-fk", "en-fm", "en-fr", "en-gb", "en-gd", "en-gg", "en-gh", "en-gi", "en-gm", "en-gu", "en-gy", "en-hk", "en-ie", "en-il", "en-im", "en-in", "en-io", "en-je", "en-jm", "en-ke", "en-ki", "en-kn", "en-ky", "en-lc", "en-lr", "en-ls", "en-lu", "en-mg", "en-mh", "en-mo", "en-mp", "en-ms", "en-mt", "en-mu", "en-mv", "en-mw", "en-mx", "en-my", "en-na", "en-nf", "en-ng", "en-nl", "en-nr", "en-nu", "en-nz", "en-pg", "en-ph", "en-pk", "en-pn", "en-pr", "en-pt", "en-pw", "en-rw", "en-sb", "en-sc", "en-sd", "en-se", "en-sg", "en-sh", "en-si", "en-sl", "en-ss", "en-sx", "en-sz", "en-tc", "en-tk", "en-tn", "en-to", "en-tt", "en-tv", "en-tz", "en-ug", "en-um", "en-us", "en-vc", "en-vg", "en-vi", "en-vu", "en-ws", "en-za", "en-zm", "en-zw", "eo", "eo-001", "es", "es-419", "es-ar", "es-bo", "es-br", "es-bz", "es-cl", "es-co", "es-cr", "es-cu", "es-do", "es-ea", "es-ec", "es-es", "es-gq", "es-gt", "es-hn", "es-ic", "es-mx", "es-ni", "es-pa", "es-pe", "es-ph", "es-pr", "es-py", "es-sv", "es-us", "es-uy", "es-ve", "et", "et-ee", "eu", "eu-es", "ewo", "ewo-cm", "fa", "fa-af", "fa-ir", "ff", "ff-bf", "ff-cm", "ff-gh", "ff-gm", "ff-gn", "ff-gw", "ff-lr", "ff-mr", "ff-ne", "ff-ng", "ff-sl", "ff-sn", "fi", "fi-fi", "fil", "fil-ph", "fj", "fo", "fo-dk", "fo-fo", "fr", "fr-be", "fr-bf", "fr-bi", "fr-bj", "fr-bl", "fr-ca", "fr-cd", "fr-cf", "fr-cg", "fr-ch", "fr-ci", "fr-cm", "fr-dj", "fr-dz", "fr-fr", "fr-ga", "fr-gf", "fr-gn", "fr-gp", "fr-gq", "fr-ht", "fr-km", "fr-lu", "fr-ma", "fr-mc", "fr-mf", "fr-mg", "fr-ml", "fr-mq", "fr-mr", "fr-mu", "fr-nc", "fr-ne", "fr-pf", "fr-pm", "fr-re", "fr-rw", "fr-sc", "fr-sn", "fr-sy", "fr-td", "fr-tg", "fr-tn", "fr-vu", "fr-wf", "fr-yt", "frr", "frr-de", "fur", "fur-it", "fy", "fy-nl", "ga", "ga-gb", "ga-ie", "gd", "gd-gb", "gl", "gl-es", "gn", "gsw", "gsw-ch", "gsw-fr", "gsw-li", "gu", "gu-in", "guz", "guz-ke", "gv", "gv-im", "ha", "ha-gh", "ha-ne", "ha-ng", "haw", "haw-us", "he", "he-il", "hi", "hi-in", "hmn", "ho", "hr", "hr-ba", "hr-hr", "hsb", "hsb-de", "ht", "hu", "hu-hu", "hy", "hy-am", "hz", "ia", "ia-001", "id", "id-id", "ie", "ig", "ig-ng", "ii", "ii-cn", "ik", "io", "is", "is-is", "it", "it-ch", "it-it", "it-sm", "it-va", "iu", "ja", "ja-jp", "jgo", "jgo-cm", "jmc", "jmc-tz", "jv", "jv-id", "ka", "ka-ge", "kab", "kab-dz", "kam", "kam-ke", "kar", "kde", "kde-tz", "kea", "kea-cv", "kg", "kgp", "kgp-br", "kh", "khq", "khq-ml", "ki", "ki-ke", "kj", "kk", "kk-kz", "kkj", "kkj-cm", "kl", "kl-gl", "kln", "kln-ke", "km", "km-kh", "kn", "kn-in", "ko", "ko-kp", "ko-kr", "kok", "kok-in", "kr", "ks", "ks-in", "ksb", "ksb-tz", "ksf", "ksf-cm", "ksh", "ksh-de", "ku", "ku-tr", "kv", "kw", "kw-gb", "ky", "ky-kg", "la", "lag", "lag-tz", "lb", "lb-lu", "lg", "lg-ug", "li", "lkt", "lkt-us", "ln", "ln-ao", "ln-cd", "ln-cf", "ln-cg", "lo", "lo-la", "lrc", "lrc-iq", "lrc-ir", "lt", "lt-lt", "lu", "lu-cd", "luo", "luo-ke", "luy", "luy-ke", "lv", "lv-lv", "mai", "mai-in", "mas", "mas-ke", "mas-tz", "mdf", "mdf-ru", "mer", "mer-ke", "mfe", "mfe-mu", "mg", "mg-mg", "mgh", "mgh-mz", "mgo", "mgo-cm", "mh", "mi", "mi-nz", "mk", "mk-mk", "ml", "ml-in", "mn", "mn-mn", "mni", "mni-in", "mr", "mr-in", "ms", "ms-bn", "ms-id", "ms-my", "ms-sg", "mt", "mt-mt", "mua", "mua-cm", "my", "my-mm", "mzn", "mzn-ir", "na", "naq", "naq-na", "nb", "nb-no", "nb-sj", "nd", "nd-zw", "nds", "nds-de", "nds-nl", "ne", "ne-in", "ne-np", "ng", "nl", "nl-aw", "nl-be", "nl-bq", "nl-ch", "nl-cw", "nl-lu", "nl-nl", "nl-sr", "nl-sx", "nmg", "nmg-cm", "nn", "nn-no", "nnh", "nnh-cm", "no", "no-no", "nr", "nus", "nus-ss", "nv", "ny", "nyn", "nyn-ug", "oc", "oc-es", "oc-fr", "oj", "om", "om-et", "om-ke", "or", "or-in", "os", "os-ge", "os-ru", "pa", "pa-in", "pa-pk", "pcm", "pcm-ng", "pi", "pis", "pis-sb", "pl", "pl-pl", "prg", "prg-001", "ps", "ps-af", "ps-pk", "pt", "pt-ao", "pt-br", "pt-ch", "pt-cv", "pt-gq", "pt-gw", "pt-lu", "pt-mo", "pt-mz", "pt-pt", "pt-st", "pt-tl", "qu", "qu-bo", "qu-ec", "qu-pe", "raj", "raj-in", "rm", "rm-ch", "rn", "rn-bi", "ro", "ro-md", "ro-ro", "rof", "rof-tz", "ru", "ru-by", "ru-kg", "ru-kz", "ru-md", "ru-ru", "ru-ua", "rw", "rw-rw", "rwk", "rwk-tz", "sa", "sa-in", "sah", "sah-ru", "saq", "saq-ke", "sat", "sat-in", "sbp", "sbp-tz", "sc", "sc-it", "sd", "sd-in", "sd-pk", "se", "se-fi", "se-no", "se-se", "seh", "seh-mz", "ses", "ses-ml", "sg", "sg-cf", "shi", "shi-ma", "si", "si-lk", "sk", "sk-sk", "sl", "sl-si", "sm", "smn", "smn-fi", "sms", "sms-fi", "sn", "sn-zw", "so", "so-dj", "so-et", "so-ke", "so-so", "sq", "sq-al", "sq-mk", "sq-xk", "sr", "sr-ba", "sr-cs", "sr-me", "sr-rs", "sr-xk", "ss", "st", "su", "su-id", "sv", "sv-ax", "sv-fi", "sv-se", "sw", "sw-cd", "sw-ke", "sw-tz", "sw-ug", "sy", "ta", "ta-in", "ta-lk", "ta-my", "ta-sg", "te", "te-in", "teo", "teo-ke", "teo-ug", "tg", "tg-tj", "th", "th-th", "ti", "ti-er", "ti-et", "tk", "tk-tm", "tl", "tn", "to", "to-to", "tok", "tok-001", "tr", "tr-cy", "tr-tr", "ts", "tt", "tt-ru", "tw", "twq", "twq-ne", "ty", "tzm", "tzm-ma", "ug", "ug-cn", "uk", "uk-ua", "ur", "ur-in", "ur-pk", "uz", "uz-af", "uz-uz", "vai", "vai-lr", "ve", "vi", "vi-vn", "vo", "vo-001", "vun", "vun-tz", "wa", "wae", "wae-ch", "wo", "wo-sn", "xh", "xh-za", "xog", "xog-ug", "yav", "yav-cm", "yi", "yi-001", "yo", "yo-bj", "yo-ng", "yrl", "yrl-br", "yrl-co", "yrl-ve", "yue", "yue-cn", "yue-hk", "za", "zgh", "zgh-ma", "zh", "zh-cn", "zh-hans", "zh-hant", "zh-hk", "zh-mo", "zh-sg", "zh-tw", "zu", "zu-za" ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the email, as displayed on the email dashboard.",
            "example" : null
          },
          "publishDate" : {
            "type" : "string",
            "description" : "The date and time the email is scheduled for, in ISO8601 representation. This is only used in local time or scheduled emails.",
            "format" : "date-time",
            "example" : null
          },
          "rssData" : {
            "$ref" : "#/components/schemas/PublicRssEmailDetails"
          },
          "sendOnPublish" : {
            "type" : "boolean",
            "description" : "Determines whether the email will be sent immediately on publish.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The email state.",
            "example" : null,
            "enum" : [ "AGENT_GENERATED", "AUTOMATED", "AUTOMATED_AB", "AUTOMATED_AB_VARIANT", "AUTOMATED_DRAFT", "AUTOMATED_DRAFT_AB", "AUTOMATED_DRAFT_ABVARIANT", "AUTOMATED_FOR_FORM", "AUTOMATED_FOR_FORM_BUFFER", "AUTOMATED_FOR_FORM_DRAFT", "AUTOMATED_FOR_FORM_LEGACY", "AUTOMATED_LOSER_ABVARIANT", "AUTOMATED_SENDING", "BLOG_EMAIL_DRAFT", "BLOG_EMAIL_PUBLISHED", "DRAFT", "DRAFT_AB", "DRAFT_AB_VARIANT", "ERROR", "LOSER_AB_VARIANT", "PAGE_STUB", "PRE_PROCESSING", "PROCESSING", "PUBLISHED", "PUBLISHED_AB", "PUBLISHED_AB_VARIANT", "PUBLISHED_OR_SCHEDULED", "RSS_TO_EMAIL_DRAFT", "RSS_TO_EMAIL_PUBLISHED", "SCHEDULED", "SCHEDULED_AB", "SCHEDULED_OR_PUBLISHED" ]
          },
          "subcategory" : {
            "type" : "string",
            "description" : "The email subcategory.",
            "example" : null,
[...]
