{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Account Account Info",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/account-info/2026-09-beta/activity/audit-logs" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve audit logs",
        "description" : "Retrieve audit logs for user actions within the account. This endpoint allows you to filter logs based on various criteria such as time range, user ID, and sorting preferences. It is useful for monitoring and reviewing user activities for security and compliance purposes.",
        "operationId" : "get-/account-info/2026-09-beta/activity/audit-logs",
        "parameters" : [ {
          "name" : "actingUserId",
          "in" : "query",
          "description" : "An array of user IDs to filter the audit logs by the acting user.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "A cursor token for pagination. Use the value from the previous response's paging.next.after field to retrieve the next set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "fillFinalTimestamp",
          "in" : "query",
          "description" : "A boolean indicating whether to fill the final timestamp in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "occurredAfter",
          "in" : "query",
          "description" : "Filter logs to include only those that occurred after this date-time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "occurredBefore",
          "in" : "query",
          "description" : "Filter logs to include only those that occurred before this date-time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "An array specifying the sort order of the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/2026-09-beta/activity/login" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve Logins",
        "description" : "Retrieve login activity for users in your HubSpot account. This endpoint provides access to login audit logs, allowing you to track user login events. It supports pagination and filtering by user ID.",
        "operationId" : "get-/account-info/2026-09-beta/activity/login",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The unique identifier of the user whose login activity is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/2026-09-beta/activity/security" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve security activity",
        "description" : "Retrieve critical security-related activities for your account. This endpoint allows you to filter activities by user and time range, helping you monitor and audit important security events.",
        "operationId" : "get-/account-info/2026-09-beta/activity/security",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token for retrieving the next set of results. Use the value from the previous response's paging.next.after field.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "description" : "The start of the time range for the activities to be retrieved, specified as a Unix timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "toTimestamp",
          "in" : "query",
          "description" : "The end of the time range for the activities to be retrieved, specified as a Unix timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The unique identifier of the user whose activities you want to retrieve.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/2026-09-beta/api-usage/daily/private-apps" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve API Usage",
        "description" : "Retrieve the daily API usage for private apps in the account. This endpoint provides insights into the API consumption patterns, helping users monitor and manage their API usage effectively.",
        "operationId" : "get-/account-info/2026-09-beta/api-usage/daily/private-apps",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiUsageNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ]
      }
    },
    "/account-info/2026-09-beta/details" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve details",
        "description" : "Retrieve detailed information about the account associated with the HubSpot portal. This endpoint provides insights into the account type, time zone, currency settings, and data hosting location. It is useful for obtaining a comprehensive overview of the account's configuration and settings.",
        "operationId" : "get-/account-info/2026-09-beta/details",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalInformationResponseSeptember2026"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActingUser" : {
        "required" : [ "userId" ],
        "type" : "object",
        "properties" : {
          "userEmail" : {
            "type" : "string",
            "description" : "The email address of the user, represented as a string.",
            "example" : null
          },
          "userId" : {
            "type" : "integer",
            "description" : "The unique identifier for the user, represented as an integer.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ApiUsage" : {
        "required" : [ "collectedAt", "currentUsage", "fetchStatus", "name", "usageLimit" ],
        "type" : "object",
        "properties" : {
          "collectedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "currentUsage" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "fetchStatus" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CACHED", "FAILURE", "NOTFOUND", "SUCCESS", "TIMEOUT" ]
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "resetsAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "usageLimit" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseApiUsageNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ApiUsage"
            }
          }
        },
        "example" : null
      },
      "CollectionResponseHydratedCriticalActionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/HydratedCriticalAction"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicApiUserActionEventForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of user action events, each represented by a PublicApiUserActionEvent object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicApiUserActionEvent"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicLoginAuditForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicLoginAudit"
            }
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "HydratedCriticalAction" : {
        "required" : [ "createdAt", "id", "type", "userId" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "type" : "string",
            "description" : "The identifier of the user who is acting on behalf of another user, if applicable.",
            "example" : null
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The country code representing the location of the user who performed the critical action.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this critical action was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this critical action.",
            "example" : null
          },
          "infoUrl" : {
            "type" : "string",
            "description" : "A URL providing more information about the critical action.",
            "example" : null
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "The IP address from which the critical action was performed.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "The physical location where the critical action was performed.",
            "example" : null
          },
          "objectId" : {
            "type" : "string",
            "description" : "The identifier of the object related to the critical action, if applicable.",
            "example" : null
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The region code representing the location of the user who performed the critical action.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of critical action performed. Valid values include a wide range of actions such as 'EXPORT', 'TOUCHLESS_PURCHASE', 'ADD_TWO_FACTOR_AUTHENTICATION', and many others.",
            "example" : null,
            "enum" : [ "ACCEPTANCE_TEST", "ACCOUNT_ADDED_TO_MULTI_ACCOUNT_ORGANIZATION", "ACCOUNT_REMOVED_FROM_MULTI_ACCOUNT_ORGANIZATION", "ADD_ADMIN_PERMISSIONS", "ADD_ADMIN_USER", "ADD_SINGLE_SIGN_ON", "ADD_TWO_FACTOR_AUTHENTICATION", "ADD_USER", "ADD_WEBHOOK_IN_WORKFLOW", "ALLOWED_GEOLOCATIONS_DISABLED", "ALLOWED_GEOLOCATIONS_ENABLED", "ALLOWED_LOGIN_METHODS_DELETE", "ALLOWED_LOGIN_METHODS_UPDATE", "ATTACHMENT_LOGGING_DISABLED", "ATTACHMENT_LOGGING_ENABLED", "AUTOMATED_INACTIVE_USER_DEACTIVATION_DISABLED", "AUTOMATED_INACTIVE_USER_DEACTIVATION_ENABLED", "BOTS_WEBHOOK_POST", "BOTS_WEBHOOK_UPDATE", "BOTS_WEBHOOK_VIEWED", "BULK_EMAIL_DOMAIN_CHANGE", "CHANGE_AD_EVENT_CONSENT_SETTING", "CHANGE_AD_EVENT_DATA_SHARING_SETTING", "CHANGE_PASSWORD", "CONTACT_DATA_EXPORT", "CONTACT_OWNER_AUTO_ASSIGN_DISABLED", "CONTACT_OWNER_AUTO_ASSIGN_ENABLED", "DATA_ACCESS_REQUEST_SUBMITTED", "DATA_BACKUP_CREATED", "DATA_BACKUP_DOWNLOADED", "DATA_BACKUP_SCHEDULE_CREATED", "DATA_BACKUP_SCHEDULE_DELETED", "DATA_BACKUP_SCHEDULE_UPDATED", "DATA_RESTORE_COMPLETED", "DATA_SHARING_CONNECTION_ADDED", "DATA_SHARING_CONNECTION_REMOVED", "DATASET_SYNC", "DEACTIVATE_USER", "DOMAIN_BASED_INVITE_CREATED", "DOMAIN_BASED_INVITE_REMOVED", "DOMAIN_BASED_INVITES_DISABLED", "DOMAIN_BASED_INVITES_ENABLED", "EMAIL_LOGGING_SYNC_SET_ALL", "EMAIL_LOGGING_SYNC_SET_CONTACTS", "EMAIL_LOGGING_SYNC_SET_REPLIES", "EMAIL_TRACKING_DISABLED", "EMAIL_TRACKING_ENABLED", "EXPORT", "EXPORT_APPROVAL", "EXPORT_DOWNLOAD", "EXPORT_USERS", "FORM_SUBMISSIONS_EXPORT", "GDPR_DELETE", "GDPR_TOGGLE_DISABLED", "GDPR_TOGGLE_ENABLED", "HAPIKEY_CREATE", "HAPIKEY_DEACTIVATE", "HAPIKEY_VIEW", "HUBSPOT_EMPLOYEE_ACCESS_DISABLED", "HUBSPOT_EMPLOYEE_ACCESS_ENABLED", "IMPERSONATE_USER", "IMPORT", "INSTALL_INTEGRATION", "IP_RESTRICTIONS_DISABLED", "IP_RESTRICTIONS_ENABLED", "JOINED_PORTAL_VIA_DOMAIN_BASED_INVITE", "LEGAL_BASIS_REQUIREMENT_DISABLED", "LEGAL_BASIS_REQUIREMENT_ENABLED", "MANUAL_PASSWORD_RESET_EMAIL_SEND", "MANUAL_REGISTRATION_EMAIL_SEND", "MARKETING_CONTACTS_APP_SETTINGS_DISABLED", "MARKETING_CONTACTS_APP_SETTINGS_ENABLED", "MERGE_REVERT", "MODIFY_WEBHOOK_IN_WORKFLOW", "MULTI_ACCOUNT_REPORTING_CONNECTION_ADDED", "MULTI_ACCOUNT_REPORTING_CONNECTION_REMOVED", "MULTI_ACCOUNT_WORKFLOWS_CONNECTION_ADDED", "MULTI_ACCOUNT_WORKFLOWS_CONNECTION_REMOVED", "NEVER_LOG_FOR_PORTAL_ADDITION", "NEVER_LOG_FOR_PORTAL_DELETION", "NEVER_LOG_FOR_USER_ADDITION", "NEVER_LOG_FOR_USER_DELETION", "PASSKEY_ADDED", "PASSKEY_DELETED", "PAYMENT_ACCOUNT_CREATION", "PAYMENT_ACCOUNT_INFO_UPDATE", "PAYMENT_BANK_ACCOUNT_CHANGE", "PAYMENT_ONBOARDING_LINK_SEND", "PERSONAL_ACCESS_KEY_CREATE", "PERSONAL_ACCESS_KEY_DEACTIVATE", "PERSONAL_ACCESS_KEY_ROTATE", "PERSONAL_ACCESS_KEY_VIEW", "PRIVATE_APP_ACCESS_TOKEN_CREATE", "PRIVATE_APP_ACCESS_TOKEN_DEACTIVATE", "PRIVATE_APP_ACCESS_TOKEN_ROTATE", "PRIVATE_APP_ACCESS_TOKEN_VIEW", "PRIVATE_APP_CLIENT_SECRET_VIEW", "PRIVATE_APP_CLIENT_SECRET_WRITE", "PRIVATE_APP_SCOPE_GROUPS_UPDATE", "PRODUCTION_DEPLOYMENT", "PROPERTY_HISTORY_REVISION", "PUBLIC_APP_CLIENT_SECRET_VIEW", "PUBLIC_APP_CLIENT_SECRET_WRITE", "REACTIVATE_USER", "REMOVE_ADMIN_PERMISSIONS", "REMOVE_ADMIN_USER", "REMOVE_SINGLE_SIGN_ON", "REMOVE_TWO_FACTOR_AUTHENTICATION", "REMOVE_USER", "REQUIRE_SINGLE_SIGN_ON", "RESTRICTED_LIST_ADDED_TO_CONTENT", "SANDBOX_CREATION", "SANDBOX_DELETION", "SANDBOX_SYNC", "SANDBOX_SYNC_TO_PRODUCTION", "SECRET_ADDED_TO_SERVERLESS_FUNCTION", "SENSITIVE_DATA_DISABLED", "SENSITIVE_DATA_ENABLED", "SEQUENCE_CLONED", "SEQUENCE_CREATED", "SEQUENCE_ENROLLMENT_INITIATED", "SEQUENCE_ENROLLMENT_STATE_CHANGED", "SEQUENCE_MODIFIED", "SERVICE_KEY_AUTO_ROTATE", "SERVICE_KEY_CREATE", "SERVICE_KEY_DEACTIVATE", "SERVICE_KEY_PERMISSIONS_UPDATE", "SERVICE_KEY_REVEAL", "SERVICE_KEY_ROTATE", "SERVICE_KEY_ROTATION_SCHEDULE_REMOVED", "SERVICE_KEY_ROTATION_SCHEDULE_SET", "SERVICE_KEY_ROTATION_SCHEDULE_UPDATED", "SMTP_TOKEN_CREATED", "SMTP_TOKEN_DELETED", "SMTP_TOKEN_PASSWORD_RESET", "SMTP_TOKEN_RETRIEVED", "TEAM_ADDED", "TEAM_DELETED", "TEAM_USER_ADDED", "TEAM_USER_DELETED", "TEMPLATE_DELETED", "TEMPLATE_MODIFIED", "TOUCHLESS_PURCHASE", "TWO_FACTOR_PROTECTED_ENDPOINT_BLOCKED", "TWO_FACTOR_PROTECTED_ENDPOINT_SUCCEEDED", "UNIFIED_RESTORE_UNDO_EXECUTION", "UNINSTALL_INTEGRATION", "UNREQUIRE_SINGLE_SIGN_ON", "WEBHOOK_SETTINGS_UPDATE", "WEBHOOK_SUBSCRIPTION_CREATE", "WEBHOOK_SUBSCRIPTION_UPDATE" ]
          },
          "userId" : {
            "type" : "integer",
            "description" : "The unique identifier of the user who performed the critical action.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PortalInformationResponseSeptember2026" : {
        "required" : [ "accountType", "additionalCurrencies", "companyCurrency", "dataHostingLocation", "portalId", "timeZone", "uiDomain", "utcOffset", "utcOffsetMilliseconds" ],
        "type" : "object",
        "properties" : {
          "accountType" : {
            "type" : "string",
            "description" : "The type of account associated with the portal. Valid values include 'STANDARD', 'DEVELOPER_TEST', 'SANDBOX', and 'APP_DEVELOPER'.",
            "example" : null,
            "enum" : [ "APP_DEVELOPER", "DEVELOPER_TEST", "SANDBOX", "STANDARD" ]
          },
          "additionalCurrencies" : {
            "type" : "array",
            "description" : "An array of additional currencies supported by the portal, each represented as a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "companyCurrency" : {
            "type" : "string",
            "description" : "The primary currency used by the company, represented as a string.",
            "example" : null
          },
          "createdAt" : {
            "type" : "integer",
            "description" : "The timestamp when the portal was created, represented as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "dataHostingLocation" : {
            "type" : "string",
            "description" : "The location where the portal's data is hosted, represented as a string.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "The unique identifier for the HubSpot portal, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "portalName" : {
            "type" : "string",
            "description" : "The name of the portal, represented as a string.",
            "example" : null
          },
          "timeZone" : {
            "type" : "string",
            "description" : "The time zone setting of the portal, represented as a string.",
            "example" : null
          },
          "uiDomain" : {
            "type" : "string",
            "description" : "The domain used for the portal's user interface, represented as a string.",
            "example" : null
          },
          "utcOffset" : {
            "type" : "string",
            "description" : "The UTC offset of the portal's time zone, represented as a string.",
            "example" : null
          },
          "utcOffsetMilliseconds" : {
            "type" : "integer",
            "description" : "The UTC offset of the portal's time zone in milliseconds, represented as an integer.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicApiUserActionEvent" : {
        "required" : [ "actingUser", "action", "category", "id", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "$ref" : "#/components/schemas/ActingUser"
          },
          "action" : {
            "type" : "string",
            "example" : null
          },
          "category" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "occurredAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "example" : null
          },
          "targetObjectId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLoginAudit" : {
        "required" : [ "id", "loginAt", "loginSucceeded" ],
        "type" : "object",
        "properties" : {
          "countryCode" : {
            "type" : "string",
            "description" : "The country code corresponding to the location of the login attempt.",
            "example" : null
          },
          "email" : {
            "type" : "string",
            "description" : "The email address associated with the user who attempted to log in.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this login audit record.",
            "example" : null
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "The IP address from which the login attempt was made.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "The geographical location associated with the IP address of the login attempt.",
            "example" : null
          },
          "loginAt" : {
            "type" : "string",
            "description" : "The date and time when the login attempt occurred, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "loginSucceeded" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the login attempt was successful.",
            "example" : null
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The region code corresponding to the location of the login attempt.",
            "example" : null
          },
          "userAgent" : {
            "type" : "string",
            "description" : "The user agent string of the browser or device used for the login attempt.",
            "example" : null
          },
          "userId" : {
            "type" : "integer",
            "description" : "The unique identifier of the user who attempted to log in.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "account-info.security.read" : "",
              "oauth" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}