{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Webhooks Webhooks",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/app-webhooks/2027-03-beta/{appId}/settings" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/app-webhooks/2027-03-beta/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        }, {
          "oauth2" : [ "private-apps-read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/app-webhooks/2027-03-beta/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsChangeRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/app-webhooks/2027-03-beta/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      }
    },
    "/app-webhooks/2027-03-beta/{appId}/subscriptions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/app-webhooks/2027-03-beta/{appId}/subscriptions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionListResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        }, {
          "oauth2" : [ "private-apps-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/app-webhooks/2027-03-beta/{appId}/subscriptions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      }
    },
    "/app-webhooks/2027-03-beta/{appId}/subscriptions/batch/update" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/app-webhooks/2027-03-beta/{appId}/subscriptions/batch/update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSubscriptionBatchUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      }
    },
    "/app-webhooks/2027-03-beta/{appId}/subscriptions/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/app-webhooks/2027-03-beta/{appId}/subscriptions/{subscriptionId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        }, {
          "oauth2" : [ "private-apps-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/app-webhooks/2027-03-beta/{appId}/subscriptions/{subscriptionId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "operationId" : "patch-/app-webhooks/2027-03-beta/{appId}/subscriptions/{subscriptionId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        }, {
          "oauth2" : [ "private-apps-write" ]
        } ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/batch/earliest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/batch/earliest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/batch/latest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/batch/latest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/webhooks-journal/journal-local/2027-03-beta/batch/read",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/batch/{offset}/next/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/batch/{offset}/next/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "offset",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/earliest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/earliest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/latest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/latest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/offset/{offset}/next" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/offset/{offset}/next",
        "parameters" : [ {
          "name" : "offset",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2027-03-beta/status/{statusId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal-local/2027-03-beta/status/{statusId}",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnapshotStatusResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/batch/earliest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/batch/earliest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/batch/latest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/batch/latest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/webhooks-journal/journal/2027-03-beta/batch/read",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/batch/{offset}/next/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/batch/{offset}/next/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "offset",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/earliest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/earliest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/latest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/latest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/offset/{offset}/next" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/offset/{offset}/next",
        "parameters" : [ {
          "name" : "offset",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-data-access" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2027-03-beta/status/{statusId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/journal/2027-03-beta/status/{statusId}",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnapshotStatusResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/snapshots/2027-03-beta/crm" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/webhooks-journal/snapshots/2027-03-beta/crm",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CrmObjectSnapshotBatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CrmObjectSnapshotBatchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/subscriptions/2027-03-beta",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSubscriptionResponseNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/webhooks-journal/subscriptions/2027-03-beta",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionUpsertRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse_1"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta/filters" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/webhooks-journal/subscriptions/2027-03-beta/filters",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FilterCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FilterCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta/filters/subscription/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/subscriptions/2027-03-beta/filters/subscription/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "$ref" : "#/components/schemas/FilterResponse"
                  }
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta/filters/{filterId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/subscriptions/2027-03-beta/filters/{filterId}",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FilterResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/webhooks-journal/subscriptions/2027-03-beta/filters/{filterId}",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta/portals/{portalId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/webhooks-journal/subscriptions/2027-03-beta/portals/{portalId}",
        "parameters" : [ {
          "name" : "portalId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2027-03-beta/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/webhooks-journal/subscriptions/2027-03-beta/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse_1"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/webhooks-journal/subscriptions/2027-03-beta/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActionOverrideRequest" : {
        "type" : "object",
        "properties" : {
          "associatedObjectTypeIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "listIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "AppLifecycleEventSubscriptionUpsertRequest" : {
        "required" : [ "eventTypeId", "properties", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "eventTypeId" : {
            "type" : "string",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "default" : "APP_LIFECYCLE_EVENT",
            "enum" : [ "APP_LIFECYCLE_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationSubscriptionUpsertRequest" : {
        "required" : [ "actions", "associatedObjectTypeIds", "objectIds", "objectTypeId", "portalId", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "associatedObjectTypeIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "objectIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "BatchInputSubscriptionBatchUpdateRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionBatchUpdateRequest"
            }
          }
        },
        "example" : null
      },
      "BatchResponseJournalFetchResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/JournalFetchResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponseJournalFetchResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/JournalFetchResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponseSubscriptionResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponseSubscriptionResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "CollectionResponseSubscriptionResponseNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse_1"
            }
          }
        },
        "example" : null
      },
      "Condition" : {
        "required" : [ "filterType", "operator", "property" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CRM_OBJECT_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "ENDS_WITH", "EQ", "GT", "GTE", "IN", "IS_EMPTY", "IS_NOT_EMPTY", "LT", "LTE", "N_EQ", "NOT_IN", "STARTS_WITH" ]
          },
          "property" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotBatchRequest" : {
        "required" : [ "snapshotRequests" ],
        "type" : "object",
        "properties" : {
          "snapshotRequests" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CrmObjectSnapshotRequest"
            }
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotBatchResponse" : {
        "required" : [ "snapshotResponses" ],
        "type" : "object",
        "properties" : {
          "snapshotResponses" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CrmObjectSnapshotResponse"
            }
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotRequest" : {
        "required" : [ "objectId", "objectTypeId", "portalId", "properties" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotResponse" : {
        "required" : [ "objectId", "objectTypeId", "portalId", "snapshotStatusId" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "snapshotStatusId" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "Filter" : {
        "required" : [ "conditions" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Condition"
            }
          }
        },
        "description" : "Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. ",
        "example" : null
      },
      "FilterCreateRequest" : {
        "required" : [ "filter", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/Filter"
          },
          "subscriptionId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "FilterCreateResponse" : {
        "required" : [ "filterId" ],
        "type" : "object",
        "properties" : {
          "filterId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "FilterResponse" : {
        "required" : [ "createdAt", "filter", "id" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "filter" : {
            "$ref" : "#/components/schemas/Filter"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "GdprPrivacyDeletionSubscriptionUpsertRequest" : {
        "required" : [ "actions", "objectTypeId", "portalId", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "default" : "GDPR_PRIVACY_DELETION",
            "enum" : [ "GDPR_PRIVACY_DELETION" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "JournalFetchResponse" : {
        "required" : [ "currentOffset", "expiresAt", "url" ],
        "type" : "object",
        "properties" : {
          "currentOffset" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "expiresAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ListMembershipSubscriptionUpsertRequest" : {
        "required" : [ "actions", "listIds", "objectIds", "portalId", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "listIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "default" : "LIST_MEMBERSHIP",
            "enum" : [ "LIST_MEMBERSHIP" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ObjectSubscriptionUpsertRequest" : {
        "required" : [ "actions", "objectIds", "objectTypeId", "portalId", "properties", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "objectIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "default" : "OBJECT",
            "enum" : [ "OBJECT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "SettingsChangeRequest" : {
        "required" : [ "targetUrl", "throttling" ],
        "type" : "object",
        "properties" : {
          "targetUrl" : {
            "type" : "string",
            "example" : null
          },
          "throttling" : {
            "$ref" : "#/components/schemas/ThrottlingSettings"
          }
        },
        "example" : null
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "targetUrl", "throttling" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "targetUrl" : {
            "type" : "string",
            "example" : null
          },
          "throttling" : {
            "$ref" : "#/components/schemas/ThrottlingSettings"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "SnapshotStatusResponse" : {
        "required" : [ "id", "initiatedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "errorCode" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "INTERNAL_ERROR", "PERMISSION_DENIED", "TIMEOUT", "VALIDATION_ERROR" ]
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "initiatedAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXPIRED", "FAILED", "IN_PROGRESS", "PENDING", "SUCCESS" ]
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Additional context-specific information related to the error.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "SubscriptionBatchUpdateRequest" : {
        "required" : [ "active", "id" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "example" : null
          },
          "id" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionCreateRequest" : {
        "required" : [ "active", "eventType" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "example" : null
          },
          "eventType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "company.associationChange", "company.creation", "company.deletion", "company.merge", "company.propertyChange", "company.restore", "contact.associationChange", "contact.creation", "contact.deletion", "contact.merge", "contact.privacyDeletion", "contact.propertyChange", "contact.restore", "conversation.creation", "conversation.deletion", "conversation.newMessage", "conversation.privacyDeletion", "conversation.propertyChange", "deal.associationChange", "deal.creation", "deal.deletion", "deal.merge", "deal.propertyChange", "deal.restore", "event.completed", "line_item.associationChange", "line_item.creation", "line_item.deletion", "line_item.merge", "line_item.propertyChange", "line_item.restore", "object.associationChange", "object.creation", "object.deletion", "object.merge", "object.propertyChange", "object.restore", "product.creation", "product.deletion", "product.merge", "product.propertyChange", "product.restore", "ticket.associationChange", "ticket.creation", "ticket.deletion", "ticket.merge", "ticket.propertyChange", "ticket.restore" ]
          },
          "eventTypeName" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          }
        },
        "example" : null
      },
      "SubscriptionPatchRequest" : {
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionResponse" : {
        "required" : [ "active", "createdAt", "eventType", "id" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "eventType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "company.associationChange", "company.creation", "company.deletion", "company.merge", "company.propertyChange", "company.restore", "contact.associationChange", "contact.creation", "contact.deletion", "contact.merge", "contact.privacyDeletion", "contact.propertyChange", "contact.restore", "conversation.creation", "conversation.deletion", "conversation.newMessage", "conversation.privacyDeletion", "conversation.propertyChange", "deal.associationChange", "deal.creation", "deal.deletion", "deal.merge", "deal.propertyChange", "deal.restore", "event.completed", "line_item.associationChange", "line_item.creation", "line_item.deletion", "line_item.merge", "line_item.propertyChange", "line_item.restore", "object.associationChange", "object.creation", "object.deletion", "object.merge", "object.propertyChange", "object.restore", "product.creation", "product.deletion", "product.merge", "product.propertyChange", "product.restore", "ticket.associationChange", "ticket.creation", "ticket.deletion", "ticket.merge", "ticket.propertyChange", "ticket.restore" ]
          },
          "eventTypeName" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionResponse_1" : {
        "required" : [ "actions", "appId", "createdAt", "id", "objectTypeId", "subscriptionType", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "actionOverrides" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ActionOverrideRequest"
            },
            "example" : null
          },
          "actions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "appId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "associatedObjectTypeIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "deletedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APP_LIFECYCLE_EVENT", "ASSOCIATION", "EVENT", "GDPR_PRIVACY_DELETION", "LIST_MEMBERSHIP", "OBJECT" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionUpsertRequest" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ObjectSubscriptionUpsertRequest"
        }, {
          "$ref" : "#/components/schemas/AssociationSubscriptionUpsertRequest"
        }, {
          "$ref" : "#/components/schemas/AppLifecycleEventSubscriptionUpsertRequest"
        }, {
          "$ref" : "#/components/schemas/ListMembershipSubscriptionUpsertRequest"
        }, {
          "$ref" : "#/components/schemas/GdprPrivacyDeletionSubscriptionUpsertRequest"
        } ]
      },
      "ThrottlingSettings" : {
        "required" : [ "maxConcurrentRequests" ],
        "type" : "object",
        "properties" : {
          "maxConcurrentRequests" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "developers-read" : "",
              "developers-write" : "",
              "private-apps-read" : "",
              "private-apps-write" : "",
              "webhooks-journal-data-access" : "",
              "webhooks-journal-snapshot-management" : "",
              "webhooks-journal-subscription-management" : "",
              "webhooks-journal-subscription-read" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}