{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Webhooks Webhooks",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/webhooks-journal/journal-local/2026-03/batch/earliest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve earliest batch",
        "description" : "Retrieve the earliest batch of webhook journal entries up to a specified count. This endpoint is useful for accessing the oldest records available in the webhook journal, allowing you to process or analyze historical webhook data.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/batch/earliest/{count}_/webhooks-journal/journal-local/2026-03/batch/earliest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of webhook journal entries to retrieve. It must be an integer with a minimum value of 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation to filter the webhook journal entries. It is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/batch/latest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve latest batch",
        "description" : "Retrieve the latest batch of webhook journal entries up to a specified count. This endpoint is useful for fetching the most recent webhook events processed by the system. It requires authentication and supports various security schemes.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/batch/latest/{count}_/webhooks-journal/journal-local/2026-03/batch/latest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of webhook journal entries to retrieve. It must be an integer with a minimum value of 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation to filter the webhook journal entries. It is an optional integer parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read",
        "description" : "Perform a batch read operation on the webhooks journal. This endpoint allows you to retrieve a batch of journal entries by providing the necessary input data. It is useful for processing large volumes of webhook data efficiently.",
        "operationId" : "post-/webhooks-journal/journal-local/2026-03/batch/read_/webhooks-journal/journal-local/2026-03/batch/read",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal where the webhook is installed. This parameter is optional and is used to specify the portal context for the operation.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/batch/{offset}/next/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Fetch Batch",
        "description" : "Retrieve a batch of webhook journal entries starting from a specified offset. This endpoint is useful for fetching sequential batches of data, allowing you to paginate through large sets of webhook journal entries efficiently.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/batch/{offset}/next/{count}_/webhooks-journal/journal-local/2026-03/batch/{offset}/next/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of entries to retrieve in the batch. This must be an integer with a minimum value of 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "offset",
          "in" : "path",
          "description" : "The starting point for the batch retrieval. This is a string value representing the offset in the journal.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal where the webhooks are installed. This is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/earliest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve earliest",
        "description" : "Retrieve the earliest entry from the webhooks journal for the specified portal. This endpoint is useful for accessing the oldest available data in the journal, which can be used for historical analysis or troubleshooting.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/earliest_/webhooks-journal/journal-local/2026-03/earliest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal for which to retrieve the earliest journal entry. This parameter is optional and should be an integer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/latest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve latest",
        "description" : "Retrieve the latest entries from the webhooks journal. This endpoint is useful for accessing the most recent webhook data for analysis or troubleshooting. It supports filtering by the installPortalId to narrow down results to a specific portal.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/latest_/webhooks-journal/journal-local/2026-03/latest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "An integer representing the ID of the portal to filter the webhook journal entries.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/offset/{offset}/next" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve next journal",
        "description" : "Retrieve the next set of journal entries starting from a specified offset. This endpoint is useful for paginating through webhook journal entries in a sequential manner. It requires specifying the offset from which the next entries should be fetched.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/offset/{offset}/next_/webhooks-journal/journal-local/2026-03/offset/{offset}/next",
        "parameters" : [ {
          "name" : "offset",
          "in" : "path",
          "description" : "The offset from which the next set of journal entries should be retrieved. This parameter is required to specify the starting point for the retrieval.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation to filter the journal entries by. This is an optional parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal-local/2026-03/status/{statusId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve status",
        "description" : "Retrieve the status of a specific webhook journal entry using its unique status ID. This endpoint is useful for checking the progress or result of a webhook operation, such as whether it is pending, in progress, completed, failed, or expired.",
        "operationId" : "get-/webhooks-journal/journal-local/2026-03/status/{statusId}_/webhooks-journal/journal-local/2026-03/status/{statusId}",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "description" : "The unique identifier (UUID) of the webhook journal entry whose status is to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnapshotStatusResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/batch/earliest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Fetch Earliest Batch",
        "description" : "Retrieve the earliest batch of webhook journal entries up to the specified count. This endpoint is useful for fetching historical webhook data in batches, allowing you to process or analyze them as needed.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/batch/earliest/{count}_/webhooks-journal/journal/2026-03/batch/earliest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of journal entries to retrieve. This must be an integer with a minimum value of 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation for which to fetch the journal entries. This is an optional parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/batch/latest/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve latest batch",
        "description" : "Retrieve the latest batch of webhook journal entries up to a specified count. This endpoint is useful for fetching the most recent webhook events processed by your HubSpot account. The response includes details about each event, and you can specify the number of entries to retrieve.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/batch/latest/{count}_/webhooks-journal/journal/2026-03/batch/latest/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of journal entries to retrieve. Must be an integer with a minimum value of 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation. This parameter is optional and can be used to filter results by a specific portal.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Read Batch",
        "description" : "Read a batch of webhook journal entries for the specified portal. This endpoint allows you to retrieve detailed information about webhook events processed by your HubSpot account. It is useful for auditing and tracking webhook activity.",
        "operationId" : "post-/webhooks-journal/journal/2026-03/batch/read_/webhooks-journal/journal/2026-03/batch/read",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal from which to retrieve webhook journal entries. This is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/batch/{offset}/next/{count}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve batch",
        "description" : "Retrieve a batch of webhook journal entries starting from a specified offset. This endpoint allows you to specify the number of entries to retrieve, helping you manage and paginate through large sets of webhook data efficiently.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/batch/{offset}/next/{count}_/webhooks-journal/journal/2026-03/batch/{offset}/next/{count}",
        "parameters" : [ {
          "name" : "count",
          "in" : "path",
          "description" : "The number of webhook journal entries to retrieve in the batch. This parameter is required and must be an integer greater than or equal to 1.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "offset",
          "in" : "path",
          "description" : "The starting point for retrieving the batch of webhook journal entries. This parameter is required and determines where the batch retrieval begins.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation to filter the webhook journal entries. This parameter is optional and is used to specify which portal's data to retrieve.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseJournalFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/earliest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve earliest entry",
        "description" : "Retrieve the earliest entry from the webhooks journal for the specified portal. This endpoint is useful for accessing the initial entries in the journal, which can be helpful for debugging or auditing purposes.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/earliest_/webhooks-journal/journal/2026-03/earliest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal installation to filter the journal entries. This is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/latest" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve latest entry",
        "description" : "Retrieve the latest entry from the webhooks journal for the specified portal. This endpoint is useful for accessing the most recent webhook data available in the journal.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/latest_/webhooks-journal/journal/2026-03/latest",
        "parameters" : [ {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal for which to retrieve the latest journal entry. It is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/offset/{offset}/next" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve Next Journal",
        "description" : "Retrieve the next set of webhook journal entries starting from a specified offset. This endpoint is useful for paginating through webhook journal entries in a HubSpot account. It allows you to continue fetching entries from where the last request left off, using the offset parameter.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/offset/{offset}/next_/webhooks-journal/journal/2026-03/offset/{offset}/next",
        "parameters" : [ {
          "name" : "offset",
          "in" : "path",
          "description" : "The offset from which to start retrieving the next set of journal entries. This is a string value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installPortalId",
          "in" : "query",
          "description" : "The ID of the portal where the webhooks are installed. This is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-data-access" ]
        }, {
          "oauth2" : [ "webhooks-journal-data-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/journal/2026-03/status/{statusId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve status",
        "description" : "Retrieve the status of a specific webhook journal entry using its unique status ID. This endpoint is useful for monitoring the progress or outcome of a webhook operation, providing insights into whether it is pending, in progress, completed, failed, or expired.",
        "operationId" : "get-/webhooks-journal/journal/2026-03/status/{statusId}_/webhooks-journal/journal/2026-03/status/{statusId}",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "description" : "The unique identifier (UUID) of the webhook journal entry whose status is to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnapshotStatusResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/snapshots/2026-03/crm" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Snapshot",
        "description" : "Create a batch of CRM object snapshots for a specified portal. This endpoint allows you to capture the current state of CRM objects by submitting a batch request with the necessary object details. It is useful for tracking changes or maintaining historical records of CRM data.",
        "operationId" : "post-/webhooks-journal/snapshots/2026-03/crm_/webhooks-journal/snapshots/2026-03/crm",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CrmObjectSnapshotBatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CrmObjectSnapshotBatchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-snapshot-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List Subscriptions",
        "description" : "Retrieve a list of webhook journal subscriptions for the specified version. This endpoint allows you to view all active subscriptions without pagination. It is useful for managing and auditing webhook subscriptions in your HubSpot account.",
        "operationId" : "get-/webhooks-journal/subscriptions/2026-03_/webhooks-journal/subscriptions/2026-03",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSubscriptionResponseNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Subscription",
        "description" : "Create a new subscription in the webhooks journal for the specified version. This endpoint allows you to define the subscription details, including actions and object types, to manage webhook events effectively. It requires a valid request body with the subscription details.",
        "operationId" : "post-/webhooks-journal/subscriptions/2026-03_/webhooks-journal/subscriptions/2026-03",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionUpsertRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse_1"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03/filters" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Filter",
        "description" : "Create a new filter for a webhook subscription in the HubSpot account. This endpoint allows you to define conditions that determine when a webhook event should be triggered for a specific subscription. The request body must include the subscription ID and the filter details.",
        "operationId" : "post-/webhooks-journal/subscriptions/2026-03/filters_/webhooks-journal/subscriptions/2026-03/filters",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FilterCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FilterCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03/filters/subscription/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve filters",
        "description" : "Retrieve the filters associated with a specific webhook subscription. This endpoint is useful for obtaining detailed information about the filters applied to a subscription, which can help in managing and understanding the data flow through your webhook integrations.",
        "operationId" : "get-/webhooks-journal/subscriptions/2026-03/filters/subscription/{subscriptionId}_/webhooks-journal/subscriptions/2026-03/filters/subscription/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The unique identifier of the subscription for which filters are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "$ref" : "#/components/schemas/FilterResponse"
                  }
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03/filters/{filterId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve filter",
        "description" : "Retrieve a specific filter associated with a webhook journal subscription. This endpoint allows you to access detailed information about the filter identified by the filterId path parameter. It is useful for managing and reviewing filter configurations within your webhook subscriptions.",
        "operationId" : "get-/webhooks-journal/subscriptions/2026-03/filters/{filterId}_/webhooks-journal/subscriptions/2026-03/filters/{filterId}",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "description" : "The unique identifier of the filter to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FilterResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete filter",
        "description" : "Remove a specific filter from your webhook journal subscriptions. This operation is useful when you need to clean up or modify the filters applied to your webhook subscriptions. The filter identified by the filterId will be permanently deleted.",
        "operationId" : "delete-/webhooks-journal/subscriptions/2026-03/filters/{filterId}_/webhooks-journal/subscriptions/2026-03/filters/{filterId}",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "description" : "The unique identifier of the filter to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03/portals/{portalId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete subscription",
        "description" : "Delete a webhook journal subscription for a specific portal. This operation removes the subscription associated with the given portalId, effectively stopping any webhook events from being sent to the portal.",
        "operationId" : "delete-/webhooks-journal/subscriptions/2026-03/portals/{portalId}_/webhooks-journal/subscriptions/2026-03/portals/{portalId}",
        "parameters" : [ {
          "name" : "portalId",
          "in" : "path",
          "description" : "The unique identifier of the portal for which the webhook journal subscription is to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks-journal/subscriptions/2026-03/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve subscription",
        "description" : "Retrieve details of a specific webhook journal subscription using its unique identifier. This endpoint is useful for obtaining information about a particular subscription, such as its actions, object types, and associated properties.",
        "operationId" : "get-/webhooks-journal/subscriptions/2026-03/{subscriptionId}_/webhooks-journal/subscriptions/2026-03/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The unique identifier of the subscription to retrieve. It is an integer value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse_1"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-read" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete subscription",
        "description" : "Delete a specific webhook journal subscription using its unique identifier. This operation is useful for managing and cleaning up subscriptions that are no longer needed.",
        "operationId" : "delete-/webhooks-journal/subscriptions/2026-03/{subscriptionId}_/webhooks-journal/subscriptions/2026-03/{subscriptionId}",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The unique identifier of the subscription to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "webhooks-journal-subscription-management" ]
        }, {
          "oauth2" : [ "webhooks-journal-subscription-management" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL",
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/webhooks/2026-03/{appId}/settings" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read webhook settings",
        "description" : "Retrieve the webhook settings for the specified app, including the webhook’s target URL, throttle configuration, and create/update date.",
        "operationId" : "get-/webhooks/2026-03/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "oauth2" : [ "developers-read", "private-apps-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update webhook settings",
        "description" : "Update webhook settings for the specified app.",
        "operationId" : "put-/webhooks/2026-03/{appId}/settings_configure",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsChangeRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete webhook settings",
        "description" : "Delete the webhook settings for the specified app. Event subscriptions will not be deleted, but will be paused until another webhook is created.",
        "operationId" : "delete-/webhooks/2026-03/{appId}/settings_clear",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/webhooks/2026-03/{appId}/subscriptions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read event subscriptions",
        "description" : "Retrieve event subscriptions for the specified app.",
        "operationId" : "get-/webhooks/2026-03/{appId}/subscriptions_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionListResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "oauth2" : [ "developers-read", "private-apps-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create an event subscription",
        "description" : "Create new event subscription for the specified app.",
        "operationId" : "post-/webhooks/2026-03/{appId}/subscriptions_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/webhooks/2026-03/{appId}/subscriptions/batch/update" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch create event subscriptions",
        "description" : "Batch create event subscriptions for the specified app.",
        "operationId" : "post-/webhooks/2026-03/{appId}/subscriptions/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSubscriptionBatchUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponseWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/webhooks/2026-03/{appId}/subscriptions/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read an event subscription",
        "description" : "Retrieve a specific event subscription by ID.",
        "operationId" : "get-/webhooks/2026-03/{appId}/subscriptions/{subscriptionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The identifier for the subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-read", "private-apps-read" ]
        }, {
          "oauth2" : [ "developers-read", "private-apps-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete event subscription",
        "description" : "Delete an existing event subscription by ID.",
        "operationId" : "delete-/webhooks/2026-03/{appId}/subscriptions/{subscriptionId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The identifier for the subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update an event subscription",
        "description" : "Update an existing event subscription by ID.",
        "operationId" : "patch-/webhooks/2026-03/{appId}/subscriptions/{subscriptionId}_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The identifier for the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The identifier for the subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-write", "private-apps-write" ]
        }, {
          "oauth2" : [ "developers-write", "private-apps-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of strings that serves as the input for batch operations. Each item in the array is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ThrottlingSettings" : {
        "required" : [ "maxConcurrentRequests" ],
        "type" : "object",
        "properties" : {
          "maxConcurrentRequests" : {
            "type" : "integer",
            "description" : "The maximum number of concurrent requests allowed. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string that categorizes the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition, with properties as arrays of strings.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects providing further information about the error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing a unique identifier for the error.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object mapping link names to associated URIs that contain documentation or remediation steps related to the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable message describing the error.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "A string indicating the status of the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object providing more specific details about the error category.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "BatchResponseJournalFetchResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors that occurred during the batch operation, each represented by a StandardError object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs, which may provide additional information or resources related to the batch operation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors that occurred during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of journal fetch responses, each representing a result from the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/JournalFetchResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "FilterResponse" : {
        "required" : [ "createdAt", "filter", "id" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "description" : "A timestamp indicating when the filter was created, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "filter" : {
            "$ref" : "#/components/schemas/Filter"
          },
          "id" : {
            "type" : "integer",
            "description" : "The unique identifier for the filter. It is an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ObjectSubscriptionUpsertRequest" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubscriptionUpsertRequest"
        }, {
          "required" : [ "actions", "objectIds", "objectTypeId", "portalId", "properties", "subscriptionType" ],
          "type" : "object",
          "properties" : {
            "subscriptionType" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "OBJECT", "ASSOCIATION", "EVENT", "APP_LIFECYCLE_EVENT", "LIST_MEMBERSHIP", "GDPR_PRIVACY_DELETION" ],
              "default" : "OBJECT"
            },
            "portalId" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            },
            "actions" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null,
                "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
              }
            },
            "objectTypeId" : {
              "type" : "string",
              "example" : null
            },
            "objectIds" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "integer",
                "format" : "int64",
                "example" : null
              }
            },
            "properties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "SubscriptionListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "An array of SubscriptionResponse objects, each representing a subscription associated with the app. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotBatchResponse" : {
        "required" : [ "snapshotResponses" ],
        "type" : "object",
        "properties" : {
          "snapshotResponses" : {
            "type" : "array",
            "description" : "An array of CrmObjectSnapshotResponse objects, each containing the details of a single CRM object snapshot request. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CrmObjectSnapshotResponse"
            }
          }
        },
        "example" : null
      },
      "GdprPrivacyDeletionSubscriptionUpsertRequest" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubscriptionUpsertRequest"
        }, {
          "required" : [ "actions", "objectTypeId", "portalId", "subscriptionType" ],
          "type" : "object",
          "properties" : {
            "subscriptionType" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "OBJECT", "ASSOCIATION", "EVENT", "APP_LIFECYCLE_EVENT", "LIST_MEMBERSHIP", "GDPR_PRIVACY_DELETION" ],
              "default" : "GDPR_PRIVACY_DELETION"
            },
            "portalId" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            },
            "actions" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null,
                "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
              }
            },
            "objectTypeId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "BatchResponseSubscriptionResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of StandardError objects, detailing any errors that occurred during the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs, providing additional resources or documentation related to the batch operation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of SubscriptionResponse objects, representing the results of the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object where each key is a string and each value is an array of strings.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error along with remediation steps where appropriate. This is a required field.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionResponse_1" : {
        "required" : [ "actions", "appId", "createdAt", "id", "objectTypeId", "subscriptionType", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "actionOverrides" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ActionOverrideRequest"
            },
            "description" : "An object containing action overrides, where each key is an action and the value is an ActionOverrideRequest object.",
            "example" : null
          },
          "actions" : {
            "type" : "array",
            "description" : "An array of actions that trigger the subscription, such as 'CREATE', 'UPDATE', 'DELETE', 'MERGE', 'RESTORE', 'ASSOCIATION_ADDED', 'ASSOCIATION_REMOVED', 'SNAPSHOT', 'APP_INSTALL', 'APP_UNINSTALL', 'ADDED_TO_LIST', 'REMOVED_FROM_LIST', and 'GDPR_DELETE'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "CREATE", "UPDATE", "DELETE", "MERGE", "RESTORE", "ASSOCIATION_ADDED", "ASSOCIATION_REMOVED", "SNAPSHOT", "APP_INSTALL", "APP_UNINSTALL", "ADDED_TO_LIST", "REMOVED_FROM_LIST", "GDPR_DELETE" ]
            }
          },
          "appId" : {
            "type" : "integer",
            "description" : "The unique identifier for the app associated with the subscription, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "associatedObjectTypeIds" : {
            "type" : "array",
            "description" : "An array of strings representing the associated object type IDs for the subscription.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "integer",
            "description" : "The unique identifier for the user who created the subscription, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was deleted, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "integer",
            "description" : "The unique identifier for the subscription, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of integers representing the list IDs associated with the subscription.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectIds" : {
            "type" : "array",
            "description" : "An array of integers representing the object IDs associated with the subscription.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The identifier for the object type associated with the subscription, represented as a string.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "The unique identifier for the portal associated with the subscription, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "description" : "An array of strings representing the properties associated with the subscription.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "The type of subscription, which can be one of 'OBJECT', 'ASSOCIATION', 'EVENT', 'APP_LIFECYCLE_EVENT', 'LIST_MEMBERSHIP', or 'GDPR_PRIVACY_DELETION'.",
            "example" : null,
            "enum" : [ "APP_LIFECYCLE_EVENT", "ASSOCIATION", "EVENT", "GDPR_PRIVACY_DELETION", "LIST_MEMBERSHIP", "OBJECT" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "targetUrl", "throttling" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the webhook settings were created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "The URL to which the webhook events will be sent. It is a string.",
            "example" : null
          },
          "throttling" : {
            "$ref" : "#/components/schemas/ThrottlingSettings"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the webhook settings were last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputSubscriptionBatchUpdateRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of SubscriptionBatchUpdateRequest objects, each representing a subscription to be updated. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionBatchUpdateRequest"
            }
          }
        },
        "example" : null
      },
      "AppLifecycleEventSubscriptionUpsertRequest" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubscriptionUpsertRequest"
        }, {
          "required" : [ "eventTypeId", "properties", "subscriptionType" ],
          "type" : "object",
          "properties" : {
            "subscriptionType" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "OBJECT", "ASSOCIATION", "EVENT", "APP_LIFECYCLE_EVENT", "LIST_MEMBERSHIP", "GDPR_PRIVACY_DELETION" ],
              "default" : "APP_LIFECYCLE_EVENT"
            },
            "eventTypeId" : {
              "type" : "string",
              "example" : null
            },
            "properties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "CrmObjectSnapshotResponse" : {
        "required" : [ "objectId", "objectTypeId", "portalId", "snapshotStatusId" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the CRM object.",
            "format" : "int32",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type identifier of the CRM object.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the HubSpot portal.",
            "format" : "int32",
            "example" : null
          },
          "snapshotStatusId" : {
            "type" : "string",
            "description" : "A UUID string representing the status identifier of the snapshot.",
            "format" : "uuid",
            "example" : null
          }
        },
        "example" : null
      },
      "SnapshotStatusResponse" : {
        "required" : [ "id", "initiatedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "integer",
            "description" : "A Unix timestamp in milliseconds indicating when the snapshot operation was completed.",
            "format" : "int64",
            "example" : null
          },
          "errorCode" : {
            "type" : "string",
            "description" : "The code representing any error that occurred during the snapshot operation. Possible values are 'TIMEOUT', 'VALIDATION_ERROR', 'INTERNAL_ERROR', and 'PERMISSION_DENIED'.",
            "example" : null,
            "enum" : [ "INTERNAL_ERROR", "PERMISSION_DENIED", "TIMEOUT", "VALIDATION_ERROR" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the snapshot operation, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "initiatedAt" : {
            "type" : "integer",
            "description" : "A Unix timestamp in milliseconds indicating when the snapshot operation was initiated.",
            "format" : "int64",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A descriptive message providing additional information about the snapshot operation or any errors encountered.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the snapshot operation. Valid values include 'PENDING', 'IN_PROGRESS', 'COMPLETED', 'FAILED', and 'EXPIRED'.",
            "example" : null,
            "enum" : [ "COMPLETED", "EXPIRED", "FAILED", "IN_PROGRESS", "PENDING" ]
          }
        },
        "example" : null
      },
      "CrmObjectSnapshotRequest" : {
        "required" : [ "objectId", "objectTypeId", "portalId", "properties" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier of the CRM object for which the snapshot is being requested.",
            "format" : "int32",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type identifier of the CRM object.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier of the HubSpot portal.",
            "format" : "int32",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "description" : "An array of strings, each representing a property of the CRM object to be included in the snapshot.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "SubscriptionBatchUpdateRequest" : {
        "required" : [ "active", "id" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the subscription is active.",
            "example" : null
          },
          "id" : {
            "type" : "integer",
            "description" : "The unique identifier for the subscription to be updated. It is an integer.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "SubscriptionResponse" : {
        "required" : [ "active", "createdAt", "eventType", "id" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the subscription is currently active.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of event that triggers the subscription. Valid values include various object changes such as 'contact.propertyChange', 'deal.creation', and 'ticket.deletion'.",
            "example" : null,
            "enum" : [ "company.associationChange", "company.creation", "company.deletion", "company.merge", "company.propertyChange", "company.restore", "contact.associationChange", "contact.creation", "contact.deletion", "contact.merge", "contact.privacyDeletion", "contact.propertyChange", "contact.restore", "conversation.creation", "conversation.deletion", "conversation.newMessage", "conversation.privacyDeletion", "conversation.propertyChange", "deal.associationChange", "deal.creation", "deal.deletion", "deal.merge", "deal.propertyChange", "deal.restore", "event.completed", "line_item.associationChange", "line_item.creation", "line_item.deletion", "line_item.merge", "line_item.propertyChange", "line_item.restore", "object.associationChange", "object.creation", "object.deletion", "object.merge", "object.propertyChange", "object.restore", "product.creation", "product.deletion", "product.merge", "product.propertyChange", "product.restore", "ticket.associationChange", "ticket.creation", "ticket.deletion", "ticket.merge", "ticket.propertyChange", "ticket.restore" ]
          },
          "eventTypeName" : {
            "type" : "string",
            "description" : "A descriptive name for the event type.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the subscription, represented as an integer.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The identifier for the object type associated with the subscription, represented as a string.",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
[...]
