{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CMS Media Bridge",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/media-bridge/2026-09/events/attention-span" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Event",
        "description" : "Create a new attention span event in the MediaBridgeService. This endpoint is used to record attention span events, which can be useful for tracking user engagement with media content. The request must include a valid JSON body conforming to the AttentionSpanEventRequest schema.",
        "operationId" : "post-/media-bridge/2026-09/events/attention-span",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttentionSpanEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttentionSpanEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/events/media-played" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create",
        "description" : "Create a media played event in the HubSpot account. This endpoint is used to log when media content has been played, which can be useful for tracking user engagement with media resources.",
        "operationId" : "post-/media-bridge/2026-09/events/media-played",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/events/media-played-percent" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Record Media Played Percentage",
        "description" : "This endpoint allows you to record the percentage of media that has been played. It is useful for tracking user engagement with media content, such as videos or audio files, by capturing the extent to which the media has been consumed. This data can be used for analytics and improving content delivery strategies.",
        "operationId" : "post-/media-bridge/2026-09/events/media-played-percent",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedPercentageEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedPercentageEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve properties",
        "description" : "Retrieve properties for a specified object type within a given app. This endpoint allows you to filter properties based on whether they are archived and to specify which properties to include in the response. It is useful for accessing and managing the properties associated with different object types in your application.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the properties.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which properties are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma-separated list of property names to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create property",
        "description" : "Create a new property for a specified object type within a given app in the MediaBridge service. This endpoint allows you to define new properties that can be used to store additional information related to the object type. The request must include the necessary property details in the request body.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app where the property will be created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the property is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/batch/archive" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch archive properties",
        "description" : "Archive multiple properties for a specified object type within a given app. This endpoint is useful for managing large sets of properties that are no longer needed or should be hidden from active use. It requires specifying the app ID and object type in the path parameters.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the properties are being archived. This is a required path parameter.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object whose properties are to be archived. This is a required path parameter.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/batch/create" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch create properties",
        "description" : "Create multiple properties in a batch for a specified object type within a given app. This endpoint is useful for efficiently setting up multiple properties at once, reducing the need for multiple individual API calls.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app in which the properties are being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the properties are being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read properties",
        "description" : "Retrieve a batch of properties for a specified object type within a given app. This endpoint is useful for fetching multiple properties efficiently in a single request, especially when dealing with large datasets or when specific properties are needed for processing.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/read",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the properties are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which properties are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/groups" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List groups",
        "description" : "Retrieve a list of property groups for a specified object type within a given app. This endpoint is useful for obtaining organizational information about properties associated with different object types in your application.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the property groups are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the property groups are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyGroupNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Group",
        "description" : "Create a new property group for a specified object type within a given app. This endpoint allows you to organize properties into groups, making it easier to manage and categorize them within your application.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app where the property group will be created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the property group is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve group",
        "description" : "Retrieve a specific property group for a given object type within an app. This endpoint is useful for accessing detailed information about how properties are grouped under a specific group name for a particular object type in your application.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the property group.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The name of the property group to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the property group is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete group",
        "description" : "Delete a specific property group for a given object type within an app. This operation is useful for removing unnecessary or obsolete property groups, helping to maintain a clean and organized structure within your app's properties.",
        "operationId" : "delete-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app where the property group exists.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The name of the property group to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object whose property group is to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update group",
        "description" : "Update the properties of a specific group within a specified object type for a given app. This operation allows you to modify the details of a property group, such as its label or display order, within the context of the MediaBridge service.",
        "operationId" : "patch-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the property group.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The name of the property group to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object that the property group belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve property",
        "description" : "Retrieve a specific property for a given object type within a specified app. This endpoint allows you to access details about a property, including its configuration and settings, for a particular object type identified by the property name. This can be useful for understanding property configurations or for integration purposes.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the property.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the property is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "The name of the property to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma-separated list of property names to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete property",
        "description" : "Delete a specific property from a given object type within an app. This operation is useful for removing properties that are no longer needed or were created in error. The endpoint requires specifying the app ID, object type, and property name to identify the property to be deleted.",
        "operationId" : "delete-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the property.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object from which the property will be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "The name of the property to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update property",
        "description" : "Update an existing property for a specified object type within a given app. This operation allows you to modify the details of a property, such as its label, type, or description, to better fit your application's requirements.",
        "operationId" : "patch-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app in which the property exists.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object that the property belongs to, such as a contact or deal.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "The name of the property to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgePropertyUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/schemas" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve schemas",
        "description" : "Retrieve the schemas associated with a specific app in the HubSpot account. This endpoint allows you to fetch schema details, which can be useful for understanding the data structure and properties associated with the app. You can optionally filter the results to include only archived schemas.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/schemas",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which schemas are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseObjectSchemaNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/schemas/{objectType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve schema",
        "description" : "Retrieve the schema for a specific object type within a given app in your HubSpot account. This endpoint is useful for understanding the structure and properties of a particular object type, which can assist in data integration and management tasks.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the schema is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which the schema is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectSchema"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update schema",
        "description" : "Update the schema for a specific object type within a given app. This operation allows you to modify the existing schema details, which can be useful for adapting to changes in data structure requirements or business logic.",
        "operationId" : "patch-/media-bridge/2026-09/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the schema.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object whose schema is being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ObjectTypeDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/schemas/{objectType}/associations" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create associations",
        "description" : "Create new associations for a specified object type within a given app. This endpoint allows you to define relationships between different object types, enhancing data connectivity and integration within your HubSpot account.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/schemas/{objectType}/associations",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app in which the associations are being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object for which associations are being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssociationDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociationDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/schemas/{objectType}/associations/{associationId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete association",
        "description" : "Remove an existing association between schemas for a specified app in the MediaBridge service. This operation is useful when you need to disassociate entities that are no longer related or to clean up outdated associations.",
        "operationId" : "delete-/media-bridge/2026-09/{appId}/schemas/{objectType}/associations/{associationId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app within which the association exists.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "associationId",
          "in" : "path",
          "description" : "The unique identifier of the association to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "The type of object schema from which the association is being removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update settings",
        "description" : "Update the settings for a specific app in the MediaBridgeService. This endpoint allows you to modify the configuration settings associated with the specified appId. It is useful for updating app-specific settings to ensure they align with your current requirements.",
        "operationId" : "put-/media-bridge/2026-09/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app whose settings are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/event-visibility" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve settings",
        "description" : "Retrieve the event visibility settings for a specific app in the MediaBridge service. This endpoint provides information on how events are visible within the specified application context.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which to retrieve event visibility settings.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update settings",
        "description" : "Update the event visibility settings for a specific app in the MediaBridgeService. This operation allows you to modify how events are displayed or managed for the specified app. It is useful for configuring event visibility preferences based on your application's requirements.",
        "operationId" : "patch-/media-bridge/2026-09/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the event visibility settings are being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventVisibilityChange"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityChange"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/object-definitions" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Object Definitions",
        "description" : "Create new object definitions for a specific app in the HubSpot Media Bridge. This endpoint is used to define new objects that can be utilized within the app, allowing for customization and integration of media-related functionalities.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/settings/object-definitions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the object definitions are being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorObjectCreationRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkIntegratorObjectCreationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/object-definitions/{mediaType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve object definitions",
        "description" : "Retrieve the object definitions for a specified media type within an app. This endpoint allows you to access the settings related to the object definitions of various media types such as VIDEO, AUDIO, DOCUMENT, OTHER, and IMAGE. It is useful for understanding the structure and properties associated with different media types in your application.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/settings/object-definitions/{mediaType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the object definitions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "mediaType",
          "in" : "path",
          "description" : "The type of media for which the object definitions are being retrieved. Valid values are VIDEO, AUDIO, DOCUMENT, OTHER, and IMAGE.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AUDIO", "DOCUMENT", "IMAGE", "OTHER", "VIDEO" ]
          }
        }, {
          "name" : "includeFullDefinition",
          "in" : "query",
          "description" : "A boolean indicating whether to include the full definition of the object. If true, the response will contain more detailed information.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectDefinitionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/oembed-domains" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List OEmbed Domains",
        "description" : "Retrieve the list of OEmbed domains associated with a specific app in your HubSpot account. This endpoint is useful for managing and verifying the domains that are allowed to embed media content. It provides a way to ensure that only trusted domains are used for embedding media.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which to retrieve the OEmbed domains.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "domainPortalId",
          "in" : "query",
          "description" : "The ID of the portal domain to filter the results. Defaults to -1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OEmbedDomainsCollectionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create",
        "description" : "Create a new oEmbed domain setting for a specific app in your HubSpot account. This endpoint allows you to define domains that can be used for oEmbed purposes, facilitating the integration of media content from external sources.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the oEmbed domain setting is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete domains",
        "description" : "Delete oEmbed domains associated with a specific app in HubSpot. This operation allows you to manage and remove domains that are no longer needed for embedding media content within the app's settings.",
        "operationId" : "delete-/media-bridge/2026-09/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the oEmbed domain settings are being managed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "domainPortalId",
          "in" : "query",
          "description" : "The portal ID associated with the domain. Defaults to -1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : -1
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "The unique identifier of the oEmbed domain to delete.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve domain",
        "description" : "Retrieve details of a specific oEmbed domain for a given app. This endpoint is useful for fetching configuration or settings related to oEmbed domains associated with a particular application.",
        "operationId" : "get-/media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the oEmbed domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "description" : "The unique identifier of the oEmbed domain to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update oEmbed domain",
        "description" : "Update the settings for a specific oEmbed domain associated with a given app. This endpoint allows you to modify the configuration of an oEmbed domain, which can be useful for managing how media content is embedded across different domains.",
        "operationId" : "patch-/media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the oEmbed domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "description" : "The unique identifier of the oEmbed domain to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/register" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Register Settings",
        "description" : "Register settings for a specific app in the MediaBridge service. This endpoint is deprecated and should be used with caution. It allows for the registration of settings associated with the specified app ID.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/settings/register",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the settings are being registered.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/2026-09/{appId}/settings/video-association-definition" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Define Video Association",
        "description" : "Create a video association definition for a specific application in the HubSpot Media Bridge. This endpoint is used to define how videos are associated with other objects within the specified app. It is particularly useful for applications that need to manage video content and its relationships programmatically.",
        "operationId" : "post-/media-bridge/2026-09/{appId}/settings/video-association-definition_/media-bridge/v1/{appId}/settings/video-association-definition",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the application for which the video association definition is being created. It is an integer value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociationDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteValue" : {
        "title" : "ABSOLUTE_VALUE",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of inputs for the absolute value calculation. Each input can be a constant number or a reference to another numerical value.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/SetContainsAnyString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              }, {
                "$ref" : "#/components/schemas/ValidateWhen"
              }, {
                "$ref" : "#/components/schemas/CoalesceString"
              }, {
                "$ref" : "#/components/schemas/CoalesceNumber"
              }, {
                "$ref" : "#/components/schemas/CoalesceBoolean"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator for the absolute value calculation. It is expected to be 'ABSOLUTE_VALUE'.",
            "example" : null,
            "default" : "ABSOLUTE_VALUE",
            "enum" : [ "ABSOLUTE_VALUE" ]
          },
          "propertyName" : {
            "type" : "string",
            "description" : "A string that specifies the name of the property being operated on.",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "description" : "The result of the absolute value operation, represented as a number.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AddNumbers" : {
        "title" : "ADD_NUMBERS",
        "required" : [ "enclosedInParentheses", "operator" ],
        "type" : "object",
        "properties" : {
          "enclosedInParentheses" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the operation is enclosed in parentheses, affecting the order of operations.",
            "example" : null
          },
          "inputs" : {
            "type" : "array",
            "description" : "An array of inputs for the addition operation. Each input can be a constant, a variable, or another operation.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/SetContainsAnyString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              }, {
                "$ref" : "#/components/schemas/ValidateWhen"
              }, {
                "$ref" : "#/components/schemas/CoalesceString"
              }, {
                "$ref" : "#/components/schemas/CoalesceNumber"
              }, {
                "$ref" : "#/components/schemas/CoalesceBoolean"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation type. The default value is 'ADD_NUMBERS'.",
            "example" : null,
            "default" : "ADD_NUMBERS",
            "enum" : [ "ADD_NUMBERS" ]
          },
          "propertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property involved in the operation.",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "description" : "A number that represents the result of the addition operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AddTime" : {
        "title" : "ADD_TIME",
        "required" : [ "operator", "stringToCheck" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of inputs used for the time addition operation. Each input can be a constant, property variable, or another operation.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/SetContainsAnyString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              }, {
                "$ref" : "#/components/schemas/ValidateWhen"
              }, {
                "$ref" : "#/components/schemas/CoalesceString"
              }, {
                "$ref" : "#/components/schemas/CoalesceNumber"
              }, {
                "$ref" : "#/components/schemas/CoalesceBoolean"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, defaulting to 'ADD_TIME'.",
            "example" : null,
            "default" : "ADD_TIME",
            "enum" : [ "ADD_TIME" ]
          },
          "propertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property involved in the time addition operation.",
            "example" : null
          },
          "stringToCheck" : {
            "description" : "A string value that may be used to validate or perform checks within the operation.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ConstantBoolean"
            }, {
              "$ref" : "#/components/schemas/ConstantNumber"
            }, {
              "$ref" : "#/components/schemas/ConstantString"
            }, {
              "$ref" : "#/components/schemas/BooleanPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/AddNumbers"
            }, {
              "$ref" : "#/components/schemas/SubtractNumbers"
            }, {
              "$ref" : "#/components/schemas/MultiplyNumbers"
            }, {
              "$ref" : "#/components/schemas/DivideNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundDownNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundUpNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundNearestNumbers"
            }, {
              "$ref" : "#/components/schemas/UpperCase"
            }, {
              "$ref" : "#/components/schemas/LowerCase"
            }, {
              "$ref" : "#/components/schemas/ConcatStrings"
            }, {
              "$ref" : "#/components/schemas/Contains"
            }, {
              "$ref" : "#/components/schemas/BeginsWith"
            }, {
              "$ref" : "#/components/schemas/NumberToString"
            }, {
              "$ref" : "#/components/schemas/ParseNumber"
            }, {
              "$ref" : "#/components/schemas/FetchExchangeRate"
            }, {
              "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
            }, {
              "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
            }, {
              "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
            }, {
              "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
            }, {
              "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
            }, {
              "$ref" : "#/components/schemas/DatedExchangeRate"
            }, {
              "$ref" : "#/components/schemas/PipelineProbability"
            }, {
              "$ref" : "#/components/schemas/MaxNumbers"
            }, {
              "$ref" : "#/components/schemas/MinNumbers"
            }, {
              "$ref" : "#/components/schemas/LessThan"
            }, {
              "$ref" : "#/components/schemas/LessThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/MoreThan"
            }, {
              "$ref" : "#/components/schemas/MoreThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/NumberEquals"
            }, {
              "$ref" : "#/components/schemas/StringEquals"
            }, {
              "$ref" : "#/components/schemas/IsPipelineStageClosed"
            }, {
              "$ref" : "#/components/schemas/Not"
            }, {
              "$ref" : "#/components/schemas/Date"
            }, {
              "$ref" : "#/components/schemas/Month"
            }, {
              "$ref" : "#/components/schemas/Year"
            }, {
              "$ref" : "#/components/schemas/Now"
            }, {
              "$ref" : "#/components/schemas/TimeBetween"
            }, {
              "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
            }, {
              "$ref" : "#/components/schemas/PeriodToMonths"
            }, {
              "$ref" : "#/components/schemas/PeriodToWeeks"
            }, {
              "$ref" : "#/components/schemas/And"
            }, {
              "$ref" : "#/components/schemas/Or"
            }, {
              "$ref" : "#/components/schemas/Xor"
            }, {
              "$ref" : "#/components/schemas/IfString"
            }, {
              "$ref" : "#/components/schemas/IfNumber"
            }, {
              "$ref" : "#/components/schemas/IfBoolean"
            }, {
              "$ref" : "#/components/schemas/IsPresent"
            }, {
              "$ref" : "#/components/schemas/IfChainString"
            }, {
              "$ref" : "#/components/schemas/IfChainNumber"
            }, {
              "$ref" : "#/components/schemas/IfChainBoolean"
            }, {
              "$ref" : "#/components/schemas/HasEmailReply"
            }, {
              "$ref" : "#/components/schemas/HasPlainTextEmailReply"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
            }, {
              "$ref" : "#/components/schemas/SetContainsString"
            }, {
              "$ref" : "#/components/schemas/SetContainsAnyString"
            }, {
              "$ref" : "#/components/schemas/IsEngagementType"
            }, {
              "$ref" : "#/components/schemas/FormatFullName"
            }, {
[...]
