{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Webhooks Webhooks",
    "description" : "Provides a way for apps to subscribe to certain change events in HubSpot. Once configured, apps will receive event payloads containing details about the changes at a specified target URL. There can only be one target URL for receiving event notifications per app.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "STARTER",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You're building a custom integration that syncs contact data with HubSpot and you need to programmatically determine when certain fields are updated in your HubSpot account.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Webhooks Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/webhooks/overview"
    } ],
    "x-hubspot-introduction" : "The Webhooks API allows you to subscribe to events happening in a HubSpot account with your integration installed. Rather than making an API call when an event happens in a connected account, HubSpot can send an HTTP request to an endpoint you configure."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Subscriptions"
  }, {
    "name" : "Settings"
  } ],
  "paths" : {
    "/webhooks/v3/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Read webhook settings",
        "description" : "Retrieve the webhook settings for the specified app, including the webhook’s target URL, throttle configuration, and create/update date.",
        "operationId" : "get-/webhooks/v3/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings" ],
        "summary" : "Update webhook settings",
        "description" : "Update webhook settings for the specified app.",
        "operationId" : "put-/webhooks/v3/{appId}/settings_configure",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings" ],
        "summary" : "Delete webhook settings",
        "description" : "Delete the webhook settings for the specified app. Event subscriptions will not be deleted, but will be paused until another webhook is created.",
        "operationId" : "delete-/webhooks/v3/{appId}/settings_clear",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/webhooks/v3/{appId}/subscriptions/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Read an event subscription",
        "description" : "Retrieve a specific event subscription by ID.",
        "operationId" : "get-/webhooks/v3/{appId}/subscriptions/{subscriptionId}_getById",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the event subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Delete event subscription",
        "description" : "Delete an existing event subscription by ID.",
        "operationId" : "delete-/webhooks/v3/{appId}/subscriptions/{subscriptionId}_archive",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the event subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Update an event subscription",
        "description" : "Update an existing event subscription by ID.",
        "operationId" : "patch-/webhooks/v3/{appId}/subscriptions/{subscriptionId}_update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the event subscription.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/webhooks/v3/{appId}/subscriptions" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Read event subscriptions",
        "description" : "Retrieve event subscriptions for the specified app.",
        "operationId" : "get-/webhooks/v3/{appId}/subscriptions_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Create an event subscription",
        "description" : "Create new event subscription for the specified app.",
        "operationId" : "post-/webhooks/v3/{appId}/subscriptions_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/webhooks/v3/{appId}/subscriptions/batch/update" : {
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Batch create event subscriptions",
        "description" : "Batch create event subscriptions for the specified app.",
        "operationId" : "post-/webhooks/v3/{appId}/subscriptions/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSubscriptionBatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriptionResponseWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ThrottlingSettings" : {
        "required" : [ "maxConcurrentRequests" ],
        "type" : "object",
        "properties" : {
          "maxConcurrentRequests" : {
            "type" : "integer",
            "description" : "The maximum number of concurrent HTTP requests HubSpot will attempt to make to your app.",
            "format" : "int32"
          }
        },
        "description" : "Configuration details for webhook throttling."
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          }
        },
        "description" : "Ye olde error"
      },
      "BatchResponseSubscriptionResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed.",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested.",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started.",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of related links associated with the batch operation."
          },
          "results" : {
            "type" : "array",
            "description" : "The list of results from the batch operation.",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "SubscriptionListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "List of event subscriptions for your app",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          }
        },
        "description" : "List of event subscriptions for your app"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SettingsChangeRequest" : {
        "required" : [ "targetUrl", "throttling" ],
        "type" : "object",
        "properties" : {
          "throttling" : {
            "$ref" : "#/components/schemas/ThrottlingSettings"
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "A publicly available URL for HubSpot to call where event payloads will be delivered."
          }
        },
        "description" : "New or updated webhook settings for an app.",
        "example" : {
          "targetUrl" : "https://www.example.com/hubspot/target",
          "throttling" : {
            "maxConcurrentRequests" : 10,
            "period" : "SECONDLY"
          }
        }
      },
      "SubscriptionPatchRequest" : {
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "Determines if the subscription is active or paused."
          }
        },
        "description" : "Updated details for the subscription.",
        "example" : {
          "active" : true
        }
      },
      "BatchResponseSubscriptionResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "targetUrl", "throttling" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "When this subscription was created. Formatted as milliseconds from the [Unix epoch](#).",
            "format" : "date-time"
          },
          "throttling" : {
            "$ref" : "#/components/schemas/ThrottlingSettings"
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "A publicly available URL for HubSpot to call where event payloads will be delivered. See [link-so-some-doc](#) for details about the format of these event payloads."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "When this subscription was last updated. Formatted as milliseconds from the [Unix epoch](#).",
            "format" : "date-time"
          }
        },
        "description" : "Webhook settings for an app.",
        "example" : {
          "targetUrl" : "https://www.example.com/hubspot/target",
          "throttling" : {
            "maxConcurrentRequests" : 10,
            "period" : "SECONDLY"
          },
          "createdAt" : "2020-01-24T16:27:59Z",
          "updatedAt" : "2020-01-24T16:32:43Z"
        }
      },
      "BatchInputSubscriptionBatchUpdateRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionBatchUpdateRequest"
            }
          }
        }
      },
      "SubscriptionBatchUpdateRequest" : {
        "required" : [ "active", "id" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SubscriptionResponse" : {
        "required" : [ "active", "createdAt", "eventType", "id" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "When this subscription was created. Formatted as milliseconds from the [Unix epoch](#).",
            "format" : "date-time"
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The identifier of the object type associated with the subscription."
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The internal name of the property being monitored for changes. Only applies when `eventType` is `propertyChange`."
          },
          "active" : {
            "type" : "boolean",
            "description" : "Determines if the subscription is active or paused."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Type of event to listen for. Can be one of `create`, `delete`, `deletedForPrivacy`, or `propertyChange`.",
            "enum" : [ "contact.propertyChange", "company.propertyChange", "deal.propertyChange", "ticket.propertyChange", "product.propertyChange", "line_item.propertyChange", "contact.creation", "contact.deletion", "contact.privacyDeletion", "company.creation", "company.deletion", "deal.creation", "deal.deletion", "ticket.creation", "ticket.deletion", "product.creation", "product.deletion", "line_item.creation", "line_item.deletion", "conversation.creation", "conversation.deletion", "conversation.newMessage", "conversation.privacyDeletion", "conversation.propertyChange", "contact.merge", "company.merge", "deal.merge", "ticket.merge", "product.merge", "line_item.merge", "contact.restore", "company.restore", "deal.restore", "ticket.restore", "product.restore", "line_item.restore", "contact.associationChange", "company.associationChange", "deal.associationChange", "ticket.associationChange", "line_item.associationChange", "object.propertyChange", "object.creation", "object.deletion", "object.merge", "object.restore", "object.associationChange" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the subscription."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "When this subscription was last updated. Formatted as milliseconds from the [Unix epoch](#).",
            "format" : "date-time"
          }
        },
        "description" : "Complete details for an event subscription."
      },
      "SubscriptionCreateRequest" : {
        "required" : [ "eventType" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The internal name of the property to monitor for changes. Only applies when `eventType` is `propertyChange`."
          },
          "active" : {
            "type" : "boolean",
            "description" : "Determines if the subscription is active or paused. Defaults to false."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Type of event to listen for. Can be one of `create`, `delete`, `deletedForPrivacy`, or `propertyChange`.",
            "enum" : [ "contact.propertyChange", "company.propertyChange", "deal.propertyChange", "ticket.propertyChange", "product.propertyChange", "line_item.propertyChange", "contact.creation", "contact.deletion", "contact.privacyDeletion", "company.creation", "company.deletion", "deal.creation", "deal.deletion", "ticket.creation", "ticket.deletion", "product.creation", "product.deletion", "line_item.creation", "line_item.deletion", "conversation.creation", "conversation.deletion", "conversation.newMessage", "conversation.privacyDeletion", "conversation.propertyChange", "contact.merge", "company.merge", "deal.merge", "ticket.merge", "product.merge", "line_item.merge", "contact.restore", "company.restore", "deal.restore", "ticket.restore", "product.restore", "line_item.restore", "contact.associationChange", "company.associationChange", "deal.associationChange", "ticket.associationChange", "line_item.associationChange", "object.propertyChange", "object.creation", "object.deletion", "object.merge", "object.restore", "object.associationChange" ]
          }
        },
        "description" : "New webhook settings for an app.",
        "example" : {
          "active" : true,
          "eventType" : "contact.propertyChange",
          "propertyName" : "email"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "STARTER",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}