{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Marketing Events",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Events Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/marketing/marketing-events"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Attendance_External"
  }, {
    "name" : "Attendance_External_V2"
  }, {
    "name" : "Lists_Reference_External"
  }, {
    "name" : "Marketing_Events_External"
  }, {
    "name" : "Marketing_Events_V2"
  }, {
    "name" : "Participations_External"
  }, {
    "name" : "Settings_External"
  } ],
  "paths" : {
    "/marketing/v3/marketing-events/" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "get-/marketing/v3/marketing-events/_getAll",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseMarketingEventPublicReadResponseV2ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists" : {
      "get" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists_getAllByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}" : {
      "put" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "put-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}_associateByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "delete-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}_disassociateByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{marketingEventId}/lists" : {
      "get" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/associations/{marketingEventId}/lists_getAllByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}" : {
      "put" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "put-/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}_associateByMarketingEventId",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "marketingEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists_Reference_External" ],
        "operationId" : "delete-/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}_disassociateByMarketingEventId",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "marketingEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create_recordByContactIds",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create_recordByContactEmails",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/batch/archive" : {
      "post" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "post-/marketing/v3/marketing-events/batch/archive_archiveByObjectId",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventPublicObjectIdDeleteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/batch/update" : {
      "post" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "post-/marketing/v3/marketing-events/batch/update_updateByObjectId",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventPublicUpdateRequestFullV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/delete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/delete_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/search" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/events/search_doSearch",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSearchPublicResponseWrapperNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/upsert_upsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/events/{externalEventId}_getDetails",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "put-/marketing/v3/marketing-events/events/{externalEventId}_upsert",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "delete-/marketing/v3/marketing-events/events/{externalEventId}_archive",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "patch-/marketing/v3/marketing-events/events/{externalEventId}_update",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventUpdateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/cancel" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/cancel_cancel",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/complete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/complete_complete",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCompleteRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert_upsertByContactEmail",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert_upsertByContactId",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown_getParticipationsBreakdownByContactId",
        "parameters" : [ {
          "name" : "contactIdentifier",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "state",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}_getParticipationsCountersByEventExternalId",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown_getParticipationsBreakdownByExternalEventId",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "state",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{marketingEventId}" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}_getParticipationsCountersByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown_getParticipationsBreakdownByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "state",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings_External" ],
        "operationId" : "get-/marketing/v3/marketing-events/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventDetailSettingsUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{externalEventId}/identifiers" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "get-/marketing/v3/marketing-events/{externalEventId}/identifiers_searchPortalEvents",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalMarketingEventIdentifiersResponseNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "get-/marketing/v3/marketing-events/{objectId}_getByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponseV2"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "delete-/marketing/v3/marketing-events/{objectId}_archiveByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_V2" ],
        "operationId" : "patch-/marketing/v3/marketing-events/{objectId}_updateByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventPublicUpdateRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponseV2"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External_V2" ],
        "operationId" : "post-/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/create_recordByContactId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External_V2" ],
        "operationId" : "post-/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/email-create_recordByEmail",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "MarketingEventCompleteRequestParams" : {
        "required" : [ "endDateTime", "startDateTime" ],
        "type" : "object",
        "properties" : {
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event in ISO 8601 format",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event in ISO 8601 format",
            "format" : "date-time"
          }
        }
      },
      "ParticipationProperties" : {
        "required" : [ "attendanceState", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "attendanceDurationSeconds" : {
            "type" : "integer",
            "description" : "The number of seconds the participation lasted",
            "format" : "int32"
          },
          "attendancePercentage" : {
            "type" : "string",
            "description" : "Percentage of the participation duration relative to the event duration"
          },
          "attendanceState" : {
            "type" : "string",
            "description" : "The state of the participation",
            "enum" : [ "ATTENDED", "CANCELLED", "EMPTY", "NO_SHOW", "REGISTERED" ]
          },
          "occurredAt" : {
            "type" : "integer",
            "description" : "Timestamp of when the participation occurred",
            "format" : "int64"
          }
        }
      },
      "SubscriberEmailResponse" : {
        "required" : [ "email", "vid" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email of the contact"
          },
          "vid" : {
            "type" : "integer",
            "description" : "The internal ID of the contact",
            "format" : "int32"
          }
        }
      },
      "MarketingEventPublicReadResponse" : {
        "required" : [ "attendees", "cancellations", "createdAt", "customProperties", "eventName", "eventOrganizer", "externalEventId", "id", "noShows", "registrants", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "attendees" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that attended this marketing event.",
            "format" : "int32"
          },
          "cancellations" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event, but later cancelled their registration.",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The creation date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The id of the marketing event in the external event application."
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the marketing event CRM object."
          },
          "noShows" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event, but did not attend. This field only had a value when the event is over.",
            "format" : "int32"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the marketing event CRM object."
          },
          "registrants" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event.",
            "format" : "int32"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The update date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventAssociation" : {
        "required" : [ "marketingEventId", "name" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string",
            "description" : "The account ID that is associated with this marketing event in the external event application"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The event ID that is associated with this marketing event in the external event application"
          },
          "marketingEventId" : {
            "type" : "string",
            "description" : "The internal ID of the marketing event in HubSpot"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the marketing event in HubSpot"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "MarketingEventEmailSubscriber" : {
        "required" : [ "contactProperties", "email", "interactionDateTime", "properties" ],
        "type" : "object",
        "properties" : {
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The key-value set that contains properties of the contact."
          },
          "email" : {
            "type" : "string",
            "description" : "The email address of the contact in HubSpot to associate with the event."
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "Timestamp in milliseconds at which the contact subscribed to the event.",
            "format" : "int64"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The key-value set that contains properties of the marketing event."
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicList" : {
        "required" : [ "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Timestamp of the creation of the list",
            "format" : "date-time"
          },
          "createdById" : {
            "type" : "string",
            "description" : "The ID of the user who created the list"
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "Timestamp of the deletion of the list",
            "format" : "date-time"
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "Timestamp of the last update of the list filters",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "An internal ID of the list"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "A number that represents a version of the list",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the list"
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The internal ID of the object type of the list"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "Represents the current processing status of the list"
          },
          "processingType" : {
            "type" : "string",
            "description" : "Processing type of the list"
          },
          "size" : {
            "type" : "integer",
            "description" : "The size of the result list",
            "format" : "int64"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp of the last update of the list",
            "format" : "date-time"
          },
          "updatedById" : {
            "type" : "string",
            "description" : "The ID of the user who last updated the list"
          }
        }
      },
      "MarketingEventExternalUniqueIdentifier" : {
        "required" : [ "appId", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "The id of the application that created the marketing event in HubSpot.",
            "format" : "int32"
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "The accountId that is associated with this marketing event in the external event application."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The id of the marketing event in the external event application."
          }
        }
      },
      "CrmPropertyWrapper" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the property in the CRM"
          },
          "value" : {
            "type" : "string",
            "description" : "The value of the property in the CRM"
          }
        }
      },
      "SearchPublicResponseWrapper" : {
        "required" : [ "appId", "externalAccountId", "externalEventId", "objectId" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "The ID of the source application of the marketing event",
            "format" : "int32"
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "The account ID associated with this marketing event in the external application"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The ID of the marketing event in the external event application"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The internal ID of the marketing event in HubSpot"
          }
        }
      },
      "SubscriberVidResponse" : {
        "required" : [ "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "description" : "The internal ID of the contact",
            "format" : "int32"
          }
        }
      },
      "MarketingEventPublicUpdateRequestV2" : {
        "required" : [ "customProperties" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event"
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event"
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventIdentifiersResponse" : {
        "required" : [ "externalEventId", "marketingEventName", "objectId" ],
        "type" : "object",
        "properties" : {
          "appInfo" : {
            "$ref" : "#/components/schemas/AppInfo"
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "The accountId that is associated with this marketing event in the external event application"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The ID that is associated with this marketing event in the external event application"
          },
          "marketingEventName" : {
            "type" : "string",
            "description" : "The name of the marketing event"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The internal ID of the marketing event in HubSpot CRM"
          }
        }
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "isLargeValue", "name", "persistenceTimestamp", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceUpstreamDeployable", "sourceVid", "timestamp", "unit", "updatedByUserId", "useTimestampAsPersistenceTimestamp", "value" ],
        "type" : "object",
        "properties" : {
          "dataSensitivity" : {
            "type" : "string",
            "description" : "Level of data sensitivity",
            "enum" : [ "high", "none", "standard" ]
          },
          "isEncrypted" : {
            "type" : "boolean",
            "description" : "Indicates whether the property is encrypted"
          },
          "isLargeValue" : {
            "type" : "boolean",
            "description" : "Indicates whether the property value is stored as a large value in the storage"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of custom property"
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "description" : "The timestamp that indicates when the value being written is persisted in storage",
            "format" : "int64"
          },
          "requestId" : {
            "type" : "string",
            "description" : "The ID of the request"
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : "Indicates whether the property is selected"
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "Timestamp of when the property was selected by the user",
            "format" : "int64"
          },
          "source" : {
            "type" : "string",
            "description" : "Source of the property",
            "enum" : [ "ACADEMY", "ACCEPTANCE_TEST", "ACTIVITY_AUTO_ASSOCIATE", "ADS", "AI_GROUP", "ANALYTICS", "API", "APPROVALS", "ASSISTS", "ASSOCIATIONS", "AUTO_ASSOCIATE_BY_DOMAIN", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM", "AVATARS_SERVICE", "BATCH_UPDATE", "BCC_TO_CRM", "BEHAVIORAL_EVENTS", "BET_ASSIGNMENT", "BET_CRM_CONNECTOR", "BIDEN", "BILLING", "BOT", "CALCULATED", "CENTRAL_EXCHANGE_RATES", "CHATSPOT", "CLONE_OBJECTS", "COMMUNICATOR", "COMPANIES", "COMPANY_FAMILIES", "COMPANY_INSIGHTS", "CONTACTS", "CONTACTS_WEB", "CONTENT_MEMBERSHIP", "CONVERSATIONAL_ENRICHMENT", "CONVERSATIONS", "CRM_PROCESSES_PLATFORM", "CRM_UI", "CRM_UI_BULK_ACTION", "CUSTOMER_AGENT", "DATA_ENRICHMENT", "DATASET", "DEALS", "DEFAULT", "DELETE_OBJECTS", "EMAIL", "EMAIL_INBOX_IMPORT", "EMAIL_INTEGRATION", "ENGAGEMENTS", "EXTENSION", "FILE_MANAGER", "FLYWHEEL_PRODUCT_DATA_SYNC", "FORECASTING", "FORM", "FORWARD_TO_CRM", "GMAIL_INTEGRATION", "GOALS", "HEISENBERG", "HELP_DESK", "HELP_DESK_AI", "IMPORT", "INTEGRATION", "INTEGRATIONS_PLATFORM", "INTEGRATIONS_SYNC", "INTENT", "INTERNAL_PROCESSING", "LEADIN", "LEGAL_BASIS_REMEDIATION", "MARKET_SOURCING", "MARKETPLACE", "MEETINGS", "MERGE_COMPANIES", "MERGE_CONTACTS", "MERGE_OBJECTS", "MERGE_REVERT_OBJECTS", "MICROAPPS", "MIGRATION", "MOBILE_ANDROID", "MOBILE_IOS", "PAYMENTS", "PIPELINE_SETTINGS", "PLAYBOOKS", "PORTAL_OBJECT_SYNC", "PORTAL_USER_ASSOCIATOR", "PRESENTATIONS", "PRIMARY_AUTOMATION", "PROPERTY_DEFAULT_VALUE", "PROPERTY_RESTORE", "PROPERTY_SETTINGS", "PROSPECTING_AGENT", "QUOTAS", "QUOTES", "RECYCLING_BIN", "RESTORE_OBJECTS", "SALES", "SALES_MESSAGES", "SALESFORCE", "SEQUENCES", "SETTINGS", "SIDEKICK", "SIGNALS", "SLACK_INTEGRATION", "SOCIAL", "SUCCESS", "TALLY", "TASK", "UNKNOWN", "WAL_INCREMENTAL", "WORK_UI", "WORKFLOW_CONTACT_DELETE_ACTION", "WORKFLOWS" ]
          },
          "sourceId" : {
            "type" : "string",
            "description" : "ID of the source of the property"
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : "Label of the source of the property"
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "Source metadata encoded as a base64 string"
          },
          "sourceUpstreamDeployable" : {
            "type" : "string",
            "description" : "Indicates which upstream service made the property change"
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "The unique identifier associated with the source.",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "Timestamp of the request",
            "format" : "int64"
          },
          "unit" : {
            "type" : "string",
            "description" : "The unit"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who last updated the property",
            "format" : "int32"
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean",
            "description" : "Indicates if the persistence timestamp is the same as storage version timestamp"
          },
          "value" : {
            "type" : "string",
            "description" : "Custom property value"
          }
        },
        "description" : "Represents a single custom property of a marketing event, storing its name, value, metadata (like source, timestamp, and sensitivity), and related audit information for tracking changes."
      },
      "BatchInputMarketingEventExternalUniqueIdentifier" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "MarketingEventUpdateRequestParams" : {
        "required" : [ "customProperties" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled. Defaults to `false`"
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed. Defaults to `false`"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Describes what type of event this is.  For example: `WEBINAR`, `CONFERENCE`, `WORKSHOP`"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "AppInfo" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the application"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the application"
          }
        }
      },
      "CollectionResponseWithTotalPublicListNoPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicList"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "Total amount of elements",
            "format" : "int32"
          }
        }
      },
      "ContactAssociation" : {
        "required" : [ "contactId", "email" ],
        "type" : "object",
        "properties" : {
          "contactId" : {
            "type" : "string",
            "description" : "The internal ID of the contact in HubSpot"
          },
          "email" : {
            "type" : "string",
            "description" : "The email of the contact in HubSpot"
          },
          "firstname" : {
            "type" : "string",
            "description" : "The first name of the contact in HubSpot"
          },
          "lastname" : {
            "type" : "string",
            "description" : "The last name of the contact in HubSpot"
          }
        }
      },
      "ParticipationBreakdown" : {
        "required" : [ "associations", "createdAt", "id", "properties" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "$ref" : "#/components/schemas/ParticipationAssociations"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The creation time and date of the target marketing event",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The internal ID of the target marketing event"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ParticipationProperties"
          }
        }
      },
      "MarketingEventPublicDefaultResponse" : {
        "required" : [ "createdAt", "customProperties", "eventName", "eventOrganizer", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The creation date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the marketing event CRM object."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the marketing event CRM object."
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The update date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberVidResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "Timestamp that represents when the request finished processing",
            "format" : "date-time"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Result of the request"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors that occurred during the processing",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "Timestamp that represents when the request was made",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberVidResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "Timestamp that represents when the request started processing",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the request processing",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "MarketingEventDefaultResponse" : {
        "required" : [ "customProperties", "eventName", "eventOrganizer" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "The URL in the external event application where the marketing event can be managed."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the marketing event CRM object"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "ParticipationAssociations" : {
        "required" : [ "contact", "marketingEvent" ],
        "type" : "object",
        "properties" : {
          "contact" : {
            "$ref" : "#/components/schemas/ContactAssociation"
          },
          "marketingEvent" : {
            "$ref" : "#/components/schemas/MarketingEventAssociation"
          }
        }
      },
      "BatchInputMarketingEventSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "List of HubSpot contacts to subscribe to the marketing event",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventSubscriber"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The category of the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "The object that contains details of the errors"
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the request"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Results of the request"
          },
          "message" : {
            "type" : "string",
            "description" : "The error message"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the response"
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "The Sub-category of the error"
          }
        },
        "description" : "Ye olde error"
      },
      "MarketingEventCreateRequestParams" : {
        "required" : [ "customProperties", "eventName", "eventOrganizer", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled.  Defaults to `false`"
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed.  Defaults to `false`"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Describes what type of event this is.  For example: `WEBINAR`, `CONFERENCE`, `WORKSHOP`"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "The accountId that is associated with this marketing event in the external event application."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The id of the marketing event in the external event application."
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "BatchInputMarketingEventPublicUpdateRequestFullV2" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventPublicUpdateRequestFullV2"
            }
          }
        }
      },
      "CollectionResponseWithTotalMarketingEventIdentifiersResponseNoPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventIdentifiersResponse"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "Total amount of elements",
            "format" : "int32"
          }
        }
      },
      "EventDetailSettings" : {
        "required" : [ "appId", "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "The id of the application the settings are for",
            "format" : "int32"
          },
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "The url that will be used to fetch marketing event details by id"
          }
        }
      },
      "MarketingEventSubscriber" : {
        "required" : [ "interactionDateTime", "properties", "vid" ],
        "type" : "object",
        "properties" : {
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "Timestamp in milliseconds at which the contact subscribed to the event.",
            "format" : "int64"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The key-value set of the properties of the contact"
          },
          "vid" : {
            "type" : "integer",
            "description" : "The ID of the contact in HubSpot",
            "format" : "int32"
          }
        }
      },
      "EventDetailSettingsUrl" : {
        "required" : [ "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "The url that will be used to fetch marketing event details by id. Must contain a `%s` character sequence that will be substituted with the event id. For example: `https://my.event.app/events/%s`"
          }
        }
      },
      "BatchInputMarketingEventEmailSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "List of marketing event details to create or update",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventEmailSubscriber"
            }
          }
        }
      },
      "CollectionResponseMarketingEventPublicReadResponseV2ForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventPublicReadResponseV2"
            }
          }
        }
      },
      "MarketingEventPublicDefaultResponseV2" : {
        "required" : [ "createdAt", "customProperties", "eventName", "objectId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "appInfo" : {
            "$ref" : "#/components/schemas/AppInfo"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The creation date and time of the marketing event",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CrmPropertyWrapper"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled"
          },
          "eventCompleted" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been completed"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event"
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event"
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The internal ID of the marketing event in HubSpot"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The update date and time of the marketing event",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventPublicUpdateRequestFullV2" : {
        "required" : [ "customProperties", "objectId" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event",
            "format" : "date-time"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event"
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event"
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The internal ID of the marketing event in HubSpot"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event",
            "format" : "date-time"
          }
        }
      },
[...]
