{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "マーケティングイベント",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "ウェビナーの登録を処理する外部システムを使用していて、参加者のデータや行動が確実にHubSpot CRMと同期されるようにしたいと考えています。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Events Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/marketing-events"
    } ],
    "x-hubspot-introduction" : "マーケティングイベントAPIを使用すれば、イベントや登録のデータをご使用のHubSpotアカウントと同期するカスタム連携を構築できます。マーケティングイベントAPIを使用すれば、イベントや登録のデータをご使用のHubSpotアカウントと同期するカスタム連携を構築できます。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Marketing_Events_External"
  }, {
    "name" : "Attendance_External"
  }, {
    "name" : "Settings_External"
  } ],
  "paths" : {
    "/marketing/v3/marketing-events/events/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "複数のマーケティングイベントを作成または更新",
        "description" : "複数のマーケティングイベントを更新／挿入します。指定されたIDの既存のマーケティングイベントが存在する場合は更新され、存在しない場合はイベントが新規作成されます。",
        "operationId" : "post-/marketing/v3/marketing-events/events/upsert_doUpsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "記録",
        "description" : "HubSpotコンタクトIDを使用して、複数のHubSpotコンタクトとマーケティングイベント間の登録状態を記録します。",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create_create",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "マーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "HubSpotコンタクトと指定されたマーケティングイベントの新規登録者状態。例：「register」、「attend」、または「cancel」。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "記録",
        "description" : "コンタクトのEメールアドレスを使用して、複数のHubSpotコンタクトとマーケティングイベント間の登録状態を記録します。コンタクトが存在しない場合は、自動的に作成されます。",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create_createByEmail",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "マーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "HubSpotコンタクトと指定されたマーケティングイベントの新規登録者状態。例：「register」、「attend」、または「cancel」。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "記録",
        "description" : "コンタクトのEメールアドレスを使用して、複数のHubSpotコンタクトとマーケティングイベント間の登録状態を記録します。コンタクトがすでにHubSpotに存在している必要がある点に注意してください。コンタクトは作成されません。",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert_doEmailUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "マーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "HubSpotコンタクトと指定されたマーケティングイベントの新規登録者状態",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/complete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/complete_complete",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCompleteRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "記録",
        "description" : "HubSpotコンタクトIDを使用して、複数のHubSpotコンタクトとマーケティングイベント間の登録状態を記録します。コンタクトがすでにHubSpotに存在している必要がある点に注意してください。コンタクトは作成されません。",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert_doUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "マーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "HubSpotコンタクトと指定されたマーケティングイベントの新規登録者状態",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを作成",
        "description" : "HubSpotにマーケティングイベントが新規作成されます",
        "operationId" : "post-/marketing/v3/marketing-events/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/delete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "複数のマーケティングイベントを削除",
        "description" : "HubSpotで多数のマーケティングイベントを一括削除",
        "operationId" : "post-/marketing/v3/marketing-events/events/delete_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/cancel" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントをキャンセル済みにする",
        "description" : "マーケティングイベントをキャンセル済みにします。",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/cancel_doCancel",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "キャンセル済みにするマーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings_External" ],
        "summary" : "アプリケーション設定を取得",
        "description" : "アプリケーションの現在の設定を取得します。",
        "operationId" : "get-/marketing/v3/marketing-events/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "設定を取得するアプリケーションのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings_External" ],
        "summary" : "アプリケーション設定を更新",
        "description" : "アプリケーションの現在の設定を作成または更新します。",
        "operationId" : "post-/marketing/v3/marketing-events/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "設定を更新するアプリケーションのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventDetailSettingsUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/search" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを検索",
        "description" : "イベントIDがクエリー文字列で始まるマーケティングイベントを検索",
        "operationId" : "get-/marketing/v3/marketing-events/events/search_doSearch",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "外部イベントアプリケーションのマーケティングイベントのID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを取得",
        "description" : "指定されたIDのマーケティングイベントが存在する場合、その詳細が返されます。",
        "operationId" : "get-/marketing/v3/marketing-events/events/{externalEventId}_getById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "返すマーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを作成または更新",
        "description" : "複数のマーケティングイベントが更新／挿入されます。指定されたIDの既存のマーケティングイベントが存在する場合は更新され、存在しない場合はイベントが新規作成されます。",
        "operationId" : "put-/marketing/v3/marketing-events/events/{externalEventId}_replace",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "更新／挿入するマーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを削除",
        "description" : "指定されたIDの既存のマーケティングイベントが存在する場合、削除されます。",
        "operationId" : "delete-/marketing/v3/marketing-events/events/{externalEventId}_archive",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "削除するマーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "マーケティングイベントを更新",
        "description" : "指定されたIDの既存のマーケティングイベントが存在する場合、更新されます。",
        "operationId" : "patch-/marketing/v3/marketing-events/events/{externalEventId}_update",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "更新するマーケティングイベントのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "マーケティングイベントに関連付けられているアカウントID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventUpdateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "MarketingEventCreateRequestParams" : {
        "required" : [ "eventName", "eventOrganizer", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの開始日時。",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "PropertyValuesのリスト。任意のプロパティーの名前と値をを指定できます。ただし、HubSpotアカウントのMarketingEventオブジェクトの定義に存在している必要があります。存在していない場合、除外されて、設定されません。\n存在させるには、特定のアプリについてHubSpotアカウントのMarketingEventオブジェクトでPropertyGroupを新規作成し、そのHubSpotアカウントで追跡するカスタムプロパティーを作成する必要があります。MarketingEventで既定のプロパティーを新規作成すると全てのHubSpotアカウントに適用されることになるため、作成しないでください。\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "外部イベントアプリケーションでこのマーケティングイベントに関連付けられているaccountId。"
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "マーケティングイベントがキャンセルされたかどうかを示します。既定値は「false」です"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "マーケティングイベントの主催者の名前。"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "マーケティングイベントを管理できる外部イベントアプリケーションのURL。"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "外部イベントアプリケーションのマーケティングイベントのID。"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "マーケティングイベントの説明。"
          },
          "eventName" : {
            "type" : "string",
            "description" : "マーケティングイベントの名前。"
          },
          "eventType" : {
            "type" : "string",
            "description" : "このイベントのタイプが説明されます。例：「WEBINAR」、「CONFERENCE」、「WORKSHOP」"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの終了日時。",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventCompleteRequestParams" : {
        "required" : [ "endDateTime", "startDateTime" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "SubscriberEmailResponse" : {
        "required" : [ "email", "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "EventDetailSettings" : {
        "required" : [ "appId", "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "設定の対象となるアプリケーションのID",
            "format" : "int32"
          },
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "IDを基準にマーケティングイベントの詳細を取得するために使用されるURL"
          }
        }
      },
      "MarketingEventPublicReadResponse" : {
        "required" : [ "attendees", "cancellations", "createdAt", "eventName", "eventOrganizer", "externalEventId", "id", "noShows", "registrants", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "registrants" : {
            "type" : "integer",
            "description" : "このマーケティングイベントに登録したHubSpotコンタクトの数。",
            "format" : "int32"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "マーケティングイベントの主催者の名前。"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "マーケティングイベントを管理できる外部イベントアプリケーションのURL。"
          },
          "attendees" : {
            "type" : "integer",
            "description" : "このマーケティングイベントに参加したHubSpotコンタクトの数。",
            "format" : "int32"
          },
          "eventType" : {
            "type" : "string",
            "description" : "マーケティングイベントのタイプ。"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの終了日時。",
            "format" : "date-time"
          },
          "noShows" : {
            "type" : "integer",
            "description" : "このマーケティングイベントに登録したが、参加しなかったHubSpotコンタクトの数。このフィールドに値が含まれるのはイベントの終了後のみです。",
            "format" : "int32"
          },
          "cancellations" : {
            "type" : "integer",
            "description" : "このマーケティングイベントに登録したが、後で登録をキャンセルしたHubSpotコンタクトの数。",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの開始日時。",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "PropertyValuesのリスト。任意のプロパティーの名前と値をを指定できます。ただし、HubSpotアカウントのMarketingEventオブジェクトの定義に存在している必要があります。存在していない場合、除外されて、設定されません。\n存在させるには、特定のアプリについてHubSpotアカウントのMarketingEventオブジェクトでPropertyGroupを新規作成し、そのHubSpotアカウントで追跡するカスタムプロパティーを作成する必要があります。MarketingEventで既定のプロパティーを新規作成すると全てのHubSpotアカウントに適用されることになるため、作成しないでください。\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "マーケティングイベントがキャンセルされたかどうかを示します。"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "外部イベントアプリケーションのマーケティングイベントのID。"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "マーケティングイベントの説明。"
          },
          "eventName" : {
            "type" : "string",
            "description" : "マーケティングイベントの名前。"
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventSubscriber" : {
        "required" : [ "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "コンタクトがイベントに登録した日時。",
            "format" : "int64"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "MarketingEventEmailSubscriber" : {
        "required" : [ "email", "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "イベントに関連付けるHubSpotのコンタクトのEメールアドレス。"
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "コンタクトがイベントに登録した日時。",
            "format" : "int64"
          }
        }
      },
      "EventDetailSettingsUrl" : {
        "required" : [ "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "IDを基準にマーケティングイベントの詳細を取得するために使用されるURL。 イベントIDに置き換えられる「%s」文字シーケンスが含まれている必要があります。例：「https://my.event.app/events/%s」"
          }
        }
      },
      "BatchInputMarketingEventEmailSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "作成または更新するマーケティングイベントの詳細のリスト",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventEmailSubscriber"
            }
          }
        }
      },
      "MarketingEventExternalUniqueIdentifier" : {
        "required" : [ "appId", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string",
            "description" : "外部イベントアプリケーションでこのマーケティングイベントに関連付けられているaccountId。"
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "外部イベントアプリケーションのマーケティングイベントのID。"
          },
          "appId" : {
            "type" : "integer",
            "description" : "HubSpotでマーケティングイベントを作成したアプリケーションのID。",
            "format" : "int32"
          }
        }
      },
      "SubscriberVidResponse" : {
        "required" : [ "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "BatchInputMarketingEventCreateRequestParams" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "name", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceVid", "timestamp", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : ""
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : ""
          },
          "source" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "UNKNOWN", "IMPORT", "API", "FORM", "ANALYTICS", "MIGRATION", "SALESFORCE", "INTEGRATION", "CONTACTS_WEB", "WAL_INCREMENTAL", "TASK", "EMAIL", "WORKFLOWS", "CALCULATED", "SOCIAL", "BATCH_UPDATE", "SIGNALS", "BIDEN", "DEFAULT", "COMPANIES", "DEALS", "ASSISTS", "PRESENTATIONS", "TALLY", "SIDEKICK", "CRM_UI", "MERGE_CONTACTS", "PORTAL_USER_ASSOCIATOR", "INTEGRATIONS_PLATFORM", "BCC_TO_CRM", "FORWARD_TO_CRM", "ENGAGEMENTS", "SALES", "HEISENBERG", "LEADIN", "GMAIL_INTEGRATION", "ACADEMY", "SALES_MESSAGES", "AVATARS_SERVICE", "MERGE_COMPANIES", "SEQUENCES", "COMPANY_FAMILIES", "MOBILE_IOS", "MOBILE_ANDROID", "CONTACTS", "ASSOCIATIONS", "EXTENSION", "SUCCESS", "BOT", "INTEGRATIONS_SYNC", "AUTOMATION_PLATFORM", "CONVERSATIONS", "EMAIL_INTEGRATION", "CONTENT_MEMBERSHIP", "QUOTES", "BET_ASSIGNMENT", "QUOTAS", "BET_CRM_CONNECTOR", "MEETINGS", "MERGE_OBJECTS", "RECYCLING_BIN", "ADS", "AI_GROUP", "COMMUNICATOR", "SETTINGS", "PROPERTY_SETTINGS", "PIPELINE_SETTINGS", "COMPANY_INSIGHTS", "BEHAVIORAL_EVENTS", "PAYMENTS", "GOALS", "PORTAL_OBJECT_SYNC", "APPROVALS", "FILE_MANAGER", "MARKETPLACE", "INTERNAL_PROCESSING", "FORECASTING", "SLACK_INTEGRATION", "CRM_UI_BULK_ACTION", "WORKFLOW_CONTACT_DELETE_ACTION", "ACCEPTANCE_TEST", "PLAYBOOKS", "CHATSPOT", "FLYWHEEL_PRODUCT_DATA_SYNC", "HELP_DESK", "BILLING", "DATA_ENRICHMENT" ]
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "base64文字列としてエンコードされたソースメタデータ。例：「ZXhhbXBsZSBzdHJpbmc=」"
          },
          "dataSensitivity" : {
            "type" : "string",
            "enum" : [ "none", "standard", "high" ]
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "requestId" : {
            "type" : "string",
            "description" : ""
          },
          "isEncrypted" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "isLargeValue" : {
            "type" : "boolean"
          }
        }
      },
      "BatchInputMarketingEventExternalUniqueIdentifier" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "MarketingEventUpdateRequestParams" : {
        "type" : "object",
        "properties" : {
          "importStatus" : {
            "type" : "string"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの開始日時。",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "PropertyValuesのリスト。任意のプロパティーの名前と値をを指定できます。ただし、HubSpotアカウントのMarketingEventオブジェクトの定義に存在している必要があります。存在していない場合、除外されて、設定されません。\n存在させるには、特定のアプリについてHubSpotアカウントのMarketingEventオブジェクトでPropertyGroupを新規作成し、そのHubSpotアカウントで追跡するカスタムプロパティーを作成する必要があります。MarketingEventで既定のプロパティーを新規作成すると全てのHubSpotアカウントに適用されることになるため、作成しないでください。\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "マーケティングイベントがキャンセルされたかどうかを示します。既定値は「false」です"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "マーケティングイベントの主催者の名前。"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "マーケティングイベントを管理できる外部イベントアプリケーションのURL。"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "マーケティングイベントの説明。"
          },
          "eventName" : {
            "type" : "string",
            "description" : "マーケティングイベントの名前。"
          },
          "eventType" : {
            "type" : "string",
            "description" : "このイベントのタイプが説明されます。例：「WEBINAR」、「CONFERENCE」、「WORKSHOP」"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの終了日時。",
            "format" : "date-time"
          },
          "attendanceStateCalculationTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberEmailResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberEmailResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventPublicDefaultResponse" : {
        "required" : [ "createdAt", "eventName", "eventOrganizer", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "eventOrganizer" : {
            "type" : "string",
            "description" : "マーケティングイベントの主催者の名前。"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "マーケティングイベントを管理できる外部イベントアプリケーションのURL。"
          },
          "eventType" : {
            "type" : "string",
            "description" : "マーケティングイベントのタイプ。"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの終了日時。",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの開始日時。",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "PropertyValuesのリスト。任意のプロパティーの名前と値をを指定できます。ただし、HubSpotアカウントのMarketingEventオブジェクトの定義に存在している必要があります。存在していない場合、除外されて、設定されません。\n存在させるには、特定のアプリについてHubSpotアカウントのMarketingEventオブジェクトでPropertyGroupを新規作成し、そのHubSpotアカウントで追跡するカスタムプロパティーを作成する必要があります。MarketingEventで既定のプロパティーを新規作成すると全てのHubSpotアカウントに適用されることになるため、作成しないでください。\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "マーケティングイベントがキャンセルされたかどうかを示します。"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "マーケティングイベントの説明。"
          },
          "eventName" : {
            "type" : "string",
            "description" : "マーケティングイベントの名前。"
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberVidResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberVidResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventDefaultResponse" : {
        "required" : [ "eventName", "eventOrganizer" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの開始日時。",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "PropertyValuesのリスト。任意のプロパティーの名前と値をを指定できます。ただし、HubSpotアカウントのMarketingEventオブジェクトの定義に存在している必要があります。存在していない場合、除外されて、設定されません。\n存在させるには、特定のアプリについてHubSpotアカウントのMarketingEventオブジェクトでPropertyGroupを新規作成し、そのHubSpotアカウントで追跡するカスタムプロパティーを作成する必要があります。MarketingEventで既定のプロパティーを新規作成すると全てのHubSpotアカウントに適用されることになるため、作成しないでください。\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "マーケティングイベントがキャンセルされたかどうかを示します。"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "マーケティングイベントの主催者の名前。"
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "マーケティングイベントを管理できる外部イベントアプリケーションのURL。"
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "マーケティングイベントの説明。"
          },
          "eventName" : {
            "type" : "string",
            "description" : "マーケティングイベントの名前。"
          },
          "eventType" : {
            "type" : "string",
            "description" : "マーケティングイベントのタイプ。"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "マーケティングイベントの終了日時。",
            "format" : "date-time"
          }
        }
      },
      "BatchInputMarketingEventSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "マーケティングイベントに登録するHubSpotコンタクトのリスト",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventSubscriber"
            }
          }
        }
      },
      "BatchResponseMarketingEventPublicDefaultResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.marketing_events.write" : "Write marketing events",
              "crm.objects.marketing_events.read" : "Read marketing events"
            }
          }
        }
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}