{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Événements marketing",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Un système externe gère l'inscription à vos webinaires pour vous et vous souhaitez vous assurer que les données et le comportement des participants sont synchronisés avec votre CRM HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Events Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/marketing-events"
    } ],
    "x-hubspot-introduction" : "L'API des événements marketing vous permet de créer une intégration personnalisée qui synchronisera les données des événements et des inscriptions avec votre compte HubSpot. L'API des événements marketing vous permet de créer une intégration personnalisée qui synchronisera les données des événements et des inscriptions avec votre compte HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Marketing_Events_External"
  }, {
    "name" : "Attendance_External"
  }, {
    "name" : "Settings_External"
  } ],
  "paths" : {
    "/marketing/v3/marketing-events/events/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Créer ou mettre à jour plusieurs événements marketing",
        "description" : "Insérer plusieurs événements marketing. S'il existe un événement marketing existant avec l'identifiant spécifié, il sera mis à jour, sinon, un nouvel événement sera créé.",
        "operationId" : "post-/marketing/v3/marketing-events/events/upsert_doUpsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "Enregistrer",
        "description" : "Enregistrez un statut d'abonnement entre plusieurs contacts HubSpot et un événement marketing, en utilisant les identifiants de contact HubSpot.",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create_create",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "Le nouveau statut d'abonné pour les contacts HubSpot et l'événement marketing spécifié. Par exemple : « s'inscrire », « participer » ou « annuler ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "Enregistrer",
        "description" : "Enregistrez un statut d'abonnement entre plusieurs contacts HubSpot et un événement marketing, en utilisant les adresses e-mail des contacts. Si le contact n'est pas présent, il sera automatiquement créé.",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create_createByEmail",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "Le nouveau statut d'abonné pour les contacts HubSpot et l'événement marketing spécifié. Par exemple : « s'inscrire », « participer » ou « annuler ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Enregistrer",
        "description" : "Enregistrer un état d'abonnement entre plusieurs contacts HubSpot et un événement marketing, en utilisant les adresses e-mail des contacts. Remarque : le contact doit déjà exister dans HubSpot, un contact ne sera pas créé.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert_doEmailUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "Le nouvel état d'abonné pour les contacts HubSpot et l'événement marketing spécifié",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/complete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/complete_complete",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCompleteRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Enregistrer",
        "description" : "Enregistrer un état d'abonnement entre plusieurs contacts HubSpot et un événement marketing, en utilisant les identifiants de contact HubSpot. Remarque : le contact doit déjà exister dans HubSpot, un contact ne sera pas créé.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert_doUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "Le nouvel état d'abonné pour les contacts HubSpot et l'événement marketing spécifié",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Créer un événement marketing",
        "description" : "Crée un nouvel événement marketing dans HubSpot",
        "operationId" : "post-/marketing/v3/marketing-events/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/delete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Supprimer plusieurs événements marketing",
        "description" : "Supprimer en masse un certain nombre d'événements marketing dans HubSpot",
        "operationId" : "post-/marketing/v3/marketing-events/events/delete_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/cancel" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Marquer un événement marketing comme annulé",
        "description" : "Marquer un événement marketing comme annulé.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/cancel_doCancel",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing à marquer comme annulé",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings_External" ],
        "summary" : "Récupérer les paramètres de l'application",
        "description" : "Récupérer les paramètres actuels de l'application.",
        "operationId" : "get-/marketing/v3/marketing-events/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'identifiant de l'application pour récupérer les paramètres.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings_External" ],
        "summary" : "Mettre à jour les paramètres de l'application",
        "description" : "Créer ou mettre à jour les paramètres actuels de l'application.",
        "operationId" : "post-/marketing/v3/marketing-events/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'identifiant de l'application pour mettre à jour les paramètres.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventDetailSettingsUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/search" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Rechercher des événements marketing",
        "description" : "Rechercher des événements marketing dont l'identifiant d'événement commence par la chaîne de requête",
        "operationId" : "get-/marketing/v3/marketing-events/events/search_doSearch",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "L'identifiant de l'événement marketing dans l'application d'événements externe",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Obtenir un événement marketing",
        "description" : "Renvoie les détails de l'événement marketing avec l'identifiant spécifié, s'il existe.",
        "operationId" : "get-/marketing/v3/marketing-events/events/{externalEventId}_getById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing à renvoyer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Créer ou mettre à jour un événement marketing",
        "description" : "Insère un événement marketing. S'il existe un événement marketing existant avec l'identifiant spécifié, il sera mis à jour, sinon, un nouvel événement sera créé.",
        "operationId" : "put-/marketing/v3/marketing-events/events/{externalEventId}_replace",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing à insérer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Supprimer un événement marketing",
        "description" : "Supprime un événement marketing existant avec l'identifiant spécifié, s'il existe.",
        "operationId" : "delete-/marketing/v3/marketing-events/events/{externalEventId}_archive",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing à supprimer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Mettez à jour un événement marketing",
        "description" : "Met à jour un événement marketing existant avec l'identifiant spécifié, s'il existe.",
        "operationId" : "patch-/marketing/v3/marketing-events/events/{externalEventId}_update",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "L'identifiant de l'événement marketing à mettre à jour",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "L'identifiant de contact associé à l'événement marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventUpdateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "MarketingEventCreateRequestParams" : {
        "required" : [ "eventName", "eventOrganizer", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de début de l'événement marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Une liste de « PropertyValues ». Il peut s'agir de n'importe quel type de noms et de valeurs de propriétés que vous souhaitez. Toutefois, ils doivent déjà exister dans la définition de l'objet « MarketingEvent » du compte HubSpot. S'ils n'existent pas, ils seront filtrés et non définis.\nPour ce faire, vous devrez créer un nouveau groupe de propriétés sur l'objet MarketingEvent du compte HubSpot pour votre application spécifique et créer la propriété personnalisée que vous souhaitez suivre sur ce compte HubSpot. Ne créez aucune nouvelle propriété par défaut sur l'objet MarketingEvent, car cela s'appliquerait à tous les comptes HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "L'identifiant du compte associé à cet événement marketing dans l'application d'événement externe."
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indique si l'événement marketing a été annulé. « false » par défaut"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "Le nom de l'organisateur de l'évènement marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Une URL dans l'application d'événement externe d'où il est possible de gérer l'événement marketing."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "L'identifiant de l'événement marketing dans l'application d'événements externe."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La description de l'événement marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "Le nom de l'évènement marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Décrit le type d'événement. Par exemple : « WEBINAR », « CONFERENCE », « WORKSHOP »"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de fin de l'événement marketing.",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventCompleteRequestParams" : {
        "required" : [ "endDateTime", "startDateTime" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "SubscriberEmailResponse" : {
        "required" : [ "email", "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "EventDetailSettings" : {
        "required" : [ "appId", "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "L'identifiant de l'application pour laquelle les paramètres sont définis",
            "format" : "int32"
          },
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "L'URL qui sera utilisée pour récupérer les détails de l'événement marketing par ID."
          }
        }
      },
      "MarketingEventPublicReadResponse" : {
        "required" : [ "attendees", "cancellations", "createdAt", "eventName", "eventOrganizer", "externalEventId", "id", "noShows", "registrants", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "registrants" : {
            "type" : "integer",
            "description" : "Le nombre de contacts HubSpot qui se sont inscrits à cet événement marketing.",
            "format" : "int32"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "Le nom de l'organisateur de l'évènement marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Une URL dans l'application d'événement externe d'où il est possible de gérer l'événement marketing."
          },
          "attendees" : {
            "type" : "integer",
            "description" : "Le nombre de contacts HubSpot qui ont assisté à cet événement marketing.",
            "format" : "int32"
          },
          "eventType" : {
            "type" : "string",
            "description" : "Le type de l'événement marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de fin de l'événement marketing.",
            "format" : "date-time"
          },
          "noShows" : {
            "type" : "integer",
            "description" : "Le nombre de contacts HubSpot qui se sont inscrits à cet événement marketing, mais n'y ont pas assisté. Ce champ n'a de valeur que lorsque l'événement est terminé.",
            "format" : "int32"
          },
          "cancellations" : {
            "type" : "integer",
            "description" : "Le nombre de contacts HubSpot qui se sont inscrits à cet événement marketing, mais ont ensuite annulé leur inscription.",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de début de l'événement marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Une liste de « PropertyValues ». Il peut s'agir de n'importe quel type de noms et de valeurs de propriétés que vous souhaitez. Toutefois, ils doivent déjà exister dans la définition de l'objet « MarketingEvent » du compte HubSpot. S'ils n'existent pas, ils seront filtrés et non définis.\nPour ce faire, vous devrez créer un nouveau groupe de propriétés sur l'objet MarketingEvent du compte HubSpot pour votre application spécifique et créer la propriété personnalisée que vous souhaitez suivre sur ce compte HubSpot. Ne créez aucune nouvelle propriété par défaut sur l'objet MarketingEvent, car cela s'appliquerait à tous les comptes HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indique si l'événement marketing a été annulé."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "L'identifiant de l'événement marketing dans l'application d'événements externe."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La description de l'événement marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "Le nom de l'évènement marketing."
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventSubscriber" : {
        "required" : [ "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "La date et l'heure auxquelles le contact s'est inscrit à l'événement.",
            "format" : "int64"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "MarketingEventEmailSubscriber" : {
        "required" : [ "email", "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "L'adresse e-mail du contact dans HubSpot à associer à l'événement."
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "La date et l'heure auxquelles le contact s'est inscrit à l'événement.",
            "format" : "int64"
          }
        }
      },
      "EventDetailSettingsUrl" : {
        "required" : [ "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "L'URL qui sera utilisée pour récupérer les détails de l'événement marketing par ID. Elle doit contenir une séquence de caractères « %s » qui sera substituée par l'ID de l'événement. Par exemple : « https://my.event.app/events/%s »"
          }
        }
      },
      "BatchInputMarketingEventEmailSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "Liste des détails de l'événement marketing à créer ou mettre à jour",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventEmailSubscriber"
            }
          }
        }
      },
      "MarketingEventExternalUniqueIdentifier" : {
        "required" : [ "appId", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string",
            "description" : "L'identifiant du compte associé à cet événement marketing dans l'application d'événement externe."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "L'identifiant de l'événement marketing dans l'application d'événements externe."
          },
          "appId" : {
            "type" : "integer",
            "description" : "L'ID de l'application qui a créé l'événement marketing dans HubSpot.",
            "format" : "int32"
          }
        }
      },
      "SubscriberVidResponse" : {
        "required" : [ "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "BatchInputMarketingEventCreateRequestParams" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets de support",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "name", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceVid", "timestamp", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : ""
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : ""
          },
          "source" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "UNKNOWN", "IMPORT", "API", "FORM", "ANALYTICS", "MIGRATION", "SALESFORCE", "INTEGRATION", "CONTACTS_WEB", "WAL_INCREMENTAL", "TASK", "EMAIL", "WORKFLOWS", "CALCULATED", "SOCIAL", "BATCH_UPDATE", "SIGNALS", "BIDEN", "DEFAULT", "COMPANIES", "DEALS", "ASSISTS", "PRESENTATIONS", "TALLY", "SIDEKICK", "CRM_UI", "MERGE_CONTACTS", "PORTAL_USER_ASSOCIATOR", "INTEGRATIONS_PLATFORM", "BCC_TO_CRM", "FORWARD_TO_CRM", "ENGAGEMENTS", "SALES", "HEISENBERG", "LEADIN", "GMAIL_INTEGRATION", "ACADEMY", "SALES_MESSAGES", "AVATARS_SERVICE", "MERGE_COMPANIES", "SEQUENCES", "COMPANY_FAMILIES", "MOBILE_IOS", "MOBILE_ANDROID", "CONTACTS", "ASSOCIATIONS", "EXTENSION", "SUCCESS", "BOT", "INTEGRATIONS_SYNC", "AUTOMATION_PLATFORM", "CONVERSATIONS", "EMAIL_INTEGRATION", "CONTENT_MEMBERSHIP", "QUOTES", "BET_ASSIGNMENT", "QUOTAS", "BET_CRM_CONNECTOR", "MEETINGS", "MERGE_OBJECTS", "RECYCLING_BIN", "ADS", "AI_GROUP", "COMMUNICATOR", "SETTINGS", "PROPERTY_SETTINGS", "PIPELINE_SETTINGS", "COMPANY_INSIGHTS", "BEHAVIORAL_EVENTS", "PAYMENTS", "GOALS", "PORTAL_OBJECT_SYNC", "APPROVALS", "FILE_MANAGER", "MARKETPLACE", "INTERNAL_PROCESSING", "FORECASTING", "SLACK_INTEGRATION", "CRM_UI_BULK_ACTION", "WORKFLOW_CONTACT_DELETE_ACTION", "ACCEPTANCE_TEST", "PLAYBOOKS", "CHATSPOT", "FLYWHEEL_PRODUCT_DATA_SYNC", "HELP_DESK", "BILLING", "DATA_ENRICHMENT" ]
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "Source des métadonnées encodées en chaîne base64. Par exemple : « ZXhhbXBsZSBzdHJpbmc= »"
          },
          "dataSensitivity" : {
            "type" : "string",
            "enum" : [ "none", "standard", "high" ]
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "requestId" : {
            "type" : "string",
            "description" : ""
          },
          "isEncrypted" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "isLargeValue" : {
            "type" : "boolean"
          }
        }
      },
      "BatchInputMarketingEventExternalUniqueIdentifier" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "MarketingEventUpdateRequestParams" : {
        "type" : "object",
        "properties" : {
          "importStatus" : {
            "type" : "string"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de début de l'événement marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Une liste de « PropertyValues ». Il peut s'agir de n'importe quel type de noms et de valeurs de propriétés que vous souhaitez. Toutefois, ils doivent déjà exister dans la définition de l'objet « MarketingEvent » du compte HubSpot. S'ils n'existent pas, ils seront filtrés et non définis.\nPour ce faire, vous devrez créer un nouveau groupe de propriétés sur l'objet MarketingEvent du compte HubSpot pour votre application spécifique et créer la propriété personnalisée que vous souhaitez suivre sur ce compte HubSpot. Ne créez aucune nouvelle propriété par défaut sur l'objet MarketingEvent, car cela s'appliquerait à tous les comptes HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indique si l'événement marketing a été annulé. Par défaut, « faux »"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "Le nom de l'organisateur de l'évènement marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Une URL dans l'application d'événement externe d'où il est possible de gérer l'événement marketing."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La description de l'événement marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "Le nom de l'évènement marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Décrit le type d'événement. Par exemple : « WEBINAR », « CONFERENCE », « WORKSHOP »"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de fin de l'événement marketing.",
            "format" : "date-time"
          },
          "attendanceStateCalculationTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberEmailResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberEmailResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventPublicDefaultResponse" : {
        "required" : [ "createdAt", "eventName", "eventOrganizer", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "eventOrganizer" : {
            "type" : "string",
            "description" : "Le nom de l'organisateur de l'évènement marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Une URL dans l'application d'événement externe d'où il est possible de gérer l'événement marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Le type de l'événement marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de fin de l'événement marketing.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de début de l'événement marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Une liste de « PropertyValues ». Il peut s'agir de n'importe quel type de noms et de valeurs de propriétés que vous souhaitez. Toutefois, ils doivent déjà exister dans la définition de l'objet « MarketingEvent » du compte HubSpot. S'ils n'existent pas, ils seront filtrés et non définis.\nPour ce faire, vous devrez créer un nouveau groupe de propriétés sur l'objet MarketingEvent du compte HubSpot pour votre application spécifique et créer la propriété personnalisée que vous souhaitez suivre sur ce compte HubSpot. Ne créez aucune nouvelle propriété par défaut sur l'objet MarketingEvent, car cela s'appliquerait à tous les comptes HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indique si l'événement marketing a été annulé."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La description de l'événement marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "Le nom de l'évènement marketing."
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberVidResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberVidResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventDefaultResponse" : {
        "required" : [ "eventName", "eventOrganizer" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de début de l'événement marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Une liste de « PropertyValues ». Il peut s'agir de n'importe quel type de noms et de valeurs de propriétés que vous souhaitez. Toutefois, ils doivent déjà exister dans la définition de l'objet « MarketingEvent » du compte HubSpot. S'ils n'existent pas, ils seront filtrés et non définis.\nPour ce faire, vous devrez créer un nouveau groupe de propriétés sur l'objet MarketingEvent du compte HubSpot pour votre application spécifique et créer la propriété personnalisée que vous souhaitez suivre sur ce compte HubSpot. Ne créez aucune nouvelle propriété par défaut sur l'objet MarketingEvent, car cela s'appliquerait à tous les comptes HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indique si l'événement marketing a été annulé."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "Le nom de l'organisateur de l'évènement marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "L'URL dans l'application d'événement externe d'où il est possible de gérer l'événement marketing."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La description de l'événement marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "Le nom de l'évènement marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Le type de l'événement marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La date et l'heure de fin de l'événement marketing.",
            "format" : "date-time"
          }
        }
      },
      "BatchInputMarketingEventSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "Liste des contacts HubSpot à inscrire à l'événement marketing",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventSubscriber"
            }
          }
        }
      },
      "BatchResponseMarketingEventPublicDefaultResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.marketing_events.write" : "Write marketing events",
              "crm.objects.marketing_events.read" : "Read marketing events"
            }
          }
        }
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}