{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Marketing Events",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You have an external system that handles registration for your webinars and you want to ensure that attendee data and behavior is synced with your HubSpot CRM.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Events Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/marketing/marketing-events"
    } ],
    "x-hubspot-introduction" : "A marketing event is a CRM object, similar to contacts and companies, that enables you to track marketing events, such as a webinar, along with the contacts who registered and attended the event. Below, learn more about working with the marketing event API to integrate marketing events into an app."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Marketing_Events_External"
  }, {
    "name" : "Attendance_External"
  }, {
    "name" : "Lists_Reference_External"
  }, {
    "name" : "Participations_External"
  }, {
    "name" : "Marketing_Events_V2"
  }, {
    "name" : "Settings_External"
  }, {
    "name" : "Attendance_External_V2"
  } ],
  "paths" : {
    "/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "summary" : "Read participations breakdown by Marketing Event internal identifier",
        "description" : "Read Marketing event's participations breakdown with optional filters by internal identifier marketingEventId.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown_getParticipationsBreakdownByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "Record Participants by ContactId with Marketing Event External Ids",
        "description" : "Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create_recordByContactIds",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Record a subscriber state by contact ID",
        "description" : "Record a subscriber state between multiple HubSpot contacts and a marketing event, using HubSpot contact IDs. Note that the contact must already exist in HubSpot; a contact will not be created.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert_upsertByContactId",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Get Marketing Event by External IDs",
        "description" : "Returns the details of a Marketing Event with the specified externalAccountId, externalEventId, if it exists.\n\nOnly Marketing Events created by the same app making the request can be retrieved.",
        "operationId" : "get-/marketing/v3/marketing-events/events/{externalEventId}_getDetails",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Create or update a marketing event",
        "description" : "Upserts a marketing event If there is an existing marketing event with the specified ID, it will be updated; otherwise a new event will be created.",
        "operationId" : "put-/marketing/v3/marketing-events/events/{externalEventId}_upsert",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Delete Marketing Event by External Ids",
        "description" : "Deletes the existing Marketing Event with the specified externalAccountId, externalEventId, if it exists.\n\nOnly Marketing Events created by the same app can be deleted.",
        "operationId" : "delete-/marketing/v3/marketing-events/events/{externalEventId}_archive",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Update Marketing Event by External IDs",
        "description" : "Updates the details of an existing Marketing Event identified by its externalAccountId, externalEventId if it exists.\n\nOnly Marketing Events created by the same app can be updated.",
        "operationId" : "patch-/marketing/v3/marketing-events/events/{externalEventId}_update",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventUpdateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Create or Update Multiple Marketing Events",
        "description" : "Upserts multiple Marketing Events. If a Marketing Event with the specified ID already exists, it will be updated; otherwise, a new event will be created.\n\nOnly Marketing Events originally created by the same app can be updated.",
        "operationId" : "post-/marketing/v3/marketing-events/events/upsert_upsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External" ],
        "summary" : "Record Participants by Email with Marketing Event External Ids",
        "description" : "Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.\n\nIf a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create_recordByContactEmails",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "summary" : "Read participations breakdown by Marketing Event external identifier",
        "description" : "Read Marketing event's participations breakdown with optional filters by externalAccountId and externalEventId pair.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown_getParticipationsBreakdownByExternalEventId",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Get Marketing Event by objectId",
        "description" : "Returns the details of a Marketing Event with the specified objectId, if it exists.",
        "operationId" : "get-/marketing/v3/marketing-events/{objectId}_getByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The internal ID of the marketing event in HubSpot",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponseV2"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Delete Marketing Event by objectId",
        "description" : "Deletes the existing Marketing Event with the specified objectId, if it exists.",
        "operationId" : "delete-/marketing/v3/marketing-events/{objectId}_archiveByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The internal ID of the marketing event in HubSpot",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Update Marketing Event by objectId",
        "description" : "Updates the details of an existing Marketing Event identified by its objectId, if it exists.",
        "operationId" : "patch-/marketing/v3/marketing-events/{objectId}_updateByObjectId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The internal ID of the marketing event in HubSpot",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventPublicUpdateRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponseV2"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists" : {
      "get" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Get lists associated with a marketing event",
        "description" : "Gets lists associated with a marketing event by external account id and external event id",
        "operationId" : "get-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists_getAllByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{marketingEventId}/lists" : {
      "get" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Get lists associated with a marketing event",
        "description" : "Gets lists associated with a marketing event by marketing event id",
        "operationId" : "get-/marketing/v3/marketing-events/associations/{marketingEventId}/lists_getAllByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance_External_V2" ],
        "summary" : "Record Participants by Email with Marketing Event Object Id",
        "description" : "Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.\n\nIf a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
        "operationId" : "post-/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/email-create_recordByEmail",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The internal ID of the marketing event in HubSpot",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The attendance state value. It may be 'register', 'attend' or 'cancel'",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Get all marketing event",
        "description" : "Returns all Marketing Events available on the portal, along with their properties, regardless of whether they were created manually or through the application.\n\nThe marketing events returned by this endpoint are sorted by objectId.",
        "operationId" : "get-/marketing/v3/marketing-events/_getAll",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseMarketingEventPublicReadResponseV2ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance_External_V2" ],
        "summary" : "Record Participants by ContactId with Marketing Event Object Id",
        "description" : "Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
        "operationId" : "post-/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/create_recordByContactId",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The attendance state value. It may be 'register', 'attend' or 'cancel'",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/batch/update" : {
      "post" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Update Multiple Marketing Events by ObjectId",
        "description" : "Updates multiple Marketing Events on the portal based on their objectId, if they exist.",
        "operationId" : "post-/marketing/v3/marketing-events/batch/update_updateByObjectId",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventPublicUpdateRequestFullV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/batch/archive" : {
      "post" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Delete Multiple Marketing Events by ObjectId",
        "description" : "Deletes multiple Marketing Events from the portal based on their objectId, if they exist.\n\nResponses:\n204: Returned if all specified Marketing Events were successfully deleted.\n207: Returned if some objectIds did not correspond to any existing Marketing Events.",
        "operationId" : "post-/marketing/v3/marketing-events/batch/archive_archiveByObjectId",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventPublicObjectIdDeleteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "summary" : "Read participations counters by Marketing Event external identifier",
        "description" : "Read Marketing event's participations counters by externalAccountId and externalEventId pair.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}_getParticipationsCountersByEventExternalId",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{externalEventId}/identifiers" : {
      "get" : {
        "tags" : [ "Marketing_Events_V2" ],
        "summary" : "Find Marketing Events by External Event Id",
        "description" : "This endpoint searches the portal for all Marketing Events whose externalEventId matches the value provided in the request.\n\nIt retrieves the objectId and additional event details for each matching Marketing Event.\n\nSince multiple Marketing Events can have the same externalEventId, the endpoint returns all matching results.\n\nNote: Marketing Events become searchable by externalEventId a few minutes after creation.",
        "operationId" : "get-/marketing/v3/marketing-events/{externalEventId}/identifiers_searchPortalEvents",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalMarketingEventIdentifiersResponseNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{marketingEventId}" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "summary" : "Read participations counters by Marketing Event internal identifier",
        "description" : "Read Marketing event's participations counters by internal identifier marketingEventId.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}_getParticipationsCountersByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/delete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Delete Multiple Marketing Events by External Ids",
        "description" : "Deletes multiple Marketing Events based on externalAccountId, externalEventId, and appId.\n\nOnly Marketing Events created by the same apps will be deleted; events from other apps cannot be removed by this endpoint. ",
        "operationId" : "post-/marketing/v3/marketing-events/events/delete_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/cancel" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Mark a marketing event as cancelled",
        "description" : "Mark a marketing event as cancelled.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/cancel_cancel",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}" : {
      "put" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Associate a list with a marketing event",
        "description" : "Associates a list with a marketing event by marketing event id and ILS list id",
        "operationId" : "put-/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}_associateByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "description" : "The ILS ID of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Disassociate a list from a marketing event",
        "description" : "Disassociates a list from a marketing event by marketing event id and ILS list id",
        "operationId" : "delete-/marketing/v3/marketing-events/associations/{marketingEventId}/lists/{listId}_disassociateByMarketingEventId",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "description" : "The ILS ID of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Record a subscriber state by contact email",
        "description" : "Record a subscriber state between multiple HubSpot contacts and a marketing event, using contact email addresses. Note that the contact must already exist in HubSpot; a contact will not be created. The contactProperties field is used only when creating a new contact. These properties will not update existing contacts. ",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert_upsertByContactEmail",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/complete" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Mark a marketing event as completed",
        "description" : "Mark a marketing event as completed",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/complete_complete",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCompleteRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}" : {
      "put" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Associate a list with a marketing event",
        "description" : "Associates a list with a marketing event by external account id, external event id, and ILS list id",
        "operationId" : "put-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}_associateByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "description" : "The ILS ID of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists_Reference_External" ],
        "summary" : "Disassociate a list from a marketing event",
        "description" : "Disassociates a list from a marketing event by external account id, external event id, and ILS list id",
        "operationId" : "delete-/marketing/v3/marketing-events/associations/{externalAccountId}/{externalEventId}/lists/{listId}_disassociateByExternalAccountAndEventIds",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listId",
          "in" : "path",
          "description" : "The ILS ID of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events" : {
      "post" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Create a marketing event",
        "description" : "Creates a new marketing event in HubSpot",
        "operationId" : "post-/marketing/v3/marketing-events/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.marketing_events.write" ]
        }, {
          "private_apps" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown" : {
      "get" : {
        "tags" : [ "Participations_External" ],
        "summary" : "Read participations breakdown by Contact identifier",
        "description" : "Read Contact's participations by identifier - email or internal id.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown_getParticipationsBreakdownByContactId",
        "parameters" : [ {
          "name" : "contactIdentifier",
          "in" : "path",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings_External" ],
        "summary" : "Retrieve the application settings",
        "description" : "Retrieve the current settings for the application.",
        "operationId" : "get-/marketing/v3/marketing-events/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The id of the application to retrieve the settings for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings_External" ],
        "summary" : "Update the application settings",
        "description" : "Create or update the current settings for the application.",
        "operationId" : "post-/marketing/v3/marketing-events/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The id of the application to update the settings for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventDetailSettingsUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/search" : {
      "get" : {
        "tags" : [ "Marketing_Events_External" ],
        "summary" : "Find App-Specific Marketing Events by External Event Id",
        "description" : "Retrieves Marketing Events where the externalEventId matches the value provided in the request, limited to events created by the app making the request.\n\nMarketing Events created by other apps will not be included in the results.",
        "operationId" : "get-/marketing/v3/marketing-events/events/search_doSearch",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "The id of the marketing event in the external event application (externalEventId)",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSearchPublicResponseWrapperNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.marketing_events.read" ]
        }, {
          "oauth2" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "MarketingEventCompleteRequestParams" : {
        "required" : [ "endDateTime", "startDateTime" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ParticipationProperties" : {
        "required" : [ "attendanceState", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "occurredAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "attendancePercentage" : {
            "type" : "string"
          },
          "attendanceState" : {
            "type" : "string",
            "enum" : [ "REGISTERED", "ATTENDED", "CANCELLED", "EMPTY", "NO_SHOW" ]
          },
          "attendanceDurationSeconds" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SubscriberEmailResponse" : {
        "required" : [ "email", "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "MarketingEventPublicReadResponse" : {
        "required" : [ "attendees", "cancellations", "createdAt", "customProperties", "eventName", "eventOrganizer", "externalEventId", "id", "noShows", "registrants", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "registrants" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event.",
            "format" : "int32"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "attendees" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that attended this marketing event.",
            "format" : "int32"
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "noShows" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event, but did not attend. This field only had a value when the event is over.",
            "format" : "int32"
          },
          "cancellations" : {
            "type" : "integer",
            "description" : "The number of HubSpot contacts that registered for this marketing event, but later cancelled their registration.",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The id of the marketing event in the external event application."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "id" : {
            "type" : "string"
          },
          "objectId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventAssociation" : {
        "required" : [ "marketingEventId", "name" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string"
          },
          "marketingEventId" : {
            "type" : "string"
          },
          "externalEventId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "MarketingEventEmailSubscriber" : {
        "required" : [ "contactProperties", "email", "interactionDateTime", "properties" ],
        "type" : "object",
        "properties" : {
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "The email address of the contact in HubSpot to associate with the event."
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "Timestamp in milliseconds at which the contact subscribed to the event.",
            "format" : "int64"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicList" : {
        "required" : [ "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "updatedById" : {
            "type" : "string"
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string"
          },
          "deletedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "createdById" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventExternalUniqueIdentifier" : {
        "required" : [ "appId", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string",
            "description" : "The accountId that is associated with this marketing event in the external event application."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "The id of the marketing event in the external event application."
          },
          "appId" : {
            "type" : "integer",
            "description" : "The id of the application that created the marketing event in HubSpot.",
            "format" : "int32"
          }
        }
      },
      "CrmPropertyWrapper" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "SearchPublicResponseWrapper" : {
        "required" : [ "appId", "externalAccountId", "externalEventId", "objectId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string"
          },
          "externalEventId" : {
            "type" : "string"
          },
          "appId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "objectId" : {
            "type" : "string"
          }
        }
      },
      "SubscriberVidResponse" : {
        "required" : [ "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "MarketingEventPublicUpdateRequestV2" : {
        "required" : [ "customProperties" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean"
          },
          "eventOrganizer" : {
            "type" : "string"
          },
          "eventUrl" : {
            "type" : "string"
          },
          "eventDescription" : {
            "type" : "string"
          },
          "eventName" : {
            "type" : "string"
          },
          "eventType" : {
            "type" : "string"
          },
          "endDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventIdentifiersResponse" : {
        "required" : [ "externalEventId", "marketingEventName", "objectId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string"
          },
          "externalEventId" : {
            "type" : "string"
          },
          "appInfo" : {
            "$ref" : "#/components/schemas/AppInfo"
          },
          "objectId" : {
            "type" : "string"
          },
          "marketingEventName" : {
            "type" : "string"
          }
        }
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "isLargeValue", "name", "persistenceTimestamp", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceUpstreamDeployable", "sourceVid", "timestamp", "unit", "updatedByUserId", "useTimestampAsPersistenceTimestamp", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : "The ID of the property source indicating where it was created."
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : "Whether the value was selected by a user."
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : "A human-readable label."
          },
          "sourceUpstreamDeployable" : {
            "type" : "string"
          },
          "source" : {
            "type" : "string",
            "description" : "The origin of the property value, such as \"IMPORT\" or \"API\".",
            "enum" : [ "UNKNOWN", "IMPORT", "API", "FORM", "ANALYTICS", "MIGRATION", "SALESFORCE", "INTEGRATION", "CONTACTS_WEB", "WAL_INCREMENTAL", "TASK", "EMAIL", "WORKFLOWS", "CALCULATED", "SOCIAL", "BATCH_UPDATE", "SIGNALS", "BIDEN", "DEFAULT", "COMPANIES", "DEALS", "ASSISTS", "PRESENTATIONS", "TALLY", "SIDEKICK", "CRM_UI", "MERGE_CONTACTS", "PORTAL_USER_ASSOCIATOR", "INTEGRATIONS_PLATFORM", "BCC_TO_CRM", "FORWARD_TO_CRM", "ENGAGEMENTS", "SALES", "HEISENBERG", "LEADIN", "GMAIL_INTEGRATION", "ACADEMY", "SALES_MESSAGES", "AVATARS_SERVICE", "MERGE_COMPANIES", "SEQUENCES", "COMPANY_FAMILIES", "MOBILE_IOS", "MOBILE_ANDROID", "CONTACTS", "ASSOCIATIONS", "EXTENSION", "SUCCESS", "BOT", "INTEGRATIONS_SYNC", "AUTOMATION_PLATFORM", "CONVERSATIONS", "EMAIL_INTEGRATION", "CONTENT_MEMBERSHIP", "QUOTES", "BET_ASSIGNMENT", "QUOTAS", "BET_CRM_CONNECTOR", "MEETINGS", "MERGE_OBJECTS", "RECYCLING_BIN", "ADS", "AI_GROUP", "COMMUNICATOR", "SETTINGS", "PROPERTY_SETTINGS", "PIPELINE_SETTINGS", "COMPANY_INSIGHTS", "BEHAVIORAL_EVENTS", "PAYMENTS", "GOALS", "PORTAL_OBJECT_SYNC", "APPROVALS", "FILE_MANAGER", "MARKETPLACE", "INTERNAL_PROCESSING", "FORECASTING", "SLACK_INTEGRATION", "CRM_UI_BULK_ACTION", "WORKFLOW_CONTACT_DELETE_ACTION", "ACCEPTANCE_TEST", "PLAYBOOKS", "CHATSPOT", "FLYWHEEL_PRODUCT_DATA_SYNC", "HELP_DESK", "BILLING", "DATA_ENRICHMENT", "AUTOMATION_JOURNEY", "MICROAPPS", "INTENT", "PROSPECTING_AGENT", "CENTRAL_EXCHANGE_RATES", "HELP_DESK_AI", "CONVERSATIONAL_ENRICHMENT", "CRM_PROCESSES_PLATFORM", "CLONE_OBJECTS", "MARKET_SOURCING", "DATASET", "PROPERTY_RESTORE" ]
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who updated the property.",
            "format" : "int32"
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "Source metadata encoded as a base64 string. For example: `ZXhhbXBsZSBzdHJpbmc=`"
          },
          "dataSensitivity" : {
            "type" : "string",
            "description" : "The sensitivity level of the property, such as \"non_sensitive\", \"sensitive\", and \"highly_sensitive\".",
            "enum" : [ "none", "standard", "high" ]
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "The unique identifier associated with the source.",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "unit" : {
            "type" : "string",
            "description" : "The unit of measurement or context for the value."
          },
          "requestId" : {
            "type" : "string",
            "description" : "A unique ID associated with this request."
          },
          "isEncrypted" : {
            "type" : "boolean",
            "description" : "Whether the property value is encrypted."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of custom property"
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string",
            "description" : "Custom property value"
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "The timestamp when the value was selected by a user, if applicable.",
            "format" : "int64"
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "When the value was set, as a 64-bit integer.",
            "format" : "int64"
          },
          "isLargeValue" : {
            "type" : "boolean"
          }
        },
        "description" : "Represents a single custom property of a marketing event, storing its name, value, metadata (like source, timestamp, and sensitivity), and related audit information for tracking changes."
      },
      "BatchInputMarketingEventExternalUniqueIdentifier" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "MarketingEventUpdateRequestParams" : {
        "required" : [ "customProperties" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled. Defaults to `false`"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Describes what type of event this is.  For example: `WEBINAR`, `CONFERENCE`, `WORKSHOP`"
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          }
        }
      },
      "AppInfo" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponseWithTotalPublicListNoPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicList"
            }
          }
        }
      },
      "ContactAssociation" : {
        "required" : [ "contactId", "email" ],
        "type" : "object",
        "properties" : {
          "firstname" : {
            "type" : "string"
          },
          "contactId" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          }
        }
      },
      "ParticipationBreakdown" : {
        "required" : [ "associations", "createdAt", "id", "properties" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "$ref" : "#/components/schemas/ParticipationAssociations"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ParticipationProperties"
          }
        }
      },
      "MarketingEventPublicDefaultResponse" : {
        "required" : [ "createdAt", "customProperties", "eventName", "eventOrganizer", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "A URL in the external event application where the marketing event can be managed."
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "id" : {
            "type" : "string"
          },
          "objectId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberVidResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberVidResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventDefaultResponse" : {
        "required" : [ "customProperties", "eventName", "eventOrganizer" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indicates if the marketing event has been cancelled."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "The name of the organizer of the marketing event."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "The URL in the external event application where the marketing event can be managed."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "The description of the marketing event."
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name of the marketing event."
          },
          "eventType" : {
            "type" : "string",
            "description" : "The type of the marketing event."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "The end date and time of the marketing event.",
            "format" : "date-time"
          },
          "objectId" : {
            "type" : "string"
          }
        }
      },
      "ParticipationAssociations" : {
        "required" : [ "contact", "marketingEvent" ],
        "type" : "object",
        "properties" : {
          "marketingEvent" : {
            "$ref" : "#/components/schemas/MarketingEventAssociation"
          },
          "contact" : {
            "$ref" : "#/components/schemas/ContactAssociation"
          }
        }
      },
      "BatchInputMarketingEventSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "List of HubSpot contacts to subscribe to the marketing event",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventSubscriber"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          }
        },
        "description" : "Ye olde error"
      },
      "MarketingEventCreateRequestParams" : {
        "required" : [ "customProperties", "eventName", "eventOrganizer", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "The start date and time of the marketing event.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "A list of PropertyValues. These can be whatever kind of property names and values you want. However, they must already exist on the HubSpot account's definition of the MarketingEvent Object. If they don't they will be filtered out and not set.\nIn order to do this you'll need to create a new PropertyGroup on the HubSpot account's MarketingEvent object for your specific app and create the Custom Property you want to track on that HubSpot account. Do not create any new default properties on the MarketingEvent object as that will apply to all HubSpot accounts.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "The accountId that is associated with this marketing event in the external event application."
          },
          "eventCancelled" : {
[...]
