{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Eventos de marketing",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Tienes un sistema externo que se ocupa del registro para tus webinars y deseas asegurarse de que los datos y el comportamiento de los asistentes estén sincronizados con tu CRM de HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Marketing Events Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/marketing-events"
    } ],
    "x-hubspot-introduction" : "La API de eventos de marketing te permite crear una integración personalizada que sincronizará los datos de eventos y registros con tu cuenta de HubSpot. La API de eventos de marketing te permite crear una integración personalizada que sincronizará los datos de eventos y registros con tu cuenta de HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Attendance Subscriber State Changes"
  }, {
    "name" : "Asistencia: Cambios de estado del suscriptor"
  }, {
    "name" : "Participant State"
  }, {
    "name" : "Subscriber State Changes"
  }, {
    "name" : "Cambios de estado del suscriptor"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Básico"
  }, {
    "name" : "Settings"
  }, {
    "name" : "Configuración"
  } ],
  "paths" : {
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create" : {
      "post" : {
        "tags" : [ "Attendance Subscriber State Changes", "Asistencia: Cambios de estado del suscriptor" ],
        "summary" : "Registro",
        "description" : "Registra un estado de suscripción entre múltiples contactos de HubSpot y un evento de marketing, utilizando los ID de contacto de HubSpot.",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create_create",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "El nuevo estado del suscriptor para los contactos de HubSpot y el evento de marketing especificado. Por ejemplo: \"registrarse\", \"asistir\" o \"cancelar\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberVidResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participant State" ],
        "summary" : "Read participations breakdown by Marketing Event internal identifier",
        "description" : "Read Marketing event's participations breakdown with optional filters by internal identifier marketingEventId.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}/breakdown",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert" : {
      "post" : {
        "tags" : [ "Subscriber State Changes", "Cambios de estado del suscriptor" ],
        "summary" : "Registro",
        "description" : "Registra un estado de suscripción entre múltiples contactos de HubSpot y un evento de marketing, utilizando los ID de los contactos de HubSpot. Ten en cuenta que el contacto ya debe existir en HubSpot; no se creará un contacto.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert_doUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "El nuevo estado del suscriptor para los contactos de HubSpot y el evento de marketing especificado",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}" : {
      "get" : {
        "tags" : [ "Participant State" ],
        "summary" : "Read participations counters by Marketing Event external identifier",
        "description" : "Read Marketing event's participations counters by externalAccountId and externalEventId pair.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{marketingEventId}" : {
      "get" : {
        "tags" : [ "Participant State" ],
        "summary" : "Read participations counters by Marketing Event internal identifier",
        "description" : "Read Marketing event's participations counters by internal identifier marketingEventId.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{marketingEventId}",
        "parameters" : [ {
          "name" : "marketingEventId",
          "in" : "path",
          "description" : "The internal id of the marketing event in HubSpot.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceCounters"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/delete" : {
      "post" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Eliminar múltiples eventos de marketing",
        "description" : "Eliminar en masa una serie de eventos de marketing en HubSpot",
        "operationId" : "post-/marketing/v3/marketing-events/events/delete_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/cancel" : {
      "post" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Marcar un evento de marketing como cancelado",
        "description" : "Marcar un evento de marketing como cancelado.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/cancel_doCancel",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing que se marcará como cancelado",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}" : {
      "get" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Obtener un evento de marketing",
        "description" : "Devuelve los detalles de un evento de marketing con el ID especificado, si existe uno.",
        "operationId" : "get-/marketing/v3/marketing-events/events/{externalEventId}_getById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing que se devolverá",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicReadResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Crear o actualizar un evento de marketing",
        "description" : "Actualiza o crea un evento de marketing. Si existe un evento de marketing con el ID especificado, se actualizará; de lo contrario, se creará un nuevo evento.",
        "operationId" : "put-/marketing/v3/marketing-events/events/{externalEventId}_replace",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing que se actualizará o creará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Eliminar un evento de marketing",
        "description" : "Elimina un evento de marketing existente con el ID especificado, si existe uno.",
        "operationId" : "delete-/marketing/v3/marketing-events/events/{externalEventId}_archive",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing que se eliminará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Actualizar un evento de marketing",
        "description" : "Actualiza un evento de marketing existente con el ID especificado, si existe uno.",
        "operationId" : "patch-/marketing/v3/marketing-events/events/{externalEventId}_update",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing que se actualizará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventUpdateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/upsert" : {
      "post" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Crear o actualizar múltiples eventos de marketing",
        "description" : "Actualiza o crea múltiples eventos de marketing. Si existe un evento de marketing con el ID especificado, se actualizará; de lo contrario, se creará un nuevo evento.",
        "operationId" : "post-/marketing/v3/marketing-events/events/upsert_doUpsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create" : {
      "post" : {
        "tags" : [ "Attendance Subscriber State Changes", "Asistencia: Cambios de estado del suscriptor" ],
        "summary" : "Registro",
        "description" : "Registra un estado de suscripción entre múltiples contactos de HubSpot y un evento de marketing, utilizando las direcciones de correo de los contactos. Si el contacto no está presente, se creará automáticamente.",
        "operationId" : "post-/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create_createByEmail",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "El nuevo estado del suscriptor para los contactos de HubSpot y el evento de marketing especificado. Por ejemplo: \"registrarse\", \"asistir\" o \"cancelar\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSubscriberEmailResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert" : {
      "post" : {
        "tags" : [ "Subscriber State Changes", "Cambios de estado del suscriptor" ],
        "summary" : "Registro",
        "description" : "Registra un estado de suscripción entre múltiples contactos de HubSpot y un evento de marketing, utilizando las direcciones de correo de los contactos. Ten en cuenta que el contacto ya debe existir en HubSpot; no se creará un contacto.",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert_doEmailUpsertById",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "El ID del evento de marketing",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberState",
          "in" : "path",
          "description" : "El nuevo estado del suscriptor para los contactos de HubSpot y el evento de marketing especificado",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "El ID de cuenta asociado con el evento de marketing",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown" : {
      "get" : {
        "tags" : [ "Participant State" ],
        "summary" : "Read participations breakdown by Marketing Event external identifier",
        "description" : "Read Marketing event's participations breakdown with optional filters by externalAccountId and externalEventId pair.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/{externalAccountId}/{externalEventId}/breakdown",
        "parameters" : [ {
          "name" : "externalAccountId",
          "in" : "path",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactIdentifier",
          "in" : "query",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/{externalEventId}/complete" : {
      "post" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Mark a marketing event as completed",
        "description" : "Mark a marketing event as completed",
        "operationId" : "post-/marketing/v3/marketing-events/events/{externalEventId}/complete_complete",
        "parameters" : [ {
          "name" : "externalEventId",
          "in" : "path",
          "description" : "The id of the marketing event in the external event application.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalAccountId",
          "in" : "query",
          "description" : "The accountId that is associated with this marketing event in the external event application.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCompleteRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events" : {
      "post" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Crear un evento de marketing",
        "description" : "Crea un nuevo evento de marketing en HubSpot",
        "operationId" : "post-/marketing/v3/marketing-events/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketingEventDefaultResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "crm.objects.marketing_events.write" ]
        }, {
          "oauth2_legacy" : [ "crm.objects.marketing_events.write" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown" : {
      "get" : {
        "tags" : [ "Participant State" ],
        "summary" : "Read participations breakdown by Contact identifier",
        "description" : "Read Contact's participations by identifier - email or internal id.",
        "operationId" : "get-/marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown",
        "parameters" : [ {
          "name" : "contactIdentifier",
          "in" : "path",
          "description" : "The identifier of the Contact. It may be email or internal id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for response size. The default value is 10, the max number is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor indicating the position of the last retrieved item.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/{appId}/settings" : {
      "get" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Recuperar la configuración de la aplicación",
        "description" : "Recupera la configuración actual de la aplicación.",
        "operationId" : "get-/marketing/v3/marketing-events/{appId}/settings_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación cuya configuración se recuperará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Settings", "Configuración" ],
        "summary" : "Actualizar la configuración de la aplicación",
        "description" : "Crea o actualiza la configuración actual de la aplicación.",
        "operationId" : "post-/marketing/v3/marketing-events/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación cuya configuración se actualizará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventDetailSettingsUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailSettings"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/marketing/v3/marketing-events/events/search" : {
      "get" : {
        "tags" : [ "Basic", "Básico" ],
        "summary" : "Buscar eventos de marketing",
        "description" : "Buscar eventos de marketing que tengan un ID de evento que comience con la cadena de consulta",
        "operationId" : "get-/marketing/v3/marketing-events/events/search_doSearch",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "El ID del evento de marketing en la aplicación de eventos externos",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "crm.objects.marketing_events.read" ]
        }, {
          "private_apps_legacy" : [ "crm.objects.marketing_events.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "MarketingEventCreateRequestParams" : {
        "required" : [ "eventName", "eventOrganizer", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de inicio del evento de marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Una lista de PropertyValues. Pueden ser cualquier tipo de nombres y valores de propiedad que desees. Sin embargo, deben existir previamente en la definición del objeto MarketingEvent de la cuenta de HubSpot. Si no es así, serán filtrados y no se establecerán.\nPara hacer esto, deberás crear un nuevo PropertyGroup en el objeto MarketingEvent de la cuenta de HubSpot para tu aplicación específica y crear la Propiedad Personalizada a la que deseas hacer seguimiento en esa cuenta de HubSpot. No crees ninguna propiedad predeterminada nueva en el objeto MarketingEvent, ya que esa propiedad se aplicará a todas las cuentas de HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "externalAccountId" : {
            "type" : "string",
            "description" : "El accountId que está asociado con este evento de marketing en la aplicación de eventos externos."
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indica si el evento de marketing se canceló. Por opción predeterminada, se establece en \"falso\"."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "El nombre del organizador del evento de marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Una URL en la aplicación de eventos externos donde se puede gestionar el evento de marketing."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "El id del evento de marketing en la aplicación de eventos externos."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La descripción del evento de marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "El nombre del evento de marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Describe el tipo de evento del que se trata. Por ejemplo: \"WEBINAR\", \"CONFERENCIA\", \"TALLER\""
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de finalización del evento de marketing.",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventCompleteRequestParams" : {
        "required" : [ "endDateTime", "startDateTime" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ParticipationProperties" : {
        "required" : [ "attendanceState", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "occurredAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "attendancePercentage" : {
            "type" : "string"
          },
          "attendanceState" : {
            "type" : "string",
            "enum" : [ "REGISTERED", "ATTENDED", "CANCELLED", "EMPTY", "NO_SHOW" ]
          },
          "attendanceDurationSeconds" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SubscriberEmailResponse" : {
        "required" : [ "email", "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "EventDetailSettings" : {
        "required" : [ "appId", "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "El ID de la aplicación a la que corresponde la configuración",
            "format" : "int32"
          },
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "La URL que se utilizará para recuperar los detalles del evento de marketing por ID"
          }
        }
      },
      "MarketingEventPublicReadResponse" : {
        "required" : [ "attendees", "cancellations", "createdAt", "eventName", "eventOrganizer", "externalEventId", "id", "noShows", "registrants", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "registrants" : {
            "type" : "integer",
            "description" : "El número de contactos de HubSpot que se registraron para este evento de marketing.",
            "format" : "int32"
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "El nombre del organizador del evento de marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Una URL en la aplicación de evento externo donde se puede gestionar el evento de marketing."
          },
          "attendees" : {
            "type" : "integer",
            "description" : "El número de contactos de HubSpot que asistieron a este evento de marketing.",
            "format" : "int32"
          },
          "eventType" : {
            "type" : "string",
            "description" : "El tipo del evento de marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de finalización del evento de marketing.",
            "format" : "date-time"
          },
          "noShows" : {
            "type" : "integer",
            "description" : "El número de contactos de HubSpot que se registraron para este evento de marketing, pero no asistieron. Este campo solo tiene un valor cuando el evento ha terminado.",
            "format" : "int32"
          },
          "cancellations" : {
            "type" : "integer",
            "description" : "El número de contactos de HubSpot que se registraron para este evento de marketing, pero luego cancelaron su registro.",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de inicio del evento de marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Una lista de PropertyValues. Pueden ser cualquier tipo de nombres y valores de propiedad que desees. Sin embargo, deben existir previamente en la definición del objeto MarketingEvent de la cuenta de HubSpot. Si no es así, serán filtrados y no se establecerán.\nPara hacer esto, deberás crear un nuevo PropertyGroup en el objeto MarketingEvent de la cuenta de HubSpot para tu aplicación específica y crear la Propiedad Personalizada a la que deseas hacer seguimiento en esa cuenta de HubSpot. No crees ninguna propiedad predeterminada nueva en el objeto MarketingEvent, ya que esa propiedad se aplicará a todas las cuentas de HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indica si el evento de marketing se canceló."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "El id del evento de marketing en la aplicación de eventos externos."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La descripción del evento de marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "El nombre del evento de marketing."
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "MarketingEventAssociation" : {
        "required" : [ "marketingEventId", "name" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string"
          },
          "marketingEventId" : {
            "type" : "string"
          },
          "externalEventId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "MarketingEventSubscriber" : {
        "required" : [ "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "La fecha y la hora en las que el contacto se suscribió al evento.",
            "format" : "int64"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado con el detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "MarketingEventEmailSubscriber" : {
        "required" : [ "email", "interactionDateTime" ],
        "type" : "object",
        "properties" : {
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "La dirección de correo del contacto en HubSpot que se asociará con el evento."
          },
          "interactionDateTime" : {
            "type" : "integer",
            "description" : "La fecha y la hora en las que el contacto se suscribió al evento.",
            "format" : "int64"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "EventDetailSettingsUrl" : {
        "required" : [ "eventDetailsUrl" ],
        "type" : "object",
        "properties" : {
          "eventDetailsUrl" : {
            "type" : "string",
            "description" : "La URL que se utilizará para recuperar los detalles del evento de marketing por ID. Debe contener una secuencia de caracteres \"%s\" que será sustituida por el ID del evento. Por ejemplo: \"https://my.event.app/events/%s\""
          }
        }
      },
      "BatchInputMarketingEventEmailSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "Lista de detalles de eventos de marketing para crear o actualizar",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventEmailSubscriber"
            }
          }
        }
      },
      "MarketingEventExternalUniqueIdentifier" : {
        "required" : [ "appId", "externalAccountId", "externalEventId" ],
        "type" : "object",
        "properties" : {
          "externalAccountId" : {
            "type" : "string",
            "description" : "El accountId que está asociado con este evento de marketing en la aplicación de eventos externo."
          },
          "externalEventId" : {
            "type" : "string",
            "description" : "El id del evento de marketing en la aplicación de eventos externos."
          },
          "appId" : {
            "type" : "integer",
            "description" : "El ID de la aplicación que creó el evento de marketing en HubSpot.",
            "format" : "int32"
          }
        }
      },
      "SubscriberVidResponse" : {
        "required" : [ "vid" ],
        "type" : "object",
        "properties" : {
          "vid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "BatchInputMarketingEventCreateRequestParams" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventCreateRequestParams"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PropertyValue" : {
        "required" : [ "dataSensitivity", "isEncrypted", "name", "requestId", "selectedByUser", "selectedByUserTimestamp", "source", "sourceId", "sourceLabel", "sourceMetadata", "sourceVid", "timestamp", "unit", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUser" : {
            "type" : "boolean",
            "description" : ""
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : ""
          },
          "source" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "UNKNOWN", "IMPORT", "API", "FORM", "ANALYTICS", "MIGRATION", "SALESFORCE", "INTEGRATION", "CONTACTS_WEB", "WAL_INCREMENTAL", "TASK", "EMAIL", "WORKFLOWS", "CALCULATED", "SOCIAL", "BATCH_UPDATE", "SIGNALS", "BIDEN", "DEFAULT", "COMPANIES", "DEALS", "ASSISTS", "PRESENTATIONS", "TALLY", "SIDEKICK", "CRM_UI", "MERGE_CONTACTS", "PORTAL_USER_ASSOCIATOR", "INTEGRATIONS_PLATFORM", "BCC_TO_CRM", "FORWARD_TO_CRM", "ENGAGEMENTS", "SALES", "HEISENBERG", "LEADIN", "GMAIL_INTEGRATION", "ACADEMY", "SALES_MESSAGES", "AVATARS_SERVICE", "MERGE_COMPANIES", "SEQUENCES", "COMPANY_FAMILIES", "MOBILE_IOS", "MOBILE_ANDROID", "CONTACTS", "ASSOCIATIONS", "EXTENSION", "SUCCESS", "BOT", "INTEGRATIONS_SYNC", "AUTOMATION_PLATFORM", "CONVERSATIONS", "EMAIL_INTEGRATION", "CONTENT_MEMBERSHIP", "QUOTES", "BET_ASSIGNMENT", "QUOTAS", "BET_CRM_CONNECTOR", "MEETINGS", "MERGE_OBJECTS", "RECYCLING_BIN", "ADS", "AI_GROUP", "COMMUNICATOR", "SETTINGS", "PROPERTY_SETTINGS", "PIPELINE_SETTINGS", "COMPANY_INSIGHTS", "BEHAVIORAL_EVENTS", "PAYMENTS", "GOALS", "PORTAL_OBJECT_SYNC", "APPROVALS", "FILE_MANAGER", "MARKETPLACE", "INTERNAL_PROCESSING", "FORECASTING", "SLACK_INTEGRATION", "CRM_UI_BULK_ACTION", "WORKFLOW_CONTACT_DELETE_ACTION", "ACCEPTANCE_TEST", "PLAYBOOKS", "CHATSPOT", "FLYWHEEL_PRODUCT_DATA_SYNC", "HELP_DESK", "BILLING", "DATA_ENRICHMENT", "AUTOMATION_JOURNEY", "MICROAPPS", "INTENT" ]
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "persistenceTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sourceMetadata" : {
            "type" : "string",
            "description" : "Metadatos de origen codificados como una cadena base64. Por ejemplo: `ZXhhbXBsZSBzdHJpbmc=`"
          },
          "dataSensitivity" : {
            "type" : "string",
            "enum" : [ "none", "standard", "high" ]
          },
          "sourceVid" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "unit" : {
            "type" : "string"
          },
          "requestId" : {
            "type" : "string",
            "description" : ""
          },
          "isEncrypted" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "useTimestampAsPersistenceTimestamp" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "string",
            "description" : ""
          },
          "selectedByUserTimestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "isLargeValue" : {
            "type" : "boolean"
          }
        }
      },
      "BatchInputMarketingEventExternalUniqueIdentifier" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventExternalUniqueIdentifier"
            }
          }
        }
      },
      "MarketingEventUpdateRequestParams" : {
        "type" : "object",
        "properties" : {
          "importStatus" : {
            "type" : "string"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de inicio del evento de marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Una lista de PropertyValues. Pueden ser cualquier tipo de nombres y valores de propiedad que desees. Sin embargo, deben existir previamente en la definición del objeto MarketingEvent de la cuenta de HubSpot. Si no es así, serán filtrados y no se establecerán.\nPara hacer esto, deberás crear un nuevo PropertyGroup en el objeto MarketingEvent de la cuenta de HubSpot para tu aplicación específica y crear la Propiedad Personalizada a la que deseas hacer seguimiento en esa cuenta de HubSpot. No crees ninguna propiedad predeterminada nueva en el objeto MarketingEvent, ya que esa propiedad se aplicará a todas las cuentas de HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indica si el evento de marketing se canceló. Por opción predeterminada, se establece en \"falso\"."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "El nombre del organizador del evento de marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Una URL en la aplicación de evento externo donde se puede gestionar el evento de marketing."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La descripción del evento de marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "El nombre del evento de marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "Describe el tipo de evento del que se trata. Por ejemplo: \"WEBINAR\", \"CONFERENCIA\", \"TALLER\""
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de finalización del evento de marketing.",
            "format" : "date-time"
          },
          "attendanceStateCalculationTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "AttendanceCounters" : {
        "required" : [ "attended", "cancelled", "noShows", "registered" ],
        "type" : "object",
        "properties" : {
          "attended" : {
            "type" : "integer",
            "format" : "int32"
          },
          "registered" : {
            "type" : "integer",
            "format" : "int32"
          },
          "cancelled" : {
            "type" : "integer",
            "format" : "int32"
          },
          "noShows" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "BatchResponseSubscriberEmailResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberEmailResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ContactAssociation" : {
        "required" : [ "contactId", "email" ],
        "type" : "object",
        "properties" : {
          "firstname" : {
            "type" : "string"
          },
          "contactId" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          }
        }
      },
      "ParticipationBreakdown" : {
        "required" : [ "associations", "createdAt", "id", "properties" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "$ref" : "#/components/schemas/ParticipationAssociations"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ParticipationProperties"
          }
        }
      },
      "CollectionResponseWithTotalParticipationBreakdownForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ParticipationBreakdown"
            }
          }
        }
      },
      "MarketingEventPublicDefaultResponse" : {
        "required" : [ "createdAt", "eventName", "eventOrganizer", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "eventOrganizer" : {
            "type" : "string",
            "description" : "El nombre del organizador del evento de marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "Una URL en la aplicación de evento externo donde se puede gestionar el evento de marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "El tipo del evento de marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de finalización del evento de marketing.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de inicio del evento de marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Una lista de PropertyValues. Pueden ser cualquier tipo de nombres y valores de propiedad que desees. Sin embargo, deben existir previamente en la definición del objeto MarketingEvent de la cuenta de HubSpot. Si no es así, serán filtrados y no se establecerán.\nPara hacer esto, deberás crear un nuevo PropertyGroup en el objeto MarketingEvent de la cuenta de HubSpot para tu aplicación específica y crear la Propiedad Personalizada a la que deseas hacer seguimiento en esa cuenta de HubSpot. No crees ninguna propiedad predeterminada nueva en el objeto MarketingEvent, ya que esa propiedad se aplicará a todas las cuentas de HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indica si el evento de marketing se canceló."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La descripción del evento de marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "El nombre del evento de marketing."
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          }
        }
      },
      "BatchResponseSubscriberVidResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubscriberVidResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "MarketingEventDefaultResponse" : {
        "required" : [ "eventName", "eventOrganizer" ],
        "type" : "object",
        "properties" : {
          "startDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de inicio del evento de marketing.",
            "format" : "date-time"
          },
          "customProperties" : {
            "type" : "array",
            "description" : "Una lista de PropertyValues. Pueden ser cualquier tipo de nombres y valores de propiedad que desees. Sin embargo, deben existir previamente en la definición del objeto MarketingEvent de la cuenta de HubSpot. Si no es así, serán filtrados y no se establecerán.\nPara hacer esto, deberás crear un nuevo PropertyGroup en el objeto MarketingEvent de la cuenta de HubSpot para tu aplicación específica y crear la Propiedad Personalizada a la que deseas hacer seguimiento en esa cuenta de HubSpot. No crees ninguna propiedad predeterminada nueva en el objeto MarketingEvent, ya que esa propiedad se aplicará a todas las cuentas de HubSpot.\n",
            "items" : {
              "$ref" : "#/components/schemas/PropertyValue"
            }
          },
          "eventCancelled" : {
            "type" : "boolean",
            "description" : "Indica si el evento de marketing se canceló."
          },
          "eventOrganizer" : {
            "type" : "string",
            "description" : "El nombre del organizador del evento de marketing."
          },
          "eventUrl" : {
            "type" : "string",
            "description" : "La URL en la aplicación de eventos externos donde se puede gestionar el evento de marketing."
          },
          "eventDescription" : {
            "type" : "string",
            "description" : "La descripción del evento de marketing."
          },
          "eventName" : {
            "type" : "string",
            "description" : "El nombre del evento de marketing."
          },
          "eventType" : {
            "type" : "string",
            "description" : "El tipo del evento de marketing."
          },
          "eventCompleted" : {
            "type" : "boolean"
          },
          "endDateTime" : {
            "type" : "string",
            "description" : "La fecha y la hora de finalización del evento de marketing.",
            "format" : "date-time"
          }
        }
      },
      "ParticipationAssociations" : {
        "required" : [ "contact", "marketingEvent" ],
        "type" : "object",
        "properties" : {
          "marketingEvent" : {
            "$ref" : "#/components/schemas/MarketingEventAssociation"
          },
          "contact" : {
            "$ref" : "#/components/schemas/ContactAssociation"
          }
        }
      },
      "BatchInputMarketingEventSubscriber" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "Lista de contactos de HubSpot para suscribir al evento de marketing",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventSubscriber"
            }
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      },
      "BatchResponseMarketingEventPublicDefaultResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/MarketingEventPublicDefaultResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.marketing_events.write" : "Write marketing events",
              "crm.objects.marketing_events.read" : "Read marketing events"
            }
          }
        }
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}