{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations",
    "description" : "Query and interact with existing Conversation threads, messages, and channels",
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Conversations"
  } ],
  "paths" : {
    "/conversations/v3/conversations/inboxes" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get conversations inboxes.",
        "operationId" : "get-/conversations/v3/conversations/inboxes",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicInboxForwardPaging"
                },
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "5385",
                    "name" : "Inbox",
                    "createdAt" : "2019-03-07T16:32:23.443Z"
                  }, {
                    "id" : "5548",
                    "name" : "Sales Inbox",
                    "createdAt" : "2019-03-13T18:41:01.209Z"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single thread.",
        "description" : "Returns a single thread.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Default is false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Conversations" ],
        "summary" : "Archives a thread.",
        "description" : "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
        "operationId" : "delete-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Conversations" ],
        "summary" : "Update a thread.",
        "description" : "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
        "operationId" : "patch-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether the thread to update is archived. Default is false. A thread's status property can not be updated if the thread is archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The properties of the thread to update. If restoring a thread, the archived property should be the only field in the request body. For other updates, PATCH requests should exclude the archived property from the body of the request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : {
                  "id" : "2627121",
                  "createdAt" : "2018-08-21T12:06:22.029Z",
                  "status" : "CLOSED",
                  "latestMessageTimestamp" : "2018-08-21T12:06:22.889Z",
                  "latestMessageSentTimestamp" : "2018-08-21T12:06:22.889Z",
                  "latestMessageReceivedTimestamp" : "2018-08-21T12:06:22.889Z",
                  "assignedTo" : "A-123",
                  "spam" : false,
                  "inboxId" : "123",
                  "associatedContactId" : "7206",
                  "archived" : false
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get the original content of a single message.",
        "description" : "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's `truncationStatus` is anything other than `NOT_TRUNCATED`.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique ID of the message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessageContent"
                },
                "example" : {
                  "text" : "How can I help?",
                  "richText" : "<div style=\"text-align: left\">How can I help?</div>"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get message history for a thread.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort direction. Valid options are `createdAt` (ascending), and `-createdAt` (descending, default)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicMessageForwardPaging"
                },
                "example" : {
                  "results" : [ {
                    "id" : "07ce9e83-7315-4a06-9971-78b7038e640e",
                    "createdAt" : "2020-06-26T18:20:00.710Z",
                    "createdBy" : "A-123",
                    "client" : {
                      "clientType" : "SYSTEM"
                    },
                    "archived" : false,
                    "assignedTo" : "A-123",
                    "assignedFrom" : "B-987",
                    "type" : "ASSIGNMENT"
                  }, {
                    "id" : "341c52ddfecc41b6a026dc689c3ff673",
                    "createdAt" : "2020-06-26T18:20:00.722Z",
                    "createdBy" : "A-123",
                    "client" : {
                      "clientType" : "HUBSPOT"
                    },
                    "channelId" : "1000",
                    "channelAccountId" : "20091",
                    "archived" : false,
                    "status" : {
                      "statusType" : "SENT"
                    },
                    "text" : "How can I help?",
                    "richText" : "<div style=\"text-align: left\">How can I help?</div>",
                    "inReplyToId" : "23kj5a45-9845-1d08-3048-23q2345u320i",
                    "direction" : "OUTGOING",
                    "truncationStatus" : "NOT_TRUNCATED",
                    "type" : "MESSAGE"
                  }, {
                    "id" : "e11540ef-d041-4585-a53d-fd5cad3af294",
                    "createdAt" : "2020-06-26T18:20:00.799Z",
                    "createdBy" : "I-999",
                    "client" : {
                      "clientType" : "INTEGRATION",
                      "integrationAppId" : "999"
                    },
                    "archived" : false,
                    "text" : "Customer since 2012",
                    "richText" : "<div style=\"text-align: left\">Customer since 2012</div>",
                    "type" : "COMMENT"
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "MTU5MzE5NTU3NjkyMy0w",
                      "link" : "https://api.hubspot.com/conversations/v3/conversations/threads/123/messages?portalId=123&after=MTU5MzE5NTU3NjkyMy0w"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Conversations" ],
        "summary" : "Send a message to a thread.",
        "description" : "Send a new message on a thread at the current timestamp.",
        "operationId" : "post-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The message. `MESSAGE` and `COMMENT` are the valid types of message. Other message types are side-effects of other operations, such as changing a thread's status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicMessageEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Default Response",
            "content" : {
              "application/json" : {
                "example" : {
                  "id" : "e11540ef-d041-4585-a53d-fd5cad3af294",
                  "createdAt" : "2020-06-26T18:20:00.722Z",
                  "createdBy" : "I-999",
                  "client" : {
                    "clientType" : "INTEGRATION",
                    "integrationAppId" : "999"
                  },
                  "archived" : false,
                  "text" : "Customer since 2012",
                  "richText" : "<div style=\"text-align: left\">Customer since 2012</div>",
                  "type" : "COMMENT"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ]
      }
    },
    "/conversations/v3/conversations/actors/batch/read" : {
      "post" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get actors",
        "description" : "Resolve `ActorId`s to the underlying actors/participants.",
        "operationId" : "post-/conversations/v3/conversations/actors/batch/read",
        "parameters" : [ {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request, containing list of `ActorId`s to resolve.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActor"
                },
                "example" : {
                  "status" : "COMPLETE",
                  "results" : [ {
                    "id" : "A-123",
                    "name" : "Adam Agent",
                    "avatar" : "https://api.hubspot.com/userpreferences/v1/avatar/6d16eea297d81639f120159f95a49fff/100",
                    "type" : "AGENT"
                  }, {
                    "id" : "V-456",
                    "name" : "Carol Contact",
                    "email" : "email@example.com",
                    "avatar" : "https://cdn2.hubspot.net/hubfs/2459647/defaults/contact.png",
                    "type" : "VISITOR"
                  } ],
                  "startedAt" : "2020-08-28T17:04:48Z",
                  "completedAt" : "2020-08-28T17:04:48Z"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActorWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channel-accounts" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get channel accounts.",
        "operationId" : "get-/conversations/v3/conversations/channel-accounts",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "query",
          "description" : "Limits results to channel accounts within a particular channel.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "Limits results to channel accounts within a particular inbox.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccountForwardPaging"
                },
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "63264",
                    "channelId" : "1000",
                    "name" : "New chatflow",
                    "inboxId" : "5385",
                    "active" : true,
                    "authorized" : true,
                    "createdAt" : "2020-12-08T22:59:01.033Z"
                  }, {
                    "id" : "448722",
                    "channelId" : "1002",
                    "name" : "support-inbox@example.com",
                    "inboxId" : "5385",
                    "active" : false,
                    "authorized" : true,
                    "createdAt" : "2021-07-22T13:26:56.075Z"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channels/{channelId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single channel.",
        "operationId" : "get-/conversations/v3/conversations/channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The unique ID of the channel.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannel"
                },
                "example" : {
                  "id" : "1002",
                  "name" : "EMAIL"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single message.",
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique ID of the message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : {
                  "id" : "341c52ddfecc41b6a026dc689c3ff673",
                  "createdAt" : "2020-06-26T18:20:00.722Z",
                  "updatedAt" : "2020-06-28T18:20:00.722Z",
                  "createdBy" : "A-123",
                  "client" : {
                    "clientType" : "HUBSPOT"
                  },
                  "channelId" : "1000",
                  "channelAccountId" : "20091",
                  "archived" : false,
                  "status" : {
                    "statusType" : "FAILED",
                    "failureDetails" : {
                      "errorMessage" : "There was an issue sending your email"
                    }
                  },
                  "text" : "How can I help?",
                  "attachments" : [ {
                    "type" : "FILE",
                    "fileId" : "47252586777",
                    "fileUsageType" : "IMAGE",
                    "url" : "https://example.com/imageUrl"
                  } ],
                  "richText" : "<div style=\"text-align: left\">How can I help?</div>",
                  "inReplyToId" : "23kj5a45-9845-1d08-3048-23q2345u320i",
                  "direction" : "OUTGOING",
                  "truncationStatus" : "NOT_TRUNCATED",
                  "type" : "MESSAGE"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channels" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get channels.",
        "operationId" : "get-/conversations/v3/conversations/channels",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelForwardPaging"
                },
                "example" : {
                  "total" : 3,
                  "results" : [ {
                    "id" : "1000",
                    "name" : "LIVE_CHAT"
                  }, {
                    "id" : "1001",
                    "name" : "FB_MESSENGER"
                  }, {
                    "id" : "1002",
                    "name" : "EMAIL"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/actors/{actorId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single actor.",
        "operationId" : "get-/conversations/v3/conversations/actors/{actorId}",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "description" : "The unique ID of the actor.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActor"
                },
                "example" : {
                  "id" : "A-123",
                  "name" : "Adam Agent",
                  "avatar" : "https://api.hubspot.com/userpreferences/v1/avatar/6d16eea297d81639f120159f95a49fff/100",
                  "type" : "AGENT"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/threads" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get threads.",
        "operationId" : "get-/conversations/v3/conversations/threads",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Set the sort order of the response. Valid options are `id` (default) and `latestMessageTimestamp` (which requires the `latestMessageTimestampAfter` field to also be set). If you’re filtering threads by `associatedContactId` , you can sort in descending order by prepending - to the sort option (e.g., `-id` or `-latestMessageTimestampAfter` ). Otherwise, results are always returned in ascending order.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "The ID of the conversations inbox you can optionally include to retrieve the associated messages for. This parameter cannot be used in conjunction with the `associatedContactId` property.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "associatedContactId",
          "in" : "query",
          "description" : "The ID of a contact you can optionally include to retrieve a filtered list of conversations for. This parameter cannot be used in conjunction with the `inboxId` property.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "threadStatus",
          "in" : "query",
          "description" : "The status of the associated conversations to filter by (either `OPEN` or `CLOSED`). This property must be provided if you’re including the `associatedContactId` query parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "latestMessageTimestampAfter",
          "in" : "query",
          "description" : "The minimum `latestMessageTimestamp`. This is required only when sorting by `latestMessageTimestamp`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicThreadForwardPaging"
                },
                "example" : {
                  "results" : [ {
                    "id" : "2627121",
                    "createdAt" : "2018-08-21T12:06:22.029Z",
                    "status" : "OPEN",
                    "latestMessageTimestamp" : "2018-08-21T12:06:22.889Z",
                    "latestMessageSentTimestamp" : "2018-08-21T12:06:22.889Z",
                    "latestMessageReceivedTimestamp" : "2018-08-21T12:06:22.889Z",
                    "assignedTo" : "A-123",
                    "spam" : false,
                    "inboxId" : "123",
                    "associatedContactId" : "7206",
                    "archived" : false
                  }, {
                    "id" : "5037435",
                    "createdAt" : "2018-09-21T15:20:02.985Z",
                    "closedAt" : "2018-09-21T20:20:02.985Z",
                    "status" : "CLOSED",
                    "latestMessageTimestamp" : "2018-09-21T15:20:04.544Z",
                    "latestMessageSentTimestamp" : "2018-09-21T15:20:04.544Z",
                    "latestMessageReceivedTimestamp" : "2018-09-21T15:20:04.544Z",
                    "spam" : false,
                    "inboxId" : "123",
                    "associatedContactId" : "7506",
                    "archived" : false
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "NTAzNzQzNQ%3D%3D",
                      "link" : "https://api.hubspot.com/conversations/v3/conversations/threads?portalId=123&after=NTAzNzQzNQ%3D%3D"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/channel-accounts/{channelAccountId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single channel account.",
        "operationId" : "get-/conversations/v3/conversations/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "The unique ID of the channel account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                },
                "example" : {
                  "id" : "448722",
                  "channelId" : "1002",
                  "name" : "support-inbox@example.com",
                  "inboxId" : "5385",
                  "active" : false,
                  "authorized" : true,
                  "createdAt" : "2021-07-22T13:26:56.075Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/v3/conversations/inboxes/{inboxId}" : {
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single conversations inbox.",
        "operationId" : "get-/conversations/v3/conversations/inboxes/{inboxId}",
        "parameters" : [ {
          "name" : "inboxId",
          "in" : "path",
          "description" : "The unique ID of the inbox.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicInbox"
                },
                "example" : {
                  "id" : "5385",
                  "name" : "Inbox",
                  "createdAt" : "2019-03-07T16:32:23.443Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicRecipient" : {
        "required" : [ "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "$ref" : "#/components/schemas/ActorId"
          },
          "name" : {
            "type" : "string"
          },
          "recipientField" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "PublicMessageEgg" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessageEgg"
        }, {
          "$ref" : "#/components/schemas/PublicCommentEgg"
        } ]
      },
      "PublicMessageHeader" : {
        "title" : "MESSAGE_HEADER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "MESSAGE_HEADER",
            "enum" : [ "MESSAGE_HEADER" ]
          },
          "text" : {
            "type" : "string"
          },
          "fileId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PublicChannelAccount" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel account."
          },
          "channelId" : {
            "type" : "string",
            "description" : "The ID of the channel that the channel account is an instance of."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel account."
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox that contains the channel account."
          },
          "active" : {
            "type" : "boolean",
            "description" : "Whether the channel account is turned on."
          },
          "authorized" : {
            "type" : "boolean"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        },
        "description" : "An instance of a conversations channel. Examples include team emails and chatflows. All conversations messages occur on a channel account."
      },
      "CollectionResponseWithTotalPublicChannelForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicChannel"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "CollectionResponsePublicThreadForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicThread"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          }
        }
      },
      "BatchResponsePublicActorWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicContact" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          },
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          }
        }
      },
      "PublicAssignmentMessage" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "createdAt", "createdBy", "id", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "ASSIGNMENT",
              "enum" : [ "ASSIGNMENT" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "archived" : {
              "type" : "boolean"
            },
            "assignedTo" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "assignedFrom" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "BotActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "BOT",
              "enum" : [ "BOT" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "name" : {
              "type" : "string"
            },
            "avatar" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ContactAddress" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          },
          "street" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "zip" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          }
        }
      },
      "PublicThreadInboxChange" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "createdAt", "createdBy", "fromInboxId", "id", "recipients", "senders", "toInboxId", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "THREAD_INBOX_CHANGE",
              "enum" : [ "THREAD_INBOX_CHANGE" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "archived" : {
              "type" : "boolean"
            },
            "fromInboxId" : {
              "type" : "string"
            },
            "toInboxId" : {
              "type" : "string"
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "PublicWelcomeMessage" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "createdAt", "createdBy", "id", "recipients", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "WELCOME_MESSAGE",
              "enum" : [ "WELCOME_MESSAGE" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "archived" : {
              "type" : "boolean"
            },
            "text" : {
              "type" : "string"
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "CollectionResponseWithTotalPublicInboxForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicInbox"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "PublicUnsupportedContent" : {
        "title" : "UNSUPPORTED_CONTENT",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "UNSUPPORTED_CONTENT",
            "enum" : [ "UNSUPPORTED_CONTENT" ]
          }
        }
      },
      "ActorId" : {
        "type" : "string",
        "description" : "The ID of an actor/participant in a conversation.",
        "example" : "A-123"
      },
      "QuickReply" : {
        "required" : [ "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "valueType" : {
            "type" : "string"
          }
        }
      },
      "PublicQuickReplies" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "allowMultiSelect", "allowUserInput", "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          },
          "quickReplies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "allowUserInput" : {
            "type" : "boolean"
          },
          "allowMultiSelect" : {
            "type" : "boolean"
          }
        }
      },
      "PublicInbox" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the inbox."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the inbox."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the inbox was created.",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "description" : "A conversations inbox, which contains channel accounts and threads."
      },
      "PublicChannel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel."
          }
        },
        "description" : "A conversations channel. Examples include Email, Facebook Messenger, and HubSpot LiveChat."
      },
      "PublicThreadStatusChange" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "createdAt", "createdBy", "id", "newStatus", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "THREAD_STATUS_CHANGE",
              "enum" : [ "THREAD_STATUS_CHANGE" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "archived" : {
              "type" : "boolean"
            },
            "newStatus" : {
              "type" : "string",
              "enum" : [ "OPEN", "CLOSED" ]
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "PublicLocation" : {
        "title" : "LOCATION",
        "required" : [ "latitude", "longitude", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "LOCATION",
            "enum" : [ "LOCATION" ]
          },
          "latitude" : {
            "type" : "number"
          },
          "longitude" : {
            "type" : "number"
          },
          "name" : {
            "type" : "string"
          },
          "address" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponseWithTotalPublicChannelAccountForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicChannelAccount"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "PublicFileEgg" : {
        "title" : "FILE",
        "required" : [ "fileId", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "fileId" : {
            "type" : "string"
          }
        }
      },
      "PublicActor" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/AgentActor"
        }, {
          "$ref" : "#/components/schemas/BotActor"
        }, {
          "$ref" : "#/components/schemas/IntegratorActor"
        }, {
          "$ref" : "#/components/schemas/SystemActor"
        }, {
          "$ref" : "#/components/schemas/VisitorActor"
        }, {
          "$ref" : "#/components/schemas/EmailActor"
        } ]
      },
      "AgentActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "AGENT",
              "enum" : [ "AGENT" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "name" : {
              "type" : "string"
            },
            "email" : {
              "type" : "string"
            },
            "avatar" : {
              "type" : "string"
            }
          }
        } ]
      },
      "PublicRecipientEgg" : {
        "required" : [ "deliveryIdentifiers" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "$ref" : "#/components/schemas/ActorId"
          },
          "name" : {
            "type" : "string"
          },
          "recipientField" : {
            "type" : "string"
          },
          "deliveryIdentifiers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
            }
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "PublicComment" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "client", "createdAt", "createdBy", "id", "recipients", "richText", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "archived" : {
              "type" : "boolean"
            },
            "text" : {
              "type" : "string"
            },
            "richText" : {
              "type" : "string"
            },
            "attachments" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : { }
              }
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "PublicThreadUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "enum" : [ "OPEN", "CLOSED" ]
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived. Set to false to restore the thread."
          }
        },
        "description" : "The properties of the thread to update. If restoring a thread, the archived property should be the only field in the request body. For other updates, PATCH requests should exclude the archived property from the body of the request."
      },
      "BatchResponsePublicActor" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "category" : {
            "type" : "string"
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { }
          },
          "message" : {
            "type" : "string"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "CollectionResponsePublicMessageForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConversationsMessage"
              }, {
                "$ref" : "#/components/schemas/PublicComment"
              }, {
                "$ref" : "#/components/schemas/PublicWelcomeMessage"
              }, {
                "$ref" : "#/components/schemas/PublicAssignmentMessage"
              }, {
                "$ref" : "#/components/schemas/PublicThreadStatusChange"
              }, {
                "$ref" : "#/components/schemas/PublicThreadInboxChange"
              } ]
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "PublicMessageFailureDetails" : {
        "required" : [ "errorMessageTokens" ],
        "type" : "object",
        "properties" : {
          "errorMessage" : {
            "type" : "string"
          },
          "errorMessageTokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicMessage" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessage"
        }, {
          "$ref" : "#/components/schemas/PublicComment"
        }, {
          "$ref" : "#/components/schemas/PublicWelcomeMessage"
        }, {
          "$ref" : "#/components/schemas/PublicAssignmentMessage"
        }, {
          "$ref" : "#/components/schemas/PublicThreadStatusChange"
        }, {
          "$ref" : "#/components/schemas/PublicThreadInboxChange"
        } ]
      },
      "PublicDeliveryIdentifier" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
          },
          "value" : {
            "type" : "string",
            "description" : "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
          }
        },
        "description" : "An identifier that represents how a message is sent."
      },
      "PublicCommentEgg" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "text" : {
              "type" : "string"
            },
            "richText" : {
              "type" : "string"
            },
            "attachments" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : { }
              }
            }
          }
        } ]
      },
      "PublicSender" : {
        "type" : "object",
        "properties" : {
          "actorId" : {
            "$ref" : "#/components/schemas/ActorId"
          },
          "name" : {
            "type" : "string"
          },
          "senderField" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "ContactPhone" : {
        "required" : [ "phone" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "CELL", "MAIN", "HOME", "WORK" ]
          },
          "phone" : {
            "type" : "string"
          }
        }
      },
      "PublicClient" : {
        "type" : "object",
        "properties" : {
          "clientType" : {
            "type" : "string",
            "description" : "The type of the client.",
            "enum" : [ "HUBSPOT", "SYSTEM", "INTEGRATION", "UNKNOWN" ]
          },
          "integrationAppId" : {
            "type" : "integer",
            "description" : "The ID of the client if the client is an integration.",
            "format" : "int32"
          }
        },
        "description" : "A client that sends conversations messages."
      },
      "PublicMessageStatus" : {
        "required" : [ "statusType" ],
        "type" : "object",
        "properties" : {
          "statusType" : {
            "type" : "string",
            "enum" : [ "SENT", "FAILED", "RECEIVED", "READ" ]
          },
          "failureDetails" : {
            "$ref" : "#/components/schemas/PublicMessageFailureDetails"
          }
        }
      },
      "PublicWhatsAppTemplateMetadata" : {
        "title" : "WHATSAPP_TEMPLATE_METADATA",
        "required" : [ "crmObjectIds", "mappedTemplateId", "parameters", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "WHATSAPP_TEMPLATE_METADATA",
            "enum" : [ "WHATSAPP_TEMPLATE_METADATA" ]
          },
          "mappedTemplateId" : {
            "type" : "string"
          },
          "crmObjectIds" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicConversationsMessageEgg" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "channelAccountId", "channelId", "recipients", "senderActorId", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "text" : {
              "type" : "string"
            },
            "richText" : {
              "type" : "string"
            },
            "attachments" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : { }
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipientEgg"
              }
            },
            "senderActorId" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "channelId" : {
              "type" : "string"
            },
            "channelAccountId" : {
              "type" : "string"
            },
            "subject" : {
              "type" : "string"
            }
          }
        } ]
      },
      "PublicConversationsMessage" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "client", "createdAt", "createdBy", "direction", "id", "recipients", "senders", "text", "truncationStatus", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "id" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "createdBy" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean"
            },
            "text" : {
              "type" : "string"
            },
            "richText" : {
              "type" : "string"
            },
            "attachments" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : { }
              }
            },
            "subject" : {
              "type" : "string"
            },
            "truncationStatus" : {
              "type" : "string",
              "enum" : [ "NOT_TRUNCATED", "TRUNCATED_TO_MOST_RECENT_REPLY", "TRUNCATED" ]
            },
            "inReplyToId" : {
              "type" : "string"
            },
            "status" : {
              "$ref" : "#/components/schemas/PublicMessageStatus"
            },
            "direction" : {
              "type" : "string",
              "enum" : [ "INCOMING", "OUTGOING", "NOT_APPLICABLE" ]
            },
            "channelId" : {
              "type" : "integer",
              "format" : "int32"
            },
            "channelAccountId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "conversationsThreadId" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "SystemActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "SYSTEM",
              "enum" : [ "SYSTEM" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            }
          }
        } ]
      },
      "PublicThread" : {
        "required" : [ "associatedContactId", "createdAt", "id", "inboxId", "spam", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the thread."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the thread was created.",
            "format" : "date-time"
          },
          "closedAt" : {
            "type" : "string",
            "description" : "When the thread was closed. Only set if the thread is closed.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "enum" : [ "OPEN", "CLOSED" ]
          },
          "latestMessageTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent or received on the thread.",
            "format" : "date-time"
          },
          "latestMessageSentTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time"
          },
          "latestMessageReceivedTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time"
          },
          "assignedTo" : {
            "$ref" : "#/components/schemas/ActorId"
          },
          "spam" : {
            "type" : "boolean",
            "description" : "Whether the thread is marked as spam."
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox containing the thread."
          },
          "associatedContactId" : {
            "type" : "string",
            "description" : "The ID of the associated Contact in the CRM."
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived."
          }
        },
        "description" : "A conversation thread."
      },
      "IntegratorActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "name", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "INTEGRATOR",
              "enum" : [ "INTEGRATOR" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "name" : {
              "type" : "string"
            },
            "avatar" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ContactProfile" : {
        "required" : [ "addresses", "emails", "phones", "urls" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "$ref" : "#/components/schemas/ContactName"
          },
          "org" : {
            "$ref" : "#/components/schemas/ContactOrg"
          },
          "addresses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactAddress"
            }
          },
          "emails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactEmail"
            }
          },
          "phones" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactPhone"
            }
          },
          "urls" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactUrl"
            }
          }
        }
      },
      "ContactOrg" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string"
          },
          "department" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "EmailActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "email", "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "EMAIL",
              "enum" : [ "EMAIL" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "email" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ContactUrl" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicFile" : {
        "title" : "FILE",
        "required" : [ "fileId", "fileUsageType", "type", "url" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "fileId" : {
            "type" : "string"
          },
          "fileUsageType" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "PublicQuickRepliesEgg" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          },
          "quickReplies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          }
        }
      },
      "PublicMessageContent" : {
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "richText" : {
            "type" : "string"
          }
        }
      },
      "VisitorActor" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "VISITOR",
              "enum" : [ "VISITOR" ]
            },
            "id" : {
              "$ref" : "#/components/schemas/ActorId"
            },
            "name" : {
              "type" : "string"
            },
            "email" : {
              "type" : "string"
            },
            "avatar" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ContactEmail" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "ContactName" : {
        "type" : "object",
        "properties" : {
          "prefix" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "middleName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "suffix" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "conversations.read" : "Read from conversations",
              "conversations.write" : "Write to conversations"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  }
}