{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Transactional Single Send",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After a customer converts or purchases a product from your business, you want to send them a receipt of their transaction.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Transactional Email Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/emails/transactional-emails"
    } ],
    "x-hubspot-introduction" : "Use the transactional email API to send emails from a dedicated IP address to your contacts for essential business transactions, including account updates or terms of service changes."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Single send"
  }, {
    "name" : "Public SMTP tokens"
  } ],
  "paths" : {
    "/marketing/v3/transactional/single-email/send" : {
      "post" : {
        "tags" : [ "Single send" ],
        "summary" : "Enviar un solo correo transaccional de forma asíncrona.",
        "description" : "Envía un correo transaccional de forma asíncrona. Devuelve el estado del envío con un statusId que se puede usar para consultar el estado utilizando la API de estado de envío de correo.",
        "operationId" : "post-/marketing/v3/transactional/single-email/send_sendEmail",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "A request object describing the email to send.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSingleSendRequestEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailSendStatusView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens" : {
      "get" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "Consulta los tokens de la API SMTP por nombre de campaña o un emailCampaignId.",
        "description" : "Consulta múltiples tokens de la API SMTP por nombre de campaña o un único token por emailCampaignId.",
        "operationId" : "get-/marketing/v3/transactional/smtp-tokens_getTokensPage",
        "parameters" : [ {
          "name" : "campaignName",
          "in" : "query",
          "description" : "Un nombre para la campaña vinculada al token de la API SMTP.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "emailCampaignId",
          "in" : "query",
          "description" : "Identificador asignado a la campaña especificado durante la creación del token.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Punto de partida para obtener el siguiente conjunto de resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Número máximo de tokens que se devolverán.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSmtpApiTokenViewForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      },
      "post" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "Crea un token de API SMTP.",
        "description" : "Crea un token de API SMTP.",
        "operationId" : "post-/marketing/v3/transactional/smtp-tokens_createToken",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "A request object that includes the campaign name tied to the token and whether contacts should be created for email recipients.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SmtpApiTokenRequestEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset" : {
      "post" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "Restablece la contraseña de un token existente.",
        "description" : "Permite la creación de una contraseña de reemplazo para un token determinado. Una vez que la contraseña se restablece correctamente, la contraseña anterior del token deja de ser válida.",
        "operationId" : "post-/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset_resetPassword",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "Identificador generado cuando se crea un token.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens/{tokenId}" : {
      "get" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "Consulta un único token por ID.",
        "description" : "Consulta un único token por ID.",
        "operationId" : "get-/marketing/v3/transactional/smtp-tokens/{tokenId}_getTokenById",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "Identificador generado cuando se crea un token.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "Elimina un único token por ID.",
        "description" : "Elimina un único token por ID.",
        "operationId" : "delete-/marketing/v3/transactional/smtp-tokens/{tokenId}_archiveToken",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "Identificador generado cuando se crea un token.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseSmtpApiTokenViewForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SmtpApiTokenView"
            }
          }
        }
      },
      "EmailSendStatusView" : {
        "required" : [ "status", "statusId" ],
        "type" : "object",
        "properties" : {
          "eventId" : {
            "$ref" : "#/components/schemas/EventIdView"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "La hora cuando se completó el envío.",
            "format" : "date-time"
          },
          "statusId" : {
            "type" : "string",
            "description" : "Identificador utilizado para consultar el estado del envío."
          },
          "sendResult" : {
            "type" : "string",
            "description" : "Resultado del envío.",
            "enum" : [ "SENT", "IDEMPOTENT_IGNORE", "QUEUED", "IDEMPOTENT_FAIL", "THROTTLED", "EMAIL_DISABLED", "PORTAL_SUSPENDED", "INVALID_TO_ADDRESS", "BLOCKED_DOMAIN", "PREVIOUSLY_BOUNCED", "EMAIL_UNCONFIRMED", "PREVIOUS_SPAM", "PREVIOUSLY_UNSUBSCRIBED_MESSAGE", "PREVIOUSLY_UNSUBSCRIBED_PORTAL", "INVALID_FROM_ADDRESS", "CAMPAIGN_CANCELLED", "VALIDATION_FAILED", "MTA_IGNORE", "BLOCKED_ADDRESS", "PORTAL_OVER_LIMIT", "PORTAL_EXPIRED", "PORTAL_MISSING_MARKETING_SCOPE", "MISSING_TEMPLATE_PROPERTIES", "MISSING_REQUIRED_PARAMETER", "PORTAL_AUTHENTICATION_FAILURE", "MISSING_CONTENT", "CORRUPT_INPUT", "TEMPLATE_RENDER_EXCEPTION", "GRAYMAIL_SUPPRESSED", "UNCONFIGURED_SENDING_DOMAIN", "UNDELIVERABLE", "CANCELLED_ABUSE", "QUARANTINED_ADDRESS", "ADDRESS_ONLY_ACCEPTED_ON_PROD", "PORTAL_NOT_AUTHORIZED_FOR_APPLICATION", "ADDRESS_LIST_BOMBED", "ADDRESS_OPTED_OUT", "RECIPIENT_FATIGUE_SUPPRESSED", "TOO_MANY_RECIPIENTS", "PREVIOUSLY_UNSUBSCRIBED_BRAND", "NON_MARKETABLE_CONTACT", "PREVIOUSLY_UNSUBSCRIBED_BUSINESS_UNIT", "GDPR_DOI_ENABLED" ]
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "La hora cuando se solicitó el envío.",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "La hora cuando comenzó el procesamiento del envío.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Estado de la solicitud de envío.",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        },
        "description" : "Describes the status of an email send request."
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "SmtpApiTokenRequestEgg" : {
        "required" : [ "campaignName", "createContact" ],
        "type" : "object",
        "properties" : {
          "createContact" : {
            "type" : "boolean",
            "description" : "Indica si se debe crear un registro de contacto para los destinatarios de correo."
          },
          "campaignName" : {
            "type" : "string",
            "description" : "Un nombre para la campaña vinculada al token de la API SMTP."
          }
        },
        "description" : "A request object to create a SMTP API token"
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicSingleSendRequestEgg" : {
        "required" : [ "emailId", "message" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "El campo customProperties es un mapa de valores de propiedad. Cada uno de estos valores contiene una propiedad de nombre y valor. Cada propiedad será visible en la plantilla bajo {{ custom.NAME }}.\nNota: Las propiedades personalizadas actualmente no admiten secuencias. Para proporcionar una lista en un correo, un método alternativo es construir una lista HTML (ya sea con tablas o ul) y especificarla como una propiedad personalizada."
          },
          "emailId" : {
            "type" : "integer",
            "description" : "El ID del contenido del correo transaccional, que se puede encontrar en la UI de la herramienta de correo.",
            "format" : "int32"
          },
          "message" : {
            "$ref" : "#/components/schemas/PublicSingleSendEmail"
          },
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "El campo contactProperties es un mapa de valores de propiedad de contacto. Cada uno de estos valores contiene una propiedad de nombre y valor. Cada propiedad se establecerá en el registro de contacto y será visible en la plantilla bajo {{ contact.NAME }}. Utiliza estas propiedades cuando desees establecer una propiedad de contacto mientras envías el correo. Por ejemplo, al enviar un recibo, puede que desees establecer una propiedad last_paid_date, ya que el envío del recibo tendrá información sobre el último registro de pago."
          }
        },
        "description" : "A request to send a single transactional email asynchronously."
      },
      "EventIdView" : {
        "required" : [ "created", "id" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "Hora de creación del evento.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "Identificador del evento.",
            "format" : "uuid"
          }
        },
        "description" : "The ID of a send event."
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de soporte.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SmtpApiTokenView" : {
        "required" : [ "campaignName", "createContact", "createdAt", "createdBy", "emailCampaignId", "id" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Marca de tiempo generada cuando se crea un token.",
            "format" : "date-time"
          },
          "password" : {
            "type" : "string",
            "description" : "Contraseña utilizada para iniciar sesión en el servidor SMTP de HubSpot."
          },
          "createdBy" : {
            "type" : "string",
            "description" : "Dirección de correo del usuario que envió la solicitud de creación de token."
          },
          "createContact" : {
            "type" : "boolean",
            "description" : "Indica si se debe crear un registro de contacto para los destinatarios de correo."
          },
          "id" : {
            "type" : "string",
            "description" : "Nombre de usuario para iniciar sesión en el servidor SMTP de HubSpot."
          },
          "emailCampaignId" : {
            "type" : "string",
            "description" : "Identificador asignado a la campaña especificado en la solicitud de creación de token."
          },
          "campaignName" : {
            "type" : "string",
            "description" : "Un nombre para la campaña vinculada al token."
          }
        },
        "description" : "A SMTP API token provides both an ID and password that can be used to send email through the HubSpot SMTP API."
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : ""
          },
          "after" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "PublicSingleSendEmail" : {
        "required" : [ "to" ],
        "type" : "object",
        "properties" : {
          "cc" : {
            "type" : "array",
            "description" : "Lista de direcciones de correo a las que se enviará como Cc.",
            "items" : {
              "type" : "string"
            }
          },
          "sendId" : {
            "type" : "string",
            "description" : "ID para un envío en particular. No se enviará más de un correo por cada sendId."
          },
          "bcc" : {
            "type" : "array",
            "description" : "Lista de direcciones de correo a las que se enviará como Cco.",
            "items" : {
              "type" : "string"
            }
          },
          "replyTo" : {
            "type" : "array",
            "description" : "Lista de valores del encabezado Responder a del correo.",
            "items" : {
              "type" : "string"
            }
          },
          "from" : {
            "type" : "string",
            "description" : "El encabezado De del correo."
          },
          "to" : {
            "type" : "string",
            "description" : "El destinatario del correo."
          }
        },
        "description" : "A JSON object containing anything you want to override."
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "transactional-email" : "Transactional Emails"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL"
  },
  "x-hubspot-documentation-banner" : "NONE"
}