{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Transactional Single Send",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After a customer converts or purchases a product from your business, you want to send them a receipt of their transaction.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Transactional Email Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/emails/transactional-emails"
    } ],
    "x-hubspot-introduction" : "Use the transactional email API to send emails from a dedicated IP address to your contacts for essential business transactions, including account updates or terms of service changes."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Single send"
  }, {
    "name" : "Public SMTP tokens"
  } ],
  "paths" : {
    "/marketing/v3/transactional/single-email/send" : {
      "post" : {
        "tags" : [ "Single send" ],
        "summary" : "1件のトランザクションEメールを非同期で送信します。",
        "description" : "トランザクションEメールを非同期で送信します。Eメール送信ステータスAPIを使用してステータスを継続的に照会するのに使用できるstatusIdと一緒にEメール送信のステータスが返されます。",
        "operationId" : "post-/marketing/v3/transactional/single-email/send_sendEmail",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "A request object describing the email to send.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSingleSendRequestEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailSendStatusView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens" : {
      "get" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "キャンペーン名またはemailCampaignIdを使用してSMTP APIトークンを照会します。",
        "description" : "キャンペーン名を基準に複数のSMTP APIトークンを、またはemailCampaignIdを使用して1件のトークンを照会します。",
        "operationId" : "get-/marketing/v3/transactional/smtp-tokens_getTokensPage",
        "parameters" : [ {
          "name" : "campaignName",
          "in" : "query",
          "description" : "SMTP APIトークンにひも付けられているキャンペーンの名前。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "emailCampaignId",
          "in" : "query",
          "description" : "トークン作成時に指定されたキャンペーンに割り当てられているID。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "次の結果のセットを取得するための開始点。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "返すトークンの最大数。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSmtpApiTokenViewForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      },
      "post" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "SMTP APIトークンを作成します。",
        "description" : "SMTP APIトークンを作成します。",
        "operationId" : "post-/marketing/v3/transactional/smtp-tokens_createToken",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "A request object that includes the campaign name tied to the token and whether contacts should be created for email recipients.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SmtpApiTokenRequestEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset" : {
      "post" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "既存のトークンのパスワードをリセットします。",
        "description" : "特定のトークンの置換パスワードを作成できるようになります。パスワードが正常にリセットされると、トークンの古い方のパスワードは無効になります。",
        "operationId" : "post-/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset_resetPassword",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "トークンが作成されるときに生成されるID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    },
    "/marketing/v3/transactional/smtp-tokens/{tokenId}" : {
      "get" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "IDを基準に1件のトークンを照会します。",
        "description" : "IDを基準に1件のトークンを照会します。",
        "operationId" : "get-/marketing/v3/transactional/smtp-tokens/{tokenId}_getTokenById",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "トークンが作成されるときに生成されるID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmtpApiTokenView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Public SMTP tokens" ],
        "summary" : "IDを基準に1件のトークンを削除します。",
        "description" : "IDを基準に1件のトークンを削除します。",
        "operationId" : "delete-/marketing/v3/transactional/smtp-tokens/{tokenId}_archiveToken",
        "parameters" : [ {
          "name" : "tokenId",
          "in" : "path",
          "description" : "トークンが作成されるときに生成されるID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseSmtpApiTokenViewForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SmtpApiTokenView"
            }
          }
        }
      },
      "EmailSendStatusView" : {
        "required" : [ "status", "statusId" ],
        "type" : "object",
        "properties" : {
          "eventId" : {
            "$ref" : "#/components/schemas/EventIdView"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "送信が完了した日時。",
            "format" : "date-time"
          },
          "statusId" : {
            "type" : "string",
            "description" : "送信のステータスを照会するために使用されるID。"
          },
          "sendResult" : {
            "type" : "string",
            "description" : "送信の結果。",
            "enum" : [ "SENT", "IDEMPOTENT_IGNORE", "QUEUED", "IDEMPOTENT_FAIL", "THROTTLED", "EMAIL_DISABLED", "PORTAL_SUSPENDED", "INVALID_TO_ADDRESS", "BLOCKED_DOMAIN", "PREVIOUSLY_BOUNCED", "EMAIL_UNCONFIRMED", "PREVIOUS_SPAM", "PREVIOUSLY_UNSUBSCRIBED_MESSAGE", "PREVIOUSLY_UNSUBSCRIBED_PORTAL", "INVALID_FROM_ADDRESS", "CAMPAIGN_CANCELLED", "VALIDATION_FAILED", "MTA_IGNORE", "BLOCKED_ADDRESS", "PORTAL_OVER_LIMIT", "PORTAL_EXPIRED", "PORTAL_MISSING_MARKETING_SCOPE", "MISSING_TEMPLATE_PROPERTIES", "MISSING_REQUIRED_PARAMETER", "PORTAL_AUTHENTICATION_FAILURE", "MISSING_CONTENT", "CORRUPT_INPUT", "TEMPLATE_RENDER_EXCEPTION", "GRAYMAIL_SUPPRESSED", "UNCONFIGURED_SENDING_DOMAIN", "UNDELIVERABLE", "CANCELLED_ABUSE", "QUARANTINED_ADDRESS", "ADDRESS_ONLY_ACCEPTED_ON_PROD", "PORTAL_NOT_AUTHORIZED_FOR_APPLICATION", "ADDRESS_LIST_BOMBED", "ADDRESS_OPTED_OUT", "RECIPIENT_FATIGUE_SUPPRESSED", "TOO_MANY_RECIPIENTS", "PREVIOUSLY_UNSUBSCRIBED_BRAND", "NON_MARKETABLE_CONTACT", "PREVIOUSLY_UNSUBSCRIBED_BUSINESS_UNIT", "GDPR_DOI_ENABLED" ]
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "送信がリクエストされた日時。",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "送信の処理が開始された日時。",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "送信リクエストのステータス。",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        },
        "description" : "Describes the status of an email send request."
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "SmtpApiTokenRequestEgg" : {
        "required" : [ "campaignName", "createContact" ],
        "type" : "object",
        "properties" : {
          "createContact" : {
            "type" : "boolean",
            "description" : "Eメール受信者についてコンタクトを作成する必要があるかどうかを示します。"
          },
          "campaignName" : {
            "type" : "string",
            "description" : "SMTP APIトークンにひも付けられているキャンペーンの名前。"
          }
        },
        "description" : "A request object to create a SMTP API token"
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicSingleSendRequestEgg" : {
        "required" : [ "emailId", "message" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "customPropertiesフィールドはプロパティー値のひも付けです。各プロパティー値には名前と値プロパティーが含まれています。各プロパティーは{{ custom.NAME }}のテンプレートに表示されます。\n注：カスタムプロパティーでは現在のところ配列はサポートされていません。Eメールでリストを指定する場合の回避策の1つとして、HTMLリスト（テーブルまたはulを使用）を作成してカスタムプロパティーとして指定する方法があります。"
          },
          "emailId" : {
            "type" : "integer",
            "description" : "EメールツールのUIで確認できるトランザクションEメールのコンテンツID。",
            "format" : "int32"
          },
          "message" : {
            "$ref" : "#/components/schemas/PublicSingleSendEmail"
          },
          "contactProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "contactPropertiesフィールドはコンタクトプロパティー値のひも付けです。各コンタクトプロパティー値には名前と値プロパティーが含まれています。各プロパティーはコンタクトレコードで設定され、{{ contact.NAME }}のテンプレートに表示されます。 Eメールを送信する際にコンタクトプロパティーを設定する場合は、これらのプロパティーを使用します。例えば、領収書を送信する場合、領収書の送信には前回の支払いに関する情報が含まれるため、last_paid_dateプロパティーを設定する必要がある場合があります。"
          }
        },
        "description" : "A request to send a single transactional email asynchronously."
      },
      "EventIdView" : {
        "required" : [ "created", "id" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "イベント作成の日時。",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "イベントのID。",
            "format" : "uuid"
          }
        },
        "description" : "The ID of a send event."
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SmtpApiTokenView" : {
        "required" : [ "campaignName", "createContact", "createdAt", "createdBy", "emailCampaignId", "id" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "トークンが作成されるときに生成されるタイムスタンプ。",
            "format" : "date-time"
          },
          "password" : {
            "type" : "string",
            "description" : "HubSpot SMTPサーバーにログインするためのパスワード。"
          },
          "createdBy" : {
            "type" : "string",
            "description" : "トークン作成リクエストを送信したユーザーのEメールアドレス。"
          },
          "createContact" : {
            "type" : "boolean",
            "description" : "Eメール受信者についてコンタクトを作成する必要があるかどうかを示します。"
          },
          "id" : {
            "type" : "string",
            "description" : "HubSpot SMTPサーバーにログインするためのユーザー名。"
          },
          "emailCampaignId" : {
            "type" : "string",
            "description" : "トークン作成リクエストで指定されたキャンペーンに割り当てられているID。"
          },
          "campaignName" : {
            "type" : "string",
            "description" : "トークンにひも付けられているキャンペーンの名前。"
          }
        },
        "description" : "A SMTP API token provides both an ID and password that can be used to send email through the HubSpot SMTP API."
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : ""
          },
          "after" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "PublicSingleSendEmail" : {
        "required" : [ "to" ],
        "type" : "object",
        "properties" : {
          "cc" : {
            "type" : "array",
            "description" : "Ccとして送信するEメールアドレスのリスト。",
            "items" : {
              "type" : "string"
            }
          },
          "sendId" : {
            "type" : "string",
            "description" : "特定の送信のID。sendIdごとに送信されるEメールは1件までです。"
          },
          "bcc" : {
            "type" : "array",
            "description" : "Bccとして送信するEメールアドレスのリスト。",
            "items" : {
              "type" : "string"
            }
          },
          "replyTo" : {
            "type" : "array",
            "description" : "Eメールの返信先ヘッダー値のリスト。",
            "items" : {
              "type" : "string"
            }
          },
          "from" : {
            "type" : "string",
            "description" : "Eメールの送信元ヘッダー。"
          },
          "to" : {
            "type" : "string",
            "description" : "Eメールの受信者。"
          }
        },
        "description" : "A JSON object containing anything you want to override."
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "transactional-email" : "Transactional Emails"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL"
  },
  "x-hubspot-documentation-banner" : "NONE"
}