{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Account Account Info",
    "description" : "Get information about a HubSpot account and its API usage.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Account information API guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/settings/account-information-api"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Details"
  }, {
    "name" : "Usage"
  } ],
  "paths" : {
    "/account-info/v3/api-usage/daily/private-apps" : {
      "get" : {
        "tags" : [ "Usage" ],
        "summary" : "Retrieve private app daily API usage",
        "description" : "Retrieve the daily API usage for private apps in the account, along with information about usage limits.",
        "operationId" : "get-/account-info/v3/api-usage/daily/private-apps",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiUsageNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "collectedAt" : "2020-04-10T06:46:40.789Z",
                    "currentUsage" : 1,
                    "fetchStatus" : "SUCCESS",
                    "name" : "private-apps-api-calls-daily",
                    "resetsAt" : "2020-04-10T04:00:00Z",
                    "usageLimit" : 500000
                  } ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        }, {
          "private_apps" : [ "oauth" ]
        } ]
      }
    },
    "/account-info/v3/details" : {
      "get" : {
        "tags" : [ "Details" ],
        "summary" : "Retrieve account details",
        "description" : "Retrieve account details such as the account type, time zone, currencies, and data hosting location. ",
        "operationId" : "get-/account-info/v3/details",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalInformationResponse"
                },
                "example" : {
                  "additionalCurrencies" : [ "NZD", "AUD", "EUR" ],
                  "companyCurrency" : "USD",
                  "dataHostingLocation" : "eu1",
                  "portalId" : 12345678,
                  "timeZone" : "US/Eastern",
                  "uiDomain" : "app-eu1.hubspot.com",
                  "utcOffset" : "-04:00",
                  "utcOffsetMilliseconds" : -14400000
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        }, {
          "private_apps" : [ "oauth" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ApiUsage" : {
        "required" : [ "collectedAt", "currentUsage", "fetchStatus", "name", "usageLimit" ],
        "type" : "object",
        "properties" : {
          "collectedAt" : {
            "type" : "string",
            "description" : "Indicates when the cache was last updated.",
            "format" : "date-time",
            "example" : null
          },
          "currentUsage" : {
            "type" : "integer",
            "description" : "How many API calls an account has made for the current day.",
            "format" : "int32",
            "example" : null
          },
          "fetchStatus" : {
            "type" : "string",
            "description" : "Status of fetching the information, including if the data came from the cache.",
            "example" : null,
            "enum" : [ "CACHED", "FAILURE", "NOTFOUND", "SUCCESS", "TIMEOUT" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the limit type.",
            "example" : null
          },
          "resetsAt" : {
            "type" : "string",
            "description" : "Time that the limit will reset.",
            "format" : "date-time",
            "example" : null
          },
          "usageLimit" : {
            "type" : "integer",
            "description" : "Limits by which a single integration can consume the HubSpot public APIs.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "API usage and limits information for a HubSpot account.",
        "example" : null
      },
      "PortalInformationResponse" : {
        "required" : [ "accountType", "additionalCurrencies", "companyCurrency", "dataHostingLocation", "portalId", "timeZone", "uiDomain", "utcOffset", "utcOffsetMilliseconds" ],
        "type" : "object",
        "properties" : {
          "accountType" : {
            "type" : "string",
            "description" : "The type of account, such as APP_DEVELOPER, DEVELOPER_TEST, SANDBOX, or STANDARD.",
            "example" : null,
            "enum" : [ "APP_DEVELOPER", "DEVELOPER_TEST", "SANDBOX", "STANDARD" ]
          },
          "additionalCurrencies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "companyCurrency" : {
            "type" : "string",
            "description" : "The primary currency used by the company.",
            "example" : null
          },
          "dataHostingLocation" : {
            "type" : "string",
            "description" : "The location where the account's data is hosted.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "The unique identifier for the HubSpot account.",
            "format" : "int32",
            "example" : null
          },
          "timeZone" : {
            "type" : "string",
            "description" : "The time zone in which the account operates.",
            "example" : null
          },
          "uiDomain" : {
            "type" : "string",
            "description" : "The domain used for accessing the HubSpot user interface.",
            "example" : null
          },
          "utcOffset" : {
            "type" : "string",
            "description" : "The time zone offset from UTC in hours and minutes.",
            "example" : null
          },
          "utcOffsetMilliseconds" : {
            "type" : "integer",
            "description" : "The time zone offset from UTC in milliseconds.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponseApiUsageNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ApiUsage"
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "account-info.security.read" : "Allows reading of account security information",
              "oauth" : "Basic HubSpot account information"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}