{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Transcriptions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Inbound_Call"
  }, {
    "name" : "Transcripts"
  } ],
  "paths" : {
    "/crm/v3/extensions/calling/inbound-call" : {
      "post" : {
        "tags" : [ "Inbound_Call" ],
        "operationId" : "post-/crm/v3/extensions/calling/inbound-call_/crm/v3/extensions/calling/inbound-call",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompletedThirdPartyCallRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletedThirdPartyCallResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/transcripts" : {
      "post" : {
        "tags" : [ "Transcripts" ],
        "operationId" : "post-/crm/v3/extensions/calling/transcripts",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TranscriptCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TranscriptCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.extensions_calling_transcripts.write" ]
        }, {
          "private_apps" : [ "crm.extensions_calling_transcripts.write" ]
        } ]
      }
    },
    "/crm/v3/extensions/calling/transcripts/{transcriptId}" : {
      "get" : {
        "tags" : [ "Transcripts" ],
        "operationId" : "get-/crm/v3/extensions/calling/transcripts/{transcriptId}",
        "parameters" : [ {
          "name" : "transcriptId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TranscriptResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.extensions_calling_transcripts.read" ]
        }, {
          "private_apps" : [ "crm.extensions_calling_transcripts.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Transcripts" ],
        "operationId" : "delete-/crm/v3/extensions/calling/transcripts/{transcriptId}",
        "parameters" : [ {
          "name" : "transcriptId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.extensions_calling_transcripts.write" ]
        }, {
          "private_apps" : [ "crm.extensions_calling_transcripts.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CompanyCallerId" : {
        "title" : "COMPANY",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "callerIdType" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPANY",
            "enum" : [ "COMPANY" ]
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          }
        },
        "example" : null
      },
      "TranscriptCreateResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "TranscriptResponse" : {
        "required" : [ "createdAt", "engagementId", "id", "transcriptSource", "transcriptUtterances", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "engagementId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "transcriptSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HUBSPOT_GENERATED", "INTEGRATOR_GENERATED" ]
          },
          "transcriptUtterances" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TranscriptUtterance"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "CompletedThirdPartyCallResponse" : {
        "required" : [ "callerIdMatches" ],
        "type" : "object",
        "properties" : {
          "callerIdMatches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ContactCallerId"
              }, {
                "$ref" : "#/components/schemas/CompanyCallerId"
              } ]
            }
          }
        },
        "example" : null
      },
      "ContactCallerId" : {
        "title" : "CONTACT",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "callerIdType" : {
            "type" : "string",
            "example" : null,
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          },
          "email" : {
            "type" : "string",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "example" : null
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          }
        },
        "example" : null
      },
      "TranscriptCreateRequest" : {
        "required" : [ "engagementId", "transcriptCreateUtterances" ],
        "type" : "object",
        "properties" : {
          "engagementId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "transcriptCreateUtterances" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/TranscriptCreateUtterance"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "TranscriptUtterance" : {
        "required" : [ "endTimeMillis", "id", "startTimeMillis", "text" ],
        "type" : "object",
        "properties" : {
          "endTimeMillis" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "languageCode" : {
            "type" : "string",
            "example" : null
          },
          "speaker" : {
            "$ref" : "#/components/schemas/Speaker"
          },
          "startTimeMillis" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CompletedThirdPartyCallRequest" : {
        "required" : [ "createEngagement", "engagementProperties", "externalCallId", "finalCallStatus", "fromNumber", "potentialRecipientUserIds", "toNumber" ],
        "type" : "object",
        "properties" : {
          "callStartedTimestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createEngagement" : {
            "type" : "boolean",
            "example" : null
          },
          "durationSeconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "engagementProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "externalCallId" : {
            "type" : "string",
            "example" : null
          },
          "finalCallStatus" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BUSY", "CALLING_CRM_USER", "CANCELED", "COMPLETED", "CONNECTING", "FAILED", "HOLD", "IN_PROGRESS", "MISSED", "NO_ANSWER", "QUEUED", "RINGING" ]
          },
          "fromNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "potentialRecipientUserIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "toNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ObjectCoordinates" : {
        "required" : [ "objectId", "objectTypeId", "portalId" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "TranscriptCreateUtterance" : {
        "required" : [ "endTimeMillis", "speaker", "startTimeMillis", "text" ],
        "type" : "object",
        "properties" : {
          "endTimeMillis" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "languageCode" : {
            "type" : "string",
            "example" : null
          },
          "speaker" : {
            "$ref" : "#/components/schemas/Speaker"
          },
          "startTimeMillis" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "FormattedPhoneNumber" : {
        "required" : [ "e164Number", "phoneNumberType" ],
        "type" : "object",
        "properties" : {
          "e164Number" : {
            "type" : "string",
            "example" : null
          },
          "extension" : {
            "type" : "string",
            "example" : null
          },
          "phoneNumberType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED_LINE", "FIXED_LINE_OR_MOBILE", "MOBILE", "PAGER", "PERSONAL_NUMBER", "PREMIUM_RATE", "SHARED_COST", "TOLL_FREE", "UAN", "UNKNOWN", "VOICEMAIL", "VOIP" ]
          }
        },
        "example" : null
      },
      "Speaker" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.extensions_calling_transcripts.read" : "Provides possibility to read transcriptions",
              "crm.extensions_calling_transcripts.write" : "Provides possibility to save and delete transcriptions",
              "crm.objects.contacts.highly_sensitive.read.v2" : "View contact records (highly-sensitive)",
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.read" : "View contact records",
              "crm.objects.contacts.sensitive.read.v2" : "View sensitive properties on contact records",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.schemas.contacts.read" : "View contacts property settings",
              "crm.schemas.contacts.write" : "Create new contact properties or change contact property settings"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}