{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Settings User Provisioning",
    "description" : "Add, manage, and remove users from your account",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "User Provisioning Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/settings/users/user-provisioning"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Roles"
  }, {
    "name" : "Teams"
  }, {
    "name" : "Users"
  } ],
  "paths" : {
    "/settings/v3/users/" : {
      "get" : {
        "tags" : [ "Users" ],
        "operationId" : "get-/settings/v3/users/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicUserForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "settings.users.read" ]
        }, {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "private_apps" : [ "settings.users.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Users" ],
        "operationId" : "post-/settings/v3/users/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserProvisionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "oauth2" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    },
    "/settings/v3/users/roles" : {
      "get" : {
        "tags" : [ "Roles" ],
        "operationId" : "get-/settings/v3/users/roles_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPermissionSetNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "settings.users.read" ]
        }, {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "private_apps" : [ "settings.users.read" ]
        } ]
      }
    },
    "/settings/v3/users/teams" : {
      "get" : {
        "tags" : [ "Teams" ],
        "operationId" : "get-/settings/v3/users/teams_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicTeamNoPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "settings.users.teams.read" ]
        }, {
          "private_apps" : [ "settings.users.teams.read" ]
        } ]
      }
    },
    "/settings/v3/users/{userId}" : {
      "get" : {
        "tags" : [ "Users" ],
        "operationId" : "get-/settings/v3/users/{userId}_getById",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "EMAIL", "USER_ID" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "settings.users.read" ]
        }, {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "private_apps" : [ "settings.users.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Users" ],
        "operationId" : "put-/settings/v3/users/{userId}_replace",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "EMAIL", "USER_ID" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUserUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "oauth2" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Users" ],
        "operationId" : "delete-/settings/v3/users/{userId}_archive",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "EMAIL", "USER_ID" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "oauth2" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "settings.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicUser" : {
        "required" : [ "email", "id" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The user's email."
          },
          "firstName" : {
            "type" : "string",
            "description" : "The user's first name."
          },
          "id" : {
            "type" : "string",
            "description" : "The user's unique ID."
          },
          "lastName" : {
            "type" : "string",
            "description" : "The user's last name."
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "The user's primary team"
          },
          "roleId" : {
            "type" : "string",
            "description" : "The user's role."
          },
          "roleIds" : {
            "type" : "array",
            "description" : "A list of role IDs assigned to the user.",
            "items" : {
              "type" : "string"
            }
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "The user's additional teams.",
            "items" : {
              "type" : "string"
            }
          },
          "sendWelcomeEmail" : {
            "type" : "boolean",
            "description" : "Whether a welcome email was sent to the user. This value will only be populated in response to a provisioning request. Subsequent queries will be false."
          },
          "superAdmin" : {
            "type" : "boolean",
            "description" : "Whether the user has super admin privileges."
          }
        },
        "description" : "A user",
        "example" : {
          "id" : "123",
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "superAdmin" : "false"
        }
      },
      "CollectionResponsePublicPermissionSetNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicPermissionSet"
            }
          }
        }
      },
      "PublicTeam" : {
        "required" : [ "id", "name", "secondaryUserIds", "userIds" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The team's unique ID"
          },
          "name" : {
            "type" : "string",
            "description" : "The team's name"
          },
          "secondaryUserIds" : {
            "type" : "array",
            "description" : "Secondary or additional members of this team",
            "items" : {
              "type" : "string"
            }
          },
          "userIds" : {
            "type" : "array",
            "description" : "Primary members of this team",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A team that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Team",
          "userIds" : [ "123" ],
          "secondaryUserIds" : [ "124" ]
        }
      },
      "CollectionResponsePublicTeamNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicTeam"
            }
          }
        }
      },
      "CollectionResponsePublicUserForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicUser"
            }
          }
        }
      },
      "UserProvisionRequest" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The user's email."
          },
          "firstName" : {
            "type" : "string",
            "description" : "The user's first name."
          },
          "lastName" : {
            "type" : "string",
            "description" : "The user's last name."
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "The user's primary team."
          },
          "roleId" : {
            "type" : "string",
            "description" : "The user's role."
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "The user's additional teams.",
            "items" : {
              "type" : "string"
            }
          },
          "sendWelcomeEmail" : {
            "type" : "boolean",
            "description" : "Whether to send a welcome email."
          }
        },
        "description" : "A user creation request",
        "example" : {
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "sendWelcomeEmail" : "true"
        }
      },
      "PublicUserUpdate" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user."
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user."
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "The user's primary team."
          },
          "roleId" : {
            "type" : "string",
            "description" : "The user's role."
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "The user's additional teams.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A user to update",
        "example" : {
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ]
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "PublicPermissionSet" : {
        "required" : [ "id", "name", "requiresBillingWrite" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The role's unique ID"
          },
          "name" : {
            "type" : "string",
            "description" : "The role's name"
          },
          "requiresBillingWrite" : {
            "type" : "boolean",
            "description" : "Whether this role has a paid seat and requires the billing-write scope to assign/unassign to users"
          }
        },
        "description" : "A role that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Role",
          "requiresBillingWrite" : "False"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.users.read" : "Read User CRM objects",
              "crm.objects.users.write" : "Write User CRM objects",
              "settings.users.read" : "View account data.",
              "settings.users.teams.read" : "View teams for this account.",
              "settings.users.write" : "Create, modify, and delete users on your account"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}