{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Aprovisionamiento de usuarios",
    "description" : "Add, manage, and remove users from your account",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Gestionas los datos a los que pueden acceder los empleados en un sistema fuera de HubSpot, y quieres asegurarte de que los usuarios específicos se asignen dinámicamente a los equipos correctos en tu cuenta de HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "User Provisioning Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/users/user-provisioning"
    } ],
    "x-hubspot-introduction" : "Utiliza la API de aprovisionamiento de usuarios para crear y gestionar usuarios en tu cuenta de HubSpot, junto con sus equipos y roles asociados."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Equipos"
  }, {
    "name" : "Roles"
  }, {
    "name" : "Usuarios"
  } ],
  "paths" : {
    "/settings/v3/users/teams" : {
      "get" : {
        "tags" : [ "Equipos" ],
        "summary" : "Ver detalles sobre los equipos de esta cuenta",
        "description" : "Ver los equipos de esta cuenta.",
        "operationId" : "get-/settings/v3/users/teams_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicTeamNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "settings.users.teams.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.teams.read" ]
        } ]
      }
    },
    "/settings/v3/users/roles" : {
      "get" : {
        "tags" : [ "Roles" ],
        "summary" : "Recupera los roles de una cuenta",
        "description" : "Recupera los roles de una cuenta",
        "operationId" : "get-/settings/v3/users/roles_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPermissionSetNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      }
    },
    "/settings/v3/users/" : {
      "get" : {
        "tags" : [ "Usuarios" ],
        "summary" : "Recupera una lista de usuarios de una cuenta",
        "description" : "Recupera una lista de usuarios de una cuenta",
        "operationId" : "get-/settings/v3/users/_getPage",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "El número de usuarios que se recuperarán",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Los resultados mostrarán un máximo de 100 usuarios por página. Los resultados adicionales estarán en la página siguiente.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicUserForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Usuarios" ],
        "summary" : "Agrega un usuario",
        "description" : "Los nuevos usuarios solo tendrán permisos mínimos, que se basan en los contactos. Un correo con un mensaje de bienvenida les pedirá que establezcan una contraseña e inicien sesión en HubSpot.",
        "operationId" : "post-/settings/v3/users/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserProvisionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    },
    "/settings/v3/users/{userId}" : {
      "get" : {
        "tags" : [ "Usuarios" ],
        "summary" : "Recupera un usuario",
        "description" : "Recupera un usuario identificado por \"userId\". Por opción predeterminada, \"userId\" hace referencia al ID del usuario, u opcionalmente al correo especificado por el parámetro de consulta \"IdProperty\".",
        "operationId" : "get-/settings/v3/users/{userId}_getById",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificador del usuario que se recuperará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "El nombre de una propiedad con valores de usuario únicos. Los valores válidos son \"USER_ID\" (predeterminado) o \"EMAIL\"",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Usuarios" ],
        "summary" : "Modifica un usuario",
        "description" : "Modifica un usuario identificado por \"userId\". Por opción predeterminada, \"userId\" hace referencia al ID del usuario, u opcionalmente al correo especificado por el parámetro de consulta \"IdProperty\".",
        "operationId" : "put-/settings/v3/users/{userId}_replace",
        "parameters" : [ {
          "name" : "idProperty",
          "in" : "query",
          "description" : "El nombre de una propiedad con valores de usuario únicos. Los valores válidos son \"USER_ID\" (predeterminado) o \"EMAIL\"",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificador del usuario que se recuperará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUserUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Usuarios" ],
        "summary" : "Elimina un usuario",
        "description" : "Elimina un usuario identificado por \"userId\". Por opción predeterminada, \"userId\" hace referencia al ID del usuario, u opcionalmente al correo especificado por el parámetro de consulta \"IdProperty\".",
        "operationId" : "delete-/settings/v3/users/{userId}_archive",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificador del usuario que se eliminará",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "El nombre de una propiedad con valores de usuario únicos. Los valores válidos son \"USER_ID\" (predeterminado) o \"EMAIL\"",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado con el detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicUser" : {
        "required" : [ "email", "id" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "El equipo principal del usuario",
            "example" : "101"
          },
          "roleIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "sendWelcomeEmail" : {
            "type" : "boolean"
          },
          "roleId" : {
            "type" : "string",
            "description" : "El rol del usuario",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Los equipos adicionales del usuario",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "El ID único del usuario",
            "example" : "123"
          },
          "superAdmin" : {
            "type" : "boolean",
            "example" : false
          },
          "email" : {
            "type" : "string",
            "description" : "El correo del usuario",
            "example" : "newUser@email.com"
          }
        },
        "description" : "A user",
        "example" : {
          "id" : "123",
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "superAdmin" : "false"
        }
      },
      "CollectionResponsePublicPermissionSetNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicPermissionSet"
            }
          }
        }
      },
      "PublicTeam" : {
        "required" : [ "id", "name", "secondaryUserIds", "userIds" ],
        "type" : "object",
        "properties" : {
          "userIds" : {
            "type" : "array",
            "description" : "Miembros principales de este equipo",
            "example" : [ "123" ],
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre del equipo",
            "example" : "Test Team"
          },
          "id" : {
            "type" : "string",
            "description" : "El ID único del equipo",
            "example" : "100"
          },
          "secondaryUserIds" : {
            "type" : "array",
            "description" : "Miembros secundarios o adicionales de este equipo",
            "example" : [ "124" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A team that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Team",
          "userIds" : [ "123" ],
          "secondaryUserIds" : [ "124" ]
        }
      },
      "CollectionResponsePublicTeamNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicTeam"
            }
          }
        }
      },
      "CollectionResponsePublicUserForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicUser"
            }
          }
        }
      },
      "UserProvisionRequest" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "El equipo principal del usuario",
            "example" : "101"
          },
          "sendWelcomeEmail" : {
            "type" : "boolean",
            "description" : "Si enviar un correo con mensaje de bienvenida",
            "example" : true
          },
          "roleId" : {
            "type" : "string",
            "description" : "El rol del usuario",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Los equipos adicionales del usuario",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "El correo del usuario creado",
            "example" : "newUser@email.com"
          }
        },
        "description" : "A user creation request",
        "example" : {
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "sendWelcomeEmail" : "true"
        }
      },
      "PublicUserUpdate" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "El equipo principal del usuario",
            "example" : "101"
          },
          "roleId" : {
            "type" : "string",
            "description" : "El rol del usuario",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Los equipos adicionales del usuario",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A user to update",
        "example" : {
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ]
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de soporte.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      },
      "PublicPermissionSet" : {
        "required" : [ "id", "name", "requiresBillingWrite" ],
        "type" : "object",
        "properties" : {
          "requiresBillingWrite" : {
            "type" : "boolean",
            "description" : "Si este rol tiene una licencia de pago y requiere el alcance facturación-escritura para asignar/desasignar usuarios.",
            "example" : false
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre del rol",
            "example" : "Test Role"
          },
          "id" : {
            "type" : "string",
            "description" : "El ID único del rol",
            "example" : "100"
          }
        },
        "description" : "A role that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Role",
          "requiresBillingWrite" : "False"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "settings.users.read" : "View account data.",
              "settings.users.write" : "Create, modify, and delete users on your account",
              "settings.users.teams.read" : "View teams for this account."
            }
          }
        }
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.users.read" : "Read User CRM objects",
              "crm.objects.users.write" : "Write User CRM objects"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}