{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Provisioning d'utilisateur",
    "description" : "Add, manage, and remove users from your account",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Vous gérez les données d'accès des employés dans un système en dehors de HubSpot, et vous souhaitez vous assurer que des utilisateurs spécifiques sont dynamiquement affectés aux bonnes équipes dans votre compte HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "User Provisioning Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/settings/users/user-provisioning"
    } ],
    "x-hubspot-introduction" : "Utilisez l'API de provisionnement d'utilisateur pour créer et gérer des utilisateurs dans votre compte HubSpot, ainsi que leurs équipes et rôles associés."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Équipes"
  }, {
    "name" : "Rôles"
  }, {
    "name" : "Utilisateurs"
  } ],
  "paths" : {
    "/settings/v3/users/teams" : {
      "get" : {
        "tags" : [ "Équipes" ],
        "summary" : "Voir les détails concernant les équipes de ce compte",
        "description" : "Affichez les équipes pour ce compte",
        "operationId" : "get-/settings/v3/users/teams_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicTeamNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "settings.users.teams.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.teams.read" ]
        } ]
      }
    },
    "/settings/v3/users/roles" : {
      "get" : {
        "tags" : [ "Rôles" ],
        "summary" : "Récupère les rôles sur un compte",
        "description" : "Récupère les rôles sur un compte",
        "operationId" : "get-/settings/v3/users/roles_getAll",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPermissionSetNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      }
    },
    "/settings/v3/users/" : {
      "get" : {
        "tags" : [ "Utilisateurs" ],
        "summary" : "Récupère une liste d'utilisateurs d'un compte",
        "description" : "Récupère une liste d'utilisateurs d'un compte",
        "operationId" : "get-/settings/v3/users/_getPage",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre d'utilisateurs à récupérer",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Les résultats montreront jusqu'à 100 utilisateurs par page. Les résultats additionnels se trouveront sur la page suivante.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicUserForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Utilisateurs" ],
        "summary" : "Ajoute un utilisateur",
        "description" : "Les nouveaux utilisateurs auront uniquement des permissions minimales, basées sur les contacts. Un e-mail de bienvenue les invitera à créer un mot de passe et à se connecter à HubSpot.",
        "operationId" : "post-/settings/v3/users/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserProvisionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    },
    "/settings/v3/users/{userId}" : {
      "get" : {
        "tags" : [ "Utilisateurs" ],
        "summary" : "Récupère un utilisateur",
        "description" : "Récupère un utilisateur identifié par « userId ». « userId » désigne par défaut l'identifiant de l'utilisateur ou, optionnellement, l'e-mail comme indiqué par le paramètre de requête « IdProperty ».",
        "operationId" : "get-/settings/v3/users/{userId}_getById",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificateur de l'utilisateur à récupérer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "Le nom d'une propriété avec des valeurs utilisateur uniques. Les valeurs valides sont « USER_ID » (par défaut) ou « EMAIL »",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.users.read" ]
        }, {
          "oauth2" : [ "crm.objects.users.read" ]
        }, {
          "private_apps_legacy" : [ "settings.users.read" ]
        }, {
          "oauth2_legacy" : [ "settings.users.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Utilisateurs" ],
        "summary" : "Modifier un utilisateur.",
        "description" : "Modifie un utilisateur identifié par « userId ». « userId » désigne par défaut l'identifiant de l'utilisateur ou, optionnellement, l'e-mail comme indiqué par le paramètre de requête « IdProperty ».",
        "operationId" : "put-/settings/v3/users/{userId}_replace",
        "parameters" : [ {
          "name" : "idProperty",
          "in" : "query",
          "description" : "Le nom d'une propriété avec des valeurs utilisateur uniques. Les valeurs valides sont « USER_ID » (par défaut) ou « EMAIL »",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificateur de l'utilisateur à récupérer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUserUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicUser"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Utilisateurs" ],
        "summary" : "Supprime un utilisateur",
        "description" : "Supprime un utilisateur identifié par « userId ». « userId » désigne par défaut l'identifiant de l'utilisateur ou, optionnellement, l'e-mail comme indiqué par le paramètre de requête « IdProperty ».",
        "operationId" : "delete-/settings/v3/users/{userId}_archive",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identificateur de l'utilisateur à supprimer",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "Le nom d'une propriété avec des valeurs utilisateur uniques. Les valeurs valides sont « USER_ID » (par défaut) ou « EMAIL »",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "USER_ID", "EMAIL" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2_legacy" : [ "settings.users.write" ]
        }, {
          "oauth2" : [ "crm.objects.users.write" ]
        }, {
          "private_apps" : [ "crm.objects.users.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicUser" : {
        "required" : [ "email", "id" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "L'équipe principale de l'utilisateur",
            "example" : "101"
          },
          "roleIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "sendWelcomeEmail" : {
            "type" : "boolean"
          },
          "roleId" : {
            "type" : "string",
            "description" : "Le rôle de l'utilisateur",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Les équipes supplémentaires de l'utilisateur",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "L'identifiant unique de l'utilisateur",
            "example" : "123"
          },
          "superAdmin" : {
            "type" : "boolean",
            "example" : false
          },
          "email" : {
            "type" : "string",
            "description" : "L'e-mail de l'utilisateur",
            "example" : "newUser@email.com"
          }
        },
        "description" : "A user",
        "example" : {
          "id" : "123",
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "superAdmin" : "false"
        }
      },
      "CollectionResponsePublicPermissionSetNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicPermissionSet"
            }
          }
        }
      },
      "PublicTeam" : {
        "required" : [ "id", "name", "secondaryUserIds", "userIds" ],
        "type" : "object",
        "properties" : {
          "userIds" : {
            "type" : "array",
            "description" : "Membres principaux de cette équipe",
            "example" : [ "123" ],
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de l'équipe",
            "example" : "Test Team"
          },
          "id" : {
            "type" : "string",
            "description" : "L'identifiant unique de l'équipe.",
            "example" : "100"
          },
          "secondaryUserIds" : {
            "type" : "array",
            "description" : "Membres secondaires ou supplémentaires de cette équipe",
            "example" : [ "124" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A team that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Team",
          "userIds" : [ "123" ],
          "secondaryUserIds" : [ "124" ]
        }
      },
      "CollectionResponsePublicTeamNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicTeam"
            }
          }
        }
      },
      "CollectionResponsePublicUserForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicUser"
            }
          }
        }
      },
      "UserProvisionRequest" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "L'équipe principale de l'utilisateur",
            "example" : "101"
          },
          "sendWelcomeEmail" : {
            "type" : "boolean",
            "description" : "Envoyer un e-mail de bienvenue ou non",
            "example" : true
          },
          "roleId" : {
            "type" : "string",
            "description" : "Le rôle de l'utilisateur",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Les équipes supplémentaires de l'utilisateur",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          },
          "email" : {
            "type" : "string",
            "description" : "L'e-mail de l'utilisateur créé",
            "example" : "newUser@email.com"
          }
        },
        "description" : "A user creation request",
        "example" : {
          "email" : "newUser@email.com",
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ],
          "sendWelcomeEmail" : "true"
        }
      },
      "PublicUserUpdate" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "primaryTeamId" : {
            "type" : "string",
            "description" : "L'équipe principale de l'utilisateur",
            "example" : "101"
          },
          "roleId" : {
            "type" : "string",
            "description" : "Le rôle de l'utilisateur",
            "example" : "100"
          },
          "secondaryTeamIds" : {
            "type" : "array",
            "description" : "Les équipes supplémentaires de l'utilisateur",
            "example" : [ "102" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A user to update",
        "example" : {
          "roleId" : "100",
          "primaryTeamId" : "101",
          "secondaryTeamIds" : [ "102" ]
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets de support",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      },
      "PublicPermissionSet" : {
        "required" : [ "id", "name", "requiresBillingWrite" ],
        "type" : "object",
        "properties" : {
          "requiresBillingWrite" : {
            "type" : "boolean",
            "description" : "Si ce rôle dispose d'une licence payante et exige le domaine d'écriture de facturation pour attribuer et annuler l'attribution à des utilisateurs",
            "example" : false
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom du rôle",
            "example" : "Test Role"
          },
          "id" : {
            "type" : "string",
            "description" : "L'identifiant unique du rôle.",
            "example" : "100"
          }
        },
        "description" : "A role that can be assigned to a user",
        "example" : {
          "id" : "100",
          "name" : "Test Role",
          "requiresBillingWrite" : "False"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "settings.users.read" : "View account data.",
              "settings.users.write" : "Create, modify, and delete users on your account",
              "settings.users.teams.read" : "View teams for this account."
            }
          }
        }
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.users.read" : "Read User CRM objects",
              "crm.objects.users.write" : "Write User CRM objects"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}