{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Goal Targets",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "STARTER",
      "service" : "PROFESSIONAL",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Use goals data to create reports for your sales or service team to analyze how your reps are performing.",
    "x-hubspot-introduction" : "Goals in HubSpot are user-specific quotas for their sales and services teams based on templates provided by HubSpot. The goals API allows you to retrieve goals data in your HubSpot account. "
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Search"
  } ],
  "paths" : {
    "/crm/objects/2026-03/goal_targets" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve goal targets",
        "description" : "Read a page of goal targets. Control what is returned via the `properties` query param.",
        "operationId" : "get-/crm/objects/2026-03/goal_targets_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.read" ]
        }, {
          "private_apps" : [ "crm.objects.goals.read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a goal target",
        "description" : "Create a goal target with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard goal targets is provided.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SimplePublicObjectInputForCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/batch/archive" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Delete goal targets",
        "description" : "Archive multiple goal targets in a single batch operation using their IDs.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/batch/archive_archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectId"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/batch/create" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create goal targets",
        "description" : "Create multiple goal targets in a single batch operation.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/batch/create_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve goal targets",
        "description" : "Retrieve records by record ID or include the `idProperty` parameter to retrieve records by a custom unique value property. ",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/batch/read_read",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputSimplePublicObjectId"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.read" ]
        }, {
          "private_apps" : [ "crm.objects.goals.read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/batch/update" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Update goal targets",
        "description" : "Update multiple goal targets in a single batch operation using their internal IDs or unique property values.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/batch/update_update",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/batch/upsert" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Upsert goal tagets",
        "description" : "Create and update a batch of goal targets by a unique property. Goal targets that don't exist will be created, while existing goal targets will be updated.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/batch/upsert_upsert",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/goal_targets/search" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search for goal targets",
        "description" : "Search for goal targets using specified criteria.",
        "operationId" : "post-/crm/objects/2026-03/goal_targets/search_doSearch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicObjectSearchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.read" ]
        }, {
          "private_apps" : [ "crm.objects.goals.read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY",
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/crm/objects/2026-03/goal_targets/{goalTargetId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a goal target",
        "description" : "Retrieve a goal target by its ID. You can specify what is returned using the `properties` query parameter.",
        "operationId" : "get-/crm/objects/2026-03/goal_targets/{goalTargetId}_getById",
        "parameters" : [ {
          "name" : "goalTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "The name of a property whose values are unique for this object type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.read" ]
        }, {
          "private_apps" : [ "crm.objects.goals.read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a goal target",
        "description" : "Delete a goal target by `{goalTargetId}` to the recycling bin.",
        "operationId" : "delete-/crm/objects/2026-03/goal_targets/{goalTargetId}_archive",
        "parameters" : [ {
          "name" : "goalTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a goal target",
        "description" : "Perform a partial update of an Object identified by `{goalTargetId}`or optionally a unique property value as specified by the `idProperty` query param. `{goalTargetId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
        "operationId" : "patch-/crm/objects/2026-03/goal_targets/{goalTargetId}_update",
        "parameters" : [ {
          "name" : "goalTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "The name of a property whose values are unique for this object type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SimplePublicObjectInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObject"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "private_apps" : [ "crm.objects.goals.write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}" : {
      "put" : {
        "tags" : [ "Batch" ],
        "operationId" : "put-/crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}_/crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}",
        "parameters" : [ {
          "name" : "fromObjectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "fromObjectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicDefaultAssociation"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/crm/objects/2026-03/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/objects/2026-03/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_/crm/objects/2026-03/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "$ref" : "#/components/schemas/AssociationSpec"
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LabelsBetweenObjectPair"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/objects/2026-03/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_/crm/objects/2026-03/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "oauth2" : [ "crm-public-object-api-access", "oauth", "oauth-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Additional context-specific information related to the error.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category.",
            "example" : null
          }
        },
        "description" : "Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request.",
        "example" : null
      },
      "CollectionResponseAssociatedId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociatedId"
            }
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalSimplePublicObject" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObject"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The number of available results",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Represents a list of simple objects returned from an API request, along with the total count of objects available.",
        "example" : null
      },
      "LabelsBetweenObjectPair" : {
        "required" : [ "fromObjectId", "fromObjectTypeId", "labels", "toObjectId", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "fromObjectId" : {
            "type" : "string",
            "description" : "Source unique ID of the object.",
            "example" : null
          },
          "fromObjectTypeId" : {
            "type" : "string",
            "description" : "Source object type.",
            "example" : null
          },
          "labels" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "toObjectId" : {
            "type" : "string",
            "description" : "Target unique ID of the object.",
            "example" : null
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "Target object type.",
            "example" : null
          }
        },
        "description" : "The relationship descriptors applicable between two object types.",
        "example" : null
      },
      "PublicAssociationsForObject" : {
        "required" : [ "to", "types" ],
        "type" : "object",
        "properties" : {
          "to" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          },
          "types" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationSpec"
            }
          }
        },
        "example" : null
      },
      "BatchResponseSimplePublicObject" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch processing was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing relevant links related to the batch request.",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch request was initially made, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObject"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch processing began, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "A public object batch response object",
        "example" : null
      },
      "FilterGroup" : {
        "required" : [ "filters" ],
        "type" : "object",
        "properties" : {
          "filters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Filter"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "SimplePublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : "430001"
          }
        },
        "description" : "Contains the Id of a Public Object",
        "example" : null
      },
      "BatchResponseSimplePublicUpsertObjectWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing relevant links related to the batch request.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch process.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was initiated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicUpsertObject"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process began execution, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request. Can be: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\".",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "Represents the response from a batch upsert operation, including the status, timestamps, successfully processed objects, and any errors that occurred during processing.",
        "example" : null
      },
      "BatchReadInputSimplePublicObjectId" : {
        "required" : [ "inputs", "properties", "propertiesWithHistory" ],
        "type" : "object",
        "properties" : {
          "idProperty" : {
            "type" : "string",
            "description" : "When using a custom unique value property to retrieve records, the name of the property. Do not include this parameter if retrieving by record ID.",
            "example" : null
          },
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectId"
            }
          },
          "properties" : {
            "type" : "array",
            "description" : "Key-value pairs for setting properties for the new object.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "propertiesWithHistory" : {
            "type" : "array",
            "description" : "Key-value pairs for setting properties for the new object and their histories.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "description" : "Specifies the input for reading a batch of CRM objects, including arrays of object IDs, requested property names (with optional history), and an optional unique identifying property.",
        "example" : null
      },
      "BatchResponseSimplePublicUpsertObject" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing relevant links related to the batch request.",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was initiated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicUpsertObject"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process began execution, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request. Can be: \"PENDING\", \"PROCESSING\", \"CANCELED\", or \"COMPLETE\".",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "Represents the result of a batch upsert operation, including the operation’s status, timestamps, and a list of successfully created or updated objects.",
        "example" : null
      },
      "BatchInputSimplePublicObjectId" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectId"
            }
          }
        },
        "example" : null
      },
      "ValueWithTimestamp" : {
        "required" : [ "sourceType", "timestamp", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : "The unique ID of the property.",
            "example" : null
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : "A human-readable label.",
            "example" : null
          },
          "sourceType" : {
            "type" : "string",
            "description" : "The property type.",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The timestamp when the property was updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who last updated the property.",
            "format" : "int32",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The property value.",
            "example" : null
          }
        },
        "description" : "Property model that includes timestamp.",
        "example" : null
      },
      "BatchInputSimplePublicObjectBatchInputUpsert" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectBatchInputUpsert"
            }
          }
        },
        "example" : null
      },
      "SimplePublicObject" : {
        "required" : [ "archived", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the object is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : null
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the write request for the object.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key-value pairs representing the properties of the object.",
            "example" : null
          },
          "propertiesWithHistory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ValueWithTimestamp"
              }
            },
            "description" : "Key-value pairs representing the properties of the object along with their history.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the object.",
            "example" : null
          }
        },
        "description" : "A simple public object.",
        "example" : null
      },
      "PublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : null
          }
        },
        "description" : "Contains the Id of a Public Object",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PublicDefaultAssociation" : {
        "required" : [ "associationSpec", "from", "to" ],
        "type" : "object",
        "properties" : {
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "from" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          },
          "to" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          }
        },
        "example" : null
      },
      "PublicObjectSearchRequest" : {
        "required" : [ "after", "filterGroups", "limit", "properties", "sorts" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "filterGroups" : {
            "type" : "array",
            "description" : "Up to 6 groups of filters defining additional query criteria.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FilterGroup"
            }
          },
          "limit" : {
            "type" : "integer",
            "description" : "The maximum results to return, up to 200 objects.",
            "format" : "int32",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "description" : "A list of property names to include in the response.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "query" : {
            "type" : "string",
            "description" : "The search query string, up to 3000 characters.",
            "example" : null
          },
          "sorts" : {
            "type" : "array",
            "description" : "Specifies sorting order based on object properties.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "description" : "Describes a search request",
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "SimplePublicObjectBatchInputUpsert" : {
        "required" : [ "id", "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : null
          },
          "idProperty" : {
            "type" : "string",
            "description" : "The name of a property whose values are unique for this object",
            "example" : null
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier for tracing the creation request.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key value pairs representing the properties of the object.",
            "example" : null
          }
        },
        "description" : "Represents an object used in batch upsert operations, containing an object’s unique identifier, its properties, and optionally the unique property name and a write trace ID.",
        "example" : null
      },
      "BatchResponseSimplePublicObjectWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing relevant links related to the batch request.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch process.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was initiated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObject"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process began execution, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request - \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "Represents the result of a batch operation on CRM objects, including the processing status, batch results, timestamps, and a list of any errors encountered during the operation.",
        "example" : null
      },
      "SimplePublicObjectInput" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key value pairs representing the properties of the object.",
            "example" : null
          }
        },
        "description" : "Represents the input required to create or update a CRM object, containing an object with property names and their corresponding values.",
        "example" : null
      },
      "BatchResponsePublicDefaultAssociation" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing relevant links related to the batch request.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The total number of errors that occurred during the operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process was initiated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicDefaultAssociation"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch process began execution, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request. Can be: \"PENDING\", \"PROCESSING\", \"CANCELED\", or \"COMPLETE\".",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "The response returned after performing a batch operation on associations.",
        "example" : null
      },
      "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations"
            }
          }
        },
        "example" : null
      },
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "The category of the association, such as \"HUBSPOT_DEFINED\".",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the specific type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "SimplePublicObjectWithAssociations" : {
        "required" : [ "archived", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the object is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "associations" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CollectionResponseAssociatedId"
            },
            "description" : "A list defining relationships with other objects.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : null
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the creation or update request of the object.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key value pairs representing the properties of the object.",
            "example" : null
          },
          "propertiesWithHistory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ValueWithTimestamp"
              }
            },
            "description" : "Key-value pairs representing the properties of the object along with their history.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL on the API that provide direct navigation to the corresponding UI pages for the connectors.",
            "example" : null
          }
        },
        "description" : "Represents a CRM object along with its properties, timestamps, and a set of associated object IDs grouped by association type.",
        "example" : null
      },
      "Filter" : {
        "required" : [ "operator", "propertyName" ],
        "type" : "object",
        "properties" : {
          "highValue" : {
            "type" : "string",
            "description" : "The upper boundary value when using ranged-based filters.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "null",
            "example" : null,
            "enum" : [ "BETWEEN", "CONTAINS_TOKEN", "EQ", "GT", "GTE", "HAS_PROPERTY", "IN", "LT", "LTE", "NEQ", "NOT_CONTAINS_TOKEN", "NOT_HAS_PROPERTY", "NOT_IN" ]
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The name of the property to apply the filter to.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value to match against the property.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "The values to match against the property.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "description" : "Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. ",
        "example" : null
      },
      "BatchInputSimplePublicObjectBatchInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectBatchInput"
            }
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "SimplePublicUpsertObject" : {
        "required" : [ "archived", "createdAt", "id", "new", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the object is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : null
          },
          "new" : {
            "type" : "boolean",
            "description" : "Whether the property is new.",
            "example" : null
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the write request for the object.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key value pairs representing the properties of the object.",
            "example" : null
          },
          "propertiesWithHistory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ValueWithTimestamp"
              }
            },
            "description" : "Key-value pairs representing the properties of the object along with their history.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the object.",
            "example" : null
          }
        },
        "description" : "Represents a CRM object that has either been created or updated (upserted)",
        "example" : null
      },
      "SimplePublicObjectBatchInput" : {
        "required" : [ "id", "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The id to be updated. This can be the object id, or the unique property value of the idProperty property",
            "example" : null
          },
          "idProperty" : {
            "type" : "string",
            "description" : "The name of a property whose values are unique for this object",
            "example" : "my_unique_property_name"
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "A unique identifier for tracing the request.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key-value pairs representing the properties of the object.",
            "example" : null
          }
        },
        "description" : "Contains an array of CRM object records to be processed in a batch operation, each defined by their ID and properties.",
        "example" : null
      },
      "SimplePublicObjectBatchInputForCreate" : {
        "required" : [ "associations", "properties" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicAssociationsForObject"
            }
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the creation or update request of the object.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key value pairs representing the properties of the object.",
            "example" : null
          }
        },
        "description" : "An input object that contains a collection of objects to be created together in a batch.",
        "example" : null
      },
      "AssociatedId" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID for the association type.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of associations.",
            "example" : "deal_to_contact"
          }
        },
        "description" : "Contains the id and type of an association",
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "SimplePublicObjectInputForCreate" : {
        "required" : [ "associations", "properties" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicAssociationsForObject"
            }
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Key-value pairs for setting properties for the new object.",
            "example" : null
          }
        },
        "description" : "Is the input object used to create a new CRM object, containing the properties to be set and optional associations to link the new record with other CRM objects.",
        "example" : null
      },
      "BatchInputSimplePublicObjectBatchInputForCreate" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectBatchInputForCreate"
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm-public-object-api-access" : "",
              "crm.objects.goals.read" : "",
              "crm.objects.goals.write" : "",
              "file-manager-access" : "",
              "file-manager-delete" : "",
              "file-manager-write" : "",
              "oauth" : "",
              "oauth-access" : ""
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "STARTER",
    "service" : "PROFESSIONAL",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}