{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Public App Feature Flags V3",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "PUBLIC_BETA",
    "x-hubspot-api-use-case" : "Selectively enable accounts for testing or to control the rollout of app cards to your customers.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Migrate a public app to the developer projects framework (BETA)",
      "url" : "https://developers.hubspot.com/beta-docs/guides/crm/public-apps/migrate-a-public-app-to-projects"
    } ],
    "x-hubspot-introduction" : "Use the feature flag API to control availability of your app cards in installed customer accounts. Currently supports a single App Flag: hs-release-app-cards. Attempts to specify other App Flags will receive an error. Requests must be authenticated with your Developer API key, which you'll include through a `?hapikey=` parameter."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Portal Flag States"
  }, {
    "name" : "App Flags"
  } ],
  "paths" : {
    "/feature-flags/v3/{appId}/flags/{flagName}/portals/batch/upsert" : {
      "post" : {
        "tags" : [ "Portal Flag States" ],
        "summary" : "Batch set account App Card Release flag state",
        "description" : "Set the App Card Release portal flag state for multiple HubSpot accounts at once. Use this endpoint to manage flag exposure for groups of HubSpot accounts.",
        "operationId" : "post-/feature-flags/v3/{appId}/flags/{flagName}/portals/batch/upsert",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PortalFlagStateBatchPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateBatchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/feature-flags/v3/{appId}/flags/{flagName}/portals" : {
      "get" : {
        "tags" : [ "App Flags" ],
        "summary" : "Get account Portal Flag State for the App Card Release flag",
        "description" : "Retrieve a list of HubSpot accounts with an account-specific flag setting for the App Card Release flag for your app. No request body is included.",
        "operationId" : "get-/feature-flags/v3/{appId}/flags/{flagName}/portals",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startPortalId",
          "in" : "query",
          "description" : "The initial account ID for listing, enabling pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return in a single request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateBatchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/feature-flags/v3/{appId}/flags/{flagName}/portals/{portalId}" : {
      "get" : {
        "tags" : [ "Portal Flag States" ],
        "summary" : "Get a single account's App Card Release flag state",
        "description" : "Retrieve an individual account's App Card Release flag state setting.",
        "operationId" : "get-/feature-flags/v3/{appId}/flags/{flagName}/portals/{portalId}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "portalId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Portal Flag States" ],
        "summary" : "Update an account's App Card Release flag state",
        "description" : "Specify a Portal Flag State for a specific HubSpot account and the hs-release-app-cards flag.",
        "operationId" : "put-/feature-flags/v3/{appId}/flags/{flagName}/portals/{portalId}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "portalId",
          "in" : "path",
          "description" : "The ID of the account that installed the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PortalFlagStatePutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Portal Flag States" ],
        "summary" : "Delete an account's App Card Release flag setting",
        "description" : "Delete a Portal Flag State for a specific HubSpot account. No request body is included.",
        "operationId" : "delete-/feature-flags/v3/{appId}/flags/{flagName}/portals/{portalId}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "portalId",
          "in" : "path",
          "description" : "The ID of the account that installed the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/feature-flags/v3/{appId}/flags/{flagName}/portals/batch/delete" : {
      "post" : {
        "tags" : [ "Portal Flag States" ],
        "summary" : "Batch delete account-level App Card Release Flag state.",
        "description" : "Delete the hs-release-app-cards portal flag state for multiple HubSpot accounts at once. Use this endpoint to manage flag exposure for groups of HubSpot accounts.",
        "operationId" : "post-/feature-flags/v3/{appId}/flags/{flagName}/portals/batch/delete",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PortalFlagStateBatchDeleteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalFlagStateBatchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/feature-flags/v3/{appId}/flags/{flagName}" : {
      "get" : {
        "tags" : [ "App Flags" ],
        "summary" : "Get your app's App Card Release feature flag",
        "description" : "Retrieve an app's hs-release-app-cards feature flag. No request body is included.",
        "operationId" : "get-/feature-flags/v3/{appId}/flags/{flagName}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "`hs-release-app-cards`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlagResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "App Flags" ],
        "summary" : "Update your app's App Card Release feature flag",
        "description" : "Update an app's feature flag",
        "operationId" : "put-/feature-flags/v3/{appId}/flags/{flagName}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FlagPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlagResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "App Flags" ],
        "summary" : "Delete your app's App Card Release feature flag",
        "description" : "Delete your app's App Card Release feature flag after all accounts have been migrated.",
        "operationId" : "delete-/feature-flags/v3/{appId}/flags/{flagName}",
        "parameters" : [ {
          "name" : "flagName",
          "in" : "path",
          "description" : "hs-release-app-cards",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlagResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "PortalFlagStateBatchResponse" : {
        "required" : [ "portalFlagStates" ],
        "type" : "object",
        "properties" : {
          "portalFlagStates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PortalFlagStateResponse"
            }
          }
        }
      },
      "FlagResponse" : {
        "required" : [ "appId", "defaultState", "flagName" ],
        "type" : "object",
        "properties" : {
          "overrideState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          },
          "defaultState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          },
          "appId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "flagName" : {
            "type" : "string"
          }
        }
      },
      "BatchPortalEntry" : {
        "required" : [ "flagState", "portalId" ],
        "type" : "object",
        "properties" : {
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "flagState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          }
        }
      },
      "PortalFlagStatePutRequest" : {
        "required" : [ "flagState" ],
        "type" : "object",
        "properties" : {
          "flagState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          }
        }
      },
      "PortalFlagStateResponse" : {
        "required" : [ "appId", "flagName", "flagState", "portalId" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "flagName" : {
            "type" : "string"
          },
          "flagState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          }
        }
      },
      "FlagPutRequest" : {
        "required" : [ "defaultState" ],
        "type" : "object",
        "properties" : {
          "overrideState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          },
          "defaultState" : {
            "type" : "string",
            "enum" : [ "OFF", "ON", "ABSENT" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PortalFlagStateBatchPutRequest" : {
        "required" : [ "portalStates" ],
        "type" : "object",
        "properties" : {
          "portalStates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BatchPortalEntry"
            }
          }
        }
      },
      "PortalFlagStateBatchDeleteRequest" : {
        "required" : [ "portalIds" ],
        "type" : "object",
        "properties" : {
          "portalIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  }
}