{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Lead Scoring",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/lead-scoring/2026-09-beta/score-values/object-history" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/score-values/object-history",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        }, {
          "name" : "objectId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "outputProperty",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreHistoryEntryForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreFragmentForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScoreConfigDraftCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicScoreCloneRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft" : {
      "get" : {
        "tags" : [ "Advanced" ],
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "put" : {
        "tags" : [ "Advanced" ],
        "operationId" : "put-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScoreConfigApiModelEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "backfill",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "default" : "false"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteComparativeTimestampRefineBy" : {
        "title" : "AbsoluteComparativeTimestampRefineBy",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "AbsoluteComparativeTimestampRefineBy",
            "enum" : [ "AbsoluteComparativeTimestampRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AbsoluteRangedTimestampRefineBy" : {
        "title" : "AbsoluteRangedTimestampRefineBy",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "AbsoluteRangedTimestampRefineBy",
            "enum" : [ "AbsoluteRangedTimestampRefineBy" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllHistoryRefineBy" : {
        "title" : "AllHistoryRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "AllHistoryRefineBy",
            "enum" : [ "AllHistoryRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllPropertyTypesOperation" : {
        "title" : "alltypes",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BLANK", "IS_KNOWN", "IS_NOT_BLANK", "IS_UNKNOWN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "alltypes",
            "enum" : [ "alltypes" ]
          },
          "pruningRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationFilter" : {
        "required" : [ "propertyFilters", "type" ],
        "type" : "object",
        "properties" : {
          "propertyFilters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "AssociationObjectRollupCalculator" : {
        "title" : "ASSOCIATIONS",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ListMembershipCalculator"
            }, {
              "$ref" : "#/components/schemas/ConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/MatchCalculator"
            }, {
              "$ref" : "#/components/schemas/MultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ListMembershipEventCalculator"
            }, {
              "$ref" : "#/components/schemas/PropertyValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ConstantValueCalculator"
            } ]
          },
          "rollupType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "ASSOCIATIONS",
            "enum" : [ "ASSOCIATIONS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "The category of the association, such as \"HUBSPOT_DEFINED\".",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the specific type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "AssociationUnifiedEventRollupCalculator" : {
        "title" : "ASSOCIATION_UE",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "$ref" : "#/components/schemas/MultiUnifiedEventRollupCalculator"
          },
          "rollupType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "ASSOCIATION_UE",
            "enum" : [ "ASSOCIATION_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BoolPropertyOperation" : {
        "title" : "bool",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "bool",
            "enum" : [ "bool" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CalendarDatePropertyOperation" : {
        "title" : "calendar-date",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "timeUnit", "timeUnitCount", "useFiscalYear" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "fiscalYearStart" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IN_LAST_TIME_UNIT", "IN_LAST_TIME_UNIT_SO_FAR", "IN_NEXT_TIME_UNIT", "IN_THIS_TIME_UNIT", "IN_THIS_TIME_UNIT_SO_FAR" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "calendar-date",
            "enum" : [ "calendar-date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "QUARTER", "WEEK", "YEAR" ]
          },
          "timeUnitCount" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CategoryLimits" : {
        "required" : [ "maxLimit", "minLimit" ],
        "type" : "object",
        "properties" : {
          "maxLimit" : {
            "type" : "number",
            "example" : null
          },
          "minLimit" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreFragmentForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreFragment"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreHistoryEntryForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreHistoryEntry"
            }
          }
        },
        "example" : null
      },
      "CombinedThresholdCalculator" : {
        "title" : "COMBINED",
        "required" : [ "offsetByCategory", "thresholds", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "offsetByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "example" : null
            },
            "example" : null
          },
          "thresholds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CombinedThresholdEntry"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "COMBINED",
            "enum" : [ "COMBINED" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CombinedThresholdDescriptor" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "CombinedThresholdEntry" : {
        "required" : [ "output", "thresholdByCategory" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "output" : {
            "type" : "string",
            "example" : null
          },
          "tagColor" : {
            "type" : "string",
            "example" : null
          },
          "thresholdByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CombinedThresholdDescriptor"
            },
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeBoolPropertyOperation" : {
        "title" : "bool-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "bool-comparative",
            "enum" : [ "bool-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeDatePropertyOperation" : {
        "title" : "datetime-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime-comparative",
            "enum" : [ "datetime-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeNumberPropertyOperation" : {
        "title" : "number-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number-comparative",
            "enum" : [ "number-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativePropertyUpdatedOperation" : {
        "title" : "property-updated-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "property-updated-comparative",
            "enum" : [ "property-updated-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeStringPropertyOperation" : {
        "title" : "string-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "string-comparative",
            "enum" : [ "string-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CompositeCondition" : {
        "title" : "COMPOSITE",
        "required" : [ "conditions", "operator", "type" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/SingleCondition"
              }, {
                "$ref" : "#/components/schemas/CompositeCondition"
              } ]
            }
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPOSITE",
            "enum" : [ "COMPOSITE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConditionalCalculator" : {
        "title" : "CONDITIONAL",
        "required" : [ "type", "value", "whereCondition" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONDITIONAL",
            "enum" : [ "CONDITIONAL" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "whereCondition" : {
            "$ref" : "#/components/schemas/CompositeCondition"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConstantValueCalculator" : {
        "title" : "CONSTANT",
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "timezoneSource", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "year" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePropertyOperation" : {
        "title" : "date",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "operatorName", "propertyType", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APR", "AUG", "DEC", "FEB", "JAN", "JUL", "JUN", "MAR", "MAY", "NOV", "OCT", "SEP" ]
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE", "EQUAL" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "date",
            "enum" : [ "date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DateTimePropertyOperation" : {
        "title" : "datetime",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_AFTER_DATE", "IS_BEFORE", "IS_BEFORE_DATE", "IS_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime",
            "enum" : [ "datetime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EmptyFrequencyCriteria" : {
        "title" : "EMPTY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "EMPTY",
            "enum" : [ "EMPTY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EnumerationPropertyOperation" : {
        "title" : "enumeration",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS_ALL", "DOES_NOT_CONTAIN_ALL", "HAS_EVER_BEEN_ANY_OF", "HAS_EVER_BEEN_EXACTLY", "HAS_EVER_CONTAINED_ALL", "HAS_NEVER_BEEN_ANY_OF", "HAS_NEVER_BEEN_EXACTLY", "HAS_NEVER_CONTAINED_ALL", "IS_ANY_OF", "IS_EXACTLY", "IS_NONE_OF", "IS_NOT_EXACTLY" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "enumeration",
            "enum" : [ "enumeration" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "EventFrequencyBetween" : {
        "title" : "BETWEEN",
        "required" : [ "ranges", "type" ],
        "type" : "object",
        "properties" : {
          "ranges" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FrequencyRange"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "BETWEEN",
            "enum" : [ "BETWEEN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EventTimeframe" : {
        "required" : [ "eventFilterOperation" ],
        "type" : "object",
        "properties" : {
          "eventFilterOperation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          }
        },
        "example" : null
      },
      "FilterConfiguration" : {
        "required" : [ "listFilterType", "listIds" ],
        "type" : "object",
        "properties" : {
          "listFilterType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUDES", "INCLUDES" ]
          },
          "listIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "FiscalQuarter" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "FiscalYear" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "FrequencyRange" : {
        "required" : [ "from", "type", "value" ],
        "type" : "object",
        "properties" : {
          "from" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "to" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AT_LEAST", "BETWEEN", "EXACTLY" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "GroupDecayConfiguration" : {
        "required" : [ "decayIntervalDays", "percentToDecayPerInterval" ],
        "type" : "object",
        "properties" : {
          "decayIntervalDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "percentToDecayPerInterval" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "GroupsAndCalculator" : {
        "required" : [ "calculator", "groupCategories" ],
        "type" : "object",
        "properties" : {
          "calculator" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ThresholdBasedCalculator"
            }, {
              "$ref" : "#/components/schemas/PassthroughCalculator"
            }, {
              "$ref" : "#/components/schemas/CombinedThresholdCalculator"
            } ]
          },
          "groupCategories" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NowReference"
            }, {
              "$ref" : "#/components/schemas/TodayReference"
            }, {
              "$ref" : "#/components/schemas/WeekReference"
            }, {
              "$ref" : "#/components/schemas/MonthReference"
            }, {
              "$ref" : "#/components/schemas/QuarterReference"
            }, {
              "$ref" : "#/components/schemas/FiscalQuarter"
            }, {
              "$ref" : "#/components/schemas/YearReference"
            }, {
              "$ref" : "#/components/schemas/FiscalYear"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/IndexOffset"
          },
          "shouldGenerateRefreshTime" : {
            "type" : "boolean",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipCalculator" : {
        "title" : "LIST_MEMBERSHIP",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "LIST_MEMBERSHIP",
            "enum" : [ "LIST_MEMBERSHIP" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipEventCalculator" : {
        "title" : "LIST_MEMBERSHIP_EVENT",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "decay" : {
            "$ref" : "#/components/schemas/UnifiedEventDecay"
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/EventTimeframe"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "LIST_MEMBERSHIP_EVENT",
            "enum" : [ "LIST_MEMBERSHIP_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipRule" : {
        "required" : [ "listIds", "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "operation" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_ALL_LIST_MEMBERSHIP", "HAS_AT_LEAST_ONE_LIST_MEMBERSHIP", "HAS_NO_LIST_MEMBERSHIP" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "MatchCalculator" : {
        "title" : "MATCH",
        "required" : [ "matchRules", "property", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "number",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "matchRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/MatchRule"
            }
          },
          "property" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MATCH",
            "enum" : [ "MATCH" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MatchRule" : {
        "required" : [ "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "MonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiStringPropertyOperation" : {
        "title" : "multistring",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTAINS", "CONTAINS_EXACTLY", "DOES_NOT_CONTAIN", "DOES_NOT_CONTAIN_EXACTLY", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "multistring",
            "enum" : [ "multistring" ]
          },
          "pruningRefineBy" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiUnifiedEventCalculatorEntry" : {
        "required" : [ "eventTypeId", "recordCalculation" ],
        "type" : "object",
        "properties" : {
          "eventFrequencyCriteria" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/EventFrequencyBetween"
            }, {
              "$ref" : "#/components/schemas/EmptyFrequencyCriteria"
            } ]
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/EventTimeframe"
          },
          "eventTypeId" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "recordCalculation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ListMembershipCalculator"
            }, {
              "$ref" : "#/components/schemas/ConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/MatchCalculator"
            }, {
              "$ref" : "#/components/schemas/MultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ListMembershipEventCalculator"
            }, {
              "$ref" : "#/components/schemas/PropertyValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ConstantValueCalculator"
            } ]
          }
        },
        "example" : null
      },
      "MultiUnifiedEventRollupCalculator" : {
        "title" : "MULTI_UE",
        "required" : [ "eventCalculators", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "decay" : {
            "$ref" : "#/components/schemas/UnifiedEventDecay"
          },
          "eventCalculators" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/MultiUnifiedEventCalculatorEntry"
            }
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "rollupType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MULTI_UE",
            "enum" : [ "MULTI_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiValueCalculator" : {
        "title" : "MULTI",
        "required" : [ "calculators", "type" ],
        "type" : "object",
        "properties" : {
          "calculators" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ListMembershipCalculator"
              }, {
                "$ref" : "#/components/schemas/ConditionalCalculator"
              }, {
                "$ref" : "#/components/schemas/MatchCalculator"
              }, {
                "$ref" : "#/components/schemas/MultiValueCalculator"
              }, {
                "$ref" : "#/components/schemas/ListMembershipEventCalculator"
              }, {
                "$ref" : "#/components/schemas/PropertyValueCalculator"
              }, {
                "$ref" : "#/components/schemas/ConstantValueCalculator"
              } ]
            }
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MULTI",
            "enum" : [ "MULTI" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "NowReference" : {
        "title" : "NOW",
        "required" : [ "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "NOW",
            "enum" : [ "NOW" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NumOccurrencesRefineBy" : {
        "title" : "NumOccurrencesRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "NumOccurrencesRefineBy",
            "enum" : [ "NumOccurrencesRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NumberPropertyOperation" : {
        "title" : "number",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number",
            "enum" : [ "number" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "OutputPropertyConfigurationApiModel" : {
        "required" : [ "delimiter", "groupsAndCalculators", "outputIsEnabled", "propertyToWriteTo" ],
        "type" : "object",
        "properties" : {
          "delimiter" : {
            "type" : "string",
            "example" : null
          },
          "groupsAndCalculators" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/GroupsAndCalculator"
            }
          },
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "outputId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "outputIsEnabled" : {
            "type" : "boolean",
            "example" : null
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          },
          "propertyToWriteTo" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PassthroughCalculator" : {
        "title" : "PASS",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "maxValue" : {
            "type" : "number",
            "example" : null
          },
          "minValue" : {
            "type" : "number",
            "example" : null
          },
          "offset" : {
            "type" : "number",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "PASS",
            "enum" : [ "PASS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PropertyFilter" : {
        "title" : "PROPERTY",
        "required" : [ "filterType", "operation", "property" ],
        "type" : "object",
        "properties" : {
          "context" : {
            "$ref" : "#/components/schemas/PropertyFilterContext"
          },
          "filterInsightsId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY",
            "enum" : [ "PROPERTY" ]
          },
          "frameworkFilterId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PropertyFilterContext" : {
        "required" : [ "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyReferencedTime" : {
        "title" : "PROPERTY_REFERENCED",
        "required" : [ "property", "referenceType", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "property" : {
            "type" : "string",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ANNIVERSARY", "ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION", "UPDATED_AT", "VALUE", "VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION" ]
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY_REFERENCED",
            "enum" : [ "PROPERTY_REFERENCED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PropertyValueCalculator" : {
        "title" : "PROPERTY",
        "required" : [ "property", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "property" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY",
            "enum" : [ "PROPERTY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRenderedEvent" : {
        "required" : [ "heading", "renderedComponents", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultTemplate" : {
            "type" : "string",
            "example" : null
          },
          "eventTypeId" : {
            "type" : "string",
            "example" : null
          },
          "heading" : {
            "type" : "string",
            "example" : null
          },
          "renderedComponents" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RenderedComponent"
            }
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreCloneRequest" : {
        "required" : [ "scoreName" ],
        "type" : "object",
        "properties" : {
          "scoreName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreConfig" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "id", "name", "objectTypeId", "scoreStatus", "scoreType" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "groupConfigs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ScoreConfigGroupApiModel"
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "maxScore" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "outputConfiguration" : {
            "$ref" : "#/components/schemas/ScoreConfigOutputConfigurationApiModel"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "scoreStatus" : {
            "type" : "string",
            "example" : null
          },
          "scoreType" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreFragment" : {
        "required" : [ "id", "lastConfigurationChangeTimestamp", "name", "scoreType", "scoredObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : null
          },
          "lastConfigurationChangeTimestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "scoreType" : {
            "type" : "string",
            "example" : null
          },
          "scoredObjectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreHistoryEntry" : {
        "required" : [ "renderedEvents", "resolvedListIds", "resolvedProperties", "timestamp" ],
        "type" : "object",
        "properties" : {
          "delta" : {
            "type" : "number",
            "example" : null
          },
          "propertyValue" : {
            "type" : "string",
            "example" : null
          },
          "renderedEvents" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRenderedEvent"
            }
          },
          "resolvedListIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "resolvedProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ResolvedPropertyChange"
            },
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "QuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RangedDatePropertyOperation" : {
        "title" : "datetime-ranged",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimestamp", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "upperBoundTimestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBoundTimestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "datetime-ranged",
            "enum" : [ "datetime-ranged" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "upperBoundTimestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RangedNumberPropertyOperation" : {
        "title" : "number-ranged",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "operatorName", "propertyType", "upperBound" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBound" : {
            "type" : "number",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "number-ranged",
            "enum" : [ "number-ranged" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "upperBound" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RangedTimeOperation" : {
        "title" : "rangedtime",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundEndpointBehavior", "lowerBoundTimePoint", "operationType", "operator", "operatorName", "propertyParser", "propertyType", "type", "upperBoundEndpointBehavior", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUSIVE", "INCLUSIVE" ]
          },
          "lowerBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/DatePoint"
            }, {
              "$ref" : "#/components/schemas/IndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PropertyReferencedTime"
            } ]
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "IS_BETWEEN", "IS_NOT_BETWEEN" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ANNIVERSARY", "ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION", "UPDATED_AT", "VALUE", "VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION" ]
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "rangedtime",
            "enum" : [ "rangedtime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null
          },
          "upperBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUSIVE", "INCLUSIVE" ]
          },
          "upperBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/DatePoint"
            }, {
              "$ref" : "#/components/schemas/IndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PropertyReferencedTime"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RegexPropertyOperation" : {
        "title" : "regex",
        "required" : [ "caseSensitive", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "pattern", "propertyType" ],
        "type" : "object",
        "properties" : {
          "caseSensitive" : {
            "type" : "boolean",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DOES_NOT_MATCH_REGEX", "MATCHES_REGEX" ]
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "pattern" : {
            "type" : "string",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "example" : null,
            "default" : "regex",
            "enum" : [ "regex" ]
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RelativeComparativeTimestampRefineBy" : {
        "title" : "RelativeComparativeTimestampRefineBy",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/TimeOffset"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "RelativeComparativeTimestampRefineBy",
            "enum" : [ "RelativeComparativeTimestampRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "RelativeRangedTimestampRefineBy" : {
        "title" : "RelativeRangedTimestampRefineBy",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/TimeOffset"
          },
          "rangeType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
[...]
