{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Lead Scoring",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/lead-scoring/2026-09-beta/score-values/object-history" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve detailed history of score property updates",
        "description" : "Retrieve the history of score values, as well as the changes that caused them, for a specific object type and object ID. This endpoint is useful for tracking changes in score values over time for a particular object, along with details about the activity that caused the score update. The results can be paginated using the limit and after parameters.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/score-values/object-history",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, used for pagination. This token will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        }, {
          "name" : "objectId",
          "in" : "query",
          "description" : "The unique identifier of the object whose score history is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "query",
          "description" : "The unique identifier of the object type for which the score history is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "outputProperty",
          "in" : "query",
          "description" : "The specific property for which the score history is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreHistoryEntryForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List scores",
        "description" : "Retrieve a list of lead scoring configurations in your HubSpot account. This endpoint allows you to view the current scoring setups, which can be useful for managing and analyzing lead scoring strategies.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 10.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreFragmentForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Score",
        "description" : "Create a new lead scoring configuration in your HubSpot account. This endpoint allows you to define scoring criteria and configurations for evaluating leads. It requires a JSON request body with the necessary configuration details.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScoreConfigDraftCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve score",
        "description" : "Retrieve the configuration details of a specific lead scoring model in your HubSpot account using the score's unique identifier. This endpoint is useful for accessing the setup and parameters of a lead scoring model, allowing you to understand how scores are calculated for leads.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model to retrieve. It is an integer value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific lead scoring configuration in your HubSpot account using its unique identifier. This operation is useful for removing outdated or unnecessary scoring configurations.",
        "operationId" : "delete-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring configuration to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Clone score",
        "description" : "Clone an existing lead scoring configuration in your HubSpot account. This endpoint allows you to duplicate a score configuration identified by the scoreId, which can then be modified independently of the original. This is useful for testing variations of scoring models or creating similar scoring configurations without starting from scratch.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to clone.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicScoreCloneRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Deactivate score",
        "description" : "Deactivate a specific lead scoring configuration in your HubSpot account. This operation is useful when you want to temporarily or permanently disable a scoring configuration identified by its scoreId. Once deactivated, the scoring configuration will not be used for evaluating leads until it is reactivated.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to deactivate.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft" : {
      "get" : {
        "tags" : [ "Advanced" ],
        "summary" : "Retrieve draft",
        "description" : "Retrieve the draft configuration of a specific lead score in your HubSpot account. This endpoint allows you to access the draft version of a lead score configuration identified by its scoreId, which can be useful for reviewing or editing before publishing.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead score whose draft configuration you want to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "put" : {
        "tags" : [ "Advanced" ],
        "summary" : "Update draft score",
        "description" : "Update the draft configuration of a specific lead score identified by scoreId. This endpoint allows you to modify the draft version of a lead scoring configuration, which can be useful for testing or adjusting scoring criteria before publishing.",
        "operationId" : "put-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead score draft to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScoreConfigApiModelEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Publish Draft Score",
        "description" : "Publish a draft lead scoring configuration for a specific score identified by scoreId. This action finalizes the draft and makes it the active scoring configuration. ",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "backfill",
          "in" : "query",
          "description" : "A string indicating whether to backfill the scoring data. Defaults to 'false'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "default" : "false"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Reset Draft",
        "description" : "Reset the draft configuration for a specific lead scoring model identified by the scoreId. This operation clears any unsaved changes made to the draft, reverting it to its last published state. Use this endpoint when you need to discard draft changes and start over with the existing published configuration.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model whose draft configuration is to be reset.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteComparativeTimestampRefineBy" : {
        "title" : "AbsoluteComparativeTimestampRefineBy",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string indicating the type of comparison to be made against the timestamp. Valid values include 'BEFORE' and 'AFTER'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the specific point in time to be used in the comparison, formatted as an int64 Unix timestamp.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refine operation, with a default value of 'AbsoluteComparativeTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteComparativeTimestampRefineBy",
            "enum" : [ "AbsoluteComparativeTimestampRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AbsoluteRangedTimestampRefineBy" : {
        "title" : "AbsoluteRangedTimestampRefineBy",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower boundary of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string specifying the type of range comparison, with valid values including 'BETWEEN' and 'NOT_BETWEEN'.",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refinement, with a default value of 'AbsoluteRangedTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteRangedTimestampRefineBy",
            "enum" : [ "AbsoluteRangedTimestampRefineBy" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper boundary of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllHistoryRefineBy" : {
        "title" : "AllHistoryRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refinement. The default value is 'AllHistoryRefineBy', and it must be one of the enumerated values: 'AllHistoryRefineBy'.",
            "example" : null,
            "default" : "AllHistoryRefineBy",
            "enum" : [ "AllHistoryRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllPropertyTypesOperation" : {
        "title" : "alltypes",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object that refines the operation by coalescing criteria, which can be one of types like NumOccurrencesRefineBy or SetOccurrencesRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the operation to be performed, with valid values including 'IS_KNOWN', 'IS_UNKNOWN', 'IS_BLANK', and 'IS_NOT_BLANK'.",
            "example" : null,
            "enum" : [ "IS_BLANK", "IS_KNOWN", "IS_NOT_BLANK", "IS_UNKNOWN" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string specifying the name of the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'alltypes'.",
            "example" : null,
            "default" : "alltypes",
            "enum" : [ "alltypes" ]
          },
          "pruningRefineBy" : {
            "description" : "An object that refines the operation by pruning criteria, which can be one of several types such as RelativeComparativeTimestampRefineBy or AbsoluteRangedTimestampRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string used for rendering specifications.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationFilter" : {
        "required" : [ "propertyFilters", "type" ],
        "type" : "object",
        "properties" : {
          "propertyFilters" : {
            "type" : "array",
            "description" : "An array of PropertyFilter objects that define the criteria for filtering associated objects. Each filter specifies a property and the operation to be performed on it.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of the association filter.",
            "example" : null
          }
        },
        "example" : null
      },
      "AssociationObjectRollupCalculator" : {
        "title" : "ASSOCIATIONS",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type ID of the associated object.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "description" : "A UUID that uniquely identifies this calculator.",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of records to consider in the calculation.",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "description" : "An object representing the calculation to perform on the records, which can be one of several types of calculators.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ListMembershipCalculator"
            }, {
              "$ref" : "#/components/schemas/ConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/MatchCalculator"
            }, {
              "$ref" : "#/components/schemas/MultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ListMembershipEventCalculator"
            }, {
              "$ref" : "#/components/schemas/PropertyValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ConstantValueCalculator"
            } ]
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string representing the type of rollup operation to perform. Valid values include 'COUNT', 'SUM', 'MAX', 'MIN', 'AVG', and 'MEDIAN'.",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'ASSOCIATIONS'.",
            "example" : null,
            "default" : "ASSOCIATIONS",
            "enum" : [ "ASSOCIATIONS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string representing the category of the association, such as 'HUBSPOT_DEFINED' or 'USER_DEFINED'.",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer that uniquely identifies the type of association within the specified category.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "AssociationUnifiedEventRollupCalculator" : {
        "title" : "ASSOCIATION_UE",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type ID of the object associated with the event data.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for this calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of records to consider in the calculation.",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "$ref" : "#/components/schemas/MultiUnifiedEventRollupCalculator"
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string specifying the type of rollup calculation to perform. Valid values include 'COUNT', 'SUM', 'MAX', 'MIN', 'AVG', and 'MEDIAN'.",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'ASSOCIATION_UE'.",
            "example" : null,
            "default" : "ASSOCIATION_UE",
            "enum" : [ "ASSOCIATION_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BoolPropertyOperation" : {
        "title" : "bool",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation, if applicable.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string specifying the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'HAS_EVER_BEEN_EQUAL_TO', and 'HAS_NEVER_BEEN_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'bool' for this component.",
            "example" : null,
            "default" : "bool",
            "enum" : [ "bool" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying how the operation should be rendered or displayed.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean value that the property is compared against in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CalendarDatePropertyOperation" : {
        "title" : "calendar-date",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "timeUnit", "timeUnitCount", "useFiscalYear" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no other value is set.",
            "example" : null
          },
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string representing the start month of the fiscal year, with options like 'JANUARY', 'FEBRUARY', etc.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean that determines whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IN_THIS_TIME_UNIT', 'IN_THIS_TIME_UNIT_SO_FAR', 'IN_NEXT_TIME_UNIT', 'IN_LAST_TIME_UNIT', and 'IN_LAST_TIME_UNIT_SO_FAR'.",
            "example" : null,
            "enum" : [ "IN_LAST_TIME_UNIT", "IN_LAST_TIME_UNIT_SO_FAR", "IN_NEXT_TIME_UNIT", "IN_THIS_TIME_UNIT", "IN_THIS_TIME_UNIT_SO_FAR" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, defaulting to 'calendar-date'.",
            "example" : null,
            "default" : "calendar-date",
            "enum" : [ "calendar-date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the result of the operation should be rendered.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string specifying the unit of time for the operation, such as 'DAY', 'WEEK', 'MONTH', 'QUARTER', or 'YEAR'.",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "QUARTER", "WEEK", "YEAR" ]
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer indicating the number of time units to consider in the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the fiscal year should be used in calculations.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CategoryLimits" : {
        "required" : [ "maxLimit", "minLimit" ],
        "type" : "object",
        "properties" : {
          "maxLimit" : {
            "type" : "number",
            "description" : "The maximum limit for the category. This is a numeric value that defines the upper boundary.",
            "example" : null
          },
          "minLimit" : {
            "type" : "number",
            "description" : "The minimum limit for the category. This is a numeric value that defines the lower boundary.",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreFragmentForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreFragment objects, each representing a fragment of scoring data.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreFragment"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreHistoryEntryForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreHistoryEntry objects representing individual score history entries.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreHistoryEntry"
            }
          }
        },
        "example" : null
      },
      "CombinedThresholdCalculator" : {
        "title" : "COMBINED",
        "required" : [ "offsetByCategory", "thresholds", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "offsetByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "example" : null
            },
            "description" : "An object mapping category names to their respective offset values, which are numbers.",
            "example" : null
          },
          "thresholds" : {
            "type" : "array",
            "description" : "An array of CombinedThresholdEntry objects, each defining output and threshold values by category.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CombinedThresholdEntry"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of calculator, expected to be 'COMBINED_THRESHOLD'.",
            "example" : null,
            "default" : "COMBINED",
            "enum" : [ "COMBINED" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CombinedThresholdDescriptor" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "A string that provides a descriptive label for the threshold. This label helps in identifying or categorizing the threshold in configurations.",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "description" : "A numeric value representing the threshold level. This is used to set the limit or boundary for a particular scoring configuration.",
            "example" : null
          }
        },
        "example" : null
      },
      "CombinedThresholdEntry" : {
        "required" : [ "output", "thresholdByCategory" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the combined threshold entry, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "output" : {
            "type" : "string",
            "description" : "A string representing the output associated with this threshold entry.",
            "example" : null
          },
          "tagColor" : {
            "type" : "string",
            "description" : "A string representing the color tag associated with this threshold entry, used for visual differentiation.",
            "example" : null
          },
          "thresholdByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CombinedThresholdDescriptor"
            },
            "description" : "An object mapping category names to their respective threshold descriptors, which define the threshold values and labels.",
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeBoolPropertyOperation" : {
        "title" : "bool-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no value is set for the property.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that describes the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid operators include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'HAS_EVER_BEEN_EQUAL_TO', and 'HAS_NEVER_BEEN_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'bool' for boolean operations.",
            "example" : null,
            "default" : "bool-comparative",
            "enum" : [ "bool-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered or displayed.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeDatePropertyOperation" : {
        "title" : "datetime-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value for comparison if the target property has no value.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string that specifies the default value to use if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the comparison operation to perform. Valid values include 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'datetime-comparative'.",
            "example" : null,
            "default" : "datetime-comparative",
            "enum" : [ "datetime-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that defines the rendering specification for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeNumberPropertyOperation" : {
        "title" : "number-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to which the comparison is made.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'IS_GREATER_THAN', 'IS_LESS_THAN', etc.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator being used.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with the default value being 'number-comparative'.",
            "example" : null,
            "default" : "number-comparative",
            "enum" : [ "number-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string used for rendering specifications, though its specific use is not detailed in the schema.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativePropertyUpdatedOperation" : {
        "title" : "property-updated-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property that is being compared.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to compare against if the comparison property is not set.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid values are 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'datetime-comparative' for this component.",
            "example" : null,
            "default" : "property-updated-comparative",
            "enum" : [ "property-updated-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that defines the rendering specification for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeStringPropertyOperation" : {
        "title" : "string-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator to use. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'CONTAINS', 'DOES_NOT_CONTAIN', 'STARTS_WITH', and 'ENDS_WITH'.",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'string-comparative'.",
            "example" : null,
            "default" : "string-comparative",
            "enum" : [ "string-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies the rendering specification.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CompositeCondition" : {
        "title" : "COMPOSITE",
        "required" : [ "conditions", "operator", "type" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "description" : "An array of conditions that are part of this composite condition. Each condition can be a single or another composite condition.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/SingleCondition"
              }, {
                "$ref" : "#/components/schemas/CompositeCondition"
              } ]
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the composite condition, represented as a string in UUID format.",
            "format" : "uuid",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the logical operator used to combine the conditions. Valid values include 'AND' and 'OR'.",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the condition, which is 'COMPOSITE' for composite conditions.",
            "example" : null,
            "default" : "COMPOSITE",
            "enum" : [ "COMPOSITE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConditionalCalculator" : {
        "title" : "CONDITIONAL",
        "required" : [ "type", "value", "whereCondition" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'CONDITIONAL' for this component.",
            "example" : null,
            "default" : "CONDITIONAL",
            "enum" : [ "CONDITIONAL" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numerical value representing the result of the calculation.",
            "example" : null
          },
          "whereCondition" : {
            "$ref" : "#/components/schemas/CompositeCondition"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConstantValueCalculator" : {
        "title" : "CONSTANT",
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for this calculator, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'CONSTANT' for this component.",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the constant value that this calculator assigns.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "timezoneSource", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time reference, with a default value of 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string representing the source of the timezone, which can be 'CUSTOM', 'USER', or 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string specifying the identifier for the time zone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePropertyOperation" : {
        "title" : "date",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "operatorName", "propertyType", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer specifying the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no specific value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "An integer specifying the month component of the date.",
            "example" : null,
            "enum" : [ "APR", "AUG", "DEC", "FEB", "JAN", "JUL", "JUN", "MAR", "MAY", "NOV", "OCT", "SEP" ]
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation to be performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed on the date property. Valid values include 'IS_BEFORE', 'IS_AFTER', and 'IS_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE", "EQUAL" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property this operation applies to, with a default value of 'date'.",
            "example" : null,
            "default" : "date",
            "enum" : [ "date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that provides specifications for rendering the operation.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer specifying the year component of the date.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DateTimePropertyOperation" : {
        "title" : "datetime",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the operation to perform, such as 'IS_BEFORE', 'IS_AFTER', 'IS_EQUAL_TO', 'IS_BEFORE_DATE', or 'IS_AFTER_DATE'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_AFTER_DATE", "IS_BEFORE", "IS_BEFORE_DATE", "IS_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, defaulting to 'datetime'.",
            "example" : null,
            "default" : "datetime",
            "enum" : [ "datetime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered or displayed.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the operation requires conversion based on time zones.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp involved in the operation, in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EmptyFrequencyCriteria" : {
        "title" : "EMPTY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of frequency criteria. The default value is 'EMPTY', and it must be one of the enumerated values: ['EMPTY'].",
            "example" : null,
            "default" : "EMPTY",
            "enum" : [ "EMPTY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EnumerationPropertyOperation" : {
        "title" : "enumeration",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no specific value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that defines the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with options such as 'IS_ANY_OF', 'IS_NONE_OF', 'IS_EXACTLY', and others.",
            "example" : null,
            "enum" : [ "CONTAINS_ALL", "DOES_NOT_CONTAIN_ALL", "HAS_EVER_BEEN_ANY_OF", "HAS_EVER_BEEN_EXACTLY", "HAS_EVER_CONTAINED_ALL", "HAS_NEVER_BEEN_ANY_OF", "HAS_NEVER_BEEN_EXACTLY", "HAS_NEVER_CONTAINED_ALL", "IS_ANY_OF", "IS_EXACTLY", "IS_NONE_OF", "IS_NOT_EXACTLY" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, defaulting to 'enumeration'.",
            "example" : null,
            "default" : "enumeration",
            "enum" : [ "enumeration" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered, though its exact use is not detailed.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings specifying the values involved in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string representing the general category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition, which may include various key-value pairs.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the error occurrence, useful for tracking and debugging.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects, each providing additional information about specific aspects of the error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing related links that provide further information or actions related to the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable message that describes the error and may include remediation steps.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A string providing a more specific categorization of the error within the general category.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object where each key is a context name and the value is an array of strings providing additional information.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "EventFrequencyBetween" : {
        "title" : "BETWEEN",
        "required" : [ "ranges", "type" ],
        "type" : "object",
        "properties" : {
          "ranges" : {
            "type" : "array",
            "description" : "An array of objects, each specifying a range with a minimum and maximum frequency count for events.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FrequencyRange"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of frequency criteria, which in this case is 'EventFrequencyBetween'.",
            "example" : null,
            "default" : "BETWEEN",
            "enum" : [ "BETWEEN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EventTimeframe" : {
        "required" : [ "eventFilterOperation" ],
        "type" : "object",
        "properties" : {
          "eventFilterOperation" : {
            "description" : "Defines the operation used to filter events within the timeframe. This can be one of several types of property operations, such as BoolPropertyOperation, NumberPropertyOperation, or StringPropertyOperation, among others.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          }
        },
        "example" : null
      },
      "FilterConfiguration" : {
        "required" : [ "listFilterType", "listIds" ],
        "type" : "object",
        "properties" : {
          "listFilterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter to be applied to the lists. This property determines how the lists are filtered in the operation.",
            "example" : null,
            "enum" : [ "EXCLUDES", "INCLUDES" ]
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of lists to be included in the filter.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "FiscalQuarter" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day within the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond of the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute of the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month within the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_QUARTER'.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second of the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "FiscalYear" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day within the month of the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer indicating the hour of the day within the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer indicating the millisecond within the second of the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer indicating the minute within the hour of the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month within the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string representing the type of reference, which is 'FISCAL_YEAR' for this component.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer indicating the second within the minute of the fiscal year.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "FrequencyRange" : {
        "required" : [ "from", "type", "value" ],
        "type" : "object",
        "properties" : {
          "from" : {
            "type" : "integer",
            "description" : "A number representing the starting point of the frequency range.",
            "format" : "int32",
            "example" : null
          },
          "to" : {
            "type" : "integer",
            "description" : "A number representing the ending point of the frequency range.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of frequency range.",
            "example" : null,
            "enum" : [ "AT_LEAST", "BETWEEN", "EXACTLY" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the value associated with the frequency range.",
            "example" : null
          }
        },
        "example" : null
      },
      "GroupDecayConfiguration" : {
        "required" : [ "decayIntervalDays", "percentToDecayPerInterval" ],
        "type" : "object",
        "properties" : {
          "decayIntervalDays" : {
            "type" : "integer",
            "description" : "The number of days that define the interval at which the score decay occurs. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the decay configuration, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "percentToDecayPerInterval" : {
            "type" : "number",
            "description" : "The percentage by which the score should decay at each interval. This is a numerical value.",
            "example" : null
          }
        },
        "example" : null
      },
      "GroupsAndCalculator" : {
        "required" : [ "calculator", "groupCategories" ],
        "type" : "object",
        "properties" : {
          "calculator" : {
            "description" : "An object representing the calculator used for scoring, which can be one of several types such as ThresholdBasedCalculator, PassthroughCalculator, or CombinedThresholdCalculator.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ThresholdBasedCalculator"
            }, {
              "$ref" : "#/components/schemas/PassthroughCalculator"
            }, {
              "$ref" : "#/components/schemas/CombinedThresholdCalculator"
            } ]
          },
          "groupCategories" : {
            "type" : "array",
            "description" : "An array of strings representing the categories of groups included in this configuration.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the GroupsAndCalculator object, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days for the offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours for the offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds for the offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes for the offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months for the offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters for the offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds for the offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks for the offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years for the offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "An object that defines the reference point for the index. It can be one of several types, such as 'NowReference', 'TodayReference', 'WeekReference', etc.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NowReference"
            }, {
              "$ref" : "#/components/schemas/TodayReference"
            }, {
              "$ref" : "#/components/schemas/WeekReference"
            }, {
              "$ref" : "#/components/schemas/MonthReference"
            }, {
              "$ref" : "#/components/schemas/QuarterReference"
            }, {
              "$ref" : "#/components/schemas/FiscalQuarter"
            }, {
              "$ref" : "#/components/schemas/YearReference"
            }, {
              "$ref" : "#/components/schemas/FiscalYear"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/IndexOffset"
          },
          "shouldGenerateRefreshTime" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether a refresh time should be generated.",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, which is 'INDEXED' by default.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string representing the source of the timezone. Valid values include 'CUSTOM', 'USER', and 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string specifying the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipCalculator" : {
        "title" : "LIST_MEMBERSHIP",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "description" : "An array of list membership rules that define the criteria for list membership events. Each rule is represented by a ListMembershipRule object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of the calculator. The default value is 'LIST_MEMBERSHIP_EVENT'.",
            "example" : null,
            "default" : "LIST_MEMBERSHIP",
            "enum" : [ "LIST_MEMBERSHIP" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipEventCalculator" : {
        "title" : "LIST_MEMBERSHIP_EVENT",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "decay" : {
            "$ref" : "#/components/schemas/UnifiedEventDecay"
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/EventTimeframe"
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "description" : "An array of rules that define the criteria for list membership events. Each rule specifies conditions that must be met for the event to be considered.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'LIST_MEMBERSHIP_EVENT'.",
            "example" : null,
            "default" : "LIST_MEMBERSHIP_EVENT",
            "enum" : [ "LIST_MEMBERSHIP_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipRule" : {
        "required" : [ "listIds", "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the list membership rule, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of the lists to which the rule applies.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "operation" : {
            "type" : "string",
            "description" : "A string indicating the type of operation to be performed for the list membership rule.",
            "example" : null,
            "enum" : [ "HAS_ALL_LIST_MEMBERSHIP", "HAS_AT_LEAST_ONE_LIST_MEMBERSHIP", "HAS_NO_LIST_MEMBERSHIP" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numeric value used in conjunction with the operation to determine list membership.",
            "example" : null
          }
        },
        "example" : null
      },
      "MatchCalculator" : {
        "title" : "MATCH",
        "required" : [ "matchRules", "property", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "number",
            "description" : "A string representing the default value to use if no match rules are satisfied.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the MatchCalculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "matchRules" : {
            "type" : "array",
            "description" : "An array of MatchRule objects that define the conditions to be matched for the calculation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/MatchRule"
            }
          },
          "property" : {
            "type" : "string",
            "description" : "A string indicating the property that the calculator will evaluate.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of calculator, with a default value of 'MATCH'.",
            "example" : null,
            "default" : "MATCH",
            "enum" : [ "MATCH" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MatchRule" : {
        "required" : [ "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this match rule, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "operation" : {
            "description" : "The operation that defines the condition to be evaluated. This can be one of several types, such as a Boolean, Number, String, or DateTime operation, among others.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numeric value that is used in conjunction with the operation to evaluate the rule.",
            "example" : null
          }
        },
        "example" : null
      },
      "MonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, with a default value of 'MONTH'.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiStringPropertyOperation" : {
        "title" : "multistring",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "A refinement operation for coalescing conditions, represented by one of several possible schemas.",
            "example" : null,
            "oneOf" : [ {
[...]
