{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Lead Scoring",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/lead-scoring/2026-09-beta/score-values/object-history" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve history",
        "description" : "Retrieve the history of score values for a specific object type and ID in the lead scoring framework. This endpoint allows you to track changes over time, up to the last 90 days, which can be useful for analyzing trends and understanding how scores have evolved.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/score-values/object-history",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, used for pagination. This token is returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        }, {
          "name" : "objectId",
          "in" : "query",
          "description" : "The unique identifier of the object for which the score history is being retrieved, specified as an integer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "query",
          "description" : "The type of the object for which the score history is being retrieved, specified as a string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "outputProperty",
          "in" : "query",
          "description" : "The specific property of the score output to be included in the response, specified as a string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreHistoryEntryForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List scores",
        "description" : "Retrieve a list of lead scores from your HubSpot account. This endpoint allows you to paginate through scores using the 'limit' and 'after' query parameters. It is useful for accessing and managing lead scoring data in a structured manner. It is eventually consistent and may take a few seconds for new scores to show up. ",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 10.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreFragmentForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create",
        "description" : "Create a new lead scoring configuration in your HubSpot account. This endpoint allows you to define scoring rules and configurations for different object types, helping you to evaluate and prioritize leads effectively. The request body must include details such as object type ID, name, allowed group types, group configurations, and maximum score per category.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve score",
        "description" : "Retrieve the configuration of a specific lead score in your HubSpot account using the unique score ID. This endpoint is useful for accessing detailed information about a particular lead scoring configuration, including its properties and settings. A score that has never been published can be retrieved. ",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead score to retrieve. It is required to specify which score's configuration you want to access.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific lead scoring configuration in your HubSpot account. This operation permanently removes the scoring configuration identified by the scoreId from the system, which can be useful for managing and cleaning up outdated or unnecessary scoring setups.",
        "operationId" : "delete-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring configuration to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Clone score",
        "description" : "Clone an existing lead scoring configuration identified by the scoreId. This operation creates a duplicate of the specified score configuration, allowing you to modify and use it independently from the original. It is useful for testing variations or creating similar scoring models without starting from scratch.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to clone.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicScoreCloneRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Deactivate score",
        "description" : "Deactivate a specific lead scoring configuration in your HubSpot account. This endpoint is useful for temporarily disabling a scoring model without deleting it, allowing you to reactivate it later if needed.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to deactivate.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft" : {
      "get" : {
        "tags" : [ "Advanced" ],
        "summary" : "Retrieve draft",
        "description" : "Retrieve the draft configuration of a specific lead scoring model using its score ID. This endpoint is useful for accessing the current draft state of a scoring model, allowing you to review or modify it before finalizing.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model whose draft configuration is to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Advanced" ],
        "summary" : "Update draft score",
        "description" : "Update the draft configuration for a specific lead score in your HubSpot account. This endpoint allows you to replace the current draft of a lead score configuration identified by the scoreId. Use this endpoint to make changes to the scoring criteria before publishing the final version. Rule and group IDs may differ between the live and draft configurations. Outputs are merged by ID and will remain the same. ",
        "operationId" : "put-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead score draft to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Publish draft",
        "description" : "Publish a draft lead scoring configuration for a specific score identified by scoreId. This endpoint finalizes the draft configuration, making it active and applicable to the associated scoring processes.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead score configuration to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Reset Draft",
        "description" : "Reset the draft state of a specific lead scoring configuration in your HubSpot account. This operation is useful when you want to discard changes made to a draft and revert to the last published state. It ensures that any unsaved modifications are cleared, providing a clean slate for further edits.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring configuration draft to reset.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicScoreFragmentForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public score fragments. Each item in the array is a PublicScoreFragment object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreFragment"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreHistoryEntryForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreHistoryEntry objects, each representing a historical entry of score changes for an object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreHistoryEntry"
            }
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. This is a string property.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object where each key is a context name and the value is an array of strings providing further details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This is a string property.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a required string property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. This is a string property.",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "description" : "Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.",
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to indicate the position after the last successfully read resource in a paginated response.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string containing the URL link to access the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'ALL_PROPERTY' by default.",
            "example" : null,
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationFilter" : {
        "required" : [ "propertyFilters" ],
        "type" : "object",
        "properties" : {
          "propertyFilters" : {
            "type" : "array",
            "description" : "An array of property filters that define the criteria for filtering associations. Each filter is represented by a PublicPropertyFilter object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPropertyFilter"
            }
          }
        },
        "example" : null
      },
      "PublicAssociationObjectRollupCalculator" : {
        "title" : "ASSOCIATIONS",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type ID of the associated object.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/PublicAssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "recordCalculation" : {
            "description" : "Specifies the calculation method to be used on the records, which can be one of several types such as constant value, match, multi-value, conditional, or segment membership calculators.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicConstantValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMatchCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
            } ]
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string indicating the type of rollup operation, with valid values being 'SUM', 'MAX', 'MIN', or 'AVG'.",
            "example" : null,
            "enum" : [ "AVG", "MAX", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'ASSOCIATIONS'.",
            "example" : null,
            "default" : "ASSOCIATIONS",
            "enum" : [ "ASSOCIATIONS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string indicating the category of the association.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicAssociationUnifiedEventRollupCalculator" : {
        "title" : "ASSOCIATION_UE",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the associated object type.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/PublicAssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "recordCalculation" : {
            "$ref" : "#/components/schemas/PublicMultiUnifiedEventRollupCalculator"
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string indicating the type of rollup operation to perform, with valid values being 'SUM', 'MAX', 'MIN', and 'AVG'.",
            "example" : null,
            "enum" : [ "AVG", "MAX", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'ASSOCIATION_UE'.",
            "example" : null,
            "default" : "ASSOCIATION_UE",
            "enum" : [ "ASSOCIATION_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicBoolPropertyOperation" : {
        "title" : "BOOL",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'BOOL' for this component.",
            "example" : null,
            "default" : "BOOL",
            "enum" : [ "BOOL" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the boolean operation.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean value that is used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCalendarDatePropertyOperation" : {
        "title" : "CALENDAR_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string representing the starting month of the fiscal year. Valid values include months from 'JANUARY' to 'DECEMBER'.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'CALENDAR_DATE' by default.",
            "example" : null,
            "default" : "CALENDAR_DATE",
            "enum" : [ "CALENDAR_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string specifying the unit of time used in the operation.",
            "example" : null
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer specifying the count of time units used in the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to use the fiscal year in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be used for comparison.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use for comparison if the comparison property is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the comparison property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'COMPARATIVE_DATE' for this component.",
            "example" : null,
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used for the comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeNumberPropertyOperation" : {
        "title" : "COMPARATIVE_NUMBER",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use for comparison if the comparison property is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'COMPARATIVE_NUMBER' for this component.",
            "example" : null,
            "default" : "COMPARATIVE_NUMBER",
            "enum" : [ "COMPARATIVE_NUMBER" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the comparison, such as 'equals', 'greater than', etc.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use for comparison if the comparison property is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that do not have a value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation. Defaults to 'COMPARATIVE_PROPERTY_UPDATED'.",
            "example" : null,
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operator used in the comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeStringPropertyOperation" : {
        "title" : "COMPARATIVE_STRING",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be used for comparison.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string that provides a default value for comparison if the property value is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property being compared.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'COMPARATIVE_STRING' by default.",
            "example" : null,
            "default" : "COMPARATIVE_STRING",
            "enum" : [ "COMPARATIVE_STRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCompositeCondition" : {
        "title" : "COMPOSITE",
        "required" : [ "conditions", "operator", "type" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "description" : "An array of conditions that can include both single and composite conditions, allowing for nested logical expressions.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleCondition"
              }, {
                "$ref" : "#/components/schemas/PublicCompositeCondition"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the logical operator used to combine the conditions. The valid value is 'AND'.",
            "example" : null,
            "enum" : [ "AND" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of condition, which is 'COMPOSITE' for this component.",
            "example" : null,
            "default" : "COMPOSITE",
            "enum" : [ "COMPOSITE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConditionalCalculator" : {
        "title" : "CONDITIONAL",
        "required" : [ "type", "value", "whereCondition" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'CONDITIONAL' for this component.",
            "example" : null,
            "default" : "CONDITIONAL",
            "enum" : [ "CONDITIONAL" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the value to be used if the conditions specified in whereCondition are met.",
            "example" : null
          },
          "whereCondition" : {
            "$ref" : "#/components/schemas/PublicCompositeCondition"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConstantValueCalculator" : {
        "title" : "CONSTANT",
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of calculator, which is always 'CONSTANT' for this component.",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numerical value that represents the constant score to be applied.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time representation, defaulting to 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string representing the source of the timezone information.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string specifying the timezone ID.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePropertyOperation" : {
        "title" : "DATE",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer specifying the day component of the date operation.",
            "format" : "int32",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the date property.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "A string specifying the month component of the date operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the date operation.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer specifying the year component of the date operation.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDateTimePropertyOperation" : {
        "title" : "DATETIME",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a set value should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'DATETIME' for this component.",
            "example" : null,
            "default" : "DATETIME",
            "enum" : [ "DATETIME" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the date-time operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean specifying if the operation requires conversion based on time zones.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp for the operation, formatted as an int64.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDraftCreateRequest" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "maxScorePerCategory", "name", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "description" : "An array of strings indicating the types of groups allowed in the score configuration. Valid values include 'FIT' and 'INTENT'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "groupConfigs" : {
            "type" : "array",
            "description" : "An array of group configuration objects, each defining specific settings for a group within the score configuration.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreGroupConfigurationEgg"
            }
          },
          "maxScorePerCategory" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum score that can be assigned to each category within the score configuration.",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the score configuration.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the object type associated with the score configuration.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicDraftUpdateRequest" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "name", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "description" : "An array of strings indicating the types of groups allowed in the scoring draft. Valid values include 'FIT' and 'INTENT'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "filterConfiguration" : {
            "$ref" : "#/components/schemas/PublicFilterConfiguration"
          },
          "groupConfigs" : {
            "type" : "array",
            "description" : "An array of PublicScoreGroupConfiguration objects that define the group configurations for the scoring draft.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreGroupConfiguration"
            }
          },
          "maxScorePerCategory" : {
            "type" : "integer",
            "description" : "An integer representing the maximum score allowed per category in the scoring draft.",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the draft configuration.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the object type associated with the draft.",
            "example" : null
          },
          "outputConfiguration" : {
            "$ref" : "#/components/schemas/PublicOutputConfigurationEgg"
          }
        },
        "example" : null
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation. The default and only valid value is 'ENUMERATION'.",
            "example" : null,
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operator to be used in the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the specific enumeration values to be used in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventFrequencyBetween" : {
        "title" : "BETWEEN",
        "required" : [ "ranges", "type" ],
        "type" : "object",
        "properties" : {
          "ranges" : {
            "type" : "array",
            "description" : "An array of frequency ranges, each specifying the conditions for event occurrence within a defined range.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicFrequencyRange"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of frequency evaluation, which is 'BETWEEN' for this component.",
            "example" : null,
            "default" : "BETWEEN",
            "enum" : [ "BETWEEN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventTimeframe" : {
        "required" : [ "eventFilterOperation" ],
        "type" : "object",
        "properties" : {
          "eventFilterOperation" : {
            "description" : "Defines the operation used to filter events. This can be one of several property operations, such as boolean, number, string, date-time, and others, allowing for a wide range of filtering criteria.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeNumberPropertyOperation"
            } ]
          }
        },
        "example" : null
      },
      "PublicFilterConfiguration" : {
        "required" : [ "listFilterType", "segmentIds" ],
        "type" : "object",
        "properties" : {
          "listFilterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter to apply. Valid values are 'INCLUDES' and 'EXCLUDES'.",
            "example" : null,
            "enum" : [ "EXCLUDES", "INCLUDES" ]
          },
          "segmentIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of the segments to be filtered.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicFiscalQuarterReference" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day within the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month within the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, defaulting to 'FISCAL_QUARTER'.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFiscalYearReference" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_YEAR' by default.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the fiscal year reference.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFrequencyRange" : {
        "required" : [ "from", "type", "value" ],
        "type" : "object",
        "properties" : {
          "from" : {
            "type" : "integer",
            "description" : "An integer specifying the starting point of the frequency range.",
            "format" : "int32",
            "example" : null
          },
          "to" : {
            "type" : "integer",
            "description" : "An integer specifying the ending point of the frequency range. This property is optional and may not be present in all cases.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of frequency range. Valid values include 'EXACTLY', 'BETWEEN', and 'AT_LEAST'.",
            "example" : null,
            "enum" : [ "AT_LEAST", "BETWEEN", "EXACTLY" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the specific value associated with the frequency range.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicGroupDecayConfiguration" : {
        "required" : [ "decayIntervalDays", "percentToDecayPerInterval" ],
        "type" : "object",
        "properties" : {
          "decayIntervalDays" : {
            "type" : "integer",
            "description" : "The number of days that constitute one decay interval. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "percentToDecayPerInterval" : {
            "type" : "integer",
            "description" : "The percentage by which the score will decay at the end of each interval. This is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days to offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours to offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes to offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months to offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters to offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks to offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years to offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "An object that defines the reference point for the indexed time, which can be one of several predefined references such as 'NOW', 'TODAY', or specific time periods like 'WEEK' or 'MONTH'.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, defaulting to 'INDEXED'.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string representing the source of the timezone information.",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string specifying the ID of the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatchCalculator" : {
        "title" : "MATCH",
        "required" : [ "matchRules", "property", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "number",
            "description" : "A number representing the default value to be used if no match rules are satisfied.",
            "example" : null
          },
          "matchRules" : {
            "type" : "array",
            "description" : "An array of match rules that define the conditions under which the property is evaluated. Each rule specifies an operation and a value.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicMatchRule"
            }
          },
          "property" : {
            "type" : "string",
            "description" : "The name of the property that is being evaluated by the match calculator.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that indicates the type of calculator, which is always 'MATCH'.",
            "example" : null,
            "default" : "MATCH",
            "enum" : [ "MATCH" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatchRule" : {
        "required" : [ "operation", "value" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "description" : "Defines the operation to be performed for the match rule. It can be one of several types, such as boolean, number, string, date-time, and more, each with specific operations applicable to that type.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeNumberPropertyOperation"
            } ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the value to be used in the match rule. This value is compared against the property using the specified operation.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMatrixOutputOverride" : {
        "title" : "MATRIX",
        "required" : [ "boundaries", "id", "outputType" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicMatrixTierBoundary"
              }
            },
            "description" : "An object defining the boundaries for the matrix output, where each key is a boundary name and the value is an array of PublicMatrixTierBoundary objects.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this matrix output override.",
            "example" : null
          },
          "internalPropertyName" : {
            "type" : "string",
            "description" : "The internal name of the property associated with this matrix output.",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "description" : "The type of output, which is always 'MATRIX'.",
            "example" : null,
            "default" : "MATRIX",
            "enum" : [ "MATRIX" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "description" : "A description of the property, providing additional context or details.",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "description" : "The group to which this property belongs.",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "description" : "The label of the property for display purposes.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatrixOutputProperty" : {
        "title" : "MATRIX",
        "required" : [ "boundaries", "categories", "id", "outputType", "propertyLabel", "propertyName" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicMatrixTierBoundary"
              }
            },
            "description" : "An object defining the boundaries for the matrix tiers, with each boundary represented as an array of PublicMatrixTierBoundary objects.",
            "example" : null
          },
          "categories" : {
            "type" : "array",
            "description" : "An array of categories applicable to this property, with valid values being 'FIT' and 'INTENT'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the matrix output property.",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "description" : "The type of output, which is always 'MATRIX' for this component.",
            "example" : null,
            "default" : "MATRIX",
            "enum" : [ "MATRIX" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "description" : "A description of the property's purpose or usage.",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "description" : "The group to which this property belongs, if applicable.",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "description" : "The label displayed for the property in user interfaces.",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The internal name of the property associated with this matrix output.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatrixTierBoundary" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "A string representing the name or identifier for the matrix tier boundary.",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "description" : "A number indicating the threshold value for the matrix tier boundary.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'MONTH' by default.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiStringPropertyOperation" : {
        "title" : "MULTISTRING",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that do not have a value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, with a default value of 'MULTISTRING'.",
            "example" : null,
            "default" : "MULTISTRING",
            "enum" : [ "MULTISTRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values involved in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiUnifiedEventCalculatorEntry" : {
        "required" : [ "eventTypeId", "recordCalculation" ],
        "type" : "object",
        "properties" : {
          "eventFrequencyCriteria" : {
            "description" : "Defines the criteria for event frequency, specifically using a 'between' type to specify frequency ranges.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicEventFrequencyBetween"
            } ]
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/PublicEventTimeframe"
          },
          "eventTypeId" : {
            "type" : "string",
            "description" : "The unique identifier for the type of event. It is a string.",
            "example" : null
          },
          "recordCalculation" : {
            "description" : "Defines the calculation logic for the event record. It can be one of several types, including constant value, match, multi-value, conditional, or segment membership calculators.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicConstantValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMatchCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
            } ]
          }
        },
        "example" : null
      },
      "PublicMultiUnifiedEventRollupCalculator" : {
        "title" : "MULTI_UE",
        "required" : [ "eventCalculators", "type" ],
        "type" : "object",
        "properties" : {
          "eventCalculators" : {
            "type" : "array",
            "description" : "An array of event calculator entries, each defining a specific event calculation configuration.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicMultiUnifiedEventCalculatorEntry"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator. The default value is 'MULTI_UE'.",
            "example" : null,
            "default" : "MULTI_UE",
            "enum" : [ "MULTI_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiValueCalculator" : {
        "title" : "MULTI",
        "required" : [ "calculators", "type" ],
        "type" : "object",
        "properties" : {
          "calculators" : {
            "type" : "array",
            "description" : "An array of calculators that are combined to perform the multi-value calculation. Each item in the array can be a constant value calculator, match calculator, multi-value calculator, conditional calculator, or segment membership calculator.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConstantValueCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicMatchCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicMultiValueCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
              } ]
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'MULTI' for this component.",
            "example" : null,
            "default" : "MULTI",
            "enum" : [ "MULTI" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNowReference" : {
        "title" : "NOW",
        "required" : [ "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the current hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the current millisecond of the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the current minute of the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'NOW' by default.",
            "example" : null,
            "default" : "NOW",
            "enum" : [ "NOW" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the current second of the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that do not have a value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'NUMBER' by default.",
            "example" : null,
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the numerical operation.",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the value used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicOutputConfiguration" : {
        "required" : [ "outputs" ],
        "type" : "object",
        "properties" : {
          "outputs" : {
            "type" : "array",
            "description" : "An array of output properties, each of which can be a score, threshold, or matrix output property. These define how the scoring results are structured and presented.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicScoreOutputProperty"
              }, {
                "$ref" : "#/components/schemas/PublicThresholdOutputProperty"
              }, {
                "$ref" : "#/components/schemas/PublicMatrixOutputProperty"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicOutputConfigurationEgg" : {
        "required" : [ "outputs" ],
        "type" : "object",
        "properties" : {
          "outputs" : {
            "type" : "array",
            "description" : "An array of output configurations, each of which can be a score, threshold, or matrix output override. This property is required.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicScoreOutputOverride"
              }, {
                "$ref" : "#/components/schemas/PublicThresholdOutputOverride"
              }, {
                "$ref" : "#/components/schemas/PublicMatrixOutputOverride"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicPropertyFilter" : {
        "title" : "PROPERTY",
        "required" : [ "filterType", "operation", "property" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter being applied. The default value is 'PROPERTY'.",
            "example" : null,
            "default" : "PROPERTY",
            "enum" : [ "PROPERTY" ]
          },
          "operation" : {
            "description" : "An object that defines the operation to be performed on the specified property. This can be one of several types of operations, such as boolean, number, string, date, and others, as defined by the various operation schemas.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeNumberPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "description" : "A string representing the name of the property on which the filter operation will be applied.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicPropertyReferencedTime" : {
        "title" : "PROPERTY_REFERENCED",
        "required" : [ "property", "referenceType", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "property" : {
            "type" : "string",
            "description" : "A string indicating the property that the time reference is associated with.",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string that defines the type of reference for the time.",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time reference, with a default value of 'PROPERTY_REFERENCED'.",
            "example" : null,
            "default" : "PROPERTY_REFERENCED",
            "enum" : [ "PROPERTY_REFERENCED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone information.",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the ID of the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day within the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month within the quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'QUARTER' by default.",
            "example" : null,
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a set value should be included in the operation.",
            "example" : null
          },
          "lowerBound" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the date range, formatted as int64.",
            "format" : "int64",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'RANGED_DATE' by default.",
            "example" : null,
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the operator used in the operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the operation requires conversion based on time zones.",
            "example" : null
          },
          "upperBound" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the date range, formatted as int64.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "lowerBound" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the range, in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "The type of operation being performed. This is a string with a default value of 'NUMBER_RANGED'.",
            "example" : null,
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "upperBound" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the range, in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included.",
            "example" : null
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string",
            "description" : "A string defining the behavior of the lower bound endpoint.",
            "example" : null
          },
          "lowerBoundTimePoint" : {
            "description" : "Specifies the lower bound time point, which can be a date, indexed time point, or property-referenced time.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the operation type.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the time operation.",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "description" : "A string specifying the property parser to be used.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, defaulting to 'TIME_RANGED'.",
            "example" : null,
            "default" : "TIME_RANGED",
[...]
