{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Lead Scoring",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/lead-scoring/2026-09-beta/score-values/object-history" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve history",
        "description" : "Retrieve the history of score values for a specific object type and ID in the lead scoring system. This endpoint is useful for tracking changes in score values over time and understanding how different factors have influenced the scores. The results can be filtered and paginated using the provided query parameters.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/score-values/object-history",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        }, {
          "name" : "objectId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "outputProperty",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreHistoryEntryForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List scores",
        "description" : "Retrieve a list of lead scores from the HubSpot account. This endpoint allows you to view scores for various leads, which can be useful for analyzing lead quality and prioritizing follow-up actions. The results can be paginated using the provided query parameters.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreFragmentForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Score",
        "description" : "Create a new lead scoring configuration in your HubSpot account. This endpoint allows you to define scoring criteria for leads, which can help in prioritizing and managing leads effectively. The request body must include the necessary configuration details for the scoring setup.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve score",
        "description" : "Retrieve the configuration details of a specific lead scoring model in your HubSpot account using its unique score ID. This endpoint is useful for accessing the setup and parameters of a particular scoring model to understand how leads are being evaluated.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific lead scoring configuration in your HubSpot account using its unique identifier. This operation is useful for removing outdated or unnecessary scoring configurations to maintain a clean and efficient scoring system.",
        "operationId" : "delete-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Clone score",
        "description" : "Clone an existing lead scoring configuration in your HubSpot account. This operation allows you to duplicate a score configuration identified by the scoreId path parameter, which can then be modified or used as a template for new scoring rules.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicScoreCloneRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Deactivate score",
        "description" : "Deactivate a specific lead scoring configuration in your HubSpot account. This endpoint is useful when you want to temporarily disable a scoring configuration without deleting it. The operation returns the updated score configuration.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft" : {
      "get" : {
        "tags" : [ "Advanced" ],
        "summary" : "Retrieve draft",
        "description" : "Retrieve the draft configuration of a specific lead scoring model using its score ID. This endpoint is useful for accessing the draft version of a score configuration before it is published or finalized.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "put" : {
        "tags" : [ "Advanced" ],
        "summary" : "Update draft",
        "description" : "Update the draft configuration of a lead scoring model identified by the scoreId. This operation allows you to modify the draft settings of an existing lead scoring model, which can be useful for testing or adjusting scoring criteria before publishing.",
        "operationId" : "put-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Publish draft score",
        "description" : "Publish a draft version of a lead scoring configuration identified by the scoreId. This action makes the draft configuration active. Optionally, you can choose to backfill the score data.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfiguration"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Reset Draft",
        "description" : "Reset the draft configuration of a lead scoring model identified by the scoreId. This operation is useful for reverting any changes made to the draft configuration, effectively restoring it to its initial state. This endpoint does not return any content upon successful execution.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicScoreFragmentForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreFragment objects, each representing a fragment of scoring data.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreFragment"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreHistoryEntryForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreHistoryEntry objects, representing the individual score history entries.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreHistoryEntry"
            }
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to retrieve the next page of results. It indicates the position after the last successfully read resource.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string containing the URL link to the next page of results, facilitating easy navigation in paginated responses.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationFilter" : {
        "required" : [ "propertyFilters" ],
        "type" : "object",
        "properties" : {
          "propertyFilters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicPropertyFilter"
            }
          }
        },
        "example" : null
      },
      "PublicAssociationObjectRollupCalculator" : {
        "title" : "ASSOCIATIONS",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/PublicAssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "recordCalculation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicConstantValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMatchCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
            } ]
          },
          "rollupType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AVG", "MAX", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "ASSOCIATIONS",
            "enum" : [ "ASSOCIATIONS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicAssociationUnifiedEventRollupCalculator" : {
        "title" : "ASSOCIATION_UE",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/PublicAssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/PublicAssociationSpec"
          },
          "recordCalculation" : {
            "$ref" : "#/components/schemas/PublicMultiUnifiedEventRollupCalculator"
          },
          "rollupType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AVG", "MAX", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "ASSOCIATION_UE",
            "enum" : [ "ASSOCIATION_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicBoolPropertyOperation" : {
        "title" : "BOOL",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "BOOL",
            "enum" : [ "BOOL" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCalendarDatePropertyOperation" : {
        "title" : "CALENDAR_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "fiscalYearStart" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "CALENDAR_DATE",
            "enum" : [ "CALENDAR_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "example" : null
          },
          "timeUnitCount" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeStringPropertyOperation" : {
        "title" : "COMPARATIVE_STRING",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPARATIVE_STRING",
            "enum" : [ "COMPARATIVE_STRING" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCompositeCondition" : {
        "title" : "COMPOSITE",
        "required" : [ "conditions", "operator", "type" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleCondition"
              }, {
                "$ref" : "#/components/schemas/PublicCompositeCondition"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AND" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "COMPOSITE",
            "enum" : [ "COMPOSITE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConditionalCalculator" : {
        "title" : "CONDITIONAL",
        "required" : [ "type", "value", "whereCondition" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONDITIONAL",
            "enum" : [ "CONDITIONAL" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          },
          "whereCondition" : {
            "$ref" : "#/components/schemas/PublicCompositeCondition"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConstantValueCalculator" : {
        "title" : "CONSTANT",
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePropertyOperation" : {
        "title" : "DATE",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDateTimePropertyOperation" : {
        "title" : "DATETIME",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "DATETIME",
            "enum" : [ "DATETIME" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDraftCreateRequest" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "maxScorePerCategory", "name", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "groupConfigs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreGroupConfigurationEgg"
            }
          },
          "maxScorePerCategory" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicDraftUpdateRequest" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "name", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "filterConfiguration" : {
            "$ref" : "#/components/schemas/PublicFilterConfiguration"
          },
          "groupConfigs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreGroupConfiguration"
            }
          },
          "maxScorePerCategory" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "outputConfiguration" : {
            "$ref" : "#/components/schemas/PublicOutputConfigurationEgg"
          }
        },
        "example" : null
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventFrequencyBetween" : {
        "title" : "BETWEEN",
        "required" : [ "ranges", "type" ],
        "type" : "object",
        "properties" : {
          "ranges" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicFrequencyRange"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "BETWEEN",
            "enum" : [ "BETWEEN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventTimeframe" : {
        "required" : [ "eventFilterOperation" ],
        "type" : "object",
        "properties" : {
          "eventFilterOperation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          }
        },
        "example" : null
      },
      "PublicFilterConfiguration" : {
        "required" : [ "listFilterType", "segmentIds" ],
        "type" : "object",
        "properties" : {
          "listFilterType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EXCLUDES", "INCLUDES" ]
          },
          "segmentIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicFiscalQuarterReference" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFiscalYearReference" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFrequencyRange" : {
        "required" : [ "from", "type", "value" ],
        "type" : "object",
        "properties" : {
          "from" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "to" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AT_LEAST", "BETWEEN", "EXACTLY" ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicGroupDecayConfiguration" : {
        "required" : [ "decayIntervalDays", "percentToDecayPerInterval" ],
        "type" : "object",
        "properties" : {
          "decayIntervalDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "percentToDecayPerInterval" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatchCalculator" : {
        "title" : "MATCH",
        "required" : [ "matchRules", "property", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "number",
            "example" : null
          },
          "matchRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicMatchRule"
            }
          },
          "property" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MATCH",
            "enum" : [ "MATCH" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatchRule" : {
        "required" : [ "operation", "value" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMatrixOutputOverride" : {
        "title" : "MATRIX",
        "required" : [ "boundaries", "id", "outputType" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicMatrixTierBoundary"
              }
            },
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "internalPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "MATRIX",
            "enum" : [ "MATRIX" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatrixOutputProperty" : {
        "title" : "MATRIX",
        "required" : [ "boundaries", "categories", "id", "outputType", "propertyLabel", "propertyName" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicMatrixTierBoundary"
              }
            },
            "example" : null
          },
          "categories" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "MATRIX",
            "enum" : [ "MATRIX" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMatrixTierBoundary" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiStringPropertyOperation" : {
        "title" : "MULTISTRING",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "MULTISTRING",
            "enum" : [ "MULTISTRING" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiUnifiedEventCalculatorEntry" : {
        "required" : [ "eventTypeId", "recordCalculation" ],
        "type" : "object",
        "properties" : {
          "eventFrequencyCriteria" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicEventFrequencyBetween"
            } ]
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/PublicEventTimeframe"
          },
          "eventTypeId" : {
            "type" : "string",
            "example" : null
          },
          "recordCalculation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicConstantValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMatchCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
            } ]
          }
        },
        "example" : null
      },
      "PublicMultiUnifiedEventRollupCalculator" : {
        "title" : "MULTI_UE",
        "required" : [ "eventCalculators", "type" ],
        "type" : "object",
        "properties" : {
          "eventCalculators" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicMultiUnifiedEventCalculatorEntry"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MULTI_UE",
            "enum" : [ "MULTI_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiValueCalculator" : {
        "title" : "MULTI",
        "required" : [ "calculators", "type" ],
        "type" : "object",
        "properties" : {
          "calculators" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConstantValueCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicMatchCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicMultiValueCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalCalculator"
              }, {
                "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
              } ]
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MULTI",
            "enum" : [ "MULTI" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNowReference" : {
        "title" : "NOW",
        "required" : [ "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "NOW",
            "enum" : [ "NOW" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicOutputConfiguration" : {
        "required" : [ "outputs" ],
        "type" : "object",
        "properties" : {
          "outputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicScoreOutputProperty"
              }, {
                "$ref" : "#/components/schemas/PublicThresholdOutputProperty"
              }, {
                "$ref" : "#/components/schemas/PublicMatrixOutputProperty"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicOutputConfigurationEgg" : {
        "required" : [ "outputs" ],
        "type" : "object",
        "properties" : {
          "outputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicScoreOutputOverride"
              }, {
                "$ref" : "#/components/schemas/PublicThresholdOutputOverride"
              }, {
                "$ref" : "#/components/schemas/PublicMatrixOutputOverride"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicPropertyFilter" : {
        "title" : "PROPERTY",
        "required" : [ "filterType", "operation", "property" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY",
            "enum" : [ "PROPERTY" ]
          },
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicPropertyReferencedTime" : {
        "title" : "PROPERTY_REFERENCED",
        "required" : [ "property", "referenceType", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "property" : {
            "type" : "string",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "example" : null,
            "default" : "PROPERTY_REFERENCED",
            "enum" : [ "PROPERTY_REFERENCED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "example" : null,
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null
          },
          "lowerBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "upperBoundEndpointBehavior" : {
            "type" : "string",
            "example" : null
          },
          "upperBoundTimePoint" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRenderedComponent" : {
        "required" : [ "componentType", "fields", "tokenName" ],
        "type" : "object",
        "properties" : {
          "componentType" : {
            "type" : "string",
            "example" : null
          },
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { },
              "example" : null
            },
            "example" : null
          },
          "tokenName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicRenderedEvent" : {
        "required" : [ "heading", "renderedComponents", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultTemplate" : {
            "type" : "string",
            "description" : "A string representing the default template used for rendering the event.",
            "example" : null
          },
          "eventTypeId" : {
            "type" : "string",
            "description" : "A string identifier for the type of event that has been rendered.",
            "example" : null
          },
          "heading" : {
            "type" : "string",
            "description" : "A string representing the heading or title of the rendered event.",
            "example" : null
          },
          "renderedComponents" : {
            "type" : "array",
            "description" : "An array of RenderedComponent objects, each representing a component that is part of the rendered event.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRenderedComponent"
            }
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the time when the event was rendered, in Unix timestamp format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicResolvedPropertyChange" : {
        "type" : "object",
        "properties" : {
          "pastValue" : {
            "type" : "string",
            "example" : null
          },
          "presentValue" : {
            "type" : "string",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRollingPropertyUpdatedOperation" : {
        "title" : "ROLLING_PROPERTY_UPDATED",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "ROLLING_PROPERTY_UPDATED",
            "enum" : [ "ROLLING_PROPERTY_UPDATED" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRuleConfiguration" : {
        "required" : [ "calculation" ],
        "type" : "object",
        "properties" : {
          "calculation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicConstantValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMatchCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicMultiUnifiedEventRollupCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationObjectRollupCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationUnifiedEventRollupCalculator"
            }, {
              "$ref" : "#/components/schemas/PublicSegmentMembershipCalculator"
            } ]
          }
        },
        "example" : null
      },
      "PublicScoreCloneRequest" : {
        "required" : [ "scoreName" ],
        "type" : "object",
        "properties" : {
          "scoreName" : {
            "type" : "string",
            "description" : "The name of the score configuration to be cloned. It is a string that identifies the new score configuration.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreConfiguration" : {
        "required" : [ "allowedGroupTypes", "groupConfigs", "id", "name", "objectTypeId", "scoreStatus", "scoreType" ],
        "type" : "object",
        "properties" : {
          "allowedGroupTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "filterConfiguration" : {
            "$ref" : "#/components/schemas/PublicFilterConfiguration"
          },
          "groupConfigs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreGroupConfiguration"
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "maxScore" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "maxScorePerCategory" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "outputConfiguration" : {
            "$ref" : "#/components/schemas/PublicOutputConfiguration"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "scoreStatus" : {
            "type" : "string",
            "example" : null
          },
          "scoreType" : {
            "type" : "string",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreFragment" : {
        "required" : [ "id", "lastConfigurationChangeTimestamp", "name", "scoreType", "scoredObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this score fragment, represented as a string.",
            "example" : null
          },
          "lastConfigurationChangeTimestamp" : {
            "type" : "string",
            "description" : "The timestamp of the last configuration change, in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the score configuration, represented as a string.",
            "example" : null
          },
          "scoreType" : {
            "type" : "string",
            "description" : "The type of score, represented as a string.",
            "example" : null
          },
          "scoredObjectTypeId" : {
            "type" : "string",
            "description" : "The object type ID that this score is associated with, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreGroupConfiguration" : {
        "required" : [ "groupCategory", "groupName", "id", "ruleConfigurations" ],
        "type" : "object",
        "properties" : {
          "groupCategory" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIT", "INTENT" ]
          },
          "groupDecay" : {
            "$ref" : "#/components/schemas/PublicGroupDecayConfiguration"
          },
          "groupName" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "maxValue" : {
            "type" : "number",
            "example" : null
          },
          "minValue" : {
            "type" : "number",
            "example" : null
          },
          "ruleConfigurations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreRuleConfiguration"
            }
          }
        },
        "example" : null
      },
      "PublicScoreGroupConfigurationEgg" : {
        "required" : [ "groupCategory", "groupName", "ruleConfigurations" ],
        "type" : "object",
        "properties" : {
          "groupCategory" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIT", "INTENT" ]
          },
          "groupDecay" : {
            "$ref" : "#/components/schemas/PublicGroupDecayConfiguration"
          },
          "groupName" : {
            "type" : "string",
            "example" : null
          },
          "maxValue" : {
            "type" : "number",
            "example" : null
          },
          "minValue" : {
            "type" : "number",
            "example" : null
          },
          "ruleConfigurations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreRuleConfigurationEgg"
            }
          }
        },
        "example" : null
      },
      "PublicScoreHistoryEntry" : {
        "required" : [ "renderedEvents", "resolvedListIds", "resolvedProperties", "timestamp" ],
        "type" : "object",
        "properties" : {
          "delta" : {
            "type" : "number",
            "description" : "The change in score value, represented as a number.",
            "example" : null
          },
          "propertyValue" : {
            "type" : "string",
            "description" : "The current value of the property being scored.",
            "example" : null
          },
          "renderedEvents" : {
            "type" : "array",
            "description" : "An array of events that were rendered, which contributed to the score change.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRenderedEvent"
            }
          },
          "resolvedListIds" : {
            "type" : "array",
            "description" : "An array of list IDs that are resolved in the context of the score change.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "resolvedProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicResolvedPropertyChange"
            },
            "description" : "A map of property names to their changes, detailing past and present values.",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The date and time when the score change occurred, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreOutputOverride" : {
        "title" : "SCORE",
        "required" : [ "id", "outputType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : null
          },
          "internalPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "SCORE",
            "enum" : [ "SCORE" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicScoreOutputProperty" : {
        "title" : "SCORE",
        "required" : [ "categories", "id", "outputType", "propertyLabel", "propertyName" ],
        "type" : "object",
        "properties" : {
          "categories" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "SCORE",
            "enum" : [ "SCORE" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicScoreRuleConfiguration" : {
        "required" : [ "configuration", "enabled", "id" ],
        "type" : "object",
        "properties" : {
          "configuration" : {
            "$ref" : "#/components/schemas/PublicRuleConfiguration"
          },
          "enabled" : {
            "type" : "boolean",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "maxValue" : {
            "type" : "number",
            "example" : null
          },
          "minValue" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicScoreRuleConfigurationEgg" : {
        "required" : [ "configuration", "enabled" ],
        "type" : "object",
        "properties" : {
          "configuration" : {
            "$ref" : "#/components/schemas/PublicRuleConfiguration"
          },
          "enabled" : {
            "type" : "boolean",
            "example" : null
          },
          "maxValue" : {
            "type" : "number",
            "example" : null
          },
          "minValue" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSegmentMembershipCalculator" : {
        "title" : "SEGMENT_MEMBERSHIP",
        "required" : [ "segmentMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "segmentMembershipRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSegmentMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SEGMENT_MEMBERSHIP",
            "enum" : [ "SEGMENT_MEMBERSHIP" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicSegmentMembershipRule" : {
        "required" : [ "operation", "segmentIds", "value" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HAS_ALL_SEGMENT_MEMBERSHIP", "HAS_AT_LEAST_ONE_SEGMENT_MEMBERSHIP", "HAS_NO_SEGMENT_MEMBERSHIP" ]
          },
          "segmentIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSingleCondition" : {
        "title" : "SINGLE",
        "required" : [ "operation", "property", "type" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SINGLE",
            "enum" : [ "SINGLE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicStringPropertyOperation" : {
        "title" : "STRING",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "STRING",
            "enum" : [ "STRING" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicThresholdOutputOverride" : {
        "title" : "THRESHOLD",
        "required" : [ "boundaries", "id", "outputType" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicThresholdTierBoundary"
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "internalPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "THRESHOLD",
            "enum" : [ "THRESHOLD" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicThresholdOutputProperty" : {
        "title" : "THRESHOLD",
        "required" : [ "boundaries", "categories", "id", "outputType", "propertyLabel", "propertyName" ],
        "type" : "object",
        "properties" : {
          "boundaries" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicThresholdTierBoundary"
            }
          },
          "categories" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "FIT", "INTENT" ]
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "outputType" : {
            "type" : "string",
            "example" : null,
            "default" : "THRESHOLD",
            "enum" : [ "THRESHOLD" ]
          },
          "propertyDescription" : {
            "type" : "string",
            "example" : null
          },
          "propertyGroup" : {
            "type" : "string",
            "example" : null
          },
          "propertyLabel" : {
            "type" : "string",
            "example" : null
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicThresholdTierBoundary" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BLUE", "GRAY", "GREEN", "MAGENTA", "ORANGE", "PURPLE", "RED", "YELLOW" ]
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "newLabel" : {
            "type" : "string",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "operator" : {
            "type" : "string",
            "example" : null
          },
          "propertyParser" : {
            "type" : "string",
            "example" : null
          },
          "timePoint" : {
            "example" : null,
[...]
