{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Lead Scoring",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/lead-scoring/2026-09-beta/score-values/object-history" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve history",
        "description" : "Retrieve the history of score values for a specific object type and ID in the lead scoring system. This endpoint is useful for tracking changes in score values over time and understanding how different factors have influenced the scores. The results can be filtered and paginated using the provided query parameters.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/score-values/object-history",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A paging cursor token to retrieve the next set of results. Use the value from the previous response's paging.next.after field.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        }, {
          "name" : "objectId",
          "in" : "query",
          "description" : "The unique identifier for the specific object whose score history is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "query",
          "description" : "The unique identifier for the type of object whose score history is being retrieved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "outputProperty",
          "in" : "query",
          "description" : "The property to which the output score values are written.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreHistoryEntryForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "oauth" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List scores",
        "description" : "Retrieve a list of lead scores from the HubSpot account. This endpoint allows you to view scores for various leads, which can be useful for analyzing lead quality and prioritizing follow-up actions. The results can be paginated using the provided query parameters.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 10.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicScoreFragmentForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Score",
        "description" : "Create a new lead scoring configuration in your HubSpot account. This endpoint allows you to define scoring criteria for leads, which can help in prioritizing and managing leads effectively. The request body must include the necessary configuration details for the scoring setup.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve score",
        "description" : "Retrieve the configuration details of a specific lead scoring model in your HubSpot account using its unique score ID. This endpoint is useful for accessing the setup and parameters of a particular scoring model to understand how leads are being evaluated.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific lead scoring configuration in your HubSpot account using its unique identifier. This operation is useful for removing outdated or unnecessary scoring configurations to maintain a clean and efficient scoring system.",
        "operationId" : "delete-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring configuration to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Clone score",
        "description" : "Clone an existing lead scoring configuration in your HubSpot account. This operation allows you to duplicate a score configuration identified by the scoreId path parameter, which can then be modified or used as a template for new scoring rules.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/clone",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to clone.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicScoreCloneRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Deactivate score",
        "description" : "Deactivate a specific lead scoring configuration in your HubSpot account. This endpoint is useful when you want to temporarily disable a scoring configuration without deleting it. The operation returns the updated score configuration.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/deactivate",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to deactivate.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft" : {
      "get" : {
        "tags" : [ "Advanced" ],
        "summary" : "Retrieve draft",
        "description" : "Retrieve the draft configuration of a specific lead scoring model using its score ID. This endpoint is useful for accessing the draft version of a score configuration before it is published or finalized.",
        "operationId" : "get-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-view" ]
        } ]
      },
      "put" : {
        "tags" : [ "Advanced" ],
        "summary" : "Update draft",
        "description" : "Update the draft configuration of a lead scoring model identified by the scoreId. This operation allows you to modify the draft settings of an existing lead scoring model, which can be useful for testing or adjusting scoring criteria before publishing.",
        "operationId" : "put-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model whose draft configuration is to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicDraftUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Publish draft score",
        "description" : "Publish a draft version of a lead scoring configuration identified by the scoreId. This action makes the draft configuration active. Optionally, you can choose to backfill the score data.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/publish",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the score configuration to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicScoreConfig"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    },
    "/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Reset Draft",
        "description" : "Reset the draft configuration of a lead scoring model identified by the scoreId. This operation is useful for reverting any changes made to the draft configuration, effectively restoring it to its initial state. This endpoint does not return any content upon successful execution.",
        "operationId" : "post-/marketing/lead-scoring/2026-09-beta/scores/{scoreId}/draft/reset",
        "parameters" : [ {
          "name" : "scoreId",
          "in" : "path",
          "description" : "The unique identifier of the lead scoring model whose draft configuration is to be reset.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "mh-lead-scoring-edit" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteComparativeTimestampRefineBy" : {
        "title" : "AbsoluteComparativeTimestampRefineBy",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string specifying the type of comparison to be performed. Valid values are 'BEFORE' and 'AFTER'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the specific timestamp to be used for comparison, formatted as an int64.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refinement, which is 'AbsoluteComparativeTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteComparativeTimestampRefineBy",
            "enum" : [ "AbsoluteComparativeTimestampRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AbsoluteRangedTimestampRefineBy" : {
        "title" : "AbsoluteRangedTimestampRefineBy",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string that specifies the type of range operation, with valid values including 'BETWEEN' and 'NOT_BETWEEN'.",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string that indicates the type of refinement, with a default value of 'AbsoluteRangedTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteRangedTimestampRefineBy",
            "enum" : [ "AbsoluteRangedTimestampRefineBy" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllHistoryRefineBy" : {
        "title" : "AllHistoryRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refinement, which is set to 'AllHistoryRefineBy'.",
            "example" : null,
            "default" : "AllHistoryRefineBy",
            "enum" : [ "AllHistoryRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllPropertyTypesOperation" : {
        "title" : "alltypes",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object that specifies the refinement criteria for coalescing, which can be one of several types such as NumOccurrencesRefineBy or SetOccurrencesRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used in the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IS_KNOWN', 'IS_UNKNOWN', 'IS_BLANK', and 'IS_NOT_BLANK'.",
            "example" : null,
            "enum" : [ "IS_BLANK", "IS_KNOWN", "IS_NOT_BLANK", "IS_UNKNOWN" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, defaulting to 'alltypes'.",
            "example" : null,
            "default" : "alltypes",
            "enum" : [ "alltypes" ]
          },
          "pruningRefineBy" : {
            "description" : "An object that specifies the refinement criteria for pruning, which can be one of several types such as RelativeComparativeTimestampRefineBy or AbsoluteRangedTimestampRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies the rendering specification for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationFilter" : {
        "required" : [ "propertyFilters", "type" ],
        "type" : "object",
        "properties" : {
          "propertyFilters" : {
            "type" : "array",
            "description" : "An array of PropertyFilter objects that define the specific conditions or operations to apply to properties when filtering associations.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the filter, used to categorize or identify the filter within the system.",
            "example" : null
          }
        },
        "example" : null
      },
      "AssociationObjectRollupCalculator" : {
        "title" : "ASSOCIATIONS",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type ID of the associated object.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of records to consider in the rollup calculation.",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "description" : "An object or one of several possible schemas that defines the calculation to perform on the records, such as ListMembershipCalculator, ConditionalCalculator, MatchCalculator, MultiValueCalculator, ListMembershipEventCalculator, PropertyValueCalculator, or ConstantValueCalculator.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ListMembershipCalculator"
            }, {
              "$ref" : "#/components/schemas/ConditionalCalculator"
            }, {
              "$ref" : "#/components/schemas/MatchCalculator"
            }, {
              "$ref" : "#/components/schemas/MultiValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ListMembershipEventCalculator"
            }, {
              "$ref" : "#/components/schemas/PropertyValueCalculator"
            }, {
              "$ref" : "#/components/schemas/ConstantValueCalculator"
            } ]
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string specifying the type of rollup operation to perform. Valid values include 'COUNT', 'SUM', 'MAX', 'MIN', 'AVG', and 'MEDIAN'.",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, with a default value of 'ASSOCIATIONS'.",
            "example" : null,
            "default" : "ASSOCIATIONS",
            "enum" : [ "ASSOCIATIONS" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string representing the category of the association. This defines the general type or grouping of the association.",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the specific type of association. This ID is used to distinguish between different association types within the same category.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "AssociationUnifiedEventRollupCalculator" : {
        "title" : "ASSOCIATION_UE",
        "required" : [ "associatedObjectTypeId", "associationSpec", "inverseAssociationSpec", "recordCalculation", "rollupType", "type" ],
        "type" : "object",
        "properties" : {
          "associatedObjectTypeId" : {
            "type" : "string",
            "description" : "A string representing the type ID of the object that is associated with the events.",
            "example" : null
          },
          "associationFilters" : {
            "$ref" : "#/components/schemas/AssociationFilter"
          },
          "associationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "inverseAssociationSpec" : {
            "$ref" : "#/components/schemas/AssociationSpec"
          },
          "maxRecords" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of records to consider in the rollup calculation.",
            "format" : "int32",
            "example" : null
          },
          "recordCalculation" : {
            "$ref" : "#/components/schemas/MultiUnifiedEventRollupCalculator"
          },
          "rollupType" : {
            "type" : "string",
            "description" : "A string representing the type of rollup operation to perform, with valid values including 'COUNT', 'SUM', 'MAX', 'MIN', 'AVG', and 'MEDIAN'.",
            "example" : null,
            "enum" : [ "AVG", "COUNT", "MAX", "MEDIAN", "MIN", "SUM" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'ASSOCIATION_UE' for this component.",
            "example" : null,
            "default" : "ASSOCIATION_UE",
            "enum" : [ "ASSOCIATION_UE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BoolPropertyOperation" : {
        "title" : "bool",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operation to be performed, with valid values including 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'HAS_EVER_BEEN_EQUAL_TO', and 'HAS_NEVER_BEEN_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string representing the type of property, defaulting to 'bool'.",
            "example" : null,
            "default" : "bool",
            "enum" : [ "bool" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying how the operation should be rendered.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean value that the property is compared against.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CalendarDatePropertyOperation" : {
        "title" : "calendar-date",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "timeUnit", "timeUnitCount", "useFiscalYear" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no other value is set.",
            "example" : null
          },
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string representing the starting month of the fiscal year. Valid values include 'JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST', 'SEPTEMBER', 'OCTOBER', 'NOVEMBER', and 'DECEMBER'.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean that determines whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed. Valid values include 'IN_THIS_TIME_UNIT', 'IN_THIS_TIME_UNIT_SO_FAR', 'IN_NEXT_TIME_UNIT', 'IN_LAST_TIME_UNIT', and 'IN_LAST_TIME_UNIT_SO_FAR'.",
            "example" : null,
            "enum" : [ "IN_LAST_TIME_UNIT", "IN_LAST_TIME_UNIT_SO_FAR", "IN_NEXT_TIME_UNIT", "IN_THIS_TIME_UNIT", "IN_THIS_TIME_UNIT_SO_FAR" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'calendar-date' for this component.",
            "example" : null,
            "default" : "calendar-date",
            "enum" : [ "calendar-date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string specifying the unit of time to be used in the operation. Valid values are 'DAY', 'WEEK', 'MONTH', 'QUARTER', and 'YEAR'.",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "QUARTER", "WEEK", "YEAR" ]
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer indicating the number of time units to be considered in the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the fiscal year should be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CategoryLimits" : {
        "required" : [ "maxLimit", "minLimit" ],
        "type" : "object",
        "properties" : {
          "maxLimit" : {
            "type" : "number",
            "description" : "The maximum allowable value for the category. It is a number that sets the upper boundary.",
            "example" : null
          },
          "minLimit" : {
            "type" : "number",
            "description" : "The minimum allowable value for the category. It is a number that sets the lower boundary.",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreFragmentForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreFragment objects, each representing a fragment of scoring data.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreFragment"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicScoreHistoryEntryForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicScoreHistoryEntry objects, representing the individual score history entries.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicScoreHistoryEntry"
            }
          }
        },
        "example" : null
      },
      "CombinedThresholdCalculator" : {
        "title" : "COMBINED",
        "required" : [ "offsetByCategory", "thresholds", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for this calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "offsetByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "example" : null
            },
            "description" : "An object mapping category names to their respective offset values, allowing for category-specific adjustments.",
            "example" : null
          },
          "thresholds" : {
            "type" : "array",
            "description" : "An array of CombinedThresholdEntry objects, each defining specific thresholds and outputs for different categories.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CombinedThresholdEntry"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, expected to be 'CombinedThresholdCalculator'.",
            "example" : null,
            "default" : "COMBINED",
            "enum" : [ "COMBINED" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CombinedThresholdDescriptor" : {
        "required" : [ "label", "threshold" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "A string used to label or describe the threshold.",
            "example" : null
          },
          "threshold" : {
            "type" : "number",
            "description" : "A numerical value representing the threshold. It is of type number.",
            "example" : null
          }
        },
        "example" : null
      },
      "CombinedThresholdEntry" : {
        "required" : [ "output", "thresholdByCategory" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for this entry, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "output" : {
            "type" : "string",
            "description" : "A string representing the output associated with this threshold entry.",
            "example" : null
          },
          "tagColor" : {
            "type" : "string",
            "description" : "A string specifying the color tag associated with this entry, typically used for visual representation.",
            "example" : null
          },
          "thresholdByCategory" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CombinedThresholdDescriptor"
            },
            "description" : "An object mapping category names to their respective threshold descriptors, which define the threshold values for each category.",
            "example" : null
          }
        },
        "example" : null
      },
      "ComparativeBoolPropertyOperation" : {
        "title" : "bool-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be compared.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'HAS_EVER_BEEN_EQUAL_TO', and 'HAS_NEVER_BEEN_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'bool' for boolean operations.",
            "example" : null,
            "default" : "bool-comparative",
            "enum" : [ "bool-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies the rendering specification for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeDatePropertyOperation" : {
        "title" : "datetime-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be compared against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to compare against if the comparison property is not set.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value used in the operation if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid values include 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, with a default value of 'datetime-comparative'.",
            "example" : null,
            "default" : "datetime-comparative",
            "enum" : [ "datetime-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered or displayed.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeNumberPropertyOperation" : {
        "title" : "number-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator, with valid values including 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'IS_GREATER_THAN', 'IS_GREATER_THAN_OR_EQUAL_TO', 'IS_LESS_THAN', and 'IS_LESS_THAN_OR_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string providing a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, defaulting to 'number-comparative'.",
            "example" : null,
            "default" : "number-comparative",
            "enum" : [ "number-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that provides rendering specifications.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativePropertyUpdatedOperation" : {
        "title" : "property-updated-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value for comparison.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operation to be performed. Valid values include 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'datetime-comparative'.",
            "example" : null,
            "default" : "property-updated-comparative",
            "enum" : [ "property-updated-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string used for rendering specifications.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeStringPropertyOperation" : {
        "title" : "string-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "The name of the property to compare against, represented as a string.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the comparison operator to use. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'CONTAINS', 'DOES_NOT_CONTAIN', 'STARTS_WITH', and 'ENDS_WITH'.",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the comparison.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, defaulting to 'string-comparative'.",
            "example" : null,
            "default" : "string-comparative",
            "enum" : [ "string-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string providing rendering specifications for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CompositeCondition" : {
        "title" : "COMPOSITE",
        "required" : [ "conditions", "operator", "type" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "array",
            "description" : "An array of conditions that are part of this composite condition. Each condition is evaluated as part of the composite logic.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/SingleCondition"
              }, {
                "$ref" : "#/components/schemas/CompositeCondition"
              } ]
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the composite condition, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the logical operator used to combine the conditions, such as 'AND' or 'OR'.",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of condition, expected to be 'COMPOSITE'.",
            "example" : null,
            "default" : "COMPOSITE",
            "enum" : [ "COMPOSITE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConditionalCalculator" : {
        "title" : "CONDITIONAL",
        "required" : [ "type", "value", "whereCondition" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the ConditionalCalculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'CONDITIONAL' for this component.",
            "example" : null,
            "default" : "CONDITIONAL",
            "enum" : [ "CONDITIONAL" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numeric value representing the result of the calculation when the conditions are met.",
            "example" : null
          },
          "whereCondition" : {
            "$ref" : "#/components/schemas/CompositeCondition"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ConstantValueCalculator" : {
        "title" : "CONSTANT",
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'CONSTANT'.",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A number representing the constant value assigned by this calculator.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "timezoneSource", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, with the default value being 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone, which can be 'CUSTOM', 'USER', or 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePropertyOperation" : {
        "title" : "date",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "operatorName", "propertyType", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to be used if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "An integer representing the month component of the date.",
            "example" : null,
            "enum" : [ "APR", "AUG", "DEC", "FEB", "JAN", "JUL", "JUN", "MAR", "MAY", "NOV", "OCT", "SEP" ]
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the operation to be performed, such as 'IS_BEFORE' or 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE", "EQUAL" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string representing the type of the property, with a default value of 'date'.",
            "example" : null,
            "default" : "date",
            "enum" : [ "date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DateTimePropertyOperation" : {
        "title" : "datetime",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string that specifies the default value to use if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IS_BEFORE', 'IS_AFTER', 'IS_EQUAL_TO', 'IS_BEFORE_DATE', and 'IS_AFTER_DATE'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_AFTER_DATE", "IS_BEFORE", "IS_BEFORE_DATE", "IS_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, defaulting to 'datetime'.",
            "example" : null,
            "default" : "datetime",
            "enum" : [ "datetime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that provides rendering specifications for the operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the operation requires conversion based on time zone.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing a Unix timestamp in milliseconds used for comparison.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EmptyFrequencyCriteria" : {
        "title" : "EMPTY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that indicates the type of frequency criteria. The default value is 'EMPTY', and it is the only valid value for this property.",
            "example" : null,
            "default" : "EMPTY",
            "enum" : [ "EMPTY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EnumerationPropertyOperation" : {
        "title" : "enumeration",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to perform on the enumeration property. Valid values include 'IS_ANY_OF', 'IS_NONE_OF', 'IS_EXACTLY', 'IS_NOT_EXACTLY', 'CONTAINS_ALL', 'DOES_NOT_CONTAIN_ALL', 'HAS_EVER_BEEN_ANY_OF', 'HAS_NEVER_BEEN_ANY_OF', 'HAS_EVER_BEEN_EXACTLY', 'HAS_NEVER_BEEN_EXACTLY', 'HAS_EVER_CONTAINED_ALL', and 'HAS_NEVER_CONTAINED_ALL'.",
            "example" : null,
            "enum" : [ "CONTAINS_ALL", "DOES_NOT_CONTAIN_ALL", "HAS_EVER_BEEN_ANY_OF", "HAS_EVER_BEEN_EXACTLY", "HAS_EVER_CONTAINED_ALL", "HAS_NEVER_BEEN_ANY_OF", "HAS_NEVER_BEEN_EXACTLY", "HAS_NEVER_CONTAINED_ALL", "IS_ANY_OF", "IS_EXACTLY", "IS_NONE_OF", "IS_NOT_EXACTLY" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, which is 'enumeration' for this operation.",
            "example" : null,
            "default" : "enumeration",
            "enum" : [ "enumeration" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that provides rendering specifications for the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings specifying the enumeration values to be used in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The general category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for tracking the error across different systems.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects, each providing specific information about individual errors that occurred.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing URLs or references to additional resources or documentation related to the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A more specific category providing additional detail about the error.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties that provide further details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "EventFrequencyBetween" : {
        "title" : "BETWEEN",
        "required" : [ "ranges", "type" ],
        "type" : "object",
        "properties" : {
          "ranges" : {
            "type" : "array",
            "description" : "An array of objects defining the specific frequency ranges. Each range specifies the minimum and maximum occurrences of an event within the timeframe.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FrequencyRange"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of frequency criteria. It is required and must be specified.",
            "example" : null,
            "default" : "BETWEEN",
            "enum" : [ "BETWEEN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EventTimeframe" : {
        "required" : [ "eventFilterOperation" ],
        "type" : "object",
        "properties" : {
          "eventFilterOperation" : {
            "description" : "Defines the operation used to filter events within the timeframe. This can be one of several types of property operations, such as BoolPropertyOperation, NumberPropertyOperation, StringPropertyOperation, and others, each specifying different criteria for event filtering.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          }
        },
        "example" : null
      },
      "FilterConfiguration" : {
        "required" : [ "listFilterType", "listIds" ],
        "type" : "object",
        "properties" : {
          "listFilterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter to apply to the lists specified in listIds.",
            "example" : null,
            "enum" : [ "EXCLUDES", "INCLUDES" ]
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of lists to which the filter configuration applies.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "FiscalQuarter" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day within the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month within the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_QUARTER' for this component.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "FiscalYear" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month that marks the start of the fiscal year, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month of the fiscal year, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_YEAR' for this component.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute, with no specific constraints or default value provided.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "FrequencyRange" : {
        "required" : [ "from", "type", "value" ],
        "type" : "object",
        "properties" : {
          "from" : {
            "type" : "integer",
            "description" : "The starting point of the frequency range, represented as a number.",
            "format" : "int32",
            "example" : null
          },
          "to" : {
            "type" : "integer",
            "description" : "The ending point of the frequency range, represented as a number.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of frequency range, represented as a string.",
            "example" : null,
            "enum" : [ "AT_LEAST", "BETWEEN", "EXACTLY" ]
          },
          "value" : {
            "type" : "number",
            "description" : "The specific value associated with the frequency range, represented as a number.",
            "example" : null
          }
        },
        "example" : null
      },
      "GroupsAndCalculator" : {
        "required" : [ "calculator", "groupCategories" ],
        "type" : "object",
        "properties" : {
          "calculator" : {
            "description" : "An object that specifies the calculation logic. It can be one of several types, including ThresholdBasedCalculator, PassthroughCalculator, or CombinedThresholdCalculator.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ThresholdBasedCalculator"
            }, {
              "$ref" : "#/components/schemas/PassthroughCalculator"
            }, {
              "$ref" : "#/components/schemas/CombinedThresholdCalculator"
            } ]
          },
          "groupCategories" : {
            "type" : "array",
            "description" : "An array of strings representing the categories of groups involved in the calculation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the GroupsAndCalculator object, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days to offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours to offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes to offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months to offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters to offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks to offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years to offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "Defines the reference point for the indexed time, which can be one of several predefined references such as 'NOW', 'TODAY', 'WEEK', etc.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NowReference"
            }, {
              "$ref" : "#/components/schemas/TodayReference"
            }, {
              "$ref" : "#/components/schemas/WeekReference"
            }, {
              "$ref" : "#/components/schemas/MonthReference"
            }, {
              "$ref" : "#/components/schemas/QuarterReference"
            }, {
              "$ref" : "#/components/schemas/FiscalQuarter"
            }, {
              "$ref" : "#/components/schemas/YearReference"
            }, {
              "$ref" : "#/components/schemas/FiscalYear"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/IndexOffset"
          },
          "shouldGenerateRefreshTime" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether a refresh time should be generated.",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, with a default value of 'INDEXED'.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone, which can be 'CUSTOM', 'USER', or 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the ID of the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipCalculator" : {
        "title" : "LIST_MEMBERSHIP",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "description" : "An array of rules that define the criteria for list membership. Each rule is represented by a ListMembershipRule object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of calculator, which is 'LIST_MEMBERSHIP_EVENT'.",
            "example" : null,
            "default" : "LIST_MEMBERSHIP",
            "enum" : [ "LIST_MEMBERSHIP" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipEventCalculator" : {
        "title" : "LIST_MEMBERSHIP_EVENT",
        "required" : [ "listMembershipRules", "type" ],
        "type" : "object",
        "properties" : {
          "decay" : {
            "$ref" : "#/components/schemas/UnifiedEventDecay"
          },
          "eventTimeframe" : {
            "$ref" : "#/components/schemas/EventTimeframe"
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the calculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listMembershipRules" : {
            "type" : "array",
            "description" : "An array of rules that define the conditions for list membership.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListMembershipRule"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of calculator, which is 'LIST_MEMBERSHIP_EVENT'.",
            "example" : null,
            "default" : "LIST_MEMBERSHIP_EVENT",
            "enum" : [ "LIST_MEMBERSHIP_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListMembershipRule" : {
        "required" : [ "listIds", "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the list membership rule, represented as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of lists that are evaluated by this rule.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "operation" : {
            "type" : "string",
            "description" : "Specifies the operation or condition that must be met for the rule to apply. This is defined by a specific operation type.",
            "example" : null,
            "enum" : [ "HAS_ALL_LIST_MEMBERSHIP", "HAS_AT_LEAST_ONE_LIST_MEMBERSHIP", "HAS_NO_LIST_MEMBERSHIP" ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numerical value that is used in conjunction with the operation to determine if the rule is satisfied.",
            "example" : null
          }
        },
        "example" : null
      },
      "MatchCalculator" : {
        "title" : "MATCH",
        "required" : [ "matchRules", "property", "type" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "number",
            "description" : "A string representing the default value to be used if no match is found.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the MatchCalculator, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "matchRules" : {
            "type" : "array",
            "description" : "An array of match rules that define the conditions for the calculation. Each rule specifies an operation and a value.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/MatchRule"
            }
          },
          "property" : {
            "type" : "string",
            "description" : "A string indicating the property that the match rules will evaluate.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of calculator, with the default value 'MATCH'.",
            "example" : null,
            "default" : "MATCH",
            "enum" : [ "MATCH" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MatchRule" : {
        "required" : [ "operation", "value" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the match rule, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "operation" : {
            "description" : "The operation to be performed, which can be one of several types such as BoolPropertyOperation, NumberPropertyOperation, StringPropertyOperation, and others.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/BoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/StringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativeStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/ComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/RollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/RollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/EnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/AllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/RangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/MultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/DatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/CalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/RegexPropertyOperation"
            } ]
          },
          "value" : {
            "type" : "number",
            "description" : "A numerical value associated with the match rule, used in conjunction with the operation to determine if the rule is satisfied.",
            "example" : null
          }
        },
        "example" : null
      },
      "MonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, with a default value of 'MONTH'.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiStringPropertyOperation" : {
        "title" : "multistring",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object that defines additional refinement criteria for coalescing, using one of several possible schemas.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string that specifies the default value to be used if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, such as 'IS_EQUAL_TO', 'CONTAINS', or 'STARTS_WITH'.",
            "example" : null,
            "enum" : [ "CONTAINS", "CONTAINS_EXACTLY", "DOES_NOT_CONTAIN", "DOES_NOT_CONTAIN_EXACTLY", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
[...]
