{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CMS Media Bridge",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v1",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Media Bridge Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/cms/media-bridge"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/media-bridge/v1/events/attention-span" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create an attention span event",
        "description" : "Create an event containing the viewers attention span details for the media.",
        "operationId" : "post-/media-bridge/v1/events/attention-span",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttentionSpanEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttentionSpanEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/events/media-played" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create a played event",
        "description" : "Create an event for when a user begins playing a piece of media.",
        "operationId" : "post-/media-bridge/v1/events/media-played",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/events/media-played-percent" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create a quartile event",
        "description" : "Create an event representing a user reaching quarterly milestones in a piece of media they're viewing.",
        "operationId" : "post-/media-bridge/v1/events/media-played-percent",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedPercentageEventRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedPercentageEvent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get the properties for an object type.",
        "description" : "Get the existing properties defined for a media object type.",
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a new property",
        "description" : "Create a new property for the specified media type",
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/archive" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Archive multiple properties",
        "description" : "Archive a batch of existing properties for the specified types.",
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/create" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create multiple properties",
        "description" : "Create a batch of properties of the specified object type.",
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Get the details for multiple properties",
        "description" : "Get the details for a batch of properties for a specified object type.",
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/read",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/groups" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get property groups",
        "description" : "Get the property groups for a specified object type.",
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyGroupNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a new property group",
        "description" : "Create a new property group for the specified object type.",
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get a specific property group",
        "description" : "Get the details of an existing property group by name.",
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a property group",
        "description" : "Delete an existing property group by name",
        "operationId" : "delete-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a property group",
        "description" : "Update an existing property group by name.",
        "operationId" : "patch-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get the details for a property",
        "description" : "Get the details for an existing property by name.",
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a property",
        "description" : "Delete an existing property for an object type.",
        "operationId" : "delete-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a property",
        "description" : "Update an existing property for an object type.",
        "operationId" : "patch-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgePropertyUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get all schemas ",
        "description" : "Get the schemas for all object types.",
        "operationId" : "get-/media-bridge/v1/{appId}/schemas",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseObjectSchemaNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get the schema for an object type",
        "description" : "Get the schema for a specified object type.",
        "operationId" : "get-/media-bridge/v1/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectSchema"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update the schema for an object type",
        "description" : "Update the schema for an existing object type",
        "operationId" : "patch-/media-bridge/v1/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ObjectTypeDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}/associations" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create association definition",
        "description" : "Create a new association definition for the specified object type.",
        "operationId" : "post-/media-bridge/v1/{appId}/schemas/{objectType}/associations",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssociationDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociationDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}/associations/{associationId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete an association definition",
        "description" : "Delete an existing association definition for an object type.",
        "operationId" : "delete-/media-bridge/v1/{appId}/schemas/{objectType}/associations/{associationId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "associationId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update the media bridge app name",
        "description" : "Update the name that your app will display when a user is selecting media bridge items.",
        "operationId" : "put-/media-bridge/v1/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/event-visibility" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "View event visibility settings",
        "description" : "Get the visibility settings for media bridge events for your apps.",
        "operationId" : "get-/media-bridge/v1/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Create or update event visibility settings",
        "description" : "Set the visibility settings for media bridge events created by your app.",
        "operationId" : "patch-/media-bridge/v1/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventVisibilityChange"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityChange"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/object-definitions" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create a new object type",
        "description" : "Create a new media object type",
        "operationId" : "post-/media-bridge/v1/{appId}/settings/object-definitions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorObjectCreationRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkIntegratorObjectCreationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/object-definitions/{mediaType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get object types for a supported media",
        "description" : "Get the existing objects types that belong to the specified media type.",
        "operationId" : "get-/media-bridge/v1/{appId}/settings/object-definitions/{mediaType}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "mediaType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AUDIO", "DOCUMENT", "IMAGE", "OTHER", "VIDEO" ]
          }
        }, {
          "name" : "includeFullDefinition",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectDefinitionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/oembed-domains" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get oEmbed domains",
        "description" : "Get the details for existing oEmbed domains for your app",
        "operationId" : "get-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "domainPortalId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OEmbedDomainsCollectionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Set up a new oEmbed domain",
        "description" : "Set up a new oEmbed domain for your media bridge app.",
        "operationId" : "post-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete an oEmbed domain",
        "description" : "Delete an existing oEmbed domain.",
        "operationId" : "delete-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "domainPortalId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : -1
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get an oEmbed domain",
        "description" : "Get the details for an existing oEmbed domain.",
        "operationId" : "get-/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update an oEmbed domain",
        "description" : "Update an existing oEmbed domain.",
        "operationId" : "patch-/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/register" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Register the media bridge app name",
        "description" : "Register the name that your app will display when a user is selecting media bridge items.",
        "operationId" : "post-/media-bridge/v1/{appId}/settings/register",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/video-association-definition" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/media-bridge/v1/{appId}/settings/video-association-definition_/media-bridge/v1/{appId}/settings/video-association-definition",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociationDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "developers-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteValue" : {
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "default" : "ABSOLUTE_VALUE",
            "enum" : [ "ABSOLUTE_VALUE" ]
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AddNumbers" : {
        "required" : [ "enclosedInParentheses", "operator" ],
        "type" : "object",
        "properties" : {
          "enclosedInParentheses" : {
            "type" : "boolean",
            "example" : null
          },
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "default" : "ADD_NUMBERS",
            "enum" : [ "ADD_NUMBERS" ]
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AddTime" : {
        "required" : [ "operator", "stringToCheck" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "default" : "ADD_TIME",
            "enum" : [ "ADD_TIME" ]
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          },
          "stringToCheck" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ConstantBoolean"
            }, {
              "$ref" : "#/components/schemas/ConstantNumber"
            }, {
              "$ref" : "#/components/schemas/ConstantString"
            }, {
              "$ref" : "#/components/schemas/BooleanPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/AddNumbers"
            }, {
              "$ref" : "#/components/schemas/SubtractNumbers"
            }, {
              "$ref" : "#/components/schemas/MultiplyNumbers"
            }, {
              "$ref" : "#/components/schemas/DivideNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundDownNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundUpNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundNearestNumbers"
            }, {
              "$ref" : "#/components/schemas/UpperCase"
            }, {
              "$ref" : "#/components/schemas/LowerCase"
            }, {
              "$ref" : "#/components/schemas/ConcatStrings"
            }, {
              "$ref" : "#/components/schemas/Contains"
            }, {
              "$ref" : "#/components/schemas/BeginsWith"
            }, {
              "$ref" : "#/components/schemas/NumberToString"
            }, {
              "$ref" : "#/components/schemas/ParseNumber"
            }, {
              "$ref" : "#/components/schemas/FetchExchangeRate"
            }, {
              "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
            }, {
              "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
            }, {
              "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
            }, {
              "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
            }, {
              "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
            }, {
              "$ref" : "#/components/schemas/DatedExchangeRate"
            }, {
              "$ref" : "#/components/schemas/PipelineProbability"
            }, {
              "$ref" : "#/components/schemas/MaxNumbers"
            }, {
              "$ref" : "#/components/schemas/MinNumbers"
            }, {
              "$ref" : "#/components/schemas/LessThan"
            }, {
              "$ref" : "#/components/schemas/LessThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/MoreThan"
            }, {
              "$ref" : "#/components/schemas/MoreThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/NumberEquals"
            }, {
              "$ref" : "#/components/schemas/StringEquals"
            }, {
              "$ref" : "#/components/schemas/IsPipelineStageClosed"
            }, {
              "$ref" : "#/components/schemas/Not"
            }, {
              "$ref" : "#/components/schemas/Date"
            }, {
              "$ref" : "#/components/schemas/Month"
            }, {
              "$ref" : "#/components/schemas/Year"
            }, {
              "$ref" : "#/components/schemas/Now"
            }, {
              "$ref" : "#/components/schemas/TimeBetween"
            }, {
              "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
            }, {
              "$ref" : "#/components/schemas/PeriodToMonths"
            }, {
              "$ref" : "#/components/schemas/PeriodToWeeks"
            }, {
              "$ref" : "#/components/schemas/And"
            }, {
              "$ref" : "#/components/schemas/Or"
            }, {
              "$ref" : "#/components/schemas/Xor"
            }, {
              "$ref" : "#/components/schemas/IfString"
            }, {
              "$ref" : "#/components/schemas/IfNumber"
            }, {
              "$ref" : "#/components/schemas/IfBoolean"
            }, {
              "$ref" : "#/components/schemas/IsPresent"
            }, {
              "$ref" : "#/components/schemas/IfChainString"
            }, {
              "$ref" : "#/components/schemas/IfChainNumber"
            }, {
              "$ref" : "#/components/schemas/IfChainBoolean"
            }, {
              "$ref" : "#/components/schemas/HasEmailReply"
            }, {
              "$ref" : "#/components/schemas/HasPlainTextEmailReply"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
            }, {
              "$ref" : "#/components/schemas/SetContainsString"
            }, {
              "$ref" : "#/components/schemas/IsEngagementType"
            }, {
              "$ref" : "#/components/schemas/FormatFullName"
            }, {
              "$ref" : "#/components/schemas/FormatPhoneNumber"
            }, {
              "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
            }, {
              "$ref" : "#/components/schemas/AbsoluteValue"
            }, {
              "$ref" : "#/components/schemas/SquareRoot"
            }, {
              "$ref" : "#/components/schemas/Power"
            }, {
              "$ref" : "#/components/schemas/Substring"
            }, {
              "$ref" : "#/components/schemas/Euler"
            }, {
              "$ref" : "#/components/schemas/StringLength"
            }, {
              "$ref" : "#/components/schemas/IsBlank"
            }, {
              "$ref" : "#/components/schemas/AddTime"
            }, {
              "$ref" : "#/components/schemas/SubtractTime"
            }, {
              "$ref" : "#/components/schemas/RegexMatches"
            }, {
              "$ref" : "#/components/schemas/IsValidIsoPeriod"
            }, {
              "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
            }, {
              "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
            }, {
              "$ref" : "#/components/schemas/IsMultipleOf"
            } ]
          },
          "value" : {
            "type" : "number",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "And" : {
        "required" : [ "enclosedInParentheses", "operator" ],
        "type" : "object",
        "properties" : {
          "enclosedInParentheses" : {
            "type" : "boolean",
            "example" : null
          },
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/FetchPortalHomeCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalEnabledCurrency"
              }, {
                "$ref" : "#/components/schemas/IsPortalMulticurrencyEnabled"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/TimeBetweenSkipWeekends"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/IfChainString"
              }, {
                "$ref" : "#/components/schemas/IfChainNumber"
              }, {
                "$ref" : "#/components/schemas/IfChainBoolean"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/FormatPhoneNumber"
              }, {
                "$ref" : "#/components/schemas/FormatSearchablePhoneNumber"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/IsBlank"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              }, {
                "$ref" : "#/components/schemas/RegexMatches"
              }, {
                "$ref" : "#/components/schemas/IsValidIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMonthBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsDayBasedIsoPeriod"
              }, {
                "$ref" : "#/components/schemas/IsMultipleOf"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "example" : null,
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "propertyName" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationDefinition" : {
        "required" : [ "fromObjectTypeId", "id", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the association was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "fromObjectTypeId" : {
            "type" : "string",
            "description" : "The ID of the source object type (e.g., 0-1 for contacts).",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the associated object (e.g., a contact ID).",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "For labeled association types, the internal name of the association.",
            "example" : null
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "The ID of the destination object type (e.g., 0-3 for deals).",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the last update was made to an association, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "description" : "The definition of an association",
        "example" : null
      },
      "AssociationDefinitionEgg" : {
        "required" : [ "fromObjectTypeId", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "fromObjectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "toObjectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "The category of the association, such as \"HUBSPOT_DEFINED\".",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the specific type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "AttentionSpanCalculatedValues" : {
        "required" : [ "totalPercentPlayed", "totalSecondsPlayed" ],
        "type" : "object",
        "properties" : {
          "totalPercentPlayed" : {
            "type" : "number",
            "format" : "double",
            "example" : null
          },
          "totalSecondsPlayed" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "AttentionSpanEvent" : {
        "required" : [ "contactId", "mediaBridgeId", "mediaBridgeObjectCoordinates", "mediaBridgeObjectTypeId", "mediaName", "mediaType", "occurredTimestamp", "percentRange", "portalId", "providerId", "sessionId", "totalPercentPlayed" ],
        "type" : "object",
        "properties" : {
          "contactId" : {
            "type" : "integer",
            "description" : "The ID of the contact in HubSpot’s system that consumed the media. This can be fetched using HubSpot's Get contact by usertoken (utk) API. The API also supports supplying a usertoken, and will handle converting this into a contact ID automatically.",
            "format" : "int64",
            "example" : null
          },
          "externalPlayContext" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL", "EXTERNAL_PAGE" ]
          },
          "mediaBridgeId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "mediaBridgeObjectCoordinates" : {
            "type" : "string",
[...]
