{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CMS Media Bridge",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v1",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-api-use-case" : "Create an app that uses this API to add video objects to HubSpot. The video object can then be tracked over time, including creating CRM timeline events that show when a customer has watched the video.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Media Bridge Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/cms/media-bridge"
    } ],
    "x-hubspot-introduction" : "Use the media bridge API to send media objects and media consumption data into HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Integrator_Settings"
  }, {
    "name" : "Schemas"
  }, {
    "name" : "Properties"
  }, {
    "name" : "Events"
  }, {
    "name" : "Groups"
  } ],
  "paths" : {
    "/media-bridge/v1/{appId}/settings/event-visibility" : {
      "get" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "get-/media-bridge/v1/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "patch-/media-bridge/v1/{appId}/settings/event-visibility",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventVisibilityChange"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventVisibilityChange"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas" : {
      "get" : {
        "tags" : [ "Schemas" ],
        "operationId" : "get-/media-bridge/v1/{appId}/schemas",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseObjectSchemaNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/archive" : {
      "post" : {
        "tags" : [ "Properties" ],
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/archive",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyName"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/events/attention-span" : {
      "post" : {
        "tags" : [ "Events" ],
        "operationId" : "post-/media-bridge/v1/events/attention-span",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttentionSpanEventRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttentionSpanEvent"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        }, {
          "private_apps" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/events/media-played-percent" : {
      "post" : {
        "tags" : [ "Events" ],
        "operationId" : "post-/media-bridge/v1/events/media-played-percent",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedPercentageEventRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedPercentageEvent"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        }, {
          "private_apps" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/register" : {
      "post" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "post-/media-bridge/v1/{appId}/settings/register",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}" : {
      "get" : {
        "tags" : [ "Properties" ],
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Properties" ],
        "operationId" : "delete-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Properties" ],
        "operationId" : "patch-/media-bridge/v1/{appId}/properties/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgePropertyUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}/associations" : {
      "post" : {
        "tags" : [ "Schemas" ],
        "operationId" : "post-/media-bridge/v1/{appId}/schemas/{objectType}/associations",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssociationDefinitionEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociationDefinition"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/object-definitions/{mediaType}" : {
      "get" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "get-/media-bridge/v1/{appId}/settings/object-definitions/{mediaType}",
        "parameters" : [ {
          "name" : "mediaType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "VIDEO", "AUDIO", "DOCUMENT", "OTHER", "IMAGE" ]
          }
        }, {
          "name" : "includeFullDefinition",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectDefinitionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/read" : {
      "post" : {
        "tags" : [ "Properties" ],
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/read",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputPropertyName"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/groups" : {
      "get" : {
        "tags" : [ "Groups" ],
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyGroupNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Groups" ],
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/groups",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}" : {
      "get" : {
        "tags" : [ "Schemas" ],
        "operationId" : "get-/media-bridge/v1/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectSchema"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Schemas" ],
        "operationId" : "patch-/media-bridge/v1/{appId}/schemas/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ObjectTypeDefinitionPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectTypeDefinition"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Groups" ],
        "operationId" : "delete-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Groups" ],
        "operationId" : "patch-/media-bridge/v1/{appId}/properties/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}" : {
      "get" : {
        "tags" : [ "Properties" ],
        "operationId" : "get-/media-bridge/v1/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Properties" ],
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/object-definitions" : {
      "post" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "post-/media-bridge/v1/{appId}/settings/object-definitions",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorObjectCreationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkIntegratorObjectCreationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/oembed-domains" : {
      "get" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "get-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "domainPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OEmbedDomainsCollectionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "post-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "delete-/media-bridge/v1/{appId}/settings/oembed-domains",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "domainPortalId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings" : {
      "put" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "put-/media-bridge/v1/{appId}/settings",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaBridgeProviderPartial"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaBridgeProviderRegistrationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/schemas/{objectType}/associations/{associationId}" : {
      "delete" : {
        "tags" : [ "Schemas" ],
        "operationId" : "delete-/media-bridge/v1/{appId}/schemas/{objectType}/associations/{associationId}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}" : {
      "get" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "get-/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Integrator_Settings" ],
        "operationId" : "patch-/media-bridge/v1/{appId}/settings/oembed-domains/{oEmbedDomainId}",
        "parameters" : [ {
          "name" : "oEmbedDomainId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegratorOEmbedDomainRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorOEmbedDomainModel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/media-bridge/v1/events/media-played" : {
      "post" : {
        "tags" : [ "Events" ],
        "operationId" : "post-/media-bridge/v1/events/media-played",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaPlayedEventRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaPlayedEvent"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "media_bridge.write" ]
        }, {
          "private_apps" : [ "media_bridge.write" ]
        } ]
      }
    },
    "/media-bridge/v1/{appId}/properties/{objectType}/batch/create" : {
      "post" : {
        "tags" : [ "Properties" ],
        "operationId" : "post-/media-bridge/v1/{appId}/properties/{objectType}/batch/create",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ObjectTypeDefinition" : {
        "required" : [ "allowsSensitiveProperties", "archived", "fullyQualifiedName", "id", "labels", "name", "objectTypeId", "requiredProperties", "searchableProperties", "secondaryDisplayProperties" ],
        "type" : "object",
        "properties" : {
          "secondaryDisplayProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "allowsSensitiveProperties" : {
            "type" : "boolean"
          },
          "fullyQualifiedName" : {
            "type" : "string"
          },
          "labels" : {
            "$ref" : "#/components/schemas/ObjectTypeDefinitionLabels"
          },
          "archived" : {
            "type" : "boolean"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requiredProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "searchableProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "primaryDisplayProperty" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "DefinitionSource" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "Or" : {
        "title" : "OR",
        "required" : [ "enclosedInParentheses", "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "enclosedInParentheses" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "boolean"
          },
          "operator" : {
            "type" : "string",
            "default" : "OR",
            "enum" : [ "OR" ]
          }
        }
      },
      "PropertyGroup" : {
        "required" : [ "archived", "label", "name" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "label" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponsePropertyGroupNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PropertyGroup"
            }
          }
        }
      },
      "FormatFullName" : {
        "title" : "FORMAT_FULL_NAME",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string",
            "default" : "FORMAT_FULL_NAME",
            "enum" : [ "FORMAT_FULL_NAME" ]
          }
        }
      },
      "MediaBridgePropertyUpdate" : {
        "type" : "object",
        "properties" : {
          "groupName" : {
            "type" : "string"
          },
          "hidden" : {
            "type" : "boolean"
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "description" : {
            "type" : "string"
          },
          "calculationFormula" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "hasUniqueValue" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "bool", "date", "datetime", "enumeration", "number", "phone_number", "string" ]
          },
          "fieldType" : {
            "type" : "string",
            "enum" : [ "booleancheckbox", "calculation_equation", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea" ]
          },
          "formField" : {
            "type" : "boolean"
          }
        }
      },
      "ExtractMostRecentEmailReplyText" : {
        "title" : "EXTRACT_MOST_RECENT_EMAIL_REPLY_TEXT",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string",
            "default" : "EXTRACT_MOST_RECENT_EMAIL_REPLY_TEXT",
            "enum" : [ "EXTRACT_MOST_RECENT_EMAIL_REPLY_TEXT" ]
          }
        }
      },
      "LowerCase" : {
        "title" : "LOWER_CASE",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string",
            "default" : "LOWER_CASE",
            "enum" : [ "LOWER_CASE" ]
          }
        }
      },
      "BatchInputPropertyCreate" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PropertyCreate"
            }
          }
        }
      },
      "Month" : {
        "title" : "MONTH",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string",
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          }
        }
      },
      "AssociationDefinitionEgg" : {
        "required" : [ "fromObjectTypeId", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "fromObjectTypeId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "toObjectTypeId" : {
            "type" : "string"
          }
        }
      },
      "BooleanPropertyVariable" : {
        "title" : "BOOLEAN_PROPERTY_VARIABLE",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "boolean"
          },
          "operator" : {
            "type" : "string",
            "default" : "BOOLEAN_PROPERTY_VARIABLE",
            "enum" : [ "BOOLEAN_PROPERTY_VARIABLE" ]
          }
        }
      },
      "RequiredPropertiesExtensionData" : {
        "required" : [ "isRequiredProperty" ],
        "type" : "object",
        "properties" : {
          "isRequiredProperty" : {
            "type" : "boolean"
          }
        }
      },
      "RoundNearestNumbers" : {
        "title" : "ROUND_NEAREST",
        "required" : [ "operator" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ConstantBoolean"
              }, {
                "$ref" : "#/components/schemas/ConstantNumber"
              }, {
                "$ref" : "#/components/schemas/ConstantString"
              }, {
                "$ref" : "#/components/schemas/BooleanPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/StringTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
              }, {
                "$ref" : "#/components/schemas/AddNumbers"
              }, {
                "$ref" : "#/components/schemas/SubtractNumbers"
              }, {
                "$ref" : "#/components/schemas/MultiplyNumbers"
              }, {
                "$ref" : "#/components/schemas/DivideNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundDownNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundUpNumbers"
              }, {
                "$ref" : "#/components/schemas/RoundNearestNumbers"
              }, {
                "$ref" : "#/components/schemas/UpperCase"
              }, {
                "$ref" : "#/components/schemas/LowerCase"
              }, {
                "$ref" : "#/components/schemas/ConcatStrings"
              }, {
                "$ref" : "#/components/schemas/Contains"
              }, {
                "$ref" : "#/components/schemas/BeginsWith"
              }, {
                "$ref" : "#/components/schemas/NumberToString"
              }, {
                "$ref" : "#/components/schemas/ParseNumber"
              }, {
                "$ref" : "#/components/schemas/FetchExchangeRate"
              }, {
                "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
              }, {
                "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
              }, {
                "$ref" : "#/components/schemas/DatedExchangeRate"
              }, {
                "$ref" : "#/components/schemas/PipelineProbability"
              }, {
                "$ref" : "#/components/schemas/MaxNumbers"
              }, {
                "$ref" : "#/components/schemas/MinNumbers"
              }, {
                "$ref" : "#/components/schemas/LessThan"
              }, {
                "$ref" : "#/components/schemas/LessThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/MoreThan"
              }, {
                "$ref" : "#/components/schemas/MoreThanOrEqual"
              }, {
                "$ref" : "#/components/schemas/NumberEquals"
              }, {
                "$ref" : "#/components/schemas/StringEquals"
              }, {
                "$ref" : "#/components/schemas/IsPipelineStageClosed"
              }, {
                "$ref" : "#/components/schemas/Not"
              }, {
                "$ref" : "#/components/schemas/Date"
              }, {
                "$ref" : "#/components/schemas/Month"
              }, {
                "$ref" : "#/components/schemas/Year"
              }, {
                "$ref" : "#/components/schemas/Now"
              }, {
                "$ref" : "#/components/schemas/TimeBetween"
              }, {
                "$ref" : "#/components/schemas/PeriodToMonths"
              }, {
                "$ref" : "#/components/schemas/PeriodToWeeks"
              }, {
                "$ref" : "#/components/schemas/And"
              }, {
                "$ref" : "#/components/schemas/Or"
              }, {
                "$ref" : "#/components/schemas/Xor"
              }, {
                "$ref" : "#/components/schemas/IfString"
              }, {
                "$ref" : "#/components/schemas/IfNumber"
              }, {
                "$ref" : "#/components/schemas/IfBoolean"
              }, {
                "$ref" : "#/components/schemas/IsPresent"
              }, {
                "$ref" : "#/components/schemas/HasEmailReply"
              }, {
                "$ref" : "#/components/schemas/HasPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyText"
              }, {
                "$ref" : "#/components/schemas/ExtractMostRecentPlainTextEmailReply"
              }, {
                "$ref" : "#/components/schemas/SetContainsString"
              }, {
                "$ref" : "#/components/schemas/IsEngagementType"
              }, {
                "$ref" : "#/components/schemas/FormatFullName"
              }, {
                "$ref" : "#/components/schemas/AbsoluteValue"
              }, {
                "$ref" : "#/components/schemas/SquareRoot"
              }, {
                "$ref" : "#/components/schemas/Power"
              }, {
                "$ref" : "#/components/schemas/Substring"
              }, {
                "$ref" : "#/components/schemas/Euler"
              }, {
                "$ref" : "#/components/schemas/StringLength"
              }, {
                "$ref" : "#/components/schemas/AddTime"
              }, {
                "$ref" : "#/components/schemas/SubtractTime"
              } ]
            }
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string",
            "default" : "ROUND_NEAREST",
            "enum" : [ "ROUND_NEAREST" ]
          }
        }
      },
      "SubtractTime" : {
        "title" : "SUBTRACT_TIME",
        "required" : [ "operator", "stringToCheck" ],
        "type" : "object",
        "properties" : {
          "stringToCheck" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ConstantBoolean"
            }, {
              "$ref" : "#/components/schemas/ConstantNumber"
            }, {
              "$ref" : "#/components/schemas/ConstantString"
            }, {
              "$ref" : "#/components/schemas/BooleanPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/BooleanTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/StringTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/NumberTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/TimestampOfTargetPropertyVariable"
            }, {
              "$ref" : "#/components/schemas/AddNumbers"
            }, {
              "$ref" : "#/components/schemas/SubtractNumbers"
            }, {
              "$ref" : "#/components/schemas/MultiplyNumbers"
            }, {
              "$ref" : "#/components/schemas/DivideNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundDownNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundUpNumbers"
            }, {
              "$ref" : "#/components/schemas/RoundNearestNumbers"
            }, {
              "$ref" : "#/components/schemas/UpperCase"
            }, {
              "$ref" : "#/components/schemas/LowerCase"
            }, {
              "$ref" : "#/components/schemas/ConcatStrings"
            }, {
              "$ref" : "#/components/schemas/Contains"
            }, {
              "$ref" : "#/components/schemas/BeginsWith"
            }, {
              "$ref" : "#/components/schemas/NumberToString"
            }, {
              "$ref" : "#/components/schemas/ParseNumber"
            }, {
              "$ref" : "#/components/schemas/FetchExchangeRate"
            }, {
              "$ref" : "#/components/schemas/FetchCurrencyDecimalPlaces"
            }, {
              "$ref" : "#/components/schemas/FetchSingleCurrencyPortalCurrency"
            }, {
              "$ref" : "#/components/schemas/DatedExchangeRate"
            }, {
              "$ref" : "#/components/schemas/PipelineProbability"
            }, {
              "$ref" : "#/components/schemas/MaxNumbers"
            }, {
              "$ref" : "#/components/schemas/MinNumbers"
            }, {
              "$ref" : "#/components/schemas/LessThan"
            }, {
              "$ref" : "#/components/schemas/LessThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/MoreThan"
            }, {
              "$ref" : "#/components/schemas/MoreThanOrEqual"
            }, {
              "$ref" : "#/components/schemas/NumberEquals"
            }, {
              "$ref" : "#/components/schemas/StringEquals"
            }, {
              "$ref" : "#/components/schemas/IsPipelineStageClosed"
            }, {
              "$ref" : "#/components/schemas/Not"
            }, {
              "$ref" : "#/components/schemas/Date"
            }, {
              "$ref" : "#/components/schemas/Month"
            }, {
              "$ref" : "#/components/schemas/Year"
            }, {
              "$ref" : "#/components/schemas/Now"
            }, {
              "$ref" : "#/components/schemas/TimeBetween"
            }, {
              "$ref" : "#/components/schemas/PeriodToMonths"
            }, {
              "$ref" : "#/components/schemas/PeriodToWeeks"
            }, {
              "$ref" : "#/components/schemas/And"
            }, {
              "$ref" : "#/components/schemas/Or"
            }, {
              "$ref" : "#/components/schemas/Xor"
            }, {
              "$ref" : "#/components/schemas/IfString"
            }, {
              "$ref" : "#/components/schemas/IfNumber"
            }, {
              "$ref" : "#/components/schemas/IfBoolean"
            }, {
              "$ref" : "#/components/schemas/IsPresent"
            }, {
              "$ref" : "#/components/schemas/HasEmailReply"
            }, {
              "$ref" : "#/components/schemas/HasPlainTextEmailReply"
            }, {
              "$ref" : "#/components/schemas/ExtractMostRecentEmailReplyHtml"
            }, {
[...]
