{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auth Oauth",
    "version" : "v1",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Access_Tokens"
  }, {
    "name" : "Refresh_Tokens"
  }, {
    "name" : "Tokens"
  } ],
  "paths" : {
    "/oauth/v1/access-tokens/{token}" : {
      "get" : {
        "tags" : [ "Access_Tokens" ],
        "operationId" : "get-/oauth/v1/access-tokens/{token}_get",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessTokenInfoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ ]
      }
    },
    "/oauth/v1/refresh-tokens/{token}" : {
      "get" : {
        "tags" : [ "Refresh_Tokens" ],
        "operationId" : "get-/oauth/v1/refresh-tokens/{token}_get",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefreshTokenInfoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ ]
      },
      "delete" : {
        "tags" : [ "Refresh_Tokens" ],
        "operationId" : "delete-/oauth/v1/refresh-tokens/{token}_archive",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ ]
      }
    },
    "/oauth/v1/token" : {
      "post" : {
        "tags" : [ "Tokens" ],
        "operationId" : "post-/oauth/v1/token_create",
        "parameters" : [ {
          "name" : "client_secret",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "refresh_token",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string"
                  },
                  "client_secret" : {
                    "type" : "string"
                  },
                  "code" : {
                    "type" : "string"
                  },
                  "code_verifier" : {
                    "type" : "string"
                  },
                  "grant_type" : {
                    "type" : "string",
                    "enum" : [ "authorization_code", "client_credentials", "refresh_token" ]
                  },
                  "redirect_uri" : {
                    "type" : "string"
                  },
                  "refresh_token" : {
                    "type" : "string"
                  },
                  "scope" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponseIF"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "RefreshTokenInfoResponse" : {
        "required" : [ "client_id", "hub_id", "scopes", "token", "token_type", "user_id" ],
        "type" : "object",
        "properties" : {
          "client_id" : {
            "type" : "string",
            "description" : "The client ID of the application that the refresh token was issued for."
          },
          "hub_domain" : {
            "type" : "string",
            "description" : "The domain of the HubSpot account associated with the refresh token."
          },
          "hub_id" : {
            "type" : "integer",
            "description" : "The ID of the HubSpot account associated with the refresh token.",
            "format" : "int32"
          },
          "scopes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "token" : {
            "type" : "string",
            "description" : "The access token string used to make API calls."
          },
          "token_type" : {
            "type" : "string",
            "description" : "The type of token, typically indicating the OAuth token type. Typically `bearer`."
          },
          "user" : {
            "type" : "string",
            "description" : "The email address of the hubspot user associated with the refresh token."
          },
          "user_id" : {
            "type" : "integer",
            "description" : "The ID of the hubspot user associated with the refresh token.",
            "format" : "int32"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "AccessTokenInfoResponse" : {
        "required" : [ "app_id", "expires_in", "hub_id", "scopes", "token", "token_type", "user_id" ],
        "type" : "object",
        "properties" : {
          "app_id" : {
            "type" : "integer",
            "description" : "The ID of the application associated with the access token.",
            "format" : "int32"
          },
          "expires_in" : {
            "type" : "integer",
            "description" : "The time in seconds until the access token expires.",
            "format" : "int32"
          },
          "hub_domain" : {
            "type" : "string",
            "description" : "The domain of the HubSpot account associated with the access token."
          },
          "hub_id" : {
            "type" : "integer",
            "description" : "The ID of the HubSpot account associated with the access token.",
            "format" : "int32"
          },
          "is_private_distribution" : {
            "type" : "boolean",
            "description" : "Indicates whether the token is for a privately distributed application. If false, it is marketplace distributed."
          },
          "scopes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "signed_access_token" : {
            "$ref" : "#/components/schemas/SignedAccessToken"
          },
          "token" : {
            "type" : "string",
            "description" : "The access token string used to make API calls."
          },
          "token_type" : {
            "type" : "string",
            "description" : "The type of token, typically indicating the authentication scheme. Typically `bearer`."
          },
          "user" : {
            "type" : "string",
            "description" : "The email address of the hubspot user for whom the access token was created."
          },
          "user_id" : {
            "type" : "integer",
            "description" : "The ID of the hubspot user for whom the access token was created.",
            "format" : "int32"
          }
        }
      },
      "TokenResponseIF" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : "string",
            "description" : "The access token used for authentication in API requests."
          },
          "expiresIn" : {
            "type" : "integer",
            "description" : "The duration in seconds for which the access token is valid.",
            "format" : "int64"
          },
          "hubId" : {
            "type" : "integer",
            "description" : "The ID of the HubSpot account associated with the token.",
            "format" : "int32"
          },
          "idToken" : {
            "type" : "string",
            "description" : "The ID token that contains identity claims about the user."
          },
          "scopes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "tokenType" : {
            "type" : "string",
            "description" : "The type of token, typically indicating the authentication scheme. Typically `bearer`."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The ID of the hubspot user for whom the token was created.",
            "format" : "int32"
          }
        }
      },
      "SignedAccessToken" : {
        "required" : [ "appId", "expiresAt", "hubId", "hublet", "installingUserId", "isPrivateDistribution", "isServiceAccount", "isUserLevel", "newSignature", "scopeToScopeGroupPks", "scopes", "signature", "trialScopeToScopeGroupPks", "trialScopes", "userId" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "description" : "The ID of the application associated with the access token.",
            "format" : "int32"
          },
          "expiresAt" : {
            "type" : "integer",
            "description" : "The timestamp indicating when the access token will expire.",
            "format" : "int64"
          },
          "hubId" : {
            "type" : "integer",
            "description" : "The ID of the HubSpot account associated with the access token.",
            "format" : "int32"
          },
          "hublet" : {
            "type" : "string",
            "description" : "The specific regional data center where the account is hosted."
          },
          "installingUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who installed the application.",
            "format" : "int32"
          },
          "isPrivateDistribution" : {
            "type" : "boolean",
            "description" : "Indicates whether the token is for a privately distributed application. If false, it is marketplace distributed."
          },
          "isServiceAccount" : {
            "type" : "boolean",
            "description" : "Indicates whether the access token is associated with a service account. Meaning it is decoupled from the user who installed it."
          },
          "isUserLevel" : {
            "type" : "boolean",
            "description" : "Indicates whether the access token is issued at the user level. Meaning the app is configured to allow multiple installs of the same app on a hub."
          },
          "newSignature" : {
            "type" : "string",
            "description" : "The updated cryptographic signature for the access token."
          },
          "scopeToScopeGroupPks" : {
            "type" : "string",
            "description" : "A mapping of scopes to their corresponding scope group primary keys."
          },
          "scopes" : {
            "type" : "string",
            "description" : "The permissions granted to the access token."
          },
          "signature" : {
            "type" : "string",
            "description" : "The cryptographic signature used to verify the integrity of the access token."
          },
          "trialScopeToScopeGroupPks" : {
            "type" : "string",
            "description" : "A mapping of trial scopes to their corresponding scope group primary keys."
          },
          "trialScopes" : {
            "type" : "string",
            "description" : "The trial scopes included in the access token."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The ID of the hubspot user associated with the access token.",
            "format" : "int32"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : { }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}