{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Automation V4",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v4",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Flow_Email_Campaigns"
  }, {
    "name" : "Flows"
  }, {
    "name" : "Workflow_Id_Mappings"
  } ],
  "paths" : {
    "/automation/v4/flows" : {
      "get" : {
        "tags" : [ "Flows" ],
        "operationId" : "get-/automation/v4/flows",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowListingForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      },
      "post" : {
        "tags" : [ "Flows" ],
        "operationId" : "post-/automation/v4/flows",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/automation/v4/flows/batch/read" : {
      "post" : {
        "tags" : [ "Flows" ],
        "operationId" : "post-/automation/v4/flows/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlow"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlowWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows/email-campaigns" : {
      "get" : {
        "tags" : [ "Flow_Email_Campaigns" ],
        "operationId" : "get-/automation/v4/flows/email-campaigns",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "flowId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowEmailCampaign"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows/{flowId}" : {
      "get" : {
        "tags" : [ "Flows" ],
        "operationId" : "get-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      },
      "put" : {
        "tags" : [ "Flows" ],
        "operationId" : "put-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Flows" ],
        "operationId" : "delete-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/workflow-id-mappings/batch/read" : {
      "post" : {
        "tags" : [ "Workflow_Id_Mappings" ],
        "operationId" : "post-/automation/v4/workflow-id-mappings/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchMigrationInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponseWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiABTestBranchAction" : {
        "title" : "AB_TEST_BRANCH",
        "required" : [ "actionId", "testBranches", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "testBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiConnection"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "AB_TEST_BRANCH",
            "enum" : [ "AB_TEST_BRANCH" ]
          }
        }
      },
      "ApiActionDataValue" : {
        "title" : "FIELD_DATA",
        "required" : [ "actionId", "dataKey", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "dataKey" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FIELD_DATA",
            "enum" : [ "FIELD_DATA" ]
          }
        }
      },
      "ApiAppendObjectPropertyValue" : {
        "title" : "APPEND_OBJECT_PROPERTY",
        "required" : [ "appendPropertyName", "type" ],
        "type" : "object",
        "properties" : {
          "appendPropertyName" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "APPEND_OBJECT_PROPERTY",
            "enum" : [ "APPEND_OBJECT_PROPERTY" ]
          }
        }
      },
      "ApiAssociationDataSource" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "name", "objectTypeId", "type" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "name" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "type" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          }
        }
      },
      "ApiAssociationTimestampDataSource" : {
        "title" : "ASSOCIATION_TIMESTAMP",
        "required" : [ "associationCategory", "associationTypeId", "name", "objectTypeId", "type" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the type of association.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ASSOCIATION_TIMESTAMP",
            "enum" : [ "ASSOCIATION_TIMESTAMP" ]
          }
        }
      },
      "ApiAuthKeyWebhookAuthSettings" : {
        "title" : "AUTH_KEY",
        "required" : [ "location", "name", "secretName", "type" ],
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "enum" : [ "HEADER", "QUERY_PARAM" ]
          },
          "name" : {
            "type" : "string"
          },
          "secretName" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "AUTH_KEY",
            "enum" : [ "AUTH_KEY" ]
          }
        }
      },
      "ApiBlockedDate" : {
        "required" : [ "dayOfMonth", "month" ],
        "type" : "object",
        "properties" : {
          "dayOfMonth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "string",
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "year" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ApiConnection" : {
        "required" : [ "edgeType", "nextActionId" ],
        "type" : "object",
        "properties" : {
          "edgeType" : {
            "type" : "string"
          },
          "nextActionId" : {
            "type" : "string"
          }
        }
      },
      "ApiContactFlow" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlow"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "createdAt", "crmObjectCreationStatus", "customProperties", "dataSources", "flowType", "id", "isEnabled", "nextAvailableActionId", "objectTypeId", "revisionId", "suppressionListIds", "timeWindows", "type", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "id" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "startActionId" : {
              "type" : "string"
            },
            "nextAvailableActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "crmObjectCreationStatus" : {
              "type" : "string",
              "enum" : [ "PENDING", "COMPLETE" ]
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "objectTypeId" : {
              "type" : "string"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiContactFlowCreateRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowCreateRequest"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "customProperties", "dataSources", "flowType", "isEnabled", "objectTypeId", "suppressionListIds", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "objectTypeId" : {
              "type" : "string"
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiContactFlowPutRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowPutRequest"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "customProperties", "isEnabled", "revisionId", "suppressionListIds", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiContactPropertyAnchor" : {
        "title" : "CONTACT_PROPERTY_ANCHOR",
        "required" : [ "contactProperty", "type" ],
        "type" : "object",
        "properties" : {
          "contactProperty" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "CONTACT_PROPERTY_ANCHOR",
            "enum" : [ "CONTACT_PROPERTY_ANCHOR" ]
          }
        }
      },
      "ApiCustomCodeAction" : {
        "title" : "CUSTOM_CODE",
        "required" : [ "actionId", "inputFields", "outputFields", "runtime", "secretNames", "sourceCode", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "inputFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiInputVariable"
            }
          },
          "outputFields" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiEnumerationOutputField"
              } ]
            }
          },
          "runtime" : {
            "type" : "string"
          },
          "secretNames" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "sourceCode" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "CUSTOM_CODE",
            "enum" : [ "CUSTOM_CODE" ]
          }
        }
      },
      "ApiDailyEnrollmentSchedule" : {
        "title" : "DAILY",
        "required" : [ "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "DAILY",
            "enum" : [ "DAILY" ]
          }
        }
      },
      "ApiDatasetFieldPropertyFilterDataSource" : {
        "title" : "DATASET_FIELD_PROPERTY_FILTER",
        "required" : [ "datasetFieldName", "name", "propertyName", "type" ],
        "type" : "object",
        "properties" : {
          "datasetFieldName" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "type" : {
            "type" : "string",
            "default" : "DATASET_FIELD_PROPERTY_FILTER",
            "enum" : [ "DATASET_FIELD_PROPERTY_FILTER" ]
          }
        }
      },
      "ApiEnrolledArgumentPropertyFilterDataSource" : {
        "title" : "ENROLLED_ARGUMENT_PROPERTY_FILTER",
        "required" : [ "argumentName", "name", "propertyName", "type" ],
        "type" : "object",
        "properties" : {
          "argumentName" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "type" : {
            "type" : "string",
            "default" : "ENROLLED_ARGUMENT_PROPERTY_FILTER",
            "enum" : [ "ENROLLED_ARGUMENT_PROPERTY_FILTER" ]
          }
        }
      },
      "ApiEnrolledRecordPropertyFilterDataSource" : {
        "title" : "ENROLLED_RECORD_PROPERTY_FILTER",
        "required" : [ "name", "propertyName", "recordFieldName", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string"
          },
          "recordFieldName" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "type" : {
            "type" : "string",
            "default" : "ENROLLED_RECORD_PROPERTY_FILTER",
            "enum" : [ "ENROLLED_RECORD_PROPERTY_FILTER" ]
          }
        }
      },
      "ApiEnrollmentEventPropertyValue" : {
        "title" : "ENROLLMENT_EVENT_PROPERTY",
        "required" : [ "enrollmentEventPropertyToken", "type" ],
        "type" : "object",
        "properties" : {
          "enrollmentEventPropertyToken" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ENROLLMENT_EVENT_PROPERTY",
            "enum" : [ "ENROLLMENT_EVENT_PROPERTY" ]
          }
        }
      },
      "ApiEnumerationOutputField" : {
        "title" : "ENUMERATION",
        "required" : [ "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "options" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          }
        }
      },
      "ApiEventBasedEnrollmentCriteria" : {
        "title" : "EVENT_BASED",
        "required" : [ "eventFilterBranches", "listMembershipFilterBranches", "shouldReEnroll", "type" ],
        "type" : "object",
        "properties" : {
          "eventFilterBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }
          },
          "listMembershipFilterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "refinementCriteria" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "shouldReEnroll" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "EVENT_BASED",
            "enum" : [ "EVENT_BASED" ]
          }
        }
      },
      "ApiFetchedObjectPropertyValue" : {
        "title" : "FETCHED_OBJECT_PROPERTY",
        "required" : [ "propertyToken", "type" ],
        "type" : "object",
        "properties" : {
          "propertyToken" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FETCHED_OBJECT_PROPERTY",
            "enum" : [ "FETCHED_OBJECT_PROPERTY" ]
          }
        }
      },
      "ApiFlow" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlow"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlow"
        } ]
      },
      "ApiFlowBatchFetchFlowIdCoordinate" : {
        "title" : "FLOW_ID",
        "required" : [ "flowId", "type" ],
        "type" : "object",
        "properties" : {
          "flowId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FLOW_ID",
            "enum" : [ "FLOW_ID" ]
          }
        }
      },
      "ApiFlowBatchFetchMigrationFlowIdCoordinate" : {
        "title" : "FLOW_ID",
        "required" : [ "flowMigrationStatuses", "type" ],
        "type" : "object",
        "properties" : {
          "flowMigrationStatuses" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FLOW_ID",
            "enum" : [ "FLOW_ID" ]
          }
        }
      },
      "ApiFlowBatchFetchMigrationWorkflowIdCoordinate" : {
        "title" : "WORKFLOW_ID",
        "required" : [ "flowMigrationStatusForClassicWorkflows", "type" ],
        "type" : "object",
        "properties" : {
          "flowMigrationStatusForClassicWorkflows" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "WORKFLOW_ID",
            "enum" : [ "WORKFLOW_ID" ]
          }
        }
      },
      "ApiFlowBatchInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiFlowBatchFetchFlowIdCoordinate"
              } ]
            }
          }
        }
      },
      "ApiFlowBatchMigrationInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiFlowBatchFetchMigrationFlowIdCoordinate"
              }, {
                "$ref" : "#/components/schemas/ApiFlowBatchFetchMigrationWorkflowIdCoordinate"
              } ]
            }
          }
        }
      },
      "ApiFlowCreateRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowCreateRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowCreateRequest"
        } ]
      },
      "ApiFlowEmailCampaign" : {
        "required" : [ "emailCampaignId", "emailContentId", "flowId" ],
        "type" : "object",
        "properties" : {
          "emailCampaignId" : {
            "type" : "string"
          },
          "emailContentId" : {
            "type" : "string"
          },
          "flowId" : {
            "type" : "string"
          }
        }
      },
      "ApiFlowListing" : {
        "required" : [ "createdAt", "flowType", "id", "isEnabled", "objectTypeId", "revisionId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "flowType" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "isEnabled" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "revisionId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "uuid" : {
            "type" : "string"
          }
        }
      },
      "ApiFlowPutRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowPutRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowPutRequest"
        } ]
      },
      "ApiIncrementValue" : {
        "title" : "INCREMENT",
        "required" : [ "incrementAmount", "type" ],
        "type" : "object",
        "properties" : {
          "incrementAmount" : {
            "type" : "number"
          },
          "type" : {
            "type" : "string",
            "default" : "INCREMENT",
            "enum" : [ "INCREMENT" ]
          }
        }
      },
      "ApiInputVariable" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiActionDataValue"
            }, {
              "$ref" : "#/components/schemas/ApiObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticValue"
            }, {
              "$ref" : "#/components/schemas/ApiRelativeDateTimeValue"
            }, {
              "$ref" : "#/components/schemas/ApiTimestampValue"
            }, {
              "$ref" : "#/components/schemas/ApiIncrementValue"
            }, {
              "$ref" : "#/components/schemas/ApiFetchedObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiAppendObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticAppendValue"
            }, {
              "$ref" : "#/components/schemas/ApiEnrollmentEventPropertyValue"
            } ]
          }
        }
      },
      "ApiListBasedEnrollmentCriteria" : {
        "title" : "LIST_BASED",
        "required" : [ "listFilterBranch", "reEnrollmentTriggersFilterBranches", "shouldReEnroll", "type", "unEnrollObjectsNotMeetingCriteria" ],
        "type" : "object",
        "properties" : {
          "listFilterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "reEnrollmentTriggersFilterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "shouldReEnroll" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "LIST_BASED",
            "enum" : [ "LIST_BASED" ]
          },
          "unEnrollObjectsNotMeetingCriteria" : {
            "type" : "boolean"
          }
        }
      },
      "ApiListBranch" : {
        "type" : "object",
        "properties" : {
          "branchName" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "filterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          }
        }
      },
      "ApiListBranchAction" : {
        "title" : "LIST_BRANCH",
        "required" : [ "actionId", "listBranches", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "defaultBranchName" : {
            "type" : "string"
          },
          "listBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiListBranch"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "LIST_BRANCH",
            "enum" : [ "LIST_BRANCH" ]
          }
        }
      },
      "ApiManualEnrollmentCriteria" : {
        "title" : "MANUAL",
        "required" : [ "shouldReEnroll", "type" ],
        "type" : "object",
        "properties" : {
          "shouldReEnroll" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "MANUAL",
            "enum" : [ "MANUAL" ]
          }
        }
      },
      "ApiMonthlyRelativeDaysEnrollmentSchedule" : {
        "title" : "MONTHLY_RELATIVE_DAYS",
        "required" : [ "monthlyRelativeDays", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "monthlyRelativeDays" : {
            "type" : "string",
            "enum" : [ "FIRST_MONDAY_OF_MONTH", "LAST_DAY_OF_MONTH" ]
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "MONTHLY_RELATIVE_DAYS",
            "enum" : [ "MONTHLY_RELATIVE_DAYS" ]
          }
        }
      },
      "ApiMonthlySpecificDaysEnrollmentSchedule" : {
        "title" : "MONTHLY_SPECIFIC_DAYS",
        "required" : [ "daysOfMonth", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "daysOfMonth" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "MONTHLY_SPECIFIC_DAYS",
            "enum" : [ "MONTHLY_SPECIFIC_DAYS" ]
          }
        }
      },
      "ApiObjectPropertyValue" : {
        "title" : "OBJECT_PROPERTY",
        "required" : [ "propertyName", "type" ],
        "type" : "object",
        "properties" : {
          "propertyName" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "OBJECT_PROPERTY",
            "enum" : [ "OBJECT_PROPERTY" ]
          }
        }
      },
      "ApiPlatformFlow" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlow"
        }, {
          "required" : [ "actions", "blockedDates", "createdAt", "crmObjectCreationStatus", "customProperties", "dataSources", "flowType", "id", "isEnabled", "nextAvailableActionId", "objectTypeId", "revisionId", "timeWindows", "type", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "PLATFORM_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "id" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "objectTypeId" : {
              "type" : "string"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "startActionId" : {
              "type" : "string"
            },
            "nextAvailableActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "crmObjectCreationStatus" : {
              "type" : "string",
              "enum" : [ "PENDING", "COMPLETE" ]
            },
            "suppressionFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiPlatformFlowCreateRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowCreateRequest"
        }, {
          "required" : [ "actions", "blockedDates", "customProperties", "dataSources", "flowType", "isEnabled", "objectTypeId", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "PLATFORM_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "objectTypeId" : {
              "type" : "string"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "suppressionFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiPlatformFlowPutRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowPutRequest"
        }, {
          "required" : [ "actions", "blockedDates", "customProperties", "isEnabled", "revisionId", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "PLATFORM_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "suppressionFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiPropertyBasedEnrollmentSchedule" : {
        "title" : "PROPERTY_BASED",
        "required" : [ "dateProperty", "daysDelta", "timeOfDay", "type", "yearly" ],
        "type" : "object",
        "properties" : {
          "dateProperty" : {
            "type" : "string"
          },
          "daysDelta" : {
            "type" : "integer",
            "format" : "int32"
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "PROPERTY_BASED",
            "enum" : [ "PROPERTY_BASED" ]
          },
          "yearly" : {
            "type" : "boolean"
          }
        }
      },
      "ApiRelativeDateTimeValue" : {
        "title" : "RELATIVE_DATETIME",
        "required" : [ "timeDelay", "type" ],
        "type" : "object",
        "properties" : {
          "timeDelay" : {
            "$ref" : "#/components/schemas/ApiTimeDelay"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_DATETIME",
            "enum" : [ "RELATIVE_DATETIME" ]
          }
        }
      },
      "ApiSignatureWebhookAuthSettings" : {
        "title" : "SIGNATURE",
        "required" : [ "appId", "type" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "SIGNATURE",
            "enum" : [ "SIGNATURE" ]
          }
        }
      },
      "ApiSingleConnectionAction" : {
        "title" : "SINGLE_CONNECTION",
        "required" : [ "actionId", "actionTypeId", "actionTypeVersion", "fields", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "actionTypeId" : {
            "type" : "string"
          },
          "actionTypeVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "type" : {
            "type" : "string",
            "default" : "SINGLE_CONNECTION",
            "enum" : [ "SINGLE_CONNECTION" ]
          }
        }
      },
      "ApiSort" : {
        "required" : [ "order", "property" ],
        "type" : "object",
        "properties" : {
          "missing" : {
            "type" : "string"
          },
          "order" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          },
          "property" : {
            "type" : "string"
          }
        }
      },
      "ApiStaticAppendValue" : {
        "title" : "STATIC_APPEND_VALUE",
        "required" : [ "staticAppendValue", "type" ],
        "type" : "object",
        "properties" : {
          "staticAppendValue" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_APPEND_VALUE",
            "enum" : [ "STATIC_APPEND_VALUE" ]
          }
        }
      },
      "ApiStaticBranch" : {
        "required" : [ "branchValue" ],
        "type" : "object",
        "properties" : {
          "branchValue" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          }
        }
      },
      "ApiStaticBranchAction" : {
        "title" : "STATIC_BRANCH",
        "required" : [ "actionId", "inputValue", "staticBranches", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "defaultBranchName" : {
            "type" : "string"
          },
          "inputValue" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiActionDataValue"
            }, {
              "$ref" : "#/components/schemas/ApiObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticValue"
            }, {
              "$ref" : "#/components/schemas/ApiRelativeDateTimeValue"
            }, {
              "$ref" : "#/components/schemas/ApiTimestampValue"
            }, {
              "$ref" : "#/components/schemas/ApiIncrementValue"
            }, {
              "$ref" : "#/components/schemas/ApiFetchedObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiAppendObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticAppendValue"
            }, {
              "$ref" : "#/components/schemas/ApiEnrollmentEventPropertyValue"
            } ]
          },
          "staticBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiStaticBranch"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_BRANCH",
            "enum" : [ "STATIC_BRANCH" ]
          }
        }
      },
      "ApiStaticDateAnchor" : {
        "title" : "STATIC_DATE_ANCHOR",
        "required" : [ "dayOfMonth", "month", "type" ],
        "type" : "object",
        "properties" : {
          "dayOfMonth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "string",
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_DATE_ANCHOR",
            "enum" : [ "STATIC_DATE_ANCHOR" ]
          },
          "year" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ApiStaticPropertyFilterDataSource" : {
        "title" : "STATIC_PROPERTY_FILTER",
        "required" : [ "name", "propertyName", "staticValue", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "staticValue" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_PROPERTY_FILTER",
            "enum" : [ "STATIC_PROPERTY_FILTER" ]
          }
        }
      },
      "ApiStaticTimeZoneStrategy" : {
        "title" : "STATIC_TIME_ZONE",
        "required" : [ "timeZoneId", "type" ],
        "type" : "object",
        "properties" : {
          "timeZoneId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_TIME_ZONE",
            "enum" : [ "STATIC_TIME_ZONE" ]
          }
        }
      },
      "ApiStaticValue" : {
        "title" : "STATIC_VALUE",
        "required" : [ "staticValue", "type" ],
        "type" : "object",
        "properties" : {
          "staticValue" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_VALUE",
            "enum" : [ "STATIC_VALUE" ]
          }
        }
      },
      "ApiTimeDelay" : {
        "required" : [ "daysOfWeek", "delta", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "daysOfWeek" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" ]
            }
          },
          "delta" : {
            "type" : "integer",
            "format" : "int32"
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "timeUnit" : {
            "type" : "string",
            "enum" : [ "CENTURIES", "DAYS", "DECADES", "ERAS", "FOREVER", "HALF_DAYS", "HOURS", "MICROS", "MILLENNIA", "MILLIS", "MINUTES", "MONTHS", "NANOS", "SECONDS", "WEEKS", "YEARS" ]
          },
          "timeZoneStrategy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiStaticTimeZoneStrategy"
            } ]
          }
        }
      },
      "ApiTimeOfDay" : {
        "required" : [ "hour", "minute" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ApiTimeWindow" : {
        "required" : [ "day" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "string",
            "enum" : [ "FRIDAY", "MONDAY", "SATURDAY", "SUNDAY", "THURSDAY", "TUESDAY", "WEDNESDAY" ]
          },
          "endTime" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "startTime" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          }
        }
      },
      "ApiTimestampValue" : {
        "title" : "TIMESTAMP",
        "required" : [ "timestampType", "type" ],
        "type" : "object",
        "properties" : {
          "timestampType" : {
            "type" : "string",
            "enum" : [ "EXECUTION_TIME" ]
          },
          "type" : {
            "type" : "string",
            "default" : "TIMESTAMP",
            "enum" : [ "TIMESTAMP" ]
          }
        }
      },
      "ApiUnEnrollmentSetting" : {
        "required" : [ "flowIds", "type" ],
        "type" : "object",
        "properties" : {
          "flowIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "ALL", "SELECTIVE" ]
          }
        }
      },
      "ApiWebhookAction" : {
        "title" : "WEBHOOK",
        "required" : [ "actionId", "method", "queryParams", "type", "webhookUrl" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string"
          },
          "authSettings" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiAuthKeyWebhookAuthSettings"
            }, {
              "$ref" : "#/components/schemas/ApiSignatureWebhookAuthSettings"
            } ]
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "method" : {
            "type" : "string",
            "enum" : [ "CONNECT", "DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT", "TRACE" ]
          },
          "queryParams" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiInputVariable"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "WEBHOOK",
            "enum" : [ "WEBHOOK" ]
          },
          "webhookUrl" : {
            "type" : "string"
          }
        }
      },
      "ApiWeeklyEnrollmentSchedule" : {
        "title" : "WEEKLY",
        "required" : [ "daysOfWeek", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "daysOfWeek" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" ]
            }
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "WEEKLY",
            "enum" : [ "WEEKLY" ]
          }
        }
      },
      "ApiYearlyEnrollmentSchedule" : {
        "title" : "YEARLY",
        "required" : [ "dayOfMonth", "month", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "dayOfMonth" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "string",
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "default" : "YEARLY",
            "enum" : [ "YEARLY" ]
          }
        }
      },
      "BatchResponseApiFlow" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlow"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "BatchResponseApiFlowWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlow"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "BatchResponseFlowIdWorkflowIdMappingResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlowIdWorkflowIdMappingResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "BatchResponseFlowIdWorkflowIdMappingResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlowIdWorkflowIdMappingResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "CollectionResponseApiFlowEmailCampaign" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlowEmailCampaign"
            }
          }
        }
      },
      "CollectionResponseApiFlowListingForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlowListing"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "FlowIdWorkflowIdMappingResponse" : {
        "required" : [ "flowId", "workflowId" ],
        "type" : "object",
        "properties" : {
          "flowId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "workflowId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results."
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
      },
      "PublicAbsoluteComparativeTimestampRefineBy" : {
        "title" : "ABSOLUTE_COMPARATIVE",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "type" : {
            "type" : "string",
            "default" : "ABSOLUTE_COMPARATIVE",
            "enum" : [ "ABSOLUTE_COMPARATIVE" ]
          }
        }
      },
      "PublicAbsoluteRangedTimestampRefineBy" : {
        "title" : "ABSOLUTE_RANGED",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "rangeType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ABSOLUTE_RANGED",
            "enum" : [ "ABSOLUTE_RANGED" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PublicAdsSearchFilter" : {
        "title" : "ADS_SEARCH",
        "required" : [ "adNetwork", "entityType", "filterType", "operator", "searchTerms", "searchTermType" ],
        "type" : "object",
        "properties" : {
          "adNetwork" : {
            "type" : "string"
          },
          "entityType" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "ADS_SEARCH",
            "enum" : [ "ADS_SEARCH" ]
          },
          "operator" : {
            "type" : "string"
          },
          "searchTermType" : {
            "type" : "string"
          },
          "searchTerms" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicAdsTimeFilter" : {
        "title" : "ADS_TIME",
        "required" : [ "filterType", "pruningRefineBy" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "default" : "ADS_TIME",
            "enum" : [ "ADS_TIME" ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranches", "filterBranchOperator", "filterBranchType", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filterBranchType" : {
            "type" : "string",
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranches", "filterBranchOperator", "filterBranchType", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filterBranchType" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
[...]
