{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Automation V4",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v4",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Flow_Email_Campaigns"
  }, {
    "name" : "Flows"
  }, {
    "name" : "Workflow_Id_Mappings"
  } ],
  "paths" : {
    "/automation/v4/flows/batch/read" : {
      "post" : {
        "tags" : [ "Flows" ],
        "operationId" : "post-/automation/v4/flows/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlow"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlowWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows/email-campaigns" : {
      "get" : {
        "tags" : [ "Flow_Email_Campaigns" ],
        "operationId" : "get-/automation/v4/flows/email-campaigns",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "flowId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowEmailCampaign"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/workflow-id-mappings/batch/read" : {
      "post" : {
        "tags" : [ "Workflow_Id_Mappings" ],
        "operationId" : "post-/automation/v4/workflow-id-mappings/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchMigrationInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponseWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows" : {
      "get" : {
        "tags" : [ "Flows" ],
        "operationId" : "get-/automation/v4/flows",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowListingForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      },
      "post" : {
        "tags" : [ "Flows" ],
        "operationId" : "post-/automation/v4/flows",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/automation/v4/flows/{flowId}" : {
      "get" : {
        "tags" : [ "Flows" ],
        "operationId" : "get-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      },
      "put" : {
        "tags" : [ "Flows" ],
        "operationId" : "put-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Flows" ],
        "operationId" : "delete-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation" ]
        }, {
          "oauth2" : [ "automation" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiContactFlowPutRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowPutRequest"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "customProperties", "isEnabled", "revisionId", "suppressionListIds", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiAssociationTimestampDataSource" : {
        "title" : "ASSOCIATION_TIMESTAMP",
        "required" : [ "associationCategory", "associationTypeId", "name", "objectTypeId", "type" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the type of association.",
            "format" : "int32"
          },
          "associationCategory" : {
            "type" : "string",
            "enum" : [ "HUBSPOT_DEFINED", "USER_DEFINED", "INTEGRATOR_DEFINED" ]
          },
          "type" : {
            "type" : "string",
            "default" : "ASSOCIATION_TIMESTAMP",
            "enum" : [ "ASSOCIATION_TIMESTAMP" ]
          }
        }
      },
      "ApiPropertyBasedEnrollmentSchedule" : {
        "title" : "PROPERTY_BASED",
        "required" : [ "dateProperty", "daysDelta", "timeOfDay", "type", "yearly" ],
        "type" : "object",
        "properties" : {
          "dateProperty" : {
            "type" : "string"
          },
          "daysDelta" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "PROPERTY_BASED",
            "enum" : [ "PROPERTY_BASED" ]
          },
          "yearly" : {
            "type" : "boolean"
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          }
        }
      },
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "propertyWithObjectId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiBlockedDate" : {
        "required" : [ "dayOfMonth", "month" ],
        "type" : "object",
        "properties" : {
          "month" : {
            "type" : "string",
            "enum" : [ "JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER" ]
          },
          "year" : {
            "type" : "integer",
            "format" : "int32"
          },
          "dayOfMonth" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ApiFlowCreateRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowCreateRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowCreateRequest"
        } ]
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "inListType" : {
            "type" : "string"
          }
        }
      },
      "ApiCustomCodeAction" : {
        "title" : "CUSTOM_CODE",
        "required" : [ "actionId", "inputFields", "outputFields", "runtime", "secretNames", "sourceCode", "type" ],
        "type" : "object",
        "properties" : {
          "inputFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiInputVariable"
            }
          },
          "outputFields" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiEnumerationOutputField"
              } ]
            }
          },
          "sourceCode" : {
            "type" : "string"
          },
          "actionId" : {
            "type" : "string"
          },
          "runtime" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "secretNames" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "CUSTOM_CODE",
            "enum" : [ "CUSTOM_CODE" ]
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "BatchResponseApiFlow" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlow"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "filterType" : {
            "type" : "string",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiFlowPutRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowPutRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowPutRequest"
        } ]
      },
      "ApiActionDataValue" : {
        "title" : "FIELD_DATA",
        "required" : [ "actionId", "dataKey", "type" ],
        "type" : "object",
        "properties" : {
          "dataKey" : {
            "type" : "string"
          },
          "actionId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FIELD_DATA",
            "enum" : [ "FIELD_DATA" ]
          }
        }
      },
      "ApiMonthlySpecificDaysEnrollmentSchedule" : {
        "title" : "MONTHLY_SPECIFIC_DAYS",
        "required" : [ "daysOfMonth", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "daysOfMonth" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "MONTHLY_SPECIFIC_DAYS",
            "enum" : [ "MONTHLY_SPECIFIC_DAYS" ]
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "valueComparison" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "surveyId" : {
            "type" : "string"
          },
          "surveyQuestion" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "surveyAnswerRowId" : {
            "type" : "string"
          },
          "surveyAnswerColId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiConnection" : {
        "required" : [ "edgeType", "nextActionId" ],
        "type" : "object",
        "properties" : {
          "nextActionId" : {
            "type" : "string"
          },
          "edgeType" : {
            "type" : "string"
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "channel" : {
            "type" : "string"
          },
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "businessUnitId" : {
            "type" : "string"
          }
        }
      },
      "ApiFlowBatchFetchMigrationWorkflowIdCoordinate" : {
        "title" : "WORKFLOW_ID",
        "required" : [ "flowMigrationStatusForClassicWorkflows", "type" ],
        "type" : "object",
        "properties" : {
          "flowMigrationStatusForClassicWorkflows" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "WORKFLOW_ID",
            "enum" : [ "WORKFLOW_ID" ]
          }
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string"
          },
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          }
        }
      },
      "ApiDailyEnrollmentSchedule" : {
        "title" : "DAILY",
        "required" : [ "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "DAILY",
            "enum" : [ "DAILY" ]
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          }
        }
      },
      "ApiIncrementValue" : {
        "title" : "INCREMENT",
        "required" : [ "incrementAmount", "type" ],
        "type" : "object",
        "properties" : {
          "incrementAmount" : {
            "type" : "number"
          },
          "type" : {
            "type" : "string",
            "default" : "INCREMENT",
            "enum" : [ "INCREMENT" ]
          }
        }
      },
      "ApiTimestampValue" : {
        "title" : "TIMESTAMP",
        "required" : [ "timestampType", "type" ],
        "type" : "object",
        "properties" : {
          "timestampType" : {
            "type" : "string",
            "enum" : [ "EXECUTION_TIME" ]
          },
          "type" : {
            "type" : "string",
            "default" : "TIMESTAMP",
            "enum" : [ "TIMESTAMP" ]
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32"
          },
          "days" : {
            "type" : "integer",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "ApiListBasedEnrollmentCriteria" : {
        "title" : "LIST_BASED",
        "required" : [ "listFilterBranch", "reEnrollmentTriggersFilterBranches", "shouldReEnroll", "type", "unEnrollObjectsNotMeetingCriteria" ],
        "type" : "object",
        "properties" : {
          "listFilterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "reEnrollmentTriggersFilterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "unEnrollObjectsNotMeetingCriteria" : {
            "type" : "boolean"
          },
          "shouldReEnroll" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "LIST_BASED",
            "enum" : [ "LIST_BASED" ]
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "formId" : {
            "type" : "string"
          },
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "associationCategory" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ApiManualEnrollmentCriteria" : {
        "title" : "MANUAL",
        "required" : [ "shouldReEnroll", "type" ],
        "type" : "object",
        "properties" : {
          "shouldReEnroll" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "MANUAL",
            "enum" : [ "MANUAL" ]
          }
        }
      },
      "ApiFlow" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlow"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlow"
        } ]
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "acceptedStatuses" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "operationType" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiWeeklyEnrollmentSchedule" : {
        "title" : "WEEKLY",
        "required" : [ "daysOfWeek", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "WEEKLY",
            "enum" : [ "WEEKLY" ]
          },
          "daysOfWeek" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" ]
            }
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          }
        }
      },
      "ApiSort" : {
        "required" : [ "order", "property" ],
        "type" : "object",
        "properties" : {
          "property" : {
            "type" : "string"
          },
          "missing" : {
            "type" : "string"
          },
          "order" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }
      },
      "ApiInputVariable" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiActionDataValue"
            }, {
              "$ref" : "#/components/schemas/ApiObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticValue"
            }, {
              "$ref" : "#/components/schemas/ApiRelativeDateTimeValue"
            }, {
              "$ref" : "#/components/schemas/ApiTimestampValue"
            }, {
              "$ref" : "#/components/schemas/ApiIncrementValue"
            }, {
              "$ref" : "#/components/schemas/ApiFetchedObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiAppendObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticAppendValue"
            }, {
              "$ref" : "#/components/schemas/ApiEnrollmentEventPropertyValue"
            } ]
          }
        }
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "timePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiEnumerationOutputField" : {
        "title" : "ENUMERATION",
        "required" : [ "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "options" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          }
        }
      },
      "ApiABTestBranchAction" : {
        "title" : "AB_TEST_BRANCH",
        "required" : [ "actionId", "testBranches", "type" ],
        "type" : "object",
        "properties" : {
          "testBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiConnection"
            }
          },
          "actionId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "AB_TEST_BRANCH",
            "enum" : [ "AB_TEST_BRANCH" ]
          }
        }
      },
      "ApiSingleConnectionAction" : {
        "title" : "SINGLE_CONNECTION",
        "required" : [ "actionId", "actionTypeId", "actionTypeVersion", "fields", "type" ],
        "type" : "object",
        "properties" : {
          "actionTypeId" : {
            "type" : "string"
          },
          "actionId" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "type" : {
            "type" : "string",
            "default" : "SINGLE_CONNECTION",
            "enum" : [ "SINGLE_CONNECTION" ]
          },
          "actionTypeVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          }
        },
        "description" : "Ye olde error"
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timezoneSource" : {
            "type" : "string"
          },
          "indexReference" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "timeType" : {
            "type" : "string",
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "zoneId" : {
            "type" : "string"
          }
        }
      },
      "ApiContactFlow" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlow"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "createdAt", "crmObjectCreationStatus", "customProperties", "dataSources", "flowType", "id", "isEnabled", "nextAvailableActionId", "objectTypeId", "revisionId", "suppressionListIds", "timeWindows", "type", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "id" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "startActionId" : {
              "type" : "string"
            },
            "nextAvailableActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "crmObjectCreationStatus" : {
              "type" : "string",
              "enum" : [ "PENDING", "COMPLETE" ]
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "objectTypeId" : {
              "type" : "string"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiStaticTimeZoneStrategy" : {
        "title" : "STATIC_TIME_ZONE",
        "required" : [ "timeZoneId", "type" ],
        "type" : "object",
        "properties" : {
          "timeZoneId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_TIME_ZONE",
            "enum" : [ "STATIC_TIME_ZONE" ]
          }
        }
      },
      "ApiAppendObjectPropertyValue" : {
        "title" : "APPEND_OBJECT_PROPERTY",
        "required" : [ "appendPropertyName", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "APPEND_OBJECT_PROPERTY",
            "enum" : [ "APPEND_OBJECT_PROPERTY" ]
          },
          "appendPropertyName" : {
            "type" : "string"
          }
        }
      },
      "ApiListBranch" : {
        "type" : "object",
        "properties" : {
          "branchName" : {
            "type" : "string"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "filterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          }
        }
      },
      "ApiListBranchAction" : {
        "title" : "LIST_BRANCH",
        "required" : [ "actionId", "listBranches", "type" ],
        "type" : "object",
        "properties" : {
          "defaultBranchName" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "actionId" : {
            "type" : "string"
          },
          "listBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiListBranch"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "LIST_BRANCH",
            "enum" : [ "LIST_BRANCH" ]
          }
        }
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "upperBoundEndpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          },
          "lowerBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        }
      },
      "PublicWebinarFilter" : {
        "title" : "WEBINAR",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "webinarId" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "WEBINAR",
            "enum" : [ "WEBINAR" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiEnrollmentEventPropertyValue" : {
        "title" : "ENROLLMENT_EVENT_PROPERTY",
        "required" : [ "enrollmentEventPropertyToken", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ENROLLMENT_EVENT_PROPERTY",
            "enum" : [ "ENROLLMENT_EVENT_PROPERTY" ]
          },
          "enrollmentEventPropertyToken" : {
            "type" : "string"
          }
        }
      },
      "PublicUnifiedEventsFilterBranch" : {
        "title" : "UNIFIED_EVENTS",
        "required" : [ "eventTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "UNIFIED_EVENTS",
            "enum" : [ "UNIFIED_EVENTS" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "eventTypeId" : {
            "type" : "string"
          },
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "HAS_COMPLETED", "HAS_NOT_COMPLETED" ]
          }
        }
      },
      "ApiStaticPropertyFilterDataSource" : {
        "title" : "STATIC_PROPERTY_FILTER",
        "required" : [ "name", "propertyName", "staticValue", "type" ],
        "type" : "object",
        "properties" : {
          "staticValue" : {
            "type" : "string"
          },
          "propertyName" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "sortBy" : {
            "$ref" : "#/components/schemas/ApiSort"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_PROPERTY_FILTER",
            "enum" : [ "STATIC_PROPERTY_FILTER" ]
          }
        }
      },
      "PublicNumOccurrencesRefineBy" : {
        "title" : "NUM_OCCURRENCES",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "NUM_OCCURRENCES",
            "enum" : [ "NUM_OCCURRENCES" ]
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "ctaName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiStaticValue" : {
        "title" : "STATIC_VALUE",
        "required" : [ "staticValue", "type" ],
        "type" : "object",
        "properties" : {
          "staticValue" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_VALUE",
            "enum" : [ "STATIC_VALUE" ]
          }
        }
      },
      "ApiStaticAppendValue" : {
        "title" : "STATIC_APPEND_VALUE",
        "required" : [ "staticAppendValue", "type" ],
        "type" : "object",
        "properties" : {
          "staticAppendValue" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "STATIC_APPEND_VALUE",
            "enum" : [ "STATIC_APPEND_VALUE" ]
          }
        }
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "shouldAccept" : {
            "type" : "boolean"
          },
          "source" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          }
        }
      },
      "PublicSetOccurrencesRefineBy" : {
        "title" : "SET_OCCURRENCES",
        "required" : [ "setType", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "SET_OCCURRENCES",
            "enum" : [ "SET_OCCURRENCES" ]
          },
          "setType" : {
            "type" : "string"
          }
        }
      },
      "ApiRelativeDateTimeValue" : {
        "title" : "RELATIVE_DATETIME",
        "required" : [ "timeDelay", "type" ],
        "type" : "object",
        "properties" : {
          "timeDelay" : {
            "$ref" : "#/components/schemas/ApiTimeDelay"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_DATETIME",
            "enum" : [ "RELATIVE_DATETIME" ]
          }
        }
      },
      "CollectionResponseApiFlowListingForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlowListing"
            }
          }
        }
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiPlatformFlowPutRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowPutRequest"
        }, {
          "required" : [ "actions", "blockedDates", "customProperties", "isEnabled", "revisionId", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "PLATFORM_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "suppressionFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiFlowListing" : {
        "required" : [ "createdAt", "flowType", "id", "isEnabled", "objectTypeId", "revisionId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "revisionId" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "isEnabled" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "uuid" : {
            "type" : "string"
          },
          "flowType" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicPageViewAnalyticsFilter" : {
        "title" : "PAGE_VIEW",
        "required" : [ "filterType", "operator", "pageUrl" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "enableTracking" : {
            "type" : "boolean"
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pageUrl" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "PAGE_VIEW",
            "enum" : [ "PAGE_VIEW" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results."
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
[...]
