{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Automation V4",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v4",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL",
      "commerce" : "PROFESSIONAL",
      "crmHub" : "PROFESSIONAL",
      "dataHub" : "PROFESSIONAL"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Flow_Email_Campaigns"
  }, {
    "name" : "Flows"
  }, {
    "name" : "Workflow_Id_Mappings"
  } ],
  "paths" : {
    "/automation/v4/flows" : {
      "get" : {
        "tags" : [ "Flows" ],
        "summary" : "Retrieve a list of automation flows.",
        "description" : "Retrieve a list of automation flows with optional pagination using the 'after' and 'limit' query parameters.",
        "operationId" : "get-/automation/v4/flows",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A paging cursor token for retrieving subsequent pages.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return, with a default value of 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowListingForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      },
      "post" : {
        "tags" : [ "Flows" ],
        "summary" : "Create a new automation flow.",
        "description" : "Create a new automation flow by providing the necessary details in the request body.",
        "operationId" : "post-/automation/v4/flows",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/automation/v4/flows/batch/read" : {
      "post" : {
        "tags" : [ "Flows" ],
        "summary" : "Retrieve multiple automation flows in a single request.",
        "description" : "Retrieve details of multiple automation flows by providing a batch of flow IDs in the request body. This endpoint allows for efficient retrieval of multiple flows at once, returning their details in a single response.",
        "operationId" : "post-/automation/v4/flows/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlow"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseApiFlowWithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows/email-campaigns" : {
      "get" : {
        "tags" : [ "Flow_Email_Campaigns" ],
        "summary" : "Retrieve email campaigns for automation flows.",
        "description" : "Retrieve a list of email campaigns associated with automation flows, with optional pagination using 'after', 'before', and 'limit' query parameters.",
        "operationId" : "get-/automation/v4/flows/email-campaigns",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A paging cursor token for retrieving subsequent pages.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "A paging cursor token for retrieving previous pages.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "flowId",
          "in" : "query",
          "description" : "A query parameter to filter email campaigns by their associated flow IDs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiFlowEmailCampaign"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/flows/{flowId}" : {
      "get" : {
        "tags" : [ "Flows" ],
        "summary" : "Retrieve a specific automation flow.",
        "description" : "Retrieve the details of a specific automation flow using its unique flow ID.",
        "operationId" : "get-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "description" : "The unique identifier for the automation flow to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      },
      "put" : {
        "tags" : [ "Flows" ],
        "summary" : "Update an existing automation flow.",
        "description" : "Update the details of an existing automation flow by providing the necessary information in the request body.",
        "operationId" : "put-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "description" : "The unique identifier for the automation flow to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiFlow"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Flows" ],
        "summary" : "Delete a specific automation flow.",
        "description" : "Delete an automation flow identified by its flow ID.",
        "operationId" : "delete-/automation/v4/flows/{flowId}",
        "parameters" : [ {
          "name" : "flowId",
          "in" : "path",
          "description" : "The unique identifier for the automation flow to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/workflow-id-mappings/batch/read" : {
      "post" : {
        "tags" : [ "Workflow_Id_Mappings" ],
        "summary" : "Retrieve batch workflow ID mappings.",
        "description" : "Retrieve mappings between flow IDs and workflow IDs in batch, allowing for efficient management of ID relationships.",
        "operationId" : "post-/automation/v4/workflow-id-mappings/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiFlowBatchMigrationInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseFlowIdWorkflowIdMappingResponseWithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiContactFlowPutRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlowPutRequest"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "customProperties", "isEnabled", "revisionId", "suppressionListIds", "timeWindows", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "startActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiAssociationTimestampDataSource" : {
        "title" : "ASSOCIATION_TIMESTAMP",
        "required" : [ "associationCategory", "associationTypeId", "name", "objectTypeId", "type" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "Defines the category of the association, with possible values being HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED.",
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the type of association.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "Specifies the name of the data source."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "Represents the ID of the object type associated with the data source."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the data source, which defaults to ASSOCIATION_TIMESTAMP.",
            "default" : "ASSOCIATION_TIMESTAMP",
            "enum" : [ "ASSOCIATION_TIMESTAMP" ]
          }
        }
      },
      "ApiPropertyBasedEnrollmentSchedule" : {
        "title" : "PROPERTY_BASED",
        "required" : [ "dateProperty", "daysDelta", "timeOfDay", "type", "yearly" ],
        "type" : "object",
        "properties" : {
          "dateProperty" : {
            "type" : "string",
            "description" : "The property used to determine the date for enrollment scheduling."
          },
          "daysDelta" : {
            "type" : "integer",
            "description" : "The number of days to adjust the enrollment date relative to the dateProperty.",
            "format" : "int32"
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of enrollment schedule, which is 'PROPERTY_BASED'.",
            "default" : "PROPERTY_BASED",
            "enum" : [ "PROPERTY_BASED" ]
          },
          "yearly" : {
            "type" : "boolean",
            "description" : "Indicates whether the enrollment schedule is set to repeat annually."
          }
        }
      },
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Defines the logical operator used to combine multiple filter branches."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Indicates the type of filter branch, defaulting to PROPERTY_ASSOCIATION.",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "Identifies the type of object associated with the filter branch."
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator applied to the property association filter."
          },
          "propertyWithObjectId" : {
            "type" : "string",
            "description" : "Specifies the property that includes the object ID for the filter."
          }
        }
      },
      "ApiBlockedDate" : {
        "required" : [ "dayOfMonth", "month" ],
        "type" : "object",
        "properties" : {
          "dayOfMonth" : {
            "type" : "integer",
            "description" : "The day of the month for the blocked date.",
            "format" : "int32"
          },
          "month" : {
            "type" : "string",
            "description" : "The month of the blocked date, with accepted values including: APRIL, AUGUST, DECEMBER, FEBRUARY, JANUARY, JULY, JUNE, MARCH, MAY, NOVEMBER, OCTOBER, SEPTEMBER.",
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "year" : {
            "type" : "integer",
            "description" : "The year of the blocked date.",
            "format" : "int32"
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects without a value set should be included."
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which defaults to 'NUMBER'.",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the number property operation."
          },
          "value" : {
            "type" : "number",
            "description" : "The numeric value involved in the operation."
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "The day component of the year reference, represented as an integer.",
            "format" : "int32"
          },
          "hour" : {
            "type" : "integer",
            "description" : "The hour component of the time in the year reference.",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "The millisecond component of the time in the year reference.",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "description" : "The minute component of the time in the year reference.",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "description" : "The month component of the year reference, represented as an integer.",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "description" : "Indicates the type of reference, defaulting to 'YEAR'.",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "The second component of the time in the year reference.",
            "format" : "int32"
          }
        }
      },
      "ApiFlowCreateRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowCreateRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowCreateRequest"
        } ]
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the filter metadata."
          },
          "inListType" : {
            "type" : "string",
            "description" : "Specifies the type of list associated with the filter."
          }
        }
      },
      "ApiCustomCodeAction" : {
        "title" : "CUSTOM_CODE",
        "required" : [ "actionId", "inputFields", "outputFields", "runtime", "secretNames", "sourceCode", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string",
            "description" : "The unique identifier for the custom code action."
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "inputFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiInputVariable"
            }
          },
          "outputFields" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiEnumerationOutputField"
              } ]
            }
          },
          "runtime" : {
            "type" : "string",
            "description" : "Specifies the runtime environment for the custom code action."
          },
          "secretNames" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "sourceCode" : {
            "type" : "string",
            "description" : "Contains the source code for the custom code action."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the action, which defaults to CUSTOM_CODE.",
            "default" : "CUSTOM_CODE",
            "enum" : [ "CUSTOM_CODE" ]
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Determines if objects without a set value should be included."
          },
          "lowerBound" : {
            "type" : "integer",
            "description" : "Specifies the lower limit for the date range.",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which is 'RANGED_DATE'.",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the date range operation."
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "Indicates whether time zone conversion is needed."
          },
          "upperBound" : {
            "type" : "integer",
            "description" : "Specifies the upper limit for the date range.",
            "format" : "int32"
          }
        }
      },
      "BatchResponseApiFlow" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process was completed, formatted as a date-time string.",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of URLs related to the batch process, empty for this operation."
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch request was initiated, formatted as a date-time string.",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiFlow"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process began, formatted as a date-time string.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch process, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to IN_LIST.",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "The identifier of the list used in the in-list filter."
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator used in the in-list filter."
          }
        }
      },
      "ApiFlowPutRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlowPutRequest"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlowPutRequest"
        } ]
      },
      "ApiActionDataValue" : {
        "title" : "FIELD_DATA",
        "required" : [ "actionId", "dataKey", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string",
            "description" : "The unique identifier for the action associated with the data value."
          },
          "dataKey" : {
            "type" : "string",
            "description" : "The key used to identify the specific data value within the action."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of data value, which defaults to FIELD_DATA.",
            "default" : "FIELD_DATA",
            "enum" : [ "FIELD_DATA" ]
          }
        }
      },
      "ApiMonthlySpecificDaysEnrollmentSchedule" : {
        "title" : "MONTHLY_SPECIFIC_DAYS",
        "required" : [ "daysOfMonth", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "daysOfMonth" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of enrollment schedule, which is 'MONTHLY_SPECIFIC_DAYS'.",
            "default" : "MONTHLY_SPECIFIC_DAYS",
            "enum" : [ "MONTHLY_SPECIFIC_DAYS" ]
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to SURVEY_MONKEY_VALUE.",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator used in the filter."
          },
          "surveyAnswerColId" : {
            "type" : "string",
            "description" : "The identifier for the column of the survey answer."
          },
          "surveyAnswerRowId" : {
            "type" : "string",
            "description" : "The identifier for the row of the survey answer."
          },
          "surveyId" : {
            "type" : "string",
            "description" : "The identifier for the survey."
          },
          "surveyQuestion" : {
            "type" : "string",
            "description" : "The text of the survey question."
          },
          "valueComparison" : {
            "description" : "Defines the criteria for comparing the survey answer value.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        }
      },
      "ApiConnection" : {
        "required" : [ "edgeType", "nextActionId" ],
        "type" : "object",
        "properties" : {
          "edgeType" : {
            "type" : "string",
            "description" : "Specifies the type of connection between actions in the automation flow."
          },
          "nextActionId" : {
            "type" : "string",
            "description" : "The identifier for the subsequent action in the automation sequence."
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "Defines the comparison operation used in the relative comparative timestamp refinement."
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of refinement, which defaults to RELATIVE_COMPARATIVE.",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "Identifies the business unit associated with the subscription filter."
          },
          "channel" : {
            "type" : "string",
            "description" : "Specifies the communication channel associated with the subscription filter."
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to COMMUNICATION_SUBSCRIPTION.",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "Defines the type of subscription related to the filter."
          }
        }
      },
      "ApiFlowBatchFetchMigrationWorkflowIdCoordinate" : {
        "title" : "WORKFLOW_ID",
        "required" : [ "flowMigrationStatusForClassicWorkflows", "type" ],
        "type" : "object",
        "properties" : {
          "flowMigrationStatusForClassicWorkflows" : {
            "type" : "string",
            "description" : "Indicates the migration status of classic workflows."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of coordinate, which defaults to WORKFLOW_ID.",
            "default" : "WORKFLOW_ID",
            "enum" : [ "WORKFLOW_ID" ]
          }
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string",
            "description" : "Specifies the type of range used for the timestamp refinement."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of timestamp refinement, which defaults to RELATIVE_RANGED.",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          },
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          }
        }
      },
      "ApiDailyEnrollmentSchedule" : {
        "title" : "DAILY",
        "required" : [ "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of enrollment schedule, which is 'DAILY'.",
            "default" : "DAILY",
            "enum" : [ "DAILY" ]
          }
        }
      },
      "ApiIncrementValue" : {
        "title" : "INCREMENT",
        "required" : [ "incrementAmount", "type" ],
        "type" : "object",
        "properties" : {
          "incrementAmount" : {
            "type" : "number",
            "description" : "Specifies the amount to increment."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the increment value, which defaults to INCREMENT.",
            "default" : "INCREMENT",
            "enum" : [ "INCREMENT" ]
          }
        }
      },
      "ApiTimestampValue" : {
        "title" : "TIMESTAMP",
        "required" : [ "timestampType", "type" ],
        "type" : "object",
        "properties" : {
          "timestampType" : {
            "type" : "string",
            "description" : "Specifies the type of timestamp, with the accepted value being EXECUTION_TIME.",
            "enum" : [ "EXECUTION_TIME" ]
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the timestamp value, which defaults to TIMESTAMP.",
            "default" : "TIMESTAMP",
            "enum" : [ "TIMESTAMP" ]
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "The number of days to offset in the index.",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "description" : "The number of hours to offset in the index.",
            "format" : "int32"
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "The number of milliseconds to offset in the index.",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "description" : "The number of minutes to offset in the index.",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "description" : "The number of months to offset in the index.",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "description" : "The number of quarters to offset in the index.",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "description" : "The number of seconds to offset in the index.",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "description" : "The number of weeks to offset in the index.",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "description" : "The number of years to offset in the index.",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Defines the logical operator used to combine multiple filter branches."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Indicates the type of filter branch, defaulting to NOT_ALL.",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "ApiListBasedEnrollmentCriteria" : {
        "title" : "LIST_BASED",
        "required" : [ "listFilterBranch", "reEnrollmentTriggersFilterBranches", "shouldReEnroll", "type", "unEnrollObjectsNotMeetingCriteria" ],
        "type" : "object",
        "properties" : {
          "listFilterBranch" : {
            "description" : "Defines the filter branch used to determine list-based enrollment criteria.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "reEnrollmentTriggersFilterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "shouldReEnroll" : {
            "type" : "boolean",
            "description" : "Determines if objects should be re-enrolled when they meet the criteria again."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of enrollment criteria, which defaults to 'LIST_BASED'.",
            "default" : "LIST_BASED",
            "enum" : [ "LIST_BASED" ]
          },
          "unEnrollObjectsNotMeetingCriteria" : {
            "type" : "boolean",
            "description" : "Indicates whether objects not meeting the criteria should be unenrolled."
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "Defines the criteria for refining form submissions, using one of several possible schemas such as PublicNumOccurrencesRefineBy or PublicRelativeComparativeTimestampRefineBy.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to FORM_SUBMISSION.",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "The unique identifier of the form used in the form submission filter."
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator used in the form submission filter, with accepted values being FILLED_OUT or NOT_FILLED_OUT.",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pruningRefineBy" : {
            "description" : "Specifies the criteria for pruning form submissions, using one of several possible schemas such as PublicNumOccurrencesRefineBy or PublicRelativeRangedTimestampRefineBy.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Determines if objects without a set value should be included."
          },
          "numberOfDays" : {
            "type" : "integer",
            "description" : "Indicates the number of days for the rolling date range.",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which defaults to 'ROLLING_DATE_RANGE'.",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the rolling date range operation."
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "Indicates whether time zone conversion is needed."
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "Defines the category of the association."
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "The ID representing the type of association.",
            "format" : "int32"
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Defines the logical operator used to combine multiple filter branches."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Indicates the type of filter branch, defaulting to ASSOCIATION.",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "Represents the ID of the object type associated with the filter branch."
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator applied to the association filter."
          }
        }
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "The day component of the quarter reference.",
            "format" : "int32"
          },
          "hour" : {
            "type" : "integer",
            "description" : "The hour component of the time in the quarter reference.",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "The millisecond component of the time in the quarter reference.",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "description" : "The minute component of the time in the quarter reference.",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "description" : "The month component of the quarter reference.",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "description" : "Indicates the type of reference, defaulting to 'QUARTER'.",
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "The second component of the time in the quarter reference.",
            "format" : "int32"
          }
        }
      },
      "ApiManualEnrollmentCriteria" : {
        "title" : "MANUAL",
        "required" : [ "shouldReEnroll", "type" ],
        "type" : "object",
        "properties" : {
          "shouldReEnroll" : {
            "type" : "boolean",
            "description" : "Indicates whether the enrollment should be repeated."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of enrollment criteria, which is 'MANUAL'.",
            "default" : "MANUAL",
            "enum" : [ "MANUAL" ]
          }
        }
      },
      "ApiFlow" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/ApiContactFlow"
        }, {
          "$ref" : "#/components/schemas/ApiPlatformFlow"
        } ]
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "acceptedStatuses" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to EMAIL_SUBSCRIPTION.",
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "Specifies the type of subscription associated with the email subscription filter."
          }
        }
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects without a value set should be included."
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which defaults to 'ENUMERATION'.",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the enumeration property operation."
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ApiWeeklyEnrollmentSchedule" : {
        "title" : "WEEKLY",
        "required" : [ "daysOfWeek", "timeOfDay", "type" ],
        "type" : "object",
        "properties" : {
          "daysOfWeek" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" ]
            }
          },
          "timeOfDay" : {
            "$ref" : "#/components/schemas/ApiTimeOfDay"
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of enrollment schedule, which is 'WEEKLY'.",
            "default" : "WEEKLY",
            "enum" : [ "WEEKLY" ]
          }
        }
      },
      "ApiSort" : {
        "required" : [ "order", "property" ],
        "type" : "object",
        "properties" : {
          "missing" : {
            "type" : "string",
            "description" : "Specifies how to handle sorting when the property is missing."
          },
          "order" : {
            "type" : "string",
            "description" : "The order of sorting, with accepted values being ASC for ascending and DESC for descending.",
            "enum" : [ "ASC", "DESC" ]
          },
          "property" : {
            "type" : "string",
            "description" : "The name of the property to sort by."
          }
        }
      },
      "ApiInputVariable" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the input variable."
          },
          "value" : {
            "description" : "The value associated with the input variable, which can be of various types such as action data, object property, static value, relative date-time, timestamp, increment value, fetched object property, appended object property, static appended value, or enrollment event property.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ApiActionDataValue"
            }, {
              "$ref" : "#/components/schemas/ApiObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticValue"
            }, {
              "$ref" : "#/components/schemas/ApiRelativeDateTimeValue"
            }, {
              "$ref" : "#/components/schemas/ApiTimestampValue"
            }, {
              "$ref" : "#/components/schemas/ApiIncrementValue"
            }, {
              "$ref" : "#/components/schemas/ApiFetchedObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiAppendObjectPropertyValue"
            }, {
              "$ref" : "#/components/schemas/ApiStaticAppendValue"
            }, {
              "$ref" : "#/components/schemas/ApiEnrollmentEventPropertyValue"
            } ]
          }
        }
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string",
            "description" : "Describes the behavior of the endpoint in relation to the operation."
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects without a set value should be included in the operation."
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which defaults to 'TIME_POINT'.",
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the time point operation."
          },
          "propertyParser" : {
            "type" : "string",
            "description" : "Defines the parser used to interpret the property value in the operation."
          },
          "timePoint" : {
            "description" : "Specifies the point in time used for the operation, which can be a date, indexed time, or property-referenced time.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the specific type of the operation."
          }
        }
      },
      "ApiEnumerationOutputField" : {
        "title" : "ENUMERATION",
        "required" : [ "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the enumeration output field."
          },
          "options" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies that the type of the field is 'ENUMERATION'.",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          }
        }
      },
      "ApiABTestBranchAction" : {
        "title" : "AB_TEST_BRANCH",
        "required" : [ "actionId", "testBranches", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string",
            "description" : "The unique identifier for the A/B test branch action."
          },
          "testBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiConnection"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of action, which defaults to AB_TEST_BRANCH.",
            "default" : "AB_TEST_BRANCH",
            "enum" : [ "AB_TEST_BRANCH" ]
          }
        }
      },
      "ApiSingleConnectionAction" : {
        "title" : "SINGLE_CONNECTION",
        "required" : [ "actionId", "actionTypeId", "actionTypeVersion", "fields", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string",
            "description" : "The unique identifier for the single connection action."
          },
          "actionTypeId" : {
            "type" : "string",
            "description" : "The identifier for the type of action being performed."
          },
          "actionTypeVersion" : {
            "type" : "integer",
            "description" : "Specifies the version of the action type.",
            "format" : "int32"
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "Contains the fields associated with the single connection action."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the action, which defaults to SINGLE_CONNECTION.",
            "default" : "SINGLE_CONNECTION",
            "enum" : [ "SINGLE_CONNECTION" ]
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of refinement, which defaults to ALL_HISTORY.",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          }
        },
        "description" : "Ye olde error"
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Defines the logical operator used to combine multiple filter branches."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Indicates the type of filter branch, defaulting to NOT_ANY.",
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "Specifies the reference point for the index, which can be one of several predefined time references such as NOW, TODAY, or specific fiscal periods.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timeType" : {
            "type" : "string",
            "description" : "Indicates the type of time point, which defaults to INDEXED.",
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "Specifies the source of the time zone information for the indexed time point."
          },
          "zoneId" : {
            "type" : "string",
            "description" : "Defines the time zone identifier used for the indexed time point."
          }
        }
      },
      "ApiContactFlow" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApiFlow"
        }, {
          "required" : [ "actions", "blockedDates", "canEnrollFromSalesforce", "createdAt", "crmObjectCreationStatus", "customProperties", "dataSources", "flowType", "id", "isEnabled", "nextAvailableActionId", "objectTypeId", "revisionId", "suppressionListIds", "timeWindows", "type", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "default" : "CONTACT_FLOW",
              "enum" : [ "CONTACT_FLOW", "PLATFORM_FLOW" ]
            },
            "id" : {
              "type" : "string"
            },
            "isEnabled" : {
              "type" : "boolean"
            },
            "flowType" : {
              "type" : "string",
              "enum" : [ "WORKFLOW", "ACTION_SET", "UNKNOWN" ]
            },
            "revisionId" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "description" : {
              "type" : "string"
            },
            "uuid" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "startActionId" : {
              "type" : "string"
            },
            "nextAvailableActionId" : {
              "type" : "string"
            },
            "actions" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiStaticBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiListBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiABTestBranchAction"
                }, {
                  "$ref" : "#/components/schemas/ApiCustomCodeAction"
                }, {
                  "$ref" : "#/components/schemas/ApiWebhookAction"
                }, {
                  "$ref" : "#/components/schemas/ApiSingleConnectionAction"
                } ]
              }
            },
            "enrollmentCriteria" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiListBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiEventBasedEnrollmentCriteria"
              }, {
                "$ref" : "#/components/schemas/ApiManualEnrollmentCriteria"
              } ]
            },
            "enrollmentSchedule" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiDailyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiWeeklyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlySpecificDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiMonthlyRelativeDaysEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiYearlyEnrollmentSchedule"
              }, {
                "$ref" : "#/components/schemas/ApiPropertyBasedEnrollmentSchedule"
              } ]
            },
            "timeWindows" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiTimeWindow"
              }
            },
            "blockedDates" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ApiBlockedDate"
              }
            },
            "customProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            },
            "dataSources" : {
              "type" : "array",
              "items" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/ApiAssociationDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiAssociationTimestampDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiStaticPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledRecordPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiDatasetFieldPropertyFilterDataSource"
                }, {
                  "$ref" : "#/components/schemas/ApiEnrolledArgumentPropertyFilterDataSource"
                } ]
              }
            },
            "crmObjectCreationStatus" : {
              "type" : "string",
              "enum" : [ "PENDING", "COMPLETE" ]
            },
            "suppressionListIds" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int32"
              }
            },
            "goalFilterBranch" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            },
            "canEnrollFromSalesforce" : {
              "type" : "boolean"
            },
            "eventAnchor" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ApiContactPropertyAnchor"
              }, {
                "$ref" : "#/components/schemas/ApiStaticDateAnchor"
              } ]
            },
            "unEnrollmentSetting" : {
              "$ref" : "#/components/schemas/ApiUnEnrollmentSetting"
            },
            "objectTypeId" : {
              "type" : "string"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ApiStaticTimeZoneStrategy" : {
        "title" : "STATIC_TIME_ZONE",
        "required" : [ "timeZoneId", "type" ],
        "type" : "object",
        "properties" : {
          "timeZoneId" : {
            "type" : "string",
            "description" : "The identifier for the time zone."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of time zone strategy, which defaults to STATIC_TIME_ZONE.",
            "default" : "STATIC_TIME_ZONE",
            "enum" : [ "STATIC_TIME_ZONE" ]
          }
        }
      },
      "ApiAppendObjectPropertyValue" : {
        "title" : "APPEND_OBJECT_PROPERTY",
        "required" : [ "appendPropertyName", "type" ],
        "type" : "object",
        "properties" : {
          "appendPropertyName" : {
            "type" : "string",
            "description" : "The name of the property to which a value will be appended."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the action, which defaults to APPEND_OBJECT_PROPERTY.",
            "default" : "APPEND_OBJECT_PROPERTY",
            "enum" : [ "APPEND_OBJECT_PROPERTY" ]
          }
        }
      },
      "ApiListBranch" : {
        "type" : "object",
        "properties" : {
          "branchName" : {
            "type" : "string",
            "description" : "Specifies the name of the branch."
          },
          "connection" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "filterBranch" : {
            "description" : "Defines the filter criteria for the branch, using logical operators and conditions.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          }
        }
      },
      "ApiListBranchAction" : {
        "title" : "LIST_BRANCH",
        "required" : [ "actionId", "listBranches", "type" ],
        "type" : "object",
        "properties" : {
          "actionId" : {
            "type" : "string",
            "description" : "The unique identifier for the list branch action."
          },
          "defaultBranch" : {
            "$ref" : "#/components/schemas/ApiConnection"
          },
          "defaultBranchName" : {
            "type" : "string",
            "description" : "The name of the default branch in the list action."
          },
          "listBranches" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiListBranch"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of action, which defaults to LIST_BRANCH.",
            "default" : "LIST_BRANCH",
            "enum" : [ "LIST_BRANCH" ]
          }
        }
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Determines if objects without a set value should be included in the operation."
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string",
            "description" : "Indicates the behavior at the lower bound endpoint of the time range."
          },
          "lowerBoundTimePoint" : {
            "description" : "Defines the lower limit for the time range.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which is 'TIME_RANGED'."
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operator used in the time range operation."
          },
          "propertyParser" : {
            "type" : "string",
            "description" : "Specifies the parser used for the property in the operation."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of operation, which defaults to 'TIME_RANGED'.",
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "upperBoundEndpointBehavior" : {
            "type" : "string",
            "description" : "Indicates the behavior at the upper bound endpoint of the time range."
          },
          "upperBoundTimePoint" : {
            "description" : "Defines the upper limit for the time range.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        }
      },
      "PublicWebinarFilter" : {
        "title" : "WEBINAR",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which defaults to WEBINAR.",
            "default" : "WEBINAR",
            "enum" : [ "WEBINAR" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operator used in the webinar filter."
          },
          "webinarId" : {
            "type" : "string",
            "description" : "The identifier for the webinar used in the filter."
          }
        }
      },
      "ApiEnrollmentEventPropertyValue" : {
        "title" : "ENROLLMENT_EVENT_PROPERTY",
        "required" : [ "enrollmentEventPropertyToken", "type" ],
        "type" : "object",
        "properties" : {
          "enrollmentEventPropertyToken" : {
            "type" : "string",
            "description" : "The token used to identify the specific enrollment event property."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of the enrollment event property, which defaults to ENROLLMENT_EVENT_PROPERTY.",
            "default" : "ENROLLMENT_EVENT_PROPERTY",
            "enum" : [ "ENROLLMENT_EVENT_PROPERTY" ]
          }
        }
      },
      "PublicUnifiedEventsFilterBranch" : {
        "title" : "UNIFIED_EVENTS",
        "required" : [ "eventTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "Defines the criteria for refining events, using one of several possible schemas such as PublicNumOccurrencesRefineBy or PublicRelativeComparativeTimestampRefineBy.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "eventTypeId" : {
            "type" : "string",
            "description" : "The identifier for the type of event associated with the unified events filter branch."
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Defines the logical operator used to combine multiple filter branches."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Indicates the type of filter branch, defaulting to UNIFIED_EVENTS.",
            "default" : "UNIFIED_EVENTS",
            "enum" : [ "UNIFIED_EVENTS" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
[...]
