{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Actions V4",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v4",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL",
      "commerce" : "PROFESSIONAL",
      "crmHub" : "PROFESSIONAL",
      "dataHub" : "PROFESSIONAL"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Workflow Actions Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/automation/custom-workflow-actions"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Callbacks"
  }, {
    "name" : "Definitions"
  }, {
    "name" : "Functions"
  }, {
    "name" : "Revisions"
  } ],
  "paths" : {
    "/automation/v4/actions/callbacks/complete" : {
      "post" : {
        "tags" : [ "Callbacks" ],
        "summary" : "Complete a batch of callbacks",
        "description" : "Complete a batch of blocked action executions.",
        "operationId" : "post-/automation/v4/actions/callbacks/complete_completeBatch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputCallbackCompletionBatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/actions/callbacks/{callbackId}/complete" : {
      "post" : {
        "tags" : [ "Callbacks" ],
        "summary" : "Completes a callback",
        "description" : "Complete a specific blocked action execution by ID.",
        "operationId" : "post-/automation/v4/actions/callbacks/{callbackId}/complete_complete",
        "parameters" : [ {
          "name" : "callbackId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CallbackCompletionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        }, {
          "private_apps" : [ "automation" ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "summary" : "Retrieve custom action definitions",
        "description" : "Retrieve custom workflow action definitions by app ID.",
        "operationId" : "get-/automation/v4/actions/{appId}_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Definitions" ],
        "summary" : "Create a new custom action definition",
        "description" : "Create a new custom workflow action.",
        "operationId" : "post-/automation/v4/actions/{appId}_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "summary" : "Retrieve a custom action definition",
        "description" : "Retrieve a custom workflow action definition by ID.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Definitions" ],
        "summary" : "Delete an action definition",
        "description" : "Delete an action definition by ID.",
        "operationId" : "delete-/automation/v4/actions/{appId}/{definitionId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Definitions" ],
        "summary" : "Update an existing action definition",
        "description" : "Update an existing action definition by ID.",
        "operationId" : "patch-/automation/v4/actions/{appId}/{definitionId}_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/functions" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve functions for a given definition",
        "description" : "Retrieve all functions included in a definition.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/functions_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionFunctionIdentifierNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve functions by a type for a given definition",
        "description" : "Retrieve functions of a specific type for a given definition.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_getByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunction"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Functions" ],
        "summary" : "Insert a function for a definition",
        "description" : "Add a function for a given definition.",
        "operationId" : "put-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_createOrReplaceByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Functions" ],
        "summary" : "Delete a function for a definition",
        "description" : "Delete a function within a given definition.",
        "operationId" : "delete-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_archiveByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve a function from a given definition",
        "description" : "Retrieve a specific function from a given definition.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunction"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Functions" ],
        "summary" : "Update a function for a definition",
        "description" : "Update a function for a given definition by ID.",
        "operationId" : "put-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_createOrReplace",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Functions" ],
        "summary" : "Archive a function for a definition",
        "description" : "Archive a function for a specific definition.",
        "operationId" : "delete-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/requires-object" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinitionRequiresObjectResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Definitions" ],
        "operationId" : "post-/automation/v4/actions/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionRequiresObjectRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/revisions" : {
      "get" : {
        "tags" : [ "Revisions" ],
        "summary" : "Retrieve revisions for a given definition",
        "description" : "Retrieve the versions of a definition by ID.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/revisions_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionRevisionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/v4/actions/{appId}/{definitionId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Revisions" ],
        "summary" : "Retrieve a specific revision of a definition",
        "description" : "Retrieve a specific revision of a definition by revision ID.",
        "operationId" : "get-/automation/v4/actions/{appId}/{definitionId}/revisions/{revisionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionRevision"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "TestRequestContext" : {
        "title" : "TEST",
        "required" : [ "source" ],
        "type" : "object",
        "properties" : {
          "source" : {
            "type" : "string",
            "example" : null,
            "default" : "TEST",
            "enum" : [ "TEST" ]
          }
        },
        "example" : null
      },
      "PublicActionFunction" : {
        "required" : [ "functionSource", "functionType" ],
        "type" : "object",
        "properties" : {
          "functionSource" : {
            "type" : "string",
            "example" : null
          },
          "functionType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          },
          "id" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFieldTypeDefinition" : {
        "required" : [ "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea" ]
          },
          "helpText" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicOption"
            }
          },
          "optionsUrl" : {
            "type" : "string",
            "example" : null
          },
          "referencedObjectType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "OWNER" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "bool", "date", "datetime", "enumeration", "json", "number", "object_coordinates", "phone_number", "string" ]
          }
        },
        "example" : null
      },
      "PublicActionDefinition" : {
        "required" : [ "actionUrl", "functions", "id", "inputFields", "labels", "objectTypes", "published", "revisionId" ],
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "example" : null
          },
          "archivedAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "functions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
            }
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "example" : null
          },
          "revisionId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicOption" : {
        "required" : [ "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionRequiresObjectResponse" : {
        "required" : [ "requiresObject" ],
        "type" : "object",
        "properties" : {
          "requiresObject" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicConditionalSingleFieldDependency" : {
        "title" : "CONDITIONAL_SINGLE_FIELD",
        "required" : [ "controllingFieldName", "controllingFieldValue", "dependencyType", "dependentFieldNames" ],
        "type" : "object",
        "properties" : {
          "controllingFieldName" : {
            "type" : "string",
            "example" : null
          },
          "controllingFieldValue" : {
            "type" : "string",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "example" : null,
            "default" : "CONDITIONAL_SINGLE_FIELD",
            "enum" : [ "CONDITIONAL_SINGLE_FIELD" ]
          },
          "dependentFieldNames" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ChirpAiContextObject" : {
        "required" : [ "applicationGroup", "applicationId", "metadata", "otelContextHolder", "unstructuredSources" ],
        "type" : "object",
        "properties" : {
          "applicationGroup" : {
            "type" : "string",
            "example" : null
          },
          "applicationId" : {
            "type" : "string",
            "example" : null
          },
          "complianceIds" : {
            "$ref" : "#/components/schemas/ComplianceIds"
          },
          "featureId" : {
            "type" : "string",
            "example" : null
          },
          "inferenceId" : {
            "type" : "string",
            "example" : null
          },
          "metadata" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "otelContextHolder" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "trajectoryId" : {
            "type" : "string",
            "format" : "uuid",
            "example" : null
          },
          "unstructuredSources" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "NONE", "USER_INPUT", "LOGGED_EMAIL", "VIDEO_CALL", "AUDIO_CALL", "CALL_TRANSCRIPT", "MEETING_TRANSCRIPT", "FORMS", "FEEDBACK_SURVEY", "PDF", "QUOTE", "INVOICE", "OTHER_ATTACHMENT_DOC", "WHATSAPP", "SMS", "CHAT", "FACEBOOK_MESSENGER", "CUSTOM_CHANNEL_OR_API", "MANY", "NOTE", "DERIVED" ]
            }
          }
        },
        "example" : null
      },
      "AgentRequestContext" : {
        "title" : "AGENTS",
        "required" : [ "agentId", "chirpAiContextObject", "source" ],
        "type" : "object",
        "properties" : {
          "agentId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "chirpAiContextObject" : {
            "$ref" : "#/components/schemas/ChirpAiContextObject"
          },
          "source" : {
            "type" : "string",
            "example" : null,
            "default" : "AGENTS",
            "enum" : [ "AGENTS" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactId" : {
        "required" : [ "portalId" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "vid" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "DoubleFieldSchema" : {
        "title" : "DOUBLE",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "number",
            "example" : null
          },
          "minimum" : {
            "type" : "number",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "DOUBLE",
            "enum" : [ "DOUBLE" ]
          }
        },
        "example" : null
      },
      "PublicObjectRequestOptions" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "LongFieldSchema" : {
        "title" : "LONG",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "minimum" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "LONG",
            "enum" : [ "LONG" ]
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionLabels" : {
        "required" : [ "actionName" ],
        "type" : "object",
        "properties" : {
          "actionCardContent" : {
            "type" : "string",
            "example" : null
          },
          "actionDescription" : {
            "type" : "string",
            "example" : null
          },
          "actionName" : {
            "type" : "string",
            "example" : null
          },
          "appDisplayName" : {
            "type" : "string",
            "example" : null
          },
          "executionRules" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "inputFieldDescriptions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "inputFieldLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "inputFieldOptionLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            },
            "example" : null
          },
          "outputFieldLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSingleFieldDependency" : {
        "title" : "SINGLE_FIELD",
        "required" : [ "controllingFieldName", "dependencyType", "dependentFieldNames" ],
        "type" : "object",
        "properties" : {
          "controllingFieldName" : {
            "type" : "string",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "example" : null,
            "default" : "SINGLE_FIELD",
            "enum" : [ "SINGLE_FIELD" ]
          },
          "dependentFieldNames" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ActionExecutionIndexIdentifier" : {
        "required" : [ "actionExecutionIndex", "enrollmentId" ],
        "type" : "object",
        "properties" : {
          "actionExecutionIndex" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "enrollmentId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "PublicInputFieldDefinition" : {
        "required" : [ "isRequired", "typeDefinition" ],
        "type" : "object",
        "properties" : {
          "isRequired" : {
            "type" : "boolean",
            "example" : null
          },
          "supportedValueTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "STATIC_VALUE", "OBJECT_PROPERTY" ]
            }
          },
          "typeDefinition" : {
            "$ref" : "#/components/schemas/PublicFieldTypeDefinition"
          }
        },
        "example" : null
      },
      "FieldTypeDefinition" : {
        "required" : [ "externalOptions", "name", "options", "schema", "type", "useChirp" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "example" : null
          },
          "externalOptionsReferenceType" : {
            "type" : "string",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "calculation_read_time", "calculation_rollup", "calculation_score", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea", "unknown" ]
          },
          "helpText" : {
            "type" : "string",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "optionsUrl" : {
            "type" : "string",
            "example" : null
          },
          "referencedObjectType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "schema" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/IntegerFieldSchema"
            }, {
              "$ref" : "#/components/schemas/LongFieldSchema"
            }, {
              "$ref" : "#/components/schemas/DoubleFieldSchema"
            }, {
              "$ref" : "#/components/schemas/StringFieldSchema"
            }, {
              "$ref" : "#/components/schemas/BooleanFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ArrayFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ObjectFieldSchema"
            } ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "bool", "currency_number", "date", "datetime", "enumeration", "json", "number", "object_coordinates", "phone_number", "string" ]
          },
          "useChirp" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicActionFunctionIdentifierNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
            }
          }
        },
        "example" : null
      },
      "StandaloneRequestContext" : {
        "title" : "STANDALONE",
        "required" : [ "chirpAiContextObject", "source" ],
        "type" : "object",
        "properties" : {
          "chirpAiContextObject" : {
            "$ref" : "#/components/schemas/ChirpAiContextObject"
          },
          "source" : {
            "type" : "string",
            "example" : null,
            "default" : "STANDALONE",
            "enum" : [ "STANDALONE" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "IntegerFieldSchema" : {
        "title" : "INTEGER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "minimum" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "INTEGER",
            "enum" : [ "INTEGER" ]
          }
        },
        "example" : null
      },
      "PublicExecutionTranslationRule" : {
        "required" : [ "conditions", "labelName" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { },
              "example" : null
            },
            "example" : null
          },
          "labelName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "WorkflowsRequestContext" : {
        "title" : "WORKFLOWS",
        "required" : [ "source", "workflowId" ],
        "type" : "object",
        "properties" : {
          "actionExecutionIndexIdentifier" : {
            "$ref" : "#/components/schemas/ActionExecutionIndexIdentifier"
          },
          "actionId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "source" : {
            "type" : "string",
            "example" : null,
            "default" : "WORKFLOWS",
            "enum" : [ "WORKFLOWS" ]
          },
          "workflowId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ComplianceIds" : {
        "required" : [ "contactIds", "portalIds", "userIds" ],
        "type" : "object",
        "properties" : {
          "contactIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactId"
            }
          },
          "noContactIdReason" : {
            "type" : "string",
            "example" : null
          },
          "noPortalIdReason" : {
            "type" : "string",
            "example" : null
          },
          "noUserIdReason" : {
            "type" : "string",
            "example" : null
          },
          "portalIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "userIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicActionFunctionIdentifier" : {
        "required" : [ "functionType" ],
        "type" : "object",
        "properties" : {
          "functionType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          },
          "id" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionRevision" : {
        "required" : [ "createdAt", "definition", "id", "revisionId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "definition" : {
            "$ref" : "#/components/schemas/PublicActionDefinition"
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "revisionId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CallbackCompletionRequest" : {
        "required" : [ "outputFields", "typedOutputs" ],
        "type" : "object",
        "properties" : {
          "failureReasonType" : {
            "type" : "string",
            "example" : null
          },
          "outputFields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestContext" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/WorkflowsRequestContext"
            }, {
              "$ref" : "#/components/schemas/AgentRequestContext"
            }, {
              "$ref" : "#/components/schemas/CopilotRequestContext"
            }, {
              "$ref" : "#/components/schemas/StandaloneRequestContext"
            }, {
              "$ref" : "#/components/schemas/TestRequestContext"
            } ]
          },
          "typedOutputs" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicActionDefinitionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionDefinition"
            }
          }
        },
        "example" : null
      },
      "CopilotRequestContext" : {
        "title" : "COPILOT",
        "required" : [ "source" ],
        "type" : "object",
        "properties" : {
          "source" : {
            "type" : "string",
            "example" : null,
            "default" : "COPILOT",
            "enum" : [ "COPILOT" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponsePublicActionRevisionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionRevision"
            }
          }
        },
        "example" : null
      },
      "PublicActionDefinitionRequiresObjectRequest" : {
        "required" : [ "requiresObject" ],
        "type" : "object",
        "properties" : {
          "requiresObject" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "StringFieldSchema" : {
        "title" : "STRING",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "format" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DATE", "DATE_TIME", "OBJECT_COORDINATE", "TIME", "URI" ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "STRING",
            "enum" : [ "STRING" ]
          }
        },
        "example" : null
      },
      "CallbackCompletionBatchRequest" : {
        "required" : [ "callbackId", "outputFields", "typedOutputs" ],
        "type" : "object",
        "properties" : {
          "callbackId" : {
            "type" : "string",
            "example" : null
          },
          "failureReasonType" : {
            "type" : "string",
            "example" : null
          },
          "outputFields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestContext" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/WorkflowsRequestContext"
            }, {
              "$ref" : "#/components/schemas/AgentRequestContext"
            }, {
              "$ref" : "#/components/schemas/CopilotRequestContext"
            }, {
              "$ref" : "#/components/schemas/StandaloneRequestContext"
            }, {
              "$ref" : "#/components/schemas/TestRequestContext"
            } ]
          },
          "typedOutputs" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionEgg" : {
        "required" : [ "actionUrl", "functions", "inputFields", "labels", "objectTypes", "published" ],
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "example" : null
          },
          "archivedAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "functions" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunction"
            }
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputCallbackCompletionBatchRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CallbackCompletionBatchRequest"
            }
          }
        },
        "example" : null
      },
      "ArrayFieldSchema" : {
        "title" : "ARRAY",
        "required" : [ "items", "type" ],
        "type" : "object",
        "properties" : {
          "items" : {
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/IntegerFieldSchema"
            }, {
              "$ref" : "#/components/schemas/LongFieldSchema"
            }, {
              "$ref" : "#/components/schemas/DoubleFieldSchema"
            }, {
              "$ref" : "#/components/schemas/StringFieldSchema"
            }, {
              "$ref" : "#/components/schemas/BooleanFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ArrayFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ObjectFieldSchema"
            } ]
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "ARRAY",
            "enum" : [ "ARRAY" ]
          }
        },
        "example" : null
      },
      "BooleanFieldSchema" : {
        "title" : "BOOLEAN",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "BOOLEAN",
            "enum" : [ "BOOLEAN" ]
          }
        },
        "example" : null
      },
      "Option" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "doubleData" : {
            "type" : "number",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the option is displayed in HubSpot's UI.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly label that identifies the option.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "description" : "Whether the option is read-only.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The actual value of the option.",
            "example" : null
          }
        },
        "description" : "A HubSpot property option",
        "example" : null
      },
      "OutputFieldDefinition" : {
        "required" : [ "typeDefinition" ],
        "type" : "object",
        "properties" : {
          "typeDefinition" : {
            "$ref" : "#/components/schemas/FieldTypeDefinition"
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "ObjectFieldSchema" : {
        "title" : "OBJECT",
        "required" : [ "properties", "type" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "OBJECT",
            "enum" : [ "OBJECT" ]
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "automation" : "Read from and write to my Workflows"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "PROFESSIONAL",
    "commerce" : "PROFESSIONAL",
    "crmHub" : "PROFESSIONAL",
    "dataHub" : "PROFESSIONAL"
  }
}