{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Search"
  } ],
  "paths" : {
    "/crm/lists/2026-03" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03_/crm/lists/v3",
        "parameters" : [ {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "listIds",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/lists/2026-03_/crm/lists/v3",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/folders" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/folders_/crm/lists/v3/folders",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/lists/2026-03/folders_/crm/lists/v3/folders",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/folders/move-list" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/folders/move-list_/crm/lists/v3/folders/move-list",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/lists/2026-03/folders/{folderId}_/crm/lists/v3/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/folders/{folderId}/move/{newParentFolderId}_/crm/lists/v3/folders/{folderId}/move/{newParentFolderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/folders/{folderId}/rename_/crm/lists/v3/folders/{folderId}/rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/idmapping" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/idmapping_/crm/lists/v3/idmapping",
        "parameters" : [ {
          "name" : "legacyListId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMigrationMapping"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/lists/2026-03/idmapping_/crm/lists/v3/idmapping",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBatchMigrationMapping"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/object-type-id/{objectTypeId}/name/{listName}_/crm/lists/v3/object-type-id/{objectTypeId}/name/{listName}",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/records/memberships/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/crm/lists/2026-03/records/memberships/batch/read_/crm/lists/v3/records/memberships/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputRecordIdInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseRecordIdWithMemberships"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseRecordIdWithMembershipsWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/records/{objectTypeId}/{recordId}/memberships_/crm/lists/v3/records/{objectTypeId}/{recordId}/memberships",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembership"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/search" : {
      "post" : {
        "tags" : [ "Search" ],
        "operationId" : "post-/crm/lists/2026-03/search_/crm/lists/v3/search",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/{listId}_/crm/lists/v3/{listId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/lists/2026-03/{listId}_/crm/lists/v3/{listId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/{listId}/memberships_/crm/lists/v3/{listId}/memberships",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/lists/2026-03/{listId}/memberships_/crm/lists/v3/{listId}/memberships",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/memberships/add_/crm/lists/v3/{listId}/memberships/add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/memberships/add-and-remove_/crm/lists/v3/{listId}/memberships/add-and-remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/memberships/add-from/{sourceListId}_/crm/lists/v3/{listId}/memberships/add-from/{sourceListId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships/join-order" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/{listId}/memberships/join-order_/crm/lists/v3/{listId}/memberships/join-order",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/memberships/remove_/crm/lists/v3/{listId}/memberships/remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/restore" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/restore_/crm/lists/v3/{listId}/restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/schedule-conversion" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/{listId}/schedule-conversion_/crm/lists/v3/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/schedule-conversion_/crm/lists/v3/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicListConversionTime"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/lists/2026-03/{listId}/schedule-conversion_/crm/lists/v3/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/size-and-edits-history/between" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/lists/2026-03/{listId}/size-and-edits-history/between_/crm/lists/2026-03/{listId}/size-and-edits-history/between",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSizeAndEditHistoryResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read" ]
        }, {
          "oauth2" : [ "ils-lists-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/update-list-filters_/crm/lists/v3/{listId}/update-list-filters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/lists/2026-03/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Basic" ],
        "operationId" : "put-/crm/lists/2026-03/{listId}/update-list-name_/crm/lists/v3/{listId}/update-list-name",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "oauth2" : [ "ils-lists-read", "ils-lists-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "The logical operator used to combine filters within the branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "The type of the filter branch (PROPERTY_ASSOCIATION).",
            "example" : null,
            "enum" : [ "PROPERTY_ASSOCIATION" ],
            "default" : "PROPERTY_ASSOCIATION"
          },
          "filterBranches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The ID representing the type of object associated with the filter branch.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the filter branch (IN_LIST, NOT_IN_LIST).",
            "example" : null
          },
          "propertyWithObjectId" : {
            "type" : "string",
            "description" : "The property that is associated with the object ID in the filter branch.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (NUMBER).",
            "example" : null,
            "enum" : [ "NUMBER" ],
            "default" : "NUMBER"
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied in the number property operation (IS_EQUAL_TO, IS_NOT_EQUAL_TO, IS_GREATER_THAN, IS_GREATER_THAN_OR_EQUAL_TO, IS_LESS_THAN, IS_LESS_THAN_OR_EQUAL_TO, HAS_EVER_BEEN_EQUAL_TO, HAS_NEVER_BEEN_EQUAL_TO).",
            "example" : null
          },
          "value" : {
            "type" : "number",
            "description" : "The numeric value to be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "The day component of the year reference.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "The hour component of the year reference.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "The millisecond component of the year reference.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "The minute component of the year reference.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "The month component of the year reference.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "Indicates the type of reference (YEAR).",
            "example" : null,
            "enum" : [ "YEAR" ],
            "default" : "YEAR"
          },
          "second" : {
            "type" : "integer",
            "description" : "The second component of the year reference.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The identifier for the filter metadata.",
            "example" : null
          },
          "inListType" : {
            "type" : "string",
            "description" : "Specifies the type of list for the filter (WORKFLOWS_ENROLLMENT, WORKFLOWS_ACTIVE, WORKFLOWS_GOAL, WORKFLOWS_COMPLETED, IMPORT, DATASET, DATASETS).",
            "example" : null
          }
        },
        "example" : null
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        },
        "example" : null
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Specifies whether objects without a set value should be included in the operation.",
            "example" : null
          },
          "lowerBound" : {
            "type" : "integer",
            "description" : "The lower limit of the date range for the operation.",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (RANGED_DATE).",
            "example" : null,
            "enum" : [ "RANGED_DATE" ],
            "default" : "RANGED_DATE"
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied in the ranged date property operation (IS_BETWEEN, IS_NOT_BETWEEN).",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "Indicates whether the operation requires conversion to a different time zone.",
            "example" : null
          },
          "upperBound" : {
            "type" : "integer",
            "description" : "The upper limit of the date range for the operation.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "listIds", "offset", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "array",
            "description" : "The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.\n\nBy default, all requests will fetch the following properties for each list: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name`, and `hs_list_reference_count`.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "count" : {
            "type" : "integer",
            "description" : "The number of lists to include in the response. Defaults to `20` if no value is provided. The max `count` is `500`.",
            "format" : "int32",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "description" : "ILS list ids to be included in search results. If not specified, all lists matching other criteria will be included",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "offset" : {
            "type" : "integer",
            "description" : "Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.",
            "format" : "int32",
            "example" : null
          },
          "processingTypes" : {
            "type" : "array",
            "description" : "List processing types to be included in search results. If not specified, all lists with all processing types will be included.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "query" : {
            "type" : "string",
            "description" : "The `query` that will be used to search for lists by list name. If no `query` is provided, then the results will include all lists.",
            "example" : null
          },
          "sort" : {
            "type" : "string",
            "description" : "Sort field and order",
            "example" : null
          }
        },
        "example" : null
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean",
            "description" : "Whether or not there are more results to page through.",
            "example" : null
          },
          "lists" : {
            "type" : "array",
            "description" : "The lists that matched the search criteria.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "Value to be passed in a future request to paginate through list search results.",
            "format" : "int32",
            "example" : null
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of lists that match the search criteria.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter being applied (IN_LIST).",
            "example" : null,
            "enum" : [ "IN_LIST" ],
            "default" : "IN_LIST"
          },
          "listId" : {
            "type" : "string",
            "description" : "The ID of the list used in the association filter.",
            "example" : null
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operation to be performed by the filter (IN_LIST, NOT_IN_LIST).",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BatchResponseRecordIdWithMembershipsWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RecordIdWithMemberships"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Defines the type of filter (SURVEY_MONKEY_VALUE).",
            "example" : null,
            "enum" : [ "SURVEY_MONKEY_VALUE" ],
            "default" : "SURVEY_MONKEY_VALUE"
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the filter (HAS_ANSWERED_SURVEY_QUESTION_WITH_VALUE).",
            "example" : null
          },
          "surveyAnswerColId" : {
            "type" : "string",
            "description" : "The column ID of the survey answer used in the filter.",
            "example" : null
          },
          "surveyAnswerRowId" : {
            "type" : "string",
            "description" : "The row ID of the survey answer used in the filter.",
            "example" : null
          },
          "surveyId" : {
            "type" : "string",
            "description" : "The ID of the survey used in the filter.",
            "example" : null
          },
          "surveyQuestion" : {
            "type" : "string",
            "description" : "The question from the survey used in the filter.",
            "example" : null
          },
          "valueComparison" : {
            "description" : "Specifies the operation used to compare the survey answer value.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "Defines the comparison operation to be used in the refinement (BEFORE, AFTER).",
            "example" : null
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of refinement, (RELATIVE_COMPARATIVE).",
            "example" : null,
            "enum" : [ "RELATIVE_COMPARATIVE" ],
            "default" : "RELATIVE_COMPARATIVE"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "The object list definitions.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        },
        "example" : null
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "acceptedOptStates" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "The ID of the business unit associated with the subscription filter.",
            "example" : null
          },
          "channel" : {
            "type" : "string",
            "description" : "Specifies the communication channel associated with the subscription filter (EMAIL, WHATSAPP, SMS).",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which is (COMMUNICATION_SUBSCRIPTION)",
            "example" : null,
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ],
            "default" : "COMMUNICATION_SUBSCRIPTION"
          },
          "subscriptionIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "Defines the type of subscription related to the filter (PORTAL_WIDE, BUSINESS_UNIT_WIDE, INDIVIDUAL_SUBSCRIPTION)",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicObjectListSearchResult" : {
        "required" : [ "additionalProperties", "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "The name and value of any additional properties that exist for this list and that were included in the search request.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The time when the list was created.",
            "format" : "date-time",
            "example" : null
          },
          "createdById" : {
            "type" : "string",
            "description" : "The ID of the user that created the list.",
            "example" : null
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "The time when the list was deleted.",
            "format" : "date-time",
            "example" : null
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "The time when the filters for this list were last updated.",
            "format" : "date-time",
            "example" : null
          },
          "listId" : {
            "type" : "string",
            "description" : "The **ILS ID** of the list.",
            "example" : null
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "The version of the list.",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the list.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The object type of the list.",
            "example" : null
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "The processing status of the list.",
            "example" : null
          },
          "processingType" : {
            "type" : "string",
            "description" : "The processing type of the list.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The time the list was last updated.",
            "format" : "date-time",
            "example" : null
          },
          "updatedById" : {
            "type" : "string",
            "description" : "The ID of the user that last updated the list.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string",
            "description" : "Specifies the type of range for the refinement criteria (BETWEEN, NOT_BETWEEN).",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of refinement (RELATIVE_RANGED).",
            "example" : null,
            "enum" : [ "RELATIVE_RANGED" ],
            "default" : "RELATIVE_RANGED"
          },
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "The number of days to offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "The number of hours to offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "The number of milliseconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "The number of minutes to offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "The number of months to offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "The number of quarters to offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "The number of seconds to offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "The number of weeks to offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "The number of years to offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "The operator used to combine filters within the branch (NOT_ALL).",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "The type of the filter branch (NOT_ALL).",
            "example" : null,
            "enum" : [ "NOT_ALL" ],
            "default" : "NOT_ALL"
          },
          "filterBranches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicBatchMigrationMapping" : {
        "required" : [ "legacyListIdsToIdsMapping", "missingLegacyListIds" ],
        "type" : "object",
        "properties" : {
          "legacyListIdsToIdsMapping" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicMigrationMapping"
            }
          },
          "missingLegacyListIds" : {
            "type" : "array",
            "description" : "A list of legacy list ids that were passed in but not found. It will be empty if no id's are missing",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "Specifies the criteria for refining the filter by coalescing.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter (FORM_SUBMISSION).",
            "example" : null,
            "enum" : [ "FORM_SUBMISSION" ],
            "default" : "FORM_SUBMISSION"
          },
          "formId" : {
            "type" : "string",
            "description" : "The ID of the form used in the filter.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operation to be performed (FILLED_OUT, NOT_FILLED_OUT).",
            "example" : null,
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pruningRefineBy" : {
            "description" : "Specifies the criteria for refining the filter by pruning.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicListConversionInactivity" : {
        "title" : "INACTIVITY",
        "required" : [ "conversionType", "offset", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "conversionType" : {
            "type" : "string",
            "description" : "Specifies the type of conversion (INACTIVITY).",
            "example" : null,
            "enum" : [ "INACTIVITY" ],
            "default" : "INACTIVITY"
          },
          "offset" : {
            "type" : "integer",
            "description" : "Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.",
            "format" : "int32",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "The unit of time for the inactivity period, such as (DAY, MONTH, WEEK).",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "WEEK" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "numberOfDays" : {
            "type" : "integer",
            "description" : "The number of days to be considered in the rolling date range operation.",
            "format" : "int32",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (ROLLING_DATE_RANGE).",
            "example" : null,
            "enum" : [ "ROLLING_DATE_RANGE" ],
            "default" : "ROLLING_DATE_RANGE"
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the rolling date range property operation (IS_LESS_THAN_X_DAYS_AGO, IS_MORE_THAN_X_DAYS_AGO, IS_LESS_THAN_X_DAYS_FROM_NOW, IS_MORE_THAN_X_DAYS_FROM_NOW).",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "Specifies whether the operation requires conversion to a different time zone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ApiCollectionResponseJoinTimeAndRecordId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/JoinTimeAndRecordId"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of records that match the query.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicListPermissions" : {
        "required" : [ "teamsWithEditAccess", "usersWithEditAccess" ],
        "type" : "object",
        "properties" : {
          "teamsWithEditAccess" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "usersWithEditAccess" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "Specifies the category of the association for the filter branch (HUBSPOT_DEFINED, USER_DEFINED, INTEGRATOR_DEFINED, WORK).",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "Type id of the association",
            "format" : "int32",
            "example" : null
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "Filter branch operator (AND)",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "Type of the filter branch (ASSOCIATION)",
            "example" : null,
            "enum" : [ "ASSOCIATION" ],
            "default" : "ASSOCIATION"
          },
          "filterBranches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The ID representing the type of object associated with the filter branch.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the filter branch (IN_LIST, NOT_IN_LIST).",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "The day component of the quarter reference.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "The hour component of the quarter reference.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "The millisecond component of the quarter reference.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "The minute component of the quarter reference.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "The month component of the quarter reference.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "Indicates the type of reference (QUARTER).",
            "example" : null,
            "enum" : [ "QUARTER" ],
            "default" : "QUARTER"
          },
          "second" : {
            "type" : "integer",
            "description" : "The second component of the quarter reference.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "acceptedStatuses" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter (EMAIL_SUBSCRIPTION).",
            "example" : null,
            "enum" : [ "EMAIL_SUBSCRIPTION" ],
            "default" : "EMAIL_SUBSCRIPTION"
          },
          "subscriptionIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "The type of subscription related to the filter (PORTAL, BRAND, SUBSCRIPTION, HARDBOUNCE, SPAMREPORT).",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (ENUMERATION).",
            "example" : null,
            "enum" : [ "ENUMERATION" ],
            "default" : "ENUMERATION"
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied in the enumeration property operation (IS_ANY_OF, IS_NONE_OF, IS_EXACTLY, IS_NOT_EXACTLY, CONTAINS_ALL, DOES_NOT_CONTAIN_ALL, HAS_EVER_BEEN_ANY_OF, HAS_NEVER_BEEN_ANY_OF, HAS_EVER_BEEN_EXACTLY, HAS_NEVER_BEEN_EXACTLY, HAS_EVER_CONTAINED_ALL, HAS_NEVER_CONTAINED_ALL).",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ListFolderCreateResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        },
        "example" : null
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string",
            "description" : "Describes the behavior at the endpoint of the time point operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation.",
[...]
