{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CMS Source Code",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Content"
  }, {
    "name" : "Extract"
  } ],
  "paths" : {
    "/cms/source-code/2026-03/extract/async" : {
      "post" : {
        "tags" : [ "Extract" ],
        "summary" : "Extract source code in a zip file",
        "description" : "Initiate an asynchronous extraction of source code files in the HubSpot CMS. This endpoint is useful for handling large file extractions without blocking the client application. Upon acceptance, it returns a task locator that can be used to check the status of the extraction process.",
        "operationId" : "post-/cms/source-code/2026-03/extract/async_doAsync",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileExtractRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskLocator"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/cms/source-code/2026-03/extract/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Extract" ],
        "summary" : "Retrieve extraction status",
        "description" : "Retrieve the status of an asynchronous task related to source code extraction. This endpoint is useful for checking the progress or completion of a task initiated through the asynchronous file extraction process.",
        "operationId" : "get-/cms/source-code/2026-03/extract/async/tasks/{taskId}/status_getAsyncStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "The unique identifier of the task whose status is being retrieved. It is an integer value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/cms/source-code/2026-03/{environment}/content/{path}" : {
      "get" : {
        "tags" : [ "Content" ],
        "summary" : "Retrieve a file",
        "description" : "Retrieve content from the specified environment and path in your HubSpot CMS. This endpoint allows you to access specific content files based on the environment and path parameters, which can be useful for managing and displaying content in different environments.",
        "operationId" : "get-/cms/source-code/2026-03/{environment}/content/{path}_download",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "The environment from which to retrieve the content. This identifies the specific context or stage of the content, such as 'staging' or 'production'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The path to the content file within the specified environment. This should be a valid string that represents the location of the content file.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "put" : {
        "tags" : [ "Content" ],
        "summary" : "Update a file",
        "description" : "Update the content file in the specified environment and path within the HubSpot CMS. This operation allows you to upload a new file to replace the existing content at the given path. It is useful for managing and updating your website's source code files directly through the API.",
        "operationId" : "put-/cms/source-code/2026-03/{environment}/content/{path}_createOrUpdate",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "The environment in which the content file is located, such as 'staging' or 'production'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The path to the content file that you want to update. This should be a string representing the file's location.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "format" : "binary",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "post" : {
        "tags" : [ "Content" ],
        "summary" : "Upload a file",
        "description" : "Upload a content file to a specified environment and path in the HubSpot CMS. This endpoint allows you to add new content files to your HubSpot account by specifying the environment and path where the file should be stored. The request must include a file in binary format.",
        "operationId" : "post-/cms/source-code/2026-03/{environment}/content/{path}_create",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "The environment in which the content file will be uploaded. Typically represents different stages like 'staging' or 'production'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The specific path within the environment where the content file will be stored. This should be a valid path string.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "format" : "binary",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Content" ],
        "summary" : "Delete a file",
        "description" : "Delete a specific content file from the specified environment in your HubSpot CMS. This operation is useful for removing outdated or unnecessary files from your source code repository. Ensure you have the necessary permissions to perform this action.",
        "operationId" : "delete-/cms/source-code/2026-03/{environment}/content/{path}_archive",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "The environment from which the content file will be deleted. This could refer to different stages such as development, staging, or production.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The specific path to the content file that you want to delete. This should be a valid path string.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/source-code/2026-03/{environment}/metadata/{path}" : {
      "get" : {
        "tags" : [ "Content" ],
        "summary" : "Retrieve file metadata",
        "description" : "Retrieve metadata for a specific file or folder within a specified environment in the HubSpot CMS. This endpoint is useful for obtaining detailed information about content files, such as their creation and update timestamps, and other metadata attributes.",
        "operationId" : "get-/cms/source-code/2026-03/{environment}/metadata/{path}_get",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "The environment in which the file or directory is located, such as 'staging' or 'production'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The path to the specific file or folder for which metadata is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma-separated list of specific metadata properties to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/source-code/2026-03/{environment}/validate/{path}" : {
      "post" : {
        "tags" : [ "Content" ],
        "summary" : "Validate source code file",
        "description" : "Validate a source code file within a specified environment in your HubSpot account. This endpoint is useful for checking the correctness of code files before deployment or further processing. The validation process requires the file to be uploaded in a multipart/form-data request.",
        "operationId" : "post-/cms/source-code/2026-03/{environment}/validate/{path}_doValidate",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "The path of the source code file to validate. This should be a string that matches the file's location within the environment.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "format" : "binary",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "AssetFileMetadata" : {
        "required" : [ "createdAt", "folder", "id", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archivedAt" : {
            "type" : "integer",
            "description" : "Timestamp of when the object was archived (deleted).",
            "format" : "int64",
            "example" : null
          },
          "children" : {
            "type" : "array",
            "description" : "If the object is a folder, contains the filenames of the files within the folder.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "createdAt" : {
            "type" : "integer",
            "description" : "Timestamp of when the object was first created.",
            "format" : "int64",
            "example" : null
          },
          "folder" : {
            "type" : "boolean",
            "description" : "Determines whether or not this path points to a folder.",
            "example" : null
          },
          "hash" : {
            "type" : "string",
            "description" : "A unique identifier for the file's content, used to verify data integrity.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The path of the file in the CMS Developer File System.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the file.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "Timestamp of when the object was last updated.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "FileExtractRequest" : {
        "required" : [ "path" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "The file system location where the zip file is to be extracted.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the action was completed.",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of related links associated with the action.",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the action was requested.",
            "format" : "date-time",
            "example" : null
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the action was started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the action, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "TaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the task.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of link names mapped to their corresponding URIs.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "content" : "Content"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}