{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Partner Clients",
    "description" : "CRM objects such as companies, contacts, deals, line items, products, tickets, and quotes are standard objects in HubSpot’s CRM. These core building blocks support custom properties, store critical information, and play a central role in the HubSpot application.\n\n## Supported Object Types\n\nThis API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https://developers.hubspot.com/docs/methods/crm-properties/crm-properties-overview).\n\n|Object Type |Properties returned by default |\n|--|--|\n| `companies` | `name`, `domain` |\n| `contacts` | `firstname`, `lastname`, `email` |\n| `deals` | `dealname`, `amount`, `closedate`, `pipeline`, `dealstage` |\n| `products` | `name`, `description`, `price` |\n| `tickets` | `content`, `hs_pipeline`, `hs_pipeline_stage`, `hs_ticket_category`, `hs_ticket_priority`, `subject` |\n\nFind a list of all properties for an object type using the [CRM Object Properties](https://developers.hubspot.com/docs/methods/crm-properties/get-properties) API. e.g. `GET https://api.hubapi.com/properties/v2/companies/properties`. Change the properties returned in the response using the `properties` array in the request body.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Sync partner client data with third-party project management software.",
    "x-hubspot-introduction" : "Partner clients are HubSpot customers that Solutions Partners have a sold or managed relationship with. Use the this API to manage your client base as well as sync client data between HubSpot and other systems. Note: you can only retrieve and update existing partner clients with this API. This API doesn't support creation or deletion."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Associations"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  }, {
    "name" : "GDPR"
  }, {
    "name" : "Public_Object__SE_PT_EM_BE_R_2025"
  }, {
    "name" : "Public_Object_Search_Post__SE_PT_EM_BE_R_2025"
  }, {
    "name" : "Search"
  } ],
  "paths" : {
    "/crm/v3/objects/partner_clients" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a list of partner clients.",
        "description" : "Retrieve a list of partner clients with optional filtering by deleted status, associations, and specific properties. The response can be paginated using the 'after' parameter.",
        "operationId" : "get-/crm/v3/objects/partner_clients",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A paging cursor token to retrieve the next set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Indicates whether to include deleted partner clients in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "Specifies the types of associations to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of partner clients to return in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A list of property names to include in the response for each partner client.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A list of property names to include in the response along with their historical values.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociations"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.read" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.read" ]
        } ]
      }
    },
    "/crm/v3/objects/partner_clients/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieve a batch of partner client objects.",
        "description" : "Retrieve multiple partner client objects in a single request by specifying their IDs. This endpoint is useful for efficiently accessing data for multiple clients at once, particularly when integrating with third-party systems.",
        "operationId" : "post-/crm/v3/objects/partner_clients/batch/read",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Indicates whether to include deleted partner client objects in the response. The default value is false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputSimplePublicObjectId"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.read" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.read" ]
        } ]
      }
    },
    "/crm/v3/objects/partner_clients/batch/update" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Update multiple partner client records in a single request.",
        "description" : "This endpoint allows you to update several partner client records at once by providing a batch of CRM object records with their respective IDs and properties. It is useful for synchronizing data across systems or making bulk updates efficiently.",
        "operationId" : "post-/crm/v3/objects/partner_clients/batch/update",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.write" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.write" ]
        } ]
      }
    },
    "/crm/v3/objects/partner_clients/search" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search for partner clients using specified criteria.",
        "description" : "Execute a search for partner clients based on defined filters, properties, and sorting options. This endpoint allows you to retrieve partner client data that matches the search criteria, facilitating integration and data synchronization with third-party systems.",
        "operationId" : "post-/crm/v3/objects/partner_clients/search",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicObjectSearchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.read" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.read" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/crm/v3/objects/partner_clients/{partnerClientId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve details of a specific partner client.",
        "description" : "Retrieve detailed information about a specific partner client, including selected properties and associations. This endpoint is useful for accessing comprehensive client data for analysis or integration purposes.",
        "operationId" : "get-/crm/v3/objects/partner_clients/{partnerClientId}",
        "parameters" : [ {
          "name" : "partnerClientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Indicates whether to include deleted partner clients in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "A list of association types to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "Specifies the unique identifier property used to identify the partner client.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A list of properties to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A list of properties to include in the response, along with their historical values.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.read" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update properties of a specific partner client.",
        "description" : "Update the specified properties of an existing partner client.",
        "operationId" : "patch-/crm/v3/objects/partner_clients/{partnerClientId}",
        "parameters" : [ {
          "name" : "partnerClientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "Specifies the unique identifier property used to identify the partner client.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SimplePublicObjectInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObject"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.write" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.write" ]
        } ]
      }
    },
    "/crm/v3/objects/partner_clients/{partnerClientId}/associations/{toObjectType}" : {
      "get" : {
        "tags" : [ "Associations" ],
        "summary" : "List associations of a partner client by type",
        "description" : "Retrieve a list of associations for a specific partner client based on the specified object type.",
        "operationId" : "get-/crm/v3/objects/partner_clients/{partnerClientId}/associations/{toObjectType}",
        "parameters" : [ {
          "name" : "partnerClientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "The type of object to which the partner client is associated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFA",
          "in" : "query",
          "description" : "Indicates whether to include foreign associations in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 500
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseAssociatedId"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.read" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.read" ]
        } ]
      }
    },
    "/crm/v3/objects/partner_clients/{partnerClientId}/associations/{toObjectType}/{toObjectId}/{associationType}" : {
      "put" : {
        "tags" : [ "Associations" ],
        "summary" : "Associate a partner client with another object",
        "description" : "Associate a partner client with another object by specifying the object type, object ID, and association type.",
        "operationId" : "put-/crm/v3/objects/partner_clients/{partnerClientId}/associations/{toObjectType}/{toObjectId}/{associationType}",
        "parameters" : [ {
          "name" : "associationType",
          "in" : "path",
          "description" : "The type of association to be created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnerClientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "toObjectId",
          "in" : "path",
          "description" : "The unique identifier of the object to associate with the partner client.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "The type of the object to associate with the partner client.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.write" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Associations" ],
        "summary" : "Remove an association between two partner clients",
        "description" : "Remove an existing association between a partner client and another object by specifying the object type, object ID, and association type.",
        "operationId" : "delete-/crm/v3/objects/partner_clients/{partnerClientId}/associations/{toObjectType}/{toObjectId}/{associationType}",
        "parameters" : [ {
          "name" : "associationType",
          "in" : "path",
          "description" : "The type of association to be removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnerClientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "toObjectId",
          "in" : "path",
          "description" : "The unique identifier of the object whose association with the partner client is to be removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "toObjectType",
          "in" : "path",
          "description" : "The type of the object whose association with the partner client is to be removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.partner-clients.write" ]
        }, {
          "private_apps" : [ "crm.objects.partner-clients.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          }
        },
        "description" : "Ye olde error"
      },
      "CollectionResponseAssociatedId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssociatedId"
            }
          }
        }
      },
      "CollectionResponseWithTotalSimplePublicObject" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObject"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The number of available results",
            "format" : "int32"
          }
        },
        "description" : "Represents a list of simple objects returned from an API request, along with the total count of objects available."
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "PublicObjectSearchRequest" : {
        "required" : [ "after", "filterGroups", "limit", "properties", "sorts" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "filterGroups" : {
            "type" : "array",
            "description" : "Up to 6 groups of filters defining additional query criteria.",
            "items" : {
              "$ref" : "#/components/schemas/FilterGroup"
            }
          },
          "limit" : {
            "type" : "integer",
            "description" : "The maximum results to return, up to 200 objects.",
            "format" : "int32"
          },
          "properties" : {
            "type" : "array",
            "description" : "A list of property names to include in the response.",
            "items" : {
              "type" : "string"
            }
          },
          "query" : {
            "type" : "string",
            "description" : "The search query string, up to 3000 characters."
          },
          "sorts" : {
            "type" : "array",
            "description" : "Specifies sorting order based on object properties.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Describes a search request"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The category of an error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional error context.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A correlation that identifies the request which encountered an error.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Additional links to the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A message describing the error.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "The sub-category of an error."
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseSimplePublicObject" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch processing was completed, in ISO 8601 format.",
            "format" : "date-time"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "An object containing relevant links related to the batch request."
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The total number of errors that occurred during the batch operation.",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch request was initially made, in ISO 8601 format.",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObject"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp when the batch processing began, in ISO 8601 format.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "description" : "A public object batch response object"
      },
      "FilterGroup" : {
        "required" : [ "filters" ],
        "type" : "object",
        "properties" : {
          "filters" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Filter"
            }
          }
        }
      },
      "SimplePublicObjectInput" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Key value pairs representing the properties of the object."
          }
        },
        "description" : "Represents the input required to create or update a CRM object, containing an object with property names and their corresponding values.",
        "example" : {
          "properties" : {
            "property_checkbox" : "false",
            "property_date" : "1572480000000",
            "property_dropdown" : "choice_b",
            "property_multiple_checkboxes" : "chocolate;strawberry",
            "property_number" : "17",
            "property_radio" : "option_1",
            "property_string" : "value"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Unique error code."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "The description of the error."
          },
          "subCategory" : {
            "type" : "string",
            "description" : "The sub-category of the error."
          }
        }
      },
      "SimplePublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object.",
            "example" : "430001"
          }
        },
        "description" : "Contains the Id of a Public Object"
      },
      "CollectionResponseSimplePublicObjectWithAssociations" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations"
            }
          }
        }
      },
      "SimplePublicObjectWithAssociations" : {
        "required" : [ "archived", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the object is archived."
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was archived, in ISO 8601 format.",
            "format" : "date-time"
          },
          "associations" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CollectionResponseAssociatedId"
            },
            "description" : "A list defining relationships with other objects."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object."
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the creation or update request of the object."
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "nullable" : true
            },
            "description" : "Key value pairs representing the properties of the object."
          },
          "propertiesWithHistory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ValueWithTimestamp"
              }
            },
            "description" : "Key-value pairs representing the properties of the object along with their history."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was last updated, in ISO 8601 format.",
            "format" : "date-time"
          }
        },
        "description" : "Represents a CRM object along with its properties, timestamps, and a set of associated object IDs grouped by association type."
      },
      "BatchReadInputSimplePublicObjectId" : {
        "required" : [ "inputs", "properties", "propertiesWithHistory" ],
        "type" : "object",
        "properties" : {
          "idProperty" : {
            "type" : "string",
            "description" : "The name of a property whose values are unique for this object."
          },
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectId"
            }
          },
          "properties" : {
            "type" : "array",
            "description" : "Key-value pairs for setting properties for the new object.",
            "items" : {
              "type" : "string"
            }
          },
          "propertiesWithHistory" : {
            "type" : "array",
            "description" : "Key-value pairs for setting properties for the new object and their histories.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Specifies the input for reading a batch of CRM objects, including arrays of object IDs, requested property names (with optional history), and an optional unique identifying property."
      },
      "Filter" : {
        "required" : [ "operator", "propertyName" ],
        "type" : "object",
        "properties" : {
          "highValue" : {
            "type" : "string",
            "description" : "The upper boundary value when using ranged-based filters."
          },
          "operator" : {
            "type" : "string",
            "description" : "null",
            "enum" : [ "BETWEEN", "CONTAINS_TOKEN", "EQ", "GT", "GTE", "HAS_PROPERTY", "IN", "LT", "LTE", "NEQ", "NOT_CONTAINS_TOKEN", "NOT_HAS_PROPERTY", "NOT_IN" ]
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The name of the property to apply the filter to."
          },
          "value" : {
            "type" : "string",
            "description" : "The value to match against the property."
          },
          "values" : {
            "type" : "array",
            "description" : "The values to match against the property.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. "
      },
      "BatchInputSimplePublicObjectBatchInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimplePublicObjectBatchInput"
            }
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results."
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
      },
      "ValueWithTimestamp" : {
        "required" : [ "sourceType", "timestamp", "value" ],
        "type" : "object",
        "properties" : {
          "sourceId" : {
            "type" : "string",
            "description" : "The unique ID of the property."
          },
          "sourceLabel" : {
            "type" : "string",
            "description" : "A human-readable label."
          },
          "sourceType" : {
            "type" : "string",
            "description" : "The property type."
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The timestamp when the property was updated, in ISO 8601 format.",
            "format" : "date-time"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who last updated the property.",
            "format" : "int32"
          },
          "value" : {
            "type" : "string",
            "description" : "The property value."
          }
        },
        "description" : "Property model that includes timestamp."
      },
      "SimplePublicObjectBatchInput" : {
        "required" : [ "id", "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object."
          },
          "idProperty" : {
            "type" : "string",
            "description" : "The name of a unique identifier property, which can be used for identifying objects instead of the object ID.",
            "example" : "my_unique_property_name"
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "A unique identifier for tracing the request."
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Key-value pairs representing the properties of the object."
          }
        },
        "description" : "Contains an array of CRM object records to be processed in a batch operation, each defined by their ID and properties."
      },
      "AssociatedId" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID for the association type."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of association.",
            "example" : "deal_to_contact"
          }
        },
        "description" : "Contains the id and type of an association"
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : {
          "after" : "NTI1Cg%3D%3D",
          "link" : "?after=NTI1Cg%3D%3D"
        }
      },
      "SimplePublicObject" : {
        "required" : [ "archived", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the object is archived."
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was archived, in ISO 8601 format.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the object."
          },
          "objectWriteTraceId" : {
            "type" : "string",
            "description" : "An identifier used for tracing the write request for the object."
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "nullable" : true
            },
            "description" : "Key-value pairs representing the properties of the object."
          },
          "propertiesWithHistory" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ValueWithTimestamp"
              }
            },
            "description" : "Key-value pairs representing the properties of the object along with their history."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the object was last updated, in ISO 8601 format.",
            "format" : "date-time"
          }
        },
        "description" : "A simple public object.",
        "example" : {
          "archived" : false,
          "createdAt" : "2019-10-30T03:30:17.883Z",
          "id" : "512",
          "properties" : {
            "property_checkbox" : "false",
            "property_date" : "1572480000000",
            "property_dropdown" : "choice_b",
            "property_multiple_checkboxes" : "chocolate;strawberry",
            "property_number" : "17",
            "property_radio" : "option_1",
            "property_string" : "value"
          },
          "updatedAt" : "2019-12-07T16:50:06.678Z"
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.appointments.read" : "Read appointments",
              "crm.objects.appointments.sensitive.read.v2" : "Read appointments (sensitive)",
              "crm.objects.appointments.sensitive.write.v2" : "Write appointments (sensitive)",
              "crm.objects.appointments.write" : "Write appointments",
              "crm.objects.carts.read" : "Read carts",
              "crm.objects.carts.write" : "Write cart",
              "crm.objects.commercepayments.read" : "Read the COMMERCE_PAYMENT object.",
              "crm.objects.commercepayments.write" : "Write commerce payments",
              "crm.objects.companies.highly_sensitive.read.v2" : "View company records (highly-sensitive)",
              "crm.objects.companies.highly_sensitive.write.v2" : "Change company records (highly-sensitive)",
              "crm.objects.companies.read" : "Create or update company records",
              "crm.objects.companies.sensitive.read.v2" : "View sensitive properties on company records",
              "crm.objects.companies.sensitive.write.v2" : "Create or update sensitive properties on company records",
              "crm.objects.companies.write" : "View company records",
              "crm.objects.contacts.highly_sensitive.read.v2" : "View contact records (highly-sensitive)",
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.read" : "View contact records",
              "crm.objects.contacts.sensitive.read.v2" : "View sensitive properties on contact records",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.objects.courses.read" : "Read courses",
              "crm.objects.courses.write" : "Write courses",
              "crm.objects.custom.highly_sensitive.read.v2" : "View custom object records (highly-sensitive)",
              "crm.objects.custom.highly_sensitive.write.v2" : "Change custom object records (highly-sensitive)",
              "crm.objects.custom.read" : "View custom object records",
              "crm.objects.custom.sensitive.read.v2" : "View custom object records (sensitive)",
              "crm.objects.custom.sensitive.write.v2" : "Change custom object records (sensitive)",
              "crm.objects.custom.write" : "Change custom object records",
              "crm.objects.deals.highly_sensitive.read.v2" : "View deal records (highly-sensitive)",
              "crm.objects.deals.highly_sensitive.write.v2" : "Change deal records (highly-sensitive)",
              "crm.objects.deals.read" : "View deal records",
              "crm.objects.deals.sensitive.read.v2" : "View sensitive properties on deal records",
              "crm.objects.deals.sensitive.write.v2" : "Create or update sensitive properties on deal records",
              "crm.objects.deals.write" : "Create or update deal records",
              "crm.objects.goals.read" : "Read goals",
              "crm.objects.goals.write" : "Write goals",
              "crm.objects.invoices.read" : "Read invoices objects",
              "crm.objects.invoices.write" : "Write invoices",
              "crm.objects.leads.read" : "Read lead objects",
              "crm.objects.leads.write" : "Modify lead objects",
              "crm.objects.line_items.read" : "Line Items",
              "crm.objects.line_items.write" : "Line Items",
              "crm.objects.listings.read" : "Read listings",
              "crm.objects.listings.write" : "Write listings",
              "crm.objects.orders.read" : "Read Orders",
              "crm.objects.orders.write" : "Write orders",
              "crm.objects.partner-clients.read" : "View Partner Client CRM objects",
              "crm.objects.partner-clients.write" : "Modify Partner Client CRM objects",
              "crm.objects.partner-services.read" : "View Partner Service CRM objects",
              "crm.objects.partner-services.write" : "Modify Partner Service CRM objects",
              "crm.objects.products.read" : "Read from my Product Library",
              "crm.objects.products.write" : "Write to my Product Library",
              "crm.objects.projects.highly_sensitive.read" : "Read projects (highly-sensitive)",
              "crm.objects.projects.highly_sensitive.write" : "Write projects (highly-sensitive)",
              "crm.objects.projects.read" : "Read projects",
              "crm.objects.projects.sensitive.read" : "Read projects (sensitive)",
              "crm.objects.projects.sensitive.write" : "Write projects (sensitive)",
              "crm.objects.projects.write" : "Write projects",
              "crm.objects.quotes.read" : "Quotes",
              "crm.objects.quotes.write" : "Quotes",
              "crm.objects.services.read" : "Read services",
              "crm.objects.services.write" : "Write services",
              "crm.objects.subscriptions.read" : "Read Commerce Subscriptions",
              "crm.objects.subscriptions.write" : "Write to Commerce Subscriptions",
              "crm.objects.users.read" : "Read User CRM objects",
              "crm.objects.users.write" : "Write User CRM objects",
              "e-commerce" : "e-commerce",
              "media_bridge.read" : "Read media and media events",
              "oauth" : "User and Account Information",
              "tickets" : "Read and write tickets",
              "tickets.highly_sensitive.v2" : "Tickets (highly-sensitive)",
              "tickets.sensitive.v2" : "Tickets (sensitive)"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}