{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "配信登録",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "HubSpot以外のサービスを通じてコンタクトが貴社からのコミュニケーションをオプトアウトした場合は、コンタクトのオプトインステータスが更新されていることを確かめてください。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Subscription Preferences Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/subscriptions-preferences"
    } ],
    "x-hubspot-introduction" : "配信設定APIを使用して、コンタクトの配信登録データを取得するか、特定の配信カテゴリーでのコンタクトのオプトインまたはオプトアウトを行います。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Subscription_Status"
  }, {
    "name" : "Subscription_Definition"
  } ],
  "paths" : {
    "/communication-preferences/v3/subscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "コンタクトを配信登録",
        "description" : "コンタクトが特定の配信カテゴリーに配信登録されます。このAPIはブランドまたはポータルレベルでのコンタクトの配信登録への使用には適しておらず、エラーが返されます。",
        "operationId" : "post-/communication-preferences/v3/subscribe_subscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/status/email/{emailAddress}" : {
      "get" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "コンタクトの配信登録ステータスを取得",
        "description" : "特定のコンタクトの配信登録とそのステータスのリストが返されます。",
        "operationId" : "get-/communication-preferences/v3/status/email/{emailAddress}_getEmailStatus",
        "parameters" : [ {
          "name" : "emailAddress",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatusesResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    },
    "/communication-preferences/v3/unsubscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "コンタクトを配信停止",
        "description" : "コンタクトが特定の配信カテゴリーから配信停止されます。このAPIはブランドまたはポータルレベルでのコンタクトの配信停止への使用には適しておらず、エラーが返されます。",
        "operationId" : "post-/communication-preferences/v3/unsubscribe_unsubscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/definitions" : {
      "get" : {
        "tags" : [ "Subscription_Definition" ],
        "summary" : "配信登録定義を取得",
        "description" : "ポータルの全ての配信登録定義のリストを取得",
        "operationId" : "get-/communication-preferences/v3/definitions_getPage",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDefinitionsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "PublicUpdateSubscriptionStatusRequest" : {
        "required" : [ "emailAddress", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "コンタクトのEメールアドレス。"
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "コンタクトのステータスを更新する法的根拠（GDPR対応のポータルに必要）。",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "コンタクトについて更新される配信登録のID。"
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "法的根拠に付随するより詳細な説明（GDPR対応のポータルに必要）。"
          }
        }
      },
      "PublicSubscriptionStatusesResponse" : {
        "required" : [ "recipient", "subscriptionStatuses" ],
        "type" : "object",
        "properties" : {
          "recipient" : {
            "type" : "string",
            "description" : "コンタクトのEメールアドレス。"
          },
          "subscriptionStatuses" : {
            "type" : "array",
            "description" : "コンタクトの全配信登録のステータスのリスト。",
            "items" : {
              "$ref" : "#/components/schemas/PublicSubscriptionStatus"
            }
          }
        }
      },
      "SubscriptionDefinitionsResponse" : {
        "required" : [ "subscriptionDefinitions" ],
        "type" : "object",
        "properties" : {
          "subscriptionDefinitions" : {
            "type" : "array",
            "description" : "全ての配信登録定義のリスト。",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionDefinition"
            }
          }
        }
      },
      "SubscriptionDefinition" : {
        "required" : [ "createdAt", "description", "id", "isActive", "isDefault", "isInternal", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "isInternal" : {
            "type" : "boolean",
            "description" : "一部のHubSpotツールで使用されていて、編集不可の既定の説明。"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "定義が作成された日時。",
            "format" : "date-time"
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "HubSpotによって作成された配信登録定義。"
          },
          "communicationMethod" : {
            "type" : "string",
            "description" : "連絡に使用する方法またはテクノロジー。"
          },
          "purpose" : {
            "type" : "string",
            "description" : "この配信登録の目的、または組織内でこの配信登録を使用する部署。"
          },
          "name" : {
            "type" : "string",
            "description" : "配信登録の名前。"
          },
          "description" : {
            "type" : "string",
            "description" : "配信登録の説明。"
          },
          "id" : {
            "type" : "string",
            "description" : "定義のID。"
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "定義が有効か、またはアーカイブ済みかどうか。"
          },
          "businessUnitId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "定義が最後に更新された日時。",
            "format" : "date-time"
          }
        }
      },
      "PublicSubscriptionStatus" : {
        "required" : [ "description", "id", "name", "sourceOfStatus", "status" ],
        "type" : "object",
        "properties" : {
          "brandId" : {
            "type" : "integer",
            "description" : "配信登録が関連付けられているブランドのID（ある場合）。",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "配信登録の名前。"
          },
          "description" : {
            "type" : "string",
            "description" : "配信登録の説明。"
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "配信登録の現在のステータスの法的理由。",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "preferenceGroupName" : {
            "type" : "string",
            "description" : "配信登録が関連付けられている設定グループの名前。"
          },
          "id" : {
            "type" : "string",
            "description" : "配信登録のID。"
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "法的根拠に付随するより詳細な説明。"
          },
          "status" : {
            "type" : "string",
            "description" : "コンタクトが配信登録されているかどうか。",
            "enum" : [ "SUBSCRIBED", "NOT_SUBSCRIBED" ]
          },
          "sourceOfStatus" : {
            "type" : "string",
            "description" : "コンタクトがポータルからオプトアウトした場合にステータスが判断される根拠（例えば、PORTAL_WIDE_STATUS）。",
            "enum" : [ "PORTAL_WIDE_STATUS", "BRAND_WIDE_STATUS", "SUBSCRIPTION_STATUS" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "communication_preferences.read" : "Read contact subscription preferences",
              "communication_preferences.read_write" : "Update contact subscription preferences",
              "communication_preferences.write" : "Update contact subscription preferences"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}