{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Suscripciones",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Asegúrate de que el estado de inclusión de un contacto se actualice si ha decidido no recibir comunicaciones de tu empresa a través de un servicio externo a HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Subscription Preferences Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/subscriptions-preferences"
    } ],
    "x-hubspot-introduction" : "Usa la API de preferencias de suscripción para recuperar datos de suscripción de un contacto o para incluir o excluir a un contacto de un tipo de suscripción específico."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Subscription_Status"
  }, {
    "name" : "Subscription_Definition"
  } ],
  "paths" : {
    "/communication-preferences/v3/subscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Suscribir a un contacto",
        "description" : "Suscribe a un contacto al tipo de suscripción dado. Esta API no es válida para suscribir a un contacto a nivel de marca o portal y devolverá un error.",
        "operationId" : "post-/communication-preferences/v3/subscribe_subscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/status/email/{emailAddress}" : {
      "get" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Obtener estados de suscripción de un contacto",
        "description" : "Devuelve una lista de suscripciones y su estado para un contacto dado.",
        "operationId" : "get-/communication-preferences/v3/status/email/{emailAddress}_getEmailStatus",
        "parameters" : [ {
          "name" : "emailAddress",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatusesResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    },
    "/communication-preferences/v3/unsubscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Cancelar suscripción de un contacto",
        "description" : "Cancela la suscripción de un contacto del tipo de suscripción dado. Esta API no es válida para cancelar la suscripción de un contacto a nivel de marca o portal y devolverá un error.",
        "operationId" : "post-/communication-preferences/v3/unsubscribe_unsubscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/definitions" : {
      "get" : {
        "tags" : [ "Subscription_Definition" ],
        "summary" : "Obtener definiciones de suscripción",
        "description" : "Obtener una lista de todas las definiciones de suscripción para el portal.",
        "operationId" : "get-/communication-preferences/v3/definitions_getPage",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDefinitionsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado con el detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "PublicUpdateSubscriptionStatusRequest" : {
        "required" : [ "emailAddress", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "Dirección de correo del contacto."
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "Base jurídica para actualizar el estado del contacto (obligatorio para los portales habilitados para RGPD).",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "ID de la suscripción que se actualizará para el contacto."
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "Una explicación más detallada que acompaña a la base jurídica (obligatorio para los portales habilitados para RGPD)."
          }
        }
      },
      "PublicSubscriptionStatusesResponse" : {
        "required" : [ "recipient", "subscriptionStatuses" ],
        "type" : "object",
        "properties" : {
          "recipient" : {
            "type" : "string",
            "description" : "Dirección de correo del contacto."
          },
          "subscriptionStatuses" : {
            "type" : "array",
            "description" : "Una lista de todos los estados de las suscripciones del contacto.",
            "items" : {
              "$ref" : "#/components/schemas/PublicSubscriptionStatus"
            }
          }
        }
      },
      "SubscriptionDefinitionsResponse" : {
        "required" : [ "subscriptionDefinitions" ],
        "type" : "object",
        "properties" : {
          "subscriptionDefinitions" : {
            "type" : "array",
            "description" : "Una lista de todas las definiciones de suscripción.",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionDefinition"
            }
          }
        }
      },
      "SubscriptionDefinition" : {
        "required" : [ "createdAt", "description", "id", "isActive", "isDefault", "isInternal", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "isInternal" : {
            "type" : "boolean",
            "description" : "Una descripción predeterminada que algunas herramientas de HubSpot utilizan y no se puede editar."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Hora a la que se creó la definición.",
            "format" : "date-time"
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "Una definición de la suscripción creada por HubSpot."
          },
          "communicationMethod" : {
            "type" : "string",
            "description" : "El método o la tecnología utilizada para ponerse en contacto."
          },
          "purpose" : {
            "type" : "string",
            "description" : "El propósito de esta suscripción o el departamento de tu organización que la usa."
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la suscripción."
          },
          "description" : {
            "type" : "string",
            "description" : "Una descripción de la suscripción."
          },
          "id" : {
            "type" : "string",
            "description" : "El ID de la definición."
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Si la definición está activa o archivada."
          },
          "businessUnitId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Hora a la que se actualizó por última vez la definición.",
            "format" : "date-time"
          }
        }
      },
      "PublicSubscriptionStatus" : {
        "required" : [ "description", "id", "name", "sourceOfStatus", "status" ],
        "type" : "object",
        "properties" : {
          "brandId" : {
            "type" : "integer",
            "description" : "El ID de la marca con la que está asociada la suscripción, si hay una.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la suscripción."
          },
          "description" : {
            "type" : "string",
            "description" : "Una descripción de la suscripción."
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "La razón legal del estado actual de la suscripción.",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "preferenceGroupName" : {
            "type" : "string",
            "description" : "El nombre del grupo de preferencias con el que está asociada la suscripción."
          },
          "id" : {
            "type" : "string",
            "description" : "El ID de la suscripción."
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "Una explicación más detallada que acompaña a la base jurídica."
          },
          "status" : {
            "type" : "string",
            "description" : "Si el contacto está suscrito.",
            "enum" : [ "SUBSCRIBED", "NOT_SUBSCRIBED" ]
          },
          "sourceOfStatus" : {
            "type" : "string",
            "description" : "Donde el estado se determina a partir de, por ejemplo, PORTAL_WIDE_STATUS si el contacto optó por salir del portal.",
            "enum" : [ "PORTAL_WIDE_STATUS", "BRAND_WIDE_STATUS", "SUBSCRIPTION_STATUS" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "communication_preferences.read" : "Read contact subscription preferences",
              "communication_preferences.read_write" : "Update contact subscription preferences",
              "communication_preferences.write" : "Update contact subscription preferences"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}