{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Abonnements",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Assurez-vous que le statut de confirmation d'inscription d'un contact est mis à jour s'il s'est désinscrit des communications de votre entreprise via un service externe à HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Subscription Preferences Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/marketing/subscriptions-preferences"
    } ],
    "x-hubspot-introduction" : "Utilisez l'API des préférences d'abonnement pour récupérer les données d'abonnement d'un contact ou pour inscrire ou désinscrire un contact d'un type d'abonnement spécifique."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Subscription_Status"
  }, {
    "name" : "Subscription_Definition"
  } ],
  "paths" : {
    "/communication-preferences/v3/subscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Abonner un contact",
        "description" : "Abonne un contact au type d'abonnement donné. Cette API n'est pas valide pour abonner un contact au niveau d'une marque ou d'un portail et renverra un message d'erreur.",
        "operationId" : "post-/communication-preferences/v3/subscribe_subscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/status/email/{emailAddress}" : {
      "get" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Obtenez les statuts d'abonnement pour un contact",
        "description" : "Renvoie une liste d'abonnements et de leur statut pour un contact donné.",
        "operationId" : "get-/communication-preferences/v3/status/email/{emailAddress}_getEmailStatus",
        "parameters" : [ {
          "name" : "emailAddress",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatusesResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    },
    "/communication-preferences/v3/unsubscribe" : {
      "post" : {
        "tags" : [ "Subscription_Status" ],
        "summary" : "Désabonner un contact",
        "description" : "Désabonne un contact du type d'abonnement donné. Cette API n'est pas valide pour désabonner un contact au niveau d'une marque ou d'un portail et renverra un message d'erreur.",
        "operationId" : "post-/communication-preferences/v3/unsubscribe_unsubscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "communication_preferences.write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/v3/definitions" : {
      "get" : {
        "tags" : [ "Subscription_Definition" ],
        "summary" : "Obtenez les définitions d'abonnement",
        "description" : "Obtenez une liste de toutes les définitions d'abonnement pour le portail",
        "operationId" : "get-/communication-preferences/v3/definitions_getPage",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDefinitionsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "communication_preferences.read" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps_legacy" : [ "communication_preferences.read_write" ]
        }, {
          "oauth2_legacy" : [ "communication_preferences.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "PublicUpdateSubscriptionStatusRequest" : {
        "required" : [ "emailAddress", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "Adresses e-mail du contact"
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "Base juridique pour la mise à jour du statut du contact (obligatoire pour les portails activés par le RGPD).",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "ID de l'abonnement mis à jour pour le contact."
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "Une explication plus détaillée pour accompagner la base juridique (obligatoire pour les portails activés par le RGPD)."
          }
        }
      },
      "PublicSubscriptionStatusesResponse" : {
        "required" : [ "recipient", "subscriptionStatuses" ],
        "type" : "object",
        "properties" : {
          "recipient" : {
            "type" : "string",
            "description" : "Adresse e-mail du contact."
          },
          "subscriptionStatuses" : {
            "type" : "array",
            "description" : "Une liste de tous les statuts d'abonnement du contact.",
            "items" : {
              "$ref" : "#/components/schemas/PublicSubscriptionStatus"
            }
          }
        }
      },
      "SubscriptionDefinitionsResponse" : {
        "required" : [ "subscriptionDefinitions" ],
        "type" : "object",
        "properties" : {
          "subscriptionDefinitions" : {
            "type" : "array",
            "description" : "Une liste de toutes les définitions d'abonnement.",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionDefinition"
            }
          }
        }
      },
      "SubscriptionDefinition" : {
        "required" : [ "createdAt", "description", "id", "isActive", "isDefault", "isInternal", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "isInternal" : {
            "type" : "boolean",
            "description" : "Une description par défaut utilisée par certains outils HubSpot et qui ne peut pas être modifiée."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "L'heure de création de la définition.",
            "format" : "date-time"
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "Une définition d'abonnement créée par HubSpot."
          },
          "communicationMethod" : {
            "type" : "string",
            "description" : "La méthode ou la technologie utilisée pour contacter."
          },
          "purpose" : {
            "type" : "string",
            "description" : "L'objectif de cet abonnement ou le service de votre organisation qui l'utilise."
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de l'abonnement."
          },
          "description" : {
            "type" : "string",
            "description" : "Une description de l'abonnement."
          },
          "id" : {
            "type" : "string",
            "description" : "L'ID de la définition."
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Si la définition est active ou archivée."
          },
          "businessUnitId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "L'heure de la dernière mise à jour de la définition.",
            "format" : "date-time"
          }
        }
      },
      "PublicSubscriptionStatus" : {
        "required" : [ "description", "id", "name", "sourceOfStatus", "status" ],
        "type" : "object",
        "properties" : {
          "brandId" : {
            "type" : "integer",
            "description" : "L'ID de la marque avec laquelle l'abonnement est associé, s'il y en a une.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de l'abonnement."
          },
          "description" : {
            "type" : "string",
            "description" : "Une description de l'abonnement."
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "La raison légale de l'état actuel de l'abonnement.",
            "enum" : [ "LEGITIMATE_INTEREST_PQL", "LEGITIMATE_INTEREST_CLIENT", "PERFORMANCE_OF_CONTRACT", "CONSENT_WITH_NOTICE", "NON_GDPR", "PROCESS_AND_STORE", "LEGITIMATE_INTEREST_OTHER" ]
          },
          "preferenceGroupName" : {
            "type" : "string",
            "description" : "Le nom du groupe de préférences auquel l'abonnement est associé."
          },
          "id" : {
            "type" : "string",
            "description" : "L'ID de l'abonnement."
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "Une explication plus détaillée pour accompagner la base juridique."
          },
          "status" : {
            "type" : "string",
            "description" : "Si le contact est abonné ou non.",
            "enum" : [ "SUBSCRIBED", "NOT_SUBSCRIBED" ]
          },
          "sourceOfStatus" : {
            "type" : "string",
            "description" : "Lorsque le statut est déterminé, par exemple, à partir de PORTAL_WIDE_STATUS si le contact s'est désinscrit du portail.",
            "enum" : [ "PORTAL_WIDE_STATUS", "BRAND_WIDE_STATUS", "SUBSCRIPTION_STATUS" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets de support",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "communication_preferences.read" : "Read contact subscription preferences",
              "communication_preferences.read_write" : "Update contact subscription preferences",
              "communication_preferences.write" : "Update contact subscription preferences"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}