{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Cartes CRM d'application publique",
    "description" : "Allows an app to extend the CRM UI by surfacing custom cards in the sidebar of record pages. These cards are defined up-front as part of app configuration, then populated by external data fetch requests when the record page is accessed by a user.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Ajoutez une carte personnalisée aux fiches d'informations de contact qui affiche les données de votre logiciel de suivi des bugs externe.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Cards Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/crm-cards"
    } ],
    "x-hubspot-introduction" : "Créez des cartes personnalisées pour intégrer des données de systèmes externes sur les fiches d'informations du CRM. Une application publique est nécessaire. Ces cartes CRM se distinguent des extensions d'IU qui peuvent être créées avec les projets."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "SampleResponse"
  }, {
    "name" : "Cards"
  }, {
    "name" : "Cartes"
  } ],
  "paths" : {
    "/crm/v3/extensions/cards-dev/sample-response" : {
      "get" : {
        "tags" : [ "SampleResponse" ],
        "summary" : "Obtenir un exemple de réponse de détail de carte",
        "description" : "Renvoie un exemple de réponse de détail de carte. Il s'agit de la charge utile avec les détails affichés pour une carte qui sera montrée à un utilisateur. Une application doit envoyer cela en réponse à la demande de récupération des données.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/sample-response_getCardsSampleResponse",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorCardPayloadResponse"
                },
                "example" : {
                  "totalCount" : 1,
                  "allItemsLinkUrl" : "https://example.com/all-items-link-url",
                  "cardLabel" : "Tickets",
                  "topLevelActions" : {
                    "settings" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-contents",
                      "label" : "Edit",
                      "propertyNamesIncluded" : [ "some_crm_property" ]
                    },
                    "primary" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/primary-iframe",
                      "label" : "test_label_primary",
                      "propertyNamesIncluded" : [ ]
                    },
                    "secondary" : [ {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/secondary-iframe",
                      "label" : "test_label_secondary",
                      "propertyNamesIncluded" : [ ]
                    } ]
                  },
                  "sections" : [ {
                    "id" : "123",
                    "title" : "API-22: APIs working too fast",
                    "linkUrl" : "http://example.com/1",
                    "tokens" : [ {
                      "name" : "created",
                      "label" : "test_label",
                      "dataType" : "DATE",
                      "value" : "2016-08-04"
                    } ],
                    "actions" : [ {
                      "type" : "ACTION_HOOK",
                      "httpMethod" : "POST",
                      "url" : "https://example.com/action-hook-frame",
                      "label" : "action-hook-label",
                      "propertyNamesIncluded" : [ "email", "firstName" ]
                    }, {
                      "type" : "ACTION_HOOK",
                      "confirmation" : {
                        "prompt" : "action-confirmation-body-prompt",
                        "confirmButtonLabel" : "Continue",
                        "cancelButtonLabel" : "Cancel"
                      },
                      "httpMethod" : "POST",
                      "url" : "https://example.com/confirmation-action-hook",
                      "label" : "confirmation-hook-label",
                      "propertyNamesIncluded" : [ ]
                    }, {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-action-label",
                      "label" : "iframe-action-label",
                      "propertyNamesIncluded" : [ "property1", "property2", "property3" ]
                    } ]
                  } ],
                  "responseVersion" : "v3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}" : {
      "get" : {
        "tags" : [ "Cards", "Cartes" ],
        "summary" : "Obtenir toutes les cartes",
        "description" : "Renvoie une liste de cartes pour une application donnée.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardListResponse"
                },
                "example" : {
                  "results" : [ {
                    "id" : "123",
                    "createdAt" : "2020-02-26T18:30:53.451Z",
                    "updatedAt" : "2020-02-26T18:30:53.451Z",
                    "title" : "PetSpot",
                    "fetch" : {
                      "targetUrl" : "https://www.example.com/hubspot/target",
                      "objectTypes" : [ {
                        "name" : "contacts",
                        "propertiesToSend" : [ "email", "firstname" ]
                      } ]
                    },
                    "display" : {
                      "properties" : [ {
                        "name" : "pet_name",
                        "label" : "Pets Name",
                        "dataType" : "STRING"
                      } ]
                    },
                    "actions" : {
                      "baseUrls" : [ "https://www.example.com/hubspot" ]
                    }
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Cards", "Cartes" ],
        "summary" : "Créer une nouvelle carte",
        "description" : "Définit une nouvelle carte qui deviendra active sur un compte lorsque cette application est installée.",
        "operationId" : "post-/crm/v3/extensions/cards-dev/{appId}_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The new card definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pet's Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}/{cardId}" : {
      "get" : {
        "tags" : [ "Cards", "Cartes" ],
        "summary" : "Obtenez une carte.",
        "description" : "Renvoie la définition d'une carte avec l'ID donné.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}/{cardId}_getById",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "L'ID de la carte cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Cards", "Cartes" ],
        "summary" : "Supprimer une carte",
        "description" : "Supprime définitivement une définition de carte avec l'identifiant donné. Une fois supprimée, les demandes de récupération de données pour cette carte ne seront plus envoyées à votre service. Cette action est irréversible.",
        "operationId" : "delete-/crm/v3/extensions/cards-dev/{appId}/{cardId}_archive",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "L'ID de la carte à supprimer.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Cards", "Cartes" ],
        "summary" : "Mettre à jour une carte",
        "description" : "Mettez à jour une définition de carte avec de nouveaux détails.",
        "operationId" : "patch-/crm/v3/extensions/cards-dev/{appId}/{cardId}_update",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "L'ID de la carte à mettre à jour.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "L'ID de l'application cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Card definition fields to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CardCreateRequest" : {
        "required" : [ "actions", "display", "fetch", "title" ],
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "Le titre de niveau supérieur pour cette carte. Affiché aux utilisateurs dans l'interface CRM.",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "State of card definition to be created",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardFetchBodyPatch" : {
        "required" : [ "objectTypes" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "Un tableau de types d'objets CRM où cette carte doit être affichée. HubSpot appellera votre URL cible chaque fois qu'un utilisateur visite une page de fiches d'informations des types définis ici.",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "URL du point de terminaison de service répondant avec les détails pour cette carte. HubSpot appellera ce point de terminaison chaque fois qu'un utilisateur visite la page d'une fiche d'informations du CRM où cette carte doit être affichée."
          }
        },
        "description" : "Variant of CardFetchBody with fields as optional for patches"
      },
      "CardDisplayProperty" : {
        "required" : [ "dataType", "label", "name", "options" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "description" : "Type des données représentées par cette propriété.",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Un identifiant interne pour cette propriété. Cette valeur doit être unique TODO."
          },
          "options" : {
            "type" : "array",
            "description" : "Un tableau d'options disponibles qui peuvent être affichées. Utilisé uniquement lorsque « dataType » est « STATUT ».",
            "items" : {
              "$ref" : "#/components/schemas/DisplayOption"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Le libellé de cette propriété telle que vous souhaitez qu'elle soit affichée aux utilisateurs."
          }
        },
        "description" : "Definition for a card display property."
      },
      "IntegratorObjectResult" : {
        "required" : [ "actions", "id", "title", "tokens" ],
        "type" : "object",
        "properties" : {
          "linkUrl" : {
            "type" : "string"
          },
          "tokens" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObjectToken"
            }
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          }
        }
      },
      "CardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "Un tableau de types d'objets CRM où cette carte doit être affichée. HubSpot appellera votre URL de récupération de données chaque fois qu'un utilisateur visite une page de fiches d'informations des types définis ici.",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "URL des points de terminaison de service répondant avec les détails de la carte. HubSpot appellera ce point de terminaison chaque fois qu'un utilisateur visite la page d'une fiche d'informations du CRM où cette carte doit être affichée."
          }
        },
        "description" : "Configuration for this card's data fetch request."
      },
      "CardObjectTypeBody" : {
        "required" : [ "name", "propertiesToSend" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Un type d'objet CRM où cette carte doit être affichée.",
            "enum" : [ "contacts", "deals", "companies", "tickets", "marketing_events" ]
          },
          "propertiesToSend" : {
            "type" : "array",
            "description" : "Un tableau de propriétés qui doivent être envoyées à l'URL cible de cette carte lorsque la demande de récupération de données est effectuée. Doit être des propriétés valides pour le type d'objet CRM correspondant.",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets d'assistance",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicCardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "objectTypes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string"
          }
        }
      },
      "TopLevelActions" : {
        "required" : [ "secondary" ],
        "type" : "object",
        "properties" : {
          "secondary" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          },
          "settings" : {
            "$ref" : "#/components/schemas/IFrameActionBody"
          },
          "primary" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ActionHookActionBody"
            }, {
              "$ref" : "#/components/schemas/IFrameActionBody"
            } ]
          }
        }
      },
      "DisplayOption" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Nom unique compatible JSON pour l'option."
          },
          "label" : {
            "type" : "string",
            "description" : "Le texte qui sera affiché aux utilisateurs pour cette option."
          },
          "type" : {
            "type" : "string",
            "description" : "Le type de statut.",
            "enum" : [ "DEFAULT", "SUCCESS", "WARNING", "DANGER", "INFO" ]
          }
        },
        "description" : "Option definition for STATUS dataTypes."
      },
      "ActionHookActionBody" : {
        "title" : "ACTION_HOOK",
        "required" : [ "httpMethod", "propertyNamesIncluded", "type", "url" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "confirmation" : {
            "$ref" : "#/components/schemas/ActionConfirmationBody"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ACTION_HOOK",
            "enum" : [ "ACTION_HOOK" ]
          },
          "httpMethod" : {
            "type" : "string",
            "enum" : [ "CONNECT", "DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT", "TRACE" ]
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "ObjectToken" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "PublicCardResponse" : {
        "required" : [ "actions", "auditHistory", "display", "fetch", "id", "title" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "fetch" : {
            "$ref" : "#/components/schemas/PublicCardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          },
          "auditHistory" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardAuditResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ActionConfirmationBody" : {
        "required" : [ "cancelButtonLabel", "confirmButtonLabel", "prompt" ],
        "type" : "object",
        "properties" : {
          "confirmButtonLabel" : {
            "type" : "string"
          },
          "cancelButtonLabel" : {
            "type" : "string"
          },
          "prompt" : {
            "type" : "string"
          }
        }
      },
      "IFrameActionBody" : {
        "title" : "IFRAME",
        "required" : [ "height", "propertyNamesIncluded", "type", "url", "width" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "width" : {
            "type" : "integer",
            "format" : "int32"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "IFRAME",
            "enum" : [ "IFRAME" ]
          },
          "url" : {
            "type" : "string"
          },
          "height" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "IntegratorCardPayloadResponse" : {
        "required" : [ "totalCount" ],
        "type" : "object",
        "properties" : {
          "responseVersion" : {
            "type" : "string",
            "enum" : [ "v1", "v3" ]
          },
          "cardLabel" : {
            "type" : "string",
            "description" : "Le libellé à utiliser pour le lien « allItemsLinkUrl » (par exemple, « Voir plus de tickets »). Si non fourni, cela revient au titre de la carte."
          },
          "allItemsLinkUrl" : {
            "type" : "string",
            "description" : "URL vers une page que l'intégrateur a créée et qui affiche tous les détails de cette carte. Cette URL sera affichée aux utilisateurs sous un lien « Voir plus [x] » s'il y a plus de cinq éléments dans votre réponse, où « [x] » est la valeur de « itemLabel »."
          },
          "totalCount" : {
            "type" : "integer",
            "description" : "Le nombre total de propriétés de carte qui seront envoyées dans cette réponse.",
            "format" : "int32"
          },
          "topLevelActions" : {
            "$ref" : "#/components/schemas/TopLevelActions"
          },
          "sections" : {
            "type" : "array",
            "description" : "Une liste de jusqu'à cinq sous-catégories de cartes valides.",
            "items" : {
              "$ref" : "#/components/schemas/IntegratorObjectResult"
            }
          }
        },
        "description" : "The card details payload, sent to HubSpot by an app in response to a data fetch request when a user visits a CRM record page."
      },
      "PublicCardListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicCardResponse"
            }
          }
        }
      },
      "CardDisplayBody" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "description" : "Propriétés d'affichage des cartes. Elles seront affichées sous forme de paires « libellé : valeur » dans l'UI de la carte. Consultez la [carte exemple](#) dans les docs d'aperçu pour plus d'informations.",
            "items" : {
              "$ref" : "#/components/schemas/CardDisplayProperty"
            }
          }
        },
        "description" : "Configuration for displayed info on a card"
      },
      "CardPatchRequest" : {
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBodyPatch"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "Le titre de niveau supérieur pour cette carte. Affiché aux utilisateurs dans l'interface CRM.",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "Body for a patch with optional fields",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardActions" : {
        "required" : [ "baseUrls" ],
        "type" : "object",
        "properties" : {
          "baseUrls" : {
            "type" : "array",
            "description" : "Une liste de préfixes d'URL qui seront acceptés pour les URL d'action de carte. Si votre réponse de récupération de données inclut une URL d'action qui ne commence pas par l'une de ces valeurs, cela entraînera une erreur et la carte ne sera pas affichée.",
            "example" : [ "https://www.example.com/hubspot" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Configuration for custom user actions on cards.",
        "example" : {
          "baseUrls" : [ "https://www.example.com/hubspot" ]
        }
      },
      "CardAuditResponse" : {
        "required" : [ "actionType", "applicationId", "authSource", "changedAt", "initiatingUserId", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "enum" : [ "CREATE", "UPDATE", "DELETE" ]
          },
          "objectTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "authSource" : {
            "type" : "string",
            "enum" : [ "INTERNAL", "APP", "EXTERNAL" ]
          },
          "changedAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "applicationId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "initiatingUserId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}