{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tarjetas del Crm de aplicación pública",
    "description" : "Allows an app to extend the CRM UI by surfacing custom cards in the sidebar of record pages. These cards are defined up-front as part of app configuration, then populated by external data fetch requests when the record page is accessed by a user.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Agrega una tarjeta personalizada a los registros de contacto que muestre datos de tu software externo de seguimiento de errores.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Cards Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/crm-cards"
    } ],
    "x-hubspot-introduction" : "Crea tarjetas personalizadas para datos de sistemas externos en los registros del CRM. Requiere una aplicación pública. Estas tarjetas del CRM son diferentes de las extensiones de UI que puedes crear con los proyectos."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "SampleResponse"
  }, {
    "name" : "Cards"
  }, {
    "name" : "Tarjetas"
  } ],
  "paths" : {
    "/crm/v3/extensions/cards-dev/sample-response" : {
      "get" : {
        "tags" : [ "SampleResponse" ],
        "summary" : "Obtener respuesta con ejemplo de detalles de la tarjeta",
        "description" : "Devuelve un ejemplo de respuesta de detalles de tarjeta. Esta es la carga que contiene los detalles de una tarjeta que se mostrarán a un usuario. Una aplicación debe enviar esto en respuesta a la solicitud de recuperación de datos.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/sample-response_getCardsSampleResponse",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorCardPayloadResponse"
                },
                "example" : {
                  "totalCount" : 1,
                  "allItemsLinkUrl" : "https://example.com/all-items-link-url",
                  "cardLabel" : "Tickets",
                  "topLevelActions" : {
                    "settings" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-contents",
                      "label" : "Edit",
                      "propertyNamesIncluded" : [ "some_crm_property" ]
                    },
                    "primary" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/primary-iframe",
                      "label" : "test_label_primary",
                      "propertyNamesIncluded" : [ ]
                    },
                    "secondary" : [ {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/secondary-iframe",
                      "label" : "test_label_secondary",
                      "propertyNamesIncluded" : [ ]
                    } ]
                  },
                  "sections" : [ {
                    "id" : "123",
                    "title" : "API-22: APIs working too fast",
                    "linkUrl" : "http://example.com/1",
                    "tokens" : [ {
                      "name" : "created",
                      "label" : "test_label",
                      "dataType" : "DATE",
                      "value" : "2016-08-04"
                    } ],
                    "actions" : [ {
                      "type" : "ACTION_HOOK",
                      "httpMethod" : "POST",
                      "url" : "https://example.com/action-hook-frame",
                      "label" : "action-hook-label",
                      "propertyNamesIncluded" : [ "email", "firstName" ]
                    }, {
                      "type" : "ACTION_HOOK",
                      "confirmation" : {
                        "prompt" : "action-confirmation-body-prompt",
                        "confirmButtonLabel" : "Continue",
                        "cancelButtonLabel" : "Cancel"
                      },
                      "httpMethod" : "POST",
                      "url" : "https://example.com/confirmation-action-hook",
                      "label" : "confirmation-hook-label",
                      "propertyNamesIncluded" : [ ]
                    }, {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-action-label",
                      "label" : "iframe-action-label",
                      "propertyNamesIncluded" : [ "property1", "property2", "property3" ]
                    } ]
                  } ],
                  "responseVersion" : "v3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}" : {
      "get" : {
        "tags" : [ "Cards", "Tarjetas" ],
        "summary" : "Obtener todas las tarjetas",
        "description" : "Devuelve una lista de tarjetas para una aplicación determinada.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardListResponse"
                },
                "example" : {
                  "results" : [ {
                    "id" : "123",
                    "createdAt" : "2020-02-26T18:30:53.451Z",
                    "updatedAt" : "2020-02-26T18:30:53.451Z",
                    "title" : "PetSpot",
                    "fetch" : {
                      "targetUrl" : "https://www.example.com/hubspot/target",
                      "objectTypes" : [ {
                        "name" : "contacts",
                        "propertiesToSend" : [ "email", "firstname" ]
                      } ]
                    },
                    "display" : {
                      "properties" : [ {
                        "name" : "pet_name",
                        "label" : "Pets Name",
                        "dataType" : "STRING"
                      } ]
                    },
                    "actions" : {
                      "baseUrls" : [ "https://www.example.com/hubspot" ]
                    }
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Cards", "Tarjetas" ],
        "summary" : "Crear una tarjeta nueva",
        "description" : "Define una nueva tarjeta que se activará en una cuenta cuando se instale esta aplicación.",
        "operationId" : "post-/crm/v3/extensions/cards-dev/{appId}_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The new card definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pet's Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}/{cardId}" : {
      "get" : {
        "tags" : [ "Cards", "Tarjetas" ],
        "summary" : "Obtén una tarjeta.",
        "description" : "Devuelve la definición de una tarjeta con el ID especificado.",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}/{cardId}_getById",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "El ID de la tarjeta de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Cards", "Tarjetas" ],
        "summary" : "Eliminar una tarjeta",
        "description" : "Elimina permanentemente una definición de tarjeta con el ID especificado. Una vez eliminada, las solicitudes de recuperación de datos para esta tarjeta ya no se enviarán a tu servicio. Esto no se puede deshacer.",
        "operationId" : "delete-/crm/v3/extensions/cards-dev/{appId}/{cardId}_archive",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "El ID de la tarjeta que se eliminará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Cards", "Tarjetas" ],
        "summary" : "Actualizar una tarjeta",
        "description" : "Actualiza una definición de tarjeta con nuevos detalles.",
        "operationId" : "patch-/crm/v3/extensions/cards-dev/{appId}/{cardId}_update",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "El ID de la tarjeta que se actualizará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "El ID de la aplicación de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Card definition fields to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CardCreateRequest" : {
        "required" : [ "actions", "display", "fetch", "title" ],
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "El título de nivel superior de esta tarjeta. Se muestra a los usuarios en la UI del CRM.",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "State of card definition to be created",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardFetchBodyPatch" : {
        "required" : [ "objectTypes" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "Una secuencia de tipos de objetos de CRM donde se debe mostrar esta tarjeta. HubSpot llamará a tu URL de destino cada vez que un usuario visite una página de registro de los tipos definidos aquí.",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "URL a un punto de terminación de API de servicio que responderá con detalles de esta tarjeta. HubSpot llamará a este punto cada vez que un usuario visite una página de registro del CRM donde se debe mostrar esta tarjeta."
          }
        },
        "description" : "Variant of CardFetchBody with fields as optional for patches"
      },
      "CardDisplayProperty" : {
        "required" : [ "dataType", "label", "name", "options" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "description" : "Tipo de datos que esta propiedad representa.",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Un identificador interno de esta propiedad. Este valor debe ser único TODO."
          },
          "options" : {
            "type" : "array",
            "description" : "Una secuencia de opciones disponibles que se pueden mostrar. Solo se utiliza cuando \"dataType\" es \"ESTADO\".",
            "items" : {
              "$ref" : "#/components/schemas/DisplayOption"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "La etiqueta de esta propiedad como te gustaría que se mostrara a los usuarios."
          }
        },
        "description" : "Definition for a card display property."
      },
      "IntegratorObjectResult" : {
        "required" : [ "actions", "id", "title", "tokens" ],
        "type" : "object",
        "properties" : {
          "linkUrl" : {
            "type" : "string"
          },
          "tokens" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObjectToken"
            }
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          }
        }
      },
      "CardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "Una secuencia de tipos de objetos de CRM donde se debe mostrar esta tarjeta. HubSpot llamará a tu URL de recuperación de datos cada vez que un usuario visite una página de registro de los tipos definidos aquí.",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "URL a un punto de terminación de API de servicio que responderá con detalles de la tarjeta. HubSpot llamará a este punto cada vez que un usuario visite una página de registro del CRM donde se debe mostrar esta tarjeta."
          }
        },
        "description" : "Configuration for this card's data fetch request."
      },
      "CardObjectTypeBody" : {
        "required" : [ "name", "propertiesToSend" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Un tipo de objeto de CRM donde se debe mostrar esta tarjeta.",
            "enum" : [ "contacts", "deals", "companies", "tickets", "marketing_events" ]
          },
          "propertiesToSend" : {
            "type" : "array",
            "description" : "Una secuencia de propiedades que deben enviarse a la URL de destino de esta tarjeta cuando se realiza la solicitud de recuperación de datos. Deben ser propiedades válidas para el tipo de objeto de CRM correspondiente.",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicCardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "objectTypes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string"
          }
        }
      },
      "TopLevelActions" : {
        "required" : [ "secondary" ],
        "type" : "object",
        "properties" : {
          "secondary" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          },
          "settings" : {
            "$ref" : "#/components/schemas/IFrameActionBody"
          },
          "primary" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ActionHookActionBody"
            }, {
              "$ref" : "#/components/schemas/IFrameActionBody"
            } ]
          }
        }
      },
      "DisplayOption" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Nombre único compatible con JSON para la opción."
          },
          "label" : {
            "type" : "string",
            "description" : "El texto que se mostrará a los usuarios para esta opción."
          },
          "type" : {
            "type" : "string",
            "description" : "El tipo de estado.",
            "enum" : [ "DEFAULT", "SUCCESS", "WARNING", "DANGER", "INFO" ]
          }
        },
        "description" : "Option definition for STATUS dataTypes."
      },
      "ActionHookActionBody" : {
        "title" : "ACTION_HOOK",
        "required" : [ "httpMethod", "propertyNamesIncluded", "type", "url" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "confirmation" : {
            "$ref" : "#/components/schemas/ActionConfirmationBody"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ACTION_HOOK",
            "enum" : [ "ACTION_HOOK" ]
          },
          "httpMethod" : {
            "type" : "string",
            "enum" : [ "CONNECT", "DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT", "TRACE" ]
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "ObjectToken" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "PublicCardResponse" : {
        "required" : [ "actions", "auditHistory", "display", "fetch", "id", "title" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "fetch" : {
            "$ref" : "#/components/schemas/PublicCardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          },
          "auditHistory" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardAuditResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ActionConfirmationBody" : {
        "required" : [ "cancelButtonLabel", "confirmButtonLabel", "prompt" ],
        "type" : "object",
        "properties" : {
          "confirmButtonLabel" : {
            "type" : "string"
          },
          "cancelButtonLabel" : {
            "type" : "string"
          },
          "prompt" : {
            "type" : "string"
          }
        }
      },
      "IFrameActionBody" : {
        "title" : "IFRAME",
        "required" : [ "height", "propertyNamesIncluded", "type", "url", "width" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "width" : {
            "type" : "integer",
            "format" : "int32"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "IFRAME",
            "enum" : [ "IFRAME" ]
          },
          "url" : {
            "type" : "string"
          },
          "height" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "IntegratorCardPayloadResponse" : {
        "required" : [ "totalCount" ],
        "type" : "object",
        "properties" : {
          "responseVersion" : {
            "type" : "string",
            "enum" : [ "v1", "v3" ]
          },
          "cardLabel" : {
            "type" : "string",
            "description" : "La etiqueta que se utilizará para el enlace \"allItemsLinkUrl\" (por ejemplo, \"Ver más tickets\"). Si no se especifica, se utilizará el título de la tarjeta."
          },
          "allItemsLinkUrl" : {
            "type" : "string",
            "description" : "URL a una página que el integrador construyó y que muestra todos los detalles de esta tarjeta. Esta URL se mostrará a los usuarios bajo un enlace \"Ver más [x]\" si hay más de cinco elementos en la respuesta, donde \"[x]\" es el valor de \"itemLabel\"."
          },
          "totalCount" : {
            "type" : "integer",
            "description" : "El número total de propiedades de tarjeta que se enviarán en esta respuesta.",
            "format" : "int32"
          },
          "topLevelActions" : {
            "$ref" : "#/components/schemas/TopLevelActions"
          },
          "sections" : {
            "type" : "array",
            "description" : "Una lista de hasta cinco subcategorías de tarjetas válidas.",
            "items" : {
              "$ref" : "#/components/schemas/IntegratorObjectResult"
            }
          }
        },
        "description" : "The card details payload, sent to HubSpot by an app in response to a data fetch request when a user visits a CRM record page."
      },
      "PublicCardListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicCardResponse"
            }
          }
        }
      },
      "CardDisplayBody" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "description" : "Propiedades de visualización de tarjeta. Se renderizarán como pares \"etiqueta : valor\" en la UI de tarjeta. Para obtener más detalles, consulta la [tarjeta de ejemplo](#) en los documentos de resumen.",
            "items" : {
              "$ref" : "#/components/schemas/CardDisplayProperty"
            }
          }
        },
        "description" : "Configuration for displayed info on a card"
      },
      "CardPatchRequest" : {
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBodyPatch"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "El título de nivel superior de esta tarjeta. Se muestra a los usuarios en la UI del CRM.",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "Body for a patch with optional fields",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardActions" : {
        "required" : [ "baseUrls" ],
        "type" : "object",
        "properties" : {
          "baseUrls" : {
            "type" : "array",
            "description" : "Una lista de prefijos de URL que se aceptarán para las URL de acción de tarjeta. Si tu respuesta de recuperación de datos incluye una URL de acción que no comienza con uno de estos valores, se producirá un error y la tarjeta no se mostrará.",
            "example" : [ "https://www.example.com/hubspot" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Configuration for custom user actions on cards.",
        "example" : {
          "baseUrls" : [ "https://www.example.com/hubspot" ]
        }
      },
      "CardAuditResponse" : {
        "required" : [ "actionType", "applicationId", "authSource", "changedAt", "initiatingUserId", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "enum" : [ "CREATE", "UPDATE", "DELETE" ]
          },
          "objectTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "authSource" : {
            "type" : "string",
            "enum" : [ "INTERNAL", "APP", "EXTERNAL" ]
          },
          "changedAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "applicationId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "initiatingUserId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}