{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "公開アプリCRMカード",
    "description" : "Allows an app to extend the CRM UI by surfacing custom cards in the sidebar of record pages. These cards are defined up-front as part of app configuration, then populated by external data fetch requests when the record page is accessed by a user.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "外部バグ トラッキング ソフトウェアのデータを表示するカスタムカードをコンタクトレコードに追加します。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Cards Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/extensions/crm-cards"
    } ],
    "x-hubspot-introduction" : "CRMレコードの外部システムデータに合わせてカスタムカードを作成します。公開アプリが必要です。これらのCRMカードは、プロジェクトで作成できるUI拡張機能とは異なります。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "SampleResponse"
  }, {
    "name" : "Cards"
  }, {
    "name" : "カード"
  } ],
  "paths" : {
    "/crm/v3/extensions/cards-dev/sample-response" : {
      "get" : {
        "tags" : [ "SampleResponse" ],
        "summary" : "サンプルカードの詳細のレスポンスを取得",
        "description" : "サンプルカードの詳細のレスポンスを返します。これは、ユーザーに表示されるカードの詳細が含まれるペイロードです。これはアプリからレスポンスでデータ取得リクエストに送信する必要があります。",
        "operationId" : "get-/crm/v3/extensions/cards-dev/sample-response_getCardsSampleResponse",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegratorCardPayloadResponse"
                },
                "example" : {
                  "totalCount" : 1,
                  "allItemsLinkUrl" : "https://example.com/all-items-link-url",
                  "cardLabel" : "Tickets",
                  "topLevelActions" : {
                    "settings" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-contents",
                      "label" : "Edit",
                      "propertyNamesIncluded" : [ "some_crm_property" ]
                    },
                    "primary" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/primary-iframe",
                      "label" : "test_label_primary",
                      "propertyNamesIncluded" : [ ]
                    },
                    "secondary" : [ {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/secondary-iframe",
                      "label" : "test_label_secondary",
                      "propertyNamesIncluded" : [ ]
                    } ]
                  },
                  "sections" : [ {
                    "id" : "123",
                    "title" : "API-22: APIs working too fast",
                    "linkUrl" : "http://example.com/1",
                    "tokens" : [ {
                      "name" : "created",
                      "label" : "test_label",
                      "dataType" : "DATE",
                      "value" : "2016-08-04"
                    } ],
                    "actions" : [ {
                      "type" : "ACTION_HOOK",
                      "httpMethod" : "POST",
                      "url" : "https://example.com/action-hook-frame",
                      "label" : "action-hook-label",
                      "propertyNamesIncluded" : [ "email", "firstName" ]
                    }, {
                      "type" : "ACTION_HOOK",
                      "confirmation" : {
                        "prompt" : "action-confirmation-body-prompt",
                        "confirmButtonLabel" : "Continue",
                        "cancelButtonLabel" : "Cancel"
                      },
                      "httpMethod" : "POST",
                      "url" : "https://example.com/confirmation-action-hook",
                      "label" : "confirmation-hook-label",
                      "propertyNamesIncluded" : [ ]
                    }, {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-action-label",
                      "label" : "iframe-action-label",
                      "propertyNamesIncluded" : [ "property1", "property2", "property3" ]
                    } ]
                  } ],
                  "responseVersion" : "v3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}" : {
      "get" : {
        "tags" : [ "Cards", "カード" ],
        "summary" : "全てのカードを取得",
        "description" : "指定されたアプリのカードのリストを返します。",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardListResponse"
                },
                "example" : {
                  "results" : [ {
                    "id" : "123",
                    "createdAt" : "2020-02-26T18:30:53.451Z",
                    "updatedAt" : "2020-02-26T18:30:53.451Z",
                    "title" : "PetSpot",
                    "fetch" : {
                      "targetUrl" : "https://www.example.com/hubspot/target",
                      "objectTypes" : [ {
                        "name" : "contacts",
                        "propertiesToSend" : [ "email", "firstname" ]
                      } ]
                    },
                    "display" : {
                      "properties" : [ {
                        "name" : "pet_name",
                        "label" : "Pets Name",
                        "dataType" : "STRING"
                      } ]
                    },
                    "actions" : {
                      "baseUrls" : [ "https://www.example.com/hubspot" ]
                    }
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Cards", "カード" ],
        "summary" : "新規カードを作成",
        "description" : "このアプリがインストールされたときにアカウントで有効になる新しいカードを定義します。",
        "operationId" : "post-/crm/v3/extensions/cards-dev/{appId}_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The new card definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pet's Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/v3/extensions/cards-dev/{appId}/{cardId}" : {
      "get" : {
        "tags" : [ "Cards", "カード" ],
        "summary" : "カードを取得します。",
        "description" : "指定されたIDのカードの定義を返します。",
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}/{cardId}_getById",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "ターゲットカードのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Cards", "カード" ],
        "summary" : "カードを削除",
        "description" : "指定されたIDのカード定義を完全に削除します。削除されると、このカードのデータ取得リクエストが各自のサービスに送信されなくなります。これは元に戻すことができません。",
        "operationId" : "delete-/crm/v3/extensions/cards-dev/{appId}/{cardId}_archive",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "削除するカードのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Cards", "カード" ],
        "summary" : "カードを更新",
        "description" : "新しい詳細でカード定義を更新します。",
        "operationId" : "patch-/crm/v3/extensions/cards-dev/{appId}/{cardId}_update",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "更新するカードのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "ターゲットアプリのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Card definition fields to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCardResponse"
                },
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CardCreateRequest" : {
        "required" : [ "actions", "display", "fetch", "title" ],
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "このカードのトップレベルタイトル。CRM UIのユーザーに表示されます。",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "State of card definition to be created",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardFetchBodyPatch" : {
        "required" : [ "objectTypes" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "このカードが表示されるCRMオブジェクトタイプの配列。ここで定義されたタイプのレコードページにユーザーがアクセスするたびにHubSpotはターゲットURLを呼び出します。",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "このカードの詳細に基づいて応答するサービスエンドポイントのURL。カードが表示されるCRMレコードにユーザーがアクセスするたびにHubSpotはこのエンドポイントを呼び出します。"
          }
        },
        "description" : "Variant of CardFetchBody with fields as optional for patches"
      },
      "CardDisplayProperty" : {
        "required" : [ "dataType", "label", "name", "options" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "description" : "このプロパティーによって表されるデータのタイプ。",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string",
            "description" : "このプロパティーの内部ID。この値は固有のTODOである必要があります。"
          },
          "options" : {
            "type" : "array",
            "description" : "表示できるオプションの配列。「dataType」が「STATUS」の場合にのみ使用されます。",
            "items" : {
              "$ref" : "#/components/schemas/DisplayOption"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "ユーザーに表示するこのプロパティーのラベル。"
          }
        },
        "description" : "Definition for a card display property."
      },
      "IntegratorObjectResult" : {
        "required" : [ "actions", "id", "title", "tokens" ],
        "type" : "object",
        "properties" : {
          "linkUrl" : {
            "type" : "string"
          },
          "tokens" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObjectToken"
            }
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          }
        }
      },
      "CardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "serverlessFunction" : {
            "type" : "string"
          },
          "cardType" : {
            "type" : "string",
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "このカードが表示されるCRMオブジェクトタイプの配列。ここで定義されたタイプのレコードページにユーザーがアクセスするたびにHubSpotはデータ取得URLを呼び出します。",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string",
            "description" : "カードの詳細に基づいて応答するサービスエンドポイントのURL。カードが表示されるCRMレコードにユーザーがアクセスするたびにHubSpotはこのエンドポイントを呼び出します。"
          }
        },
        "description" : "Configuration for this card's data fetch request."
      },
      "CardObjectTypeBody" : {
        "required" : [ "name", "propertiesToSend" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "このカードが表示されるCRMオブジェクトタイプ。",
            "enum" : [ "contacts", "deals", "companies", "tickets", "marketing_events" ]
          },
          "propertiesToSend" : {
            "type" : "array",
            "description" : "データ取得リクエストが行われたときにこのカードのターゲットURLに送信されるプロパティーの配列。該当するCRMオブジェクトタイプの有効なプロパティーである必要があります。",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicCardFetchBody" : {
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "properties" : {
          "objectTypes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardObjectTypeBody"
            }
          },
          "targetUrl" : {
            "type" : "string"
          }
        }
      },
      "TopLevelActions" : {
        "required" : [ "secondary" ],
        "type" : "object",
        "properties" : {
          "secondary" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ActionHookActionBody"
              }, {
                "$ref" : "#/components/schemas/IFrameActionBody"
              } ]
            }
          },
          "settings" : {
            "$ref" : "#/components/schemas/IFrameActionBody"
          },
          "primary" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/ActionHookActionBody"
            }, {
              "$ref" : "#/components/schemas/IFrameActionBody"
            } ]
          }
        }
      },
      "DisplayOption" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "JSONに適したオプションの固有名。"
          },
          "label" : {
            "type" : "string",
            "description" : "ユーザーに表示されるこのオプションのテキスト。"
          },
          "type" : {
            "type" : "string",
            "description" : "ステータスのタイプ。",
            "enum" : [ "DEFAULT", "SUCCESS", "WARNING", "DANGER", "INFO" ]
          }
        },
        "description" : "Option definition for STATUS dataTypes."
      },
      "ActionHookActionBody" : {
        "title" : "ACTION_HOOK",
        "required" : [ "httpMethod", "propertyNamesIncluded", "type", "url" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "confirmation" : {
            "$ref" : "#/components/schemas/ActionConfirmationBody"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ACTION_HOOK",
            "enum" : [ "ACTION_HOOK" ]
          },
          "httpMethod" : {
            "type" : "string",
            "enum" : [ "CONNECT", "DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT", "TRACE" ]
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "ObjectToken" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "dataType" : {
            "type" : "string",
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "name" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "PublicCardResponse" : {
        "required" : [ "actions", "auditHistory", "display", "fetch", "id", "title" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "fetch" : {
            "$ref" : "#/components/schemas/PublicCardFetchBody"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "id" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          },
          "auditHistory" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CardAuditResponse"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ActionConfirmationBody" : {
        "required" : [ "cancelButtonLabel", "confirmButtonLabel", "prompt" ],
        "type" : "object",
        "properties" : {
          "confirmButtonLabel" : {
            "type" : "string"
          },
          "cancelButtonLabel" : {
            "type" : "string"
          },
          "prompt" : {
            "type" : "string"
          }
        }
      },
      "IFrameActionBody" : {
        "title" : "IFRAME",
        "required" : [ "height", "propertyNamesIncluded", "type", "url", "width" ],
        "type" : "object",
        "properties" : {
          "propertyNamesIncluded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "width" : {
            "type" : "integer",
            "format" : "int32"
          },
          "label" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "IFRAME",
            "enum" : [ "IFRAME" ]
          },
          "url" : {
            "type" : "string"
          },
          "height" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "IntegratorCardPayloadResponse" : {
        "required" : [ "totalCount" ],
        "type" : "object",
        "properties" : {
          "responseVersion" : {
            "type" : "string",
            "enum" : [ "v1", "v3" ]
          },
          "cardLabel" : {
            "type" : "string",
            "description" : "「allItemsLinkUrl」リンクに使用されるラベル（「他のチケットを表示」など）。指定されていない場合、カードのタイトルが代わりに使用されます。"
          },
          "allItemsLinkUrl" : {
            "type" : "string",
            "description" : "インテグレーターが作成した、このカードの全ての詳細が表示されるページのURL。このURLは、レスポンスに5個を超える項目がある場合に「他の[x]を表示」リンクの下に表示されます。「[x]」は「itemLabel」の値です。"
          },
          "totalCount" : {
            "type" : "integer",
            "description" : "このレスポンスで送信されるカードプロパティーの合計数。",
            "format" : "int32"
          },
          "topLevelActions" : {
            "$ref" : "#/components/schemas/TopLevelActions"
          },
          "sections" : {
            "type" : "array",
            "description" : "最大5個の有効なカードサブカテゴリーのリスト。",
            "items" : {
              "$ref" : "#/components/schemas/IntegratorObjectResult"
            }
          }
        },
        "description" : "The card details payload, sent to HubSpot by an app in response to a data fetch request when a user visits a CRM record page."
      },
      "PublicCardListResponse" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicCardResponse"
            }
          }
        }
      },
      "CardDisplayBody" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "description" : "カード表示プロパティー。これらは「ラベル：値」のペアとしてカードUIに表示されます。詳細については、概要ドキュメントの[サンプルカード](#)を参照してください。",
            "items" : {
              "$ref" : "#/components/schemas/CardDisplayProperty"
            }
          }
        },
        "description" : "Configuration for displayed info on a card"
      },
      "CardPatchRequest" : {
        "type" : "object",
        "properties" : {
          "fetch" : {
            "$ref" : "#/components/schemas/CardFetchBodyPatch"
          },
          "display" : {
            "$ref" : "#/components/schemas/CardDisplayBody"
          },
          "title" : {
            "type" : "string",
            "description" : "このカードのトップレベルタイトル。CRM UIのユーザーに表示されます。",
            "example" : "PetSpot"
          },
          "actions" : {
            "$ref" : "#/components/schemas/CardActions"
          }
        },
        "description" : "Body for a patch with optional fields",
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        }
      },
      "CardActions" : {
        "required" : [ "baseUrls" ],
        "type" : "object",
        "properties" : {
          "baseUrls" : {
            "type" : "array",
            "description" : "カードアクションURLで受け入れられるURLプレフィックスのリスト。これらの値のいずれかで開始されないアクションURLデータが取得レスポンスに含まれている場合、エラーになり、カードが表示されません。",
            "example" : [ "https://www.example.com/hubspot" ],
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Configuration for custom user actions on cards.",
        "example" : {
          "baseUrls" : [ "https://www.example.com/hubspot" ]
        }
      },
      "CardAuditResponse" : {
        "required" : [ "actionType", "applicationId", "authSource", "changedAt", "initiatingUserId", "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string",
            "enum" : [ "CREATE", "UPDATE", "DELETE" ]
          },
          "objectTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "authSource" : {
            "type" : "string",
            "enum" : [ "INTERNAL", "APP", "EXTERNAL" ]
          },
          "changedAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "applicationId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "initiatingUserId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}