{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Audit Logs",
    "description" : "Get information about a HubSpot account and its API usage.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "You want to build an internal tool for your compliance team to regularly monitor the activity of employees in your company accessing data in your HubSpot account.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Account activity API guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/settings/account-activity-api"
    } ],
    "x-hubspot-introduction" : "The account activity API allows you to retrieve login history and security activity for your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Usage"
  }, {
    "name" : "Activity"
  }, {
    "name" : "Details"
  } ],
  "paths" : {
    "/account-info/v3/api-usage/daily/private-apps" : {
      "get" : {
        "tags" : [ "Usage" ],
        "summary" : "Get the daily API usage of Private Apps and limits for a HubSpot account.",
        "description" : "Get daily private apps API usage",
        "operationId" : "get-/account-info/v3/api-usage/daily/private-apps",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiUsageNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "name" : "private-apps-api-calls-daily",
                    "usageLimit" : 500000,
                    "currentUsage" : 1,
                    "collectedAt" : "2020-04-10T06:46:40.789Z",
                    "fetchStatus" : "SUCCESS",
                    "resetsAt" : "2020-04-10T04:00:00Z"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "oauth" ]
        }, {
          "oauth2_legacy" : [ "oauth" ]
        } ]
      }
    },
    "/account-info/v3/activity/audit-logs" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve audit logs",
        "description" : "Retrieve activity history for user actions related to approvals, content updates, CRM object updates, security activity, and more (Enterprise only). Learn more about [activities included in audit log exports](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history-in-a-centralized-audit-log?hubs_content=knowledge.hubspot.com/account-management/view-and-export-account-activity-history&hubs_content-cta=centralized%20audit%20log#data-included-in-the-centralized-audit-log).",
        "operationId" : "get-/account-info/v3/activity/audit-logs",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "actingUserId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "occurredAfter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "occurredBefore",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/details" : {
      "get" : {
        "tags" : [ "Details" ],
        "summary" : "Get account details for a HubSpot account.",
        "description" : "Get account details",
        "operationId" : "get-/account-info/v3/details",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalInformationResponse"
                },
                "example" : {
                  "portalId" : 12345678,
                  "timeZone" : "US/Eastern",
                  "companyCurrency" : "USD",
                  "additionalCurrencies" : [ "NZD", "AUD", "EUR" ],
                  "utcOffset" : "-04:00",
                  "utcOffsetMilliseconds" : -14400000,
                  "uiDomain" : "app-eu1.hubspot.com",
                  "dataHostingLocation" : "eu1"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "oauth" ]
        }, {
          "oauth2_legacy" : [ "oauth" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ApiUsage" : {
        "required" : [ "collectedAt", "currentUsage", "fetchStatus", "name", "usageLimit" ],
        "type" : "object",
        "properties" : {
          "collectedAt" : {
            "type" : "string",
            "description" : "Indicates when the cache was last updated.",
            "format" : "date-time"
          },
          "usageLimit" : {
            "type" : "integer",
            "description" : "Limits by which a single integration can consume the HubSpot public APIs.",
            "format" : "int32"
          },
          "fetchStatus" : {
            "type" : "string",
            "description" : "Status of fetching the information, including if the data came from the cache.",
            "enum" : [ "SUCCESS", "TIMEOUT", "FAILURE", "CACHED", "NOTFOUND" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the limit type."
          },
          "currentUsage" : {
            "type" : "integer",
            "description" : "How many API calls an account has made for the current day.",
            "format" : "int32"
          },
          "resetsAt" : {
            "type" : "string",
            "description" : "Time that the limit will reset.",
            "format" : "date-time"
          }
        },
        "description" : "API usage and limits information for a HubSpot account."
      },
      "CollectionResponsePublicApiUserActionEventForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicApiUserActionEvent"
            }
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "ActingUser" : {
        "required" : [ "userId" ],
        "type" : "object",
        "properties" : {
          "userEmail" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PortalInformationResponse" : {
        "required" : [ "accountType", "additionalCurrencies", "companyCurrency", "dataHostingLocation", "portalId", "timeZone", "uiDomain", "utcOffset", "utcOffsetMilliseconds" ],
        "type" : "object",
        "properties" : {
          "additionalCurrencies" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "utcOffset" : {
            "type" : "string"
          },
          "companyCurrency" : {
            "type" : "string"
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "accountType" : {
            "type" : "string",
            "enum" : [ "STANDARD", "DEVELOPER_TEST", "SANDBOX", "APP_DEVELOPER" ]
          },
          "uiDomain" : {
            "type" : "string"
          },
          "timeZone" : {
            "type" : "string"
          },
          "dataHostingLocation" : {
            "type" : "string"
          },
          "utcOffsetMilliseconds" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PublicApiUserActionEvent" : {
        "required" : [ "actingUser", "action", "category", "id", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "$ref" : "#/components/schemas/ActingUser"
          },
          "subCategory" : {
            "type" : "string"
          },
          "occurredAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "targetObjectId" : {
            "type" : "string"
          },
          "action" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "category" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponseApiUsageNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApiUsage"
            }
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "account-info.security.read" : "Allows reading of account security information",
              "oauth" : "User and Account Information"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  }
}