{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Audit Logs",
    "description" : "Get information about a HubSpot account and its API usage.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "You want to build an internal tool for your compliance team to regularly monitor the activity of employees in your company accessing data in your HubSpot account.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Account activity API guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/settings/account-activity-api"
    } ],
    "x-hubspot-introduction" : "The account activity API allows you to retrieve login history and security activity for your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Activity"
  } ],
  "paths" : {
    "/account-info/v3/activity/login" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve login activity",
        "description" : "Retrieve logs of user actions related to [login activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#account-login-history).",
        "operationId" : "get-/account-info/v3/activity/login",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/activity/audit-logs" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve audit logs",
        "description" : "Retrieve activity history for user actions related to approvals, content updates, CRM object updates, security activity, and more (Enterprise only). Learn more about [activities included in audit log exports](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history-in-a-centralized-audit-log?hubs_content=knowledge.hubspot.com/account-management/view-and-export-account-activity-history&hubs_content-cta=centralized%20audit%20log#data-included-in-the-centralized-audit-log).",
        "operationId" : "get-/account-info/v3/activity/audit-logs",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "actingUserId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "occurredAfter",
          "in" : "query",
          "description" : "Return activity history that occurred after the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "occurredBefore",
          "in" : "query",
          "description" : "Return activity history that occurred before the specified timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/activity/security" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve security history",
        "description" : "Retrieve logs of user actions related to [security activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#security-activity-history).",
        "operationId" : "get-/account-info/v3/activity/security",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "description" : "The start time, for retrieving logs within a specific timeframe.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "toTimestamp",
          "in" : "query",
          "description" : "The end time, for retrieving logs within a specific timeframe.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicLoginAuditForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicLoginAudit"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "CollectionResponsePublicApiUserActionEventForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicApiUserActionEvent"
            }
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicLoginAudit" : {
        "required" : [ "id", "loginAt", "loginSucceeded" ],
        "type" : "object",
        "properties" : {
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code of the login",
            "example" : "d"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code of the login",
            "example" : "ie"
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated.",
            "example" : "45.56.67.89"
          },
          "location" : {
            "type" : "string"
          },
          "userAgent" : {
            "type" : "string",
            "description" : "Information about the device used for logging in.",
            "example" : "Mozilla/5.0 (Linux; Android 11; M2101K6G)"
          },
          "id" : {
            "type" : "string",
            "description" : "The login activity's unique ID.",
            "example" : "5432653"
          },
          "loginAt" : {
            "type" : "string",
            "description" : "The time the login took place.",
            "format" : "date-time"
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32",
            "example" : 876
          },
          "email" : {
            "type" : "string",
            "description" : "Email address of the user associated with the login.",
            "example" : "person3@testdomain.com"
          },
          "loginSucceeded" : {
            "type" : "boolean",
            "description" : "Whether the login was successful or not.",
            "example" : true
          }
        },
        "description" : "Details about the a particular login activity for a HubSpot account.",
        "example" : {
          "id" : "5432653",
          "loginAt" : "2022-04-01T19:36:24.303Z",
          "userId" : 876,
          "email" : "person3@testdomain.com",
          "countryCode" : "ie",
          "regionCode" : "d",
          "ipAddress" : "45.56.67.89",
          "userAgent" : "Mozilla/5.0 (Linux; Android 11; M2101K6G)",
          "loginSucceeded" : true
        }
      },
      "ActingUser" : {
        "required" : [ "userId" ],
        "type" : "object",
        "properties" : {
          "userEmail" : {
            "type" : "string",
            "description" : "The email address of the user who performed the action.",
            "example" : "pgibbons@initech.com"
          },
          "userId" : {
            "type" : "integer",
            "description" : "The ID of the user who performed the action.",
            "format" : "int32",
            "example" : 2931299
          }
        }
      },
      "HydratedCriticalAction" : {
        "required" : [ "createdAt", "id", "type", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The time the activity took place.",
            "format" : "date-time",
            "example" : "2022-04-01T19:36:24.303+00:00"
          },
          "actingUser" : {
            "type" : "string",
            "description" : "Email address of the user associated with the activity.",
            "example" : "person3@testdomain.com"
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code",
            "example" : "d"
          },
          "infoUrl" : {
            "type" : "string",
            "description" : "A link to the URL where the action was taken in the account.",
            "example" : "app.hubspot.com/settings/123/users"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code",
            "example" : "ie"
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated.",
            "example" : "45.56.67.89"
          },
          "location" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the activity.",
            "example" : "5432653"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of activity.",
            "example" : "ADD_USER"
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32",
            "example" : 876
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the affected object.",
            "example" : "7654"
          }
        },
        "description" : "Details about the a particular security activity for a HubSpot account.",
        "example" : {
          "id" : "5432653",
          "createdAt" : "2022-04-01T19:36:24.303Z",
          "userId" : 876,
          "type" : "ADD_USER",
          "actingUser" : "person3@testdomain.com",
          "objectId" : "7654",
          "infoUrl" : "app.hubspot.com/settings/123/users",
          "ipAddress" : "45.56.67.89",
          "countryCode" : "ie",
          "regionCode" : "d"
        }
      },
      "PublicApiUserActionEvent" : {
        "required" : [ "actingUser", "action", "category", "id", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "$ref" : "#/components/schemas/ActingUser"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "The subcategory of the activity.",
            "example" : "LOGIN_SUCCEEDED"
          },
          "occurredAt" : {
            "type" : "string",
            "description" : "The time that the action occurred at.",
            "format" : "date-time",
            "example" : "2025-01-09T16:05:32.387+00:00"
          },
          "targetObjectId" : {
            "type" : "string",
            "description" : "The ID of the impacted object.",
            "example" : "1"
          },
          "action" : {
            "type" : "string",
            "description" : "The type of action taken.",
            "example" : "PERFORM"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the activity.",
            "example" : "5432653"
          },
          "category" : {
            "type" : "string",
            "description" : "The category of the activity.",
            "example" : "LOGIN"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponseHydratedCriticalActionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HydratedCriticalAction"
            }
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "account-info.security.read" : "Allows reading of account security information",
              "oauth" : "User and Account Information"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  }
}