{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Audit Logs",
    "description" : "Get information about a HubSpot account and its API usage.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You want to build an internal tool for your compliance team to regularly monitor the activity of employees in your company accessing data in your HubSpot account.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Account activity API guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/settings/account-activity-api"
    } ],
    "x-hubspot-introduction" : "The account activity API allows you to retrieve login history and security activity for your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Activity"
  } ],
  "paths" : {
    "/account-info/v3/activity/audit-logs" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve audit logs",
        "description" : "Retrieve activity history for user actions related to approvals, content updates, CRM object updates, security activity, and more (Enterprise only). Learn more about [activities included in audit log exports](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history-in-a-centralized-audit-log?hubs_content=knowledge.hubspot.com/account-management/view-and-export-account-activity-history&hubs_content-cta=centralized%20audit%20log#data-included-in-the-centralized-audit-log).",
        "operationId" : "get-/account-info/v3/activity/audit-logs",
        "parameters" : [ {
          "name" : "actingUserId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "occurredAfter",
          "in" : "query",
          "description" : "A timestamp, as a starting point for retrieving activity logs. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "occurredBefore",
          "in" : "query",
          "description" : "A timestamp, as an end point for retrieving activity logs. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Set to `occurredAt` to order results by the time of the event. By default, events are ordered from oldest to newest.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        }, {
          "private_apps" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/activity/login" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve login activity",
        "description" : "Retrieve logs of user actions related to [login activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#account-login-history).",
        "operationId" : "get-/account-info/v3/activity/login",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        }, {
          "private_apps" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/activity/security" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Retrieve security history",
        "description" : "Retrieve logs of user actions related to [security activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#security-activity-history).",
        "operationId" : "get-/account-info/v3/activity/security",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "description" : "The start time, for retrieving logs within a specific timeframe.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "toTimestamp",
          "in" : "query",
          "description" : "The end time, for retrieving logs within a specific timeframe.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The ID of a user, for retrieving user-specific logs.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "account-info.security.read" ]
        }, {
          "private_apps" : [ "account-info.security.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicLoginAuditForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicLoginAudit"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate."
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error."
          }
        }
      },
      "CollectionResponsePublicApiUserActionEventForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicApiUserActionEvent"
            }
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicLoginAudit" : {
        "required" : [ "id", "loginAt", "loginSucceeded" ],
        "type" : "object",
        "properties" : {
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code of the login."
          },
          "email" : {
            "type" : "string",
            "description" : "Email address of the user associated with the login."
          },
          "id" : {
            "type" : "string",
            "description" : "The login activity's unique ID."
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated."
          },
          "location" : {
            "type" : "string",
            "description" : "The approximate location where the login activity originated."
          },
          "loginAt" : {
            "type" : "string",
            "description" : "The time the login took place.",
            "format" : "date-time"
          },
          "loginSucceeded" : {
            "type" : "boolean",
            "description" : "Whether the login was successful or not."
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code of the login."
          },
          "userAgent" : {
            "type" : "string",
            "description" : "Information about the device used for logging in."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32"
          }
        },
        "description" : "Details about the a particular login activity for a HubSpot account.",
        "example" : {
          "countryCode" : "ie",
          "email" : "person3@testdomain.com",
          "id" : "5432653",
          "ipAddress" : "45.56.67.89",
          "loginAt" : "2022-04-01T19:36:24.303Z",
          "loginSucceeded" : true,
          "regionCode" : "d",
          "userAgent" : "Mozilla/5.0 (Linux; Android 11; M2101K6G)",
          "userId" : 876
        }
      },
      "ActingUser" : {
        "required" : [ "userId" ],
        "type" : "object",
        "properties" : {
          "userEmail" : {
            "type" : "string",
            "description" : "The email address of the user who performed the action."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The ID of the user who performed the action.",
            "format" : "int32"
          }
        }
      },
      "HydratedCriticalAction" : {
        "required" : [ "createdAt", "id", "type", "userId" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "type" : "string",
            "description" : "Email address of the user associated with the activity."
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The time the activity took place.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the activity."
          },
          "infoUrl" : {
            "type" : "string",
            "description" : "A link to the URL where the action was taken in the account."
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated."
          },
          "location" : {
            "type" : "string",
            "description" : "The approximate location where the activity took place."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the affected object."
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of activity."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32"
          }
        },
        "description" : "Details about the a particular security activity for a HubSpot account.",
        "example" : {
          "actingUser" : "person3@testdomain.com",
          "countryCode" : "ie",
          "createdAt" : "2022-04-01T19:36:24.303Z",
          "id" : "5432653",
          "infoUrl" : "app.hubspot.com/settings/123/users",
          "ipAddress" : "45.56.67.89",
          "objectId" : "7654",
          "regionCode" : "d",
          "type" : "ADD_USER",
          "userId" : 876
        }
      },
      "PublicApiUserActionEvent" : {
        "required" : [ "actingUser", "action", "category", "id", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "$ref" : "#/components/schemas/ActingUser"
          },
          "action" : {
            "type" : "string",
            "description" : "The type of action taken."
          },
          "category" : {
            "type" : "string",
            "description" : "The category of the activity."
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the activity."
          },
          "occurredAt" : {
            "type" : "string",
            "description" : "The time that the action occurred at.",
            "format" : "date-time"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "The subcategory of the activity."
          },
          "targetObjectId" : {
            "type" : "string",
            "description" : "The ID of the impacted object."
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error."
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponseHydratedCriticalActionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HydratedCriticalAction"
            }
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "account-info.security.read" : "Allows reading of account security information",
              "oauth" : "User and Account Information"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}