{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hubdb",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "PROFESSIONAL",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Rows"
  }, {
    "name" : "Rows Batch"
  }, {
    "name" : "Tables"
  } ],
  "paths" : {
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get all published tables",
        "description" : "Returns the details for the published version of each table defined in an account, including column definitions.",
        "operationId" : "get-/cms/v3/hubdb/tables_getAllTables",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "Specifies the content type for the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return tables created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return tables created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return tables created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "Indicates whether to retrieve the localized schema for the tables.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return tables last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return tables last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return tables last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Create a new table",
        "description" : "Creates a new draft HubDB table given a JSON schema. The table name and label should be unique for each account.",
        "operationId" : "post-/cms/v3/hubdb/tables_createTable",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Return all draft tables",
        "description" : "Returns the details for each draft table defined in the specified account, including column definitions.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "Specifies the content type for the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return tables created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return tables created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return tables created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "Indicates whether to retrieve the localized schema.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return tables last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return tables last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return tables last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get details of a published table",
        "description" : "Returns the details for the published version of the specified table. This will include the definitions for the columns in the table and the number of rows in the table.\n\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access. To do so, you'll need to include the HubSpot account ID in a `portalId` query parameter.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to return.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Set this to `true` to return details for an archived table. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "Indicates whether to retrieve the localized schema for the tables.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables" ],
        "summary" : "Archive a table",
        "description" : "Archive (soft delete) an existing HubDB table. This archives both the published and draft versions.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to archive.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get details for a draft table",
        "description" : "Get the details for the draft version of a specific HubDB table. This will include the definitions for the columns in the table and the number of rows in the table.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to return.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Set this to `true` to return an archived table. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "Indicates whether to retrieve the localized schema for the table.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables" ],
        "summary" : "Update an existing table",
        "description" : "Update an existing HubDB table. You can use this endpoint to add or remove columns to the table as well as restore an archived table. Tables updated using the endpoint will only modify the draft verion of the table. Use the `/publish` endpoint to push all the changes to the published version. To restore a table, include the query parameter `archived=true` and `\"archived\": false` in the json body.\n**Note:** You need to include all the columns in the input when you are adding/removing/updating a column. If you do not include an already existing column in the request, it will be deleted.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "Indicates whether to retrieve the localized schema for the table.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Clone a table",
        "description" : "Clone an existing HubDB table. The `newName` and `newLabel` of the new table can be sent as JSON in the request body. This will create the cloned table as a draft.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to clone.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Export a draft table",
        "description" : "Exports the draft version of a table to CSV / EXCEL format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to export.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Import data into draft table",
        "description" : "Import the contents of a CSV file into an existing HubDB table. The data will always be imported into the draft version of the table. Use the `/publish` endpoint to push these changes to the published version.\nThis endpoint takes a multi-part POST request. The first part will be a set of JSON-formatted options for the import and you can specify this with the name as `config`.  The second part will be the CSV file you want to import and you can specify this with the name as `file`. Refer the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) to check the details and format of the JSON-formatted options for the import.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID of the destination table where data will be imported.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Publish a table from draft",
        "description" : "Publishes the table by copying the data and table schema changes from draft version to the published version, meaning any website pages using data from the table will be updated.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Reset a draft table",
        "description" : "Replaces the data in the draft version of the table with values from the published version. Any unpublished changes in the draft will be lost after this call is made.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to reset.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Export a published version of a table",
        "description" : "Exports the published version of a table in a specified format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to export.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get rows for a table",
        "description" : "Returns a set of rows in the published version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to include archived rows in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of rows to skip before starting to return results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Specify the column names to get results containing only the required columns instead of all column details.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies the column names to sort the results by. See the above description for more details.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows" ],
        "summary" : "Add a new row to a table",
        "description" : "Add a new row to a HubDB table. New rows will be added to the draft version of the table. Use the `/publish` endpoint to push these changes to published version.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the target table.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Get a set of rows",
        "description" : "Returns rows in the published version of the specified table, given a set of row IDs.\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get rows from draft table",
        "description" : "Returns rows in the draft version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived rows. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of rows to skip before starting to return results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Specify the column names to get results containing only the required columns instead of all column details. If you want to include multiple columns in the result, use this query param as many times.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies the column names to sort the results by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Clone rows in batch",
        "description" : "Clones rows in the draft version of the specified table, given a set of row ids. Maximum of 100 row ids per call.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Create rows in batch",
        "description" : "Creates rows in the draft version of the specified table, given an array of row objects. Maximum of 100 row object per call. See the overview section for more details with an example.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Permanently deletes rows",
        "description" : "Permanently deletes rows from the draft version of the table, given a set of row IDs. Maximum of 100 row IDs per call.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Get a set of rows from draft table",
        "description" : "Returns rows in the draft version of the specified table, given a set of row IDs.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Replace rows in batch in draft table",
        "description" : "Replaces multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PUT /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Update rows in batch in draft table",
        "description" : "Updates multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PATCH /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get a table row",
        "description" : "Get a single row by ID from the published version of a table.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return an archived row. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get a row from the draft table",
        "description" : "Get a single row by ID from a table's draft version.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Set this to `true` to return an archived row. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows" ],
        "summary" : "Replaces an existing row",
        "description" : "Replace a single row in the draft version of a table. All column values must be specified. If a column has a value in the target table and this request doesn't define that value, it will be deleted.\nSee the \"Create a row\" endpoint for instructions on how to format the JSON row definitions.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows" ],
        "summary" : "Permanently deletes a row",
        "description" : "Permanently deletes a row from a table's draft version.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows" ],
        "summary" : "Updates an existing row",
        "description" : "Sparse updates a single row in the table's draft version.\nAll the column values need not be specified. Only the columns or fields that needs to be modified can be specified.\nSee the \"Create a row\" endpoint for instructions on how to format the JSON row definitions.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows" ],
        "summary" : "Clone a row",
        "description" : "Clones a single row in the draft version of a table.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
        "parameters" : [ {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The name for the cloned row.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Unpublish a table",
        "description" : "Unpublishes the table, meaning any website pages using data from the table will not render any data.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/versions/{versionId}" : {
      "delete" : {
        "tags" : [ "Tables" ],
        "summary" : "Delete a table version",
        "description" : "Delete a specific version of a table",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/versions/{versionId}_removeTableVersion",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table whose version is to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versionId",
          "in" : "path",
          "description" : "The ID of the specific version of the table to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "hubdb" ]
        }, {
          "private_apps" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "Specifies the main category of the error, determining the broad area of issue."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "An object containing context-specific information pertinent to the error."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the error instance."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "An object containing links related to the error, such as documentation URLs or support contact pages."
          },
          "message" : {
            "type" : "string",
            "description" : "A detailed message describing the error."
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "Identifies the subcategory of the error, providing more specific context within the main category."
          }
        },
        "description" : "Ye olde error"
      },
      "BoundedNextPage" : {
        "required" : [ "offset" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next set of results."
          },
          "offset" : {
            "type" : "integer",
            "description" : "The offset value indicating the starting point for the next set of results.",
            "format" : "int32"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows", "isHubspotDefined" ],
        "type" : "object",
        "properties" : {
          "copyRows" : {
            "type" : "boolean",
            "description" : "Specifies whether to copy the rows during clone"
          },
          "isHubspotDefined" : {
            "type" : "boolean",
            "description" : "Indicates whether the table is defined by HubSpot."
          },
          "newLabel" : {
            "type" : "string",
            "description" : "The new label for the cloned table"
          },
          "newName" : {
            "type" : "string",
            "description" : "The new name for the cloned table"
          }
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the user."
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user."
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the user."
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user."
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of tables available in the collection.",
            "format" : "int32"
          }
        }
      },
      "BoundedPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/BoundedNextPage"
          }
        }
      },
      "BatchInputHubDbTableRowBatchCloneRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowBatchCloneRequest"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "HubDbTableRowBatchCloneRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the row to be cloned."
          },
          "name" : {
            "type" : "string",
            "description" : "The name for the cloned row."
          }
        }
      },
      "UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3"
        }, {
          "$ref" : "#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3"
        } ]
      },
      "Column" : {
        "required" : [ "deleted", "description", "id", "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the column was created.",
            "format" : "date-time"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "createdByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who created the column.",
            "format" : "int32"
          },
          "deleted" : {
            "type" : "boolean",
            "description" : "Indicates whether the column has been deleted."
          },
          "description" : {
            "type" : "string",
            "description" : "The description of the column."
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "Foreign Column id",
            "format" : "int32"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "Foreign Ids",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Foreign ids"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Foreign ids by name"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "Foreign table id referenced",
            "format" : "int64"
          },
          "id" : {
            "type" : "string",
            "description" : "Column Id"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the column"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the column"
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Number of options available",
            "format" : "int32"
          },
          "options" : {
            "type" : "array",
            "description" : "Options to choose for select and multi-select columns",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the column",
            "enum" : [ "BOOLEAN", "CODE", "COMPOSITE", "CTA", "CURRENCY", "DATE", "DATETIME", "EMBED", "FILE", "FOREIGN_ID", "HUBSPOT_VIDEO", "IMAGE", "JSON", "LOCATION", "MULTISELECT", "NULL", "NUMBER", "RICHTEXT", "SELECT", "TEXT", "URL", "VIDEO" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the column was last updated.",
            "format" : "date-time"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "description" : "The ID of the user who last updated the column.",
            "format" : "int32"
          },
          "width" : {
            "type" : "integer",
            "description" : "Column width for HubDB UI",
            "format" : "int32"
          }
        }
      },
      "StreamingCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "STREAMING",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Wrapper"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of rows available in the collection.",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of response, which is 'STREAMING' by default.",
            "default" : "STREAMING",
            "enum" : [ "STREAMING" ]
          }
        }
      },
      "HubDbTableV3" : {
        "required" : [ "allowChildTables", "allowPublicApiAccess", "columnCount", "columns", "createdAt", "deleted", "deletedAt", "dynamicMetaTags", "enableChildTablePages", "id", "label", "name", "published", "publishedAt", "rowCount", "updatedAt", "useForPages" ],
        "type" : "object",
        "properties" : {
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Specifies whether child tables can be created"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be read by public without authorization"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Number of columns including deleted",
            "format" : "int32"
          },
          "columns" : {
            "type" : "array",
            "description" : "List of columns in the table",
            "example" : "{name: \"column1\"",
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is created",
            "format" : "date-time"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "deleted" : {
            "type" : "boolean",
            "description" : "Specifies whether the table is marked as deleted."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the table was deleted.",
            "format" : "date-time"
          },
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Specifies the key value pairs of the [metadata fields](https://developers.hubspot.com/docs/cms/guides/dynamic-pages/hubdb#dynamic-pages) with the associated column IDs."
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Specifies creation of multi-level dynamic pages using child tables"
          },
          "id" : {
            "type" : "string",
            "description" : "Id of the table"
          },
          "isOrderedManually" : {
            "type" : "boolean",
            "description" : "Indicates whether the table rows are ordered manually."
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the table"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the table"
          },
          "published" : {
            "type" : "boolean",
            "description" : "Indicates whether the table is currently published."
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is published recently",
            "format" : "date-time"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Number of rows in the table",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is updated recently",
            "format" : "date-time"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be used for creation of dynamic pages"
          }
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch processing was completed.",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of related links associated with the batch response."
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch request was made.",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch processing began.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier for the foreign ID."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the foreign ID."
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the foreign ID."
          }
        }
      },
      "RandomAccessCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "RANDOM_ACCESS",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/BoundedPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Wrapper"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of rows available in the collection.",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of response, which is 'RANDOM_ACCESS' by default.",
            "default" : "RANDOM_ACCESS",
            "enum" : [ "RANDOM_ACCESS" ]
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Specifies number of duplicate rows",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "description" : "List of errors during import",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          },
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Specifies whether row limit exceeded during import"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Specifies number of rows imported",
            "format" : "int32"
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "allowChildTables", "allowPublicApiAccess", "columns", "dynamicMetaTags", "enableChildTablePages", "label", "name", "useForPages" ],
        "type" : "object",
        "properties" : {
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Specifies whether child tables can be created"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be read by public without authorization"
          },
          "columns" : {
            "type" : "array",
            "description" : "List of columns in the table",
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Specifies the key value pairs of the [metadata fields](https://developers.hubspot.com/docs/cms/guides/dynamic-pages/hubdb#dynamic-pages) with the associated column IDs."
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Specifies creation of multi-level dynamic pages using child tables"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the table"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the table"
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be used for creation of dynamic pages"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch processing was completed.",
            "format" : "date-time"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of related links associated with the batch response."
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation.",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch request was made.",
            "format" : "date-time"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the batch processing began.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.",
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        }
      },
      "ColumnRequest" : {
        "required" : [ "id", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "The id of the column from another table to which the column refers/points to.",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "The id of another table to which the column refers/points to.",
            "format" : "int64"
          },
          "id" : {
            "type" : "integer",
            "description" : "Column Id",
            "format" : "int32"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the column"
          },
          "maxNumberOfCharacters" : {
            "type" : "integer",
            "description" : "Defines the maximum number of characters allowed in the column.",
            "format" : "int32"
          },
          "maxNumberOfOptions" : {
            "type" : "integer",
            "description" : "Specifies the maximum number of options that can be set for select and multi-select columns.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the column"
          },
          "options" : {
            "type" : "array",
            "description" : "Options to choose for select and multi-select columns",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the column",
            "enum" : [ "BOOLEAN", "CODE", "COMPOSITE", "CTA", "CURRENCY", "DATE", "DATETIME", "EMBED", "FILE", "FOREIGN_ID", "HUBSPOT_VIDEO", "IMAGE", "JSON", "LOCATION", "MULTISELECT", "NULL", "NUMBER", "RICHTEXT", "SELECT", "TEXT", "URL", "VIDEO" ]
          }
        }
      },
      "Variant" : {
        "type" : "object",
        "properties" : { }
      },
      "HubDbTableRowV3BatchUpdateRequest" : {
        "required" : [ "childTableId", "displayIndex", "values" ],
        "type" : "object",
        "properties" : {
          "childTableId" : {
            "type" : "integer",
            "description" : "Specifies the value for the column child table id",
            "format" : "int32"
          },
          "displayIndex" : {
            "type" : "integer",
            "description" : "The index position for displaying the row within the table.",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "The id of the table row"
          },
          "name" : {
            "type" : "string",
            "description" : "Specifies the value for `hs_name` column, which will be used as title in the dynamic pages"
          },
          "path" : {
            "type" : "string",
            "description" : "Specifies the value for `hs_path` column, which will be used as slug in the dynamic pages"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "List of key value pairs with the column name and column value"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results."
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
      },
      "HubDbTableRowV3" : {
        "required" : [ "childTableId", "createdAt", "id", "name", "path", "publishedAt", "updatedAt", "values" ],
        "type" : "object",
        "properties" : {
          "childTableId" : {
            "type" : "string",
            "description" : "Specifies the value for the column child table id"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Timestamp at which the row is created",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The id of the table row"
          },
          "name" : {
            "type" : "string",
            "description" : "Specifies the value for `hs_name` column, which will be used as title in the dynamic pages"
          },
          "path" : {
            "type" : "string",
            "description" : "Specifies the value for `hs_path` column, which will be used as slug in the dynamic pages"
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "The timestamp indicating when the row was last published, in date-time format.",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp at which the row is updated last time",
            "format" : "date-time"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "List of key value pairs with the column name and column value"
          }
        }
      },
      "HubDbTableRowV3Request" : {
        "required" : [ "childTableId", "displayIndex", "values" ],
[...]
