{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Communication Preferences Subscriptions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "STARTER",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/communication-preferences/2026-03/definitions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve all subscription status definitions",
        "description" : "Get a list of subscription status definitions from the account.",
        "operationId" : "get-/communication-preferences/2026-03/definitions",
        "parameters" : [ {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The unique identifier of the business unit for which to retrieve the subscription definitions.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "includeTranslations",
          "in" : "query",
          "description" : "A boolean indicating whether to include translations of the subscription definitions. Defaults to false if not specified.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithResultsSubscriptionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.read" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/links/generate" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Generate subscription links",
        "description" : "Generate communication preference links for a subscriber. This endpoint allows you to create URLs for managing preferences and unsubscribing, tailored to a specific subscriber. It is useful for integrating communication preference management into your applications.",
        "operationId" : "post-/communication-preferences/2026-03/links/generate_/communication-preferences/v4/links/generate",
        "parameters" : [ {
          "name" : "channel",
          "in" : "query",
          "description" : "The communication channel for which the links are generated. Must be 'EMAIL'.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit associated with the request. Defaults to 0.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null,
            "default" : 0
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkGenerationRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkGenerationResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.read", "communication_preferences.write" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read", "communication_preferences.write" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/status/email/{emailAddress}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve subscription status",
        "description" : "Retrieve the subscription statuses for a specific email address. This endpoint allows you to check the current subscription status for email communications, which can be useful for managing communication preferences and ensuring compliance with user preferences.",
        "operationId" : "get-/communication-preferences/2026-03/status/email/{emailAddress}_/communication-preferences/2026-03/status/email/{emailAddress}",
        "parameters" : [ {
          "name" : "emailAddress",
          "in" : "path",
          "description" : "The email address of the recipient whose subscription status is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatusesResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.read" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read statuses",
        "description" : "Retrieve the subscription statuses for multiple subscribers in a batch operation. This endpoint allows you to check the communication preferences of several subscribers at once, which is useful for managing large lists of contacts efficiently.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/batch/read",
        "parameters" : [ {
          "name" : "channel",
          "in" : "query",
          "description" : "The communication channel to filter by. This parameter is required and currently only supports 'EMAIL'.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "An optional identifier for the business unit. This is an integer value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicStatusBulkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.statuses.batch.read" ]
        }, {
          "private_apps" : [ "communication_preferences.statuses.batch.read" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/batch/unsubscribe-all" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch unsubscribe contacts from all subscriptions",
        "description" : "Unsubscribe a set of contacts from all email subscriptions.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/batch/unsubscribe-all",
        "parameters" : [ {
          "name" : "channel",
          "in" : "query",
          "description" : "A required string specifying the communication channel. Currently, only 'EMAIL' is supported.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit to which the operation applies. It is an optional parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "verbose",
          "in" : "query",
          "description" : "A boolean indicating whether to include detailed information in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicBulkOptOutFromAllResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.statuses.batch.write" ]
        }, {
          "private_apps" : [ "communication_preferences.statuses.batch.write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/batch/unsubscribe-all/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read statuses",
        "description" : "Retrieve the unsubscribe-all status for a batch of subscribers in a specified channel. This endpoint is useful for checking the current unsubscribe-all status of multiple subscribers at once, helping to manage and audit communication preferences efficiently.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/batch/unsubscribe-all/read",
        "parameters" : [ {
          "name" : "channel",
          "in" : "query",
          "description" : "The communication channel to check the unsubscribe-all status for. Currently, only 'EMAIL' is supported. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit for which the statuses are being retrieved. This is an optional parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicWideStatusBulkResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.statuses.batch.read" ]
        }, {
          "private_apps" : [ "communication_preferences.statuses.batch.read" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/batch/write" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch update subscription status",
        "description" : "Update the subscription status for a set of contacts.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/batch/write",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPublicStatusRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.statuses.batch.write" ]
        }, {
          "private_apps" : [ "communication_preferences.statuses.batch.write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/{subscriberIdString}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get subscription preferences for a specific contact",
        "description" : "Retrieve a contact's current email subscription preferences.",
        "operationId" : "get-/communication-preferences/2026-03/statuses/{subscriberIdString}",
        "parameters" : [ {
          "name" : "subscriberIdString",
          "in" : "path",
          "description" : "The unique identifier of the subscriber whose communication preferences status is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "A required string indicating the communication channel to retrieve the status for. Valid value is 'EMAIL'.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "An optional integer representing the business unit ID to filter the subscription status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithResultsPublicStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.read" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a contact's subscription status",
        "description" : "Set the subscription status of a specific contact.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/{subscriberIdString}",
        "parameters" : [ {
          "name" : "subscriberIdString",
          "in" : "path",
          "description" : "The unique identifier of the subscriber whose subscription status is to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PartialPublicStatusRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithResultsPublicStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.write" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/statuses/{subscriberIdString}/unsubscribe-all" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a contact's unsubscribed status",
        "description" : "Check whether a contact has unsubscribed from all email subscriptions. If a contact has not opted out of all communications, the response `results` array will be empty.",
        "operationId" : "get-/communication-preferences/2026-03/statuses/{subscriberIdString}/unsubscribe-all",
        "parameters" : [ {
          "name" : "subscriberIdString",
          "in" : "path",
          "description" : "The unique identifier of the subscriber whose unsubscribe status is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "The communication channel to unsubscribe from. Must be 'EMAIL'.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit associated with the communication preferences.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "verbose",
          "in" : "query",
          "description" : "A boolean indicating whether to include detailed information in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithResultsPublicWideStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.read" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Unsubscribe all",
        "description" : "Unsubscribe a subscriber from all communication channels. This endpoint allows you to remove a subscriber from all communication preferences, effectively opting them out from receiving any further communications. This can be useful for ensuring compliance with user requests or legal requirements.",
        "operationId" : "post-/communication-preferences/2026-03/statuses/{subscriberIdString}/unsubscribe-all",
        "parameters" : [ {
          "name" : "subscriberIdString",
          "in" : "path",
          "description" : "The unique identifier of the subscriber to be unsubscribed from all communications.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "The communication channel from which to unsubscribe the subscriber. Must be 'EMAIL'.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "EMAIL" ]
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit associated with the subscriber. This is an optional parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "verbose",
          "in" : "query",
          "description" : "A boolean flag indicating whether to include detailed information in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithResultsPublicStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.write" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/subscribe" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Subscribe a contact",
        "description" : "Subscribe a user to a specific communication preference using their email address and subscription ID. This endpoint allows you to manage subscription statuses by updating them to 'subscribed' for a given email address. It is useful for ensuring that users receive communications they have opted into.",
        "operationId" : "post-/communication-preferences/2026-03/subscribe_/communication-preferences/2026-03/subscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.write" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.write" ]
        } ]
      }
    },
    "/communication-preferences/2026-03/unsubscribe" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Unsubscribe a contact",
        "description" : "Unsubscribe a user from communication preferences. This endpoint allows you to update the subscription status of a user to 'unsubscribed' for specified communication channels. It is useful for managing user preferences and ensuring compliance with user opt-out requests.",
        "operationId" : "post-/communication-preferences/2026-03/unsubscribe_/communication-preferences/2026-03/unsubscribe",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicUpdateSubscriptionStatusRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSubscriptionStatus"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "communication_preferences.write" ]
        }, {
          "oauth2" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.read_write" ]
        }, {
          "private_apps" : [ "communication_preferences.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActionResponseWithResultsPublicWideStatus" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of error objects detailing any issues encountered during the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing related links, where each key is a link name and each value is a URL.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the results of the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicWideStatus"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "A list of strings representing the inputs for batch operations.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string that categorizes the type of error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition, with keys as context names and values as arrays of strings.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects providing further information about the error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the error.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object mapping link names to associated URIs that contain documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable message describing the error.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "A string indicating the status of the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object providing more specific categorization of the error.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "LinkGenerationResponse" : {
        "required" : [ "managePreferencesUrl", "subscriberIdString", "unsubscribeAllUrl" ],
        "type" : "object",
        "properties" : {
          "managePreferencesUrl" : {
            "type" : "string",
            "description" : "The URL where the subscriber can manage their communication preferences.",
            "example" : null
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the subscriber.",
            "example" : null
          },
          "unsubscribeAllUrl" : {
            "type" : "string",
            "description" : "A string containing the URL for unsubscribing the subscriber from all communications.",
            "example" : null
          },
          "unsubscribeSingleUrl" : {
            "type" : "string",
            "description" : "A string containing the URL to unsubscribe the subscriber from a single communication.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicUpdateSubscriptionStatusRequest" : {
        "required" : [ "emailAddress", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "The email address of the user whose subscription status is being updated. It is a required field and must be a string.",
            "example" : null
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "The legal basis for processing the subscription status change. It is an optional field and must be a string with valid values including 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "An optional field providing an explanation for the legal basis used. It must be a string.",
            "example" : null
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The unique identifier of the subscription for which the status is being updated. It is a required field and must be a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSubscriptionStatusesResponse" : {
        "required" : [ "recipient", "subscriptionStatuses" ],
        "type" : "object",
        "properties" : {
          "recipient" : {
            "type" : "string",
            "description" : "The email address of the recipient for whom the subscription statuses are being retrieved. It is a string.",
            "example" : null
          },
          "subscriptionStatuses" : {
            "type" : "array",
            "description" : "An array of PublicSubscriptionStatus objects, each detailing the subscription status of the recipient for a particular subscription.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSubscriptionStatus"
            }
          }
        },
        "example" : null
      },
      "PublicStatus" : {
        "required" : [ "channel", "source", "status", "subscriberIdString", "subscriptionId", "timestamp" ],
        "type" : "object",
        "properties" : {
          "businessUnitId" : {
            "type" : "integer",
            "description" : "The ID of the business unit associated with the subscription.",
            "format" : "int64",
            "example" : null
          },
          "channel" : {
            "type" : "string",
            "description" : "The type of communication channel, with 'EMAIL' as the only supported option.",
            "example" : null,
            "enum" : [ "EMAIL" ]
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "The legal basis for communication, with options including 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "An explanation for the legal basis used for communication.",
            "example" : null
          },
          "setStatusSuccessReason" : {
            "type" : "string",
            "description" : "The reason for the successful change in subscription status, such as 'RESUBSCRIBE_OCCURRED' or 'NO_STATUS_CHANGE'.",
            "example" : null,
            "enum" : [ "NO_STATUS_CHANGE", "REQUESTED_CHANGE_OCCURRED", "RESUBSCRIBE_OCCURRED", "UNSUBSCRIBE_FROM_ALL_OCCURRED" ]
          },
          "source" : {
            "type" : "string",
            "description" : "The origin or method through which the subscription status was set.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current subscription status of the contact, which can be 'SUBSCRIBED', 'UNSUBSCRIBED', or 'NOT_SPECIFIED'.",
            "example" : null,
            "enum" : [ "NOT_SPECIFIED", "SUBSCRIBED", "UNSUBSCRIBED" ]
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The contact's email address.",
            "example" : null
          },
          "subscriptionId" : {
            "type" : "integer",
            "description" : "The unique identifier of the subscription.",
            "format" : "int32",
            "example" : null
          },
          "subscriptionName" : {
            "type" : "string",
            "description" : "The name of the subscription.",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The date and time when the subscription status was last updated.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchResponsePublicStatusBulkResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors encountered during the batch operation, each represented by a StandardError object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of related links associated with the batch response.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation, represented as an integer.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "The array of results from the batch process, each containing subscription status information.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatusBulkResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process began.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch process, with possible values: PENDING, PROCESSING, CANCELED, COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicWideStatus" : {
        "required" : [ "channel", "status", "subscriberIdString", "timestamp", "wideStatusType" ],
        "type" : "object",
        "properties" : {
          "businessUnitId" : {
            "type" : "integer",
            "description" : "The ID of the business unit associated with the status.",
            "format" : "int64",
            "example" : null
          },
          "channel" : {
            "type" : "string",
            "description" : "The type of communication channel, with 'EMAIL' as the only supported option.",
            "example" : null,
            "enum" : [ "EMAIL" ]
          },
          "status" : {
            "type" : "string",
            "description" : "The subscription status of the contact, which can be 'SUBSCRIBED', 'UNSUBSCRIBED', or 'NOT_SPECIFIED'.",
            "example" : null,
            "enum" : [ "NOT_SPECIFIED", "SUBSCRIBED", "UNSUBSCRIBED" ]
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The email address of the contact.",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The date and time when the status was recorded.",
            "format" : "date-time",
            "example" : null
          },
          "wideStatusType" : {
            "type" : "string",
            "description" : "The type of wide status, which can be 'PORTAL_WIDE' or 'BUSINESS_UNIT_WIDE'.",
            "example" : null,
            "enum" : [ "BUSINESS_UNIT_WIDE", "PORTAL_WIDE" ]
          }
        },
        "example" : null
      },
      "ActionResponseWithResultsSubscriptionDefinition" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors that occurred during the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of related links associated with the operation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation was requested.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the results of the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionDefinition"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "LinkGenerationRequest" : {
        "required" : [ "subscriberIdString" ],
        "type" : "object",
        "properties" : {
          "language" : {
            "type" : "string",
            "description" : "The language in which the generated link should be presented, represented as a string.",
            "example" : null
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the subscriber. This property is required.",
            "example" : null
          },
          "subscriptionId" : {
            "type" : "integer",
            "description" : "The unique identifier for the subscription, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchResponsePublicBulkOptOutFromAllResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the bulk opt-out operation was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of error objects detailing any issues encountered during the bulk opt-out operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of URLs linking to related resources or documentation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The total number of errors encountered during the bulk opt-out operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the bulk opt-out request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the results of the bulk opt-out from all communications operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicBulkOptOutFromAllResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the bulk opt-out operation began.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the bulk opt-out operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "PublicStatusBulkResponse" : {
        "required" : [ "statuses", "subscriberIdString" ],
        "type" : "object",
        "properties" : {
          "statuses" : {
            "type" : "array",
            "description" : "An array of subscription status objects for the contact.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatus"
            }
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The email address of the contact.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSubscriptionTranslation" : {
        "required" : [ "createdAt", "description", "languageCode", "name", "subscriptionId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "description" : "The timestamp indicating when the subscription translation was created.",
            "format" : "int32",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A text description of the subscription translation.",
            "example" : null
          },
          "languageCode" : {
            "type" : "string",
            "description" : "The code representing the language of the subscription translation.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the subscription translation.",
            "example" : null
          },
          "subscriptionId" : {
            "type" : "integer",
            "description" : "The unique identifier for the subscription associated with the translation.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "The timestamp indicating when the subscription translation was last updated.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PartialPublicStatusRequest" : {
        "required" : [ "channel", "statusState", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "channel" : {
            "type" : "string",
            "description" : "The type of communication channel, with 'EMAIL' as the only supported option.",
            "example" : null,
            "enum" : [ "EMAIL" ]
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "The legal basis for communication, with options including 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "An explanation for the legal basis used for communication.",
            "example" : null
          },
          "statusState" : {
            "type" : "string",
            "description" : "The current subscription status of the contact, which can be 'SUBSCRIBED', 'UNSUBSCRIBED', or 'NOT_SPECIFIED'.",
            "example" : null,
            "enum" : [ "NOT_SPECIFIED", "SUBSCRIBED", "UNSUBSCRIBED" ]
          },
          "subscriptionId" : {
            "type" : "integer",
            "description" : "The unique identifier of the subscription to be updated.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchResponsePublicStatus" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of error objects detailing any issues encountered.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to related resources or documentation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the results of the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatus"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicStatusRequest" : {
        "required" : [ "channel", "statusState", "subscriberIdString", "subscriptionId" ],
        "type" : "object",
        "properties" : {
          "channel" : {
            "type" : "string",
            "description" : "The type of communication channel. Currently, only `EMAIL` is supported.",
            "example" : null,
            "enum" : [ "EMAIL" ]
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "The legal basis for communication.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "The explanation for the legal basis.",
            "example" : null
          },
          "statusState" : {
            "type" : "string",
            "description" : "The status of the contact's subscription.",
            "example" : null,
            "enum" : [ "NOT_SPECIFIED", "SUBSCRIBED", "UNSUBSCRIBED" ]
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The contact's email address.",
            "example" : null
          },
          "subscriptionId" : {
            "type" : "integer",
            "description" : "The ID of the subscription to update.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicWideStatusBulkResponse" : {
        "required" : [ "subscriberIdString", "wideStatuses" ],
        "type" : "object",
        "properties" : {
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The contact's email address.",
            "example" : null
          },
          "wideStatuses" : {
            "type" : "array",
            "description" : "An array containing the wide status results for the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicWideStatus"
            }
          }
        },
        "example" : null
      },
      "ActionResponseWithResultsPublicStatus" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "A list of errors that occurred during the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Contains URLs related to the response, such as documentation or resources.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors that occurred during the operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of results from the operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatus"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the operation started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "Indicates the current status of the operation, with possible values: PENDING, PROCESSING, CANCELED, COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponsePublicWideStatusBulkResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process was completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors encountered during the batch operation, each item providing details about a specific error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of related links associated with the batch response.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors that occurred during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch request was made.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "The array of results from the batch process, each containing subscription status information.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicWideStatusBulkResponse"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process began.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch process, with possible values: PENDING, PROCESSING, CANCELED, COMPLETE.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchInputPublicStatusRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of PublicStatusRequest objects, each representing a subscription status update request. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatusRequest"
            }
          }
        },
        "example" : null
      },
      "SubscriptionDefinition" : {
        "required" : [ "createdAt", "description", "id", "isActive", "isDefault", "isInternal", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "businessUnitId" : {
            "type" : "integer",
            "description" : "The ID of the business unit associated with the subscription.",
            "format" : "int64",
            "example" : null
          },
          "communicationMethod" : {
            "type" : "string",
            "description" : "The method of communication for the subscription.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was created.",
            "format" : "date-time",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the subscription.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the subscription.",
            "example" : null
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Indicates whether the subscription is active.",
            "example" : null
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "Indicates whether the subscription is the default option.",
            "example" : null
          },
          "isInternal" : {
            "type" : "boolean",
            "description" : "Indicates whether the subscription is internal.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the subscription.",
            "example" : null
          },
          "purpose" : {
            "type" : "string",
            "description" : "The purpose of the subscription.",
            "example" : null
          },
          "subscriptionTranslations" : {
            "type" : "array",
            "description" : "A list of translations associated with the subscription.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSubscriptionTranslation"
            }
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the subscription was last updated.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSubscriptionStatus" : {
        "required" : [ "description", "id", "name", "sourceOfStatus", "status" ],
        "type" : "object",
        "properties" : {
          "brandId" : {
            "type" : "integer",
            "description" : "The unique identifier for the brand associated with the subscription status, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the subscription status.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the subscription status.",
            "example" : null
          },
          "legalBasis" : {
            "type" : "string",
            "description" : "The legal basis for processing the subscription, which can include values such as 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', or 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legalBasisExplanation" : {
            "type" : "string",
            "description" : "An explanation of the legal basis for the subscription status.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the subscription status.",
            "example" : null
          },
          "preferenceGroupName" : {
            "type" : "string",
            "description" : "The name of the preference group associated with the subscription status.",
            "example" : null
          },
          "sourceOfStatus" : {
            "type" : "string",
            "description" : "Indicates the origin of the subscription status, with possible values being 'PORTAL_WIDE_STATUS', 'BRAND_WIDE_STATUS', or 'SUBSCRIPTION_STATUS'.",
            "example" : null,
            "enum" : [ "BRAND_WIDE_STATUS", "PORTAL_WIDE_STATUS", "SUBSCRIPTION_STATUS" ]
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the subscription, which can be 'SUBSCRIBED' or 'NOT_SUBSCRIBED'.",
            "example" : null,
            "enum" : [ "NOT_SUBSCRIBED", "SUBSCRIBED" ]
          }
        },
        "example" : null
      },
      "PublicBulkOptOutFromAllResponse" : {
        "required" : [ "subscriberIdString" ],
        "type" : "object",
        "properties" : {
          "statuses" : {
            "type" : "array",
            "description" : "An array of subscription status objects for the contact.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicStatus"
            }
          },
          "subscriberIdString" : {
            "type" : "string",
            "description" : "The email address of the contact.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "communication_preferences.read" : "Read contact subscription preferences",
              "communication_preferences.read_write" : "Update contact subscription preferences",
              "communication_preferences.statuses.batch.read" : "Batch read contact subscription preferences",
              "communication_preferences.statuses.batch.write" : "Batch update contact subscription preferences",
              "communication_preferences.write" : "Update contact subscription preferences"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "STARTER",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}