{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "STARTER",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "PUBLIC_BETA",
    "x-hubspot-api-use-case" : "You want to bulk add contacts to a particular list, or remove company records from a company list.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Lists Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/lists/overview"
    } ],
    "x-hubspot-introduction" : "Use the lists API to manage list memberships for contact, company, and custom object lists."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Lists"
  }, {
    "name" : "Memberships"
  }, {
    "name" : "Folders"
  } ],
  "paths" : {
    "/crm/v3/lists/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Mettre à jour le nom de la liste",
        "description" : "Mettre à jour le nom d'une liste. Le nom doit être globalement unique par rapport à toutes les autres listes publiques du portail.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-name_updateName",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste à mettre à jour.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "Le nom pour mettre à jour la liste.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un indicateur indiquant si la définition de la liste des objets de réponse doit inclure ou non une définition de branche de filtre. Par défaut, les définitions de la liste des objets n'incluront pas leurs définitions de branche de filtre dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Ajouter et/ou Supprimer des Fiches d'informations d'une Liste",
        "description" : "Ajouter et/ou supprimer des fiches d'informations qui ont déjà été créées dans le système vers et/ou depuis une liste.\n\nCe point de terminaison ne fonctionne que pour les listes ayant un « processingType » de « MANUEL » ou « INSTANTANÉ ».",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-and-remove_addAndRemove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste « MANUEL » ou « INSTANTANÉ ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Récupérer la liste par ID",
        "description" : "Récupérer une seule liste par **ID de liste ILS**.",
        "operationId" : "get-/crm/v3/lists/{listId}_getById",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste à récupérer.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un indicateur indiquant si la définition de la liste des objets de réponse doit inclure ou non une définition de branche de filtre. Par défaut, les définitions de la liste des objets n'incluront pas leurs définitions de branche de filtre dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Supprimer une liste",
        "description" : "Supprimer une liste par **ID de liste ILS**. Les listes supprimées via ce point de terminaison peuvent être restaurées jusqu'à 90 jours après la suppression. Après 90 jours, la liste est purgée et ne peut plus être restaurée.",
        "operationId" : "delete-/crm/v3/lists/{listId}_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste à supprimer.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Mettre à jour la définition du filtre de liste",
        "description" : "Mettez à jour la définition de la branche de filtre pour une liste « DYNAMIQUE ». Après la mise à jour, les adhésions à la liste seront réévaluées et ajustées pour correspondre à la nouvelle définition.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-filters_updateListFilters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste à mettre à jour.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "Un indicateur indiquant si les adhésions ajoutées à la liste en raison du changement de filtre doivent être inscrites dans les workflows pertinents pour cette liste.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/search" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Rechercher des listes",
        "description" : "Recherchez des listes par nom de liste ou parcourez toutes les listes en fournissant une valeur « requête » vide.",
        "operationId" : "post-/crm/v3/lists/search_doSearch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/move-list" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Déplace une liste vers un dossier donné",
        "description" : "Si vous disposez d'une liste et d'un dossier, la liste sera déplacée vers ce dossier.",
        "operationId" : "put-/crm/v3/lists/folders/move-list",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Ajouter des fiches d'informations à une liste",
        "description" : "Ajoutez les fiches d'informations fournies à la liste. Les fiches d'informations qui n'existent pas ou qui sont déjà membres de la liste sont ignorées.\n\nCe point de terminaison ne fonctionne que pour les listes ayant un « processingType » de « MANUEL » ou « INSTANTANÉ ».",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add_add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste « MANUEL » ou « INSTANTANÉ ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Récupérer la liste par nom",
        "description" : "Récupérer une seule liste par nom de liste et type d'objet.",
        "operationId" : "get-/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}_getByName",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "Le nom de la liste à récupérer. Ceci n'est **pas** sensible à la casse.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "L'ID de type d'objet des types d'objets stockés par la liste à récupérer. Par exemple, « 0-1 » pour une liste de « CONTACT ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un indicateur indiquant si la définition de la liste des objets de réponse doit inclure ou non une définition de branche de filtre. Par défaut, les définitions de la liste des objets n'incluront pas leurs définitions de branche de filtre dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Déplace un dossier",
        "description" : "Cette action déplace le dossier de son emplacement actuel vers un nouvel emplacement. Cela met à jour le parent de ce dossier avec le nouvel Id donné.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/restore" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Restaurer une liste",
        "description" : "Restaurez une liste précédemment supprimée par **ID de liste ILS**. Les listes supprimées peuvent être restaurées jusqu'à 90 jours après leur suppression.",
        "operationId" : "put-/crm/v3/lists/{listId}/restore_restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste à restaurer.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Renommer un dossier",
        "description" : "Renomme le folderId donné avec un nouveau nom.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Ajouter toutes les fiches d'informations d'une liste source à une liste de destination",
        "description" : "Ajoutez toutes les fiches d'informations d'une *liste source* (spécifiée par « sourceListId ») à une *liste de destination* (spécifiée par le « listId »). Les fiches d'informations qui sont déjà membres de la *liste de destination* seront ignorées. Les identifiants de la *liste de destination* et de la *liste source* doivent être différents. Les *listes de destination* et *listes source* doivent contenir des fiches d'informations du même type (par exemple, contacts, entreprises, etc.).\n\nCe point de terminaison ne fonctionne que pour les *listes de destination* ayant un « processingType » de « MANUEL » ou « INSTANTANÉ ». La *liste source* peut avoir n'importe quel « processingType ».",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste de destination « MANUEL » ou « INSTANTANÉ », à laquelle les fiches d'informations de la *liste source* sont ajoutés.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "L'**ID ILS** de la *liste source* pour récupérer les fiches d'informations, qui sont ensuite ajoutés à la *liste de destination*.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Obtenir les listes dont la fiche d'informations fait partie",
        "description" : "Pour une fiche d'informations donnée, fournir les listes dont cette fiche d'informations fait partie.",
        "operationId" : "get-/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships_getLists",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "ID du type d'objet de la fiche d'informations",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "Identifiant de la fiche d'informations",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Récupérer plusieurs listes",
        "description" : "Récupérez plusieurs listes en une seule requête par **ID de liste ILS**. La réponse inclura les définitions de toutes les listes qui existent pour les « listIds » fournis.",
        "operationId" : "get-/crm/v3/lists/_getAll",
        "parameters" : [ {
          "name" : "listIds",
          "in" : "query",
          "description" : "Les **ID ILS** des listes à récupérer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un indicateur indiquant si les définitions de la liste des objets de réponse doivent inclure ou non une définition de branche de filtre. Par défaut, les définitions de la liste des objets n'incluront pas leurs définitions de branche de filtre dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Créer la liste",
        "description" : "Créer une nouvelle liste avec la définition de liste d'objets fournie.",
        "operationId" : "post-/crm/v3/lists/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.write" ]
        }, {
          "private_apps" : [ "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Récupère un dossier.",
        "description" : "Récupère un dossier et inclut récursivement tous les dossiers via l'attribut childNodes. Le champ des listes enfants sera vide dans tous les nœuds enfants. Seul le dossier récupéré inclura les listes enfants dans ce dossier.",
        "operationId" : "get-/crm/v3/lists/folders",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "L'identifiant du dossier à récupérer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "Crée un dossier",
        "description" : "Crée un dossier avec les informations fournies.",
        "operationId" : "post-/crm/v3/lists/folders",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "Supprime un dossier",
        "description" : "Supprime le dossier avec l'ID donné.",
        "operationId" : "delete-/crm/v3/lists/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Récupérer les adhésions de la liste triées par ID.",
        "description" : "Récupérez les adhésions d'une liste dans l'ordre trié par le « recordId » des fiches d'informations dans la liste.\n\nLes « recordIds » sont triés par ordre *croissant* si un décalage « après » ou aucun décalage n'est fourni. Si seul un décalage « avant » est fourni, alors les fiches d'informations sont triés par ordre *décroissant*.\n\nLe paramètre de décalage « après » prendra le pas sur le décalage « avant » dans le cas où les deux sont fournis.",
        "operationId" : "get-/crm/v3/lists/{listId}/memberships_getPage",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'ID ILS de la liste.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Le jeton de décalage de pagination pour la page qui vient « après » les fiches d'informations précédemment demandées.\n\nSi fourni, alors les fiches d'informations dans la réponse seront les fiches d'informations suivant le décalage, triés par ordre *croissant*. Prend la priorité sur le décalage « avant ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "Le jeton de décalage de pagination pour la page qui vient « avant » les fiches d'informations précédemment demandées.\n\nSi fourni, alors les fiches d'informations dans la réponse seront les fiches d'informations précédent le décalage, triés par ordre *décroissant*.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre de fiches d'informations à renvoyer dans la réponse. La « limite » maximale est de 250.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Memberships" ],
        "summary" : "Supprimer toutes les fiches d'informations d'une liste",
        "description" : "Supprimez **toutes** les fiches d'informations d'une liste. ***Remarque :*** *La liste n'est pas supprimée.*\n\nCe point de terminaison ne fonctionne que pour les listes ayant un « processingType » de « MANUEL » ou « INSTANTANÉ ».",
        "operationId" : "delete-/crm/v3/lists/{listId}/memberships_removeAll",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste « MANUEL » ou « INSTANTANÉ ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Supprimer des fiches d'informations d'une liste",
        "description" : "Supprimez les fiches d'informations fournies de la liste. Les fiches d'informations qui n'existent pas ou qui ne sont pas membres de la liste sont ignorées.\n\nCe point de terminaison ne fonctionne que pour les listes ayant un « processingType » de « MANUEL » ou « INSTANTANÉ ».",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/remove_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "L'**ID ILS** de la liste « MANUEL » ou « INSTANTANÉ ».",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "propertyWithObjectId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "inListType" : {
            "type" : "string"
          }
        }
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "listIds", "offset", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "listIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "Valeur utilisée pour paginer les listes. Le « décalage » fourni dans la réponse peut être utilisé dans la prochaine requête pour récupérer la page suivante des résultats. Par défaut, la valeur est « 0 » si aucun décalage n'est fourni.",
            "format" : "int32"
          },
          "query" : {
            "type" : "string",
            "description" : "La « requête » qui sera utilisée pour rechercher des listes par nom de liste. Si aucune « requête » n'est fournie, les résultats incluront toutes les listes."
          },
          "count" : {
            "type" : "integer",
            "description" : "Le nombre de listes à inclure dans la réponse. Par défaut, « 20 » si aucune valeur n'est fournie. Le « nombre » maximum est « 500 ».",
            "format" : "int32"
          },
          "processingTypes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "additionalProperties" : {
            "type" : "array",
            "description" : "Les noms des propriétés de liste supplémentaires à inclure dans la réponse. Les propriétés qui n'existent pas ou qui sont vides pour une liste particulière ne sont pas incluses dans la réponse.\n\nPar défaut, toutes les demandes récupéreront les propriétés suivantes pour chaque liste : « hs_last_record_added_at » « hs_last_record_removed_at » « hs_folder_name » « hs_list_reference_count ».",
            "items" : {
              "type" : "string"
            }
          },
          "sort" : {
            "type" : "string"
          }
        }
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "Le nombre total de listes correspondant aux critères de recherche.",
            "format" : "int32"
          },
          "offset" : {
            "type" : "integer",
            "description" : "Valeur à transmettre dans une future requête pour paginer les résultats de recherche de la liste.",
            "format" : "int32"
          },
          "lists" : {
            "type" : "array",
            "description" : "Les listes qui correspondent aux critères de recherche.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "hasMore" : {
            "type" : "boolean",
            "description" : "S'il y a plus de résultats à parcourir ou non."
          }
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "filterType" : {
            "type" : "string",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "valueComparison" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "surveyId" : {
            "type" : "string"
          },
          "surveyQuestion" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "surveyAnswerRowId" : {
            "type" : "string"
          },
          "surveyAnswerColId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "Les définitions de la liste d'objets.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        }
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "channel" : {
            "type" : "string"
          },
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "businessUnitId" : {
            "type" : "string"
          }
        }
      },
      "PublicObjectListSearchResult" : {
        "required" : [ "additionalProperties", "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "Le type de traitement de la liste."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "Le type d'objet de la liste."
          },
          "updatedById" : {
            "type" : "string",
            "description" : "L'ID du dernier utilisateur à avoir mis à jour la liste."
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "L'heure de la dernière mise à jour des filtres de cette liste.",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "L'**ID ILS** de la liste."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "L'heure de création de la liste.",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "Le statut de traitement de la liste."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "L'heure de suppression de la liste.",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "La version de la liste.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de la liste."
          },
          "additionalProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Le nom et la valeur de toutes les propriétés supplémentaires qui existent pour cette liste et qui ont été incluses dans la demande de recherche."
          },
          "createdById" : {
            "type" : "string",
            "description" : "L'ID de l'utilisateur qui a créé la liste."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La date de la dernière mise à jour de la liste.",
            "format" : "date-time"
          }
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string"
          },
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32"
          },
          "days" : {
            "type" : "integer",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "formId" : {
            "type" : "string"
          },
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiCollectionResponseJoinTimeAndRecordId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JoinTimeAndRecordId"
            }
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "associationCategory" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "acceptedStatuses" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "operationType" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFolderCreateResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "timePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListUpdateResponse" : {
        "type" : "object",
        "properties" : {
          "updatedList" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timezoneSource" : {
            "type" : "string"
          },
          "indexReference" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "timeType" : {
            "type" : "string",
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "zoneId" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "upperBoundEndpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          },
          "lowerBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        }
      },
      "PublicWebinarFilter" : {
        "title" : "WEBINAR",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "webinarId" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "WEBINAR",
            "enum" : [ "WEBINAR" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListCreateResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "MembershipsUpdateResponse" : {
        "required" : [ "recordIdsMissing", "recordIdsRemoved", "recordsIdsAdded" ],
        "type" : "object",
        "properties" : {
          "recordIdsRemoved" : {
            "type" : "array",
            "description" : "Les identifiants des fiches d'informations qui ont été « supprimées » de la liste.",
            "items" : {
              "type" : "string"
            }
          },
          "recordsIdsAdded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsMissing" : {
            "type" : "array",
            "description" : "Les identifiants des fiches d'informations « manquantes » (c.-à-d. qui n'existaient pas dans le portail) et qui n'ont donc pas été « ajoutées » ou « supprimées ».",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicUnifiedEventsFilterBranch" : {
        "title" : "UNIFIED_EVENTS",
        "required" : [ "eventTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "UNIFIED_EVENTS",
            "enum" : [ "UNIFIED_EVENTS" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "eventTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "HAS_COMPLETED", "HAS_NOT_COMPLETED" ]
          }
        }
      },
      "PublicNumOccurrencesRefineBy" : {
        "title" : "NUM_OCCURRENCES",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "NUM_OCCURRENCES",
            "enum" : [ "NUM_OCCURRENCES" ]
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicObjectList" : {
        "required" : [ "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "Le type de traitement de la liste."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "Le type d'objet de la liste."
          },
          "updatedById" : {
            "type" : "string",
            "description" : "L'ID du dernier utilisateur à avoir mis à jour la liste."
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "L'heure de la dernière mise à jour des filtres de cette liste.",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "L'**ID ILS** de la liste."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "L'heure de création de la liste.",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "Le statut de traitement de la liste."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "L'heure de suppression de la liste.",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "La version de la liste.",
            "format" : "int32"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom de la liste."
          },
          "createdById" : {
            "type" : "string",
            "description" : "L'ID de l'utilisateur qui a créé la liste."
          },
          "filterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La date de la dernière mise à jour de la liste.",
            "format" : "date-time"
          }
        }
      },
      "RecordListMembership" : {
        "required" : [ "firstAddedTimestamp", "lastAddedTimestamp", "listId", "listVersion" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "listVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lastAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "firstAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "ctaName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFetchResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "shouldAccept" : {
            "type" : "boolean"
          },
          "source" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          }
        }
      },
      "PublicSetOccurrencesRefineBy" : {
        "title" : "SET_OCCURRENCES",
        "required" : [ "setType", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "SET_OCCURRENCES",
            "enum" : [ "SET_OCCURRENCES" ]
          },
          "setType" : {
            "type" : "string"
          }
        }
      },
      "PublicListFolder" : {
        "required" : [ "childLists", "childNodes", "id", "parentFolderId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "L'heure à laquelle le dossier a été créé.",
            "format" : "date-time"
          },
          "parentFolderId" : {
            "type" : "integer",
            "description" : "L'identifiant du dossier dans lequel ce dossier se trouve, le dossier racine est représenté par 0.",
            "format" : "int32"
          },
          "childNodes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicListFolder"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Le nom du dossier."
          },
          "id" : {
            "type" : "integer",
            "description" : "L'identifiant du dossier.",
            "format" : "int32"
          },
          "childLists" : {
            "type" : "array",
            "description" : "Un tableau d'identifiants de liste contenus dans ce dossier.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "updatedContentsAt" : {
            "type" : "string",
            "description" : "Le moment où le contenu du dossier a été mis à jour pour la dernière fois.",
            "format" : "date-time"
          },
          "userId" : {
            "type" : "integer",
            "description" : "L'identifiant utilisateur du propriétaire du dossier.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "L'heure de la dernière mise à jour du dossier.",
            "format" : "date-time"
          }
        }
      },
      "ApiCollectionResponseRecordListMembershipNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RecordListMembership"
            }
          }
        }
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicPageViewAnalyticsFilter" : {
        "title" : "PAGE_VIEW",
        "required" : [ "filterType", "operator", "pageUrl" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "enableTracking" : {
            "type" : "boolean"
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pageUrl" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "PAGE_VIEW",
            "enum" : [ "PAGE_VIEW" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "MembershipChangeRequest" : {
        "required" : [ "recordIdsToAdd", "recordIdsToRemove" ],
        "type" : "object",
        "properties" : {
          "recordIdsToRemove" : {
            "type" : "array",
            "description" : "",
            "example" : [ 654 ],
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsToAdd" : {
            "type" : "array",
            "description" : "",
            "example" : [ 123, 456, 789 ],
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "Le décalage de la page précédente des enregistrements."
          },
          "link" : {
            "type" : "string",
            "description" : "Un lien direct vers la requête pour la page précédente des enregistrements."
          }
        }
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
[...]
