{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "description" : "CRUD operations to manage lists and list memberships",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-related-documentation" : [ {
      "name" : "Lists Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/crm/lists/overview"
    } ]
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "List_App"
  }, {
    "name" : "List_App_Mapping"
  }, {
    "name" : "List_App_Membership"
  }, {
    "name" : "Lists"
  }, {
    "name" : "Memberships"
  } ],
  "paths" : {
    "/crm/v3/lists/" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Fetch Multiple Lists",
        "description" : "Fetch multiple lists in a single request by **ILS list ID**. The response will include the definitions of all lists that exist for the `listIds` provided.",
        "operationId" : "get-/crm/v3/lists/_getAll",
        "parameters" : [ {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A flag indicating whether or not the response object list definitions should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "listIds",
          "in" : "query",
          "description" : "The **ILS IDs** of the lists to fetch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response, for a request with `includeFilters` set to `true`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                },
                "example" : {
                  "lists" : [ {
                    "createdAt" : "2023-11-06T20:44:49.324Z",
                    "createdById" : "123",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "AND",
                        "filters" : [ {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "MULTISTRING",
                            "operator" : "CONTAINS",
                            "values" : [ "j" ]
                          },
                          "property" : "firstname"
                        } ]
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-11-15T20:24:22.020Z",
                    "listId" : "1",
                    "listVersion" : 2,
                    "name" : "Example List 1",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "size" : 330,
                    "updatedAt" : "2023-11-15T20:24:36.761Z",
                    "updatedById" : "123"
                  }, {
                    "createdAt" : "2023-06-13T14:54:21.852Z",
                    "createdById" : "123",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "AND",
                        "filters" : [ {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "MULTISTRING",
                            "operator" : "IS_EQUAL_TO",
                            "values" : [ "Fred" ]
                          },
                          "property" : "firstname"
                        } ]
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-06-13T14:54:21.852Z",
                    "listId" : "2",
                    "listVersion" : 2,
                    "name" : "Example List 2",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "size" : 220,
                    "updatedAt" : "2023-06-13T14:54:53.996Z",
                    "updatedById" : "123"
                  }, {
                    "createdAt" : "2023-08-02T16:11:29.182Z",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "associationCategory" : "HUBSPOT_DEFINED",
                        "associationTypeId" : 2,
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "ASSOCIATION",
                        "filters" : [ {
                          "appId" : "123",
                          "emailId" : "123",
                          "filterType" : "EMAIL_EVENT",
                          "level" : "EMAIL_API_CAMPAIGN_GROUP",
                          "operator" : "LINK_CLICKED"
                        } ],
                        "objectTypeId" : "0-1",
                        "operator" : "IN_LIST"
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-08-02T16:11:29.182Z",
                    "listId" : "3",
                    "listVersion" : 1,
                    "name" : "Example List 3",
                    "objectTypeId" : "0-2",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "size" : 100,
                    "updatedAt" : "2023-08-02T16:13:18.777Z"
                  }, {
                    "createdAt" : "2023-08-28T18:43:50.703Z",
                    "createdById" : "123",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "AND",
                        "filters" : [ {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "MULTISTRING",
                            "operator" : "IS_EQUAL_TO",
                            "values" : [ "red" ]
                          },
                          "property" : "vehicle_color"
                        } ]
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-08-28T18:43:50.703Z",
                    "listId" : "4",
                    "listVersion" : 1,
                    "name" : "Example List 4",
                    "objectTypeId" : "2-14190808",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "size" : 0,
                    "updatedAt" : "2023-08-28T18:43:56.004Z",
                    "updatedById" : "123"
                  }, {
                    "createdAt" : "2023-08-22T19:41:53.210Z",
                    "createdById" : "858789758",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "associationCategory" : "HUBSPOT_DEFINED",
                        "associationTypeId" : 449,
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "ASSOCIATION",
                        "filters" : [ {
                          "appId" : "123",
                          "emailId" : "123",
                          "filterType" : "EMAIL_EVENT",
                          "level" : "EMAIL_API_CAMPAIGN_GROUP",
                          "operator" : "RECEIVED"
                        } ],
                        "objectTypeId" : "0-1",
                        "operator" : "IN_LIST"
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-08-23T18:11:55.326Z",
                    "listId" : "5",
                    "listVersion" : 7,
                    "name" : "Example List 5",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "size" : 5,
                    "updatedAt" : "2023-08-23T18:14:06.886Z",
                    "updatedById" : "858789758"
                  } ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Create List",
        "description" : "Create a new list with the provided object list definition.",
        "operationId" : "post-/crm/v3/lists/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write" ]
        }, {
          "oauth2" : [ "crm.lists.write" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write" ]
        }, {
          "private_apps" : [ "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders" : {
      "get" : {
        "tags" : [ "List_App" ],
        "summary" : "Retrieves a folder.",
        "description" : "Retrieves a folder and recursively includes all folders via the childNodes attribute.  The child lists field will be empty in all child nodes. Only the folder retrieved will include the child lists in that folder.",
        "operationId" : "get-/crm/v3/lists/folders_getAll",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "The Id of the folder to retrieve.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "List_App" ],
        "summary" : "Creates a folder",
        "description" : "Creates a folder with the given information.",
        "operationId" : "post-/crm/v3/lists/folders_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/move-list" : {
      "put" : {
        "tags" : [ "List_App" ],
        "summary" : "Moves a list to a given folder",
        "description" : "Given a list and a folder, the list will be moved to that folder.",
        "operationId" : "put-/crm/v3/lists/folders/move-list_moveList",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "List_App" ],
        "summary" : "Deletes a folder",
        "description" : "Deletes the folder with the given Id.",
        "operationId" : "delete-/crm/v3/lists/folders/{folderId}_remove",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The ID of the folder to delete",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "List_App" ],
        "summary" : "Moves a folder",
        "description" : "This moves the folder from its current location to a new location. It updates the parent of this folder to the new Id given.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}_move",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The ID of the folder to move",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "The ID for the target parent folder.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "List_App" ],
        "summary" : "Rename a folder",
        "description" : "Renames the given folderId with a new name.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/rename_rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The ID of the folder to rename",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "The new name of the folder.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/idmapping" : {
      "get" : {
        "tags" : [ "List_App_Mapping" ],
        "summary" : "Translate Legacy List Id to Modern List Id",
        "description" : "This API allows translation of legacy list id to list id. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
        "operationId" : "get-/crm/v3/lists/idmapping_translateLegacyListIdToListId",
        "parameters" : [ {
          "name" : "legacyListId",
          "in" : "query",
          "description" : "The legacy list id from lists v1 API.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMigrationMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "List_App_Mapping" ],
        "summary" : "Translate Legacy List Id to Modern List Id in Batch",
        "description" : "This API allows translation of a batch of legacy list id's to list id's. This allows for a maximum of 10,000 id's. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
        "operationId" : "post-/crm/v3/lists/idmapping_translateLegacyListIdToListIdBatch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBatchMigrationMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Fetch List by Name",
        "description" : "Fetch a single list by list name and object type.",
        "operationId" : "get-/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}_getByName",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "The name of the list to fetch. This is **not** case sensitive.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The object type ID of the object types stored by the list to fetch. For example, `0-1` for a `CONTACT` list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response, for a request with `includeFilters` set to `false`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : {
                  "list" : {
                    "createdAt" : "2023-11-15T18:10:11.793Z",
                    "createdById" : "123",
                    "filtersUpdatedAt" : "2023-11-15T18:10:11.793Z",
                    "listId" : "1",
                    "listVersion" : 1,
                    "name" : "Manual List Example",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "MANUAL",
                    "size" : 330,
                    "updatedAt" : "2023-11-15T18:10:11.923Z",
                    "updatedById" : "123"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Get lists record is member of",
        "description" : "For given record provide lists this record is member of.",
        "operationId" : "get-/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships_getLists",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "Object type id of the record",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "Id of the record",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "firstAddedTimestamp" : "2023-11-02T21:05:42.843Z",
                    "lastAddedTimestamp" : "2024-02-02T17:44:57.879Z",
                    "listId" : "23",
                    "listVersion" : 6
                  }, {
                    "firstAddedTimestamp" : "2023-11-07T10:26:31.161Z",
                    "lastAddedTimestamp" : "2023-11-07T10:26:31.161Z",
                    "listId" : "21",
                    "listVersion" : 3
                  } ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/search" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Search Lists",
        "description" : "Search lists by list name or page through all lists by providing an empty `query` value.",
        "operationId" : "post-/crm/v3/lists/search_doSearch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The IDs of the records to add and/or remove from the list.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Fetch List by ID",
        "description" : "Fetch a single list by **ILS list ID**.",
        "operationId" : "get-/crm/v3/lists/{listId}_getById",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list to fetch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response, for a request with `includeFilters` set to `true`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : {
                  "list" : {
                    "createdAt" : "2023-11-15T18:15:00.812Z",
                    "createdById" : "123",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "AND",
                        "filters" : [ {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "ENUMERATION",
                            "operator" : "IS_ANY_OF",
                            "values" : [ "inactive", "active" ]
                          },
                          "property" : "hs_content_membership_status"
                        }, {
                          "filterType" : "IN_LIST",
                          "listId" : 2,
                          "operator" : "IN_LIST"
                        } ]
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-11-15T18:15:00.812Z",
                    "listId" : "1",
                    "listVersion" : 1,
                    "name" : "Snapshot List Example",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "SNAPSHOT",
                    "size" : 330,
                    "updatedAt" : "2023-11-15T18:15:20.210Z",
                    "updatedById" : "123"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Delete a List",
        "description" : "Delete a list by **ILS list ID**. Lists deleted through this endpoint can be restored up to 90-days following the delete. After 90-days, the list is purged and can no longer be restored.",
        "operationId" : "delete-/crm/v3/lists/{listId}_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Fetch List Memberships Ordered by ID",
        "description" : "Fetch the memberships of a list in order sorted by the `recordId` of the records in the list.\n\nThe `recordId`s are sorted in *ascending* order if an `after` offset or no offset is provided. If only a `before` offset is provided, then the records are sorted in *descending* order.\n\nThe `after` offset parameter will take precedence over the `before` offset in a case where both are provided.",
        "operationId" : "get-/crm/v3/lists/{listId}/memberships_getPage",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging offset token for the page that comes `after` the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the `before` offset.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "The paging offset token for the page that comes `before` the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return in the response. The maximum `limit` is 250.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                },
                "example" : {
                  "paging" : {
                    "next" : {
                      "after" : "AAAAAAAAAS0%3D",
                      "link" : "https://private.hubapi.com/crm/v3/lists/123/memberships?portalId=865747473&limit=2&after=AAAAAAAAAS0%3D"
                    },
                    "prev" : {
                      "before" : "AAAAAAAAAMk%3D",
                      "link" : "https://private.hubapi.com/crm/v3/lists/123/memberships?before=AAAAAAAAAMk%3D&portalId=865747473&limit=2"
                    }
                  },
                  "results" : [ {
                    "membershipTimestamp" : "2023-11-07T16:46:04.122Z",
                    "recordId" : "202"
                  }, {
                    "membershipTimestamp" : "2023-11-07T16:46:04.122Z",
                    "recordId" : "232"
                  }, {
                    "membershipTimestamp" : "2023-11-07T16:46:04.122Z",
                    "recordId" : "239"
                  } ],
                  "total" : 330
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Memberships" ],
        "summary" : "Delete All Records from a List",
        "description" : "Remove **all** of the records from a list. ***Note:*** *The list is not deleted.*\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.\n\nThis endpoint only supports lists that have less than 100,000 memberships.",
        "operationId" : "delete-/crm/v3/lists/{listId}/memberships_removeAll",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Operation successful",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Add Records to a List",
        "description" : "Add the records provided to the list. Records that do not exist or that are already members of the list are ignored.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add_add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IDs of the records to add to the list.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : {
                  "recordIdsAdded" : [ "123", "456" ],
                  "recordIdsMissing" : [ "789" ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Add and/or Remove Records from a List",
        "description" : "Add and/or remove records that have already been created in the system to and/or from a list.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-and-remove_addAndRemove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IDs of the records to add and/or remove from the list.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : {
                  "recordIdsAdded" : [ "123", "456" ],
                  "recordIdsMissing" : [ "789" ],
                  "recordIdsRemoved" : [ "654" ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Add All Records from a Source List to a Destination List",
        "description" : "Add all of the records from a *source list* (specified by the `sourceListId`) to a *destination list* (specified by the `listId`). Records that are already members of the *destination list* will be ignored. The *destination* and *source list* IDs must be different. The *destination* and *source lists* must contain records of the same type (e.g. contacts, companies, etc.).\n\nThis endpoint only works for *destination lists* that have a `processingType` of `MANUAL` or `SNAPSHOT`. The *source list* can have any `processingType`.\n\nThis endpoint only supports a `sourceListId` for lists with less than 100,000 memberships.",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the `MANUAL` or `SNAPSHOT` *destination list*, which the *source list* records are added to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "The **ILS ID** of the *source list* to grab the records from, which are then added to the *destination list*.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Operation successful",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/join-order" : {
      "get" : {
        "tags" : [ "List_App_Membership" ],
        "summary" : "Fetch List Memberships Ordered by Added to List Date",
        "description" : "Fetch the memberships of a list in order sorted by the time the records were added to the list.\n\nThe `recordId`s are sorted in *ascending* order if an `after` offset or no offset is provided. If only a `before` offset is provided, then the records are sorted in *descending* order.\n\nThe `after` offset parameter will take precedence over the `before` offset in a case where both are provided.",
        "operationId" : "get-/crm/v3/lists/{listId}/memberships/join-order_getPageOrderedByAddedToListDate",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging offset token for the page that comes `after` the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the `before` offset.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "The paging offset token for the page that comes `before` the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return in the response. The maximum `limit` is 250.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Remove Records from a List",
        "description" : "Remove the records provided from the list. Records that do not exist or that are not members of the list are ignored.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/remove_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IDs of the records to remove from the list.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : {
                  "recordIdsMissing" : [ "789" ],
                  "recordIdsRemoved" : [ "123", "456" ]
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/restore" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Restore a List",
        "description" : "Restore a previously deleted list by **ILS list ID**. Deleted lists are eligible to be restored up-to 90-days after the list has been deleted.",
        "operationId" : "put-/crm/v3/lists/{listId}/restore_restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list to restore.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/schedule-conversion" : {
      "get" : {
        "tags" : [ "List_App" ],
        "summary" : "Retrieve the conversion details for a list",
        "description" : "Retrieve the conversion details for a list. This can be used to check for an upcoming conversion, or to get the details of when a list was already converted.",
        "operationId" : "get-/crm/v3/lists/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The ID of the list to schedule the conversion for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "List_App" ],
        "summary" : "Schedule or update the conversion of a list to static",
        "description" : "Schedule the conversion of an active list into a static list, or update the already scheduled conversion. This can be scheduled for a specific date or based on activity.",
        "operationId" : "put-/crm/v3/lists/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The ID of the list to schedule the conversion for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicListConversionTime"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "List_App" ],
        "summary" : "Cancel the conversion of a list",
        "description" : "Delete an existing scheduled conversion for a list.",
        "operationId" : "delete-/crm/v3/lists/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The ID of the list that you want to cancel the conversion for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Update List Filter Definition",
        "description" : "Update the filter branch definition of a `DYNAMIC` list. Once updated, the list memberships will be re-evaluated and updated to match the new definition.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-filters_updateListFilters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "A flag indicating whether or not the memberships added to the list as a result of the filter change should be enrolled in workflows that are relevant to this list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : {
                  "updatedList" : {
                    "createdAt" : "2023-11-15T20:11:50.293Z",
                    "createdById" : "123",
                    "filterBranch" : {
                      "filterBranchOperator" : "OR",
                      "filterBranchType" : "OR",
                      "filterBranches" : [ {
                        "filterBranchOperator" : "AND",
                        "filterBranchType" : "AND",
                        "filters" : [ {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "NUMBER",
                            "operator" : "IS_GREATER_THAN_OR_EQUAL_TO",
                            "value" : 12
                          },
                          "property" : "hs_predictivecontactscore_v2"
                        }, {
                          "filterType" : "PROPERTY",
                          "operation" : {
                            "includeObjectsWithNoValueSet" : false,
                            "operationType" : "ALL_PROPERTY",
                            "operator" : "IS_UNKNOWN"
                          },
                          "property" : "engagements_last_meeting_booked_source"
                        }, {
                          "acceptedStatuses" : [ "OPT_IN" ],
                          "filterType" : "EMAIL_SUBSCRIPTION",
                          "subscriptionIds" : [ "321981152", "81537745" ],
                          "subscriptionType" : "SUBSCRIPTION"
                        } ]
                      } ]
                    },
                    "filtersUpdatedAt" : "2023-11-15T23:50:12.690Z",
                    "listId" : "1",
                    "listVersion" : 2,
                    "name" : "Zero Size Test",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "PROCESSING",
                    "processingType" : "DYNAMIC",
                    "updatedAt" : "2023-11-15T23:50:12.771Z",
                    "updatedById" : "123"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Update List Name",
        "description" : "Update the name of a list. The name must be globally unique relative to all other public lists in the portal.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-name_updateName",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The **ILS ID** of the list to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "The name to update the list to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response, for a request with `includeFilters` set to `false`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : {
                  "updatedList" : {
                    "createdAt" : "2023-11-15T18:16:52.165Z",
                    "createdById" : "123",
                    "filtersUpdatedAt" : "2023-11-15T19:03:24.160Z",
                    "listId" : "123",
                    "listVersion" : 2,
                    "name" : "Updated List Name",
                    "objectTypeId" : "0-1",
                    "processingStatus" : "COMPLETE",
                    "processingType" : "DYNAMIC",
                    "updatedAt" : "2023-11-15T19:03:32.979Z",
                    "updatedById" : "123"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "private_apps" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "The logical operator used to combine filters within the branch."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "The type of the filter branch (PROPERTY_ASSOCIATION).",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The ID representing the type of object associated with the filter branch."
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the filter branch (IN_LIST, NOT_IN_LIST)."
          },
          "propertyWithObjectId" : {
            "type" : "string",
            "description" : "The property that is associated with the object ID in the filter branch."
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation."
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (NUMBER).",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied in the number property operation (IS_EQUAL_TO, IS_NOT_EQUAL_TO, IS_GREATER_THAN, IS_GREATER_THAN_OR_EQUAL_TO, IS_LESS_THAN, IS_LESS_THAN_OR_EQUAL_TO, HAS_EVER_BEEN_EQUAL_TO, HAS_NEVER_BEEN_EQUAL_TO)."
          },
          "value" : {
            "type" : "number",
            "description" : "The numeric value to be used in the operation."
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "The day component of the year reference.",
            "format" : "int32"
          },
          "hour" : {
            "type" : "integer",
            "description" : "The hour component of the year reference.",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "The millisecond component of the year reference.",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "description" : "The minute component of the year reference.",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "description" : "The month component of the year reference.",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "description" : "Indicates the type of reference (YEAR).",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "The second component of the year reference.",
            "format" : "int32"
          }
        }
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The identifier for the filter metadata."
          },
          "inListType" : {
            "type" : "string",
            "description" : "Specifies the type of list for the filter (WORKFLOWS_ENROLLMENT, WORKFLOWS_ACTIVE, WORKFLOWS_GOAL, WORKFLOWS_COMPLETED, IMPORT, DATASET, DATASETS)."
          }
        }
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Specifies whether objects without a set value should be included in the operation."
          },
          "lowerBound" : {
            "type" : "integer",
            "description" : "The lower limit of the date range for the operation.",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (RANGED_DATE).",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied in the ranged date property operation (IS_BETWEEN, IS_NOT_BETWEEN)."
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "Indicates whether the operation requires conversion to a different time zone."
          },
          "upperBound" : {
            "type" : "integer",
            "description" : "The upper limit of the date range for the operation.",
            "format" : "int32"
          }
        }
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "offset" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "array",
            "description" : "The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.\n\nBy default, all requests will fetch the following properties for each list: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name`, and `hs_list_reference_count`.",
            "items" : {
              "type" : "string"
            }
          },
          "count" : {
            "type" : "integer",
            "description" : "The number of lists to include in the response. Defaults to `20` if no value is provided. The max `count` is `500`.",
            "format" : "int32"
          },
          "listIds" : {
            "type" : "array",
            "description" : "The `listIds` that will be used to filter results by `listId`. If values are provided, then the response will only include results that have a `listId` in this array.\n\nIf no value is provided, or if an empty list is provided, then the results will not be filtered by `listId`.",
            "items" : {
              "type" : "string"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.",
            "format" : "int32"
          },
          "processingTypes" : {
            "type" : "array",
            "description" : "The `processingTypes` that will be used to filter results by `processingType`. If values are provided, then the response will only include results that have a `processingType` in this array.\n\nIf no value is provided, or if an empty list is provided, then results will not be filtered by `processingType`.\n\nValid `processingTypes` are: `MANUAL`, `SNAPSHOT`, or `DYNAMIC`.",
            "items" : {
              "type" : "string"
            }
          },
          "query" : {
            "type" : "string",
            "description" : "The `query` that will be used to search for lists by list name. If no `query` is provided, then the results will include all lists."
          },
          "sort" : {
            "type" : "string",
            "description" : "Sort field and order"
          }
        },
        "description" : "The request object used for searching through lists.",
        "example" : {
          "additionalProperties" : [ "hs_list_size_week_delta" ],
          "count" : 100,
          "offset" : 0,
          "query" : "Test"
        }
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean",
            "description" : "Whether or not there are more results to page through."
          },
          "lists" : {
            "type" : "array",
            "description" : "The lists that matched the search criteria.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "Value to be passed in a future request to paginate through list search results.",
            "format" : "int32"
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of lists that match the search criteria.",
            "format" : "int32"
          }
        },
        "description" : "The response object with the list search hits and additional information regarding pagination.",
        "example" : {
          "hasMore" : false,
          "lists" : [ {
            "additionalProperties" : {
              "hs_last_record_added_at" : "1695938616824",
              "hs_list_reference_count" : "0",
              "hs_list_size" : "59",
              "hs_list_size_week_delta" : "-10"
            },
            "createdAt" : "2023-09-28T22:03:17.998Z",
            "createdById" : "1",
            "filtersUpdatedAt" : "2023-09-28T22:03:17.998Z",
            "listId" : "123",
            "listVersion" : 1,
            "name" : "Test list",
            "objectTypeId" : "0-1",
            "processingStatus" : "COMPLETE",
            "processingType" : "SNAPSHOT",
            "updatedAt" : "2023-09-28T22:03:37.005Z",
            "updatedById" : "1"
          } ],
          "offset" : 1,
          "total" : 1
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter being applied (IN_LIST).",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "The ID of the list used in the association filter."
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operation to be performed by the filter (IN_LIST, NOT_IN_LIST)."
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "Defines the type of filter (SURVEY_MONKEY_VALUE).",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "Defines the operation to be applied within the filter (HAS_ANSWERED_SURVEY_QUESTION_WITH_VALUE)."
          },
          "surveyAnswerColId" : {
            "type" : "string",
            "description" : "The column ID of the survey answer used in the filter."
          },
          "surveyAnswerRowId" : {
            "type" : "string",
            "description" : "The row ID of the survey answer used in the filter."
          },
          "surveyId" : {
            "type" : "string",
            "description" : "The ID of the survey used in the filter."
          },
          "surveyQuestion" : {
            "type" : "string",
            "description" : "The question from the survey used in the filter."
          },
          "valueComparison" : {
            "description" : "Specifies the operation used to compare the survey answer value.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "Defines the comparison operation to be used in the refinement (BEFORE, AFTER)."
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of refinement, (RELATIVE_COMPARATIVE).",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "The object list definitions.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        },
        "description" : "The response object containing the lists found for a multi-list fetch."
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "The ID of the business unit associated with the subscription filter."
          },
          "channel" : {
            "type" : "string",
            "description" : "Specifies the communication channel associated with the subscription filter (EMAIL, WHATSAPP, SMS)."
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter, which is (COMMUNICATION_SUBSCRIPTION)",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "Defines the type of subscription related to the filter (PORTAL_WIDE, BUSINESS_UNIT_WIDE, INDIVIDUAL_SUBSCRIPTION)"
          }
        }
      },
      "PublicObjectListSearchResult" : {
        "required" : [ "additionalProperties", "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The name and value of any additional properties that exist for this list and that were included in the search request."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The time when the list was created.",
            "format" : "date-time"
          },
          "createdById" : {
            "type" : "string",
            "description" : "The ID of the user that created the list."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "The time when the list was deleted.",
            "format" : "date-time"
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "The time when the filters for this list were last updated.",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "The **ILS ID** of the list."
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "The version of the list.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the list."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The object type of the list."
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "The processing status of the list."
          },
          "processingType" : {
            "type" : "string",
            "description" : "The processing type of the list."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The time the list was last updated.",
            "format" : "date-time"
          },
          "updatedById" : {
            "type" : "string",
            "description" : "The ID of the user that last updated the list."
          }
        },
        "example" : {
          "additionalProperties" : {
            "hs_last_record_added_at" : 1695938616824,
            "hs_list_reference_count" : 0,
            "hs_list_size" : 59,
            "hs_list_size_week_delta" : -1
          },
          "createdAt" : "2023-09-28T22:03:17.998Z",
          "createdById" : "1",
          "filtersUpdatedAt" : "2023-09-28T22:03:17.998Z",
          "listId" : "123",
          "listVersion" : 1,
          "name" : "Test list",
          "objectTypeId" : "0-1",
          "processingStatus" : "COMPLETED",
          "processingType" : "SNAPSHOT",
          "updatedById" : "1"
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string",
            "description" : "Specifies the type of range for the refinement criteria (BETWEEN, NOT_BETWEEN)."
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the type of refinement (RELATIVE_RANGED).",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          },
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "The number of days to offset.",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "description" : "The number of hours to offset.",
            "format" : "int32"
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "The number of milliseconds to offset.",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "description" : "The number of minutes to offset.",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "description" : "The number of months to offset.",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "description" : "The number of quarters to offset.",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "description" : "The number of seconds to offset.",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "description" : "The number of weeks to offset.",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "description" : "The number of years to offset.",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "The operator used to combine filters within the branch (NOT_ALL)."
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "The type of the filter branch (NOT_ALL).",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        }
      },
      "PublicBatchMigrationMapping" : {
        "required" : [ "legacyListIdsToIdsMapping", "missingLegacyListIds" ],
        "type" : "object",
        "properties" : {
          "legacyListIdsToIdsMapping" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicMigrationMapping"
            }
          },
          "missingLegacyListIds" : {
            "type" : "array",
            "description" : "A list of legacy list ids that were passed in but not found. It will be empty if no id's are missing",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "Specifies the criteria for refining the filter by coalescing.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "Indicates the type of filter (FORM_SUBMISSION).",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "The ID of the form used in the filter."
          },
          "operator" : {
            "type" : "string",
            "description" : "Specifies the operation to be performed (FILLED_OUT, NOT_FILLED_OUT).",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pruningRefineBy" : {
            "description" : "Specifies the criteria for refining the filter by pruning.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        }
      },
      "PublicListConversionInactivity" : {
        "title" : "INACTIVITY",
        "required" : [ "conversionType", "offset", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "conversionType" : {
            "type" : "string",
            "description" : "Specifies the type of conversion (INACTIVITY).",
            "default" : "INACTIVITY",
            "enum" : [ "INACTIVITY" ]
          },
          "offset" : {
            "type" : "integer",
            "description" : "The number of time units for the inactivity period.",
            "format" : "int32"
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "The unit of time for the inactivity period, such as (DAY, MONTH, WEEK).",
            "enum" : [ "DAY", "MONTH", "WEEK" ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "Indicates whether objects with no value set for the property should be included in the operation."
          },
          "numberOfDays" : {
            "type" : "integer",
            "description" : "The number of days to be considered in the rolling date range operation.",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "description" : "Specifies the type of operation (ROLLING_DATE_RANGE).",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "operator" : {
            "type" : "string",
[...]
