{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "STARTER",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "PUBLIC_BETA",
    "x-hubspot-api-use-case" : "You want to bulk add contacts to a particular list, or remove company records from a company list.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Lists Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/lists/overview"
    } ],
    "x-hubspot-introduction" : "Use the lists API to manage list memberships for contact, company, and custom object lists."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Lists"
  }, {
    "name" : "Memberships"
  }, {
    "name" : "Folders"
  } ],
  "paths" : {
    "/crm/v3/lists/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "リスト名を更新",
        "description" : "リストの名前を更新します。名前は、ポータルの他の全ての公開リストに対してグローバルに固有である必要があります。",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-name_updateName",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "更新するリストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "更新後のリストの名前。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "レスポンスオブジェクトリスト定義にフィルター分岐定義が含まれている必要があるかどうかを示すフラグ。既定では、オブジェクトリスト定義のフィルター分岐定義はレスポンスに含まれません。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "リストのレコードを追加または削除",
        "description" : "システムにすでに作成されているレコードをリストに追加するか、リストから削除します。\n\nこのエンドポイントは、「processingType」が「MANUAL」または「SNAPSHOT」のリストでのみ機能します。",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-and-remove_addAndRemove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "「MANUAL」または「SNAPSHOT」リストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "IDでリストを取得",
        "description" : "**ILSリストID**で1つのリストを取得します。",
        "operationId" : "get-/crm/v3/lists/{listId}_getById",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "取得するリストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "レスポンスオブジェクトリスト定義にフィルター分岐定義が含まれている必要があるかどうかを示すフラグ。既定では、オブジェクトリスト定義のフィルター分岐定義はレスポンスに含まれません。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "リストを削除",
        "description" : "**ILSリストID**でリストを削除します。このエンドポイントで削除されたリストは、削除してから最大90日間復元できます。90日が経過すると、このリストは消去され、復元できなくなります。",
        "operationId" : "delete-/crm/v3/lists/{listId}_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "削除するリストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "リストフィルター定義を更新",
        "description" : "「DYNAMIC」リストのフィルター分岐定義を更新します。更新されたら、リストメンバーシップが再評価され、新しい定義に合わせて更新されます。",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-filters_updateListFilters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "更新するリストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "フィルターの変更時にリストに追加されるメンバーシップをこのリストに関連するワークフローに登録する必要があるかどうかを示すフラグ。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/search" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "リストを検索",
        "description" : "リスト名でリストを検索するか、空の「クエリ」値を指定して全てのリストを表示します。",
        "operationId" : "post-/crm/v3/lists/search_doSearch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/move-list" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "指定されたフォルダーにリストを移動",
        "description" : "リストとフォルダーが指定されると、そのフォルダーにリストが移動します。",
        "operationId" : "put-/crm/v3/lists/folders/move-list",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "レコードをリストに追加",
        "description" : "指定されたレコードをリストに追加します。存在しないレコードや、すでにリストのメンバーになっているレコードは無視されます。\n\nこのエンドポイントは、「processingType」が「MANUAL」または「SNAPSHOT」のリストでのみ機能します。",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add_add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "「MANUAL」または「SNAPSHOT」リストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "名前でリストを取得",
        "description" : "リスト名とオブジェクトタイプを使用して1つのリストを取得します。",
        "operationId" : "get-/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}_getByName",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "取得するリストの名前。大文字と小文字は区別**されません**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "取得するリストに保存されるオブジェクトタイプのオブジェクトタイプID。例えば、「コンタクト」リストでは「0～1」になります。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "レスポンスオブジェクトリスト定義にフィルター分岐定義が含まれている必要があるかどうかを示すフラグ。既定では、オブジェクトリスト定義のフィルター分岐定義はレスポンスに含まれません。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "フォルダーを移動",
        "description" : "これにより、フォルダーが現在の場所から新しい場所に移動し、このフォルダーの親が更新されて、指定された新しいIDになります。",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/restore" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "リストを復元",
        "description" : "以前に削除されたリストを**ILSリストID**を使用して復元します。削除されたリストは、リストが削除されてから最大90日間復元できます。",
        "operationId" : "put-/crm/v3/lists/{listId}/restore_restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "復元するリストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "フォルダーの名前を変更",
        "description" : "新しい名前を使用して、指定されたfolderIdの名前を変更します。",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "ソースリストの全てのレコードをターゲットリストに追加",
        "description" : "*ソースリスト*（「sourceListId」で指定される）の全てのレコードを*ターゲットリスト*（「listId」で指定される）に追加します。すでに*ターゲットリスト*のメンバーになっているレコードは無視されます。*ターゲットリスト*と*ソースリスト*のIDは異なっている必要があります。*ターゲットリスト*と*ソースリスト*には、同じタイプのレコード（コンタクトや会社など）が含まれている必要があります。\n\nこのエンドポイントは、「processingType」が「MANUAL」または「SNAPSHOT」の*ターゲットリスト*でのみ機能します。「ソースリスト」には任意の「processingType」を使用できます。",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "*ソースリスト*レコードが追加される、「MANUAL」または「SNAPSHOT」*ターゲットリスト*の**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "レコードを取得する*ソースリスト*の**ILS ID**。このレコードは取得後に*ターゲットリスト*に追加されます。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "レコードがメンバーであるリストを取得",
        "description" : "レコードが指定されると、このレコードがメンバーになっているリストが提供されます。",
        "operationId" : "get-/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships_getLists",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "レコードのオブジェクトタイプID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "レコードのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "複数のリストを取得",
        "description" : "**ILSリストID**を使用して、1回のリクエストで複数のリストを取得します。レスポンスには、指定された「listIds」で存在する全てのリストの定義が含まれます。",
        "operationId" : "get-/crm/v3/lists/_getAll",
        "parameters" : [ {
          "name" : "listIds",
          "in" : "query",
          "description" : "取得するリストの**ILS ID**。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "レスポンスオブジェクトリスト定義にフィルター分岐定義が含まれている必要があるかどうかを示すフラグ。既定では、オブジェクトリスト定義のフィルター分岐定義はレスポンスに含まれません。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "リストを作成",
        "description" : "指定されたオブジェクトリスト定義を使用して、新しいリストを作成します。",
        "operationId" : "post-/crm/v3/lists/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.write" ]
        }, {
          "private_apps" : [ "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "フォルダーを取得します。",
        "description" : "フォルダーを取得し、childNodes属性を使用して再帰的に全てのフォルダーを含めます。全ての子ノードの子リストのフィールドは空になります。取得されたフォルダーにのみそのフォルダーの子リストが含まれます。",
        "operationId" : "get-/crm/v3/lists/folders",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "取得するフォルダーのID。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "フォルダーを作成",
        "description" : "指定された情報を使用してフォルダーを作成します。",
        "operationId" : "post-/crm/v3/lists/folders",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "フォルダーを削除",
        "description" : "指定されたIDのフォルダーを削除します。",
        "operationId" : "delete-/crm/v3/lists/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "IDで並べ替えられたリストメンバーシップを取得",
        "description" : "リストのレコードの「recordId」で並べ替えられる順序でリストのメンバーシップを取得します。\n\n「after」オフセットが指定されている場合や、オフセットが指定されていない場合、「recordId」は*昇順*に並べ替えられます。「before」オフセットのみが指定されている場合、レコードは*降順*に並べ替えられます。\n\n両方のオフセットが指定されている場合、「before」オフセットパラメーターよりも「after」オフセットパラメーターが優先されます。",
        "operationId" : "get-/crm/v3/lists/{listId}/memberships_getPage",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "リストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "前にリクエストしたレコードの「後」にくるページのページング オフセット トークン。\n\n指定されている場合、レスポンスのレコードがオフセット後のレコードになり、*昇順*で並べ替えられます。「before」オフセットよりも優先されます。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "前にリクエストしたレコードの「前」にくるページのページング オフセット トークン。\n\n指定されている場合、レスポンスのレコードがオフセット前のレコードになり、*降順*で並べ替えられます。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "レスポンスで返されるレコードの数。「上限」は250件です。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Memberships" ],
        "summary" : "リストから全てのレコードを削除",
        "description" : "リストから**全て**のレコードを削除します。 ***メモ：*** *リストは削除されません。*\n\nこのエンドポイントは、「processingType」が「MANUAL」または「SNAPSHOT」のリストでのみ機能します。",
        "operationId" : "delete-/crm/v3/lists/{listId}/memberships_removeAll",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "「MANUAL」または「SNAPSHOT」リストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "リストからレコードを削除",
        "description" : "指定されたレコードをリストから削除します。存在しないレコードや、リストのメンバーでないレコードは無視されます。\n\nこのエンドポイントは、「processingType」が「MANUAL」または「SNAPSHOT」のリストでのみ機能します。",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/remove_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "「MANUAL」または「SNAPSHOT」リストの**ILS ID**。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "propertyWithObjectId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "inListType" : {
            "type" : "string"
          }
        }
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "listIds", "offset", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "listIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "リストのページ送りに使用される値。レスポンスで指定された「オフセット」を次のリクエストで使用して、結果の次のページを取得することができます。オフセットが指定されていない場合、既定の「0」になります。",
            "format" : "int32"
          },
          "query" : {
            "type" : "string",
            "description" : "リスト名でリストを検索するために使用される「クエリ」。「クエリ」が指定されていない場合、全てのリストが結果に含まれます。"
          },
          "count" : {
            "type" : "integer",
            "description" : "レスポンスに含めるリストの数。値が指定されていない場合、既定の「20」になります。「最大数」は「500」です。",
            "format" : "int32"
          },
          "processingTypes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "additionalProperties" : {
            "type" : "array",
            "description" : "レスポンスに含める追加のリストプロパティーのプロパティー名。特定のリストの存在しないプロパティーまたは空のプロパティーはレスポンスに含まれません。\n\n既定では、全てのリクエストで各リストのプロパティー（「hs_list_size」、hs_last_record_added_at」、「hs_last_record_removed_at」、「hs_folder_name」、「hs_list_reference_count」）が取得されます。",
            "items" : {
              "type" : "string"
            }
          },
          "sort" : {
            "type" : "string"
          }
        }
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "検索条件に一致したリストの合計数。",
            "format" : "int32"
          },
          "offset" : {
            "type" : "integer",
            "description" : "リスト検索結果のページ送りのために今後のリクエストで渡される値。",
            "format" : "int32"
          },
          "lists" : {
            "type" : "array",
            "description" : "検索条件に一致したリスト。",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "hasMore" : {
            "type" : "boolean",
            "description" : "表示する結果が他にあるかどうか。"
          }
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "filterType" : {
            "type" : "string",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "valueComparison" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "surveyId" : {
            "type" : "string"
          },
          "surveyQuestion" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "surveyAnswerRowId" : {
            "type" : "string"
          },
          "surveyAnswerColId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "オブジェクトリスト定義。",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        }
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "channel" : {
            "type" : "string"
          },
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "businessUnitId" : {
            "type" : "string"
          }
        }
      },
      "PublicObjectListSearchResult" : {
        "required" : [ "additionalProperties", "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "リストの処理タイプ。"
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "リストのオブジェクトタイプ。"
          },
          "updatedById" : {
            "type" : "string",
            "description" : "リストを最後に更新したユーザーのID。"
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "このリストのフィルターが最後に更新された時刻。",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "リストの**ILS ID**。"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "リストが作成された時刻。",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "リストの処理ステータス。"
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "リストが削除された時刻。",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "リストのバージョン。",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "リストの名前。"
          },
          "additionalProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "このリストで存在し、検索リクエストに含まれていた追加のプロパティーの名前と値。"
          },
          "createdById" : {
            "type" : "string",
            "description" : "リストを作成したユーザーのID。"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "リストが最後に更新された時刻。",
            "format" : "date-time"
          }
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string"
          },
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32"
          },
          "days" : {
            "type" : "integer",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "formId" : {
            "type" : "string"
          },
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiCollectionResponseJoinTimeAndRecordId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JoinTimeAndRecordId"
            }
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "associationCategory" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "acceptedStatuses" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "operationType" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFolderCreateResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "timePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListUpdateResponse" : {
        "type" : "object",
        "properties" : {
          "updatedList" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timezoneSource" : {
            "type" : "string"
          },
          "indexReference" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "timeType" : {
            "type" : "string",
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "zoneId" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "upperBoundEndpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          },
          "lowerBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        }
      },
      "PublicWebinarFilter" : {
        "title" : "WEBINAR",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "webinarId" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "WEBINAR",
            "enum" : [ "WEBINAR" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListCreateResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "MembershipsUpdateResponse" : {
        "required" : [ "recordIdsMissing", "recordIdsRemoved", "recordsIdsAdded" ],
        "type" : "object",
        "properties" : {
          "recordIdsRemoved" : {
            "type" : "array",
            "description" : "リストから「削除」されたレコードのID。",
            "items" : {
              "type" : "string"
            }
          },
          "recordsIdsAdded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsMissing" : {
            "type" : "array",
            "description" : "「欠落」していたため（例：ポータルに存在しなかった）、「追加」または「削除」されなかったレコードのID。",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicUnifiedEventsFilterBranch" : {
        "title" : "UNIFIED_EVENTS",
        "required" : [ "eventTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "UNIFIED_EVENTS",
            "enum" : [ "UNIFIED_EVENTS" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "eventTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "HAS_COMPLETED", "HAS_NOT_COMPLETED" ]
          }
        }
      },
      "PublicNumOccurrencesRefineBy" : {
        "title" : "NUM_OCCURRENCES",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "NUM_OCCURRENCES",
            "enum" : [ "NUM_OCCURRENCES" ]
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicObjectList" : {
        "required" : [ "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "リストの処理タイプ。"
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "リストのオブジェクトタイプ。"
          },
          "updatedById" : {
            "type" : "string",
            "description" : "リストを最後に更新したユーザーのID。"
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "このリストのフィルターが最後に更新された時刻。",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "リストの**ILS ID**。"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "リストが作成された時刻。",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "リストの処理ステータス。"
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "リストが削除された時刻。",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "リストのバージョン。",
            "format" : "int32"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "リストの名前。"
          },
          "createdById" : {
            "type" : "string",
            "description" : "リストを作成したユーザーのID。"
          },
          "filterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "リストが最後に更新された時刻。",
            "format" : "date-time"
          }
        }
      },
      "RecordListMembership" : {
        "required" : [ "firstAddedTimestamp", "lastAddedTimestamp", "listId", "listVersion" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "listVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lastAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "firstAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "ctaName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFetchResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "shouldAccept" : {
            "type" : "boolean"
          },
          "source" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          }
        }
      },
      "PublicSetOccurrencesRefineBy" : {
        "title" : "SET_OCCURRENCES",
        "required" : [ "setType", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "SET_OCCURRENCES",
            "enum" : [ "SET_OCCURRENCES" ]
          },
          "setType" : {
            "type" : "string"
          }
        }
      },
      "PublicListFolder" : {
        "required" : [ "childLists", "childNodes", "id", "parentFolderId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "フォルダーが作成された時刻。",
            "format" : "date-time"
          },
          "parentFolderId" : {
            "type" : "integer",
            "description" : "このフォルダーが含まれているフォルダーのID。ルートフォルダーは0として表されます。",
            "format" : "int32"
          },
          "childNodes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicListFolder"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "フォルダーの名前。"
          },
          "id" : {
            "type" : "integer",
            "description" : "フォルダーのID。",
            "format" : "int32"
          },
          "childLists" : {
            "type" : "array",
            "description" : "このフォルダーに含まれているリストIDの配列。",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "updatedContentsAt" : {
            "type" : "string",
            "description" : "フォルダーのコンテンツが最後に更新された時刻。",
            "format" : "date-time"
          },
          "userId" : {
            "type" : "integer",
            "description" : "フォルダーの所有者のユーザーID。",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "フォルダーが最後に更新された時刻。",
            "format" : "date-time"
          }
        }
      },
      "ApiCollectionResponseRecordListMembershipNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RecordListMembership"
            }
          }
        }
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicPageViewAnalyticsFilter" : {
        "title" : "PAGE_VIEW",
        "required" : [ "filterType", "operator", "pageUrl" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "enableTracking" : {
            "type" : "boolean"
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pageUrl" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "PAGE_VIEW",
            "enum" : [ "PAGE_VIEW" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "MembershipChangeRequest" : {
        "required" : [ "recordIdsToAdd", "recordIdsToRemove" ],
        "type" : "object",
        "properties" : {
          "recordIdsToRemove" : {
            "type" : "array",
            "description" : "",
            "example" : [ 654 ],
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsToAdd" : {
            "type" : "array",
            "description" : "",
            "example" : [ 123, 456, 789 ],
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "レコードの前のページのオフセット。"
          },
          "link" : {
            "type" : "string",
            "description" : "レコードの前のページのリクエストへのダイレクトリンク。"
          }
        }
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicIntegrationEventFilter" : {
        "title" : "INTEGRATION_EVENT",
        "required" : [ "eventTypeId", "filterLines", "filterType" ],
        "type" : "object",
        "properties" : {
          "eventTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "filterLines" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicEventFilterMetadata"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "INTEGRATION_EVENT",
            "enum" : [ "INTEGRATION_EVENT" ]
          }
        }
      },
      "PublicAbsoluteComparativeTimestampRefineBy" : {
        "title" : "ABSOLUTE_COMPARATIVE",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "ABSOLUTE_COMPARATIVE",
            "enum" : [ "ABSOLUTE_COMPARATIVE" ]
          },
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PublicSurveyMonkeyFilter" : {
        "title" : "SURVEY_MONKEY",
        "required" : [ "filterType", "operator", "surveyId" ],
        "type" : "object",
        "properties" : {
          "surveyId" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "SURVEY_MONKEY",
            "enum" : [ "SURVEY_MONKEY" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicAbsoluteRangedTimestampRefineBy" : {
        "title" : "ABSOLUTE_RANGED",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "rangeType" : {
            "type" : "string"
          },
          "upperTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "lowerTimestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "type" : {
            "type" : "string",
            "default" : "ABSOLUTE_RANGED",
            "enum" : [ "ABSOLUTE_RANGED" ]
          }
        }
      },
      "PublicDatePropertyOperation" : {
        "title" : "DATE",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "year" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "month" : {
            "type" : "string"
          },
          "year" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "day" : {
[...]
