{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "STARTER",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "PUBLIC_BETA",
    "x-hubspot-api-use-case" : "You want to bulk add contacts to a particular list, or remove company records from a company list.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Lists Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/lists/overview"
    } ],
    "x-hubspot-introduction" : "Use the lists API to manage list memberships for contact, company, and custom object lists."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Lists"
  }, {
    "name" : "Memberships"
  }, {
    "name" : "Folders"
  } ],
  "paths" : {
    "/crm/v3/lists/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Actualizar nombre de lista",
        "description" : "Actualiza el nombre de una lista. El nombre debe ser único de forma global, en relación con todas las demás listas públicas en el portal.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-name_updateName",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista que se actualizará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "El nombre con el que se actualizará la lista.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un marcador que indica si la definición de la lista de objetos de la respuesta debe incluir o no una definición de ramificación de filtro. Por opción predeterminada, las definiciones de ramificaciones de filtro de las definiciones de la lista de objetos no se incluirán en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Agregar y/o eliminar registros de una lista",
        "description" : "Agregar a y/o eliminar de una lista registros que ya han sido creados en el sistema.\n\nEste punto de terminación solo funciona para listas que tienen un \"processingType\" de \"MANUAL\" o \"INSTANTÁNEA\".",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-and-remove_addAndRemove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista \"MANUAL\" o \"INSTANTÁNEA\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Recuperar lista por ID",
        "description" : "Obtén una lista individual por **ID de lista ILS**.",
        "operationId" : "get-/crm/v3/lists/{listId}_getById",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista que se recuperará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un marcador que indica si la definición de la lista de objetos de la respuesta debe incluir o no una definición de ramificación de filtro. Por opción predeterminada, las definiciones de ramificaciones de filtro de las definiciones de la lista de objetos no se incluirán en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Eliminar una lista",
        "description" : "Elimina una lista por **ID de lista ILS**. Las listas eliminadas a través de este punto de terminación pueden restaurarse hasta 90 días después de la eliminación. Después de 90 días, la lista se purga y ya no se puede restaurar.",
        "operationId" : "delete-/crm/v3/lists/{listId}_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista que se eliminará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Actualizar definición de filtro de lista",
        "description" : "Actualiza la definición de ramificación de filtro de una lista \"DINÁMICA\". Una vez actualizada, las membresías de la lista serán reevaluadas y se actualizarán para que coincidan con la nueva definición.",
        "operationId" : "put-/crm/v3/lists/{listId}/update-list-filters_updateListFilters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista que se actualizará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "Un marcador que indica si las membresías agregadas a la lista como resultado del cambio de filtro deben o no deben ser inscritas en los workflows que son relevantes para esta lista.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/search" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Listas de búsqueda",
        "description" : "Busca listas por nombre de lista o busca en todas las listas proporcionando un valor de \"consulta\" vacío.",
        "operationId" : "post-/crm/v3/lists/search_doSearch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/move-list" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Mueve una lista a una carpeta especificada",
        "description" : "Si se especifica una lista y una carpeta, la lista se moverá a esa carpeta.",
        "operationId" : "put-/crm/v3/lists/folders/move-list",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Agregar registros a una lista",
        "description" : "Agrega los registros proporcionados a la lista. Se ignoran los registros que no existen o que ya son miembros de la lista.\n\nEste punto de terminación solo funciona para listas que tienen un \"processingType\" de \"MANUAL\" o \"INSTANTÁNEA\".",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add_add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista \"MANUAL\" o \"INSTANTÁNEA\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Recuperar lista por nombre",
        "description" : "Recuperar una lista individual por nombre de lista y tipo de objeto.",
        "operationId" : "get-/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}_getByName",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "El nombre de la lista que se recuperará. **No** distingue entre mayúsculas y minúsculas.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "El ID de los tipos de objetos almacenados por la lista que se recuperará. Por ejemplo, \"0-1\" para una lista \"CONTACTO\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un marcador que indica si la definición de la lista de objetos de la respuesta debe incluir o no una definición de ramificación de filtro. Por opción predeterminada, las definiciones de ramificaciones de filtro de las definiciones de la lista de objetos no se incluirán en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Mueve una carpeta",
        "description" : "Esto mueve la carpeta desde su ubicación actual a una nueva ubicación. Actualiza el elemento principal de esta carpeta con el nuevo ID especificado.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/restore" : {
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Restaurar una lista",
        "description" : "Restaura una lista eliminada previamente por **ID de lista ILS**. Las listas eliminadas pueden restaurarse hasta 90 días después de haber sido eliminadas.",
        "operationId" : "put-/crm/v3/lists/{listId}/restore_restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista que se restaurará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Cambiar el nombre de una carpeta",
        "description" : "Cambia el nombre del folderId especificado por un nuevo nombre.",
        "operationId" : "put-/crm/v3/lists/folders/{folderId}/rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Agregar todos los registros de una lista de origen a una lista de destino",
        "description" : "Agregar todos los registros de una *lista de origen* (especificada por el \"sourceListId\") a una *lista de destino* (especificada por el \"listId\"). Se ignorarán los registros que ya sean miembros de la *lista de destino*. Los ID de *destino* y *lista de origen* deben ser diferentes. El *destino* y la *lista de origen* deben contener registros del mismo tipo (por ejemplo, contactos, empresas, etc.).\n\nEste punto de terminación solo funciona para *listas de destino* que tienen un \"tipoProcesamiento\" de \"MANUAL\" o \"INSTANTÁNEA\". La *lista de origen* puede tener cualquier \"processingType\".",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la *lista de destino* \"MANUAL\" o \"INSTANTÁNEA\" a la que se agregan los registros de la *lista de origen*.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "El **ID de ILS** de la *lista de origen* de la que se tomarán los registros, que luego se agregan a la *lista de destino*.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Obtener listas de las que el registro es miembro",
        "description" : "Para un registro dado, proporciona las listas de las que este registro es miembro.",
        "operationId" : "get-/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships_getLists",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "ID de tipo de objeto del registro",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "ID del registro",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Recuperar múltiples listas",
        "description" : "Recupera múltiples listas en una sola solicitud por **ID de lista ILS**. La respuesta incluirá las definiciones de todas las listas que existen para los \"listIds\" proporcionados.",
        "operationId" : "get-/crm/v3/lists/_getAll",
        "parameters" : [ {
          "name" : "listIds",
          "in" : "query",
          "description" : "El **ID de ILS** de las listas que se recuperarán.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "Un marcador que indica si las definiciones de la lista de objetos de la respuesta deben incluir o no una definición de ramificación de filtro. Por opción predeterminada, las definiciones de ramificaciones de filtro de las definiciones de la lista de objetos no se incluirán en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Crear lista",
        "description" : "Crea una nueva lista con la definición de lista de objetos proporcionada.",
        "operationId" : "post-/crm/v3/lists/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.write" ]
        }, {
          "private_apps" : [ "crm.lists.write" ]
        } ]
      }
    },
    "/crm/v3/lists/folders" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Recupera una carpeta.",
        "description" : "Recupera una carpeta e incluye recursivamente todas las carpetas a través del atributo childNodes. El campo de listas secundarias estará vacío en todos los nodos secundarios. Solo la carpeta recuperada incluirá las listas secundarias en esa carpeta.",
        "operationId" : "get-/crm/v3/lists/folders",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "El ID de la carpeta que se recuperará.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "Crea una carpeta",
        "description" : "Crea una carpeta con la información proporcionada.",
        "operationId" : "post-/crm/v3/lists/folders",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "Elimina una carpeta",
        "description" : "Elimina la carpeta con el ID especificado.",
        "operationId" : "delete-/crm/v3/lists/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Memberships" ],
        "summary" : "Obtener membresías de lista ordenadas por ID",
        "description" : "Recupera las membresías de una lista ordenadas según el \"recordId\" de los registros de la lista.\n\nLos \"recordId\" se ordenan en orden *ascendente* si se especifica un desplazamiento \"después\" o si no se especifica ningún desplazamiento. Si solo se especifica un desplazamiento \"antes\", los registros se ordenan en orden *descendente*.\n\nEl parámetro de desplazamiento \"después\" tendrá prioridad sobre el desplazamiento \"antes\" en caso de que se especifiquen ambos.",
        "operationId" : "get-/crm/v3/lists/{listId}/memberships_getPage",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El token de desplazamiento de paginación para la página que viene \"después\" de los registros solicitados previamente.\n\nSi se especifica, entonces los registros incluidos en la respuesta serán los registros que siguen al desplazamiento, ordenados en *orden ascendente*. Tiene prioridad sobre el desplazamiento \"antes\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "El token de desplazamiento de paginación para la página que viene \"antes\" de los registros solicitados previamente.\n\nSi se especifica, entonces los registros incluidos en la respuesta serán los registros que preceden al desplazamiento, ordenados en *orden descendente*.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número de registros que se devolverá en la respuesta. El \"límite\" máximo es 250.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Memberships" ],
        "summary" : "Eliminar todos los registros de una lista",
        "description" : "Eliminar **todos** los registros de una lista. ***Nota:*** *La lista no se elimina.*\n\nEste punto de terminación solo funciona para listas que tienen un \"processingType\" de \"MANUAL\" o \"INSTANTÁNEA\".",
        "operationId" : "delete-/crm/v3/lists/{listId}/memberships_removeAll",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista \"MANUAL\" o \"INSTANTÁNEA\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    },
    "/crm/v3/lists/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Memberships" ],
        "summary" : "Eliminar registros de una lista",
        "description" : "Elimina los registros proporcionados de la lista. Se ignoran los registros que no existen o que no son miembros de la lista.\n\nEste punto de terminación solo funciona para listas que tienen un \"processingType\" de \"MANUAL\" o \"INSTANTÁNEA\".",
        "operationId" : "put-/crm/v3/lists/{listId}/memberships/remove_remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "El **ID de ILS** de la lista \"MANUAL\" o \"INSTANTÁNEA\".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.lists.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.write", "crm.lists.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicPropertyAssociationFilterBranch" : {
        "title" : "PROPERTY_ASSOCIATION",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator", "propertyWithObjectId" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "PROPERTY_ASSOCIATION",
            "enum" : [ "PROPERTY_ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "propertyWithObjectId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicNumberPropertyOperation" : {
        "title" : "NUMBER",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER",
            "enum" : [ "NUMBER" ]
          },
          "value" : {
            "type" : "number"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicYearReference" : {
        "title" : "YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "YEAR",
            "enum" : [ "YEAR" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "inListType" : {
            "type" : "string"
          }
        }
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicRangedDatePropertyOperation" : {
        "title" : "RANGED_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "requiresTimeZoneConversion", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "RANGED_DATE",
            "enum" : [ "RANGED_DATE" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "listIds", "offset", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "listIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "Valor utilizado para paginar las listas. El valor de \"desplazamiento\" proporcionado en la respuesta se puede usar en la siguiente solicitud para recuperar la siguiente página de resultados. Por opción predeterminada, se establece en \"0\" si no se proporciona ningún desplazamiento.",
            "format" : "int32"
          },
          "query" : {
            "type" : "string",
            "description" : "La \"consulta\" que se utilizará para buscar listas por nombre de lista. Si no se proporciona ninguna \"consulta\", los resultados incluirán todas las listas."
          },
          "count" : {
            "type" : "integer",
            "description" : "El número de listas que se incluirán en la respuesta. Por opción predeterminada, se establece en \"20\" si no se proporciona ningún valor. El \"conteo\" máximo es \"500\".",
            "format" : "int32"
          },
          "processingTypes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "additionalProperties" : {
            "type" : "array",
            "description" : "Los nombres de las propiedades de lista adicionales que se incluirán en la respuesta. Las propiedades que no existen o que están vacías para una lista en particular no se incluyen en la respuesta.\n\nPor opción predeterminada, todas las solicitudes recuperarán las siguientes propiedades para cada lista: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name` y `hs_list_reference_count`.",
            "items" : {
              "type" : "string"
            }
          },
          "sort" : {
            "type" : "string"
          }
        }
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "El número total de listas que coinciden con los criterios de búsqueda.",
            "format" : "int32"
          },
          "offset" : {
            "type" : "integer",
            "description" : "Valor que se pasará en una futura solicitud para paginar los resultados de la búsqueda de listas.",
            "format" : "int32"
          },
          "lists" : {
            "type" : "array",
            "description" : "Las lista que coincidieron con los criterios de búsqueda.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "hasMore" : {
            "type" : "boolean",
            "description" : "Si hay o no hay más resultados para paginar."
          }
        }
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "filterType" : {
            "type" : "string",
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicSurveyMonkeyValueFilter" : {
        "title" : "SURVEY_MONKEY_VALUE",
        "required" : [ "filterType", "operator", "surveyId", "surveyQuestion", "valueComparison" ],
        "type" : "object",
        "properties" : {
          "valueComparison" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "surveyId" : {
            "type" : "string"
          },
          "surveyQuestion" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "SURVEY_MONKEY_VALUE",
            "enum" : [ "SURVEY_MONKEY_VALUE" ]
          },
          "surveyAnswerRowId" : {
            "type" : "string"
          },
          "surveyAnswerColId" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRelativeComparativeTimestampRefineBy" : {
        "title" : "RELATIVE_COMPARATIVE",
        "required" : [ "comparison", "timeOffset", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string"
          },
          "timeOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_COMPARATIVE",
            "enum" : [ "RELATIVE_COMPARATIVE" ]
          }
        }
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "Las definiciones de las listas de objetos.",
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        }
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "channel" : {
            "type" : "string"
          },
          "acceptedOptStates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "businessUnitId" : {
            "type" : "string"
          }
        }
      },
      "PublicObjectListSearchResult" : {
        "required" : [ "additionalProperties", "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "El tipo de procesamiento de la lista."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "El tipo de objeto de la lista."
          },
          "updatedById" : {
            "type" : "string",
            "description" : "El ID del usuario que actualizó por última vez la lista."
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "La hora cuando se actualizaron por última vez los filtros de esta lista.",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "El **ID de ILS** de la lista."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "La hora cuando se creó la lista.",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "El estado de procesamiento de la lista."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "La hora cuando se eliminó la lista.",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "La versión de la lista.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la lista."
          },
          "additionalProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "El nombre y el valor de las propiedades adicionales que existen para esta lista y que se incluyeron en la solicitud de búsqueda."
          },
          "createdById" : {
            "type" : "string",
            "description" : "El ID del usuario que creó la lista."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La hora a la que se actualizó por última vez la lista.",
            "format" : "date-time"
          }
        }
      },
      "PublicRelativeRangedTimestampRefineBy" : {
        "title" : "RELATIVE_RANGED",
        "required" : [ "lowerBoundOffset", "rangeType", "type", "upperBoundOffset" ],
        "type" : "object",
        "properties" : {
          "upperBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "rangeType" : {
            "type" : "string"
          },
          "lowerBoundOffset" : {
            "$ref" : "#/components/schemas/PublicTimeOffset"
          },
          "type" : {
            "type" : "string",
            "default" : "RELATIVE_RANGED",
            "enum" : [ "RELATIVE_RANGED" ]
          }
        }
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "milliseconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "hours" : {
            "type" : "integer",
            "format" : "int32"
          },
          "seconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "months" : {
            "type" : "integer",
            "format" : "int32"
          },
          "weeks" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minutes" : {
            "type" : "integer",
            "format" : "int32"
          },
          "quarters" : {
            "type" : "integer",
            "format" : "int32"
          },
          "days" : {
            "type" : "integer",
            "format" : "int32"
          },
          "years" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "formId" : {
            "type" : "string"
          },
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          }
        }
      },
      "PublicRollingDateRangePropertyOperation" : {
        "title" : "ROLLING_DATE_RANGE",
        "required" : [ "includeObjectsWithNoValueSet", "numberOfDays", "operationType", "operator", "requiresTimeZoneConversion" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean"
          },
          "operationType" : {
            "type" : "string",
            "default" : "ROLLING_DATE_RANGE",
            "enum" : [ "ROLLING_DATE_RANGE" ]
          },
          "numberOfDays" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ApiCollectionResponseJoinTimeAndRecordId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JoinTimeAndRecordId"
            }
          }
        }
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "associationTypeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "associationCategory" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicQuarterReference" : {
        "title" : "QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "hour" : {
            "type" : "integer",
            "format" : "int32"
          },
          "month" : {
            "type" : "integer",
            "format" : "int32"
          },
          "millisecond" : {
            "type" : "integer",
            "format" : "int32"
          },
          "referenceType" : {
            "type" : "string",
            "default" : "QUARTER",
            "enum" : [ "QUARTER" ]
          },
          "day" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "second" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "subscriptionType" : {
            "type" : "string"
          },
          "subscriptionIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "filterType" : {
            "type" : "string",
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "acceptedStatuses" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "operationType" : {
            "type" : "string",
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFolderCreateResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        }
      },
      "PublicTimePointOperation" : {
        "title" : "TIME_POINT",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timePoint", "type" ],
        "type" : "object",
        "properties" : {
          "endpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "TIME_POINT",
            "enum" : [ "TIME_POINT" ]
          },
          "timePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "type" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListUpdateResponse" : {
        "type" : "object",
        "properties" : {
          "updatedList" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        }
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          }
        }
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timezoneSource" : {
            "type" : "string"
          },
          "indexReference" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "timeType" : {
            "type" : "string",
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "zoneId" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedTimeOperation" : {
        "title" : "TIME_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBoundTimePoint", "operationType", "operator", "type", "upperBoundTimePoint" ],
        "type" : "object",
        "properties" : {
          "upperBoundEndpointBehavior" : {
            "type" : "string"
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          },
          "propertyParser" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "TIME_RANGED",
            "enum" : [ "TIME_RANGED" ]
          },
          "lowerBoundEndpointBehavior" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          },
          "lowerBoundTimePoint" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicDatePoint"
            }, {
              "$ref" : "#/components/schemas/PublicIndexedTimePoint"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyReferencedTime"
            } ]
          }
        }
      },
      "PublicWebinarFilter" : {
        "title" : "WEBINAR",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "webinarId" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "WEBINAR",
            "enum" : [ "WEBINAR" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListCreateResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "MembershipsUpdateResponse" : {
        "required" : [ "recordIdsMissing", "recordIdsRemoved", "recordsIdsAdded" ],
        "type" : "object",
        "properties" : {
          "recordIdsRemoved" : {
            "type" : "array",
            "description" : "Los ID de los registros que fueron \"eliminados\" de la lista.",
            "items" : {
              "type" : "string"
            }
          },
          "recordsIdsAdded" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsMissing" : {
            "type" : "array",
            "description" : "Los ID de los registros identificados como \"faltante\" (por ejemplo, no existían en el portal) y, por lo tanto, no fueron \"agregados\" o \"eliminados\".",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicUnifiedEventsFilterBranch" : {
        "title" : "UNIFIED_EVENTS",
        "required" : [ "eventTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "operator" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "UNIFIED_EVENTS",
            "enum" : [ "UNIFIED_EVENTS" ]
          },
          "filterBranches" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "eventTypeId" : {
            "type" : "string"
          },
          "filterBranchOperator" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCampaignInfluencedFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicNumAssociationsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPropertyAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsInListFilter"
              } ]
            }
          },
          "operator" : {
            "type" : "string",
            "enum" : [ "HAS_COMPLETED", "HAS_NOT_COMPLETED" ]
          }
        }
      },
      "PublicNumOccurrencesRefineBy" : {
        "title" : "NUM_OCCURRENCES",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maxOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "default" : "NUM_OCCURRENCES",
            "enum" : [ "NUM_OCCURRENCES" ]
          },
          "minOccurrences" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicObjectList" : {
        "required" : [ "listId", "listVersion", "name", "objectTypeId", "processingStatus", "processingType" ],
        "type" : "object",
        "properties" : {
          "processingType" : {
            "type" : "string",
            "description" : "El tipo de procesamiento de la lista."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "El tipo de objeto de la lista."
          },
          "updatedById" : {
            "type" : "string",
            "description" : "El ID del usuario que actualizó por última vez la lista."
          },
          "filtersUpdatedAt" : {
            "type" : "string",
            "description" : "La hora cuando se actualizaron por última vez los filtros de esta lista.",
            "format" : "date-time"
          },
          "listId" : {
            "type" : "string",
            "description" : "El **ID de ILS** de la lista."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "La hora cuando se creó la lista.",
            "format" : "date-time"
          },
          "processingStatus" : {
            "type" : "string",
            "description" : "El estado de procesamiento de la lista."
          },
          "deletedAt" : {
            "type" : "string",
            "description" : "La hora cuando se eliminó la lista.",
            "format" : "date-time"
          },
          "listVersion" : {
            "type" : "integer",
            "description" : "La versión de la lista.",
            "format" : "int32"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la lista."
          },
          "createdById" : {
            "type" : "string",
            "description" : "El ID del usuario que creó la lista."
          },
          "filterBranch" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicPropertyAssociationFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La hora a la que se actualizó por última vez la lista.",
            "format" : "date-time"
          }
        }
      },
      "RecordListMembership" : {
        "required" : [ "firstAddedTimestamp", "lastAddedTimestamp", "listId", "listVersion" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string"
          },
          "listVersion" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lastAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "firstAddedTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "ctaName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "ListFetchResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        }
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "shouldAccept" : {
            "type" : "boolean"
          },
          "source" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          }
        }
      },
      "PublicSetOccurrencesRefineBy" : {
        "title" : "SET_OCCURRENCES",
        "required" : [ "setType", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "SET_OCCURRENCES",
            "enum" : [ "SET_OCCURRENCES" ]
          },
          "setType" : {
            "type" : "string"
          }
        }
      },
      "PublicListFolder" : {
        "required" : [ "childLists", "childNodes", "id", "parentFolderId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "La hora a la que se creó la carpeta.",
            "format" : "date-time"
          },
          "parentFolderId" : {
            "type" : "integer",
            "description" : "El ID de la carpeta en la que se encuentra esta carpeta; la carpeta raíz se representa como 0.",
            "format" : "int32"
          },
          "childNodes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicListFolder"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre de la carpeta."
          },
          "id" : {
            "type" : "integer",
            "description" : "El iD de la carpeta.",
            "format" : "int32"
          },
          "childLists" : {
            "type" : "array",
            "description" : "Una secuencia de los ID de lista que contiene esta carpeta.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "updatedContentsAt" : {
            "type" : "string",
            "description" : "La hora a la que se actualizó por última vez el contenido de la carpeta.",
            "format" : "date-time"
          },
          "userId" : {
            "type" : "integer",
            "description" : "El ID de usuario del propietario de la carpeta.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "La hora a la que se actualizó la carpeta.",
            "format" : "date-time"
          }
        }
      },
      "ApiCollectionResponseRecordListMembershipNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int64"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RecordListMembership"
            }
          }
        }
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicRangedNumberPropertyOperation" : {
        "title" : "NUMBER_RANGED",
        "required" : [ "includeObjectsWithNoValueSet", "lowerBound", "operationType", "operator", "upperBound" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "upperBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operationType" : {
            "type" : "string",
            "default" : "NUMBER_RANGED",
            "enum" : [ "NUMBER_RANGED" ]
          },
          "lowerBound" : {
            "type" : "integer",
            "format" : "int32"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PublicPageViewAnalyticsFilter" : {
        "title" : "PAGE_VIEW",
        "required" : [ "filterType", "operator", "pageUrl" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "enableTracking" : {
            "type" : "boolean"
          },
          "pruningRefineBy" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "pageUrl" : {
            "type" : "string"
          },
          "filterType" : {
            "type" : "string",
            "default" : "PAGE_VIEW",
            "enum" : [ "PAGE_VIEW" ]
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "MembershipChangeRequest" : {
        "required" : [ "recordIdsToAdd", "recordIdsToRemove" ],
        "type" : "object",
        "properties" : {
          "recordIdsToRemove" : {
            "type" : "array",
            "description" : "",
            "example" : [ 654 ],
            "items" : {
              "type" : "string"
            }
          },
          "recordIdsToAdd" : {
            "type" : "array",
            "description" : "",
            "example" : [ 123, 456, 789 ],
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean"
          },
          "defaultComparisonValue" : {
            "type" : "string"
          },
          "operationType" : {
            "type" : "string",
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "comparisonPropertyName" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "El desplazamiento de la página anterior de registros."
          },
          "link" : {
            "type" : "string",
            "description" : "Un enlace directo a la solicitud de la página anterior de registros."
          }
        }
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchType" : {
            "type" : "string",
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
[...]
