{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Domains",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Retrieve all currently connected domains to see which sites are live in a given account.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Domains Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/cms/domains"
    } ],
    "x-hubspot-introduction" : "Use the domain management API to return information about the domains connected to a HubSpot account. You can return data for all currently connected domains, or for a single domain by ID."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Domains"
  } ],
  "paths" : {
    "/cms/v3/domains/" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get current domains",
        "description" : "Returns all existing domains that have been created. Results can be limited and filtered by creation or updated date.",
        "operationId" : "get-/cms/v3/domains/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return domains created after this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return domains created at this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return domains created before this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return domains updated after this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return domains updated at this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return domains updated before this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalDomainForwardPaging"
                },
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "1234",
                    "createdAt" : "2017-07-24T17:24:09.141Z",
                    "updatedAt" : "2017-07-25T18:20:00.000Z",
                    "domain" : "234.hs-sites.com",
                    "isPrimaryLandingPage" : false,
                    "isPrimaryEmail" : false,
                    "isPrimaryBlogPost" : true,
                    "isPrimarySitePage" : false,
                    "isPrimaryKnowledge" : false,
                    "isResolving" : true,
                    "isManuallyMarkedAsResolving" : false,
                    "isHttpsEnabled" : true,
                    "isHttpsOnly" : false,
                    "isUsedForBlogPost" : true,
                    "isUsedForSitePage" : false,
                    "isUsedForLandingPage" : false,
                    "isUsedForEmail" : false,
                    "isUsedForKnowledge" : false,
                    "expectedCname" : "234.group34.sites.hubspot.net",
                    "redirectTo" : ""
                  }, {
                    "id" : "4321",
                    "createdAt" : "2017-07-11T13:00:52.928Z",
                    "updatedAt" : "2019-10-08T16:54:57.165Z",
                    "domain" : "test.demo.com",
                    "isPrimaryLandingPage" : false,
                    "isPrimaryEmail" : false,
                    "isPrimaryBlogPost" : true,
                    "isPrimarySitePage" : false,
                    "isPrimaryKnowledge" : false,
                    "isResolving" : true,
                    "isManuallyMarkedAsResolving" : false,
                    "isHttpsEnabled" : true,
                    "isHttpsOnly" : false,
                    "isUsedForBlogPost" : true,
                    "isUsedForSitePage" : false,
                    "isUsedForLandingPage" : false,
                    "isUsedForEmail" : false,
                    "isUsedForKnowledge" : false,
                    "expectedCname" : "234.group34.sites.hubspot.net",
                    "redirectTo" : ""
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.domains.read" ]
        }, {
          "oauth2" : [ "content" ]
        }, {
          "oauth2" : [ "cms.domains.write" ]
        }, {
          "oauth2" : [ "cms.knowledge_base.settings.write" ]
        }, {
          "oauth2" : [ "cms.knowledge_base.settings.read" ]
        }, {
          "private_apps" : [ "cms.domains.read" ]
        }, {
          "private_apps" : [ "cms.knowledge_base.settings.write" ]
        }, {
          "private_apps" : [ "cms.domains.write" ]
        }, {
          "private_apps" : [ "content" ]
        }, {
          "private_apps" : [ "cms.knowledge_base.settings.read" ]
        } ]
      }
    },
    "/cms/v3/domains/{domainId}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get a single domain",
        "description" : "Returns a single domains with the id specified.",
        "operationId" : "get-/cms/v3/domains/{domainId}_getById",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "The unique ID of the domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                },
                "example" : {
                  "id" : "3210329704",
                  "createdAt" : "2017-07-11T13:00:52.928Z",
                  "updatedAt" : "2019-10-08T16:54:57.165Z",
                  "domain" : "99558489.hubspot.com",
                  "isPrimaryLandingPage" : false,
                  "isPrimaryEmail" : false,
                  "isPrimaryBlogPost" : true,
                  "isPrimarySitePage" : false,
                  "isPrimaryKnowledge" : false,
                  "isResolving" : true,
                  "isManuallyMarkedAsResolving" : false,
                  "isHttpsEnabled" : true,
                  "isHttpsOnly" : false,
                  "isUsedForBlogPost" : true,
                  "isUsedForSitePage" : false,
                  "isUsedForLandingPage" : false,
                  "isUsedForEmail" : false,
                  "isUsedForKnowledge" : false,
                  "expectedCname" : "99558489.group39.sites.hubspotqa.net",
                  "redirectTo" : ""
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.domains.read" ]
        }, {
          "oauth2" : [ "content" ]
        }, {
          "oauth2" : [ "cms.domains.write" ]
        }, {
          "oauth2" : [ "cms.knowledge_base.settings.write" ]
        }, {
          "oauth2" : [ "cms.knowledge_base.settings.read" ]
        }, {
          "private_apps" : [ "cms.domains.read" ]
        }, {
          "private_apps" : [ "cms.knowledge_base.settings.write" ]
        }, {
          "private_apps" : [ "cms.domains.write" ]
        }, {
          "private_apps" : [ "content" ]
        }, {
          "private_apps" : [ "cms.knowledge_base.settings.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponseWithTotalDomainForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Domain"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Domain" : {
        "required" : [ "domain", "id", "isResolving", "isUsedForBlogPost", "isUsedForEmail", "isUsedForKnowledge", "isUsedForLandingPage", "isUsedForSitePage" ],
        "type" : "object",
        "properties" : {
          "correctCname" : {
            "type" : "string"
          },
          "created" : {
            "type" : "string",
            "format" : "date-time"
          },
          "domain" : {
            "type" : "string",
            "description" : "The actual domain or sub-domain. e.g. www.hubspot.com"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of this domain."
          },
          "isResolving" : {
            "type" : "boolean",
            "description" : "Whether the DNS for this domain is optimally configured for use with HubSpot."
          },
          "isSslEnabled" : {
            "type" : "boolean"
          },
          "isSslOnly" : {
            "type" : "boolean"
          },
          "isUsedForBlogPost" : {
            "type" : "boolean",
            "description" : "Whether the domain is used for CMS blog posts."
          },
          "isUsedForEmail" : {
            "type" : "boolean",
            "description" : "Whether the domain is used for CMS email web pages."
          },
          "isUsedForKnowledge" : {
            "type" : "boolean",
            "description" : "Whether the domain is used for CMS knowledge pages."
          },
          "isUsedForLandingPage" : {
            "type" : "boolean",
            "description" : "Whether the domain is used for CMS landing pages."
          },
          "isUsedForSitePage" : {
            "type" : "boolean",
            "description" : "Whether the domain is used for CMS site pages."
          },
          "manuallyMarkedAsResolving" : {
            "type" : "boolean"
          },
          "primaryBlogPost" : {
            "type" : "boolean"
          },
          "primaryEmail" : {
            "type" : "boolean"
          },
          "primaryKnowledge" : {
            "type" : "boolean"
          },
          "primaryLandingPage" : {
            "type" : "boolean"
          },
          "primarySitePage" : {
            "type" : "boolean"
          },
          "secondaryToDomain" : {
            "type" : "string"
          },
          "updated" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "cms.domains.read" : "Read domains.",
              "cms.domains.write" : "Create or update domains.",
              "cms.knowledge_base.settings.read" : "View knowledge base settings",
              "cms.knowledge_base.settings.write" : "Update knowledge base settings",
              "content" : "Read from and write to my Content"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}