{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations Inbox & Messages",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/conversations/conversations/2026-09-beta/actors/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read actors",
        "description" : "Retrieve information about multiple actors in a batch operation. This endpoint is useful for obtaining details on various actors in a single request, streamlining data retrieval processes.",
        "operationId" : "post-/conversations/conversations/2026-09-beta/actors/batch/read_/conversations/conversations/2026-09-beta/actors/batch/read",
        "parameters" : [ {
          "name" : "property",
          "in" : "query",
          "description" : "A string representing the specific property to be included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActor"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActorWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/conversations/2026-09-beta/actors/{actorId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve actor",
        "description" : "Retrieve information about a specific actor in the conversations system using their unique actor ID. This endpoint is useful for obtaining details about a particular actor, which could be an agent, bot, or other entity involved in conversations.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/actors/{actorId}_/conversations/conversations/2026-09-beta/actors/{actorId}",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "description" : "The unique identifier of the actor to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A string representing a specific property of the actor to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActor"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/conversations/2026-09-beta/channel-accounts" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List channel accounts",
        "description" : "Retrieve a list of channel accounts associated with your HubSpot account. This endpoint allows you to filter results by channel ID, inbox ID, and other criteria. It's useful for managing and reviewing the channel accounts linked to your conversations.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channel-accounts_/conversations/conversations/2026-09-beta/channel-accounts",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A cursor token for pagination. Use the value from the previous response's paging.next.after field.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "A list of channel IDs to filter the results. Each ID should be an integer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "The default number of results to display per page if not specified.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "A list of inbox IDs to filter the results. Each ID should be an integer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "A list of fields to sort the results by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccount"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/channel-accounts/{channelAccountId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve Channel Account",
        "description" : "Retrieve details of a specific channel account in your HubSpot account using the unique channelAccountId. This endpoint is useful for accessing information about a particular channel account, including its archived status.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channel-accounts/{channelAccountId}_/conversations/conversations/2026-09-beta/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "The unique identifier of the channel account to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/channels" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List channels",
        "description" : "Retrieve a list of channels in your HubSpot account. This endpoint supports pagination and sorting, allowing you to manage large sets of data effectively. Use this endpoint to get an overview of all available channels.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channels_/conversations/conversations/2026-09-beta/channels",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "An integer specifying the default number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "An array of strings specifying the sort order of the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/conversations/2026-09-beta/channels/{channelId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve channel",
        "description" : "Retrieve details of a specific channel in your HubSpot account using the channel's unique identifier. This endpoint is useful for accessing channel-specific information, which can be used for managing or analyzing communication channels.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channels/{channelId}_/conversations/conversations/2026-09-beta/channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The unique identifier of the channel to retrieve. It is an integer value.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/conversations/2026-09-beta/inboxes" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List Inboxes",
        "description" : "Retrieve a list of inboxes in your HubSpot account. This endpoint allows you to paginate through results and sort them as needed. It can also filter to include only archived inboxes.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/inboxes_/conversations/conversations/2026-09-beta/inboxes",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "The default number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "A list of fields to sort the results by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicInbox"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ]
      }
    },
    "/conversations/conversations/2026-09-beta/inboxes/{inboxId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve inbox",
        "description" : "Retrieve details of a specific inbox within your HubSpot account using its unique identifier. This endpoint allows you to access information about the inbox, including whether it is archived. It is useful for managing and organizing conversations within different inboxes.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/inboxes/{inboxId}_/conversations/conversations/2026-09-beta/inboxes/{inboxId}",
        "parameters" : [ {
          "name" : "inboxId",
          "in" : "path",
          "description" : "The unique identifier of the inbox to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicInbox"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List threads",
        "description" : "Retrieve a list of conversation threads from the specified inboxes. This endpoint allows filtering by associated contact or ticket, thread status, and other parameters. It supports pagination and sorting to help manage large sets of data effectively.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads_/conversations/conversations/2026-09-beta/threads",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "associatedContactId",
          "in" : "query",
          "description" : "The unique identifier of the associated contact to filter threads.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "associatedTicketId",
          "in" : "query",
          "description" : "The unique identifier of the associated ticket to filter threads.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "A list of associations to filter the threads by. Valid values include 'TICKET'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "A list of inbox IDs to filter the threads by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "latestMessageTimestampAfter",
          "in" : "query",
          "description" : "Filter threads to only include those with a latest message timestamp after this date-time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A specific property to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "A list of fields to sort the results by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "threadStatus",
          "in" : "query",
          "description" : "The status of the thread to filter by. Valid values are 'OPEN' and 'CLOSED'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicThreadForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve thread",
        "description" : "Retrieve details of a specific conversation thread using its unique identifier. This endpoint allows you to access information about the thread, including its properties and associations. It is useful for fetching thread details for further processing or display.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}_/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "A list of associations to include in the response. Valid values include 'TICKET'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A specific property to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete thread",
        "description" : "Delete a specific conversation thread in your HubSpot account. This operation removes the thread identified by the threadId from the system. Use this endpoint to manage and clean up conversation threads that are no longer needed.",
        "operationId" : "delete-/conversations/conversations/2026-09-beta/threads/{threadId}_/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update thread",
        "description" : "Update the details of a specific conversation thread in your HubSpot account. This endpoint allows you to modify the status or other attributes of the thread identified by the threadId. It is useful for managing the state of conversation threads, such as marking them as open or closed.",
        "operationId" : "patch-/conversations/conversations/2026-09-beta/threads/{threadId}_/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the conversation thread to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. This is a boolean value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/assignee" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update assignee",
        "description" : "Assign a specific actor to a conversation thread in your HubSpot account. This endpoint allows you to update the assignee for a given thread, which can be useful for managing workload distribution among team members.",
        "operationId" : "put-/conversations/conversations/2026-09-beta/threads/{threadId}/assignee_/conversations/conversations/2026-09-beta/threads/{threadId}/assignee",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread for which the assignee is being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadAssignRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete assignee",
        "description" : "Remove the assignee from a specific conversation thread in your HubSpot account. This operation is useful when you want to unassign a thread from a user, making it available for reassignment or indicating that it no longer requires a specific assignee.",
        "operationId" : "delete-/conversations/conversations/2026-09-beta/threads/{threadId}/assignee_/conversations/conversations/2026-09-beta/threads/{threadId}/assignee",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread from which the assignee will be removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve messages",
        "description" : "Retrieve messages from a specific conversation thread in your HubSpot account. This endpoint allows you to access all messages associated with a given thread, which can be useful for reviewing conversation history or analyzing communication patterns.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages_/conversations/conversations/2026-09-beta/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the conversation thread to retrieve messages from.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A specific property to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "An array of strings to specify the sorting order of the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicMessageForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create message",
        "description" : "Create a new message within a specific thread in your HubSpot account. This endpoint allows you to add messages to existing conversation threads, which can be useful for continuing discussions or providing additional information. Ensure that the threadId is correctly specified to target the appropriate thread.",
        "operationId" : "post-/conversations/conversations/2026-09-beta/threads/{threadId}/messages_/conversations/conversations/2026-09-beta/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread to which the message will be added.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicMessageEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve message",
        "description" : "Retrieve a specific message from a conversation thread in your HubSpot account. This endpoint allows you to access the details of a message identified by its messageId within a thread identified by threadId. You can specify certain properties to include in the response.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}_/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique identifier of the message to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the conversation thread containing the message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A string specifying which properties of the message to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}/original-content" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve original content",
        "description" : "Retrieve the original content of a specific message within a thread. This endpoint is useful for accessing the unaltered text or rich text content of a message, which can be important for auditing or reviewing the initial communication in a conversation.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}/original-content_/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}/original-content",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique identifier of the message whose original content is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique identifier of the thread containing the message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "A string that specifies additional properties to include in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessageContent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AgentActor" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string representing the URL to the avatar image of the agent.",
            "example" : null
          },
          "email" : {
            "type" : "string",
            "description" : "A string containing the email address of the agent.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the agent actor.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the agent.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of actor, which is always 'AGENT' for this component.",
            "example" : null,
            "default" : "AGENT",
            "enum" : [ "AGENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of strings that are required for the batch operation. Each item in the array is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "BatchResponsePublicActor" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to their corresponding URIs, which may provide additional information or resources related to the batch operation.",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicActor objects representing the results of the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponsePublicActorWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of StandardError objects detailing any errors encountered during the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing key-value pairs of link names to their associated URIs.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicActor objects representing the results of the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BotActor" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string representing the URL of the avatar image for the bot actor.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the bot actor.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the bot actor.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of actor, which is always 'BOT' for this component.",
            "example" : null,
            "default" : "BOT",
            "enum" : [ "BOT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CollectionResponsePublicMessageForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public messages, which can include various types such as conversations messages, comments, welcome messages, assignment messages, thread status changes, and thread inbox changes.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConversationsMessage"
              }, {
                "$ref" : "#/components/schemas/PublicComment"
              }, {
                "$ref" : "#/components/schemas/PublicWelcomeMessage"
              }, {
                "$ref" : "#/components/schemas/PublicAssignmentMessage"
              }, {
                "$ref" : "#/components/schemas/PublicThreadStatusChange"
              }, {
                "$ref" : "#/components/schemas/PublicThreadInboxChange"
              } ]
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicThreadForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicThread objects, representing the individual threads in the collection.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicThread"
            }
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicChannel" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the public channel objects. Each item in the array is a reference to a PublicChannel schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicChannel"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of public channels available. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicChannelAccount" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public channel account objects, each containing details about a specific channel account.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicChannelAccount"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of public channel accounts available. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicInbox" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public inbox objects, each representing a single inbox with its details.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInbox"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of public inboxes available. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactAddress" : {
        "type" : "object",
        "properties" : {
          "city" : {
            "type" : "string",
            "description" : "The city where the contact is located. It is a string representing the city name.",
            "example" : null
          },
          "country" : {
            "type" : "string",
            "description" : "The country where the contact is located. It is a string representing the country name.",
            "example" : null
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The code representing the country of the contact. It is a string, typically an ISO 3166-1 alpha-2 country code.",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "description" : "The state or region where the contact is located. It is a string representing the state or region name.",
            "example" : null
          },
          "street" : {
            "type" : "string",
            "description" : "The street address of the contact. It is a string representing the street name and number.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of address, indicating whether it is a 'HOME' or 'WORK' address.",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          },
          "zip" : {
            "type" : "string",
            "description" : "The postal code for the contact's address. It is a string representing the ZIP or postal code.",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactEmail" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the contact. This is a required field.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of email address, which can be either 'HOME' or 'WORK'.",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          }
        },
        "example" : null
      },
      "ContactName" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : "A string representing the first name of the contact.",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "description" : "A string representing the last name of the contact.",
            "example" : null
          },
          "middleName" : {
            "type" : "string",
            "description" : "An optional string representing the middle name of the contact.",
            "example" : null
          },
          "prefix" : {
            "type" : "string",
            "description" : "An optional string representing the prefix of the contact's name, such as 'Mr.', 'Ms.', or 'Dr.'.",
            "example" : null
          },
          "suffix" : {
            "type" : "string",
            "description" : "An optional string representing the suffix of the contact's name, such as 'Jr.', 'Sr.', or 'III'.",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactOrg" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "description" : "The name of the company the contact is associated with.",
            "example" : null
          },
          "department" : {
            "type" : "string",
            "description" : "The department within the company where the contact works.",
            "example" : null
          },
          "title" : {
            "type" : "string",
            "description" : "The professional title or position held by the contact within the company.",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactPhone" : {
        "required" : [ "phone" ],
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string",
            "description" : "The phone number associated with the contact. This is a required field.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of phone, which can be 'CELL', 'MAIN', 'HOME', or 'WORK'.",
            "example" : null,
            "enum" : [ "CELL", "HOME", "MAIN", "WORK" ]
          }
        },
        "example" : null
      },
      "ContactProfile" : {
        "required" : [ "addresses", "emails", "phones", "urls" ],
        "type" : "object",
        "properties" : {
          "addresses" : {
            "type" : "array",
            "description" : "An array of addresses associated with the contact, where each address includes type (e.g., HOME, WORK), street, city, state, zip, country, and country code.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactAddress"
            }
          },
          "emails" : {
            "type" : "array",
            "description" : "An array of email addresses associated with the contact, where each email includes type (e.g., HOME, WORK) and the email address itself.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactEmail"
            }
          },
          "name" : {
            "$ref" : "#/components/schemas/ContactName"
          },
          "org" : {
            "$ref" : "#/components/schemas/ContactOrg"
          },
          "phones" : {
            "type" : "array",
            "description" : "An array of phone numbers associated with the contact, where each phone number includes type (e.g., CELL, MAIN, HOME, WORK) and the phone number itself.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactPhone"
            }
          },
          "urls" : {
            "type" : "array",
            "description" : "An array of URLs associated with the contact, where each URL includes type (e.g., HOME, WORK) and the URL itself.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactUrl"
            }
          }
        },
        "example" : null
      },
      "ContactUrl" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of URL, which can be either 'HOME' or 'WORK'.",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          },
          "url" : {
            "type" : "string",
            "description" : "The actual URL string associated with the contact.",
            "example" : null
          }
        },
        "example" : null
      },
      "EmailActor" : {
        "required" : [ "email", "id", "type" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "A string containing the email address associated with the actor.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the email actor.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of actor, which defaults to 'EMAIL'.",
            "example" : null,
            "default" : "EMAIL",
            "enum" : [ "EMAIL" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category, represented as a string.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties that are arrays of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets. It is a string in UUID format.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps. It is an object with string properties.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a string.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. It is a string.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties. Each property is an array of strings providing further context.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error along with remediation steps where appropriate. This is a required field.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "IntegratorActor" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string containing the URL or identifier for the avatar image of the integrator actor.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the integrator actor.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the integrator actor.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of actor, with the default value 'INTEGRATOR'.",
            "example" : null,
            "default" : "INTEGRATOR",
            "enum" : [ "INTEGRATOR" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "LlmActor" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string representing the URL of the avatar image for the LLM actor.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A unique identifier for the LLM actor, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the LLM actor, represented as a string.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of actor, which is always 'LLM' for this component.",
            "example" : null,
            "default" : "LLM",
            "enum" : [ "LLM" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used to fetch the next set of results in a paginated response.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string containing the URL link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token used to identify the position before the current page in the pagination sequence.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that links to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "PublicActor" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/AgentActor"
        }, {
          "$ref" : "#/components/schemas/BotActor"
        }, {
          "$ref" : "#/components/schemas/IntegratorActor"
        }, {
          "$ref" : "#/components/schemas/SystemActor"
        }, {
          "$ref" : "#/components/schemas/VisitorActor"
        }, {
          "$ref" : "#/components/schemas/EmailActor"
        }, {
          "$ref" : "#/components/schemas/LlmActor"
        } ]
      },
      "PublicAssignmentMessage" : {
        "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "senders", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this message is archived.",
            "example" : null
          },
          "assignedFrom" : {
            "type" : "string",
            "description" : "The identifier of the actor from whom the conversation was assigned.",
            "example" : null
          },
          "assignedTo" : {
            "type" : "string",
            "description" : "The identifier of the actor to whom the conversation is assigned.",
            "example" : null
          },
          "client" : {
            "$ref" : "#/components/schemas/PublicClient"
          },
          "conversationsThreadId" : {
            "type" : "string",
            "description" : "The unique identifier of the conversation thread associated with this message.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this message was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "string",
            "description" : "The identifier of the actor who created this message.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this assignment message.",
            "example" : null
          },
          "recipients" : {
            "type" : "array",
            "description" : "An array of recipients involved in this message, each represented by a PublicRecipient object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRecipient"
            }
          },
          "senders" : {
            "type" : "array",
            "description" : "An array of senders involved in this message, each represented by a PublicSender object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSender"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The type of message, which is 'ASSIGNMENT'.",
            "example" : null,
            "default" : "ASSIGNMENT",
            "enum" : [ "ASSIGNMENT" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this message was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicChannel" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the channel, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicChannelAccount" : {
        "required" : [ "active", "archived", "authorized", "channelId", "createdAt", "id", "inboxId", "name" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the channel account is currently active.",
            "example" : null
          },
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the channel account is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The date and time when the channel account was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "authorized" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the channel account is authorized.",
            "example" : null
          },
          "channelId" : {
            "type" : "string",
            "description" : "The unique identifier for the channel associated with this account, represented as a string.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the channel account was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the channel account, represented as a string.",
            "example" : null
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The unique identifier for the inbox associated with this channel account, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel account, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicClient" : {
        "required" : [ "clientType" ],
        "type" : "object",
        "properties" : {
          "clientType" : {
            "type" : "string",
            "description" : "The type of client interacting with the API. Valid values include 'HUBSPOT', 'SYSTEM', 'INTEGRATION', and 'UNKNOWN'.",
            "example" : null,
            "enum" : [ "HUBSPOT", "INTEGRATION", "SYSTEM", "UNKNOWN" ]
          },
          "integrationAppId" : {
            "type" : "integer",
            "description" : "An optional identifier for the integration application associated with the client. It is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicComment" : {
        "required" : [ "archived", "attachments", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "richText", "senders", "text", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the comment is archived.",
            "example" : null
          },
          "attachments" : {
            "type" : "array",
            "description" : "An array of attachments associated with the comment, which can include files, locations, contacts, and other types of content.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicFile"
              }, {
                "$ref" : "#/components/schemas/PublicLocation"
              }, {
                "$ref" : "#/components/schemas/PublicContact"
              }, {
                "$ref" : "#/components/schemas/PublicUnsupportedContent"
              }, {
                "$ref" : "#/components/schemas/PublicMessageHeader"
              }, {
                "$ref" : "#/components/schemas/PublicQuickReplies"
              }, {
                "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
              }, {
                "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
              } ]
            }
          },
          "client" : {
            "$ref" : "#/components/schemas/PublicClient"
          },
          "conversationsThreadId" : {
            "type" : "string",
            "description" : "The unique identifier of the conversation thread to which this comment belongs.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the comment was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "string",
            "description" : "The identifier of the user who created the comment.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the comment.",
            "example" : null
          },
          "recipients" : {
            "type" : "array",
            "description" : "An array of recipients associated with the comment, each represented by a PublicRecipient object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRecipient"
            }
          },
          "richText" : {
            "type" : "string",
            "description" : "The rich text content of the comment, which may include formatting.",
            "example" : null
          },
          "senders" : {
            "type" : "array",
            "description" : "An array of senders associated with the comment, each represented by a PublicSender object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSender"
            }
          },
          "text" : {
            "type" : "string",
            "description" : "The plain text content of the comment.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the message, which is always 'COMMENT' for this component.",
            "example" : null,
            "default" : "COMMENT",
            "enum" : [ "COMMENT" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the comment was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCommentEgg" : {
        "required" : [ "attachments", "text", "type" ],
        "type" : "object",
        "properties" : {
          "attachments" : {
            "type" : "array",
            "description" : "An array of attachments associated with the comment. Each attachment can be a file, quick reply, or social media metadata.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicFileEgg"
              }, {
                "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
              }, {
                "$ref" : "#/components/schemas/PublicSocialMediaEgg"
              } ]
            }
          },
          "richText" : {
            "type" : "string",
            "description" : "A string containing the rich text content of the comment, allowing for formatting.",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "description" : "A string containing the plain text content of the comment.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the object, which is 'COMMENT' by default.",
            "example" : null,
            "default" : "COMMENT",
            "enum" : [ "COMMENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicContact" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the object, which is 'CONTACT' by default.",
            "example" : null,
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConversationsMessage" : {
        "required" : [ "archived", "attachments", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "direction", "id", "recipients", "senders", "text", "truncationStatus", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this message is archived.",
            "example" : null
          },
          "attachments" : {
            "type" : "array",
            "description" : "An array of attachments included with this message, which can be of various types such as files, locations, or social media metadata.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicFile"
              }, {
                "$ref" : "#/components/schemas/PublicLocation"
              }, {
                "$ref" : "#/components/schemas/PublicContact"
              }, {
                "$ref" : "#/components/schemas/PublicUnsupportedContent"
              }, {
                "$ref" : "#/components/schemas/PublicMessageHeader"
              }, {
                "$ref" : "#/components/schemas/PublicQuickReplies"
              }, {
                "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
              }, {
                "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
              } ]
            }
          },
          "channelAccountId" : {
            "type" : "string",
            "description" : "The identifier of the channel account associated with this message.",
            "example" : null
          },
          "channelId" : {
            "type" : "string",
            "description" : "The identifier of the channel through which this message was sent.",
            "example" : null
          },
          "client" : {
            "$ref" : "#/components/schemas/PublicClient"
          },
          "conversationsThreadId" : {
            "type" : "string",
            "description" : "The identifier of the conversation thread to which this message belongs.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this message was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "string",
            "description" : "The identifier of the actor who created this message.",
            "example" : null
          },
          "direction" : {
            "type" : "string",
            "description" : "The direction of the message, indicating whether it is 'INCOMING' or 'OUTGOING'.",
            "example" : null,
            "enum" : [ "INCOMING", "OUTGOING" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this message.",
            "example" : null
          },
          "inReplyToId" : {
            "type" : "string",
            "description" : "The identifier of the message to which this message is a reply, if applicable.",
            "example" : null
          },
          "recipients" : {
            "type" : "array",
            "description" : "An array of recipients of this message, each represented as a PublicRecipient object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRecipient"
            }
          },
          "richText" : {
            "type" : "string",
            "description" : "The rich text content of the message, which may include formatting.",
            "example" : null
          },
          "senders" : {
            "type" : "array",
            "description" : "An array of senders involved in this message, each represented as a PublicSender object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSender"
            }
          },
          "status" : {
            "$ref" : "#/components/schemas/PublicMessageStatus"
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject of the message, if applicable.",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "description" : "The plain text content of the message.",
            "example" : null
          },
          "truncationStatus" : {
            "type" : "string",
            "description" : "Indicates the truncation status of the message content, with possible values being 'NOT_TRUNCATED', 'TRUNCATED_TO_MOST_RECENT_REPLY', or 'TRUNCATED'.",
            "example" : null,
            "enum" : [ "NOT_TRUNCATED", "TRUNCATED", "TRUNCATED_TO_MOST_RECENT_REPLY" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the message, which is always 'MESSAGE'.",
            "example" : null,
            "default" : "MESSAGE",
            "enum" : [ "MESSAGE" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this message was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConversationsMessageEgg" : {
        "required" : [ "attachments", "channelAccountId", "channelId", "recipients", "senderActorId", "text", "type" ],
        "type" : "object",
        "properties" : {
          "attachments" : {
            "type" : "array",
            "description" : "An array of attachments associated with the message. Each attachment can be a file, quick reply, or social media metadata.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicFileEgg"
              }, {
                "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
              }, {
                "$ref" : "#/components/schemas/PublicSocialMediaEgg"
              } ]
            }
          },
          "channelAccountId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the channel account used to send the message.",
            "example" : null
          },
          "channelId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the channel through which the message is sent.",
            "example" : null
          },
          "recipients" : {
            "type" : "array",
            "description" : "An array of recipient objects representing the intended recipients of the message.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicRecipientEgg"
            }
          },
          "richText" : {
            "type" : "string",
            "description" : "A string containing the rich text content of the message.",
            "example" : null
          },
          "senderActorId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the sender actor.",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "A string representing the subject of the message.",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "description" : "A string containing the plain text content of the message.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of message. The default value is 'MESSAGE'.",
            "example" : null,
            "default" : "MESSAGE",
            "enum" : [ "MESSAGE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDeliveryIdentifier" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of delivery identifier. Valid values include 'HS_EMAIL_ADDRESS', 'HS_PHONE_NUMBER', 'HS_SHORT_CODE', and 'CHANNEL_SPECIFIC_OPAQUE_ID'.",
            "example" : null,
            "enum" : [ "CHANNEL_SPECIFIC_OPAQUE_ID", "HS_EMAIL_ADDRESS", "HS_PHONE_NUMBER", "HS_SHORT_CODE" ]
          },
          "value" : {
            "type" : "string",
            "description" : "A string representing the actual value of the delivery identifier, such as an email address or phone number.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFile" : {
        "title" : "FILE",
        "required" : [ "fileId", "fileUsageType", "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the file.",
            "example" : null
          },
          "fileUsageType" : {
            "type" : "string",
            "description" : "A string indicating the usage type of the file. Valid values include 'STICKER', 'VOICE_RECORDING', 'IMAGE', 'AUDIO', and 'OTHER'.",
            "example" : null,
            "enum" : [ "AUDIO", "IMAGE", "OTHER", "STICKER", "VOICE_RECORDING" ]
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the file.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the object, which is 'FILE' by default.",
            "example" : null,
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "url" : {
            "type" : "string",
            "description" : "A string representing the URL where the file can be accessed.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFileEgg" : {
        "title" : "FILE",
        "required" : [ "fileId", "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the file.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of the component, which is always 'FILE'.",
            "example" : null,
            "default" : "FILE",
            "enum" : [ "FILE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicInbox" : {
        "required" : [ "archived", "createdAt", "id", "name", "type", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the inbox is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The date and time when the inbox was archived, in ISO 8601 format. This property is optional.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the inbox was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the inbox. It is a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the inbox. It is a string.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the inbox, which can be either 'INBOX' or 'HELP_DESK'.",
            "example" : null,
            "enum" : [ "HELP_DESK", "INBOX" ]
          },
          "updatedAt" : {
            "type" : "string",
[...]
