{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations Inbox & Messages",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/conversations/conversations/2026-09-beta/actors/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch retrieve actors",
        "description" : "Retrieve information about multiple actors in a batch operation. This endpoint is useful for obtaining details about several actors at once, which can help in managing or analyzing actor data efficiently.",
        "operationId" : "post-/conversations/conversations/2026-09-beta/actors/batch/read",
        "parameters" : [ {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActor"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicActorWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/actors/{actorId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve actor",
        "description" : "Retrieve details of a specific actor in the conversations API by providing the actor's unique identifier. This endpoint is useful for obtaining information about a particular actor involved in conversations, such as agents, bots, or visitors.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/actors/{actorId}",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActor"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/channel-accounts" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List channel accounts",
        "description" : "Retrieve a list of channel accounts associated with conversations in your HubSpot account. This endpoint allows you to filter results by channel ID, inbox ID, and other parameters. It supports pagination and sorting to help manage large sets of data effectively.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channel-accounts",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccount"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/channel-accounts/{channelAccountId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve channel account",
        "description" : "Retrieve details of a specific channel account using its unique identifier. This endpoint allows you to access information about a channel account, which can be useful for managing or integrating communication channels within your HubSpot account.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/channels" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List Channels",
        "description" : "Retrieve a list of channels available in the HubSpot account. This endpoint supports pagination and sorting, allowing you to manage and organize the channel data effectively. Use this endpoint to access detailed information about each channel, which can be useful for integrating or managing communication platforms within your HubSpot environment.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channels",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/channels/{channelId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve channel",
        "description" : "Retrieve details of a specific channel in the HubSpot conversations API. This endpoint is useful for accessing information about a channel using its unique identifier.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannel"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/inboxes" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List inboxes",
        "description" : "Retrieve a list of inboxes in your HubSpot account. This endpoint allows you to paginate through results, set limits on the number of results per page, sort the results, and filter by archived status. Useful for managing and viewing all inboxes associated with your account.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/inboxes",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicInbox"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/inboxes/{inboxId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve inbox",
        "description" : "Retrieve details of a specific inbox in your HubSpot account using the inbox ID. This endpoint allows you to access information about the inbox, including whether it is archived. It is useful for managing and organizing your communication channels within HubSpot.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/inboxes/{inboxId}",
        "parameters" : [ {
          "name" : "inboxId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicInbox"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve threads",
        "description" : "Retrieve a list of conversation threads from the specified inboxes in your HubSpot account. This endpoint allows you to filter threads by associated contacts, tickets, status, and more. Useful for managing and reviewing communication threads efficiently.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "associatedContactId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "associatedTicketId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        }, {
          "name" : "latestMessageTimestampAfter",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "threadStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicThreadForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve thread",
        "description" : "Retrieve a specific conversation thread by its unique identifier. This endpoint allows you to access detailed information about the thread, including its properties and associations. It can be useful for reviewing the content and status of a conversation thread within your HubSpot account.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "association",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "TICKET" ]
            }
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete thread",
        "description" : "Delete a specific conversation thread in your HubSpot account. This operation will permanently remove the thread identified by the threadId from the system. It is useful for managing and cleaning up conversation data.",
        "operationId" : "delete-/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations-api-write" ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update thread",
        "description" : "Update the details of a specific thread in the conversations API. This operation allows you to modify the status or archived state of a thread identified by its threadId. Use this endpoint to manage thread lifecycle events such as closing or reopening a conversation.",
        "operationId" : "patch-/conversations/conversations/2026-09-beta/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations-api-write" ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/assignee" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update assignee",
        "description" : "Assign a specific actor to a conversation thread in your HubSpot account. This operation allows you to set or change the assignee for a thread, which can help in managing and organizing conversations more effectively.",
        "operationId" : "put-/conversations/conversations/2026-09-beta/threads/{threadId}/assignee",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicThreadAssignRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicThread"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations-api-write" ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete Assignee",
        "description" : "Remove the assignee from a specific conversation thread in your HubSpot account. This operation is useful when you want to unassign a user from handling a particular thread, potentially allowing it to be reassigned to another user or left unassigned.",
        "operationId" : "delete-/conversations/conversations/2026-09-beta/threads/{threadId}/assignee",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations-api-write" ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve messages",
        "description" : "Retrieve messages from a specific conversation thread in your HubSpot account. This endpoint allows you to paginate through messages, sort them, and filter based on archival status. It is useful for accessing the message history of a conversation thread.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicMessageForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create message",
        "description" : "Create a new message within a specific conversation thread in your HubSpot account. This endpoint allows you to send messages as part of an ongoing conversation, which can include various types of content such as text, attachments, and more. It is useful for programmatically interacting with conversation threads and ensuring seamless communication flow.",
        "operationId" : "post-/conversations/conversations/2026-09-beta/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicMessageEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations-api-write" ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve message",
        "description" : "Retrieve a specific message from a conversation thread in your HubSpot account. This endpoint allows you to access the details of a message by specifying the thread and message identifiers. It is useful for fetching message content and properties for further analysis or display.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessage"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}/original-content" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve message content",
        "description" : "Retrieve the original content of a specific message within a conversation thread. This endpoint is useful for accessing the initial message content before any modifications or formatting changes. It can be particularly helpful for auditing or reviewing the original message details.",
        "operationId" : "get-/conversations/conversations/2026-09-beta/threads/{threadId}/messages/{messageId}/original-content",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMessageContent"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "conversations-api-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "conversations-api-read" ]
        }, {
          "oauth2" : [ "conversations-api-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicRecipient" : {
        "required" : [ "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "recipientField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageEgg" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessageEgg"
        }, {
          "$ref" : "#/components/schemas/PublicCommentEgg"
        } ]
      },
      "PublicChannelAccount" : {
        "required" : [ "active", "archived", "authorized", "channelId", "createdAt", "id", "inboxId", "name" ],
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "boolean",
            "description" : "Whether the channel account is turned on.",
            "example" : null
          },
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "authorized" : {
            "type" : "boolean",
            "example" : null
          },
          "channelId" : {
            "type" : "string",
            "description" : "The ID of the channel that the channel account is an instance of.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel account.",
            "example" : null
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox that contains the channel account.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel account.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageHeader" : {
        "title" : "MESSAGE_HEADER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "text" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "MESSAGE_HEADER",
            "enum" : [ "MESSAGE_HEADER" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicThreadAssignRequest" : {
        "required" : [ "actorId" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicThreadForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicThread"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchResponsePublicActorWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "LlmActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "LLM",
              "enum" : [ "LLM" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicContact" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BotActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "BOT",
              "enum" : [ "BOT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicAssignmentMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "ASSIGNMENT",
              "enum" : [ "ASSIGNMENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "assignedTo" : {
              "type" : "string",
              "example" : null
            },
            "assignedFrom" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "ContactAddress" : {
        "type" : "object",
        "properties" : {
          "city" : {
            "type" : "string",
            "example" : null
          },
          "country" : {
            "type" : "string",
            "example" : null
          },
          "countryCode" : {
            "type" : "string",
            "example" : null
          },
          "state" : {
            "type" : "string",
            "example" : null
          },
          "street" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HOME", "WORK" ]
          },
          "zip" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicInbox" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInbox"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicThreadInboxChange" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "fromInboxId", "id", "recipients", "senders", "toInboxId", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "THREAD_INBOX_CHANGE",
              "enum" : [ "THREAD_INBOX_CHANGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "fromInboxId" : {
              "type" : "string",
              "example" : null
            },
            "toInboxId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicWelcomeMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "WELCOME_MESSAGE",
              "enum" : [ "WELCOME_MESSAGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PublicUnsupportedContent" : {
        "title" : "UNSUPPORTED_CONTENT",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "UNSUPPORTED_CONTENT",
            "enum" : [ "UNSUPPORTED_CONTENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicQuickReplies" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "allowMultiSelect", "allowUserInput", "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "allowMultiSelect" : {
            "type" : "boolean",
            "example" : null
          },
          "allowUserInput" : {
            "type" : "boolean",
            "example" : null
          },
          "quickReplies" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "QuickReply" : {
        "required" : [ "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          },
          "valueType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "TEXT", "URL" ]
          }
        },
        "example" : null
      },
      "PublicInbox" : {
        "required" : [ "archived", "createdAt", "id", "name", "type", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the inbox was created.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the inbox.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the inbox.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies whether this refers to a Conversations Inbox or to the Help Desk. Valid values are INBOX or HELP_DESK",
            "example" : null,
            "enum" : [ "HELP_DESK", "INBOX" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSocialMetadataAttachment" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicChannel" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the channel.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the channel.",
            "example" : null
          }
        },
        "example" : null
      },
      "SocialMetadata" : {
        "required" : [ "mediaType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "mediaTitle" : {
            "type" : "string",
            "example" : null
          },
          "mediaType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ARTICLE", "AUDIO", "CAROUSEL", "DOCUMENT", "GIF", "LINK", "NONE", "PHOTO", "POLL", "STORY", "VIDEO" ]
          },
          "mediaUrl" : {
            "type" : "string",
            "example" : null
          },
          "mediaUrlString" : {
            "type" : "string",
            "example" : null
          },
          "thumbnailUrl" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicLocation" : {
        "title" : "LOCATION",
        "required" : [ "latitude", "longitude", "type" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "example" : null
          },
          "latitude" : {
            "type" : "number",
            "example" : null
          },
          "longitude" : {
            "type" : "number",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "LOCATION",
            "enum" : [ "LOCATION" ]
          },
          "url" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicThreadStatusChange" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "newStatus", "recipients", "senders", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "THREAD_STATUS_CHANGE",
              "enum" : [ "THREAD_STATUS_CHANGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "newStatus" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "OPEN", "CLOSED" ]
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicFileEgg" : {
        "title" : "FILE",
        "required" : [ "fileId", "type" ],
        "type" : "object",
        "properties" : {
          "fileId" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "FILE",
            "enum" : [ "FILE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicActor" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/AgentActor"
        }, {
          "$ref" : "#/components/schemas/BotActor"
        }, {
          "$ref" : "#/components/schemas/IntegratorActor"
        }, {
          "$ref" : "#/components/schemas/SystemActor"
        }, {
          "$ref" : "#/components/schemas/VisitorActor"
        }, {
          "$ref" : "#/components/schemas/EmailActor"
        }, {
          "$ref" : "#/components/schemas/LlmActor"
        } ]
      },
      "AgentActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "AGENT",
              "enum" : [ "AGENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "email" : {
              "type" : "string",
              "example" : null
            },
            "avatar" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicRecipientEgg" : {
        "required" : [ "deliveryIdentifiers" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "deliveryIdentifiers" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
            }
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "recipientField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicComment" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "client", "conversationsThreadId", "createdAt", "createdBy", "id", "recipients", "richText", "senders", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFile"
                }, {
                  "$ref" : "#/components/schemas/PublicLocation"
                }, {
                  "$ref" : "#/components/schemas/PublicContact"
                }, {
                  "$ref" : "#/components/schemas/PublicUnsupportedContent"
                }, {
                  "$ref" : "#/components/schemas/PublicMessageHeader"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickReplies"
                }, {
                  "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
                } ]
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicThreadUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived. Set to false to restore the thread.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          }
        },
        "example" : null
      },
      "BatchResponsePublicActor" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActor"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicSocialMediaEgg" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "PublicThreadAssociations" : {
        "type" : "object",
        "properties" : {
          "associatedTicketId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicMessageForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicConversationsMessage"
              }, {
                "$ref" : "#/components/schemas/PublicComment"
              }, {
                "$ref" : "#/components/schemas/PublicWelcomeMessage"
              }, {
                "$ref" : "#/components/schemas/PublicAssignmentMessage"
              }, {
                "$ref" : "#/components/schemas/PublicThreadStatusChange"
              }, {
                "$ref" : "#/components/schemas/PublicThreadInboxChange"
              } ]
            }
          }
        },
        "example" : null
      },
      "PublicMessageFailureDetails" : {
        "required" : [ "errorMessageTokens" ],
        "type" : "object",
        "properties" : {
          "errorMessage" : {
            "type" : "string",
            "example" : null
          },
          "errorMessageTokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessage" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicConversationsMessage"
        }, {
          "$ref" : "#/components/schemas/PublicComment"
        }, {
          "$ref" : "#/components/schemas/PublicWelcomeMessage"
        }, {
          "$ref" : "#/components/schemas/PublicAssignmentMessage"
        }, {
          "$ref" : "#/components/schemas/PublicThreadStatusChange"
        }, {
          "$ref" : "#/components/schemas/PublicThreadInboxChange"
        } ]
      },
      "PublicDeliveryIdentifier" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat.",
            "example" : null,
            "enum" : [ "CHANNEL_SPECIFIC_OPAQUE_ID", "HS_EMAIL_ADDRESS", "HS_PHONE_NUMBER", "HS_SHORT_CODE" ]
          },
          "value" : {
            "type" : "string",
            "description" : "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicCommentEgg" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "COMMENT",
              "enum" : [ "COMMENT" ]
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFileEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMediaEgg"
                } ]
              }
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "CollectionResponseWithTotalPublicChannel" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicChannel"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ContactPhone" : {
        "required" : [ "phone" ],
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CELL", "HOME", "MAIN", "WORK" ]
          }
        },
        "example" : null
      },
      "PublicSender" : {
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string",
            "example" : null
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "senderField" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicClient" : {
        "required" : [ "clientType" ],
        "type" : "object",
        "properties" : {
          "clientType" : {
            "type" : "string",
            "description" : "The type of the client.",
            "example" : null,
            "enum" : [ "HUBSPOT", "INTEGRATION", "SYSTEM", "UNKNOWN" ]
          },
          "integrationAppId" : {
            "type" : "integer",
            "description" : "The ID of the client if the client is an integration.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicMessageStatus" : {
        "required" : [ "statusType" ],
        "type" : "object",
        "properties" : {
          "failureDetails" : {
            "$ref" : "#/components/schemas/PublicMessageFailureDetails"
          },
          "statusType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FAILED", "READ", "RECEIVED", "SENT" ]
          }
        },
        "example" : null
      },
      "PublicConversationsMessageEgg" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessageEgg"
        }, {
          "required" : [ "attachments", "channelAccountId", "channelId", "recipients", "senderActorId", "text", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFileEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickRepliesEgg"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMediaEgg"
                } ]
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipientEgg"
              }
            },
            "senderActorId" : {
              "type" : "string",
              "example" : null
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            },
            "subject" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicWhatsAppTemplateMetadata" : {
        "title" : "WHATSAPP_TEMPLATE_METADATA",
        "required" : [ "crmObjectIds", "parameters", "type" ],
        "type" : "object",
        "properties" : {
          "contentId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "crmObjectIds" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            },
            "example" : null
          },
          "mappedTemplateId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "rootMicId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "default" : "WHATSAPP_TEMPLATE_METADATA",
            "enum" : [ "WHATSAPP_TEMPLATE_METADATA" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConversationsMessage" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicMessage"
        }, {
          "required" : [ "archived", "attachments", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "direction", "id", "recipients", "senders", "text", "truncationStatus", "type" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "example" : null,
              "default" : "MESSAGE",
              "enum" : [ "MESSAGE" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "conversationsThreadId" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "createdBy" : {
              "type" : "string",
              "example" : null
            },
            "client" : {
              "$ref" : "#/components/schemas/PublicClient"
            },
            "senders" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicSender"
              }
            },
            "recipients" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/PublicRecipient"
              }
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "text" : {
              "type" : "string",
              "example" : null
            },
            "richText" : {
              "type" : "string",
              "example" : null
            },
            "attachments" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "example" : null,
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/PublicFile"
                }, {
                  "$ref" : "#/components/schemas/PublicLocation"
                }, {
                  "$ref" : "#/components/schemas/PublicContact"
                }, {
                  "$ref" : "#/components/schemas/PublicUnsupportedContent"
                }, {
                  "$ref" : "#/components/schemas/PublicMessageHeader"
                }, {
                  "$ref" : "#/components/schemas/PublicQuickReplies"
                }, {
                  "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
                }, {
                  "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
                } ]
              }
            },
            "subject" : {
              "type" : "string",
              "example" : null
            },
            "truncationStatus" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "NOT_TRUNCATED", "TRUNCATED_TO_MOST_RECENT_REPLY", "TRUNCATED" ]
            },
            "inReplyToId" : {
              "type" : "string",
              "example" : null
            },
            "status" : {
              "$ref" : "#/components/schemas/PublicMessageStatus"
            },
            "direction" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "INCOMING", "OUTGOING" ]
            },
            "channelId" : {
              "type" : "string",
              "example" : null
            },
            "channelAccountId" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicThread" : {
        "required" : [ "archived", "associatedContactId", "createdAt", "id", "inboxId", "originalChannelAccountId", "originalChannelId", "spam", "status" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this thread is archived.",
            "example" : null
          },
          "assignedTo" : {
            "type" : "string",
            "example" : null
          },
          "associatedContactId" : {
            "type" : "string",
            "description" : "The ID of the associated Contact in the CRM. If the Contact for the thread has not yet been added or created, the `associatedContactId` returned will be a visitorID and cannot be used to search for the Contact in the CRM.",
            "example" : null
          },
          "closedAt" : {
            "type" : "string",
            "description" : "When the thread was closed. Only set if the thread is closed.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "When the thread was created.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of the thread.",
            "example" : null
          },
          "inboxId" : {
            "type" : "string",
            "description" : "The ID of the conversations inbox containing the thread.",
            "example" : null
          },
          "latestMessageReceivedTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "latestMessageSentTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "latestMessageTimestamp" : {
            "type" : "string",
            "description" : "The time that the latest message was sent or received on the thread.",
            "format" : "date-time",
            "example" : null
          },
          "originalChannelAccountId" : {
            "type" : "string",
            "example" : null
          },
          "originalChannelId" : {
            "type" : "string",
            "example" : null
          },
          "spam" : {
            "type" : "boolean",
            "description" : "Whether the thread is marked as spam.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The thread's status: `OPEN` or `CLOSED`.",
            "example" : null,
            "enum" : [ "CLOSED", "OPEN" ]
          },
          "threadAssociations" : {
            "$ref" : "#/components/schemas/PublicThreadAssociations"
          }
        },
        "example" : null
      },
      "SystemActor" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicActor"
        }, {
          "required" : [ "id", "type" ],
          "type" : "object",
          "properties" : {
[...]
