{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Forecast Types",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/forecast-settings/2026-09-beta/forecast-types" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve forecast types",
        "description" : "Returns all forecast types configured for the portal. Forecast types define which properties are used to calculate forecasts. This endpoint is useful for retrieving the different forecast configurations available in your HubSpot account, allowing you to understand how forecasts are generated based on various properties.",
        "operationId" : "get-/forecast-settings/2026-09-beta/forecast-types_/forecast-settings/2026-09-beta/forecast-types",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForecastTypeSettingPublicResponse"
                },
                "example" : null
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - missing or invalid authentication",
            "content" : { }
          },
          "403" : {
            "description" : "Forbidden - insufficient permissions",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "forecast-read", "forecasting-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "forecast-read", "forecasting-access" ]
        }, {
          "oauth2" : [ "forecast-read", "forecasting-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/forecast-settings/2026-09-beta/forecast-types/{forecastTypeId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a forecast type",
        "description" : "Retrieve a specific forecast type by its ID from the HubSpot account. This endpoint is useful for accessing detailed information about a particular forecast type, which defines the properties used in forecasting calculations.",
        "operationId" : "get-/forecast-settings/2026-09-beta/forecast-types/{forecastTypeId}_/forecast-settings/2026-09-beta/forecast-types/{forecastTypeId}",
        "parameters" : [ {
          "name" : "forecastTypeId",
          "in" : "path",
          "description" : "The ID of the forecast type to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForecastTypeSettingPublicResponse"
                },
                "example" : null
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - missing or invalid authentication",
            "content" : { }
          },
          "403" : {
            "description" : "Forbidden - insufficient permissions",
            "content" : { }
          },
          "404" : {
            "description" : "Forecast type not found",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "forecast-read", "forecasting-access" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "forecast-read", "forecasting-access" ]
        }, {
          "oauth2" : [ "forecast-read", "forecasting-access" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForecastTypeSettingPublicResponse" : {
        "required" : [ "amountOrDatePropertyRestrictedForUser", "amountProperty", "createdAt", "createdAtTimestamp", "createdBy", "dateProperty", "defaultType", "forecastName", "forecastTypeId", "id", "objectTypeId", "updatedAt", "updatedBy", "updatedTimestamp" ],
        "type" : "object",
        "properties" : {
          "amountInHomeCurrencyProperty" : {
            "type" : "string",
            "description" : "A string representing the property for the amount in the home currency.",
            "example" : null
          },
          "amountOrDatePropertyRestrictedForUser" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the amount or date property is restricted for the user.",
            "example" : null
          },
          "amountProperty" : {
            "type" : "string",
            "description" : "The property used to represent the amount in the forecast, specified as a string.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the forecast type was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdAtTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp of creation, in milliseconds since the Unix epoch.",
            "format" : "int64",
            "example" : null
          },
          "createdBy" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the user who created the forecast type.",
            "format" : "int32",
            "example" : null
          },
          "dateProperty" : {
            "type" : "string",
            "description" : "The property used to represent the date in the forecast, specified as a string.",
            "example" : null
          },
          "dealSplitProperties" : {
            "$ref" : "#/components/schemas/ForecastTypeDealSplitProperties"
          },
          "defaultType" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this forecast type is the default.",
            "example" : null
          },
          "forecastName" : {
            "type" : "string",
            "description" : "The name of the forecast type, represented as a string.",
            "example" : null
          },
          "forecastTypeId" : {
            "type" : "integer",
            "description" : "An integer identifier for the forecast type.",
            "format" : "int64",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string identifier for the forecast type setting.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string identifier for the object type associated with the forecast.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the forecast type was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedBy" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the user who last updated the forecast type.",
            "format" : "int32",
            "example" : null
          },
          "updatedTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp of the last update, in milliseconds since the Unix epoch.",
            "format" : "int64",
            "example" : null
          },
          "weightedAmountInHomeCurrencyProperty" : {
            "type" : "string",
            "description" : "A string representing the property for the weighted amount in the home currency.",
            "example" : null
          },
          "weightedAmountProperty" : {
            "type" : "string",
            "description" : "The property representing the weighted amount, specified as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ForecastTypeDealSplitProperties" : {
        "required" : [ "dealCustomAmountProperty", "dealCustomAmountPropertyInHomeCurrency", "dealCustomDateProperty", "dealSplitCustomAmountProperty", "dealSplitCustomAmountPropertyInHomeCurrency", "dealSplitWeightedCustomAmountProperty", "dealSplitWeightedCustomAmountPropertyInHomeCurrency" ],
        "type" : "object",
        "properties" : {
          "dealCustomAmountProperty" : {
            "type" : "string",
            "description" : "A string representing a custom amount property for a deal.",
            "example" : null
          },
          "dealCustomAmountPropertyInHomeCurrency" : {
            "type" : "string",
            "description" : "A string representing a custom amount property for a deal, expressed in the home currency.",
            "example" : null
          },
          "dealCustomDateProperty" : {
            "type" : "string",
            "description" : "A string representing a custom date property for a deal.",
            "example" : null
          },
          "dealSplitCustomAmountProperty" : {
            "type" : "string",
            "description" : "A string representing a custom amount property for a deal split.",
            "example" : null
          },
          "dealSplitCustomAmountPropertyInHomeCurrency" : {
            "type" : "string",
            "description" : "A string representing a custom amount property for a deal split, expressed in the home currency.",
            "example" : null
          },
          "dealSplitWeightedCustomAmountProperty" : {
            "type" : "string",
            "description" : "A string representing a weighted custom amount property for a deal split.",
            "example" : null
          },
          "dealSplitWeightedCustomAmountPropertyInHomeCurrency" : {
            "type" : "string",
            "description" : "A string representing a weighted custom amount property for a deal split, expressed in the home currency.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "forecast-read" : "",
              "forecasting-access" : "",
              "public-users-read" : "",
              "public-users-write" : "",
              "teams-read" : ""
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}