{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Campaigns Public Api",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Assets"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Budget"
  }, {
    "name" : "Metrics"
  }, {
    "name" : "Spend"
  } ],
  "paths" : {
    "/marketing/campaigns/2026-03" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve campaigns",
        "description" : "Retrieve a paginated list of campaigns from your HubSpot account. This endpoint allows you to specify sorting, pagination, and filtering options to tailor the results to your needs.",
        "operationId" : "get-/marketing/campaigns/2026-03_/marketing/campaigns/v3",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicCampaign"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a campaign",
        "description" : "Create a campaign with the specified properties and receive a copy of the campaign object, including its ID. Note that the 'hs_goal' property is deprecated and will be ignored if provided.",
        "operationId" : "post-/marketing/campaigns/2026-03_/marketing/campaigns/v3",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicCampaignInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCampaign"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/batch/archive" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Delete campaigns",
        "description" : "Archive a batch of marketing campaigns in your HubSpot account. This operation permanently removes the specified campaigns, making them inaccessible. It is useful for cleaning up outdated or unnecessary campaigns in bulk.",
        "operationId" : "post-/marketing/campaigns/2026-03/batch/archive",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPublicCampaignDeleteInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/batch/create" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create campaigns",
        "description" : "Create a batch of campaigns with specified properties. This endpoint allows for the creation of multiple campaigns in a single request. Note that the 'hs_goal' property is deprecated and will be ignored if provided.",
        "operationId" : "post-/marketing/campaigns/2026-03/batch/create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPublicCampaignInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicCampaign"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Retreieve campaigns",
        "description" : "Retrieve a batch of campaigns with specified properties and date range. This endpoint allows you to filter campaigns by start and end dates and specify which properties to include in the response.",
        "operationId" : "post-/marketing/campaigns/2026-03/batch/read",
        "parameters" : [ {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPublicCampaignReadInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicCampaignWithAssets"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/batch/update" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Update campaigns",
        "description" : "Update a batch of marketing campaigns with specified properties. This endpoint allows you to modify multiple campaigns in one request. Note that the 'hs_goal' property is deprecated and will be ignored if provided.",
        "operationId" : "post-/marketing/campaigns/2026-03/batch/update",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPublicCampaignBatchUpdateItem"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePublicCampaign"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a campaign",
        "description" : "Read a campaign identified by a specified internal ID. This endpoint allows you to retrieve detailed information about a specific marketing campaign using its unique identifier. It supports filtering the response by specific properties and date ranges.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCampaignWithAssets"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a campaign",
        "description" : "Delete a specified campaign from the system. This operation removes the campaign identified by the provided campaignGuid from your HubSpot account.",
        "operationId" : "delete-/marketing/campaigns/2026-03/{campaignGuid}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a campaign",
        "description" : "Perform a partial update of a campaign identified by the specified ID. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string. Note: The 'hs_goal' property is deprecated and will be ignored if provided.",
        "operationId" : "patch-/marketing/campaigns/2026-03/{campaignGuid}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicCampaignInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCampaign"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}" : {
      "get" : {
        "tags" : [ "Assets" ],
        "summary" : "Retrieve assets",
        "description" : "List all assets of a specified campaign by asset type. This endpoint allows you to retrieve assets associated with a campaign, filtered by the type of asset. It supports pagination and date filtering to manage and refine the results.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}",
        "parameters" : [ {
          "name" : "assetType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicCampaignAssetForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}" : {
      "put" : {
        "tags" : [ "Assets" ],
        "summary" : "Add asset",
        "description" : "Associate an asset with a specific campaign in your HubSpot account. This operation allows you to link an asset of a specified type and ID to a campaign, facilitating better organization and tracking of campaign resources.",
        "operationId" : "put-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}",
        "parameters" : [ {
          "name" : "assetId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "assetType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Assets" ],
        "summary" : "Disassociate Asset",
        "description" : "Disassociate an asset from a specific campaign. This operation removes the association between the specified asset and campaign, effectively detaching the asset from the campaign's context.",
        "operationId" : "delete-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}",
        "parameters" : [ {
          "name" : "assetId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "assetType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/budget" : {
      "post" : {
        "tags" : [ "Budget" ],
        "summary" : "Add budget item",
        "description" : "Add a new budget item to the specified campaign. This operation allows you to allocate a budget for a campaign by specifying the necessary details in the request body.",
        "operationId" : "post-/marketing/campaigns/2026-03/{campaignGuid}/budget",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicBudgetItemInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBudgetItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/budget/totals" : {
      "get" : {
        "tags" : [ "Budget" ],
        "summary" : "Retrieve budget",
        "description" : "Retrieve budget and spending items along with their totals for a specific campaign. This endpoint provides insights into the financial allocations and expenditures associated with the campaign, helping users to manage and analyze campaign budgets effectively.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/budget/totals",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBudgetTotals"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/budget/{budgetId}" : {
      "get" : {
        "tags" : [ "Budget" ],
        "summary" : "Retrieve budget item",
        "description" : "Retrieve a specific budget item by its ID for a given campaign. This endpoint is useful for accessing detailed information about a particular budget item associated with a marketing campaign.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/budget/{budgetId}",
        "parameters" : [ {
          "name" : "budgetId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBudgetItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Budget" ],
        "summary" : "Update budget item",
        "description" : "Update a specific budget item by its ID within a marketing campaign. This operation allows you to modify the details of a budget item, such as its amount, name, or order, ensuring that your campaign's financial records are accurate and up-to-date.",
        "operationId" : "put-/marketing/campaigns/2026-03/{campaignGuid}/budget/{budgetId}",
        "parameters" : [ {
          "name" : "budgetId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicBudgetItemInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBudgetItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Budget" ],
        "summary" : "Delete budget item",
        "description" : "Delete a specific budget item from a campaign using its unique ID. This operation removes the budget item from the campaign's budget list, ensuring it is no longer considered in budget calculations.",
        "operationId" : "delete-/marketing/campaigns/2026-03/{campaignGuid}/budget/{budgetId}",
        "parameters" : [ {
          "name" : "budgetId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/reports/contacts/{contactType}" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "summary" : "Fetch contact IDs",
        "description" : "Fetch the list of contact IDs for the specified campaign and contact type. This endpoint allows you to retrieve contact identifiers associated with a particular campaign, filtered by the type of contact. It is useful for analyzing or processing contacts involved in specific marketing campaigns.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/reports/contacts/{contactType}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "The unique identifier of the campaign",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "contactType",
          "in" : "path",
          "description" : "The type of contact to filter the list",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseContactReferenceForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/reports/metrics" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "summary" : "Fetch metrics",
        "description" : "Fetch the metrics for a specific marketing campaign using its unique identifier. This endpoint allows you to retrieve various performance metrics of the campaign, which can be useful for analyzing the effectiveness of your marketing efforts over a specified time period.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/reports/metrics",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "The unique identifier of the campaign",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricsCounters"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/reports/revenue" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "summary" : "Fetch revenue",
        "description" : "Fetch revenue attribution report data for a specific campaign. This endpoint allows you to retrieve detailed revenue attribution information, which can be filtered by attribution model and date range. It is useful for analyzing the financial impact of marketing campaigns.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/reports/revenue",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "The unique identifier of the campaign",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "attributionModel",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date to fetch attribution data, YYYY-MM-DD",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date to fetch attribution data, YYYY-MM-DD",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RevenueAttributionAggregate"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.revenue.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.revenue.read" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/spend" : {
      "post" : {
        "tags" : [ "Spend" ],
        "summary" : "Create spend item",
        "description" : "Create a new campaign spend item for a specific campaign identified by its unique ID. This endpoint allows you to add financial details related to campaign expenditures, which can be useful for budget tracking and financial reporting.",
        "operationId" : "post-/marketing/campaigns/2026-03/{campaignGuid}/spend",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSpendItemInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSpendItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    },
    "/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}" : {
      "get" : {
        "tags" : [ "Spend" ],
        "summary" : "Retrieve campaign spend",
        "description" : "Retrieve details of a specific campaign spend item using its spendId. This endpoint allows you to access information about the spend associated with a particular campaign, identified by the campaignGuid.",
        "operationId" : "get-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "spendId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSpendItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.read" ]
        }, {
          "private_apps" : [ "marketing.campaigns.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Spend" ],
        "summary" : "Update spend item",
        "description" : "Update a specific campaign spend item by its ID. This endpoint allows you to modify the details of a spend item associated with a marketing campaign, such as its amount, name, or order. Use this to keep your campaign spend data accurate and up-to-date.",
        "operationId" : "put-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "spendId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSpendItemInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSpendItem"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Spend" ],
        "summary" : "Delete spend item",
        "description" : "Delete a specific campaign spend item by its ID. This operation is useful for removing spend items that are no longer needed or were added in error. Once deleted, the spend item cannot be recovered.",
        "operationId" : "delete-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}",
        "parameters" : [ {
          "name" : "campaignGuid",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "spendId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.campaigns.write" ]
        }, {
          "private_apps" : [ "marketing.campaigns.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string that categorizes the type of error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error, with keys as context names and values as arrays of strings.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects providing further information about each error encountered.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing a unique identifier for the error.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object mapping link names to associated URIs that contain documentation or remediation steps for the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable message describing the error.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "A string indicating the status of the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object that provides more specific details about the error category.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "PublicCampaignBatchUpdateItem" : {
        "required" : [ "id", "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign to be updated. It is a string.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of property names to their new values for the campaign. Each property name is a string, and its value is also a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePublicCampaignAssetForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public campaign assets. Each item in the array is a reference to a PublicCampaignAsset object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignAsset"
            }
          }
        },
        "example" : null
      },
      "PublicCampaignReadInput" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputPublicCampaignReadInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of PublicCampaignReadInput objects, each containing the ID of a campaign to be read. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignReadInput"
            }
          }
        },
        "example" : null
      },
      "BatchResponsePublicCampaignWithAssets" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors encountered during the batch operation, each described by a StandardError object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs that provide additional information about the batch operation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors encountered during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of results from the batch operation, each representing a public campaign with assets.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignWithAssets"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalPublicCampaign" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicCampaign objects, each representing a campaign with its associated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaign"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer representing the total number of public campaigns available.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "PublicSpendItem" : {
        "required" : [ "amount", "createdAt", "id", "name", "order", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The monetary amount of the spend item, represented as a number.",
            "example" : null
          },
          "createdAt" : {
            "type" : "integer",
            "description" : "A Unix timestamp in milliseconds indicating when the spend item was created.",
            "format" : "int64",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A brief description of the spend item, represented as a string.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the spend item, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the spend item, represented as a string.",
            "example" : null
          },
          "order" : {
            "type" : "integer",
            "description" : "An integer that specifies the order of the spend item.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "A Unix timestamp in milliseconds indicating when the spend item was last updated.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchResponsePublicCampaign" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors that occurred during the batch operation, each item detailing a specific error.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs related to the batch operation.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The number of errors that occurred during the batch operation.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of results from the batch operation, each item representing a public campaign.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaign"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "PublicCampaignWithAssets" : {
        "required" : [ "assets", "businessUnits", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "assets" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/CollectionResponsePublicCampaignAsset"
            },
            "description" : "A map of asset types to their corresponding collection of campaign assets, represented by CollectionResponsePublicCampaignAsset objects.",
            "example" : null
          },
          "businessUnits" : {
            "type" : "array",
            "description" : "An array of business units associated with the campaign, each represented by a PublicBusinessUnit object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the campaign was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of custom property names to their values for the campaign.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the campaign was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicBudgetTotals" : {
        "required" : [ "budgetItems", "currencyCode", "spendItems" ],
        "type" : "object",
        "properties" : {
          "budgetItems" : {
            "type" : "array",
            "description" : "An array of budget items associated with the campaign. Each item is represented by a PublicBudgetItem object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicBudgetItem"
            }
          },
          "budgetTotal" : {
            "type" : "number",
            "description" : "The total budget amount for the campaign, represented as a number.",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code used for budget and spending amounts. Valid values include standard currency codes such as 'USD', 'EUR', 'JPY', etc.",
            "example" : null,
            "enum" : [ "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BGN", "BHD", "BIF", "BMD", "BND", "BOB", "BOV", "BRL", "BSD", "BTN", "BWP", "BYN", "BZD", "CAD", "CDF", "CHE", "CHF", "CHW", "CLF", "CLP", "CNY", "COP", "COU", "CRC", "CUC", "CUP", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ERN", "ETB", "EUR", "FJD", "FKP", "GBP", "GEL", "GHS", "GIP", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "IQD", "IRR", "ISK", "JMD", "JOD", "JPY", "KES", "KGS", "KHR", "KMF", "KPW", "KRW", "KWD", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "LYD", "MAD", "MDL", "MGA", "MKD", "MMK", "MNT", "MOP", "MRU", "MUR", "MVR", "MWK", "MXN", "MXV", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "OMR", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SDG", "SEK", "SGD", "SHP", "SLL", "SOS", "SRD", "SSP", "STN", "SVC", "SYP", "SZL", "THB", "TJS", "TMT", "TND", "TOP", "TRY", "TTD", "TWD", "TZS", "UAH", "UGX", "USD", "USN", "UYI", "UYU", "UZS", "VEF", "VND", "VUV", "WST", "XAF", "XAG", "XAU", "XBA", "XBB", "XBC", "XBD", "XCD", "XDR", "XOF", "XPD", "XPF", "XPT", "XSU", "XUA", "YER", "ZAR", "ZMW", "ZWL" ]
          },
          "remainingBudget" : {
            "type" : "number",
            "description" : "The remaining budget for the campaign after spending, represented as a number.",
            "example" : null
          },
          "spendItems" : {
            "type" : "array",
            "description" : "An array of spend items associated with the campaign. Each item is represented by a PublicSpendItem object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicSpendItem"
            }
          },
          "spendTotal" : {
            "type" : "number",
            "description" : "The total amount spent for the campaign, represented as a number.",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputPublicCampaignDeleteInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of PublicCampaignDeleteInput objects, each specifying a campaign to be deleted. Each object must include the campaign's unique identifier.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignDeleteInput"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicCampaignAsset" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public campaign assets. Each item in the array is an object representing a campaign asset.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignAsset"
            }
          }
        },
        "example" : null
      },
      "PublicCampaignDeleteInput" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign to be deleted.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSpendItemInput" : {
        "required" : [ "amount", "name", "order" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The monetary value of the spend item.",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A brief description of the spend item.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the spend item.",
            "example" : null
          },
          "order" : {
            "type" : "integer",
            "description" : "The sequence number indicating the order of the spend item.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicCampaignInput" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of key-value pairs representing the properties of the campaign. Each key is a property name, and the corresponding value is the property's value.",
            "example" : null
          }
        },
        "example" : null
      },
      "MetricsCounters" : {
        "required" : [ "influencedContacts", "newContactsFirstTouch", "newContactsLastTouch", "sessions" ],
        "type" : "object",
        "properties" : {
          "influencedContacts" : {
            "type" : "integer",
            "description" : "The number of contacts influenced by the campaign.",
            "format" : "int32",
            "example" : null
          },
          "newContactsFirstTouch" : {
            "type" : "integer",
            "description" : "The number of new contacts attributed to the campaign as the first touchpoint.",
            "format" : "int32",
            "example" : null
          },
          "newContactsLastTouch" : {
            "type" : "integer",
            "description" : "The number of new contacts attributed to the campaign as the last touchpoint.",
            "format" : "int32",
            "example" : null
          },
          "sessions" : {
            "type" : "integer",
            "description" : "The total number of sessions generated by the campaign.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicBudgetItem" : {
        "required" : [ "amount", "createdAt", "id", "name", "order", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The monetary amount allocated for the budget item.",
            "example" : null
          },
          "createdAt" : {
            "type" : "integer",
            "description" : "The timestamp when the budget item was created.",
            "format" : "int64",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the budget item.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the budget item.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the budget item.",
            "example" : null
          },
          "order" : {
            "type" : "integer",
            "description" : "The order of the budget item, indicating its sequence based on creation date.",
            "format" : "int32",
            "example" : null
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "The timestamp when the budget item was last updated.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputPublicCampaignInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of PublicCampaignInput objects, each representing the properties of a campaign to be created in the batch. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignInput"
            }
          }
        },
        "example" : null
      },
      "PublicBudgetItemInput" : {
        "required" : [ "amount", "name", "order" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The monetary value assigned to the budget item.",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A detailed explanation or notes about the budget item.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the budget item.",
            "example" : null
          },
          "order" : {
            "type" : "integer",
            "description" : "The sequence number indicating the order of the budget item.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponseContactReferenceForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of contact references, each containing an identifier for a contact.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactReference"
            }
          }
        },
        "example" : null
      },
      "PublicCampaignAsset" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign asset.",
            "example" : null
          },
          "metrics" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "example" : null
            },
            "description" : "A collection of metrics associated with the campaign asset, represented as key-value pairs.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the campaign asset.",
            "example" : null
          }
        },
        "example" : null
      },
      "RevenueAttributionAggregate" : {
        "type" : "object",
        "properties" : {
          "contactsNumber" : {
            "type" : "integer",
            "description" : "The number of contacts attributed to the campaign.",
            "format" : "int32",
            "example" : null
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "The currency code used for the revenue attribution, with accepted values including AED, AFN, ALL, and others.",
            "example" : null,
            "enum" : [ "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BGN", "BHD", "BIF", "BMD", "BND", "BOB", "BOV", "BRL", "BSD", "BTN", "BWP", "BYN", "BZD", "CAD", "CDF", "CHE", "CHF", "CHW", "CLF", "CLP", "CNY", "COP", "COU", "CRC", "CUC", "CUP", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ERN", "ETB", "EUR", "FJD", "FKP", "GBP", "GEL", "GHS", "GIP", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "IQD", "IRR", "ISK", "JMD", "JOD", "JPY", "KES", "KGS", "KHR", "KMF", "KPW", "KRW", "KWD", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "LYD", "MAD", "MDL", "MGA", "MKD", "MMK", "MNT", "MOP", "MRU", "MUR", "MVR", "MWK", "MXN", "MXV", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "OMR", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SDG", "SEK", "SGD", "SHP", "SLL", "SOS", "SRD", "SSP", "STN", "SVC", "SYP", "SZL", "THB", "TJS", "TMT", "TND", "TOP", "TRY", "TTD", "TWD", "TZS", "UAH", "UGX", "USD", "USN", "UYI", "UYU", "UZS", "VEF", "VND", "VUV", "WST", "XAF", "XAG", "XAU", "XBA", "XBB", "XBC", "XBD", "XCD", "XDR", "XOF", "XPD", "XPF", "XPT", "XSU", "XUA", "YER", "ZAR", "ZMW", "ZWL" ]
          },
          "dealAmount" : {
            "type" : "number",
            "description" : "The total amount of deals attributed to the campaign.",
            "example" : null
          },
          "dealsNumber" : {
            "type" : "integer",
            "description" : "The number of deals attributed to the campaign.",
            "format" : "int32",
            "example" : null
          },
          "revenueAmount" : {
            "type" : "number",
            "description" : "The total revenue amount attributed to the campaign.",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputPublicCampaignBatchUpdateItem" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of PublicCampaignBatchUpdateItem objects, each containing the ID and properties to update for a specific campaign.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCampaignBatchUpdateItem"
            }
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token that indicates the position in the list before the current page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string containing the URL link to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "ContactReference" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier for the contact.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicBusinessUnit" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "The unique identifier for the business unit, represented as an integer.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to retrieve the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides the link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "PublicCampaign" : {
        "required" : [ "businessUnits", "createdAt", "id", "properties", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "businessUnits" : {
            "type" : "array",
            "description" : "An array of business units associated with the campaign, each represented by a PublicBusinessUnit object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicBusinessUnit"
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the campaign was created, formatted as a date-time string.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the campaign.",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A collection of key-value pairs representing additional properties of the campaign.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the campaign was last updated, formatted as a date-time string.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "marketing.campaigns.read" : "Read marketing campaigns",
              "marketing.campaigns.revenue.read" : "Read campaigns attribution revenue",
              "marketing.campaigns.write" : "Write marketing campaigns"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}