{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Site Search",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "PROFESSIONAL",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Build a site search bar to enable users to search through your website content.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Site Search Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/cms/site-search"
    } ],
    "x-hubspot-introduction" : "Use the site search API to return HubSpot-hosted content based on search terms. Content can be searched across multiple domains. You can also retrieve all indexed data for a specific website page, blog post, or knowledge base article using its ID."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Search"
  } ],
  "paths" : {
    "/cms/site-search/v3/search" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Search your site",
        "description" : "Returns any website content matching the given search criteria for a given HubSpot account. Searches can be filtered by content type, domain, or URL path. Includes options for weighing results by recency and popularity, along with language support.",
        "operationId" : "get-/cms/site-search/v3/search_/cms/site-search/v3/search",
        "parameters" : [ {
          "name" : "analytics",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "autocomplete",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "boostLimit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "float",
            "example" : null
          }
        }, {
          "name" : "boostRecent",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "domain",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "hubdbQuery",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AA", "AB", "AE", "AF", "AF_NA", "AF_ZA", "AGQ", "AGQ_CM", "AK", "AK_GH", "AM", "AM_ET", "AN", "ANN", "ANN_NG", "AR", "AR_001", "AR_AE", "AR_BH", "AR_DJ", "AR_DZ", "AR_EG", "AR_EH", "AR_ER", "AR_IL", "AR_IQ", "AR_JO", "AR_KM", "AR_KW", "AR_LB", "AR_LY", "AR_MA", "AR_MR", "AR_OM", "AR_PS", "AR_QA", "AR_SA", "AR_SD", "AR_SO", "AR_SS", "AR_SY", "AR_TD", "AR_TN", "AR_YE", "AS", "AS_IN", "ASA", "ASA_TZ", "AST", "AST_ES", "AV", "AY", "AZ", "AZ_AZ", "BA", "BAL", "BAL_PK", "BAS", "BAS_CM", "BE", "BE_BY", "BEM", "BEM_ZM", "BEZ", "BEZ_TZ", "BG", "BG_BG", "BGC", "BGC_IN", "BHO", "BHO_IN", "BI", "BLO", "BLO_BJ", "BM", "BM_ML", "BN", "BN_BD", "BN_IN", "BO", "BO_CN", "BO_IN", "BR", "BR_FR", "BRX", "BRX_IN", "BS", "BS_BA", "CA", "CA_AD", "CA_ES", "CA_FR", "CA_IT", "CCP", "CCP_BD", "CCP_IN", "CE", "CE_RU", "CEB", "CEB_PH", "CGG", "CGG_UG", "CH", "CHR", "CHR_US", "CKB", "CKB_IQ", "CKB_IR", "CO", "CR", "CS", "CS_CZ", "CSW", "CSW_CA", "CU", "CU_RU", "CV", "CV_RU", "CY", "CY_GB", "DA", "DA_DK", "DA_GL", "DAV", "DAV_KE", "DE", "DE_AT", "DE_BE", "DE_CH", "DE_DE", "DE_GR", "DE_IT", "DE_LI", "DE_LU", "DJE", "DJE_NE", "DOI", "DOI_IN", "DSB", "DSB_DE", "DUA", "DUA_CM", "DV", "DYO", "DYO_SN", "DZ", "DZ_BT", "EBU", "EBU_KE", "EE", "EE_GH", "EE_TG", "EL", "EL_CY", "EL_GR", "EN", "EN_001", "EN_150", "EN_AE", "EN_AG", "EN_AI", "EN_AS", "EN_AT", "EN_AU", "EN_BB", "EN_BE", "EN_BI", "EN_BM", "EN_BS", "EN_BW", "EN_BZ", "EN_CA", "EN_CC", "EN_CH", "EN_CK", "EN_CM", "EN_CN", "EN_CX", "EN_CY", "EN_CZ", "EN_DE", "EN_DG", "EN_DK", "EN_DM", "EN_EE", "EN_EG", "EN_ER", "EN_ES", "EN_FI", "EN_FJ", "EN_FK", "EN_FM", "EN_FR", "EN_GB", "EN_GD", "EN_GG", "EN_GH", "EN_GI", "EN_GM", "EN_GS", "EN_GU", "EN_GY", "EN_HK", "EN_HU", "EN_ID", "EN_IE", "EN_IL", "EN_IM", "EN_IN", "EN_IO", "EN_IT", "EN_JE", "EN_JM", "EN_KE", "EN_KI", "EN_KN", "EN_KY", "EN_LC", "EN_LR", "EN_LS", "EN_LU", "EN_MG", "EN_MH", "EN_MO", "EN_MP", "EN_MS", "EN_MT", "EN_MU", "EN_MV", "EN_MW", "EN_MX", "EN_MY", "EN_NA", "EN_NF", "EN_NG", "EN_NL", "EN_NO", "EN_NR", "EN_NU", "EN_NZ", "EN_PG", "EN_PH", "EN_PK", "EN_PL", "EN_PN", "EN_PR", "EN_PT", "EN_PW", "EN_RO", "EN_RW", "EN_SB", "EN_SC", "EN_SD", "EN_SE", "EN_SG", "EN_SH", "EN_SI", "EN_SK", "EN_SL", "EN_SS", "EN_SX", "EN_SZ", "EN_TC", "EN_TH", "EN_TK", "EN_TN", "EN_TO", "EN_TT", "EN_TV", "EN_TZ", "EN_UG", "EN_UM", "EN_US", "EN_VC", "EN_VG", "EN_VI", "EN_VN", "EN_VU", "EN_WS", "EN_ZA", "EN_ZM", "EN_ZW", "EO", "EO_001", "ES", "ES_419", "ES_AR", "ES_BO", "ES_BR", "ES_BZ", "ES_CL", "ES_CO", "ES_CR", "ES_CU", "ES_DO", "ES_EA", "ES_EC", "ES_ES", "ES_GQ", "ES_GT", "ES_HN", "ES_IC", "ES_MX", "ES_NI", "ES_PA", "ES_PE", "ES_PH", "ES_PR", "ES_PY", "ES_SV", "ES_US", "ES_UY", "ES_VE", "ET", "ET_EE", "EU", "EU_ES", "EWO", "EWO_CM", "FA", "FA_AF", "FA_IR", "FF", "FF_BF", "FF_CM", "FF_GH", "FF_GM", "FF_GN", "FF_GW", "FF_LR", "FF_MR", "FF_NE", "FF_NG", "FF_SL", "FF_SN", "FI", "FI_FI", "FIL", "FIL_PH", "FJ", "FO", "FO_DK", "FO_FO", "FR", "FR_BE", "FR_BF", "FR_BI", "FR_BJ", "FR_BL", "FR_CA", "FR_CD", "FR_CF", "FR_CG", "FR_CH", "FR_CI", "FR_CM", "FR_DJ", "FR_DZ", "FR_FR", "FR_GA", "FR_GF", "FR_GN", "FR_GP", "FR_GQ", "FR_HT", "FR_KM", "FR_LU", "FR_MA", "FR_MC", "FR_MF", "FR_MG", "FR_ML", "FR_MQ", "FR_MR", "FR_MU", "FR_NC", "FR_NE", "FR_PF", "FR_PM", "FR_RE", "FR_RW", "FR_SC", "FR_SN", "FR_SY", "FR_TD", "FR_TG", "FR_TN", "FR_VU", "FR_WF", "FR_YT", "FRR", "FRR_DE", "FUR", "FUR_IT", "FY", "FY_NL", "GA", "GA_GB", "GA_IE", "GAA", "GAA_GH", "GD", "GD_GB", "GL", "GL_ES", "GN", "GSW", "GSW_CH", "GSW_FR", "GSW_LI", "GU", "GU_IN", "GUZ", "GUZ_KE", "GV", "GV_IM", "HA", "HA_GH", "HA_NE", "HA_NG", "HAW", "HAW_US", "HE", "HE_IL", "HI", "HI_IN", "HMN", "HO", "HR", "HR_BA", "HR_HR", "HSB", "HSB_DE", "HT", "HT_HT", "HU", "HU_HU", "HY", "HY_AM", "HZ", "IA", "IA_001", "ID", "IE", "IE_EE", "IG", "IG_NG", "II", "II_CN", "IK", "IN_ID", "IO", "IS", "IS_IS", "IT", "IT_CH", "IT_IT", "IT_SM", "IT_VA", "IU", "IW_IL", "JA", "JA_JP", "JGO", "JGO_CM", "JI", "JI_001", "JMC", "JMC_TZ", "JV", "JV_ID", "KA", "KA_GE", "KAB", "KAB_DZ", "KAM", "KAM_KE", "KAR", "KDE", "KDE_TZ", "KEA", "KEA_CV", "KG", "KGP", "KGP_BR", "KH", "KHQ", "KHQ_ML", "KI", "KI_KE", "KJ", "KK", "KK_KZ", "KKJ", "KKJ_CM", "KL", "KL_GL", "KLN", "KLN_KE", "KM", "KM_KH", "KN", "KN_IN", "KO", "KO_CN", "KO_KP", "KO_KR", "KOK", "KOK_IN", "KR", "KS", "KS_IN", "KSB", "KSB_TZ", "KSF", "KSF_CM", "KSH", "KSH_DE", "KU", "KU_TR", "KV", "KW", "KW_GB", "KXV", "KXV_IN", "KY", "KY_KG", "LA", "LAG", "LAG_TZ", "LB", "LB_LU", "LG", "LG_UG", "LI", "LIJ", "LIJ_IT", "LKT", "LKT_US", "LMO", "LMO_IT", "LN", "LN_AO", "LN_CD", "LN_CF", "LN_CG", "LO", "LO_LA", "LRC", "LRC_IQ", "LRC_IR", "LT", "LT_LT", "LU", "LU_CD", "LUO", "LUO_KE", "LUY", "LUY_KE", "LV", "LV_LV", "MAI", "MAI_IN", "MAS", "MAS_KE", "MAS_TZ", "MDF", "MDF_RU", "MER", "MER_KE", "MFE", "MFE_MU", "MG", "MG_MG", "MGH", "MGH_MZ", "MGO", "MGO_CM", "MH", "MI", "MI_NZ", "MK", "MK_MK", "ML", "ML_IN", "MN", "MN_MN", "MNI", "MNI_IN", "MR", "MR_IN", "MS", "MS_BN", "MS_ID", "MS_MY", "MS_SG", "MT", "MT_MT", "MUA", "MUA_CM", "MY", "MY_MM", "MZN", "MZN_IR", "NA", "NAQ", "NAQ_NA", "NB", "NB_NO", "NB_SJ", "ND", "ND_ZW", "NDS", "NDS_DE", "NDS_NL", "NE", "NE_IN", "NE_NP", "NG", "NL", "NL_AW", "NL_BE", "NL_BQ", "NL_CH", "NL_CW", "NL_LU", "NL_NL", "NL_SR", "NL_SX", "NMG", "NMG_CM", "NN", "NN_NO", "NNH", "NNH_CM", "NO", "NO_NO", "NQO", "NQO_GN", "NR", "NSO", "NSO_ZA", "NUS", "NUS_SS", "NV", "NY", "NYN", "NYN_UG", "OC", "OC_ES", "OC_FR", "OJ", "OM", "OM_ET", "OM_KE", "OR", "OR_IN", "OS", "OS_GE", "OS_RU", "PA", "PA_IN", "PA_PK", "PCM", "PCM_NG", "PI", "PIS", "PIS_SB", "PL", "PL_PL", "PRG", "PRG_001", "PS", "PS_AF", "PS_PK", "PT", "PT_AO", "PT_BR", "PT_CH", "PT_CV", "PT_GQ", "PT_GW", "PT_LU", "PT_MO", "PT_MZ", "PT_PT", "PT_ST", "PT_TL", "QU", "QU_BO", "QU_EC", "QU_PE", "RAJ", "RAJ_IN", "RM", "RM_CH", "RN", "RN_BI", "RO", "RO_MD", "RO_RO", "ROF", "ROF_TZ", "RU", "RU_BY", "RU_KG", "RU_KZ", "RU_MD", "RU_RU", "RU_UA", "RW", "RW_RW", "RWK", "RWK_TZ", "SA", "SA_IN", "SAH", "SAH_RU", "SAQ", "SAQ_KE", "SAT", "SAT_IN", "SBP", "SBP_TZ", "SC", "SC_IT", "SD", "SD_IN", "SD_PK", "SE", "SE_FI", "SE_NO", "SE_SE", "SEH", "SEH_MZ", "SES", "SES_ML", "SG", "SG_CF", "SHI", "SHI_MA", "SI", "SI_LK", "SK", "SK_SK", "SL", "SL_SI", "SM", "SMN", "SMN_FI", "SMS", "SMS_FI", "SN", "SN_ZW", "SO", "SO_DJ", "SO_ET", "SO_KE", "SO_SO", "SQ", "SQ_AL", "SQ_MK", "SQ_XK", "SR", "SR_BA", "SR_CS", "SR_ME", "SR_RS", "SR_XK", "SS", "ST", "ST_LS", "ST_ZA", "SU", "SU_ID", "SV", "SV_AX", "SV_FI", "SV_SE", "SW", "SW_CD", "SW_KE", "SW_TZ", "SW_UG", "SY", "SYR", "SYR_IQ", "SYR_SY", "SZL", "SZL_PL", "TA", "TA_IN", "TA_LK", "TA_MY", "TA_SG", "TE", "TE_IN", "TEO", "TEO_KE", "TEO_UG", "TG", "TG_TJ", "TH", "TH_TH", "TI", "TI_ER", "TI_ET", "TK", "TK_TM", "TL", "TN", "TN_BW", "TN_ZA", "TO", "TO_TO", "TOK", "TOK_001", "TR", "TR_CY", "TR_TR", "TS", "TT", "TT_RU", "TW", "TWQ", "TWQ_NE", "TY", "TZM", "TZM_MA", "UG", "UG_CN", "UK", "UK_UA", "UR", "UR_IN", "UR_PK", "UZ", "UZ_AF", "UZ_UZ", "VAI", "VAI_LR", "VE", "VEC", "VEC_IT", "VI", "VI_VN", "VMW", "VMW_MZ", "VO", "VO_001", "VUN", "VUN_TZ", "WA", "WAE", "WAE_CH", "WO", "WO_SN", "XH", "XH_ZA", "XNR", "XNR_IN", "XOG", "XOG_UG", "YAV", "YAV_CM", "YI", "YI_UA", "YO", "YO_BJ", "YO_NG", "YRL", "YRL_BR", "YRL_CO", "YRL_VE", "YUE", "YUE_CN", "YUE_HK", "YUE_MO", "ZA", "ZA_CN", "ZGH", "ZGH_MA", "ZH", "ZH_CN", "ZH_HANS", "ZH_HANT", "ZH_HK", "ZH_MO", "ZH_MY", "ZH_SG", "ZH_TW", "ZU", "ZU_ZA" ]
          }
        }, {
          "name" : "length",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "LONG", "SHORT" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "matchPrefix",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "pathPrefix",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "popularityBoost",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "float",
            "example" : null
          }
        }, {
          "name" : "property",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tableId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "LANDING_PAGE", "BLOG_POST", "SITE_PAGE", "KNOWLEDGE_ARTICLE", "LISTING_PAGE", "STRUCTURED_CONTENT" ]
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSearchResults"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/site-search/indexed-data/{contentId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Get indexed properties",
        "description" : "Return all indexed data for an asset (e.g., page, blog post, HubDB table), specified by ID. This is useful when debugging why a particular asset is not returned from a custom search.",
        "operationId" : "get-/cms/v3/site-search/indexed-data/{contentId}_getById",
        "parameters" : [ {
          "name" : "contentId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".*",
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IndexedData"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ContentSearchResult" : {
        "required" : [ "domain", "id", "score", "type", "url" ],
        "type" : "object",
        "properties" : {
          "authorFullName" : {
            "type" : "string",
            "description" : "Name of the author.",
            "example" : null
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "combinedId" : {
            "type" : "string",
            "description" : "The ID of the document in HubSpot.",
            "example" : null
          },
          "contentType" : {
            "type" : "string",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "The result's description. The content will be determined by the value of `length` in the request.",
            "example" : null
          },
          "domain" : {
            "type" : "string",
            "description" : "The domain the document is hosted on.",
            "example" : null
          },
          "featuredImageUrl" : {
            "type" : "string",
            "description" : "URL of the featured image.",
            "example" : null
          },
          "id" : {
            "type" : "integer",
            "description" : "The ID of the content.",
            "format" : "int64",
            "example" : null
          },
          "inBeta" : {
            "type" : "boolean",
            "example" : null
          },
          "isPrivate" : {
            "type" : "boolean",
            "example" : null
          },
          "language" : {
            "type" : "string",
            "description" : "The document's language.",
            "example" : null,
            "enum" : [ "AA", "AB", "AE", "AF", "AF_NA", "AF_ZA", "AGQ", "AGQ_CM", "AK", "AK_GH", "AM", "AM_ET", "AN", "ANN", "ANN_NG", "AR", "AR_001", "AR_AE", "AR_BH", "AR_DJ", "AR_DZ", "AR_EG", "AR_EH", "AR_ER", "AR_IL", "AR_IQ", "AR_JO", "AR_KM", "AR_KW", "AR_LB", "AR_LY", "AR_MA", "AR_MR", "AR_OM", "AR_PS", "AR_QA", "AR_SA", "AR_SD", "AR_SO", "AR_SS", "AR_SY", "AR_TD", "AR_TN", "AR_YE", "AS", "AS_IN", "ASA", "ASA_TZ", "AST", "AST_ES", "AV", "AY", "AZ", "AZ_AZ", "BA", "BAL", "BAL_PK", "BAS", "BAS_CM", "BE", "BE_BY", "BEM", "BEM_ZM", "BEZ", "BEZ_TZ", "BG", "BG_BG", "BGC", "BGC_IN", "BHO", "BHO_IN", "BI", "BLO", "BLO_BJ", "BM", "BM_ML", "BN", "BN_BD", "BN_IN", "BO", "BO_CN", "BO_IN", "BR", "BR_FR", "BRX", "BRX_IN", "BS", "BS_BA", "CA", "CA_AD", "CA_ES", "CA_FR", "CA_IT", "CCP", "CCP_BD", "CCP_IN", "CE", "CE_RU", "CEB", "CEB_PH", "CGG", "CGG_UG", "CH", "CHR", "CHR_US", "CKB", "CKB_IQ", "CKB_IR", "CO", "CR", "CS", "CS_CZ", "CSW", "CSW_CA", "CU", "CU_RU", "CV", "CV_RU", "CY", "CY_GB", "DA", "DA_DK", "DA_GL", "DAV", "DAV_KE", "DE", "DE_AT", "DE_BE", "DE_CH", "DE_DE", "DE_GR", "DE_IT", "DE_LI", "DE_LU", "DJE", "DJE_NE", "DOI", "DOI_IN", "DSB", "DSB_DE", "DUA", "DUA_CM", "DV", "DYO", "DYO_SN", "DZ", "DZ_BT", "EBU", "EBU_KE", "EE", "EE_GH", "EE_TG", "EL", "EL_CY", "EL_GR", "EN", "EN_001", "EN_150", "EN_AE", "EN_AG", "EN_AI", "EN_AS", "EN_AT", "EN_AU", "EN_BB", "EN_BE", "EN_BI", "EN_BM", "EN_BS", "EN_BW", "EN_BZ", "EN_CA", "EN_CC", "EN_CH", "EN_CK", "EN_CM", "EN_CN", "EN_CX", "EN_CY", "EN_CZ", "EN_DE", "EN_DG", "EN_DK", "EN_DM", "EN_EE", "EN_EG", "EN_ER", "EN_ES", "EN_FI", "EN_FJ", "EN_FK", "EN_FM", "EN_FR", "EN_GB", "EN_GD", "EN_GG", "EN_GH", "EN_GI", "EN_GM", "EN_GS", "EN_GU", "EN_GY", "EN_HK", "EN_HU", "EN_ID", "EN_IE", "EN_IL", "EN_IM", "EN_IN", "EN_IO", "EN_IT", "EN_JE", "EN_JM", "EN_KE", "EN_KI", "EN_KN", "EN_KY", "EN_LC", "EN_LR", "EN_LS", "EN_LU", "EN_MG", "EN_MH", "EN_MO", "EN_MP", "EN_MS", "EN_MT", "EN_MU", "EN_MV", "EN_MW", "EN_MX", "EN_MY", "EN_NA", "EN_NF", "EN_NG", "EN_NL", "EN_NO", "EN_NR", "EN_NU", "EN_NZ", "EN_PG", "EN_PH", "EN_PK", "EN_PL", "EN_PN", "EN_PR", "EN_PT", "EN_PW", "EN_RO", "EN_RW", "EN_SB", "EN_SC", "EN_SD", "EN_SE", "EN_SG", "EN_SH", "EN_SI", "EN_SK", "EN_SL", "EN_SS", "EN_SX", "EN_SZ", "EN_TC", "EN_TH", "EN_TK", "EN_TN", "EN_TO", "EN_TT", "EN_TV", "EN_TZ", "EN_UG", "EN_UM", "EN_US", "EN_VC", "EN_VG", "EN_VI", "EN_VN", "EN_VU", "EN_WS", "EN_ZA", "EN_ZM", "EN_ZW", "EO", "EO_001", "ES", "ES_419", "ES_AR", "ES_BO", "ES_BR", "ES_BZ", "ES_CL", "ES_CO", "ES_CR", "ES_CU", "ES_DO", "ES_EA", "ES_EC", "ES_ES", "ES_GQ", "ES_GT", "ES_HN", "ES_IC", "ES_MX", "ES_NI", "ES_PA", "ES_PE", "ES_PH", "ES_PR", "ES_PY", "ES_SV", "ES_US", "ES_UY", "ES_VE", "ET", "ET_EE", "EU", "EU_ES", "EWO", "EWO_CM", "FA", "FA_AF", "FA_IR", "FF", "FF_BF", "FF_CM", "FF_GH", "FF_GM", "FF_GN", "FF_GW", "FF_LR", "FF_MR", "FF_NE", "FF_NG", "FF_SL", "FF_SN", "FI", "FI_FI", "FIL", "FIL_PH", "FJ", "FO", "FO_DK", "FO_FO", "FR", "FR_BE", "FR_BF", "FR_BI", "FR_BJ", "FR_BL", "FR_CA", "FR_CD", "FR_CF", "FR_CG", "FR_CH", "FR_CI", "FR_CM", "FR_DJ", "FR_DZ", "FR_FR", "FR_GA", "FR_GF", "FR_GN", "FR_GP", "FR_GQ", "FR_HT", "FR_KM", "FR_LU", "FR_MA", "FR_MC", "FR_MF", "FR_MG", "FR_ML", "FR_MQ", "FR_MR", "FR_MU", "FR_NC", "FR_NE", "FR_PF", "FR_PM", "FR_RE", "FR_RW", "FR_SC", "FR_SN", "FR_SY", "FR_TD", "FR_TG", "FR_TN", "FR_VU", "FR_WF", "FR_YT", "FRR", "FRR_DE", "FUR", "FUR_IT", "FY", "FY_NL", "GA", "GA_GB", "GA_IE", "GAA", "GAA_GH", "GD", "GD_GB", "GL", "GL_ES", "GN", "GSW", "GSW_CH", "GSW_FR", "GSW_LI", "GU", "GU_IN", "GUZ", "GUZ_KE", "GV", "GV_IM", "HA", "HA_GH", "HA_NE", "HA_NG", "HAW", "HAW_US", "HE", "HE_IL", "HI", "HI_IN", "HMN", "HO", "HR", "HR_BA", "HR_HR", "HSB", "HSB_DE", "HT", "HT_HT", "HU", "HU_HU", "HY", "HY_AM", "HZ", "IA", "IA_001", "ID", "IE", "IE_EE", "IG", "IG_NG", "II", "II_CN", "IK", "IN_ID", "IO", "IS", "IS_IS", "IT", "IT_CH", "IT_IT", "IT_SM", "IT_VA", "IU", "IW_IL", "JA", "JA_JP", "JGO", "JGO_CM", "JI", "JI_001", "JMC", "JMC_TZ", "JV", "JV_ID", "KA", "KA_GE", "KAB", "KAB_DZ", "KAM", "KAM_KE", "KAR", "KDE", "KDE_TZ", "KEA", "KEA_CV", "KG", "KGP", "KGP_BR", "KH", "KHQ", "KHQ_ML", "KI", "KI_KE", "KJ", "KK", "KK_KZ", "KKJ", "KKJ_CM", "KL", "KL_GL", "KLN", "KLN_KE", "KM", "KM_KH", "KN", "KN_IN", "KO", "KO_CN", "KO_KP", "KO_KR", "KOK", "KOK_IN", "KR", "KS", "KS_IN", "KSB", "KSB_TZ", "KSF", "KSF_CM", "KSH", "KSH_DE", "KU", "KU_TR", "KV", "KW", "KW_GB", "KXV", "KXV_IN", "KY", "KY_KG", "LA", "LAG", "LAG_TZ", "LB", "LB_LU", "LG", "LG_UG", "LI", "LIJ", "LIJ_IT", "LKT", "LKT_US", "LMO", "LMO_IT", "LN", "LN_AO", "LN_CD", "LN_CF", "LN_CG", "LO", "LO_LA", "LRC", "LRC_IQ", "LRC_IR", "LT", "LT_LT", "LU", "LU_CD", "LUO", "LUO_KE", "LUY", "LUY_KE", "LV", "LV_LV", "MAI", "MAI_IN", "MAS", "MAS_KE", "MAS_TZ", "MDF", "MDF_RU", "MER", "MER_KE", "MFE", "MFE_MU", "MG", "MG_MG", "MGH", "MGH_MZ", "MGO", "MGO_CM", "MH", "MI", "MI_NZ", "MK", "MK_MK", "ML", "ML_IN", "MN", "MN_MN", "MNI", "MNI_IN", "MR", "MR_IN", "MS", "MS_BN", "MS_ID", "MS_MY", "MS_SG", "MT", "MT_MT", "MUA", "MUA_CM", "MY", "MY_MM", "MZN", "MZN_IR", "NA", "NAQ", "NAQ_NA", "NB", "NB_NO", "NB_SJ", "ND", "ND_ZW", "NDS", "NDS_DE", "NDS_NL", "NE", "NE_IN", "NE_NP", "NG", "NL", "NL_AW", "NL_BE", "NL_BQ", "NL_CH", "NL_CW", "NL_LU", "NL_NL", "NL_SR", "NL_SX", "NMG", "NMG_CM", "NN", "NN_NO", "NNH", "NNH_CM", "NO", "NO_NO", "NQO", "NQO_GN", "NR", "NSO", "NSO_ZA", "NUS", "NUS_SS", "NV", "NY", "NYN", "NYN_UG", "OC", "OC_ES", "OC_FR", "OJ", "OM", "OM_ET", "OM_KE", "OR", "OR_IN", "OS", "OS_GE", "OS_RU", "PA", "PA_IN", "PA_PK", "PCM", "PCM_NG", "PI", "PIS", "PIS_SB", "PL", "PL_PL", "PRG", "PRG_001", "PS", "PS_AF", "PS_PK", "PT", "PT_AO", "PT_BR", "PT_CH", "PT_CV", "PT_GQ", "PT_GW", "PT_LU", "PT_MO", "PT_MZ", "PT_PT", "PT_ST", "PT_TL", "QU", "QU_BO", "QU_EC", "QU_PE", "RAJ", "RAJ_IN", "RM", "RM_CH", "RN", "RN_BI", "RO", "RO_MD", "RO_RO", "ROF", "ROF_TZ", "RU", "RU_BY", "RU_KG", "RU_KZ", "RU_MD", "RU_RU", "RU_UA", "RW", "RW_RW", "RWK", "RWK_TZ", "SA", "SA_IN", "SAH", "SAH_RU", "SAQ", "SAQ_KE", "SAT", "SAT_IN", "SBP", "SBP_TZ", "SC", "SC_IT", "SD", "SD_IN", "SD_PK", "SE", "SE_FI", "SE_NO", "SE_SE", "SEH", "SEH_MZ", "SES", "SES_ML", "SG", "SG_CF", "SHI", "SHI_MA", "SI", "SI_LK", "SK", "SK_SK", "SL", "SL_SI", "SM", "SMN", "SMN_FI", "SMS", "SMS_FI", "SN", "SN_ZW", "SO", "SO_DJ", "SO_ET", "SO_KE", "SO_SO", "SQ", "SQ_AL", "SQ_MK", "SQ_XK", "SR", "SR_BA", "SR_CS", "SR_ME", "SR_RS", "SR_XK", "SS", "ST", "ST_LS", "ST_ZA", "SU", "SU_ID", "SV", "SV_AX", "SV_FI", "SV_SE", "SW", "SW_CD", "SW_KE", "SW_TZ", "SW_UG", "SY", "SYR", "SYR_IQ", "SYR_SY", "SZL", "SZL_PL", "TA", "TA_IN", "TA_LK", "TA_MY", "TA_SG", "TE", "TE_IN", "TEO", "TEO_KE", "TEO_UG", "TG", "TG_TJ", "TH", "TH_TH", "TI", "TI_ER", "TI_ET", "TK", "TK_TM", "TL", "TN", "TN_BW", "TN_ZA", "TO", "TO_TO", "TOK", "TOK_001", "TR", "TR_CY", "TR_TR", "TS", "TT", "TT_RU", "TW", "TWQ", "TWQ_NE", "TY", "TZM", "TZM_MA", "UG", "UG_CN", "UK", "UK_UA", "UR", "UR_IN", "UR_PK", "UZ", "UZ_AF", "UZ_UZ", "VAI", "VAI_LR", "VE", "VEC", "VEC_IT", "VI", "VI_VN", "VMW", "VMW_MZ", "VO", "VO_001", "VUN", "VUN_TZ", "WA", "WAE", "WAE_CH", "WO", "WO_SN", "XH", "XH_ZA", "XNR", "XNR_IN", "XOG", "XOG_UG", "YAV", "YAV_CM", "YI", "YI_UA", "YO", "YO_BJ", "YO_NG", "YRL", "YRL_BR", "YRL_CO", "YRL_VE", "YUE", "YUE_CN", "YUE_HK", "YUE_MO", "ZA", "ZA_CN", "ZGH", "ZGH_MA", "ZH", "ZH_CN", "ZH_HANS", "ZH_HANT", "ZH_HK", "ZH_MO", "ZH_MY", "ZH_SG", "ZH_TW", "ZU", "ZU_ZA" ]
          },
          "publishedDate" : {
            "type" : "integer",
            "description" : "The date the content was published.",
            "format" : "int64",
            "example" : null
          },
          "rowId" : {
            "type" : "integer",
            "description" : "If a dynamic page, the row ID in the HubDB table.",
            "format" : "int64",
            "example" : null
          },
          "score" : {
            "type" : "number",
            "description" : "The matching score of the document.",
            "format" : "float",
            "example" : null
          },
          "subcategory" : {
            "type" : "string",
            "description" : "For knowledge articles, the subcategory of the article.",
            "example" : null
          },
          "tableId" : {
            "type" : "integer",
            "description" : "If a dynamic page, the ID of the HubDB table.",
            "format" : "int64",
            "example" : null
          },
          "tags" : {
            "type" : "array",
            "description" : "If a blog post, the tags associated with it.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "title" : {
            "type" : "string",
            "description" : "The title of the returned document.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of document. Can be `SITE_PAGE`, `LANDING_PAGE`, `BLOG_POST`, `LISTING_PAGE`, or `KNOWLEDGE_ARTICLE`.",
            "example" : null,
            "enum" : [ "BLOG_POST", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LISTING_PAGE", "SITE_PAGE", "STRUCTURED_CONTENT" ]
          },
          "url" : {
            "type" : "string",
            "description" : "The url of the document.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedData" : {
        "required" : [ "fields", "id", "type" ],
        "type" : "object",
        "properties" : {
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/IndexedField"
            },
            "description" : "The indexed fields in HubSpot.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the document in HubSpot.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of document. Can be `SITE_PAGE`, `LANDING_PAGE`, `BLOG_POST`, `LISTING_PAGE`, or `KNOWLEDGE_ARTICLE`.",
            "example" : null,
            "enum" : [ "BLOG_POST", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LISTING_PAGE", "SITE_PAGE", "STRUCTURED_CONTENT" ]
          }
        },
        "example" : null
      },
      "IndexedField" : {
        "required" : [ "metadataField", "name", "value", "values" ],
        "type" : "object",
        "properties" : {
          "metadataField" : {
            "type" : "boolean",
            "description" : "Indicates whether the field is a metadata field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the indexed field.",
            "example" : null
          },
          "value" : {
            "type" : "object",
            "properties" : { },
            "description" : "The primary value of the indexed field.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "object",
              "properties" : { },
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicSearchResults" : {
        "required" : [ "limit", "offset", "page", "results", "total" ],
        "type" : "object",
        "properties" : {
          "limit" : {
            "type" : "integer",
            "description" : "The number of results returned in a single response.",
            "format" : "int32",
            "example" : null
          },
          "offset" : {
            "type" : "integer",
            "description" : "The starting point for the next set of results in pagination.",
            "format" : "int32",
            "example" : null
          },
          "page" : {
            "type" : "integer",
            "description" : "The current page number in the paginated results.",
            "format" : "int32",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContentSearchResult"
            }
          },
          "searchTerm" : {
            "type" : "string",
            "description" : "The term used in the search query.",
            "example" : null
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of results found for the search term.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "content" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "PROFESSIONAL",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}