{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Scheduler Meetings",
    "description" : "Meetings Service For HubSpot Sales",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/scheduler/2027-03-beta/meetings/calendar" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Meeting",
        "description" : "Create a new calendar meeting event in the HubSpot system. This endpoint allows you to schedule meetings by providing necessary details such as meeting title, start and end times, and associated user information. It is essential for organizing meetings and managing schedules within the HubSpot platform.",
        "operationId" : "post-/scheduler/2027-03-beta/meetings/calendar_/scheduler/2026-09-beta/meetings/calendar",
        "parameters" : [ {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalCalenderMeetingEventResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "meetings-write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2027-03-beta/meetings/meeting-links" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List meeting links",
        "description" : "Retrieve a list of meeting links available in your HubSpot account. This endpoint allows you to filter the results by various criteria such as the organizer's user ID, meeting type, and name. It supports pagination to help manage large sets of data.",
        "operationId" : "get-/scheduler/2027-03-beta/meetings/meeting-links_/scheduler/2026-09-beta/meetings/meeting-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalLinkMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2027-03-beta/meetings/meeting-links/book" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Book Meeting",
        "description" : "Book a meeting using a meeting link in your HubSpot account. This endpoint allows you to specify details such as the meeting duration, start time, and participant information. It is useful for scheduling meetings with external participants through a predefined meeting link.",
        "operationId" : "post-/scheduler/2027-03-beta/meetings/meeting-links/book_/scheduler/2026-09-beta/meetings/meeting-links/book",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalMeetingBooking"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalMeetingBookingResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "meetings-write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2027-03-beta/meetings/meeting-links/book/availability-page/{slug}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve availability",
        "description" : "Retrieve the availability and busy times for a specific meeting link using its slug. This endpoint provides information about when meetings can be scheduled, taking into account the specified timezone and any month offset. It is useful for determining available time slots for booking meetings.",
        "operationId" : "get-/scheduler/2027-03-beta/meetings/meeting-links/book/availability-page/{slug}_/scheduler/2026-09-beta/meetings/meeting-links/book/availability-page/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "monthOffset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalLinkAvailabilityAndBusyTimes"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2027-03-beta/meetings/meeting-links/book/{slug}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve booking info",
        "description" : "Retrieve information about a specific meeting booking using a unique slug identifier. This endpoint provides details such as availability and busy times for the meeting link. It is useful for checking the status and details of a meeting link before booking.",
        "operationId" : "get-/scheduler/2027-03-beta/meetings/meeting-links/book/{slug}_/scheduler/2026-09-beta/meetings/meeting-links/book/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBookingInfo"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2027-03-beta/meetings/meeting-links/{meetingLinkSlug}" : {
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update meeting link",
        "description" : "Update the details of a specific meeting link using its unique slug. This operation allows you to modify the settings or metadata associated with a meeting link in your HubSpot account.",
        "operationId" : "patch-/scheduler/2027-03-beta/meetings/meeting-links/{meetingLinkSlug}_/scheduler/2026-09-beta/meetings/meeting-links/{meetingLinkSlug}",
        "parameters" : [ {
          "name" : "meetingLinkSlug",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalMeetingsLinkUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalLinkMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "meetings-write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string representing the category of the association. Valid values include 'HUBSPOT_DEFINED', 'USER_DEFINED', 'INTEGRATOR_DEFINED', and 'WORK'.",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "CollectionResponseWithTotalExternalLinkMetadata" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of ExternalLinkMetadata objects, each containing details about a specific external link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkMetadata"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer representing the total number of external link metadata entries available.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "ExternalAssociationCreateRequest" : {
        "required" : [ "to", "types" ],
        "type" : "object",
        "properties" : {
          "to" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          },
          "types" : {
            "type" : "array",
            "description" : "An array of association specifications that define the types of associations to be created. Each item in the array is a reference to an AssociationSpec schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationSpec"
            }
          }
        },
        "example" : null
      },
      "ExternalBookingFormField" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the form field, represented as a string.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value associated with the form field, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBookingInfo" : {
        "required" : [ "allUsersBusyTimes", "customParams", "isOffline", "linkId", "linkType" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "description" : "A list of busy times for all users associated with the meeting link, defined by the ExternalUserBusyTimes schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "brandingMetadata" : {
            "$ref" : "#/components/schemas/ExternalBrandingMetadata"
          },
          "customParams" : {
            "$ref" : "#/components/schemas/ExternalMeetingsLinkSettings"
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "Indicates whether the meeting link is offline. A boolean value.",
            "example" : null
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          },
          "linkId" : {
            "type" : "string",
            "description" : "The unique identifier for the meeting link.",
            "example" : null
          },
          "linkType" : {
            "type" : "string",
            "description" : "The type of meeting link. Valid values include 'PERSONAL_LINK', 'GROUP_CALENDAR', and 'ROUND_ROBIN_CALENDAR'.",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          }
        },
        "example" : null
      },
      "ExternalBrandingMetadata" : {
        "required" : [ "logoAltText", "showMarketingAd", "showSalesAd" ],
        "type" : "object",
        "properties" : {
          "accent2Color" : {
            "type" : "string",
            "description" : "An additional accent color used in the branding, represented as a string.",
            "example" : null
          },
          "accentColor" : {
            "type" : "string",
            "description" : "The accent color used in the branding, represented as a string.",
            "example" : null
          },
          "companyAddressLine1" : {
            "type" : "string",
            "description" : "The first line of the company's address.",
            "example" : null
          },
          "companyAddressLine2" : {
            "type" : "string",
            "description" : "The second line of the company's address, if needed.",
            "example" : null
          },
          "companyAvatar" : {
            "type" : "string",
            "description" : "The URL of the company's avatar image.",
            "example" : null
          },
          "companyCity" : {
            "type" : "string",
            "description" : "The city where the company is located.",
            "example" : null
          },
          "companyCountry" : {
            "type" : "string",
            "description" : "The country where the company is located.",
            "example" : null
          },
          "companyDomain" : {
            "type" : "string",
            "description" : "The domain of the company, typically used in URLs.",
            "example" : null
          },
          "companyName" : {
            "type" : "string",
            "description" : "The name of the company.",
            "example" : null
          },
          "companyState" : {
            "type" : "string",
            "description" : "The state where the company is located.",
            "example" : null
          },
          "companyZip" : {
            "type" : "string",
            "description" : "The postal code for the company's location.",
            "example" : null
          },
          "logoAltText" : {
            "type" : "string",
            "description" : "The alternative text for the logo, used for accessibility and when the image cannot be displayed.",
            "example" : null
          },
          "logoHeight" : {
            "type" : "integer",
            "description" : "The height of the logo in pixels.",
            "format" : "int32",
            "example" : null
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "The URL of the logo image.",
            "example" : null
          },
          "logoWidth" : {
            "type" : "integer",
            "description" : "The width of the logo in pixels.",
            "format" : "int32",
            "example" : null
          },
          "primaryColor" : {
            "type" : "string",
            "description" : "The primary color used in the branding, represented as a string.",
            "example" : null
          },
          "secondaryColor" : {
            "type" : "string",
            "description" : "The secondary color used in the branding, represented as a string.",
            "example" : null
          },
          "showMarketingAd" : {
            "type" : "boolean",
            "description" : "Indicates whether a marketing advertisement should be displayed. This is a boolean value.",
            "example" : null
          },
          "showSalesAd" : {
            "type" : "boolean",
            "description" : "Indicates whether a sales advertisement should be displayed. This is a boolean value.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventCreateProperties" : {
        "required" : [ "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp", "hubspot_owner_id" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string",
            "description" : "The type of activity for the meeting. It is a string value.",
            "example" : null
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "description" : "An array of attachment IDs associated with the meeting. Each ID is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "description" : "An array of owner IDs for the attendees of the meeting. Each ID is a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_internal_meeting_notes" : {
            "type" : "string",
            "description" : "Internal notes for the meeting. It is a string value.",
            "example" : null
          },
          "hs_meeting_body" : {
            "type" : "string",
            "description" : "The body content or description of the meeting. It is a string value.",
            "example" : null
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "description" : "The end time of the meeting, in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_location" : {
            "type" : "string",
            "description" : "The location of the meeting. It is a string value.",
            "example" : null
          },
          "hs_meeting_location_type" : {
            "type" : "string",
            "description" : "The type of location for the meeting. Valid values include 'PHONE', 'ADDRESS', and 'CUSTOM'.",
            "example" : null,
            "enum" : [ "ADDRESS", "CUSTOM", "PHONE" ]
          },
          "hs_meeting_outcome" : {
            "type" : "string",
            "description" : "The outcome of the meeting. It is a string value.",
            "example" : null
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "description" : "The start time of the meeting, in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_title" : {
            "type" : "string",
            "description" : "The title of the meeting. It is a string value.",
            "example" : null
          },
          "hs_timestamp" : {
            "type" : "string",
            "description" : "The timestamp of the meeting event creation, in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "hubspot_owner_id" : {
            "type" : "string",
            "description" : "The unique identifier of the HubSpot owner associated with the meeting. It is a string value.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventCreateRequest" : {
        "required" : [ "associations", "emailReminderSchedule", "properties", "timezone" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "type" : "array",
            "description" : "An array of association objects that link the meeting event to other HubSpot objects, such as contacts or deals.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalAssociationCreateRequest"
            }
          },
          "emailReminderSchedule" : {
            "$ref" : "#/components/schemas/ExternalEmailReminderSchedule"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateProperties"
          },
          "timezone" : {
            "type" : "string",
            "description" : "A string representing the timezone in which the meeting is scheduled.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventResponseProperties" : {
        "required" : [ "hs_engagement_source", "hs_engagement_source_id", "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string",
            "description" : "The type of activity associated with the meeting event.",
            "example" : null
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "description" : "An array of unique identifiers for attachments associated with the meeting event.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "description" : "An array of unique identifiers for the owners of attendees associated with the meeting event.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_engagement_source" : {
            "type" : "string",
            "description" : "The source of the engagement for the meeting event. Valid values include a wide range of sources such as 'UNKNOWN', 'IMPORT', 'API', 'FORM', and many others.",
            "example" : null,
            "enum" : [ "ACADEMY", "ACCEPTANCE_TEST", "ACTIVITY_AUTO_ASSOCIATE", "ACTIVITY_LOG_REVERT", "ADS", "AI_GROUP", "ANALYTICS", "API", "APPROVALS", "ASSISTS", "ASSOCIATIONS", "AUTO_ASSOCIATE_BY_DOMAIN", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM", "AVATARS_SERVICE", "BATCH_UPDATE", "BCC_TO_CRM", "BEHAVIORAL_EVENTS", "BET_ASSIGNMENT", "BET_CRM_CONNECTOR", "BIDEN", "BILLING", "BOT", "BREEZE_AGENT", "CALCULATED", "CENTRAL_EXCHANGE_RATES", "CHATSPOT", "CLONE_OBJECTS", "COMMUNICATOR", "COMPANIES", "COMPANY_FAMILIES", "COMPANY_INSIGHTS", "CONNECTED_ACCOUNT", "CONTACTS", "CONTACTS_WEB", "CONTENT_MEMBERSHIP", "CONVERSATIONAL_ENRICHMENT", "CONVERSATIONS", "CRM_PROCESSES_PLATFORM", "CRM_UI", "CRM_UI_BULK_ACTION", "CUSTOMER_AGENT", "CUSTOMER_PORTAL", "DATA_ENRICHMENT", "DATA_QUALITY", "DATASET", "DEALS", "DEFAULT", "DELETE_OBJECTS", "DI_WRITE_TO_CRM", "EMAIL", "EMAIL_INBOX_IMPORT", "EMAIL_INTEGRATION", "ENGAGEMENTS", "EXTENSION", "FILE_MANAGER", "FLYWHEEL_PRODUCT_DATA_SYNC", "FORECASTING", "FORM", "FORWARD_TO_CRM", "GMAIL_INTEGRATION", "GOALS", "HEISENBERG", "HELP_DESK", "HELP_DESK_AI", "IMPORT", "INTEGRATION", "INTEGRATIONS_PLATFORM", "INTEGRATIONS_SYNC", "INTENT", "INTERNAL_PROCESSING", "LEADIN", "LEGAL_BASIS_REMEDIATION", "MARKET_SOURCING", "MARKETPLACE", "MARKETS", "MEETINGS", "MERGE_COMPANIES", "MERGE_CONTACTS", "MERGE_OBJECTS", "MERGE_REVERT_OBJECTS", "MICROAPPS", "MIGRATION", "MOBILE_ANDROID", "MOBILE_IOS", "PAYMENTS", "PIPELINE_SETTINGS", "PLAYBOOKS", "PORTAL_OBJECT_SYNC", "PORTAL_USER_ASSOCIATOR", "PRESENTATIONS", "PRIMARY_AUTOMATION", "PROPERTY_DEFAULT_VALUE", "PROPERTY_RESTORE", "PROPERTY_SETTINGS", "PROSPECTING_AGENT", "QUOTAS", "QUOTES", "RECYCLING_BIN", "RESTORE_OBJECTS", "REVENUE_PLATFORM", "SALES", "SALES_MESSAGES", "SALESFORCE", "SEQUENCES", "SETTINGS", "SIDEKICK", "SIGNALS", "SLACK_INTEGRATION", "SMART_DATA_CAPTURE", "SOCIAL", "SUCCESS", "TALLY", "TASK", "UNKNOWN", "WAL_INCREMENTAL", "WORK_UI", "WORKFLOW_CONTACT_DELETE_ACTION", "WORKFLOWS" ]
          },
          "hs_engagement_source_id" : {
            "type" : "string",
            "description" : "The unique identifier for the source of the engagement.",
            "example" : null
          },
          "hs_include_description_in_reminder" : {
            "type" : "string",
            "description" : "Indicates whether the meeting description should be included in reminders.",
            "example" : null
          },
          "hs_internal_meeting_notes" : {
            "type" : "string",
            "description" : "Internal notes related to the meeting event.",
            "example" : null
          },
          "hs_meeting_body" : {
            "type" : "string",
            "description" : "The body or description of the meeting event.",
            "example" : null
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "description" : "The end time of the meeting event, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_external_url" : {
            "type" : "string",
            "description" : "The external URL associated with the meeting event.",
            "example" : null
          },
          "hs_meeting_location" : {
            "type" : "string",
            "description" : "The location where the meeting event is held.",
            "example" : null
          },
          "hs_meeting_location_type" : {
            "type" : "string",
            "description" : "The type of location for the meeting event. Valid values include 'PHONE', 'ADDRESS', and 'CUSTOM'.",
            "example" : null,
            "enum" : [ "ADDRESS", "CUSTOM", "PHONE" ]
          },
          "hs_meeting_outcome" : {
            "type" : "string",
            "description" : "The outcome of the meeting event.",
            "example" : null
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "description" : "The start time of the meeting event, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_title" : {
            "type" : "string",
            "description" : "The title of the meeting event.",
            "example" : null
          },
          "hs_timestamp" : {
            "type" : "string",
            "description" : "A timestamp indicating when the meeting event was created or last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_unique_id" : {
            "type" : "string",
            "description" : "A unique identifier for the meeting event.",
            "example" : null
          },
          "hubspot_owner_id" : {
            "type" : "string",
            "description" : "The unique identifier of the HubSpot owner associated with the meeting event.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalenderMeetingEventResponse" : {
        "required" : [ "createdAt", "id", "lastUpdatedAt", "properties" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting event was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the meeting event, represented as a string.",
            "example" : null
          },
          "lastUpdatedAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting event was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventResponseProperties"
          }
        },
        "example" : null
      },
      "ExternalClosedRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "description" : "The ending point of the time range, represented as an integer in Unix timestamp format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "start" : {
            "type" : "integer",
            "description" : "The starting point of the time range, represented as an integer in Unix timestamp format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCommunicationConsentCheckbox" : {
        "required" : [ "communicationTypeId", "label", "required" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the type of communication consent.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string that provides the label text displayed next to the consent checkbox.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the consent checkbox is mandatory for the user to check.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalEmailReminderSchedule" : {
        "required" : [ "reminders", "shouldIncludeInviteDescription" ],
        "type" : "object",
        "properties" : {
          "reminders" : {
            "type" : "array",
            "description" : "An array of reminder objects, each specifying the timing for sending a reminder before the meeting. Each reminder includes the number of time units and the type of time unit (e.g., weeks, days, hours, minutes).",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalReminder"
            }
          },
          "shouldIncludeInviteDescription" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the meeting invite description should be included in the email reminders.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalGuestSettings" : {
        "required" : [ "canAddGuests", "maxGuestCount" ],
        "type" : "object",
        "properties" : {
          "canAddGuests" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether guests can be added to the meeting.",
            "example" : null
          },
          "maxGuestCount" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of guests that can be invited to the meeting.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLegalConsentOptions" : {
        "required" : [ "communicationConsentCheckboxes", "communicationConsentText", "isLegitimateInterest", "legitimateInterestSubscriptionTypes", "privacyPolicyText", "processingConsentCheckboxLabel", "processingConsentFooterText", "processingConsentText", "processingConsentType" ],
        "type" : "object",
        "properties" : {
          "communicationConsentCheckboxes" : {
            "type" : "array",
            "description" : "An array of communication consent checkboxes, each defined by an ExternalCommunicationConsentCheckbox object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalCommunicationConsentCheckbox"
            }
          },
          "communicationConsentText" : {
            "type" : "string",
            "description" : "A string containing the text for communication consent.",
            "example" : null
          },
          "isLegitimateInterest" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the consent is based on legitimate interest.",
            "example" : null
          },
          "legitimateInterestLegalBasis" : {
            "type" : "string",
            "description" : "A string representing the legal basis for legitimate interest. Valid values include 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legitimateInterestSubscriptionTypes" : {
            "type" : "array",
            "description" : "An array of integers representing the subscription types that fall under legitimate interest.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "privacyPolicyText" : {
            "type" : "string",
            "description" : "A string containing the text of the privacy policy.",
            "example" : null
          },
          "processingConsentCheckboxLabel" : {
            "type" : "string",
            "description" : "A string representing the label for the processing consent checkbox.",
            "example" : null
          },
          "processingConsentFooterText" : {
            "type" : "string",
            "description" : "A string containing the footer text related to processing consent.",
            "example" : null
          },
          "processingConsentText" : {
            "type" : "string",
            "description" : "A string containing the text for processing consent.",
            "example" : null
          },
          "processingConsentType" : {
            "type" : "string",
            "description" : "A string indicating the type of processing consent required. Valid values are 'IMPLICIT' and 'REQUIRED_CHECKBOX'.",
            "example" : null,
            "enum" : [ "IMPLICIT", "REQUIRED_CHECKBOX" ]
          }
        },
        "example" : null
      },
      "ExternalLegalConsentResponse" : {
        "required" : [ "communicationTypeId", "consented" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the type of communication for which consent is being recorded.",
            "example" : null
          },
          "consented" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user has given consent for the specified communication type.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkAvailability" : {
        "required" : [ "hasMore", "linkAvailabilityByDuration" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether there are additional meeting slots available beyond the current set.",
            "example" : null
          },
          "linkAvailabilityByDuration" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalLinkAvailabilityForDuration"
            },
            "description" : "An object mapping meeting durations to their respective availability details. Each key is a duration, and the value is an object containing availability information for that duration.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkAvailabilityAndBusyTimes" : {
        "required" : [ "allUsersBusyTimes" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "description" : "An array of objects representing the busy times for all users associated with the meeting link. Each object includes information about the user's offline status and their busy time ranges.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          }
        },
        "example" : null
      },
      "ExternalLinkAvailabilityForDuration" : {
        "required" : [ "availabilities", "meetingDurationMillis" ],
        "type" : "object",
        "properties" : {
          "availabilities" : {
            "type" : "array",
            "description" : "An array of available time slots for the meeting. Each item in the array is an object representing a specific availability period.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalMeetingAvailability"
            }
          },
          "meetingDurationMillis" : {
            "type" : "integer",
            "description" : "The duration of the meeting in milliseconds. This is an integer value representing the length of the meeting.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkDisplayInfo" : {
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string representing the URL or identifier for the avatar image to be displayed.",
            "example" : null
          },
          "companyAvatar" : {
            "type" : "string",
            "description" : "A string representing the URL or identifier for the company's avatar image.",
            "example" : null
          },
          "headline" : {
            "type" : "string",
            "description" : "A string representing the headline or title associated with the external link.",
            "example" : null
          },
          "publicDisplayAvatarOption" : {
            "type" : "string",
            "description" : "A string indicating the option for displaying the avatar. Valid values include 'PROFILE_IMAGE', 'COMPANY_LOGO', and 'CUSTOM_AVATAR'.",
            "example" : null,
            "enum" : [ "COMPANY_LOGO", "CUSTOM_AVATAR", "PROFILE_IMAGE" ]
          }
        },
        "example" : null
      },
      "ExternalLinkFormField" : {
        "required" : [ "fieldType", "isCustom", "isRequired", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string",
            "description" : "A string indicating the type of the form field.",
            "example" : null
          },
          "isCustom" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is custom.",
            "example" : null
          },
          "isRequired" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is required.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the label of the form field, which is displayed to users.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the form field.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of ExternalOption objects representing the available options for the form field, if applicable.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalOption"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string specifying the type of data the form field holds.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkMetadata" : {
        "required" : [ "createdAt", "defaultLink", "id", "link", "organizerUserId", "slug", "type", "userIdsOfLinkMembers" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting link was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "defaultLink" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this is the default meeting link.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the meeting link.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "The URL of the meeting link.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the meeting link.",
            "example" : null
          },
          "organizerUserId" : {
            "type" : "string",
            "description" : "The unique identifier of the user who organized the meeting link.",
            "example" : null
          },
          "paymentLinkId" : {
            "type" : "string",
            "description" : "The unique identifier for the payment link associated with the meeting, if any.",
            "example" : null
          },
          "slug" : {
            "type" : "string",
            "description" : "A string used to uniquely identify the meeting link in URLs.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of meeting link. Valid values include 'PERSONAL_LINK', 'GROUP_CALENDAR', and 'ROUND_ROBIN_CALENDAR'.",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting link was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "userIdsOfLinkMembers" : {
            "type" : "array",
            "description" : "An array of user IDs who are members of the meeting link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ExternalMeetingAvailability" : {
        "required" : [ "endMillisUtc", "startMillisUtc" ],
        "type" : "object",
        "properties" : {
          "endMillisUtc" : {
            "type" : "integer",
            "description" : "The end time of the meeting availability in Unix timestamp format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "startMillisUtc" : {
            "type" : "integer",
            "description" : "The start time of the meeting availability in Unix timestamp format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingBooking" : {
        "required" : [ "duration", "email", "firstName", "formFields", "lastName", "legalConsentResponses", "likelyAvailableUserIds", "slug", "startTime" ],
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "integer",
            "description" : "The duration of the meeting in minutes, represented as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "email" : {
            "type" : "string",
            "description" : "The email address of the person booking the meeting.",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the person booking the meeting.",
            "example" : null
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of form fields, each represented by an ExternalBookingFormField object, containing additional information provided by the user during booking.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBookingFormField"
            }
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the person booking the meeting.",
            "example" : null
          },
          "legalConsentResponses" : {
            "type" : "array",
            "description" : "An array of legal consent responses, each represented by an ExternalLegalConsentResponse object, indicating the user's consent for communication.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "likelyAvailableUserIds" : {
            "type" : "array",
            "description" : "An array of user IDs, represented as strings, indicating the users who are likely available for the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "locale" : {
            "type" : "string",
            "description" : "The locale setting for the meeting, represented as a string.",
            "example" : null
          },
          "slug" : {
            "type" : "string",
            "description" : "A string identifier for the meeting link, used to uniquely identify the meeting booking.",
            "example" : null
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time of the meeting, represented in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "timezone" : {
            "type" : "string",
            "description" : "The time zone in which the meeting will occur, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingBookingResponse" : {
        "required" : [ "bookingTimezone", "calendarEventId", "contactId", "duration", "end", "formFields", "guestEmails", "isOffline", "legalConsentResponses", "start", "subject" ],
        "type" : "object",
        "properties" : {
          "bookingTimezone" : {
            "type" : "string",
            "description" : "The timezone in which the meeting was booked.",
            "example" : null
          },
          "calendarEventId" : {
            "type" : "string",
            "description" : "The unique identifier for the calendar event associated with the booked meeting.",
            "example" : null
          },
          "contactId" : {
            "type" : "string",
            "description" : "The unique identifier for the contact associated with the meeting.",
            "example" : null
          },
          "duration" : {
            "type" : "integer",
            "description" : "The duration of the meeting in minutes, represented as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "end" : {
            "type" : "string",
            "description" : "The end date and time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of form fields that were filled out during the meeting booking process.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalValidatedFormField"
            }
          },
          "guestEmails" : {
            "type" : "array",
            "description" : "An array of email addresses for guests invited to the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the meeting is offline (true) or online (false).",
            "example" : null
          },
          "legalConsentResponses" : {
            "type" : "array",
            "description" : "An array of legal consent responses associated with the meeting booking.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "locale" : {
            "type" : "string",
            "description" : "The locale setting for the meeting, which may affect formatting and language.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "The physical or virtual location where the meeting will take place.",
            "example" : null
          },
          "start" : {
            "type" : "string",
            "description" : "The start date and time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject or title of the meeting.",
            "example" : null
          },
          "webConferenceMeetingId" : {
            "type" : "string",
            "description" : "The unique identifier for the web conference meeting, if applicable.",
            "example" : null
          },
          "webConferenceUrl" : {
            "type" : "string",
            "description" : "The URL for joining the web conference meeting, if applicable.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingsLinkSettings" : {
        "required" : [ "availability", "durations", "formFields", "legalConsentEnabled", "meetingBufferTime", "ownerPrioritized", "startTimeIncrementMinutes", "weeksToAdvertise" ],
        "type" : "object",
        "properties" : {
          "availability" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalClosedRange"
            },
            "description" : "An object representing the availability settings, with additional properties defined by the ExternalClosedRange schema.",
            "example" : null
          },
          "customAvailabilityEndDate" : {
            "type" : "integer",
            "description" : "An integer representing the custom end date for availability, in Unix time format.",
            "format" : "int64",
            "example" : null
          },
          "customAvailabilityStartDate" : {
            "type" : "integer",
            "description" : "An integer representing the custom start date for availability, in Unix time format.",
            "format" : "int64",
            "example" : null
          },
          "displayInfo" : {
            "$ref" : "#/components/schemas/ExternalLinkDisplayInfo"
          },
          "durations" : {
            "type" : "array",
            "description" : "An array of integers representing the possible durations for meetings, in milliseconds.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of form fields to be included with the meeting link, each defined by the ExternalLinkFormField schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkFormField"
            }
          },
          "guestSettings" : {
            "$ref" : "#/components/schemas/ExternalGuestSettings"
          },
          "language" : {
            "type" : "string",
            "description" : "A string representing the language setting for the meeting link.",
            "example" : null
          },
          "legalConsentEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether legal consent is required for the meeting link.",
            "example" : null
          },
          "legalConsentOptions" : {
            "$ref" : "#/components/schemas/ExternalLegalConsentOptions"
          },
          "locale" : {
            "type" : "string",
            "description" : "A string representing the locale setting for the meeting link.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "A string representing the location for the meeting.",
            "example" : null
          },
          "meetingBufferTime" : {
            "type" : "integer",
            "description" : "An integer representing the buffer time between meetings, in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "ownerPrioritized" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the meeting owner's availability is prioritized.",
            "example" : null
          },
          "redirectUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to redirect to after a meeting is booked.",
            "example" : null
          },
          "startTimeIncrementMinutes" : {
            "type" : "string",
            "description" : "A string indicating the increment for start times. Valid values include 'MEETING_DURATION', 'FIVE', 'TEN', 'FIFTEEN', 'TWENTY', 'THIRTY', 'FORTY_FIVE', 'SIXTY', 'NINETY', 'ONE_HUNDRED_TWENTY'.",
            "example" : null,
            "enum" : [ "FIFTEEN", "FIVE", "FORTY_FIVE", "MEETING_DURATION", "NINETY", "ONE_HUNDRED_TWENTY", "SIXTY", "TEN", "THIRTY", "TWENTY" ]
          },
          "weeksToAdvertise" : {
            "type" : "integer",
            "description" : "An integer indicating the number of weeks to advertise the meeting link.",
            "format" : "int32",
            "example" : null
          },
          "welcomeScreenInfo" : {
            "$ref" : "#/components/schemas/ExternalMeetingsWelcomeScreenInfo"
          }
        },
        "example" : null
      },
      "ExternalMeetingsLinkUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "paymentLinkId" : {
            "type" : "string",
            "description" : "An integer representing the payment link ID associated with the meeting link. This is used to link a payment option to the meeting.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingsUser" : {
        "required" : [ "calendarProvider", "id", "isSalesStarter", "userId", "userProfile" ],
        "type" : "object",
        "properties" : {
          "calendarProvider" : {
            "type" : "string",
            "description" : "The calendar service provider used by the user. Valid values include 'GOOGLE', 'OFFICE365', 'EXCHANGE', and 'UNKNOWN'.",
            "example" : null,
            "enum" : [ "EXCHANGE", "GOOGLE", "OFFICE365", "UNKNOWN" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the external meetings user.",
            "example" : null
          },
          "isSalesStarter" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user is a sales starter.",
            "example" : null
          },
          "userId" : {
            "type" : "string",
            "description" : "The unique identifier for the user within the system.",
            "example" : null
          },
          "userProfile" : {
            "$ref" : "#/components/schemas/ExternalUserProfile"
          }
        },
        "example" : null
      },
      "ExternalMeetingsWelcomeScreenInfo" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description text shown on the welcome screen. It is a string value.",
            "example" : null
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "The URL of the logo image to be displayed on the welcome screen. It is a string value.",
            "example" : null
          },
          "showWelcomeScreen" : {
            "type" : "boolean",
            "description" : "A boolean value that determines whether the welcome screen should be shown.",
            "example" : null
          },
          "title" : {
            "type" : "string",
            "description" : "The title displayed on the welcome screen. It is a string value.",
            "example" : null
          },
          "useCompanyLogo" : {
            "type" : "boolean",
            "description" : "A boolean value indicating whether the company's logo should be used on the welcome screen.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalOption" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional information about the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "An integer that determines the order in which the option appears relative to other options.",
            "format" : "int32",
            "example" : null
          },
          "doubleData" : {
            "type" : "number",
            "description" : "A numeric value associated with the option, represented as a number.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option should be hidden from the user interface.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display name of the option, shown to users. It is a string.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option is read-only and cannot be modified.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The internal value associated with the option, used for processing. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalReminder" : {
        "required" : [ "numberOfTimeUnits", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "numberOfTimeUnits" : {
            "type" : "integer",
            "description" : "The number of units of time before the meeting when the reminder should be sent. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "The unit of time used for the reminder. Valid values include 'WEEKS', 'DAYS', 'HOURS', and 'MINUTES'.",
            "example" : null,
            "enum" : [ "DAYS", "HOURS", "MINUTES", "WEEKS" ]
          }
        },
        "example" : null
      },
      "ExternalTimeRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "description" : "The end of the time range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "start" : {
            "type" : "integer",
            "description" : "The start of the time range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalUserBusyTimes" : {
        "required" : [ "busyTimes", "isOffline", "meetingsUser" ],
        "type" : "object",
        "properties" : {
          "busyTimes" : {
            "type" : "array",
            "description" : "An array of time ranges during which the user is busy, represented by start and end timestamps.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalTimeRange"
            }
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user is offline.",
            "example" : null
          },
          "meetingsUser" : {
            "$ref" : "#/components/schemas/ExternalMeetingsUser"
          }
        },
        "example" : null
      },
      "ExternalUserProfile" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the user. It is a required string property.",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user. It is a string.",
            "example" : null
          },
          "fullName" : {
            "type" : "string",
            "description" : "The full name of the user, combining first and last names. It is a string.",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalValidatedFormField" : {
        "required" : [ "isCustom", "label", "name", "value" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string",
            "description" : "The type of the form field, represented as a string.",
            "example" : null
          },
          "isCustom" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is custom-defined.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label of the form field, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The unique name of the form field, represented as a string.",
            "example" : null
          },
          "translatedLabel" : {
            "type" : "string",
            "description" : "The translated version of the form field's label, represented as a string.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value assigned to the form field, represented as a string.",
            "example" : null
          },
          "valueLabel" : {
            "type" : "string",
            "description" : "A label associated with the form field's value, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token that indicates the position after the last item on the current page, used to retrieve the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to access the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token used to identify the cursor position before the current page in a paginated response.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL string that provides a direct link to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "PublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the public object, represented as a string.",
            "example" : null
          }
        },
        "description" : "Contains the Id of a Public Object",
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.contacts.sensitive.write.v2" : "",
              "meetings-write" : "",
              "scheduler.meetings.meeting-link.read" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}