{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Código fuente",
    "description" : "Endpoints for interacting with files in the CMS Developer File System. These files include HTML templates, CSS, JS, modules, and other assets which are used to create CMS content.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Recupera una plantilla de página web redactada para ver su contenido antes de publicarla.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Source Code Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/source-code"
    } ],
    "x-hubspot-introduction" : "Utiliza la API de código fuente para interactuar con los archivos almacenados en el sistema de archivos del desarrollador. Estos archivos se muestran en el administrador de diseño e incluyen archivos de plantilla, módulo, CSS, JavaScript y otros archivos de CMS."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Content"
  }, {
    "name" : "Contenido"
  }, {
    "name" : "Metadata"
  }, {
    "name" : "Metadatos"
  }, {
    "name" : "Validation"
  }, {
    "name" : "Validación"
  }, {
    "name" : "Extract"
  }, {
    "name" : "Extracto"
  }, {
    "name" : "Source_Code_Extract"
  } ],
  "paths" : {
    "/cms/v3/source-code/{environment}/content/{path}" : {
      "get" : {
        "tags" : [ "Content", "Contenido" ],
        "summary" : "Descargar archivo",
        "description" : "Descarga el contenido en bytes del archivo en la ruta especificada en el entorno especificado.",
        "operationId" : "get-/cms/v3/source-code/{environment}/content/{path}_download",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "El entorno del archivo (\"draft\" o \"published\").",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "put" : {
        "tags" : [ "Content", "Contenido" ],
        "summary" : "Crear o actualizar un archivo",
        "description" : "Inserta un archivo en la ruta especificada en el entorno especificado. Acepta tipo de contenido multipart/form-data.",
        "operationId" : "put-/cms/v3/source-code/{environment}/content/{path}_createOrUpdate",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "El entorno del archivo (\"draft\" o \"published\").",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to upload.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "post" : {
        "tags" : [ "Content", "Contenido" ],
        "summary" : "Crear un archivo",
        "description" : "Crea un archivo en la ruta especificada en el entorno especificado. Acepta el tipo de contenido multipart/form-data. Lanza un error si ya existe un archivo en la ruta especificada.",
        "operationId" : "post-/cms/v3/source-code/{environment}/content/{path}_create",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "El entorno del archivo (\"draft\" o \"published\").",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to upload.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Content", "Contenido" ],
        "summary" : "Eliminar un archivo",
        "description" : "Elimina el archivo en la ruta especificada en el entorno especificado.",
        "operationId" : "delete-/cms/v3/source-code/{environment}/content/{path}_archive",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "El entorno del archivo (\"draft\" o \"published\").",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/{environment}/metadata/{path}" : {
      "get" : {
        "tags" : [ "Metadata", "Metadatos" ],
        "summary" : "Obtener los metadatos de un archivo",
        "description" : "Obtiene el objeto de metadatos para el archivo en la ruta especificada en el entorno especificado.",
        "operationId" : "get-/cms/v3/source-code/{environment}/metadata/{path}_get",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "El entorno del archivo (\"draft\" o \"published\").",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/{environment}/validate/{path}" : {
      "post" : {
        "tags" : [ "Validation", "Validación" ],
        "summary" : "Validar el contenido de un archivo",
        "description" : "Valida el contenido del archivo pasado al endpoint a partir de una ruta y entorno especificados. Acepta el tipo de contenido multipart/form-data.",
        "operationId" : "post-/cms/v3/source-code/{environment}/validate/{path}_doValidate",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "environment",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to validate.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/extract/{path}" : {
      "post" : {
        "tags" : [ "Extract", "Extracto" ],
        "summary" : "Extrae un archivo zip.",
        "description" : "Extrae un archivo zip en el sistema de archivos. El archivo zip se extraerá en el lugar y no se eliminará automáticamente.",
        "operationId" : "post-/cms/v3/source-code/extract/{path}_extractByPath",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : "La ubicación del sistema de archivos del archivo zip.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/source-code/extract/async" : {
      "post" : {
        "tags" : [ "Source_Code_Extract" ],
        "operationId" : "post-/cms/v3/source-code/extract/async_doAsync",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileExtractRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskLocator"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/source-code/extract/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Source_Code_Extract" ],
        "operationId" : "get-/cms/v3/source-code/extract/async/tasks/{taskId}/status_getAsyncStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado con el detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "AssetFileMetadata" : {
        "required" : [ "createdAt", "folder", "id", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "description" : "Marca de tiempo de la primera vez que se creó el objeto.",
            "format" : "int32"
          },
          "archivedAt" : {
            "type" : "integer",
            "description" : "Marca de tiempo de cuando el objeto fue archivado (eliminado).",
            "format" : "int64"
          },
          "folder" : {
            "type" : "boolean",
            "description" : "Determina si esta ruta apunta o no a una carpeta."
          },
          "children" : {
            "type" : "array",
            "description" : "Si el objeto es una carpeta, contiene los nombres de archivo de los archivos dentro de la carpeta.",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "El nombre del archivo."
          },
          "id" : {
            "type" : "string",
            "description" : "La ruta del archivo en el Sistema de Archivos del Desarrollador de CMS."
          },
          "hash" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "Marca de tiempo de la última vez que se actualizó el objeto.",
            "format" : "int32"
          }
        },
        "description" : "The object metadata of a file."
      },
      "FileExtractRequest" : {
        "required" : [ "path" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos sobre el error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "TaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "content" : "Read from and write to my Content"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}