{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ソースコード",
    "description" : "Endpoints for interacting with files in the CMS Developer File System. These files include HTML templates, CSS, JS, modules, and other assets which are used to create CMS content.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "下書きのウェブサイト ページ テンプレートを取得し、公開前にそのコンテンツを表示します。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Source Code Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/source-code"
    } ],
    "x-hubspot-introduction" : "ソースコードAPIを使用して、開発者ファイルシステムに保存されたファイルを操作します。これらのファイルはデザインマネージャーに表示され、テンプレート、モジュール、CSS、JavaScript、その他のCMSアセットファイルが含まれます。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Content"
  }, {
    "name" : "コンテンツ"
  }, {
    "name" : "Metadata"
  }, {
    "name" : "メタデータ"
  }, {
    "name" : "Validation"
  }, {
    "name" : "検証"
  }, {
    "name" : "Extract"
  }, {
    "name" : "抽出"
  }, {
    "name" : "Source_Code_Extract"
  } ],
  "paths" : {
    "/cms/v3/source-code/{environment}/content/{path}" : {
      "get" : {
        "tags" : [ "Content", "コンテンツ" ],
        "summary" : "ファイルをダウンロード",
        "description" : "指定された環境の指定されたパスにあるファイルのバイトの内容がダウンロードされます。",
        "operationId" : "get-/cms/v3/source-code/{environment}/content/{path}_download",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "ファイルの環境（「下書き」または「公開済み」）。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "put" : {
        "tags" : [ "Content", "コンテンツ" ],
        "summary" : "ファイルを作成または更新",
        "description" : "指定された環境の指定されたパスでファイルが更新／挿入されます。マルチパート／フォームデータのコンテンツタイプが受け入れられます。",
        "operationId" : "put-/cms/v3/source-code/{environment}/content/{path}_createOrUpdate",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "ファイルの環境（「下書き」または「公開済み」）。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to upload.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "post" : {
        "tags" : [ "Content", "コンテンツ" ],
        "summary" : "ファイルを作成",
        "description" : "指定された環境の指定されたパスにファイルが作成されます。マルチパート／フォームデータのコンテンツタイプが受け入れられます。指定されたパスにファイルがすでにある場合は、エラーがスローされます。",
        "operationId" : "post-/cms/v3/source-code/{environment}/content/{path}_create",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "ファイルの環境（「下書き」または「公開済み」）。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to upload.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      },
      "delete" : {
        "tags" : [ "Content", "コンテンツ" ],
        "summary" : "ファイルを削除",
        "description" : "指定された環境の指定されたパスにあるファイルが削除されます。",
        "operationId" : "delete-/cms/v3/source-code/{environment}/content/{path}_archive",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "ファイルの環境（「下書き」または「公開済み」）。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/{environment}/metadata/{path}" : {
      "get" : {
        "tags" : [ "Metadata", "メタデータ" ],
        "summary" : "ファイルのメタデータを取得",
        "description" : "指定された環境の指定されたパスにあるファイルのメタデータオブジェクトが取得されます。",
        "operationId" : "get-/cms/v3/source-code/{environment}/metadata/{path}_get",
        "parameters" : [ {
          "name" : "environment",
          "in" : "path",
          "description" : "ファイルの環境（「下書き」または「公開済み」）。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetFileMetadata"
                },
                "example" : {
                  "id" : "/example.json",
                  "name" : "example.json",
                  "folder" : false,
                  "children" : [ ],
                  "updatedAt" : 1608049506,
                  "createdAt" : 1608049506,
                  "archivedAt" : 0
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/{environment}/validate/{path}" : {
      "post" : {
        "tags" : [ "Validation", "検証" ],
        "summary" : "ファイルのコンテンツを検証",
        "description" : "パスと環境が指定されると、エンドポイントに渡されるファイルコンテンツが検証されます。マルチパート／フォームデータのコンテンツタイプが受け入れられます。",
        "operationId" : "post-/cms/v3/source-code/{environment}/validate/{path}_doValidate",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : "ファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "environment",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "The file to validate.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
      }
    },
    "/cms/v3/source-code/extract/{path}" : {
      "post" : {
        "tags" : [ "Extract", "抽出" ],
        "summary" : "zipファイルが抽出されます",
        "description" : "ファイルシステム内のzipファイルが抽出されます。zipファイルは所定の場所に抽出され、自動では削除されません。",
        "operationId" : "post-/cms/v3/source-code/extract/{path}_extractByPath",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : "zipファイルのファイルシステムでの位置。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "deprecated" : true,
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/source-code/extract/async" : {
      "post" : {
        "tags" : [ "Source_Code_Extract" ],
        "operationId" : "post-/cms/v3/source-code/extract/async_doAsync",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileExtractRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskLocator"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/source-code/extract/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Source_Code_Extract" ],
        "operationId" : "get-/cms/v3/source-code/extract/async/tasks/{taskId}/status_getAsyncStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "AssetFileMetadata" : {
        "required" : [ "createdAt", "folder", "id", "name", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "integer",
            "description" : "オブジェクトが最初に作成された時点のタイムスタンプ。",
            "format" : "int32"
          },
          "archivedAt" : {
            "type" : "integer",
            "description" : "オブジェクトがアーカイブ（削除）された時点のタイムスタンプ。",
            "format" : "int64"
          },
          "folder" : {
            "type" : "boolean",
            "description" : "このパスがフォルダーを参照するかどうかが決定されます。"
          },
          "children" : {
            "type" : "array",
            "description" : "オブジェクトがフォルダーの場合は、フォルダー内のファイルのファイル名が含まれます。",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "ファイルの名前。"
          },
          "id" : {
            "type" : "string",
            "description" : "CMS開発者ファイルシステムにおけるファイルのパス。"
          },
          "hash" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "integer",
            "description" : "オブジェクトが最後に更新された時点のタイムスタンプ。",
            "format" : "int32"
          }
        },
        "description" : "The object metadata of a file."
      },
      "FileExtractRequest" : {
        "required" : [ "path" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートまたはサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "TaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "content" : "Read from and write to my Content"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "cms" : "FREE"
  },
  "x-hubspot-documentation-banner" : "NONE"
}