{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Seiten",
    "description" : "Use these endpoints for interacting with Landing Pages and Site Pages",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After noticing that a website page was updated incorrectly, use the API to view revisions of that page, then restore the page to a previous version.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Pages Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/pages"
    } ],
    "x-hubspot-introduction" : "Use the pages API to create and manage website pages."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Site Pages"
  }, {
    "name" : "Website-Seiten"
  }, {
    "name" : "Landing Pages"
  }, {
    "name" : "Landingpages"
  } ],
  "paths" : {
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Ruft eine frühere Version einer Website-Seite ab",
        "description" : "Ruft eine frühere Version einer Website-Seite ab",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der Website-Seiten-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Ruft alle früheren Versionen einer Landingpage ab",
        "description" : "Ruft alle früheren Versionen einer Landingpage ab.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/update" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen Batch mit Website-Seiten aktualisieren",
        "description" : "Aktualisieren Sie die im Anfragetext identifizierten Website-Seiten-Objekte.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Website-Seiten aktualisiert werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Ruft alle früheren Versionen eines Ordners ab",
        "description" : "Ruft alle früheren Versionen eines Ordners ab.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions_getFolderPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine frühere Version einer Website-Seite wiederherstellen",
        "description" : "Stellt eine bestimmte Version einer Website-Seite wieder her.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der wiederherzustellenden Website-Seiten-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Alle Landingpage-Ordner abrufen",
        "description" : "Rufen Sie die Liste der Landingpage-Ordner ab. Blättern und Filterung werden unterstützt. Diese Methode eignet sich für Integrationen, die diese Modelle untersucht haben und einen externen Dienst verwenden, um Bearbeitungen vorzuschlagen.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders_getFoldersPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die genau zum angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die nach dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die vor dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die genau zum angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die nach dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Nur Ordner zurückgeben, die vor dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt an, welche Felder zum Sortieren der Ergebnisse verwendet werden. Gültige Felder: „name“, „createdAt“, „updatedAt“, „createdBy“, „updatedBy“. „createdAt“ wird standardmäßig verwendet.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Ordner zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen neuen Ordner erstellen",
        "description" : "Einen neuen Ordner erstellen",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders_createFolder",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine Website-Seite an eine mehrsprachige Gruppe anhängen",
        "description" : "Hängen Sie eine Website-Seite an eine mehrsprachige Gruppe an.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/schedule" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Die Veröffentlichung einer Website-Seite planen",
        "description" : "Die Veröffentlichung einer Website-Seite planen",
        "operationId" : "post-/cms/v3/pages/site-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine Website-Seite von einer mehrsprachigen Gruppe entfernen",
        "description" : "Entfernen Sie eine Website-Seite von einer mehrsprachigen Gruppe.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Ordnern erstellen",
        "description" : "Erstellen Sie die im Anfragetext angegebenen Ordner-Objekte.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/create_createFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Folders to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Ruft alle früheren Versionen einer Website-Seite ab",
        "description" : "Ruft alle früheren Versionen einer Website-Seite ab.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Die vollständige Entwurfsversion der Landingpage abrufen",
        "description" : "Ruft die vollständige Entwurfsversion der Landingpage ab.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Landingpage-Entwurf aktualisieren",
        "description" : "Zum lückenhaften Aktualisieren der Entwurfsversion des in der Pfad-ID angegebenen Landingpage-Objekts.\nSie müssen nur die Spaltenwerte angeben, die Sie ändern möchten.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Alle Landingpages abrufen",
        "description" : "Rufen Sie die Liste der Landingpages ab. Blättern und Filterung werden unterstützt. Diese Methode eignet sich für Integrationen, die diese Modelle untersucht haben und einen externen Dienst verwenden, um Bearbeitungen vorzuschlagen.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die genau zum angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die nach dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die vor dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die genau zum angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die nach dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Nur Landingpages zurückgeben, die vor dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt an, welche Felder zum Sortieren der Ergebnisse verwendet werden. Gültige Felder: „name“, „createdAt“, „updatedAt“, „createdBy“, „updatedBy“. „createdAt“ wird standardmäßig verwendet.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Landingpages zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Erstellen Sie eine neue Landingpage",
        "description" : "Erstellen Sie eine neue Landingpage",
        "operationId" : "post-/cms/v3/pages/landing-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen aktiven A/B-Test beenden",
        "description" : "Beenden Sie einen aktiven A/B-Test und bestimmen Sie einen Gewinner.",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Stellen Sie eine frühere Version einer Website-Seite als neuen Entwurf der Website-Seite wieder her.",
        "description" : "Legt eine bestimmte Version einer Website-Seite als neuen Entwurf der Website-Seite fest.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der wiederherzustellenden Website-Seiten-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Landingpages erstellen",
        "description" : "Erstellen Sie die im Anfragetext angegebenen Landingpage-Objekte.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Landing Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Landingpages aktualisieren",
        "description" : "Aktualisieren Sie die im Anfragetext identifizierten Landingpage-Objekte.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Landingpages aktualisiert werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/read" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Landingpages abrufen",
        "description" : "Rufen Sie die im Anfragetext identifizierten Landingpage-Objekte ab.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Landingpages zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/clone" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage klonen",
        "description" : "Eine Landingpage klonen",
        "operationId" : "post-/cms/v3/pages/landing-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine frühere Version eines Ordners wiederherstellen",
        "description" : "Stellt eine bestimmte Version eines Ordners wieder her.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore_restoreFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der wiederherzustellenden Ordner-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine neue primäre Sprache festlegen",
        "description" : "Legen Sie eine Landingpage als primäre Sprache einer mehrsprachigen Gruppe fest.",
        "operationId" : "put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine frühere Version einer Landingpage wiederherstellen",
        "description" : "Stellt eine bestimmte Version einer Landingpage wieder her.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der wiederherzustellenden Landingpage-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Ruft die vollständige Entwurfsversion der Website-Seite ab",
        "description" : "Ruft die vollständige Entwurfsversion der Website-Seite ab.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen Website-Seitenentwurf aktualisieren",
        "description" : "Zum lückenhaften Aktualisieren der Entwurfsversion des in der Pfad-ID angegebenen Website-Seiten-Objekts.\nSie müssen nur die Spaltenwerte angeben, die Sie ändern möchten.\n",
        "operationId" : "patch-/cms/v3/pages/site-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Ordner abrufen",
        "description" : "Rufen Sie das in der Pfad-ID angegebenen Ordner-Objekt ab.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}_getFolderById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Ordner zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Ordner löschen",
        "description" : "Löschen Sie das in der Pfad-ID angegebene Ordner-Objekt.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/folders/{objectId}_archiveFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Ob nur Ergebnisse zurückgegeben werden sollen, die archiviert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Ordner aktualisieren",
        "description" : "Zum lückenhaften Aktualisieren des in der Pfad-ID angegebenen Ordner-Objekts.\nSie müssen nur die Spaltenwerte angeben, die Sie ändern möchten.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/folders/{objectId}_updateFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Ordner aktualisiert werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/read" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen Batch mit Website-Seiten abrufen",
        "description" : "Rufen Sie die im Anfragetext identifizierten Website-Seiten-Objekte ab.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Website-Seiten zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Neue A/B-Testvariante erstellen",
        "description" : "Erstellen Sie einen neuen A/B-Test der Varianten auf Grundlage der im Anfragetext bereitgestellten Informationen.\n",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage an eine mehrsprachige Gruppe anhängen",
        "description" : "Hängen Sie eine Landingpage an eine mehrsprachige Gruppe an.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages" : {
      "get" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Alle Website-Seiten abrufen",
        "description" : "Rufen Sie die Liste der Website-Seiten ab. Blättern und Filterung werden unterstützt. Diese Methode eignet sich für Integrationen, die diese Modelle untersucht haben und einen externen Dienst verwenden, um Bearbeitungen vorzuschlagen.\n",
        "operationId" : "get-/cms/v3/pages/site-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die genau zum angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die nach dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die vor dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die genau zum angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die nach dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Nur Website-Seiten zurückgeben, die vor dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt an, welche Felder zum Sortieren der Ergebnisse verwendet werden. Gültige Felder: „name“, „createdAt“, „updatedAt“, „createdBy“, „updatedBy“. „createdAt“ wird standardmäßig verwendet.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Website-Seiten zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine neue Website-Seite erstellen",
        "description" : "Eine neue Website-Seite erstellen",
        "operationId" : "post-/cms/v3/pages/site-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Site Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Ruft eine frühere Version einer Landingpage ab",
        "description" : "Ruft eine frühere Version einer Landingpage ab",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der Landingpage-Version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine neue Sprachvariante erstellen",
        "description" : "Eine neue Sprachvariante von einer vorhandenen Website-Seite erstellen",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen aktiven A/B-Test beenden",
        "description" : "Zum Beenden eines aktiven A/B-Tests und Bestimmen eines Gewinners.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Bearbeitungen des Landingpage-Entwurfs live schalten",
        "description" : "Wendet alle Änderungen aus der Entwurfsversion der Landingpage in der Live-Version an.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage, für die der Entwurf live geschaltet werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage von einer mehrsprachigen Gruppe entfernen",
        "description" : "Entfernen Sie eine Landingpage von einer mehrsprachigen Gruppe.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Sprachen der mehrsprachigen Gruppe aktualisieren",
        "description" : "Legen Sie explizit neue Sprachen für jede Landingpage in einer mehrsprachigen Gruppe fest.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/schedule" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Die Veröffentlichung einer Landingpage planen",
        "description" : "Die Veröffentlichung einer Landingpage planen",
        "operationId" : "post-/cms/v3/pages/landing-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine neue A/B-Testvariante erstellen",
        "description" : "Erstellen Sie einen neuen A/B-Test der Varianten auf Grundlage der im Anfragetext bereitgestellten Informationen.\n",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Sprachen der mehrsprachigen Gruppe aktualisieren",
        "description" : "Legen Sie explizit neue Sprachen für jede Website-Seite in einer mehrsprachigen Gruppe fest.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/rerun" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen vorherigen A/B-Test erneut ausführen",
        "description" : "Einen vorherigen A/B-Test erneut ausführen.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/rerun_rerunPreviousABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestRerunRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestRerunRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Ordnern löschen",
        "description" : "Löschen Sie die im Anfragetext angegebenen Ordner-Objekte.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/archive_archiveFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Folder ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen Batch mit Website-Seiten löschen",
        "description" : "Zum Löschen der im Anfragetext angegebenen Website-Seiten-Objekte.\nHinweis: Nicht identisch mit der Dashboard-Funktion „archive“. Um ein „archive“-Dashboard durchzuführen, senden Sie ein normales Update mit dem „archivedInDashboard“-Feld auf „true“ (wahr) gesetzt.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/create" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Einen Batch mit Website-Seiten erstellen",
        "description" : "Erstellen Sie die im Anfragetext angegebenen Website-Seiten-Objekte.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Site Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Ordnern aktualisieren",
        "description" : "Aktualisieren Sie die im Anfragetext angegebenen Ordner-Objekte.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/update_updateFolders",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Ob nur Ergebnisse zurückgegeben werden sollen, die archiviert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/clone" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine Website-Seite klonen",
        "description" : "Eine Website-Seite klonen",
        "operationId" : "post-/cms/v3/pages/site-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Eine neue primäre Sprache festlegen",
        "description" : "Legen Sie eine Website-Seite als primäre Sprache einer mehrsprachigen Gruppe fest.",
        "operationId" : "put-/cms/v3/pages/site-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Ruft eine frühere Version eines Ordners ab",
        "description" : "Ruft eine frühere Version eines Ordners ab",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}_getFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die Ordner-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "Die ID der Ordnerversion.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/reset" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Den Landingpage-Entwurf auf Live-Version zurücksetzen",
        "description" : "Verwirft alle Bearbeitungen und setzt den Entwurf auf die Live-Version zurück.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/reset_resetDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage, für die der Entwurf zurückgesetzt werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage abrufen",
        "description" : "Rufen SIe das in der Pfad-ID angegebene Landingpage-Objekt ab.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}_getById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Landingpages zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage löschen",
        "description" : "Löschen Sie das in der Pfad-ID angegebene Landingpage-Objekt.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/{objectId}_archive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Ob nur Ergebnisse zurückgegeben werden sollen, die archiviert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine Landingpage aktualisieren",
        "description" : "Zum lückenhaften Aktualisieren des in der Pfad-ID angegebenen Landingpage-Objekts.\nSie müssen nur die Spaltenwerte angeben, die Sie ändern möchten.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}_update",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Landingpage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob gelöschte Landingpages aktualisiert werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Eine neue Sprachvariante erstellen",
        "description" : "Eine neue Sprachvariante von einer vorhandenen Landingpage erstellen",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Site Pages", "Website-Seiten" ],
        "summary" : "Bearbeitungen des Website-Seiten-Entwurfs live schalten",
        "description" : "Wendet alle Änderungen aus der Entwurfsversion der Website-Seite in der Live-Version an.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "Die ID der Website-Seite, für die der Entwurf live geschaltet werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Einen Batch mit Landingpages löschen",
        "description" : "Zum Löschen der im Anfragetext angegebenen Landingpage-Objekte.\nHinweis: Nicht identisch mit der Dashboard-Funktion „archive“. Um ein „archive“-Dashboard durchzuführen, senden Sie ein normales Update mit dem „archivedInDashboard“-Feld auf „true“ (wahr) gesetzt.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landingpages" ],
        "summary" : "Stellen Sie eine frühere Version einer Landingpage als neuen Entwurf der Landingpage wieder her.",
        "description" : "Legt eine bestimmte Version einer Landingpage als neuen Entwurf der Landingpage fest.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
[...]
