{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Pages",
    "description" : "Use these endpoints for interacting with Landing Pages and Site Pages",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After noticing that a website page was updated incorrectly, use the API to view revisions of that page, then restore the page to a previous version.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Pages Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/pages"
    } ],
    "x-hubspot-introduction" : "Use the pages API to create and manage website pages."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Site Pages"
  }, {
    "name" : "Pages de site"
  }, {
    "name" : "Landing Pages"
  }, {
    "name" : "Pages de destination"
  } ],
  "paths" : {
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Récupère une version antérieure d'une page de site",
        "description" : "Récupère une version antérieure d'une page de site",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupère toutes les versions antérieures d'une page de destination",
        "description" : "Récupère toutes les versions antérieures d'une page de destination.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/update" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Mettre à jour un lot de pages de site",
        "description" : "Mettez à jour les objets pages de site identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de site supprimées doivent être mises à jour. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupère toutes les versions antérieures d'un dossier",
        "description" : "Récupère toutes les versions antérieures d'un dossier.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions_getFolderPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Rétablit une version antérieure d'une page de site",
        "description" : "Rétablit une version indiquée d'une page de site.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version de la page de site à rétablir.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Obtenir tous les dossiers de pages de destination",
        "description" : "Obtenez la liste des dossiers de pages de destination. Prend en charge la pagination et le filtrage. Cette méthode serait utile pour une intégration qui examine ces modèles et utilise un service externe pour suggérer des modifications.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders_getFoldersPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "N'affiche que les dossiers créés à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "N'affiche que les dossiers créés après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "N'affiche que les dossiers créés avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "N'affiche que les dossiers mis à jour à une heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "N'affiche que les dossiers mis à jour après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "N'affiche que les dossiers mis à jour avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Précise les champs à utiliser pour trier les résultats. Les champs valides sont `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` sera utilisé par défaut.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les dossiers supprimés doivent être affichés. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer un nouveau dossier",
        "description" : "Créer un nouveau dossier",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders_createFolder",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Associer une page de site à un groupe multilingue",
        "description" : "Associez une page de site à un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/schedule" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Programmer la publication d'une page de site",
        "description" : "Programmer la publication d'une page de site",
        "operationId" : "post-/cms/v3/pages/site-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Dissocier une page de site d'un groupe multilingue",
        "description" : "Dissociez une page de site d'un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer un lot de dossiers",
        "description" : "Créez les objets dossiers détaillés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/create_createFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Folders to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Récupère toutes les versions antérieures d'une page de site",
        "description" : "Récupère toutes les versions antérieures d'une page de site.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupérer la version brouillon complète de la page de destination",
        "description" : "Récupérez la version brouillon complète de la page de destination.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour un brouillon de page de destination",
        "description" : "Espace les mises à jour de la version brouillon d'un seul objet page de destination identifié par l'ID sur le chemin.\nVous devez seulement préciser les valeurs de colonne que vous modifiez.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Obtenir toutes les pages de destination",
        "description" : "Obtenez la liste des pages de destination. Prend en charge la pagination et le filtrage. Cette méthode serait utile pour une intégration qui examine ces modèles et utilise un service externe pour suggérer des modifications.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "N'afficher que les pages de destination créées à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "N'afficher que les pages de destination créées après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "N'afficher que les pages de destination créées avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "N'afficher que les pages de destination mises à jour à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "N'afficher que les pages de destination mises à jour après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "N'afficher que les pages de destination mises à jour avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Précise les champs à utiliser pour trier les résultats. Les champs valides sont `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` sera utilisé par défaut.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de destination supprimées doivent être affichées. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer une nouvelle page de destination",
        "description" : "Créer une nouvelle page de destination",
        "operationId" : "post-/cms/v3/pages/landing-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Mettre fin à un test A/B actif",
        "description" : "Mettre fin à un test A/B actif et désigner un vainqueur.",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Rétablit une version antérieure d'une page de site dans la version brouillon de la page de site",
        "description" : "Récupère une version indiquée d'une page de site et la définit comme la nouvelle version brouillon de la page de site.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version de la page de site à rétablir.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer un lot de pages de destination",
        "description" : "Créer les objets pages de destination détaillés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Landing Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour un lot de pages de destination",
        "description" : "Mettez à jour les objets pages de destination identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de destination supprimées doivent être mises à jour. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/read" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupérer un lot de pages de destination",
        "description" : "Récupérez les objets pages de destination identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de destination supprimées doivent être affichées. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/clone" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Cloner une page de destination",
        "description" : "Cloner une page de destination",
        "operationId" : "post-/cms/v3/pages/landing-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Rétablit une version antérieure d'un dossier",
        "description" : "Rétablit une version indiquée d'un dossier.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore_restoreFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version du dossier à rétablir.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Définir une nouvelle langue principale",
        "description" : "Définissez une page de destination comme langue principale d'un groupe multilingue.",
        "operationId" : "put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Rétablit une version antérieure d'une page de destination",
        "description" : "Rétablit une version indiquée d'une page de destination.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version de la page de destination à rétablir.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Récupérer la version brouillon complète de la page de site",
        "description" : "Récupérez la version brouillon complète de la page de site.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Mettre à jour un brouillon de page de site",
        "description" : "Espace les mises à jour de la version brouillon d'un seul objet page de site identifié par l'ID sur le chemin.\nVous devez seulement préciser les valeurs de colonne que vous modifiez.\n",
        "operationId" : "patch-/cms/v3/pages/site-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupérer un dossier",
        "description" : "Récupérez l'objet dossier identifié par l'ID sur le chemin.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}_getFolderById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les dossiers supprimés doivent être affichés. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Supprimer un dossier",
        "description" : "Supprimez l'objet dossier identifié par l'ID sur le chemin.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/folders/{objectId}_archiveFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "S'il faut renvoyer uniquement les résultats qui ont été archivés.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour un dossier",
        "description" : "Espace les mises à jour d'un seul objet dossier identifié par l'ID sur le chemin.\nVous devez seulement préciser les valeurs de colonne que vous modifiez.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/folders/{objectId}_updateFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les dossiers supprimés doivent être mis à jour. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/read" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Récupérer un lot de pages de site",
        "description" : "Récupérez les objets pages de site identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de site supprimées doivent être affichées. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer une nouvelle variante de test A/B",
        "description" : "Créez une nouvelle variante de test A/B sur la base des informations fournies dans le corps de la requête.\n",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Associez une page de destination à un groupe multilingue",
        "description" : "Associez une page de destination à un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages" : {
      "get" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Obtenir toutes les pages de site",
        "description" : "Obtenez la liste des pages de site. Prend en charge la pagination et le filtrage. Cette méthode serait utile pour une intégration qui examine ces modèles et utilise un service externe pour suggérer des modifications.\n",
        "operationId" : "get-/cms/v3/pages/site-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "N'affichez que les pages de site créées à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "N'affichez que les pages de site créées après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "N'affichez que les pages de site créées avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "N'afficher que les pages de site mises à jour à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "N'affichez que les pages de site mises à jour après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "N'affichez que les pages de site mises à jour avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Précise les champs à utiliser pour trier les résultats. Les champs valides sont `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` sera utilisé par défaut.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de site supprimées doivent être affichées. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Créer une nouvelle page de site",
        "description" : "Créer une nouvelle page de site",
        "operationId" : "post-/cms/v3/pages/site-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Site Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupère une version antérieure d'une page de destination",
        "description" : "Récupère une version antérieure d'une page de destination",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Créer une nouvelle variante de langue",
        "description" : "Créer une nouvelle variation de langue à partir d'une page de site existante",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre fin à un test A/B actif",
        "description" : "Mettre fin à un test A/B actif et désigner un vainqueur.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mise en ligne des modifications d'un brouillon de page de destination",
        "description" : "Reprenez toutes les modifications de la version brouillon de la page de destination et appliquez-les à la version en ligne.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination dont le brouillon sera mis en ligne.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Dissocier une page de destination d'un groupe multilingue",
        "description" : "Dissociez une page de destination d'un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour les langues du groupe multilingue",
        "description" : "Définissez explicitement les nouvelles langues pour chaque page de destination dans un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/schedule" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Programmer la publication d'une page de destination",
        "description" : "Programmer la publication d'une page de destination",
        "operationId" : "post-/cms/v3/pages/landing-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Créer une nouvelle variante de test A/B",
        "description" : "Créez une nouvelle variante de test A/B sur la base des informations fournies dans le corps de la requête.\n",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Mettre à jour les langues du groupe multilingue",
        "description" : "Définissez explicitement les nouvelles langues pour chaque page de site dans un groupe multilingue.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/rerun" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Relancer un test A/B précédent",
        "description" : "Relancez un test A/B précédent.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/rerun_rerunPreviousABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestRerunRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestRerunRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Supprimer un lot de dossiers",
        "description" : "Supprimez les objets dossiers identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/archive_archiveFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Folder ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Supprimer un lot de pages de site",
        "description" : "Supprimez les objets pages de site identifiés dans le corps de la requête.\nRemarque : cette fonction n'est pas la même que la fonction `archive` du tableau de bord. Pour exécuter une `archive` de tableau de bord, envoyez une mise à jour normale avec le champ `archivedInDashboard` réglé sur Vrai.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/create" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Créer un lot de pages de site",
        "description" : "Créer les objets pages de site détaillés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Site Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour un lot de dossiers",
        "description" : "Mettez à jour les objets dossiers identifiés dans le corps de la requête.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/update_updateFolders",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "S'il faut renvoyer uniquement les résultats qui ont été archivés.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/clone" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Cloner une page de site",
        "description" : "Cloner une page de site",
        "operationId" : "post-/cms/v3/pages/site-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Définir une nouvelle langue principale",
        "description" : "Définissez une page de site comme langue principale d'un groupe multilingue.",
        "operationId" : "put-/cms/v3/pages/site-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupère une version antérieure d'un dossier",
        "description" : "Récupère une version antérieure d'un dossier",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}_getFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "L'ID de la version du dossier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/reset" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Restituer la version en ligne dans le brouillon de la page de destination",
        "description" : "Ignore les modifications et restitue la version en ligne dans le brouillon.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/reset_resetDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination dont le brouillon sera réinitialisé.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Récupérer une page de destination",
        "description" : "Récupérez l'objet page de destination identifié par l'ID sur le chemin.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}_getById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de destination supprimées doivent être affichées. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Supprimer une page de destination",
        "description" : "Supprimez l'objet page de destination identifié par l'ID sur le chemin.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/{objectId}_archive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "S'il faut renvoyer uniquement les résultats qui ont été archivés.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Mettre à jour une page de destination",
        "description" : "Espace les mises à jour d'un seul objet page de destination identifié par l'ID sur le chemin.\nVous devez seulement préciser les valeurs de colonne que vous modifiez.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}_update",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de destination.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les pages de destination supprimées doivent être mises à jour. Par défaut, « faux ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Créer une nouvelle variante de langue",
        "description" : "Créer une nouvelle variation de langue à partir d'une page de destination existante",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Site Pages", "Pages de site" ],
        "summary" : "Mise en ligne des modifications d'un brouillon de page de site",
        "description" : "Reprenez toutes les modifications de la version brouillon de la page de site et appliquez-les à la version en ligne.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "L'ID de la page de site dont le brouillon sera mis en ligne.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Supprimer un lot de pages de destination",
        "description" : "Supprimez les objets pages de destination identifiés dans le corps de la requête.\nRemarque : cette fonction n'est pas la même que la fonction `archive` du tableau de bord. Pour exécuter une `archive` de tableau de bord, envoyez une mise à jour normale avec le champ `archivedInDashboard` réglé sur Vrai.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Landing Pages", "Pages de destination" ],
        "summary" : "Rétablit une version antérieure d'une page de destination dans la version brouillon de la page de destination",
        "description" : "Récupère une version indiquée d'une page de destination et la définit comme la nouvelle version brouillon de la page de destination.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
[...]
