{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Páginas",
    "description" : "Use these endpoints for interacting with Landing Pages and Site Pages",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "After noticing that a website page was updated incorrectly, use the API to view revisions of that page, then restore the page to a previous version.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Pages Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/pages"
    } ],
    "x-hubspot-introduction" : "Use the pages API to create and manage website pages."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Site Pages"
  }, {
    "name" : "Páginas de sitio web"
  }, {
    "name" : "Landing Pages"
  }, {
    "name" : "Landing pages"
  } ],
  "paths" : {
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Recupera una versión anterior de una página del sitio",
        "description" : "Recupera una versión anterior de una página del sitio",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recupera todas las versiones anteriores de una landing page",
        "description" : "Recupera todas las versiones anteriores de una landing page.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/update" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Actualizar un lote de páginas del sitio",
        "description" : "Actualizar los objetos de la página del sitio identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se actualizan las páginas del sitio eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recupera todas las versiones anteriores de una carpeta",
        "description" : "Recupera todas las versiones anteriores de una carpeta.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions_getFolderPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Restaurar una versión anterior de una página del sitio",
        "description" : "Toma una versión especificada de una página del sitio y la restaura.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la página del sitio que se restaurará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Obtener todas las carpetas de la landing page",
        "description" : "Obtener la lista de landing pages. Admite paginación y filtrado. Este método sería útil para una integración que examinara estos modelos y utilizara un servicio externo para sugerir ediciones.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders_getFoldersPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Devuelve solo las carpetas creadas exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Devuelve solo las carpetas creadas después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Devuelve solo las carpetas creadas antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Devuelve solo las carpetas actualizadas por última vez exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Devuelve solo las carpetas creadas por última vez después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Devuelve solo las carpetas actualizadas por última vez antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los campos que se utilizarán para ordenar los resultados. Los campos válidos son `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. Por opción predeterminada se utilizará `createdAt`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las landing pages eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear una nueva carpeta",
        "description" : "Crear una nueva carpeta",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders_createFolder",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Adjuntar una página del sitio a un grupo multilingüe.",
        "description" : "Adjuntar una página del sitio a un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/schedule" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Programar la publicación de una página del sitio",
        "description" : "Programar la publicación de una página del sitio",
        "operationId" : "post-/cms/v3/pages/site-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Separar una página del sitio de un grupo multilingüe",
        "description" : "Separar una página del sitio de un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear un lote de carpetas",
        "description" : "Crear los objetos de la carpeta detallados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/create_createFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Folders to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions" : {
      "get" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Recupera todas las versiones anteriores de una página del sitio",
        "description" : "Recupera todas las versiones anteriores de una página del sitio.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/revisions_getPreviousVersions",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalVersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recuperar la versión preliminar completa de la landing page",
        "description" : "Recuperar la versión preliminar completa de la landing page.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar un borrador de una landing page",
        "description" : "Actualiza la versión preliminar de un único objeto de la landing page identificado por el id en la ruta.\nSolo es necesario especificar los valores de columna que se modificarán.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Obtener todas las landing pages",
        "description" : "Obtén la lista de landing pages. Admite paginación y filtrado. Este método sería útil para una integración que examinara estos modelos y utilizara un servicio externo para sugerir ediciones.\n",
        "operationId" : "get-/cms/v3/pages/landing-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Devuelve solo las landing pages creadas exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Devuelve solo las landing pages creadas después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Devuelve solo las landing pages creadas antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Devuelve solo las landing pages actualizadas por última vez exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Devuelve solo las landing pages actualizadas por última vez después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Devuelve solo las landing pages actualizadas por última vez antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los campos que se utilizarán para ordenar los resultados. Los campos válidos son `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. Por opción predeterminada, se utilizará `createdAt`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las landing pages eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear una nueva landing page",
        "description" : "Crear una nueva landing page",
        "operationId" : "post-/cms/v3/pages/landing-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Finalizar una prueba A/B activa",
        "description" : "Finalizar una prueba A/B activa y designar un ganador.",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Restaurar una versión anterior de una página del sitio a su versión en borrador",
        "description" : "Toma una versión específica de una páginal del sitio y la establece como la nueva versión en borrador de la página del sitio.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la página del sitio que se restaurará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/create" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear un lote de landing pages",
        "description" : "Crear los objetos dela landing page detallados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Landing Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar un lote de landing pages",
        "description" : "Actualizar los objetos de la landing page identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/update_updateBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se actualizan las landing pages eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Pages.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/read" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recuperar un lote de landing pages",
        "description" : "Recuperar los objetos de la landing page identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las landing pages eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/clone" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Clonar una landing page",
        "description" : "Clonar una landing page",
        "operationId" : "post-/cms/v3/pages/landing-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Restaurar una versión anterior de una carpeta",
        "description" : "Toma una versión especificada de una carpeta y la restaura.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore_restoreFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la carpeta que se restaurará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Establecer un nuevo idioma principal",
        "description" : "Establecer una landing page como idioma principal de un grupo multilingüe.",
        "operationId" : "put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Restaurar una versión anterior de una landing page",
        "description" : "Toma una versión especificada de una landing page y la restaura.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la landing page que se restaurará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft" : {
      "get" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Recuperar la versión preliminar completa de la página del sitio",
        "description" : "Recuperar la versión preliminar completa de la página del sitio.",
        "operationId" : "get-/cms/v3/pages/site-pages/{objectId}/draft_getDraftById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Actualizar la versión preliminar de una página del sitio",
        "description" : "Actualiza la versión preliminar de un único objeto de la página del sitio identificado por el id en la ruta.\nSolo es necesario especificar los valores de columna que se modificarán.\n",
        "operationId" : "patch-/cms/v3/pages/site-pages/{objectId}/draft_updateDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Site Page to be applied to the draft.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recuperar una carpeta",
        "description" : "Recuperar el objeto de la carpeta identificado por el id en la ruta.",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}_getFolderById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las carpetas eliminadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Eliminar una carpeta",
        "description" : "Eliminar el objeto de la carpeta identificado por el id en la ruta.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/folders/{objectId}_archiveFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Si se desea devolver sólo los resultados que han sido archivados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar una carpeta",
        "description" : "Actualiza un único objeto de la carpeta identificado por el id de la ruta.\nSolo es necesario especificar los valores de columna que se modificarán.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/folders/{objectId}_updateFolder",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se actualizan las carpetas eliminadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Folder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/read" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Recuperar un lote de páginas del sitio",
        "description" : "Recuperar los objetos de la página del sitio identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/read_readBatch",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las páginas del sitio eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear una nueva variación de la prueba A/B",
        "description" : "Crear una nueva variación de la prueba A/B basada en la información proporcionada en el cuerpo de la solicitud.\n",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Adjuntar una landing page a un grupo multilingüe",
        "description" : "Adjuntar una landing page a un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AttachToLangPrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachToLangPrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages" : {
      "get" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Obtener todas las páginas del sitio",
        "description" : "Obtener la lista de páginas del sitio. Admite paginación y filtrado. Este método sería útil para una integración que examinara estos modelos y utilizara un servicio externo para sugerir ediciones..\n",
        "operationId" : "get-/cms/v3/pages/site-pages_getPage",
        "parameters" : [ {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio creadas exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio creadas después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio creadas antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio actualizadas por última vez exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio actualizadas por última vez después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Devuelve solo las páginas del sitio actualizadas por última vez antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los campos que se utilizarán para ordenar los resultados. Los campos válidos son `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. Por opción predeterminada se utilizará `createdAt`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las páginas del sitio eliminadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Crear una nueva página del sitio",
        "description" : "Crear una nueva página del sitio",
        "operationId" : "post-/cms/v3/pages/site-pages_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of a new Site Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recupera una versión anterior de una landing page",
        "description" : "Recupera una versión anterior de una landing page",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Crear una variación de idioma",
        "description" : "Crear una nueva variación de idioma a partir de una página de sitio existente",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/end" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Finalizar una prueba A/B activa",
        "description" : "Finalizar una prueba A/B activa y designar un ganador.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/end_endActiveABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestEndRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestEndRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Empezar a editar el borrador de la landing page",
        "description" : "Toma los cambios del borrador de la landing page y aplícalos a la versión real.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page cuyo borrador se publicará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Separar una landing page de un grupo multilingüe.",
        "description" : "Separar una landing page de un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the DetachFromLangGroupRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetachFromLangGroupRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar idiomas del grupo multilingüe",
        "description" : "Establecer explícitamente nuevos idiomas para cada landing page en un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/schedule" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Programar la publicación de una landing page",
        "description" : "Programar la publicación de una landing page",
        "operationId" : "post-/cms/v3/pages/landing-pages/schedule_schedule",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentScheduleRequestVNext object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentScheduleRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/ab-test/create-variation" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Crear una nueva variación de la prueba A/B",
        "description" : "Crear una nueva variación de prueba A/B basada en la información proporcionada en el cuerpo de la solicitud.\n",
        "operationId" : "post-/cms/v3/pages/site-pages/ab-test/create-variation_createABTestVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestCreateRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestCreateRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/update-languages" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Actualizar idiomas del grupo multilingüe",
        "description" : "Establecer explícitamente nuevos idiomas para cada página del sitio en un grupo multilingüe.",
        "operationId" : "post-/cms/v3/pages/site-pages/multi-language/update-languages_updateLangs",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the UpdateLanguagesRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLanguagesRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "$ref" : "#/components/responses/Error"
          },
          "200" : {
            "description" : "successful operation",
            "content" : { }
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/ab-test/rerun" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Volver a ejecutar una prueba A/B anterior.",
        "description" : "Volver a ejecutar una prueba A/B anterior.",
        "operationId" : "post-/cms/v3/pages/landing-pages/ab-test/rerun_rerunPreviousABTest",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the AbTestRerunRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AbTestRerunRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Eliminar un lote de carpetas",
        "description" : "Elimina los objetos de la carpeta identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/archive_archiveFolders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Folder ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Eliminar un lote de páginas del sitio",
        "description" : "Eliminar los objetos de la página del sitio identificados en el cuerpo de la solicitud.\nNota: Esto no es lo mismo que la función 'archive' del panel de control. Para realizar un 'archive' del panel de control, envía una actualización normal con el campo 'archivedInDashboard' establecido en true.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Site Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/batch/create" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Crear un lote de páginas del sitio",
        "description" : "Crear los objetos de la página del sitio detallados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/site-pages/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of new Site Pages to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePage"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePageWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/batch/update" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar un lote de carpetas",
        "description" : "Actualizar los objetos de la carpeta identificados en el cuerpo de la solicitud.",
        "operationId" : "post-/cms/v3/pages/landing-pages/folders/batch/update_updateFolders",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Si se desea devolver sólo los resultados que han sido archivados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputJsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolder"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseContentFolderWithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/clone" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Clonar una página del sitio",
        "description" : "Clonar una página del sitio",
        "operationId" : "post-/cms/v3/pages/site-pages/clone_clone",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/multi-language/set-new-lang-primary" : {
      "put" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Establecer un nuevo idioma principal",
        "description" : "Establecer una página del sitio como idioma principal de un grupo multilingüe.",
        "operationId" : "put-/cms/v3/pages/site-pages/multi-language/set-new-lang-primary_setLangPrimary",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the SetNewLanguagePrimaryRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recupera una versión anterior de una carpeta",
        "description" : "Recupera una versión anterior de una carpeta",
        "operationId" : "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}_getFolderPreviousVersion",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "El id de la versión de la carpeta.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionContentFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/draft/reset" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Restablecer el borrador de la landing page a la versión original",
        "description" : "Descarta cualquier edición y restablece el borrador a la versión original.",
        "operationId" : "post-/cms/v3/pages/landing-pages/{objectId}/draft/reset_resetDraft",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page cuyo borrador se restablecerá.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}" : {
      "get" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Recuperar una landing page",
        "description" : "Recuperar el objeto de la landing page identificado por el id en la ruta.",
        "operationId" : "get-/cms/v3/pages/landing-pages/{objectId}_getById",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las landing pages eliminadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Eliminar una landing page",
        "description" : "Eliminar el objeto de la landing page identificado por el id en la ruta.",
        "operationId" : "delete-/cms/v3/pages/landing-pages/{objectId}_archive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Si se desea devolver sólo los resultados que han sido archivados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Actualizar una landing page",
        "description" : "Actualiza un único objeto de la landing page identificado por el id en la ruta.\nSolo es necesario especificar los valores de columna que se modificarán.\n",
        "operationId" : "patch-/cms/v3/pages/landing-pages/{objectId}_update",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la landing page.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se actualizan las landing pages eliminadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON representation of the updated Landing Page.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Page"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/multi-language/create-language-variation" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Crear una variación de idioma",
        "description" : "Crear una nueva variación de idioma a partir de una landing page existente",
        "operationId" : "post-/cms/v3/pages/landing-pages/multi-language/create-language-variation_createLangVariation",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON representation of the ContentLanguageCloneRequest object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentLanguageCloneRequestVNext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Page"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/site-pages/{objectId}/draft/push-live" : {
      "post" : {
        "tags" : [ "Site Pages", "Páginas de sitio web" ],
        "summary" : "Empezar a editar el borrador de la página del sitio",
        "description" : "Toma los cambios de la versión preliminar de la página del sitio y aplícalos a la versión real.",
        "operationId" : "post-/cms/v3/pages/site-pages/{objectId}/draft/push-live_pushLive",
        "parameters" : [ {
          "name" : "objectId",
          "in" : "path",
          "description" : "El id de la página del sitio cuyo borrador se publicará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/batch/archive" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Eliminar un lote de landing pages",
        "description" : "Eliminar los objetos de la landing page identificados en el cuerpo de la solicitud.\nNota: Esto no es lo mismo que la función 'archive' del panel de control. Para realizar un 'archive' del panel de control, envía una actualización normal con el campo 'archivedInDashboard' establecido en true.",
        "operationId" : "post-/cms/v3/pages/landing-pages/batch/archive_archiveBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON array of Landing Page ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "content" ]
        }, {
          "oauth2_legacy" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft" : {
      "post" : {
        "tags" : [ "Landing Pages", "Landing pages" ],
        "summary" : "Restaurar una versión anterior de una landing page a su versión en borrador.",
        "description" : "Toma una versión específica de una landing page y la establece como la nueva versión en borrador de la landing page.",
[...]
