{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Files Files",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Files"
  }, {
    "name" : "Folders"
  } ],
  "paths" : {
    "/files/2026-03/files/import-from-url/async" : {
      "post" : {
        "tags" : [ "Files" ],
        "summary" : "Import file from URL",
        "description" : "Asynchronously imports the file at the given URL into the file manager.",
        "operationId" : "post-/files/2026-03/files/import-from-url/async_importFromUrl",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImportFromUrlInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportFromUrlTaskLocator"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/files/import-from-url/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Check import status",
        "description" : "Check the status of requested import.",
        "operationId" : "get-/files/2026-03/files/import-from-url/async/tasks/{taskId}/status_checkImport",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileActionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/files/search" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Search files",
        "description" : "Search through files in the file manager. Does not display hidden or archived files.",
        "operationId" : "get-/files/2026-03/files/search_doSearch",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "allowsAnonymousAccess",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdAtGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdAtLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "encoding",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "expiresAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "expiresAtGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "expiresAtLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "extension",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "fileMd5",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "height",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "heightGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "heightLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "idGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "idLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "isUsableInContent",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "parentFolderIds",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "sizeGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "sizeLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedAtGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedAtLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "url",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "width",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "widthGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "widthLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFile"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/folders/search" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Search folders",
        "description" : "Search for folders. Does not contain hidden or archived folders.",
        "operationId" : "get-/files/2026-03/folders/search_doSearch",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdAtGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "createdAtLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "idGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "idLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "parentFolderIds",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          }
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedAtGte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "updatedAtLte",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFolder"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/folders/update/async" : {
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "Update folder properties",
        "description" : "Update properties of folder by given ID. This action happens asynchronously and will update all of the folder's children as well.",
        "operationId" : "post-/files/2026-03/folders/update/async_updatePropertiesRecursively",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolderUpdateInputWithId"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolderUpdateTaskLocator"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/folders/update/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Check folder update status",
        "description" : "Check status of folder update. Folder updates happen asynchronously.",
        "operationId" : "get-/files/2026-03/folders/update/async/tasks/{taskId}/status_checkUpdateStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolderActionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    },
    "/files/2026-03/folders/{folderId}" : {
      "patch" : {
        "tags" : [ "Folders" ],
        "summary" : "Update folder properties by folder ID",
        "description" : "Update a folder's properties, identified by folder ID.",
        "operationId" : "patch-/files/2026-03/folders/{folderId}_updateProperties",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolderUpdateInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "files" ]
        }, {
          "private_apps" : [ "files" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Additional context-specific information related to the error.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "FolderUpdateInput" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "New name. If specified the folder's name and fullPath will change. All children of the folder will be updated accordingly.",
            "example" : null
          },
          "parentFolderId" : {
            "type" : "integer",
            "description" : "New parent folderId. If changed, the folder and all it's children will be moved into the specified folder. parentFolderId and parentFolderPath cannot be specified at the same time.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "FolderActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status", "taskId" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "When the requested changes have been completed.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "Detailed errors resulting from the task.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Link to check the status of the task.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "Number of errors resulting from the requested changes.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "Timestamp representing when the task was requested.",
            "format" : "date-time",
            "example" : null
          },
          "result" : {
            "$ref" : "#/components/schemas/Folder"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "Timestamp representing when the task was started at.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "Current status of the task.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          },
          "taskId" : {
            "type" : "string",
            "description" : "ID of the task.",
            "example" : null
          }
        },
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "Folder" : {
        "required" : [ "archived", "createdAt", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Marks whether the folder is deleted or not.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "Timestamp of folder deletion.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Timestamp of folder creation.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "ID of the folder.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the folder.",
            "example" : null
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "ID of the parent folder.",
            "example" : null
          },
          "path" : {
            "type" : "string",
            "description" : "Path of the folder in the file manager.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp of the latest update to the folder.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseFile" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/File"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "FileActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status", "taskId" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "Time of completion of task.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "Descriptive error messages.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Link to check the status of the requested task.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "Number of errors resulting from the task.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "Timestamp of when the task was requested.",
            "format" : "date-time",
            "example" : null
          },
          "result" : {
            "$ref" : "#/components/schemas/File"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "Timestamp of when the task was started.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "Current status of the task.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          },
          "taskId" : {
            "type" : "string",
            "description" : "ID of the requested task.",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseFolder" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Folder"
            }
          }
        },
        "example" : null
      },
      "ImportFromUrlInput" : {
        "required" : [ "access", "duplicateValidationScope", "duplicateValidationStrategy", "overwrite" ],
        "type" : "object",
        "properties" : {
          "access" : {
            "type" : "string",
            "description" : "PUBLIC_INDEXABLE: File is publicly accessible by anyone who has the URL. Search engines can index the file. PUBLIC_NOT_INDEXABLE: File is publicly accessible by anyone who has the URL. Search engines *can't* index the file. PRIVATE: File is NOT publicly accessible. Requires a signed URL to see content. Search engines *can't* index the file.\n",
            "example" : null,
            "enum" : [ "HIDDEN_INDEXABLE", "HIDDEN_NOT_INDEXABLE", "HIDDEN_PRIVATE", "HIDDEN_SENSITIVE", "PRIVATE", "PUBLIC_INDEXABLE", "PUBLIC_NOT_INDEXABLE", "SENSITIVE" ]
          },
          "duplicateValidationScope" : {
            "type" : "string",
            "description" : "ENTIRE_PORTAL: Look for a duplicate file in the entire account. EXACT_FOLDER: Look for a duplicate file in the provided folder.\n",
            "example" : null,
            "enum" : [ "ENTIRE_PORTAL", "EXACT_FOLDER" ]
          },
          "duplicateValidationStrategy" : {
            "type" : "string",
            "description" : "NONE: Do not run any duplicate validation. REJECT: Reject the upload if a duplicate is found. RETURN_EXISTING: If a duplicate file is found, do not upload a new file and return the found duplicate instead.\n",
            "example" : null,
            "enum" : [ "NONE", "REJECT", "RETURN_EXISTING" ]
          },
          "expiresAt" : {
            "type" : "string",
            "description" : "Specifies the date and time when the file will expire.",
            "format" : "date-time",
            "example" : null
          },
          "folderId" : {
            "type" : "string",
            "description" : "One of folderId or folderPath is required. Destination folderId for the uploaded file.",
            "example" : null
          },
          "folderPath" : {
            "type" : "string",
            "description" : "One of folderPath or folderId is required. Destination folder path for the uploaded file. If the folder path does not exist, there will be an attempt to create the folder path.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Name to give the resulting file in the file manager.",
            "example" : null
          },
          "overwrite" : {
            "type" : "boolean",
            "description" : "If true, will overwrite existing file if one with the same name and extension exists in the given folder. The overwritten file will be deleted and the uploaded file will take its place with a new ID. If unset or set as false, the new file's name will be updated to prevent colliding with existing file if one exists with the same path, name, and extension",
            "example" : null
          },
          "ttl" : {
            "type" : "string",
            "description" : "Time to live. If specified the file will be deleted after the given time frame. If left unset, the file will exist indefinitely",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "URL to download the new file from.",
            "example" : null
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "FolderUpdateInputWithId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier of the folder to be updated.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The new name for the folder, which will also update the fullPath and all children of the folder.",
            "example" : null
          },
          "parentFolderId" : {
            "type" : "integer",
            "description" : "The ID of the new parent folder, which will move the folder and its children into the specified folder.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ImportFromUrlTaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ID of the task",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Links for where to check information related to the task. The `status` link gives the URL for where to check the status of the task.",
            "example" : null
          }
        },
        "example" : null
      },
      "File" : {
        "required" : [ "archived", "createdAt", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "access" : {
            "type" : "string",
            "description" : "File access. Can be PUBLIC_INDEXABLE, PUBLIC_NOT_INDEXABLE, PRIVATE.",
            "example" : null,
            "enum" : [ "HIDDEN_INDEXABLE", "HIDDEN_NOT_INDEXABLE", "HIDDEN_PRIVATE", "HIDDEN_SENSITIVE", "PRIVATE", "PUBLIC_INDEXABLE", "PUBLIC_NOT_INDEXABLE", "SENSITIVE" ]
          },
          "archived" : {
            "type" : "boolean",
            "description" : "If the file is deleted.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "Deletion time of the file object.",
            "format" : "date-time",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Creation time of the file object.",
            "format" : "date-time",
            "example" : null
          },
          "defaultHostingUrl" : {
            "type" : "string",
            "description" : "Default hosting URL of the file. This will use one of HubSpot's provided URLs to serve the file.",
            "example" : null
          },
          "encoding" : {
            "type" : "string",
            "description" : "Encoding of the file.",
            "example" : null
          },
          "expiresAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "extension" : {
            "type" : "string",
            "description" : "Extension of the file. ex: .jpg, .png, .gif, .pdf, etc.",
            "example" : null
          },
          "fileMd5" : {
            "type" : "string",
            "description" : "The MD5 hash of the file.",
            "example" : null
          },
          "height" : {
            "type" : "integer",
            "description" : "For image and video files, the height of the content.",
            "format" : "int32",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "File ID.",
            "example" : null
          },
          "isUsableInContent" : {
            "type" : "boolean",
            "description" : "Previously \"archied\". Indicates if the file should be used when creating new content like web pages.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the file.",
            "example" : null
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "ID of the folder the file is in.",
            "example" : null
          },
          "path" : {
            "type" : "string",
            "description" : "Path of the file in the file manager.",
            "example" : null
          },
          "size" : {
            "type" : "integer",
            "description" : "Size of the file in bytes.",
            "format" : "int64",
            "example" : null
          },
          "sourceGroup" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTENT", "CONVERSATIONS", "FORMS", "UI_EXTENSIONS", "UNKNOWN" ]
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the file. Can be IMG, DOCUMENT, AUDIO, MOVIE, or OTHER.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp of the latest update to the file.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "URL of the given file. This URL can change depending on the domain settings of the account. Will use the select file hosting domain.",
            "example" : null
          },
          "width" : {
            "type" : "integer",
            "description" : "For image and video files, the width of the content.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "FolderUpdateTaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ID of the task",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Links for where to check information related to the task. The `status` link gives the URL for where to check the status of the task.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "files" : "Files",
              "files.ui_hidden.read" : "View hidden files"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}