{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Timeline",
    "description" : "This feature allows an app to create and configure custom events that can show up in the timelines of certain CRM objects like contacts, companies, tickets, or deals. You'll find multiple use cases for this API in the sections below.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "After setting up a new set of sign-up flows on your website, update contact timelines to indicate which flow they completed. In each event, you could also include a link to open an iframe that displays additional external data about the event.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Timeline Events Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/crm/extensions/timeline"
    } ],
    "x-hubspot-introduction" : "Use the timeline events API to add custom event information to CRM record timelines. You'll first need to create a public app, then an event template to display event data. "
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Events"
  }, {
    "name" : "Templates"
  }, {
    "name" : "Tokens"
  } ],
  "paths" : {
    "/integrators/timeline/v3/events/{eventTemplateId}/{eventId}/detail" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get event details",
        "description" : "Retrieve details for a specific event, specified by template ID and event ID.",
        "operationId" : "get-/integrators/timeline/v3/events/{eventTemplateId}/{eventId}/detail_getDetailById",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.read" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.deals.read" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "oauth2" : [ "crm.objects.deals.read" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.read" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.companies.read" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.read" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.read" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.read" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.deals.read" ]
        }, {
          "oauth2" : [ "crm.schemas.deals.read" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.read" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.read" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.read" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.read.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.read.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.read" ]
        }, {
          "private_apps" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.schemas.companies.read" ]
        }, {
          "oauth2" : [ "crm.schemas.companies.read" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.read" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.read" ]
        } ]
      }
    },
    "/integrators/timeline/v3/events" : {
      "post" : {
        "tags" : [ "Events" ],
        "summary" : "Send event data (single)",
        "description" : "Send a single instance of event data to a specified event type.",
        "operationId" : "post-/integrators/timeline/v3/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The timeline event definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimelineEvent"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventResponse"
                },
                "example" : {
                  "objectType" : "contacts",
                  "id" : "petspot:1001298:art3mis-pup@petspot.com-004",
                  "eventTemplateId" : "1001298",
                  "email" : "art3mis-pup@petspot.com",
                  "objectId" : "28001",
                  "timestamp" : "2020-01-30T17:42:10.276Z",
                  "tokens" : {
                    "petName" : "Art3mis",
                    "petColor" : "black",
                    "petAge" : "3"
                  },
                  "extraData" : {
                    "questions" : [ {
                      "question" : "Who's a good girl?",
                      "answer" : "Bark!"
                    }, {
                      "question" : "Do you wanna go on a walk?",
                      "answer" : "Woof!"
                    } ]
                  },
                  "timelineIFrame" : {
                    "linkLabel" : "View Art3mis",
                    "headerLabel" : "Art3mis dog",
                    "url" : "https://my.petspot.com/pets/Art3mis",
                    "width" : 600,
                    "height" : 400
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.schemas.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.schemas.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.companies.write" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "timeline" ]
        }, {
          "oauth2" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.schemas.deals.write" ]
        } ]
      }
    },
    "/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}/tokens/{tokenName}" : {
      "put" : {
        "tags" : [ "Tokens" ],
        "summary" : "Update a template token",
        "description" : "Update an event type template token, specified by token name.",
        "operationId" : "put-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}/tokens/{tokenName}_update",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tokenName",
          "in" : "path",
          "description" : "The token name.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The updated token definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimelineEventTemplateTokenUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventTemplateToken"
                },
                "example" : {
                  "name" : "petType",
                  "type" : "enumeration",
                  "createdAt" : "2020-02-12T20:58:26Z",
                  "updatedAt" : "2020-02-12T20:58:26Z",
                  "label" : "Pet Type",
                  "options" : [ {
                    "value" : "dog",
                    "label" : "Dog"
                  }, {
                    "value" : "cat",
                    "label" : "Cat"
                  }, {
                    "value" : "bird",
                    "label" : "Bird"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tokens" ],
        "summary" : "Delete a template token",
        "description" : "Delete an existing token from a specific event type template.",
        "operationId" : "delete-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}/tokens/{tokenName}_archive",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tokenName",
          "in" : "path",
          "description" : "The token name.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/integrators/timeline/v3/events/{eventTemplateId}/{eventId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get an event instance",
        "description" : "Retrieve an event instance, specified by template ID and event ID.",
        "operationId" : "get-/integrators/timeline/v3/events/{eventTemplateId}/{eventId}_getById",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.read" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.deals.read" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "oauth2" : [ "crm.objects.deals.read" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.read" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.companies.read" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.read" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.read" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.read" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.deals.read" ]
        }, {
          "oauth2" : [ "crm.schemas.deals.read" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.read" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.read" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.read" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.read.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.read.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.read.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.read.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.read" ]
        }, {
          "private_apps" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.read.v2" ]
        }, {
          "oauth2" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.schemas.companies.read" ]
        }, {
          "oauth2" : [ "crm.schemas.companies.read" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.read" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.read" ]
        } ]
      }
    },
    "/integrators/timeline/v3/events/batch/create" : {
      "post" : {
        "tags" : [ "Events" ],
        "summary" : "Create multiple events",
        "description" : "Batch create multiple instances of timeline events based on an event template. Once created, these event are immutable on the object timeline and cannot be modified. If the event template was configured to update object properties via `objectPropertyName`, this call will also attempt to updates those properties, or add them if they don't exist.",
        "operationId" : "post-/integrators/timeline/v3/events/batch/create_createBatch",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The timeline event definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputTimelineEvent"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseTimelineEventResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseTimelineEventResponseWithErrors"
                }
              }
            }
          },
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "example" : {
                  "results" : [ {
                    "objectType" : "contacts",
                    "id" : "petspot:1001298:art3mis-pup@petspot.com-b9d73144-41bb-46c8-9a3f-f0849c1ad7e6",
                    "eventTemplateId" : "1001298",
                    "email" : "art3mis-pup@petspot.com",
                    "objectId" : "28001",
                    "timestamp" : "2020-01-30T18:10:17.057Z",
                    "tokens" : {
                      "petName" : "Art3mis",
                      "petColor" : "black",
                      "petAge" : "3"
                    },
                    "extraData" : {
                      "questions" : [ {
                        "question" : "Who's a good girl?",
                        "answer" : "Bark!"
                      }, {
                        "question" : "Do you wanna go on a walk?",
                        "answer" : "Woof!"
                      } ]
                    },
                    "timelineIFrame" : {
                      "linkLabel" : "View Art3mis",
                      "headerLabel" : "Art3mis dog",
                      "url" : "https://my.petspot.com/pets/Art3mis",
                      "width" : 600,
                      "height" : 400
                    }
                  }, {
                    "objectType" : "contacts",
                    "id" : "petspot:1001298:pocket-tiger@petspot.com-c09a620f-60a4-46a8-be9f-fe0609fc3f0e",
                    "eventTemplateId" : "1001298",
                    "email" : "pocket-tiger@petspot.com",
                    "objectId" : "28651",
                    "timestamp" : "2020-01-30T18:10:17.057Z",
                    "tokens" : {
                      "petName" : "Pocket",
                      "petColor" : "yellow",
                      "petAge" : "3"
                    },
                    "extraData" : {
                      "questions" : [ {
                        "question" : "Who's a good kitty?",
                        "answer" : "Purr..."
                      }, {
                        "question" : "Will you stop playing with that?",
                        "answer" : "Meow!"
                      } ]
                    },
                    "timelineIFrame" : {
                      "linkLabel" : "View Pocket",
                      "headerLabel" : "Pocket Tiger",
                      "url" : "https://my.petspot.com/pets/Pocket",
                      "width" : 600,
                      "height" : 400
                    }
                  } ],
                  "status" : "COMPLETE",
                  "startedAt" : "2020-01-30T18:10:16.478734Z",
                  "completedAt" : "2020-01-30T18:10:17.793206Z"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "tickets" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps" : [ "tickets.sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "private_apps" : [ "tickets.sensitive.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "private_apps" : [ "crm.objects.deals.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.schemas.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.schemas.companies.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.companies.write" ]
        }, {
          "private_apps" : [ "tickets.highly_sensitive" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "timeline" ]
        }, {
          "oauth2" : [ "timeline" ]
        }, {
          "private_apps" : [ "crm.objects.deals.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.schemas.deals.write" ]
        } ]
      }
    },
    "/integrators/timeline/v3/{appId}/event-templates" : {
      "get" : {
        "tags" : [ "Templates" ],
        "summary" : "Get all event templates",
        "description" : "Retrieve all templates defined for an app.",
        "operationId" : "get-/integrators/timeline/v3/{appId}/event-templates_getAll",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseTimelineEventTemplateNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "id" : "15758",
                    "objectType" : "companies",
                    "name" : "company test",
                    "headerTemplate" : "abcde",
                    "tokens" : [ ]
                  }, {
                    "id" : "1000151",
                    "objectType" : "deals",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "name" : "deal test",
                    "headerTemplate" : "deal",
                    "detailTemplate" : "Deal occurred at {{#formatDate timestamp}}{{/formatDate}}\n\ntest",
                    "tokens" : [ {
                      "name" : "test",
                      "type" : "string",
                      "createdAt" : "2020-02-12T20:58:26Z",
                      "updatedAt" : "2020-02-12T20:58:26Z",
                      "label" : "test",
                      "objectPropertyName" : "test",
                      "options" : [ ]
                    } ]
                  }, {
                    "id" : "1001298",
                    "objectType" : "contacts",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "name" : "PetSpot Registration",
                    "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
                    "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}\n\nEDIT",
                    "tokens" : [ {
                      "name" : "petAge",
                      "type" : "number",
                      "createdAt" : "2020-02-12T20:58:26Z",
                      "updatedAt" : "2020-02-12T20:58:26Z",
                      "label" : "Pet Age",
                      "options" : [ ]
                    }, {
                      "name" : "petColor",
                      "type" : "enumeration",
                      "createdAt" : "2020-02-12T20:58:26Z",
                      "updatedAt" : "2020-02-12T20:58:26Z",
                      "label" : "Pet Color",
                      "options" : [ {
                        "value" : "black",
                        "label" : "Black"
                      }, {
                        "value" : "brown",
                        "label" : "Brown"
                      }, {
                        "value" : "other",
                        "label" : "Other"
                      }, {
                        "value" : "white",
                        "label" : "White"
                      }, {
                        "value" : "yellow",
                        "label" : "Yellow"
                      } ]
                    }, {
                      "name" : "petName",
                      "type" : "string",
                      "createdAt" : "2020-02-12T20:58:26Z",
                      "updatedAt" : "2020-02-12T20:58:26Z",
                      "label" : "Pet Name",
                      "options" : [ ]
                    } ]
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Templates" ],
        "summary" : "Create an event template",
        "description" : "Event templates define the general structure for a custom timeline event, and enable you to send event data to HubSpot. A template includes formatted copy for its heading and details, as well as any custom property definitions. A single app can include up to 750 event templates.<br/><Warning>the `v1` and `v3` timeline events APIs are only available for app partners with existing `v1`/`v3` timeline events defined in their public app. <ul><li>If your app doesn't include any timeline events yet, requests to this endpoint will fail. Instead, you can get started on [latest version of the developer platform](/apps/developer-platform/build-apps/overview). Note that you'll need to request approval before you can define app events for your app. Learn more in the [app events overview](/apps/developer-platform/add-features/app-events/overview).</li><li>If your app includes a `v1`/`v3` timeline event, learn how to [migrate it to the developer platform](/apps/developer-platform/add-features/app-events/create-and-manage-event-types#migrate-an-existing-timeline-event-type). You don't need to request approval before migrating existing event types.</li></ul>If you're not an app partner, you can send custom event data to HubSpot using the [custom events API](/api-reference/events-manage-event-definitions-v3/guide).</Warning>",
        "operationId" : "post-/integrators/timeline/v3/{appId}/event-templates_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The new event template definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimelineEventTemplateCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventTemplate"
                },
                "example" : {
                  "id" : "1001298",
                  "objectType" : "contacts",
                  "createdAt" : "2020-02-12T20:58:26Z",
                  "updatedAt" : "2020-02-12T20:58:26Z",
                  "name" : "PetSpot Registration",
                  "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
                  "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}",
                  "tokens" : [ {
                    "name" : "petName",
                    "type" : "string",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Name",
                    "options" : [ ]
                  }, {
                    "name" : "petAge",
                    "type" : "number",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Age",
                    "options" : [ ]
                  }, {
                    "name" : "petColor",
                    "type" : "enumeration",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Color",
                    "options" : [ {
                      "value" : "white",
                      "label" : "White"
                    }, {
                      "value" : "black",
                      "label" : "Black"
                    }, {
                      "value" : "brown",
                      "label" : "Brown"
                    }, {
                      "value" : "other",
                      "label" : "Other"
                    } ]
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}" : {
      "get" : {
        "tags" : [ "Templates" ],
        "summary" : "Get an event template",
        "description" : "Retrieve an event type template by ID.",
        "operationId" : "get-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}_getById",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventTemplate"
                },
                "example" : {
                  "id" : "1001298",
                  "objectType" : "contacts",
                  "createdAt" : "2020-02-12T20:58:26Z",
                  "updatedAt" : "2020-02-12T20:58:26Z",
                  "name" : "PetSpot Registration",
                  "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
                  "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}\n\nEDIT",
                  "tokens" : [ {
                    "name" : "petAge",
                    "type" : "number",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Age",
                    "options" : [ ]
                  }, {
                    "name" : "petColor",
                    "type" : "enumeration",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Color",
                    "options" : [ {
                      "value" : "black",
                      "label" : "Black"
                    }, {
                      "value" : "brown",
                      "label" : "Brown"
                    }, {
                      "value" : "other",
                      "label" : "Other"
                    }, {
                      "value" : "white",
                      "label" : "White"
                    }, {
                      "value" : "yellow",
                      "label" : "Yellow"
                    } ]
                  }, {
                    "name" : "petName",
                    "type" : "string",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Name",
                    "options" : [ ]
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Templates" ],
        "summary" : "Update an event template",
        "description" : "Update an existing event template, specified by ID.",
        "operationId" : "put-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}_update",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The updated event template definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimelineEventTemplateUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventTemplate"
                },
                "example" : {
                  "id" : "1001298",
                  "objectType" : "contacts",
                  "createdAt" : "2020-02-12T20:58:26Z",
                  "updatedAt" : "2020-02-12T20:58:26Z",
                  "name" : "PetSpot Registration",
                  "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
                  "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}\n\nEDIT",
                  "tokens" : [ {
                    "name" : "petAge",
                    "type" : "number",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Age",
                    "options" : [ ]
                  }, {
                    "name" : "petColor",
                    "type" : "enumeration",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Color",
                    "options" : [ {
                      "value" : "white",
                      "label" : "White"
                    }, {
                      "value" : "black",
                      "label" : "Black"
                    }, {
                      "value" : "brown",
                      "label" : "Brown"
                    }, {
                      "value" : "yellow",
                      "label" : "Yellow"
                    }, {
                      "value" : "other",
                      "label" : "Other"
                    } ]
                  }, {
                    "name" : "petName",
                    "type" : "string",
                    "createdAt" : "2020-02-12T20:58:26Z",
                    "updatedAt" : "2020-02-12T20:58:26Z",
                    "label" : "Pet Name",
                    "objectPropertyName" : "firstname",
                    "options" : [ ]
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Templates" ],
        "summary" : "Delete an event template",
        "description" : "Delete an event type template by ID.",
        "operationId" : "delete-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}_archive",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}/tokens" : {
      "post" : {
        "tags" : [ "Tokens" ],
        "summary" : "Add tokens to an existing template",
        "description" : "Update an existing event type template with new tokens.",
        "operationId" : "post-/integrators/timeline/v3/{appId}/event-templates/{eventTemplateId}/tokens_create",
        "parameters" : [ {
          "name" : "eventTemplateId",
          "in" : "path",
          "description" : "The event template ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "The new token definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimelineEventTemplateToken"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TimelineEventTemplateToken"
                },
                "example" : {
                  "name" : "petType",
                  "type" : "enumeration",
                  "createdAt" : "2020-02-12T20:58:26Z",
                  "updatedAt" : "2020-02-12T20:58:26Z",
                  "label" : "Pet Type",
                  "options" : [ {
                    "value" : "dog",
                    "label" : "Dog"
                  }, {
                    "value" : "cat",
                    "label" : "Cat"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "TimelineEvent" : {
        "required" : [ "eventTemplateId", "tokens" ],
        "type" : "object",
        "properties" : {
          "eventTemplateId" : {
            "type" : "string",
            "description" : "The event template ID."
          },
          "extraData" : {
            "type" : "object",
            "properties" : { },
            "description" : "Additional event-specific data that can be interpreted by the template's markdown."
          },
          "timelineIFrame" : {
            "$ref" : "#/components/schemas/TimelineEventIFrame"
          },
          "domain" : {
            "type" : "string",
            "description" : "The event domain (often paired with utk)."
          },
          "tokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of token keys and values associated with the template tokens."
          },
          "id" : {
            "type" : "string",
            "description" : "Identifier for the event. This is optional, and we recommend you do not pass this in. We will create one for you if you omit this. You can also use `{{uuid}}` anywhere in the ID to generate a unique string, guaranteeing uniqueness."
          },
          "utk" : {
            "type" : "string",
            "description" : "Use the `utk` parameter to associate an event with a contact by `usertoken`. This is recommended if you don't know a user's email, but have an identifying user token in your cookie."
          },
          "email" : {
            "type" : "string",
            "description" : "The email address used for contact-specific events. This can be used to identify existing contacts, create new ones, or change the email for an existing contact (if paired with the `objectId`)."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The CRM object identifier. This is required for every event other than contacts (where utk or email can be used)."
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The time the event occurred. If not passed in, the curren time will be assumed. This is used to determine where an event is shown on a CRM object's timeline.",
            "format" : "date-time"
          }
        },
        "description" : "The state of the timeline event.",
        "example" : {
          "eventTemplateId" : "1001298",
          "email" : "art3mis-pup@petspot.com",
          "tokens" : {
            "petName" : "Art3mis",
            "petAge" : 3,
            "petColor" : "black"
          },
          "extraData" : {
            "questions" : [ {
              "question" : "Who's a good girl?",
              "answer" : "Bark!"
            }, {
              "question" : "Do you wanna go on a walk?",
              "answer" : "Woof!"
            } ]
          },
          "timelineIFrame" : {
            "linkLabel" : "View Art3mis",
            "headerLabel" : "Art3mis dog",
            "url" : "https://my.petspot.com/pets/Art3mis",
            "width" : 600,
            "height" : 400
          }
        }
      },
      "TimelineEventIFrame" : {
        "required" : [ "headerLabel", "height", "linkLabel", "url", "width" ],
        "type" : "object",
        "properties" : {
          "linkLabel" : {
            "type" : "string",
            "description" : "The text displaying the link that will display the iframe."
          },
          "headerLabel" : {
            "type" : "string",
            "description" : "The label of the modal window that displays the iframe contents."
          },
          "width" : {
            "type" : "integer",
            "description" : "The width of the modal window in pixels.",
            "format" : "int32"
          },
          "url" : {
            "type" : "string",
            "description" : "The URI of the iframe contents."
          },
          "height" : {
            "type" : "integer",
            "description" : "The height of the modal window in pixels.",
            "format" : "int32"
          }
        },
        "example" : {
          "linkLabel" : "View Art3mis",
          "headerLabel" : "Art3mis dog",
          "url" : "https://my.petspot.com/pets/Art3mis",
          "width" : 600,
          "height" : 400
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error."
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error."
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance."
          },
          "category" : {
            "type" : "string",
            "description" : "The main category of the error."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps."
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error."
          }
        },
        "description" : "Ye olde error"
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "EventDetail" : {
        "required" : [ "details" ],
        "type" : "object",
        "properties" : {
          "details" : {
            "type" : "string",
            "description" : "The details Markdown rendered as HTML."
          }
        },
        "description" : "The details Markdown rendered as HTML.",
        "example" : {
          "details" : "<p>Registration occurred at Jan 30, 2020, 1:13:25 PM</p><h4>Questions</h4><p><strong>Who&#x27;s a good kitty?</strong>: Purr...</p><p><strong>Will you stop playing with that?</strong>: Meow!</p><p>EDIT</p>"
        }
      },
      "TimelineEventTemplateCreateRequest" : {
        "required" : [ "name", "objectType", "tokens" ],
        "type" : "object",
        "properties" : {
          "detailTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline when you expand the details."
          },
          "name" : {
            "type" : "string",
            "description" : "The template name."
          },
          "tokens" : {
            "type" : "array",
            "description" : "A collection of tokens that can be used as custom properties on the event and to create fully fledged CRM objects.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplateToken"
            }
          },
          "headerTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline as a header."
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of CRM object this template is for. [Contacts, companies, tickets, and deals] are supported."
          }
        },
        "description" : "State of the template definition being created.",
        "example" : {
          "name" : "PetSpot Registration",
          "objectType" : "contacts",
          "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
          "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}",
          "tokens" : [ {
            "name" : "petName",
            "label" : "Pet Name",
            "type" : "string"
          }, {
            "name" : "petAge",
            "label" : "Pet Age",
            "type" : "number"
          }, {
            "name" : "petColor",
            "label" : "Pet Color",
            "type" : "enumeration",
            "options" : [ {
              "value" : "white",
              "label" : "White"
            }, {
              "value" : "black",
              "label" : "Black"
            }, {
              "value" : "brown",
              "label" : "Brown"
            }, {
              "value" : "other",
              "label" : "Other"
            } ]
          } ]
        }
      },
      "TimelineEventTemplateUpdateRequest" : {
        "required" : [ "id", "name", "tokens" ],
        "type" : "object",
        "properties" : {
          "detailTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline when you expand the details."
          },
          "name" : {
            "type" : "string",
            "description" : "The template name."
          },
          "tokens" : {
            "type" : "array",
            "description" : "A collection of tokens that can be used as custom properties on the event and to create fully fledged CRM objects.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplateToken"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The template ID."
          },
          "headerTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline as a header."
          }
        },
        "description" : "State of the template definition being updated.",
        "example" : {
          "id" : "1001298",
          "name" : "PetSpot Registration",
          "headerTemplate" : "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})",
          "detailTemplate" : "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n{{/each}}\n\nEDIT",
          "tokens" : [ {
            "name" : "petName",
            "label" : "Pet Name",
            "type" : "string",
            "objectPropertyName" : "firstname"
          }, {
            "name" : "petAge",
            "label" : "Pet Age",
            "type" : "number"
          }, {
            "name" : "petColor",
            "label" : "Pet Color",
            "type" : "enumeration",
            "options" : [ {
              "value" : "white",
              "label" : "White"
            }, {
              "value" : "black",
              "label" : "Black"
            }, {
              "value" : "brown",
              "label" : "Brown"
            }, {
              "value" : "yellow",
              "label" : "Yellow"
            }, {
              "value" : "other",
              "label" : "Other"
            } ]
          } ]
        }
      },
      "CollectionResponseTimelineEventTemplateNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplate"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "BatchResponseTimelineEventResponse" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The time the request was completed.",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The time the request occurred.",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The time the request began processing.",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "description" : "Successfully created events.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventResponse"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the batch response. Should always be COMPLETED if processed.",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        },
        "description" : "The state of the batch event request.",
        "example" : {
          "results" : [ {
            "objectType" : "contacts",
            "id" : "petspot:1001298:art3mis-pup@petspot.com-6edaa73d-d734-404d-908f-74774d58ac2b",
            "eventTemplateId" : "1001298",
            "email" : "art3mis-pup@petspot.com",
            "objectId" : "28001",
            "timestamp" : "2020-01-30T18:13:25.665Z",
            "tokens" : {
              "petName" : "Art3mis",
              "petColor" : "black",
              "petAge" : "3"
            },
            "extraData" : {
              "questions" : [ {
                "question" : "Who's a good girl?",
                "answer" : "Bark!"
              }, {
                "question" : "Do you wanna go on a walk?",
                "answer" : "Woof!"
              } ]
            },
            "timelineIFrame" : {
              "linkLabel" : "View Art3mis",
              "headerLabel" : "Art3mis dog",
              "url" : "https://my.petspot.com/pets/Art3mis",
              "width" : 600,
              "height" : 400
            }
          }, {
            "objectType" : "contacts",
            "id" : "petspot:1001298:pocket-tiger@petspot.com-0df6277b-6eba-4d1f-8c19-1994cbfaa4ca",
            "eventTemplateId" : "1001298",
            "email" : "pocket-tiger@petspot.com",
            "objectId" : "28651",
            "timestamp" : "2020-01-30T18:13:25.665Z",
            "tokens" : {
              "petName" : "Pocket",
              "petColor" : "yellow",
              "petAge" : "3"
            },
            "extraData" : {
              "questions" : [ {
                "question" : "Who's a good kitty?",
                "answer" : "Purr..."
              }, {
                "question" : "Will you stop playing with that?",
                "answer" : "Meow!"
              } ]
            },
            "timelineIFrame" : {
              "linkLabel" : "View Pocket",
              "headerLabel" : "Pocket Tiger",
              "url" : "https://my.petspot.com/pets/Pocket",
              "width" : 600,
              "height" : 400
            }
          } ],
          "status" : "COMPLETE",
          "startedAt" : "2020-01-30T18:13:24.974023Z",
          "completedAt" : "2020-01-30T18:13:26.227559Z"
        }
      },
      "BatchInputTimelineEvent" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "A collection of timeline events we want to create.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEvent"
            }
          }
        },
        "description" : "Used to create timeline events in batches.",
        "example" : {
          "inputs" : [ {
            "eventTemplateId" : "1001298",
            "email" : "art3mis-pup@petspot.com",
            "tokens" : {
              "petName" : "Art3mis",
              "petAge" : 3,
              "petColor" : "black"
            },
            "extraData" : {
              "questions" : [ {
                "question" : "Who's a good girl?",
                "answer" : "Bark!"
              }, {
                "question" : "Do you wanna go on a walk?",
                "answer" : "Woof!"
              } ]
            },
            "timelineIFrame" : {
              "linkLabel" : "View Art3mis",
              "headerLabel" : "Art3mis dog",
              "url" : "https://my.petspot.com/pets/Art3mis",
              "width" : 600,
              "height" : 400
            }
          }, {
            "eventTemplateId" : "1001298",
            "email" : "pocket-tiger@petspot.com",
            "tokens" : {
              "petName" : "Pocket",
              "petAge" : 3,
              "petColor" : "yellow"
            },
            "extraData" : {
              "questions" : [ {
                "question" : "Who's a good kitty?",
                "answer" : "Purr..."
              }, {
                "question" : "Will you stop playing with that?",
                "answer" : "Meow!"
              } ]
            },
            "timelineIFrame" : {
              "linkLabel" : "View Pocket",
              "headerLabel" : "Pocket Tiger",
              "url" : "https://my.petspot.com/pets/Pocket",
              "width" : 600,
              "height" : 400
            }
          } ]
        }
      },
      "TimelineEventTemplate" : {
        "required" : [ "id", "name", "objectType", "tokens" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time that the Event Template was created, as an ISO 8601 timestamp. Will be null if the template was created before Feb 18th, 2020.",
            "format" : "date-time"
          },
          "detailTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline when you expand the details."
          },
          "name" : {
            "type" : "string",
            "description" : "The template name."
          },
          "tokens" : {
            "type" : "array",
            "description" : "A collection of tokens that can be used as custom properties on the event and to create fully fledged CRM objects.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplateToken"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The template ID."
          },
          "headerTemplate" : {
            "type" : "string",
            "description" : "This uses Markdown syntax with Handlebars and event-specific data to render HTML on a timeline as a header."
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of CRM object this template is for. [Contacts, companies, tickets, and deals] are supported."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time that the Event Template was last updated, as an ISO 8601 timestamp. Will be null if the template was created before Feb 18th, 2020.",
            "format" : "date-time"
          }
        },
        "description" : "The current state of the template definition."
      },
      "TimelineEventTemplateTokenOption" : {
        "required" : [ "label", "value" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "TimelineEventTemplateToken" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time that the Event Template Token was created, as an ISO 8601 timestamp. Will be null if the template was created before Feb 18th, 2020.",
            "format" : "date-time"
          },
          "options" : {
            "type" : "array",
            "description" : "If type is `enumeration`, we should have a list of options to choose from.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplateTokenOption"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the token referenced in the templates. This must be unique for the specific template. It may only contain alphanumeric characters, periods, dashes, or underscores (. - _)."
          },
          "label" : {
            "type" : "string",
            "description" : "Used for list segmentation and reporting."
          },
          "objectPropertyName" : {
            "type" : "string",
            "description" : "The name of the CRM object property. This will populate the CRM object property associated with the event. With enough of these, you can fully build CRM objects via the Timeline API."
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the token. You can currently choose from [string, number, date, enumeration].",
            "enum" : [ "date", "enumeration", "number", "string" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time that the Event Template Token was last updated, as an ISO 8601 timestamp. Will be null if the template was created before Feb 18th, 2020.",
            "format" : "date-time"
          }
        },
        "description" : "State of the token definition.",
        "example" : {
          "name" : "petType",
          "label" : "Pet Type",
          "type" : "enumeration",
          "createdAt" : "2020-02-12T20:58:26Z",
          "updatedAt" : "2020-02-12T20:58:26Z",
          "objectPropertyName" : "customPropertyPetType",
          "options" : [ {
            "value" : "dog",
            "label" : "Dog"
          }, {
            "value" : "cat",
            "label" : "Cat"
          } ]
        }
      },
      "TimelineEventResponse" : {
        "required" : [ "eventTemplateId", "id", "objectType", "tokens" ],
        "type" : "object",
        "properties" : {
          "eventTemplateId" : {
            "type" : "string",
            "description" : "The event template ID."
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "extraData" : {
            "type" : "object",
            "properties" : { },
            "description" : "Additional event-specific data that can be interpreted by the template's markdown."
          },
          "timelineIFrame" : {
            "$ref" : "#/components/schemas/TimelineEventIFrame"
          },
          "domain" : {
            "type" : "string",
            "description" : "The event domain (often paired with utk)."
          },
          "tokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A collection of token keys and values associated with the template tokens."
          },
          "id" : {
            "type" : "string",
            "description" : "Identifier for the event. This should be unique to the app and event template. If you use the same ID for different CRM objects, the last to be processed will win and the first will not have a record. You can also use `{{uuid}}` anywhere in the ID to generate a unique string, guaranteeing uniqueness."
          },
          "utk" : {
            "type" : "string",
            "description" : "Use the `utk` parameter to associate an event with a contact by `usertoken`. This is recommended if you don't know a user's email, but have an identifying user token in your cookie."
          },
          "email" : {
            "type" : "string",
            "description" : "The email address used for contact-specific events. This can be used to identify existing contacts, create new ones, or change the email for an existing contact (if paired with the `objectId`)."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The CRM object identifier. This is required for every event other than contacts (where utk or email can be used)."
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The time the event occurred. If not passed in, the curren time will be assumed. This is used to determine where an event is shown on a CRM object's timeline.",
            "format" : "date-time"
          },
          "objectType" : {
            "type" : "string",
            "description" : "The ObjectType associated with the EventTemplate."
          }
        },
        "description" : "The current state of the timeline event.",
        "example" : {
          "objectType" : "contacts",
          "id" : "petspot:1001298:art3mis-pup@petspot.com-004-invalid",
          "eventTemplateId" : "1001298",
          "email" : "art3mis-pup@petspot.com",
          "objectId" : "28001",
          "timestamp" : "2020-01-30T18:37:15.569Z",
          "tokens" : {
            "petName" : "Art3mis",
            "petColor" : "black",
            "petAge" : "3"
          },
          "extraData" : {
            "questions" : [ {
              "question" : "Who's a good girl?",
              "answer" : "Bark!"
            }, {
              "question" : "Do you wanna go on a walk?",
              "answer" : "Woof!"
            } ]
          },
          "timelineIFrame" : {
            "linkLabel" : "View Art3mis",
            "headerLabel" : "Art3mis dog",
            "url" : "https://my.petspot.com/pets/Art3mis",
            "width" : 600,
            "height" : 400
          }
        }
      },
      "TimelineEventTemplateTokenUpdateRequest" : {
        "required" : [ "label" ],
        "type" : "object",
        "properties" : {
          "options" : {
            "type" : "array",
            "description" : "If type is `enumeration`, we should have a list of options to choose from.",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventTemplateTokenOption"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Used for list segmentation and reporting."
          },
          "objectPropertyName" : {
            "type" : "string",
            "description" : "The name of the CRM object property. This will populate the CRM object property associated with the event. With enough of these, you can fully build CRM objects via the Timeline API."
          }
        },
        "description" : "State of the token definition for update requests.",
        "example" : {
          "label" : "petType edit",
          "options" : [ {
            "value" : "dog",
            "label" : "Dog"
          }, {
            "value" : "cat",
            "label" : "Cat"
          }, {
            "value" : "bird",
            "label" : "Bird"
          } ]
        }
      },
      "BatchResponseTimelineEventResponseWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TimelineEventResponse"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.schemas.contacts.write" : "Create new contact properties or change contact property settings",
              "crm.objects.companies.write" : "View company records",
              "crm.objects.companies.sensitive.write.v2" : "Create or update sensitive properties on company records",
              "crm.objects.companies.highly_sensitive.write.v2" : "Change company records (highly-sensitive)",
              "crm.schemas.companies.write" : "Create new company properties or change company property settings",
              "crm.schemas.deals.write" : "Create new deal properties or change deal property settings",
              "crm.objects.deals.write" : "Create or update deal records",
              "crm.objects.deals.sensitive.write.v2" : "Create or update sensitive properties on deal records",
              "crm.objects.deals.highly_sensitive.write.v2" : "Change deal records (highly-sensitive)",
              "tickets" : "Read and write tickets",
              "tickets.sensitive.v2" : "Tickets (sensitive)",
              "tickets.highly_sensitive.v2" : "Tickets (highly-sensitive)",
              "timeline" : "Create timeline events",
              "crm.objects.contacts.highly_sensitive.read.v2" : "View contact records (highly-sensitive)",
              "crm.schemas.contacts.read" : "View contacts property settings",
              "crm.objects.contacts.sensitive.read.v2" : "View sensitive properties on contact records",
              "crm.objects.contacts.read" : "View contact records",
              "crm.objects.companies.highly_sensitive.read.v2" : "View company records (highly-sensitive)",
              "crm.objects.companies.read" : "Create or update company records",
              "crm.schemas.companies.read" : "View company property settings",
              "crm.objects.companies.sensitive.read.v2" : "View sensitive properties on company records",
              "crm.objects.deals.highly_sensitive.read.v2" : "View deal records (highly-sensitive)",
              "crm.schemas.deals.read" : "View deals property settings",
              "crm.objects.deals.read" : "View deal records",
              "crm.objects.deals.sensitive.read.v2" : "View sensitive properties on deal records"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}