{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CMS Url Redirects",
    "description" : "URL redirect operations",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Redirect one page to another, or redirect an entire blog with one URL using flexible pattern variables.",
    "x-hubspot-related-documentation" : [ {
      "name" : "URL Redirects Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/cms/url-redirects"
    } ],
    "x-hubspot-introduction" : "Use the URL redirects API to redirect traffic from a HubSpot-hosted page or blog post to any URL. You can redirect pages to specific URLs or use flexible pattern redirects to redirect multiple pages using variables. Learn more about managing redirects in HubSpot."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Redirects"
  } ],
  "paths" : {
    "/cms/v3/url-redirects/" : {
      "get" : {
        "tags" : [ "Redirects" ],
        "operationId" : "get-/cms/v3/url-redirects/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalUrlMappingForwardPaging"
                },
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "3212223134",
                    "createdAt" : "2017-07-24T17:24:09.141Z",
                    "updatedAt" : "2017-07-24T17:24:09.141Z",
                    "routePrefix" : "http://test.hs-sites.com/(?P<page_slug>.*)",
                    "destination" : "http://www.example.online/{page_slug}",
                    "redirectStyle" : 301,
                    "isOnlyAfterNotFound" : true,
                    "isMatchFullUrl" : true,
                    "isMatchQueryString" : false,
                    "isPattern" : false,
                    "isTrailingSlashOptional" : true,
                    "isProtocolAgnostic" : true,
                    "precedence" : 3
                  }, {
                    "id" : "3212242073",
                    "createdAt" : "2017-07-25T15:42:06.410Z",
                    "updatedAt" : "2017-07-25T15:42:06.410Z",
                    "routePrefix" : "/mytest/(?P<page_slug>.*)",
                    "destination" : "/newtest/{page_slug}",
                    "redirectStyle" : 301,
                    "isOnlyAfterNotFound" : true,
                    "isMatchFullUrl" : true,
                    "isMatchQueryString" : false,
                    "isPattern" : false,
                    "isTrailingSlashOptional" : true,
                    "isProtocolAgnostic" : true,
                    "precedence" : 999999993
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "Mg%3D%3D",
                      "link" : "https://api.hubspot.com/cms/v3/url-redirects?after=Mg%3D%3D"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "post" : {
        "tags" : [ "Redirects" ],
        "operationId" : "post-/cms/v3/url-redirects/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UrlMappingCreateRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    },
    "/cms/v3/url-redirects/{urlRedirectId}" : {
      "get" : {
        "tags" : [ "Redirects" ],
        "operationId" : "get-/cms/v3/url-redirects/{urlRedirectId}_getById",
        "parameters" : [ {
          "name" : "urlRedirectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlMapping"
                },
                "example" : {
                  "id" : "3212223134",
                  "createdAt" : "2017-07-24T17:24:09.141Z",
                  "updatedAt" : "2017-07-24T17:24:09.141Z",
                  "routePrefix" : "http://test.hs-sites.com/(?P<page_slug>.*)",
                  "destination" : "http://www.example.online/{page_slug}",
                  "isOnlyAfterNotFound" : true,
                  "isMatchFullUrl" : true,
                  "isMatchQueryString" : false,
                  "isPattern" : false,
                  "isTrailingSlashOptional" : true,
                  "isProtocolAgnostic" : true
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Redirects" ],
        "operationId" : "delete-/cms/v3/url-redirects/{urlRedirectId}_archive",
        "parameters" : [ {
          "name" : "urlRedirectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Delete succeeded",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Redirects" ],
        "operationId" : "patch-/cms/v3/url-redirects/{urlRedirectId}_update",
        "parameters" : [ {
          "name" : "urlRedirectId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UrlMapping"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "content" ]
        }, {
          "private_apps" : [ "content" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "UrlMapping" : {
        "required" : [ "destination", "id", "isMatchFullUrl", "isMatchQueryString", "isOnlyAfterNotFound", "isPattern", "isProtocolAgnostic", "isTrailingSlashOptional", "precedence", "redirectStyle", "routePrefix" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "The date and time when the URL mapping was initially created.",
            "format" : "date-time"
          },
          "destination" : {
            "type" : "string",
            "description" : "The destination URL, where the target URL should be redirected if it matches the `routePrefix`."
          },
          "id" : {
            "type" : "string",
            "description" : "The unique ID of this URL redirect."
          },
          "isMatchFullUrl" : {
            "type" : "boolean",
            "description" : "Whether the `routePrefix` should match on the entire URL, including the domain."
          },
          "isMatchQueryString" : {
            "type" : "boolean",
            "description" : "Whether the `routePrefix` should match on the entire URL path, including the query string."
          },
          "isOnlyAfterNotFound" : {
            "type" : "boolean",
            "description" : "Whether the URL redirect mapping should apply only if a live page on the URL isn't found. If False, the URL redirect mapping will take precedence over any existing page."
          },
          "isPattern" : {
            "type" : "boolean",
            "description" : "Whether the `routePrefix` should match based on pattern."
          },
          "isProtocolAgnostic" : {
            "type" : "boolean",
            "description" : "Whether the `routePrefix` should match both HTTP and HTTPS protocols."
          },
          "isTrailingSlashOptional" : {
            "type" : "boolean",
            "description" : "Whether a trailing slash will be ignored."
          },
          "precedence" : {
            "type" : "integer",
            "description" : "Used to prioritize URL redirection. If a given URL matches more than one redirect, the one with the **lower** precedence will be used.",
            "format" : "int32"
          },
          "redirectStyle" : {
            "type" : "integer",
            "description" : "The type of redirect to create. Options include: 301 (permanent), 302 (temporary), or 305 (proxy). Find more details [here](https://knowledge.hubspot.com/cos-general/how-to-redirect-a-hubspot-page).",
            "format" : "int32"
          },
          "routePrefix" : {
            "type" : "string",
            "description" : "The target incoming URL, path, or pattern to match for redirection."
          },
          "updated" : {
            "type" : "string",
            "description" : "The date and time when the URL mapping was last modified.",
            "format" : "date-time"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "UrlMappingCreateRequestBody" : {
        "required" : [ "destination", "redirectStyle", "routePrefix" ],
        "type" : "object",
        "properties" : {
          "destination" : {
            "type" : "string",
            "description" : "The destination URL, where the target URL should be redirected if it matches the routePrefix."
          },
          "isMatchFullUrl" : {
            "type" : "boolean",
            "description" : "Whether the routePrefix should match on the entire URL, including the domain."
          },
          "isMatchQueryString" : {
            "type" : "boolean",
            "description" : "Whether the routePrefix should match on the entire URL path, including the query string."
          },
          "isOnlyAfterNotFound" : {
            "type" : "boolean",
            "description" : "Whether the URL redirect mapping should apply only if a live page on the URL isn't found. If False, the URL redirect mapping will take precedence over any existing page."
          },
          "isPattern" : {
            "type" : "boolean",
            "description" : "Whether the routePrefix should match based on pattern."
          },
          "isProtocolAgnostic" : {
            "type" : "boolean",
            "description" : "Whether the routePrefix should match both HTTP and HTTPS protocols."
          },
          "isTrailingSlashOptional" : {
            "type" : "boolean",
            "description" : "Whether a trailing slash will be ignored."
          },
          "precedence" : {
            "type" : "integer",
            "description" : "Used to prioritize URL redirection. If a given URL matches more than one redirect, the one with the lower precedence will be used.",
            "format" : "int32"
          },
          "redirectStyle" : {
            "type" : "integer",
            "description" : "The type of redirect to create. Options include: 301 (permanent), 302 (temporary), or 305 (proxy).",
            "format" : "int32"
          },
          "routePrefix" : {
            "type" : "string",
            "description" : "The target incoming URL, path, or pattern to match for redirection."
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "The cursor value indicating where to begin fetching the next page of results in a paginated collection."
          },
          "link" : {
            "type" : "string",
            "description" : "An optional URL for directly accessing the next page of results."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "CollectionResponseWithTotalUrlMappingForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UrlMapping"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of URL mappings available.",
            "format" : "int32"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "content" : "Read from and write to my Content"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "PROFESSIONAL",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}