{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Object Tags",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/crm/object-tags/2026-09-beta/{objectTypeId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve tags",
        "description" : "Retrieve all CRM object tags associated with a specific object type in your HubSpot account. This endpoint allows you to view tags that are used to categorize or label CRM objects, which can be useful for organizing and filtering data.",
        "operationId" : "get-/crm/object-tags/2026-09-beta/{objectTypeId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which tags are being retrieved. This parameter is required and must be a string.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicCrmObjectTagNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Tag",
        "description" : "Create a new CRM object tag for a specified object type in your HubSpot account. This endpoint allows you to define attributes such as name, color, and filter criteria for the tag. It is useful for organizing and categorizing CRM objects based on custom criteria.",
        "operationId" : "post-/crm/object-tags/2026-09-beta/{objectTypeId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type for which the tag is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePublicCrmObjectTagRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCrmObjectTag"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      }
    },
    "/crm/object-tags/2026-09-beta/{objectTypeId}/{tagId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve tag",
        "description" : "Retrieve a specific CRM object tag by its unique identifiers. This endpoint allows you to access detailed information about a tag associated with a particular object type in your HubSpot account. Useful for obtaining tag details for further processing or display.",
        "operationId" : "get-/crm/object-tags/2026-09-beta/{objectTypeId}/{tagId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type to which the tag belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tagId",
          "in" : "path",
          "description" : "The unique identifier of the tag to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCrmObjectTag"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update tag",
        "description" : "Update an existing CRM object tag in your HubSpot account. This endpoint allows you to modify the properties of a specific tag identified by its tag ID and object type ID. It is useful for maintaining and organizing tags associated with CRM objects.",
        "operationId" : "put-/crm/object-tags/2026-09-beta/{objectTypeId}/{tagId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type associated with the tag.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tagId",
          "in" : "path",
          "description" : "The unique identifier of the tag to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReplacePublicCrmObjectTagRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCrmObjectTag"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific CRM object tag identified by the objectTypeId and tagId. This operation is useful for removing tags that are no longer needed or relevant in your CRM system.",
        "operationId" : "delete-/crm/object-tags/2026-09-beta/{objectTypeId}/{tagId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type to which the tag belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tagId",
          "in" : "path",
          "description" : "The unique identifier of the tag to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update tag",
        "description" : "Update an existing CRM object tag in your HubSpot account. This endpoint allows you to modify the properties of a tag, such as its name, color, description, and associated filter branches. Use this to keep your tags up-to-date with your CRM data management needs.",
        "operationId" : "patch-/crm/object-tags/2026-09-beta/{objectTypeId}/{tagId}",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type to which the tag belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tagId",
          "in" : "path",
          "description" : "The unique identifier of the tag to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PatchPublicCrmObjectTagRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicCrmObjectTag"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm-pipelines-object-label-access" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicCrmObjectTagNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "An array of CRM object tags. Each item in the array is a PublicCrmObjectTag object, representing a tag associated with a CRM object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicCrmObjectTag"
            }
          }
        },
        "example" : null
      },
      "CreatePublicCrmObjectTagRequest" : {
        "required" : [ "color", "displayOrder", "filterBranch", "filterPipelineIds", "name" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "type" : "string",
            "description" : "The color associated with the CRM object tag. It is a string that represents the tag's color.",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A string providing a description of the CRM object tag.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the display order of the CRM object tag.",
            "format" : "int32",
            "example" : null
          },
          "filterBranch" : {
            "description" : "Defines the filter branch for the CRM object tag. This can be one of several filter branch types, such as PublicOrFilterBranch or PublicAndFilterBranch.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "filterPipelineIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the pipelines associated with the CRM object tag.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the CRM object tag. It is a string that identifies the tag.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string indicating the general category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition, with keys as context names and values as arrays of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the request for debugging purposes.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects, each containing detailed information about individual errors.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing URLs related to the error, such as documentation links or support resources.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string providing a human-readable description of the error.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A string providing more specific details about the error category.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. This is a string property.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties. Each property is an array of strings providing further details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This is a string property.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. This is a required string property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. This is a string property.",
            "example" : null
          }
        },
        "example" : null
      },
      "PatchPublicCrmObjectTagRequest" : {
        "required" : [ "color", "description", "filterBranch", "filterPipelineIds", "name" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the color associated with the CRM object tag.",
            "example" : null
          },
          "description" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the description of the CRM object tag.",
            "example" : null
          },
          "filterBranch" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the filter branch configuration for the CRM object tag.",
            "example" : null
          },
          "filterPipelineIds" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the pipeline IDs associated with the CRM object tag.",
            "example" : null
          },
          "name" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the name of the CRM object tag to be updated.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicAbsoluteComparativeTimestampRefineBy" : {
        "title" : "ABSOLUTE_COMPARATIVE",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string representing the comparison operation to be performed.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp to be used for comparison, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refinement, with a default value of 'ABSOLUTE_COMPARATIVE'.",
            "example" : null,
            "default" : "ABSOLUTE_COMPARATIVE",
            "enum" : [ "ABSOLUTE_COMPARATIVE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAbsoluteRangedTimestampRefineBy" : {
        "title" : "ABSOLUTE_RANGED",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the timestamp range, in Unix milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string representing the type of range being defined.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the type of refine by operation. The default value is 'ABSOLUTE_RANGED'.",
            "example" : null,
            "default" : "ABSOLUTE_RANGED",
            "enum" : [ "ABSOLUTE_RANGED" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the timestamp range, in Unix milliseconds.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsSearchFilter" : {
        "title" : "ADS_SEARCH",
        "required" : [ "adNetwork", "entityType", "filterType", "operator", "searchTermType", "searchTerms" ],
        "type" : "object",
        "properties" : {
          "adNetwork" : {
            "type" : "string",
            "description" : "A string specifying the ad network to which the filter applies.",
            "example" : null
          },
          "entityType" : {
            "type" : "string",
            "description" : "A string representing the type of entity being filtered in the ad search.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter being applied. The default value is 'ADS_SEARCH'.",
            "example" : null,
            "default" : "ADS_SEARCH",
            "enum" : [ "ADS_SEARCH" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the operation to be performed by the filter.",
            "example" : null
          },
          "searchTermType" : {
            "type" : "string",
            "description" : "A string indicating the type of search term used in the filter.",
            "example" : null
          },
          "searchTerms" : {
            "type" : "array",
            "description" : "An array of strings containing the search terms used to filter ads.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsTimeFilter" : {
        "title" : "ADS_TIME",
        "required" : [ "filterType", "pruningRefineBy" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter. The default value is 'ADS_TIME'.",
            "example" : null,
            "default" : "ADS_TIME",
            "enum" : [ "ADS_TIME" ]
          },
          "pruningRefineBy" : {
            "description" : "An object that specifies the criteria for refining the filter based on time. It can be one of several types, such as 'PublicNumOccurrencesRefineBy', 'PublicSetOccurrencesRefineBy', or various timestamp refine types.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refinement. The default and only valid value is 'ALL_HISTORY'.",
            "example" : null,
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation. This property is required.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation. This property is required and has a default value of 'ALL_PROPERTY_TYPES'.",
            "example" : null,
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation. This property is required.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter branch. This is used to define the logical operation applied to the filters or filter branches.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. The default value is 'AND'.",
            "example" : null,
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of filter branches that are combined using the 'AND' logic. Each item can be another filter branch, allowing for nested logical operations.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters that are combined using the 'AND' logic. Each filter applies specific criteria to the data.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string representing the category of the association.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the association type.",
            "format" : "int32",
            "example" : null
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used within the filter branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. The default value is 'ASSOCIATION'.",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of filter branches that can include various types of filter branches like OR, AND, NOT_ALL, and others.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters that can include different types of filters such as property filters, association filters, and various analytics filters.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the ID of the object type associated with this filter branch.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter branch.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationInListFilter" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "coalescingRefineBy", "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string that specifies the category of the association.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer that represents the unique identifier of the association type.",
            "format" : "int32",
            "example" : null
          },
          "coalescingRefineBy" : {
            "description" : "An object that defines additional refinement criteria for the filter. It can be one of several types, such as occurrences or timestamp-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'ASSOCIATION'.",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "A string that represents the unique identifier of the list being filtered.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that specifies the operator used in the filter criteria.",
            "example" : null
          },
          "toObjectType" : {
            "type" : "string",
            "description" : "A string that specifies the type of object to which the associations are related.",
            "example" : null
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "A string that specifies the type ID of the object to which the associations are related.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicBoolPropertyOperation" : {
        "title" : "BOOL",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "value" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation. For this component, it defaults to 'BOOLEAN'.",
            "example" : null,
            "default" : "BOOL",
            "enum" : [ "BOOL" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the boolean operation. The specific operators are not detailed in the spec.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean representing the value to be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCalendarDatePropertyOperation" : {
        "title" : "CALENDAR_DATE",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string representing the starting month of the fiscal year. Valid values include 'JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST', 'SEPTEMBER', 'OCTOBER', 'NOVEMBER', 'DECEMBER'.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'CALENDAR_DATE'.",
            "example" : null,
            "default" : "CALENDAR_DATE",
            "enum" : [ "CALENDAR_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string specifying the unit of time for the operation.",
            "example" : null
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer specifying the count of time units for the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the fiscal year should be used.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCommunicationSubscriptionFilter" : {
        "title" : "COMMUNICATION_SUBSCRIPTION",
        "required" : [ "acceptedOptStates", "channel", "filterType", "subscriptionIds", "subscriptionType" ],
        "type" : "object",
        "properties" : {
          "acceptedOptStates" : {
            "type" : "array",
            "description" : "An array of strings representing the opt-in states that are accepted in the filter.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "A string representing the ID of the business unit associated with the subscription.",
            "example" : null
          },
          "channel" : {
            "type" : "string",
            "description" : "A string specifying the communication channel associated with the subscription.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that indicates the type of filter, which is 'COMMUNICATION_SUBSCRIPTION' by default.",
            "example" : null,
            "default" : "COMMUNICATION_SUBSCRIPTION",
            "enum" : [ "COMMUNICATION_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the subscriptions to be filtered.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "A string indicating the type of subscription being filtered.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeDatePropertyOperation" : {
        "title" : "COMPARATIVE_DATE",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use for comparison if the comparison property is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'COMPARATIVE_DATE'.",
            "example" : null,
            "default" : "COMPARATIVE_DATE",
            "enum" : [ "COMPARATIVE_DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativePropertyUpdatedOperation" : {
        "title" : "COMPARATIVE_PROPERTY_UPDATED",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be compared.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value used for comparison if the property value is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation. Defaults to 'COMPARATIVE_STRING'.",
            "example" : null,
            "default" : "COMPARATIVE_PROPERTY_UPDATED",
            "enum" : [ "COMPARATIVE_PROPERTY_UPDATED" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicComparativeStringPropertyOperation" : {
        "title" : "COMPARATIVE_STRING",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use for comparison if the property being compared is not set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects without a value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'COMPARATIVE_STRING' for this component.",
            "example" : null,
            "default" : "COMPARATIVE_STRING",
            "enum" : [ "COMPARATIVE_STRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used for comparison.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicConstantFilter" : {
        "title" : "CONSTANT",
        "required" : [ "filterType", "shouldAccept" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "The type of filter being applied. This is a constant value of 'CONSTANT'.",
            "example" : null,
            "default" : "CONSTANT",
            "enum" : [ "CONSTANT" ]
          },
          "shouldAccept" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the filter should accept the criteria. If true, the criteria are accepted; if false, they are not.",
            "example" : null
          },
          "source" : {
            "type" : "string",
            "description" : "An optional string indicating the source of the filter.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicCrmObjectTag" : {
        "required" : [ "color", "createdAt", "displayOrder", "filterBranch", "filterPipelineIds", "id", "name", "objectTypeId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "type" : "string",
            "description" : "The color associated with the tag, represented as a string.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the tag was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdBy" : {
            "type" : "integer",
            "description" : "The ID of the user who created the tag, represented as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the tag, represented as a string.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "An integer representing the order in which the tag is displayed.",
            "format" : "int32",
            "example" : null
          },
          "filterBranch" : {
            "description" : "The filter criteria associated with the tag, which can be one of several types of filter branches.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "filterPipelineIds" : {
            "type" : "array",
            "description" : "An array of pipeline IDs that the tag is associated with, each represented as a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the tag, represented as a string.",
            "example" : null
          },
          "lastModifiedBy" : {
            "type" : "integer",
            "description" : "The ID of the user who last modified the tag, represented as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the tag, represented as a string.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The identifier for the type of object this tag is associated with, represented as a string.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the tag was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicCtaAnalyticsFilter" : {
        "title" : "CTA",
        "required" : [ "ctaName", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An optional refinement criterion that can be one of several types, such as occurrences or timestamp-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "ctaName" : {
            "type" : "string",
            "description" : "A string representing the name of the Call-to-Action (CTA) being filtered.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'CTA'.",
            "example" : null,
            "default" : "CTA",
            "enum" : [ "CTA" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "An optional refinement criterion that can be one of several types, such as occurrences or timestamp-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time representation.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone information.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDatePropertyOperation" : {
        "title" : "DATE",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer specifying the day component of the date operation.",
            "format" : "int32",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the date property should be included in the operation.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "A string representing the month component of the date operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is always 'DATE' for this component.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the date operation.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer specifying the year component of the date operation.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicDateTimePropertyOperation" : {
        "title" : "DATETIME",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'DATETIME' by default.",
            "example" : null,
            "default" : "DATETIME",
            "enum" : [ "DATETIME" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean specifying whether time zone conversion is necessary for the operation.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp in milliseconds, used as a reference point for the operation.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEmailEventFilter" : {
        "title" : "EMAIL_EVENT",
        "required" : [ "appId", "emailId", "filterType", "level", "operator" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the application associated with the email event.",
            "example" : null
          },
          "clickUrl" : {
            "type" : "string",
            "description" : "A string representing the URL that was clicked in the email, if applicable.",
            "example" : null
          },
          "emailId" : {
            "type" : "string",
            "description" : "A string specifying the unique identifier of the email.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter, which is 'EMAIL_EVENT' for this component.",
            "example" : null,
            "default" : "EMAIL_EVENT",
            "enum" : [ "EMAIL_EVENT" ]
          },
          "level" : {
            "type" : "string",
            "description" : "A string representing the level of the email event.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string indicating the condition to apply for the filter. Valid values include 'LINK_CLICKED', 'MARKED_SPAM', 'OPENED', 'REPLIED', 'UNSUBSCRIBED', 'BOUNCED', 'RECEIVED', 'SENT', and others.",
            "example" : null,
            "enum" : [ "BOUNCED", "LINK_CLICKED", "MARKED_SPAM", "OPENED", "OPENED_BUT_LINK_NOT_CLICKED", "OPENED_BUT_NOT_REPLIED", "RECEIVED", "RECEIVED_BUT_NOT_OPENED", "REPLIED", "SENT", "SENT_BUT_LINK_NOT_CLICKED", "SENT_BUT_NOT_RECEIVED", "UNSUBSCRIBED" ]
          },
          "pruningRefineBy" : {
            "description" : "An object used to further refine the filter criteria, which can be one of several types such as PublicNumOccurrencesRefineBy, PublicSetOccurrencesRefineBy, or others.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEmailSubscriptionFilter" : {
        "title" : "EMAIL_SUBSCRIPTION",
        "required" : [ "acceptedStatuses", "filterType", "subscriptionIds" ],
        "type" : "object",
        "properties" : {
          "acceptedStatuses" : {
            "type" : "array",
            "description" : "An array of strings indicating the statuses that are accepted for the subscriptions.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter. Defaults to 'EMAIL_SUBSCRIPTION'.",
            "example" : null,
            "default" : "EMAIL_SUBSCRIPTION",
            "enum" : [ "EMAIL_SUBSCRIPTION" ]
          },
          "subscriptionIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the subscriptions to be filtered.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "subscriptionType" : {
            "type" : "string",
            "description" : "A string representing the type of subscription.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEnumerationPropertyOperation" : {
        "title" : "ENUMERATION",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation. Defaults to 'ENUMERATION'.",
            "example" : null,
            "default" : "ENUMERATION",
            "enum" : [ "ENUMERATION" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the operator to be used in the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values involved in the enumeration operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventAnalyticsFilter" : {
        "title" : "EVENT",
        "required" : [ "eventId", "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An optional refinement criterion that can be one of several types, such as occurrences or timestamp comparisons, used to further narrow down the filter results.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "eventId" : {
            "type" : "string",
            "description" : "A string that uniquely identifies the event to be filtered.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that indicates the type of filter being used. The default value is 'EVENT'.",
            "example" : null,
            "default" : "EVENT",
            "enum" : [ "EVENT" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter, which defines the condition to be applied.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "An optional refinement criterion similar to coalescingRefineBy, used to exclude certain results based on specified conditions.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicEventFilterMetadata" : {
        "required" : [ "operation", "property" ],
        "type" : "object",
        "properties" : {
          "operation" : {
            "description" : "An object that defines the operation to be performed on the property for filtering. This operation can be one of several types, such as boolean, number, string, date, and more, as specified by the schema references.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicBoolPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDateTimePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativePropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingDateRangePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRollingPropertyUpdatedOperation"
            }, {
              "$ref" : "#/components/schemas/PublicEnumerationPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicAllPropertyTypesOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedNumberPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicMultiStringPropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicCalendarDatePropertyOperation"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            }, {
              "$ref" : "#/components/schemas/PublicComparativeStringPropertyOperation"
            } ]
          },
          "property" : {
            "type" : "string",
            "description" : "A string representing the specific property of the event that is being filtered.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFiscalQuarterReference" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_QUARTER'.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFiscalYearReference" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'FISCAL_YEAR'.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFormSubmissionFilter" : {
        "title" : "FORM_SUBMISSION",
        "required" : [ "filterType", "operator" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object used to refine the filter by coalescing criteria. It can be one of several schema types, such as PublicNumOccurrencesRefineBy or PublicTimePointOperation.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string representing the type of filter. Defaults to 'FORM_SUBMISSION'.",
            "example" : null,
            "default" : "FORM_SUBMISSION",
            "enum" : [ "FORM_SUBMISSION" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the form.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter. Valid values include 'FILLED_OUT' and 'NOT_FILLED_OUT'.",
            "example" : null,
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pruningRefineBy" : {
            "description" : "An object used to refine the filter by pruning criteria. It can be one of several schema types, such as PublicNumOccurrencesRefineBy or PublicTimePointOperation.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicFormSubmissionOnPageFilter" : {
        "title" : "FORM_SUBMISSION_ON_PAGE",
        "required" : [ "filterType", "operator", "pageId" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object that defines criteria for merging filter results, offering similar time-based and occurrence-based refinement options as pruningRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string that specifies the type of filter. The default value is 'FORM_SUBMISSION_ON_PAGE'.",
            "example" : null,
            "default" : "FORM_SUBMISSION_ON_PAGE",
            "enum" : [ "FORM_SUBMISSION_ON_PAGE" ]
          },
          "formId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the form.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that determines the operation type for the filter, with valid values being 'FILLED_OUT' or 'NOT_FILLED_OUT'.",
            "example" : null,
            "enum" : [ "FILLED_OUT", "NOT_FILLED_OUT" ]
          },
          "pageId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the page where the form submission is being filtered.",
            "example" : null
          },
          "pruningRefineBy" : {
            "description" : "An object that specifies criteria for refining the filter results, with options for various time-based and occurrence-based refinements.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicInListFilter" : {
        "title" : "IN_LIST",
        "required" : [ "filterType", "listId", "operator" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter. Defaults to 'IN_LIST'.",
            "example" : null,
            "default" : "IN_LIST",
            "enum" : [ "IN_LIST" ]
          },
          "listId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the list to be checked against.",
            "example" : null
          },
          "metadata" : {
            "$ref" : "#/components/schemas/PublicInListFilterMetadata"
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicInListFilterMetadata" : {
        "required" : [ "id", "inListType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the list. It is a string that specifies which list is being referenced.",
            "example" : null
          },
          "inListType" : {
            "type" : "string",
            "description" : "The type of list being referenced. It is a string that indicates the nature or category of the list.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks in the time offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years in the time offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicIndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "An object that can be one of several types, such as PublicNowReference, PublicTodayReference, PublicWeekReference, and others, representing the reference point for the indexed time.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNowReference"
            }, {
              "$ref" : "#/components/schemas/PublicTodayReference"
            }, {
              "$ref" : "#/components/schemas/PublicWeekReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicFiscalYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicYearReference"
            }, {
              "$ref" : "#/components/schemas/PublicQuarterReference"
            }, {
              "$ref" : "#/components/schemas/PublicMonthReference"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/PublicIndexOffset"
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, with a default value of 'INDEXED'.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string representing the source of the timezone information.",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string specifying the timezone identifier.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicIntegrationEventFilter" : {
        "title" : "INTEGRATION_EVENT",
        "required" : [ "eventTypeId", "filterLines", "filterType" ],
        "type" : "object",
        "properties" : {
          "eventTypeId" : {
            "type" : "integer",
            "description" : "A string that identifies the type of event to filter.",
            "format" : "int32",
            "example" : null
          },
          "filterLines" : {
            "type" : "array",
            "description" : "An array of filter lines, each defined by the PublicEventFilterMetadata schema, used to specify detailed filtering criteria.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicEventFilterMetadata"
            }
          },
          "filterType" : {
            "type" : "string",
            "description" : "A string representing the type of filter. The default value is 'INTEGRATION_EVENT'.",
            "example" : null,
            "default" : "INTEGRATION_EVENT",
            "enum" : [ "INTEGRATION_EVENT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, which is 'MONTH' for this component.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicMultiStringPropertyOperation" : {
        "title" : "MULTISTRING",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation, which is 'MULTISTRING' by default.",
            "example" : null,
            "default" : "MULTISTRING",
            "enum" : [ "MULTISTRING" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values involved in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNotAllFilterBranch" : {
        "title" : "NOT_ALL",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. The default value is 'NOT_ALL'.",
            "example" : null,
            "default" : "NOT_ALL",
            "enum" : [ "NOT_ALL" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of nested filter branches. Each item can be one of several types of filter branches, allowing for complex nested logic.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters applied within this branch. Each filter can be one of several types, enabling detailed filtering criteria.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicNotAnyFilterBranch" : {
        "title" : "NOT_ANY",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used within the filter branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. Defaults to 'NOT_ANY'.",
            "example" : null,
            "default" : "NOT_ANY",
            "enum" : [ "NOT_ANY" ]
          },
          "filterBranches" : {
[...]
