{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Automation Actions V4",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL",
      "commerce" : "PROFESSIONAL",
      "crmHub" : "PROFESSIONAL",
      "dataHub" : "PROFESSIONAL"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Callbacks"
  }, {
    "name" : "Definitions"
  }, {
    "name" : "Functions"
  }, {
    "name" : "Revisions"
  } ],
  "paths" : {
    "/automation/actions/2026-09/{appId}" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "summary" : "Retrieve custom action definitions",
        "description" : "Retrieve custom workflow action definitions by app ID.",
        "operationId" : "get-/automation/actions/2026-09/{appId}_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the application to retrieve extension definitions for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Definitions" ],
        "summary" : "Create a new custom action definition",
        "description" : "Create a new custom workflow action.",
        "operationId" : "post-/automation/actions/2026-09/{appId}_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app for which the extension definition is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "summary" : "Retrieve a custom action definition",
        "description" : "Retrieve a custom workflow action definition by ID.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app containing the extension definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the extension definition to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Definitions" ],
        "summary" : "Delete an action definition",
        "description" : "Delete an action definition by ID.",
        "operationId" : "delete-/automation/actions/2026-09/{appId}/{definitionId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the extension definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the extension definition to archive.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Definitions" ],
        "summary" : "Update an existing action definition",
        "description" : "Update an existing action definition by ID.",
        "operationId" : "patch-/automation/actions/2026-09/{appId}/{definitionId}_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the extension definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the extension definition to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/functions" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve functions for a given definition",
        "description" : "Retrieve all functions included in a definition.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/functions_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the action definition for which functions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionFunctionIdentifierNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve functions by a type for a given definition",
        "description" : "Retrieve functions of a specific type for a given definition.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_getByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the automation action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the automation action definition for which functions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of function to retrieve. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunction"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Functions" ],
        "summary" : "Insert a function for a definition",
        "description" : "Add a function for a given definition.",
        "operationId" : "put-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_createOrReplaceByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the automation action.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the definition to which the function will be added.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of function to insert. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Functions" ],
        "summary" : "Delete a function for a definition",
        "description" : "Delete a function within a given definition.",
        "operationId" : "delete-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_archiveByFunctionType",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the automation action.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the automation action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of function to delete. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}" : {
      "get" : {
        "tags" : [ "Functions" ],
        "summary" : "Retrieve a function from a given definition",
        "description" : "Retrieve a specific function from a given definition.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the function.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the definition to which the function belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "description" : "The unique identifier of the function to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of function to retrieve. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunction"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Functions" ],
        "summary" : "Update a function for a definition",
        "description" : "Update a function for a given definition by ID.",
        "operationId" : "put-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_createOrReplace",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the definition to which the function belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "description" : "The unique identifier of the function to insert.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of function to insert, indicating when it is executed. Valid values include PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Functions" ],
        "summary" : "Archive a function for a definition",
        "description" : "Archive a function for a specific definition.",
        "operationId" : "delete-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_archive",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app that contains the action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the action definition to which the function belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionId",
          "in" : "path",
          "description" : "The unique identifier of the function to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "functionType",
          "in" : "path",
          "description" : "The type of the function to delete. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/requires-object" : {
      "get" : {
        "tags" : [ "Definitions" ],
        "summary" : "Retrieve the object requirement status for a custom action definition.",
        "description" : "Retrieve whether a custom action definition requires an object.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the extension definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the extension definition to check.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionDefinitionRequiresObjectResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Definitions" ],
        "summary" : "Set the object requirement for a custom action definition.",
        "description" : "Set whether a custom action definition requires an object.",
        "operationId" : "post-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the extension definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the extension definition for which the requirement is being set.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicActionDefinitionRequiresObjectRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/revisions" : {
      "get" : {
        "tags" : [ "Revisions" ],
        "summary" : "Retrieve revisions for a given definition",
        "description" : "Retrieve the versions of a definition by ID.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/revisions_getPage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the action definition for which revisions are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicActionRevisionForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/2026-09/{appId}/{definitionId}/revisions/{revisionId}" : {
      "get" : {
        "tags" : [ "Revisions" ],
        "summary" : "Retrieve a specific revision of a definition",
        "description" : "Retrieve a specific revision of a definition by revision ID.",
        "operationId" : "get-/automation/actions/2026-09/{appId}/{definitionId}/revisions/{revisionId}_getById",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique identifier of the app associated with the action definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "definitionId",
          "in" : "path",
          "description" : "The unique identifier of the action definition for which the revision is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "revisionId",
          "in" : "path",
          "description" : "The unique identifier of the specific revision to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicActionRevision"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/automation/actions/callbacks/2026-09/complete" : {
      "post" : {
        "tags" : [ "Callbacks" ],
        "summary" : "Complete a batch of callbacks",
        "description" : "Complete a batch of blocked action executions.",
        "operationId" : "post-/automation/actions/callbacks/2026-09/complete_completeBatch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputCallbackCompletionBatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        } ]
      }
    },
    "/automation/actions/callbacks/2026-09/{callbackId}/complete" : {
      "post" : {
        "tags" : [ "Callbacks" ],
        "summary" : "Completes a callback",
        "description" : "Complete a specific blocked action execution by ID.",
        "operationId" : "post-/automation/actions/callbacks/2026-09/{callbackId}/complete_complete",
        "parameters" : [ {
          "name" : "callbackId",
          "in" : "path",
          "description" : "The unique identifier of the callback to complete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CallbackCompletionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "automation" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActionExecutionIndexIdentifier" : {
        "required" : [ "actionExecutionIndex", "enrollmentId" ],
        "type" : "object",
        "properties" : {
          "actionExecutionIndex" : {
            "type" : "integer",
            "description" : "The index number representing the execution order of the action.",
            "format" : "int32",
            "example" : null
          },
          "enrollmentId" : {
            "type" : "integer",
            "description" : "The ID associated with the enrollment process.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "AgentRequestContext" : {
        "title" : "AGENTS",
        "required" : [ "agentId", "chirpAiContextObject", "source" ],
        "type" : "object",
        "properties" : {
          "agentId" : {
            "type" : "integer",
            "description" : "The unique identifier for the agent making the request.",
            "format" : "int64",
            "example" : null
          },
          "chirpAiContextObject" : {
            "$ref" : "#/components/schemas/ChirpAiContextObject"
          },
          "source" : {
            "type" : "string",
            "description" : "Indicates the source of the request, with the default value being 'AGENTS'.",
            "example" : null,
            "default" : "AGENTS",
            "enum" : [ "AGENTS" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "description" : "The unique identifier for the trajectory associated with the agent request.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ArrayFieldSchema" : {
        "title" : "ARRAY",
        "required" : [ "items", "type" ],
        "type" : "object",
        "properties" : {
          "items" : {
            "description" : "Defines the type of elements contained within the array, which can be an integer, long, double, string, boolean, another array, or an object.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/IntegerFieldSchema"
            }, {
              "$ref" : "#/components/schemas/LongFieldSchema"
            }, {
              "$ref" : "#/components/schemas/DoubleFieldSchema"
            }, {
              "$ref" : "#/components/schemas/StringFieldSchema"
            }, {
              "$ref" : "#/components/schemas/BooleanFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ArrayFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ObjectFieldSchema"
            }, {
              "$ref" : "#/components/schemas/UnknownFieldSchema"
            } ]
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies that the field is of type 'ARRAY'.",
            "example" : null,
            "default" : "ARRAY",
            "enum" : [ "ARRAY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "BatchInputCallbackCompletionBatchRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of CallbackCompletionBatchRequest objects, each representing a single callback completion request. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CallbackCompletionBatchRequest"
            }
          }
        },
        "example" : null
      },
      "BooleanFieldSchema" : {
        "title" : "BOOLEAN",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Specifies the field type as BOOLEAN, indicating that the field can hold a true or false value.",
            "example" : null,
            "default" : "BOOLEAN",
            "enum" : [ "BOOLEAN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CallbackCompletionBatchRequest" : {
        "required" : [ "callbackId", "outputFields", "typedOutputs" ],
        "type" : "object",
        "properties" : {
          "callbackId" : {
            "type" : "string",
            "description" : "The unique identifier for the callback.",
            "example" : null
          },
          "failureReasonType" : {
            "type" : "string",
            "description" : "Specifies the type of failure reason for the callback completion.",
            "example" : null
          },
          "outputFields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Holds the output fields for the callback completion.",
            "example" : null
          },
          "requestContext" : {
            "description" : "Defines the context of the request, which can be one of several predefined types.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/WorkflowsRequestContext"
            }, {
              "$ref" : "#/components/schemas/AgentRequestContext"
            }, {
              "$ref" : "#/components/schemas/CopilotRequestContext"
            }, {
              "$ref" : "#/components/schemas/StandaloneRequestContext"
            }, {
              "$ref" : "#/components/schemas/TestRequestContext"
            } ]
          },
          "typedOutputs" : {
            "type" : "object",
            "properties" : { },
            "description" : "Contains the typed outputs for the callback completion.",
            "example" : null
          }
        },
        "example" : null
      },
      "CallbackCompletionRequest" : {
        "required" : [ "outputFields", "typedOutputs" ],
        "type" : "object",
        "properties" : {
          "failureReasonType" : {
            "type" : "string",
            "description" : "Indicates the reason for the failure of a callback completion.",
            "example" : null
          },
          "outputFields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Contains the output fields associated with the callback, with each field represented as a key-value pair.",
            "example" : null
          },
          "requestContext" : {
            "description" : "Specifies the context in which the request is made, which can be one of several predefined contexts.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/WorkflowsRequestContext"
            }, {
              "$ref" : "#/components/schemas/AgentRequestContext"
            }, {
              "$ref" : "#/components/schemas/CopilotRequestContext"
            }, {
              "$ref" : "#/components/schemas/StandaloneRequestContext"
            }, {
              "$ref" : "#/components/schemas/TestRequestContext"
            } ]
          },
          "typedOutputs" : {
            "type" : "object",
            "properties" : { },
            "description" : "Holds the typed outputs related to the callback, structured as an object.",
            "example" : null
          }
        },
        "example" : null
      },
      "ChirpAiContextObject" : {
        "required" : [ "applicationGroup", "applicationId", "isPrivate", "metadata", "otelContextHolder", "unstructuredSources" ],
        "type" : "object",
        "properties" : {
          "applicationGroup" : {
            "type" : "string",
            "description" : "The group to which the application belongs.",
            "example" : null
          },
          "applicationId" : {
            "type" : "string",
            "description" : "The identifier for the application associated with the context.",
            "example" : null
          },
          "complianceIds" : {
            "$ref" : "#/components/schemas/ComplianceIds"
          },
          "conversationId" : {
            "type" : "string",
            "description" : "A string identifier for the conversation associated with the context.",
            "example" : null
          },
          "featureId" : {
            "type" : "string",
            "description" : "The identifier for the feature associated with the context.",
            "example" : null
          },
          "inferenceId" : {
            "type" : "string",
            "description" : "The identifier for the inference associated with the context.",
            "example" : null
          },
          "isPrivate" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the context is private.",
            "example" : null
          },
          "metadata" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Additional metadata related to the context, represented as key-value pairs.",
            "example" : null
          },
          "otelContextHolder" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Holds OpenTelemetry context information as key-value pairs.",
            "example" : null
          },
          "sensitivity" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "HIPAA", "NOT_SENSITIVE", "SENSITIVE" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "description" : "The identifier for the trajectory, formatted as a UUID.",
            "format" : "uuid",
            "example" : null
          },
          "unstructuredSources" : {
            "type" : "array",
            "description" : "An array of strings indicating the sources of unstructured data. Valid values include 'NONE', 'USER_INPUT', 'LOGGED_EMAIL', 'VIDEO_CALL', 'AUDIO_CALL', 'CALL_TRANSCRIPT', 'MEETING_TRANSCRIPT', 'FORMS', 'FEEDBACK_SURVEY', 'PDF', 'QUOTE', 'INVOICE', 'OTHER_ATTACHMENT_DOC', 'WHATSAPP', 'SMS', 'CHAT', 'FACEBOOK_MESSENGER', 'CUSTOM_CHANNEL_OR_API', 'MANY', 'NOTE', and 'DERIVED'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "NONE", "USER_INPUT", "LOGGED_EMAIL", "VIDEO_CALL", "AUDIO_CALL", "CALL_TRANSCRIPT", "MEETING_TRANSCRIPT", "FORMS", "FEEDBACK_SURVEY", "PDF", "QUOTE", "INVOICE", "OTHER_ATTACHMENT_DOC", "WHATSAPP", "SMS", "CHAT", "FACEBOOK_MESSENGER", "CUSTOM_CHANNEL_OR_API", "MANY", "NOTE", "DERIVED" ]
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicActionDefinitionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public action definitions, each represented by a PublicActionDefinition object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionDefinition"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicActionFunctionIdentifierNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "An array of PublicActionFunctionIdentifier objects, each representing a specific function associated with an automation action definition.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePublicActionRevisionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicActionRevision objects, each representing a specific revision of a public action definition.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionRevision"
            }
          }
        },
        "example" : null
      },
      "ComplianceIds" : {
        "required" : [ "contactIds", "portalIds", "userIds" ],
        "type" : "object",
        "properties" : {
          "contactIds" : {
            "type" : "array",
            "description" : "An array of ContactId objects representing the IDs of the contacts involved.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ContactId"
            }
          },
          "noContactIdReason" : {
            "type" : "string",
            "description" : "The reason why no contact ID is available.",
            "example" : null
          },
          "noPortalIdReason" : {
            "type" : "string",
            "description" : "The reason why no portal ID is available.",
            "example" : null
          },
          "noUserIdReason" : {
            "type" : "string",
            "description" : "The reason why no user ID is available.",
            "example" : null
          },
          "portalIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of the portals involved.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "userIds" : {
            "type" : "array",
            "description" : "An array of integers representing the IDs of the users involved.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ContactId" : {
        "required" : [ "portalId" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the contact.",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "description" : "The ID of the portal associated with the contact.",
            "format" : "int32",
            "example" : null
          },
          "vid" : {
            "type" : "integer",
            "description" : "The unique identifier for the contact.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "CopilotRequestContext" : {
        "title" : "COPILOT",
        "required" : [ "source" ],
        "type" : "object",
        "properties" : {
          "source" : {
            "type" : "string",
            "description" : "Indicates the source of the request, with the default value being 'COPILOT'.",
            "example" : null,
            "default" : "COPILOT",
            "enum" : [ "COPILOT" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "description" : "The unique identifier for the trajectory.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DoubleFieldSchema" : {
        "title" : "DOUBLE",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "number",
            "description" : "The maximum allowable value for the double field.",
            "example" : null
          },
          "minimum" : {
            "type" : "number",
            "description" : "The minimum allowable value for the double field.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates the field type as DOUBLE.",
            "example" : null,
            "default" : "DOUBLE",
            "enum" : [ "DOUBLE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "FieldTypeDefinition" : {
        "required" : [ "externalOptions", "name", "options", "schema", "type", "useChirp" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A detailed explanation of the field's purpose and usage.",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "description" : "Indicates whether the field's options are sourced externally.",
            "example" : null
          },
          "externalOptionsReferenceType" : {
            "type" : "string",
            "description" : "Specifies the type of external reference for options.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Describes the field's type in the UI, with accepted values like booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, textarea, unknown.",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "calculation_read_time", "calculation_rollup", "calculation_score", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea", "unknown" ]
          },
          "helpText" : {
            "type" : "string",
            "description" : "Additional information or guidance about the field.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The user-friendly label for the field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The unique identifier for the field.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of options available for the field, each represented by an Option object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "optionsUrl" : {
            "type" : "string",
            "description" : "A URL that provides options for the field.",
            "example" : null
          },
          "referencedObjectType" : {
            "type" : "string",
            "description" : "Indicates the type of object that the field references, with accepted values like OWNER.",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "schema" : {
            "description" : "Defines the structure and constraints of the field.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/IntegerFieldSchema"
            }, {
              "$ref" : "#/components/schemas/LongFieldSchema"
            }, {
              "$ref" : "#/components/schemas/DoubleFieldSchema"
            }, {
              "$ref" : "#/components/schemas/StringFieldSchema"
            }, {
              "$ref" : "#/components/schemas/BooleanFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ArrayFieldSchema"
            }, {
              "$ref" : "#/components/schemas/ObjectFieldSchema"
            }, {
              "$ref" : "#/components/schemas/UnknownFieldSchema"
            } ]
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the data type of the field, with accepted values like bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, string.",
            "example" : null,
            "enum" : [ "bool", "currency_number", "date", "datetime", "enumeration", "json", "number", "object_coordinates", "phone_number", "string", "time_range" ]
          },
          "useChirp" : {
            "type" : "boolean",
            "description" : "Specifies whether the field uses the Chirp feature.",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "description" : "Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.",
        "example" : null
      },
      "IntegerFieldSchema" : {
        "title" : "INTEGER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "integer",
            "description" : "The maximum value allowed for the integer field.",
            "format" : "int32",
            "example" : null
          },
          "minimum" : {
            "type" : "integer",
            "description" : "The minimum value allowed for the integer field.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the field, which is set to INTEGER.",
            "example" : null,
            "default" : "INTEGER",
            "enum" : [ "INTEGER" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "LongFieldSchema" : {
        "title" : "LONG",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "maximum" : {
            "type" : "integer",
            "description" : "The maximum value allowed for the long field.",
            "format" : "int64",
            "example" : null
          },
          "minimum" : {
            "type" : "integer",
            "description" : "The minimum value allowed for the long field.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the field, which is LONG by default.",
            "example" : null,
            "default" : "LONG",
            "enum" : [ "LONG" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token that indicates the position after the last item on the current page. This token is used to fetch the next page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "ObjectFieldSchema" : {
        "title" : "OBJECT",
        "required" : [ "properties", "type" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : { },
            "description" : "Contains the properties of the object.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of the field, which is 'OBJECT' by default.",
            "example" : null,
            "default" : "OBJECT",
            "enum" : [ "OBJECT" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Option" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional details about the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order in which the option should be displayed relative to other options.",
            "format" : "int32",
            "example" : null
          },
          "doubleData" : {
            "type" : "number",
            "description" : "A numerical value associated with the option.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option is hidden from the user interface.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display name of the option, shown to users. It is a string.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option is read-only and cannot be modified.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The internal value of the option, used in data processing. It is a string.",
            "example" : null
          }
        },
        "description" : "A HubSpot property option",
        "example" : null
      },
      "OutputFieldDefinition" : {
        "required" : [ "typeDefinition" ],
        "type" : "object",
        "properties" : {
          "typeDefinition" : {
            "$ref" : "#/components/schemas/FieldTypeDefinition"
          }
        },
        "example" : null
      },
      "PublicActionDefinition" : {
        "required" : [ "actionUrl", "functions", "id", "inputFields", "labels", "objectTypes", "published", "revisionId" ],
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "description" : "The URL endpoint where the action is executed. It is a string.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "integer",
            "description" : "A Unix timestamp in milliseconds representing when the action was archived. It is an integer.",
            "format" : "int64",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "description" : "An array of execution translation rules for the action, where each item is a PublicExecutionTranslationRule.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "functions" : {
            "type" : "array",
            "description" : "An array of function identifiers associated with the action, where each item is a PublicActionFunctionIdentifier.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunctionIdentifier"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the action definition. It is a string.",
            "example" : null
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "description" : "An array of dependencies between input fields, where each item can be a PublicSingleFieldDependency or PublicConditionalSingleFieldDependency.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "description" : "An array of input field definitions required for the action. Each item is a PublicInputFieldDefinition object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "description" : "An object containing labels for the action, with each property being a PublicActionLabels object.",
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "An array of strings representing the types of objects associated with the action.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "description" : "An array of output field definitions produced by the action. Each item is an OutputFieldDefinition object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the action is published and available for use.",
            "example" : null
          },
          "revisionId" : {
            "type" : "string",
            "description" : "The unique identifier for the current revision of the action definition. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionEgg" : {
        "required" : [ "actionUrl", "functions", "inputFields", "labels", "objectTypes", "published" ],
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "description" : "The URL endpoint where the action is executed.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "integer",
            "description" : "The timestamp indicating when the action was archived.",
            "format" : "int64",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "description" : "An array of PublicExecutionTranslationRule objects that define rules for executing the action.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "functions" : {
            "type" : "array",
            "description" : "An array of PublicActionFunction objects that define the functions associated with the action, including their type and source.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicActionFunction"
            }
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "description" : "An array that can contain either PublicSingleFieldDependency or PublicConditionalSingleFieldDependency objects, defining dependencies between input fields.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "description" : "An array of PublicInputFieldDefinition objects defining the input fields required for the action.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "description" : "Holds various labels associated with the action, including names and descriptions.",
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "An array of strings representing the types of objects associated with the action.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "description" : "An array of OutputFieldDefinition objects specifying the output fields of the action.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "description" : "Indicates whether the action is published and available for use.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "actionUrl" : {
            "type" : "string",
            "description" : "The URL endpoint where the action is executed.",
            "example" : null
          },
          "executionRules" : {
            "type" : "array",
            "description" : "An array of execution rules that define the conditions under which the action executes. Each item is a PublicExecutionTranslationRule object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicExecutionTranslationRule"
            }
          },
          "inputFieldDependencies" : {
            "type" : "array",
            "description" : "An array of dependencies between input fields. Each item can be a PublicSingleFieldDependency or a PublicConditionalSingleFieldDependency.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicSingleFieldDependency"
              }, {
                "$ref" : "#/components/schemas/PublicConditionalSingleFieldDependency"
              } ]
            }
          },
          "inputFields" : {
            "type" : "array",
            "description" : "An array of input field definitions required for the action. Each item is a PublicInputFieldDefinition object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicInputFieldDefinition"
            }
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicActionLabels"
            },
            "description" : "Contains labels for the action, including names and descriptions.",
            "example" : null
          },
          "objectRequestOptions" : {
            "$ref" : "#/components/schemas/PublicObjectRequestOptions"
          },
          "objectTypes" : {
            "type" : "array",
            "description" : "An array of strings representing the types of objects associated with the action.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "outputFields" : {
            "type" : "array",
            "description" : "An array of output field definitions that the action will produce. Each item is an OutputFieldDefinition object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OutputFieldDefinition"
            }
          },
          "published" : {
            "type" : "boolean",
            "description" : "Indicates whether the action is published and available for use.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionRequiresObjectRequest" : {
        "required" : [ "requiresObject" ],
        "type" : "object",
        "properties" : {
          "requiresObject" : {
            "type" : "boolean",
            "description" : "Indicates whether a custom action definition requires an associated object.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionDefinitionRequiresObjectResponse" : {
        "required" : [ "requiresObject" ],
        "type" : "object",
        "properties" : {
          "requiresObject" : {
            "type" : "boolean",
            "description" : "Indicates whether a custom action definition requires an object.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionFunction" : {
        "required" : [ "functionSource", "functionType" ],
        "type" : "object",
        "properties" : {
          "functionSource" : {
            "type" : "string",
            "description" : "The source code or script that defines the function's behavior.",
            "example" : null
          },
          "functionType" : {
            "type" : "string",
            "description" : "The type of function, with accepted values: POST_ACTION_EXECUTION, POST_FETCH_OPTIONS, PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS.",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the action function.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionFunctionIdentifier" : {
        "required" : [ "functionType" ],
        "type" : "object",
        "properties" : {
          "functionType" : {
            "type" : "string",
            "description" : "The type of function, with accepted values: POST_ACTION_EXECUTION, POST_FETCH_OPTIONS, PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS.",
            "example" : null,
            "enum" : [ "POST_ACTION_EXECUTION", "POST_FETCH_OPTIONS", "PRE_ACTION_EXECUTION", "PRE_FETCH_OPTIONS" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the function.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionLabels" : {
        "required" : [ "actionName" ],
        "type" : "object",
        "properties" : {
          "actionCardContent" : {
            "type" : "string",
            "description" : "Content displayed on the action card.",
            "example" : null
          },
          "actionDescription" : {
            "type" : "string",
            "description" : "A description of what the action does.",
            "example" : null
          },
          "actionName" : {
            "type" : "string",
            "description" : "The name of the action.",
            "example" : null
          },
          "appDisplayName" : {
            "type" : "string",
            "description" : "The display name of the application associated with the action.",
            "example" : null
          },
          "executionRules" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Rules that govern the execution of the action.",
            "example" : null
          },
          "inputFieldDescriptions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Descriptions for each input field.",
            "example" : null
          },
          "inputFieldLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Labels for the input fields.",
            "example" : null
          },
          "inputFieldOptionLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            },
            "description" : "Labels for the options available in input fields.",
            "example" : null
          },
          "outputFieldLabels" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Labels for the output fields.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicActionRevision" : {
        "required" : [ "createdAt", "definition", "id", "revisionId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the action revision was created.",
            "format" : "date-time",
            "example" : null
          },
          "definition" : {
            "$ref" : "#/components/schemas/PublicActionDefinition"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the action revision.",
            "example" : null
          },
          "revisionId" : {
            "type" : "string",
            "description" : "The unique identifier for the specific revision of the action.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicConditionalSingleFieldDependency" : {
        "title" : "CONDITIONAL_SINGLE_FIELD",
        "required" : [ "controllingFieldName", "controllingFieldValue", "dependencyType", "dependentFieldNames" ],
        "type" : "object",
        "properties" : {
          "controllingFieldName" : {
            "type" : "string",
            "description" : "The name of the field that determines the dependency.",
            "example" : null
          },
          "controllingFieldValue" : {
            "type" : "string",
            "description" : "The value of the controlling field that triggers the dependency.",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "description" : "The type of dependency, with the default value being CONDITIONAL_SINGLE_FIELD.",
            "example" : null,
            "default" : "CONDITIONAL_SINGLE_FIELD",
            "enum" : [ "CONDITIONAL_SINGLE_FIELD" ]
          },
          "dependentFieldNames" : {
            "type" : "array",
            "description" : "An array of strings representing the names of fields that are dependent on the controlling field.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicExecutionTranslationRule" : {
        "required" : [ "conditions", "labelName" ],
        "type" : "object",
        "properties" : {
          "conditions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { },
              "example" : null
            },
            "description" : "Defines the conditions that must be met for the execution rule to apply.",
            "example" : null
          },
          "labelName" : {
            "type" : "string",
            "description" : "Specifies the name of the label associated with the execution rule.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicFieldTypeDefinition" : {
        "required" : [ "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A detailed explanation of the field's purpose.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "The type of field, with accepted values including booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, and textarea.",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea" ]
          },
          "helpText" : {
            "type" : "string",
            "description" : "Additional information or guidance about the field.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly name for the field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name used to identify the field.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of options available for the field, each defined by the PublicOption schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicOption"
            }
          },
          "optionsUrl" : {
            "type" : "string",
            "description" : "A URL that provides options for the field.",
            "example" : null
          },
          "referencedObjectType" : {
            "type" : "string",
            "description" : "The type of object that the field references, with accepted values including OWNER.",
            "example" : null,
            "enum" : [ "OWNER" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the field, with accepted values including bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, and string.",
            "example" : null,
            "enum" : [ "bool", "date", "datetime", "enumeration", "json", "number", "object_coordinates", "phone_number", "string" ]
          }
        },
        "example" : null
      },
      "PublicInputFieldDefinition" : {
        "required" : [ "isRequired", "typeDefinition" ],
        "type" : "object",
        "properties" : {
          "isRequired" : {
            "type" : "boolean",
            "description" : "Indicates whether the input field is mandatory.",
            "example" : null
          },
          "supportedValueTypes" : {
            "type" : "array",
            "description" : "An array indicating the types of values that the input field can support. Valid values include 'STATIC_VALUE' and 'OBJECT_PROPERTY'.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "STATIC_VALUE", "OBJECT_PROPERTY" ]
            }
          },
          "typeDefinition" : {
            "$ref" : "#/components/schemas/PublicFieldTypeDefinition"
          }
        },
        "example" : null
      },
      "PublicObjectRequestOptions" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "description" : "An array of strings representing the names of the properties to be requested. Each string in the array specifies a property of the object that should be included in the response.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "PublicOption" : {
        "required" : [ "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the option relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly label that identifies the option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The actual value of the option.",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicSingleFieldDependency" : {
        "title" : "SINGLE_FIELD",
        "required" : [ "controllingFieldName", "dependencyType", "dependentFieldNames" ],
        "type" : "object",
        "properties" : {
          "controllingFieldName" : {
            "type" : "string",
            "description" : "The name of the field that controls the dependency.",
            "example" : null
          },
          "dependencyType" : {
            "type" : "string",
            "description" : "The type of dependency, with the default value being 'SINGLE_FIELD'.",
            "example" : null,
            "default" : "SINGLE_FIELD",
            "enum" : [ "SINGLE_FIELD" ]
          },
          "dependentFieldNames" : {
            "type" : "array",
            "description" : "An array of strings representing the names of fields that are dependent on the controlling field.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "StandaloneRequestContext" : {
        "title" : "STANDALONE",
        "required" : [ "chirpAiContextObject", "source" ],
        "type" : "object",
        "properties" : {
          "chirpAiContextObject" : {
            "$ref" : "#/components/schemas/ChirpAiContextObject"
          },
          "source" : {
            "type" : "string",
            "description" : "Indicates the source of the request, with the default value being 'STANDALONE'.",
            "example" : null,
            "default" : "STANDALONE",
            "enum" : [ "STANDALONE" ]
          },
          "trajectoryId" : {
            "type" : "string",
            "description" : "A unique identifier for tracking the trajectory of the request.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "StringFieldSchema" : {
        "title" : "STRING",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "format" : {
            "type" : "string",
            "description" : "Specifies the format of the string, with accepted values: DATE, DATE_TIME, OBJECT_COORDINATE, TIME, URI.",
            "example" : null,
            "enum" : [ "DATE", "DATE_TIME", "MONTH_AND_DAY", "OBJECT_COORDINATE", "TIME", "URI" ]
          },
          "type" : {
            "type" : "string",
            "description" : "Indicates that the type is a string, with the default value being STRING.",
            "example" : null,
            "default" : "STRING",
            "enum" : [ "STRING" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "TestRequestContext" : {
        "title" : "TEST",
        "required" : [ "source" ],
        "type" : "object",
        "properties" : {
          "source" : {
            "type" : "string",
            "description" : "Indicates the source of the test request, with the only accepted value being 'TEST'.",
            "example" : null,
            "default" : "TEST",
            "enum" : [ "TEST" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "UnknownFieldSchema" : {
        "title" : "UNKNOWN",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that indicates the type of the field. In this schema, it is always set to 'UNKNOWN'.",
            "example" : null,
            "default" : "UNKNOWN",
            "enum" : [ "UNKNOWN" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "WorkflowsRequestContext" : {
        "title" : "WORKFLOWS",
        "required" : [ "source", "workflowId" ],
        "type" : "object",
        "properties" : {
          "actionExecutionIndexIdentifier" : {
            "$ref" : "#/components/schemas/ActionExecutionIndexIdentifier"
          },
          "actionId" : {
            "type" : "integer",
            "description" : "The ID of the action within the workflow context.",
            "format" : "int64",
            "example" : null
          },
          "source" : {
            "type" : "string",
            "description" : "Indicates the source of the request, with the default value being WORKFLOWS.",
            "example" : null,
            "default" : "WORKFLOWS",
            "enum" : [ "WORKFLOWS" ]
          },
          "workflowId" : {
            "type" : "integer",
            "description" : "The ID of the workflow associated with the request context.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
[...]
