{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Data Studio Datasource Ingestion",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/data-studio/data-source/2026-09-beta" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create",
        "description" : "Create a new data source in HubSpot Data Studio. This endpoint allows developers to upload and configure a new data source using multipart form data. It requires authentication and appropriate permissions to write data integration file data sources.",
        "operationId" : "post-/data-studio/data-source/2026-09-beta",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDataMultiPart"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "data_integration.data_source.file.write" ]
        }, {
          "private_apps" : [ "data_integration.data_source.file.write" ]
        } ]
      }
    },
    "/data-studio/data-source/2026-09-beta/{datasourceId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve",
        "description" : "Retrieve detailed information about a specific data source in HubSpot Data Studio. This endpoint provides details such as the data source's name, type, creation date, and the status of the last data ingestion. It is useful for developers who need to access and manage data sources programmatically.",
        "operationId" : "get-/data-studio/data-source/2026-09-beta/{datasourceId}",
        "parameters" : [ {
          "name" : "datasourceId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSourceGetResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "data_integration.data_source.file.read" ]
        }, {
          "private_apps" : [ "data_integration.data_source.file.read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update",
        "description" : "Update an existing data source in HubSpot Data Studio. This endpoint allows you to modify the details of a specific data source identified by its datasourceId. The request must include a multipart form-data body with the necessary fields to update the data source.",
        "operationId" : "put-/data-studio/data-source/2026-09-beta/{datasourceId}",
        "parameters" : [ {
          "name" : "datasourceId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDataMultiPart"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSourceUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "data_integration.data_source.file.write" ]
        }, {
          "private_apps" : [ "data_integration.data_source.file.write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a data source in HubSpot Data Studio. This operation is used to remove a specific data source identified by its ID. Ensure that the data source is no longer needed before deletion, as this action cannot be undone.",
        "operationId" : "delete-/data-studio/data-source/2026-09-beta/{datasourceId}",
        "parameters" : [ {
          "name" : "datasourceId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "data_integration.data_source.file.write" ]
        }, {
          "private_apps" : [ "data_integration.data_source.file.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BodyPart" : {
        "required" : [ "contentDisposition", "entity", "headers", "mediaType", "messageBodyWorkers", "parameterizedHeaders", "parent", "providers" ],
        "type" : "object",
        "properties" : {
          "contentDisposition" : {
            "$ref" : "#/components/schemas/ContentDisposition"
          },
          "entity" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the actual content or payload of the body part.",
            "example" : null
          },
          "headers" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing the headers associated with this body part, where each header can have multiple string values.",
            "example" : null
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "messageBodyWorkers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing workers that handle the processing of the message body.",
            "example" : null
          },
          "parameterizedHeaders" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ParameterizedHeader"
              }
            },
            "description" : "An object containing headers with parameters, where each header can have multiple ParameterizedHeader objects.",
            "example" : null
          },
          "parent" : {
            "$ref" : "#/components/schemas/MultiPart"
          },
          "providers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing providers that supply additional handling or processing for the body part.",
            "example" : null
          }
        },
        "example" : null
      },
      "ParameterizedHeader" : {
        "required" : [ "parameters", "value" ],
        "type" : "object",
        "properties" : {
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional parameters for the header, where each key is a parameter name and each value is a string representing the parameter's value.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "A string representing the main value of the header.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "FileColumn" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the column, represented as a string.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the column, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "DataSourceUpdateResponse" : {
        "required" : [ "datasourceId", "datasourceName", "previewLink" ],
        "type" : "object",
        "properties" : {
          "datasourceId" : {
            "type" : "integer",
            "description" : "The unique identifier for the data source. It is an integer formatted as int64.",
            "format" : "int64",
            "example" : null
          },
          "datasourceName" : {
            "type" : "string",
            "description" : "The name of the data source. It is a string.",
            "example" : null
          },
          "previewLink" : {
            "type" : "string",
            "description" : "A URL string that provides a preview link for the data source.",
            "example" : null
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "MultiPart" : {
        "required" : [ "bodyParts", "contentDisposition", "entity", "headers", "mediaType", "messageBodyWorkers", "parameterizedHeaders", "parent", "providers" ],
        "type" : "object",
        "properties" : {
          "bodyParts" : {
            "type" : "array",
            "description" : "An array of BodyPart objects, each representing a distinct part of the multipart entity.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/BodyPart"
            }
          },
          "contentDisposition" : {
            "$ref" : "#/components/schemas/ContentDisposition"
          },
          "entity" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object that holds the main content or payload of the multipart entity.",
            "example" : null
          },
          "headers" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing a map of header names to their respective values, where each value is an array of strings.",
            "example" : null
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "messageBodyWorkers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object that may contain workers for processing the message body, though its specific properties are not detailed.",
            "example" : null
          },
          "parameterizedHeaders" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ParameterizedHeader"
              }
            },
            "description" : "An object containing a map of header names to arrays of ParameterizedHeader objects, which include additional parameters for each header.",
            "example" : null
          },
          "parent" : {
            "$ref" : "#/components/schemas/MultiPart"
          },
          "providers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object that may contain providers related to the multipart entity, though its specific properties are not detailed.",
            "example" : null
          }
        },
        "example" : null
      },
      "ContentDisposition" : {
        "required" : [ "creationDate", "fileName", "modificationDate", "parameters", "readDate", "size", "type" ],
        "type" : "object",
        "properties" : {
          "creationDate" : {
            "type" : "string",
            "description" : "The date and time when the file was created, formatted as a date-time string.",
            "format" : "date-time",
            "example" : null
          },
          "fileName" : {
            "type" : "string",
            "description" : "The name of the file as a string, indicating the file's name in the content disposition.",
            "example" : null
          },
          "modificationDate" : {
            "type" : "string",
            "description" : "The date and time when the file was last modified, formatted as a date-time string.",
            "format" : "date-time",
            "example" : null
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional parameters for the content disposition, with each parameter represented as a key-value pair of strings.",
            "example" : null
          },
          "readDate" : {
            "type" : "string",
            "description" : "The date and time when the file was last read, formatted as a date-time string.",
            "format" : "date-time",
            "example" : null
          },
          "size" : {
            "type" : "integer",
            "description" : "The size of the file as an integer, representing the file's size in bytes.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of content disposition, typically a string indicating how the content should be handled.",
            "example" : null
          }
        },
        "example" : null
      },
      "FormDataBodyPart" : {
        "required" : [ "contentDisposition", "entity", "formDataContentDisposition", "headers", "mediaType", "messageBodyWorkers", "name", "parameterizedHeaders", "parent", "providers", "simple", "value" ],
        "type" : "object",
        "properties" : {
          "contentDisposition" : {
            "$ref" : "#/components/schemas/ContentDisposition"
          },
          "entity" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the entity of the form data part, which contains the actual data being submitted.",
            "example" : null
          },
          "formDataContentDisposition" : {
            "$ref" : "#/components/schemas/FormDataContentDisposition"
          },
          "headers" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing the headers associated with this form data part, where each header can have multiple string values.",
            "example" : null
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "messageBodyWorkers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the message body workers, which are responsible for processing the body of the message.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the form data part, typically used to identify the part within the multipart request.",
            "example" : null
          },
          "parameterizedHeaders" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ParameterizedHeader"
              }
            },
            "description" : "An object containing parameterized headers, where each header can have multiple values represented as ParameterizedHeader objects.",
            "example" : null
          },
          "parent" : {
            "$ref" : "#/components/schemas/MultiPart"
          },
          "providers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the providers associated with this form data part.",
            "example" : null
          },
          "simple" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form data part is simple, typically meaning it does not contain complex nested structures.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The string value of the form data part, representing the actual data being submitted as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "FormDataMultiPart" : {
        "required" : [ "bodyParts", "contentDisposition", "entity", "fields", "headers", "mediaType", "messageBodyWorkers", "parameterizedHeaders", "parent", "providers" ],
        "type" : "object",
        "properties" : {
          "bodyParts" : {
            "type" : "array",
            "description" : "An array of BodyPart objects, each representing a part of the multipart form data.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/BodyPart"
            }
          },
          "contentDisposition" : {
            "$ref" : "#/components/schemas/ContentDisposition"
          },
          "entity" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the entity of the multipart form data, containing the actual data to be processed.",
            "example" : null
          },
          "fields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/FormDataBodyPart"
              }
            },
            "description" : "An object containing fields of the multipart form data, where each field can have multiple FormDataBodyPart items.",
            "example" : null
          },
          "headers" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing headers associated with the multipart form data, where each header can have multiple string values.",
            "example" : null
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "messageBodyWorkers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing workers that process the message body of the multipart form data.",
            "example" : null
          },
          "parameterizedHeaders" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/ParameterizedHeader"
              }
            },
            "description" : "An object containing parameterized headers, where each header can have multiple ParameterizedHeader items.",
            "example" : null
          },
          "parent" : {
            "$ref" : "#/components/schemas/MultiPart"
          },
          "providers" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing providers associated with the multipart form data.",
            "example" : null
          }
        },
        "example" : null
      },
      "MediaType" : {
        "required" : [ "parameters", "subtype", "type", "wildcardSubtype", "wildcardType" ],
        "type" : "object",
        "properties" : {
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional parameters for the media type, where each key-value pair is a string.",
            "example" : null
          },
          "subtype" : {
            "type" : "string",
            "description" : "The specific subtype of the media, represented as a string.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The primary type of the media, represented as a string.",
            "example" : null
          },
          "wildcardSubtype" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the media subtype is a wildcard.",
            "example" : null
          },
          "wildcardType" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the media type is a wildcard.",
            "example" : null
          }
        },
        "example" : null
      },
      "DataSourceGetResponse" : {
        "required" : [ "columns", "createdAt", "datasourceId", "datasourceName", "datasourceType", "lastIngestionStatus" ],
        "type" : "object",
        "properties" : {
          "columns" : {
            "type" : "array",
            "description" : "An array of FileColumn objects representing the columns in the data source.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FileColumn"
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The creation date and time of the data source, represented as a string.",
            "example" : null
          },
          "datasourceId" : {
            "type" : "integer",
            "description" : "The unique identifier for the data source, represented as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          },
          "datasourceName" : {
            "type" : "string",
            "description" : "The name of the data source, represented as a string.",
            "example" : null
          },
          "datasourceType" : {
            "type" : "string",
            "description" : "The type of the data source, which is a string with a valid value of 'FILE'.",
            "example" : null,
            "enum" : [ "FILE" ]
          },
          "lastIngestionStatus" : {
            "type" : "string",
            "description" : "The status of the last data ingestion process, represented as a string. Valid values include 'SUCCESSFUL', 'IN_PROGRESS', and 'FAILED'.",
            "example" : null,
            "enum" : [ "FAILED", "IN_PROGRESS", "SUCCESSFUL" ]
          }
        },
        "example" : null
      },
      "FormDataContentDisposition" : {
        "required" : [ "creationDate", "fileName", "modificationDate", "name", "parameters", "readDate", "size", "type" ],
        "type" : "object",
        "properties" : {
          "creationDate" : {
            "type" : "string",
            "description" : "The date and time when the file was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "fileName" : {
            "type" : "string",
            "description" : "A string indicating the name of the file associated with this content disposition.",
            "example" : null
          },
          "modificationDate" : {
            "type" : "string",
            "description" : "The date and time when the file was last modified, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name associated with this content disposition.",
            "example" : null
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional parameters for the content disposition, with each parameter represented as a string.",
            "example" : null
          },
          "readDate" : {
            "type" : "string",
            "description" : "The date and time when the file was last read, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "size" : {
            "type" : "integer",
            "description" : "An integer representing the size of the file in bytes.",
            "format" : "int32",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of content disposition.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "data_integration.data_source.file.read" : "Read access to data_integration file data sources.",
              "data_integration.data_source.file.write" : "Write access to data_integration file data sources."
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}