{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ファイル",
    "description" : "Upload and manage files.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "会社のリブランドを開始する場合は、マーケティングチームや営業チームがアセットを更新できるようにブランド設定された一連の画像やアセットをファイルマネージャーにアップロードしてください。",
    "x-hubspot-related-documentation" : [ {
      "name" : "Files Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/files"
    } ],
    "x-hubspot-introduction" : "ファイルAPIを使用して、HubSpotのファイル マネージャー ツールでファイルの管理や保存を行います。ファイルはEメールへの画像ファイルの挿入など、さまざまなHubSpotツールで使用できます。"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Files"
  }, {
    "name" : "ファイル"
  }, {
    "name" : "Folders"
  }, {
    "name" : "フォルダー"
  } ],
  "paths" : {
    "/files/v3/files/{fileId}/gdpr-delete" : {
      "delete" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "GDPR削除",
        "description" : "ファイルをGDRP削除",
        "operationId" : "delete-/files/v3/files/{fileId}/gdpr-delete_archiveGDPR",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "GDPR削除するファイルのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/{fileId}" : {
      "get" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルを取得します。",
        "description" : "IDを基準にファイルを取得します。",
        "operationId" : "get-/files/v3/files/{fileId}_getById",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "希望するファイルのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/File"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      },
      "put" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルを置き換えます。",
        "description" : "既存のファイルデータを新しいファイルデータに置き換えます。新しいファイルをアップロードして全ての参照を更新することなく画像コンテンツを変更するために使用できます。",
        "operationId" : "put-/files/v3/files/{fileId}_replace",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "希望するファイルのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "File data that will replace existing file in the file manager.",
                    "format" : "binary"
                  },
                  "charsetHunch" : {
                    "type" : "string",
                    "description" : "Character set of given file data."
                  },
                  "options" : {
                    "type" : "string",
                    "description" : "JSON String representing FileReplaceOptions"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/File"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルを削除",
        "description" : "IDを基準にファイルを削除",
        "operationId" : "delete-/files/v3/files/{fileId}_archive",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "削除に失敗しました",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルプロパティーを更新",
        "description" : "IDを基準にファイルのプロパティーを更新します。",
        "operationId" : "patch-/files/v3/files/{fileId}_updateProperties",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "更新するファイルのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Options to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileUpdateInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/File"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders/{folderId}" : {
      "get" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを取得",
        "description" : "IDを基準にフォルダーを取得",
        "operationId" : "get-/files/v3/folders/{folderId}_getById",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "目的のフォルダーのID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "返されるフォルダーで設定するプロパティー。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを削除します。",
        "description" : "IDを基準にフォルダーを削除します。",
        "operationId" : "delete-/files/v3/folders/{folderId}_archive",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "削除するフォルダーのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files" : {
      "post" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルをアップロード",
        "description" : "リクエスト本文で指定されたコンテンツを含めて1つのファイルをアップロードしてください。",
        "operationId" : "post-/files/v3/files_upload",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "File to be uploaded.",
                    "format" : "binary"
                  },
                  "folderId" : {
                    "type" : "string",
                    "description" : "Either 'folderId' or 'folderPath' is required. folderId is the ID of the folder the file will be uploaded to."
                  },
                  "folderPath" : {
                    "type" : "string",
                    "description" : "Either 'folderPath' or 'folderId' is required. This field represents the destination folder path for the uploaded file. If a path doesn't exist, the system will try to create one."
                  },
                  "fileName" : {
                    "type" : "string",
                    "description" : "Desired name for the uploaded file."
                  },
                  "charsetHunch" : {
                    "type" : "string",
                    "description" : "Character set of the uploaded file."
                  },
                  "options" : {
                    "type" : "string",
                    "description" : "JSON string representing FileUploadOptions."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/File"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders" : {
      "post" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを作成します。",
        "description" : "フォルダーが作成されます。",
        "operationId" : "post-/files/v3/folders_create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "Folder creation options",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolderInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/{fileId}/signed-url" : {
      "get" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "非公開ファイルにアクセスするための署名付きURLを取得します。",
        "description" : "非公開ファイルへの一時的なアクセスを可能にする署名付きのURLが生成されます。",
        "operationId" : "get-/files/v3/files/{fileId}/signed-url_getSignedUrl",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ファイルのID。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "画像ファイル用。これにより、共有前に画像のサイズが目的のサイズに変更されます。元のファイルには影響せず、影響するのはこの署名付きURLによって提供されるファイルのみです。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "thumb", "icon", "medium", "preview" ]
          }
        }, {
          "name" : "expirationSeconds",
          "in" : "query",
          "description" : "リンクでファイルへのアクセス権が提供される秒数。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "upscale",
          "in" : "query",
          "description" : "サイズを指定すると、サイズのディメンションに合わせて画像がアップスケールされます。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SignedUrl"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/import-from-url/async" : {
      "post" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルをURLからファイルマネージャーにインポートします。",
        "description" : "指定されたURLにあるファイルが非同期でファイルマネージャーにインポートされます。",
        "operationId" : "post-/files/v3/files/import-from-url/async_importFromUrl",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImportFromUrlInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportFromUrlTaskLocator"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/stat/{path}" : {
      "get" : {
        "tags" : [ "Files", "ファイル" ],
        "operationId" : "get-/files/v3/files/stat/{path}_getMetadata",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileStat"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders/search" : {
      "get" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを検索",
        "description" : "フォルダーを検索します。非表示のフォルダーやアーカイブされたフォルダーは含まれません。",
        "operationId" : "get-/files/v3/folders/search_doSearch",
        "parameters" : [ {
          "name" : "properties",
          "in" : "query",
          "description" : "返されるフォルダーに含まれるプロパティー。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "それぞれの検索の項目の最大オフセットは10000です。この上限に達する場合は検索を絞り込んでください。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "返す結果の制限。上限は100個です。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "指定したプロパティーを基準に結果の表示順を変更します。例えば、-nameでは名前フィールドを基準に降順で表示順を変更し、nameでは名前フィールドを基準に照準で表示順を変更します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "指定したIDでフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "指定した作成タイムスタンプのフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAtLte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAtGte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "指定した更新タイムスタンプのフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAtLte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAtGte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "指定した名前が含まれるフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "パスでフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentFolderId",
          "in" : "query",
          "description" : "指定した親folderIdのフォルダーを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFolder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders/update/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダー更新のステータスをチェックします。",
        "description" : "フォルダー更新のステータスをチェックします。フォルダー更新は非同期で行われます。",
        "operationId" : "get-/files/v3/folders/update/async/tasks/{taskId}/status_checkUpdateStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "フォルダー更新のTaskId。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolderActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/search" : {
      "get" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "ファイルを検索",
        "description" : "ファイルマネージャーでファイルを検索してください。非表示のファイルやアーカイブされたファイルは表示されません。",
        "operationId" : "get-/files/v3/files/search_doSearch",
        "parameters" : [ {
          "name" : "properties",
          "in" : "query",
          "description" : "返すオブジェクトの目的のファイルプロパティー。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "それぞれの検索の項目の最大オフセットは10000です。この上限に達する場合は検索を絞り込んでください。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "返す項目の数。上限は100個です。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "指定したフィールドを基準にファイルの表示順を変更します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "指定したIDでファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "作成日時でファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAtLte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAtGte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "最新の更新の日時でファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAtLte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAtGte",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "指定した名前が含まれるファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "パスでファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentFolderId",
          "in" : "query",
          "description" : "指定したfolderId内のファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "ファイルサイズで照会します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "height",
          "in" : "query",
          "description" : "画像または動画の高さでファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "width",
          "in" : "query",
          "description" : "画像または動画の幅でファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "encoding",
          "in" : "query",
          "description" : "指定したエンコーディングでファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "指定したファイルタイプで絞り込みます。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extension",
          "in" : "query",
          "description" : "指定した拡張子でファイルを検索します。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "url",
          "in" : "query",
          "description" : "特定のURLを検索",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isUsableInContent",
          "in" : "query",
          "description" : "trueの場合、新しいコンテンツで使用するように指定されたファイルが表示されます。falseの場合、新しいコンテンツで使用しないファイルが表示されます。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "allowsAnonymousAccess",
          "in" : "query",
          "description" : "「true」の場合、非公開ファイルが表示されます：「false」の場合、公開ファイルが表示されます",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFile"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders/{folderPath}" : {
      "get" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを取得します。",
        "description" : "パスを基準にフォルダーを取得します。",
        "operationId" : "get-/files/v3/folders/{folderPath}_getByPath",
        "parameters" : [ {
          "name" : "folderPath",
          "in" : "path",
          "description" : "目的のフォルダーのパス。",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "返されるフォルダーで設定するプロパティー。",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダーを削除します。",
        "description" : "パスを基準にフォルダーを削除します。",
        "operationId" : "delete-/files/v3/folders/{folderPath}_archiveByPath",
        "parameters" : [ {
          "name" : "folderPath",
          "in" : "path",
          "description" : "削除するフォルダーのパス",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/folders/update/async" : {
      "post" : {
        "tags" : [ "Folders", "フォルダー" ],
        "summary" : "フォルダープロパティーを更新",
        "description" : "指定したIDを基準にフォルダーのプロパティーを更新します。この操作は非同期で行われ、フォルダーの子も全て更新されます。",
        "operationId" : "post-/files/v3/folders/update/async_updateProperties",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "Properties to change in the folder",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolderUpdateInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolderUpdateTaskLocator"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    },
    "/files/v3/files/import-from-url/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Files", "ファイル" ],
        "summary" : "インポートのステータスを確認してください。",
        "description" : "リクエストされたインポートのステータスを確認してください。",
        "operationId" : "get-/files/v3/files/import-from-url/async/tasks/{taskId}/status_checkImport",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "インポート元URLタスクID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileActionResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { }
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string"
          },
          "category" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string"
          }
        }
      },
      "FolderUpdateInput" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "parentFolderId" : {
            "type" : "integer",
            "description" : "新しい親folderId。変更すると、フォルダーとその全ての子が指定したフォルダーに移動されます。parentFolderIdとparentFolderPathを同時に指定することはできません。",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "新しい名前。指定すると、フォルダーの名前とfullPathが変更されます。このフォルダーの全ての子は変更に合わせて更新されます。"
          },
          "id" : {
            "type" : "string",
            "description" : "変更するフォルダーのID。"
          }
        },
        "description" : "Object for updating folders."
      },
      "FolderActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status", "taskId" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/Folder"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "依頼された変更が完了した日時。",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "依頼された変更に原因があるエラーの数。",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "タスクが依頼された日時を表すタイムスタンプ。",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "タスクが開始された日時を表すタイムスタンプ。",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "タスクのステータスを確認するためのリンク。"
          },
          "errors" : {
            "type" : "array",
            "description" : "タスクに原因がある詳細なエラー。",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "taskId" : {
            "type" : "string",
            "description" : "タスクのID。"
          },
          "status" : {
            "type" : "string",
            "description" : "タスクの現在のステータス。",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "リクエストの固有ID。エラーレポートやサポートチケットには必ずこの値を含めてください",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "エラーまたは推奨の修正手順に関するドキュメントが含まれる関連付けられたURIへのリンク名のひも付け",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が理解できるメッセージ",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "エラーカテゴリー",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "エラーに関する詳細情報",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "Folder" : {
        "required" : [ "archived", "createdAt", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "フォルダー作成のタイムスタンプ。",
            "format" : "date-time"
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "フォルダー削除のタイムスタンプ。",
            "format" : "date-time"
          },
          "archived" : {
            "type" : "boolean",
            "description" : "フォルダーが削除されたかどうかを示します。"
          },
          "path" : {
            "type" : "string",
            "description" : "ファイルマネージャーにおけるフォルダーのパス。"
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "親フォルダーのID。"
          },
          "name" : {
            "type" : "string",
            "description" : "フォルダーの名前。"
          },
          "id" : {
            "type" : "string",
            "description" : "フォルダーのID。"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "フォルダーに対する最新の更新のタイムスタンプ。",
            "format" : "date-time"
          }
        }
      },
      "CollectionResponseFile" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/File"
            }
          }
        },
        "description" : "Collections of files"
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "エラーに関するより具体的な詳細が含まれる特定のカテゴリー"
          },
          "code" : {
            "type" : "string",
            "description" : "エラーの詳細に関連付けられているステータスコード"
          },
          "in" : {
            "type" : "string",
            "description" : "エラーが見つかったフィールドまたはパラメーターの名前。"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "エラー条件に関する状況",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "エラーと修正手順（該当する場合）を記した人間が読めるメッセージ"
          }
        }
      },
      "FileActionResponse" : {
        "required" : [ "completedAt", "startedAt", "status", "taskId" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/File"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "タスクの完了の日時。",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "タスクに原因があるエラーの数。",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "タスクが依頼された時点のタイムスタンプ。",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "タスクが開始された時点のタイムスタンプ。",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "依頼されたタスクのステータスを確認するためのリンク。"
          },
          "errors" : {
            "type" : "array",
            "description" : "説明的なエラーメッセージ。",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "taskId" : {
            "type" : "string",
            "description" : "依頼されたタスクのID。"
          },
          "status" : {
            "type" : "string",
            "description" : "タスクの現在のステータス。",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "CollectionResponseFolder" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/Folder"
            }
          }
        }
      },
      "FileStat" : {
        "type" : "object",
        "properties" : {
          "file" : {
            "$ref" : "#/components/schemas/File"
          },
          "folder" : {
            "$ref" : "#/components/schemas/Folder"
          }
        }
      },
      "ImportFromUrlInput" : {
        "required" : [ "access", "url" ],
        "type" : "object",
        "properties" : {
          "folderPath" : {
            "type" : "string",
            "description" : "folderPathまたはfolderIdのいずれかが必要です。アップロードしたファイルの宛先フォルダーパス。フォルダーパスが存在しない場合、フォルダーパスの作成が試みられます。"
          },
          "access" : {
            "type" : "string",
            "description" : "PUBLIC_INDEXABLE：ファイルはURLを知っていれば誰でもアクセスできます。検索エンジンはファイルをインデックスできます。PUBLIC_NOT_INDEXABLE：ファイルはURLを知っていれば誰でもアクセスできます。検索エンジンはファイルをインデックス「できません」。PRIVATE：ファイルは公開アクセスできません。コンテンツを表示するには、署名付きURLが必要です。検索エンジンはファイルをインデックス「できません」。\n",
            "enum" : [ "PUBLIC_INDEXABLE", "PUBLIC_NOT_INDEXABLE", "HIDDEN_INDEXABLE", "HIDDEN_NOT_INDEXABLE", "HIDDEN_PRIVATE", "PRIVATE" ]
          },
          "duplicateValidationScope" : {
            "type" : "string",
            "description" : "ENTIRE_PORTAL：アカウント全体で重複ファイルを検索します。EXACT_FOLDER：指定されたフォルダー内で重複ファイルを検索します。\n",
            "enum" : [ "ENTIRE_PORTAL", "EXACT_FOLDER" ]
          },
          "name" : {
            "type" : "string",
            "description" : "ファイルマネージャーにおいて生成されたファイルに付ける名前。"
          },
          "duplicateValidationStrategy" : {
            "type" : "string",
            "description" : "NONE：重複の検証は実行されません。REJECT：重複が見つかった場合はアップロードが拒否されます。RETURN_EXISTING：重複ファイルが見つかった場合、新しいファイルはアップロードされず、見つかった重複が返されます。\n",
            "enum" : [ "NONE", "REJECT", "RETURN_EXISTING" ]
          },
          "ttl" : {
            "type" : "string",
            "description" : "公開までの時間。指定した場合、ファイルは指定した期間を過ぎると削除されます。未設定のままにすると、ファイルは無期限で残ります。"
          },
          "overwrite" : {
            "type" : "boolean",
            "description" : "trueの場合、指定されたフォルダーに同じ名前と拡張子のファイルがあると、既存のファイルが上書きされます。上書きされたファイルは削除され、代わりにアップロードしたファイルが新しいIDで残ります。設定しなかったかfalseとして設定した場合、同じパス、名前、拡張子のファイルがあると、既存のファイルと競合しないように新しいファイルの名前が更新されます"
          },
          "url" : {
            "type" : "string",
            "description" : "新しいファイルのダウンロード元のURL。"
          },
          "folderId" : {
            "type" : "string",
            "description" : "folderIdまたはfolderPathのいずれかが必要です。アップロードしたファイルの宛先folderId。"
          }
        }
      },
      "FileUpdateInput" : {
        "type" : "object",
        "properties" : {
          "access" : {
            "type" : "string",
            "description" : "NONE：重複の検証は実行されません。REJECT：重複が見つかった場合はアップロードが拒否されます。RETURN_EXISTING：重複ファイルが見つかった場合、新しいファイルはアップロードされず、見つかった重複が返されます。\n",
            "enum" : [ "PUBLIC_INDEXABLE", "PUBLIC_NOT_INDEXABLE", "HIDDEN_INDEXABLE", "HIDDEN_NOT_INDEXABLE", "HIDDEN_PRIVATE", "PRIVATE" ]
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "ファイルの移動先となるFolderId。folderIdパラメーターとfolderPathパラメーターを同時に設定することはできません。"
          },
          "name" : {
            "type" : "string",
            "description" : "ファイルの新しい名前。"
          },
          "parentFolderPath" : {
            "type" : "string",
            "description" : "ファイルの移動先となるフォルダーパス。folderIdパラメーターとfolderPathパラメーターを同時に設定することはできません。"
          },
          "isUsableInContent" : {
            "type" : "boolean",
            "description" : "新しいコンテンツでこのファイルを使用する必要があるかどうかを示します。"
          },
          "expiresAt" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Object for updating files."
      },
      "SignedUrl" : {
        "required" : [ "expiresAt", "extension", "name", "size", "type", "url" ],
        "type" : "object",
        "properties" : {
          "extension" : {
            "type" : "string",
            "description" : "リクエストされたファイルの拡張子。"
          },
          "size" : {
            "type" : "integer",
            "description" : "リクエストされたファイルのサイズ（バイト）。",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "リクエストされたファイルの名前。"
          },
          "width" : {
            "type" : "integer",
            "description" : "画像や動画ファイル用。ファイルの幅。",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "ファイルの種類。IMG、DOCUMENT、AUDIO、MOVIE、またはOTHERのいずれかになります。"
          },
          "expiresAt" : {
            "type" : "string",
            "description" : "URLでファイルへのアクセス権が付与されなくなる時点のタイムスタンプ。",
            "format" : "date-time"
          },
          "url" : {
            "type" : "string",
            "description" : "指定されたファイルにアクセスできる署名付きURL。このURLを知っている人は誰でも有効期限が切れるまでファイルにアクセスできます。"
          },
          "height" : {
            "type" : "integer",
            "description" : "画像や動画ファイル用。ファイルの高さ。",
            "format" : "int32"
          }
        },
        "description" : "Signed Url object with optional ancillary metadata of requested file"
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "FolderInput" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "parentFolderId" : {
            "type" : "string",
            "description" : "作成されたフォルダーの親のFolderId。指定しなかった場合、フォルダーはルートレベルに作成されます。parentFolderIdとparentFolderPathを同時に設定することはできません。"
          },
          "parentPath" : {
            "type" : "string",
            "description" : "作成されたフォルダーの親のパス。指定しなかった場合、フォルダーはルートレベルに作成されます。parentFolderPathとparentFolderIdを同時に設定することはできません。"
          },
          "name" : {
            "type" : "string",
            "description" : "フォルダーの希望する名前。"
          }
        },
        "description" : "Object for creating a folder."
      },
      "ImportFromUrlTaskLocator" : {
        "required" : [ "id", "links" ],
        "type" : "object",
        "properties" : {
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "タスクに関連する情報をチェックする場所のリンク。「status」リンクにより、タスクのステータスを確認する場所のURLが指定されます。",
            "example" : [ {
              "status" : "https://api.hubspot.com/files/v3/files/import-from-url/async/tasks/57122e26-59f8-4cfc-ba53-96e30c816762/status"
            } ]
          },
          "id" : {
            "type" : "string",
            "description" : "タスクのID",
            "example" : "57122e26-59f8-4cfc-ba53-96e30c816762"
          }
        },
        "description" : "Information on the task that has been started, and where to check it's status.",
        "example" : {
          "id" : "57122e26-59f8-4cfc-ba53-96e30c816762",
          "links" : [ {
            "status" : "https://api.hubspot.com/files/v3/files/import-from-url/async/tasks/57122e26-59f8-4cfc-ba53-96e30c816762/status"
          } ]
        }
      },
      "File" : {
        "required" : [ "access", "archived", "createdAt", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "extension" : {
            "type" : "string",
            "description" : "ファイルの拡張子。例：.jpg、.png、.gif、.pdfなど。"
          },
          "access" : {
            "type" : "string",
            "description" : "ファイルアクセス権。PUBLIC_INDEXABLE、PUBLIC_NOT_INDEXABLE、PRIVATEのいずれかになります。",
            "enum" : [ "PUBLIC_INDEXABLE", "PUBLIC_NOT_INDEXABLE", "HIDDEN_INDEXABLE", "HIDDEN_NOT_INDEXABLE", "HIDDEN_PRIVATE", "PRIVATE" ]
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "ファイルがあるフォルダーのID。"
          },
          "encoding" : {
            "type" : "string",
            "description" : "ファイルのエンコーディング。"
          },
          "type" : {
            "type" : "string",
            "description" : "ファイルの種類。IMG、DOCUMENT、AUDIO、MOVIE、またはOTHERのいずれかになります。"
          },
          "isUsableInContent" : {
            "type" : "boolean",
            "description" : "以前の「archied」。ウェブページなどの新しいコンテンツを作成する際にこのファイルを使用する必要があるかどうかを示します。"
          },
          "url" : {
            "type" : "string",
            "description" : "指定されたファイルのURL。このURLはアカウントのドメイン設定に応じて変わる可能性があります。選択したファイル ホスティング ドメインが使用されます。"
          },
          "expiresAt" : {
            "type" : "integer",
            "format" : "int64"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "ファイルオブジェクトの作成日時。",
            "format" : "date-time"
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "ファイルオブジェクトの削除日時。",
            "format" : "date-time"
          },
          "archived" : {
            "type" : "boolean",
            "description" : "ファイルが削除されたかどうか。"
          },
          "path" : {
            "type" : "string",
            "description" : "ファイルマネージャーにおけるファイルのパス。"
          },
          "size" : {
            "type" : "integer",
            "description" : "ファイルのサイズ（バイト）。",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "ファイルの名前。"
          },
          "width" : {
            "type" : "integer",
            "description" : "画像や動画ファイルのコンテンツの幅。",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "ファイルID。"
          },
          "defaultHostingUrl" : {
            "type" : "string",
            "description" : "ファイルの既定のホスティングURL。ファイルを提供するためにHubSpotが指定したURLのいずれかが使用されます。"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "ファイルに対する最新の更新のタイムスタンプ。",
            "format" : "date-time"
          },
          "height" : {
            "type" : "integer",
            "description" : "画像や動画ファイルのコンテンツの高さ。",
            "format" : "int32"
          }
        },
        "description" : "File"
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      },
      "FolderUpdateTaskLocator" : {
        "required" : [ "id", "links" ],
        "type" : "object",
        "properties" : {
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "タスクに関連する情報をチェックする場所のリンク。「status」リンクにより、タスクのステータスを確認する場所のURLが指定されます。",
            "example" : [ {
              "status" : "https://api.hubspot.com/files/v3/folders/update/async/tasks/57122e26-59f8-4cfc-ba53-96e30c816762/status"
            } ]
          },
          "id" : {
            "type" : "string",
            "description" : "タスクのID",
            "example" : "57122e26-59f8-4cfc-ba53-96e30c816762"
          }
        },
        "description" : "Information on the task that has been started, and where to check it's status.",
        "example" : {
          "id" : "57122e26-59f8-4cfc-ba53-96e30c816762",
          "links" : [ {
            "status" : "https://api.hubspot.com/files/v3/folders/update/async/tasks/57122e26-59f8-4cfc-ba53-96e30c816762/status"
          } ]
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "files" : "Read from and write to my Files",
              "files.ui_hidden.read" : "View hidden files"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}