{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Sequences",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v4",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "PROFESSIONAL",
      "service" : "STARTER",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "You need to enroll them in a HubSpot sequence using an app you designed to maintain a list of contacts.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Sequences Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/automation/sequences"
    } ],
    "x-hubspot-introduction" : "Use the Sequences API to get a list of sequences get a specific sequence, enroll a contact in a sequence, and view a contact’s enrollment status."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Public_Sequences"
  }, {
    "name" : "Public_Enrollments"
  } ],
  "paths" : {
    "/automation/v4/sequences/enrollments/contact/{contactId}" : {
      "get" : {
        "tags" : [ "Public_Enrollments" ],
        "summary" : "Retrieve the enrollment status of a contact",
        "description" : "Get the enrollment status of a contact in sequences by their contact ID.",
        "operationId" : "get-/automation/v4/sequences/enrollments/contact/{contactId}",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceEnrollmentResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation.sequences.read" ]
        }, {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    },
    "/automation/v4/sequences/" : {
      "get" : {
        "tags" : [ "Public_Sequences" ],
        "summary" : "Retrieve a list of sequences for a user",
        "description" : "Retrieve a list of sequences that belong to a specific user.",
        "operationId" : "get-/automation/v4/sequences/",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicSequenceLiteResponseForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation.sequences.read" ]
        }, {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    },
    "/automation/v4/sequences/enrollments" : {
      "post" : {
        "tags" : [ "Public_Enrollments" ],
        "summary" : "Enroll a contact in a sequence",
        "description" : "Enroll a contact into a sequence using the specified user ID and sequence details.",
        "operationId" : "post-/automation/v4/sequences/enrollments",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicSequenceEnrollmentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceEnrollmentLiteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation.sequences.enrollments.write" ]
        }, {
          "oauth2" : [ "automation.sequences.enrollments.write" ]
        } ]
      }
    },
    "/automation/v4/sequences/{sequenceId}" : {
      "get" : {
        "tags" : [ "Public_Sequences" ],
        "summary" : "Retrieve details for a sequence",
        "description" : "Retrieve details of a specific sequence by its ID.",
        "operationId" : "get-/automation/v4/sequences/{sequenceId}",
        "parameters" : [ {
          "name" : "sequenceId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicSequenceResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "automation.sequences.read" ]
        }, {
          "oauth2" : [ "automation.sequences.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "UnenrollmentSettingsResponse" : {
        "required" : [ "emailSettings", "meetingSettings" ],
        "type" : "object",
        "properties" : {
          "meetingSettings" : {
            "$ref" : "#/components/schemas/MeetingSettingsResponse"
          },
          "emailSettings" : {
            "$ref" : "#/components/schemas/EmailSettingsResponse"
          }
        }
      },
      "MeetingSettingsResponse" : {
        "required" : [ "criteria", "sellingStrategy" ],
        "type" : "object",
        "properties" : {
          "criteria" : {
            "type" : "string",
            "enum" : [ "ALL", "NONE" ]
          },
          "sellingStrategy" : {
            "type" : "string",
            "enum" : [ "LEAD_BASED", "ACCOUNT_BASED" ]
          }
        }
      },
      "PublicSequenceStepDependencyResponse" : {
        "required" : [ "createdAt", "dependencyType", "id", "reliesOnSequenceStepId", "reliesOnStepOrder", "requiredBySequenceStepId", "requiredByStepOrder", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "reliesOnStepOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dependencyType" : {
            "type" : "string"
          },
          "reliesOnSequenceStepId" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "requiredBySequenceStepId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requiredByStepOrder" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "EmailSettingsResponse" : {
        "required" : [ "criteria", "sellingStrategy" ],
        "type" : "object",
        "properties" : {
          "criteria" : {
            "type" : "string",
            "enum" : [ "ALL", "NONE" ]
          },
          "sellingStrategy" : {
            "type" : "string",
            "enum" : [ "LEAD_BASED", "ACCOUNT_BASED" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicSequenceEnrollmentResponse" : {
        "required" : [ "enrolledAt", "enrolledBy", "enrolledByEmail", "id", "sequenceId", "sequenceName", "toEmail", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "enrolledBy" : {
            "type" : "string"
          },
          "toEmail" : {
            "type" : "string"
          },
          "sequenceId" : {
            "type" : "string"
          },
          "sequenceName" : {
            "type" : "string"
          },
          "enrolledByEmail" : {
            "type" : "string"
          },
          "enrolledAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicSequenceStepResponse" : {
        "required" : [ "actionType", "createdAt", "delayMillis", "id", "stepOrder", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "actionType" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "delayMillis" : {
            "type" : "integer",
            "format" : "int32"
          },
          "emailPattern" : {
            "$ref" : "#/components/schemas/PublicEmailPatternResponse"
          },
          "stepOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "taskPattern" : {
            "$ref" : "#/components/schemas/PublicTaskPatternResponse"
          },
          "id" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicSequenceEnrollmentLiteResponse" : {
        "required" : [ "enrolledAt", "id", "toEmail", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "toEmail" : {
            "type" : "string"
          },
          "enrolledAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicSequenceResponse" : {
        "required" : [ "createdAt", "dependencies", "id", "name", "steps", "updatedAt", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "settings" : {
            "$ref" : "#/components/schemas/PublicSequenceSettingsResponse"
          },
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "string"
          },
          "steps" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepResponse"
            }
          },
          "folderId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dependencies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceStepDependencyResponse"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "PublicSequenceLiteResponse" : {
        "required" : [ "createdAt", "id", "name", "updatedAt", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "string"
          },
          "folderId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "CollectionResponseWithTotalPublicSequenceLiteResponseForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicSequenceLiteResponse"
            }
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicEmailPatternResponse" : {
        "required" : [ "createdAt", "id", "templateId", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "templateId" : {
            "type" : "string"
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicSequenceSettingsResponse" : {
        "required" : [ "createdAt", "eligibleFollowUpDays", "id", "individualTaskRemindersEnabled", "sellingStrategy", "sendWindowEndMinute", "sendWindowStartMinute", "taskReminderMinute", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "taskReminderMinute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "unenrollmentSettings" : {
            "$ref" : "#/components/schemas/UnenrollmentSettingsResponse"
          },
          "individualTaskRemindersEnabled" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string"
          },
          "sellingStrategy" : {
            "type" : "string"
          },
          "sendWindowStartMinute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sendWindowEndMinute" : {
            "type" : "integer",
            "format" : "int32"
          },
          "eligibleFollowUpDays" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PublicSequenceEnrollmentRequest" : {
        "required" : [ "contactId", "senderEmail", "sequenceId" ],
        "type" : "object",
        "properties" : {
          "contactId" : {
            "type" : "string"
          },
          "senderEmail" : {
            "type" : "string"
          },
          "sequenceId" : {
            "type" : "string"
          },
          "senderAliasAddress" : {
            "type" : "string"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          },
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "PublicTaskPatternResponse" : {
        "required" : [ "createdAt", "id", "taskPriority", "taskType", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "queueId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "taskType" : {
            "type" : "string"
          },
          "notes" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          },
          "taskPriority" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "templateId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "threadEmailToStepOrder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "automation.sequences.read" : "Permission to read sequences data",
              "automation.sequences.enrollments.write" : "Permission to write sequences enrollments data"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "PROFESSIONAL",
    "service" : "STARTER",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}