{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Calling Extensions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/crm/extensions/calling/2026-03/inbound-call" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/crm/extensions/calling/2026-03/inbound-call_/crm/v3/extensions/calling/inbound-call",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompletedThirdPartyCallRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletedThirdPartyCallResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        } ]
      }
    },
    "/crm/extensions/calling/2026-03/recordings/ready" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/crm/extensions/calling/2026-03/recordings/ready_markAsReady",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarkRecordingAsReadyRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.schemas.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.sensitive.write" ]
        }, {
          "private_apps" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "private_apps" : [ "crm.schemas.contacts.write" ]
        }, {
          "private_apps_legacy" : [ "contacts" ]
        } ]
      }
    },
    "/crm/extensions/calling/2026-03/{appId}/settings" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/extensions/calling/2026-03/{appId}/settings_get",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/extensions/calling/2026-03/{appId}/settings_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/extensions/calling/2026-03/{appId}/settings_remove",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "operationId" : "patch-/crm/extensions/calling/2026-03/{appId}/settings_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SettingsPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/extensions/calling/2026-03/{appId}/settings/channel-connection" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/extensions/calling/2026-03/{appId}/settings/channel-connection_get",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/extensions/calling/2026-03/{appId}/settings/channel-connection_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "operationId" : "delete-/crm/extensions/calling/2026-03/{appId}/settings/channel-connection_remove",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "operationId" : "patch-/crm/extensions/calling/2026-03/{appId}/settings/channel-connection_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelConnectionSettingsPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelConnectionSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/crm/extensions/calling/2026-03/{appId}/settings/recording" : {
      "get" : {
        "tags" : [ "Basic" ],
        "operationId" : "get-/crm/extensions/calling/2026-03/{appId}/settings/recording_get",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "operationId" : "post-/crm/extensions/calling/2026-03/{appId}/settings/recording_create",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "operationId" : "patch-/crm/extensions/calling/2026-03/{appId}/settings/recording_update",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RecordingSettingsPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecordingSettingsResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ChannelConnectionSettingsRequest" : {
        "required" : [ "isReady", "url" ],
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean",
            "description" : "Indicates whether the channel connection settings are ready.",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the channel connection settings.",
            "example" : null
          }
        },
        "example" : null
      },
      "CompanyCallerId" : {
        "title" : "COMPANY",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "callerIdType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "COMPANY" ],
            "default" : "COMPANY"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          }
        },
        "example" : null
      },
      "RecordingSettingsResponse" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string",
            "description" : "The URL used to retrieve authenticated call recordings.",
            "example" : null
          }
        },
        "example" : null
      },
      "RecordingSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string",
            "description" : "The URL used to access authenticated call recordings.",
            "example" : null
          }
        },
        "example" : null
      },
      "RecordingSettingsRequest" : {
        "required" : [ "urlToRetrieveAuthedRecording" ],
        "type" : "object",
        "properties" : {
          "urlToRetrieveAuthedRecording" : {
            "type" : "string",
            "description" : "The URL used to access authenticated call recordings.",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "MarkRecordingAsReadyRequest" : {
        "required" : [ "engagementId" ],
        "type" : "object",
        "properties" : {
          "engagementId" : {
            "type" : "integer",
            "description" : "The unique identifier for the engagement associated with the call recording.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "SettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "height" : {
            "type" : "integer",
            "description" : "The height setting for the calling extension interface.",
            "format" : "int32",
            "example" : null
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Specifies whether the calling extension is ready for use.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the calling extension.",
            "example" : null
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports custom objects.",
            "example" : null
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports inbound calling.",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the calling extension settings.",
            "example" : null
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension uses a calling window.",
            "example" : null
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension uses a remote connection.",
            "example" : null
          },
          "width" : {
            "type" : "integer",
            "description" : "The width setting for the calling extension interface.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "CompletedThirdPartyCallResponse" : {
        "required" : [ "callerIdMatches" ],
        "type" : "object",
        "properties" : {
          "callerIdMatches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/ContactCallerId"
              }, {
                "$ref" : "#/components/schemas/CompanyCallerId"
              } ]
            }
          }
        },
        "example" : null
      },
      "ContactCallerId" : {
        "title" : "CONTACT",
        "required" : [ "callerIdType", "objectCoordinates" ],
        "type" : "object",
        "properties" : {
          "callerIdType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CONTACT" ],
            "default" : "CONTACT"
          },
          "email" : {
            "type" : "string",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "example" : null
          },
          "objectCoordinates" : {
            "$ref" : "#/components/schemas/ObjectCoordinates"
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "CompletedThirdPartyCallRequest" : {
        "required" : [ "createEngagement", "engagementProperties", "externalCallId", "finalCallStatus", "fromNumber", "potentialRecipientUserIds", "toNumber" ],
        "type" : "object",
        "properties" : {
          "callStartedTimestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createEngagement" : {
            "type" : "boolean",
            "example" : null
          },
          "durationSeconds" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "engagementProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "externalCallId" : {
            "type" : "string",
            "example" : null
          },
          "finalCallStatus" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "BUSY", "CALLING_CRM_USER", "CANCELED", "COMPLETED", "CONNECTING", "FAILED", "HOLD", "IN_PROGRESS", "MISSED", "NO_ANSWER", "QUEUED", "RINGING", "UNKNOWN" ]
          },
          "fromNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "potentialRecipientUserIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            }
          },
          "toNumber" : {
            "$ref" : "#/components/schemas/FormattedPhoneNumber"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "SettingsResponse" : {
        "required" : [ "createdAt", "height", "isReady", "name", "supportsCustomObjects", "supportsInboundCalling", "updatedAt", "url", "usesCallingWindow", "usesRemote", "width" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the calling extension settings were created.",
            "format" : "date-time",
            "example" : null
          },
          "height" : {
            "type" : "integer",
            "description" : "The height of the calling extension interface.",
            "format" : "int32",
            "example" : null
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Specifies whether the calling extension settings are ready for use.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the calling extension.",
            "example" : null
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports custom objects.",
            "example" : null
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports inbound calling.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the calling extension settings were last updated.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the calling extension.",
            "example" : null
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "Specifies if the calling extension uses a dedicated calling window.",
            "example" : null
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension uses a remote service.",
            "example" : null
          },
          "width" : {
            "type" : "integer",
            "description" : "The width of the calling extension interface.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ChannelConnectionSettingsPatchRequest" : {
        "type" : "object",
        "properties" : {
          "isReady" : {
            "type" : "boolean",
            "description" : "Indicates whether the channel connection settings are ready.",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL for the channel connection settings.",
            "example" : null
          }
        },
        "example" : null
      },
      "ObjectCoordinates" : {
        "required" : [ "objectId", "objectTypeId", "portalId" ],
        "type" : "object",
        "properties" : {
          "objectId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "SettingsRequest" : {
        "required" : [ "height", "isReady", "name", "supportsCustomObjects", "supportsInboundCalling", "url", "usesCallingWindow", "usesRemote", "width" ],
        "type" : "object",
        "properties" : {
          "height" : {
            "type" : "integer",
            "description" : "Specifies the height of the calling extension interface.",
            "format" : "int32",
            "example" : null
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension is ready for use.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the calling extension.",
            "example" : null
          },
          "supportsCustomObjects" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports custom objects.",
            "example" : null
          },
          "supportsInboundCalling" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension supports inbound calling.",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the calling extension.",
            "example" : null
          },
          "usesCallingWindow" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension uses a separate calling window.",
            "example" : null
          },
          "usesRemote" : {
            "type" : "boolean",
            "description" : "Indicates if the calling extension uses remote services.",
            "example" : null
          },
          "width" : {
            "type" : "integer",
            "description" : "Specifies the width of the calling extension interface.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "FormattedPhoneNumber" : {
        "required" : [ "e164Number", "phoneNumberType" ],
        "type" : "object",
        "properties" : {
          "e164Number" : {
            "type" : "string",
            "example" : null
          },
          "extension" : {
            "type" : "string",
            "example" : null
          },
          "phoneNumberType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "FIXED_LINE", "FIXED_LINE_OR_MOBILE", "MOBILE", "PAGER", "PERSONAL_NUMBER", "PREMIUM_RATE", "SHARED_COST", "TOLL_FREE", "UAN", "UNKNOWN", "VOICEMAIL", "VOIP" ]
          }
        },
        "example" : null
      },
      "ChannelConnectionSettingsResponse" : {
        "required" : [ "createdAt", "isReady", "updatedAt", "url" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the channel connection settings were created.",
            "format" : "date-time",
            "example" : null
          },
          "isReady" : {
            "type" : "boolean",
            "description" : "Indicates whether the channel connection settings are ready for use.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the channel connection settings were last updated.",
            "format" : "date-time",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the channel connection settings.",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.extensions_calling_transcripts.read" : "Provides possibility to read transcriptions",
              "crm.extensions_calling_transcripts.write" : "Provides possibility to save and delete transcriptions",
              "crm.objects.contacts.highly_sensitive.read.v2" : "View contact records (highly-sensitive)",
              "crm.objects.contacts.highly_sensitive.write.v2" : "Change contact records (highly-sensitive)",
              "crm.objects.contacts.read" : "View contact records",
              "crm.objects.contacts.sensitive.read.v2" : "View sensitive properties on contact records",
              "crm.objects.contacts.sensitive.write.v2" : "Create or update sensitive properties on contact records",
              "crm.objects.contacts.write" : "Create or update contact records",
              "crm.schemas.contacts.read" : "View contacts property settings",
              "crm.schemas.contacts.write" : "Create new contact properties or change contact property settings"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}