{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Commerce Payment Methods",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/commerce/payment-methods/2027-03-beta/settings" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve payment method settings",
        "description" : "Retrieve the settings for payment methods in your HubSpot account. This endpoint provides information about the current configuration of payment methods, including their capability status and supported currencies. It is useful for understanding which payment methods are active and their default status.",
        "operationId" : "get-/commerce/payment-methods/2027-03-beta/settings",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommercePaymentMethodSettingsPublicResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "contracts-read" ]
        }, {
          "oauth2" : [ "crm.objects.invoices.read" ]
        }, {
          "oauth2" : [ "crm.schemas.invoices.read" ]
        }, {
          "oauth2" : [ "payment-links-read" ]
        }, {
          "oauth2" : [ "payments-checkout-settings-read" ]
        }, {
          "oauth2" : [ "cpq.quotes.write" ]
        }, {
          "oauth2" : [ "crm.objects.quotes.read" ]
        }, {
          "oauth2" : [ "crm.schemas.quotes.read" ]
        }, {
          "oauth2" : [ "cpq.quotes.read" ]
        }, {
          "oauth2" : [ "crm.objects.subscriptions.read" ]
        }, {
          "oauth2" : [ "crm.schemas.subscriptions.read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update payment method settings",
        "description" : "Update the payment method settings for commerce transactions. This operation allows you to modify the configuration of payment methods, including setting defaults and managing supported currencies. Use this endpoint to ensure your payment methods align with your business requirements.",
        "operationId" : "patch-/commerce/payment-methods/2027-03-beta/settings",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCommercePaymentMethodSettingsPublicRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommercePaymentMethodSettingsPublicResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "payments-checkout-settings-write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CommercePaymentMethodSettingPublic" : {
        "required" : [ "activeCurrencies", "commercePaymentMethod", "isDefaultOn", "supportedCurrencies" ],
        "type" : "object",
        "properties" : {
          "activeCurrencies" : {
            "type" : "array",
            "description" : "A list of currencies that are active on this account and are suitable for the bundled commercePaymentMethod. Valid values are tied to the Multicurrency options available on the account.",
            "example" : "USD,CAD,EUR,MXN",
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "USD", "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BIF", "BMD", "BND", "BOB", "BRL", "BSD", "BWP", "BYN", "BZD", "CAD", "CDF", "CHF", "CLP", "CNY", "COP", "CRC", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ETB", "EUR", "FJD", "FKP", "GBP", "GEL", "GIP", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "ISK", "JMD", "JPY", "KES", "KGS", "KHR", "KMF", "KRW", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "MAD", "MDL", "MGA", "MKD", "MMK", "MNT", "MOP", "MRO", "MUR", "MVR", "MWK", "MXN", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SEK", "SGD", "SHP", "SLE", "SLL", "SOS", "SRD", "STD", "SZL", "THB", "TJS", "TOP", "TRY", "TTD", "TWD", "TZS", "UAH", "UGX", "UYU", "UZS", "VND", "VUV", "WST", "XAF", "XCD", "XOF", "XPF", "YER", "ZAR", "ZMW", "BGN", "BHD", "BOV", "BTN", "CHE", "CHW", "CLF", "COU", "CUC", "CUP", "ERN", "GHS", "IQD", "IRR", "JOD", "KPW", "KWD", "LYD", "MRU", "MXV", "OMR", "SDG", "SSP", "STN", "SVC", "SYP", "TMT", "TND", "USN", "UYI", "VEF", "XAG", "XAU", "XBA", "XBB", "XBC", "XBD", "XDR", "XPD", "XPT", "XSU", "XUA", "ZWL" ]
            }
          },
          "commercePaymentMethod" : {
            "type" : "string",
            "description" : "The type of payment method. Valid values include 'CASH', 'CHECK', 'WIRE_TRANSFER', 'CARD', 'ACH', 'SEPA', 'BACS', 'PADS', 'KLARNA', 'AFFIRM', and 'OTHER'.",
            "example" : null,
            "enum" : [ "ACH", "AFFIRM", "BACS", "CARD", "CASH", "CHECK", "KLARNA", "OTHER", "PADS", "SEPA", "WIRE_TRANSFER" ]
          },
          "isDefaultOn" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this payment method is set as the default option.",
            "example" : null
          },
          "supportedCurrencies" : {
            "type" : "array",
            "description" : "A full list of currencies that are supported by the bundled commercePaymentMethod.",
            "example" : "USD,EUR,CAD,MXN",
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "USD", "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BIF", "BMD", "BND", "BOB", "BRL", "BSD", "BWP", "BYN", "BZD", "CAD", "CDF", "CHF", "CLP", "CNY", "COP", "CRC", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ETB", "EUR", "FJD", "FKP", "GBP", "GEL", "GIP", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "ISK", "JMD", "JPY", "KES", "KGS", "KHR", "KMF", "KRW", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "MAD", "MDL", "MGA", "MKD", "MMK", "MNT", "MOP", "MRO", "MUR", "MVR", "MWK", "MXN", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SEK", "SGD", "SHP", "SLE", "SLL", "SOS", "SRD", "STD", "SZL", "THB", "TJS", "TOP", "TRY", "TTD", "TWD", "TZS", "UAH", "UGX", "UYU", "UZS", "VND", "VUV", "WST", "XAF", "XCD", "XOF", "XPF", "YER", "ZAR", "ZMW", "BGN", "BHD", "BOV", "BTN", "CHE", "CHW", "CLF", "COU", "CUC", "CUP", "ERN", "GHS", "IQD", "IRR", "JOD", "KPW", "KWD", "LYD", "MRU", "MXV", "OMR", "SDG", "SSP", "STN", "SVC", "SYP", "TMT", "TND", "USN", "UYI", "VEF", "XAG", "XAU", "XBA", "XBB", "XBC", "XBD", "XDR", "XPD", "XPT", "XSU", "XUA", "ZWL" ]
            }
          }
        },
        "example" : null
      },
      "CommercePaymentMethodSettingsPublicResponse" : {
        "required" : [ "paymentMethodSettings" ],
        "type" : "object",
        "properties" : {
          "paymentMethodSettings" : {
            "type" : "array",
            "description" : "A list of CommercePaymentMethodSettingPublic corresponding to individual payment methods.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/CommercePaymentMethodSettingPublic"
            }
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "UpdateCommercePaymentMethodPublic" : {
        "required" : [ "commercePaymentMethod", "isDefaultOn" ],
        "type" : "object",
        "properties" : {
          "commercePaymentMethod" : {
            "type" : "string",
            "description" : "The type of commerce payment method being updated. Valid values include 'CASH', 'CHECK', 'WIRE_TRANSFER', 'CARD', 'ACH', 'SEPA', 'BACS', 'PADS', 'KLARNA', 'AFFIRM', and 'OTHER'.",
            "example" : null,
            "enum" : [ "ACH", "AFFIRM", "BACS", "CARD", "CASH", "CHECK", "KLARNA", "OTHER", "PADS", "SEPA", "WIRE_TRANSFER" ]
          },
          "isDefaultOn" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this payment method is set as the default option.",
            "example" : null
          }
        },
        "example" : null
      },
      "UpdateCommercePaymentMethodSettingsPublicRequest" : {
        "required" : [ "paymentMethodUpdates" ],
        "type" : "object",
        "properties" : {
          "paymentMethodUpdates" : {
            "type" : "array",
            "description" : "An array of updates to be applied to commerce payment methods. Each update specifies changes to a particular payment method.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/UpdateCommercePaymentMethodPublic"
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "contracts-read" : "",
              "cpq.quotes.read" : "",
              "cpq.quotes.write" : "",
              "crm.objects.invoices.read" : "",
              "crm.objects.subscriptions.read" : "",
              "payment-links-read" : "",
              "payments-checkout-settings-read" : "",
              "payments-checkout-settings-write" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}