{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Events Manage Event Definitions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE",
      "sales" : "ENTERPRISE",
      "service" : "ENTERPRISE",
      "cms" : "ENTERPRISE",
      "commerce" : "ENTERPRISE",
      "crmHub" : "ENTERPRISE",
      "dataHub" : "ENTERPRISE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/events/2026-09/event-definitions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List event definitions",
        "description" : "Retrieve a list of event definitions available in your HubSpot account. This endpoint allows you to search and filter event definitions based on various criteria, such as search strings and pagination options. It is useful for managing and understanding the different event types that are tracked within your account.",
        "operationId" : "get-/events/2026-09/event-definitions",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "A cursor token for pagination. Use the value from the previous response's paging.next.after field to retrieve the next set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeProperties",
          "in" : "query",
          "description" : "A boolean indicating whether to include event properties in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "searchString",
          "in" : "query",
          "description" : "A string to filter event definitions by name or description.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "The order in which to sort the results. Accepts values like 'asc' or 'desc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create",
        "description" : "Create a new behavioral event definition in your HubSpot account. This endpoint allows you to define the structure and properties of a new behavioral event, which can then be used to track specific user actions or behaviors. The request body must include the necessary event details and property definitions.",
        "operationId" : "post-/events/2026-09/event-definitions",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-09/event-definitions/{eventName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve event definition",
        "description" : "Retrieve the definition of a specific behavioral event in your HubSpot account by providing the event name. This endpoint returns detailed information about the event type, including its properties and associations.",
        "operationId" : "get-/events/2026-09/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique name of the event definition to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific event definition in your HubSpot account using the event's unique name. This operation is useful for removing outdated or incorrect event definitions that are no longer needed.",
        "operationId" : "delete-/events/2026-09/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique name of the event definition to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update event definition",
        "description" : "Update the definition of a specific behavioral event in your HubSpot account. This operation allows you to modify the properties and templates associated with the event. The eventName path parameter identifies the event to be updated.",
        "operationId" : "patch-/events/2026-09/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique name of the event definition to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-09/event-definitions/{eventName}/property" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create Property",
        "description" : "Create a new property for a specified event definition in your HubSpot account. This endpoint allows you to define custom properties associated with a particular event, enhancing the tracking and analysis of behavioral events. The request must include a JSON body with the necessary property details.",
        "operationId" : "post-/events/2026-09/event-definitions/{eventName}/property",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique identifier of the event definition for which the property is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-09/event-definitions/{eventName}/property/{propertyName}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete property",
        "description" : "Delete a specific property from an event definition in your HubSpot account. This operation is useful when you need to remove obsolete or incorrect properties from an event definition. Ensure that the event and property names are accurately specified to avoid unintended deletions.",
        "operationId" : "delete-/events/2026-09/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique name of the event definition from which the property will be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "The unique name of the property to be deleted from the event definition.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update property",
        "description" : "Update a specific property of a behavioral event definition in your HubSpot account. This operation allows you to modify the details of an existing property associated with a given event. Use this endpoint to keep your event properties up-to-date with the latest information.",
        "operationId" : "patch-/events/2026-09/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "The unique identifier of the event whose property you want to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "The name of the property to be updated within the specified event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-09/send/batch" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch send events",
        "description" : "Send a batch of behavioral events to the HubSpot API. This endpoint is useful for efficiently processing multiple events in a single request, reducing the number of API calls needed. It is particularly beneficial for applications that need to send a high volume of events quickly. Note that this endpoint is exempt from daily and ten-secondly rate limits.",
        "operationId" : "post-/events/2026-09/send/batch_/events/v3/send/batch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchedBehavioralEventHttpCompletionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "analytics.behavioral_events.send" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbsoluteComparativeTimestampRefineBy" : {
        "title" : "AbsoluteComparativeTimestampRefineBy",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string indicating the type of comparison to be made with the timestamp. Valid values are 'BEFORE' and 'AFTER'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE" ]
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the specific timestamp to be used in the comparison, formatted as an int64.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refinement, with a default value of 'AbsoluteComparativeTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteComparativeTimestampRefineBy",
            "enum" : [ "AbsoluteComparativeTimestampRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AbsoluteRangedTimestampRefineBy" : {
        "title" : "AbsoluteRangedTimestampRefineBy",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the timestamp range, in milliseconds since the Unix epoch.",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string that indicates the type of range comparison. Valid values are 'BETWEEN' and 'NOT_BETWEEN'.",
            "example" : null,
            "enum" : [ "BETWEEN", "NOT_BETWEEN" ]
          },
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of the component, which is 'AbsoluteRangedTimestampRefineBy'.",
            "example" : null,
            "default" : "AbsoluteRangedTimestampRefineBy",
            "enum" : [ "AbsoluteRangedTimestampRefineBy" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the timestamp range, in milliseconds since the Unix epoch.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllHistoryRefineBy" : {
        "title" : "AllHistoryRefineBy",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refinement. The default value is 'AllHistoryRefineBy', and it is the only valid value for this property.",
            "example" : null,
            "default" : "AllHistoryRefineBy",
            "enum" : [ "AllHistoryRefineBy" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AllPropertyTypesOperation" : {
        "title" : "alltypes",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "An object used to refine the operation by coalescing, which can be one of several types such as NumOccurrencesRefineBy or SetOccurrencesRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string specifying the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IS_KNOWN', 'IS_UNKNOWN', 'IS_BLANK', and 'IS_NOT_BLANK'.",
            "example" : null,
            "enum" : [ "IS_BLANK", "IS_KNOWN", "IS_NOT_BLANK", "IS_UNKNOWN" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'alltypes'.",
            "example" : null,
            "default" : "alltypes",
            "enum" : [ "alltypes" ]
          },
          "pruningRefineBy" : {
            "description" : "An object used to refine the operation by pruning, which can be one of several types such as RelativeComparativeTimestampRefineBy or AbsoluteRangedTimestampRefineBy.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/RelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/RelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/AllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/TimePointOperation"
            }, {
              "$ref" : "#/components/schemas/RangedTimeOperation"
            } ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string providing specifications for rendering the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "AssociationDefinition" : {
        "required" : [ "allowsCustomLabels", "cardinality", "category", "fromObjectTypeId", "hasAllAssociatedObjects", "hasCascadingDeletes", "hasUserEnforcedMaxFromObjectIds", "hasUserEnforcedMaxToObjectIds", "hidden", "id", "inverseAllowsCustomLabels", "inverseCardinality", "inverseHasAllAssociatedObjects", "inverseId", "inverseName", "isDefault", "isInversePrimary", "isPrimary", "maxFromObjectIds", "maxToObjectIds", "name", "portalUniqueIdentifier", "readOnly", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowsCustomLabels" : {
            "type" : "boolean",
            "description" : "A boolean indicating if custom labels are allowed for this association.",
            "example" : null
          },
          "cardinality" : {
            "type" : "string",
            "description" : "The nature of the association in terms of cardinality, which can be 'ONE_TO_ONE' or 'ONE_TO_MANY'.",
            "example" : null,
            "enum" : [ "ONE_TO_MANY", "ONE_TO_ONE" ]
          },
          "category" : {
            "type" : "string",
            "description" : "The category of the association, indicating whether it is defined by HubSpot, the user, an integrator, or for work purposes. Valid values include 'HUBSPOT_DEFINED', 'USER_DEFINED', 'INTEGRATOR_DEFINED', and 'WORK'.",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "fromObjectType" : {
            "type" : "string",
            "description" : "The type of object from which the association originates. Valid values include various HubSpot object types such as 'CONTACT', 'COMPANY', 'DEAL', etc.",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "fromObjectTypeId" : {
            "type" : "string",
            "description" : "The object type ID from which the association originates.",
            "example" : null
          },
          "hasAllAssociatedObjects" : {
            "type" : "boolean",
            "description" : "A boolean indicating if all associated objects are included in the association.",
            "example" : null
          },
          "hasCascadingDeletes" : {
            "type" : "boolean",
            "description" : "A boolean indicating if cascading deletes are enabled for this association.",
            "example" : null
          },
          "hasUserEnforcedMaxFromObjectIds" : {
            "type" : "boolean",
            "description" : "A boolean indicating if there is a user-enforced maximum on the number of 'from' object IDs.",
            "example" : null
          },
          "hasUserEnforcedMaxToObjectIds" : {
            "type" : "boolean",
            "description" : "A boolean indicating if there is a user-enforced maximum on the number of 'to' object IDs.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the association is hidden.",
            "example" : null
          },
          "hiddenReason" : {
            "type" : "string",
            "description" : "The reason why the association is hidden, if applicable. Valid values include 'DEFAULT', 'INTERNAL', and 'USER_CONFIGURED'.",
            "example" : null,
            "enum" : [ "DEFAULT", "INTERNAL", "USER_CONFIGURED" ]
          },
          "id" : {
            "type" : "integer",
            "description" : "The unique identifier for this association definition.",
            "format" : "int32",
            "example" : null
          },
          "inverseAllowsCustomLabels" : {
            "type" : "boolean",
            "description" : "A boolean indicating if custom labels are allowed for the inverse association.",
            "example" : null
          },
          "inverseCardinality" : {
            "type" : "string",
            "description" : "The cardinality of the inverse association, which can also be 'ONE_TO_ONE' or 'ONE_TO_MANY'.",
            "example" : null,
            "enum" : [ "ONE_TO_MANY", "ONE_TO_ONE" ]
          },
          "inverseHasAllAssociatedObjects" : {
            "type" : "boolean",
            "description" : "A boolean indicating if all associated objects are included in the inverse association.",
            "example" : null
          },
          "inverseId" : {
            "type" : "integer",
            "description" : "The unique identifier for the inverse of this association definition.",
            "format" : "int32",
            "example" : null
          },
          "inverseLabel" : {
            "type" : "string",
            "description" : "A human-readable label for the inverse association.",
            "example" : null
          },
          "inverseName" : {
            "type" : "string",
            "description" : "The name of the inverse association.",
            "example" : null
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "A boolean indicating if this association is the default association.",
            "example" : null
          },
          "isInversePrimary" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the inverse association is the primary association.",
            "example" : null
          },
          "isPrimary" : {
            "type" : "boolean",
            "description" : "A boolean indicating if this association is the primary association.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A human-readable label for the association.",
            "example" : null
          },
          "maxFromObjectIds" : {
            "type" : "integer",
            "description" : "The maximum number of object IDs that can be associated in the 'from' direction.",
            "format" : "int32",
            "example" : null
          },
          "maxToObjectIds" : {
            "type" : "integer",
            "description" : "The maximum number of object IDs that can be associated in the 'to' direction.",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the association.",
            "example" : null
          },
          "portalUniqueIdentifier" : {
            "type" : "string",
            "description" : "A unique identifier for the association within the portal.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "description" : "A boolean indicating if the association is read-only.",
            "example" : null
          },
          "toObjectType" : {
            "type" : "string",
            "description" : "The type of object to which the association points. Valid values include various HubSpot object types such as 'CONTACT', 'COMPANY', 'DEAL', etc.",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "The object type ID to which the association points.",
            "example" : null
          }
        },
        "description" : "The definition of an association",
        "example" : null
      },
      "BatchedBehavioralEventHttpCompletionRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of BehavioralEventHttpCompletionRequest objects, each representing an individual behavioral event completion request to be processed in the batch. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/BehavioralEventHttpCompletionRequest"
            }
          }
        },
        "example" : null
      },
      "BehavioralEventHttpCompletionRequest" : {
        "required" : [ "eventName", "properties" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "A string representing the email address associated with the event.",
            "example" : null
          },
          "eventName" : {
            "type" : "string",
            "description" : "A string representing the name of the event. This is a required property.",
            "example" : null
          },
          "objectId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the object associated with the event.",
            "example" : null
          },
          "occurredAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the event occurred, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing key-value pairs of additional properties related to the event. This is a required property.",
            "example" : null
          },
          "utk" : {
            "type" : "string",
            "description" : "A string representing the unique tracking key associated with the event.",
            "example" : null
          },
          "uuid" : {
            "type" : "string",
            "description" : "A string representing the universally unique identifier for the event.",
            "example" : null
          }
        },
        "example" : null
      },
      "BehavioralEventTypeDefinitionLabels" : {
        "required" : [ "singular" ],
        "type" : "object",
        "properties" : {
          "plural" : {
            "type" : "string",
            "description" : "The plural form of the label for the event type. This is a string.",
            "example" : null
          },
          "singular" : {
            "type" : "string",
            "description" : "The singular form of the label for the event type. This is a string and is required.",
            "example" : null
          }
        },
        "example" : null
      },
      "BoolPropertyOperation" : {
        "title" : "bool",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "value" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'HAS_EVER_BEEN_EQUAL_TO', and 'HAS_NEVER_BEEN_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "HAS_EVER_BEEN_EQUAL_TO", "HAS_NEVER_BEEN_EQUAL_TO", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'bool'.",
            "example" : null,
            "default" : "bool",
            "enum" : [ "bool" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying the rendering specification for the operation.",
            "example" : null
          },
          "value" : {
            "type" : "boolean",
            "description" : "A boolean indicating the value to be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CalendarDatePropertyOperation" : {
        "title" : "calendar-date",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "timeUnit", "timeUnitCount", "useFiscalYear" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "fiscalYearStart" : {
            "type" : "string",
            "description" : "A string that defines the starting month of the fiscal year, with options such as 'JANUARY', 'FEBRUARY', 'MARCH', etc.",
            "example" : null,
            "enum" : [ "APRIL", "AUGUST", "DECEMBER", "FEBRUARY", "JANUARY", "JULY", "JUNE", "MARCH", "MAY", "NOVEMBER", "OCTOBER", "SEPTEMBER" ]
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean that determines whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string that specifies the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that indicates the operation to be performed, with possible values including 'IN_THIS_TIME_UNIT', 'IN_THIS_TIME_UNIT_SO_FAR', 'IN_NEXT_TIME_UNIT', 'IN_LAST_TIME_UNIT', and 'IN_LAST_TIME_UNIT_SO_FAR'.",
            "example" : null,
            "enum" : [ "IN_LAST_TIME_UNIT", "IN_LAST_TIME_UNIT_SO_FAR", "IN_NEXT_TIME_UNIT", "IN_THIS_TIME_UNIT", "IN_THIS_TIME_UNIT_SO_FAR" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string that specifies the type of property operation, defaulting to 'calendar-date'.",
            "example" : null,
            "default" : "calendar-date",
            "enum" : [ "calendar-date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying the rendering specification for the operation.",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "A string representing the unit of time for the operation, which can be 'DAY', 'WEEK', 'MONTH', 'QUARTER', or 'YEAR'.",
            "example" : null,
            "enum" : [ "DAY", "MONTH", "QUARTER", "WEEK", "YEAR" ]
          },
          "timeUnitCount" : {
            "type" : "integer",
            "description" : "An integer specifying the number of time units to consider in the operation.",
            "format" : "int32",
            "example" : null
          },
          "useFiscalYear" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the fiscal year should be used in the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "CollectionResponseWithTotalExternalBehavioralEventTypeDefinition" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array containing the external behavioral event type definitions returned in the current page.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of external behavioral event type definitions available.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ComboEventRule" : {
        "required" : [ "count", "eventTypeId", "propertyFilters" ],
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "description" : "An integer specifying the number of times the event must occur for the rule to be satisfied.",
            "format" : "int32",
            "example" : null
          },
          "eventTypeId" : {
            "type" : "string",
            "description" : "The unique identifier for the type of event this rule applies to.",
            "example" : null
          },
          "lookbackWindowDays" : {
            "type" : "integer",
            "description" : "An integer representing the number of days to look back when evaluating the rule.",
            "format" : "int32",
            "example" : null
          },
          "propertyFilters" : {
            "type" : "array",
            "description" : "An array of property filters that must be satisfied for the rule to apply. Each filter specifies conditions on event properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          }
        },
        "example" : null
      },
      "ComboEventRuleBranch" : {
        "required" : [ "composingRules", "operationType", "ruleBranches" ],
        "type" : "object",
        "properties" : {
          "composingRules" : {
            "type" : "array",
            "description" : "An array of ComboEventRule objects that define the individual rules composing this branch.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRule"
            }
          },
          "operationType" : {
            "type" : "string",
            "description" : "The type of logical operation applied to the rule branches and composing rules. Valid values are 'AND' and 'OR'.",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "ruleBranches" : {
            "type" : "array",
            "description" : "An array of nested ComboEventRuleBranch objects, allowing for hierarchical rule definitions.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRuleBranch"
            }
          }
        },
        "example" : null
      },
      "ComparativeBoolPropertyOperation" : {
        "title" : "bool-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to compare against.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string specifying the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator to be used. Valid values are 'IS_EQUAL_TO' and 'IS_NOT_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, defaulting to 'bool-comparative'.",
            "example" : null,
            "default" : "bool-comparative",
            "enum" : [ "bool-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that may define how the operation should be rendered, though specifics are not detailed in the spec.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeDatePropertyOperation" : {
        "title" : "datetime-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string specifying the name of the property to be compared against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string representing the default value to compare against if the comparison property is not set.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no specific comparison value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that do not have a value set for the property being compared.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator used in the operation. Valid values include 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, which is 'datetime-comparative' for this component.",
            "example" : null,
            "default" : "datetime-comparative",
            "enum" : [ "datetime-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string providing specifications for rendering the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeNumberPropertyOperation" : {
        "title" : "number-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property to compare against.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no comparison value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property being compared.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operator. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'IS_GREATER_THAN', 'IS_GREATER_THAN_OR_EQUAL_TO', 'IS_LESS_THAN', and 'IS_LESS_THAN_OR_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "IS_EQUAL_TO", "IS_GREATER_THAN", "IS_GREATER_THAN_OR_EQUAL_TO", "IS_LESS_THAN", "IS_LESS_THAN_OR_EQUAL_TO", "IS_NOT_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation. Defaults to 'number-comparative'.",
            "example" : null,
            "default" : "number-comparative",
            "enum" : [ "number-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativePropertyUpdatedOperation" : {
        "title" : "property-updated-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "A string representing the name of the property to compare against.",
            "example" : null
          },
          "defaultComparisonValue" : {
            "type" : "string",
            "description" : "A string that specifies the default comparison value to use if no comparison value is set.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string that specifies the default value to use if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string that defines the comparison operator to use, with valid values being 'IS_BEFORE' and 'IS_AFTER'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_BEFORE" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string that specifies the type of property operation, with a default value of 'property-updated-comparative'.",
            "example" : null,
            "default" : "property-updated-comparative",
            "enum" : [ "property-updated-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that defines the rendering specification for the operation.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "ComparativeStringPropertyOperation" : {
        "title" : "string-comparative",
        "required" : [ "comparisonPropertyName", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType" ],
        "type" : "object",
        "properties" : {
          "comparisonPropertyName" : {
            "type" : "string",
            "description" : "The name of the property to compare against, represented as a string.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use in the operation if no value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that do not have a value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string representing the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the comparison operation to perform. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'CONTAINS', 'DOES_NOT_CONTAIN', 'STARTS_WITH', and 'ENDS_WITH'.",
            "example" : null,
            "enum" : [ "CONTAINS", "DOES_NOT_CONTAIN", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property operation, defaulting to 'string-comparative'.",
            "example" : null,
            "default" : "string-comparative",
            "enum" : [ "string-comparative" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying how the operation should be rendered.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePoint" : {
        "title" : "DATE",
        "required" : [ "day", "month", "timeType", "timezoneSource", "year", "zoneId" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month component of the date.",
            "format" : "int32",
            "example" : null
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time representation, with a default value of 'DATE'.",
            "example" : null,
            "default" : "DATE",
            "enum" : [ "DATE" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone information. Valid values include 'CUSTOM', 'USER', and 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer representing the year component of the date.",
            "format" : "int32",
            "example" : null
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier for the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DatePropertyOperation" : {
        "title" : "date",
        "required" : [ "day", "includeObjectsWithNoValueSet", "month", "operationType", "operator", "operatorName", "propertyType", "year" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer specifying the day component of the date.",
            "format" : "int32",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value to use if no specific value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "month" : {
            "type" : "string",
            "description" : "An integer specifying the month component of the date.",
            "example" : null,
            "enum" : [ "APR", "AUG", "DEC", "FEB", "JAN", "JUL", "JUN", "MAR", "MAY", "NOV", "OCT", "SEP" ]
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, with valid values including 'IS_BEFORE', 'IS_AFTER', and 'IS_EQUAL_TO'.",
            "example" : null,
            "enum" : [ "AFTER", "BEFORE", "EQUAL" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string that provides a human-readable name for the operator.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, which defaults to 'date'.",
            "example" : null,
            "default" : "date",
            "enum" : [ "date" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies how the operation should be rendered or displayed.",
            "example" : null
          },
          "year" : {
            "type" : "integer",
            "description" : "An integer specifying the year component of the date.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "DateTimePropertyOperation" : {
        "title" : "datetime",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "requiresTimeZoneConversion", "timestamp" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operation to be performed, such as 'IS_BEFORE', 'IS_AFTER', 'IS_EQUAL_TO', 'IS_BEFORE_DATE', or 'IS_AFTER_DATE'.",
            "example" : null,
            "enum" : [ "IS_AFTER", "IS_AFTER_DATE", "IS_BEFORE", "IS_BEFORE_DATE", "IS_EQUAL_TO" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, with a default value of 'datetime'.",
            "example" : null,
            "default" : "datetime",
            "enum" : [ "datetime" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string specifying the rendering specification for the operation.",
            "example" : null
          },
          "requiresTimeZoneConversion" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the operation requires time zone conversion.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the timestamp for the operation, in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "EnumerationPropertyOperation" : {
        "title" : "enumeration",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "A string representing the default value for the operation.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether to include objects that have no value set for the property.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "A string specifying the operation to perform, with valid values including 'IS_ANY_OF', 'IS_NONE_OF', 'IS_EXACTLY', 'IS_NOT_EXACTLY', 'CONTAINS_ALL', 'DOES_NOT_CONTAIN_ALL', 'HAS_EVER_BEEN_ANY_OF', 'HAS_NEVER_BEEN_ANY_OF', 'HAS_EVER_BEEN_EXACTLY', 'HAS_NEVER_BEEN_EXACTLY', 'HAS_EVER_CONTAINED_ALL', and 'HAS_NEVER_CONTAINED_ALL'.",
            "example" : null,
            "enum" : [ "CONTAINS_ALL", "DOES_NOT_CONTAIN_ALL", "HAS_EVER_BEEN_ANY_OF", "HAS_EVER_BEEN_EXACTLY", "HAS_EVER_CONTAINED_ALL", "HAS_NEVER_BEEN_ANY_OF", "HAS_NEVER_BEEN_EXACTLY", "HAS_NEVER_CONTAINED_ALL", "IS_ANY_OF", "IS_EXACTLY", "IS_NONE_OF", "IS_NOT_EXACTLY" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "A string representing the name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "A string indicating the type of property, which is 'enumeration' for this operation.",
            "example" : null,
            "default" : "enumeration",
            "enum" : [ "enumeration" ]
          },
          "renderSpec" : {
            "type" : "string",
            "description" : "A string that specifies the rendering specifications for the operation.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "description" : "An array of strings representing the values to be used in the operation.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "description" : "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. This is a string property.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object where each key is a context name and each value is an array of strings providing additional details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This is a string property.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. This is a required string property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. This is a string property.",
            "example" : null
          }
        },
        "description" : "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
        "example" : null
      },
      "ExternalBehavioralEventPropertyCreate" : {
        "required" : [ "label", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional information about the property.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the display name of the property. This field is required.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the unique name of the property.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of OptionInput objects that define the possible values for the property.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "A string indicating the data type of the property. This field is required.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventPropertyDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing additional information about the event property.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the display name of the event property.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of OptionInput objects, each defining a selectable option for the event property.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinition" : {
        "required" : [ "archived", "associations", "fullyQualifiedName", "id", "labels", "name", "objectTypeId", "properties" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the event type is archived.",
            "example" : null
          },
          "associations" : {
            "type" : "array",
            "description" : "An array of association definitions related to the event type.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationDefinition"
            }
          },
          "comboEventRules" : {
            "$ref" : "#/components/schemas/ComboEventRuleBranch"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the event type was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the user who created the event type.",
            "format" : "int32",
            "example" : null
          },
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingResponse"
          },
          "description" : {
            "type" : "string",
            "description" : "A string providing a description of the event type.",
            "example" : null
          },
          "detailTemplate" : {
            "type" : "string",
            "description" : "A string template used for the details of the event.",
            "example" : null
          },
          "fullyQualifiedName" : {
            "type" : "string",
            "description" : "A string representing the fully qualified name of the event type.",
            "example" : null
          },
          "headerTemplate" : {
            "type" : "string",
            "description" : "A string template used for the header of the event.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the event type.",
            "example" : null
          },
          "labels" : {
            "$ref" : "#/components/schemas/BehavioralEventTypeDefinitionLabels"
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the event type.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the object type ID associated with the event type.",
            "example" : null
          },
          "primaryObject" : {
            "type" : "string",
            "description" : "A string representing the primary object associated with the event type.",
            "example" : null
          },
          "primaryObjectId" : {
            "type" : "string",
            "description" : "A string representing the ID of the primary object associated with the event type.",
            "example" : null
          },
          "properties" : {
            "type" : "array",
            "description" : "An array of property objects associated with the event type.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          },
          "trackingType" : {
            "type" : "string",
            "description" : "A string indicating the tracking type of the event. Valid values include 'VISITED_URL', 'CLICKED_ELEMENT', 'CUSTOM_SCRIPT', 'MANUAL', 'IMPORT', 'PROPERTY_CHANGE', 'COMBO_EVENT', 'WEBHOOK', 'APP_EVENT', 'AUTOCAPTURE_EVENT', 'CUSTOM_SIGNAL', and 'POLLING'.",
            "example" : null,
            "enum" : [ "APP_EVENT", "AUTOCAPTURE_EVENT", "CLICKED_ELEMENT", "COMBO_EVENT", "CUSTOM_SCRIPT", "CUSTOM_SIGNAL", "IMPORT", "MANUAL", "POLLING", "PROPERTY_CHANGE", "VISITED_URL", "WEBHOOK" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "A string representing the date and time when the event type was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "integer",
            "description" : "An integer representing the ID of the user who last updated the event type.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionEgg" : {
        "required" : [ "includeDefaultProperties", "label", "propertyDefinitions" ],
        "type" : "object",
        "properties" : {
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingRequest"
          },
          "description" : {
            "type" : "string",
            "description" : "A string providing a description of the event type.",
            "example" : null
          },
          "includeDefaultProperties" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether default properties should be included.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the label of the event type.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the event type.",
            "example" : null
          },
          "primaryObject" : {
            "type" : "string",
            "description" : "A string indicating the primary object associated with the event type.",
            "example" : null
          },
          "propertyDefinitions" : {
            "type" : "array",
            "description" : "An array of property definitions, each represented by an ExternalBehavioralEventPropertyCreate object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
            }
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionPatch" : {
        "required" : [ "propertyOrder" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing a description of the event type.",
            "example" : null
          },
          "detailTemplate" : {
            "type" : "string",
            "description" : "A string specifying the template for the details of the event type.",
            "example" : null
          },
          "headerTemplate" : {
            "type" : "string",
            "description" : "A string defining the template for the header of the event type.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the label of the event type.",
            "example" : null
          },
          "propertyOrder" : {
            "type" : "array",
            "description" : "An array of PropertyPatch objects that specifies the order of properties for the event type.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyPatch"
            }
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingRequest" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingResponse" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "ExternalPrimaryObjectResolutionRule" : {
        "required" : [ "eventPropertyName", "targetObjectPropertyName" ],
        "type" : "object",
        "properties" : {
          "eventPropertyName" : {
            "type" : "string",
            "description" : "The name of the property on the event that is used for resolution. It is a string.",
            "example" : null
          },
          "targetObjectPropertyName" : {
            "type" : "string",
            "description" : "The name of the property on the target object that is used for resolution. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "FiscalQuarter" : {
        "title" : "FISCAL_QUARTER",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month of the fiscal quarter.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string that indicates the type of reference, which is 'FISCAL_QUARTER' for this component.",
            "example" : null,
            "default" : "FISCAL_QUARTER",
            "enum" : [ "FISCAL_QUARTER" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "FiscalYear" : {
        "title" : "FISCAL_YEAR",
        "required" : [ "day", "month", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour component of the time.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond component of the time.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute component of the time.",
            "format" : "int32",
            "example" : null
          },
          "month" : {
            "type" : "integer",
            "description" : "An integer representing the month of the fiscal year.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string indicating the type of reference, defaulting to 'FISCAL_YEAR'.",
            "example" : null,
            "default" : "FISCAL_YEAR",
            "enum" : [ "FISCAL_YEAR" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second component of the time.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "IndexOffset" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "integer",
            "description" : "An integer representing the number of days for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "hours" : {
            "type" : "integer",
            "description" : "An integer representing the number of hours for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "milliseconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of milliseconds for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "minutes" : {
            "type" : "integer",
            "description" : "An integer representing the number of minutes for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "months" : {
            "type" : "integer",
            "description" : "An integer representing the number of months for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "quarters" : {
            "type" : "integer",
            "description" : "An integer representing the number of quarters for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "seconds" : {
            "type" : "integer",
            "description" : "An integer representing the number of seconds for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "weeks" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks for the time offset.",
            "format" : "int32",
            "example" : null
          },
          "years" : {
            "type" : "integer",
            "description" : "An integer representing the number of years for the time offset.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "IndexedTimePoint" : {
        "title" : "INDEXED",
        "required" : [ "indexReference", "timeType", "timezoneSource", "zoneId" ],
        "type" : "object",
        "properties" : {
          "indexReference" : {
            "description" : "An object that serves as the reference point for the indexed time, which can be one of several types such as NowReference, TodayReference, WeekReference, MonthReference, QuarterReference, FiscalQuarter, YearReference, or FiscalYear.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NowReference"
            }, {
              "$ref" : "#/components/schemas/TodayReference"
            }, {
              "$ref" : "#/components/schemas/WeekReference"
            }, {
              "$ref" : "#/components/schemas/MonthReference"
            }, {
              "$ref" : "#/components/schemas/QuarterReference"
            }, {
              "$ref" : "#/components/schemas/FiscalQuarter"
            }, {
              "$ref" : "#/components/schemas/YearReference"
            }, {
              "$ref" : "#/components/schemas/FiscalYear"
            } ]
          },
          "offset" : {
            "$ref" : "#/components/schemas/IndexOffset"
          },
          "shouldGenerateRefreshTime" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether a refresh time should be generated.",
            "example" : null
          },
          "timeType" : {
            "type" : "string",
            "description" : "A string indicating the type of time point, defaulting to 'INDEXED'.",
            "example" : null,
            "default" : "INDEXED",
            "enum" : [ "INDEXED" ]
          },
          "timezoneSource" : {
            "type" : "string",
            "description" : "A string specifying the source of the timezone, with possible values including 'CUSTOM', 'USER', and 'PORTAL'.",
            "example" : null,
            "enum" : [ "CUSTOM", "PORTAL", "USER" ]
          },
          "zoneId" : {
            "type" : "string",
            "description" : "A string representing the identifier of the timezone.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MonthReference" : {
        "title" : "MONTH",
        "required" : [ "day", "referenceType" ],
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "integer",
            "description" : "An integer representing the day of the month.",
            "format" : "int32",
            "example" : null
          },
          "hour" : {
            "type" : "integer",
            "description" : "An integer representing the hour of the day.",
            "format" : "int32",
            "example" : null
          },
          "millisecond" : {
            "type" : "integer",
            "description" : "An integer representing the millisecond within the second.",
            "format" : "int32",
            "example" : null
          },
          "minute" : {
            "type" : "integer",
            "description" : "An integer representing the minute within the hour.",
            "format" : "int32",
            "example" : null
          },
          "referenceType" : {
            "type" : "string",
            "description" : "A string that specifies the type of reference, which is 'MONTH' for this component.",
            "example" : null,
            "default" : "MONTH",
            "enum" : [ "MONTH" ]
          },
          "second" : {
            "type" : "integer",
            "description" : "An integer representing the second within the minute.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "MultiStringPropertyOperation" : {
        "title" : "multistring",
        "required" : [ "coalescingRefineBy", "includeObjectsWithNoValueSet", "operationType", "operator", "operatorName", "propertyType", "values" ],
        "type" : "object",
        "properties" : {
          "coalescingRefineBy" : {
            "description" : "A refinement option for coalescing operations, which can be either 'NumOccurrencesRefineBy' or 'SetOccurrencesRefineBy'.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/NumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/SetOccurrencesRefineBy"
            } ]
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "A default value to be used if no other value is set.",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set should be included in the operation.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "The type of operation being performed.",
            "example" : null
          },
          "operator" : {
            "type" : "string",
            "description" : "The operator used in the operation. Valid values include 'IS_EQUAL_TO', 'IS_NOT_EQUAL_TO', 'CONTAINS', 'CONTAINS_EXACTLY', 'DOES_NOT_CONTAIN', 'DOES_NOT_CONTAIN_EXACTLY', 'STARTS_WITH', and 'ENDS_WITH'.",
            "example" : null,
            "enum" : [ "CONTAINS", "CONTAINS_EXACTLY", "DOES_NOT_CONTAIN", "DOES_NOT_CONTAIN_EXACTLY", "ENDS_WITH", "IS_EQUAL_TO", "IS_NOT_EQUAL_TO", "STARTS_WITH" ]
          },
          "operatorName" : {
            "type" : "string",
            "description" : "The name of the operator used in the operation.",
            "example" : null
          },
          "propertyType" : {
            "type" : "string",
            "description" : "The type of property being operated on, which is 'multistring' for this operation.",
            "example" : null,
[...]
