{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Properties",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2025-09",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/crm/properties/2025-09/{objectType}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read all properties",
        "description" : "Read all existing properties for the specified object type and HubSpot account.",
        "operationId" : "get-/crm/properties/2025-09/{objectType}_/crm/properties/2025-09/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "dataSensitivity",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ],
            "default" : "non_sensitive"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-read" ]
        }, {
          "oauth2" : [ "properties-settings-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a property",
        "description" : "Create and return a copy of a new property for the specified object type.",
        "operationId" : "post-/crm/properties/2025-09/{objectType}_/crm/properties/2025-09/{objectType}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/batch/archive" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Archive a batch of properties",
        "description" : "Archive a provided list of properties. This method will return a 204 No Content response on success regardless of the initial state of the property (e.g. active, already archived, non-existent).",
        "operationId" : "post-/crm/properties/2025-09/{objectType}/batch/archive_/crm/properties/2025-09/{objectType}/batch/archive",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/batch/create" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create a batch of properties",
        "description" : "Create a batch of properties using the same rules as when creating an individual property.",
        "operationId" : "post-/crm/properties/2025-09/{objectType}/batch/create_/crm/properties/2025-09/{objectType}/batch/create",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Read a batch of properties",
        "description" : "Read a provided list of properties.",
        "operationId" : "post-/crm/properties/2025-09/{objectType}/batch/read_/crm/properties/2025-09/{objectType}/batch/read",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchReadInputPropertyName"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseProperty"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponsePropertyWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-read" ]
        }, {
          "oauth2" : [ "properties-settings-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/groups" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read all property groups",
        "description" : "Read all existing property groups for the specified object type and HubSpot account.",
        "operationId" : "get-/crm/properties/2025-09/{objectType}/groups_/crm/properties/2025-09/{objectType}/groups",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePropertyGroupNoPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-read" ]
        }, {
          "oauth2" : [ "properties-settings-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create a property group",
        "description" : "Create and return a copy of a new property group.",
        "operationId" : "post-/crm/properties/2025-09/{objectType}/groups_/crm/properties/2025-09/{objectType}/groups",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read a property group",
        "description" : "Read a property group identified by {groupName}.",
        "operationId" : "get-/crm/properties/2025-09/{objectType}/groups/{groupName}_/crm/properties/2025-09/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-read" ]
        }, {
          "oauth2" : [ "properties-settings-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Archive a property group",
        "description" : "Move a property group identified by {groupName} to the recycling bin.",
        "operationId" : "delete-/crm/properties/2025-09/{objectType}/groups/{groupName}_/crm/properties/2025-09/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a property group",
        "description" : "Perform a partial update of a property group identified by {groupName}. Provided fields will be overwritten.",
        "operationId" : "patch-/crm/properties/2025-09/{objectType}/groups/{groupName}_/crm/properties/2025-09/{objectType}/groups/{groupName}",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyGroupUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropertyGroup"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    },
    "/crm/properties/2025-09/{objectType}/{propertyName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read a property",
        "description" : "Read a property identified by {propertyName}.",
        "operationId" : "get-/crm/properties/2025-09/{objectType}/{propertyName}_/crm/properties/2025-09/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "dataSensitivity",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ],
            "default" : "non_sensitive"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-read" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-read" ]
        }, {
          "oauth2" : [ "properties-settings-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Archive a property",
        "description" : "Move a property identified by {propertyName} to the recycling bin.",
        "operationId" : "delete-/crm/properties/2025-09/{objectType}/{propertyName}_/crm/properties/2025-09/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a property",
        "description" : "Perform a partial update of a property identified by '{propertyName}'. Provided fields will be overwritten.",
        "operationId" : "patch-/crm/properties/2025-09/{objectType}/{propertyName}_/crm/properties/2025-09/{objectType}/{propertyName}",
        "parameters" : [ {
          "name" : "objectType",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropertyUpdate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "properties-settings-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "properties-settings-write" ]
        }, {
          "oauth2" : [ "properties-settings-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    }
  },
  "components" : {
    "schemas" : {
      "PropertyName" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Additional context-specific information related to the error.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category.",
            "example" : null
          }
        },
        "description" : "Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request.",
        "example" : null
      },
      "BatchResponseProperty" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "PropertyGroup" : {
        "required" : [ "archived", "label", "name" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponsePropertyGroupNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyGroup"
            }
          }
        },
        "example" : null
      },
      "PropertyCreate" : {
        "required" : [ "fieldType", "groupName", "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "calculationFormula" : {
            "type" : "string",
            "example" : null
          },
          "currencyPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "dataSensitivity" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ]
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea" ]
          },
          "formField" : {
            "type" : "boolean",
            "example" : null
          },
          "groupName" : {
            "type" : "string",
            "example" : null
          },
          "hasUniqueValue" : {
            "type" : "boolean",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "numberDisplayHint" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "currency", "duration", "formatted", "percentage", "probability", "unformatted" ]
          },
          "options" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "referencedObjectType" : {
            "type" : "string",
            "example" : null
          },
          "showCurrencySymbol" : {
            "type" : "boolean",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "bool", "date", "datetime", "enumeration", "number", "phone_number", "string" ]
          }
        },
        "example" : null
      },
      "OptionInput" : {
        "required" : [ "displayOrder", "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchInputPropertyCreate" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyCreate"
            }
          }
        },
        "example" : null
      },
      "CollectionResponsePropertyNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyUpdate" : {
        "type" : "object",
        "properties" : {
          "calculationFormula" : {
            "type" : "string",
            "example" : null
          },
          "currencyPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "booleancheckbox", "calculation_equation", "checkbox", "date", "file", "html", "number", "phonenumber", "radio", "select", "text", "textarea" ]
          },
          "formField" : {
            "type" : "boolean",
            "example" : null
          },
          "groupName" : {
            "type" : "string",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "numberDisplayHint" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "currency", "duration", "formatted", "percentage", "probability", "unformatted" ]
          },
          "options" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "showCurrencySymbol" : {
            "type" : "boolean",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "bool", "date", "datetime", "enumeration", "number", "phone_number", "string" ]
          }
        },
        "example" : null
      },
      "BatchReadInputPropertyName" : {
        "required" : [ "archived", "dataSensitivity", "inputs" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "dataSensitivity" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ]
          },
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyName"
            }
          }
        },
        "example" : null
      },
      "PropertyGroupCreate" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyModificationMetadata" : {
        "required" : [ "archivable", "readOnlyDefinition", "readOnlyValue" ],
        "type" : "object",
        "properties" : {
          "archivable" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyDefinition" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyOptions" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyValue" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputPropertyName" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyName"
            }
          }
        },
        "example" : null
      },
      "BatchResponsePropertyWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "Option" : {
        "required" : [ "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the option is displayed in HubSpot's UI.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly label that identifies the option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The actual value of the option.",
            "example" : null
          }
        },
        "description" : "A HubSpot property option",
        "example" : null
      },
      "PropertyGroupUpdate" : {
        "type" : "object",
        "properties" : {
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Property" : {
        "required" : [ "description", "fieldType", "groupName", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the property is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "calculated" : {
            "type" : "boolean",
            "description" : "Whether the property is a calculated field.",
            "example" : null
          },
          "calculationFormula" : {
            "type" : "string",
            "description" : "The formula used for calculated properties.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "string",
            "description" : "The ID of the user who created the property.",
            "example" : null
          },
          "currencyPropertyName" : {
            "type" : "string",
            "description" : "The name of the related currency property.",
            "example" : null
          },
          "dataSensitivity" : {
            "type" : "string",
            "description" : "Indicates the sensitivity level of the property, such as \"non_sensitive\", \"sensitive\", or \"highly_sensitive\".",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ]
          },
          "dateDisplayHint" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "absolute", "absolute_with_relative", "time_since", "time_until" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A summary of the property's purpose.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "description" : "Applicable only for enumeration type properties. Should be set to true with a 'referencedObjectType' of 'OWNER'. Otherwise false.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the property will appear in HubSpot's UI or on a form. Learn more in the properties API guide.",
            "example" : null
          },
          "formField" : {
            "type" : "boolean",
            "description" : "Whether the property can appear on forms.",
            "example" : null
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name of the group to which the property is assigned.",
            "example" : null
          },
          "hasUniqueValue" : {
            "type" : "boolean",
            "description" : "Whether the property is a unique identifier property.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether or not the property will be hidden from the HubSpot UI. It's recommended that this be set to false for custom properties.",
            "example" : false
          },
          "hubspotDefined" : {
            "type" : "boolean",
            "description" : "A boolean value set to true for HubSpot default properties.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label for the property.",
            "example" : null
          },
          "modificationMetadata" : {
            "$ref" : "#/components/schemas/PropertyModificationMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name for the property.",
            "example" : null
          },
          "numberDisplayHint" : {
            "type" : "string",
            "description" : "Hint for how a number property is displayed and validated in HubSpot's UI. Can be: \"unformatted\", \"formatted\", \"currency\", \"percentage\", \"duration\", or \"probability\".",
            "example" : null,
            "enum" : [ "currency", "duration", "formatted", "percentage", "probability", "unformatted" ]
          },
          "options" : {
            "type" : "array",
            "description" : "A list of valid options for the property. This field is required for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "referencedObjectType" : {
            "type" : "string",
            "description" : "Deprecated. Use externalOptionsReferenceType instead.",
            "example" : null
          },
          "sensitiveDataCategories" : {
            "type" : "array",
            "description" : "When sensitiveData is true, lists the type of sensitive data contained in the property (e.g., \"HIPAA\").",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "showCurrencySymbol" : {
            "type" : "boolean",
            "description" : "Whether to show the currency symbol in HubSpot's UI.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the property, such as string or number.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "string",
            "example" : null
          }
        },
        "description" : "A HubSpot property",
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "properties-settings-read" : "",
              "properties-settings-write" : ""
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}