{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations Custom Channels",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "PROFESSIONAL",
      "service" : "PROFESSIONAL",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Allow admins to install an integration with a third-party messaging channel that your team uses to communicate with customers, to allow users in your account to manage their conversations for that channel directly in HubSpot.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Custom Channels Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/conversations/create-custom-channels"
    } ],
    "x-hubspot-introduction" : "Use the custom channels API to create custom channels to build a bridge between an external message service and HubSpot's inbox or help desk features. "
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "External_Channel_Accounts"
  }, {
    "name" : "External_Channel_Account_Staging_Tokens"
  }, {
    "name" : "External_Channels"
  }, {
    "name" : "External_Messages"
  } ],
  "paths" : {
    "/conversations/v3/custom-channels/{channelId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "External_Messages" ],
        "summary" : "Get a message",
        "description" : "Get the details for a specific message sent over a custom channel",
        "operationId" : "get-/conversations/v3/custom-channels/{channelId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The channel the message was sent over",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The id of the message",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicConversationsMessage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        } ]
      },
      "patch" : {
        "tags" : [ "External_Messages" ],
        "summary" : "Update a message ",
        "description" : "Update a message's status to indicate if it was successfully sent, failed to send, or was read. For failed messages, this can also include the error message for the failure.",
        "operationId" : "patch-/conversations/v3/custom-channels/{channelId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The channel the message was sent over",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The id of the message",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelIntegrationMessageUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicConversationsMessage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/{channelId}" : {
      "get" : {
        "tags" : [ "External_Channels" ],
        "summary" : "Get a custom channel",
        "description" : "Retrieve the details about a custom channel. This API allows you to see a custom channel's current capabilties and other configuration metadata",
        "operationId" : "get-/conversations/v3/custom-channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelIntegrationChannel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "External_Channels" ],
        "summary" : "Archive a custom channel",
        "description" : "Archive an existing registered custom channel",
        "operationId" : "delete-/conversations/v3/custom-channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "External_Channels" ],
        "summary" : "Update a custom channel",
        "description" : "Update the capabilities for an existing. You can also use it to update the channel's webhookUri and its channelAccountConnectionRedirectUrl.",
        "operationId" : "patch-/conversations/v3/custom-channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The ID of the channel to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelIntegrationChannelPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelIntegrationChannel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/{channelId}/channel-account-staging-tokens/{accountToken}" : {
      "patch" : {
        "tags" : [ "External_Channel_Account_Staging_Tokens" ],
        "summary" : "Update a channel account staging token",
        "description" : "Update a channel account staging token's account name and delivery identifier. This information will be applied to the channel account created from this staging token. This is used for public apps.",
        "operationId" : "patch-/conversations/v3/custom-channels/{channelId}/channel-account-staging-tokens/{accountToken}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The ID of the channel associated with the staging token being updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "accountToken",
          "in" : "path",
          "description" : "The unique token identifying the channel account staging token to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelAccountStagingTokenUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccountStagingToken"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/{channelId}/channel-accounts" : {
      "get" : {
        "tags" : [ "External_Channel_Accounts" ],
        "summary" : "Get accounts for a channel",
        "description" : "Retrieve a list of accounts for a custom channel.",
        "operationId" : "get-/conversations/v3/custom-channels/{channelId}/channel-accounts",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "deliveryIdentifierType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "deliveryIdentifierValue",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccountForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      },
      "post" : {
        "tags" : [ "External_Channel_Accounts" ],
        "summary" : "Create a channel account",
        "description" : "Create a new account for a channel. Multiple accounts can communicate over a single channel using different delivery identifiers.",
        "operationId" : "post-/conversations/v3/custom-channels/{channelId}/channel-accounts",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The ID of the channel for which the account is being created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelAccountEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/{channelId}/channel-accounts/{channelAccountId}" : {
      "get" : {
        "tags" : [ "External_Channel_Accounts" ],
        "summary" : "Get a channel account by id",
        "description" : "Retrieve the details for a specific channel account. This contains all the metadata about your channel account, including its channel, associated inbox id, and delivery identifier information.",
        "operationId" : "get-/conversations/v3/custom-channels/{channelId}/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The ID of the channel associated with the account being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "The ID of the channel account to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Filter results to include only archived or non-archived channel accounts.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "External_Channel_Accounts" ],
        "summary" : "Update a channel account",
        "description" : "This API is used to update the name of the channel account and it's isAuthorized status. Setting to isAuthorized flag to False disables the channel account.",
        "operationId" : "patch-/conversations/v3/custom-channels/{channelId}/channel-accounts/{channelAccountId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The channel to update",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "channelAccountId",
          "in" : "path",
          "description" : "The channel account to update",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelAccountUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelAccount"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.read" ]
        }, {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/" : {
      "get" : {
        "tags" : [ "External_Channels" ],
        "summary" : "Get all channels for app",
        "description" : "Retrieve all custom channels associated with the app.",
        "operationId" : "get-/conversations/v3/custom-channels/",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specify the sorting order for the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : "Specify the default number of results to return per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelIntegrationChannelForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "External_Channels" ],
        "summary" : "Create a custom channel",
        "description" : "Register a new channel along with its capabilities and the webhook url that will be used to receive messages published over the channel",
        "operationId" : "post-/conversations/v3/custom-channels/",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicChannelIntegrationChannelCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicChannelIntegrationChannel"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "developer_hapikey" : [ ]
        } ]
      }
    },
    "/conversations/v3/custom-channels/{channelId}/messages" : {
      "post" : {
        "tags" : [ "External_Messages" ],
        "summary" : "Publish a message",
        "description" : "Publish a message over your custom channel",
        "operationId" : "post-/conversations/v3/custom-channels/{channelId}/messages",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The channel the message will be sent over",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelIntegrationMessageEgg"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicConversationsMessage"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "conversations.custom_channels.write" ]
        }, {
          "oauth2" : [ "conversations.custom_channels.write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "PreResolvedContacts" : {
        "required" : [ "contacts" ],
        "type" : "object",
        "properties" : {
          "contacts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PreResolvedContact"
            }
          }
        }
      },
      "PublicRecipient" : {
        "required" : [ "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "recipientField" : {
            "type" : "string"
          }
        }
      },
      "PublicChannelAccount" : {
        "required" : [ "active", "archived", "authorized", "channelId", "createdAt", "id", "inboxId", "name" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "archivedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "archived" : {
            "type" : "boolean"
          },
          "authorized" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "active" : {
            "type" : "boolean"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "id" : {
            "type" : "string"
          },
          "inboxId" : {
            "type" : "string"
          },
          "channelId" : {
            "type" : "string"
          }
        }
      },
      "PublicMessageHeader" : {
        "title" : "MESSAGE_HEADER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "MESSAGE_HEADER",
            "enum" : [ "MESSAGE_HEADER" ]
          },
          "fileId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "UnsupportedContentAttachment" : {
        "title" : "UNSUPPORTED_CONTENT",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "UNSUPPORTED_CONTENT",
            "enum" : [ "UNSUPPORTED_CONTENT" ]
          }
        }
      },
      "FileAttachment" : {
        "title" : "FILE",
        "required" : [ "fileId", "type" ],
        "type" : "object",
        "properties" : {
          "fileUsageType" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "fileId" : {
            "type" : "string"
          }
        }
      },
      "LocationAttachment" : {
        "title" : "LOCATION",
        "required" : [ "latitude", "longitude", "type" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "latitude" : {
            "type" : "number"
          },
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "LOCATION",
            "enum" : [ "LOCATION" ]
          },
          "url" : {
            "type" : "string"
          },
          "longitude" : {
            "type" : "number"
          }
        }
      },
      "CollectionResponseWithTotalPublicChannelIntegrationChannelForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicChannelIntegrationChannel"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicContact" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          },
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          }
        }
      },
      "PublicChannelIntegrationMessageUpdateRequest" : {
        "required" : [ "statusType" ],
        "type" : "object",
        "properties" : {
          "statusType" : {
            "type" : "string",
            "description" : "Valid status are SENT, FAILED, and READ",
            "enum" : [ "SENT", "FAILED", "READ" ]
          },
          "errorMessage" : {
            "type" : "string"
          }
        }
      },
      "ChannelIntegrationMessageEgg" : {
        "required" : [ "attachments", "channelAccountId", "messageDirection", "recipients", "senders", "text", "timestamp" ],
        "type" : "object",
        "properties" : {
          "messageDirection" : {
            "type" : "string",
            "enum" : [ "INCOMING", "OUTGOING" ]
          },
          "attachments" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/FileAttachment"
              }, {
                "$ref" : "#/components/schemas/LocationAttachment"
              }, {
                "$ref" : "#/components/schemas/ContactAttachment"
              }, {
                "$ref" : "#/components/schemas/UnsupportedContentAttachment"
              }, {
                "$ref" : "#/components/schemas/MessageHeaderAttachment"
              }, {
                "$ref" : "#/components/schemas/QuickRepliesAttachment"
              }, {
                "$ref" : "#/components/schemas/SocialMetadataIntegrationAttachment"
              } ]
            }
          },
          "preResolvedContacts" : {
            "$ref" : "#/components/schemas/PreResolvedContacts"
          },
          "recipients" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChannelIntegrationParticipant"
            }
          },
          "integrationThreadId" : {
            "type" : "string"
          },
          "integrationIdempotencyId" : {
            "type" : "string"
          },
          "text" : {
            "type" : "string"
          },
          "richText" : {
            "type" : "string"
          },
          "channelAccountId" : {
            "type" : "string"
          },
          "senders" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChannelIntegrationParticipant"
            }
          },
          "inReplyToId" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ContactAddress" : {
        "type" : "object",
        "properties" : {
          "zip" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "street" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          }
        }
      },
      "PublicChannelIntegrationChannel" : {
        "required" : [ "capabilities", "createdAt", "id", "name" ],
        "type" : "object",
        "properties" : {
          "channelDescription" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "capabilities" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "channelAccountConnectionRedirectUrl" : {
            "type" : "string"
          },
          "channelLogoUrl" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "webhookUrl" : {
            "type" : "string"
          }
        }
      },
      "PreResolvedContact" : {
        "required" : [ "contactPropertiesLeadingToMatch", "contactVid" ],
        "type" : "object",
        "properties" : {
          "contactVid" : {
            "type" : "integer",
            "format" : "int32"
          },
          "contactPropertiesLeadingToMatch" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicChannelAccountStagingTokenUpdateRequest" : {
        "required" : [ "accountName", "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "accountName" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "PublicUnsupportedContent" : {
        "title" : "UNSUPPORTED_CONTENT",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "UNSUPPORTED_CONTENT",
            "enum" : [ "UNSUPPORTED_CONTENT" ]
          }
        }
      },
      "QuickRepliesAttachment" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "quickReplies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "type" : {
            "type" : "string",
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          }
        }
      },
      "PublicQuickReplies" : {
        "title" : "QUICK_REPLIES",
        "required" : [ "allowMultiSelect", "allowUserInput", "quickReplies", "type" ],
        "type" : "object",
        "properties" : {
          "quickReplies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/QuickReply"
            }
          },
          "allowMultiSelect" : {
            "type" : "boolean"
          },
          "allowUserInput" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "default" : "QUICK_REPLIES",
            "enum" : [ "QUICK_REPLIES" ]
          }
        }
      },
      "QuickReply" : {
        "required" : [ "value", "valueType" ],
        "type" : "object",
        "properties" : {
          "valueType" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "PublicSocialMetadataAttachment" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        }
      },
      "SocialMetadata" : {
        "required" : [ "mediaType" ],
        "type" : "object",
        "properties" : {
          "mediaUrl" : {
            "type" : "string"
          },
          "mediaTitle" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "mediaType" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "mediaUrlString" : {
            "type" : "string"
          },
          "thumbnailUrl" : {
            "type" : "string"
          }
        }
      },
      "PublicLocation" : {
        "title" : "LOCATION",
        "required" : [ "latitude", "longitude", "type" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "latitude" : {
            "type" : "number"
          },
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "LOCATION",
            "enum" : [ "LOCATION" ]
          },
          "url" : {
            "type" : "string"
          },
          "longitude" : {
            "type" : "number"
          }
        }
      },
      "SocialMetadataIntegrationAttachment" : {
        "title" : "SOCIAL_MEDIA_METADATA",
        "required" : [ "socialMetadata", "type" ],
        "type" : "object",
        "properties" : {
          "socialMetadata" : {
            "$ref" : "#/components/schemas/SocialMetadata"
          },
          "type" : {
            "type" : "string",
            "default" : "SOCIAL_MEDIA_METADATA",
            "enum" : [ "SOCIAL_MEDIA_METADATA" ]
          }
        }
      },
      "CollectionResponseWithTotalPublicChannelAccountForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicChannelAccount"
            }
          }
        }
      },
      "PublicChannelIntegrationChannelPatch" : {
        "required" : [ "capabilities", "channelAccountConnectionRedirectUrl", "channelDescription", "channelLogoUrl", "name", "webhookUrl" ],
        "type" : "object",
        "properties" : {
          "channelDescription" : {
            "type" : "object",
            "properties" : { }
          },
          "capabilities" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "channelAccountConnectionRedirectUrl" : {
            "type" : "object",
            "properties" : { }
          },
          "channelLogoUrl" : {
            "type" : "object",
            "properties" : { }
          },
          "name" : {
            "type" : "object",
            "properties" : { }
          },
          "webhookUrl" : {
            "type" : "object",
            "properties" : { }
          }
        }
      },
      "PublicChannelIntegrationChannelCreate" : {
        "required" : [ "capabilities", "name" ],
        "type" : "object",
        "properties" : {
          "channelDescription" : {
            "type" : "string"
          },
          "capabilities" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            }
          },
          "channelAccountConnectionRedirectUrl" : {
            "type" : "string"
          },
          "channelLogoUrl" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "webhookUrl" : {
            "type" : "string"
          }
        }
      },
      "PublicChannelAccountEgg" : {
        "required" : [ "authorized", "inboxId", "name" ],
        "type" : "object",
        "properties" : {
          "authorized" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "inboxId" : {
            "type" : "string"
          }
        }
      },
      "PublicMessageFailureDetails" : {
        "required" : [ "errorMessageTokens" ],
        "type" : "object",
        "properties" : {
          "errorMessageTokens" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "errorMessage" : {
            "type" : "string"
          }
        }
      },
      "PublicDeliveryIdentifier" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "ContactPhone" : {
        "required" : [ "phone" ],
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "CELL", "MAIN", "HOME", "WORK" ]
          }
        }
      },
      "PublicSender" : {
        "type" : "object",
        "properties" : {
          "actorId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "senderField" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "PublicClient" : {
        "required" : [ "clientType" ],
        "type" : "object",
        "properties" : {
          "clientType" : {
            "type" : "string",
            "enum" : [ "HUBSPOT", "SYSTEM", "INTEGRATION", "UNKNOWN" ]
          },
          "integrationAppId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PublicMessageStatus" : {
        "required" : [ "statusType" ],
        "type" : "object",
        "properties" : {
          "statusType" : {
            "type" : "string",
            "enum" : [ "SENT", "FAILED", "RECEIVED", "READ" ]
          },
          "failureDetails" : {
            "$ref" : "#/components/schemas/PublicMessageFailureDetails"
          }
        }
      },
      "PublicWhatsAppTemplateMetadata" : {
        "title" : "WHATSAPP_TEMPLATE_METADATA",
        "required" : [ "crmObjectIds", "mappedTemplateId", "parameters", "type" ],
        "type" : "object",
        "properties" : {
          "crmObjectIds" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "mappedTemplateId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "WHATSAPP_TEMPLATE_METADATA",
            "enum" : [ "WHATSAPP_TEMPLATE_METADATA" ]
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicConversationsMessage" : {
        "required" : [ "archived", "attachments", "channelAccountId", "channelId", "client", "conversationsThreadId", "createdAt", "createdBy", "direction", "id", "recipients", "senders", "text", "truncationStatus", "type" ],
        "type" : "object",
        "properties" : {
          "attachments" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicFile"
              }, {
                "$ref" : "#/components/schemas/PublicLocation"
              }, {
                "$ref" : "#/components/schemas/PublicContact"
              }, {
                "$ref" : "#/components/schemas/PublicUnsupportedContent"
              }, {
                "$ref" : "#/components/schemas/PublicMessageHeader"
              }, {
                "$ref" : "#/components/schemas/PublicQuickReplies"
              }, {
                "$ref" : "#/components/schemas/PublicWhatsAppTemplateMetadata"
              }, {
                "$ref" : "#/components/schemas/PublicSocialMetadataAttachment"
              } ]
            }
          },
          "subject" : {
            "type" : "string"
          },
          "conversationsThreadId" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "MESSAGE",
            "enum" : [ "MESSAGE" ]
          },
          "richText" : {
            "type" : "string"
          },
          "inReplyToId" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "archived" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "type" : "string"
          },
          "recipients" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicRecipient"
            }
          },
          "truncationStatus" : {
            "type" : "string",
            "enum" : [ "NOT_TRUNCATED", "TRUNCATED_TO_MOST_RECENT_REPLY", "TRUNCATED" ]
          },
          "client" : {
            "$ref" : "#/components/schemas/PublicClient"
          },
          "id" : {
            "type" : "string"
          },
          "text" : {
            "type" : "string"
          },
          "channelAccountId" : {
            "type" : "string"
          },
          "senders" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicSender"
            }
          },
          "channelId" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "$ref" : "#/components/schemas/PublicMessageStatus"
          },
          "direction" : {
            "type" : "string",
            "enum" : [ "INCOMING", "OUTGOING" ]
          }
        }
      },
      "ContactProfile" : {
        "required" : [ "addresses", "emails", "phones", "urls" ],
        "type" : "object",
        "properties" : {
          "emails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactEmail"
            }
          },
          "addresses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactAddress"
            }
          },
          "urls" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactUrl"
            }
          },
          "org" : {
            "$ref" : "#/components/schemas/ContactOrg"
          },
          "name" : {
            "$ref" : "#/components/schemas/ContactName"
          },
          "phones" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactPhone"
            }
          }
        }
      },
      "ContactOrg" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string"
          },
          "department" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ContactUrl" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicFile" : {
        "title" : "FILE",
        "required" : [ "fileId", "fileUsageType", "type" ],
        "type" : "object",
        "properties" : {
          "fileUsageType" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "FILE",
            "enum" : [ "FILE" ]
          },
          "url" : {
            "type" : "string"
          },
          "fileId" : {
            "type" : "string"
          }
        }
      },
      "PublicChannelAccountUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "authorized" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ChannelIntegrationParticipant" : {
        "required" : [ "deliveryIdentifier" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          }
        }
      },
      "PublicChannelAccountStagingToken" : {
        "required" : [ "accountToken", "createdAt", "genericChannelId", "inboxId", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "accountName" : {
            "type" : "string"
          },
          "genericChannelId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "deliveryIdentifier" : {
            "$ref" : "#/components/schemas/PublicDeliveryIdentifier"
          },
          "accountToken" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "inboxId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "MessageHeaderAttachment" : {
        "title" : "MESSAGE_HEADER",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "default" : "MESSAGE_HEADER",
            "enum" : [ "MESSAGE_HEADER" ]
          },
          "fileId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ContactEmail" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "HOME", "WORK" ]
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "ContactName" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "prefix" : {
            "type" : "string"
          },
          "middleName" : {
            "type" : "string"
          },
          "suffix" : {
            "type" : "string"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results."
          },
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "ContactAttachment" : {
        "title" : "CONTACT",
        "required" : [ "contactProfile", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "default" : "CONTACT",
            "enum" : [ "CONTACT" ]
          },
          "contactProfile" : {
            "$ref" : "#/components/schemas/ContactProfile"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "conversations.custom_channels.read" : "Read messages and manage Channel Accounts for an included Custom Channel.",
              "conversations.custom_channels.write" : "Publish messages into HubSpot and manage Channel Accounts for an included Custom Channel."
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "PROFESSIONAL",
    "service" : "PROFESSIONAL",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}