{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Events Manage Event Definitions",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "ENTERPRISE",
      "sales" : "ENTERPRISE",
      "service" : "ENTERPRISE",
      "cms" : "ENTERPRISE",
      "commerce" : "ENTERPRISE",
      "crmHub" : "ENTERPRISE",
      "dataHub" : "ENTERPRISE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/events/2026-03/event-definitions" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve event definitions",
        "description" : "Retrieve existing custom event definitions.",
        "operationId" : "get-/events/2026-03/event-definitions",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeProperties",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "searchString",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create custom event definition",
        "description" : "Create a custom event definition.",
        "operationId" : "post-/events/2026-03/event-definitions",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionEgg"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-03/event-definitions/{eventName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve a custom event definition",
        "description" : "Fetch a single custom event definition by name.",
        "operationId" : "get-/events/2026-03/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete an event definition",
        "description" : "Delete a custom event definition by name.",
        "operationId" : "delete-/events/2026-03/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update a custom event definition",
        "description" : "Update a specific custom event definition by name.",
        "operationId" : "patch-/events/2026-03/event-definitions/{eventName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-03/event-definitions/{eventName}/property" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create a property for an event definition",
        "description" : "Create a new property for an existing event definition.",
        "operationId" : "post-/events/2026-03/event-definitions/{eventName}/property",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-03/event-definitions/{eventName}/property/{propertyName}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete a property from a custom event definition",
        "description" : "Delete an existing property from a custom event definition.",
        "operationId" : "delete-/events/2026-03/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update an existing custom event property",
        "description" : "Update an existing property in a custom event definition.",
        "operationId" : "patch-/events/2026-03/event-definitions/{eventName}/property/{propertyName}",
        "parameters" : [ {
          "name" : "eventName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "propertyName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyDefinitionPatch"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "description" : "URL of the newly created resource",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : null
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Property"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "behavioral_events.event_definitions.read_write" ]
        } ]
      }
    },
    "/events/2026-03/send/batch" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/events/2026-03/send/batch_/events/v3/send/batch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchedBehavioralEventHttpCompletionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "analytics.behavioral_events.send" ]
        } ],
        "x-hubspot-rate-limit-exemptions" : [ "daily", "ten-secondly" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AssociationDefinition" : {
        "required" : [ "allowsCustomLabels", "cardinality", "category", "fromObjectTypeId", "hasAllAssociatedObjects", "hasCascadingDeletes", "hasUserEnforcedMaxFromObjectIds", "hasUserEnforcedMaxToObjectIds", "hidden", "id", "inverseAllowsCustomLabels", "inverseCardinality", "inverseHasAllAssociatedObjects", "inverseId", "inverseName", "isDefault", "isInversePrimary", "isPrimary", "maxFromObjectIds", "maxToObjectIds", "name", "portalUniqueIdentifier", "readOnly", "toObjectTypeId" ],
        "type" : "object",
        "properties" : {
          "allowsCustomLabels" : {
            "type" : "boolean",
            "description" : "Whether custom labels can be used in the association.",
            "example" : null
          },
          "cardinality" : {
            "type" : "string",
            "description" : "The cardinality from the source object's perspective, either \"ONE_TO_ONE\" or \"ONE_TO_MANY\".",
            "example" : null,
            "enum" : [ "ONE_TO_MANY", "ONE_TO_ONE" ]
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "fromObjectType" : {
            "type" : "string",
            "description" : "The name of the source object type (e.g,. \"DEAL\" or \"QUOTE\").",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "fromObjectTypeId" : {
            "type" : "string",
            "description" : "The ID of the source object type (e.g., 0-1 for contacts).",
            "example" : null
          },
          "hasAllAssociatedObjects" : {
            "type" : "boolean",
            "description" : "Whether all potential linked objects are included in the association",
            "example" : null
          },
          "hasCascadingDeletes" : {
            "type" : "boolean",
            "description" : "Whether deletions in the association should cause cascading deletes to linked objects.",
            "example" : null
          },
          "hasUserEnforcedMaxFromObjectIds" : {
            "type" : "boolean",
            "description" : "Whether a user has set a limit for the number of source objects.",
            "example" : null
          },
          "hasUserEnforcedMaxToObjectIds" : {
            "type" : "boolean",
            "description" : "Whether a user has set a limit for the number of destination objects.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the association is hidden or not.",
            "example" : null
          },
          "hiddenReason" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "DEFAULT", "INTERNAL", "USER_CONFIGURED" ]
          },
          "id" : {
            "type" : "integer",
            "description" : "The unique ID of the associated object (e.g., a contact ID).",
            "format" : "int32",
            "example" : null
          },
          "inverseAllowsCustomLabels" : {
            "type" : "boolean",
            "description" : "Whether the reverse association can also support custom labels.",
            "example" : null
          },
          "inverseCardinality" : {
            "type" : "string",
            "description" : "The cardinality from the destination object's perspective, either \"ONE_TO_ONE\" or \"ONE_TO_MANY\".",
            "example" : null,
            "enum" : [ "ONE_TO_MANY", "ONE_TO_ONE" ]
          },
          "inverseHasAllAssociatedObjects" : {
            "type" : "boolean",
            "description" : "Whether all potential reverse linked objects are included in the association.",
            "example" : null
          },
          "inverseId" : {
            "type" : "integer",
            "description" : "The unique ID for the inverse side of the association.",
            "format" : "int32",
            "example" : null
          },
          "inverseLabel" : {
            "type" : "string",
            "description" : "The label used to describe the reverse relationship in an association.",
            "example" : null
          },
          "inverseName" : {
            "type" : "string",
            "description" : "The name used to describe the inverse relationship in this association",
            "example" : null
          },
          "isDefault" : {
            "type" : "boolean",
            "example" : null
          },
          "isInversePrimary" : {
            "type" : "boolean",
            "description" : "Whether the inverse association is considered primary.",
            "example" : null
          },
          "isPrimary" : {
            "type" : "boolean",
            "description" : "Whether the association is the primary link between the entities involved.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The label given to an association.",
            "example" : null
          },
          "maxFromObjectIds" : {
            "type" : "integer",
            "description" : "The maximum number of source object IDs allowed in the association.",
            "format" : "int32",
            "example" : null
          },
          "maxToObjectIds" : {
            "type" : "integer",
            "description" : "The maximum number of destination object IDs allowed in the association.",
            "format" : "int32",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "For labeled association types, the internal name of the association.",
            "example" : null
          },
          "portalUniqueIdentifier" : {
            "type" : "string",
            "description" : "A unique across-portal ID applied to the association.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "example" : null
          },
          "toObjectType" : {
            "type" : "string",
            "description" : "The name of the destination object type (e.g,. \"DEAL\" or \"QUOTE\").",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "toObjectTypeId" : {
            "type" : "string",
            "description" : "The ID of the destination object type (e.g., 0-3 for deals).",
            "example" : null
          }
        },
        "description" : "The definition of an association",
        "example" : null
      },
      "BatchedBehavioralEventHttpCompletionRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/BehavioralEventHttpCompletionRequest"
            }
          }
        },
        "example" : null
      },
      "BehavioralEventHttpCompletionRequest" : {
        "required" : [ "eventName", "properties" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "Email of visitor",
            "example" : null
          },
          "eventName" : {
            "type" : "string",
            "description" : "Internal name of the event-type to trigger",
            "example" : null
          },
          "objectId" : {
            "type" : "string",
            "description" : "The object id that this event occurred on. Could be a contact id or a visitor id.",
            "example" : null
          },
          "occurredAt" : {
            "type" : "string",
            "description" : "The time when this event occurred (if any). If this isn't set, the current time will be used",
            "format" : "date-time",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Map of properties for the event in the format property internal name - property value",
            "example" : null
          },
          "utk" : {
            "type" : "string",
            "description" : "User token",
            "example" : null
          },
          "uuid" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "BehavioralEventTypeDefinitionLabels" : {
        "required" : [ "singular" ],
        "type" : "object",
        "properties" : {
          "plural" : {
            "type" : "string",
            "example" : null
          },
          "singular" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseWithTotalExternalBehavioralEventTypeDefinition" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventTypeDefinition"
            }
          },
          "total" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ComboEventRule" : {
        "required" : [ "count", "eventTypeId", "propertyFilters" ],
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "eventTypeId" : {
            "$ref" : "#/components/schemas/ObjectTypeId"
          },
          "lookbackWindowDays" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "propertyFilters" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PropertyFilter"
            }
          }
        },
        "example" : null
      },
      "ComboEventRuleBranch" : {
        "required" : [ "composingRules", "operationType", "ruleBranches" ],
        "type" : "object",
        "properties" : {
          "composingRules" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRule"
            }
          },
          "operationType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "AND", "OR" ]
          },
          "ruleBranches" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ComboEventRuleBranch"
            }
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventPropertyCreate" : {
        "required" : [ "label", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the property that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the property. Used in HubSpot UI",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Internal property name, which must be used when referencing the property from the API",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "A list of available options for the property if it is an enumeration. NOTE: This field is only applicable for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the property. Can be one of the following: [string, number, enumeration, datetime]",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventPropertyDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the property that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the property. Used in HubSpot UI",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "A list of available options for the property if it is an enumeration. NOTE: This field is only applicable for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/OptionInput"
            }
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinition" : {
        "required" : [ "archived", "associations", "fullyQualifiedName", "id", "labels", "name", "objectTypeId", "properties" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "example" : null
          },
          "associations" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationDefinition"
            }
          },
          "comboEventRules" : {
            "$ref" : "#/components/schemas/ComboEventRuleBranch"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingResponse"
          },
          "description" : {
            "type" : "string",
            "example" : null
          },
          "detailTemplate" : {
            "type" : "string",
            "example" : null
          },
          "fullyQualifiedName" : {
            "type" : "string",
            "example" : null
          },
          "headerTemplate" : {
            "type" : "string",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "labels" : {
            "$ref" : "#/components/schemas/BehavioralEventTypeDefinitionLabels"
          },
          "name" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeId" : {
            "$ref" : "#/components/schemas/ObjectTypeId"
          },
          "primaryObject" : {
            "type" : "string",
            "example" : null
          },
          "primaryObjectId" : {
            "$ref" : "#/components/schemas/ObjectTypeId"
          },
          "properties" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Property"
            }
          },
          "trackingType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "APP_EVENT", "AUTOCAPTURE_EVENT", "CLICKED_ELEMENT", "COMBO_EVENT", "CUSTOM_SCRIPT", "CUSTOM_SIGNAL", "IMPORT", "MANUAL", "PROPERTY_CHANGE", "VISITED_URL", "WEBHOOK" ]
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionEgg" : {
        "required" : [ "includeDefaultProperties", "label", "propertyDefinitions" ],
        "type" : "object",
        "properties" : {
          "customMatchingId" : {
            "$ref" : "#/components/schemas/ExternalObjectResolutionMappingRequest"
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the event that will be shown as help text in HubSpot.",
            "example" : null
          },
          "includeDefaultProperties" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the event. Used in HubSpot UI",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "Internal event name, which must be used when referencing the event from this event definitions API. If a name is not supplied, one will be generated based on the label. The `name` value will also be used to automatically generate a `fullyQualifiedName` for the event definition, which you'll use when sending event completions to this event. ",
            "example" : null
          },
          "primaryObject" : {
            "type" : "string",
            "description" : "The object type to associate this event to. Can be one of CONTACT, COMPANY, DEAL, TICKET. If no primaryObject is supplied, we will default to associating the event to CONTACT objects.",
            "example" : null
          },
          "propertyDefinitions" : {
            "type" : "array",
            "description" : "List of custom properties on event",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBehavioralEventPropertyCreate"
            }
          }
        },
        "example" : null
      },
      "ExternalBehavioralEventTypeDefinitionPatch" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the event that will be shown as help text in HubSpot.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "Human readable label for the event. Used in HubSpot UI",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingRequest" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "ExternalObjectResolutionMappingResponse" : {
        "required" : [ "primaryObjectRule" ],
        "type" : "object",
        "properties" : {
          "primaryObjectRule" : {
            "$ref" : "#/components/schemas/ExternalPrimaryObjectResolutionRule"
          }
        },
        "example" : null
      },
      "ExternalPrimaryObjectResolutionRule" : {
        "required" : [ "eventPropertyName", "targetObjectPropertyName" ],
        "type" : "object",
        "properties" : {
          "eventPropertyName" : {
            "type" : "string",
            "example" : null
          },
          "targetObjectPropertyName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving subsequent pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the next page results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "ObjectTypeId" : {
        "type" : "object",
        "properties" : {
          "hubSpotDefinedEventType" : {
            "type" : "boolean",
            "example" : null
          },
          "hubSpotDefinedObjectType" : {
            "type" : "boolean",
            "example" : null
          },
          "innerId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "integrationDefinedEventType" : {
            "type" : "boolean",
            "example" : null
          },
          "integrationDefinedObjectType" : {
            "type" : "boolean",
            "example" : null
          },
          "keyString" : {
            "type" : "string",
            "example" : null
          },
          "legacyObjectType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ABANDONED_CART", "ACCEPTANCE_TEST", "AD", "AD_ACCOUNT", "AD_CAMPAIGN", "AD_GROUP", "AI_FORECAST", "ALL_PAGES", "APPROVAL", "APPROVAL_STEP", "ATTRIBUTION", "AUDIENCE", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM_FLOW", "AUTOMATION_PLATFORM_FLOW_ACTION", "BET_ALERT", "BET_DELIVERABLE_SERVICE", "BLOG_LISTING_PAGE", "BLOG_POST", "CALL", "CAMPAIGN", "CAMPAIGN_BUDGET_ITEM", "CAMPAIGN_SPEND_ITEM", "CAMPAIGN_STEP", "CAMPAIGN_TEMPLATE", "CAMPAIGN_TEMPLATE_STEP", "CART", "CASE_STUDY", "CHATFLOW", "CLIP", "CMS_URL", "COMBO_EVENT_CONFIGURATION", "COMMERCE_PAYMENT", "COMMUNICATION", "COMPANY", "CONTACT", "CONTACT_CREATE_ATTRIBUTION", "CONTENT", "CONTENT_AUDIT", "CONTENT_AUDIT_PAGE", "CONVERSATION", "CONVERSATION_INBOX", "CONVERSATION_SESSION", "CRM_OBJECTS_DUMMY_TYPE", "CRM_PIPELINES_DUMMY_TYPE", "CTA", "CTA_VARIANT", "DATA_PRIVACY_CONSENT", "DATA_SYNC_STATE", "DEAL", "DEAL_CREATE_ATTRIBUTION", "DEAL_REGISTRATION", "DEAL_SPLIT", "DISCOUNT", "DISCOUNT_CODE", "DISCOUNT_TEMPLATE", "EMAIL", "ENGAGEMENT", "EXPORT", "EXTERNAL_WEB_URL", "FEE", "FEEDBACK_SUBMISSION", "FEEDBACK_SURVEY", "FILE_MANAGER_FILE", "FILE_MANAGER_FOLDER", "FOLDER", "FORECAST", "FORM", "FORM_SUBMISSION_INBOUNDDB", "GOAL_TARGET", "GOAL_TARGET_GROUP", "GOAL_TEMPLATE", "GSC_PROPERTY", "HUB", "IMPORT", "INVOICE", "KEYWORD", "KNOWLEDGE_ARTICLE", "LANDING_PAGE", "LEAD", "LINE_ITEM", "MARKETING_CALENDAR", "MARKETING_CAMPAIGN_UTM", "MARKETING_EMAIL", "MARKETING_EVENT", "MARKETING_EVENT_ATTENDANCE", "MARKETING_SMS", "MEDIA_BRIDGE", "MEETING_EVENT", "MIC", "NOTE", "OBJECT_LIST", "ORDER", "OWNER", "PARTNER_ACCOUNT", "PARTNER_CLIENT", "PARTNER_CLIENT_REVENUE", "PARTNER_SERVICE", "PAYMENT_LINK", "PAYMENT_SCHEDULE", "PAYMENT_SCHEDULE_INSTALLMENT", "PERMISSIONS_TESTING", "PLAYBOOK", "PLAYBOOK_QUESTION", "PLAYBOOK_SUBMISSION", "PLAYBOOK_SUBMISSION_ANSWER", "PLAYLIST", "PLAYLIST_FOLDER", "PODCAST_EPISODE", "PORTAL", "PORTAL_OBJECT_SYNC_MESSAGE", "POSTAL_MAIL", "PRIVACY_SCANNER_COOKIE", "PRODUCT", "PRODUCT_OR_FOLDER", "PROPERTY_INFO", "PROSPECTING_AGENT_CONTACT_ASSIGNMENT", "PUBLISHING_TASK", "QUARANTINED_SUBMISSION", "QUOTA", "QUOTE", "QUOTE_FIELD", "QUOTE_MODULE", "QUOTE_MODULE_FIELD", "QUOTE_TEMPLATE", "RESTORABLE_CRM_OBJECT", "ROSTER", "ROSTER_MEMBER", "SALES_DOCUMENT", "SALES_TASK", "SALES_WORKLOAD", "SALESFORCE_SYNC_ERROR", "SCHEDULING_PAGE", "SCHEMAS_BACKEND_TEST", "SCORE_CONFIGURATION", "SEQUENCE", "SEQUENCE_ENROLLMENT", "SEQUENCE_STEP", "SEQUENCE_STEP_ENROLLMENT", "SERVICE", "SITE_PAGE", "SNIPPET", "SOCIAL_BROADCAST", "SOCIAL_CHANNEL", "SOCIAL_POST", "SOCIAL_PROFILE", "SOX_PROTECTED_DUMMY_TYPE", "SOX_PROTECTED_TEST_TYPE", "SUBMISSION_TAG", "SUBSCRIPTION", "TASK", "TASK_TEMPLATE", "TAX", "TEMPLATE", "TICKET", "UNKNOWN", "UNSUBSCRIBE", "USER", "VIEW", "VIEW_BLOCK", "WEB_INTERACTIVE" ]
          },
          "metaType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CMS_HUBDB", "HUBSPOT", "HUBSPOT_EVENT", "INTEGRATION", "INTEGRATION_EVENT", "PORTAL_SPECIFIC", "PORTAL_SPECIFIC_EVENT", "WORK", "WORK_SUB" ]
          },
          "metaTypeId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "portalSpecific" : {
            "type" : "boolean",
            "example" : null
          },
          "portalSpecificEventType" : {
            "type" : "boolean",
            "example" : null
          },
          "portalSpecificObjectType" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "Option" : {
        "required" : [ "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the option is displayed in HubSpot's UI.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A user-friendly label that identifies the option.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The actual value of the option.",
            "example" : null
          }
        },
        "description" : "A HubSpot property option",
        "example" : null
      },
      "OptionInput" : {
        "required" : [ "displayOrder", "hidden", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A paging cursor token for retrieving previous pages.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL that can be used to retrieve the previous pages' results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "Property" : {
        "required" : [ "description", "fieldType", "groupName", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether the property is archived.",
            "example" : null
          },
          "archivedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was archived, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "calculated" : {
            "type" : "boolean",
            "description" : "Whether the property is a calculated field.",
            "example" : null
          },
          "calculationFormula" : {
            "type" : "string",
            "description" : "The formula used for calculated properties.",
            "example" : null
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "createdUserId" : {
            "type" : "string",
            "description" : "The ID of the user who created the property.",
            "example" : null
          },
          "currencyPropertyName" : {
            "type" : "string",
            "description" : "The name of the related currency property.",
            "example" : null
          },
          "dataSensitivity" : {
            "type" : "string",
            "description" : "Indicates the sensitivity level of the property, such as \"non_sensitive\", \"sensitive\", or \"highly_sensitive\".",
            "example" : null,
            "enum" : [ "highly_sensitive", "non_sensitive", "sensitive" ]
          },
          "dateDisplayHint" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "absolute", "absolute_with_relative", "time_since", "time_until" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A summary of the property's purpose.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The position of the item relative to others in the list.",
            "format" : "int32",
            "example" : null
          },
          "externalOptions" : {
            "type" : "boolean",
            "description" : "Applicable only for enumeration type properties. Should be set to true with a 'referencedObjectType' of 'OWNER'. Otherwise false.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the property will appear in HubSpot's UI or on a form. Learn more in the properties API guide.",
            "example" : null
          },
          "formField" : {
            "type" : "boolean",
            "description" : "Whether the property can appear on forms.",
            "example" : null
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name of the group to which the property is assigned.",
            "example" : null
          },
          "hasUniqueValue" : {
            "type" : "boolean",
            "description" : "Whether the property is a unique identifier property.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether or not the property will be hidden from the HubSpot UI. It's recommended that this be set to false for custom properties.",
            "example" : false
          },
          "hubspotDefined" : {
            "type" : "boolean",
            "description" : "A boolean value set to true for HubSpot default properties.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label for the property.",
            "example" : null
          },
          "modificationMetadata" : {
            "$ref" : "#/components/schemas/PropertyModificationMetadata"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name for the property.",
            "example" : null
          },
          "numberDisplayHint" : {
            "type" : "string",
            "description" : "Hint for how a number property is displayed and validated in HubSpot's UI. Can be: \"unformatted\", \"formatted\", \"currency\", \"percentage\", \"duration\", or \"probability\".",
            "example" : null,
            "enum" : [ "currency", "duration", "formatted", "percentage", "probability", "unformatted" ]
          },
          "options" : {
            "type" : "array",
            "description" : "A list of valid options for the property. This field is required for enumerated properties.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "referencedObjectType" : {
            "type" : "string",
            "description" : "Deprecated. Use externalOptionsReferenceType instead.",
            "example" : null
          },
          "sensitiveDataCategories" : {
            "type" : "array",
            "description" : "When sensitiveData is true, lists the type of sensitive data contained in the property (e.g., \"HIPAA\").",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "showCurrencySymbol" : {
            "type" : "boolean",
            "description" : "Whether to show the currency symbol in HubSpot's UI.",
            "example" : null
          },
          "textDisplayHint" : {
            "type" : "string",
            "description" : "Hint for how the text is displayed and validated in HubSpot's UI. Can be: \"unformatted_single_line\", \"multi_line\", \"email\", \"phone_number\", \"domain_name\", \"ip_address\", \"physical_address\", or \"postal_code\".",
            "example" : null,
            "enum" : [ "domain_name", "email", "ip_address", "multi_line", "phone_number", "physical_address", "postal_code", "unformatted_single_line" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The data type of the property, such as string or number.",
            "example" : null
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The timestamp when the property was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "updatedUserId" : {
            "type" : "string",
            "example" : null
          }
        },
        "description" : "A HubSpot property",
        "example" : null
      },
      "PropertyFilter" : {
        "required" : [ "filterType", "operation", "property" ],
        "type" : "object",
        "properties" : {
          "context" : {
            "$ref" : "#/components/schemas/PropertyFilterContext"
          },
          "filterInsightsId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "ADS_SEARCH", "ADS_TIME", "API_CALL", "ASSOCIATION", "CAMPAIGN_INFLUENCED", "COMMUNICATION_SUBSCRIPTION", "CONSTANT", "CTA", "DATASET", "EMAIL_EVENT", "EMAIL_SUBSCRIPTION", "EVENT", "FORM_SUBMISSION", "FORM_SUBMISSION_ON_PAGE", "IMPORT", "IN_LIST", "INTEGRATION_EVENT", "NUM_ASSOCIATIONS", "ONLINE_ASSOCIATION_FILTER", "PAGE_VIEW", "PRIVACY", "PROPERTY", "PROPERTY_ASSOCIATION", "SURVEY_MONKEY", "SURVEY_MONKEY_VALUE", "UNIFIED_EVENTS", "UNIFIED_EVENTS_IN_LIST", "WEBINAR" ]
          },
          "frameworkFilterId" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "operation" : {
            "$ref" : "#/components/schemas/PropertyFilterOperation"
          },
          "property" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyFilterContext" : {
        "required" : [ "objectTypeId" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PropertyFilterOperation" : {
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "example" : null
          },
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "example" : null
          },
          "operatorName" : {
            "type" : "string",
            "example" : null
          },
          "renderSpec" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null,
        "discriminator" : {
          "propertyName" : "propertyType"
        }
      },
      "PropertyModificationMetadata" : {
        "required" : [ "archivable", "readOnlyDefinition", "readOnlyValue" ],
        "type" : "object",
        "properties" : {
          "archivable" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyDefinition" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyOptions" : {
            "type" : "boolean",
            "example" : null
          },
          "readOnlyValue" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "analytics.behavioral_events.send" : "",
              "behavioral_events.event_definitions.read_write" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "ENTERPRISE",
    "sales" : "ENTERPRISE",
    "service" : "ENTERPRISE",
    "cms" : "ENTERPRISE",
    "commerce" : "ENTERPRISE",
    "crmHub" : "ENTERPRISE",
    "dataHub" : "ENTERPRISE"
  }
}