{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Propriétaires de CRM",
    "description" : "HubSpot uses **owners** to assign CRM objects to specific people in your organization. The endpoints described here are used to get a list of the owners that are available for an account. To assign an owner to an object, set the hubspot_owner_id property using the appropriate CRM object update or create a request.\n\nIf teams are available for your HubSpot tier, these endpoints will also indicate which team(s) an owner can access, as well as which team is the owner's primary team.",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "STARTER"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Récupérez les ID des propriétaires pour tous les utilisateurs du compte pour assigner plus tard les fiches d'informations du CRM à l'équipe.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Owners Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/crm/owners"
    } ],
    "x-hubspot-introduction" : "Chaque utilisateur d'un compte HubSpot se voit attribuer un ID de propriétaire, utilisé par HubSpot pour associer l'utilisateur à ses fiches d'informations du CRM, activités et plus encore. Utilisez l'API des propriétaires pour obtenir les identifiants de propriétaire et autres informations relatives aux utilisateurs du compte. Pour attribuer un propriétaire à une fiche d'informations du CRM, vous pouvez utiliser l'API des propriétés pour configurer la propriété hubspot_owner_id."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Owners"
  }, {
    "name" : "Propriétaires"
  } ],
  "paths" : {
    "/crm/v3/owners/" : {
      "get" : {
        "tags" : [ "Owners", "Propriétaires" ],
        "summary" : "Obtenez une page de propriétaires",
        "operationId" : "get-/crm/v3/owners/_getPage",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "Filtrer par adresse e-mail (facultatif)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Le jeton de curseur de pagination de la dernière ressource lue avec succès sera renvoyé en tant que propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher par page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "S'il faut renvoyer uniquement les résultats qui ont été archivés.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicOwnerForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.objects.owners.read" ]
        }, {
          "oauth2" : [ "crm.objects.owners.read" ]
        } ]
      }
    },
    "/crm/v3/owners/{ownerId}" : {
      "get" : {
        "tags" : [ "Owners", "Propriétaires" ],
        "summary" : "Lire un propriétaire par « id » ou « userId » donné",
        "operationId" : "get-/crm/v3/owners/{ownerId}_getById",
        "parameters" : [ {
          "name" : "ownerId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "idProperty",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "id",
            "enum" : [ "id", "userId" ]
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "S'il faut renvoyer uniquement les résultats qui ont été archivés.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOwner"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "contacts" ]
        }, {
          "private_apps" : [ "crm.objects.owners.read" ]
        }, {
          "oauth2" : [ "crm.objects.owners.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "PublicOwner" : {
        "required" : [ "archived", "createdAt", "id", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "example" : "John"
          },
          "lastName" : {
            "type" : "string",
            "example" : "Smith"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-10-30T03:30:17.883+00:00"
          },
          "archived" : {
            "type" : "boolean",
            "example" : false
          },
          "teams" : {
            "type" : "array",
            "example" : [ {
              "id" : "178588",
              "name" : "West Coast Sales",
              "primary" : true
            }, {
              "id" : "178590",
              "name" : "California Sales",
              "primary" : false
            } ],
            "items" : {
              "$ref" : "#/components/schemas/PublicTeam"
            }
          },
          "id" : {
            "type" : "string",
            "example" : "6166860"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1296619
          },
          "email" : {
            "type" : "string",
            "example" : "jsmith@example.com"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-12-07T16:50:06.678+00:00"
          }
        },
        "example" : {
          "id" : "6166860",
          "email" : "jsmith@example.com",
          "firstName" : "John",
          "lastName" : "Smith",
          "userId" : 1296619,
          "createdAt" : "2019-10-30T03:30:17.883Z",
          "updatedAt" : "2019-12-07T16:50:06.678Z",
          "archived" : false,
          "teams" : [ {
            "id" : "178588",
            "name" : "West Coast Sales",
            "primary" : true
          }, {
            "id" : "178590",
            "name" : "California Sales",
            "primary" : false
          } ]
        }
      },
      "PublicTeam" : {
        "required" : [ "id", "name", "primary" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "primary" : {
            "type" : "boolean"
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets d'assistance",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "CollectionResponsePublicOwnerForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicOwner"
            }
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          },
          "after" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.owners.read" : " "
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "PHP", "Node", "Ruby", "Python" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "STARTER"
  },
  "x-hubspot-documentation-banner" : "NONE"
}