{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Scheduler Meetings",
    "description" : "Meetings Service For HubSpot Sales",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Basic"
  } ],
  "paths" : {
    "/scheduler/2026-03/meetings/calendar" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Create meeting",
        "description" : "Create a new calendar meeting event in your HubSpot account. This endpoint allows you to specify details such as the meeting title, start and end times, and associated users. The organizerUserId is required to identify the meeting organizer.",
        "operationId" : "post-/scheduler/2026-03/meetings/calendar",
        "parameters" : [ {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "The unique identifier of the user organizing the meeting. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalCalenderMeetingEventResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "meetings-write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2026-03/meetings/meeting-links" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List Meeting Links",
        "description" : "Retrieve a list of meeting links available in the HubSpot account. This endpoint allows filtering by various criteria such as meeting name, organizer user ID, and meeting type. It supports pagination to navigate through large sets of results.",
        "operationId" : "get-/scheduler/2026-03/meetings/meeting-links",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, used for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter meeting links by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "organizerUserId",
          "in" : "query",
          "description" : "Filter meeting links by the organizer's user ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter meeting links by type. Valid values are PERSONAL_LINK, GROUP_CALENDAR, and ROUND_ROBIN_CALENDAR.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalExternalLinkMetadata"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2026-03/meetings/meeting-links/book" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Book Meeting",
        "description" : "Book a meeting using a specified meeting link. This endpoint allows you to create a meeting by providing necessary details such as duration, email, and start time. It is useful for scheduling meetings programmatically through HubSpot's API.",
        "operationId" : "post-/scheduler/2026-03/meetings/meeting-links/book",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalMeetingBooking"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalMeetingBookingResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.objects.contacts.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets" ]
        }, {
          "oauth2" : [ "crm.objects.commercepayments.write" ]
        }, {
          "oauth2" : [ "crm.objects.goals.write" ]
        }, {
          "oauth2" : [ "crm.objects.line_items.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.write" ]
        }, {
          "oauth2" : [ "crm.objects.products.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.write" ]
        }, {
          "oauth2" : [ "crm.objects.contacts.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.services.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.deals.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "tickets.highly_sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.listings.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.write" ]
        }, {
          "oauth2" : [ "crm.objects.courses.write" ]
        }, {
          "oauth2" : [ "crm.objects.appointments.write" ]
        }, {
          "oauth2" : [ "tickets.sensitive.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.write" ]
        }, {
          "oauth2" : [ "crm.objects.projects.highly_sensitive.write" ]
        }, {
          "oauth2" : [ "crm.objects.companies.sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.deals.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "crm.objects.companies.highly_sensitive.write.v2" ]
        }, {
          "oauth2" : [ "meetings-write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2026-03/meetings/meeting-links/book/availability-page/{slug}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve availability",
        "description" : "Retrieve the availability and busy times for a specific meeting link. This endpoint is useful for checking available slots for booking meetings based on the provided slug. It requires specifying the timezone and optionally allows adjusting the month view with an offset.",
        "operationId" : "get-/scheduler/2026-03/meetings/meeting-links/book/availability-page/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The unique identifier for the meeting link whose availability is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone in which the availability should be checked. This parameter is required.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "monthOffset",
          "in" : "query",
          "description" : "An optional integer to adjust the month view. It allows you to view availability for future or past months.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalLinkAvailabilityAndBusyTimes"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    },
    "/scheduler/2026-03/meetings/meeting-links/book/{slug}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve booking info",
        "description" : "Retrieve detailed booking information for a specific meeting link using its slug. This endpoint provides insights into the availability and settings associated with the meeting link. It is useful for understanding the booking context and ensuring that the correct timezone is applied.",
        "operationId" : "get-/scheduler/2026-03/meetings/meeting-links/book/{slug}",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The unique identifier for the meeting link to retrieve booking information for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone to be used for the meeting link. This is required to ensure the correct scheduling context.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalBookingInfo"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "scheduler.meetings.meeting-link.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : false
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AssociationSpec" : {
        "required" : [ "associationCategory", "associationTypeId" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string indicating the category of the association. Valid values include 'HUBSPOT_DEFINED', 'USER_DEFINED', 'INTEGRATOR_DEFINED', and 'WORK'.",
            "example" : null,
            "enum" : [ "HUBSPOT_DEFINED", "INTEGRATOR_DEFINED", "USER_DEFINED", "WORK" ]
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the unique identifier for the type of association.",
            "format" : "int32",
            "example" : null
          }
        },
        "description" : "Defines the type, direction, and details of the relationship between two CRM objects.",
        "example" : null
      },
      "CollectionResponseWithTotalExternalLinkMetadata" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of external link metadata objects. Each object contains details about an external meeting link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkMetadata"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "The total number of external link metadata entries available. This is an integer value.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category. It is a string.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition. It is an object where each property is an array of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets. It is a string in UUID format.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error. It is an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps. It is an object where each property is a string.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a string.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. It is a string.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object where each property is an array of strings providing additional information.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. This is a required field.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalAssociationCreateRequest" : {
        "required" : [ "to", "types" ],
        "type" : "object",
        "properties" : {
          "to" : {
            "$ref" : "#/components/schemas/PublicObjectId"
          },
          "types" : {
            "type" : "array",
            "description" : "An array of association specifications, detailing the types of associations to be created. Each item in the array is an object that defines the association type.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AssociationSpec"
            }
          }
        },
        "example" : null
      },
      "ExternalBookingFormField" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the form field, represented as a string.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value associated with the form field, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalBookingInfo" : {
        "required" : [ "allUsersBusyTimes", "customParams", "isOffline", "linkId", "linkType" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "description" : "An array of objects representing the busy times for all users associated with the meeting link.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "brandingMetadata" : {
            "$ref" : "#/components/schemas/ExternalBrandingMetadata"
          },
          "customParams" : {
            "$ref" : "#/components/schemas/ExternalMeetingsLinkSettings"
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the meeting link is offline.",
            "example" : null
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          },
          "linkId" : {
            "type" : "string",
            "description" : "The unique identifier for the meeting link.",
            "example" : null
          },
          "linkType" : {
            "type" : "string",
            "description" : "The type of meeting link. Valid values include 'PERSONAL_LINK', 'GROUP_CALENDAR', and 'ROUND_ROBIN_CALENDAR'.",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          }
        },
        "example" : null
      },
      "ExternalBrandingMetadata" : {
        "required" : [ "logoAltText", "showMarketingAd", "showSalesAd" ],
        "type" : "object",
        "properties" : {
          "accent2Color" : {
            "type" : "string",
            "description" : "The second accent color used for branding, represented as a string.",
            "example" : null
          },
          "accentColor" : {
            "type" : "string",
            "description" : "The accent color used for branding, represented as a string.",
            "example" : null
          },
          "companyAddressLine1" : {
            "type" : "string",
            "description" : "The first line of the company's address.",
            "example" : null
          },
          "companyAddressLine2" : {
            "type" : "string",
            "description" : "The second line of the company's address, if applicable.",
            "example" : null
          },
          "companyAvatar" : {
            "type" : "string",
            "description" : "The URL of the company's avatar image.",
            "example" : null
          },
          "companyCity" : {
            "type" : "string",
            "description" : "The city where the company is located.",
            "example" : null
          },
          "companyCountry" : {
            "type" : "string",
            "description" : "The country where the company is located.",
            "example" : null
          },
          "companyDomain" : {
            "type" : "string",
            "description" : "The domain of the company, typically used in URLs.",
            "example" : null
          },
          "companyName" : {
            "type" : "string",
            "description" : "The name of the company.",
            "example" : null
          },
          "companyState" : {
            "type" : "string",
            "description" : "The state or region where the company is located.",
            "example" : null
          },
          "companyZip" : {
            "type" : "string",
            "description" : "The postal or ZIP code of the company's location.",
            "example" : null
          },
          "logoAltText" : {
            "type" : "string",
            "description" : "The alternative text for the company logo, used for accessibility.",
            "example" : null
          },
          "logoHeight" : {
            "type" : "integer",
            "description" : "The height of the company logo in pixels.",
            "format" : "int32",
            "example" : null
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "The URL of the company logo image.",
            "example" : null
          },
          "logoWidth" : {
            "type" : "integer",
            "description" : "The width of the company logo in pixels.",
            "format" : "int32",
            "example" : null
          },
          "primaryColor" : {
            "type" : "string",
            "description" : "The primary color used for branding, represented as a string.",
            "example" : null
          },
          "secondaryColor" : {
            "type" : "string",
            "description" : "The secondary color used for branding, represented as a string.",
            "example" : null
          },
          "showMarketingAd" : {
            "type" : "boolean",
            "description" : "Indicates whether a marketing advertisement should be displayed. This is a boolean value.",
            "example" : null
          },
          "showSalesAd" : {
            "type" : "boolean",
            "description" : "Indicates whether a sales advertisement should be displayed. This is a boolean value.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventCreateProperties" : {
        "required" : [ "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp", "hubspot_owner_id" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string",
            "description" : "The type of activity for the meeting. This is a string value.",
            "example" : null
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of attachments associated with the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of the owners of the attendees for the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_internal_meeting_notes" : {
            "type" : "string",
            "description" : "Internal notes for the meeting. This is a string value.",
            "example" : null
          },
          "hs_meeting_body" : {
            "type" : "string",
            "description" : "The body content or description of the meeting. This is a string value.",
            "example" : null
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "description" : "The end time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_location" : {
            "type" : "string",
            "description" : "The location of the meeting. This is a string value.",
            "example" : null
          },
          "hs_meeting_location_type" : {
            "type" : "string",
            "description" : "The type of location for the meeting. Valid values include 'PHONE', 'ADDRESS', and 'CUSTOM'.",
            "example" : null,
            "enum" : [ "ADDRESS", "CUSTOM", "PHONE" ]
          },
          "hs_meeting_outcome" : {
            "type" : "string",
            "description" : "A string representing the outcome of the meeting.",
            "example" : null
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "description" : "The start time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_title" : {
            "type" : "string",
            "description" : "The title of the meeting. This is a string value.",
            "example" : null
          },
          "hs_timestamp" : {
            "type" : "string",
            "description" : "A timestamp indicating when the meeting event was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hubspot_owner_id" : {
            "type" : "string",
            "description" : "The unique identifier of the HubSpot owner associated with the meeting.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventCreateRequest" : {
        "required" : [ "associations", "emailReminderSchedule", "properties", "timezone" ],
        "type" : "object",
        "properties" : {
          "associations" : {
            "type" : "array",
            "description" : "An array of associations related to the meeting event, each represented by an ExternalAssociationCreateRequest object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalAssociationCreateRequest"
            }
          },
          "emailReminderSchedule" : {
            "$ref" : "#/components/schemas/ExternalEmailReminderSchedule"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventCreateProperties"
          },
          "timezone" : {
            "type" : "string",
            "description" : "A string representing the timezone in which the meeting event is scheduled.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalendarMeetingEventResponseProperties" : {
        "required" : [ "hs_engagement_source", "hs_engagement_source_id", "hs_meeting_end_time", "hs_meeting_outcome", "hs_meeting_start_time", "hs_meeting_title", "hs_timestamp" ],
        "type" : "object",
        "properties" : {
          "hs_activity_type" : {
            "type" : "string",
            "description" : "The type of activity associated with the meeting.",
            "example" : null
          },
          "hs_attachment_ids" : {
            "type" : "array",
            "description" : "An array of unique identifiers for attachments associated with the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_attendee_owner_ids" : {
            "type" : "array",
            "description" : "An array of unique identifiers for the owners of the attendees.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "hs_engagement_source" : {
            "type" : "string",
            "description" : "The source of the engagement. Valid values include a wide range of sources such as 'UNKNOWN', 'IMPORT', 'API', 'FORM', and many others.",
            "example" : null,
            "enum" : [ "ACADEMY", "ACCEPTANCE_TEST", "ACTIVITY_AUTO_ASSOCIATE", "ACTIVITY_LOG_REVERT", "ADS", "AI_GROUP", "ANALYTICS", "API", "APPROVALS", "ASSISTS", "ASSOCIATIONS", "AUTO_ASSOCIATE_BY_DOMAIN", "AUTOMATION_JOURNEY", "AUTOMATION_PLATFORM", "AVATARS_SERVICE", "BATCH_UPDATE", "BCC_TO_CRM", "BEHAVIORAL_EVENTS", "BET_ASSIGNMENT", "BET_CRM_CONNECTOR", "BIDEN", "BILLING", "BOT", "BREEZE_AGENT", "CALCULATED", "CENTRAL_EXCHANGE_RATES", "CHATSPOT", "CLONE_OBJECTS", "COMMUNICATOR", "COMPANIES", "COMPANY_FAMILIES", "COMPANY_INSIGHTS", "CONNECTED_ACCOUNT", "CONTACTS", "CONTACTS_WEB", "CONTENT_MEMBERSHIP", "CONVERSATIONAL_ENRICHMENT", "CONVERSATIONS", "CRM_PROCESSES_PLATFORM", "CRM_UI", "CRM_UI_BULK_ACTION", "CUSTOMER_AGENT", "CUSTOMER_PORTAL", "DATA_ENRICHMENT", "DATA_QUALITY", "DATASET", "DEALS", "DEFAULT", "DELETE_OBJECTS", "DI_WRITE_TO_CRM", "EMAIL", "EMAIL_INBOX_IMPORT", "EMAIL_INTEGRATION", "ENGAGEMENTS", "EXTENSION", "FILE_MANAGER", "FLYWHEEL_PRODUCT_DATA_SYNC", "FORECASTING", "FORM", "FORWARD_TO_CRM", "GMAIL_INTEGRATION", "GOALS", "HEISENBERG", "HELP_DESK", "HELP_DESK_AI", "IMPORT", "INTEGRATION", "INTEGRATIONS_PLATFORM", "INTEGRATIONS_SYNC", "INTENT", "INTERNAL_PROCESSING", "LEADIN", "LEGAL_BASIS_REMEDIATION", "MARKET_SOURCING", "MARKETPLACE", "MARKETS", "MEETINGS", "MERGE_COMPANIES", "MERGE_CONTACTS", "MERGE_OBJECTS", "MERGE_REVERT_OBJECTS", "MICROAPPS", "MIGRATION", "MOBILE_ANDROID", "MOBILE_IOS", "PAYMENTS", "PIPELINE_SETTINGS", "PLAYBOOKS", "PORTAL_OBJECT_SYNC", "PORTAL_USER_ASSOCIATOR", "PRESENTATIONS", "PRIMARY_AUTOMATION", "PROPERTY_DEFAULT_VALUE", "PROPERTY_RESTORE", "PROPERTY_SETTINGS", "PROSPECTING_AGENT", "QUOTAS", "QUOTES", "RECYCLING_BIN", "RESTORE_OBJECTS", "REVENUE_PLATFORM", "SALES", "SALES_MESSAGES", "SALESFORCE", "SEQUENCES", "SETTINGS", "SIDEKICK", "SIGNALS", "SLACK_INTEGRATION", "SMART_DATA_CAPTURE", "SOCIAL", "SUCCESS", "TALLY", "TASK", "UNKNOWN", "WAL_INCREMENTAL", "WORK_UI", "WORKFLOW_CONTACT_DELETE_ACTION", "WORKFLOWS" ]
          },
          "hs_engagement_source_id" : {
            "type" : "string",
            "description" : "The unique identifier for the source of the engagement.",
            "example" : null
          },
          "hs_include_description_in_reminder" : {
            "type" : "string",
            "description" : "Indicates whether the meeting description should be included in reminders.",
            "example" : null
          },
          "hs_internal_meeting_notes" : {
            "type" : "string",
            "description" : "Internal notes related to the meeting.",
            "example" : null
          },
          "hs_meeting_body" : {
            "type" : "string",
            "description" : "The body or description of the meeting.",
            "example" : null
          },
          "hs_meeting_end_time" : {
            "type" : "string",
            "description" : "The end time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_external_url" : {
            "type" : "string",
            "description" : "The external URL associated with the meeting.",
            "example" : null
          },
          "hs_meeting_location" : {
            "type" : "string",
            "description" : "The location where the meeting is held.",
            "example" : null
          },
          "hs_meeting_location_type" : {
            "type" : "string",
            "description" : "The type of location for the meeting. Valid values include 'PHONE', 'ADDRESS', and 'CUSTOM'.",
            "example" : null,
            "enum" : [ "ADDRESS", "CUSTOM", "PHONE" ]
          },
          "hs_meeting_outcome" : {
            "type" : "string",
            "description" : "The outcome of the meeting.",
            "example" : null
          },
          "hs_meeting_start_time" : {
            "type" : "string",
            "description" : "The start time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_meeting_title" : {
            "type" : "string",
            "description" : "The title of the meeting.",
            "example" : null
          },
          "hs_timestamp" : {
            "type" : "string",
            "description" : "A timestamp indicating when the meeting event was recorded, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "hs_unique_id" : {
            "type" : "string",
            "description" : "A unique identifier for the meeting event.",
            "example" : null
          },
          "hubspot_owner_id" : {
            "type" : "string",
            "description" : "The unique identifier of the HubSpot owner associated with the meeting.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCalenderMeetingEventResponse" : {
        "required" : [ "createdAt", "id", "lastUpdatedAt", "properties" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the calendar meeting event was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the calendar meeting event.",
            "example" : null
          },
          "lastUpdatedAt" : {
            "type" : "string",
            "description" : "The date and time when the calendar meeting event was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExternalCalendarMeetingEventResponseProperties"
          }
        },
        "example" : null
      },
      "ExternalClosedRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "description" : "The ending point of the range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "start" : {
            "type" : "integer",
            "description" : "The starting point of the range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalCommunicationConsentCheckbox" : {
        "required" : [ "communicationTypeId", "label", "required" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the type of communication this checkbox pertains to.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string that contains the text label displayed next to the checkbox, describing the communication type or purpose.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this checkbox must be checked by the user to proceed, signifying mandatory consent.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalEmailReminderSchedule" : {
        "required" : [ "reminders", "shouldIncludeInviteDescription" ],
        "type" : "object",
        "properties" : {
          "reminders" : {
            "type" : "array",
            "description" : "An array of ExternalReminder objects that specify the timing and frequency of the email reminders.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalReminder"
            }
          },
          "shouldIncludeInviteDescription" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the invite description should be included in the email reminder.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalGuestSettings" : {
        "required" : [ "canAddGuests", "maxGuestCount" ],
        "type" : "object",
        "properties" : {
          "canAddGuests" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether guests can be added to the meeting.",
            "example" : null
          },
          "maxGuestCount" : {
            "type" : "integer",
            "description" : "An integer specifying the maximum number of guests that can be added to the meeting.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLegalConsentOptions" : {
        "required" : [ "communicationConsentCheckboxes", "communicationConsentText", "isLegitimateInterest", "legitimateInterestSubscriptionTypes", "privacyPolicyText", "processingConsentCheckboxLabel", "processingConsentFooterText", "processingConsentText", "processingConsentType" ],
        "type" : "object",
        "properties" : {
          "communicationConsentCheckboxes" : {
            "type" : "array",
            "description" : "An array of communication consent checkboxes, each defined by an ExternalCommunicationConsentCheckbox object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalCommunicationConsentCheckbox"
            }
          },
          "communicationConsentText" : {
            "type" : "string",
            "description" : "A string containing the text for communication consent.",
            "example" : null
          },
          "isLegitimateInterest" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether legitimate interest is applicable.",
            "example" : null
          },
          "legitimateInterestLegalBasis" : {
            "type" : "string",
            "description" : "A string indicating the legal basis for legitimate interest. Valid values include 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.",
            "example" : null,
            "enum" : [ "CONSENT_WITH_NOTICE", "LEGITIMATE_INTEREST_CLIENT", "LEGITIMATE_INTEREST_OTHER", "LEGITIMATE_INTEREST_PQL", "NON_GDPR", "PERFORMANCE_OF_CONTRACT", "PROCESS_AND_STORE" ]
          },
          "legitimateInterestSubscriptionTypes" : {
            "type" : "array",
            "description" : "An array of integers representing the subscription types that fall under legitimate interest.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "privacyPolicyText" : {
            "type" : "string",
            "description" : "A string containing the text for the privacy policy.",
            "example" : null
          },
          "processingConsentCheckboxLabel" : {
            "type" : "string",
            "description" : "A string representing the label for the processing consent checkbox.",
            "example" : null
          },
          "processingConsentFooterText" : {
            "type" : "string",
            "description" : "A string containing the footer text for processing consent.",
            "example" : null
          },
          "processingConsentText" : {
            "type" : "string",
            "description" : "A string containing the text for processing consent.",
            "example" : null
          },
          "processingConsentType" : {
            "type" : "string",
            "description" : "A string indicating the type of processing consent. Valid values are 'IMPLICIT' and 'REQUIRED_CHECKBOX'.",
            "example" : null,
            "enum" : [ "IMPLICIT", "REQUIRED_CHECKBOX" ]
          }
        },
        "example" : null
      },
      "ExternalLegalConsentResponse" : {
        "required" : [ "communicationTypeId", "consented" ],
        "type" : "object",
        "properties" : {
          "communicationTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the type of communication for which consent is being recorded.",
            "example" : null
          },
          "consented" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user has given consent for the communication type. It is true if consent is given, otherwise false.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkAvailability" : {
        "required" : [ "hasMore", "linkAvailabilityByDuration" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether there are more available meeting times beyond those currently provided.",
            "example" : null
          },
          "linkAvailabilityByDuration" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalLinkAvailabilityForDuration"
            },
            "description" : "An object where each key is a duration and the value is an availability object for that duration. This provides detailed availability information for each specified meeting duration.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkAvailabilityAndBusyTimes" : {
        "required" : [ "allUsersBusyTimes" ],
        "type" : "object",
        "properties" : {
          "allUsersBusyTimes" : {
            "type" : "array",
            "description" : "An array of objects representing the busy times for all users associated with the meeting link. Each object includes the user's busy time ranges.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalUserBusyTimes"
            }
          },
          "linkAvailability" : {
            "$ref" : "#/components/schemas/ExternalLinkAvailability"
          }
        },
        "example" : null
      },
      "ExternalLinkAvailabilityForDuration" : {
        "required" : [ "availabilities", "meetingDurationMillis" ],
        "type" : "object",
        "properties" : {
          "availabilities" : {
            "type" : "array",
            "description" : "An array of available time slots for the specified meeting duration. Each item in the array is an object representing a time slot's start and end times.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalMeetingAvailability"
            }
          },
          "meetingDurationMillis" : {
            "type" : "integer",
            "description" : "The duration of the meeting in milliseconds. This is an integer value representing the length of the meeting.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkDisplayInfo" : {
        "type" : "object",
        "properties" : {
          "avatar" : {
            "type" : "string",
            "description" : "A string representing the URL of the avatar image to be displayed.",
            "example" : null
          },
          "companyAvatar" : {
            "type" : "string",
            "description" : "A string representing the URL of the company avatar image to be displayed.",
            "example" : null
          },
          "headline" : {
            "type" : "string",
            "description" : "A string representing the headline text to be displayed with the meeting link.",
            "example" : null
          },
          "publicDisplayAvatarOption" : {
            "type" : "string",
            "description" : "A string indicating the avatar display option, with valid values including 'PROFILE_IMAGE', 'COMPANY_LOGO', and 'CUSTOM_AVATAR'.",
            "example" : null,
            "enum" : [ "COMPANY_LOGO", "CUSTOM_AVATAR", "PROFILE_IMAGE" ]
          }
        },
        "example" : null
      },
      "ExternalLinkFormField" : {
        "required" : [ "fieldType", "isCustom", "isRequired", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string",
            "description" : "The type of the form field, represented as a string, indicating the kind of input expected.",
            "example" : null
          },
          "isCustom" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is a custom field defined by the user.",
            "example" : null
          },
          "isRequired" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is mandatory for the user to fill out.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label for the form field, shown to users, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The unique name identifier for the form field, represented as a string.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "An array of options available for the form field, applicable if the field type supports multiple choices.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalOption"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The specific data type of the form field, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalLinkMetadata" : {
        "required" : [ "createdAt", "defaultLink", "id", "link", "organizerUserId", "slug", "type", "userIdsOfLinkMembers" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting link was created, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "defaultLink" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether this is the default meeting link.",
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the meeting link.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "The full URL of the meeting link.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the meeting link.",
            "example" : null
          },
          "organizerUserId" : {
            "type" : "string",
            "description" : "The unique identifier of the user who organized the meeting.",
            "example" : null
          },
          "paymentLinkId" : {
            "type" : "string",
            "description" : "An integer representing the identifier for the payment link associated with the meeting.",
            "example" : null
          },
          "slug" : {
            "type" : "string",
            "description" : "A string representing the unique part of the URL for the meeting link.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The type of meeting link. Valid values include 'PERSONAL_LINK', 'GROUP_CALENDAR', and 'ROUND_ROBIN_CALENDAR'.",
            "example" : null,
            "enum" : [ "GROUP_CALENDAR", "PERSONAL_LINK", "ROUND_ROBIN_CALENDAR" ]
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when the meeting link was last updated, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "userIdsOfLinkMembers" : {
            "type" : "array",
            "description" : "An array of user IDs representing the members associated with the meeting link.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ExternalMeetingAvailability" : {
        "required" : [ "endMillisUtc", "startMillisUtc" ],
        "type" : "object",
        "properties" : {
          "endMillisUtc" : {
            "type" : "integer",
            "description" : "The end time of the meeting availability, represented as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "startMillisUtc" : {
            "type" : "integer",
            "description" : "The start time of the meeting availability, represented as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingBooking" : {
        "required" : [ "duration", "email", "firstName", "formFields", "lastName", "legalConsentResponses", "likelyAvailableUserIds", "slug", "startTime" ],
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "integer",
            "description" : "An integer representing the duration of the meeting in minutes.",
            "format" : "int64",
            "example" : null
          },
          "email" : {
            "type" : "string",
            "description" : "The email address of the person booking the meeting.",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the person booking the meeting.",
            "example" : null
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of form fields filled out by the participant, each containing a name and value.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalBookingFormField"
            }
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the person booking the meeting.",
            "example" : null
          },
          "legalConsentResponses" : {
            "type" : "array",
            "description" : "An array of legal consent responses, each detailing the consent given by the participant.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "likelyAvailableUserIds" : {
            "type" : "array",
            "description" : "An array of strings representing the user IDs of those likely available for the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "locale" : {
            "type" : "string",
            "description" : "A string representing the locale of the person booking the meeting.",
            "example" : null
          },
          "slug" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the meeting link.",
            "example" : null
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time of the meeting in ISO 8601 date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "timezone" : {
            "type" : "string",
            "description" : "A string representing the timezone of the person booking the meeting.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingBookingResponse" : {
        "required" : [ "bookingTimezone", "calendarEventId", "contactId", "duration", "end", "formFields", "guestEmails", "isOffline", "legalConsentResponses", "start", "subject" ],
        "type" : "object",
        "properties" : {
          "bookingTimezone" : {
            "type" : "string",
            "description" : "The timezone in which the meeting was booked, represented as a string.",
            "example" : null
          },
          "calendarEventId" : {
            "type" : "string",
            "description" : "The unique identifier for the calendar event associated with this meeting.",
            "example" : null
          },
          "contactId" : {
            "type" : "string",
            "description" : "The unique identifier for the contact associated with this meeting.",
            "example" : null
          },
          "duration" : {
            "type" : "integer",
            "description" : "The duration of the meeting in minutes, represented as an integer.",
            "format" : "int64",
            "example" : null
          },
          "end" : {
            "type" : "string",
            "description" : "The end date and time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of validated form fields submitted during the booking process, each represented by an ExternalValidatedFormField object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalValidatedFormField"
            }
          },
          "guestEmails" : {
            "type" : "array",
            "description" : "An array of email addresses for the guests invited to the meeting.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the meeting is offline (true) or online (false).",
            "example" : null
          },
          "legalConsentResponses" : {
            "type" : "array",
            "description" : "An array of legal consent responses associated with the meeting, each represented by an ExternalLegalConsentResponse object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLegalConsentResponse"
            }
          },
          "locale" : {
            "type" : "string",
            "description" : "The locale setting for the meeting, represented as a string.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "The location of the meeting, represented as a string.",
            "example" : null
          },
          "start" : {
            "type" : "string",
            "description" : "The start date and time of the meeting, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject or title of the meeting, represented as a string.",
            "example" : null
          },
          "webConferenceMeetingId" : {
            "type" : "string",
            "description" : "The unique identifier for the web conference meeting, if applicable.",
            "example" : null
          },
          "webConferenceUrl" : {
            "type" : "string",
            "description" : "The URL for the web conference associated with the meeting, if applicable.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalMeetingsLinkSettings" : {
        "required" : [ "availability", "durations", "formFields", "legalConsentEnabled", "meetingBufferTime", "ownerPrioritized", "startTimeIncrementMinutes", "weeksToAdvertise" ],
        "type" : "object",
        "properties" : {
          "availability" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ExternalClosedRange"
            },
            "description" : "An object representing the availability settings for the meeting link, with additional properties for closed ranges.",
            "example" : null
          },
          "customAvailabilityEndDate" : {
            "type" : "integer",
            "description" : "An integer representing the custom availability end date as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "customAvailabilityStartDate" : {
            "type" : "integer",
            "description" : "An integer representing the custom availability start date as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "displayInfo" : {
            "$ref" : "#/components/schemas/ExternalLinkDisplayInfo"
          },
          "durations" : {
            "type" : "array",
            "description" : "An array of integers representing the possible durations for meetings in milliseconds.",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "formFields" : {
            "type" : "array",
            "description" : "An array of form fields that are included in the meeting link form.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalLinkFormField"
            }
          },
          "guestSettings" : {
            "$ref" : "#/components/schemas/ExternalGuestSettings"
          },
          "language" : {
            "type" : "string",
            "description" : "A string representing the language setting for the meeting link.",
            "example" : null
          },
          "legalConsentEnabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether legal consent is required for the meeting link.",
            "example" : null
          },
          "legalConsentOptions" : {
            "$ref" : "#/components/schemas/ExternalLegalConsentOptions"
          },
          "locale" : {
            "type" : "string",
            "description" : "A string representing the locale setting for the meeting link.",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "description" : "A string representing the location information for the meeting.",
            "example" : null
          },
          "meetingBufferTime" : {
            "type" : "integer",
            "description" : "An integer representing the buffer time between meetings in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "ownerPrioritized" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the meeting owner is prioritized in scheduling.",
            "example" : null
          },
          "redirectUrl" : {
            "type" : "string",
            "description" : "A string representing the URL to which users are redirected after booking a meeting.",
            "example" : null
          },
          "startTimeIncrementMinutes" : {
            "type" : "string",
            "description" : "A string indicating the increment for start times, with valid values including 'MEETING_DURATION', 'FIVE', 'TEN', 'FIFTEEN', 'TWENTY', 'THIRTY', 'FORTY_FIVE', 'SIXTY', 'NINETY', and 'ONE_HUNDRED_TWENTY'.",
            "example" : null,
            "enum" : [ "FIFTEEN", "FIVE", "FORTY_FIVE", "MEETING_DURATION", "NINETY", "ONE_HUNDRED_TWENTY", "SIXTY", "TEN", "THIRTY", "TWENTY" ]
          },
          "weeksToAdvertise" : {
            "type" : "integer",
            "description" : "An integer representing the number of weeks to advertise the meeting link.",
            "format" : "int32",
            "example" : null
          },
          "welcomeScreenInfo" : {
            "$ref" : "#/components/schemas/ExternalMeetingsWelcomeScreenInfo"
          }
        },
        "example" : null
      },
      "ExternalMeetingsUser" : {
        "required" : [ "calendarProvider", "id", "isSalesStarter", "userId", "userProfile" ],
        "type" : "object",
        "properties" : {
          "calendarProvider" : {
            "type" : "string",
            "description" : "The calendar service provider used by the user. Valid values include 'GOOGLE', 'OFFICE365', 'EXCHANGE', and 'UNKNOWN'.",
            "example" : null,
            "enum" : [ "EXCHANGE", "GOOGLE", "OFFICE365", "UNKNOWN" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the meetings user.",
            "example" : null
          },
          "isSalesStarter" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user is a sales starter.",
            "example" : null
          },
          "userId" : {
            "type" : "string",
            "description" : "The unique identifier for the user associated with the meetings service.",
            "example" : null
          },
          "userProfile" : {
            "$ref" : "#/components/schemas/ExternalUserProfile"
          }
        },
        "example" : null
      },
      "ExternalMeetingsWelcomeScreenInfo" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A descriptive text shown on the welcome screen. It is a string value.",
            "example" : null
          },
          "logoUrl" : {
            "type" : "string",
            "description" : "The URL of the logo image displayed on the welcome screen. It is a string value.",
            "example" : null
          },
          "showWelcomeScreen" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the welcome screen should be displayed to users.",
            "example" : null
          },
          "title" : {
            "type" : "string",
            "description" : "The title displayed on the welcome screen. It is a string value.",
            "example" : null
          },
          "useCompanyLogo" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the company's logo should be used on the welcome screen.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalOption" : {
        "required" : [ "description", "displayOrder", "doubleData", "hidden", "label", "readOnly", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A string providing a detailed description of the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "An integer indicating the order in which the option should be displayed relative to other options.",
            "format" : "int32",
            "example" : null
          },
          "doubleData" : {
            "type" : "number",
            "description" : "A number that may hold additional data associated with the option.",
            "example" : null
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option is hidden from display.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "A string representing the display name of the option.",
            "example" : null
          },
          "readOnly" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the option is read-only and cannot be modified.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "A string representing the internal value associated with the option.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalReminder" : {
        "required" : [ "numberOfTimeUnits", "timeUnit" ],
        "type" : "object",
        "properties" : {
          "numberOfTimeUnits" : {
            "type" : "integer",
            "description" : "The number of time units before the meeting when the reminder should be sent. This is an integer value.",
            "format" : "int32",
            "example" : null
          },
          "timeUnit" : {
            "type" : "string",
            "description" : "The unit of time for the reminder. Valid values include 'WEEKS', 'DAYS', 'HOURS', and 'MINUTES'.",
            "example" : null,
            "enum" : [ "DAYS", "HOURS", "MINUTES", "WEEKS" ]
          }
        },
        "example" : null
      },
      "ExternalTimeRange" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "integer",
            "description" : "The end of the time range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          },
          "start" : {
            "type" : "integer",
            "description" : "The start of the time range, represented as an integer in int64 format.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalUserBusyTimes" : {
        "required" : [ "busyTimes", "isOffline", "meetingsUser" ],
        "type" : "object",
        "properties" : {
          "busyTimes" : {
            "type" : "array",
            "description" : "An array of time ranges during which the user is busy. Each time range is represented by an object with start and end times.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ExternalTimeRange"
            }
          },
          "isOffline" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the user is currently offline.",
            "example" : null
          },
          "meetingsUser" : {
            "$ref" : "#/components/schemas/ExternalMeetingsUser"
          }
        },
        "example" : null
      },
      "ExternalUserProfile" : {
        "required" : [ "email" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email address of the user. This is a required string property.",
            "example" : null
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user. It is a string.",
            "example" : null
          },
          "fullName" : {
            "type" : "string",
            "description" : "The full name of the user, combining first and last names. It is a string.",
            "example" : null
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ExternalValidatedFormField" : {
        "required" : [ "isCustom", "label", "name", "value" ],
        "type" : "object",
        "properties" : {
          "fieldType" : {
            "type" : "string",
            "description" : "The type of the form field, represented as a string.",
            "example" : null
          },
          "isCustom" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether the form field is custom-defined.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The display label for the form field, represented as a string.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the form field, represented as a string.",
            "example" : null
          },
          "translatedLabel" : {
            "type" : "string",
            "description" : "The translated label for the form field, represented as a string.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value assigned to the form field, represented as a string.",
            "example" : null
          },
          "valueLabel" : {
            "type" : "string",
            "description" : "A label for the field's value, represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string representing the paging cursor token for the next set of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string containing the URL link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token used to retrieve the previous page of results.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A string URL that provides a direct link to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "PublicObjectId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the public object. It is a string that serves as a reference to the object within the API.",
            "example" : null
          }
        },
        "description" : "Contains the Id of a Public Object",
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.objects.contacts.sensitive.write.v2" : "",
              "meetings-write" : "",
              "scheduler.meetings.meeting-link.read" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}