{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "HubDB",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Armazene dados de inventário em tabelas do HubDB, tanto para manter registros quanto para gerar páginas dinâmicas para listar produtos no seu site.",
    "x-hubspot-related-documentation" : [ {
      "name" : "HubDB Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/hubdb"
    } ],
    "x-hubspot-introduction" : "Use a API do HubDB para criar e gerenciar tabelas do HubDB na conta, bem como importar, recuperar e gerenciar dados individuais da tabela."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Tables"
  }, {
    "name" : "Tabelas"
  }, {
    "name" : "Rows"
  }, {
    "name" : "Linhas"
  }, {
    "name" : "Rows Batch"
  }, {
    "name" : "Lote de linhas"
  } ],
  "paths" : {
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Exportar uma tabela de rascunho",
        "description" : "Exporta a versão \"draft\" (rascunho) de uma tabela no formato CSV/EXCEL.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser exportada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "O formato do arquivo no qual exportar. Os valores possíveis incluem \"CSV\", \"XLSX\" e \"XLS\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Retornar todas as tabelas de rascunho",
        "description" : "Retorna os detalhes de cada tabela de rascunho definida na conta especificada, incluindo definições de colunas.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica quais campos usar para classificar os resultados. Os campos válidos são \"name\", \"createdAt\", \"updatedAt\", \"createdBy\", \"updatedBy\". O campo \"createdAt\" será usado por padrão.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "O valor do token do cursor para obter o próximo conjunto de resultados. Você pode obter esse valor da propriedade JSON \"paging.next.after\" em uma resposta paginada que contém mais resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "O número máximo de resultados a serem retornados. O padrão é 1.000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas exatamente no horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas após o horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas antes do horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Retorne apenas tabelas atualizadas pela última vez exatamente no horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Retorne apenas as tabelas atualizadas após o horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Retorne apenas as tabelas atualizadas antes do horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica se deve retornar tabelas arquivadas. O padrão é \"false\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Obter linhas de uma tabela de rascunho",
        "description" : "Retorna linhas na versão de \"rascunho\" da tabela especificada. Os resultados das linhas podem ser filtrados e classificados. As opções de filtragem e classificação serão enviadas como parâmetros de consulta para a solicitação da API. Por exemplo, adicionando os parâmetros de consulta \"column1__gt=5&sort=-column1\", a API retorna as linhas com valores maiores que 5 na coluna \"column1\"  e na ordem decrescente. Consulte a seção [visão geral](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) para ver opções detalhadas de filtragem e classificação.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser consultada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica os nomes das colunas pelas quais classificar os resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "O valor do token do cursor para obter o próximo conjunto de resultados. Você pode obter esse valor da propriedade JSON \"paging.next.after\" em uma resposta paginada que contém mais resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "O número máximo de resultados a serem retornados. O padrão é \"1.000\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Especifique os nomes das colunas para obter resultados contendo apenas as colunas necessárias em vez de todos os detalhes das colunas. Se deseja incluir várias colunas no resultado, use este parâmetro de consulta quantas vezes forem necessárias. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Obter uma linha da tabela",
        "description" : "Obtenha uma única linha por ID a partir da versão \"publicada\" de uma tabela.\n**Observação:** este ponto de extremidade pode ser acessado sem qualquer autenticação se a tabela estiver configurada para permitir acesso público.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Clonar uma linha",
        "description" : "Clona uma única linha na versão \"rascunho\" da tabela.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Redefinir uma tabela de rascunho",
        "description" : "Substitui os dados na versão \"draft\" (rascunho) da tabela pelos valores da versão \"publicada\". Quaisquer alterações não publicadas em \"draft\" serão perdidas após essa chamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser redefinida.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo na resposta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Exportar uma versão publicada de uma tabela",
        "description" : "Exporta a versão \"published\" (publicada) de uma tabela no formato CSV/EXCEL.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser exportada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "O formato do arquivo no qual exportar. Os valores possíveis incluem \"CSV\", \"XLSX\" e \"XLS\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Substituir linhas em lote na tabela de rascunho",
        "description" : "Substitui várias linhas em lote na versão \"rascunho\" da tabela, com um máximo de 100 linhas por chamada. Veja o ponto de extremidade \"PUT /tables/{tableIdOrName}/rows/{rowId}/draft\" para obter detalhes sobre a atualização de uma única linha.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Clonar uma tabela",
        "description" : "Clone uma tabela do HubDB existente. O \"newName\" e o \"newLabel\" da nova tabela podem ser enviados como JSON no parâmetro \"body\". Isso criará a tabela clonada como um \"draft\" (rascunho).",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser clonada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Exclui linhas permanentemente",
        "description" : "Exclui permanentemente linhas da versão \"rascunho\" da tabela, dado um conjunto de IDs de linha. Máximo de 100 IDs de linha por chamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Importar dados na tabela de rascunho",
        "description" : "Importe o conteúdo de um arquivo CSV para uma tabela HubDB existente. Os dados serão sempre importados para a versão de \"rascunho\" da tabela. Use o endpoint \"/publish\" para enviar essas alterações para a versão \"publicada\".\nEste endpoint aceita uma solicitação POST multi-parte. A primeira parte será um conjunto de opções formatadas em JSON para a importação e você pode especificar isso com o nome \"config\". A segunda parte será o arquivo CSV que você deseja importar e você pode especificar isso com o nome \"file\". Consulte a [seção de visão geral](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) para verificar os detalhes e o formato das opções formatadas em JSON para a importação.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID da tabela de destino onde os dados serão importados.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Obter uma linha a partir da tabela de rascunho",
        "description" : "Obtenha uma única linha por ID a partir da versão \"rascunho\" de uma tabela.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Substitui uma linha existente",
        "description" : "Substitua uma linha na versão de \"rascunho\" da tabela.\nTodos os valores de coluna devem ser especificados. Se uma coluna tiver um valor na tabela de destino e esta solicitação não definir esse valor, ele será excluído.\nConsulte o endpoint \"Criar uma linha\" para obter instruções sobre como formatar as definições de linha em JSON.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Exclui uma linha permanentemente",
        "description" : "Exclui permanentemente uma linha da versão \"rascunho\" de uma tabela.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Atualiza uma linha existente",
        "description" : "Atualiza de forma esparsa uma linha na versão \"draft\" da tabela.\nTodos os valores de coluna precisam ser especificados. Somente as colunas ou campos que precisam ser modificados podem ser especificados.\nConsulte o endpoint \"Criar uma linha\" para obter instruções sobre como formatar as definições de linha em JSON.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "O ID da linha",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Obter linhas para uma tabela",
        "description" : "Retorna um conjunto de linhas na versão \"publicada\" da tabela especificada. Os resultados das linhas podem ser filtrados e classificados. As opções de filtragem e classificação serão enviadas como parâmetros de consulta para a solicitação da API. Por exemplo, adicionando os parâmetros de consulta \"column1__gt=5&sort=-column1\", a API retorna as linhas com valores maiores que 5 na coluna \"column1\"  e na ordem decrescente. Consulte a seção [visão geral](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) para ver opções detalhadas de filtragem e classificação.\n**Observação:** este endpoint poderá ser acessado sem autenticação se a tabela estiver configurada para permitir acesso público.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser consultada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica os nomes das colunas para classificar os resultados. Consulte a descrição acima para obter mais detalhes.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "O valor do token do cursor para obter o próximo conjunto de resultados. Você pode obter esse valor da propriedade JSON \"paging.next.after\" em uma resposta paginada que contém mais resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "O número máximo de resultados a serem retornados. O padrão é \"1.000\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Especifique os nomes das colunas para obter resultados contendo apenas as colunas necessárias em vez de todos os detalhes das colunas.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows", "Linhas" ],
        "summary" : "Adicionar uma nova linha a uma tabela",
        "description" : "Adicione uma nova linha a uma tabela do HubDB. Novas linhas serão adicionadas à versão \"rascunho\" da tabela. Use o endpoint \"publish\" para enviar essas alterações para a versão publicada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Obter um conjunto de linhas",
        "description" : "Retorna linhas na versão \"publicada\" da tabela especificada, dado um conjunto de IDs de linhas.\n**Observação:** este ponto de extremidade pode ser acessado sem autenticação se a tabela estiver configurada para permitir acesso público.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser consultada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Criar linhas em lote",
        "description" : "Cria linhas na versão \"rascunho\" da tabela especificada, dado uma matriz de objetos de linha. Máximo de 100 objetos de linha por chamada. Consulte a seção de visão geral para obter mais detalhes com um exemplo.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Obter detalhes de uma tabela publicada",
        "description" : "Retorna os detalhes da versão \"publicada\" da tabela especificada. Isso incluirá as definições das colunas e o número de linhas na tabela.\n\n**Observação:** esse endpoint poderá ser acessado sem nenhuma autenticação se a tabela estiver configurada para acesso público. Para fazer isso, você precisará incluir o ID da conta da HubSpot em um parâmetro de consulta \"portalId\".",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser retornada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Defina como \"true\" para retornar detalhes de uma tabela arquivada. O padrão é \"false\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo no resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Arquivar uma tabela",
        "description" : "Arquivar (excluir de forma reversível) uma tabela do HubDB existente. Isso arquiva as versões publicadas e de rascunho.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser arquivada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Obter um conjunto de linhas a partir da tabela de rascunho",
        "description" : "Retorna linhas na versão \"rascunho\" da tabela especificada, dado um conjunto de IDs de linhas.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Clonar linhas em lote",
        "description" : "Clona linhas na versão \"rascunho\" da tabela especificada, dado um conjunto de IDs de linhas. Máximo de 100 IDs de linha por chamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Obter todas as tabelas publicadas",
        "description" : "Retorna os detalhes da versão \"publicada\" de cada tabela definida em uma conta, incluindo definições de colunas.",
        "operationId" : "get-/cms/v3/hubdb/tables_getAllTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica quais campos usar para classificar os resultados. Os campos válidos são \"name\", \"createdAt\", \"updatedAt\", \"createdBy\", \"updatedBy\". O campo \"createdAt\" será usado por padrão.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "O valor do token do cursor para obter o próximo conjunto de resultados. Você pode obter esse valor da propriedade JSON \"paging.next.after\" em uma resposta paginada que contém mais resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "O número máximo de resultados a serem retornados. O padrão é 1.000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas exatamente no horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas após o horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Retorne apenas tabelas criadas antes do horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Retorne apenas tabelas atualizadas pela última vez exatamente no horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Retorne apenas as tabelas atualizadas após o horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Retorne apenas as tabelas atualizadas antes do horário especificado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica se deve retornar tabelas arquivadas. O padrão é \"false\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Criar uma nova tabela",
        "description" : "Cria uma nova tabela de rascunho do HubDB com base em um esquema JSON. O nome e o rótulo da tabela devem ser exclusivos para cada conta.",
        "operationId" : "post-/cms/v3/hubdb/tables_createTable",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Cancelar publicação de uma tabela",
        "description" : "Cancela a publicação da tabela, o que significa que todas as páginas do site que usam dados da tabela não renderizarão dados.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser publicada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo na resposta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Obter detalhes de uma tabela de rascunho",
        "description" : "Obtenha os detalhes da versão \"draft\" (rascunho) de uma tabela específica do HubDB. Isso incluirá as definições das colunas e o número de linhas na tabela.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser retornada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Defina como \"true\" para retornar uma tabela arquivada. O padrão é \"false\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo no resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Atualizar uma tabela existente",
        "description" : "Atualize uma tabela HubDB existente. Você pode usar este endpoint para adicionar ou remover colunas da tabela, bem como restaurar uma tabela arquivada. As tabelas atualizadas usando o endpoint modificarão apenas a versão de \"rascunho\" da tabela. Use o endpoint \"publish\" para aplicar todas as alterações à versão \"publicada\". Para restaurar uma tabela, inclua o parâmetro de consulta \"archived=true\" e \"archived\": false no corpo do json.\n**Observação:** você precisa incluir todas as colunas na entrada ao adicionar/remover/atualizar uma coluna. Se você não incluir uma coluna já existente na solicitação, ela será excluída.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser atualizada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica se deve retornar tabelas arquivadas. O padrão é \"false\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo no resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables", "Tabelas" ],
        "summary" : "Publicar tabela a partir de um rascunho",
        "description" : "Publica a tabela copiando os dados e as alterações de esquema da versão de rascunho para a versão publicada, o que significa que as páginas do site que utilizem dados da tabela serão atualizadas.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela a ser publicada.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Defina como \"true\" para preencher os valores de ID externo na resposta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de linhas" ],
        "summary" : "Atualizar linhas em lote na tabela de rascunho",
        "description" : "Atualiza várias linhas em lote na versão \"rascunho\" da tabela, com um máximo de 100 linhas por chamada. Veja o ponto de extremidade \"PATCH /tables/{tableIdOrName}/rows/{rowId}/draft\" para obter detalhes sobre a atualização de uma única linha.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "O ID ou nome da tabela",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "BoundedNextPage" : {
        "required" : [ "offset" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows", "isHubspotDefined" ],
        "type" : "object",
        "properties" : {
          "newName" : {
            "type" : "string",
            "description" : "O novo nome para a tabela clonada",
            "example" : "test_table_new"
          },
          "isHubspotDefined" : {
            "type" : "boolean"
          },
          "newLabel" : {
            "type" : "string",
            "description" : "O novo rótulo para a tabela clonada",
            "example" : "Test Table New"
          },
          "copyRows" : {
            "type" : "boolean",
            "description" : "Especifica se as linhas devem ser copiadas ao clonar",
            "example" : true
          }
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : ""
          },
          "lastName" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "email" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          }
        }
      },
      "BoundedPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/BoundedNextPage"
          }
        }
      },
      "BatchInputHubDbTableRowBatchCloneRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowBatchCloneRequest"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Uma categoria específica que contém mais detalhes específicos sobre o erro"
          },
          "code" : {
            "type" : "string",
            "description" : "O código de status associado ao detalhe do erro"
          },
          "in" : {
            "type" : "string",
            "description" : "O nome do campo ou parâmetro no qual o erro foi encontrado."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto sobre a condição de erro",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Uma mensagem legível por humanos que descreve o erro, juntamente com as etapas de correção, quando apropriado"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "HubDbTableRowBatchCloneRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3"
        }, {
          "$ref" : "#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3"
        } ]
      },
      "Column" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "ID externo da tabela referenciado",
            "format" : "int64"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "description" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string",
            "description" : "Rótulo da coluna",
            "example" : "Text Column"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Tipo de coluna",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Número de opções disponíveis",
            "format" : "int32"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "IDs externos",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nome da coluna",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Opções para escolher para colunas de seleção única e múltipla",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "width" : {
            "type" : "integer",
            "description" : "Largura da coluna para a interface do HubDB",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "ID da coluna",
            "example" : "1"
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "IDs externos"
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "ID de coluna externo",
            "format" : "int32"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "IDs externos por nome"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "StreamingCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "STREAMING",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "type" : {
            "type" : "string",
            "default" : "STREAMING",
            "enum" : [ "STREAMING" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "HubDbTableV3" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Especifica os pares chave-valor dos campos de metadados com os IDs de coluna associados",
            "example" : { }
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Especifica se a tabela pode ser lida pelo público sem autorização",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Especifica se a tabela pode ser usada para criação de páginas dinâmicas",
            "example" : true
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "A data e hora em que a tabela foi publicada recentemente",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:45.009+00:00"
          },
          "columns" : {
            "type" : "array",
            "description" : "Lista de colunas na tabela",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column",
              "archived" : false,
              "foreignIdsById" : { },
              "foreignIdsByName" : { }
            } ],
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Rótulo da tabela",
            "example" : "Test Table"
          },
          "published" : {
            "type" : "boolean"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Número de colunas, incluindo as excluídas",
            "format" : "int32",
            "example" : 3
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Especifica se as tabelas secundárias podem ser criadas",
            "example" : true
          },
          "createdAt" : {
            "type" : "string",
            "description" : "A data e hora em que a tabela foi criada",
            "format" : "date-time",
            "example" : "2019-03-15T21:20:51.556+00:00"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nome da tabela",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Especifica a criação de páginas dinâmicas de vários níveis usando tabelas secundárias",
            "example" : false
          },
          "id" : {
            "type" : "string",
            "description" : "ID da tabela",
            "example" : "1630034"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Número de linhas na tabela",
            "format" : "int32",
            "example" : 0
          },
          "isOrderedManually" : {
            "type" : "boolean"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "A data e hora em que a tabela foi atualizada recentemente",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:43.880+00:00"
          }
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "RandomAccessCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "RANDOM_ACCESS",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/BoundedPaging"
          },
          "type" : {
            "type" : "string",
            "default" : "RANDOM_ACCESS",
            "enum" : [ "RANDOM_ACCESS" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Especifica se o limite de linhas foi excedido durante a importação"
          },
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Especifica o número de linhas duplicadas",
            "format" : "int32"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Especifica o número de linhas importadas",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "description" : "Lista de erros durante a importação",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Especifica os pares chave-valor dos campos de metadados com os IDs de coluna associados",
            "example" : { }
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Especifica se a tabela pode ser lida pelo público sem autorização",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Especifica se a tabela pode ser usada para criação de páginas dinâmicas",
            "example" : true
          },
          "columns" : {
            "type" : "array",
            "description" : "Lista de colunas na tabela",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column"
            } ],
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Nome da tabela",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Especifica a criação de páginas dinâmicas de vários níveis usando tabelas secundárias",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Rótulo da tabela",
            "example" : "Test Table"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Especifica se as tabelas secundárias podem ser criadas",
            "example" : true
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Uma categoria específica que contém mais detalhes específicos sobre o erro"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto sobre a condição de erro",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Um identificador exclusivo para a solicitação. Inclua este valor em relatórios de erro ou tickets de suporte",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Um mapa de nomes de links para URIs associados que contêm documentação sobre o erro ou etapas de correção recomendadas",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Uma mensagem legível por humanos que descreve o erro, juntamente com as etapas de correção, quando apropriado",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "A categoria de erro",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "mais informações sobre o erro",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ColumnRequest" : {
        "required" : [ "id", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "foreignTableId" : {
            "type" : "integer",
            "description" : "O ID da outra tabela à qual a coluna se refere/aponta.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Nome da coluna",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Opções para escolher para colunas de seleção única e múltipla",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "ID da coluna",
            "format" : "int32",
            "example" : 1
          },
          "label" : {
            "type" : "string",
            "description" : "Rótulo da coluna",
            "example" : "Text Column"
          },
          "type" : {
            "type" : "string",
            "description" : "Tipo de coluna",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "O ID da coluna de outra tabela à qual a coluna se refere/aponta.",
            "format" : "int32"
          }
        }
      },
      "Variant" : {
        "type" : "object",
        "properties" : { }
      },
      "HubDbTableRowV3BatchUpdateRequest" : {
        "required" : [ "id", "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_path\", que será usado como slug nas páginas dinâmicas",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Especifica o valor para a coluna de ID da tabela secundária",
            "format" : "int32",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Lista de pares chave-valor com o nome da coluna e o valor da coluna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_name\", que será usado como título nas páginas dinâmicas.",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "O ID da linha da tabela",
            "example" : "4099275931"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableRowV3" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_path\", que será usado como slug nas páginas dinâmicas",
            "example" : "test_path"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "A data e hora em que a linha foi criada",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          },
          "childTableId" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna de ID da tabela secundária",
            "example" : "1902373"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "Lista de pares chave-valor com o nome da coluna e o valor da coluna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_name\", que será usado como título nas páginas dinâmicas",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "O ID da linha da tabela",
            "example" : "4099275931"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "A data e hora em que a linha foi atualizada pela última vez",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          }
        }
      },
      "HubDbTableRowV3Request" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_path\", que será usado como slug nas páginas dinâmicas",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Especifica o valor para a coluna de ID da tabela secundária",
            "format" : "int64",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Lista de pares chave-valor com o nome da coluna e o valor da coluna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Especifica o valor para a coluna \"hs_name\", que será usado como título nas páginas dinâmicas.",
            "example" : "test_title"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Option" : {
        "required" : [ "createdAt", "id", "name", "order", "type", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "label" : {
            "type" : "string"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
[...]
