{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hubdb",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Speichern Sie Bestandsdaten in HubDB-Tabellen, um sie zu erfassen und um dynamische Seiten für die Produktauflistung auf Ihrer Website zu erstellen.",
    "x-hubspot-related-documentation" : [ {
      "name" : "HubDB Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/hubdb"
    } ],
    "x-hubspot-introduction" : "Verwenden Sie die HubDB-API zum Erstellen und Verwalten von HubDB-Tabellen im Account sowie zum Importieren, Abrufen und Verwalten einzelner Tabellendaten."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Tables"
  }, {
    "name" : "Tabellen"
  }, {
    "name" : "Rows"
  }, {
    "name" : "Zeilen"
  }, {
    "name" : "Rows Batch"
  }, {
    "name" : "Zeilen im Batch"
  } ],
  "paths" : {
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Entwurfstabelle exportieren",
        "description" : "Exportiert die Entwurfsversion einer Tabelle in das CSV/EXCEL-Format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die exportiert werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Das zu exportierende Dateiformat. Mögliche Werte: „CSV“, „XLSX“ und „XLS“.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Alle Entwurfstabellen zurückgeben",
        "description" : "Gibt die Details für jede im angegebenen Account definierte Entwurfstabelle zurück, einschließlich der Spaltendefinitionen.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt an, welche Felder zum Sortieren der Ergebnisse verwendet werden. Gültige Felder: „name“, „createdAt“, „updatedAt“, „createdBy“, „updatedBy“. „createdAt“ wird standardmäßig verwendet.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die genau am angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die nach dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die vor dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die genau am angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die nach dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die vor dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob archivierte Tabellen zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Zeilen aus Entwurfstabelle abrufen",
        "description" : "Gibt Zeilen in der Entwurfsversion der angegebenen Tabelle zurück. Die Zeilenergebnisse können gefiltert und sortiert werden. Die Filter- und Sortieroptionen werden als Abfrageparameter an die API-Anfrage gesendet. Beispiel: Durch Hinzufügen der Abfrageparameter „column1__gt=5&sort=-column1“ gibt die API die Zeilen zurück, deren Werte in Spalte „column1“ größer als 5 und in absteigender Reihenfolge der „column1“-Werte sind. Detaillierte Filter- und Sortieroptionen finden Sie im [Abschnitt mit der Übersicht](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows).",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die abgefragt werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt die Spaltennamen an, nach denen die Ergebnisse sortiert werden sollen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Gibt die Spaltennamen an, um Ergebnisse abzurufen, die nur die erforderlichen Spalten und nicht alle Spaltendetails enthalten. Wenn Sie mehrere Spalten in das Ergebnis aufnehmen möchten, verwenden Sie diesen Abfrageparameter so oft wie nötig. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Tabellenzeile abrufen",
        "description" : "Eine einzelne Zeile nach ID aus der veröffentlichten Version einer Tabelle abrufen.\n**Hinweis:** Auf diesen Endpunkt kann ohne Authentifizierung zugegriffen werden, wenn die Tabelle öffentlich zugänglich ist.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Zeile klonen",
        "description" : "Klont eine einzelne Zeile in der Entwurfsversion einer Tabelle.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Entwurfstabelle zurücksetzen",
        "description" : "Ersetzt die Daten in der Entwurfsversion der Tabelle durch Werte aus der veröffentlichten Version. Alle unveröffentlichten Änderungen im Entwurf gehen nach diesem Aufruf verloren.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die zurückgesetzt werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte in der Antwort auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Veröffentlichte Version einer Tabelle exportieren",
        "description" : "Exportiert die Entwurfsversion einer Tabelle in ein bestimmtes Format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die exportiert werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Das zu exportierende Dateiformat. Mögliche Werte: „CSV“, „XLSX“ und „XLS“.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Zeilen im Batch in der Entwurfstabelle ersetzen",
        "description" : "Ersetzt mehrere Zeilen im Batch in der Entwurfsversion der Tabelle. Maximal 100 Zeilen pro Aufruf. Details zum Aktualisieren einer einzelnen Zeile finden Sie im Endpunkt „PUT /tables/{tableIdOrName}/rows/{rowId}/draft“.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Tabelle klonen",
        "description" : "Zum Klonen einer vorhandenen HubDB-Tabelle. „newName“ und „newLabel“ der neuen Tabelle können als JSON im Anfragetext gesendet werden. Dadurch wird die geklonte Tabelle als Entwurf erstellt.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die geklont werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Löscht dauerhaft Zeilen",
        "description" : "Löscht Zeilen dauerhaft aus der Entwurfsversion der Tabelle, vorausgesetzt wird eine Reihe von Zeilen-IDs. Maximal 100 Zeilen-IDs pro Aufruf.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Daten in Entwurfstabelle importieren",
        "description" : "Inhalt einer CSV-Datei in eine vorhandene HubDB-Tabelle importieren. Daten werden stets in die Version „Entwurf“ der Tabelle importiert. Verwenden Sie den Endpunkt „/publish“, um diese Änderungen in die „veröffentlichte“ Version zu übertragen.\nDieser Endpunkt macht eine mehrteilige POST-Anfrage. Der erste Teil besteht aus einigen JSON-Optionen für den Import, die über den Namen „config“ angegeben werden können. Der zweite Teil besteht aus der zu importierenden CSV-Datei, die über den Namen „file“ angegeben werden können. Prüfen Sie im [Abschnitt Übersicht](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) Angaben und Format der JSON-Optionen für den Import.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID der Zieltabelle, in die die Daten importiert werden sollen.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Zeile aus Entwurfstabelle abrufen",
        "description" : "Ruft eine einzelne Zeile nach ID aus der Entwurfsversion einer Tabelle ab.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Ersetzt eine vorhandene Zeile",
        "description" : "Eine einzelne Zeile in der Entwurfsversion einer Tabelle ersetzen. Alle Spaltenwerte müssen angegeben werden. Wenn eine Spalte in der Zieltabelle einen Wert hat und diese Anfrage diesen Wert nicht definiert, wird sie gelöscht.\nAnweisungen zum Formatieren der JSON-Zeilendefinitionen finden Sie unter dem Endpunkt „Zeile erstellen“.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Löscht dauerhaft eine Zeile",
        "description" : "Löscht eine Zeile dauerhaft aus der Entwurfsversion einer Tabelle.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Aktualisiert eine vorhandene Zeile",
        "description" : "Eine einzelne Zeile in der Entwurfsversion einer Tabelle mit Lücken aktualisieren.\nEs müssen nicht alle Spaltenwerte angegeben werden. Es können nur die Spalten oder Felder angegeben werden, die geändert werden müssen.\nAnweisungen zum Formatieren der JSON-Zeilendefinitionen finden Sie unter dem Endpunkt „Zeile erstellen“.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Die ID der Zeile",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Zeilen für eine Tabelle abrufen",
        "description" : "Gibt einen Satz von Zeilen in der veröffentlichten Version der angegebenen Tabelle zurück. Die Zeilenergebnisse können gefiltert und sortiert werden. Die Filter- und Sortieroptionen werden als Abfrageparameter an die API-Anfrage gesendet. Beispiel: Durch Hinzufügen der Abfrageparameter „column1__gt=5&sort=-column1“ gibt die API die Zeilen zurück, deren Werte in Spalte „column1“ größer als 5 und in absteigender Reihenfolge der „column1“-Werte sind. Detaillierte Filter- und Sortieroptionen finden Sie im [Abschnitt mit der Übersicht](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows).\n**Hinweis:** Auf diesen Endpunkt kann ohne Authentifizierung zugegriffen werden, wenn die Tabelle öffentlich zugänglich ist.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die abgefragt werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt die Spaltennamen an, nach denen die Ergebnisse sortiert werden sollen. Weitere Details finden Sie in der Beschreibung oben.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Gibt die Spaltennamen an, um Ergebnisse abzurufen, die nur die erforderlichen Spalten und nicht alle Spaltendetails enthalten.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows", "Zeilen" ],
        "summary" : "Neue Zeile zu einer Tabelle hinzufügen",
        "description" : "Zum Hinzufügen einer neuen Zeile zu einer HubDB-Tabelle. Neue Zeilen werden der Entwurfsversion der Tabelle hinzugefügt. Verwenden Sie den Endpunkt „/publish“, um diese Änderungen in der veröffentlichten Version zu übernehmen.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Zieltabelle.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Reihe von Zeilen abrufen",
        "description" : "Gibt Zeilen in der veröffentlichten Version der angegebenen Tabelle zurück, vorausgesetzt wird eine Reihe von Zeilen-IDs.\n**Hinweis:** Auf diesen Endpunkt kann ohne Authentifizierung zugegriffen werden, wenn die Tabelle öffentlich zugänglich ist.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die abgefragt werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Zeilen im Batch erstellen",
        "description" : "Erstellt Zeilen in der Entwurfsversion der angegebenen Tabelle, vorausgesetzt wird ein Array von Zeilenobjekten. Maximal 100 Zeilenobjekte pro Aufruf. Weitere Details und ein Beispiel finden Sie in der Übersicht.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Details einer veröffentlichten Tabelle abrufen",
        "description" : "Gibt die Details für die veröffentlichte Version der angegebenen Tabelle zurück. Dazu gehören die Definitionen für die Spalten in der Tabelle und die Anzahl der Zeilen in der Tabelle.\n\n**Hinweis:** Auf diesen Endpunkt kann ohne Authentifizierung zugegriffen werden, wenn die Tabelle öffentlich zugänglich ist. Dazu müssen Sie die HubSpot-Account-ID in einen „portalId“-Abfrageparameter aufnehmen.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die zurückgegeben werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Details für eine archivierte Tabelle zurückzugeben. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte im Ergebnis auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Tabelle archivieren",
        "description" : "Zum Archivieren (softes Löschen) einer vorhandenen HubDB-Tabelle. Dadurch werden sowohl veröffentlichte Versionen als auch Entwurfsversionen archiviert.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die archiviert werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Eine Reihe von Zeilen aus Entwurfstabelle abrufen",
        "description" : "Gibt Zeilen in der Entwurfsversion der angegebenen Tabelle zurück, vorausgesetzt wird eine Reihe von Zeilen-IDs.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Zeilen im Batch klonen",
        "description" : "Klont Zeilen in der Entwurfsversion der angegebenen Tabelle, vorausgesetzt wird eine Reihe von Zeilen-IDs. Maximal 100  Zeilen-IDs pro Aufruf.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Alle veröffentlichten Tabellen abrufen",
        "description" : "Gibt die Details für die veröffentlichte Version jeder in einem Account definierten Tabelle zurück, einschließlich der Spaltendefinitionen.",
        "operationId" : "get-/cms/v3/hubdb/tables_getAllTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Gibt an, welche Felder zum Sortieren der Ergebnisse verwendet werden. Gültige Felder: „name“, „createdAt“, „updatedAt“, „createdBy“, „updatedBy“. „createdAt“ wird standardmäßig verwendet.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Der erforderliche Wert des Cursor-Tokens, damit die nächsten Ergebnisse abgerufen werden. Sie können diesen Wert aus der „paging.next.after“-JSON-Eigenschaft einer ausgelesenen Antwort mit weiteren Ergebnissen abrufen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Die maximale Anzahl der Ergebnisse, die zurückgegeben werden. Standardwert: 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die genau am angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die nach dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die vor dem angegebenen Zeitpunkt erstellt wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die genau am angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die nach dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Nur Tabellen zurückgeben, die vor dem angegebenen Zeitpunkt zuletzt aktualisiert wurden.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob archivierte Tabellen zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Neue Tabelle erstellen",
        "description" : "Erstellt einen neuen Entwurf einer HubDB-Tabelle anhand eines JSON-Schemas. Der Tabellenname und das Label müssen für jeden Account eindeutig sein.",
        "operationId" : "post-/cms/v3/hubdb/tables_createTable",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Veröffentlichung einer Tabelle rückgängig machen",
        "description" : "Macht die Veröffentlichung der Tabelle rückgängig, d. h. alle Website-Seiten, die Daten aus der Tabelle verwenden, stellen keine Daten dar.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die veröffentlicht werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte in der Antwort auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Details für eine veröffentlichte Tabelle abrufen",
        "description" : "Zum Abrufen der Details für die Entwurfsversion einer bestimmten HubDB-Tabelle. Dazu gehören die Definitionen für die Spalten in der Tabelle und die Anzahl der Zeilen in der Tabelle.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die zurückgegeben werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um eine archivierte Tabelle zurückzugeben. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte im Ergebnis auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Vorhandene Tabelle aktualisieren",
        "description" : "Eine vorhandene HubDB-Tabelle aktualisieren. Endpunkt zum Hinzufügen oder Entfernen von Tabellenspalten und zum Wiederherstellen einer archivierten Tabelle. Tabellen, die mit diesem Endpunkt aktualisiert werden, ändern nur die Version „Entwurf“ der Tabelle. Verwenden Sie den Endpunkt „publish“, um alle Änderungen in der veröffentlichten Version zu übernehmen. Schließen Sie zum Wiederherstellen einer Tabelle die Abfrageparameter „archived=true“ und „\"archived\": false“ in den JSON-Text ein.\n**Hinweis:** Sie müssen alle Spalten in die Eingabe einbeziehen, wenn Sie eine Spalte hinzufügen/entfernen/aktualisieren. Wird eine bereits vorhandene Spalte nicht in die Anfrage aufgenommen, wird die Spalte gelöscht.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die aktualisiert werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Gibt an, ob archivierte Tabellen zurückgegeben werden sollen. Der Standardwert ist „false“ (falsch).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte im Ergebnis auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables", "Tabellen" ],
        "summary" : "Tabelle aus Entwurf veröffentlichen",
        "description" : "Veröffentlicht die Tabelle, indem die Daten und die Änderungen am Tabellenschema aus der Entwurfsversion in die veröffentlichte Version kopiert werden, d. h. alle Website-Seiten, die Daten aus der Tabelle verwenden, werden aktualisiert.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle, die veröffentlicht werden soll.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Auf „wahr“ (true) setzen, um Fremd-ID-Werte in der Antwort auszufüllen.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch", "Zeilen im Batch" ],
        "summary" : "Zeilen im Batch in der Entwurfstabelle aktualisieren",
        "description" : "Aktualisiert mehrere Zeilen im Batch in der Entwurfsversion der Tabelle. Maximal 100 Zeilen pro Aufruf. Details zum Aktualisieren einer einzelnen Zeile finden Sie im Endpunkt „PATCH /tables/{tableIdOrName}/rows/{rowId}/draft“.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "Die ID oder der Name der Tabelle",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "BoundedNextPage" : {
        "required" : [ "offset" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows", "isHubspotDefined" ],
        "type" : "object",
        "properties" : {
          "newName" : {
            "type" : "string",
            "description" : "Der neue Name für die geklonte Tabelle",
            "example" : "test_table_new"
          },
          "isHubspotDefined" : {
            "type" : "boolean"
          },
          "newLabel" : {
            "type" : "string",
            "description" : "Das neue Label für die geklonte Tabelle",
            "example" : "Test Table New"
          },
          "copyRows" : {
            "type" : "boolean",
            "description" : "Gibt an, ob die Zeilen beim Klonen kopiert werden sollen",
            "example" : true
          }
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : ""
          },
          "lastName" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "email" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          }
        }
      },
      "BoundedPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/BoundedNextPage"
          }
        }
      },
      "BatchInputHubDbTableRowBatchCloneRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowBatchCloneRequest"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Eine spezifische Kategorie, die weitere Details zum Fehler enthält"
          },
          "code" : {
            "type" : "string",
            "description" : "Der Statuscode, der mit dem Fehlerdetail verknüpft ist"
          },
          "in" : {
            "type" : "string",
            "description" : "Der Name des Felds oder Parameters, in dem der Fehler gefunden wurde."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Kontext zur Fehlerbedingung",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Eine für Menschen lesbare Nachricht mit einer Beschreibung des Fehlers und ggf. Abhilfemaßnahmen"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "HubDbTableRowBatchCloneRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3"
        }, {
          "$ref" : "#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3"
        } ]
      },
      "Column" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "Fremde Tabellen-ID referenziert",
            "format" : "int64"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "description" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string",
            "description" : "Label der Spalte",
            "example" : "Text Column"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Typ der Spalte",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Anzahl der verfügbaren Optionen",
            "format" : "int32"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "Fremd-IDs",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Name der Spalte",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Auswahlmöglichkeiten für Auswahl- und Mehrfachauswahl-Spalten",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "width" : {
            "type" : "integer",
            "description" : "Spaltenbreite für HubDB-UI",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "Spalten-ID",
            "example" : "1"
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Fremd-IDs"
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "Fremde Spalten-ID",
            "format" : "int32"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Fremd-IDs nach Name"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "StreamingCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "STREAMING",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "type" : {
            "type" : "string",
            "default" : "STREAMING",
            "enum" : [ "STREAMING" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "HubDbTableV3" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Gibt die Schlüssel-Wert-Paare der Metadatenfelder mit den zugehörigen Spalten-IDs an",
            "example" : { }
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Gibt an, ob die Tabelle öffentlich zugänglich ist und ohne Autorisierung gelesen werden kann",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Gibt an, ob die Tabelle zum Erstellen von dynamischen Seiten verwendet werden kann",
            "example" : true
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "Zeitstempel, wann die Tabelle kürzlich veröffentlicht wurde",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:45.009+00:00"
          },
          "columns" : {
            "type" : "array",
            "description" : "Liste mit den Spalten in der Tabelle",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column",
              "archived" : false,
              "foreignIdsById" : { },
              "foreignIdsByName" : { }
            } ],
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Label der Tabelle",
            "example" : "Test Table"
          },
          "published" : {
            "type" : "boolean"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Anzahl der Spalten inklusive der gelöschten",
            "format" : "int32",
            "example" : 3
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Gibt an, ob untergeordnete Tabellen erstellt werden können",
            "example" : true
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Zeitstempel, wann die Tabelle erstellt wurde",
            "format" : "date-time",
            "example" : "2019-03-15T21:20:51.556+00:00"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Name der Tabelle",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Gibt die Erstellung mehrstufiger dynamischer Seiten mithilfe von untergeordneten Tabellen an",
            "example" : false
          },
          "id" : {
            "type" : "string",
            "description" : "ID der Tabelle",
            "example" : "1630034"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Anzahl der Zeilen in der Tabelle",
            "format" : "int32",
            "example" : 0
          },
          "isOrderedManually" : {
            "type" : "boolean"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Zeitstempel, wann die Tabelle kürzlich aktualisiert wurde",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:43.880+00:00"
          }
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "RandomAccessCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "RANDOM_ACCESS",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/BoundedPaging"
          },
          "type" : {
            "type" : "string",
            "default" : "RANDOM_ACCESS",
            "enum" : [ "RANDOM_ACCESS" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Gibt an, ob das Zeilenlimit beim Importieren überschritten wurde"
          },
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Gibt die Anzahl der doppelten Zeilen an",
            "format" : "int32"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Gibt die Anzahl der importierten Zeilen an",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "description" : "Liste der Fehler während des Imports",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Gibt die Schlüssel-Wert-Paare der Metadatenfelder mit den zugehörigen Spalten-IDs an",
            "example" : { }
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Gibt an, ob die Tabelle öffentlich zugänglich ist und ohne Autorisierung gelesen werden kann",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Gibt an, ob die Tabelle zum Erstellen von dynamischen Seiten verwendet werden kann",
            "example" : true
          },
          "columns" : {
            "type" : "array",
            "description" : "Liste mit den Spalten in der Tabelle",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column"
            } ],
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Name der Tabelle",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Gibt die Erstellung mehrstufiger dynamischer Seiten mithilfe von untergeordneten Tabellen an",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Label der Tabelle",
            "example" : "Test Table"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Gibt an, ob untergeordnete Tabellen erstellt werden können",
            "example" : true
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Eine spezifische Kategorie, die weitere Details zum Fehler enthält"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Kontext zur Fehlerbedingung",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Eine eindeutige ID für die Anfrage. Beziehen Sie diesen Wert in Fehlerberichte oder Support-Tickets ein.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Eine Karte mit Link-Namen der zugeordneten URIs mit einer Dokumentation zum Fehler oder empfohlenen Abhilfemaßnahmen",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Eine für Menschen lesbare Nachricht mit einer Beschreibung des Fehlers und ggf. Abhilfemaßnahmen",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "Die Fehlerkategorie",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "Weitere Informationen zum Fehler",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ColumnRequest" : {
        "required" : [ "id", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "foreignTableId" : {
            "type" : "integer",
            "description" : "Die ID einer anderen Spalte, auf die die Spalte verweist/sich bezieht.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Name der Spalte",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Auswahlmöglichkeiten für Auswahl- und Mehrfachauswahl-Spalten",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "Spalten-ID",
            "format" : "int32",
            "example" : 1
          },
          "label" : {
            "type" : "string",
            "description" : "Label der Spalte",
            "example" : "Text Column"
          },
          "type" : {
            "type" : "string",
            "description" : "Typ der Spalte",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "Die ID der Spalte aus einer anderen Tabelle, auf die die Spalte verweist/sich bezieht.",
            "format" : "int32"
          }
        }
      },
      "Variant" : {
        "type" : "object",
        "properties" : { }
      },
      "HubDbTableRowV3BatchUpdateRequest" : {
        "required" : [ "id", "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Gibt den Wert für die „hs_path“-Spalte an. Wird als Slug in den dynamischen Seiten verwendet.",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Gibt den Wert für die Spalte „Untergeordnete Tabellen-ID“ an",
            "format" : "int32",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Liste der Schlüssel-Wert-Paare mit dem Spaltennamen und dem Spaltenwert",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Gibt den Wert für die „hs_name“-Spalte an. Wird als Titel in den dynamischen Seiten verwendet.",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "Die ID der Tabellenzeile",
            "example" : "4099275931"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableRowV3" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Gibt den Wert für die „hs_path“-Spalte an. Wird als Slug in den dynamischen Seiten verwendet.",
            "example" : "test_path"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Zeitstempel, wann die Zeile erstellt wurde",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          },
          "childTableId" : {
            "type" : "string",
            "description" : "Gibt den Wert für die Spalte „Untergeordnete Tabellen-ID“ an",
            "example" : "1902373"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "Liste der Schlüssel-Wert-Paare mit dem Spaltennamen und dem Spaltenwert",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Gibt den Wert für die „hs_name“-Spalte an. Wird als Titel in den dynamischen Seiten verwendet.",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "Die ID der Tabellenzeile",
            "example" : "4099275931"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Zeitstempel, wann die Zeile das letzte Mal aktualisiert wurde",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          }
        }
      },
      "HubDbTableRowV3Request" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Gibt den Wert für die „hs_path“-Spalte an. Wird als Slug in den dynamischen Seiten verwendet.",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Gibt den Wert für die Spalte „Untergeordnete Tabellen-ID“ an",
            "format" : "int64",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Liste der Schlüssel-Wert-Paare mit dem Spaltennamen und dem Spaltenwert",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
[...]
