{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hubdb",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Stockez les données d'inventaire dans les tableaux HubDB à la fois pour la tenue des dossiers et pour générer des pages dynamiques listant des produits sur votre site web.",
    "x-hubspot-related-documentation" : [ {
      "name" : "HubDB Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/hubdb"
    } ],
    "x-hubspot-introduction" : "Utilisez l'API HubDB pour créer et gérer des tableaux HubDB dans le compte, ainsi que pour importer, récupérer et gérer les données individuelles des tableaux."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Tables"
  }, {
    "name" : "Tableaux"
  }, {
    "name" : "Rows"
  }, {
    "name" : "Lignes"
  }, {
    "name" : "Rows Batch"
  }, {
    "name" : "Lignes en lots"
  } ],
  "paths" : {
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Exporter un brouillon de tableau",
        "description" : "Exporte la version brouillon d'un tableau au format CSV/EXCEL.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à exporter.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Le format de fichier à exporter. Les valeurs possibles incluent `CSV`, `XLSX` et `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Afficher tous les brouillons de tableaux",
        "description" : "Affiche les détails de chaque brouillon de tableau défini dans le compte spécifié, y compris les définitions de colonnes.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Précise les champs à utiliser pour trier les résultats. Les champs valides sont `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` sera utilisé par défaut.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés à l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour à une heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les tableaux archivés doivent être affichés. Par défaut, `faux`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Obtenir des lignes du tableau brouillon",
        "description" : "Renvoie des lignes dans la version brouillon du tableau spécifié. Les résultats des lignes peuvent être filtrés et triés. Les options de filtrage et de triage seront envoyées en tant que paramètres de demande à la demande API. Par exemple, en ajoutant les paramètres de demande « column1__gt=5&sort=-column1 », l'API renvoie les lignes avec des valeurs pour la colonne « column1 » supérieures à 5 et dans l'ordre décroissant des valeurs de « column1 ». Consultez la [section d'aperçu](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) pour des options détaillées de filtrage et de triage.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à demander.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Spécifie les noms de colonnes pour trier les résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, « 1 000 ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Spécifiez les noms des colonnes pour obtenir des résultats contenant uniquement les colonnes requises au lieu de tous les détails des colonnes. Si vous souhaitez inclure plusieurs colonnes dans le résultat, utilisez ce paramètre de demande autant de fois. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Obtenir une ligne de tableau",
        "description" : "Obtenez une seule ligne par ID de la version publiée d'un tableau.\n**Remarque :** ce point de terminaison peut être accédé sans aucune authentification si le tableau est configuré pour être accessible au public.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Cloner une ligne",
        "description" : "Clone une seule ligne dans la version brouillon du tableau.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Réinitialiser un brouillon de tableau",
        "description" : "Remplace les données de la version brouillon du tableau par les valeurs de la version publiée. Toute modification non publiée dans le brouillon sera perdue après cette action.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à réinitialiser.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Exporter une version publiée d'un tableau",
        "description" : "Exporte la version publiée d'un tableau dans un format spécifié.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à exporter.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Le format de fichier à exporter. Les valeurs possibles incluent `CSV`, `XLSX` et `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Remplacer les lignes en lot dans le tableau brouillon",
        "description" : "Remplace plusieurs lignes en lot dans la version brouillon du tableau, avec un maximum de 100 lignes par appel. Consultez le point de terminaison « PUT /tables/{tableIdOrName}/rows/{rowId}/draft » pour plus de détails sur la mise à jour d'une seule ligne.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Cloner un tableau",
        "description" : "Clonez un tableau HubDB existant. Le `newName` et `newLabel` du nouveau tableau peuvent être envoyés en JSON dans le corps de la requête. Cela créera le tableau cloné en tant que brouillon.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à cloner.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Supprimer définitivement des lignes",
        "description" : "Supprime de manière permanente des lignes de la version brouillon du tableau, selon un ensemble d'identifiants de lignes. 100 identifiants de lignes par appel maximum.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Importer des données dans le brouillon de tableau",
        "description" : "Importer le contenu d'un fichier CSV dans un tableau HubDB existant. Les données seront toujours importées dans la version brouillon du tableau. Utilisez le point de terminaison `/publish` pour pousser ces modifications vers la version publiée.\nCe point de terminaison prend une requête POST multipart. La première partie sera un ensemble d'options formatées en JSON pour l'importation. Vous pouvez préciser cela avec le nom `config`. La deuxième partie sera le fichier CSV que vous souhaitez importer. Vous pouvez préciser cela avec le nom `file`. Consultez la [section d'aperçu](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) pour vérifier les détails et le format des options formatées en JSON pour l'importation.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID du tableau de destination où les données seront importées.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Obtenir une ligne du tableau brouillon",
        "description" : "Obtenez une seule ligne par ID à partir de la version brouillon d'un tableau.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Remplace une ligne existante",
        "description" : "Remplacer une seule ligne dans la version brouillon du tableau.\nToutes les valeurs des colonnes doivent être spécifiées. Si une colonne a une valeur dans le tableau cible et que cette requête ne définit pas cette valeur, elle sera supprimée.\nConsultez le point de terminaison « Créer une ligne » pour des instructions sur la façon de formater les définitions de ligne JSON.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Supprime définitivement une ligne",
        "description" : "Supprime définitivement une ligne de la version brouillon d'un tableau.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Met à jour une ligne existante",
        "description" : "Espacer les mises à jour d'une seule ligne dans la version brouillon du tableau.\nIl n'est pas nécessaire de spécifier toutes les valeurs des colonnes. Seules les colonnes ou les champs à modifier doivent être indiqués.\nConsultez le point d'accès « Créer une ligne » pour des instructions sur comment formater les définitions des lignes en JSON.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "L'ID de la ligne",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Obtenir des lignes pour un tableau",
        "description" : "Renvoie un ensemble de lignes dans la version publiée du tableau spécifié. Les résultats des lignes peuvent être filtrés et triés. Les options de filtrage et de triage seront envoyées en tant que paramètres de demande à la demande API. Par exemple, en ajoutant les paramètres de demande « column1__gt=5&sort=-column1 », l'API renvoie les lignes avec des valeurs pour la colonne « column1 » supérieures à 5 et dans l'ordre décroissant des valeurs de « column1 ». Consultez la [section d'aperçu](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) pour des options détaillées de filtrage et de triage.\n**Remarque :** ce point de terminaison peut être accédé sans aucune authentification, si le tableau est configuré pour être accessible au public.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à demander.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Spécifie les noms de colonnes pour trier les résultats. Voir la description ci-dessus pour plus de détails.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, « 1 000 ».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Spécifiez les noms de colonnes pour obtenir uniquement les colonnes requises au lieu de tous les détails des colonnes.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows", "Lignes" ],
        "summary" : "Ajouter une nouvelle ligne à un tableau",
        "description" : "Ajoutez une nouvelle ligne à un tableau HubDB. Les nouvelles lignes seront ajoutées à la version brouillon du tableau. Utilisez le point de terminaison `/publish` pour pousser ces changements vers la version publiée.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau cible.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Obtenir un ensemble de lignes",
        "description" : "Renvoie les lignes dans la version publiée du tableau spécifié, étant donné un ensemble d'identifiants de ligne.\n**Remarque :** ce point de terminaison peut être accédé sans aucune authentification si le tableau est configuré pour être accessible au public.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à demander.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Créer des lignes en lot",
        "description" : "Crée des lignes dans la version brouillon du tableau spécifié, en fonction d'un tableau d'objets de lignes. Maximum de 100 objets de lignes par appel. Consultez la section d'aperçu pour plus de détails avec un exemple.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Obtenir les détails d'un tableau publié",
        "description" : "Renvoie les détails de la version publiée du tableau spécifié. Cela inclura les définitions des colonnes dans le tableau et le nombre de lignes dans le tableau.\n\n**Remarque :** ce point de terminaison peut être consulté sans aucune authentification si le tableau est défini pour être accessible au public. Pour ce faire, vous devrez inclure l'ID du compte HubSpot dans un paramètre de requête `portalId`.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à afficher.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour afficher les détails d'un tableau archivé. Par défaut, `faux`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans le résultat.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Archiver un tableau",
        "description" : "Archivez (suppression réversible) un tableau HubDB existant. Permet d'archiver les versions publiées et les brouillons.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à archiver.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Obtenir un ensemble de lignes d'un tableau brouillon",
        "description" : "Renvoie les lignes dans la version brouillon du tableau spécifié, selon un ensemble d'identifiants de ligne.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Cloner des lignes en lot",
        "description" : "Clone les lignes dans la version brouillon du tableau spécifié, selon un ensemble d'identifiants de ligne. Un maximum de 100 identifiants de ligne par appel.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Obtenir tous les tableaux publiés",
        "description" : "Renvoie les détails de la version publiée de chaque tableau défini dans un compte, y compris les définitions de colonnes.",
        "operationId" : "get-/cms/v3/hubdb/tables_getAllTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Précise les champs à utiliser pour trier les résultats. Les champs valides sont `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` sera utilisé par défaut.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "La valeur du jeton de curseur pour obtenir l'ensemble suivant de résultats. Vous pouvez l'obtenir à partir de la propriété JSON `paging.next.after` d'une réponse paginée contenant plus de résultats.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Le nombre maximum de résultats à afficher. Par défaut, 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés à une heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "N'affiche que les tableaux créés avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour à une heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour après l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "N'affiche que les tableaux mis à jour avant l'heure précisée.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les tableaux archivés doivent être affichés. Par défaut, `faux`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Créer un nouveau tableau",
        "description" : "Crée un nouveau brouillon de tableau HubDB selon un schéma JSON. Le nom et le libellé du tableau doivent être uniques pour chaque compte.",
        "operationId" : "post-/cms/v3/hubdb/tables_createTable",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Annuler la publication du tableau",
        "description" : "Annule la publication du tableau, ce qui signifie que toutes les pages web utilisant des données du tableau ne rendront aucune donnée.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à publier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Obtenir les détails d'un brouillon de tableau",
        "description" : "Obtenez les détails du brouillon d'un tableau HubDB spécifique. Cela inclut les définitions des colonnes dans le tableau et le nombre de lignes dans le tableau.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à afficher.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour afficher les détails d'un tableau archivé. Par défaut, `faux`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans le résultat.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Mettre à jour un tableau existant",
        "description" : "Mettez à jour un tableau HubDB existant. Vous pouvez utiliser ce point de terminaison pour ajouter ou supprimer des colonnes du tableau ainsi que pour restaurer un tableau archivé. Les tableaux mis à jour en utilisant le point de terminaison ne modifieront que la version brouillon du tableau. Utilisez le point de terminaison `publish` pour pousser toutes les modifications vers la version `published`. Pour restaurer un tableau, incluez le paramètre de requête `archived=true` et `\"archived\": false` dans le corps json.\n**Remarque :** vous devez inclure toutes les colonnes dans l'entrée lorsque vous ajoutez/supprimez/mettez à jour une colonne. Si vous n'incluez pas une colonne déjà existante dans la requête, elle sera supprimée.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à mettre à jour.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Précise si les tableaux archivés doivent être affichés. Par défaut, `faux`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans le résultat.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables", "Tableaux" ],
        "summary" : "Publier un tableau à partir du brouillon",
        "description" : "Publie le tableau en copiant les données et les modifications du schéma de tableau de la version brouillon à la version publiée, ce qui signifie que toutes les pages du site web utilisant les données du tableau seront mises à jour.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau à publier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Définissez-le sur `vrai` pour remplir les valeurs d'ID étranger dans la réponse.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lignes en lots" ],
        "summary" : "Mettre à jour les lignes en lot dans le tableau brouillon",
        "description" : "Met à jour plusieurs lignes en lot dans la version brouillon du tableau, avec un maximum de 100 lignes par appel. Consultez le point de terminaison « PATCH /tables/{tableIdOrName}/rows/{rowId}/draft » pour plus de détails sur la mise à jour d'une seule ligne.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "L'ID ou le nom du tableau",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "BoundedNextPage" : {
        "required" : [ "offset" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows", "isHubspotDefined" ],
        "type" : "object",
        "properties" : {
          "newName" : {
            "type" : "string",
            "description" : "Le nouveau nom pour le tableau cloné",
            "example" : "test_table_new"
          },
          "isHubspotDefined" : {
            "type" : "boolean"
          },
          "newLabel" : {
            "type" : "string",
            "description" : "Le nouveau libellé pour le tableau cloné",
            "example" : "Test Table New"
          },
          "copyRows" : {
            "type" : "boolean",
            "description" : "Précise si les lignes doivent être copiées lors du clonage",
            "example" : true
          }
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : ""
          },
          "lastName" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "email" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          }
        }
      },
      "BoundedPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/BoundedNextPage"
          }
        }
      },
      "BatchInputHubDbTableRowBatchCloneRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowBatchCloneRequest"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "code" : {
            "type" : "string",
            "description" : "Le code d'état associé au détail de l'erreur"
          },
          "in" : {
            "type" : "string",
            "description" : "Le nom du champ ou du paramètre dans lequel l'erreur a été trouvée."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "HubDbTableRowBatchCloneRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3"
        }, {
          "$ref" : "#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3"
        } ]
      },
      "Column" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "ID de tableau étranger référencé",
            "format" : "int64"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "description" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string",
            "description" : "Libellé de la colonne",
            "example" : "Text Column"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Type de la colonne",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Nombre d'options disponibles",
            "format" : "int32"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "ID étrangers",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nom de la colonne",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Options à choisir pour les colonnes de sélection et de sélection multiple",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "width" : {
            "type" : "integer",
            "description" : "Largeur de colonne pour l'IU HubDB",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "ID de colonne",
            "example" : "1"
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "ID étrangers"
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "ID de colonne étranger",
            "format" : "int32"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "ID étrangers par nom"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "StreamingCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "STREAMING",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "type" : {
            "type" : "string",
            "default" : "STREAMING",
            "enum" : [ "STREAMING" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "HubDbTableV3" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Précise les paires clé-valeur des champs de métadonnées avec les ID de colonne associés",
            "example" : { }
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Précise si le tableau peut être lu par le public sans autorisation",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Précise si le tableau peut être utilisé pour la création de pages dynamiques",
            "example" : true
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "Horodatage auquel le tableau est publié récemment",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:45.009+00:00"
          },
          "columns" : {
            "type" : "array",
            "description" : "Liste des colonnes dans le tableau",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column",
              "archived" : false,
              "foreignIdsById" : { },
              "foreignIdsByName" : { }
            } ],
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Libellé du tableau",
            "example" : "Test Table"
          },
          "published" : {
            "type" : "boolean"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Nombre de colonnes y compris supprimées",
            "format" : "int32",
            "example" : 3
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Précise si des tableaux enfants peuvent être créés",
            "example" : true
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Horodatage auquel le tableau est créé",
            "format" : "date-time",
            "example" : "2019-03-15T21:20:51.556+00:00"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nom du tableau",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Précise la création de pages dynamiques à plusieurs niveaux en utilisant des tableaux enfants",
            "example" : false
          },
          "id" : {
            "type" : "string",
            "description" : "ID du tableau",
            "example" : "1630034"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Nombre de lignes dans le tableau",
            "format" : "int32",
            "example" : 0
          },
          "isOrderedManually" : {
            "type" : "boolean"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Horodatage auquel le tableau est mis à jour récemment",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:43.880+00:00"
          }
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "RandomAccessCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "RANDOM_ACCESS",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/BoundedPaging"
          },
          "type" : {
            "type" : "string",
            "default" : "RANDOM_ACCESS",
            "enum" : [ "RANDOM_ACCESS" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Précise si la limite de lignes a été dépassée lors de l'importation"
          },
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Spécifie le nombre de lignes en double",
            "format" : "int32"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Précise le nombre de lignes importées",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "description" : "Liste des erreurs lors de l'importation",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Spécifie les paires clé-valeur des champs de métadonnées avec les ID de colonne associés",
            "example" : { }
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Précise si le tableau peut être lu par le public sans autorisation.",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Précise si le tableau peut être utilisé pour la création de pages dynamiques",
            "example" : true
          },
          "columns" : {
            "type" : "array",
            "description" : "Liste des colonnes dans le tableau",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column"
            } ],
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Nom du tableau",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Précise la création de pages dynamiques à plusieurs niveaux en utilisant des tableaux enfants",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Libellé du tableau",
            "example" : "Test Table"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Précise si des tableaux enfants peuvent être créés",
            "example" : true
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Une catégorie spécifique qui contient des détails plus précis sur l'erreur"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexte concernant la condition d'erreur",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identifiant unique pour la demande. Incluez cette valeur dans tous les rapports d'erreur ou tickets de support",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Une carte des noms de liens vers les URI associés contenant la documentation sur l'erreur ou les étapes de remédiation recommandées",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un message lisible par la personne décrivant l'erreur ainsi que les étapes de remédiation appropriées, le cas échéant",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La catégorie d'erreur",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "informations supplémentaires sur l'erreur",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ColumnRequest" : {
        "required" : [ "id", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "foreignTableId" : {
            "type" : "integer",
            "description" : "L'identifiant d'un autre tableau auquel la colonne fait référence/pointe.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Nom de la colonne",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Options à choisir pour les colonnes de sélection et de sélection multiple",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "ID de colonne",
            "format" : "int32",
            "example" : 1
          },
          "label" : {
            "type" : "string",
            "description" : "Libellé de la colonne",
            "example" : "Text Column"
          },
          "type" : {
            "type" : "string",
            "description" : "Type de la colonne",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "L'identifiant de la colonne d'un autre tableau auquel la colonne fait référence/renvoie.",
            "format" : "int32"
          }
        }
      },
      "Variant" : {
        "type" : "object",
        "properties" : { }
      },
      "HubDbTableRowV3BatchUpdateRequest" : {
        "required" : [ "id", "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_path`, qui sera utilisée comme slug dans les pages dynamiques",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Précise la valeur pour l'ID de la colonne du tableau enfant",
            "format" : "int32",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Liste de paires clé-valeur avec le nom de la colonne et la valeur de la colonne",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_name`, qui sera utilisée comme titre dans les pages dynamiques",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "L'ID de la ligne du tableau",
            "example" : "4099275931"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableRowV3" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_path`, qui sera utilisée comme slug dans les pages dynamiques",
            "example" : "test_path"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Horodatage auquel la ligne est créée",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          },
          "childTableId" : {
            "type" : "string",
            "description" : "Précise la valeur pour l'ID de la colonne du tableau enfant",
            "example" : "1902373"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "Liste de paires clé-valeur avec le nom de la colonne et la valeur de la colonne",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_name`, utilisée comme titre dans les pages dynamiques",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "L'ID de la ligne du tableau",
            "example" : "4099275931"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Horodatage auquel la ligne a été mise à jour pour la dernière fois",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          }
        }
      },
      "HubDbTableRowV3Request" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_path`, qui sera utilisée comme slug dans les pages dynamiques",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Précise la valeur pour l'ID de la colonne du tableau enfant",
            "format" : "int64",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Liste de paires clé-valeur avec le nom de la colonne et la valeur de la colonne",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Précise la valeur pour la colonne `hs_name`, qui sera utilisée comme titre dans les pages dynamiques",
            "example" : "test_title"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Option" : {
        "required" : [ "createdAt", "id", "name", "order", "type", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
[...]
