{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hubdb",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "PROFESSIONAL",
      "cms" : "PROFESSIONAL"
    },
    "x-hubspot-documentation-banner" : "NONE",
    "x-hubspot-api-use-case" : "Almacena datos de inventario en tablas HubDB para mantener registros y generar páginas dinámicas para los productos anunciados en tu sitio web.",
    "x-hubspot-related-documentation" : [ {
      "name" : "HubDB Guide",
      "url" : "https://developers.hubspot.com/beta-docs/guides/api/cms/hubdb"
    } ],
    "x-hubspot-introduction" : "Utiliza la API de HubDB para crear y gestionar tablas de HubDB en la cuenta, así como para importar, recuperar y gestionar datos individuales de las tablas."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Tables"
  }, {
    "name" : "Tablas"
  }, {
    "name" : "Rows"
  }, {
    "name" : "Filas"
  }, {
    "name" : "Rows Batch"
  }, {
    "name" : "Lote de filas"
  } ],
  "paths" : {
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Exportar una tabla de borrador",
        "description" : "Exporta la versión en borrador de una tabla al formato CSV / EXCEL.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se exportará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "El formato de archivo que se exportará. Los valores posibles incluyen `CSV`, `XLSX` y `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Devolver todas las tablas de borrador",
        "description" : "Devuelve los detalles de cada tabla de borrador definida en la cuenta especificada, incluyendo las definiciones de columnas.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los campos que se utilizarán para ordenar los resultados. Los campos válidos son `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. Por opción predeterminada, se utilizará `createdAt`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las tablas archivadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Obtener filas de tabla de borrador",
        "description" : "Devuelve filas de la versión en borrador de la tabla especificada. Los resultados de las filas se pueden filtrar y ordenar. Las opciones para filtrar y ordenar se enviarán como parámetros de consulta a la solicitud de la API. Por ejemplo, al agregar los parámetros de consulta \"column1__gt=5&sort=-column1\", la API devuelve las filas con valores de la columna \"column1\" mayores que 5 y en el orden descendente de los valores de \"column1\". Consulta la [sección de resumen](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) para obtener información detallada acerca de las opciones para filtrar y ordenar.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se consultará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los nombres de las columnas por los cuales ordenar los resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Especifica los nombres de las columnas para obtener resultados que contengan solo las columnas requeridas en lugar de todos los detalles de las columnas. Si deseas incluir múltiples columnas en el resultado, utilizas este parámetro de consulta tantas veces como desee. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Obtener una fila de tabla",
        "description" : "Obtén una única fila de la versión publicada de una tabla por ID.\n**Nota:** Se puede acceder a este punto de terminación sin autenticación, si la tabla está configurada para permitir el acceso público.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Clonar una fila",
        "description" : "Clona una única fila en la versión en borrador de la tabla.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Restablecer un borrador de tabla",
        "description" : "Reemplaza los datos de la versión en borrador de la tabla por los valores de la versión publicada. Cualquier cambio no publicado en la versión en borrador se perderá después de realizar esta llamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se restablecerá.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Exportar una versión publicada de una tabla",
        "description" : "Exporta la versión publicada de una tabla en un formato especificado.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se exportará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "El formato de archivo que se exportará. Los valores posibles incluyen `CSV`, `XLSX` y `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Reemplazar filas en lote en la tabla de borrador",
        "description" : "Reemplaza múltiples filas como un lote en la versión en borrador de la tabla, con un máximo de 100 filas por llamada. Consulta el punto de terminación \"PUT /tables/{tableIdOrName}/rows/{rowId}/draft\" para obtener detalles sobre cómo actualizar una única fila.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Clonar una tabla",
        "description" : "Clona una tabla de HubDB existente. El \"newName\" y \"newLabel\" de la nueva tabla se pueden enviar como JSON en el cuerpo de la solicitud. Esto creará la tabla clonada como un borrador.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se clonará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Elimina permanentemente borrador",
        "description" : "Elimina permanentemente filas de la versión en borrador  de la tabla, dado un conjunto de identificadores de fila. Un máximo de 100 ID de fila por llamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Importar datos en tabla de borrador",
        "description" : "Importa el contenido de un archivo CSV a una tabla de HubDB existente. Los datos siempre se importarán a la versión en borrador de la tabla. Utiliza el punto de terminación \"/publish\" para aplicar estos cambios a la versión publicada.\nEste punto de terminación acepta una solicitud POST de múltiples partes. La primera parte será un conjunto de opciones con formato JSON para la importación y puedes especificarlo con el nombre \"config\". La segunda parte será el archivo CSV que deseas importar y puedes especificarlo con el nombre \"file\". Consulta la [sección de resumen](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) para verificar los detalles y el formato de las opciones con formato JSON para la importación.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID de la tabla de destino donde se importarán los datos.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Obtener una fila de la tabla de borrador.",
        "description" : "Obtén una única fila de la versión en borrador de una tabla por ID.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Reemplaza una fila existente",
        "description" : "Reemplaza una única fila en la versión en borrador de la tabla. Deben especificarse todos los valores de las columnas. Si una columna tiene un valor en la tabla de destino y ese valor no se define en esta solicitud, se eliminará.\nConsulta el punto de terminación \"Crear una fila\" para obtener instrucciones sobre cómo dar formato a las definiciones de fila JSON.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Elimina permanentemente una fila",
        "description" : "Elimina permanentemente una fila de la versión en borrador de una tabla.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Actualiza una fila existente",
        "description" : "Actualiza selectivamente una única fila en la versión en borrador de la tabla.\nNo es necesario especificar todos los valores de las columnas. Solo se pueden especificar las columnas o campos que deben modificarse.\nConsulta el punto de terminación \"Crear una fila\" para obtener instrucciones sobre cómo dar formato a las definiciones de fila JSON.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "El ID de la fila",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Obtener filas para una tabla",
        "description" : "Devuelve un conjunto de filas de la versión publicada de la tabla especificada. Los resultados de las filas se pueden filtrar y ordenar. Las opciones para filtrar y ordenar se enviarán como parámetros de consulta a la solicitud de la API. Por ejemplo, al agregar los parámetros de consulta \"column1__gt=5&sort=-column1\", la API devuelve las filas con valores de la columna \"column1\" mayores que 5 y en el orden descendente de los valores de \"column1\". Consulta la [sección de resumen](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) para obtener información detallada acerca de las opciones para filtrar y ordenar.\n**Nota:** Se puede acceder a este punto de terminación sin autenticación, si la tabla está configurada para permitir el acceso público.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se consultará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los nombres de columnapor los que se ordenarán los resultados. Consulta la descripción anterior para obtener más detalles.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Especifica los nombres de las columnas para obtener resultados que contengan solo las columnas necesarias en lugar de todos los detalles de las columnas.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows", "Filas" ],
        "summary" : "Agregar una nueva fila a una tabla",
        "description" : "Agrega una nueva fila a una tabla de HubDB. Las filas nuevas se agregarán a la versión en borrador de la tabla. Utiliza el punto de terminación \"/publish\" para aplicar estos cambios a la versión publicada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla de destino.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Obtener un conjunto de filas",
        "description" : "Devuelve filas de la versión publicada de la tabla especificada, dado un conjunto de identificadores de fila.\n**Nota:** Se puede acceder a este punto de terminación sin autenticación si la tabla está configurada para permitir el acceso público.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se consultará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Crear filas en lote",
        "description" : "Crea filas en la versión en borrador de la tabla especificada, dada una secuencia de objetos de fila. Un máximo de 100 objetos de fila por llamada. Consulta la sección de resumen para obtener más detalles con un ejemplo.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Obtener detalles de una tabla publicada",
        "description" : "Devuelve los detalles de la versión publicada de la tabla especificada. Esto incluirá las definiciones de las columnas de la tabla y el número de filas de la tabla.\n\n**Nota:** Se puede acceder a este punto de terminación sin autenticación si la tabla está configurada para permitir el acceso público. Para ello, deberás incluir el ID de la cuenta de HubSpot en un parámetro de consulta \"portalId\".",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se devolverá.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Establece esto en `verdadero` para devolver detalles de una tabla archivada. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en el resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Archivar una tabla",
        "description" : "Archivar (eliminar suavemente) una tabla de HubDB existente. Esto archiva tanto las versiones publicadas como las de borrador.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se archivará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Obtener un conjunto de filas de tabla de borrador",
        "description" : "Devuelve filas de la versión en borrador de la tabla especificada, dado un conjunto de identificadores de fila.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Clonar filas en lote",
        "description" : "Clona filas de la versión en borrador de la tabla especificada, dado un conjunto de identificadores de fila. Un máximo de 100 ID de fila por llamada.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Obtener todas las tablas publicadas",
        "description" : "Devuelve los detalles de la versión publicada de cada tabla definida en una cuenta, incluyendo las definiciones de columnas.",
        "operationId" : "get-/cms/v3/hubdb/tables_getAllTables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Especifica los campos que se utilizarán para ordenar los resultados. Los campos válidos son `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. Por opción predeterminada se utilizará `createdAt`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "El valor del token del cursor para obtener el siguiente conjunto de resultados. Se puede obtener de la propiedad JSON `paging.next.after` de una respuesta paginada que contenga más resultados.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "El número máximo de resultados que se devolverán. La opción predeterminada es 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Devuelve solo las tablas creadas antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez exactamente a la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez después de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Devuelve solo las tablas actualizadas por última vez antes de la hora especificada.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las tablas archivadas. La opción predeterminada es `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Crear una nueva tabla",
        "description" : "Crea una nueva tabla de borrador de HubDB dado un esquema JSON. El nombre y la etiqueta de la tabla deben ser únicos para cada cuenta.",
        "operationId" : "post-/cms/v3/hubdb/tables_createTable",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Cancelar publicación de una tabla",
        "description" : "Cancela la publicación de la tabla, lo que significa que las páginas web que utilicen datos de la tabla no mostrarán ningún dato.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se publicará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Obtener detalles de una tabla de borrador.",
        "description" : "Obtén los detalles de la versión en borrador de una tabla específica de HubDB. Esto incluirá las definiciones de las columnas de la tabla y el número de filas de la tabla.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se devolverá.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para devolver una tabla archivada. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en el resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Actualiza una tabla existente",
        "description" : "Actualiza una tabla de HubDB existente. Puedes utilizar este punto de terminación para agregar o eliminar columnas de la tabla, así como para restaurar una tabla archivada. En las tablas que se actualicen utilizando el punto de terminación, solo se modificará la versión en borrador de la tabla. Utiliza el punto de terminación \"/publish\" para aplicar todos los cambios a la versión publicada. Para restaurar una tabla, incluye el parámetro de consulta \"archived=true\" y \"\"archived\": false\" en el cuerpo del json.\n**Nota:** Debes incluir todas las columnas en la entrada cuando estés agregando/eliminando/actualizando una columna. Si no incluyes una columna ya existente en la solicitud, esa columna se eliminará.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se actualizará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGetLocalizedSchema",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Especifica si se devuelven las tablas archivadas. La opción predeterminada es `falso`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en el resultado.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables", "Tablas" ],
        "summary" : "Publicar una tabla desde el borrador",
        "description" : "Publica la tabla mediante la copia de los datos y los cambios en el esquema de la tabla de la versión de borrador a la versión publicada, lo que significa que se actualizarán todas las páginas web que utilicen datos de la tabla.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla que se publicará.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Establécelo en `verdadero` para rellenar los valores de ID foráneos en la respuesta.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch", "Lote de filas" ],
        "summary" : "Actualizar filas en lote en la tabla de borrador",
        "description" : "Actualiza múltiples filas como un lote en la versión en borrador de la tabla, con un máximo de 100 filas por llamada. Consulta el punto de terminación \"PATCH /tables/{tableIdOrName}/rows/{rowId}/draft\" para obtener detalles sobre cómo actualizar una única fila.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "El ID o nombre de la tabla",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "category" : {
            "type" : "string",
            "description" : ""
          },
          "message" : {
            "type" : "string",
            "description" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "BoundedNextPage" : {
        "required" : [ "offset" ],
        "type" : "object",
        "properties" : {
          "offset" : {
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows", "isHubspotDefined" ],
        "type" : "object",
        "properties" : {
          "newName" : {
            "type" : "string",
            "description" : "El nuevo nombre para la tabla clonada",
            "example" : "test_table_new"
          },
          "isHubspotDefined" : {
            "type" : "boolean"
          },
          "newLabel" : {
            "type" : "string",
            "description" : "La nueva etiqueta para la tabla clonada",
            "example" : "Test Table New"
          },
          "copyRows" : {
            "type" : "boolean",
            "description" : "Especifica si se deben copiar las filas durante la clonación.",
            "example" : true
          }
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "description" : ""
          },
          "lastName" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "email" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          }
        }
      },
      "BoundedPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/BoundedNextPage"
          }
        }
      },
      "BatchInputHubDbTableRowBatchCloneRequest" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowBatchCloneRequest"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "code" : {
            "type" : "string",
            "description" : "El código de estado asociado al detalle del error"
          },
          "in" : {
            "type" : "string",
            "description" : "El nombre del campo o parámetro en el que se encontró el error."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede."
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "HubDbTableRowBatchCloneRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3"
        }, {
          "$ref" : "#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3"
        } ]
      },
      "Column" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "createdByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "ID foráneo de tabla referenciada",
            "format" : "int64"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "description" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string",
            "description" : "Etiqueta de la columna",
            "example" : "Text Column"
          },
          "updatedByUserId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Tipo de la columna",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Número de opciones disponibles",
            "format" : "int32"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "IDs foráneos",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nombre de la columna",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Opciones para elegir en columnas de selección simple y múltiple",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "width" : {
            "type" : "integer",
            "description" : "Ancho de la columna para la interfaz de HubDB",
            "format" : "int32"
          },
          "id" : {
            "type" : "string",
            "description" : "ID de columna",
            "example" : "1"
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "IDs foráneos"
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "ID foráneo de columna",
            "format" : "int32"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "IDs foráneos por nombre"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "StreamingCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "STREAMING",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "type" : {
            "type" : "string",
            "default" : "STREAMING",
            "enum" : [ "STREAMING" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "HubDbTableV3" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Especifica los pares clave-valor de los campos de metadatos con los IDs de columna asociados",
            "example" : { }
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Especifica si la tabla puede ser leída por el público sin autorización",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Especifica si la tabla se puede utilizar para la creación de páginas dinámicas.",
            "example" : true
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "Marca de tiempo en la que la tabla se publicó recientemente.",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:45.009+00:00"
          },
          "columns" : {
            "type" : "array",
            "description" : "Lista de columnas en la tabla",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column",
              "archived" : false,
              "foreignIdsById" : { },
              "foreignIdsByName" : { }
            } ],
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "label" : {
            "type" : "string",
            "description" : "Etiqueta de la tabla",
            "example" : "Test Table"
          },
          "published" : {
            "type" : "boolean"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Número de columnas incluyendo las eliminadas",
            "format" : "int32",
            "example" : 3
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Especifica si se pueden crear tablas secundarias.",
            "example" : true
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Marca de tiempo en la que se crea la tabla",
            "format" : "date-time",
            "example" : "2019-03-15T21:20:51.556+00:00"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "name" : {
            "type" : "string",
            "description" : "Nombre de la tabla",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Especifica la creación de páginas dinámicas multinivel utilizando tablas secundarias",
            "example" : false
          },
          "id" : {
            "type" : "string",
            "description" : "ID de la tabla",
            "example" : "1630034"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Número de filas en la tabla",
            "format" : "int32",
            "example" : 0
          },
          "isOrderedManually" : {
            "type" : "boolean"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Marca de tiempo en la que la tabla se actualizó recientemente",
            "format" : "date-time",
            "example" : "2020-04-02T16:00:43.880+00:00"
          }
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : ""
          },
          "id" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "RandomAccessCollectionResponseWithTotalHubDbTableRowV3" : {
        "title" : "RANDOM_ACCESS",
        "required" : [ "results", "total", "type" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "paging" : {
            "$ref" : "#/components/schemas/BoundedPaging"
          },
          "type" : {
            "type" : "string",
            "default" : "RANDOM_ACCESS",
            "enum" : [ "RANDOM_ACCESS" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Especifica si se excedió el límite de filas durante la importación"
          },
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Especifica el número de filas duplicadas",
            "format" : "int32"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Especifica el número de filas importadas",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "description" : "Lista de errores durante la importación",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Especifica los pares clave-valor de los campos de metadatos con los IDs de columna asociados.",
            "example" : { }
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Especifica si la tabla puede ser leída por el público sin autorización",
            "example" : false
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Especifica si la tabla se puede utilizar para la creación de páginas dinámicas.",
            "example" : true
          },
          "columns" : {
            "type" : "array",
            "description" : "Lista de columnas en la tabla",
            "example" : [ {
              "id" : "1",
              "name" : "text_column",
              "type" : "TEXT",
              "label" : "Text Column"
            } ],
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Nombre de la tabla",
            "example" : "test_table"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Especifica la creación de páginas dinámicas multinivel utilizando tablas secundarias",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Etiqueta de la tabla",
            "example" : "Test Table"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Especifica si se pueden crear tablas secundarias.",
            "example" : true
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "Una categoría específica que contiene detalles más concretos acerca del error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Contexto de la condición de error",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ],
              "invalidPropertyName" : [ "propertyValue" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "Un identificador único para la solicitud. Incluye este valor con cualquier informe de error o ticket de asistencia.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Un mapa de nombres de enlaces a URI asociados que contienen documentación sobre el error o los pasos recomendados para solucionarlo.",
            "example" : {
              "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Un mensaje legible en el que se describa el error y los pasos para solucionarlo, si procede.",
            "example" : "Invalid input (details will vary based on the error)"
          },
          "category" : {
            "type" : "string",
            "description" : "La categoría de error",
            "example" : "VALIDATION_ERROR"
          },
          "errors" : {
            "type" : "array",
            "description" : "información adicional acerca del error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : ""
          },
          "results" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "errors" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "ColumnRequest" : {
        "required" : [ "id", "label", "name", "options", "type" ],
        "type" : "object",
        "properties" : {
          "foreignTableId" : {
            "type" : "integer",
            "description" : "El ID de otra tabla a la que hace referencia/apunta la columna.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "Nombre de la columna",
            "example" : "text_column"
          },
          "options" : {
            "type" : "array",
            "description" : "Opciones para elegir en columnas de selección simple y múltiple",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "ID de columna",
            "format" : "int32",
            "example" : 1
          },
          "label" : {
            "type" : "string",
            "description" : "Etiqueta de la columna",
            "example" : "Text Column"
          },
          "type" : {
            "type" : "string",
            "description" : "Tipo de la columna",
            "example" : "TEXT",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE", "JSON", "COMPOSITE", "CODE" ]
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "El ID de la columna de otra tabla a la que hace referencia/apunta la columna.",
            "format" : "int32"
          }
        }
      },
      "Variant" : {
        "type" : "object",
        "properties" : { }
      },
      "HubDbTableRowV3BatchUpdateRequest" : {
        "required" : [ "id", "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica el valor de la columna `hs_path`, que se utilizará como slug en las páginas dinámicas.",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Especifica el valor del ID de la columna de tabla secundaria",
            "format" : "int32",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Lista de pares clave-valor con el nombre y el valor de la columna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Especifica el valor de la columna `hs_name`, que se utilizará como título en las páginas dinámicas.",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "El ID de la fila de la tabla",
            "example" : "4099275931"
          },
          "displayIndex" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string"
          },
          "link" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableRowV3" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica el valor de la columna `hs_path`, que se utilizará como slug en las páginas dinámicas.",
            "example" : "test_path"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Marca de tiempo en la que se crea la fila",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          },
          "childTableId" : {
            "type" : "string",
            "description" : "Especifica el valor del ID de la columna de tabla secundaria",
            "example" : "1902373"
          },
          "publishedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : { }
            },
            "description" : "Lista de pares clave-valor con el nombre y el valor de la columna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Especifica el valor de la columna `hs_name`, que se utilizará como título en las páginas dinámicas.",
            "example" : "test_title"
          },
          "id" : {
            "type" : "string",
            "description" : "El ID de la fila de la tabla",
            "example" : "4099275931"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Marca de tiempo en la que se actualizó la fila por última vez.",
            "format" : "date-time",
            "example" : "2020-03-30T20:39:52.328+00:00"
          }
        }
      },
      "HubDbTableRowV3Request" : {
        "required" : [ "values" ],
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "description" : "Especifica el valor de la columna `hs_path`, que se utilizará como slug en las páginas dinámicas.",
            "example" : "test_path"
          },
          "childTableId" : {
            "type" : "integer",
            "description" : "Especifica el valor del ID de la columna de tabla secundaria",
            "format" : "int64",
            "example" : 1902373
          },
          "values" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Variant"
            },
            "description" : "Lista de pares clave-valor con el nombre y el valor de la columna",
            "example" : {
              "multiselect" : [ {
                "id" : "1",
                "name" : "Option 1",
                "type" : "option",
                "order" : 0
              }, {
                "id" : "2",
                "name" : "Option 2",
                "type" : "option",
                "order" : 1
              } ],
              "text_column" : "sample text value",
              "number_column" : 76
            }
          },
          "name" : {
            "type" : "string",
[...]
