{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Timeline",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "After setting up a new set of sign-up flows on your website, update contact timelines to indicate which flow they completed. In each event, you could also include a link to open an iframe that displays additional external data about the event.",
    "x-hubspot-introduction" : "Use the timeline events API to add custom event information to CRM record timelines. You'll first need to create a public app, then an event template to display event data. "
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/integrators/timeline/2026-03/events" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Send event data (single)",
        "description" : "Send a single instance of event data to a specified event type.",
        "operationId" : "post-/integrators/timeline/2026-03/events_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppEventOccurrence"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "App Event Occurrence was accepted and persisted successfully. Mirrored to UnifiedEvents async.",
            "content" : { }
          },
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppEventOccurrence"
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "The occurrence has a validation error that prevented us from accepting it for persistence. The response body will contain details about the validation error. Occurrence insert request rejected.",
            "content" : { }
          },
          "409" : {
            "description" : "An occurrence for this event type and occurrence ID already exists. Occurrences are immutable. Occurrence insert request rejected.",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "oauth2" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/integrators/timeline/2026-03/events/batch" : {
      "post" : {
        "tags" : [ "Batch" ],
        "operationId" : "post-/integrators/timeline/2026-03/events/batch_/integrators/timeline/2026-03/events/batch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputAppEventOccurrence"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseAppEventOccurrence"
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "One or more occurrences has a validation error that prevented us from accepting them for persistence. The response body will contain details about the validation error. Occurrence batch insert request rejected, none were accepted.",
            "content" : { }
          },
          "409" : {
            "description" : "One or more occurrence in the batch already exist. Occurrences are immutable. Occurrence insert request rejected, none were accepted.",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "hapikey" : [ ]
        }, {
          "internal_cookie" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "oauth2" : [ "companies-write", "contacts-write", "deals-write", "tickets-write", "timeline-write" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ANY"
      }
    },
    "/integrators/timeline/2026-03/types/projects" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "operationId" : "post-/integrators/timeline/2026-03/types/projects_/integrators/timeline/2026-03/types/projects",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalAppEventResolutionRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppEventResolutionResponse"
                },
                "example" : null
              }
            }
          },
          "404" : {
            "description" : "There is no App Event Type for the provided coordinates. Did you provide them correctly?",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "app_cookie" : [ "developers-read" ]
        }, {
          "developer_hapikey" : [ ]
        }, {
          "internal_cookie" : [ "developers-read" ]
        }, {
          "oauth2" : [ "developers-read" ]
        }, {
          "shhkey" : [ ]
        } ],
        "x-hubspot-auth-scoping-type" : "ALL"
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "TimelineEventIFrame" : {
        "required" : [ "headerLabel", "height", "linkLabel", "url", "width" ],
        "type" : "object",
        "properties" : {
          "headerLabel" : {
            "type" : "string",
            "description" : "The label of the modal window that displays the iframe contents.",
            "example" : null
          },
          "height" : {
            "type" : "integer",
            "description" : "The height of the modal window in pixels.",
            "format" : "int32",
            "example" : null
          },
          "linkLabel" : {
            "type" : "string",
            "description" : "The text displaying the link that will display the iframe.",
            "example" : null
          },
          "url" : {
            "type" : "string",
            "description" : "The URI of the iframe contents.",
            "example" : null
          },
          "width" : {
            "type" : "integer",
            "description" : "The width of the modal window in pixels.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "The context of the error, potentially including occurrence information.",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "The error ID, if any.",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "Links to any helpful documentation.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "The error message, if any.",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The resulting status of the batch operation.",
            "example" : null
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "Sub category of the error, if any.",
            "example" : null
          }
        },
        "description" : "Ye olde error",
        "example" : null
      },
      "AppEventOccurrence" : {
        "required" : [ "eventTypeName", "id", "properties" ],
        "type" : "object",
        "properties" : {
          "domain" : {
            "type" : "string",
            "example" : null
          },
          "email" : {
            "type" : "string",
            "example" : null
          },
          "eventTypeName" : {
            "type" : "string",
            "example" : null
          },
          "extraData" : {
            "type" : "object",
            "properties" : { },
            "example" : null
          },
          "id" : {
            "type" : "string",
            "example" : null
          },
          "objectId" : {
            "type" : "string",
            "example" : null
          },
          "objectTypeFullyQualifiedName" : {
            "type" : "string",
            "example" : null
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "timelineIFrame" : {
            "$ref" : "#/components/schemas/TimelineEventIFrame"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "utk" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "AppEventResolutionResponse" : {
        "required" : [ "developerQualifiedSymbol", "fullyQualifiedName" ],
        "type" : "object",
        "properties" : {
          "developerQualifiedSymbol" : {
            "$ref" : "#/components/schemas/DeveloperQualifiedSymbol"
          },
          "fullyQualifiedName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "DeveloperQualifiedSymbol" : {
        "required" : [ "developerSymbol", "projectName" ],
        "type" : "object",
        "properties" : {
          "developerSymbol" : {
            "type" : "string",
            "example" : null
          },
          "projectName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ExternalAppEventResolutionRequest" : {
        "required" : [ "developerSymbol", "projectName" ],
        "type" : "object",
        "properties" : {
          "developerSymbol" : {
            "type" : "string",
            "example" : null
          },
          "projectName" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputAppEventOccurrence" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AppEventOccurrence"
            }
          }
        },
        "example" : null
      },
      "BatchResponseAppEventOccurrence" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/AppEventOccurrence"
            }
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "companies-write" : "",
              "contacts-write" : "",
              "deals-write" : "",
              "developers-read" : "",
              "email-access" : "",
              "email-core-api-access" : "",
              "tickets-write" : "",
              "timeline-write" : ""
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}