{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auth Oauth",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-03",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Advanced"
  } ],
  "paths" : {
    "/oauth/2026-03/token" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "OAuth token endpoint",
        "description" : "Authenticates a client and returns access and refresh tokens.",
        "operationId" : "post-/oauth/2026-03/token_/oauth/v3/token",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "client_secret" : {
                    "type" : "string",
                    "example" : null
                  },
                  "code" : {
                    "type" : "string",
                    "example" : null
                  },
                  "code_verifier" : {
                    "type" : "string",
                    "example" : null
                  },
                  "grant_type" : {
                    "type" : "string",
                    "example" : null,
                    "enum" : [ "authorization_code", "refresh_token" ]
                  },
                  "redirect_uri" : {
                    "type" : "string",
                    "example" : null
                  },
                  "refresh_token" : {
                    "type" : "string",
                    "example" : null
                  },
                  "scope" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        }
      }
    },
    "/oauth/2026-03/token/introspect" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Token introspection endpoint",
        "description" : "Returns validity and metadata for access and refresh tokens.",
        "operationId" : "post-/oauth/2026-03/token/introspect_/oauth/v3/token/introspect",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "client_secret" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token_type_hint" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenInfoResponseBaseIF"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        }
      }
    },
    "/oauth/2026-03/token/revoke" : {
      "post" : {
        "tags" : [ "Advanced" ],
        "summary" : "Token Revocation endpoint",
        "description" : "Deletes/Revokes provided Refresh Token",
        "operationId" : "post-/oauth/2026-03/token/revoke_/oauth/v3/token/revoke",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "client_secret" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token" : {
                    "type" : "string",
                    "example" : null
                  },
                  "token_type_hint" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "PublicAccessTokenInfoResponse" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/TokenInfoResponseBaseIF"
        }, {
          "required" : [ "active", "app_id", "client_id", "expires_in", "hub_id", "is_private_distribution", "scopes", "signed_access_token", "token", "token_type", "token_use", "user_id" ],
          "type" : "object",
          "properties" : {
            "token_use" : {
              "type" : "string",
              "example" : null,
              "default" : "access_token",
              "enum" : [ "access_token" ]
            },
            "active" : {
              "type" : "boolean",
              "example" : null
            },
            "token" : {
              "type" : "string",
              "example" : null
            },
            "hub_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "user_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "client_id" : {
              "type" : "string",
              "example" : null
            },
            "app_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "user" : {
              "type" : "string",
              "example" : null
            },
            "hub_domain" : {
              "type" : "string",
              "example" : null
            },
            "scopes" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "signed_access_token" : {
              "$ref" : "#/components/schemas/SignedAccessToken"
            },
            "expires_in" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            },
            "is_private_distribution" : {
              "type" : "boolean",
              "example" : null
            },
            "token_type" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "PublicRefreshTokenInfoResponse" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/TokenInfoResponseBaseIF"
        }, {
          "required" : [ "active", "app_id", "client_id", "hub_id", "scopes", "token", "token_type", "token_use", "user_id" ],
          "type" : "object",
          "properties" : {
            "token_use" : {
              "type" : "string",
              "example" : null,
              "default" : "refresh_token",
              "enum" : [ "refresh_token" ]
            },
            "active" : {
              "type" : "boolean",
              "example" : null
            },
            "token" : {
              "type" : "string",
              "example" : null
            },
            "hub_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "user_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "client_id" : {
              "type" : "string",
              "example" : null
            },
            "app_id" : {
              "type" : "integer",
              "format" : "int32",
              "example" : null
            },
            "user" : {
              "type" : "string",
              "example" : null
            },
            "hub_domain" : {
              "type" : "string",
              "example" : null
            },
            "scopes" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "token_type" : {
              "type" : "string",
              "example" : null
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "SignedAccessToken" : {
        "required" : [ "appId", "expiresAt", "hubId", "hublet", "installingUserId", "isPrivateDistribution", "isServiceAccount", "isUserLevel", "newSignature", "scopeToScopeGroupPks", "scopes", "signature", "trialScopeToScopeGroupPks", "trialScopes", "userId" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "expiresAt" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "hubId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "hublet" : {
            "type" : "string",
            "example" : null
          },
          "installingUserId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "isPrivateDistribution" : {
            "type" : "boolean",
            "example" : null
          },
          "isServiceAccount" : {
            "type" : "boolean",
            "example" : null
          },
          "isUserLevel" : {
            "type" : "boolean",
            "example" : null
          },
          "newSignature" : {
            "type" : "string",
            "example" : null
          },
          "scopeToScopeGroupPks" : {
            "type" : "string",
            "example" : null
          },
          "scopes" : {
            "type" : "string",
            "example" : null
          },
          "signature" : {
            "type" : "string",
            "example" : null
          },
          "trialScopeToScopeGroupPks" : {
            "type" : "string",
            "example" : null
          },
          "trialScopes" : {
            "type" : "string",
            "example" : null
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "TokenInfoResponseBaseIF" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicAccessTokenInfoResponse"
        }, {
          "$ref" : "#/components/schemas/PublicRefreshTokenInfoResponse"
        } ]
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : { }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}