{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Lists",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Search"
  } ],
  "paths" : {
    "/crm/lists/2026-09-beta" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List",
        "description" : "Retrieve a list of CRM lists in your HubSpot account. This endpoint allows you to filter the lists by their IDs and optionally include filters applied to the lists. It is useful for managing and organizing your CRM data by accessing specific lists.",
        "operationId" : "get-/crm/lists/2026-09-beta",
        "parameters" : [ {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A boolean indicating whether to include filters applied to the lists in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "listIds",
          "in" : "query",
          "description" : "An array of list IDs to filter the lists returned. Each ID should be a string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListsByIdResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create List",
        "description" : "Create a new list in your HubSpot account using the specified parameters. This endpoint allows you to define the properties and criteria for the list, which can be used for organizing and managing contacts or other CRM objects.",
        "operationId" : "post-/crm/lists/2026-09-beta",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.write" ]
        }, {
          "oauth2" : [ "cms.membership.access_groups.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/all" : {
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "List all",
        "description" : "Retrieve all lists in the CRM system. This endpoint allows you to fetch a comprehensive list of all available lists, which can be useful for managing and organizing your CRM data effectively.",
        "operationId" : "post-/crm/lists/2026-09-beta/all_/crm/lists/2026-09-beta/all",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListAllRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponsePublicObjectListSearchResult"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/folders" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List folders",
        "description" : "Retrieve a list of folders within the CRM lists. This endpoint can be used to navigate through the folder structure by specifying a folder ID. It is useful for organizing and managing lists within folders.",
        "operationId" : "get-/crm/lists/2026-09-beta/folders",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "The unique identifier of the folder to retrieve. Defaults to '0' if not specified.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null,
            "default" : "0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Folder",
        "description" : "Create a new folder within the CRM lists in your HubSpot account. This operation allows you to organize your lists into folders for better management and accessibility.",
        "operationId" : "post-/crm/lists/2026-09-beta/folders",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFolderCreateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderCreateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/folders/move-list" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Move List",
        "description" : "Move a list to a different folder within your HubSpot account. This operation requires specifying the list and the target folder. It is useful for organizing lists into different categories or structures.",
        "operationId" : "put-/crm/lists/2026-09-beta/folders/move-list",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListMoveRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/folders/{folderId}" : {
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete folder",
        "description" : "Delete a specific folder within the CRM lists by providing the folder's unique identifier. This operation is useful for removing folders that are no longer needed or to clean up the folder structure within your CRM lists.",
        "operationId" : "delete-/crm/lists/2026-09-beta/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique identifier of the folder to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/folders/{folderId}/move/{newParentFolderId}" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Move Folder",
        "description" : "Move a folder to a new parent folder within the CRM lists. This operation is useful for reorganizing your folder structure by changing the parent folder of a specified folder.",
        "operationId" : "put-/crm/lists/2026-09-beta/folders/{folderId}/move/{newParentFolderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique identifier of the folder to be moved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "newParentFolderId",
          "in" : "path",
          "description" : "The unique identifier of the new parent folder where the folder will be moved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/folders/{folderId}/rename" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Rename folder",
        "description" : "Rename an existing folder in the CRM lists by specifying the folder's ID and the new desired name. This can be useful for organizing and updating folder structures within your account.",
        "operationId" : "put-/crm/lists/2026-09-beta/folders/{folderId}/rename",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique identifier of the folder to be renamed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "newFolderName",
          "in" : "query",
          "description" : "The new name for the folder. It should be a string representing the desired folder name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFolderFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/idmapping" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve ID Mapping",
        "description" : "Retrieve the mapping of legacy list IDs to their current IDs in the HubSpot system. This endpoint is useful for migrating or updating systems that rely on legacy list identifiers.",
        "operationId" : "get-/crm/lists/2026-09-beta/idmapping",
        "parameters" : [ {
          "name" : "legacyListId",
          "in" : "query",
          "description" : "The legacy list ID for which you want to retrieve the current ID mapping.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicMigrationMapping"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Map IDs",
        "description" : "Map legacy list IDs to their corresponding new IDs in the HubSpot system. This endpoint is useful for migrating data from older systems to the current HubSpot structure, ensuring that all list references are updated correctly.",
        "operationId" : "post-/crm/lists/2026-09-beta/idmapping",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBatchMigrationMapping"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/object-type-id/{objectTypeId}/name/{listName}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve List",
        "description" : "Retrieve a specific list by its name and object type ID in your HubSpot account. This endpoint allows you to access the details of a list, which can be useful for managing and analyzing your CRM data. You can also choose to include filters in the response.",
        "operationId" : "get-/crm/lists/2026-09-beta/object-type-id/{objectTypeId}/name/{listName}",
        "parameters" : [ {
          "name" : "listName",
          "in" : "path",
          "description" : "The name of the list to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type associated with the list.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A boolean indicating whether to include filters in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/records/memberships/batch/read" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Batch read memberships",
        "description" : "Retrieve batch membership information for records within specified lists. This endpoint is useful for obtaining membership details in bulk, allowing for efficient data retrieval when dealing with multiple records.",
        "operationId" : "post-/crm/lists/2026-09-beta/records/memberships/batch/read",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputRecordIdInput"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseRecordIdWithMemberships"
                },
                "example" : null
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseRecordIdWithMembershipsWithErrors"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/records/{objectTypeId}/{recordId}/memberships" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve memberships",
        "description" : "Retrieve the list memberships for a specific record within a specified object type. This endpoint is useful for understanding which lists a particular record is a member of, based on the object type and record ID provided.",
        "operationId" : "get-/crm/lists/2026-09-beta/records/{objectTypeId}/{recordId}/memberships",
        "parameters" : [ {
          "name" : "objectTypeId",
          "in" : "path",
          "description" : "The unique identifier of the object type to which the record belongs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "The unique identifier of the record for which memberships are being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseRecordListMembership"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/search" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search Lists",
        "description" : "Search for lists within your HubSpot account using various criteria. This endpoint allows you to filter and retrieve lists based on specific search parameters, making it easier to manage and organize your lists effectively.",
        "operationId" : "post-/crm/lists/2026-09-beta/search",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSearchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSearchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/{listId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve list",
        "description" : "Retrieve details of a specific list in your HubSpot account using the list's unique identifier. This endpoint allows you to optionally include filters associated with the list in the response.",
        "operationId" : "get-/crm/lists/2026-09-beta/{listId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A boolean indicating whether to include the list's filters in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFetchResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific list in your HubSpot account using its unique identifier. This operation will permanently remove the list and its associated data, ensuring it is no longer accessible.",
        "operationId" : "delete-/crm/lists/2026-09-beta/{listId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List memberships",
        "description" : "Retrieve the memberships of a specific list in your HubSpot account. This endpoint allows you to paginate through the list memberships using cursor-based pagination. It is useful for obtaining detailed membership information for a given list.",
        "operationId" : "get-/crm/lists/2026-09-beta/{listId}/memberships",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose memberships are to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "A cursor token for pagination. Use the value from the previous response's paging.next.after field to retrieve the next set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "A cursor token for pagination. Use this to retrieve the previous set of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete memberships",
        "description" : "Delete all memberships associated with a specific list in your HubSpot account. This operation is useful when you need to remove all members from a list, effectively clearing its membership data.",
        "operationId" : "delete-/crm/lists/2026-09-beta/{listId}/memberships",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose memberships are to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships/add" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Add memberships",
        "description" : "Add memberships to a specified list in your HubSpot account. This endpoint allows you to add multiple memberships to a list identified by the listId. It is useful for managing list memberships in bulk, ensuring that the specified records are included in the list.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/memberships/add",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list to which memberships will be added.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships/add-and-remove" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update memberships",
        "description" : "Update the memberships of a list by adding and removing members in a single operation. This endpoint allows you to efficiently manage list memberships by specifying which members to add and which to remove in one request.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/memberships/add-and-remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose memberships are to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipChangeRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships/add-from/{sourceListId}" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Add memberships",
        "description" : "Add memberships to a specified list from another source list. This operation is useful for consolidating list memberships by transferring members from one list to another. The endpoint does not return any content upon successful execution.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/memberships/add-from/{sourceListId}",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the target list to which memberships will be added.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "sourceListId",
          "in" : "path",
          "description" : "The unique identifier of the source list from which memberships will be transferred.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships/join-order" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve join order",
        "description" : "Retrieve the join order of memberships for a specific list in your HubSpot account. This endpoint allows you to view the order in which records joined the list, which can be useful for tracking membership changes over time.",
        "operationId" : "get-/crm/lists/2026-09-beta/{listId}/memberships/join-order",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose membership join order is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "A cursor token to retrieve results before a specific point in the list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null,
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/memberships/remove" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Remove memberships",
        "description" : "Remove memberships from a specific list in your HubSpot account. This operation is useful for managing list memberships by removing specified records from the list. The request requires a list of record IDs to be removed from the specified list.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/memberships/remove",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list from which memberships will be removed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : null,
                "items" : {
                  "type" : "string",
                  "example" : null
                }
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipsUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/restore" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Restore",
        "description" : "Restore a previously deleted list in your HubSpot account. This operation allows you to recover lists that have been removed, ensuring that any associated data or configurations are reinstated. This can be useful for retrieving lists that were mistakenly deleted or are needed again for ongoing operations.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/restore",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list to restore.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/{listId}/schedule-conversion" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve",
        "description" : "Retrieve the scheduled conversion details for a specific list in your HubSpot account. This endpoint provides information about any scheduled conversions for the specified list, allowing you to manage and track list conversions effectively.",
        "operationId" : "get-/crm/lists/2026-09-beta/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list for which the scheduled conversion details are to be retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Schedule Conversion",
        "description" : "Schedule a conversion for a specific list in your HubSpot account. This operation allows you to set a conversion time for the list identified by the listId. Use this endpoint to manage the conversion schedule of your lists effectively.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list for which the conversion schedule is to be set.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicListConversionTime"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicListConversionResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete schedule conversion",
        "description" : "Delete a scheduled conversion for a specific list in your HubSpot account. This operation is useful when you need to cancel a previously scheduled conversion for a list identified by its listId.",
        "operationId" : "delete-/crm/lists/2026-09-beta/{listId}/schedule-conversion",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list for which the scheduled conversion is to be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/{listId}/size-and-edits-history/between" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve history",
        "description" : "Retrieve the size and edits history of a specific list within a defined date range. This endpoint is useful for tracking changes and understanding the evolution of list size over time.",
        "operationId" : "get-/crm/lists/2026-09-beta/{listId}/size-and-edits-history/between",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list for which the size and edits history is being retrieved.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "The end date for the history retrieval, formatted as a date-time string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "The start date for the history retrieval, formatted as a date-time string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSizeAndEditHistoryResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "crm.lists.read" ]
        } ]
      }
    },
    "/crm/lists/2026-09-beta/{listId}/update-list-filters" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update list filters",
        "description" : "Update the filters for a specific list in your HubSpot account. This operation allows you to modify the criteria used to include objects in the list. You can also specify whether objects should be enrolled in workflows based on the updated filters.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/update-list-filters",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose filters are to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "enrollObjectsInWorkflows",
          "in" : "query",
          "description" : "A boolean indicating whether to enroll objects in workflows based on the updated filters. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFilterUpdateRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    },
    "/crm/lists/2026-09-beta/{listId}/update-list-name" : {
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update list name",
        "description" : "Update the name of a specific list in your HubSpot account. This endpoint allows you to change the list's name by specifying the new name as a query parameter. It is useful for keeping your lists organized and up-to-date with relevant titles.",
        "operationId" : "put-/crm/lists/2026-09-beta/{listId}/update-list-name",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "The unique identifier of the list whose name is to be updated.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "includeFilters",
          "in" : "query",
          "description" : "A boolean indicating whether to include filters in the response. Defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null,
            "default" : false
          }
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "The new name for the list. It should be a string representing the desired name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "cms.membership.access_groups.write", "crm.lists.read" ]
        }, {
          "oauth2" : [ "crm.lists.read", "crm.lists.write" ]
        } ],
        "x-hubspot-user-level-auth" : {
          "internalOnly" : true
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiCollectionResponseJoinTimeAndRecordId" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of objects, each containing join time and record ID information.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/JoinTimeAndRecordId"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer representing the total number of results available.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ApiCollectionResponsePublicObjectListSearchResult" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicObjectListSearchResult objects representing the individual search results.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer representing the total number of results available in the search, formatted as a 64-bit integer.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "ApiCollectionResponseRecordListMembership" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/Paging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of record list memberships, each detailing the membership of a record in a list.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RecordListMembership"
            }
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer representing the total number of record list memberships available.",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null
      },
      "BatchInputRecordIdInput" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "description" : "An array of record ID inputs. Each element is a string representing a unique record ID to be processed in the batch operation.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RecordIdInput"
            }
          }
        },
        "example" : null
      },
      "BatchResponseRecordIdWithMemberships" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional links related to the batch operation.",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of results from the batch operation, each containing record IDs and their associated memberships.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RecordIdWithMemberships"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch operation started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch operation. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "BatchResponseRecordIdWithMembershipsWithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process was completed, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of errors that occurred during the batch process. Each item in the array is a reference to a StandardError schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing additional links related to the batch process. Each key-value pair represents a link name and its URL.",
            "example" : null
          },
          "numErrors" : {
            "type" : "integer",
            "description" : "The total number of errors encountered during the batch process.",
            "format" : "int32",
            "example" : null
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process was requested, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "results" : {
            "type" : "array",
            "description" : "An array of results containing record IDs with their memberships. Each item in the array is a reference to a RecordIdWithMemberships schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/RecordIdWithMemberships"
            }
          },
          "startedAt" : {
            "type" : "string",
            "description" : "The date and time when the batch process started, in ISO 8601 format.",
            "format" : "date-time",
            "example" : null
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the batch process. Valid values include 'PENDING', 'PROCESSING', 'CANCELED', and 'COMPLETE'.",
            "example" : null,
            "enum" : [ "CANCELED", "COMPLETE", "PENDING", "PROCESSING" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "A string indicating the category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error, represented as a map of key-value pairs.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the error instance, used for tracking and debugging purposes.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array of ErrorDetail objects, each providing additional information about specific errors that occurred.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing related links, represented as a map of link names to URLs.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string that provides a human-readable description of the error.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "An object representing a more specific classification of the error within its category.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "A string representing a specific error code that identifies the type of error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error, represented as a map of strings to arrays of strings, which can include specific parameters or values related to the error.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "A string indicating the location where the error occurred, such as 'query', 'header', or 'body'.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A string containing a human-readable description of the error.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "An object providing additional categorization of the error, which may contain further details.",
            "example" : null
          }
        },
        "example" : null
      },
      "JoinTimeAndRecordId" : {
        "required" : [ "membershipTimestamp", "recordId" ],
        "type" : "object",
        "properties" : {
          "membershipTimestamp" : {
            "type" : "string",
            "description" : "The timestamp indicating when the record was added to the list. It is represented as a string in date-time format.",
            "format" : "date-time",
            "example" : null
          },
          "recordId" : {
            "type" : "string",
            "description" : "The unique identifier for the record within the list. It is represented as a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ListAllRequest" : {
        "required" : [ "additionalProperties", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "array",
            "description" : "An array of strings representing additional properties to include in the list retrieval.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "after" : {
            "type" : "string",
            "description" : "A string used as a paging cursor token to retrieve the next set of results.",
            "example" : null
          },
          "count" : {
            "type" : "integer",
            "description" : "An integer specifying the number of results to retrieve.",
            "format" : "int32",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier for the object type of the lists.",
            "example" : null
          },
          "processingTypes" : {
            "type" : "array",
            "description" : "An array of strings specifying the types of processing to apply to the request.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "ListCreateRequest" : {
        "required" : [ "name", "objectTypeId", "processingType" ],
        "type" : "object",
        "properties" : {
          "customProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "An object containing custom properties for the list. These properties allow for additional customization of the list.",
            "example" : null
          },
          "filterBranch" : {
            "description" : "An object that defines the filter criteria for the list. It determines which records are included in the list based on specified conditions.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          },
          "listFolderId" : {
            "type" : "integer",
            "description" : "A string representing the ID of the folder where the list will be stored. This helps in organizing lists into folders.",
            "format" : "int32",
            "example" : null
          },
          "listPermissions" : {
            "$ref" : "#/components/schemas/PublicListPermissions"
          },
          "membershipSettings" : {
            "$ref" : "#/components/schemas/PublicMembershipSettings"
          },
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the list. This is used to identify the list within the system.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string indicating the type of objects that the list will contain. This helps in categorizing the list based on the object type.",
            "example" : null
          },
          "processingType" : {
            "type" : "string",
            "description" : "A string that specifies the processing type of the list. It defines how the list is processed within the system.",
            "example" : null
          }
        },
        "example" : null
      },
      "ListCreateResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        },
        "example" : null
      },
      "ListFetchResponse" : {
        "required" : [ "list" ],
        "type" : "object",
        "properties" : {
          "list" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        },
        "example" : null
      },
      "ListFilterUpdateRequest" : {
        "required" : [ "filterBranch" ],
        "type" : "object",
        "properties" : {
          "filterBranch" : {
            "description" : "A complex object that defines the structure and logic of the filters to be applied to the list. It can include various types of filter branches and filters, allowing for detailed and specific filtering criteria.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicOrFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAndFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
            }, {
              "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
            } ]
          }
        },
        "example" : null
      },
      "ListFolderCreateRequest" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "A string representing the name of the folder to be created.",
            "example" : null
          },
          "parentFolderId" : {
            "type" : "string",
            "description" : "A string representing the unique identifier of the parent folder under which the new folder will be created.",
            "example" : null
          }
        },
        "example" : null
      },
      "ListFolderCreateResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        },
        "example" : null
      },
      "ListFolderFetchResponse" : {
        "required" : [ "folder" ],
        "type" : "object",
        "properties" : {
          "folder" : {
            "$ref" : "#/components/schemas/PublicListFolder"
          }
        },
        "example" : null
      },
      "ListMoveRequest" : {
        "required" : [ "listId", "newFolderId" ],
        "type" : "object",
        "properties" : {
          "listId" : {
            "type" : "string",
            "description" : "The unique identifier of the list to be moved. It is a string.",
            "example" : null
          },
          "newFolderId" : {
            "type" : "string",
            "description" : "The unique identifier of the folder where the list will be moved to. It is a string.",
            "example" : null
          }
        },
        "example" : null
      },
      "ListSearchRequest" : {
        "required" : [ "additionalProperties", "listIds", "offset", "processingTypes" ],
        "type" : "object",
        "properties" : {
          "additionalProperties" : {
            "type" : "array",
            "description" : "An array of strings representing additional properties to include in the search.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "count" : {
            "type" : "integer",
            "description" : "An integer specifying the number of results to return.",
            "format" : "int32",
            "example" : null
          },
          "listIds" : {
            "type" : "array",
            "description" : "An array of strings specifying the IDs of the lists to search.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A string representing the object type ID to filter the lists.",
            "example" : null
          },
          "offset" : {
            "type" : "integer",
            "description" : "An integer used for pagination, indicating the starting point for the search results.",
            "format" : "int32",
            "example" : null
          },
          "processingTypes" : {
            "type" : "array",
            "description" : "An array of strings indicating the types of processing to apply to the search results.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "query" : {
            "type" : "string",
            "description" : "A string representing the search query to filter the lists.",
            "example" : null
          },
          "sort" : {
            "type" : "string",
            "description" : "A string specifying the sorting criteria for the search results.",
            "example" : null
          }
        },
        "example" : null
      },
      "ListSearchResponse" : {
        "required" : [ "hasMore", "lists", "offset", "total" ],
        "type" : "object",
        "properties" : {
          "hasMore" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether there are more results available beyond the current page.",
            "example" : null
          },
          "lists" : {
            "type" : "array",
            "description" : "An array of objects representing the lists found in the search, each conforming to the PublicObjectListSearchResult schema.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectListSearchResult"
            }
          },
          "offset" : {
            "type" : "integer",
            "description" : "An integer indicating the position in the list of results where the current page starts.",
            "format" : "int32",
            "example" : null
          },
          "total" : {
            "type" : "integer",
            "description" : "An integer indicating the total number of lists found by the search.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "ListSizeAndEditHistoryResponse" : {
        "required" : [ "editHistory", "sizeHistory" ],
        "type" : "object",
        "properties" : {
          "editHistory" : {
            "type" : "array",
            "description" : "An array of date-time strings indicating the timestamps of edits made to the list.",
            "example" : null,
            "items" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            }
          },
          "sizeHistory" : {
            "type" : "array",
            "description" : "An array of ListSizeDataPoint objects representing the historical size data of the list.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ListSizeDataPoint"
            }
          }
        },
        "example" : null
      },
      "ListSizeDataPoint" : {
        "required" : [ "size", "timestamp" ],
        "type" : "object",
        "properties" : {
          "size" : {
            "type" : "integer",
            "description" : "An integer representing the size of the list at the given timestamp.",
            "format" : "int64",
            "example" : null
          },
          "timestamp" : {
            "type" : "string",
            "description" : "A Unix timestamp in milliseconds indicating the specific point in time when the list size was recorded.",
            "format" : "date-time",
            "example" : null
          }
        },
        "example" : null
      },
      "ListUpdateResponse" : {
        "type" : "object",
        "properties" : {
          "updatedList" : {
            "$ref" : "#/components/schemas/PublicObjectList"
          }
        },
        "example" : null
      },
      "ListsByIdResponse" : {
        "required" : [ "lists" ],
        "type" : "object",
        "properties" : {
          "lists" : {
            "type" : "array",
            "description" : "An array of PublicObjectList objects, each representing a list retrieved by its ID. This property is required.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/PublicObjectList"
            }
          }
        },
        "example" : null
      },
      "MembershipChangeRequest" : {
        "required" : [ "recordIdsToAdd", "recordIdsToRemove" ],
        "type" : "object",
        "properties" : {
          "recordIdsToAdd" : {
            "type" : "array",
            "description" : "An array of strings representing the unique identifiers of records to be added to the list.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "recordIdsToRemove" : {
            "type" : "array",
            "description" : "An array of strings representing the unique identifiers of records to be removed from the list.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "MembershipsUpdateResponse" : {
        "required" : [ "recordIdsMissing", "recordIdsRemoved", "recordsIdsAdded" ],
        "type" : "object",
        "properties" : {
          "recordIdsMissing" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of records that were not found or could not be processed during the update.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "recordIdsRemoved" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of records that were successfully removed from the list.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "recordsIdsAdded" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of records that were successfully added to the list.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to retrieve the next page of results. It is returned as the `paging.next.after` JSON property in a paged response.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL string that provides a direct link to the next page of results.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      },
      "Paging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          },
          "prev" : {
            "$ref" : "#/components/schemas/PreviousPage"
          }
        },
        "example" : null
      },
      "PreviousPage" : {
        "required" : [ "before" ],
        "type" : "object",
        "properties" : {
          "before" : {
            "type" : "string",
            "description" : "A string token used to identify the position in the list before the current page, enabling navigation to the previous page.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "A URL string that provides a direct link to the previous page of results.",
            "example" : null
          }
        },
        "description" : "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
        "example" : null
      },
      "PublicAbsoluteComparativeTimestampRefineBy" : {
        "title" : "ABSOLUTE_COMPARATIVE",
        "required" : [ "comparison", "timestamp", "type" ],
        "type" : "object",
        "properties" : {
          "comparison" : {
            "type" : "string",
            "description" : "A string representing the comparison operation to be performed with the timestamp.",
            "example" : null
          },
          "timestamp" : {
            "type" : "integer",
            "description" : "An integer representing the specific timestamp to be used in the comparison, typically expressed as a Unix timestamp in milliseconds.",
            "format" : "int64",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string representing the type of refinement, which is 'ABSOLUTE_COMPARATIVE' by default.",
            "example" : null,
            "default" : "ABSOLUTE_COMPARATIVE",
            "enum" : [ "ABSOLUTE_COMPARATIVE" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAbsoluteRangedTimestampRefineBy" : {
        "title" : "ABSOLUTE_RANGED",
        "required" : [ "lowerTimestamp", "rangeType", "type", "upperTimestamp" ],
        "type" : "object",
        "properties" : {
          "lowerTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the lower bound of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          },
          "rangeType" : {
            "type" : "string",
            "description" : "A string that specifies the type of range being used in the filter.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "A string that indicates the type of refine by operation, which is 'ABSOLUTE_RANGED'.",
            "example" : null,
            "default" : "ABSOLUTE_RANGED",
            "enum" : [ "ABSOLUTE_RANGED" ]
          },
          "upperTimestamp" : {
            "type" : "integer",
            "description" : "An integer representing the upper bound of the timestamp range, in Unix time format (milliseconds).",
            "format" : "int64",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsSearchFilter" : {
        "title" : "ADS_SEARCH",
        "required" : [ "adNetwork", "entityType", "filterType", "operator", "searchTermType", "searchTerms" ],
        "type" : "object",
        "properties" : {
          "adNetwork" : {
            "type" : "string",
            "description" : "The advertising network being targeted by the filter. This is a string value indicating the ad network.",
            "example" : null
          },
          "entityType" : {
            "type" : "string",
            "description" : "The type of entity to which the filter is applied. This is a string value representing the entity type.",
            "example" : null
          },
          "filterType" : {
            "type" : "string",
            "description" : "The type of filter being applied. This is a string value that defines the category or nature of the filter.",
            "example" : null,
            "default" : "ADS_SEARCH",
            "enum" : [ "ADS_SEARCH" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "The operator used to apply the filter. This is a string value that specifies the logical operation for the filter.",
            "example" : null
          },
          "searchTermType" : {
            "type" : "string",
            "description" : "The type of search term used in the filter. This is a string value that specifies how the search term is interpreted.",
            "example" : null
          },
          "searchTerms" : {
            "type" : "array",
            "description" : "An array of strings representing the search terms used in the filter.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAdsTimeFilter" : {
        "title" : "ADS_TIME",
        "required" : [ "filterType", "pruningRefineBy" ],
        "type" : "object",
        "properties" : {
          "filterType" : {
            "type" : "string",
            "description" : "A string representing the type of filter being applied. The default value is 'ADS_TIME'.",
            "example" : null,
            "default" : "ADS_TIME",
            "enum" : [ "ADS_TIME" ]
          },
          "pruningRefineBy" : {
            "description" : "An optional property that allows further refinement of the filter criteria based on time. It can be one of several types, such as relative or absolute time comparisons.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PublicNumOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicSetOccurrencesRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicAllHistoryRefineBy"
            }, {
              "$ref" : "#/components/schemas/PublicTimePointOperation"
            }, {
              "$ref" : "#/components/schemas/PublicRangedTimeOperation"
            } ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllHistoryRefineBy" : {
        "title" : "ALL_HISTORY",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "A string that specifies the type of refinement, with a default value of 'ALL_HISTORY'.",
            "example" : null,
            "default" : "ALL_HISTORY",
            "enum" : [ "ALL_HISTORY" ]
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAllPropertyTypesOperation" : {
        "title" : "ALL_PROPERTY",
        "required" : [ "includeObjectsWithNoValueSet", "operationType", "operator" ],
        "type" : "object",
        "properties" : {
          "includeObjectsWithNoValueSet" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether objects with no value set for the property should be included in the operation. This property is required.",
            "example" : null
          },
          "operationType" : {
            "type" : "string",
            "description" : "A string indicating the type of operation being performed. This property is required.",
            "example" : null,
            "default" : "ALL_PROPERTY",
            "enum" : [ "ALL_PROPERTY" ]
          },
          "operator" : {
            "type" : "string",
            "description" : "A string representing the operator used in the filter operation. This property is required.",
            "example" : null
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAndFilterBranch" : {
        "title" : "AND",
        "required" : [ "filterBranchOperator", "filterBranchType", "filterBranches", "filters" ],
        "type" : "object",
        "properties" : {
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string representing the operator used within this filter branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch. Defaults to 'AND'.",
            "example" : null,
            "default" : "AND",
            "enum" : [ "AND" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of nested filter branches. Each item can be a branch of various types, such as 'OR', 'AND', 'NOT_ALL', etc.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters that apply to this branch. Each filter can be of various types, such as property filters, event filters, or subscription filters.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
                "$ref" : "#/components/schemas/PublicIntegrationEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCommunicationSubscriptionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicSurveyMonkeyValueFilter"
              }, {
                "$ref" : "#/components/schemas/PublicWebinarFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEmailEventFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPrivacyAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsSearchFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAdsTimeFilter"
              }, {
                "$ref" : "#/components/schemas/PublicInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicConstantFilter"
              } ]
            }
          }
        },
        "example" : null,
        "x-hubspot-sub-type-impl" : true
      },
      "PublicAssociationFilterBranch" : {
        "title" : "ASSOCIATION",
        "required" : [ "associationCategory", "associationTypeId", "filterBranchOperator", "filterBranchType", "filterBranches", "filters", "objectTypeId", "operator" ],
        "type" : "object",
        "properties" : {
          "associationCategory" : {
            "type" : "string",
            "description" : "A string that categorizes the type of association being filtered.",
            "example" : null
          },
          "associationTypeId" : {
            "type" : "integer",
            "description" : "An integer representing the type ID of the association.",
            "format" : "int32",
            "example" : null
          },
          "filterBranchOperator" : {
            "type" : "string",
            "description" : "A string that defines the logical operator for combining filters within this branch.",
            "example" : null
          },
          "filterBranchType" : {
            "type" : "string",
            "description" : "A string indicating the type of filter branch, which is 'ASSOCIATION' for this component.",
            "example" : null,
            "default" : "ASSOCIATION",
            "enum" : [ "ASSOCIATION" ]
          },
          "filterBranches" : {
            "type" : "array",
            "description" : "An array of nested filter branches, allowing for complex logical groupings of filters.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicOrFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAndFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAllFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicNotAnyFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicRestrictedFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicUnifiedEventsFilterBranch"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationFilterBranch"
              } ]
            }
          },
          "filters" : {
            "type" : "array",
            "description" : "An array of filters applied within this branch, each defining specific criteria for filtering associations.",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/PublicPropertyFilter"
              }, {
                "$ref" : "#/components/schemas/PublicAssociationInListFilter"
              }, {
                "$ref" : "#/components/schemas/PublicPageViewAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicCtaAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicEventAnalyticsFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionFilter"
              }, {
                "$ref" : "#/components/schemas/PublicFormSubmissionOnPageFilter"
              }, {
[...]
