{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Forms",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Programmatically change certain parts of a HubSpot form based on more complex use-cases or data from a third-party service (displaying a field dynamically based on data you're querying from an external source).",
    "x-hubspot-related-documentation" : [ {
      "name" : "Forms Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/marketing/forms"
    } ],
    "x-hubspot-introduction" : "Use the forms API to create and manage forms in your HubSpot account, which you can then embed on your website to collect form submissions from website visitors."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Forms"
  } ],
  "paths" : {
    "/marketing/v3/forms/" : {
      "get" : {
        "tags" : [ "Forms" ],
        "summary" : "Get a list of forms",
        "description" : "Returns a list of forms based on the search filters. By default, it returns the first 20 `hubspot` forms",
        "operationId" : "get-/marketing/v3/forms/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "formTypes",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null,
              "enum" : [ "hubspot", "captured", "flow", "blog_comment", "all" ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFormDefinitionBaseForwardPaging"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Create a form",
        "description" : "Add a new `hubspot` form",
        "operationId" : "post-/marketing/v3/forms/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDefinitionCreateRequestBase"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      }
    },
    "/marketing/v3/forms/{formId}" : {
      "get" : {
        "tags" : [ "Forms" ],
        "summary" : "Get a form definition",
        "description" : "Returns a form based on the form ID provided.",
        "operationId" : "get-/marketing/v3/forms/{formId}_getById",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "put" : {
        "tags" : [ "Forms" ],
        "summary" : "Update a form definition",
        "description" : "Update all fields of a hubspot form definition.",
        "operationId" : "put-/marketing/v3/forms/{formId}_replace",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubSpotFormDefinition"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Forms" ],
        "summary" : "Archive a form definition",
        "description" : "Archive a form definition. New submissions will not be accepted and the form definition will be permanently deleted after 3 months.",
        "operationId" : "delete-/marketing/v3/forms/{formId}_archive",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Forms" ],
        "summary" : "Partially update a form definition",
        "description" : "Update some of the form definition components",
        "operationId" : "patch-/marketing/v3/forms/{formId}_update",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubSpotFormDefinitionPatchRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DependentField" : {
        "required" : [ "dependentCondition", "dependentField" ],
        "type" : "object",
        "properties" : {
          "dependentCondition" : {
            "$ref" : "#/components/schemas/DependentFieldFilter"
          },
          "dependentField" : {
            "description" : "A form field that will be conditionally displayed based on whether the dependent condition is met.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/EmailField"
            }, {
              "$ref" : "#/components/schemas/PhoneField"
            }, {
              "$ref" : "#/components/schemas/MobilePhoneField"
            }, {
              "$ref" : "#/components/schemas/SingleLineTextField"
            }, {
              "$ref" : "#/components/schemas/MultiLineTextField"
            }, {
              "$ref" : "#/components/schemas/NumberField"
            }, {
              "$ref" : "#/components/schemas/SingleCheckboxField"
            }, {
              "$ref" : "#/components/schemas/MultipleCheckboxesField"
            }, {
              "$ref" : "#/components/schemas/DropdownField"
            }, {
              "$ref" : "#/components/schemas/RadioField"
            }, {
              "$ref" : "#/components/schemas/DatepickerField"
            }, {
              "$ref" : "#/components/schemas/FileField"
            }, {
              "$ref" : "#/components/schemas/PaymentLinkRadioField"
            } ]
          }
        },
        "example" : null
      },
      "FormDefinitionBase" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/HubSpotFormDefinition"
        } ]
      },
      "LegalConsentOptionsImplicitConsentToProcess" : {
        "title" : "implicit_consent_to_process",
        "required" : [ "communicationsCheckboxes", "privacyText", "type" ],
        "type" : "object",
        "properties" : {
          "communicationConsentText" : {
            "type" : "string",
            "description" : "Text explaining communication consent preferences.",
            "example" : null
          },
          "communicationsCheckboxes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/LegalConsentCheckbox"
            }
          },
          "consentToProcessText" : {
            "type" : "string",
            "description" : "Text explaining the consent to process personal data.",
            "example" : null
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "example" : null,
            "default" : "implicit_consent_to_process",
            "enum" : [ "implicit_consent_to_process" ]
          }
        },
        "example" : null
      },
      "HubSpotFormDefinition" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/FormDefinitionBase"
        }, {
          "required" : [ "archived", "configuration", "createdAt", "displayOptions", "fieldGroups", "formType", "id", "legalConsentOptions", "name", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "formType" : {
              "type" : "string",
              "example" : null,
              "default" : "hubspot",
              "enum" : [ "hubspot" ]
            },
            "id" : {
              "type" : "string",
              "example" : null
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "archivedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "fieldGroups" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/FieldGroup"
              }
            },
            "configuration" : {
              "$ref" : "#/components/schemas/HubSpotFormConfiguration"
            },
            "displayOptions" : {
              "$ref" : "#/components/schemas/FormDisplayOptions"
            },
            "legalConsentOptions" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LegalConsentOptionsNone"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
              } ]
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "FormDisplayOptions" : {
        "required" : [ "renderRawHtml", "style", "submitButtonText", "theme" ],
        "type" : "object",
        "properties" : {
          "cssClass" : {
            "type" : "string",
            "description" : "Custom CSS class name(s) to apply to the form element for additional styling.",
            "example" : null
          },
          "renderRawHtml" : {
            "type" : "boolean",
            "description" : "Whether the form will render as raw HTML as opposed to inside an iFrame.",
            "example" : null
          },
          "style" : {
            "$ref" : "#/components/schemas/FormStyle"
          },
          "submitButtonText" : {
            "type" : "string",
            "description" : "The text displayed on the form submit button.",
            "example" : null
          },
          "theme" : {
            "type" : "string",
            "description" : "The theme used for styling the input fields. This will not apply if the form is added to a HubSpot CMS page.",
            "example" : null,
            "enum" : [ "canvas", "default_style", "legacy", "linear", "round", "sharp" ]
          }
        },
        "example" : null
      },
      "MultiLineTextField" : {
        "title" : "multi_line_text",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "multi_line_text",
            "enum" : [ "multi_line_text" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "MobilePhoneField" : {
        "title" : "mobile_phone",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "mobile_phone",
            "enum" : [ "mobile_phone" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          },
          "validation" : {
            "$ref" : "#/components/schemas/PhoneFieldValidation"
          }
        },
        "example" : null
      },
      "FormStyle" : {
        "required" : [ "backgroundWidth", "fontFamily", "helpTextColor", "helpTextSize", "labelTextColor", "labelTextSize", "legalConsentTextColor", "legalConsentTextSize", "submitAlignment", "submitColor", "submitFontColor", "submitSize" ],
        "type" : "object",
        "properties" : {
          "backgroundWidth" : {
            "type" : "string",
            "description" : "The width of the form background. Accepts percentage (e.g., \"100%\") or pixel values (e.g., \"600px\").",
            "example" : null
          },
          "fontFamily" : {
            "type" : "string",
            "description" : "Font family used throughout the form (e.g., \"arial, helvetica, sans-serif\").",
            "example" : null
          },
          "helpTextColor" : {
            "type" : "string",
            "description" : "Hex color code for help text displayed below form fields.",
            "example" : null
          },
          "helpTextSize" : {
            "type" : "string",
            "description" : "Font size for help text. Accepts pixel values (e.g., \"11px\").",
            "example" : null
          },
          "labelTextColor" : {
            "type" : "string",
            "description" : "Hex color code for field labels.",
            "example" : null
          },
          "labelTextSize" : {
            "type" : "string",
            "description" : "Font size for field labels. Accepts pixel values (e.g., \"11px\").",
            "example" : null
          },
          "legalConsentTextColor" : {
            "type" : "string",
            "description" : "Hex color code for legal consent text.",
            "example" : null
          },
          "legalConsentTextSize" : {
            "type" : "string",
            "description" : "Font size for legal consent text. Accepts pixel values (e.g., \"14px\").",
            "example" : null
          },
          "submitAlignment" : {
            "type" : "string",
            "description" : "Horizontal alignment of the submit button. Values: left, center, right.",
            "example" : null,
            "enum" : [ "center", "left", "right" ]
          },
          "submitColor" : {
            "type" : "string",
            "description" : "Hex color code for the submit button background.",
            "example" : null
          },
          "submitFontColor" : {
            "type" : "string",
            "description" : "Hex color code for the submit button text.",
            "example" : null
          },
          "submitSize" : {
            "type" : "string",
            "description" : "Font size for submit button text. Accepts pixel values (e.g., \"12px\").",
            "example" : null
          }
        },
        "example" : null
      },
      "CollectionResponseFormDefinitionBaseForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/HubSpotFormDefinition"
              } ]
            }
          }
        },
        "example" : null
      },
      "DatepickerField" : {
        "title" : "datepicker",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "datepicker",
            "enum" : [ "datepicker" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "HubSpotFormConfiguration" : {
        "required" : [ "allowLinkToResetKnownValues", "archivable", "cloneable", "createNewContactForNewEmail", "editable", "language", "lifecycleStages", "notifyContactOwner", "notifyRecipients", "postSubmitAction", "prePopulateKnownValues", "recaptchaEnabled" ],
        "type" : "object",
        "properties" : {
          "allowLinkToResetKnownValues" : {
            "type" : "boolean",
            "description" : "Whether to add a reset link to the form. This removes any pre-populated content on the form and creates a new contact on submission.",
            "example" : null
          },
          "archivable" : {
            "type" : "boolean",
            "description" : "Whether the form can be archived.",
            "example" : null
          },
          "cloneable" : {
            "type" : "boolean",
            "description" : "Whether the form can be cloned.",
            "example" : null
          },
          "createNewContactForNewEmail" : {
            "type" : "boolean",
            "description" : "Whether to create a new contact when a form is submitted with an email address that doesn’t match any in your existing contacts records.",
            "example" : null
          },
          "editable" : {
            "type" : "boolean",
            "description" : "Whether the form can be edited.",
            "example" : null
          },
          "embedType" : {
            "type" : "string",
            "example" : null,
            "enum" : [ "V3", "V4" ]
          },
          "language" : {
            "type" : "string",
            "description" : "The language of the form.",
            "example" : null,
            "enum" : [ "af", "ar-eg", "bg", "bn", "ca-es", "cs", "da", "de", "el", "en", "es", "es-mx", "fi", "fr", "fr-ca", "he-il", "hr", "hu", "id", "it", "ja", "ko", "lt", "ms", "nl", "no-no", "pl", "pt", "pt-br", "ro", "ru", "sk", "sl", "sv", "th", "tl", "tr", "uk", "vi", "zh-cn", "zh-hk", "zh-tw" ]
          },
          "lifecycleStages" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/LifecycleStage"
            }
          },
          "notifyContactOwner" : {
            "type" : "boolean",
            "description" : "Whether to send a notification email to the contact owner when a submission is received.",
            "example" : null
          },
          "notifyRecipients" : {
            "type" : "array",
            "description" : "The list of user IDs to receive a notification email when a submission is received.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "postSubmitAction" : {
            "$ref" : "#/components/schemas/FormPostSubmitAction"
          },
          "prePopulateKnownValues" : {
            "type" : "boolean",
            "description" : "Whether contact fields should pre-populate with known information when a contact returns to your site.",
            "example" : null
          },
          "recaptchaEnabled" : {
            "type" : "boolean",
            "description" : "Whether CAPTCHA (spam prevention) is enabled.",
            "example" : null
          }
        },
        "example" : null
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : null
      },
      "LegalConsentOptionsExplicitConsentToProcess" : {
        "title" : "explicit_consent_to_process",
        "required" : [ "communicationsCheckboxes", "privacyText", "type" ],
        "type" : "object",
        "properties" : {
          "communicationConsentText" : {
            "type" : "string",
            "description" : "Text explaining communication consent preferences. Informs users about how their contact information will be used for communications.",
            "example" : null
          },
          "communicationsCheckboxes" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/LegalConsentCheckbox"
            }
          },
          "consentToProcessCheckboxLabel" : {
            "type" : "string",
            "description" : "Label text for the consent to process checkbox.",
            "example" : null
          },
          "consentToProcessFooterText" : {
            "type" : "string",
            "description" : "Footer text for the consent to process section.",
            "example" : null
          },
          "consentToProcessText" : {
            "type" : "string",
            "description" : "Text explaining the consent to process personal data.",
            "example" : null
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices. Required field that informs users about their privacy rights and how their data is protected.",
            "example" : null
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "example" : null,
            "default" : "explicit_consent_to_process",
            "enum" : [ "explicit_consent_to_process" ]
          }
        },
        "example" : null
      },
      "DropdownField" : {
        "title" : "dropdown",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "dropdown",
            "enum" : [ "dropdown" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        },
        "example" : null
      },
      "RadioField" : {
        "title" : "radio",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "radio",
            "enum" : [ "radio" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "HubSpotFormDefinitionCreateRequest" : {
        "properties" : { },
        "example" : null,
        "allOf" : [ {
          "$ref" : "#/components/schemas/FormDefinitionCreateRequestBase"
        }, {
          "required" : [ "archived", "configuration", "createdAt", "displayOptions", "fieldGroups", "formType", "legalConsentOptions", "name", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "formType" : {
              "type" : "string",
              "example" : null,
              "default" : "hubspot",
              "enum" : [ "hubspot" ]
            },
            "name" : {
              "type" : "string",
              "example" : null
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "archived" : {
              "type" : "boolean",
              "example" : null
            },
            "archivedAt" : {
              "type" : "string",
              "format" : "date-time",
              "example" : null
            },
            "fieldGroups" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "$ref" : "#/components/schemas/FieldGroup"
              }
            },
            "configuration" : {
              "$ref" : "#/components/schemas/HubSpotFormConfiguration"
            },
            "displayOptions" : {
              "$ref" : "#/components/schemas/FormDisplayOptions"
            },
            "legalConsentOptions" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LegalConsentOptionsNone"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
              } ]
            }
          },
          "example" : null,
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "EmailField" : {
        "title" : "email",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "email",
            "enum" : [ "email" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          },
          "validation" : {
            "$ref" : "#/components/schemas/EmailFieldValidation"
          }
        },
        "example" : null
      },
      "LegalConsentOptionsNone" : {
        "title" : "none",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The legal consent type. Set to \"none\" to indicate no legal consent configuration is required for this form.",
            "example" : null,
            "default" : "none",
            "enum" : [ "none" ]
          }
        },
        "example" : null
      },
      "PhoneFieldValidation" : {
        "required" : [ "maxAllowedDigits", "minAllowedDigits" ],
        "type" : "object",
        "properties" : {
          "maxAllowedDigits" : {
            "type" : "integer",
            "description" : "The maximum number of digits allowed in the phone number. Default: 20. Must be greater than or equal to minAllowedDigits.",
            "format" : "int32",
            "example" : null
          },
          "minAllowedDigits" : {
            "type" : "integer",
            "description" : "The minimum number of digits required in the phone number. Default: 7. Must be less than or equal to maxAllowedDigits.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "FormDefinitionCreateRequestBase" : {
        "properties" : { },
        "example" : null,
        "oneOf" : [ {
          "$ref" : "#/components/schemas/HubSpotFormDefinitionCreateRequest"
        } ]
      },
      "FieldGroup" : {
        "required" : [ "fields", "groupType", "richTextType" ],
        "type" : "object",
        "properties" : {
          "fields" : {
            "type" : "array",
            "description" : "The form fields included in the group",
            "example" : null,
            "items" : {
              "example" : null,
              "oneOf" : [ {
                "$ref" : "#/components/schemas/EmailField"
              }, {
                "$ref" : "#/components/schemas/PhoneField"
              }, {
                "$ref" : "#/components/schemas/MobilePhoneField"
              }, {
                "$ref" : "#/components/schemas/SingleLineTextField"
              }, {
                "$ref" : "#/components/schemas/MultiLineTextField"
              }, {
                "$ref" : "#/components/schemas/NumberField"
              }, {
                "$ref" : "#/components/schemas/SingleCheckboxField"
              }, {
                "$ref" : "#/components/schemas/MultipleCheckboxesField"
              }, {
                "$ref" : "#/components/schemas/DropdownField"
              }, {
                "$ref" : "#/components/schemas/RadioField"
              }, {
                "$ref" : "#/components/schemas/DatepickerField"
              }, {
                "$ref" : "#/components/schemas/FileField"
              }, {
                "$ref" : "#/components/schemas/PaymentLinkRadioField"
              } ]
            }
          },
          "groupType" : {
            "type" : "string",
            "description" : "The type of field grouping. Values: default_group (standard fields), progressive, and queued.",
            "example" : null,
            "enum" : [ "default_group", "progressive", "queued" ]
          },
          "richText" : {
            "type" : "string",
            "description" : "A block of rich text or an image. Those can be used to add extra information for the customers filling in the form. If the field group includes fields, the rich text will be displayed before the fields.",
            "example" : null
          },
          "richTextType" : {
            "type" : "string",
            "description" : "The type of rich text included. The default value is text. Values: text, image.",
            "example" : null,
            "enum" : [ "image", "text" ]
          }
        },
        "example" : null
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "FileField" : {
        "title" : "file",
        "required" : [ "allowMultipleFiles", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "allowMultipleFiles" : {
            "type" : "boolean",
            "description" : "Whether to allow the upload of multiple files.",
            "example" : null
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "file",
            "enum" : [ "file" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "LegalConsentCheckbox" : {
        "required" : [ "label", "required", "subscriptionTypeId" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether this checkbox is required when submitting the form.",
            "example" : null
          },
          "subscriptionTypeId" : {
            "type" : "integer",
            "description" : "The ID of the subscription type associated with this consent checkbox.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "NumberField" : {
        "title" : "number",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "number",
            "enum" : [ "number" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          },
          "validation" : {
            "$ref" : "#/components/schemas/NumberFieldValidation"
          }
        },
        "example" : null
      },
      "PaymentLinkRadioField" : {
        "title" : "payment_link_radio",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "dependentFields" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional descriptive text about the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "The field type identifier.",
            "example" : null,
            "default" : "payment_link_radio",
            "enum" : [ "payment_link_radio" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the field is a hidden field.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The visible label displayed with the field to describe its purpose to form users.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The internal API name used to identify this field in API requests and responses.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The CRM object type this field is associated with (e.g., contacts, deals).",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether users must select an option before submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "LegalConsentOptionsLegitimateInterest" : {
        "title" : "legitimate_interest",
        "required" : [ "lawfulBasis", "privacyText", "subscriptionTypeIds", "type" ],
        "type" : "object",
        "properties" : {
          "lawfulBasis" : {
            "type" : "string",
            "description" : "The lawful basis for data processing under legitimate interest. Values: lead (processing for lead generation), client (processing for existing clients), other (other legitimate interests). Default: lead.",
            "example" : null,
            "enum" : [ "client", "lead", "other" ]
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices.",
            "example" : null
          },
          "subscriptionTypeIds" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "integer",
              "format" : "int64",
              "example" : null
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "example" : null,
            "default" : "legitimate_interest",
            "enum" : [ "legitimate_interest" ]
          }
        },
        "example" : null
      },
      "MultipleCheckboxesField" : {
        "title" : "multiple_checkboxes",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "multiple_checkboxes",
            "enum" : [ "multiple_checkboxes" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "NumberFieldValidation" : {
        "required" : [ "maxAllowedDigits", "minAllowedDigits" ],
        "type" : "object",
        "properties" : {
          "maxAllowedDigits" : {
            "type" : "integer",
            "description" : "The maximum number of digits allowed for number field input. Must be greater than or equal to minAllowedDigits.",
            "format" : "int32",
            "example" : null
          },
          "minAllowedDigits" : {
            "type" : "integer",
            "description" : "The minimum number of digits required for valid number field input. Must be less than or equal to maxAllowedDigits.",
            "format" : "int32",
            "example" : null
          }
        },
        "example" : null
      },
      "DependentFieldFilter" : {
        "required" : [ "operator", "rangeEnd", "rangeStart", "value", "values" ],
        "type" : "object",
        "properties" : {
          "operator" : {
            "type" : "string",
            "description" : "The comparison operator used to evaluate the dependent field condition. Supports equality (eq, neq), string operations (contains, doesnt_contain, str_starts_with, str_ends_with), numeric comparisons (lt, lte, gt, gte), range checks (between, not_between), set operations (set_any, set_not_any, set_eq, set_neq), and time-based conditions (within_time, within_time_reverse).",
            "example" : null,
            "enum" : [ "between", "contains", "doesnt_contain", "eq", "gt", "gte", "is_not_empty", "lt", "lte", "neq", "not_between", "set_all", "set_any", "set_eq", "set_neq", "set_not_all", "set_not_any", "str_ends_with", "str_starts_with", "within_time", "within_time_reverse" ]
          },
          "rangeEnd" : {
            "type" : "string",
            "description" : "The end value for range-based operators (between, not_between). Must be provided together with rangeStart.",
            "example" : null
          },
          "rangeStart" : {
            "type" : "string",
            "description" : "The start value for range-based operators (between, not_between). Must be provided together with rangeEnd.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The single value to compare against when using operators like eq, neq, contains, lt, gt, and other single-value comparison operators.",
            "example" : null
          },
          "values" : {
            "type" : "array",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      },
      "SingleCheckboxField" : {
        "title" : "single_checkbox",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "single_checkbox",
            "enum" : [ "single_checkbox" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "EnumeratedFieldOption" : {
        "required" : [ "displayOrder", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Additional descriptive text about the option.",
            "example" : null
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The order the choices will be displayed in.",
            "format" : "int32",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The visible label for this choice.",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The value which will be submitted if this choice is selected.",
            "example" : null
          }
        },
        "example" : null
      },
      "FormPostSubmitAction" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The action to take after submit. The default action is displaying a thank you message.",
            "example" : null,
            "enum" : [ "redirect_url", "thank_you" ]
          },
          "value" : {
            "type" : "string",
            "description" : "The thank you text or the page to redirect to.",
            "example" : null
          }
        },
        "example" : null
      },
      "HubSpotFormDefinitionPatchRequest" : {
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this form is archived.",
            "example" : null
          },
          "configuration" : {
            "$ref" : "#/components/schemas/HubSpotFormConfiguration"
          },
          "displayOptions" : {
            "$ref" : "#/components/schemas/FormDisplayOptions"
          },
          "fieldGroups" : {
            "type" : "array",
            "description" : "The fields in the form, grouped in rows.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/FieldGroup"
            }
          },
          "legalConsentOptions" : {
            "description" : "Configuration for legal consent and data processing compliance options. Supports types: none, legitimate_interest, explicit_consent_to_process, implicit_consent_to_process.",
            "example" : null,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/LegalConsentOptionsNone"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
            } ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the form. Expected to be unique for a hub.",
            "example" : null
          }
        },
        "example" : null
      },
      "EmailFieldValidation" : {
        "required" : [ "blockedEmailDomains", "useDefaultBlockList" ],
        "type" : "object",
        "properties" : {
          "blockedEmailDomains" : {
            "type" : "array",
            "description" : "A list of email domains to block.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          },
          "useDefaultBlockList" : {
            "type" : "boolean",
            "description" : "Whether to block the free email providers.",
            "example" : null
          }
        },
        "example" : null
      },
      "LifecycleStage" : {
        "required" : [ "objectTypeId", "value" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string",
            "description" : "The objectTypeId for both contact and company",
            "example" : null
          },
          "value" : {
            "type" : "string",
            "description" : "The internal name of the contact's lifecycle stage set when submitting a form",
            "example" : null
          }
        },
        "example" : null
      },
      "PhoneField" : {
        "title" : "phone",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "useCountryCodeSelect", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "phone",
            "enum" : [ "phone" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          },
          "useCountryCodeSelect" : {
            "type" : "boolean",
            "description" : "Whether to display a country code drop down next to the phone field.",
            "example" : null
          },
          "validation" : {
            "$ref" : "#/components/schemas/PhoneFieldValidation"
          }
        },
        "example" : null
      },
      "SingleLineTextField" : {
        "title" : "single_line_text",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it.",
            "example" : null
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field.",
            "example" : null
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "example" : null,
            "default" : "single_line_text",
            "enum" : [ "single_line_text" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in.",
            "example" : null
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field.",
            "example" : null
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique.",
            "example" : null
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1.",
            "example" : null
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in.",
            "example" : null
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form.",
            "example" : null
          }
        },
        "example" : null
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "The pagination cursor token used to fetch the next page of results. Pass this value in subsequent requests to continue pagination.",
            "example" : null
          },
          "link" : {
            "type" : "string",
            "description" : "The complete URL to retrieve the next page of results in paginated responses.",
            "example" : null
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "forms" : "Forms"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}