{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Forms",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "Programmatically change certain parts of a HubSpot form based on more complex use-cases or data from a third-party service (displaying a field dynamically based on data you're querying from an external source).",
    "x-hubspot-related-documentation" : [ {
      "name" : "Forms Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/marketing/forms"
    } ],
    "x-hubspot-introduction" : "Use the forms API to create and manage forms in your HubSpot account, which you can then embed on your website to collect form submissions from website visitors."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Forms"
  } ],
  "paths" : {
    "/marketing/v3/forms/" : {
      "get" : {
        "tags" : [ "Forms" ],
        "summary" : "Get a list of forms",
        "description" : "Returns a list of forms based on the search filters. By default, it returns the first 20 `hubspot` forms",
        "operationId" : "get-/marketing/v3/forms/_getPage",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "formTypes",
          "in" : "query",
          "description" : "The form types to be included in the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "hubspot", "captured", "flow", "blog_comment", "all" ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseFormDefinitionBaseForwardPaging"
                },
                "example" : {
                  "results" : [ {
                    "id" : "b6336282-50ec-465e-894e-e368146fa25f",
                    "name" : "Contact us",
                    "createdAt" : "2020-09-22T05:15:12.311Z",
                    "updatedAt" : "2020-09-22T05:15:35.361Z",
                    "archived" : false,
                    "fieldGroups" : [ {
                      "groupType" : "default_group",
                      "richTextType" : "text",
                      "fields" : [ {
                        "objectTypeId" : "0-1",
                        "name" : "email",
                        "label" : "Email",
                        "required" : true,
                        "hidden" : false,
                        "fieldType" : "email",
                        "validation" : {
                          "blockedEmailDomains" : [ ],
                          "useDefaultBlockList" : false
                        }
                      } ]
                    }, {
                      "groupType" : "default",
                      "richTextType" : "text",
                      "fields" : [ {
                        "objectTypeId" : "0-1",
                        "name" : "firstname",
                        "label" : "First name",
                        "required" : false,
                        "hidden" : false,
                        "fieldType" : "single_line_text"
                      } ]
                    }, {
                      "groupType" : "default",
                      "richTextType" : "text",
                      "fields" : [ {
                        "objectTypeId" : "0-1",
                        "name" : "lastname",
                        "label" : "Last name",
                        "required" : false,
                        "hidden" : false,
                        "fieldType" : "single_line_text"
                      } ]
                    }, {
                      "groupType" : "default",
                      "richTextType" : "text",
                      "fields" : [ {
                        "objectTypeId" : "0-1",
                        "name" : "message",
                        "label" : "Message",
                        "required" : false,
                        "hidden" : false,
                        "fieldType" : "multi_line_text"
                      } ]
                    } ],
                    "configuration" : {
                      "language" : "en",
                      "cloneable" : true,
                      "postSubmitAction" : {
                        "type" : "thank_you",
                        "value" : "Thanks for submitting the form."
                      },
                      "editable" : true,
                      "archivable" : true,
                      "recaptchaEnabled" : false,
                      "notifyContactOwner" : false,
                      "notifyRecipients" : [ "2886602" ],
                      "createNewContactForNewEmail" : false,
                      "prePopulateKnownValues" : true,
                      "allowLinkToResetKnownValues" : false,
                      "lifecycleStages" : [ {
                        "objectTypeId" : "0-1",
                        "value" : "subscriber"
                      }, {
                        "objectTypeId" : "0-2",
                        "value" : "subscriber"
                      } ]
                    },
                    "displayOptions" : {
                      "renderRawHtml" : false,
                      "theme" : "default_style",
                      "submitButtonText" : "Submit",
                      "style" : {
                        "fontFamily" : "arial, helvetica, sans-serif",
                        "backgroundWidth" : "100%",
                        "labelTextColor" : "#33475b",
                        "labelTextSize" : "13px",
                        "helpTextColor" : "#7C98B6",
                        "helpTextSize" : "11px",
                        "legalConsentTextColor" : "#33475b",
                        "legalConsentTextSize" : "14px",
                        "submitColor" : "#ff7a59",
                        "submitAlignment" : "left",
                        "submitFontColor" : "#ffffff",
                        "submitSize" : "12px"
                      },
                      "cssClass" : "hs-form stacked"
                    },
                    "legalConsentOptions" : {
                      "type" : "none"
                    },
                    "formType" : "hubspot"
                  }, {
                    "id" : "c7cd13be-3024-4bc8-8582-4a87678b5acc",
                    "name" : "Pop-up form: Sign up now popup",
                    "formType" : "flow",
                    "createdAt" : "2020-09-22T05:19:42.276Z",
                    "updatedAt" : "2020-09-22T05:20:29.356Z",
                    "archived" : false
                  }, {
                    "id" : "ad4497f3-b80a-4369-a7d0-cade0e4c202d",
                    "name" : "Collected form: .visitorRegistration",
                    "formType" : "captured",
                    "createdAt" : "2020-09-22T05:18:40.533Z",
                    "updatedAt" : "2020-09-22T05:18:40.533Z",
                    "archived" : false
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "Mw%3D%3D",
                      "link" : "https://api.hubspot.com/marketing/v3/forms?portalId=103268800&limit=3&formTypes=ALL&hs_static_app=api-goggles&hs_static_app_version=1.4854&after=Mw%3D%3D"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Create a form",
        "description" : "Add a new `hubspot` form",
        "operationId" : "post-/marketing/v3/forms/_create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDefinitionCreateRequestBase"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : {
                  "id" : "409fa224-7fef-4507-b731-1eb3f508a3eb",
                  "name" : "Join our mailing list",
                  "createdAt" : "2020-09-22T07:13:28.102Z",
                  "updatedAt" : "2020-09-22T07:13:28.102Z",
                  "archived" : false,
                  "fieldGroups" : [ {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "email",
                      "label" : "Email",
                      "required" : true,
                      "hidden" : false,
                      "fieldType" : "email",
                      "validation" : {
                        "blockedEmailDomains" : [ ],
                        "useDefaultBlockList" : false
                      }
                    } ]
                  }, {
                    "groupType" : "default",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "firstname",
                      "label" : "First name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    }, {
                      "objectTypeId" : "0-1",
                      "name" : "lastname",
                      "label" : "Last name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    } ]
                  } ],
                  "configuration" : {
                    "language" : "en",
                    "cloneable" : true,
                    "postSubmitAction" : {
                      "type" : "thank_you",
                      "value" : "Thanks for joining our mailing list."
                    },
                    "editable" : true,
                    "archivable" : true,
                    "recaptchaEnabled" : false,
                    "notifyContactOwner" : false,
                    "notifyRecipients" : [ "2886602" ],
                    "createNewContactForNewEmail" : false,
                    "prePopulateKnownValues" : true,
                    "allowLinkToResetKnownValues" : false,
                    "lifecycleStages" : [ {
                      "objectTypeId" : "0-1",
                      "value" : "subscriber"
                    }, {
                      "objectTypeId" : "0-2",
                      "value" : "subscriber"
                    } ]
                  },
                  "displayOptions" : {
                    "renderRawHtml" : false,
                    "theme" : "default_style",
                    "submitButtonText" : "Submit",
                    "style" : {
                      "fontFamily" : "arial, helvetica, sans-serif",
                      "backgroundWidth" : "100%",
                      "labelTextColor" : "#33475b",
                      "labelTextSize" : "13px",
                      "helpTextColor" : "#7C98B6",
                      "helpTextSize" : "11px",
                      "legalConsentTextColor" : "#33475b",
                      "legalConsentTextSize" : "14px",
                      "submitColor" : "#ff7a59",
                      "submitAlignment" : "left",
                      "submitFontColor" : "#ffffff",
                      "submitSize" : "12px"
                    },
                    "cssClass" : "hs-form stacked"
                  },
                  "legalConsentOptions" : {
                    "type" : "none"
                  },
                  "formType" : "hubspot"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      }
    },
    "/marketing/v3/forms/{formId}" : {
      "get" : {
        "tags" : [ "Forms" ],
        "summary" : "Get a form definition",
        "description" : "Returns a form based on the form ID provided.",
        "operationId" : "get-/marketing/v3/forms/{formId}_getById",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "The unique identifier of the form",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : {
                  "id" : "6eae0163-5362-4c0e-809c-b99a18678adc",
                  "name" : "Register for updates",
                  "createdAt" : "2020-09-22T05:12:27.505Z",
                  "updatedAt" : "2020-09-22T07:17:31.627Z",
                  "archived" : false,
                  "fieldGroups" : [ {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "email",
                      "label" : "Email",
                      "required" : true,
                      "hidden" : false,
                      "fieldType" : "email",
                      "validation" : {
                        "blockedEmailDomains" : [ ],
                        "useDefaultBlockList" : false
                      }
                    } ]
                  }, {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "firstname",
                      "label" : "First name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    }, {
                      "objectTypeId" : "0-1",
                      "name" : "lastname",
                      "label" : "Last name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    } ]
                  } ],
                  "configuration" : {
                    "language" : "en",
                    "cloneable" : true,
                    "postSubmitAction" : {
                      "type" : "thank_you",
                      "value" : "Thanks for submitting the form."
                    },
                    "editable" : true,
                    "archivable" : true,
                    "recaptchaEnabled" : true,
                    "notifyContactOwner" : false,
                    "notifyRecipients" : [ "2886602" ],
                    "createNewContactForNewEmail" : false,
                    "prePopulateKnownValues" : true,
                    "allowLinkToResetKnownValues" : false,
                    "lifecycleStages" : [ {
                      "objectTypeId" : "0-1",
                      "value" : "subscriber"
                    }, {
                      "objectTypeId" : "0-2",
                      "value" : "subscriber"
                    } ]
                  },
                  "displayOptions" : {
                    "renderRawHtml" : false,
                    "theme" : "default_style",
                    "submitButtonText" : "Submit",
                    "style" : {
                      "fontFamily" : "arial, helvetica, sans-serif",
                      "backgroundWidth" : "100%",
                      "labelTextColor" : "#33475b",
                      "labelTextSize" : "13px",
                      "helpTextColor" : "#7C98B6",
                      "helpTextSize" : "11px",
                      "legalConsentTextColor" : "#33475b",
                      "legalConsentTextSize" : "14px",
                      "submitColor" : "#ff7a59",
                      "submitAlignment" : "left",
                      "submitFontColor" : "#ffffff",
                      "submitSize" : "12px"
                    },
                    "cssClass" : "hs-form stacked"
                  },
                  "legalConsentOptions" : {
                    "type" : "explicit_consent_to_process",
                    "communicationConsentText" : "<p>Fancy Forms, LLC is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you:</p>",
                    "communicationsCheckboxes" : [ {
                      "required" : false,
                      "subscriptionTypeId" : 3883363,
                      "label" : "<p>I agree to receive other communications from Fancy Forms, LLC.</p>"
                    } ],
                    "consentToProcessText" : "<p>In order to provide you the content requested, we need to store and process your personal data. If you consent to us storing your personal data for this purpose, please tick the checkbox below.</p>",
                    "consentToProcessCheckboxLabel" : "<p>I agree to allow Fancy Forms, LLC to store and process my personal data.</p>",
                    "privacyText" : "<p>You can unsubscribe from these communications at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our Privacy Policy.</p>"
                  },
                  "formType" : "hubspot"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "put" : {
        "tags" : [ "Forms" ],
        "summary" : "Update a form definition",
        "description" : "Update all fields of a hubspot form definition.",
        "operationId" : "put-/marketing/v3/forms/{formId}_replace",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "The unique identifier of the form.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubSpotFormDefinition"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : {
                  "id" : "6eae0163-5362-4c0e-809c-b99a18678adc",
                  "name" : "Register for updates",
                  "createdAt" : "2020-09-22T05:12:27.505Z",
                  "updatedAt" : "2020-09-22T07:17:31.627Z",
                  "archived" : false,
                  "fieldGroups" : [ {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "email",
                      "label" : "Email",
                      "required" : true,
                      "hidden" : false,
                      "fieldType" : "email",
                      "validation" : {
                        "blockedEmailDomains" : [ ],
                        "useDefaultBlockList" : false
                      }
                    } ]
                  }, {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "firstname",
                      "label" : "First name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    }, {
                      "objectTypeId" : "0-1",
                      "name" : "lastname",
                      "label" : "Last name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    } ]
                  } ],
                  "configuration" : {
                    "language" : "en",
                    "cloneable" : true,
                    "postSubmitAction" : {
                      "type" : "thank_you",
                      "value" : "Thanks for submitting the form."
                    },
                    "editable" : true,
                    "archivable" : true,
                    "recaptchaEnabled" : true,
                    "notifyContactOwner" : false,
                    "notifyRecipients" : [ "2886602" ],
                    "createNewContactForNewEmail" : false,
                    "prePopulateKnownValues" : true,
                    "allowLinkToResetKnownValues" : false,
                    "lifecycleStages" : [ {
                      "objectTypeId" : "0-1",
                      "value" : "subscriber"
                    }, {
                      "objectTypeId" : "0-2",
                      "value" : "subscriber"
                    } ]
                  },
                  "displayOptions" : {
                    "renderRawHtml" : false,
                    "theme" : "default_style",
                    "submitButtonText" : "Submit",
                    "style" : {
                      "fontFamily" : "arial, helvetica, sans-serif",
                      "backgroundWidth" : "100%",
                      "labelTextColor" : "#33475b",
                      "labelTextSize" : "13px",
                      "helpTextColor" : "#7C98B6",
                      "helpTextSize" : "11px",
                      "legalConsentTextColor" : "#33475b",
                      "legalConsentTextSize" : "14px",
                      "submitColor" : "#ff7a59",
                      "submitAlignment" : "left",
                      "submitFontColor" : "#ffffff",
                      "submitSize" : "12px"
                    },
                    "cssClass" : "hs-form stacked"
                  },
                  "legalConsentOptions" : {
                    "type" : "explicit_consent_to_process",
                    "communicationConsentText" : "<p>Fancy Forms, LLC is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you:</p>",
                    "communicationsCheckboxes" : [ {
                      "required" : false,
                      "subscriptionTypeId" : 3883363,
                      "label" : "<p>I agree to receive other communications from Fancy Forms, LLC.</p>"
                    } ],
                    "consentToProcessText" : "<p>In order to provide you the content requested, we need to store and process your personal data. If you consent to us storing your personal data for this purpose, please tick the checkbox below.</p>",
                    "consentToProcessCheckboxLabel" : "<p>I agree to allow Fancy Forms, LLC to store and process my personal data.</p>",
                    "privacyText" : "<p>You can unsubscribe from these communications at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our Privacy Policy.</p>"
                  },
                  "formType" : "hubspot"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Forms" ],
        "summary" : "Archive a form definition",
        "description" : "Archive a form definition. New submissions will not be accepted and the form definition will be permanently deleted after 3 months.",
        "operationId" : "delete-/marketing/v3/forms/{formId}_archive",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "The ID of the form to archive.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : {
              "application/json" : {
                "example" : { }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Forms" ],
        "summary" : "Partially update a form definition",
        "description" : "Update some of the form definition components",
        "operationId" : "patch-/marketing/v3/forms/{formId}_update",
        "parameters" : [ {
          "name" : "formId",
          "in" : "path",
          "description" : "The ID of the form to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubSpotFormDefinitionPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormDefinitionBase"
                },
                "example" : {
                  "id" : "6eae0163-5362-4c0e-809c-b99a18678adc",
                  "name" : "Register for event updates",
                  "createdAt" : "2020-09-22T05:12:27.505Z",
                  "updatedAt" : "2020-09-22T07:35:48.172Z",
                  "archived" : false,
                  "fieldGroups" : [ {
                    "groupType" : "default_group",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "firstname",
                      "label" : "First name",
                      "required" : false,
                      "hidden" : false,
                      "fieldType" : "single_line_text"
                    }, {
                      "objectTypeId" : "0-1",
                      "name" : "email",
                      "label" : "Email",
                      "required" : true,
                      "hidden" : false,
                      "fieldType" : "email",
                      "validation" : {
                        "blockedEmailDomains" : [ ],
                        "useDefaultBlockList" : false
                      }
                    } ]
                  }, {
                    "groupType" : "progressive",
                    "richTextType" : "text",
                    "fields" : [ {
                      "objectTypeId" : "0-1",
                      "name" : "age_group",
                      "label" : "Age group",
                      "required" : false,
                      "hidden" : false,
                      "options" : [ {
                        "label" : "Under 18",
                        "value" : "Under 18",
                        "description" : "",
                        "displayOrder" : 0
                      }, {
                        "label" : "18-60",
                        "value" : "18-60",
                        "description" : "",
                        "displayOrder" : 1
                      }, {
                        "label" : "60+",
                        "value" : "60+",
                        "description" : "",
                        "displayOrder" : 2
                      } ],
                      "fieldType" : "dropdown"
                    } ]
                  } ],
                  "configuration" : {
                    "language" : "en",
                    "cloneable" : true,
                    "postSubmitAction" : {
                      "type" : "thank_you",
                      "value" : "Thanks for signing up for our updates"
                    },
                    "editable" : true,
                    "archivable" : true,
                    "recaptchaEnabled" : false,
                    "notifyContactOwner" : false,
                    "notifyRecipients" : [ "2886602" ],
                    "createNewContactForNewEmail" : false,
                    "prePopulateKnownValues" : true,
                    "allowLinkToResetKnownValues" : false,
                    "lifecycleStages" : [ {
                      "objectTypeId" : "0-1",
                      "value" : "subscriber"
                    }, {
                      "objectTypeId" : "0-2",
                      "value" : "subscriber"
                    } ]
                  },
                  "displayOptions" : {
                    "renderRawHtml" : false,
                    "theme" : "default_style",
                    "submitButtonText" : "Submit",
                    "style" : {
                      "fontFamily" : "arial, helvetica, sans-serif",
                      "backgroundWidth" : "100%",
                      "labelTextColor" : "#33475b",
                      "labelTextSize" : "13px",
                      "helpTextColor" : "#7C98B6",
                      "helpTextSize" : "11px",
                      "legalConsentTextColor" : "#33475b",
                      "legalConsentTextSize" : "14px",
                      "submitColor" : "#ff7a59",
                      "submitAlignment" : "left",
                      "submitFontColor" : "#ffffff",
                      "submitSize" : "12px"
                    },
                    "cssClass" : "hs-form stacked"
                  },
                  "legalConsentOptions" : {
                    "type" : "explicit_consent_to_process",
                    "communicationConsentText" : "<p>Fancy Forms, LLC is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you:</p>",
                    "communicationsCheckboxes" : [ {
                      "required" : false,
                      "subscriptionTypeId" : 3883363,
                      "label" : "<p>I agree to receive other communications from Fancy Forms, LLC.</p>"
                    } ],
                    "consentToProcessText" : "<p>In order to provide you the content requested, we need to store and process your personal data. If you consent to us storing your personal data for this purpose, please tick the checkbox below.</p>",
                    "consentToProcessCheckboxLabel" : "<p>I agree to allow Fancy Forms, LLC to store and process my personal data.</p>",
                    "privacyText" : "<p>You can unsubscribe from these communications at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our Privacy Policy.</p>"
                  },
                  "formType" : "hubspot"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "forms" ]
        }, {
          "private_apps" : [ "forms" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DependentField" : {
        "required" : [ "dependentCondition", "dependentField" ],
        "type" : "object",
        "properties" : {
          "dependentCondition" : {
            "$ref" : "#/components/schemas/DependentFieldFilter"
          },
          "dependentField" : {
            "description" : "A form field that will be conditionally displayed based on whether the dependent condition is met.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/EmailField"
            }, {
              "$ref" : "#/components/schemas/PhoneField"
            }, {
              "$ref" : "#/components/schemas/MobilePhoneField"
            }, {
              "$ref" : "#/components/schemas/SingleLineTextField"
            }, {
              "$ref" : "#/components/schemas/MultiLineTextField"
            }, {
              "$ref" : "#/components/schemas/NumberField"
            }, {
              "$ref" : "#/components/schemas/SingleCheckboxField"
            }, {
              "$ref" : "#/components/schemas/MultipleCheckboxesField"
            }, {
              "$ref" : "#/components/schemas/DropdownField"
            }, {
              "$ref" : "#/components/schemas/RadioField"
            }, {
              "$ref" : "#/components/schemas/DatepickerField"
            }, {
              "$ref" : "#/components/schemas/FileField"
            }, {
              "$ref" : "#/components/schemas/PaymentLinkRadioField"
            } ]
          }
        },
        "description" : "A form field that will be displayed based on what the customer entered in another field."
      },
      "FormDefinitionBase" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/HubSpotFormDefinition"
        } ]
      },
      "LegalConsentOptionsImplicitConsentToProcess" : {
        "title" : "implicit_consent_to_process",
        "required" : [ "communicationsCheckboxes", "privacyText", "type" ],
        "type" : "object",
        "properties" : {
          "communicationConsentText" : {
            "type" : "string",
            "description" : "Text explaining communication consent preferences."
          },
          "communicationsCheckboxes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LegalConsentCheckbox"
            }
          },
          "consentToProcessText" : {
            "type" : "string",
            "description" : "Text explaining the consent to process personal data."
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices."
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "default" : "implicit_consent_to_process",
            "enum" : [ "implicit_consent_to_process" ]
          }
        }
      },
      "HubSpotFormDefinition" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/FormDefinitionBase"
        }, {
          "required" : [ "archived", "configuration", "createdAt", "displayOptions", "fieldGroups", "formType", "id", "legalConsentOptions", "name", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "formType" : {
              "type" : "string",
              "default" : "hubspot",
              "enum" : [ "hubspot" ]
            },
            "id" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "archived" : {
              "type" : "boolean"
            },
            "archivedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "fieldGroups" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FieldGroup"
              }
            },
            "configuration" : {
              "$ref" : "#/components/schemas/HubSpotFormConfiguration"
            },
            "displayOptions" : {
              "$ref" : "#/components/schemas/FormDisplayOptions"
            },
            "legalConsentOptions" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LegalConsentOptionsNone"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "FormDisplayOptions" : {
        "required" : [ "renderRawHtml", "style", "submitButtonText", "theme" ],
        "type" : "object",
        "properties" : {
          "cssClass" : {
            "type" : "string",
            "description" : "Custom CSS class name(s) to apply to the form element for additional styling."
          },
          "renderRawHtml" : {
            "type" : "boolean",
            "description" : "Whether the form will render as raw HTML as opposed to inside an iFrame."
          },
          "style" : {
            "$ref" : "#/components/schemas/FormStyle"
          },
          "submitButtonText" : {
            "type" : "string",
            "description" : "The text displayed on the form submit button."
          },
          "theme" : {
            "type" : "string",
            "description" : "The theme used for styling the input fields. This will not apply if the form is added to a HubSpot CMS page.",
            "enum" : [ "canvas", "default_style", "legacy", "linear", "round", "sharp" ]
          }
        },
        "description" : "Options for styling the form."
      },
      "MultiLineTextField" : {
        "title" : "multi_line_text",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "multi_line_text",
            "enum" : [ "multi_line_text" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field consisting of a multiple-line text box."
      },
      "MobilePhoneField" : {
        "title" : "mobile_phone",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "mobile_phone",
            "enum" : [ "mobile_phone" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          },
          "validation" : {
            "$ref" : "#/components/schemas/PhoneFieldValidation"
          }
        },
        "description" : "A form field used for collecting a mobile phone number."
      },
      "FormStyle" : {
        "required" : [ "backgroundWidth", "fontFamily", "helpTextColor", "helpTextSize", "labelTextColor", "labelTextSize", "legalConsentTextColor", "legalConsentTextSize", "submitAlignment", "submitColor", "submitFontColor", "submitSize" ],
        "type" : "object",
        "properties" : {
          "backgroundWidth" : {
            "type" : "string",
            "description" : "The width of the form background. Accepts percentage (e.g., \"100%\") or pixel values (e.g., \"600px\")."
          },
          "fontFamily" : {
            "type" : "string",
            "description" : "Font family used throughout the form (e.g., \"arial, helvetica, sans-serif\")."
          },
          "helpTextColor" : {
            "type" : "string",
            "description" : "Hex color code for help text displayed below form fields."
          },
          "helpTextSize" : {
            "type" : "string",
            "description" : "Font size for help text. Accepts pixel values (e.g., \"11px\")."
          },
          "labelTextColor" : {
            "type" : "string",
            "description" : "Hex color code for field labels."
          },
          "labelTextSize" : {
            "type" : "string",
            "description" : "Font size for field labels. Accepts pixel values (e.g., \"11px\")."
          },
          "legalConsentTextColor" : {
            "type" : "string",
            "description" : "Hex color code for legal consent text."
          },
          "legalConsentTextSize" : {
            "type" : "string",
            "description" : "Font size for legal consent text. Accepts pixel values (e.g., \"14px\")."
          },
          "submitAlignment" : {
            "type" : "string",
            "description" : "Horizontal alignment of the submit button. Values: left, center, right.",
            "enum" : [ "center", "left", "right" ]
          },
          "submitColor" : {
            "type" : "string",
            "description" : "Hex color code for the submit button background."
          },
          "submitFontColor" : {
            "type" : "string",
            "description" : "Hex color code for the submit button text."
          },
          "submitSize" : {
            "type" : "string",
            "description" : "Font size for submit button text. Accepts pixel values (e.g., \"12px\")."
          }
        },
        "description" : "Styling options for the form"
      },
      "CollectionResponseFormDefinitionBaseForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/HubSpotFormDefinition"
              } ]
            }
          }
        }
      },
      "DatepickerField" : {
        "title" : "datepicker",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "datepicker",
            "enum" : [ "datepicker" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field used to select a date"
      },
      "HubSpotFormConfiguration" : {
        "required" : [ "allowLinkToResetKnownValues", "archivable", "cloneable", "createNewContactForNewEmail", "editable", "language", "notifyContactOwner", "notifyRecipients", "postSubmitAction", "prePopulateKnownValues", "recaptchaEnabled" ],
        "type" : "object",
        "properties" : {
          "allowLinkToResetKnownValues" : {
            "type" : "boolean",
            "description" : "Whether to add a reset link to the form. This removes any pre-populated content on the form and creates a new contact on submission."
          },
          "archivable" : {
            "type" : "boolean",
            "description" : "Whether the form can be archived."
          },
          "cloneable" : {
            "type" : "boolean",
            "description" : "Whether the form can be cloned."
          },
          "createNewContactForNewEmail" : {
            "type" : "boolean",
            "description" : "Whether to create a new contact when a form is submitted with an email address that doesn’t match any in your existing contacts records."
          },
          "editable" : {
            "type" : "boolean",
            "description" : "Whether the form can be edited."
          },
          "language" : {
            "type" : "string",
            "description" : "The language of the form.",
            "enum" : [ "af", "ar-eg", "bg", "bn", "ca-es", "cs", "da", "de", "el", "en", "es", "es-mx", "fi", "fr", "fr-ca", "he-il", "hr", "hu", "id", "it", "ja", "ko", "lt", "ms", "nl", "no-no", "pl", "pt", "pt-br", "ro", "ru", "sk", "sl", "sv", "th", "tl", "tr", "uk", "vi", "zh-cn", "zh-hk", "zh-tw" ]
          },
          "lifecycleStages" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LifecycleStage"
            }
          },
          "notifyContactOwner" : {
            "type" : "boolean",
            "description" : "Whether to send a notification email to the contact owner when a submission is received."
          },
          "notifyRecipients" : {
            "type" : "array",
            "description" : "The list of user IDs to receive a notification email when a submission is received.",
            "items" : {
              "type" : "string"
            }
          },
          "postSubmitAction" : {
            "$ref" : "#/components/schemas/FormPostSubmitAction"
          },
          "prePopulateKnownValues" : {
            "type" : "boolean",
            "description" : "Whether contact fields should pre-populate with known information when a contact returns to your site."
          },
          "recaptchaEnabled" : {
            "type" : "boolean",
            "description" : "Whether CAPTCHA (spam prevention) is enabled."
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        }
      },
      "LegalConsentOptionsExplicitConsentToProcess" : {
        "title" : "explicit_consent_to_process",
        "required" : [ "communicationsCheckboxes", "privacyText", "type" ],
        "type" : "object",
        "properties" : {
          "communicationConsentText" : {
            "type" : "string",
            "description" : "Text explaining communication consent preferences. Informs users about how their contact information will be used for communications."
          },
          "communicationsCheckboxes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LegalConsentCheckbox"
            }
          },
          "consentToProcessCheckboxLabel" : {
            "type" : "string",
            "description" : "Label text for the consent to process checkbox."
          },
          "consentToProcessFooterText" : {
            "type" : "string",
            "description" : "Footer text for the consent to process section."
          },
          "consentToProcessText" : {
            "type" : "string",
            "description" : "Text explaining the consent to process personal data."
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices. Required field that informs users about their privacy rights and how their data is protected."
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "default" : "explicit_consent_to_process",
            "enum" : [ "explicit_consent_to_process" ]
          }
        }
      },
      "DropdownField" : {
        "title" : "dropdown",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "items" : {
              "type" : "string"
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "dropdown",
            "enum" : [ "dropdown" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A field consisting of a drop down with multiple choices."
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "RadioField" : {
        "title" : "radio",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "items" : {
              "type" : "string"
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "radio",
            "enum" : [ "radio" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field consisting of a set of radio options, out of which one can be selected at a time."
      },
      "HubSpotFormDefinitionCreateRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/FormDefinitionCreateRequestBase"
        }, {
          "required" : [ "archived", "configuration", "createdAt", "displayOptions", "fieldGroups", "formType", "legalConsentOptions", "name", "updatedAt" ],
          "type" : "object",
          "properties" : {
            "formType" : {
              "type" : "string",
              "default" : "hubspot",
              "enum" : [ "hubspot" ]
            },
            "name" : {
              "type" : "string"
            },
            "createdAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "updatedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "archived" : {
              "type" : "boolean"
            },
            "archivedAt" : {
              "type" : "string",
              "format" : "date-time"
            },
            "fieldGroups" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FieldGroup"
              }
            },
            "configuration" : {
              "$ref" : "#/components/schemas/HubSpotFormConfiguration"
            },
            "displayOptions" : {
              "$ref" : "#/components/schemas/FormDisplayOptions"
            },
            "legalConsentOptions" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/LegalConsentOptionsNone"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
              }, {
                "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
              } ]
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "EmailField" : {
        "title" : "email",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "email",
            "enum" : [ "email" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          },
          "validation" : {
            "$ref" : "#/components/schemas/EmailFieldValidation"
          }
        },
        "description" : "A form field used for collecting an email address."
      },
      "LegalConsentOptionsNone" : {
        "title" : "none",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The legal consent type. Set to \"none\" to indicate no legal consent configuration is required for this form.",
            "default" : "none",
            "enum" : [ "none" ]
          }
        }
      },
      "PhoneFieldValidation" : {
        "required" : [ "maxAllowedDigits", "minAllowedDigits" ],
        "type" : "object",
        "properties" : {
          "maxAllowedDigits" : {
            "type" : "integer",
            "description" : "The maximum number of digits allowed in the phone number. Default: 20. Must be greater than or equal to minAllowedDigits.",
            "format" : "int32"
          },
          "minAllowedDigits" : {
            "type" : "integer",
            "description" : "The minimum number of digits required in the phone number. Default: 7. Must be less than or equal to maxAllowedDigits.",
            "format" : "int32"
          }
        },
        "description" : "Describes how a phone number should be validated."
      },
      "FormDefinitionCreateRequestBase" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/HubSpotFormDefinitionCreateRequest"
        } ]
      },
      "FieldGroup" : {
        "required" : [ "fields", "groupType", "richTextType" ],
        "type" : "object",
        "properties" : {
          "fields" : {
            "type" : "array",
            "description" : "The form fields included in the group",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/EmailField"
              }, {
                "$ref" : "#/components/schemas/PhoneField"
              }, {
                "$ref" : "#/components/schemas/MobilePhoneField"
              }, {
                "$ref" : "#/components/schemas/SingleLineTextField"
              }, {
                "$ref" : "#/components/schemas/MultiLineTextField"
              }, {
                "$ref" : "#/components/schemas/NumberField"
              }, {
                "$ref" : "#/components/schemas/SingleCheckboxField"
              }, {
                "$ref" : "#/components/schemas/MultipleCheckboxesField"
              }, {
                "$ref" : "#/components/schemas/DropdownField"
              }, {
                "$ref" : "#/components/schemas/RadioField"
              }, {
                "$ref" : "#/components/schemas/DatepickerField"
              }, {
                "$ref" : "#/components/schemas/FileField"
              }, {
                "$ref" : "#/components/schemas/PaymentLinkRadioField"
              } ]
            }
          },
          "groupType" : {
            "type" : "string",
            "description" : "The type of field grouping. Values: default_group (standard fields), progressive, and queued.",
            "enum" : [ "default_group", "progressive", "queued" ]
          },
          "richText" : {
            "type" : "string",
            "description" : "A block of rich text or an image. Those can be used to add extra information for the customers filling in the form. If the field group includes fields, the rich text will be displayed before the fields."
          },
          "richTextType" : {
            "type" : "string",
            "description" : "The type of rich text included. The default value is text. Values: text, image.",
            "enum" : [ "image", "text" ]
          }
        },
        "description" : "A collection of up to three form fields usually displayed in a row."
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "FileField" : {
        "title" : "file",
        "required" : [ "allowMultipleFiles", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "allowMultipleFiles" : {
            "type" : "boolean",
            "description" : "Whether to allow the upload of multiple files."
          },
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "file",
            "enum" : [ "file" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field used for uploading one or more files."
      },
      "LegalConsentCheckbox" : {
        "required" : [ "label", "required", "subscriptionTypeId" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether this checkbox is required when submitting the form."
          },
          "subscriptionTypeId" : {
            "type" : "integer",
            "description" : "The ID of the subscription type associated with this consent checkbox.",
            "format" : "int32"
          }
        }
      },
      "NumberField" : {
        "title" : "number",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "number",
            "enum" : [ "number" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          },
          "validation" : {
            "$ref" : "#/components/schemas/NumberFieldValidation"
          }
        },
        "description" : "A form field used for collecting a numeric value."
      },
      "PaymentLinkRadioField" : {
        "title" : "payment_link_radio",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "dependentFields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional descriptive text about the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "The field type identifier.",
            "default" : "payment_link_radio",
            "enum" : [ "payment_link_radio" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether the field is a hidden field."
          },
          "label" : {
            "type" : "string",
            "description" : "The visible label displayed with the field to describe its purpose to form users."
          },
          "name" : {
            "type" : "string",
            "description" : "The internal API name used to identify this field in API requests and responses."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "The CRM object type this field is associated with (e.g., contacts, deals)."
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether users must select an option before submitting the form."
          }
        }
      },
      "LegalConsentOptionsLegitimateInterest" : {
        "title" : "legitimate_interest",
        "required" : [ "lawfulBasis", "privacyText", "subscriptionTypeIds", "type" ],
        "type" : "object",
        "properties" : {
          "lawfulBasis" : {
            "type" : "string",
            "description" : "The lawful basis for data processing under legitimate interest. Values: lead (processing for lead generation), client (processing for existing clients), other (other legitimate interests). Default: lead.",
            "enum" : [ "client", "lead", "other" ]
          },
          "privacyText" : {
            "type" : "string",
            "description" : "Text explaining the privacy policy and data handling practices."
          },
          "subscriptionTypeIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The legal consent type.",
            "default" : "legitimate_interest",
            "enum" : [ "legitimate_interest" ]
          }
        }
      },
      "MultipleCheckboxesField" : {
        "title" : "multiple_checkboxes",
        "required" : [ "defaultValues", "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "options", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValues" : {
            "type" : "array",
            "description" : "The values selected by default. Those values will be submitted unless the customer modifies them.",
            "items" : {
              "type" : "string"
            }
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "multiple_checkboxes",
            "enum" : [ "multiple_checkboxes" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "options" : {
            "type" : "array",
            "description" : "The list of available choices for this field.",
            "items" : {
              "$ref" : "#/components/schemas/EnumeratedFieldOption"
            }
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field consisting of a set of checkboxes allowing multiple choices to be selected at one time."
      },
      "NumberFieldValidation" : {
        "required" : [ "maxAllowedDigits", "minAllowedDigits" ],
        "type" : "object",
        "properties" : {
          "maxAllowedDigits" : {
            "type" : "integer",
            "description" : "The maximum number of digits allowed for number field input. Must be greater than or equal to minAllowedDigits.",
            "format" : "int32"
          },
          "minAllowedDigits" : {
            "type" : "integer",
            "description" : "The minimum number of digits required for valid number field input. Must be less than or equal to maxAllowedDigits.",
            "format" : "int32"
          }
        },
        "description" : "Describes how a numeric value should be validated."
      },
      "DependentFieldFilter" : {
        "required" : [ "operator", "rangeEnd", "rangeStart", "value", "values" ],
        "type" : "object",
        "properties" : {
          "operator" : {
            "type" : "string",
            "description" : "The comparison operator used to evaluate the dependent field condition. Supports equality (eq, neq), string operations (contains, doesnt_contain, str_starts_with, str_ends_with), numeric comparisons (lt, lte, gt, gte), range checks (between, not_between), set operations (set_any, set_not_any, set_eq, set_neq), and time-based conditions (within_time, within_time_reverse).",
            "enum" : [ "between", "contains", "doesnt_contain", "eq", "gt", "gte", "is_not_empty", "lt", "lte", "neq", "not_between", "set_all", "set_any", "set_eq", "set_neq", "set_not_all", "set_not_any", "str_ends_with", "str_starts_with", "within_time", "within_time_reverse" ]
          },
          "rangeEnd" : {
            "type" : "string",
            "description" : "The end value for range-based operators (between, not_between). Must be provided together with rangeStart."
          },
          "rangeStart" : {
            "type" : "string",
            "description" : "The start value for range-based operators (between, not_between). Must be provided together with rangeEnd."
          },
          "value" : {
            "type" : "string",
            "description" : "The single value to compare against when using operators like eq, neq, contains, lt, gt, and other single-value comparison operators."
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A condition based on customer input"
      },
      "SingleCheckboxField" : {
        "title" : "single_checkbox",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "single_checkbox",
            "enum" : [ "single_checkbox" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field consisting of a single checkbox."
      },
      "EnumeratedFieldOption" : {
        "required" : [ "displayOrder", "label", "value" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Additional descriptive text about the option."
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "The order the choices will be displayed in.",
            "format" : "int32"
          },
          "label" : {
            "type" : "string",
            "description" : "The visible label for this choice."
          },
          "value" : {
            "type" : "string",
            "description" : "The value which will be submitted if this choice is selected."
          }
        }
      },
      "FormPostSubmitAction" : {
        "required" : [ "type", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The action to take after submit. The default action is displaying a thank you message.",
            "enum" : [ "redirect_url", "thank_you" ]
          },
          "value" : {
            "type" : "string",
            "description" : "The thank you text or the page to redirect to."
          }
        },
        "description" : "What should happen after the customer submits the form."
      },
      "HubSpotFormDefinitionPatchRequest" : {
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "description" : "Whether this form is archived."
          },
          "configuration" : {
            "$ref" : "#/components/schemas/HubSpotFormConfiguration"
          },
          "displayOptions" : {
            "$ref" : "#/components/schemas/FormDisplayOptions"
          },
          "fieldGroups" : {
            "type" : "array",
            "description" : "The fields in the form, grouped in rows.",
            "items" : {
              "$ref" : "#/components/schemas/FieldGroup"
            }
          },
          "legalConsentOptions" : {
            "description" : "Configuration for legal consent and data processing compliance options. Supports types: none, legitimate_interest, explicit_consent_to_process, implicit_consent_to_process.",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/LegalConsentOptionsNone"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsLegitimateInterest"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsExplicitConsentToProcess"
            }, {
              "$ref" : "#/components/schemas/LegalConsentOptionsImplicitConsentToProcess"
            } ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the form. Expected to be unique for a hub."
          }
        }
      },
      "EmailFieldValidation" : {
        "required" : [ "blockedEmailDomains", "useDefaultBlockList" ],
        "type" : "object",
        "properties" : {
          "blockedEmailDomains" : {
            "type" : "array",
            "description" : "A list of email domains to block.",
            "items" : {
              "type" : "string"
            }
          },
          "useDefaultBlockList" : {
            "type" : "boolean",
            "description" : "Whether to block the free email providers."
          }
        },
        "description" : "Describes how an email address should be validated."
      },
      "LifecycleStage" : {
        "required" : [ "objectTypeId", "value" ],
        "type" : "object",
        "properties" : {
          "objectTypeId" : {
            "type" : "string",
            "description" : "The objectTypeId for both contact and company"
          },
          "value" : {
            "type" : "string",
            "description" : "The internal name of the contact's lifecycle stage set when submitting a form"
          }
        }
      },
      "PhoneField" : {
        "title" : "phone",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required", "useCountryCodeSelect", "validation" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "phone",
            "enum" : [ "phone" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          },
          "useCountryCodeSelect" : {
            "type" : "boolean",
            "description" : "Whether to display a country code drop down next to the phone field."
          },
          "validation" : {
            "$ref" : "#/components/schemas/PhoneFieldValidation"
          }
        },
        "description" : "A form field used for collecting a phone number."
      },
      "SingleLineTextField" : {
        "title" : "single_line_text",
        "required" : [ "dependentFields", "fieldType", "hidden", "label", "name", "objectTypeId", "required" ],
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "The value filled in by default. This value will be submitted unless the customer modifies it."
          },
          "dependentFields" : {
            "type" : "array",
            "description" : "A list of other fields to make visible based on the value filled in for this field.",
            "items" : {
              "$ref" : "#/components/schemas/DependentField"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Additional text helping the customer to complete the field."
          },
          "fieldType" : {
            "type" : "string",
            "description" : "Determines how the field will be displayed and validated.",
            "default" : "single_line_text",
            "enum" : [ "single_line_text" ]
          },
          "hidden" : {
            "type" : "boolean",
            "description" : "Whether a field should be hidden or not. Hidden fields won't appear on the form, but can be used to pass a value to a property without requiring the customer to fill it in."
          },
          "label" : {
            "type" : "string",
            "description" : "The main label for the form field."
          },
          "name" : {
            "type" : "string",
            "description" : "The identifier of the field. In combination with the object type ID, it must be unique."
          },
          "objectTypeId" : {
            "type" : "string",
            "description" : "A unique ID for this field's CRM object type. For example a CONTACT field will have the object type ID 0-1."
          },
          "placeholder" : {
            "type" : "string",
            "description" : "The prompt text showing when the field isn't filled in."
          },
          "required" : {
            "type" : "boolean",
            "description" : "Whether a value for this field is required when submitting the form."
          }
        },
        "description" : "A form field consisting of a single-line text box."
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "The pagination cursor token used to fetch the next page of results. Pass this value in subsequent requests to continue pagination."
          },
          "link" : {
            "type" : "string",
            "description" : "The complete URL to retrieve the next page of results in paginated responses."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "forms" : "Read from and write to my Forms"
            }
          }
[...]
