{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Test At Test Api",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://private.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/public/api/versioning/test/2027-03-beta/widgets" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List widgets",
        "description" : "Retrieve a list of widgets available in the system. This endpoint returns a collection of widgets, which can be used for testing purposes in the Public API Versioning Test Service. It is part of the 2027-03-beta version and requires appropriate authentication.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestListWidgetResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create",
        "description" : "Create a new widget in the HubSpot account using the PublicApiVersioningTestService. This endpoint requires a JSON request body and supports various authentication methods, including OAuth2 and API keys.",
        "operationId" : "post-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/public/api/versioning/test/2027-03-beta/widgets/{widgetId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve widget",
        "description" : "Retrieve detailed information about a specific widget using its unique identifier. This endpoint is useful for accessing the properties and configurations of a widget within the HubSpot environment. Ensure you have the necessary permissions to access this data.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update widget",
        "description" : "Update an existing widget in the system using its unique identifier. This operation requires a valid widgetId and a request body containing the updated widget data. Use this endpoint to modify widget properties or data as needed.",
        "operationId" : "put-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete",
        "description" : "Delete a specific widget identified by its widgetId from the system. This operation is useful for removing widgets that are no longer needed or relevant. The operation does not return any content upon successful deletion.",
        "operationId" : "delete-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category, represented as a string.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object providing context about the error condition. It contains additional properties where each property is an array of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request, provided as a string in UUID format. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array providing further information about the error. Each item in the array is an ErrorDetail object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps. Each link is represented as a string.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a string.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, represented as a string.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail, indicating the type of error encountered.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object providing additional context about the error condition. It contains key-value pairs where keys are context names and values are arrays of strings providing further details.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This provides context about where the error occurred.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error along with remediation steps where appropriate. This is a required property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, providing further classification of the error type.",
            "example" : null
          }
        },
        "example" : null
      },
      "TestListWidgetResponse" : {
        "required" : [ "widgets" ],
        "type" : "object",
        "properties" : {
          "widgets" : {
            "type" : "array",
            "description" : "An array of widgets, where each widget is represented as a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : { }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}