{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Test At Test Api",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://private.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/public/api/versioning/test/2027-03-beta/widgets" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List widgets",
        "description" : "Retrieve a list of widgets available in the system. This endpoint is useful for obtaining an overview of all widgets, which can be further utilized in various operations or analyses.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestListWidgetResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create widget",
        "description" : "Create a new widget in the HubSpot account using the specified data. This endpoint requires a JSON payload in the request body and is part of the PublicApiVersioningTestService. Ensure that the necessary authentication is provided to access this endpoint.",
        "operationId" : "post-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/public/api/versioning/test/2027-03-beta/widgets/{widgetId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve widget",
        "description" : "Retrieve a specific widget using its unique identifier. This endpoint is useful for accessing detailed information about a particular widget in the system. It requires authentication and supports various security schemes.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Basic" ],
        "summary" : "Update widget",
        "description" : "Update an existing widget identified by the widgetId in your HubSpot account. This operation requires a valid widgetId and a request body containing the updated widget data. Use this endpoint to modify widget attributes as needed.",
        "operationId" : "put-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "tags" : [ "Batch" ],
        "summary" : "Delete widget",
        "description" : "Delete a specific widget identified by its widgetId from the HubSpot account. This operation is useful for removing widgets that are no longer needed. The operation returns no content upon successful deletion.",
        "operationId" : "delete-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object with additional properties.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "Further information about the error, represented as an array of ErrorDetail objects.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail, indicating the type or category of the error.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object containing additional context about the error condition. It includes a map of keys to arrays of strings, offering more detailed information about the error.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. It provides context on where the error occurred.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. This is a required property.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, providing further classification.",
            "example" : null
          }
        },
        "example" : null
      },
      "TestListWidgetResponse" : {
        "required" : [ "widgets" ],
        "type" : "object",
        "properties" : {
          "widgets" : {
            "type" : "array",
            "description" : "An array of widget identifiers, each represented as a string.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : { }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}