{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Test At Test Api",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2027-03-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://private.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  }, {
    "name" : "Batch"
  } ],
  "paths" : {
    "/public/api/versioning/test/2027-03-beta/widgets" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List widgets",
        "description" : "Retrieve a list of widgets available in the system. This endpoint is useful for obtaining an overview of all widgets, which can be used for further processing or display in applications.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestListWidgetResponse"
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create Widget",
        "description" : "Create a new widget in the system using the specified data. This endpoint requires a JSON request body and supports various authentication methods, including OAuth2 and API keys. It is part of the PublicApiVersioningTestService and is currently in beta version 2027-03.",
        "operationId" : "post-/public/api/versioning/test/2027-03-beta/widgets",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/public/api/versioning/test/2027-03-beta/widgets/{widgetId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve widget",
        "description" : "Retrieve a specific widget by its unique identifier. This endpoint is useful for accessing detailed information about a particular widget in the system. Ensure that the widgetId provided is correct to successfully retrieve the widget data.",
        "operationId" : "get-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Batch" ],
        "summary" : "Update widget",
        "description" : "Update an existing widget in the HubSpot account using the specified widget ID. This operation requires a JSON request body to provide the updated data for the widget. Ensure the widget ID is valid and corresponds to an existing widget.",
        "operationId" : "put-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Delete widget",
        "description" : "Remove a specific widget from the system using its unique identifier. This operation is irreversible and will permanently delete the widget identified by the provided widgetId.",
        "operationId" : "delete-/public/api/versioning/test/2027-03-beta/widgets/{widgetId}",
        "parameters" : [ {
          "name" : "widgetId",
          "in" : "path",
          "description" : "The unique identifier of the widget to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category, represented as a string. This is a required property.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "An object providing context about the error condition. It contains additional properties with arrays of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request, formatted as a UUID. This is required and should be included with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array providing further information about the error. Each item in the array is an ErrorDetail object.",
            "example" : null,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "example" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps. Each link is represented as a string.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a required string property.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, represented as a string.",
            "example" : null
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. This is a string representing the error code.",
            "example" : null
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "example" : null,
              "items" : {
                "type" : "string",
                "example" : null
              }
            },
            "description" : "Context about the error condition, represented as an object. It contains additional properties that provide more information about the error, with each property being an array of strings.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. This is a string that helps identify the location of the error.",
            "example" : null
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error along with remediation steps where appropriate. This is a required field and is of type string.",
            "example" : null
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. This is a string providing additional categorization of the error.",
            "example" : null
          }
        },
        "example" : null
      },
      "TestListWidgetResponse" : {
        "required" : [ "widgets" ],
        "type" : "object",
        "properties" : {
          "widgets" : {
            "type" : "array",
            "description" : "An array of strings, each representing a widget identifier.",
            "example" : null,
            "items" : {
              "type" : "string",
              "example" : null
            }
          }
        },
        "example" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : null
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : { }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}