{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM Exports",
    "version" : "v3",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    },
    "x-hubspot-api-use-case" : "To perform an audit of your CRM, export all CRM records with specific properties to review any redundancies or inconsistencies.",
    "x-hubspot-related-documentation" : [ {
      "name" : "Export CRM Guide",
      "url" : "https://developers.hubspot.com/docs/guides/api/crm/exports"
    } ],
    "x-hubspot-introduction" : "Use the exports API to export CRM records and property data from your HubSpot account."
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Public_Exports"
  } ],
  "paths" : {
    "/crm/v3/exports/export/async/tasks/{taskId}/status" : {
      "get" : {
        "tags" : [ "Public_Exports" ],
        "summary" : "Get the status of the export including the URL to download the file",
        "description" : "Returns the status of the export with taskId, including the URL of the resulting file if the export status is COMPLETE",
        "operationId" : "get-/crm/v3/exports/export/async/tasks/{taskId}/status_getStatus",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActionResponseWithSingleResultURI"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.export" ]
        }, {
          "oauth2" : [ "crm.export" ]
        } ]
      }
    },
    "/crm/v3/exports/export/async" : {
      "post" : {
        "tags" : [ "Public_Exports" ],
        "summary" : "Start an export",
        "description" : "Begins exporting CRM data for the portal as specified in the request body",
        "operationId" : "post-/crm/v3/exports/export/async_start",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicExportRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskLocator"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps" : [ "crm.export" ]
        }, {
          "oauth2" : [ "crm.export" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ActionResponseWithSingleResultURI" : {
        "required" : [ "completedAt", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string"
          },
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "object",
            "properties" : { },
            "description" : "A more specific error category within each main category.",
            "example" : ""
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Additional context-specific information related to the error.",
            "example" : ""
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "URLs linking to documentation or resources associated with the error.",
            "example" : ""
          },
          "id" : {
            "type" : "string",
            "description" : "A unique ID for the error instance.",
            "example" : ""
          },
          "category" : {
            "type" : "string",
            "description" : "The main category of the error.",
            "example" : ""
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable string describing the error and possible remediation steps.",
            "example" : ""
          },
          "errors" : {
            "type" : "array",
            "description" : "The detailed error objects.",
            "example" : "",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "The HTTP status code associated with the error.",
            "example" : ""
          }
        },
        "description" : "Ye olde error"
      },
      "PublicExportViewRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicExportRequest"
        }, {
          "required" : [ "exportInternalValuesOptions", "exportName", "exportType", "format", "language", "objectProperties", "objectType", "overrideAssociatedObjectsPerDefinitionPerRowLimit" ],
          "type" : "object",
          "properties" : {
            "exportType" : {
              "type" : "string",
              "default" : "VIEW",
              "enum" : [ "VIEW" ]
            },
            "format" : {
              "type" : "string",
              "enum" : [ "XLS", "XLSX", "CSV" ]
            },
            "exportName" : {
              "type" : "string"
            },
            "objectProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "associatedObjectType" : {
              "type" : "string"
            },
            "objectType" : {
              "type" : "string"
            },
            "language" : {
              "type" : "string",
              "enum" : [ "EN", "DE", "ES", "FR", "JA", "NL", "PT_BR", "IT", "PL", "SV", "FI", "ZH_TW", "DA_DK", "NO" ]
            },
            "exportInternalValuesOptions" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "enum" : [ "NAMES", "VALUES" ]
              }
            },
            "overrideAssociatedObjectsPerDefinitionPerRowLimit" : {
              "type" : "boolean"
            },
            "publicCrmSearchRequest" : {
              "$ref" : "#/components/schemas/PublicCrmSearchRequest"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "Filter" : {
        "required" : [ "operator", "propertyName" ],
        "type" : "object",
        "properties" : {
          "highValue" : {
            "type" : "string",
            "description" : "The upper boundary value when using ranged-based filters.",
            "example" : ""
          },
          "propertyName" : {
            "type" : "string",
            "description" : "The name of the property to apply the filter to.",
            "example" : ""
          },
          "values" : {
            "type" : "array",
            "description" : "The values to match against the property.",
            "example" : "",
            "items" : {
              "type" : "string"
            }
          },
          "value" : {
            "type" : "string",
            "description" : "The value to match against the property.",
            "example" : ""
          },
          "operator" : {
            "type" : "string",
            "description" : "The comparison operator used in the filter, such as \"EQ\" or \"GT\".",
            "example" : "",
            "enum" : [ "EQ", "NEQ", "LT", "LTE", "GT", "GTE", "BETWEEN", "IN", "NOT_IN", "HAS_PROPERTY", "NOT_HAS_PROPERTY" ]
          }
        },
        "description" : "Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. "
      },
      "PublicExportRequest" : {
        "properties" : { },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/PublicExportViewRequest"
        }, {
          "$ref" : "#/components/schemas/PublicExportListRequest"
        } ]
      },
      "PublicCrmSearchRequest" : {
        "required" : [ "filters", "query", "sorts" ],
        "type" : "object",
        "properties" : {
          "query" : {
            "type" : "string"
          },
          "filters" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Filter"
            }
          },
          "sorts" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "PublicExportListRequest" : {
        "properties" : { },
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicExportRequest"
        }, {
          "required" : [ "exportInternalValuesOptions", "exportName", "exportType", "format", "language", "listId", "objectProperties", "objectType", "overrideAssociatedObjectsPerDefinitionPerRowLimit" ],
          "type" : "object",
          "properties" : {
            "exportType" : {
              "type" : "string",
              "default" : "LIST",
              "enum" : [ "LIST" ]
            },
            "format" : {
              "type" : "string",
              "enum" : [ "XLS", "XLSX", "CSV" ]
            },
            "exportName" : {
              "type" : "string"
            },
            "objectProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "associatedObjectType" : {
              "type" : "string"
            },
            "objectType" : {
              "type" : "string"
            },
            "language" : {
              "type" : "string",
              "enum" : [ "EN", "DE", "ES", "FR", "JA", "NL", "PT_BR", "IT", "PL", "SV", "FI", "ZH_TW", "DA_DK", "NO" ]
            },
            "exportInternalValuesOptions" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "enum" : [ "NAMES", "VALUES" ]
              }
            },
            "overrideAssociatedObjectsPerDefinitionPerRowLimit" : {
              "type" : "boolean"
            },
            "listId" : {
              "type" : "string"
            }
          },
          "x-hubspot-sub-type-impl" : true
        } ]
      },
      "TaskLocator" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "crm.export" : "Export CRM data through bulk exports"
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      }
    }
  },
  "x-hubspot-available-client-libraries" : [ "Node", "Python", "Ruby", "PHP" ],
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}